@using System.Data;
@{
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    DataTable dt = new DataTable();

    if (ViewBag.Details != null)
    {
        dt = ViewBag.Details.Tables[0];
    }

    var srno = 1;
}
<style>
    #dtlTable, #dtlTable td, #dtlTable th {
        border: 0.5px solid black;
    }
</style>
<div style='background: url(@BackGroundImgUrl) no-repeat ; height:800px; backgroundposition: center center;'>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeaderWithoutAddr.cshtml")

    <table width='100%' style="vertical-align: top;">
        <tr>
            <td style="vertical-align: top;">
                <table style='width:100%;vertical-align:top;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" style='width:100%;border:solid 1px #000000;vertical-align:top;'>
                                <tr>
                                    <td style='width:60%;border-right:solid 1px #000000;vertical-align:top;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;vertical-align:top;'>
                                            <tr><td style="text-decoration:underline; font-weight:bold;">Source</td></tr>
                                            <tr><td><strong> Branch : </strong>@dt.Rows[0]["Src_Br_Name"]</td></tr>
                                            <tr><td><strong> Warehouse : </strong>@dt.Rows[0]["Src_Wh_Name"]</td></tr>
                                            <tr><td><strong> Receipt No : </strong>@dt.Rows[0]["trf_no"]</td></tr>
                                            <tr><td><strong> Receipt Date : </strong>@dt.Rows[0]["trf_dt"]</td></tr>
                                        </table>
                                    </td>
                                    <td style='width:40%; vertical-align:top;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 0px;vertical-align:top;'>
                                            <tr><td style="text-decoration:underline; font-weight:bold;">Destination</td></tr>
                                            <tr><td><strong> Branch : </strong>@dt.Rows[0]["Dstn_Br_Name"]</td></tr>
                                            <tr><td><strong> Warehouse : </strong>@dt.Rows[0]["Dest_Wh_Name"]</td></tr>
                                            <tr><td><strong> Issue No : </strong>@dt.Rows[0]["issue_no"]</td></tr>
                                            <tr><td><strong> Issue Date : </strong>@dt.Rows[0]["issue_dt"]</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table id="dtlTable" cellspacing='0' cellpadding='0' style=' width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                        <th width='50%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Item Description</th>
                                        <th width='15%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='15%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Issue Quantity </th>
                                        <th width='15%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Receive Quantity </th>
                                        @*<th width='35%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Remarks </th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow dr in dt.Rows)
                                    {
                                        <tr>
                                            <td style='text-align:center; width:5%;'>@srno</td>
                                            <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_name"]</td>
                                            <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["uom_name"]</td>
                                            <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["Issue_qty"]</td>
                                            <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["Recev_qty"]</td>
                                            @*<td style='text-align: left; paddingright: 5px; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["it_remarks"]</td>*@
                                        </tr>
                                        srno = srno + 1;
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table cellpadding="0" cellspacing="0" styl='width:100%;'>
                                <tr>
                                    <td style='font-size:12px;font-weight:normal;paddingtop:10px;width:50%;font-weight:bold;'>Remarks:</td>
                                    <td style='font-size: 12px; font-weight: normal;paddingtop:10px; width: 25%; font-weight: bold;'>Received By:</td>
                                    <td style='font-size: 12px; font-weight: normal;paddingtop:10px; width: 25%; font-weight: bold;'>Verified By:</td>
                                </tr>
                                <tr>
                                    <td style='font-size: 12px; font-weight: normal;paddingtop:10px; width: 50%; font-weight: normal;'></td>
                                    <td style='font-size: 12px; font-weight: normal;paddingtop:10px; width: 25%; font-weight: normal;'>@dt.Rows[0]["CreateBy"]</td>
                                    <td style='font-size: 12px; font-weight: normal;paddingtop:10px; width: 25%; font-weight: normal;'>@dt.Rows[0]["ApprovedBy"]</td>
                                </tr>
                                @*<tr><td style='font-size:12px;font-weight:normal;padding:0px 0px;width:60%;'>@dt.Rows[0]["mrs_rem"]</td></tr>*@
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>

