@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.QualityAnalysis.QualityAnalysisModel

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<title>@Model.Title</title>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<div class="row">
    <!-- QC Detail -->
    <div id="QCDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" id="divQcDetails" style="max-width:1050px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialQCDetailForQualityAnalysis.cshtml")
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 no-padding">
                                @if (ViewBag.DocumentMenuId == "105105155120")
                                {
                                    <div class="col-md-55 col-sm-12">
                                        <label class="col-form-label label-align"> @Resource.Source </label>
                                        <select class="form-control" id="ddlQcType" name="ddlQcType">
                                            <option value="0">---ALL---</option>
                                            <option value="PRD">Production</option>
                                            <option value="RWK">Reworkable</option>
                                            <option value="SCQ">Sub-Contracting</option>
                                            <option value="PJO">Packaging</option>
                                            <option value="FGR">Finished  Goods Receipt</option>
                                        </select><span class="field-validation-valid" data-valmsg-for="ddl_financial_year" data-valmsg-replace="true" id="vm_ddl_financial_year" style="color:red;!important"></span><input id="hdn_ddl_financial_year" name="ddl_financial_year" type="hidden" value="">
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-55 col-sm-12">
                                        <label class="col-form-label label-align"> @Resource.Source </label>
                                        <select class="form-control" id="ddlQcType" name="ddlQcType" multiple>
                                            @*<option value="0">---ALL---</option>*@
                                            <option value="PUR">Purchase</option>
                                            <option value="RQC">Random QC</option>
                                            <option value="SMR">Sample Receipt</option>
                                        </select><span class="field-validation-valid" data-valmsg-for="ddl_financial_year" data-valmsg-replace="true" id="vm_ddl_financial_year" style="color:red;!important"></span><input id="hdn_ddl_financial_year" name="ddl_financial_year" type="hidden" value="">
                                    </div>
                                }

                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align"> @Resource.ProductName </label>
                                    @Html.DropDownListFor(model => model.ProductName, new SelectList(Model.ItemsList, "item_id", "item_name"),
                               new { @class = "form-control", @id = "Ddl_ItemName", @name = "ProductName" })
                                    <span class="field-validation-valid" data-valmsg-for="ddl_financial_year" data-valmsg-replace="true" id="vm_ddl_financial_year" style="color:red;!important"></span><input id="hdn_ddl_financial_year" name="ddl_financial_year" type="hidden" value="">
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.FromDate
                                    </label>

                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @type = "date", @onchange = "validateToDate();", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    <span id="PaymentDate" class="sr-only">(success)</span>

                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ToDate
                                    </label>

                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    <span id="PaymentDate" class="sr-only">(success)</span>

                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ShowAs</label>

                                    <select class="form-control" id="ddl_period" name="ddl_period" onchange="ddl_period_onchange()">
                                        @*<option value="0">---Select---</option>*@
                                        <option value="1" selected>Summary</option>
                                        <option value="2">Detailed</option>
                                    </select>
                                    <span class="field-validation-valid" data-valmsg-for="ddl_period" data-valmsg-replace="true" id="vm_ddl_period" style="color:red;!important"></span><input id="hdn_ddl_period" name="ddl_period" type="hidden" value="">
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BtnSearchClick();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="divQAsummary" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialQualityAnalysisSummary.cshtml")
                    </div>
                </div>
                
                <div class="card-box table-responsive dy_table margintop20">
                    <div id="divQADetails" style="display:none" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialQualityAnalysisDetails.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/MIS/QualityAnalysis/QualityAnalysis.js"></script>
</div>
<!-- page content end -->
