@*@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.DomesticSaleInvoice.SI_ListModel*@
@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.OpeningBalance.OpeningBalanceModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<title>@Model.Title</title>


<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>               
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105104101001")
                                {
                                    if (Convert.ToInt32(ViewBag.FinYear) > 1)
                                    {
                                        <li>
                                            <a class="tooltip-test"
                                               title="@Resource.AddNew" disabled style="filter: grayscale(100%)"><img src="~/Content/Images/addgreen.png" width="32" id="btn_add" height="32" alt="Add"></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="tooltip-test"
                                               title="@Resource.AddNew" href="@Url.Action("AddOpeningBalanceDetail", "OpeningBalance")"><img src="~/Content/Images/addgreen.png" width="32" id="btn_add" height="32" alt="Add"></a>
                                        </li>
                                    }

                                }
                            }
                        }

                    </ul>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="OpeningListTble" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOpeningBalanceList.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
