@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row">

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> </div>

                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                       
                        <li>
                            <a class="tooltip-test"
                               title=" @Resource.AddNew" href="@Url.Action("BatchPaymentDetail","BatchPayment")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddPackingList" alt="Add"></a>
                        </li>
                    </ul>
                </div>

                <div class="x_title pad_mar ">
                 
                    <div class="col-md-12 col-sm-12 icon_tool ">

                        <div class="col-md-2 col-sm-12 pr-0">
                            <label class="col-form-label label-align"> @Resource.FromDate</label>
                            <input class="form-control" id="txtFromdate" max="2024-11-13" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-11-01">
                        </div>
                        <div class="col-md-2 col-sm-12 pr-0">
                            <label class="col-form-label label-align">@Resource.ToDate</label>
                            <input value="2024-11-13" class="form-control" data-val="true" data-val-date="The field ToDate must be a date." data-val-required="The ToDate field is required." id="txtTodate" max="2024-11-13" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding pr-0">
                            <div class="col-md-9 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Status</label>
                                <select class="form-control" id="ddlStatus" name="Status">
                                    <option value="0">All</option>
                                    <option value="A">Approved</option>
                                    <option value="C">Cancelled</option>
                                    <option value="D">Drafted</option>
                                    <option value="F">Forwarded</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDeliveryNoteDetailList.cshtml")*@
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialBatchPaymentList.cshtml")                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


