@using EnRepMobileWeb.Resources;
@using System.Data
@using System.Web.Mvc.Html;
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    MvcForm form = null;
}
@*<style>
        #PoItmDetailsTbl .tableFixHead thead th {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 25;
            text-align: center;
        }

        #PoItmDetailsTbl td:nth-child(5) {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 25;
            text-align: center;
        }

        #PoItmDetailsTbl th:nth-child(3) {
            position: sticky;
            left: 0;
            z-index: 50;
        }
    </style>*@
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<div class="row">
    <!-- Replicate Payment Detail Start -->
    <div id="ReplicatePaymentDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:1000px;" id="">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialReplicatePaymentDetail.cshtml")

        </div>
    </div>
    <!-- Replicate Payment Detail End -->
    <!-- Account Balance Detail Start -->
    <div id="AccountBalanceDetail" class="modal fade" role="dialog" aria-modal="true">
        <div class="modal-dialog" style="min-width:400px;" id="AccountBalanceDetailIcon">
            <div class="modal-content" id="">
                <div class="modal-header">
                    <h2> Account Balance Detail</h2>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body pop_top">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="col-md-8 col-sm-12 pr-0">
                                <label class="col-form-label label-align">GL Name</label>
                                <input id="GLName" class="form-control" value="" autocomplete="off" type="text" name="GLName" placeholder="GL Name" disabled="">
                                <input type="hidden" id="hdnacc_id" value="100029">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="col-form-label label-align">Currency</label>
                                <input id="Currency" class="form-control" value="INR" autocomplete="off" type="text" name="Currency" placeholder="Currency" disabled="">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label class="col-form-label label-align">GL Balance</label>
                            <input id="ApprovedBalance" class="form-control" value="505,244.21 Dr" autocomplete="off" type="text" name="ApprovedBalance" placeholder="Approved Balance" disabled="">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label class="col-form-label label-align">Cleared Balance</label>
                            <input id="ClearedBalance" class="form-control" value="505,344.21 Dr" autocomplete="off" type="text" name="ClearedBalance" placeholder="Cleared Balance" disabled="">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-11 col-sm-12 no-padding">
                                <label class="col-form-label label-align">Uncleared Payment</label>
                                <input id="UnclearedBalance" class="form-control" value="100.00 Cr" autocomplete="off" type="text" name="UnclearedBalance" placeholder="Uncleared Balance" disabled="">
                            </div>
                            <div class="col-md-1 col-sm-12 i_Icon margin28 left-0"><button type="button" id="btn_unclearbank_paym" class="calculator" onclick="onclickIcon_rcptpaydetails('paym')" data-toggle="modal" data-target="#ChequeDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Cheque Detail"> </button></div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-11 col-sm-12 no-padding">
                                <label class="col-form-label label-align">Uncleared Receipt</label>
                                <input id="UnclearedReceipt" class="form-control" value="0.00 Dr" autocomplete="off" type="text" name="UnclearedReceipt" placeholder="Uncleared Receipt" disabled="">
                            </div>
                            <div class="col-md-1 col-sm-12 i_Icon margin28 left-0"><button type="button" id="btn_unclearbank_rcpt" class="calculator" onclick="onclickIcon_rcptpaydetails('rcpt')" data-toggle="modal" data-target="#ChequeDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Cheque Detail"> </button></div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label class="col-form-label label-align">Unapproved Balance</label>
                            <input id="UnapprovedBalance" class="form-control" value="10,719.00 Cr" autocomplete="off" type="text" name="UnapprovedBalance" placeholder="Unapproved Balance" disabled="">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label class="col-form-label label-align">Available Balance</label>
                            <input id="TotalBalance" class="form-control" value="505,244.21 Dr" autocomplete="off" type="text" name="TotalBalance" placeholder="Total Balance" disabled="">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label class="col-form-label label-align">Overdraft Limit</label>
                            <input id="OverdraftLimit" class="form-control" value="10,000,000.00 Dr" autocomplete="off" type="text" name="OverdraftLimit" placeholder="Overdraft Limit" disabled="">
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @*<div id="AccountBalanceDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:400px;" id="AccountBalanceDetailIcon">*@
    <!-- Modal content-->
    @*@Html.Partial("~/Areas/Common/Views/Cmn_PartialAccountBalanceDetail.cshtml")*@
    @*</div>
        </div>*@
    <!-- Account Balance Detail End -->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-4 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Workflow -->
                @*<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        @if (ViewBag.AppLevel.Rows.Count > 0)
                        {
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        }
                    </div>*@
                <div id="wizard" class="form_wizard wizard_horizontal col-md-4 col-sm-12 work_flow">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                <span class="step_no">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_2">
                                <span class="step_no">2</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        <li>
                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew" onclick=""></button>
                        </li>
                        <li>
                            <button class="edit" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" title="@Resource.Delete" onclick="" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" title="@Resource.Save" type="submit" onclick="" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        <li>
                            <button class="forward" title="@Resource.Forward" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                        </li>
                        <li>
                            <button class="approve" title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        <li>
                            <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                        </li>
                        <li>
                            <button class="revision" title="@Resource.Revision" type="submit" id="btn_rev" name="Command" value="Revision"></button>
                        </li>
                        <li>
                            <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick=""></button>
                        </li>
                        <li>
                            <button class="print" title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" onclick="" value="BacktoList"></button>
                        </li>
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <div class="approved_by">
                            <ul class="margin0 padding0">
                                <li><span>@Resource.CreatedBy<br><b></b></span></li>
                                <li><span>@Resource.Createdon<br><b></b></span></li>
                                <li><span>@Resource.ApprovedBy<br><b></b></span></li>
                                <li><span>@Resource.ApprovedOn<br><b></b></span></li>
                                <li><span>@Resource.AmendedBy<br><b></b></span></li>
                                <li><span>@Resource.AmendedOn<br><b></b></span></li>
                                <li><span>@Resource.Status<br><b></b></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                @*<article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">*@
                @*<div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.PODetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                    </div>*@
                @*<div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="panel-body">*@
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Document @Resource.Number</label>
                    <input class="form-control" id="DocumentNumber" max="" name="DocumentNumber" type="text" value="" disabled="" placeholder="@Resource.Document @Resource.Number">
                </div>
                <div class="col-md-2 col-sm-12 pl-0 pb-2">
                    <label class="col-form-label label-align">@Resource.Document @Resource.Date</label>
                    <input class="form-control" id="DocumentDate" max="" name="DocumentDate" type="text" value="" disabled="" placeholder="@Resource.Document @Resource.Date">
                </div>
                <div class="col-md-2 col-sm-12 pl-0">
                    <label class="col-form-label label-align">@Resource.Budget @Resource.Amount <span class="required">*</span></label>
                    <input class="form-control num_right" id="FinBudgetAmount" name="BudgetAmount" type="text" placeholder="0000.00">
                </div>
                <div class="col-md-3 col-sm-12 pl-0">
                    <label class="col-form-label label-align">@Resource.Supplier @Resource.Name</label>
                    <select class="form-control" id="FinBudddlStatus" name="Status">
                        <option value="">---Select---</option>
                        <option value="">AB Supplier Test</option>
                        <option value="">AB Supplier Test</option>
                        <option value="">AB TESTING SUPP</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-12 pl-0 pr-0">
                    <label class="col-form-label label-align">@Resource.Payment @Resource.Due @Resource.Type <span class="required">*</span></label>
                    <select class="form-control" id="FinBudddlStatus" name="Status">
                        <option value="">---Select---</option>
                        <option value="">Invoice Date</option>
                        <option value="">Bill Date</option>
                        <option value="">Due Date</option>
                    </select>
                </div>
                <div class="col-md-1 col-sm-12 pl-0" id="">
                    <div class="col-md-2 col-sm-12">
                        <div class="plus_icon2"> <i class="fa fa-plus" id="Finfafaplus" onclick="AddNew()" title="@Resource.AddNew"></i> </div>
                    </div>
                </div>
                <div class="card-box table-responsive dy_table">
                    <div class="col-md-12">
                        <div class="price_item_detail">
                            <div class="tableFixHead height30VH">
                                <h2>@Resource.Batch @Resource.Payment @Resource.Detail</h2>
                                <table id="PoItmDetailsTbl" class="table table-bordered width3100 itmfrz">
                                    <thead>
                                        <tr class="headings">
                                            <th width="2%">@Resource.SrNo</th>
                                            <th width="10%" class="itmStick">@Resource.Supplier @Resource.Name</th>
                                            <th width="5%">@Resource.BillNumber</th>
                                            <th width="4%">@Resource.BillDate</th>
                                            <th width="5%">@Resource.Invoice @Resource.Number</th>
                                            <th width="4%">@Resource.Invoice @Resource.Date</th>
                                            <th width="4%">@Resource.Invoice @Resource.Amount</th>
                                            <th width="4%">@Resource.Balance @Resource.Amount</th>
                                            <th width="4%">@Resource.Due @Resource.Date</th>
                                            <th width="4%">@Resource.Overdue @Resource.Days</th>
                                            <th width="4%">@Resource.Payment @Resource.Amount</th>
                                            <th width="11%">
                                                <div class="col-md-10 col-sm-12 no-padding">
                                                    @Resource.Bank @Resource.Name
                                                </div>
                                                <div class="col-md-1 col-sm-12 i_Icon no-padding" id="">
                                                    <button type="button" id="" class="calculator" onclick="GetTrackingDetails();" data-toggle="modal" data-target="#ReplicatePaymentDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Cleared @Resource.Balance @Resource.Detail"> </button>
                                                </div>
                                            </th>
                                            <th width="4%">@Resource.Cleared @Resource.Balance</th>
                                            <th width="5%">@Resource.Instrument @Resource.Type</th>
                                            <th width="5%">@Resource.Instrument @Resource.Number</th>
                                            <th width="5%">@Resource.Instrument @Resource.Date</th>
                                            <th width="11%">@Resource.Narration</th>
                                            <th width="5%">@Resource.Voucher @Resource.Number</th>
                                            <th width="4%">@Resource.Voucher @Resource.Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <input id="" class="form-control" name="SrNo" placeholder="@Resource.SrNo" readonly="readonly"></td>
                                            <td class="ItmNameBreak itmStick tditemfrz"
>
                                                <input id="SupplierName" value="" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier @Resource.Name" disabled="">
                                            </td>
                                            <td>
                                                <input id="BillNumber" value="" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.BillNumber" disabled="">
                                            </td>
                                            <td>
                                                <input id="BillDate" class="form-control" max="2024-09-17" name="BillDate" onchange="FromToDateValidation()" type="date" value="2024-09-01" disabled="">
                                            </td>
                                            <td>
                                                <input id="InvoiceNumber" value="" class="form-control" autocomplete="off" type="text" name="InvoiceNumber" placeholder="@Resource.Invoice @Resource.Number" disabled="">
                                            </td>
                                            <td>
                                                <input id="InvoiceDate" class="form-control" max="2024-09-17" name="InvoiceDate" onchange="FromToDateValidation()" type="date" value="2024-09-01" disabled="">
                                            </td>
                                            <td> <input id="InvoiceAmount" class="form-control num_right" name="InvoiceAmount" placeholder="0000.00" readonly="readonly"></td>
                                            <td> <input id="BalanceAmount" class="form-control num_right" name="BalanceAmount" placeholder="0000.00" readonly="readonly"></td>

                                            <td>
                                                <input id="DueDate" class="form-control" max="2024-09-17" name="DueDate" onchange="FromToDateValidation()" type="date" value="2024-09-01" disabled="">
                                            </td>
                                            <td>
                                                <input id="OverdueDays" class="form-control" max="2024-09-17" name="OverdueDays" onchange="FromToDateValidation()" type="date" value="2024-09-01" disabled="">
                                            </td>
                                            <td> <input id="PaymentAmount" class="form-control num_right" name="PaymentAmount" placeholder="0000.00"></td>
                                            <td>
                                                <select class="form-control" id="BankName" name="Status">
                                                    <option value="">---Select---</option>
                                                    <option value="">Allahabad Bank</option>
                                                    <option value="">Andhra Bank</option>
                                                    <option value="">Axis Bank</option>
                                                    <option value="">Bank of Bahrain and Kuwait</option>
                                                    <option value="">Bank of Baroda - Corporate Banking</option>
                                                    <option value="">Bank of Baroda - Retail Banking</option>
                                                    <option value="">Bank of India</option>
                                                    <option value="">Bank of Maharashtra
                                                    <option value="">Canara Bank</option>
                                                    <option value="">Central Bank of India</option>
                                                    <option value="">City Union Bank</option>
                                                    <option value="">Corporation Bank</option>
                                                    <option value="">Deutsche Bank</option>
                                                    <option value="">Development Credit Bank</option>
                                                    <option value="">Dhanlaxmi Bank</option>
                                                    <option value="">Federal Bank</option>
                                                    <option value="">ICICI Bank</option>
                                                    <option value="">IDBI Bank</option>
                                                    <option value="">Indian Bank</option>
                                                    <option value="">Indian Overseas Bank</option>
                                                    <option value="">IndusInd Bank</option>
                                                    <option value="">ING Vysya Bank</option>
                                                    <option value="">Jammu and Kashmir Bank</option>
                                                    <option value="">Karnataka Bank Ltd</option>
                                                    <option value="">Karur Vysya Bank</option>
                                                    <option value="">Kotak Bank</option>
                                                    <option value="">Laxmi Vilas Bank</option>
                                                    <option value="">Oriental Bank of Commerce</option>
                                                    <option value="">Punjab National Bank - Corporate Banking</option>
                                                    <option value="">Punjab National Bank - Retail Banking</option>
                                                    <option value="">Punjab & Sind Bank</option>
                                                    <option value="">Shamrao Vitthal Co-operative Bank</option>
                                                    <option value="">South Indian Bank</option>
                                                    <option value="">State Bank of Bikaner & Jaipur</option>
                                                    <option value="">State Bank of Hyderabad</option>
                                                    <option value="">State Bank of India</option>
                                                    <option value="">State Bank of Mysore</option>
                                                    <option value="">State Bank of Patiala</option>
                                                    <option value="">State Bank of Travancore</option>
                                                    <option value="">Syndicate Bank</option>
                                                    <option value="">Tamilnad Mercantile Bank Ltd.</option>
                                                    <option value="">UCO Bank</option>
                                                    <option value="">Union Bank of India</option>
                                                    <option value="">United Bank of India</option>
                                                    <option value="">Vijaya Bank</option>
                                                    <option value="">Yes Bank Ltd</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="col-md-10 col-sm-12 no-padding">
                                                    <input id="ClearedBalance" class="form-control num_right" name="ClearedBalance" placeholder="0000.00" readonly="readonly">
                                                </div>
                                                <div class="col-md-2 col-sm-12 i_Icon no-padding"><button type="button" id="" class="calculator" onclick="onlickCalculatorIcon(event,'N','BPDate','','ddlBankAccName')" data-toggle="modal" data-target="#AccountBalanceDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.AccountBalance @Resource.Detail"> </button></div>
                                                @*<div class="col-md-2 col-sm-12 i_Icon" id="">
                                                        <button type="button" id="" class="calculator" onclick="GetTrackingDetails();" data-toggle="modal" data-target="#ReplicatePaymentDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Cleared @Resource.Balance @Resource.Detail"> </button>
                                                    </div>*@
                                            </td>
                                            <td>
                                                <select class="form-control" id="InstrumentType" name="Status">
                                                    <option value="">---Select---</option>
                                                    <option value="">Instrument Type</option>
                                                    <option value="">Instrument Type 1</option>
                                                    <option value="">Instrument Type 2</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input id="InstrumentNumber" value="" class="form-control" autocomplete="off" type="text" name="InstrumentNumber" placeholder="@Resource.Instrument @Resource.Number">
                                            <td>
                                                <input id="InstrumentDate" class="form-control" max="2024-09-17" name="InstrumentDate" onchange="FromToDateValidation()" type="date" value="2024-09-01">
                                            </td>
                                            <td>
                                                <textarea autocomplete="off" class="form-control remarksmessage" cols="20" id="Narration" maxlength="300" name="Narration" placeholder="@Resource.Narration" rows="2" onmouseover="OnMouseOver(this)" title=""></textarea>
                                            </td>
                                            <td>
                                                <input id="VoucherNumber" value="" class="form-control" autocomplete="off" type="text" name="VoucherNumber" placeholder="@Resource.Voucher @Resource.Number" disabled="">
                                            </td>
                                            <td>
                                                <input id="VoucherDate" class="form-control" max="2024-09-17" name="VoucherDate" onchange="FromToDateValidation()" type="date" value="2024-09-01" disabled="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>
                    </div>*@
                @*</section>
                    </article>*@
            </div>
        </div>
    </div>
</div>
