
<select class="form-control" id="ddl_branch" multiple="multiple" name="ddl_branch">
    @if (ViewBag.br_list != null)
    {
        foreach (System.Data.DataRow row in ViewBag.br_list.Rows)
        {
            if (ViewBag.vb_br_id == @row["Comp_Id"].ToString())
            {
                <option selected="selected" value="@row["Comp_Id"].ToString()">@row["comp_nm"].ToString()</option>
            }
            else
            {
                <option value="@row["Comp_Id"].ToString()">@row["comp_nm"].ToString()</option>
            }
        }
    }
</select>