@*@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.GoodReceiptNote.GoodReceiptNoteSCModel*@
@using EnRepMobileWeb.Resources;
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SubContracting/GoodReceiptNote/GoodReceiptNoteDetailSC.js"></script>
@*@using System.Data*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<title>@Model.Title</title>*@
<div class="row">
    <!-- Material Batch Number Detail -->
    <div id="MaterialBatchNumberDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:900px;">            
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMaterialBatchNumberDetail.cshtml")
            
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">

                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                <span class="step_no">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_2">
                                <span class="step_no">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_3">
                                <span class="step_no">3</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        <li>
                            <button class="add" title="@Resource.AddNew" disabled type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                        </li>
                        <li>
                            <button class="edit" title="@Resource.Edit" disabled type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                        </li>
                        <li>
                            <button class="delete" title="@Resource.Delete" disabled type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" title="@Resource.Save" type="submit" onclick="return SaveBtnClick()" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        <li>
                            <button class="forward" title="@Resource.Forward" disabled type="submit" id="btn_forward" name="Command" value="Forward"></button>
                        </li>
                        <li>
                            <button class="approve" title="@Resource.Approve" disabled type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        <li>
                            <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="ForwardHistoryBtnClick();" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                        </li>
                        <li>
                            <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print" title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back" title="@Resource.Back" disabled type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <div class="approved_by">
                            <ul class="margin0 padding0">
                                <li><span>@Resource.CreatedBy<br><b id="GRNCreatedBy"></b></span></li>
                                <li><span>@Resource.Createdon<br><b id="GRNCreatedDate"></b></span></li>
                                <li><span>@Resource.ApprovedBy<br><b id="GRNApproveBy"></b></span></li>
                                <li><span>@Resource.ApprovedOn<br><b id="GRNApproveDate"></b></span></li>
                                <li><span>@Resource.AmendedBy<br><b id="GRNAmdedBy"></b></span></li>
                                <li><span>@Resource.AmendedOn<br><b id="GRNAmdedDate"></b></span></li>
                                <li><span>@Resource.Status<br /><b id="GRNStatus"></b></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.Material @Resource.Return @Resource.Detail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="panel-body">
                                <div class="col-md-12">

                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Return @Resource.Number
                                    </label>
                                    <input autocomplete="off" class="form-control optional" id="" maxlength="20" name="" placeholder=" @Resource.Return @Resource.Number" readonly="readonly" type="text" value="">

                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Return @Resource.Date</label>
                                    <input type="date" class="form-control" id="" name="date" readonly="readonly">
                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ContractorName
                                    </label>
                                    <select class="form-control" id="ContractorName" name="ContractorName" disabled>
                                        <option value="0">---Select---</option>
                                        <option>Contractor Name</option>
                                        <option>Contractor Name</option>
                                    </select>
                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <div class="col-md-11 col-sm-12 no-padding">
                                        <label class="col-form-label label-align" title="Base Unit Of Measure">
                                            @Resource.Address <span class="required" id="Rqrdaddr" style="display:none;">*</span>
                                        </label>
                                        <textarea class="form-control remarksmessage" cols="20" id="Address" maxlength="100" name="Address" placeholder="Address" readonly="readonly" rows="2" onmouseover="OnMouseOver(this)" title=""></textarea>
                                        <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true" id="SpanSuppAddrErrorMsg" style="color:red;!important"></span>
                                        <input data-val="true" data-val-number="The field bill_add_id must be a number." data-val-required="The bill_add_id field is required." id="bill_add_id" name="bill_add_id" type="hidden" value="0">
                                        <input id="ship_add_gstNo" name="Ship_Gst_number" type="hidden" value="">
                                        <input id="Ship_StateCode" name="Ship_StateCode" type="hidden" value="">
                                        <input type="hidden" id="bill_add_id">
                                    </div>
                                    <div class="col-sm-1 margin28 i_Icon">
                                        <button type="button" id="AddInfoBtnIcon" class="calculator" onclick="OnClickbillingAddressIconBtn(event);" data-toggle="modal" data-target="#AddressInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Address Information">  </button>
                                    </div>
                                </div>
                                @*<div class="col-md-55 col-sm-12">
                                        <label class="col-form-label label-align">
                                            @Resource.Address
                                        </label>
                                    </div>*@
                                <div class="col-md-1 col-sm-12" style="float:right;">
                                    <div class="custom-control custom-switch margin10">
                                        <input class="custom-control-input col-md-3 col-sm-12 margin-switch" data-val="true" data-val-required="" id="Cancelled" name="Cancelled" type="checkbox" value="true"><input name="Cancelled" type="hidden" value="false">                                                                <label class="custom-control-label col-md-9 col-sm-12" for="Cancelled" style="padding: 3px 0px;"> Cancelled  </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-55 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.JobOrder @Resource.Number
                                </label>
                                <input autocomplete="off" class="form-control optional" id="" maxlength="20" name="" placeholder=" @Resource.JobOrder @Resource.Number" readonly="readonly" type="text" value="">
                            </div>
                            <div class="col-md-55 col-sm-12">
                                <label class="col-form-label label-align">@Resource.JobOrder @Resource.Date</label>
                                <input type="date" class="form-control" id="GRNDate" name="date" readonly="readonly">
                            </div>
                            <div class="col-md-55 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Order @Resource.Quantity
                                </label>
                                <input autocomplete="off" class="form-control num_right" id="" maxlength="20" name="" placeholder="0000.00" readonly="readonly" type="text" value="">
                            </div>
                            <div class="col-md-55 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Dispatch @Resource.Quantity
                                </label>
                                <input autocomplete="off" class="form-control num_right" id="" maxlength="20" name="" placeholder="0000.00" readonly="readonly" type="text" value="">
                            </div>

                            @*<div class="col-md-1 col-sm-12 margin25">
                                <a href="#" id="HdnplusIconId">
                                    <div class="plus_icon1">
                                        <i class="fa fa-plus" id="BtnAttribute" onclick="AddItemDetail()" title="Add New"></i>
                                    </div>
                                </a>
                            </div>*@
                            <div class="card-box table-responsive dy_table">
                                <div class="col-md-12">
                                    <div class="price_item_detail">
                                        <div class="tableFixHead height30VH">
                                            <h2>@Resource.Material @Resource.Detail</h2>
                                            <table id="GRNSC_ItmDetailsTbl" class="table table-bordered">
                                                <thead>
                                                    <tr class="headings">
                                                        <th width="3%">&nbsp;</th>
                                                        <th width="3%">Sr.No.</th>
                                                        <th width="25%">
                                                            <div class="col-md-3 col-sm-12"></div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <span class="item_add">@Resource.Material @Resource.Name</span>
                                                                <a href="#">
                                                                    <div class="plus_icon1"> <i class="fa fa-plus" id="BtnAddItem" onclick="AddNewRow()" title="Add New"></i> </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-3 col-sm-12"></div>
                                                        </th>
                                                        <th width="8%" title="Unit Of Measure"> UOM</th>
                                                        <th width="15%">@Resource.Material @Resource.Type</th>
                                                        <th width="12%">@Resource.Reserved <br> @Resource.Quantity</th>
                                                        <th width="12%">@Resource.Return <br> @Resource.Quantity</th>
                                                        <th width="22%">@Resource.Warehouse</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="red center">
                                                            <i class="fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i>
                                                        </td>
                                                        <td class="sr_padding"><span id="SNo">1</span> </td>
                                                        <td>
                                                            <div class="col-sm-11 no-padding">
                                                                <select class="form-control" id="ContractorName" name="ContractorName">
                                                                    <option value="0">---Select---</option>
                                                                    <option>Material Name </option>
                                                                    <option>Material Name </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-1 i_Icon">
                                                                <button type="button" class="calculator" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" onclick="OnClickIconBtn(event);" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"></button>
                                                            </div>
                                                        </td>
                                                        <td><input id="idUOM1" class="form-control" autocomplete="off" type="text" name="idUOM" placeholder="@Resource.UOM" readonly="readonly"></td>
                                                        <td><input autocomplete="off" class="form-control " id="" maxlength="20" name="" placeholder="@Resource.Material @Resource.Type" readonly="readonly" type="text" value=""></td>
                                                        <td><input autocomplete="off" class="form-control num_right" id="" maxlength="20" name="" placeholder="0000.00" readonly="readonly" type="text" value=""></td>
                                                        <td>
                                                            <div class="col-sm-10 no-padding">
                                                                <input autocomplete="off" class="form-control num_right" id="" maxlength="20" name="" placeholder="0000.00" readonly="readonly" type="text" value="">
                                                            </div>
                                                            <div class="col-sm-2 i_Icon">
                                                                <button type="button" class="calculator" data-toggle="modal" data-target="#MaterialBatchNumberDetail" data-backdrop="static" onclick="OnClickIconBtn(event);" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.BatchDetail"></button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" disabled="disabled" id="wh_id1" name="wh_id" onchange="OnChangeWarehouse()">
                                                                <option value="0">---Select---</option>
                                                                <option value="105">22122022</option>
                                                                <option value="137">ALASKA FG WAREHOUSE</option>
                                                                <option value="138">AU STORE</option>
                                                                <option value="106">Consumable</option>
                                                                <option value="133">F.G</option>
                                                                <option value="104">FG</option>
                                                                <option value="126">FG MOTORCAR PARTS WAREHOUSE</option>
                                                                <option value="127">FG TRUCK &amp; TRAILOR PARTS WAREHOUSE</option>
                                                                <option value="124">fgll</option>
                                                                <option selected="selected" value="101">Finished Goods</option>
                                                                <option value="135">OTHER MATERIALS WAREHOUSE</option>
                                                                <option value="129">PACKAGING WAREHOUSE</option>
                                                                <option value="128">PACKING WAREHOUSE</option>
                                                                <option value="102">Raw Material</option>
                                                                <option value="131">REJECTED MATERIAL WAREHOUSE</option>
                                                                <option value="107">Rejection Warehouse</option>
                                                                <option value="132">REWORK - WAREHOUSE</option>
                                                                <option value="108">Reworkable Warehouse</option>
                                                                <option value="130">RM WAREHOUSE</option>
                                                                <option value="134">S F WAREHOUSE</option>
                                                                <option value="103">Semi Finished Goods</option>
                                                                <option value="111">testing</option>
                                                                <option value="112">testing001</option>
                                                                <option value="113">testing002</option>
                                                                <option value="114">testing003</option>
                                                                <option value="115">testing004</option>
                                                                <option value="116">testing005</option>
                                                                <option value="117">testing006</option>
                                                                <option value="118">testing007</option>
                                                                <option value="119">testing008</option>
                                                                <option value="120">testing009</option>
                                                                <option value="123">testing22</option>
                                                                <option value="125">WAREHOUSE 1</option>
                                                                <option value="110">WHABC</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    @*<section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">@Resource.ConsumptionDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-box table-responsive dy_table">
                                <div class="col-md-12">
                                    <div class="price_item_detail">
                                        <div class="tableFixHead height30VH">
                                            <table id="ConsumedItemDetailTbl" class="table table-bordered">
                                                <thead>
                                                    <tr class="headings">
                                                        <th width="5%">@Resource.SrNo</th>
                                                        <th width="20%"> @Resource.MaterialName</th>
                                                        <th width="10%" title="Unit Of Measure">@Resource.UOM</th>
                                                        <th width="15%">@Resource.Issued <br> @Resource.Quantity</th>
                                                        <th width="15%">@Resource.Consumed  <br> @Resource.Quantity</th>
                                                        <th width="10%">@Resource.LotBatchDetail </th>
                                                        <th width="25%">@Resource.remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> @Resource.ByProductScrapDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="card-box table-responsive dy_table margin10">
                                    <div class="col-md-12">
                                        <div class="price_item_detail">
                                            <div class="tableFixHead height30VH">
                                                <table id="ScrapItemDetailsTbl" class="table table-bordered width1600">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th width="3%">@Resource.SrNo</th>
                                                            <th width="15%">@Resource.MaterialName</th>
                                                            <th width="7%" title="@Resource.UnitOfMeasure"> @Resource.UOM </th>
                                                            <th width="5%">@Resource.Rate</th>
                                                            <th width="10%">@Resource.Received <br /> @Resource.Quantity</th>
                                                            <th width="14%">@Resource.Material <br /> @Resource.Type</th>
                                                            <th width="17%">@Resource.Warehouse</th>
                                                            <th width="10%">@Resource.LotNumber</th>
                                                            <th width="5%">@Resource.BatchNumber </th>
                                                            <th width="14%">@Resource.remarks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>*@
                </article>
            </div>
        </div>
    </div>
</div>
