@using EnRepMobileWeb.Resources;
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/Dashboard/MainMenuPage.js"></script>
@if (Session["Menu1"] != null && Session["Menu2"] != null && Session["Menu3"] != null && Session["Menu4"] != null)
{
    ViewBag.Menu1 = Session["Menu1"];
    ViewBag.Menu2 = Session["Menu2"];
    ViewBag.Menu3 = Session["Menu3"];
    ViewBag.Menu4 = Session["Menu4"];
    ViewBag.user_id = Session["userid"];
    ViewBag.comp_id = Session["CompId"];

}
else
{
    Response.Redirect("~/Login");
}
<div id="contextMenu" style="display: none; position: absolute; background-color: #fff; border: 1px solid #ccc;">
    <ul id="cntxt">
        <li><a href="#" id="addCart">Add To My Favourite</a></li>
        <li><a href="#" id="removeCart">Remove From My Favourite</a></li>
    </ul>
</div>
<input type="hidden" id="hdnAddOrRemoveCart" />
<input type="hidden" id="hdnHoldFavDocId" />
<style>
    .custom-popup-class {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #contextMenu {
        z-index: 1000;
        border: solid 1px #afafaf;
        border-radius: 2px;
        min-width: 150px;
    }

        #contextMenu ul {
            margin-bottom: 0px;
            padding: 0px;
            min-width: 135px;
            z-index: 10;
        }

            #contextMenu ul li {
                list-style-type: none;
                padding: 5px;
            }

                #contextMenu ul li a {
                    color: #2a3f54;
                }

    .ntmenu {
        color: #c4c8cd !important;
    }
</style>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @{
            <ul class="nav side-menu" id="add_menu">
                @for (int q = 0; q < (ViewBag.Menu1.Rows.Count); q++)
                {
                    <li class="mainli">
                        @if (ViewBag.Menu1.Rows[q]["doc_action_method"] == null)
                        {
                            if (ViewBag.Menu1.Rows[q]["child_count"] < 1)
                            {
                                <a id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /><span></span></a>
                            }
                            else
                            {
                                <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /><span class="fa fa-chevron-down"></span></a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Menu1.Rows[q]["child_count"] < 1)
                            {
                                var urllink1 = "";
                                var menucolor1 = "";
                                if (ViewBag.Menu1.Rows[q]["doc_controller"].ToString() == "" || ViewBag.Menu1.Rows[q]["doc_controller"].ToString() == null)
                                {
                                    urllink1 = "#";
                                    menucolor1 = "ntmenu";
                                }
                                else
                                {
                                    urllink1 = "/" + ViewBag.Menu1.Rows[q]["doc_area"].ToString() + "/" + ViewBag.Menu1.Rows[q]["doc_controller"].ToString() + "/" + ViewBag.Menu1.Rows[q]["doc_action_method"].ToString();
                                }

                                @*<a onclick="return CheckBranchSelection(this);" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" href="@Url.Action(ViewBag.Menu1.Rows[q]["doc_action_method"].ToString(),ViewBag.Menu1.Rows[q]["doc_controller"].ToString(),new { Area = ViewBag.Menu1.Rows[q]["doc_area"].ToString() })">@ViewBag.Menu1.Rows[q]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /></a>*@
                                <a onclick="return CheckBranchSelection(this);" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" href="@urllink1">@ViewBag.Menu1.Rows[q]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /><i class="fa fa-home"></i></a>
                            }
                            else
                            {
                                if (@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString() == "100")
                                {
                                    <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /><i class="fa fa-star"></i><span class="fa fa-chevron-down"></span></a>
                                }
                                if (@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString() == "102")
                                {
                                    <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /><i class="fa fa-cogs"></i> <span class="fa fa-chevron-down"></span></a>
                                }
                                if (@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString() == "103")
                                {
                                    <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /> <i class="fa fa-briefcase"></i> <span class="fa fa-chevron-down"></span></a>
                                }
                                if (@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString() == "104")
                                {
                                    <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /> <i class="fa fa-shield"></i> <span class="fa fa-chevron-down"></span></a>
                                }
                                if (@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString() == "105")
                                {
                                    <a class="anchrMain" id="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()">@ViewBag.Menu1.Rows[q]["Lang"]<input type="hidden" value="@ViewBag.Menu1.Rows[q]["Doc_ID"].ToString()" /> <i class="fa fa-puzzle-piece"></i> <span class="fa fa-chevron-down"></span></a>
                                }

                            }
                        }
                        <ul class="nav child_menu" id="@("ul_"+ViewBag.Menu1.Rows[q]["Doc_ID"].ToString())">
                            @for (int p = 0; p < (ViewBag.Menu2.Rows.Count); p++)
                            {
                                if (ViewBag.Menu1.Rows[q]["Doc_ID"] == ViewBag.Menu2.Rows[p]["Doc_parent_ID"])
                                {
                                    <li>
                                        @if (@ViewBag.Menu2.Rows[p]["doc_action_method"] == null)
                                        {
                                            if (@ViewBag.Menu2.Rows[p]["child_count"] <= 0)
                                            {
                                                <a id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()">@ViewBag.Menu2.Rows[p]["Lang"]<span></span></a>
                                            }
                                            else
                                            {
                                                <a id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()">@ViewBag.Menu2.Rows[p]["Lang"]<input type="hidden" value="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" /><span class="fa fa-chevron-down"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            if (ViewBag.Menu2.Rows[p]["child_count"] <= 0)
                                            {
                                                var urllink2 = "";
                                                var className = "";
                                                var menucolor2 = "";
                                                if (ViewBag.Menu2.Rows[p]["doc_controller"].ToString() == "" || ViewBag.Menu2.Rows[p]["doc_controller"].ToString() == null)
                                                {
                                                    urllink2 = "#";
                                                    className = "NA";
                                                    menucolor2 = "ntmenu";
                                                }
                                                else
                                                {
                                                    urllink2 = "/" + ViewBag.Menu2.Rows[p]["doc_area"].ToString() + "/" + ViewBag.Menu2.Rows[p]["doc_controller"].ToString() + "/" + ViewBag.Menu2.Rows[p]["doc_action_method"].ToString();
                                                    className = "addcart";
                                                }

                                                if (@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString() == "102125" && ViewBag.user_id.ToString() == "1001" && ViewBag.comp_id.ToString() == "1")
                                                {
                                                    <a class="@className @menucolor2" id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@urllink2">@ViewBag.Menu2.Rows[p]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" /></a>
                                                }
                                                else
                                                {
                                                    if (@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString() != "102125")
                                                    {
                                                        if (@ViewBag.Menu2.Rows[p]["Doc_parent_ID"].ToString() == "100")
                                                        {
                                                            <a class="@className @menucolor2" id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@urllink2">@ViewBag.Menu2.Rows[p]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" /></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="st_fav"> <i class="fa fa-star-o"></i> </a> <a class="@className @menucolor2" id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@urllink2">@ViewBag.Menu2.Rows[p]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" /></a>
                                                        }

                                                    }
                                                }

                                            }
                                            else
                                            {
                                                <a id="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()">@ViewBag.Menu2.Rows[p]["Lang"]<input type="hidden" value="@ViewBag.Menu2.Rows[p]["Doc_ID"].ToString()" /><span class="fa fa-chevron-down"></span></a>
                                            }
                                        }
                                        <ul class="nav child_menu">
                                            @for (int j = 0; j < (ViewBag.Menu3.Rows.Count); j++)
                                            {
                                                if (ViewBag.Menu2.Rows[p]["Doc_ID"] == ViewBag.Menu3.Rows[j]["Doc_parent_ID"])
                                                {
                                                    <li>
                                                        @if (@ViewBag.Menu3.Rows[j]["doc_action_method"] == null)
                                                        {
                                                            if (@ViewBag.Menu3.Rows[j]["child_count"] <= 0)
                                                            {
                                                                <a id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()">@ViewBag.Menu3.Rows[j]["Lang"]<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /><span></span></a>
                                                            }
                                                            else
                                                            {
                                                                <a id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()">@ViewBag.Menu3.Rows[j]["Lang"]<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /><span class="fa fa-chevron-down"></span></a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.Menu3.Rows[j]["child_count"] <= 0)
                                                            {
                                                                var urllink3 = "";
                                                                var className3 = "";
                                                                var menucolor3 = "";
                                                                if (ViewBag.Menu3.Rows[j]["doc_controller"].ToString() == "" || ViewBag.Menu3.Rows[j]["doc_controller"].ToString() == null)
                                                                {
                                                                    urllink3 = "#";
                                                                    className3 = "NA";
                                                                    menucolor3 = "ntmenu";
                                                                }
                                                                else
                                                                {
                                                                    urllink3 = "/" + @ViewBag.Menu3.Rows[j]["doc_area"].ToString() + "/" + @ViewBag.Menu3.Rows[j]["doc_controller"].ToString() + "/" + @ViewBag.Menu3.Rows[j]["doc_action_method"].ToString();
                                                                    className3 = "addcart";
                                                                }

                                                                @*<a id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@Url.Action(ViewBag.Menu3.Rows[j]["doc_action_method"].ToString(),ViewBag.Menu3.Rows[j]["doc_controller"].ToString(),new { Area = @ViewBag.Menu3.Rows[j]["doc_area"].ToString() })">@ViewBag.Menu3.Rows[j]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /></a>*@
                                                                @*<a id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="/@ViewBag.Menu3.Rows[j]["doc_area"].ToString()/@ViewBag.Menu3.Rows[j]["doc_controller"].ToString()/@ViewBag.Menu3.Rows[j]["doc_action_method"].ToString()">@ViewBag.Menu3.Rows[j]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /></a>*@
                                                                <a href="#" class="st_fav"> <i class="fa fa-star-o"></i> </a> <a class="@className3 @menucolor3" id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@urllink3">@ViewBag.Menu3.Rows[j]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /></a>
                                                            }
                                                            else
                                                            {
                                                                <a id="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()">@ViewBag.Menu3.Rows[j]["Lang"]<input type="hidden" value="@ViewBag.Menu3.Rows[j]["Doc_ID"].ToString()" /><span class="fa fa-chevron-down"></span></a>
                                                            }
                                                        }
                                                        <ul class="nav child_menu">
                                                            @for (int i = 0; i < (ViewBag.Menu4.Rows.Count); i++)
                                                            {
                                                                if (ViewBag.Menu3.Rows[j]["Doc_ID"] == ViewBag.Menu4.Rows[i]["Doc_parent_ID"])
                                                                {
                                                                    <li>
                                                                        @if (@ViewBag.Menu4.Rows[i]["doc_action_method"] == null)
                                                                        {
                                                                            <a id="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()">@ViewBag.Menu4.Rows[i]["Lang"]<input type="hidden" value="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()" /></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            var urllink4 = "";
                                                                            var className4 = "";
                                                                            var menucolor4 = "";
                                                                            if (ViewBag.Menu4.Rows[i]["doc_controller"].ToString() == "" || ViewBag.Menu4.Rows[i]["doc_controller"].ToString() == null)
                                                                            {
                                                                                urllink4 = "#";
                                                                                className4 = "NA";
                                                                                menucolor4 = "ntmenu";
                                                                            }
                                                                            else
                                                                            {
                                                                                urllink4 = "/" + ViewBag.Menu4.Rows[i]["doc_area"].ToString() + "/" + ViewBag.Menu4.Rows[i]["doc_controller"].ToString() + "/" + ViewBag.Menu4.Rows[i]["doc_action_method"].ToString();
                                                                                className4 = "addcart";
                                                                            }
                                                                            <a href="#" class="st_fav "> <i class="fa fa-star-o"></i> </a> <a class="@className4 @menucolor4" id="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@urllink4">@ViewBag.Menu4.Rows[i]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()" /></a>
                                                                            @*<a id="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()" onclick="return CheckBranchSelection(this);" href="@Url.Action(ViewBag.Menu4.Rows[i]["doc_action_method"].ToString(),ViewBag.Menu4.Rows[i]["doc_controller"].ToString(),new { Area = ViewBag.Menu4.Rows[i]["doc_area"].ToString() }).ToString().Replace("%3f","?").Replace("%3d","=")">@ViewBag.Menu4.Rows[i]["Lang"].ToString()<input type="hidden" value="@ViewBag.Menu4.Rows[i]["Doc_ID"].ToString()" /></a>*@
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        <input type="hidden" class="hidden-field" value="@ViewBag.Menu2.Rows[p]["Doc_parent_ID"]" />
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
    @*<table id="MenuRoleTbl" class="table table-bordered" style="display:none">
            <thead>
                <tr>
                    <th>doc_id</th>
                    <th>feature_id</th>
                    <th>role_id</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.RoleMenu != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.RoleMenu.Rows)
                    {
                        <tr>
                            <td><input type="text" id="doc_id" value="@Row["doc_id"].ToString()" /></td>
                            <td><input type="text" id="feature_id" value="@Row["feature_id"].ToString()" /></td>
                            <td><input type="text" id="role_id" value="@Row["role_id"].ToString()" /></td>
                        </tr>
                    }
                }
            </tbody>
        </table>*@
</div>
@*<script type="text/javascript">
        $(document).ready(function () {
            var UserRole_List = [];
            $("#MenuRoleTbl >tbody >tr").each(function () {
                var currentRow = $(this);
                var doc_id = currentRow.find("#doc_id").val();
                var feature_id = currentRow.find("#feature_id").val();
                var role_id = currentRow.find("#role_id").val();
                //debugger;
                //var MenuID = $("#" + doc_id).val();
                //if (doc_id === MenuID) {
                //    $("#" + doc_id).css("display", "none");
                //}
                //else {
                //    $("#" + doc_id).css("display", "block");
                //}
                UserRole_List.push({ docid: doc_id, featureid: feature_id, roleid: role_id })
            });

            var Menu_List =[];
            $('#sidebar-menu a').each(function () {
                //debugger
                var ID = $(this).attr("id");
                Menu_List.push({ menuid: ID})
            });
            debugger;
            var RoleID = $("#UserID").text();
            if (RoleID != "4108") {
            for (j = 0; j < Menu_List.length; j++) {
                var menuid = Menu_List[j].menuid;
                    $("#" + menuid).css("display", "none");
                }

                for (i = 0; i < UserRole_List.length; i++) {
                    var docid = UserRole_List[i].docid;
                    var Len = docid.length;
                    if (Len > 3) {
                        var pmenuid = docid.substr(0, parseInt(docid.length) - 3);

                        $("#" + pmenuid).css("display", "block");
                        $("#" + docid).css("display", "block");
                    }
                    else {
                        $("#" + docid).css("display", "block");
                    }
                }
        }
        });
    </script>*@