@using EnRepMobileWeb.Resources;

<div class="top_nav top_tool">
    @{
        var avlval = "";
        if (Session["Available"].ToString() == "Y")
        {
            avlval = "checked";
        }
        else
        {
            avlval = "unchecked";
        }
    }
    <div class="nav_menu">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-7 col-sm-12">
                    <div class="col-md-12 col-sm-12 com_Das_logo  mt-2">
                        <img src="src=@Session["CompLogo1"].ToString()" class="img-fluid" />
                        <div class="head_office ">
                            @Resource.HO :
                            @if (Session["CompanyName"] != null)
                            {
                                @Session["CompanyName"]
                            }

                        </div>
                        <div class="branch col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 ">@Resource.Branch</label>
                                <div class="col-md-10 col-sm-9 ">
                                    @if (ViewBag.MenuPageName == "HomePage")
                                    {
                                        <select class="select2_single form-control" id="TopNavBranchList" onchange="OnChangeBranch();">
                                            @foreach (var itemList in Session["BranchList"] as IEnumerable<SelectListItem>)
                                            {
                                                <option value="@itemList.Value">@itemList.Text</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="select2_single form-control" id="TopNavBranchList" disabled onchange="OnChangeBranch();">
                                            @foreach (var itemList in Session["BranchList"] as IEnumerable<SelectListItem>)
                                            {
                                                <option value="@itemList.Value">@itemList.Text</option>
                                            }
                                        </select>
                                    }
                                    @if (@Session["BranchId"] != null)
                                    {
                                        <input type="hidden" id="hdBranchValue" value="@Session["BranchId"].ToString()" />
                                    }
                                    else
                                    {
                                        <input type="hidden" id="hdBranchValue" value="0" />
                                    }
                                    @if (ViewBag.DefaultBrch != "" && ViewBag.DefaultBrch != null)
                                    {
                                        <input type="hidden" id="hdBR_ID" value="@ViewBag.DefaultBrch" />
                                    }
                                    else
                                    {
                                        <input type="hidden" id="hdBR_ID" value="" />
                                    }
                                    <span id="spanBrch" class="error_message"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="branch col-md-4 col-sm-12 pr-0 mt-2">
                    <div class=" col-md-12 col-sm-12 float-right pl-0 pr-0">
                        <label class="control-label col-md-3 col-sm-2 num_right">Language</label>
                        <div class="col-md-6 col-sm-9 pr-0 top_lan">
                            <select class="form-control" id="" onchange="">
                                <option> -----Select-----</option>
                                <option>English</option>
                                <option>Hindi</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-9 pt-1">
                            @Session["UserName"]
                            </div>
                    </div>
                    </div>
                
                <div class="branch col-md-1 col-sm-12 pr-0 pl-0">
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="" class="user-profile " aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> <img src=@Session["User_Img1"].ToString() alt="">@*@Session["UserName"]*@</a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="">@Resource.Profile</a>
                                    <a class="dropdown-item" href="">
                                        <span class="badge bg-red pull-right">50%</span> <span>@Resource.Settings</span>
                                    </a>
                                    <a class="dropdown-item" target="_blank" href="/PageInfo/Index">@Resource.Help</a>
                                    <a class="dropdown-item" href="/DashboardHome/Logout"><i class="fa fa-sign-out pull-right"></i>@Resource.LogOut</a>
                                </div>
                            </li>
                            <li id="outerli" role="presentation" class="nav-item dropdown open">
                                <a href="" class=" info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false" onclick="getdata();">
                                    <i class="fa fa-bell-o"></i> <span class="badge bg-green">
                                        <label id="lblnotificationcount">0</label>
                                    </span>
                                </a>
                                <ul id="innerul" class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
@*<div class="top_nav top_tool">
    @{       
        var avlval = "";
        if (Session["Available"].ToString() =="Y")
        {
            avlval = "checked";
        }
        else
        {
            avlval = "unchecked";
        }
    }
    <div class="nav_menu">
        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <div class="head_office">
                    @Resource.HO :-<strong>
                        @if (Session["CompanyName"] != null)
                        {
                            @Session["CompanyName"]
                        }
                    </strong>
                </div>
                <div class="branch">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 ">@Resource.Branch</label>
                        <div class="col-md-9 col-sm-9 ">
                            @if (ViewBag.MenuPageName == "HomePage")
                            {
                                <select class="select2_single form-control" id="TopNavBranchList" onchange="OnChangeBranch();">
                                    @foreach (var itemList in Session["BranchList"] as IEnumerable<SelectListItem>)
                                    {
                                        <option value="@itemList.Value">@itemList.Text</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select class="select2_single form-control" id="TopNavBranchList" disabled onchange="OnChangeBranch();">
                                    @foreach (var itemList in Session["BranchList"] as IEnumerable<SelectListItem>)
                                    {
                                        <option value="@itemList.Value">@itemList.Text</option>
                                    }
                                </select>
                            }
                            @if (@Session["BranchId"] != null)
                            {
                                <input type="hidden" id="hdBranchValue" value="@Session["BranchId"].ToString()" />
                            }
                            else
                            {
                                <input type="hidden" id="hdBranchValue" value="0" />
                            }
                            @if (ViewBag.DefaultBrch != "" && ViewBag.DefaultBrch != null)
                            {
                                <input type="hidden" id="hdBR_ID" value="@ViewBag.DefaultBrch" />
                            }
                            else
                            {
                                <input type="hidden" id="hdBR_ID" value="" />
                            }
                            <span id="spanBrch" class="error_message"></span>
                        </div>
                    </div>
                </div>

                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> <img src=@Session["User_Img1"].ToString() alt="">@Session["UserName"]</a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">@Resource.Profile</a>
                        <a class="dropdown-item" href="">
                            <span class="badge bg-red pull-right">50%</span> <span>@Resource.Settings</span>
                        </a>
                        <a class="dropdown-item" target="_blank" href="/PageInfo/Index">@Resource.Help</a>
                        <a class="dropdown-item" href="/DashboardHome/Logout"><i class="fa fa-sign-out pull-right"></i>@Resource.LogOut</a>
                    </div>
                </li>
                <li id="outerli" role="presentation" class="nav-item dropdown open">
                    <a href="" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false" onclick="getdata();">
                        <i class="fa fa-bell-o"></i> <span class="badge bg-green">
                            <label id="lblnotificationcount">0</label>
                        </span>
                    </a>
                    <ul id="innerul" class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">                       
                    </ul>
                </li>
                
            </ul>
        </nav>
    </div>
</div>*@

   
