@using EnRepMobileWeb.Resources;
<div class="col-md-10 col-sm-12 padding_right ">
    <div id="Itm_Details_List" class="x_panel margin_top_zero">
        <div class="x_content">
            <div class="row">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1">

                        @if (ViewBag.itemobject != null)
                        {
                            <table id="datatable-buttons" class="table table-striped table-bordered width2000" style="width:100%">
                                <thead>
                                    <tr class="sticky-header">
                                        <th>@Resource.SrNo</th>
                                        <th width="10%">@Resource.ItemName</th>
                                        <th>@Resource.ItemID</th>
                                        <th>@Resource.Group</th>
                                        <th title=""><span title="Unit of Measure" to>@Resource.UOM</span></th>
                                        <th>@Resource.OEMNo</th>
                                        <th>@Resource.SampleCode</th>
                                        <th>@Resource.Active</th>
                                        <th>@Resource.ItemCost</th>
                                        <th>@Resource.ItemPrice</th>
                                        <th>@Resource.Createdon</th>
                                        <th>@Resource.ApprovedOn</th>
                                        <th>@Resource.AmendedOn</th>
                                    </tr>
                                </thead>
                                <tbody id="ItmListBody">

                                   @foreach (var dr in ViewBag.itemobject)
                                    {
                                    <tr>
                                        <td>@dr.SNo</td>
                                        <td>@dr.Item_name</td>
                                        <td>@dr.Item_id"</td>
                                        <td>@dr.item_group_name</td>
                                        <td>@dr.uom_name</td>
                                        <td>@dr.item_oem_no</td>
                                        <td>@dr.item_sam_cd</td>
                                        @*@if (dr.act_stat == "N")
            {
                <td class=" "><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></td>
            }
            else
            {
                <td><i class="fa fa-check text-success " aria-hidden="true"></i></td>
            }*@

                                        <td>dr.cost_price</td>
                                        <td>dr.sale_price</td>
                                        <td>dr.create_dt</td>
                                        <td>dr.app_dt</td>
                                        <td>dr.mod_dt</td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        }

                        @*<table id="datatable-buttons" class="table table-striped table-bordered width1500" style="width:100%">
                            <thead>
                                <tr class="sticky-header">
                                    <th>Sr.No.</th>
                                    <th width="10%">Item Name</th>*@
                        @*<th hidden="hidden">Item ID</th>*@
                        @*<th>Group</th>
                                        <th title=""><span title="Unit of Measure" to>UOM</span></th>
                                        <th>OEM No.</th>
                                        <th>Sample Code</th>
                                        <th>Active</th>
                                        <th>Item Cost</th>
                                        <th>Item Price</th>
                                        <th>Created On</th>
                                        <th>Approved On</th>
                                        <th>Amended On</th>
                                    </tr>
                                </thead>
                                <tbody id="ItmListBody">
                                </tbody>
                            </table>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

