@model EnRepMobileWeb.MODELS.BusinessLayer.GLDetail.GLDetailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@*//*** All Session Removed by shubham maurya on 21-12-2022 16:05***//*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/GLSetup/GLList.js"></script>
<title>@Model.Title</title>
<!--Partial Import Customer Data Start-->
<div id="PartialImportGLData" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:1200px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/Partial_Import_GLData.cshtml")
    </div>
</div>
<!--Partial Import Customer Data End-->
<!-- Error Detail -->
<div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
    <div class="modal-dialog" id="divErrorDetail" style="min-width:600px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")
    </div>
</div>
<!-- Error Detail End -->
<!-- Branch Mapping Start -->
<div id="BranchMapping" class="modal fade" role="dialog">
    <div class="modal-dialog" id="" style=" max-width:800px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialBranchMapping.cshtml")

    </div>
</div>
<!-- Branch Mapping End -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    <div id="step-1">
                    </div>
                </div>
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "103170001")
                                {
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","GLList")"><img src="~/Content/Images/export_icon.png" width="32" height="32" alt="Download Data Template"></a>

                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Import @Resource.Data" data-toggle="modal" data-target="#PartialImportGLData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="32" id="ImportData" height="32" alt="Import Data"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddNewGL","GLList")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12 padding_zero">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.GLName
                                    </label>
                                    @Html.DropDownListFor(model => model.ddlGLName, new SelectList(Model.GLNameList, "ID", "Name"), new { @class = "form-control", id = "GLNameList" })
                                    @*<select class="form-control" id="GLNameList">
                                            <option value="0">ALL</option>
                                        </select>*@
                                    @*<input type="hidden" id="GLListName" value='@Url.Action("GetAutoCompleteGLList", "GLList")' />*@
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.GLGroup
                                    </label>
                                    @Html.DropDownListFor(model => model.ddlGLGroup, new SelectList(Model.GLGroupList, "ID", "Name"), new { @class = "form-control", id = "AccountGroupName" })
                                    @*<select class="form-control" id="AccountGroupName">
                                            <option value="0">ALL</option>
                                        </select>*@
                                    @*<input type="hidden" id="GLAccGrp" value='@Url.Action("GetAutoCompleteAccGrp", "GLList")' />*@
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.AccountType
                                    </label>
                                    @Html.DropDownListFor(model => model.acc_type, new SelectList(new List<SelectListItem> {
                                                           new SelectListItem {Text="ALL",Value="0" },
                                                           new SelectListItem {Text="Bank",Value="7" },
                                                           new SelectListItem {Text="Customer",Value="1" },
                                                            new SelectListItem {Text="Cash",Value="8" },
                                                           new SelectListItem {Text="Employee",Value="4" },
                                                           new SelectListItem {Text="Exchange Fluctuation",Value="9" },
                                                            new SelectListItem {Text="Interbranch",Value="12" },
                                                           new SelectListItem {Text="Others",Value="11" },
                                                           new SelectListItem {Text="Retained Earning",Value="10" },
                                                            new SelectListItem {Text="Supplier",Value="2" },
                                                           new SelectListItem {Text="Service Provider",Value="3" },
                                                           new SelectListItem {Text="Transporter",Value="5" },
                                                           new SelectListItem {Text="Tax",Value="6" },
                                                           new SelectListItem {Text="Tax Authority",Value="13" },
                                                           }, "Value", "Text"
            ), new { @class = "form-control", @id = "acc_type", @name = "acc_type" })
                                    @*<select class="form-control" id="acc_type">
                                            <option value="0">ALL</option>
                                            <option value="7">Bank</option>
                                            <option value="1">Customer</option>
                                            <option value="8">Cash</option>
                                            <option value="4">Employee</option>
                                            <option value="9">Exchange Fluctuation</option>
                                            <option value="12">Interbranch</option>
                                            <option value="11">Others</option>
                                            <option value="10">Retained Earning</option>
                                            <option value="2">Supplier</option>
                                            <option value="3">Service Provider</option>
                                            <option value="5">Transporter</option>
                                            <option value="6">Tax</option>
                                            <option value="13">Tax Authority</option>
                                        </select>*@
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Active
                                    </label>
                                    @Html.DropDownListFor(model => model.GLActStatus, new SelectList(new List<SelectListItem> {
                                                           new SelectListItem {Text="ALL",Value="0" },
                                                           new SelectListItem {Text="Yes",Value="Y" },
                                                           new SelectListItem {Text="No",Value="N" },
                                                           }, "Value", "Text"
            ), new { @class = "form-control", @id = "GLActStatus", @name = "GLActStatus" })
                                    @*<select class="form-control" id="GLActStatus">
                                            <option value="ALL">ALL</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>*@
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterGLList()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="row">
                    <div class="card-box table-responsive dy_table">
                        <div id="GLAccount" class="sticky-table sticky-ltr-cells sb-container container-example1">
                            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialGLList.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="available_stock" class="available_stock form-horizontal form-label-left" data-parsley-validate>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right ">
                                    <label class="col-form-label label-align" for="">Opening Balance</label>
                                    <input type="text" required class="form-control item_list_value num_right" id="op_balence" placeholder="0000.00" disabled>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right ">
                                    <label class="col-form-label label-align" for="">@Resource.BalanceType</label>
                                    <input type="text" required class="form-control item_list_value " id="Op_BalanceType" placeholder="Debit" onblur="this.placeholder='Debit'" disabled>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right">
                                    <label class="col-form-label label-align" for="">@Resource.Currency</label>
                                    <input type="text" required class="form-control item_list_value num_right" id="curr_list" placeholder="@Resource.Currency" disabled>
                                </div>
                            </div>
                            <hr />
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right ">
                                    <label class="col-form-label label-align" for="">@Resource.Closing @Resource.Balance</label>
                                    <input type="text" required class="form-control item_list_value num_right" id="cl_balence" placeholder="0000.00" disabled>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right ">
                                    <label class="col-form-label label-align" for="">@Resource.BalanceType</label>
                                    <input type="text" required class="form-control item_list_value " id="BalanceType" placeholder="Debit" onblur="this.placeholder='Debit'" disabled>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 available_right">
                                    <label class="col-form-label label-align" for="">@Resource.Currency</label>
                                    <input type="text" required class="form-control item_list_value num_right" id="curr_list1" placeholder="@Resource.Currency" disabled>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- page content end -->
