@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ProductionConfirmation.ProductionConfirmation_Model
@using EnRepMobileWeb.Resources;
<title>@Model.Title</title>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 20-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionConfirmation/ProductionConfirmation.js"></script>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <!-- Workflow Information -->
                <div id="WorkflowInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width:700px;">
                        <!-- Modal content-->
                        @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")

                    </div>
                </div>
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105105130001" || Row["feature_id"].ToString() == "105103145115001")
                                {
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.AddNew" href="@Url.Action("AddProductionConfirmationDetail","ProductionConfirmation")"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.ProductName</label>
                                @Html.DropDownListFor(model => model.ddl_ProductName, new SelectList(Model.ProductNameList, "ID", "Name"), new { @class = "form-control", id = "ProductName" })
                                @*<select class="form-control" id="ProductName" name="Status">
                                        <option value="0">All</option>
                                        <option value="A">Source</option>
                                        <option value="C">Source 1</option>
                                        <option value="D">Source 2</option>
                                        <option value="F">Source 3</option>
                                    </select>*@
                                <!--<select class="form-control" id="ddl_ProductName" name="ddl_ProductName"></select>-->
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.OperationName</label>
                                @Html.DropDownListFor(model => model.ddl_OperationName, new SelectList(Model.OperationNameList, "op_id", "op_name"), new { @class = "form-control", id = "ddl_OperationName" })
                                @Html.ValidationMessageFor(model => model.ddl_OperationName, String.Empty, new { @style = "color:red;!important", @id = "span_vm_ddl_OperationName" })
                                @Html.HiddenFor(model => model.ddl_OperationName, new { @id = "hdn_OperationName" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ShopfloorName</label>
                                @Html.DropDownListFor(model => model.ddl_ShopfloorName, new SelectList(Model.ShopFloorList, "shfl_id", "shfl_name"), new { @class = "form-control", id = "ddl_ShopfloorName" })
                                @Html.ValidationMessageFor(model => model.ddl_ShopfloorName, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_ShopfloorName" })
                                @Html.HiddenFor(model => model.ddl_ShopfloorName, new { @id = "hdn_ShopfloorName" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align"> @Resource.WorkstationName <span class="required">*</span></label>

                                @Html.DropDownListFor(model => model.ddl_WorkstationName, new SelectList(Model.WorkstationNameList, "ws_id", "ws_name"), new { @class = "form-control", id = "ddl_WorkstationName" })
                                @Html.ValidationMessageFor(model => model.ddl_WorkstationName, String.Empty, new { @style = "color:red;!important", @id = "span_vm_ddl_WorkstationName" })
                                @Html.HiddenFor(model => model.ddl_WorkstationName, new { @id = "hdn_WorkstationName" })
                                @Html.HiddenFor(model => model.ddl_WorkstationText, new { @id = "hdn_WorkstationText" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Shift <span class="required">*</span></label>
                                @Html.DropDownListFor(Model => Model.shift, new SelectList(Model.ShiftdropdownlistP, "ID", "Name"), new { @id = "ddlshiftID", @class = "form-control", onchange = "ddl_ddl_shift_onchange()" })
                                @Html.HiddenFor(model => model.shift_id, new { @id = "hdn_shift_id" })
                                @Html.HiddenFor(model => model.ddl_shift, new { @id = "hdn_shift" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.FromDate</label>
                                @*<input class="form-control" id="txtFromdate" max="2021-10-13" name="FromDate" onchange="FromToDateValidation()" type="date" value="2021-10-01">*@
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                @Html.HiddenFor(model => model.FromDate, new { @id = "hdFromdate" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @if (Model.txtToDate != null)
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MMM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.txtToDate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MMM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }

                                @*<input value="2021-10-13" class="form-control" data-val="true" data-val-date="The field ToDate must be a date." data-val-required="The ToDate field is required." id="txtTodate" max="2021-10-13" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">*@

                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <div class="col-md-9 col-sm-12 no-padding">
                                    <label class="col-form-label label-align">@Resource.Status <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.ListStatus, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" onclick="FilterProductionCnfListData();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="tbodyproductioncnfList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_ProductionConfirmationList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
