@model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.MIS.ProcurementDetail.ProcurementDetail_Model
@using EnRepMobileWeb.Resources;
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>

<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/MIS/ProcurementDetail/ProcurementDetail.js"></script>
<script src="multiselect-dropdown.js"></script>
@*/*Add by Hina on 15-11-2024 to multiselect dropdown*/*@
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<style>
    .multiselect, .dropdown-toggle {@*/*Add by Hina on 15-11-2024 to multiselect dropdown*/*@
        width: 100% !important;
        min-width: 100%;
        text-align: left;
        min-height: 15px;
    }

    .multiselect-container {
        height: 400px;
        overflow-y: scroll;
    }
</style>
@using (Html.BeginForm("ProcurementDetailCommands", "ProcurementDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!--Procurement Invoice Detail -->
        <div id="ProcurementInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementInvoiceDetailPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementInvoiceDetail.cshtml")

            </div>
        </div>
        <!--Procurement Supplier Wise Invoice Summary -->
        <div id="ProcurementSupplierWiseInvoiceSummary" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementSupplierWiseInvoiceSummaryPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementSupplierWiseInvoiceSummary.cshtml")
            </div>
        </div>
        <!--Procurement Supplier Wise Invoice Detail -->
        <div id="ProcurementSupplierWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementSupplierWiseInvoiceDetailPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementSupplierWiseInvoiceDetail.cshtml")
            </div>
        </div>
        <!-- Procurement Item Wise Invoice Detail -->
        <div id="ProcurementItemWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementItemWiseInvoiceDetailPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/ProcurementItemWiseInvoiceDetail.cshtml")
            </div>
        </div>
        <!-- Procurement Item Group Wise Item Detail -->
        <div id="ProcurementItemGroupWiseItemDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementItemGroupWiseItemDetailPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/ProcurementItemGroupWiseItemDetail.cshtml")
            </div>
        </div>
        <!-- Procurement Item Group Wise Item Invoice Detail -->
        <div id="ProcurementItemGroupWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="ProcurementItemGroupWiseInvoiceDetailPopUp" style="min-width:1000px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/ProcurementItemGroupWiseInvoiceDetail.cshtml")
            </div>
        </div>
        <!-- Item Information -->
        <div id="ItemInfo" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" style="min-width:700px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
            </div>
        </div>
        @Html.HiddenFor(m => m.CsvData, new { @id = "HdnCsvData" })
        @Html.HiddenFor(m => m.hdnCSVPrint, new { @id = "hdnCSVPrint" })
        @Html.HiddenFor(m => m.hdnInvoiceWiseItemDetail, new { @id = "hdnInvoiceWiseItemDetail" })
        @Html.HiddenFor(m => m.hdnSupplierWiseInvoiceDetail, new { @id = "hdnSupplierWiseInvoiceDetail" })
        @Html.HiddenFor(m => m.hdnSupplierWiseInvoiceItemDetail, new { @id = "hdnSupplierWiseInvoiceItemDetail" })
        @Html.HiddenFor(m => m.hdnItemWiseInvoiceDetail, new { @id = "hdnItemWiseInvoiceDetail" })
        @Html.HiddenFor(m => m.hdnItemGroupWiseItemDetail, new { @id = "hdnItemGroupWiseItemDetail" })
        @Html.HiddenFor(m => m.hdnItemGroupWiseItemInvoiceDetail, new { @id = "hdnItemGroupWiseItemInvoiceDetail" })
        @Html.HiddenFor(m => m.hdnInsightBtn, new { @id = "hdnInsightBtn" })
        @Html.HiddenFor(m => m.TaxColumnJson_forCsv, new { @id = "hdn_prcDtlTaxClmnJson_forCsv" })
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-4 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <div class="col-md-1 col-sm-12 text-right">
                        <label class="col-form-label label-align">@Resource.Branch</label>
                    </div>
                    <div class="col-md-3 col-sm-12 pl-0 multiselectBranch">
                        <div id="div_ddl_brlist">
                            @Html.Partial("~/Areas/Common/Views/Comn_PartialBranchList.cshtml")
                        </div>
                        <span class="error_message" id="span_br" style="display: none;"></span>
                        @Html.HiddenFor(model => model.hdnbr_id, new { @id = "Hdn_brlist" })
                    </div>
                    <div id="" class="col-md-2 col-sm-12 no-margin no-padding ">
                        <div class="col-md-4 col-sm-12 no-margin no-padding ">
                            <label class="col-form-label label-align">@Resource.ShowAs </label>
                        </div>
                        <div class="col-md-8 col-sm-12 no-margin no-padding ">
                            @Html.DropDownListFor(model => model.purchase_by, new SelectList(new List<SelectListItem>
                               {new SelectListItem {Text="Invoice wise",Value="I" },
                                new SelectListItem {Text="Supplier wise",Value="S" },
                                new SelectListItem {Text="Item wise",Value="T" },
                                new SelectListItem {Text="Item Group wise",Value="G" },
                                new SelectListItem {Text="Inter Branch Purchase",Value="B" }
                       }, "Value", "Text"),
                         new { @class = "form-control", @id = "ddl_Purchase_by", @onchange = "OnchangePurchaseBy()", @name = "Sales_by" })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 pl-3">
                        @Resource.Summary<span>&nbsp;</span>
                        <input checked="checked" class="" id="ProcurementMISOrderSummary" onclick="onchangeShowAs()" name="MISOrderType" type="radio" value="S">
                        <span>&nbsp;</span> @Resource.Detail<span>&nbsp;</span>
                        <input class="" id="ProcurementMISOrderDetail" onclick="onchangeShowAs()" name="MISOrderType" type="radio" value="D">
                    </div>
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <form class="available_stock pad_mar" action="" method="post" novalidate="">
                                <div class="col-md-12 col-sm-12 no-padding">
                                    <div class="col-md-2 col-sm-12" id="div_ddl_SupplierName">
                                        <label class="col-form-label label-align">@Resource.SupplierName </label>
                                        @*@Html.DropDownListFor(model => model.Supp_id, new SelectList(new List<SelectListItem>
                            {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                            new { @class = "form-control", @id = "ddl_SupplierName", @name = "SupplierName", @multiple = "multiple", @onchange = "OnchngeSuppName()" })*@@*/*Add @multiple = "multiple", @onchange = "OnchngeSuppName()" by Hina on 15-11-2024 to make multiselect dropdown*/*@
                            @Html.DropDownListFor(model => model.Supp_id, new SelectList(Model.SupplierNameList, "supp_id", "supp_name"), new { @class = "form-control", @id = "ddl_SupplierName", @onchange = "OnchngeSuppName()", @multiple = "multiple" })
                            @*<input type="hidden" id="SuppNameList" value='@Url.Action("GetAllDropDownData", "ProcurementDetail")' />*@
                            <input type="hidden" id="SuppNameList" value='@Url.Action("GetAutoCompleteSearchSuppList", "ProcurementDetail")' />
                            @Html.HiddenFor(Model => Model.HdnMultiselectSuppName, new { @id = "hdn_MultiselectSuppName" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_ddl_PurchaseType">
                            <label class="col-form-label label-align">@Resource.PurchaseType </label>
                            @Html.DropDownListFor(model => model.Inv_type, new SelectList(new List<SelectListItem>
                       {
                           //new SelectListItem {Text="---All---",Value="0" },
                      new SelectListItem {Text="Domestic",Value="D" },
                      new SelectListItem {Text="Import",Value="I" },
                      new SelectListItem {Text="Service",Value="SP" },
                   new SelectListItem {Text="Consumable",Value="CO" },
                   new SelectListItem {Text="Direct Purchase",Value="DP" },
                   new SelectListItem {Text="Inter Branch",Value="IB" }
                       }, "Value", "Text"),
new { @class = "form-control", @id = "ddl_PurchaseType", @name = "PurchaseType", @multiple = "multiple" })
                            @Html.HiddenFor(Model => Model.Inv_type, new { @id = "hdnPurchaseType" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_ddl_ItemGroup">
                            <label class="col-form-label label-align">@Resource.ItemGroup </label>
                            @*@Html.DropDownListFor(model => model.RegionName, new SelectList(new List<SelectListItem>
                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                new { @class = "form-control", @id = "ddl_ItemGroup", @name = "ItemGroup" })
                     <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "StockDetail")'/>*@
                            @Html.DropDownListFor(model => model.ItemGroupName, new SelectList(Model.ItemGroupNameList, "Group_Id", "Group_Name"), new { @class = "form-control", @id = "ddl_ItemGroup", @onchange = "OnchngeItmGrpName()", @multiple = "multiple" })
                            @*<input type="hidden" id="ItemGrpName" value='@Url.Action("GetAllDropDownData", "ProcurementDetail")' />*@
                            <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "ProcurementDetail")' />
                            @Html.HiddenFor(Model => Model.HdnMultiselectItmGrpName, new { @id = "hdn_MultiselectItmGrpName" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_ItemPortfolio">
                            <label class="col-form-label label-align">@Resource.ItemPortfolio </label>
                            @*@Html.DropDownListFor(model => model.Item_PortFolio, new SelectList(new List<SelectListItem>
                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                new { @class = "form-control", @id = "ItemPortfolio", @name = "ItemPortfolio" })
                    <input type="hidden" id="ItemPortfName" value='@Url.Action("GetItemPortfList", "StockDetail")' />*@
                            @Html.DropDownListFor(model => model.Item_PortFolio, new SelectList(Model.ItemPortfolioList, "Prf_Id", "Prf_Name"), new { @class = "form-control", @id = "ItemPortfolio", @onchange = "OnchngeItmPFName()", @multiple = "multiple" })
                            @*<input type="hidden" id="ItemPortfName" value='@Url.Action("GetAllDropDownData", "ProcurementDetail")' />*@
                            <input type="hidden" id="ItemPortfName" value='@Url.Action("GetItemPortfList", "ProcurementDetail")' />
                            @Html.HiddenFor(Model => Model.HdnMultiselectItmportfolioName, new { @id = "hdn_MultiselectItmportfolio" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_SupplierCategory">
                            <label class="col-form-label label-align">@Resource.SupplierCategory </label>
                            @*@Html.DropDownListFor(model => model.category, new SelectList(Model.categoryLists, "cat_id", "cat_val"),
                new { @class = "form-control", @id = "ddl_SupplierCategory", @name = "SupplierCategory" })*@@*/*Commented and modify  by Hina on 15-11-2024 to make multiselect dropdown*/*@
                @Html.DropDownListFor(model => model.category, new SelectList(Model.categoryLists, "cat_id", "cat_val"),
new { @class = "form-control", @id = "ddl_SupplierCategory", @name = "SupplierCategory", @onchange = "OnchngeSuppCategory()", @multiple = "multiple" })
                @Html.HiddenFor(Model => Model.HdnMultiselectSuppCatgry, new { @id = "hdn_MultiselectSuppCatgry" })
                </div>
                <div class="col-md-2 col-sm-12" id="div_SupplierPortfolio">
                    <label class="col-form-label label-align">@Resource.SupplierPortfolio </label>
                    @Html.DropDownListFor(model => model.Supp_PortFolio, new SelectList(Model.portFolioLists, "Portfolio_id", "Portfolio_val"),
new { @class = "form-control", @id = "SupplierPortfolio", @name = "SupplierPortfolio", @onchange = "OnchngeSuppPortFolio()", @multiple = "multiple" })
                    @*/*Add @multiple = "multiple", @onchange = "OnchngeSuppPortFolio()" by Hina on 15-11-2024 to make multiselect dropdown*/*@
                    @Html.HiddenFor(Model => Model.HdnMultiselectPortfolio, new { @id = "hdn_MultiselectPortfolio" })
                </div>
                <div class="col-md-2 col-sm-12" id="div_ddl_RCMApplicable">
                    @*/*add by Hina sharma on 30-06-2025*/*@
                    <label class="col-form-label label-align">@Resource.RCM @Resource.Applicable  </label>
                    @Html.DropDownListFor(model => model.RCMApplicable, new SelectList(new List<SelectListItem>
               {
                   //new SelectListItem {Text="---All---",Value="0" },
              new SelectListItem {Text="Yes",Value="Y" },
              new SelectListItem {Text="No",Value="N" },
             }, "Value", "Text"),
new { @class = "form-control", @id = "ddl_RCMApplicable", @name = "RCMApplicable", @multiple = "multiple" })
                    @Html.HiddenFor(model => model.RCMApplicable, new { id = "hdnRCMApplicable", })

                </div>
                <div class="col-md-3 col-sm-12" id="div_HSNCode">
                    <label class="col-form-label label-align">@Resource.HSNCode </label>
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", @multiple = "multiple" })
                        <span id="SpanHSNErrorMsg" class="error_message"></span>
                        <input type="hidden" id="ajaxUrlGetAutoCompleteSearchHSN" value='@Url.Action("GetAutoCompleteSearchHSN", "ProcurementDetail")' />
                        @Html.HiddenFor(model => model.HSN_code, new { id = "hdHsnID" })
                    </div>
                </div>
                <div class="" id="div_clear"></div>
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">
                        @Resource.FromDate
                    </label>
                    @Html.TextBoxFor(model => model.From_dt, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">
                        @Resource.ToDate
                    </label>
                    @Html.TextBoxFor(model => model.To_dt, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                </div>
                <div class="col-md-1 col-sm-12">
                    <button type="button" class="btn btn-primary btn-sm margintop20" onclick="BtnSearchReport();" id="BtnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                </div>
                </form>
                </div>
                <div class="clearfix"></div>
                </div>
                </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel mar_pad1 ">
                        <div class="x_content mar_pad1">
                            <div class="card-box table-responsive dy_table">
                                <div class="sticky-table sticky-ltr-cells sb-container container-example1" id="AllPartials">
                                    <div id="Tbl_ProcurementDetailInvoiceWiseList">
                                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_ProcurementDetailInvoiceWiseList.cshtml")*@
                                    </div>
                                    <div id="PartialMIS_ProcurementDetailSupplierWiseList" style="display:none">
                                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_ProcurementDetailSupplierWiseList.cshtml")*@
                                    </div>
                                    <div id="PartialMIS_ProcurementDetailItemWiseList" style="display:none">
                                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_ProcurementDetailItemWiseList.cshtml")*@
                                    </div>
                                    <div id="PartialMIS_ProcurementDetailItemGroupWiseList" style="display:none">
                                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_ProcurementDetailItemGroupWiseList.cshtml")*@
                                    </div>
                                    <div id="Tbl_ProcurementDetailInterBranchPurchaseWiseList">
                                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_ProcurementDetailInterBranchPurchaseWiseList.cshtml")*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
<!-- page content end -->
