@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.JournalBook.JournalBookModel
@using EnRepMobileWeb.Resources;
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<style>
    .sticky-table {
        height: 55vh;
    }
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/JournalBook/JournalBook.js"></script>
@using (Html.BeginForm("JournalBookPrintCsv", "JournalBook", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
<div class="row">

    <!-- Bill Adjustment -->
    <div id="BillAdjustment" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:1300px;">

            <div class="price_item_detail height30VH">
                @{
                    ViewBag.TransType = "Update";
                    ViewBag.Command = "Update";
                    //ViewBag.DocumentStatus = Model.DocumentStatus;
                    ViewBag.DocumentMenuId = "105104135133";
                }
                @Html.Partial("~/Areas/Common/Views/PartialBillAdjustment.cshtml")
            </div>
        </div>
    </div>
    <!-- Cost Center Detail Start -->
    <div id="CostCenterDetail" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class=" height30VH" id="CostCenterDetailPopup">
            </div>
            @Html.HiddenFor(model => model.CC_DetailList, new { @id = "hdn_CC_DetailList" })

        </div>

    </div>
    <!-- Cost Center Detail End -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero ">
                        <div class="pb-2 float-left">
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Voucher @Resource.Date @Resource.From <span class="required">*</span></label>
                                @*<input class="form-control" id="VoucherFromdate" max="2025-03-19" name="VoucherFromdate" onchange="" type="date" value="2025-03-01">*@
                                @*@Html.TextBoxFor(model => model.FromVouDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @min = @ViewBag.FromFyMindate.ToString(), @max = @ViewBag.ToFyMaxdate.ToString() })*@
                                @Html.TextBoxFor(model => model.FromVouDate, new { @class = "form-control", @id = "txtFromdateJB", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                                @Html.HiddenFor(model => model.FromVouDate, new { @id = "hdFromdate" })
                                @Html.HiddenFor(model => model.From_VouDate, new { @id = "hdn_From_VouDate" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Voucher @Resource.Date @Resource.to1 <span class="required">*</span></label>
                                @*<input class="form-control" id="VoucherTodate" max="2025-03-19" name="VoucherTodate" onchange="" type="date" value="2025-03-01">*@
                                @*@Html.TextBoxFor(model => model.ToVouDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @min = @ViewBag.ToFyMindate.ToString(), @max = @ViewBag.ToFyMaxdate.ToString(), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })*@
                                @if (Model.ToVouDate != null)
                                {
                                    @Html.TextBoxFor(model => model.ToVouDate, new { @class = "form-control", @id = "txtTodateJB", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToVouDate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ToVouDate, new { @class = "form-control", @id = "txtTodateJB", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }
                                @Html.HiddenFor(model => model.To_VouDate, new { @id = "hdn_To_VouDate" })
                            </div>
                            <div class="col-md-4 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.GLGroup <span class="required"></span></label>
                                @*<select class="form-control" id="GL_Group" name="GL_Group" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option value="">GL Group</option>
        </select>*@
                                @Html.DropDownListFor(model => model.ddlGroup, new SelectList(Model.GlGroupNameList, "acc_grp_id", "acc_grp_name"), new { @class = "form-control", @id = "acc_group", @onchange = "OnChangeGLGroup()" })
                                @Html.HiddenFor(model => model.ddlGroup, new { @id = "hdn_GLGroupId" })
                                @Html.HiddenFor(model => model.ddlGroupName, new { @id = "hdn_ddlGroupName" })
                                @*<select class="form-control" id="acc_group" name="acc_group">
            <option selected="selected" value="0">ALL</option>
        </select>*@
                                <input type="hidden" id="GLAccGrp" value='@Url.Action("GetAutoCompleteAccGrp", "JournalBook")' />
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.GLAccount <span class="required"></span></label>
                                @*<select class="form-control" id="GL_Account" name="GL_Account" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option value="">GL Account</option>
        </select>*@
                                @Html.DropDownListFor(model => model.GLAccount, new SelectList(Model.GLAccountList, "glacc_id", "glacc_name"), new { @id = "ddl_GLAccountList", @class = "form-control", @onchange = "OnChangeGLAccount()" })
                                @Html.HiddenFor(model => model.GLAccount, new { @id = "hdn_GLAccountID" })
                                <input type="hidden" id="GLListName" value='@Url.Action("GetAutoCompleteGLList", "JournalBook")' />
                                @Html.HiddenFor(model => model.GLAccountName, new { @id = "hdn_GLAccountName" })
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Voucher @Resource.Amount @Resource.From <span class="required"></span></label>
                                @*<input id="VoucherAmountFrom" value="50.000" class="form-control num_right" autocomplete="off" type="text" name="VoucherAmountFrom" placeholder="0000.00">*@
                                @Html.TextBoxFor(model => model.VouAmountFrom, new { @id = "txt_VouAmountFrom", @class = "form-control num_right", autocomplete = "off", @placeholder = "0000.00", onchange = "OnChangeVouAmtFrom();" })
                                @Html.HiddenFor(model => model.VouAmountFrom, new { @id = "hdn_VouAmntFrom" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Voucher @Resource.Amount @Resource.to1 <span class="required"></span></label>
                                @*<input id="VoucherAmountTo" value="50.000" class="form-control num_right" autocomplete="off" type="text" name="VoucherAmountTo" placeholder="0000.00">*@
                                @Html.TextBoxFor(model => model.VouAmountTo, new { @id = "txt_VouAmountTo", @class = "form-control num_right", @placeholder = "0000.00", onchange = "OnChangeVouAmtTo();", autocomplete = "off" })
                                @Html.HiddenFor(model => model.VouAmountTo, new { @id = "hdn_VouAmntTo" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Voucher @Resource.Type <span class="required"></span></label>
                                @*<select class="form-control" id="Voucher_Type" name="Voucher_Type" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option>Voucher Type</option>
        </select>*@
                                @Html.DropDownListFor(model => model.VouType, new SelectList(new List<Object>
                                               {
                               new { value = "0", text = "---Select---"  },
                                               new { value = "JV", text = "Journal Voucher"  },
                                                new { value = "BP", text = "Bank Payment"  },
                                                new { value = "BR" , text = "Bank Receipt" },
                                                new { value = "CP" , text = "Cash Payment" },
                                                new { value = "CR" , text = "Cash Receipt" },
                                                new { value = "CT" , text = "Contra" },
                                                new { value = "DN" , text = "Debit Note" },
                                                new { value = "CN" , text = "Credit Note" },
                                                new { value = "PV" , text = "Purchase Voucher" },
                                                new { value = "SV" , text = "Sale Voucher" },
                                                //new { value = "EV" , text = "Imprest Voucher" },

                                               },
                                              "value",
                                              "text"
                                              ), new { @class = "form-control", @id = "ddl_Voutype", @onchange = "OnchangeVouType()" })
                                @Html.HiddenFor(model => model.VouType, new { @id = "hdn_VouType" })
                                @Html.HiddenFor(model => model.VouTypeName, new { @id = "hdn_VouTypeName" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Created @Resource.By <span class="required"></span></label>
                                @*<select class="form-control" id="CreatedBy" name="CreatedBy" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option>Created By</option>
        </select>*@
                                @Html.DropDownListFor(model => model.CreatedBy, new SelectList(Model.CreatorList, "creator_id", "creator_name"), new { @class = "form-control", id = "ddl_CreatedBy" })
                                @Html.HiddenFor(model => model.CreatorName, new { @id = "hdn_CreatorName" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Created @Resource.On <span class="required"></span></label>
                                @*<input class="form-control" id="CreatedOndate" max="2025-03-19" name="CreatedOndate" onchange="" type="date" value="2025-03-01">*@
                                @Html.TextBoxFor(model => model.CreatedOn, new
                           {
                               @class = "form-control",
                               @id = "txt_CreatedOn",
                               @onchange = "FromToDateValidation()",
                               @type = "date",
                               @min = @ViewBag.FromFyMindate.ToString(),
                               @max = @ViewBag.ToFyMaxdate.ToString()
                           })
                                @Html.HiddenFor(model => model.CreateDate, new { @id = "hdn_CreateDate" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Approved @Resource.By <span class="required"></span></label>
                                @*<select class="form-control" id="ApprovedBy" name="ApprovedBy" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option>Approved By</option>
        </select>*@
                                @Html.DropDownListFor(model => model.ApprovedBy, new SelectList(Model.ApproverList, "approver_id", "approver_name"), new { @class = "form-control", id = "ddl_ApprovedBy" })
                                @Html.HiddenFor(model => model.ApproverName, new { @id = "hdn_ApproverName" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Approved @Resource.On <span class="required"></span></label>
                                @*<input class="form-control" id="ApprovedOndate" max="2025-03-19" name="ApprovedOndate" onchange="" type="date" value="2025-03-01">*@
                                @Html.TextBoxFor(model => model.ApprovedOn, new
                           {
                               @class = "form-control",
                               @id = "txt_ApprovedOn",
                               @onchange = "FromToDateValidation()",
                               @type = "date",
                               @min = @ViewBag.FromFyMindate.ToString(),
                               @max = @ViewBag.ToFyMaxdate.ToString()
                           })
                                @Html.HiddenFor(model => model.ApproveDate, new { @id = "hdn_ApproveDate" })
                            </div>
                            <div class="col-md-4 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Narration <span class="required"></span></label>
                                @*<textarea class="form-control remarksmessage" cols="20" id="Narration" maxlength="200" name="Narration" placeholder="@Resource.Narration" readonly="readonly" rows="2" onmouseover="OnMouseOver(this)" title=""></textarea>*@
                                @Html.TextAreaFor(model => model.Narration, new { @class = "form-control remarksmessage", @cols = "20", @id = "txt_Narration", @maxlength = "1000", @name = "mrs_nart", @placeholder = Resource.Narration, @rows = "2", @onchange = "OnchangeNarr()" })
                                @Html.HiddenFor(model => model.Narration, new { @id = "hdn_Narr" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Status <span class="required"></span></label>
                                @*<select class="form-control" id="Status" name="Status" onchange="">
            <option selected="selected" value="0">---Select---</option>
            <option>Approved</option>
        </select>*@
                                @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                @Html.HiddenFor(model => model.StatusName, new { @id = "hdn_StatusName" })
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="SearchAllVouchersDetails()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="MISJournalBookDetails" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialJournalBook.cshtml")
                    </div>
                    @Html.HiddenFor(model => model.PrintData, new { @id = "JBPrintData" })
                    @Html.HiddenFor(model => model.searchValue, new { @id = "JBsearchValue" })
                    @Html.HiddenFor(model => model.hdnPDFPrint, new { @id = "hdnJBPDFPrint" })
                    @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnJBCSVPrint" })
                    @Html.HiddenFor(model => model.Allfilters, new { @id = "Allfilters" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
 }