@using System.Data;
<style>
    .main_header {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }

    .main {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
        /*min-height:1000px;*/
    }

    .cn {
        width: 260px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }

    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cn .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .cn .top_right {
        width: 160px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .bor {
        padding-top: 2px;
        width: 255px;        
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }

        .bor img {
            width: 80px;
            height: auto;
            border: 0px;
            float: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .right {
            width: 135px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }
    /*.remarks {
    width: 200px;
    float: left;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    text-align: justify;
    }*/
    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }

    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }



    .fontsize {
        font-family: Arial;
        font-size: 9px;
        text-align: left;
        padding-left: 3px;
    }

    .pa_l {
        padding-left: 2px;
    }
    .pa_l_pendqty {
        /*padding-left: 2px;*/
        font-size: 9px;
        font-weight:bold;
    }
    .t_p_o_v {
       
        float: left;
        font-family: Arial;
        font-size: 11px;
        text-align: left;
        line-height:18px;
        paddingbottom:2px;
        paddingtop:2px;
    }
</style>

@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}
<table class="main">
    <tr>
        <td>
            <table class="main_header">
                @if (ViewBag.DocumentMenuId == "105103190125")
                {
                    <tr>
                        <td width="30%">
                            <img src="@lpath" alt="Logo" width="150" />
                        </td>
                        <td class="invoice" width="45%" align="center">@ViewBag.Title.ToString()</td>
                        <td class="t_p_o_v" width="35%" align="left">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="t_p_o_v">
                                <tr >
                                    <td width="57%">Total No. Of Items</td>
                                    <td width="3%">:</td>
                                    <td width="40%"> <strong> @ViewBag.Details.Tables[1].Rows[0]["ItemCount"].ToString() </strong> </td>
                                </tr>
                                <tr>
                                    <td>Total Order Value</td>
                                    <td>:</td>
                                    <td> <strong> @ViewBag.Details.Tables[2].Rows[0]["totalorderValue"].ToString() </strong></td>
                                </tr>
                                <tr>
                                    <td>Total Order Weight</td>
                                    <td>:</td>
                                    <td> <strong>@ViewBag.Details.Tables[2].Rows[0]["totalwght_kg"].ToString()</strong></td>
                                </tr>
                                <tr>
                                    <td>Total Pending Order Value</td>
                                    <td>:</td>
                                    <td> <strong>@ViewBag.Details.Tables[2].Rows[0]["totalPendingAmount"].ToString()</strong> </td>
                                </tr>
                                <tr>
                                    <td>Total pending weight</td>
                                    <td>:</td>
                                    <td> <strong>@ViewBag.Details.Tables[2].Rows[0]["totalPendingwght_kg"].ToString()</strong></td>
                                </tr>
                            </table>
                            @*Total No. Of Items : @ViewBag.Details.Tables[1].Rows[0]["ItemCount"].ToString() <br />
                            Total Order Value : @ViewBag.Details.Tables[2].Rows[0]["totalorderValue"].ToString() <br />
                            Total Order Weight : @ViewBag.Details.Tables[2].Rows[0]["totalwght_kg"].ToString() <br />
                            Total Pending Order Value : @ViewBag.Details.Tables[2].Rows[0]["totalPendingAmount"].ToString() <br />
                            Total pending weight : @ViewBag.Details.Tables[2].Rows[0]["totalPendingwght_kg"].ToString()*@

                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td width="40%">
                            <img src="@lpath" alt="Logo" width="150" />
                        </td>
                        <td class="invoice" width="60%">@ViewBag.Title.ToString()</td>
                       
                    </tr>
                }

            </table>
        </td>
    </tr>
    @if (ViewBag.DocumentMenuId != "105103190125")
    {
        <tr>
            <td>
                <table class="main_header">
                    <tr>
                        <td class="cn">
                            <table>
                                <tr>
                                    <td class="top_left">Customer Name</td>
                                    <td class="top_right"><strong>:</strong>&nbsp;@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td>
                                </tr>
                            </table>
                        </td>
                        <td class="on">
                            <table>
                                <tr>
                                    <td class="top_left">Order Number</td>
                                    <td class="top_right"><strong>:</strong>&nbsp;@ViewBag.Details.Tables[0].Rows[0]["so_no"].ToString()</td>
                                </tr>
                            </table>
                        </td>
                        <td class="od">
                            <table>
                                <tr>
                                    <td class="top_left">Order Date</td>
                                    <td class="top_right"><strong>:</strong>&nbsp;@ViewBag.Details.Tables[0].Rows[0]["so_dt"].ToString()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                @*<table class="main_header">
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>*@
            </td>
        </tr>
    }

    <tr>
        <td style="padding-left:10px;">
            <table class="main_header">
                <tr>
                    <td>
                        @if (ViewBag.Details.Tables[0].Rows != null)
                        {
                            DataView data = new DataView();
                            foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                            {
                                string itemPath = Server.MapPath("~") + "..\\Attachment\\ItemSetup\\";
                                string itemPath1 = itemPath + @dr["item_img_name"].ToString().Replace("/", "\\'");
                                var ItemImage = itemPath1.Replace("~\\", "").Replace("\\\\", "\\").Replace("'", "");
                                <div class="bor">
                                    <div class="bor">
                                        <table class="fontsize" width="96%" style="border: 1px solid #000000; overflow:hidden;">
                                            <tr>
                                                <td colspan="3">
                                                    <table width="100%">
                                                        <tr>
                                                            @*<td height="100" style="text-align:center;">
                                                                <img src="@ItemImage" />
                                                            </td>*@

                                                            <td height="150" style="text-align:center;"> <img src="@ItemImage" style="width:100px; height:100%; object-fit:contain;" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowItemName"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l">Item Name</td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">
                                                                @dr["item_name"].ToString()
                                                                <br />@dr["sub_item_ord_qty"].ToString()                                                    @*<table class="fontsize">
                                <tr>
                                    <td valign="top"></td>
                                </tr>
                            </table>*@
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowCustSpecItemDesc"].ToString() == "Y")//add by shubham Maurya on 18-09-2025
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l">Customer Specific</td>
                                                            <td width="3%"  valign="top">:</td>
                                                            <td width="62%"  valign="top" height="30">
                                                                @dr["custWiseItemDes"].ToString()
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l">Item Name</td>
                                                    <td width="3%">:</td>
                                                    <td width="62%">
                                                        @dr["item_name"].ToString()
                                                        <br />@dr["sub_item_ord_qty"].ToString()                                                    @*<table class="fontsize">
                        <tr>
                            <td valign="top"></td>
                        </tr>
                    </table>*@
                                                    </td>
                                                </tr>
                                            }
                                            @if (ViewBag.DocumentMenuId != "105103190125")
                                            {
                                                <tr>
                                                    <td width="35%" class="pa_l">HSN/SAC</td>
                                                    <td width="3%">:</td>
                                                    <td width="62%">@dr["hsn_code"].ToString()</td>
                                                </tr>
                                            }

                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowUOM"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" class="pa_l">UOM</td>
                                                            <td width="3%">:</td>
                                                            <td width="62%"> @dr["uom_alias"].ToString()</td>
                                                        </tr>
                                                    }
                                                }


                                            }
                                            else
                                            {
                                                <tr>
                                                    <td width="35%" class="pa_l">UOM</td>
                                                    <td width="3%">:</td>
                                                    <td width="62%"> @dr["uom_alias"].ToString()</td>
                                                </tr>
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowHSN"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>HSN </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["HSN_code"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowRefrenceNumber"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>Reference No. : </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["ref_doc_no"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowOEMNo"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>OEM No. : </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["item_oem_no"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowTechSpec"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>Tech Specification </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["item_tech_spec"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowTechDesc"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>Tech Description </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["item_tech_des"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowWeight"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" valign="top" class="pa_l"> <div>Weight (In Kg) </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%"> @dr["wght_kg"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Order Number </div></td>
                                                    <td width="3%">:</td>
                                                    <td width="62%"> @dr["so_no"].ToString()</td>
                                                </tr>
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Order Date </div></td>
                                                    <td width="3%">:</td>
                                                    <td width="62%"> @dr["so_dt"].ToString()</td>
                                                </tr>
                                            }
                                            @*<tr>
            <td width="35%" valign="top" class="pa_l"> <div>Tech Description :</div></td>
            <td>@dr["item_tech_des"].ToString()</td>
        </tr>
        <tr>
            <td width="35%" class="pa_l">Reference No. :</td>
            <td>@dr["RefereanceNo"].ToString()</td>
        </tr>*@
                                            <tr>
                                                <td width="35%" class="pa_l">Order Quantity</td>
                                                <td width="3%">:</td>
                                                <td width="62%">@dr["OrderQty"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td width="35%" class="pa_l_pendqty"><strong>Pending Quantity</strong></td>
                                                <td width="3%">:</td>
                                                <td width="62%" class="pa_l_pendqty">@dr["PendingQty"].ToString()</td>
                                            </tr>

                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowPrice"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" class="pa_l"> <div>Price </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["currLogo"].ToString() @dr["price"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowPendingAmt"].ToString() == "Y")//add by shubham Maurya on 18-09-2025
                                                    {
                                                        <tr>
                                                            <td width="35%" class="pa_l"> <div>Pending Amount </div></td>
                                                            <td width="3%">:</td>
                                                            <td width="62%">@dr["currLogo"].ToString() @dr["PendingAmount"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId != "105103190125")
                                            {
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Tech Specification </div></td>
                                                    <td width="3%">:</td>
                                                    <td width="62%">@dr["item_tech_spec"].ToString()</td>
                                                </tr>
                                            }
                                            @if (ViewBag.DocumentMenuId != "105103190125")
                                            {
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Weight (In Kg) </div></td>
                                                    <td width="3%">:</td>
                                                    <td width="62%"> @dr["wght_kg"].ToString()</td>
                                                </tr>
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowCustName"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" class="pa_l">Customer Name</td>
                                                            <td width="3%">:</td>
                                                            <td width="62%"> @dr["cust_name"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.DocumentMenuId == "105103190125")//add by shubham Maurya on 18-09-2025
                                            {
                                                if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowBomAvl"].ToString() == "Y")
                                                    {
                                                        <tr>
                                                            <td width="35%" class="pa_l">BOM Available</td>
                                                            <td width="3%">:</td>
                                                            <td width="62%"> @dr["HasBOM"].ToString()</td>
                                                        </tr>

                                                    }
                                                }

                                            }
                                        <tr>
                                            <td valign="top" colspan="3" class="pa_l" height="100">
                                                Remarks<br /> @dr["it_remarks"].ToString()
                                            </td>

                                            @*<td height="150" style="text-align:center;"> <img src="@ItemImage" style="width:100px; height:100%; object-fit:contain;" /></td>*@
                                        </tr>
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>








