@using System.Data;
@{

    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
}
<style>
    .td_lef_con_n {
        font-size: 12px;
        font-weight: bold;
        width: 18%;
        paddingleft: 7%;
    }

    .td_lef_con_b {
        font-size: 12px;
        font-weight: bold;
        width: 18%;
        paddingleft: 7%;
    }

    .td_lef_con_C {
        font-size: 12px;
        font-weight: bold;
        width: 5%;
        padding: 0px;
        margin: 0px;
    }

    .td_lef_con_r {
        font-size: 12px;
        font-weight: normal;
        width: 65%;
        paddingright: 5%;
    }

    .td_lef_con_n_r {
        font-size: 12px;
        font-weight: bold;
        width: 23%;
        paddingleft: 7%;
    }

    .td_lef_con_b_r {
        font-size: 12px;
        font-weight: bold;
        width: 23%;
        paddingleft: 7%;
    }

    .td_lef_con_C_r {
        font-size: 12px;
        font-weight: bold;
        width: 5%;
        padding: 0px;
        margin: 0px;
    }

    .td_lef_con_r_r {
        font-size: 12px;
        font-weight: normal;
        width: 60%;
        paddingright: 5%;
    }

    .v_t {
        vertical-align: top;
    }

    .m_t {
        marginbottom: 10px;
    }

    .p_t {
        paddingtop: 10px;
    }

    .p_r {
        paddingright: 10px;
    }
</style>
<div @*style='background: url(@BackGroundImgUrl) no-repeat ; '*@>
    @*@Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")/*commented  by hina sharma on 17-04-2025 to make */*@
    <table width='100%' style="vertical-align: top;">
        <tr>
            <td class="v_t">
                <table class="v_t" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style='width:10px;'></td>
                        <td>

                            <table class="v_t" width="100%" cellpadding="0" cellspacing="0" style='width:100%;border:solid 1px #000000;'>
                                <tr>
                                    <td style='width:50%;border-right:solid 1px #000000;' class="v_t">
                                        <table class="v_t " width="100%" cellpadding="0" cellspacing="0">
                                            @if (ViewBag.DocumentMenuId == "105103125")
                                            {
                                                <tr>
                                                    <td class="td_lef_con_b">Customer  </td>
                                                    <td class="td_lef_con_c p_r">:</td>
                                                    <td class="td_lef_con_r">
                                                        @if (ViewBag.PrintOption != null)
                                                        {
                                                            if (ViewBag.PrintOption.Rows[0]["CustAliasName"].ToString() == "Y")
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["cust_alias"].ToString()
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()
                                                        }
                                                    </td>

                                                </tr>

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td class="td_lef_con_b"> Customer </td>
                                                    <td class="td_lef_con_c p_r">:</td>
                                                    <td class="td_lef_con_r">@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="td_lef_con_b v_t">Bill To </td>
                                                <td class="td_lef_con_c v_t">:</td>
                                                <td class="td_lef_con_r v_t">
                                                    @ViewBag.Details.Tables[0].Rows[0]["cust_add"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b v_t">Ship To </td>
                                                <td class="td_lef_con_c v_t">:</td>
                                                <td class="td_lef_con_r v_t">
                                                    @ViewBag.Details.Tables[0].Rows[0]["ShipTo"].ToString()
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td class="td_lef_con_b">Pin Code </td>
                                                <td class="td_lef_con_c p_r">:</td>
                                                <td class="td_lef_con_r"> @ViewBag.Details.Tables[0].Rows[0]["cust_pin"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b">State </td>
                                                <td class="td_lef_con_c p_r">:</td>
                                                <td class="td_lef_con_r">@ViewBag.Details.Tables[0].Rows[0]["cust_state"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b">Country </td>
                                                <td class="td_lef_con_c p_r">:</td>
                                                <td class="td_lef_con_r">@ViewBag.Details.Tables[0].Rows[0]["cust_cntry"].ToString()</td>
                                            </tr>*@
                                            <tr>
                                                <td class="td_lef_con_b">Phone  </td>
                                                <td class="td_lef_con_c p_r">:</td>
                                                <td class="td_lef_con_r">@ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b">GSTIN/UIN </td>
                                                <td class="td_lef_con_c p_r">:</td>
                                                <td class="td_lef_con_r">@ViewBag.Details.Tables[0].Rows[0]["cust_gst_no"].ToString()</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style='width:50%;' class="v_t">
                                        <table class="v_t" width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="td_lef_con_b_r">Order Number</td>
                                                <td class="td_lef_con_c_r  p_r">:</td>
                                                <td class="td_lef_con_r_r">@ViewBag.Details.Tables[0].Rows[0]["so_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b_r">Order Date</td>
                                                <td class="td_lef_con_c_r  p_r">:</td>
                                                <td class="td_lef_con_r_r">@ViewBag.Details.Tables[0].Rows[0]["so_dt"].ToString()</td>
                                            </tr>
                                            @*<tr>
                                                    <td style='font-size: 12px; font-weight: bold; width: 30%;'> Destination</td>
                                                    <td style='font-size: 12px; font-weight: normal; width: 70%; '>: @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString()</td>
                                                </tr>*@
                                            <tr>
                                                <td class="td_lef_con_b_r">Currency</td>
                                                <td class="td_lef_con_c_r  p_r">:</td>
                                                <td class="td_lef_con_r_r">@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b_r">Cust. Ref. No. </td>
                                                <td class="td_lef_con_c_r  p_r">:</td>
                                                <td class="td_lef_con_r_r">@ViewBag.Details.Tables[0].Rows[0]["ref_doc_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="td_lef_con_b_r">Remarks </td>
                                                <td class="td_lef_con_c_r  p_r">:</td>
                                                <td class="td_lef_con_r_r">@ViewBag.Details.Tables[0].Rows[0]["so_rem"].ToString()</td>
                                            </tr>
                                            @*<tr>
                                                    <td style='font-size: 12px; font-weight: bold; width: 30%;'> Payment Terms</td>
                                                    <td style='font-size: 12px; font-weight: normal; width: 70%; '>: @ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString()</td>
                                                </tr>*@

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table border='1' cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                        <th width='48%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                        <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> HSN/SAC </th>
                                        <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Quantity </th>
                                        <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>
                                            Price/Unit
                                            (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString())
                                        </th>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Discount Value </th>
                                        <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>
                                            Amount
                                            (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString())
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[0].Rows != null)
                                    {
                                        var i = 1;
                                        DataView data = new DataView();
                                        var width = "";
                                        if (ViewBag.PrintOption.Rows[0]["PrintItemImage"].ToString().ToUpper() == "Y")
                                        {
                                            width = "70%";
                                        }
                                        else
                                        {
                                            width = "100%";
                                        }
                                        foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                        {
                                            string itemPath = Server.MapPath("~") + "..\\Attachment\\ItemSetup\\";
                                            string itemPath1 = itemPath + @dr["item_img_name"].ToString().Replace("/", "\\'");
                                            var ItemImage = itemPath1.Replace("~\\", "").Replace("\\\\", "\\").Replace("'", "");

                                            <tr>
                                                <td style='text-align:center; width:5%;'>@i</td>
                                                <td style='paddingleft:3px;paddingtop:5px;paddingbottom:3px;'>

                                                    <table width="100%" style="font-size: 10px; padding-top:3px;">
                                                        <tr>
                                                            <td @width style='paddingleft:3px;paddingtop:5px;paddingbottom:3px;' id="ItemNameTD">
                                                                @if (ViewBag.PrintOption != null)
                                                                {@dr["item_name"].ToString()
                                                                if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                                { <br />

                                                                    @dr["CustSpecItemDesc"].ToString()
                                                                }
                                                                if (ViewBag.PrintOption.Rows[0]["CustProductCode"].ToString().ToUpper() == "Y")
                                                                { <br />

                                                                    @dr["Item_code"].ToString()
                                                                }
                                                                if (ViewBag.PrintOption.Rows[0]["ItemAliasName"].ToString().ToUpper() == "Y")
                                                                { <br />

                                                                    @dr["ItemAliasName"].ToString()
                                                                }
                                                                @*else
        {
            @dr["item_name"].ToString()
        }*@

                                                                if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                                {
                                                                    <br />

                                                                    @dr["item_tech_des"].ToString()
                                                                }
                                                                <br />
                                                                @dr["it_remarks"].ToString()

                                                                if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                                                {
                                                                    if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                                    {
                                                                        data = ViewBag.Details.Tables[4].DefaultView;
                                                                        DataTable NewDT1 = new DataTable();
                                                                        data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                                        NewDT1 = data.ToTable();
                                                                        <table width="100%" style="font-size: 10px; padding-top:3px;">
                                                                            <tr><td></td></tr>
                                                                            @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                            {
                                                                                if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                                {
                                                                                    <tr>
                                                                                        <td width="65%" style="padding-top: 0px; padding-bottom: 0px;">@drsubitm["sub_item_name"]</td>
                                                                                        <td width="35%" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 5px;">@drsubitm["ord_qty_spec"]</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </table>
                                                                    }
                                                                }
                                                                <!-- Passport Size Photo -->

                                                            }
                                                            else
                                                            {
                                                                @dr["item_tech_des"].ToString()
                                                                <br />
                                                                @dr["it_remarks"].ToString()

                                                                if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                                {
                                                                    data = ViewBag.Details.Tables[4].DefaultView;
                                                                    DataTable NewDT1 = new DataTable();
                                                                    data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                                    NewDT1 = data.ToTable();
                                                                    <table width="100%" style="font-size: 10px; padding-top:3px;">
                                                                        <tr><td></td></tr>
                                                                        @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                        {
                                                                            if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                            {
                                                                                <tr>
                                                                                    <td width="65%" style="padding-top: 0px; padding-bottom: 0px;">@drsubitm["sub_item_name"]</td>
                                                                                    <td width="35%" style="text-align: right; padding-top: 0px; padding-bottom: 0px; padding-right: 5px;">@drsubitm["ord_qty_spec"]</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                }
                                                                <!-- Passport Size Photo -->

                                                            }
                                                            </td>
                                                            @if (ViewBag.PrintOption.Rows[0]["PrintItemImage"].ToString().ToUpper() == "Y")
                                                            {
                                                                <td width="26%"  style='paddingleft:2%;paddingright:2%; paddingtop:0px;paddingbottom:0px; text-align:right'>
                                                                    <img src="@ItemImage" alt="EnReP" width="50%" class="img-fluid" />
                                                                </td>
                                                            }

                                                        </tr>
                                                    </table>



                                                </td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["HSN_code"].ToString()</td>
                                                <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["ord_qty_spec"].ToString()</td>
                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_rate"].ToString()</td>
                                                @if (dr["uom_id"].ToString() == "" || dr["uom_id"] == null)
                                                {
                                                    <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'></td>
                                                }
                                                else
                                                {
                                                    <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["uom_id"].ToString()</td>
                                                }

                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_disc_val"].ToString()</td>
                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_gr_val"].ToString()</td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                    <tr>
                                        <td colspan='8'>
                                            <table cellpadding='0' cellspacing='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                <tr>
                                                    @*<td width='55%'>&nbsp;</td>*@
                                                    <td style="width:440px;">
                                                        <table cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                            <tr>
                                                                <td width='20%'>&nbsp;</td>
                                                                @if (ViewBag.PrintOption.Rows[0]["ShowTotalQty"].ToString().ToUpper() == "Y")
                                                                {
                                                                    <td width="77%" class="td_border_left td_border_bottom" style='paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold; text-align:right;'>Total Qty</td>
                                                                    <td width="15%" class="td_border_left td_border_bottom " style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[5].Rows[0]["GrandTotalQty"].ToString()</td>
                                                                    <td width="8%">&nbsp;</td>
                                                                }
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td style='paddingleft:5px;border-left:solid 2px #000000; border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'><strong> Sub-Total (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()) </strong></td>
                                                    <td style='text-align:right;paddingright:5px;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["gr_val"].ToString()</td>
                                                </tr>
                                                @if (ViewBag.Details.Tables[1].Rows != null)
                                                {
                                                    foreach (DataRow dr in ViewBag.Details.Tables[1].Rows)
                                                    {
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td style='paddingleft:5px;border-left:solid 2px #000000;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_name"].ToString()</td>
                                                            <td style='text-align:right;paddingright:5px;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_val"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr></tr>
                                                }

                                                <tr>
                                                    <td width='55%'>&nbsp;</td>
                                                    <td style='paddingleft:5px;border-left:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>Grand Total (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString())</td>
                                                    <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["net_val_spec"].ToString()</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table styl='width:100%;'>
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:75%;'><strong> Amount in Words:</strong></td></tr>
                                <tr><td style='font-size:12px;font-weight:normal;padding:0px 0px;width:60%;'>@ViewBag.Details.Tables[0].Rows[0]["net_val_spec_inwords"].ToString()</td></tr>
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:60%;'><strong> Terms & Conditions :</strong>  </td></tr>
                                <tr>
                                    <td style='width:60%;'>
                                        <table style='font-size:12px;font-weight:normal;width:100%;'>
                                            @if (ViewBag.Details.Tables[2].Rows.Count > 0)
                                            {
                                                var i = 1;
                                                foreach (DataRow dr in ViewBag.Details.Tables[2].Rows)
                                                {
                                                    <tr>
                                                        <td width="2%">@i .</td>
                                                        <td width="98%">@dr["term_desc"].ToString()</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>