@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialIssue.MaterialIssueList
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 13-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }
    }
}
@*/*End to chk Financial year exist or not*/*@

<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialIssue/InteralIssue/MaterialIssueDetail.js"></script>
<title>@Model.Title</title>
<div class="clearfix"></div>
<div class="row">
    <!--MI Pending Source Documents Start -->
    <div id="MIPendingSourceDocument" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog pop_csv" id="GetDataPending" style="max-width:1200px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/MIPartialPendingSourceDocument.cshtml")
        </div>
    </div>
    <!--MI Pending Source Documents End -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                @Html.HiddenFor(model => model.DocumentMenuId, new { @id = "DocumentMenuId" })
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105102130101001" || Row["feature_id"].ToString() == "105102130105001" || Row["feature_id"].ToString() == "105102130108001")
                        {
                            <div id="" class="col-md-6 col-sm-12 heading_right_padding">
                                <ul>
                                    @if (Row["feature_id"].ToString() == "105102130101001")
                                    {
                                        <li>
                                            <a class="tooltip-test PendingSourceDocuments" id="PendingSourceDocuments" onclick=" return GetPendingDocument('NotSearch')" data-toggle="modal" data-target="#MIPendingSourceDocument" data-backdrop="static" data-keyboard="false" title="@Resource.Pending @Resource.Source @Resource.Documents">
                                                @Resource.Pending @Resource.Source @Resource.Documents
                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddNewMaterialIssue","MaterialIssue",Model)"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.IssueType
                                </label>
                                @Html.DropDownListFor(model => model.MRS_type, new SelectList(new List<Object>
                                       {
                                          new { value = "0", text = "---Select---"  },
                                          new { value = "I", text = "Internal Issue"  },
                                          new { value = "E" , text = "External Issue" },
                                          new { value = "S" , text = "Sample Issue" }
                                       }, "value", "text"), new { @class = "form-control", @disabled = "disabled", @id = "ddlRequisitionTypeList" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.RequirementArea
                                </label>
                                @Html.DropDownListFor(model => model.RequiredArea, new SelectList(Model.RequiredAreaList, "ReqArea_ID", "ReqArea_Name"), new { @class = "form-control", id = "ddlRequiredArea" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.IssueTo
                                </label>
                                @Html.DropDownListFor(model => model.MaterialIssueTo, new SelectList(Model.MaterialIssueToList, "issue_to_id", "issue_to_name"), new { @class = "form-control", id = "ddlMaterialIssueTo" })
                                <input type="hidden" id="SearchIssueToList" value='@Url.Action("GetAutoCompleteSearchIssueTo", "MaterialIssue")' />
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.FromDate
                                </label>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                                <span id="PaymentDate" class="sr-only">(success)</span>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.ToDate
                                </label>
                                @if (Model.ToDate != null)
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MMM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })

                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MMM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                }

                                <span id="PaymentDate" class="sr-only">(success)</span>

                            </div>
                            <div class="col-md-2 col-sm-12 no-padding">
                                <div class="col-md-9 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Status
                                    </label>

                                    @Html.DropDownListFor(model => model.StatusCode, new SelectList(Model.StatusList, "status_code", "status_name"), new { @class = "form-control", @id = "ddlStatus" })
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterMaterialIssueListData()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Item Information MI  -->
    <div id="ItemInfoMIList1" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:700px;">
            <!-- Modal content-->
            @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialItemInformationMIList.cshtml")*@
            @Html.Partial("~/Areas/Common/Views/Cmn_ItemInformationPSDList.cshtml")            
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="MaterialIssuetbBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <!--<table id="datatable-buttons" class="table table-striped table-bordered width1600">
                            <thead>
                                <tr class="sticky-header">
                                    <th width="3%">@Resource.SrNo</th>
                                    <th>@Resource.IssueNumber</th>
                                    <th width="8%">@Resource.IssueDate</th>
                                    <th style="display:none;">@Resource.IssueDate</th>
                                    <th>@Resource.IssueType</th>
                                    <th style="display:none;">@Resource.IssueType</th>
                                    <th>@Resource.RequisitionNumber</th>
                                    <th width="9%">@Resource.RequisitionDate</th>
                                    <th width="10%">@Resource.RequirementArea</th>
                                    <th width="14%">@Resource.IssueTo</th>
                                    <th>@Resource.Status</th>
                                    <th width="8%">@Resource.Createdon</th>-->
                        @*<th>@Resource.ApprovedOn</th>*@
                        <!--<th width="8%">@Resource.AmendedOn</th>
                            </tr>
                        </thead>
                        <tbody id="MaterialIssuetbBody">-->
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMaterialIssueList.cshtml")
                        @*</tbody>
                            </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page content end -->
