@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ProductionAdvice.ProductionAdvice_Model
@using EnRepMobileWeb.MODELS.Common;
@using EnRepMobileWeb.Resources;
<title>@Model.title</title>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionAdvice/ProductionAdvice.js"></script>
@*/*start Add by Hina on 19-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
@{
    var Disable = true;
    var fysection = "";
    if (Model.TransType != null)
    {
        if (Model.TransType == "Update")
        {
            if (Model.Command == "Edit")
            {
                if (Model.DocumentStatus == "A")
                {
                    Disable = true;
                }
                else
                {
                    Disable = false;
                }
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }

        if (Model.TransType == "Approve")
        {
            Disable = true;
        }
        if (Model.TransType == "Save")
        {
            if (Model.Command == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
}
@{
    //if (Model.Message != null)
    //{
    // var str = Model.Message;
    if (Model.Message != null)
    {
        Model.hdnsaveApprovebtn = null;
        if (Model.Message == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (Model.Message == "Deleted")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (Model.Message == "Approved")
        {
            <script type="text/javascript">
                swal("", $("#approvemsg").text(), "success");
            </script>
        }
        if (Model.Message == "Duplicate")
        {
            Disable = false;
        }
        if (Model.Message == "Cancelled")
        {
            <script type="text/javascript">
                swal("", $("#cancelmsg").text(), "success");
            </script>
        }
        //Session.Remove("Message");
        Model.Message = null;
        //}
    }
}


@using (Html.BeginForm("ProductionAdviceSave", "ProductionAdvice", FormMethod.Post, new { enctype = "multipart/form-data", id = "ProductionAdviceForm" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <!-- Item Information -->
                        <div id="ItemInfo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                            </div>
                        </div>

                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <!-- Workflow Information -->
                        <div id="WorkflowInformation" class="modal fade" role="dialog">
                            <div class="modal-dialog" style="max-width:700px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                            </div>
                        </div>
                        <!-- Forward Information -->
                        <div id="Forward_Pop" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/PartialForward.cshtml")
                            </div>
                        </div>
                        <!-- Sub Item Detail -->
                        <div id="SubItem" class="modal fade" role="dialog">
                            <div class="modal-dialog" id="SubItemPopUp" style=" max-width:600px;">
                                <!-- Modal content-->
                                @{
                                    SubItemPopupDt mdl = new SubItemPopupDt();
                                }
                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemDetail.cshtml", mdl)
                            </div>
                            <table id="hdn_Sub_ItemDetailTbl" hidden>
                                <tbody>
                                    @if (ViewBag.SubItemDetails != null)
                                    {
                                        foreach (System.Data.DataRow dr in ViewBag.SubItemDetails.Rows)
                                        {
                                            <tr>
                                                <td><input type="text" id="ItemId" value='@dr["item_id"]'></td>
                                                <td><input type="text" id="subItemId" value='@dr["sub_item_id"]'></td>
                                                <td><input type="text" id="subItemQty" value='@dr["Qty"]'></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(model => model.SubItemDetailsDt, new { @id = "SubItemDetailsDt" })
                        </div>
                        <!-- Smart Wizard -->
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                            @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        </div>
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        @Html.HiddenFor(model => model.WFBarStatus, new { @id = "WFBarStatus" })
                        @Html.HiddenFor(model => model.WFStatus, new { @id = "WFStatus" })
                        @Html.HiddenFor(model => model.create_id, new { @id = "Create_ID" })

                        @Html.HiddenFor(model => model.WF_Status1, new { @id = "WF_Status1" })
                        @Html.HiddenFor(model => model.TransType, new { @id = "hdn_TransType" })
                        @Html.HiddenFor(model => model.title, new { @id = "hdn_title" })
                        @Html.HiddenFor(model => model.hdnsaveApprovebtn, new { @id = "hdnsavebtn" })
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                if (Model.BtnName != null)
                                {
                                    var btnName = Model.BtnName;
                                    switch (btnName)
                                    {
                                        case "BtnAddNew":
                                            <ul class="margin0 padding0">
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120001")
                                                        {
                                                            <li>
                                                                <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120002")
                                                        {
                                                            <li>
                                                                <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120004")
                                                        {
                                                            <li>
                                                                <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                            </li>
                                                            @Html.HiddenFor(m => m.deletecommand, new { @id = "HdDeleteCommand" })
                                                        }
                                                    }
                                                }
                                                <li>
                                                    <button class="save" title="@Resource.Save" type="submit" onclick="return CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                                                </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                                    <li>
                                                        <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                    </li>
                                                }

                                                <li>
                                                    <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                                    <li>
                                                        <button class="workflow" title="@Resource.Workflow" disabled style="filter: grayscale(100%)" type="submit" id="btn_workflow" name="Command" value="Workflow"></button>
                                                    </li>
                                                }

                                                <li>
                                                    <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                                </li>
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120005")
                                                        {
                                                            <li>
                                                                <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                <li>
                                                    <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                                                </li>
                                                <li>
                                                    <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                                                </li>
                                                <li>
                                                    <button class="back" title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                                </li>
                                            </ul>
                                            break;
                                        case "BtnEdit":
                                            <ul>
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120001")
                                                        {
                                                            <li>
                                                                @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "C" || ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                                                {
                                                                    if (Model.Command == "Edit")
                                                                    {
                                                                        <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                                }

                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120002")
                                                        {
                                                            <li>
                                                                @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                                                {
                                                                    if (Model.Command == "Edit")
                                                                    {
                                                                        <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="edit" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                                }

                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120004")
                                                        {
                                                            <li>
                                                                @if (ViewBag.DocumentCode == "D")
                                                                {
                                                                    if (Model.Command == "Edit")
                                                                    {
                                                                        <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button class="delete" title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                }
                                                                @Html.HiddenFor(m => m.deletecommand, new { @id = "HdDeleteCommand" })
                                                            </li>
                                                        }
                                                    }
                                                }
                                                <li>
                                                    @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                                    {
                                                        if (Model.Command == "Edit")
                                                        {
                                                            if (ViewBag.DocumentCode == "A")
                                                            {
                                                                <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="save" onclick="return CheckFormValidation()" title="@Resource.Save" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                    }
                                                </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                            <li>

                                                @if (ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                                {
                                                    if (ViewBag.ForwardEnbl == "Y")
                                                    {/*start Add by Hina on 19-02-2024 to chk Financial year exist or not*/
                                                        if (ViewBag.Message == "Financial Year not Exist")
                                                        {/*data-target="" value will be balnk in this case*/
                                                            <button class="forward"
                                                                    title="@Resource.Forward" type="button" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>

                                                        }/*End to chk Financial year exist or not*/
                                                        else
                                                        {
                                                            <button class="forward"
                                                                    title="@Resource.Forward" type="button" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>

                                                        }/*commented by Hina on 19-02-2024 to chk Financial year exist or not*/
                                                        @*<button class="forward"
                title="@Resource.Forward" type="submit" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>*@
                                                    }
                                                    else
                                                    {
                                                        <button class="forward"
                                                                title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="forward"
                                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                }

                                            </li>
                                                }

                                            <li>
                                                @if (ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                                {
                                                    if (Model.Command == "Edit")
                                                    {
                                                        <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.Approve == "Y")
                                                        {
                                                            if (ViewBag.AppLevel.Rows.Count > 0)
                                                            {/*start Add by Hina on 19-02-2024 to chk Financial year exist or not*/
                                                                if (ViewBag.Message == "Financial Year not Exist")
                                                                {/*data-target="" value will be balnk in this case*/
                                                                    <button class="approve"
                                                                            title="@Resource.Approve" type="button" id="btn_approve" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false" name="Command" value="Approve"></button>

                                                                }/*End to chk Financial year exist or not*/
                                                                else
                                                                {
                                                                    <button class="approve"
                                                                            title="@Resource.Approve" type="button" id="btn_approve" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Approve"></button>

                                                                }/*commented by Hina on 19-02-2024 to chk Financial year exist or not*/
                                                                @*<button class="approve"
                                                                        title="@Resource.Approve" type="submit" id="btn_approve" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Approve"></button>*@
                                                            }
                                                            else
                                                            {
                                                                <button class="approve"
                                                                        title="@Resource.Approve" type="submit" onclick="approveonclick()" id="btn_approve" name="Command" value="Approve"></button>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <button class="approve"
                                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                        }
                                                        @*<button class="approve" title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>*@
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                }
                                            </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                                    <li>
                                                        <button class="workflow" title="@Resource.Workflow"
                                                                type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                    </li>
                                                }

                                                <li>
                                                    <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                                </li>
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120005")
                                                        {
                                                            <li>
                                                                @if (ViewBag.DocumentCode == "A")
                                                                {
                                                                    <button class="print" title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                                }
                                                            </li>
                                                        }
                                                    }
                                                }
                                                <li>
                                                    <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                                                </li>
                                                <li>
                                                    <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                                                </li>
                                                <li>
                                                    <button class="back" title="@Resource.Back" @*disabled style="filter: grayscale(100%)"*@ type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                                </li>
                                            </ul>
                                            break;
                                        case "BtnRefresh":
                                            <ul>
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120001")
                                                        {
                                                            <li>
                                                                <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120002")
                                                        {
                                                            <li>
                                                                <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                            </li>
                                                        }
                                                        if (Row["feature_id"].ToString() == "105105120004")
                                                        {
                                                            <li>
                                                                <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                            </li>
                                                            @Html.HiddenFor(m => m.deletecommand, new { @id = "HdDeleteCommand" })
                                                        }
                                                    }
                                                }
                                                <li>
                                                    <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                                    <li>
                                                        <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                    </li>
                                                }

                                                <li>
                                                    <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                </li>
                                                @if (ViewBag.AppLevel.Rows.Count > 0)
                                                {
                                                    <li>
                                                        <button class="workflow" title="@Resource.Workflow"
                                                                type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                    </li>
                                                }

                                                <li>
                                                    <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                                </li>
                                                @if (ViewBag.VBRoleList != null)
                                                {
                                                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                    {
                                                        if (Row["feature_id"].ToString() == "105105120005")
                                                        {
                                                            <li>
                                                                <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                <li>
                                                    <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                                                </li>
                                                <li>
                                                    <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                                                </li>
                                                <li>
                                                    <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                                </li>
                                            </ul>
                                            break;
                                    }
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <div class="approved_by">
                                    <ul class="margin0 padding0">
                                        <li><span>@Resource.CreatedBy<br><b>@Html.DisplayFor(model => model.createby)</b></span></li>
                                        <li><span>@Resource.Createdon<br><b>@Html.DisplayFor(model => model.createdon)</b></span></li>
                                        <li><span>@Resource.ApprovedBy<br><b>@Html.DisplayFor(model => model.approvedby)</b></span></li>
                                        <li><span>@Resource.ApprovedOn<br><b>@Html.DisplayFor(model => model.approvedon)</b></span></li>
                                        <li><span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.ammendedby)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.ammendedon)</b></span></li>
                                        <li>
                                            <span>@Resource.Status<br><b>@Html.DisplayFor(model => model.status)</b></span>
                                            @Html.HiddenFor(model => model.statuscode, new { @id = "hd_Status" })
                                        </li>
                                    </ul>
                                </div>
                                @if ((Model.statuscode == "D" || Model.statuscode == "F" || string.IsNullOrEmpty(Model.statuscode) == true))
                                {
                                    if (Disable)
                                    {
                                        <input id="DisableSubItem" value="Y" hidden />
                                    }
                                    else
                                    {
                                        <input id="DisableSubItem" value="N" hidden />
                                    }

                                }
                                else
                                {
                                    <input id="DisableSubItem" value="Y" hidden />
                                }
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.ProductionAdviceDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-10 col-sm-12" style="min-height:40px;"> &nbsp; </div>
                                                <div class="col-md-2 col-sm-12" style="float:right;">
                                                    <div class="custom-control custom-switch margin10" style="float:right;">
                                                        <label>
                                                            @Resource.Cancelled
                                                            @if (ViewBag.DocumentCode == "A" && Model.Command == "Edit")
                                                            {
                                                                @Html.CheckBoxFor(model => model.cancelflag, new { @class = "js-switch", onclick = "OnClickCancelFlag()" })
                                                            }
                                                            else
                                                            {
                                                                @Html.CheckBoxFor(model => model.cancelflag, new { @class = "js-switch", @disabled = "disabled" })
                                                            }
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.AdviceNumber</label>
                                                    @Html.TextBoxFor(model => model.advice_no, new { @id = "txt_AdviceNumber", @class = "form-control", @placeholder = @Resource.AdviceNumber, autocomplete = "off", @readonly = "readonly" })
                                                    @Html.HiddenFor(model => model.advice_no, new { @id = "HdnDocNo_ForAttach" })
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.AdviceDate@*<span class="required">*</span>*@</label>
                                                    @Html.TextBoxFor(model => model.advice_dt, new { @id = "txt_AdviceDate", @name = "txt_AdviceDate", @class = "form-control", @type = "date", @placeholder = @Resource.AdviceDate, @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Source @*<span class="required"> *</span>*@ </label>
                                                    @if (Disable)
                                                    {
                                                        @Html.DropDownListFor(model => model.ddl_src_type, new SelectList(Model.ddl_src_typeList, "id", "name"), new { @id = "ddl_src_type", @class = "form-control", disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        if (Model.Command == "Add")
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_src_type, new SelectList(Model.ddl_src_typeList, "id", "name"), new { @class = "form-control", id = "ddl_src_type", onchange = "ddl_src_type_onchange()", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_src_type, new SelectList(Model.ddl_src_typeList, "id", "name"), new { @id = "ddl_src_type", @class = "form-control", disabled = "disabled" })
                                                        }
                                                    }
                                                    @Html.HiddenFor(model => model.ddlsrctype, new { @id = "hdn_ddl_src_type" })
                                                </div>
                                                @if (Model.src_doc_no != null && Model.src_doc_no != "" && Model.ddlsrctype == "P")
                                                {
                                                    fysection = "hidden";
                                                    <div>
                                                        <div class="col-md-2 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.SourceDocumentNumber <span class="required"> *</span> </label>
                                                            @Html.TextBoxFor(model => model.src_doc_no, new { @class = "form-control", @id = "src_doc_no", @disabled = "disabled" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.SourceDocumentDate <span class="required"> *</span> </label>
                                                            @Html.TextBoxFor(model => model.src_doc_dt, new { @class = "form-control", @id = "src_doc_dt", @disabled = "disabled" })
                                                        </div>
                                                    </div>

                                                }

                                                <div id="fysection" @fysection>
                                                    <div class="col-md-2 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.FY <span class="required"> *</span> </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_financial_year, new SelectList(Model.ddl_financial_yearList, "id", "name"), new { @id = "ddl_financial_year", @class = "form-control", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            if (Model.Command == "Add")
                                                            {
                                                                @Html.DropDownListFor(model => model.ddl_financial_year, new SelectList(Model.ddl_financial_yearList, "id", "name"), new { @class = "form-control", id = "ddl_financial_year", onchange = " OnChange_Fy()" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.ddl_financial_year, new SelectList(Model.ddl_financial_yearList, "id", "name"), new { @id = "ddl_financial_year", @class = "form-control", disabled = "disabled" })
                                                            }
                                                        }
                                                        @Html.ValidationMessageFor(model => model.ddl_financial_year, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_financial_year" })
                                                        @Html.HiddenFor(model => model.hdnddl_finyear, new { @id = "hdn_ddl_financial_year" })

                                                    </div>
                                                    <div class="col-md-2 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.Period <span class="required"> *</span> </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_period, new SelectList(Model.ddl_periodList, "id", "name"), new { @id = "ddl_period", @class = "form-control", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            if (Model.Command == "Add")
                                                            {
                                                                @Html.DropDownListFor(model => model.ddl_period, new SelectList(Model.ddl_periodList, "id", "name"), new { @class = "form-control", id = "ddl_period", onchange = "OnChange_Period()" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.ddl_period, new SelectList(Model.ddl_periodList, "id", "name"), new { @id = "ddl_period", @class = "form-control", disabled = "disabled" })
                                                            }
                                                        }
                                                        @Html.ValidationMessageFor(model => model.ddl_period, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_period" })
                                                        @Html.HiddenFor(model => model.hdnddlperiod, new { @id = "hdn_ddl_period" })
                                                    </div>
                                                    <div class="col-md-2 col-sm-12">
                                                        <label class="col-form-label label-align col-md-12 col-sm-12 no-padding">@Resource.DateRange </label>
                                                        <div class="col-md-6 col-sm-12 no-padding">
                                                            @Html.TextBoxFor(model => model.txtfromdate, new { @id = "txtFromDate", @class = "form-control", @placeholder = @Resource.FromDate, autocomplete = "off", @readonly = "readonly" })
                                                            @Html.HiddenFor(model => model.hdnfromdate, new { @id = "hdn_FromDate" })
                                                        </div>
                                                        <div class="col-md-1 col-sm-12 no-padding" style="text-align:center;"> -</div>
                                                        <div class="col-md-5 col-sm-12 no-padding">
                                                            @Html.TextBoxFor(model => model.txttodate, new { @id = "txtToDate", @class = "form-control", @placeholder = @Resource.ToDate, autocomplete = "off", @readonly = "readonly" })
                                                            @Html.HiddenFor(model => model.hdntodate, new { @id = "hdn_ToDate" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-md-4 col-sm-12">
                                                    <div class="col-md-8 col-sm-12 no-padding">
                                                        <label class="col-form-label label-align">@Resource.ProductName<span class="required"> *</span></label>
                                                        @if (Disable)
                                                        {
                                                            <select class="form-control" id="ddl_ProductName" name="ddl_ProductName" disabled>
                                                                <option value="@Model.product_id">@Model.product_name</option>
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            if (Model.DocumentStatus == "D" || Model.DocumentStatus == "A" || Model.DocumentStatus == "PE")
                                                            {
                                                                <select class="form-control" id="ddl_ProductName" name="ddl_ProductName" disabled>
                                                                    <option value="@Model.product_id">@Model.product_name</option>
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <select class="form-control" id="ddl_ProductName" name="ddl_ProductName" onchange="OnChange_ProductName();">
                                                                    <option value="@Model.product_id">@Model.product_name</option>
                                                                </select>
                                                            }
                                                        }
                                                        @Html.HiddenFor(model => model.product_id, new { @id = "hdn_product_id" })
                                                        @Html.HiddenFor(model => model.product_name, new { @id = "hdn_product_name" })
                                                        @Html.ValidationMessageFor(model => model.product_id, String.Empty, new { @id = "vmddl_ProductName" })
                                                    </div>
                                                    <div class="col-sm-1 margin28 i_Icon">
                                                        <button type="button" class="calculator" onclick="OnClickIconBtn(event,'');" data-toggle="modal" data-target="#ItemInfo"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title="Item Information"></i>*@ </button>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 no-padding">
                                                        <label class="col-form-label label-align">@Resource.UOM </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.uom_name, new { @id = "UOM", @name = "UOM", @class = "form-control", @placeholder = "UOM", onfocus = "this.placeholder=''", onblur = "this.placeholder='UOM'", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.uom_name, new { @id = "UOM", @name = "UOM", @class = "form-control", @placeholder = "UOM", onfocus = "this.placeholder=''", onblur = "this.placeholder='UOM'", disabled = "disabled" })
                                                        }
                                                        @Html.HiddenFor(model => model.uom_id, new { @id = "UOMID" })
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.BOMRevisionNumber<span class="required"> *</span></label>
                                                    @if (Disable)
                                                    {
                                                        @Html.DropDownListFor(model => model.ddl_revisionno, new SelectList(Model.revisionnolist, "rev_no", "rev_text"), new { @id = "ddl_RevisionNumber", @class = "form-control", disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        if (Model.DocumentStatus == "A" || Model.DocumentStatus == "PE")
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_revisionno, new SelectList(Model.revisionnolist, "rev_no", "rev_text"), new { @id = "ddl_RevisionNumber", @class = "form-control", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.ddl_revisionno, new SelectList(Model.revisionnolist, "rev_no", "rev_text"), new { @class = "form-control", id = "ddl_RevisionNumber", onchange = "OnChange_RevisionNo()" })
                                                        }
                                                    }
                                                    @Html.ValidationMessageFor(model => model.ddl_revisionno, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_RevisionNumber" })
                                                    @Html.HiddenFor(model => model.hdnddl_revisionno, new { @id = "hdn_RevisionNumber" })
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <div class="col-sm-10 no-padding">

                                                        <label class="col-form-label label-align">@Resource.AdviceQuantity<span class="required"> *</span></label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.advice_qty, new { @id = "txt_AdviceQuantity", @class = "form-control num_right", @placeholder = "0000.00", autocomplete = "off", @readonly = "readonly", @maxlength = "9" })
                                                        }
                                                        else
                                                        {
                                                            if (Model.DocumentStatus == "A" || Model.DocumentStatus == "PE")
                                                            {
                                                                @Html.TextBoxFor(model => model.advice_qty, new { @id = "txt_AdviceQuantity", @class = "form-control num_right", @placeholder = "0000.00", autocomplete = "off", @readonly = "readonly", @maxlength = "9" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.advice_qty, new { @id = "txt_AdviceQuantity", @class = "form-control num_right", @placeholder = "0000.00", autocomplete = "off", onkeypress = "if ( isNaN( String.fromCharCode(event.keyCode) )) return false;", onchange = "OnChange_AdviceQty()", @maxlength = "9" })
                                                            }
                                                        }
                                                        @Html.ValidationMessageFor(model => model.advice_qty, String.Empty, new { @style = "color:red;!important", @id = "vm_AdviceQty" })

                                                    </div>

                                                    <div class="col-sm-2 i_Icon margin25 no-padding" id="div_SubItemAdvQty">
                                                        @Html.HiddenFor(m => m.sub_item, new { @id = "sub_item" })
                                                        @if (Model.sub_item == "Y")
                                                        {
                                                            <button type="button" id="SubItemAdvQty" class="calculator subItmImg" onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" id="SubItemAdvQty" disabled class="calculator subItmImg" onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.BatchNumber <span class="required"> *</span></label>
                                                    @if (Disable)
                                                    {
                                                        @Html.TextBoxFor(model => model.batch_no, new { @id = "txt_BatchNumber", @class = "form-control", @placeholder = "BatchNumber", @maxlength = "25", autocomplete = "off", @readonly = "readonly" })
                                                    }
                                                    else
                                                    {
                                                        if (Model.DocumentStatus == "A" || Model.DocumentStatus == "PE")
                                                        {
                                                            @Html.TextBoxFor(model => model.batch_no, new { @id = "txt_BatchNumber", @class = "form-control", @placeholder = "BatchNumber", @maxlength = "25", autocomplete = "off", @readonly = "readonly" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.batch_no, new { @id = "txt_BatchNumber", @class = "form-control", @placeholder = "BatchNumber", @maxlength = "25", autocomplete = "off", onkeypress = "OnChange_BatchNo()", onchange = "OnChange_BatchNo()" })
                                                        }
                                                    }
                                                    @Html.ValidationMessageFor(model => model.batch_no, String.Empty, new { @style = "color:red;!important", @id = "vm_BatchNumber" })
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.CompletionDate<span class="required"> *</span></label>
                                                    @if (Disable || ViewBag.DocumentCode == "A")
                                                    {
                                                        @Html.TextBoxFor(model => model.completiondate, new { @id = "txtCompletionDate", @class = "form-control", type = "date", autocomplete = "off", @readonly = "readonly" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.completiondate, new { @id = "txtCompletionDate", @class = "form-control", type = "date", autocomplete = "off", onchange = "OnChange_Completiondt()" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.completiondate, String.Empty, new { @style = "color:red;!important", @id = "vm_completiondt" })
                                                </div>
                                                <div class="col-md-4 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.remarks</label>
                                                    @if (Disable || ViewBag.DocumentCode == "A")
                                                    {
                                                        @Html.TextAreaFor(model => model.remarks, new { @id = "txtRemarks", @readonly = "readonly", @maxlength = "100", @class = "form-control", @placeholder = @Resource.remarks, @style = "height:26px;" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextAreaFor(model => model.remarks, new { @id = "txtRemarks", @maxlength = "100", @class = "form-control", @placeholder = @Resource.remarks, @style = "height:26px;" })
                                                    }
                                                </div>
                                                <div class="col-md-1 col-sm-12 margin25">
                                                    <a href="#">
                                                        @if (Disable || ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                                        {
                                                            if (Model.Command == "Edit" && ViewBag.DocumentCode == "D")
                                                            {
                                                                <div id="AddBtnIcon" class="plus_icon1" style="display:none">
                                                                    <i class="fa fa-plus" id="BtnItemDetails" onclick="AddMaterialDetails()" title="@Resource.PopulateDetail"></i>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div id="AddBtnIcon" class="plus_icon1" style="display:none">
                                                                    <i class="fa fa-plus" id="BtnItemDetails" title="@Resource.PopulateDetail"></i>
                                                                </div>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <div id="AddBtnIcon" class="plus_icon1" style="display: block;">
                                                                <i class="fa fa-plus" id="BtnItemDetails" onclick="AddMaterialDetails()" title="@Resource.PopulateDetail"></i>
                                                            </div>
                                                        }
                                                    </a>
                                                </div>

                                                <div class="card-box table-responsive dy_table">
                                                    <div class="col-md-12">
                                                        <div class="tableFixHead height30VH">
                                                            @Html.HiddenFor(model => model.hdnmaterialdetail, new { @id = "hdn_materialdetail" })
                                                            @Html.HiddenFor(model => model.hdnopdetail, new { @id = "hdn_opdetail" })
                                                            @Html.HiddenFor(model => model.hdnopitemdetail, new { @id = "hdn_opitemdetail" })
                                                            <h2>@Resource.MaterialDetail</h2>
                                                            <table id="PA_MaterialDetailsTbl" class="table table-bordered margin10 RowHighLightMultiTable">
                                                                <thead disabled="disabled">
                                                                    <tr class="headings">
                                                                        <th width="1%">@Resource.SrNo</th>
                                                                        <th width="20%"> @Resource.OperationName </th>
                                                                        <th>@Resource.ItemType</th>
                                                                        <th width="30%"> @Resource.ItemName</th>
                                                                        <th width="10%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                                                                        <th>@Resource.Quantity</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @*@if (ViewBag.OP_Details != null && ViewBag.OP_ItemDetails != null)
                                                                        {
                                                                            var rowIdx = 0;
                                                                            foreach (System.Data.DataRow Row in ViewBag.ProductDetails.Rows)
                                                                            {
                                                                                rowIdx++;
                                                                                var opid = @Row["op_id"].ToString();
                                                                                var opidcount = @Row["op_count"].ToString();


                                                                            }
                                                                        }*@
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            @{
                                ViewBag.Disable = Disable;
                            }
                            @Html.Partial("~/Areas/Common/Views/Comn_PartialAttatchmentDetail.cshtml")
                            @Html.HiddenFor(model => model.attatchmentdetail, new { @id = "hdn_Attatchment_details" })
                            @*<section class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> @Resource.Attachment<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="file-loading">
                                                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2" name="ItemFiles">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>*@
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}