@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ProductionAdvice.ProductionAdvice_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 19-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionAdvice/ProductionAdvice.js"></script>
<title>@Model.title</title>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Workflow Information -->
                <div id="WorkflowInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width:700px;">
                        <!-- Modal content-->
                        @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                    </div>
                </div>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105105120001")
                                {
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.AddNew" href="@Url.Action("AddProductionAdviceDetail","ProductionAdvice")"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.SourceType</label>
                                @Html.DropDownListFor(model => model.ddl_src_type, new SelectList(Model.ddl_src_typeList, "id", "name"), new { @class = "form-control", id = "ddl_src_type" })
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.ProductName</label>
                                @Html.DropDownListFor(model => model.ddl_ProductName, new SelectList(Model.ProductNameList, "ID", "Name"), new { @class = "form-control", id = "ProductName" })
                                @*<select class="form-control" id="ddl_ProductName" name="ddl_ProductName">
                                        <option value="0">---Select---</option>
                                    </select>*@
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.FromDate</label>
                                @Html.TextBoxFor(model => model.txtfromdate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                @Html.HiddenFor(model => model.txtfromdate, new { @id = "hdFromdate" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @if (Model.txttodate != null)
                                {
                                    @Html.TextBoxFor(model => model.txttodate, new { @class = "form-control", @id = "txtTodate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.txttodate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.txttodate, new { @class = "form-control", @id = "txtTodate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="col-md-8 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.Status <span class="required">*</span>
                                    </label>
                                        @Html.DropDownListFor(model => model.status, new SelectList(Model.statuslist, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                    
                                </div>
                                <div class="col-md-4 col-sm-12 ">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="PAdviceListTble" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_ProductionAdvice.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.AdviceQuantity</label>
                                <input type="text" id="AdviceQuantity" class="form-control num_right" name="AdviceQuantity" placeholder="0000.00" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.ProducedQuantity</label>
                                <input type="text" id="ProducedQuantity" class="form-control num_right" name="ProducedQuantity" placeholder="0000.00" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.RemainingQuantity</label>
                                <input type="text" id="RemainingQuantity" class="form-control num_right_label" name="RemainingQuantity" placeholder="0000.00" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.AcceptedQuantity</label>
                                <input type="text" id="AcceptedQuantity" class="form-control num_right" name="AcceptedQuantity" placeholder="0000.00" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.RejectedQuantity</label>
                                <input type="text" id="RejectedQuantity" class="form-control num_right" name="RejectedQuantity" placeholder="0000.00" readonly>
                            </div>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                <label class="col-form-label label-align" for="">@Resource.ReworkableQuantity</label>
                                <input type="text" id="ReworkableQuantity" class="form-control num_right" placeholder="0000.00" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 30px;">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>