@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.BankRecancellation.BankRecancellation_Model
@using EnRepMobileWeb.Resources;
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/BankRecancellation/BankRecancellation.js"></script>
@*/*start Add by Hina on 27-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
    if (TempData["FBMessage"] != null)
    {
        if (TempData["FBMessage"] == "Financial Book Closing")
        {
            <script type="text/javascript">
                swal("", $("#BooksAreClosedEntryCanNotBeMadeInThisFinancialYear").text(), "warning");
            </script>
        }

    }
}
@{
    if (Model.Message != null)/*ADD by Hina Sharma on 15-07-2025*/
    {

        if (Model.Message == "SaveReco")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
                sessionStorage.removeItem("BillDetailSession");
            </script>
        }
        if (Model.Message == "Used")
        {
            <script type="text/javascript">
                swal("", $("#AdjustmentMadeVouchercannotbemodified").text(), "warning");
                //sessionStorage.removeItem("BillDetailSession");
            </script>
        }
    }
}
@*/*End to chk Financial year exist or not*/*@

<!-- Initialize the plugin: -->
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#branch').multiselect();

        });
    </script>*@
<title>@Model.Title</title>
<!-- Status Update -->
<div id="StatusUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog" style=" max-width:1000px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStatusUpdateDetail.cshtml")
    </div>
</div>
<!-- Account Balance Detail -->
<!--<div id="AccountBalanceDetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:200px !important;" id="AccountBalanceDetailIcon">
        <!-- Modal content-->
<!--@*@Html.Partial("~/Areas/Common/Views/PartialAccountBalanceDetail.cshtml")*@
    </div>
</div>-->
@using (Html.BeginForm("BankRecoCommands", "BankReconcillation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {


        @Html.HiddenFor(model => model.HdnCsvPrint, new { @id = "HdnCsvPrint" })
        @Html.HiddenFor(model => model.searchValue, new { @id = "searchValue" })
        @Html.HiddenFor(model => model.Status, new { @id = "HdnStatus" })
        @Html.HiddenFor(model => model.TransactionType, new { @id = "hdnTransactionType" })
        @Html.HiddenFor(model => model.ToDate, new { @id = "hdnToDate" })
        @Html.HiddenFor(model => model.Acc_id, new { @id = "hdnAcc_id" })
        @Html.HiddenFor(model => model.SaveVouList, new { @id = "hdn_saveBanReVouList" })
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1  ">
                    <div class="x_content mar_pad1 ">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <!-- Smart Wizard -->
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                            @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        </div>
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        @*@Html.HiddenFor(model => model.BankRe_VouList, new { @id = "hdn_BankRe_VouList" })*@
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            <ul class="margin0 padding0">
                                @if (@ViewBag.DisbaleBtn != null)
                                {
                                    <li>
                                        <button class="save" style="filter: grayscale(100%)" title="@Resource.Save" type="submit" id="SaveTitle" onclick="return onclickSaveBtnBankRe()" name="Command" value="save"></button>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <button class="save" disabled style="filter: grayscale(100%)" title="@Resource.Save" type="submit" id="SaveTitle" onclick="return onclickSaveBtnBankRe()" name="Command" value="save"></button>
                                    </li>
                                }

                                <li>
                                    <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_close" onclick="" name="Command" value="Refresh"></button>
                                </li>

                            </ul>
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool padding_zero ">
                                <div class="col-md-12 col-sm-12 padding_zero mb-3">

                                    <div class="col-md-3 col-sm-12">
                                        <label class="col-form-label label-align">@Resource.BankName<spna class="required"> * </spna></label>
                                        @Html.DropDownListFor(model => model.Bnk_List, new SelectList(Model._bankLists, "bank_id", "bank_name"), new { @class = "form-control", id = "ddlBankList", @onchange = "onchangeBankName()" })
                                        <span id="Spn_BankList" class="error_message is-visible"></span>
                                    </div>
                                    <div class="col-md-1 col-sm-12 no-padding">

                                        <label class="col-form-label label-align">@Resource.Currency</label>
                                        <input id="txtCurrName" class="form-control " autocomplete="off" type="text" name="" placeholder="INR" disabled="">
                                        <input type="hidden" id="hdn_AccId" />
                                    </div>
                                    <!--<div class="col-md-3 col-sm-12 no-padding">
                                                                        /*Commented From NItesh 27052025 For
                                                                        from not accdong to fincial Year talk to Prem Sir And Vidhal Sir*/
                                    <div class="col-md-6 col-sm-12">
                                        <label class="col-form-label label-align">@Resource.FromDate</label>-->
                                    @*<input class="form-control" id="txtFromdate" max="2022-09-26"  name="FromDate" onchange="changeFromDate();" type="date" value="">*@
                                    @*@Html.TextBoxFor(model => model.Fy_OpDate, new  { @class = "form-control" , id= "txtFromdate" , @type = "date"})*@
                                    <!--@Html.TextBoxFor(model => model.Fy_OpDate, new
                                       {
                                           @class = "form-control",
                                           @id = "BkReFromdate",
                                           @onchange = "GetFromToDateBankRe()",
                                           @onkeypress = "return RestrictKeyboardentry('BkReFromdate')",
                                           @type = "date",
                                           @min = Model.FyMinDate,
                                           @max = Model.Fy_ClDate,

                                       })
                                            @Html.HiddenFor(model => model.Fy_OpDate, new { @value = Model.Fy_OpDate, @id = "Fromfymaxdate" })
                                            @Html.HiddenFor(model => model.FyMinDate, new { @value = Model.FyMinDate, @id = "fromfymindate" })
                                            @Html.HiddenFor(model => model.Fy_ClDate, new { @value = Model.Fy_ClDate, @id = "ToMaxdate" })
                                            <input type="hidden" id="HdnfromDate" value="" />
                                            <input hidden id="txt_hdnflag" value="F" />
                                        </div>
                                        <div class="col-md-6 col-sm-12 pl-0" id="PartialBankrecnclToDate">
                                            <label class="col-form-label label-align">@Resource.ToDate</label>
                                            <input id="BkReTodate" class="form-control" type="date" onchange="onchangeGetAccountBal()" onkeypress="return RestrictKeyboardentry('BkReTodate')" value="@Model.Fy_ClDate" max="@Model.Fy_ClDate" min="@Model.Fy_OpDate" />
                                            @Html.HiddenFor(model => model.ToMinDate, new { @value = Model.ToMinDate, @id = "Tofymindate" })
                                            @Html.HiddenFor(model => model.Fy_ClDate, new { @value = Model.Fy_ClDate, @id = "Tofymaxdate" })
                                            <input type="hidden" id="HdnToDate" value="" />
                                        </div>
                                    </div>-->
                                    <div class="col-md-3 col-sm-12 no-padding">

                                        <div class="col-md-6 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.FromDate</label>

                                            @Html.TextBoxFor(model => model.Fy_OpDate, new { @class = "form-control", @id = "BkReFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                            @Html.HiddenFor(model => model.Fy_OpDate, new { @value = Model.Fy_OpDate, @id = "Fromfymaxdate" })
                                            @Html.HiddenFor(model => model.FyMinDate, new { @value = Model.FyMinDate, @id = "fromfymindate" })
                                            @Html.HiddenFor(model => model.Fy_ClDate, new { @value = Model.Fy_ClDate, @id = "ToMaxdate" })
                                            <input type="hidden" id="HdnfromDate" value="" />
                                            <input hidden id="txt_hdnflag" value="F" />
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ToDate</label>

                                            @if (Model.Fy_ClDate != null)
                                            {
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "BkReTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = Model.Fy_ClDate, @Value = Model.Fy_ClDate })

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "BkReTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = Model.Fy_ClDate, @Value = @DateTime.Now.ToString("yyyy-MM-dd") })

                                            }
                                            @Html.HiddenFor(model => model.ToMinDate, new { @value = Model.ToMinDate, @id = "Tofymindate" })
                                            @Html.HiddenFor(model => model.Fy_ClDate, new { @value = Model.Fy_ClDate, @id = "Tofymaxdate" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12 no-padding">
                                        @*<div class="col-md-11 col-sm-12 pr-0 pl-0">*@
                                        <label class="col-form-label label-align">
                                            @Resource.AccountBalance
                                        </label>
                                        <input type="text" id="Account_Bal" placeholder="0000.00" class="form-control num_right" disabled />
                                    </div>
                                    @*<div class="col-md-1 col-sm-12 i_Icon margin28 left-0"><button type="button" id="" class="calculator" onclick="onlickCalculatorIcon(event,'N','BkReTodate','','ddlBankList')" data-toggle="modal" data-target="#AccountBalanceDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.AccountBalance @Resource.Detail"> </button></div>*@
                                    @*</div>*@

                                    <div class="col-md-3 col-sm-12">
                                        <div class="col-md-5 col-sm-12 no-padding">
                                            <label class="col-form-label label-align">@Resource.TransactionType</label>
                                            <select class="form-control" id="BankRe_ddlTransType" name="Status">
                                                <option value="All">All</option>
                                                <option value="BR">Receipt</option>
                                                <option value="BP">Payments</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Status</label>
                                            <select class="form-control" id="BankRe_ddlstatus" name="Status">
                                                <option value="All">All</option>
                                                <option value="C">Cleared</option>
                                                <option value="R">Returned</option>
                                                <option value="U">Un-Cleared</option>
                                            </select>
                                        </div>
                                        @if (@ViewBag.DisbaleBtn != null)
                                        {
                                            <div class="col-md-2 col-sm-12" style="display:none">
                                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickBnkReSearchButton()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-2 col-sm-12">
                                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickBnkReSearchButton()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <div class="card-box table-responsive dy_table">
                            <div id="SearchBankRecandetails" class="sticky-table sticky-ltr-cells sb-container container-example1 StockDetailTable">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialBankReconcillation.cshtml")
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.Command, new { @value = Model.Command, @id = "hfcommand" })
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- page content end -->
