@model EnRepMobileWeb.MODELS.BusinessLayer.TDSSlab.TDSSlab_Model
@using EnRepMobileWeb.Resources;
@using System.Data

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/TDSSlab/TDSSlab.js"></script>
<title>@Model.Title</title>
@{
    var AddNew = "N";
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103153001")
            {
                AddNew = "Y";
            }
            if (Row["feature_id"].ToString() == "103153002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103153004")
            {
                DeleteFlag = "Y";
            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}
<script>
    if ('@Model.Message' == 'Save' || '@Model.Message' == 'Update') {
        $("#hdnSavebtn").val("");
        swal("", $("#savemsg").text(), "success");
    }
    if ('@Model.Message' == 'Delete') {
        $("#hdnSavebtn").val("");
        swal("", $("#deletemsg").text(), "success");
    }
</script>

@using (Html.BeginForm("TDSSlabSave", "TDSSlab", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Value @Resource.From <span class="required">*</span></label>
                                    @if (AddNew == "Y")
                                    {
                                        @Html.TextBoxFor(m => m.value_from, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "value_from", @name = "value_from", @onchange = "Validate_value_from()", @onkeyup = "Validate_value_from()", @onkeypress = "return AllowFloatValueOnly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.value_from, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "value_from", @name = "value_from", @onchange = "Validate_value_from()", @onkeyup = "Validate_value_from()", @disabled = "disabled", @onkeypress = "return AllowFloatValueOnly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    @Html.ValidationMessageFor(model => model.value_from, String.Empty, new { @style = "color:red;!important", @id = "vm_value_from" })
                                    @Html.HiddenFor(m => m.slab_id, new { @id = "slab_id" })
                                    @*<input class="form-control tax_cal text_bold" id="ValueFrom" name="TaxAmount" placeholder="0000.00" type="text" value="">*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Value @Resource.to1 <span class="required">*</span></label>
                                    @if (AddNew == "Y")
                                    {
                                        @Html.TextBoxFor(m => m.value_to, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "value_to", @name = "value_to", @onchange = "Validate_value_to()", @onkeyup = "Validate_value_to()", @onkeypress = "return AllowFloatValueOnly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.value_to, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "value_to", @name = "value_to", @onchange = "Validate_value_to()", @onkeyup = "Validate_value_to()", @disabled = "disabled", @onkeypress = "return AllowFloatValueOnly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    @Html.ValidationMessageFor(model => model.value_to, String.Empty, new { @style = "color:red;!important", @id = "vm_value_to" })
                                    @*<input class="form-control tax_cal text_bold" id="ValueTo" name="TaxAmount" placeholder="0000.00" type="text" value="">*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.TDSTCSPercentage <span class="required">*</span></label>
                                    @if (AddNew == "Y")
                                    {
                                        @Html.TextBoxFor(m => m.tds_perc, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "tds_perc", @name = "tds_perc", @onchange = "Validate_tds_perc()", @onkeyup = "Validate_tds_perc()", @onkeypress = "return Cmn_PercentageValueonly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.tds_perc, new { @class = "form-control tax_cal ", @autocomplete = "off", @id = "tds_perc", @name = "tds_perc", @onchange = "Validate_tds_perc()", @onkeyup = "Validate_tds_perc()", @disabled = "disabled", @onkeypress = "return Cmn_PercentageValueonly(this, event);", @placeholder = "0000.00", @type = "text" })
                                    }
                                    @Html.ValidationMessageFor(model => model.tds_perc, String.Empty, new { @style = "color:red;!important", @id = "vm_tds_perc" })
                                    @*<input class="form-control tax_cal text_bold" id="TDSTCSPercentage" name="TaxAmount" placeholder="0000.00" type="text" value="">*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.TDS @Resource.Account <span class="required">*</span></label>
                                    @if (AddNew == "Y")
                                    {
                                        @Html.DropDownListFor(m => m.tds_acc_id, new SelectList(Model.tdsAccLists, "tds_acc_id", "tds_acc_name"), new { @class = "form-control", @id = "ddlTdsAcc", @onchange = "Validate_tds_acc_id()" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.tds_acc_id, new SelectList(Model.tdsAccLists, "tds_acc_id", "tds_acc_name"), new { @class = "form-control", @id = "ddlTdsAcc", @disabled = "disabled", @onchange = "Validate_tds_acc_id()" })
                                    }
                                    @Html.ValidationMessageFor(model => model.tds_acc_id, String.Empty, new { @style = "color:red;!important", @id = "vm_ddlTdsAcc" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.TCS @Resource.Account <span class="required">*</span></label>
                                    @if (AddNew == "Y")
                                    {
                                        @Html.DropDownListFor(m => m.tcs_acc_id, new SelectList(Model.tdsAccLists, "tds_acc_id", "tds_acc_name"), new { @class = "form-control", @id = "ddlTcsAcc", @onchange = "Validate_tcs_acc_id()" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.tcs_acc_id, new SelectList(Model.tdsAccLists, "tds_acc_id", "tds_acc_name"), new { @class = "form-control", @id = "ddlTcsAcc", @disabled = "disabled", @onchange = "Validate_tcs_acc_id()" })
                                    }
                                    @Html.ValidationMessageFor(model => model.tds_acc_id, String.Empty, new { @style = "color:red;!important", @id = "vm_ddlTcsAcc" })
                                </div>
                                <div class="col-md-1 col-sm-12 margin25 no-padding">
                                    @Html.HiddenFor(m => m.HdnCommand, new { @id = "HdnCommand", @name = "HdnCommand" })
                                    <div class="col-md-6 col-sm-12">
                                        @if (AddNew == "Y")
                                        {
                                            <button class="address_save" title="Save" type="submit" onclick="return TDSSaveBtnClick()" id="btn_save" name="Command" value="Save"></button>
                                        }
                                        else
                                        {
                                            <div id="SaveBtnEnable" style="display:none">
                                                <button class="address_save" title="Save" type="submit" onclick="return TDSSaveBtnClick()" id="btn_save" name="Command" value="Save"></button>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="x_panel margin10">
                                        <div class="x_content">
                                            <div class="card-box table-responsive dy_table">
                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH ">
                                                    <table id="datatable-buttons" class="table table-bordered rowhighlighttbl">
                                                        <thead>
                                                            <tr class="sticky-header">
                                                                <th width="3%"> &nbsp;</th>
                                                                <th width="3%"> &nbsp;</th>
                                                                <th width="5%" class="wi">@Resource.SrNo</th>
                                                                <th> @Resource.Value @Resource.From</th>
                                                                <th> @Resource.Value @Resource.to1</th>
                                                                <th> @Resource.TDSTCSPercentage</th>
                                                                <th width="25%"> @Resource.TDS @Resource.Account</th>
                                                                <th hidden>&nbsp;</th>
                                                                <th hidden>&nbsp;</th>
                                                                <th width="20%"> @Resource.TCS @Resource.Account</th>
                                                                <th hidden>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int i = 1;
                                                            }
                                                            @foreach (DataRow dr in Model.TDSList.Rows)
                                                            {


                                                                <tr>
                                                                    <td class=" red center">
                                                                        @if (DeleteFlag == "Y")
                                                                        {
                                                                            <i class="fa fa-trash" aria-hidden="true" onclick="return ConfirmDeleteTDS(event);" title="@Resource.Delete"></i>
                                                                        }
                                                                    </td>
                                                                    <td class="center edit_icon">
                                                                        @if (EditFlag == "Y")
                                                                        {
                                                                            <i class="fa fa-edit" onclick="OnclickEditTDS(event);" title="@Resource.Edit"></i>
                                                                        }
                                                                    </td>
                                                                    <td>@i</td>
                                                                    <td class="num_right" id="td_value_from">@dr["value_from"]</td>
                                                                    <td class="num_right" id="td_value_to">@dr["value_to"]</td>
                                                                    <td class="num_right" id="td_tds_perc">@dr["tds_perc"]</td>
                                                                    <td id="td_tds_acc_name">@dr["tds_acc_name"]</td>
                                                                    <td hidden id="td_tds_acc_id">@dr["tds_acc_id"]</td>
                                                                    <td hidden id="td_slab_id">@dr["slab_id"]</td>
                                                                    <td id="td_tcs_acc_name">@dr["tcs_acc_name"]</td>
                                                                    <td hidden id="td_tcs_acc_id">@dr["tcs_acc_id"]</td>
                                                                </tr>
                                                                i++;
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

