@model EnRepMobileWeb.MODELS.BusinessLayer.CurrencySetup.CurrencySetup_Model
@using EnRepMobileWeb.Resources;
@using System.Data;
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
@{
    if (Model.Message != null)
    {
        var str = Model.Message.ToString();
        if (str == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (str == "Delete")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (str == "Duplicate")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#txtEffdate").css("border-color", "red");
                    document.getElementById("vmeffdate").innerHTML = $("#valueduplicate").text();
                })
            </script>
            Model.Message = "";
        }
    }
    var AddNew = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103120001")
            {
                AddNew = "Y";

            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}
<script src="~/Content/Scripts/BusinessLayer/CurrencySetup/CurrSetup.js"></script>
@using (Html.BeginForm("SaveCurrencySetup", "CurrencySetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.Currency @Resource.Detail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body" style="padding-bottom:0px;">
                                        <div class="row">
                                            <div class="col-md-55 col-sm-12">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialCurrencySetup.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> @Resource.ConversionDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingTwo" style="">
                                    <div class="panel-body" style="padding-bottom:0px;">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Currency @Resource.Name <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.DropDownListFor(model => model.Curr_name, new SelectList(Model._currencyNameList, "curr_id", "curr_name"), new { @class = "form-control", @onchange = "onChangecurrency()", @id = "CurrencyName" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.Curr_name, new SelectList(Model._currencyNameList, "curr_id", "curr_name"), new { @class = "form-control", @disabled = "disabled", @onchange = "onChangecurrency()", @id = "CurrencyName" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Curr_name, String.Empty, new { @style = "color:red;!important", @id = "vmCurrname" })
                                                    @Html.HiddenFor(m => m.Curr_id, new { @id = "currid" })
                                                    @Html.HiddenFor(model => model.hdncurrsetup, new { @id = "hdncurrsetup" })
                                                    @Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })
                                                    <span id="SpanCurrname" class="error_message"></span>
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.EffectiveDate <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.TextBoxFor(model => model.Eff_Date, new { @class = "form-control", @id = "txtEffdate", @placeholder = "dd-MM-yyyy", @onchange = "onchangeeffdate()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.Eff_Date, new { @class = "form-control", @id = "txtEffdate", @placeholder = "dd-MM-yyyy", @disabled = "disabled", @onchange = "onchangeeffdate()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Eff_Date, String.Empty, new { @style = "color:red;!important", @id = "vmeffdate" })
                                                    @Html.HiddenFor(model => model.hdnConv_date, new { @id = "hdnConvdate" })
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Rate <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @id = "Rate", @maxlength = "25", type = "text", @autocomplete = "off", @onpaste = "return CopyPasteData(event)", @onchange = "onChangerate()", @placeholder = "0000.00", @onkeypress = "return RqtyFloatValueonly(this, event)" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @id = "Rate", @maxlength = "25", type = "text", @autocomplete = "off", @onpaste = "return CopyPasteData(event)", @onchange = "onChangerate()", @placeholder = "0000.00", @disabled="disabled", @onkeypress = "return RqtyFloatValueonly(this, event)" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Price, String.Empty, new { @style = "color:red;!important", @id = "vmprice" })
                                                    <span id="SpanRate" class="error_message"></span>
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    @if (AddNew == "Y")
                                                    {
                                                        <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return CheckValidationCurreny();" id="btn_save" name="Command" value="Save"></button>
                                                    }
                                                    else
                                                    {
                                                        <div id="SaveBtnEnable" style="display:none">
                                                            <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return CheckValidationCurreny();" id="btn_save" name="Command" value="Save"></button>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin15">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialConversionDetail.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}