@using System.Data;
@{
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    //if (doc_status == "D" || doc_status == "F")
    //{
    //    BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    //}
    decimal ShipQty = 0;
    decimal PackNos = 0;
    decimal tot_cbm = 0;
}
@*<div style='background: url(@BackGroundImgUrl) no-repeat ;'>*@
@Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
<table width='100%'>

    <tr>
        <td>
            <table style='width:100%;'>
                <tr>
                    <td style='width:10px;'></td>
                    <td style="vertical-align:top;">
                        <table style='width:100%;border:solid 1px #000000;'>
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="50%" style="font-size: 12px; font-weight: normal;  line-height: 16px;border-right: solid 1px #000000; border-bottom: solid 1px #000000; vertical-align:top;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; ' width="45%"> Shipment Number</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;' width="55%">: @ViewBag.Details.Tables[0].Rows[0]["ship_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; '> Shipment Date</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[0].Rows[0]["ship_dt"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; '> Packing List Number</td>
                                                            <td style='font-size: 12px; font-weight: normal; line-height: 16px;'>: @ViewBag.Details.Tables[0].Rows[0]["pack_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; '> Packing Date</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'> : @ViewBag.Details.Tables[0].Rows[0]["pack_dt"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; '> Customer Reference No.</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'> : @ViewBag.Details.Tables[5].Rows[0]["ref_doc_no"].ToString()</td>
                                                        </tr>
                                                        @*<tr>
                                                                <td style='font-size:12px;font-weight:bold;'> Destination </td>
                                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString()</td>
                                                            </tr>
                                                            <tr>
                                                                <td style='font-size:12px;font-weight:bold;'> Currency </td>
                                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</td>
                                                            </tr>
                                                            <tr>
                                                                <td style='font-size:12px;font-weight:bold;'> Payment Terms </td>
                                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString()</td>
                                                            </tr>*@
                                                    </table>

                                                </td>
                                                <td width="50%" style="font-size: 12px; font-weight: normal;  line-height: 16px; vertical-align: top; border-bottom: solid 1px #000000;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight: normal; line-height: 16px;">
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold; '> G/R Number </td>
                                                            <td style='font-size: 12px; font-weight: normal; width: 60%; line-height: 16px;'>: @ViewBag.Details.Tables[1].Rows[0]["gr_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold;'>G/R Date</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[1].Rows[0]["gr_dt"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold;'> Transporter Name</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[1].Rows[0]["TransPorterName"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold;'> Vehicle No.</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[1].Rows[0]["veh_number"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold;'> Driver Name</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[1].Rows[0]["driver_name"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style='paddingleft: 5px; paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: bold;'> Mobile No.</td>
                                                            <td style='paddingtop: 3px; paddingbottom: 3px; line-height: 16px; font-weight: normal;'>: @ViewBag.Details.Tables[1].Rows[0]["mob_no"].ToString()</td>
                                                        </tr>

                                                    </table>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="30%" style="font-size: 12px; font-weight:normal; vertical-align:top; line-height: 16px;  border-right: solid 1px #000000;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                        @*<tr>
                                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                                    <div style="width:100%; float:left;">
                                                                        <div style="width:24%; float:left;">IRN No. :</div>
                                                                        <div style="width:98%; float:left;">&nbsp;</div>
                                                                    </div>
                                                                </td>
                                                            </tr>*@
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">
                                                                Bill From
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px;">@ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; line-height: 16px; paddingleft: 5px; line-height: 16px; ">
                                                                @ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString()
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">Ph.No. : @ViewBag.Details.Tables[0].Rows[0]["cont_num1"].ToString()  </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">Email Id : @ViewBag.Details.Tables[0].Rows[0]["email_id1"].ToString() </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">Website :  @ViewBag.Details.Tables[0].Rows[0]["comp_website"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">State Code/State: @ViewBag.Details.Tables[0].Rows[0]["State"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">GST No. : @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">PAN No. :  @ViewBag.Details.Tables[0].Rows[0]["br_pan_no"].ToString()</td>
                                                        </tr>


                                                    </table>
                                                </td>
                                                <td width="35%" style="font-size: 12px; font-weight:normal; line-height:16px; vertical-align:top; border-right: solid 1px #000000;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                        @*<tr>
                                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Acknowledgement No. :  </td>
                                                            </tr>*@
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px;">Bill To</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">
                                                                <div style="width: 40%; float: left; paddingleft: 5px;">Customer Name</div>
                                                                <div style="font-weight:normal; width:100%; float:left;">
                                                                    @ViewBag.Details.Tables[3].Rows[0]["cust_name"].ToString()

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; line-height: 16px; paddingleft: 5px; line-height: 16px; ">
                                                                @ViewBag.Details.Tables[3].Rows[0]["cust_add"].ToString()
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">GST No. : @ViewBag.Details.Tables[3].Rows[0]["cust_gst_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">State Code/State : @ViewBag.Details.Tables[3].Rows[0]["State"].ToString() </td>
                                                        </tr>
                                                       
                                                    </table>
                                                </td>
                                                <td width="35%" style="font-size: 12px; font-weight:normal; line-height:16px; vertical-align:top;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                        @*<tr>
            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Acknowledgement Date : </td>
        </tr>*@
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">Ship To</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px; paddingleft: 5px; line-height: 16px; ">

                                                                <div style="width:40%; float:left;">Customer Name</div>
                                                                <div style="font-weight:normal; width:98%; float:left;">
                                                                    @ViewBag.Details.Tables[4].Rows[0]["cust_name"].ToString()
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; line-height: 16px; paddingleft: 5px; line-height: 16px; ">
                                                                @ViewBag.Details.Tables[4].Rows[0]["cust_add"].ToString()
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; "> GST No. : @ViewBag.Details.Tables[4].Rows[0]["cust_gst_no"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">State Code/State  : @ViewBag.Details.Tables[4].Rows[0]["State"].ToString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold; paddingleft: 5px; line-height: 16px; ">Place of Supply  : @ViewBag.Details.Tables[0].Rows[0]["PlaceOfSupply"].ToString()</td>
                                                        </tr>

                                                    </table>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            @*<tr>
                                <td style='width:35%;border-right:solid 1px #000000; vertical-align:top;'>
                                    <table style='font-size:12px;font-weight:normal; width:98%;'>
                                        <tr>
                                            <td>
                                                <strong> Customer : </strong>
                                                @if (ViewBag.PrintOption.Rows[0]["CustAliasName"].ToString() == "Y")
                                                {
                                                    @ViewBag.Details.Tables[0].Rows[0]["cust_alias"].ToString()
                                                }
                                                else
                                                {
                                                    @ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()
                                                }


                                            </td>
                                        </tr>
                                        <tr><td><strong> Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_add"].ToString()</td></tr>
                                        <tr><td></td></tr>
                                        <tr><td><strong> Pin Code : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_pin"].ToString()</td></tr>
                                        <tr><td><strong> State : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_state"].ToString()</td></tr>
                                        <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_cntry"].ToString()</td></tr>
                                        <tr><td><strong> Phone : </strong> @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td></tr>
                                        <tr><td><strong> GSTIN/UIN : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_gst_no"].ToString()</td></tr>
                                        <tr><td><strong> PAN NO : </strong> @ViewBag.Details.Tables[0].Rows[0]["CustPanNo"].ToString()</td></tr>
                                    </table>
                                </td></tr>*@
                        </table>
                    </td>
                    <td style='width:10px;'></td>
                </tr>
                <tr>
                    <td style='width:10px;'></td>
                    <td>
                        <table border='1' cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height: 16px;font-weight:normal;'>
                            <thead>
                                <tr>
                                    <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                    <th width='54%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                    <th width='14%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> HSN/SAC </th>
                                    @if (ViewBag.PrintOption.Rows[0]["ShowPackSize"].ToString().ToUpper() == "Y")
            {
                                <th width='14%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Pack Size </th>
            }
                                        <th width='7%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                    <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Shipped Quantity </th>
                                    <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> No. of<br />packs </th>
                                    @*<th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Gross Weight<br />(in Tonnage)</th>
        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Net Weight<br />(in Tonnage)</th>
        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>CBM</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Details.Tables[0].Rows != null)
                                {
                                    var i = 1;
                                    DataView data1 = new DataView();
                                    foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                    {
                                <tr>
                                    <td style='text-align:center; width:5%;'>@i</td>
                                    @*<td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_name"].ToString()<br />@dr["item_tech_des"].ToString()</td>*@
                                    <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>
                                        @if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                        {
                                            @dr["CustSpecItemDesc"].ToString()
                                        }
                                        else if (ViewBag.PrintOption.Rows[0]["ItemAliasName"].ToString().ToUpper() == "Y")
                                        {
                                            @dr["ItemAliasName"].ToString()
                                        }
                                        else
                                        {
                                            @dr["item_name"].ToString()
                                        }

                                        @if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                        {
                                            <br /> @dr["item_tech_des"].ToString()
                                        }
                                        @if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                        {
                                            if (ViewBag.Details.Tables[2].Rows.Count > 0)
                                            {
                                                data1 = ViewBag.Details.Tables[2].DefaultView;
                                                DataTable NewDT1 = new DataTable();
                                                data1.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                NewDT1 = data1.ToTable();
                                                <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                    <tr>
                                                        <td colspan="3"></td>
                                                    </tr>
                                                    @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                    {
                                                        if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                        {
                                                            <tr>
                                                                <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["inv_qty"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                </table>
                                            }
                                        }
                                        @if (ViewBag.PrintOption.Rows[0]["ShowItemRemarks"].ToString() == "Y")
                                        {
                                            <br /> @dr["it_remarks"].ToString()
                                        }
                                    </td>
                                    <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["HSN_code"].ToString()</td>
                                    @if (ViewBag.PrintOption.Rows[0]["ShowPackSize"].ToString().ToUpper() == "Y")
                    {
                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["pack_size"].ToString()</td>
                    }
                                        <td style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["uom_id"].ToString()</td>
                                    <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["ship_qty"].ToString()</td>
                                    <td style='text-align:right;paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["pack_nos"].ToString()</td>
                                    @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["gr_wght"].ToString()</td>
        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["net_wght"].ToString()</td>
        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["tot_cbm"].ToString()</td>*@
                                </tr>
                                        i++;
                                        ShipQty = ShipQty + Convert.ToDecimal(dr["ship_qty"]);
                                        PackNos = PackNos + Convert.ToDecimal(dr["pack_nos"]);
                                        //tot_cbm = tot_cbm + Convert.ToDecimal(dr["tot_cbm"]);
                                    }
                                }
                            <tr>
                                @{
                                    var colspan = 3;
                                    if (ViewBag.PrintOption.Rows[0]["ShowPackSize"].ToString().ToUpper() == "Y")
                                    {
                                        colspan = colspan + 1;
                                    }
                                }
                                <td colspan='@colspan'>
                                </td>
                                <td style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight:bold;'>Total</td>
                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:bold;'>@ShipQty.ToString(QtyDigit)</td>
                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:bold;'>@PackNos.ToString(QtyDigit)</td>
                                @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["tot_gr_wght"]</td>
        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["tot_net_wght"]</td>
        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@tot_cbm</td>*@
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style='width:10px;'></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
@*</div>*@