
@model EnRepMobileWeb.MODELS.SecurityLayer.UserRoleSetup.UserRoleSetup_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}

<table id="datatable-buttons" class="table table-striped width1200 " cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th>@Resource.SrNo</th>
            <th>@Resource.RoleName</th>
            <th style="display:none">@Resource.RoleName</th>
            <th>@Resource.HO</th>
            <th style="display:none">@Resource.HO</th>
            <th>@Resource.Createdon</th>
            <th>@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="TbodyUserRoleSetup">
        @if (Model.UserRoleSetup_List != null)
        {
            foreach (var row in Model.UserRoleSetup_List)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td>@row.RoleName</td>
            <td style="display:none">@row.Role_ID</td>
            <td>@row.HO</td>
            <td style="display:none">@row.HO_ID</td>
            <td>@row.Createdon</td>
            <td>@row.AmendedOn</td>
        </tr>
            }
        }
    </tbody>
</table>
