@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.MIS.MISAssetRegistration.MISAssetRegistration_Model
@using EnRepMobileWeb.Resources;
@using System.Data;
@using EnRepMobileWeb.Resources;
@using System.Data

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"].ToString() == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FixedAssetManagement/MIS/MISAssetRegistration/MISAssetRegistration.js"></script>
@Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
<title>@Model.Title</title>
<div class="row">
    <!-- Depreciation History Start -->
    <div id="DepreciationHistory" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:900px;">
            <div id="DepreciationHistoryPartial">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDepreciationHistory.cshtml")
            </div>
        </div>
    </div>
    <!-- Depreciation History End -->
    <!-- Asset Procrument Detail Start -->
    <div id="AssetProcrumentDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:1100px;">
            <div id="ProcrumentDetailPartial">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialAssetProcrumentDetail.cshtml")
            </div>
        </div>
    </div>
    <!-- Asset Procrument Detail End -->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-12 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <div class="col-md-12 col-sm-12 padding_zero mb-2">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Group</label>
                                    @Html.DropDownListFor(model => model.AssetsGroupId,
                                        new SelectList(Model.AssetsGroupList, "assetgrp_id", "assetgrp_name", Model.AssetsGroupId),
                                        new { @class = "form-control", id = "ddlAssetGroup", onchange = "OnChangeddlAssetGroupList(this)" })
                                </div>
                                <div class="col-md-3 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Category</label>
                                    @Html.DropDownListFor(model => model.AssetsGroupCatId, new SelectList(Model.AssetsGroupCatList, "assetgrpcat_id", "assetgrpcat_name", Model.AssetsGroupCatId), new { @class = "form-control", id = "ddlAssetGroupCategory" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Requirement @Resource.Area</label>
                                    @Html.DropDownListFor(model => model.AssignedRequirementAreaList, new SelectList(Model.AssignedRequirementAreaList, "AssignedRequirementArea_id", "AssignedRequirementArea_name"), new { @class = "form-control", id = "ddlAssignedRequirementArea" })
                                    @Html.HiddenFor(model => model.AssignedRequirementAreaId, new { @id = "Hdn_AssignedRequirementAreaId" })
                                </div>
                                <div class="col-md-4 col-sm-12 pl-0 pr-0">
                                    <div class="col-md-5 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">@Resource.Working @Resource.Status</label>
                                        @Html.DropDownListFor(model => model.WorkingStatusId, new SelectList(new List<Object>{
                                           new { value = "0", text = "---All---"  },new { value = "I", text = "In Use"  },
                                           new { value = "R", text = "Retired"  }, new { value = "S", text = "Sold"  },},
                                           "value", "text"), new { @id = "ddlWorkingStatus", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 col-sm-12 pl-0">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="FilterARList()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="Tbl_list_FA_MIS_RA" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISAssetRegisterList.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function _ErrorPage() {
        debugger;
        try {
            window.location.href = "@Url.Action("ErrorPage", "AssetRegistration")";
        } catch (err) {
            console.log("ErrorPage Error : " + err.message);
        }
    }
</script>