@using System.Data;
@{

    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
}
<style>
    .table_border {
        border: 0.5px solid #000000;
    }

        .table_border > tbody > tr > td, .table_border > thead > tr > th {
            border: 0.5px solid #000000;
        }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

        .suppInfo > tr > td {
            padding-right: 5px;
        }
</style>
<div style='background: url(@BackGroundImgUrl) no-repeat ;backgroundposition: center center;'>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
    <table width='100%'>
        <tr>
            <td>
                <table style='width:100%;border:solid 1px #000000;'>
                    <tr>
                        <td style='width: 100%; vertical-align: top; padding: 0px; '>
                            <table class="suppInfo" style=''>
                                <tr><td><strong> Customer : </strong>@ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString() </td></tr>
                                <tr><td style="paddingright:10px"><strong> Address : </strong> @ViewBag.Details.Tables[1].Rows[0]["cust_add"].ToString() <br /></td></tr>
                                <tr><td><strong> Pin Code : </strong> @ViewBag.Details.Tables[1].Rows[0]["PinCode"].ToString()</td></tr>
                                @if (@ViewBag.Details.Tables[1].Rows[0]["cust_type"].ToString() == "C")
                                {
                                    <tr><td><strong> State : </strong> @ViewBag.Details.Tables[1].Rows[0]["state_name"].ToString()</td></tr>
                                }
                                else
                                {
                                    <tr><td><strong> State : </strong> @ViewBag.Details.Tables[1].Rows[0]["Prosstate_name"].ToString()</td></tr>
                                }
                                @*<tr><td><strong> State : </strong> @ViewBag.Details.Tables[1].Rows[0]["state_name"].ToString()</td></tr>*@
                                @if (@ViewBag.Details.Tables[1].Rows[0]["cust_type"].ToString() == "C")
                                {
                                    <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[1].Rows[0]["country_name"].ToString()</td></tr>
                                }
                                else
                                {
                                    <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[1].Rows[0]["Proscountry_name"].ToString()</td></tr>
                                }

                                <tr><td><strong> Phone : </strong> @ViewBag.Details.Tables[1].Rows[0]["cont_no"].ToString()</td></tr>
                                @if (@ViewBag.Details.Tables[1].Rows[0]["cust_type"].ToString() == "C")
                                {
                                    <tr><td><strong> GSTIN/UIN : </strong> @ViewBag.Details.Tables[1].Rows[0]["cust_gst_no"].ToString()</td></tr>
                                }
                                else
                                {
                                    <tr><td><strong> GSTIN/UIN : </strong> @ViewBag.Details.Tables[1].Rows[0]["ProsGstNo"].ToString()</td></tr>
                                }
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                    <thead>
                        <tr>
                            <th width='6%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                            <th width='28%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description  </th>
                            <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                            <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Quantity </th>
                            <th width="10%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px; vertical-align:top'><strong>Unit Price <br /> [@ViewBag.Details.Tables[4].Rows[0]["curr_name"].ToString()]</strong></th>
                            <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Value </th>
                            <th width='28%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Remarks </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var srno = 0;
                        }
                        @if (@ViewBag.Details.Tables[2].Rows.Count > 0)
                        {
                            DataView data1 = new DataView();
                            foreach (DataRow data in @ViewBag.Details.Tables[2].Rows)
                            {
                                srno = srno + 1;
                                <tr>
                                    <td style="text-align: center; width: 5%; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@srno</td>
                                    <td style="paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["item_name"].ToString()</td>
                                    @*<td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["uom"].ToString()</td>*@
                                    @*<td style="padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["qty"].ToString()</td>*@
                                    <td style='paddingleft: 5px; paddingbottom: 3px; vertical-align: top;'>@data["uom"].ToString()</td>
                                    <td style='text-align: right; paddingright: 5px; vertical-align: top; paddingbottom: 3px;'>@data["qty"].ToString()</td>
                                    <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["rate"].ToString()</td>
                                    <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["val"].ToString()</td>
                                    <td style='text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>@data["ItmRemark"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style=" width: 100%; font-size: 14px; font-weight: bold; paddingtop: 2px; paddingbottom: 0px;  vertical-align: top;">Communication Detail</td>
        </tr>
        <tr>
            <td>
                <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                    <thead>
                        <tr>
                            <th width='6%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                            <th width='15%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Communication Type  </th>
                            <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Call Date </th>
                            <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> ContactedBy </th>
                            <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> ContactedTo </th>
                            <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Contact Detail </th>
                            <th width='33%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Discussion Remarks </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var srlno = 0;
                        }
                        @if (@ViewBag.Details.Tables[3].Rows.Count > 0)
                        {
                            DataView data2 = new DataView();
                            foreach (DataRow data in @ViewBag.Details.Tables[3].Rows)
                            {
                                srlno = srlno + 1;
                                <tr>
                                    <td style="text-align: center; width: 5%; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@srlno</td>
                                    <td style="paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["CommTypName"].ToString()</td>
                                    <td style='paddingleft: 5px; paddingbottom: 3px; vertical-align: top;'>@data["call_dt"].ToString()</td>
                                    <td style='paddingleft: 5px; vertical-align: top; paddingbottom: 3px;'>@data["cont_by"].ToString()</td>
                                    <td style='paddingleft: 5px; vertical-align: top; paddingbottom: 3px;'>@data["cont_to"].ToString()</td>
                                    <td style='paddingleft: 5px; vertical-align: top; paddingbottom: 3px;'>@data["cont_detail"].ToString()</td>
                                    <td style='paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>@data["disc_remark"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px; font-weight:normal;vertical-align:top; "><strong>Remarks (if any)</strong></td>
        </tr>
        <tr>
            <td style="font-size: 12px; font-weight:normal; vertical-align:top; ">@ViewBag.Details.Tables[0].Rows[0]["remark"].ToString() </td>
        </tr>
        <tr>
            <td style="font-size: 10px; font-weight:normal;vertical-align:top; text-align:center; ">This is computer generated document.</td>
        </tr>
    </table>
</div>



