@using System.Data;
@{
    var a = "";
}
<style>
    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }
    .invoice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }

    .invoice_sub {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        /*font-weight: bold;*/
        /*text-decoration: underline;*/
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .invoice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
    }
    .bank_detail {
        font-size: 12px;
        font-weight: normal;
        width: 35%;
    }
    .bank_detail_value {
        font-size: 11px;
        font-weight: bold;
        width: 65%;
    }
    .company_detail {
        font-size: 16px;
        font-weight: normal;
        width: 65%;
        paddingbottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .bank_detail, .bank_detail_value {
        font-family: Arial, Helvetica, sans-serif;
        paddingtop: 2px;
        paddingbottom: 2px;
    }
    .declaration {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
        paddingbottom: 5px;
    }
    .bank_detail_main {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
    }
</style>
@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
    string copyname = string.Empty;/*Add by Hina sharma on 01-10-2024 to show multiple print copy for sale invoice only*/
    if (ViewBag.Copyno != null)/*Add by Hina sharma on 01-10-2024 to show multiple print copy for sale invoice only*/
    {
        if (Convert.ToInt32(ViewBag.Copyno) == 1)
        {
            copyname = "Original";
        }
        if (Convert.ToInt32(ViewBag.Copyno) == 2)
        {
            copyname = "Duplicate";
        }
        if (Convert.ToInt32(ViewBag.Copyno) == 3)
        {
            copyname = "Triplicate";
        }
        if (Convert.ToInt32(ViewBag.Copyno) == 4)
        {
            copyname = "Extra Copy";
        }
    }
    else
    {
        copyname = "";
    }
}
<div>
    <div style="width:100%;">
        <div style="margin:0 auto; background:url(images/draft.png) no-repeat; background-position: center center ">
            <table style="width:100%; ">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            @*<tr>
                        <td width="100%">
                            <table>
                                <tr>
                                    <td><img src="@lpath" alt="Logo" width="150" /></td>
                                    <td class="invoice">@ViewBag.Title.ToString()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                            @*<tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="40%" style="height:80px;">
                                        <img src="@lpath" alt="Logo" width="150" />
                                    </td>
                                    <td class="invoice" width="60%">@ViewBag.Title.ToString() Lorem ipsum is a dummy or placeholder text commonly used in graphic design, publishing, testing, and web development.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="40%">&nbsp;</td>
                                            <td class="" width="60%">&nbsp;</td>
                                            <td class="" width="8%" style="font-size: 10px; font-weight:normal; text-align:right;">@copyname.ToString()</td>
                                        </tr>
                                        <tr>
                                            <td width="40%">
                                                <img src="@lpath" alt="Logo" width="100" />
                                            </td>
                                            <td class="invoice" width="60%">@ViewBag.Title.ToString()</td>
                                            <td class="" width="8%" style="font-size: 10px; font-weight:normal; text-align:right;">@*@copyname.ToString()*@</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    @if (ViewBag.PrintOption != null)/*Add onyl ViewBag.PrintOption != null this condition by Hina sharma on 18-04-2025*/
                                                    {
                                                        if (ViewBag.PrintOption.Rows[0]["showInvHeading"].ToString() == "Y")
                                                        {
                                                            <tr>
                                                                <td width="20%">&nbsp;</td>
                                                                <td class="invoice_sub" width="60%">@ViewBag.Details.Tables[0].Rows[0]["inv_heading"].ToString() </td>
                                                                <td width="20%">&nbsp;</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td style="height:100px; vertical-align:top;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <!--<td style="vertical-align: top; width:20%">-->
                                            @*<img src='@Server.MapPath("~/"+ViewBag.Details.Tables[0].Rows[0]["logo"].ToString())' alt="Logo" width="150" /> <br />*@
                                            <!--</td>-->
                                            <td width="35%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 10px; line-height:18px; vertical-align:top; ">
                                                @if (ViewBag.PrintOption != null)/*Add onyl ViewBag.PrintOption != null this condition by Hina sharma on 18-04-2025*/
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowWithoutSybbol"].ToString() == "Y")
                                                    {
                                                        <strong>Tax Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["app_inv_no_without"].ToString()</strong><br />
                                                    }
                                                    else
                                                    {
                                                        <strong>Tax Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["app_inv_no"].ToString()</strong><br />
                                                    }
                                                }
                                                else
                                                {
                                                    <strong>Tax Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["app_inv_no"].ToString()</strong><br />
                                                }
                                                <strong>Invoice Date : @ViewBag.Details.Tables[0].Rows[0]["InvDate"].ToString()</strong><br />
                                                @*<strong>Customer Ref. :@ViewBag.Details.Tables[0].Rows[0]["CustomerRef"].ToString()</strong><br />*@
                                                <strong>Customer Ref.Number : @ViewBag.Details.Tables[0].Rows[0]["ref_doc_no"].ToString()</strong><br />@*/*add by Hina on 07-12-2024*/*@
                                                <strong>Customer Ref.Date : @ViewBag.Details.Tables[0].Rows[0]["ref_doc_dt"].ToString()</strong><br />
                                                @*@if (ViewBag.Details.Tables[6].Rows.Count > 0)
                                        {
                                            <strong>Payment Terms : @ViewBag.Details.Tables[0].Rows[0]["PaymentTerms"].ToString()</strong><br />
                                        }
                                        else
                                        {
                                            <strong>Payment Terms :</strong><br />
                                        }*@
                                            </td>
                                            <td width="10%"> <img src="images/barcode.png" alt="Logo" width="90" /> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style=" width:100%;border: solid 1px #afafaf;">
                            <tbody>
                                <tr>
                                    <td width="33%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; vertical-align:top; line-height:18px;  border-right: solid 1px #afafaf;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;"><div style="width: 100%; float: left; "><div style=" width:22%; float:left;">IRN No. :</div> <div style="width:98%; float:left;">@ViewBag.Details.Tables[0].Rows[0]["gst_irn_no"].ToString()</div></div></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                    Bill From
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;"> @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;"> @ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;">Ph.No.  @ViewBag.Details.Tables[0].Rows[0]["PhoneNo"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;">Email Id:  @ViewBag.Details.Tables[0].Rows[0]["EmailId"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;"> Website: @ViewBag.Details.Tables[0].Rows[0]["comp_website"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;">State Code/State:  @ViewBag.Details.Tables[0].Rows[0]["State"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">MSME No. : @ViewBag.Details.Tables[0].Rows[0]["msme_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">GST No. : @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold;">PAN No. : @ViewBag.Details.Tables[0].Rows[0]["pan_no"].ToString() </td>
                                            </tr>

                                        </table>

                                        @*<div style="font-weight:bold;">IRN No. :  @ViewBag.Details.Tables[0].Rows[0]["gst_irn_no"].ToString()</div><br />*@
                                        @*<div style="width: 100%; float: left; font-weight: bold;"><div style=" width:22%; float:left;">IRN No. :</div> <div style="width:98%; float:left;">@ViewBag.Details.Tables[0].Rows[0]["gst_irn_no"].ToString()</div></div><br /><br />*@
                                        @*<div style="width:100%; float:left;"><div style="font-weight:bold; width:22%; float:left;">Bill From</div></div>
                                <br />*@
                                        @*<div style="font-weight:bold;"> @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</div> <br />*@
                                        @*@ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString() <br />*@
                                        @*Ph.No.  @ViewBag.Details.Tables[0].Rows[0]["PhoneNo"].ToString()<br />*@
                                        @*Email Id:  @ViewBag.Details.Tables[0].Rows[0]["EmailId"].ToString() <br />*@
                                        @*Website: @ViewBag.Details.Tables[0].Rows[0]["comp_website"].ToString()<br />*@
                                        @*State Code/State:  @ViewBag.Details.Tables[0].Rows[0]["State"].ToString()<br />*@
                                        @*MSME No: UDYAM-DL-02-0065352 <br />*@
                                        @*<strong>GST No. : @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString() </strong><br />*@
                                        @*<strong>PAN No. : @ViewBag.Details.Tables[0].Rows[0]["pan_no"].ToString() </strong><br />*@
                                    </td>
                                    <td width="33%" style="font-size: 12px; font-weight: normal; padding: 0px 0px 0px 5px; vertical-align: top; border-right: solid 1px #afafaf; ">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Acknowledgement No. :  @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Bill To</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;"><div style="width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">: @ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString() </div></td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;">@ViewBag.Details.Tables[1].Rows[0]["cust_add"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">GST No. : @ViewBag.Details.Tables[1].Rows[0]["cust_gst_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold;">State Code/State : @ViewBag.Details.Tables[1].Rows[0]["State"].ToString()</td>
                                            </tr>

                                        </table>

                                        @*<div style="font-weight:bold;">Acknowledgement No. :  @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_no"].ToString()</div><br />*@
                                        @*<div style="font-weight:bold;">Bill To</div> <br />*@
                                        @*<div style="font-weight:bold; width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">: @ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString() </div><br />*@
                                        @*@ViewBag.Details.Tables[1].Rows[0]["cust_add"].ToString()<br />*@
                                        @*<strong>GST No. : @ViewBag.Details.Tables[1].Rows[0]["cust_gst_no"].ToString()</strong><br />*@
                                        @*<strong>State Code/State : @ViewBag.Details.Tables[1].Rows[0]["State"].ToString()</strong><br />*@
                                    </td>
                                    <td width="34%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; vertical-align:top;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;"><div style="font-weight:bold;">Acknowledgement Date : @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_dt"].ToString()</div></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;"><div style="font-weight:bold;">Ship To</div><br /></td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                    @*@if (@ViewBag.Details.Tables[0].Rows[0]["address"].ToString() == @ViewBag.Details.Tables[0].Rows[0]["ship_add_id"].ToString())*@
                                                    @if (@ViewBag.Details.Tables[0].Rows[0]["ship_to"].ToString() != null && @ViewBag.Details.Tables[0].Rows[0]["ship_to"].ToString() != "")
                                                    {

                                                        <div style="font-weight:bold; width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">
                                                            : @ViewBag.Details.Tables[0].Rows[0]["ship_to"].ToString()
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="font-weight:bold; width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">
                                                            : @ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString()
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;">@ViewBag.Details.Tables[9].Rows[0]["cust_add"].ToString()<br /></td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;"><strong>GST No. : @ViewBag.Details.Tables[9].Rows[0]["cust_gst_no"].ToString()</strong><br /></td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;"><strong>State Code/State : @ViewBag.Details.Tables[9].Rows[0]["State"].ToString()</strong><br /></td>
                                            </tr>
                                            <tr>
                                                <td style="paddingtop: 3px; paddingbottom: 3px;"> <strong>Place of Supply : @ViewBag.Details.Tables[0].Rows[0]["placeofsupply"].ToString()</strong><br /></td>
                                            </tr>

                                        </table>
                                        @*<div style="font-weight:bold;">Acknowledgement Date : @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_dt"].ToString()</div><br />*@
                                        @*<div style="font-weight:bold;">Ship To</div><br />*@
                                        @*@if (@ViewBag.Details.Tables[0].Rows[0]["address"].ToString() == @ViewBag.Details.Tables[0].Rows[0]["ship_add_id"].ToString())
                                {

                                    <div style="font-weight:bold; width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">
                                        : @ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString()
                                    </div>
                                }*@
                                        @*@ViewBag.Details.Tables[9].Rows[0]["cust_add"].ToString()<br />*@
                                        @*<strong>GST No. : @ViewBag.Details.Tables[9].Rows[0]["cust_gst_no"].ToString()</strong><br />*@
                                        @*<strong>State Code/State : @ViewBag.Details.Tables[9].Rows[0]["State"].ToString()</strong><br />*@
                                        @*<strong>Place of Supply : @ViewBag.Details.Tables[0].Rows[0]["placeofsupply"].ToString()</strong><br />*@

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="4" style=" width:100%; font-size: 10px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="4%" style="border-right: solid 1px #000000; text-align:center;"><strong>S.No.</strong><br /></th>
                                    <th rowspan="2" width="19%" style="border-right: solid 1px #000000; text-align: center;"><strong>Service Description</strong><br /></th>
                                    <th rowspan="2" width="7%" style="border-right: solid 1px #000000; text-align: center;"><strong>HSN/SAC</strong><br /></th>
                                    <th rowspan="2" width="6%" style="border-right: solid 1px #000000; text-align: center;"><strong>Qty.</strong><br /></th>
                                    <th rowspan="2" width="5%" style="border-right: solid 1px #000000; text-align: center;"><strong>UOM</strong><br /></th>
                                    @*/*Add by hina sharma on 14-11-2024*/*@
                                    <th rowspan="2" width="6%" style="border-right: solid 1px #000000; text-align: center;"><strong>Unit Price <br /> [INR]</strong><br /></th>
                                    <th rowspan="2" width="6%" style="border-right: solid 1px #000000; text-align: center;"><strong>Discount Value </strong><br /></th>
                                    <th rowspan="2" width="8%" style="border-right: solid 1px #000000; text-align: center;"><strong>Taxable Amt <br /> [INR] @*Total After Discount*@ @*<br /> [INR]*@</strong><br /></th>
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>CGST [INR]</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>SGST [INR]</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>IGST [INR]</strong><br /></th>
                                    }
                                    <th rowspan="2" width="9%" style="text-align:center;"><strong>@*Line Total*@ Total Amt <br /> [INR]</strong></th>
                                </tr>
                                <tr>
                                    @*<th  width="49%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>&nbsp;</strong><br /></th>*@
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                        <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                        <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                        <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    @*<th width="9%" style="border-top: solid 1px #000000;"><strong>&nbsp;</strong><br /></th>*@
                                </tr>
                                @*<tr>

                            <th colspan="8" width="49%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>&nbsp;</strong><br /></th>
                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
                            {
                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                            }
                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
                            {
                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                            }
                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
                            {
                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                            }
                            <th width="9%" style="border-top: solid 1px #000000;"><strong>&nbsp;</strong><br /></th>
                        </tr>*@
                            </thead>
                            <tbody>
                                @{
                                    var srno = 0;
                                }
                                @if (@ViewBag.Details.Tables[2].Rows.Count > 0)
                                {
                                    DataView data1 = new DataView();
                                    foreach (DataRow data in @ViewBag.Details.Tables[2].Rows)
                                    {
                                        srno = srno + 1;
                                        <tr>
                                            <td style="text-align: center; width: 5%; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@srno</td>
                                            @*<td style="padding-left: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["itemName"].ToString()<br />@data["ItmTechDiscriptn"].ToString()</td>*@
                                            <td style="padding-left: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">
                                                @if (ViewBag.PrintOption != null)
                                                {
                                                    if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                    {
                                                        @data["CustSpecItemDesc"].ToString()
                                                        if (ViewBag.PrintOption.Rows[0]["PrintRemarks"].ToString().ToUpper() == "Y")/*Add by Hina on 25-09-2024*/
                                                        {
                                                            <br /> @data["item_remarks"].ToString()
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @data["itemName"].ToString()
                                                        if (ViewBag.PrintOption.Rows[0]["PrintRemarks"].ToString().ToUpper() == "Y")/*Add by Hina on 25-09-2024*/
                                                        {
                                                            <br /> @data["item_remarks"].ToString()
                                                        }
                                                    }
                                                    if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                    {
                                                        <br /> @data["ItmTechDiscriptn"].ToString()
                                                    }
                                                }
                                                else
                                                {
                                                    @data["itemName"].ToString()
                                                    <br /> @data["ItmTechDiscriptn"].ToString()
                                                }
                                            </td>
                                            <td style="padding-left: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["HSN_code"].ToString()</td>
                                            <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["inv_qty"].ToString()</td>
                                            <td style="padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["uom"].ToString()</td>
                                            @*/*Add by Hina sharma on 14-11-2024*/*@
                                            <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["itemRate"].ToString()</td>
                                            <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["itemDiscVal"].ToString()</td>
                                            <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["totalAfterDisc"].ToString()</td>                                           @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
                                            {
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["cgstRate"].ToString()</td>
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["cgst"].ToString()</td>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
                                            {
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["sgstRate"].ToString()</td>
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["sgst"].ToString()</td>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
                                            {
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["igstRate"].ToString()</td>
                                                <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["igst"].ToString()</td>
                                            }
                                            <td style="text-align: right; padding-right: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000;">@data["lineTotal"].ToString()</td>
                                        </tr>
                                    }

                                }
                                @{
                                    int colspn = 9;
                                    if (Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        colspn = colspn + 2;
                                    }
                                    if (Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        colspn = colspn + 2;
                                    }
                                    if (Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        colspn = colspn + 2;
                                    }
                                }
                                <tr>

                                    <td colspan="@colspn">
                                        <table style="width:100%" cellpadding="0" cellspacing="0" border="0">
                                            @*<tr>
                                        <td width="88%" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px; ">Taxable Amount Line Total Value <br /></td>
                                        <td width="12%" style="text-align: right; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@ViewBag.Details.Tables[3].Rows[0]["LineTotalValue"].ToString()</td>
                                    </tr>*@
                                            <tr>
                                                @*<td width="66%">&nbsp;</td>*@
                                                <td width="66%" valign="top">
                                                    <table style=" width:100%;">
                                                        @if (ViewBag.PrintOption != null)
                                                        {
                                                            if (ViewBag.PrintOption.Rows[0]["ShowTotalQty"].ToString().ToUpper() == "Y")
                                                            {
                                                                <tr>
                                                                    <td style="width:540px;">
                                                                        <table cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                                            <tr>


                                                                                <td width="10%" style="border-bottom: solid 1px #000000;">&nbsp;</td>
                                                                                <td width="38%" class="" style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight: bold; text-align: right; border-bottom: solid 1px #000000;'>Total Qty</td>
                                                                                <td width="20%" class="" style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight: bold; border-bottom: solid 1px #000000;'>@ViewBag.Details.Tables[11].Rows[0]["GrandTotalQty"].ToString()</td>
                                                                                <td width="32%" style="border-bottom: solid 1px #000000;">&nbsp;</td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }


                                                        <tr>

                                                            <td style="font-size: 12px; font-weight:bold; width:60%; vertical-align:top;">
                                                                @*Terms &amp; Conditions :*@
                                                                Payment Terms:
                                                                <br />
                                                                <ul style="list-style-type: decimal; paddingtop: 0px; paddingtop: 0px; paddingleft: 0px;                                paddingbottom:0px; font-weight: normal; margintop: 0px; marginbottom: 0px;
                                                                    line-height:12px;">
                                                                    @if (ViewBag.Details.Tables[0].Rows.Count > 0)
                                                                    {
                                                                        foreach (DataRow data in @ViewBag.Details.Tables[0].Rows)
                                                                        {
                                                                            <li style="paddingtop: 0px; paddingbottom: 0px; line-height: 10px; ">
                                                                                @data["pay_term"].ToString()
                                                                            </li>
                                                                        }
                                                                    }

                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 12px; font-weight:bold; width:60%; vertical-align:top;">
                                                                Delivery Terms :
                                                                <br />
                                                                <ul style="list-style-type: decimal; paddingtop: 0px; paddingtop: 0px; paddingleft: 0px; paddingbottom: 0px; font-weight: normal; margintop: 0px; marginbottom: 0px; line-height: 12px; ">
                                                                    @if (ViewBag.Details.Tables[0].Rows.Count > 0)
                                                                    {
                                                                        foreach (DataRow data in @ViewBag.Details.Tables[0].Rows)
                                                                        {
                                                                            <li style="paddingtop: 0px; paddingbottom: 0px; line-height: 10px; ">@data["deli_term"].ToString()</li>
                                                                        }
                                                                    }
                                                                    @*<li>Goods once sold will not be taken back</li>*@
                                                                    @*<li>
                        Interest @("@18%") p.a. will be charged on the due amount, if invoice is not paid within due date. <br />
                        Default due date is 30 Days. if not mentioned on invoice.
                    </li>
                    <li>All disputes subjected to Greater Noida Jurisdiction</li>*@
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>

                                                <td width="22%" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-top: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px; ">Amount (Before Tax) <br /></td>
                                                <td width="12%" style="text-align: right; paddingtop: 2px; paddingright: 5px; paddingbottom: 2px; border-right: solid 1px #000000; border-top: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@ViewBag.Details.Tables[8].Rows[0]["TotalTaxableVal"].ToString()</td>
                                            </tr>
                                            @*/*Add By Hina Sharma on 20-12-2024 to show separate Taxes*/*@
                                            @if (@*@ViewBag.Details.Tables[6].Rows.Count > 0 &&*@ Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalCgst"]) > 0)
{
foreach (var cgsttaxes in @ViewBag.Details.Tables[6].Rows)
{
if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
{
            <tr>
                <td width="66%">&nbsp;</td>
                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px;"> @cgsttaxes["CgstTaxName"].ToString() <br /></td>
                <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@cgsttaxes["TotalCgst"].ToString()</td>
            </tr>
        }
    }
}
                                            @if (@*@ViewBag.Details.Tables[6].Rows.Count > 0 &&*@ Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalSgst"]) > 0)
{
foreach (var sgsttaxes in @ViewBag.Details.Tables[6].Rows)
{
if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
{
            <tr>
                <td width="66%">&nbsp;</td>
                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px;"> @sgsttaxes["SgstTaxName"].ToString() <br /></td>
                <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@sgsttaxes["TotalSgst"].ToString()</td>
            </tr>
        }
    }
}
                                            @if (@*@ViewBag.Details.Tables[6].Rows.Count > 0 &&*@ Convert.ToDecimal(ViewBag.Details.Tables[8].Rows[0]["TotalIgst"]) > 0)
{
foreach (var igsttaxes in @ViewBag.Details.Tables[6].Rows)
{
if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
{
            <tr>
                <td width="66%">&nbsp;</td>
                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px;"> @igsttaxes["IgstTaxName"].ToString() <br /></td>
                <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@igsttaxes["TotalIgst"].ToString()</td>
            </tr>
        }
    }
}

                                            @if (@ViewBag.Details.Tables[4].Rows.Count > 0)
                                            {
                                                foreach (var othercharges in @ViewBag.Details.Tables[4].Rows)
                                                {
                                                    <tr>
                                                        <td width="66%">&nbsp;</td>
                                                        <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px;"> @othercharges["oc_name"].ToString() <br /></td>
                                                        <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 12px; font-weight: bold; ">@othercharges["total_amt"].ToString()</td>
                                                    </tr>
                                                }
                                            }

                                            <tr>
                                                <td width="66%">&nbsp;</td>
                                                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px; ">Round Off</td>
                                                <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; border-bottom: solid 1px #000000; border-right: solid 1px #000000; paddingbottom: 2px; font-size: 12px; font-weight: bold; ">
                                                    @ViewBag.Details.Tables[10].Rows[0]["RoundOff"].ToString()
                                                </td>
                                            </tr>


                                            <tr>
                                                <td width="66%">&nbsp;</td>
                                                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px; ">@*Invoice*@ Total [INR]<br /></td>
                                                <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; border-bottom: solid 1px #000000; border-right: solid 1px #000000; paddingbottom: 2px; font-size: 12px; font-weight: bold; ">@ViewBag.Details.Tables[3].Rows[0]["invTotal"].ToString()</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <table style="width:100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 0px;  vertical-align:top; width:25%;"><strong>Total Amount in Words [INR]</strong><br /> </td>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:75%;">
                                    @ViewBag.Details.Tables[3].Rows[0]["net_val_spec_inwords"].ToString()
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                @if (ViewBag.PrintOption != null)/*Add onyl ViewBag.PrintOption != null this condition by Hina sharma on 18-04-2025*/
                                {
                                    if (ViewBag.PrintOption.Rows[0]["showDeclare1"].ToString() == "Y")
                                    {
                                        <td class="declaration">
                                            <strong style="text-decoration: underline;">Declaration 1</strong> <br />@*@ViewBag.Details.Tables[0].Rows[0]["declar_1"].ToString()*@
                                            @{
                                                var txt = @ViewBag.Details.Tables[0].Rows[0]["declar_1"].ToString();
                                                ViewBag.TextData = txt;
                                            }
                                            @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")
                                        </td>
                                    }
                                }


                                <td class="bank_detail_main">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td colspan="2" class=""> Company's Bank Details </td>
                                        </tr>
                                        <tr>

                                            <td class="bank_detail"> Beneficiary Name  </td>
                                            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["benif_name"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td class="bank_detail"> Bank Name  </td>
                                            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["bank_name"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td class="bank_detail"> A/C No  </td>
                                            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["acc_no"].ToString()</td>
                                        </tr>

                                        <tr>
                                            <td class="bank_detail"> Branch Address  </td>
                                            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["bank_add"].ToString()</td>
                                        </tr>
                                        <tr>
                                            <td class="bank_detail">IFSC Code  </td>
                                            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["ifsc_code"].ToString()</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                @if (ViewBag.PrintOption != null)/*Add onyl ViewBag.PrintOption != null this condition by Hina sharma on 18-04-2025*/
                                {
                                    if (ViewBag.PrintOption.Rows[0]["showDeclare2"].ToString() == "Y")
                                    {
                                        <td class="declaration">
                                            <strong style="text-decoration: underline;">Declaration 2</strong> <br />@*@ViewBag.Details.Tables[0].Rows[0]["declar_2"].ToString()*@
                                            @{
                                                var txt = @ViewBag.Details.Tables[0].Rows[0]["declar_2"].ToString();
                                                ViewBag.TextData = txt;
                                            }
                                            @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")
                                        </td>
                                    }
                                }
                                <td class="bank_detail_main">
                                    &nbsp;
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <!--<tr>
    <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="declaration">
                    <strong style="text-decoration: underline;">Declaration</strong> <br />We declare that this invoice shows the actual price of the <br />
                    goods described and that all particulars are true and correct.
                </td>
                <td class="bank_detail_main">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td colspan="2" class=""> Company's Bank Details </td>
                        </tr>
                        <tr>-->
                @*<td class="bank_detail"> A/C Holder's Name  </td>*@
                <!--<td class="bank_detail"> Beneficiary Name  </td>
        <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["benif_name"].ToString()</td>
    </tr>
    <tr>
        <td class="bank_detail"> Bank Name  </td>
        <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["bank_name"].ToString()</td>
    </tr>
    <tr>
        <td class="bank_detail"> A/C No  </td>
        <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["acc_no"].ToString()</td>
    </tr>-->
                @*<tr>
            <td class="bank_detail"> Branch & IFS Code  </td>/*Commented and changes by Hina shrama on 29-10-2024 to discuss with vishal sir*/
            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["BranchAndIFSCode"].ToString()</td>
        </tr>
        <tr>
            <td class="bank_detail"> SWIFT Code  </td>
            <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["swift_code"].ToString()</td>
        </tr>*@
                <!--<tr>
                                <td class="bank_detail"> Branch Address  </td>
                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["bank_add"].ToString()</td>
                            </tr>
                            <tr>
                                <td class="bank_detail">IFSC Code  </td>
                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[5].Rows[0]["ifsc_code"].ToString()</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>-->

            </table>
        </div>
    </div>
</div>
<div style="page-break-inside: avoid;">
    <table style="width:100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50%">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px; vertical-align:top; width:60%;"><strong>Remarks (if any)</strong><br /> </td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:60%;">@ViewBag.Details.Tables[0].Rows[0]["remarks"].ToString() </td>
                    </tr>
                </table>
            </td>
            <td width="50%" vertical-align="top">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;paddingtop: 5px; paddingbottom:5px; vertical-align:top; text-align:center;">For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:bold; vertical-align:top; text-align:center;">
                            @if (!string.IsNullOrEmpty(@ViewBag.DigiSign))
                            {
                                <img src="@ViewBag.DigiSign.ToString()" alt="Logo" width="150" />
                            }
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:bold; vertical-align:top; text-align:center;"><strong>Authorised Signatory</strong><br /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>