@model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.QuotationAnalysis.QAList_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/QuotationAnalysis/QuotationAnalysis.js"></script>
@*/*start Add by Hina on 07-05-2025 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
<title>@Model.title</title>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <div class="price_item_detail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                @Html.HiddenFor(m => m.WF_status, new { @id = "WF_status" })
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @*@Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })*@
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>

                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105101125001")
                        {
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddQuotationAnalysisDetail","QuotationAnalysis")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddNewGRN" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12 padding_zero">
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.FromDate
                                </label>
                                @Html.TextBoxFor(model => model.PQA_FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                @Html.HiddenFor(model => model.PQA_FromDate, new { @id = "hdFromdate" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.ToDate
                                </label>
                                @if (Model.PQA_ToDate != null)
                                {
                                    @Html.TextBoxFor(model => model.PQA_ToDate, new { @class = "form-control", @id = "txtTodate", @onchange = "FromToDateValidation()", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.PQA_ToDate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.PQA_ToDate, new { @class = "form-control", @id = "txtTodate", @onchange = "FromToDateValidation()", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Status
                                </label>
                                @Html.DropDownListFor(model => model.PQA_status, new SelectList(Model.statusLists, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                            </div>
                            <div class="col-md-1 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="FilterPQAListData()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div id="" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="Tbl_list_PQA" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialQuotationAnalysisList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function _ErrorPage() {
        debugger;
        try {
            window.location.href = "@Url.Action("ErrorPage", "QuotationAnalysis")";
        } catch (err) {
            console.log("ErrorPage Error : " + err.message);
        }
    }
</script>