@using System.Data;
@{

    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    else if (doc_status == "C")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/cancelled.png");
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
}
<style>
    .table_border {
        border: 0.5px solid #000000;
    }

        .table_border > tbody > tr > td, .table_border > thead > tr > th {
            border: 0.5px solid #000000;
        }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

        .suppInfo > tr > td {
            paddingright: 5px;
        }

    .bank_detail_main {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
    }

    .bank_detail, .bank_detail_value {
        font-family: Arial, Helvetica, sans-serif;
        paddingtop: 2px;
        paddingbottom: 2px;
    }
    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }

        .tableborder, .tableborder > tbody > tr > td, .tableborder th {
            border: 0.5px solid black;
        }

    .invoice_sub {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        /*font-weight: bold;*/
        /*text-decoration: underline;*/
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .invoice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    .bank_detail {
        font-size: 12px;
        font-weight: normal;
        width: 35%;
    }

    .bank_detail_value {
        font-size: 11px;
        font-weight: bold;
        width: 65%;
    }

    .company_detail {
        font-size: 16px;
        font-weight: normal;
        width: 65%;
        paddingbottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bank_detail, .bank_detail_value {
        font-family: Arial, Helvetica, sans-serif;
        paddingtop: 2px;
        paddingbottom: 2px;
    }

    .declaration {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
        paddingbottom: 5px;
    }

    .bank_detail_main {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
    }
</style>

@{
    string lpath = string.Empty;
    string copyname = string.Empty;/*Add by Hina sharma on 01-10-2024 to show multiple print copy for sale invoice only*/
    lpath = ViewBag.FLogoPath.ToString();
}
    <div style='background: url(@BackGroundImgUrl) no-repeat ;backgroundposition: center center;'>
        @*@Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")*@
        <table width='100%'>           
            <tr>
                <td>
                    <table style='width:100%;'>  
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">

                                    <tr>
                                        <td width="36%">
                                            <img src="@lpath" alt="Logo" width="100" />
                                        </td>
                                        <td class="invoice" width="56%">@ViewBag.Title.ToString()</td>

                                        @*/*Add above td by Hina sharma on 01-10-2024 to show multiple print copy for sale invoice only*/*@
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                @if (ViewBag.PrintOption != null)
                                                 {
                                                     if (ViewBag.PrintOption.Rows[0]["showInvHeading"].ToString() == "Y")
                                                     {
                                                          <tr>
                                                              <td width="20%">&nbsp;</td>
                                                   <td class="invoice_sub" width="60%">@ViewBag.Details.Tables[0].Rows[0]["inv_heading"].ToString()</td>
                                                              <td width="20%">&nbsp;</td>
                                                          </tr>
                                                        }
                                                     else
                                                     {
                                                         <tr>
                                                             <td>&nbsp;</td>
                                                         </tr>
                                                     }
                                                 }
                                                 else
                                                 {
                                                     <tr>
                                                         <td>&nbsp;</td>
                                                     </tr>
                                                 }
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="40%" style="font-size: 14px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:25px; vertical-align:top; ">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; font-weight: normal; paddingtop: 3px; paddingbottom: 3px; line-height: 18px;">
                                                <tr>
                                                    <td width="30%">Return No.</td>
                                                    <td width="5%">:</td>
                                                    <td width="65%" style="font-weight:bold;">
                                                        @if (ViewBag.PrintOption != null)
                                                        {


                                                            if (ViewBag.PrintOption.Rows[0]["ShowWithoutSybbol"].ToString() == "Y")
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["srt_no_without_symbol"].ToString()
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["srt_no"].ToString()
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @ViewBag.Details.Tables[0].Rows[0]["srt_no"].ToString()
                                                        }
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Return Date</td>
                                                    <td>:</td>
                                                    <td width="65%" style="font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["srt_dt"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Customer Ref.</td>
                                                    <td>:</td>
                                                    <td width="65%" style="font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["cust_ref_no"].ToString()</td>
                                                </tr>

                                                <tr>
                                                    <td>Invoice No.</td>
                                                    <td>:</td>
                                                    <td width="65%" style="font-weight:bold;">
                                                        @if (ViewBag.PrintOption != null)
                                                        {


                                                            if (ViewBag.PrintOption.Rows[0]["ShowWithoutSybbol"].ToString() == "Y")
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["srt_invno_without_symbol"].ToString()
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()
                                                        }
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Invoice Date</td>
                                                    <td>:</td>
                                                    <td width="65%" style="font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["inv_dt"].ToString()</td>
                                                </tr>
                                            </table>
                                            
                                            @*<strong> Return No.  : @ViewBag.Details.Tables[0].Rows[0]["srt_no"].ToString()<br /> </strong>*@
                                            @*<strong>Return Date : @ViewBag.Details.Tables[0].Rows[0]["srt_dt"].ToString()</strong><br />*@
                                            @*<strong>Customer Ref. @ViewBag.Details.Tables[0].Rows[0]["cust_ref_no"].ToString()</strong><br />*@
                                            @*<strong>Invoice No. :  @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()</strong><br />*@
                                            @*@if (ViewBag.PrintOption != null)
                                            {
                                                

                                                if (ViewBag.PrintOption.Rows[0]["ShowWithoutSybbol"].ToString() == "Y")
                                                {
                                        <strong>Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["srt_invno_without_symbol"].ToString()</strong><br />
                                                }
                                                else
                                                {
                                        <strong>Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()</strong><br />
                                                }
                                            }
                                            else
                                            {
                                        <strong>Invoice No. : @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()</strong><br />
                                            }*@
                                            @*<strong>Invoice Date :   @ViewBag.Details.Tables[0].Rows[0]["inv_dt"].ToString()</strong><br />*@
                                        </td>
                                        <td width="40%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; vertical-align:top;">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; font-weight: normal; paddingtop: 3px; paddingbottom: 3px; line-height: 18px;">
                                                <tr>
                                                    <td width="40%">Shipping Type: </td>
                                                    <td width="5%">:</td>
                                                    <td width="55%" style="font-weight:bold;"> @ViewBag.Details.Tables[9].Rows[0]["ShipType"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Transporter Name:  </td>
                                                    <td>:</td>
                                                    <td width="55%" style="font-weight:bold;">@ViewBag.Details.Tables[9].Rows[0]["TransName"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>Vehicle No. :  </td>
                                                    <td>:</td>
                                                    <td width="55%" style="font-weight:bold;">@ViewBag.Details.Tables[9].Rows[0]["VehNo"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>GR./LR. No. & Date </td>
                                                    <td>:</td>
                                                    <td width="55%" style="font-weight:bold;">@ViewBag.Details.Tables[9].Rows[0]["GrLrNoAndDate"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td>EWB No. </td>
                                                    <td>:</td>
                                                    <td width="55%" style="font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["gst_ewb_no"].ToString()</td>
                                                </tr>
                                            </table>
                                            @*<strong>Shipping Type:  @ViewBag.Details.Tables[9].Rows[0]["ShipType"].ToString()</strong><br />*@
                                            @*<strong>Transporter Name:  @ViewBag.Details.Tables[9].Rows[0]["TransName"].ToString()</strong><br />*@
                                            @*<strong>Vehicle No. :  @ViewBag.Details.Tables[9].Rows[0]["VehNo"].ToString()</strong><br />*@             
                                            @*<strong>GR./LR. No. & Date :  @ViewBag.Details.Tables[9].Rows[0]["GrLrNoAndDate"].ToString()</strong><br />*@
                                            @*<strong>EWB No. : @ViewBag.Details.Tables[0].Rows[0]["gst_ewb_no"].ToString()</strong><br />*@
                                        </td>
                                        <td width="20%"> <img src="images/barcode.png" alt="Logo" width="90" /> </td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table style=" width:100%;border: solid 1px #afafaf;">
                                    <tbody>
                                        <tr>
                                            <td width="30%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; vertical-align:top; line-height:18px;  border-right: solid 1px #afafaf;">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                            <div style="width:100%; float:left;">
                                                                <div style="width:25%; float:left;">IRN No. :</div>
                                                                <div style="width:98%; float:left;"> @ViewBag.Details.Tables[0].Rows[0]["gst_irn_no"].ToString()</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                            Bill From
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">@ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;">
                                                            @ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px;">Ph.No.  @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px;">Email Id:   @ViewBag.Details.Tables[0].Rows[0]["email_id1"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px;">Website:  @ViewBag.Details.Tables[0].Rows[0]["comp_website"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px;">State Code/State:  @ViewBag.Details.Tables[0].Rows[0]["State"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">MSME No. : @ViewBag.Details.Tables[0].Rows[0]["msme_no"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">GST No. :  @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold;">PAN No. :  @ViewBag.Details.Tables[0].Rows[0]["br_pan_no"].ToString()</td>
                                                    </tr>
                                                </table>

                                            </td>
                                            <td width="35%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; vertical-align:top; border-right: solid 1px #afafaf;">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Acknowledgement No. : @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_no"].ToString() </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Bill To</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                                                            <div style="width:40%; float:left;">Customer Name</div> <div style="font-weight:normal; width:100%; float:left;">
                                                                
                                                                @if (ViewBag.PrintOption != null)
                                                                 {
                                                                     if (ViewBag.PrintOption.Rows[0]["CustAliasName"].ToString() == "Y")
                                                                     {
                                                                         @ViewBag.Details.Tables[6].Rows[0]["cust_alias"].ToString()
                                                                     }
                                                                     else
                                                                     {
                                                                         @ViewBag.Details.Tables[6].Rows[0]["cust_name"].ToString()
                                                                     }
                                                                 }
                                                                 else
                                                                 {
                                                                     @ViewBag.Details.Tables[6].Rows[0]["cust_name"].ToString()
                                                                 }

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;">@ViewBag.Details.Tables[6].Rows[0]["cust_add"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;">GST No. :  @ViewBag.Details.Tables[6].Rows[0]["cust_gst_no"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold;">State Code/State : @ViewBag.Details.Tables[6].Rows[0]["State"].ToString()</td>
                                                    </tr>
                                                </table>

                                            </td>
                                            <td width="35%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; vertical-align:top;">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 12px; font-weight:normal;">
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Acknowledgement Date : @ViewBag.Details.Tables[0].Rows[0]["gst_einv_ack_dt"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">Ship To</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">

                                                            <div style="width:40%; float:left;">Customer Name</div>
                                                            <div style="font-weight:normal;width:98%; float:left;">
                                                                @*@ViewBag.Details.Tables[7].Rows[0]["cust_name"].ToString();*@
                                                                @if (ViewBag.PrintOption != null)
                                                                {
                                                                    if (ViewBag.PrintOption.Rows[0]["CustAliasName"].ToString() == "Y")
                                                                    {
                                                                        @ViewBag.Details.Tables[7].Rows[0]["cust_alias"].ToString()
                                                                    }
                                                                    else
                                                                    {
                                                                        @ViewBag.Details.Tables[7].Rows[0]["cust_name"].ToString()
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @ViewBag.Details.Tables[7].Rows[0]["cust_name"].ToString()
                                                                }
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; line-height:17px;"> @ViewBag.Details.Tables[7].Rows[0]["cust_add"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight:bold;"> GST No. : @ViewBag.Details.Tables[7].Rows[0]["cust_gst_no"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px; font-weight: bold;">State Code/State  : @ViewBag.Details.Tables[7].Rows[0]["State"].ToString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="paddingtop: 3px; paddingbottom: 3px;"> <strong>Place of Supply : @ViewBag.Details.Tables[0].Rows[0]["place_of_supp"].ToString()</strong><br /></td>
                                                    </tr>
                                                </table>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                    <thead>
                                        <tr>
                                            <th width='6%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                            <th width='17%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description  </th>
                                            <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> HSN/SAC </th>
                                            <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                            <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Return Quantity </th>
                                            <th width="10%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px; vertical-align:top'><strong>Unit Price <br /> [INR]</strong></th>
                                            <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Amount<br /> (BeforTax) </th>
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalCgst"]) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>CGST [INR]</strong></th>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalSgst"]) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>SGST [INR]</strong></th>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalIgst"]) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>IGST [INR]</strong></th>
                                            }


                                            <th width="13%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong>Return Value<br /> [INR]</strong><br /></th>
                                        </tr>
                                        <tr>
                                            <th colspan="7" width="54%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>&nbsp;</strong><br /></th>

                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalCgst"]) > 0)
                                            {
                                                <th width="7%" style="border-right: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom:3px;"><strong>Rate (%)</strong><br /></th>
                                                <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalSgst"]) > 0)
                                            {
                                                <th width="7%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom: 3px;"><strong>Rate (%)</strong><br /></th>
                                                <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalIgst"]) > 0)
                                            {
                                                <th width="7%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom: 3px;"><strong>Rate (%)</strong><br /></th>
                                                <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 3px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                            }
                                            <th width="7%" style="border-top: solid 1px #000000;"><strong>&nbsp;</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Details.Tables[0].Rows != null)
                                        {
                                            var i = 1;
                                            DataView data = new DataView();
                                            foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                            {
                                                <tr>
                                                    <td style='text-align:center; width:5%;'>@i</td>
                                                    <td style='paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>
                                                        @*@dr["item_name"].ToString()
        @if (ViewBag.Details.Tables[1].Rows.Count > 0)
        {
            data = ViewBag.Details.Tables[1].DefaultView;
            DataTable NewDT1 = new DataTable();
            data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
            NewDT1 = data.ToTable();
            <table width="100%" style="font-size: 11px; paddingtop:3px;">
                <tr>
                    <td colspan="3"></td>
                </tr>
                @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                {
                    if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                    {
                        <tr>
                            <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                            <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                            <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["srt_qty"]</td>
                        </tr>
                    }
                }
            </table>
        }
        <br />@dr["it_remarks"].ToString()*@

                                                        @if (ViewBag.PrintOption != null)
                                                        {
                                                            if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                            {
                                                                @dr["CustSpecItemDesc"].ToString()
                                                            }
                                                            else
                                                            {
                                                                @dr["item_name"].ToString()
                                                            }
                                                            if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                            {
                                                                <br /> @dr["ItmTechDiscriptn"].ToString()
                                                            }
                                                            if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                                            {
                                                                if (ViewBag.Details.Tables[1].Rows.Count > 0)
                                                                {
                                                                    data = ViewBag.Details.Tables[1].DefaultView;
                                                                    DataTable NewDT1 = new DataTable();
                                                                    data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                                    NewDT1 = data.ToTable();
                                                                    <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                                        <tr>
                                                                            <td colspan="3"></td>
                                                                        </tr>
                                                                        @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                        {
                                                                            if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                            {
                                                                                <tr>
                                                                                    <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                                    <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                                    <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["srt_qty"]</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                }
                                                            }
                                                            
                                                            if (ViewBag.PrintOption.Rows[0]["PrintRemarks"].ToString().ToUpper() == "Y")
                                                            {
                                                                <br /> @dr["it_remarks"].ToString()
                                                            }

                                                        }
                                                        else
                                                        {
                                                            @dr["item_name"].ToString()
                                                            <br /> @dr["ItmTechDiscriptn"].ToString()
                                                            <br /> @dr["it_remarks"].ToString()
                                                            if (ViewBag.Details.Tables[1].Rows.Count > 0)
                                                            {
                                                                data = ViewBag.Details.Tables[1].DefaultView;
                                                                DataTable NewDT1 = new DataTable();
                                                                data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                                NewDT1 = data.ToTable();
                                                                <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                                    <tr>
                                                                        <td colspan="3"></td>
                                                                    </tr>
                                                                    @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                    {
                                                                        if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                        {
                                                                            <tr>
                                                                                <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                                <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                                <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["srt_qty"]</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </table>
                                                            }
                                                        }






                                                    </td>
                                                    <td style='text-align: left; paddingleft: 5px; paddingright: 5px; vertical-align:top; paddingbottom: 3px;'>@dr["hsn_code"].ToString()</td>
                                                    <td style='paddingleft: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["uom_id"].ToString()</td>

                                                    <td style='text-align: right; paddingright: 5px; vertical-align: top; paddingbottom: 3px;'>@dr["srt_qty"].ToString()</td>
                                                    @*/*-------------Add by Hina on 23-12-2024 to change format-------------------------*/*@
                                                    <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["item_rate"].ToString()</td>
                                                    <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["AmountPeritemBeforeTax"].ToString()</td>
                                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalCgst"]) > 0)
                                                    {
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["cgstRate"].ToString()</td>
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["cgst"].ToString()</td>
                                                    }
                                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalSgst"]) > 0)
                                                    {
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["sgstRate"].ToString()</td>
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["sgst"].ToString()</td>
                                                    }
                                                    @if (Convert.ToDecimal(@ViewBag.Details.Tables[3].Rows[0]["TotalIgst"]) > 0)
                                                    {
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["igstRate"].ToString()</td>
                                                        <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["igst"].ToString()</td>
                                                    }


                                                    <td style='text-align: right; paddingright: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["srt_value"].ToString()</td>

                                                </tr>
                                                i++;
                                            }
                                        }

                                        @*<tr>
                            sdfsdfs
                        </tr>*@

                                        @{
                                            int colspn = 8;
                                            if (Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalCgst"]) > 0)
                                            {
                                                colspn = colspn + 2;
                                            }
                                            if (Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalSgst"]) > 0)
                                            {
                                                colspn = colspn + 2;
                                            }
                                            if (Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalIgst"]) > 0)
                                            {
                                                colspn = colspn + 2;
                                            }
                                        }
                                        <tr>
                                            <td colspan="@colspn">
                                                <table style="width:100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table style="width:100%" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="65%" valign="top">
                                                                            <table style=" width:100%;">
                                                                           @if (ViewBag.PrintOption.Rows[0]["ShowTotalQty"].ToString().ToUpper() == "Y")
                                                                                {
                                                                                    <tr>
                                                                                        <td style="width:540px;">
                                                                                            <table cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                                                                <tr>


                                                                                                    <td width="22%" style="border-bottom: solid 1px #000000;">&nbsp;</td>
                                                                                                    <td width="38%" class="" style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight: bold; text-align: right; border-bottom: solid 1px #000000;'>Total Qty</td>
                                                                                                    <td width="20%" class="" style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight: bold; border-bottom: solid 1px #000000;'>@ViewBag.Details.Tables[10].Rows[0]["TotalSrtQty"].ToString()</td>
                                                                                                    <td width="20%" style="border-bottom: solid 1px #000000;">&nbsp;</td>

                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                                <tr>
                                                                                    <td style="font-size: 12px; font-weight:bold; width:60%; vertical-align:top;">
                                                                                        @*Terms &amp; Conditions :*@
                                                                                        Payment Terms :
                                                                                        <br />
                                                                                        <ul style="list-style-type: decimal;padding: 0px 0px 0px 30px;font-weight: normal;line-height: 20px; margin: 0px;">
                                                                                            @if (ViewBag.Details.Tables[12].Rows.Count > 0)
                                                                                            {
                                                                                                foreach (DataRow data in @ViewBag.Details.Tables[12].Rows)
                                                                                                {
                                                                                                    <li> @data["pay_term"].ToString()</li>
                                                                                                }
                                                                                            }
                                                                                            @*<li>Goods once sold will not be taken back</li>
                    <li>
                        Interest @("@18%") p.a. will be charged on the due amount, if invoice is not paid within due date. <br />
                        Default due date is 30 Days. if not mentioned on invoice.
                    </li>
                    <li>All disputes subjected to Greater Noida Jurisdiction</li>*@
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size: 12px; font-weight:bold; width:60%; vertical-align:top;">
                                                                                        Delivery Terms :
                                                                                        <br />
                                                                                        <ul style="list-style-type: decimal; padding: 0px 0px 0px 30px; font-weight: normal; line-height: 20px; margin: 0px;">
                                                                                            @if (ViewBag.Details.Tables[12].Rows.Count > 0)
                                                                                            {
                                                                                                foreach (DataRow data in @ViewBag.Details.Tables[12].Rows)
                                                                                                {
                                                                                                    <li style="padding-bottom:10px;"> @data["deliv_term"].ToString()</li>
                                                                                                }
                                                                                            }
                                                                                            @*<li>Goods once sold will not be taken back</li>*@
                                                                                            @*<li>
                        Interest @("@18%") p.a. will be charged on the due amount, if invoice is not paid within due date. <br />
                        Default due date is 30 Days. if not mentioned on invoice.
                    </li>
                    <li>All disputes subjected to Greater Noida Jurisdiction</li>*@
                                                                                        </ul>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>

                                                                        <td width="35%" valign="top">
                                                                            <table style="width:100%" cellpadding="0" cellspacing="0">
                                                                                <tr>

                                                                                    <td width="60%" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000;  border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; "> @*Taxable Amt*@ Amount (Before Tax)</td>
                                                                                    <td width="40%" style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@ViewBag.Details.Tables[5].Rows[0]["TotalTaxableVal"].ToString()</td>
                                                                                </tr>
                                                                                @*/*Add By Hina Sharma on 20-12-2024 to show separate Taxes*/*@
                                                                                @if (@*@ViewBag.Details.Tables[11].Rows.Count > 0 &&*@ Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalCgst"]) > 0)
                          {
                              foreach (var cgsttaxes in @ViewBag.Details.Tables[3].Rows)
                              {
                                                                            <tr>
                                                                                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px;"> @cgsttaxes["CgstTaxName"].ToString() <br /></td>
                                                                                <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@cgsttaxes["TotalCgst"].ToString()</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalSgst"]) > 0)
                                                                                {
                                                                                    foreach (var sgsttaxes in @ViewBag.Details.Tables[3].Rows)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; border-right: solid 1px #000000; "> @sgsttaxes["SgstTaxName"].ToString() <br /></td>
                                                                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px;  border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@sgsttaxes["TotalSgst"].ToString()</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[3].Rows[0]["TotalIgst"]) > 0)
                                                                                {
                                                                                    foreach (var igsttaxes in @ViewBag.Details.Tables[3].Rows)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; border-right: solid 1px #000000; "> @igsttaxes["IgstTaxName"].ToString() <br /></td>
                                                                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px;  border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@igsttaxes["TotalIgst"].ToString()</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows.Count) > 0)
                                                                                {
                                                                                    foreach (var igsttaxes in @ViewBag.Details.Tables[13].Rows)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; border-right: solid 1px #000000; "> @igsttaxes["oc_name"].ToString() <br /></td>
                                                                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px;  border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@igsttaxes["tax_val"].ToString()</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                                <tr>

                                                                                    <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000; text-align: right; font-weight: bold; font-size: 12px; ">Round Off</td>
                                                                                    <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingright: 5px; border-bottom: solid 1px #000000; border-right: solid 1px #000000; paddingbottom: 2px; font-size: 12px; font-weight: bold; ">
                                                                                        @ViewBag.Details.Tables[11].Rows[0]["RoundOff"].ToString()
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-right: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; border-bottom: solid 1px #000000;">@*Invoice*@ Total Return Value [INR]<br /></td>
                                                                                    <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; font-size: 13px; font-weight: bold;  border-bottom: solid 1px #000000;">@*@ViewBag.Details.Tables[0].Rows[0]["sub_total"].ToString()*@ @ViewBag.Details.Tables[0].Rows[0]["Hedr_srt_value"].ToString()</td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        @*/*ADD BY HINA SHARMA ON 23-12-2024 TO SHOW TAXES*/*@
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table cellspacing="0" cellpadding="4" style=" width:100%; font-size: 10px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" width="10%" style="border-right: solid 1px #000000; text-align: center;"><strong>HSN/SAC</strong><br /></th>
                                            <th rowspan="2" width="10%" style="border-right: solid 1px #000000; text-align: center;"><strong>Taxable Value</strong><br /></th>
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalCgst"].ToString()) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>CGST [INR]</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalSgst"].ToString()) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>SGST [INR]</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalIgst"].ToString()) > 0)
                                            {
                                                <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>IGST [INR]</strong><br /></th>
                                            }
                                            <th width="10%" style="text-align: center;"><strong>Total Tax @*<br />*@Amount</strong><br /></th>
                                        </tr>
                                        <tr>
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalCgst"].ToString()) > 0)
                                            {
                                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>

                                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalSgst"].ToString()) > 0)
                                            {
                                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate  (%)</strong><br /></th>

                                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalIgst"].ToString()) > 0)
                                            {
                                                <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate (%)</strong><br /></th>
                                                <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>

                                            }
                                            <th width="7%" style="border-top: solid 1px #000000;"><strong>&nbsp;</strong><br /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var dta in @ViewBag.Details.Tables[4].Rows)
                                        {
                                            <tr>
                                                <td style="text-align: center; width: 5%;border-top: solid 1px #000000; border-right: solid 1px #000000;">@dta["hsn_Code"].ToString()</td>
                                                <td style="text-align: right; padding-left: 5px;border-top: solid 1px #000000; border-right: solid 1px #000000;">@dta["TaxableValue"].ToString()</td>
                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalCgst"].ToString()) > 0)
                                                {
                                                    <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000; border-right: solid 1px #000000;">@dta["cgstRate"].ToString()</td>

                                                    <td style="text-align: right; padding-left: 5px;border-top: solid 1px #000000; border-right: solid 1px #000000;">@dta["CgstAmount"].ToString()</td>
                                                }
                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalSgst"].ToString()) > 0)
                                                {
                                                    <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">@dta["sgstRate"].ToString()</td>

                                                    <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000;  border-right: solid 1px #000000;">@dta["SgstAmount"].ToString()</td>
                                                }
                                                @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalIgst"].ToString()) > 0)
                                                {
                                                    <td style="text-align: right; paddingright: 5px; border-top: solid 1px #000000;  border-right: solid 1px #000000;">@dta["igstRate"].ToString()</td>
                                                    <td style="text-align: right; text-align: right; paddingright: 5px; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dta["IgstAmount"].ToString()</td>

                                                }
                                                <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">@dta["TotalTax"].ToString()</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td style="text-align: right; width: 5%;border-top: solid 1px #000000;  border-right: solid 1px #000000; font-size: 12px;"><strong>Total</strong></td>
                                            <td style="text-align: right;padding-left: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">@ViewBag.Details.Tables[5].Rows[0]["TotalTaxableVal"].ToString()</td>
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalCgst"].ToString()) > 0)
                                            {
                                                <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align: right; padding-left: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">@ViewBag.Details.Tables[5].Rows[0]["TotalCgst"].ToString()</td>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalSgst"].ToString()) > 0)
                                            {
                                                <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align: right; padding-left: 5px;border-top: solid 1px #000000;  border-right: solid 1px #000000;">@ViewBag.Details.Tables[5].Rows[0]["TotalSgst"].ToString()</td>
                                            }
                                            @if (Convert.ToDecimal(ViewBag.Details.Tables[5].Rows[0]["TotalIgst"].ToString()) > 0)
                                            {
                                                <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000; border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000; border-right: solid 1px #000000;">@ViewBag.Details.Tables[5].Rows[0]["TotalIgst"].ToString()</td>
                                            }
                                            <td style="text-align: right; paddingright: 5px;border-top: solid 1px #000000; ">@ViewBag.Details.Tables[5].Rows[0]["TotalTax"].ToString()</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style='font-size: 12px; font-weight: normal; paddingbottom: 5px; paddingtop: 10px; width: 100%; font-weight: bold; line-height: 20px;'>Amount in Words:</td>
                                    </tr>
                                    <tr>
                                        <td style='font-size: 12px; font-weight: normal; paddingbottom: 5px; width: 100%; line-height: 20px; '>@ViewBag.Details.Tables[0].Rows[0]["srt_value_inwords"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td style='font-size: 12px; font-weight: normal; paddingbottom: 5px; paddingtop: 10px; width: 100%; font-weight: bold; line-height: 20px; '>Remarks :</td>
                                    </tr>
                                    <tr>
                                        <td style='font-size: 12px; font-weight: normal; paddingbottom: 5px; width: 100%; '>@ViewBag.Details.Tables[0].Rows[0]["remarks"].ToString() </td>
                                    </tr>

                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                        <tr>
                            <td style='width:10px;'></td>
                            @*/*------------------------------------------Add by Hina--------------------------------*/*@
                            <td class="bank_detail_main" style="padding-top:10px;">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td colspan="2" class=""> Company's Bank Details </td>
                                    </tr>
                                    <tr>

                                        <td class="bank_detail"> Beneficiary Name  </td>
                                        <td class="bank_detail_value"> : @ViewBag.Details.Tables[8].Rows[0]["benif_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td class="bank_detail"> Bank Name  </td>
                                        <td class="bank_detail_value"> : @ViewBag.Details.Tables[8].Rows[0]["bank_name"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td class="bank_detail"> A/C No  </td>
                                        <td class="bank_detail_value"> : @ViewBag.Details.Tables[8].Rows[0]["acc_no"].ToString()</td>
                                    </tr>

                                    <tr>
                                        <td class="bank_detail"> Branch Address  </td>
                                        <td class="bank_detail_value"> : @ViewBag.Details.Tables[8].Rows[0]["bank_add"].ToString()</td>
                                    </tr>
                                    <tr>
                                        <td class="bank_detail">IFSC Code  </td>
                                        <td class="bank_detail_value"> : @ViewBag.Details.Tables[8].Rows[0]["ifsc_code"].ToString()</td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>

                    </table>
                </td>
            </tr>
           
        </table>
        @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
    </div>
    @*GetPurchaseReturnDeatils_ForPrint*@