@model EnRepMobileWeb.MODELS.BusinessLayer.TransporterSetup.GetTransporterDetailsModel
@using EnRepMobileWeb.Resources;
@using System.Data

@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/TransporterSetup/TransporterSetupList.js"></script>
<title>@Model.Title</title>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "103130001")
                        {
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddTransporterSetupDetail","TransporterSetup")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Transporter @Resource.Name
                            </label>
                            @Html.DropDownListFor(model => model.TransId, new SelectList(Model.TransList, "TransId", "TransName"), new { @class = "form-control", @id = "ddlTransList" })
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Transporter  @Resource.Type
                            </label>
                            <select class="form-control" id="ddlTransType">
                                <option value="0">---ALL---</option>
                                <option value="D">Domestic</option>
                                <option value="E">Export</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.TransportMode
                            </label>
                            <select class="form-control" id="ddlTransMode">
                                <option value="0">---ALL---</option>
                                <option value="A">Air</option>
                                <option value="R">Road</option>
                                <option value="RL">Railways</option>
                                <option value="S">Sea</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BindTransList()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="col-md-12 col-sm-12 heading_left_padding ">
                    <div class="x_panel margin_top_zero">
                        <div class="x_content">
                            <div class="row">
                                <div class="card-box table-responsive dy_table">
                                    <div id="DivTransDetails" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialTransporterSetupList.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


