@using EnRepMobileWeb.Resources;
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103205108002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103205108004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons7" class="table table-bordered data_table_full_width rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th class="wi">@Resource.SrNo</th>
            <th> @Resource.RegionName</th>
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th class="wi"> &nbsp;</th>
            <th class="wi"> &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @if (ViewBag.SalesRegionList != null)
        {
            foreach (System.Data.DataRow dr in ViewBag.SalesRegionList.Rows)
            {
                i = i + 1;

                <tr role="row" class="odd">
                    <td class="sorting_1">@i</td>
                    <td id="setupvalSalRegn">@dr["setup_val"].ToString()</td>
                    <td hidden="hidden" id="settypeSalRegn">@dr["setup_type_id"].ToString()</td>
                    <td hidden="hidden" id="setupidSalRegn">@dr["setup_id"].ToString()</td>
                    <td class="center">
                        @if (EditFlag == "Y")
                        {
                            <i type="submit" class="fa fa-edit" onclick="EditSalesRegion(event)" aria-hidden="true" title="@Resource.Edit"></i>
                        }
                    </td>
                    <td class="center">
                        @if (DeleteFlag == "Y")
                        {
                            <i class="fa fa-trash red" aria-hidden="true" title="@Resource.Delete" onclick="return functionConfirm(event,'SaleRgn')"></i>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



