@using EnRepMobileWeb.Resources;
<table id="datatable-buttons11" class="table table-bordered data_table_full_width rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th  width="2%">@Resource.SrNo</th>
            <th hidden="hidden"> @Resource.GLReportingGroup</th>
            <th> @Resource.GLReportingGroup</th>
            <th width="5%"> </th>
            <th width="5%"> </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.GlReporting != null)
        {
            var i = 0;
            foreach (System.Data.DataRow dr in ViewBag.GlReporting.Rows)
            {
                i = i + 1;
        <tr role="row" class="odd">
            <td class="sorting_1">@i</td>
            <td id="Gl_id" style="display:none">@dr["gl_rpt_id"].ToString()</td>
            <td id="GL_reporting">@dr["gl_rpt_des"].ToString()</td>
            <td class="center">
                <i type="submit" class="fa fa-edit" onclick="EditGlReportingGroup(event); CheckBranchStatusWhenUpdate('GLReporting');" aria-hidden="true" title="@Resource.Edit"></i>
            </td>
            @if (@dr["Checkdependcy"].ToString() == "Y")
            {
                <td class="center">
                    <i class="fa fa-trash" Disabled aria-hidden="true" title="@Resource.Delete" onclick=""></i>
                </td>
            }
            else
            {
                <td class="center">
                    <i class="fa fa-trash red" aria-hidden="true" title="@Resource.Delete" onclick="return functionConfirm(event,'GLReporting')"></i>
                </td>
            }
        </tr>
            }
        }
    </tbody>
</table>



