@model EnRepMobileWeb.MODELS.BusinessLayer.OCDetail.OCDetailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@*//Modifyed by Shubham Maurya on 14-12-2022 Removed All Session//*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    string str1 = Model.oc_id.ToString();
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/OCSetup/OCDetail.js"></script>

@{
    var DisableHSN = "";
    var Disable = true;
    if (Model.TransType != null)
    {
        //if (Session["TransType"].ToString() == "Update")
        if (Model.TransType == "Update")
        {
            //if (Session["Command"].ToString() == "Edit")
            if (Model.Command == "Edit")
            {
                Disable = false;
                if (ViewBag.HSN_Used != null)
                {
                    if ((ViewBag.HSN_Used == "Y"))
                    {
                        DisableHSN = "disabled";
                    }
                    else
                    {
                        DisableHSN = "enabled";
                    }
                }
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }
        //if (Session["TransType"].ToString() == "Refresh")
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }
        //if (Session["TransType"].ToString() == "Save")
        if (Model.TransType == "Save")
        {
            //if (Session["Command"].ToString() == "Add")
            if (Model.Command == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
    if (Model.Message != null)
    {
        //if (ViewBag.Message == "Duplicate")
        if (Model.Message == "Duplicate")
        {
            Disable = false;
        }
    }

}

@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script type="text/javascript">
              if ("@str" == "Save") {
                  $("#hdnSavebtn").val("0");
                    swal("", $("#savemsg").text(), "success");
                }
              if ("@str" == "Deleted") {
                  $("#hdnSavebtn").val("0");
                    swal("", $("#deletemsg").text(), "success");
                }
              if ("@str" == "Approved") {
                  $("#hdnSavebtn").val("0");
                    swal("", $("#approvemsg").text(), "success");
                }
              if ("@str" == "Duplicate") {

                  $(document).ready(function () {
                      $("#hdnSavebtn").val("0");
                        document.getElementById("vmOCName").innerHTML = $("#valueduplicate").text();
                        $("#OtherChargeName").css("border-color", "red");
                    })
                }
        </script>
    }
}

<title>@Model.Title</title>
@using (Html.BeginForm("OCSave", "OCDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="col-md-3 col-sm-12 work_flow"> &nbsp; </div>
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnName"].ToString();
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {

                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103195001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return CheckFormValidation();" name="Command" value="Save"></button>
                                            </li>

                                            <li>
                                                <button class="approve"
                                                        title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103195001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" onclick="return onclickEditButton();" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }

                                                }
                                            }

                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103195001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }



                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return CheckFormValidation();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103195001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }


                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "BtnToDetailPage":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103195001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103195002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" onclick="return onclickEditButton();" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>

                                                    }
                                                    if (Row["feature_id"].ToString() == "103195004")
                                                    {


                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }





                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li><span> @Resource.CreatedBy <br><b>@Html.DisplayFor(model => model.createby)</b></span></li>
                                        <li><span>@Resource.Createdon<br><b>@Html.DisplayFor(model => model.creat_dt)</b></span></li>
                                        <li><span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.modby)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.mod_dt)</b></span></li>
                                    </ul>
                                </div>
                                @{
                                    if (Model.EnableforhdnSavebtn == "Duplicate")
                                    {
                                        Model.EnableforhdnSavebtn = "";
                                    }
                                }
                                @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })

                                @Html.HiddenFor(m => m.EnableforhdnSavebtn, new { @id = "EnableforhdnSavebtn" })
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                                @if (@ViewBag.GstApplicable == "Y")
                                {
                                    @Html.Hidden("GstApplicable", "Y")
                                }


                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.OtherChargeDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <!--<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <form class="accordian_form_bg" action="" method="post" novalidate>
                                                    <div class="panel-body pannelwidth">
                                                        <div class="col-md-3 col-sm-12" style="margin-top:25px; padding-left:0px;" hidden>
                                                            <label class="col-md-5 col-sm-12" style="padding-right:0px;"> @Resource.OtherChargeType</label>
                                                            <div class="col-md-7 col-sm-12 de1">
                                                                @if (Disable)
                                                                {
                                                                    <span>@Resource.Self</span> @Html.RadioButtonFor(model => model.oc_type, "S", new { @id = "self", @checked = "checked", disabled = "disabled" })
                                                                    <span>@Resource.ThirdParty</span> @Html.RadioButtonFor(model => model.oc_type, "T", new { @id = "TP", disabled = "disabled" })
                                                                }
                                                                else
                                                                {
                                                                    <span>self</span> @Html.RadioButtonFor(model => model.oc_type, "S", new { @id = "self", @checked = "checked", onclick = "onchangeOCType()" })
                                                                    <span>Third Party</span> @Html.RadioButtonFor(model => model.oc_type, "T", new { @id = "TP", onclick = "onchangeOCType()" })
                                                                }
                                                                @Html.HiddenFor(model => model.TransType)
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.OtherChargeName <span class="required">*</span></label>
                                                            @if (Disable)
                                                            {
                                                                @Html.TextBoxFor(model => model.oc_name, new { @id = "OtherChargeName", @class = "form-control", @placeholder = "Other Charge Name", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.oc_name, new { @id = "OtherChargeName", @class = "form-control", maxlength = "50", @placeholder = "Other Charge Name", onclick = "OnChangeOCName()", onchange = "OnChangeOCName()", onkeypress = "OnChangeOCName()" })
                                                            }
                                                            @Html.ValidationMessageFor(model => model.oc_name, String.Empty, new { @style = "color:red;!important", @id = "vmOCName" })
                                                            @Html.HiddenFor(model => model.oc_id, new { @id = "hiddenOC_ID" })
                                                            @if (Model.oc_id != 0)
                                                            {
                                                                Model.hdnoc_id = Model.oc_id.ToString();
                                                                @Html.HiddenFor(model => model.hdnoc_id)
                                                            }
                                                        </div>
                                                        @*<div class="col-md-2 col-sm-12">

            @if (Disable)
            {
                <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", disabled = "disabled", onchange = "onchangeTP()" })
            }
            else
            {
                if (Model.Command == "Add")
                {
                    <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                    @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", disabled = "disabled", onchange = "onchangeTP()" })
                }
                else
                {
                    if (Model.Command == "Edit")
                    {
                        if (Model.oc_type == "S")
                        {
                            <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                            @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", disabled = "disabled", onchange = "onchangeTP()" })
                        }
                        else
                        {
                            <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                            @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", onchange = "onchangeTP()" })
                        }
                    }
                    else
                    {
                        if (Model.tp_id == "0")
                        {
                            <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                            @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", disabled = "disabled", onchange = "onchangeTP()" })
                        }
                        else
                        {
                            <label class="col-form-label label-align">@Resource.ThirdPartyName <span id="ThirdPartyName" class="required" style="display:none;">*</span></label>
                            @Html.DropDownListFor(model => model.tp_id, new SelectList(Model.ThirdPartyCOAList, "supp_id", "supp_name"), new { @id = "tp_name", @class = "form-control", onchange = "onchangeTP()" })
                        }
                    }
                }
            }
            <span id="Span_tp_name" class="error_message"></span>
        </div>*@
                                                        @if (ViewBag.GstApplicable != "Y")
                                                        {
                                                            <div class="custom-control custom-switch col-md-1 col-sm-12" style="padding-top: 25px;min-width: 15%;margin-left: 1%;">
                                                                @if (Disable)
                                                                {
                                                                    @Html.CheckBoxFor(modal => modal.TaxApplicable, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @style = "left:-7px;", @disabled = "disabled", @id = "TaxApplicable" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.CheckBoxFor(modal => modal.TaxApplicable, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @style = "left:-7px;", @id = "TaxApplicable", @onclick = "OnClickTaxApplicable()" })
                                                                }
                                                                @*<input checked="checked" class="custom-control-input col-md-3 col-sm-12 margin-switch" data-val="true" data-val-required="" id="" name="act_status" type="checkbox" value="true" style="left:-7px;/* margin-left:7%; */">*@
                                                                @*@Html.HiddenFor(model => model.HdnTaxApplicable, new { @id = "Hdn_TaxApplicable" })*@
                                                                <label class="custom-control-label " for="TaxApplicable" style="/* padding: 3px 0px; */">@Resource.Tax @Resource.Applicable</label>
                                                            </div>
                                                        }

                                                        <!--<div class="custom-control custom-switch col-md-2 col-sm-12" style="padding-top: 25px;">-->
                                                        @*<label class="col-md-5 col-sm-12"> @Resource.Tax @Resource.Applicable</label>*@
                                                        <!--<input checked="checked" class="custom-control-input col-md-3 col-sm-12 margin-switch" data-val="true" data-val-required="" id="" name="act_status" type="checkbox" value="true" style="left:-7px; margin-left:7%;"><input name="" type="hidden" value="">
        <label class="custom-control-label col-md-9 col-sm-12" for="act_status" style="padding: 3px 0px;">@Resource.Tax @Resource.Applicable</label>
    </div>-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.HSNCode <Span class="required" id="hsnrequired" style="display:none;"> *</Span></label>
                                                            <div>
                                                                @if (Disable)
                                                                {
                                                                    @*@Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", disabled = "disabled" })*@
                                                                    @Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", disabled = @DisableHSN })
                                                                }
                                                                else
                                                                {
                                                                    if (@DisableHSN == "disabled")
                                                                    {
                                                                        @Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", @onchange = "onchangeHSn_no()", disabled = @DisableHSN })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", @onchange = "onchangeHSn_no()" })
                                                                    }

                                                                    @*<input type="hidden" id="ajaxUrlGetAutoCompleteSearchHSN" value='@Url.Action("GetAutoCompleteSearchHSN", "ItemDetail")' />*@
                                                                }
                                                                @Html.HiddenFor(model => model.HSN_code, new { id = "hdHsnID" })
                                                                <span id="SpanHSNErrorMsg" class="error_message"></span>
                                                            </div>
                                                        </div>
                                                        @if (ViewBag.GstApplicable != "Y")
                                                        {
                                                            <div class="col-md-3 col-sm-12">
                                                                <label class="col-form-label label-align">@Resource.Tax @Resource.Template <span id="Templaterequired" class="required" style="display:none;">*</span></label>
                                                                @if (Disable)
                                                                {
                                                                    @Html.DropDownListFor(model => model.TaxTemplate, new SelectList(Model.templateLists, "tmplt_id", "tmplt_nm"), new { @id = "TaxTemplate", @onchange = "onchangeTaxTemplate()", @class = "form-control", @disabled = "disabled" });
                                                                }
                                                                else
                                                                {
                                                                    if (Model.TaxApplicable)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.TaxTemplate, new SelectList(Model.templateLists, "tmplt_id", "tmplt_nm"), new { @id = "TaxTemplate", @onchange = "onchangeTaxTemplate()", @class = "form-control" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.TaxTemplate, new SelectList(Model.templateLists, "tmplt_id", "tmplt_nm"), new { @id = "TaxTemplate", @onchange = "onchangeTaxTemplate()", @class = "form-control", @disabled = "disabled" })
                                                                    }
                                                                }
                                                                <span id="SpanTaxTemplate" class="error_message"></span>
                                                                <span class="field-validation-valid" data-valmsg-for="tp_id" data-valmsg-replace="true" id="vmTPid" style="color:red !important"></span>

                                                            </div>
                                                        }
                                                            @*<div class="col-md-3 col-sm-12" style="margin-top:27px; padding-left:0px;">
                <label class="col-md-5 col-sm-12"> @Resource.Tax @Resource.Applicable</label>
                <div class="col-md-7 col-sm-12">
                    <span>self</span> <input checked="checked" disabled="disabled" id="self" name="oc_type" type="radio" value="S">                                                                    <span>Third Party</span> <input disabled="disabled" id="TP" name="oc_type" type="radio" value="T">                                                                <input id="TransType" name="TransType" type="hidden" value="Update">
                </div>
            </div>*@
                                                            <div class="clear"></div>
                                                            <div class="col-md-3 col-sm-12">
                                                                <label class="col-form-label label-align">@Resource.GLAccount <span class="required">*</span></label>
                                                                @if (Disable)
                                                                {
                                                                    if (Model.acc_id != 0)
                                                                    {
                                                                        Model.ddl_acc_id = Model.acc_id.ToString();
                                                                        @Html.DropDownListFor(model => model.ddl_acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), new { @id = "oc_acc", @class = "form-control", disabled = "disabled", onchange = "OnChangeGL()" })
                                                                        //@Html.DropDownListFor(model => model.acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), "---Select---", new { @id = "oc_acc", @class = "form-control", disabled = "disabled", onchange = "OnChangeGL()" })

                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), new { @id = "oc_acc", @class = "form-control", disabled = "disabled", onchange = "OnChangeGL()" })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (Model.acc_id != 0)
                                                                    {
                                                                        Model.ddl_acc_id = Model.acc_id.ToString();
                                                                        @Html.DropDownListFor(model => model.ddl_acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), new { @id = "oc_acc", @class = "form-control", onchange = "OnChangeGL()" })
                                                                        //@Html.DropDownListFor(model => model.acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), "---Select---", new { @id = "oc_acc", @class = "form-control", disabled = "disabled", onchange = "OnChangeGL()" })

                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.acc_id, new SelectList(Model.COAList, "acc_id", "acc_name"), new { @id = "oc_acc", @class = "form-control", onchange = "OnChangeGL()" })
                                                                    }
                                                                }
                                                                <span id="Span_oc_name" class="error_message"></span>
                                                                @Html.ValidationMessageFor(model => model.acc_id, String.Empty, new { @style = "color:red;!important", @id = "vmAccid" })
                                                            </div>
                                                            <div class="col-md-2 col-sm-12">
                                                                <label class="col-form-label label-align"> @Resource.ApplicableFrom <span class="required">*</span> </label>
                                                                @*<input type="date" class="form-control has-feedback-left" id="oc_doc_dt" onchange="onchangeOCCal()" placeholder="First Name" aria-describedby="inputSuccess2Status">*@
                                                                @if (Disable)
                                                                {
                                                                    @Html.TextBoxFor(model => model.app_date, new { @class = "form-control", @id = "oc_doc_dt", @placeholder = "Applicable Date", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), disabled = "disabled", onchange = "OnChangedate()" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(model => model.app_date, new { @class = "form-control", @id = "oc_doc_dt", @placeholder = "Applicable Date", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), onchange = "OnChangedate()" })
                                                                }
                                                                @Html.ValidationMessageFor(model => model.app_date, String.Empty, new { @style = "color:red;!important", @id = "vmAppDate" })
                                                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                            </div>
                                                            <div class="custom-control custom-switch col-md-3 col-sm-12" style=" margin-left: 1%; max-width:23%;  padding-top: 22px;">
                                                                @if (Disable)

                                                                {
                                                                    @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "act_status", disabled = "disabled" })
                                                                }
                                                                else
                                                                {
                                                                    //if (Session["Command"].ToString() == "Add")
                                                                    if (Model.Command == "Add")
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "act_status" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "act_status" })
                                                                    }
                                                                }
                                                                <label class="custom-control-label col-md-9 col-sm-12" for="act_status" style="padding: 3px 0px;">@Resource.Active</label>
                                                            </div>
                                                        </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                @Html.HiddenFor(model => model.OCBranchDetail, new { id = "hdCustomerBranchList" })
                            </section>
                            @*@Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView.cshtml")*@
                            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView_New.cshtml")
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- page content end -->
@*<script>
        $(document).ready(function () {
            ReadBranchList();
            debugger;

        });

        function ReadBranchList() {
            debugger;
            var Branches = new Array();
            $("#CustBrDetail TBODY TR").each(function () {
                debugger;
                var row = $(this);
                var Branch = {};
                Branch.Id = row.find("#hdCustomerBranchId").val();
                var checkBoxId = "#cust_act_stat_" + Branch.Id;
                if (row.find(checkBoxId).is(":checked")) {
                    Branch.BranchFlag = "Y";
                }
                else {
                    Branch.BranchFlag = "N";
                }
                Branches.push(Branch);
            });
            debugger;
            var str = JSON.stringify(Branches);
            $('#hdCustomerBranchList').val(str);
        }

    </script>*@
