@model EnRepMobileWeb.MODELS.BusinessLayer.TaxDetail.TaxDetailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@*//***Modifyed by shubham maurya on 12-12-2022 12:10 remove all session and using Model to Transfer Data***//*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/TaxSetup/TaxDetail.js"></script>
@{
    var Disable = true;
    if (Model.TransType != null)
    {
        //if (Session["TransType"].ToString() == "Update")
        if (Model.TransType.ToString() == "Update")
        {
            if (Model.Command != null)
            {
                //if (Session["Command"].ToString() == "Edit")
                if (Model.Command.ToString() == "Edit")
                {
                    Disable = false;
                }
                else
                {
                    Disable = true;
                }
            }
        }
        else
        {
            Disable = false;
        }

        //if (Session["TransType"].ToString() == "Refresh")
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }
        //if (Session["TransType"].ToString() == "Save")
        if (Model.TransType == "Save")
        {
            //if (Session["Command"].ToString() == "Add")
            if (Model.Command != null)
            {
                if (Model.Command == "Add")
                {
                    Disable = false;
                }
                else
                {
                    Disable = true;
                }
            }

        }
    }
    @*if (Model.Message != null)
        {
            //if (ViewBag.Message == "Duplicate")
            if (Model.Message == "Duplicate")
            {
                Disable = false;
            }
            //if (ViewBag.Message == "Duplicate")
            if (Model.Message == "Duplicate")
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("vmTaxName").innerHTML = $("#valueduplicate").text();
                        $("#TaxName").css("border-color", "red");
                    });
                </script>
            }
            if (Model.Message == "DuplicateGL")
            {
                Disable = false;
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#hdnSavebtn").val("");
                        swal("", $("#GLAccountNameAlreadyExistsWithTheSameName").text() , "warning");
                        //document.getElementById("vmTaxName").innerHTML = "GL Acount Already Exist with this Name";
                        $("#TaxName").css("border-color", "red");
                    });
                </script>
            }
        }*@

}
@{
    if (Model.Message == "Duplicate")
    {
        <script type="text/javascript">
            $(function () {
                if ($("#hdnSavebtn").length) {
                    $("#hdnSavebtn").val(""); // Set to null or empty
                }
                $("#vmTaxName").html($("#valueduplicate").text());
                $("#TaxName").css("border-color", "red");
            });
        </script>
        Disable = false;
    }
    else if (Model.Message == "DuplicateGL")
    {
        <script type="text/javascript">
            $(function () {
                if ($("#hdnSavebtn").length) {
                    $("#hdnSavebtn").val(""); // Clear the hidden field
                }
                swal("", $("#GLAccountNameAlreadyExistsWithTheSameName").text(), "warning");
                $("#TaxName").css("border-color", "red");
            });
        </script>
        Disable = false;
    }
}

@{
    if (Model.Message != null)
    {
        //if (Session["Message"] != null)
        if (Model.Message != null)
        {
            var str = Model.Message.ToString();
            if (str == "Save")
            {
                <script type="text/javascript">
                    $("#hdnSavebtn").val(null);
                    swal("", $("#savemsg").text(), "success");
                </script>
            }
            if (str == "Deleted")
            {
                <script type="text/javascript">
                    $("#hdnSavebtn").val(null);
                    swal("", $("#deletemsg").text(), "success");
                </script>
            }
            if (str == "Approved")
            {
                <script type="text/javascript">
                    $("#hdnSavebtn").val(null);
                    swal("", $("#approvemsg").text(), "success");
                </script>
            }
            if (str == "Dependency Exist")
            {
                <script type="text/javascript">
                    $("#hdnSavebtn").val(null);
                    swal("", $("#DependencyExist").text(), "warning");
                </script>
            }

            str = null;
        }
    }
}
<title>@Model.Title</title>
@using (Html.BeginForm("TaxSave", "TaxDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnName"].ToString();
                                var btnName = Model.BtnName.ToString();
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return validateTaxInsertform();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" type="submit" onclick="return onclickEditButton();" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>

                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return validateTaxInsertform();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnToDetailPage":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" type="submit" onclick="return onclickEditButton();" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>

                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103155004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103155005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li><span>@Resource.CreatedBy<br><b>@Html.DisplayFor(model => model.createby)</b></span></li>
                                        <li><span>@Resource.Createdon<br><b>@Html.DisplayFor(model => model.creat_dt)</b></span>                                </li>
                                        <li><span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.modby)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.mod_dt)</b></span> </li>
                                    </ul>
                                </div>
                                @Html.HiddenFor(model => model.Delete, new { @id = "hdnAction" })
                                @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.TaxDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <!--<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                @*<form class="accordian_form_bg" action="" method="post" novalidate>*@
                                                <div class="panel-body width100">
                                                    <div class="col-md-12 col-sm-12" style="margin-top:10px; padding-left:0px;">
                                                        <label class="col-md-1 col-sm-12">@Resource.TaxType</label>
                                                        <div class="col-md-11 col-sm-12">
                                                            @if (Disable || Model.Command == "Edit")
                                                            {
                                                                @Html.RadioButtonFor(model => model.tax_type, "TAX", new { @id = "TAX", @checked = "checked", disabled = "disabled" }) <span>TAX</span>
                                                                @Html.RadioButtonFor(model => model.tax_type, "TDS", new { @id = "TDS", disabled = "disabled" }) <span>TDS/TCS</span>
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButtonFor(model => model.tax_type, "TAX", new { @id = "TAX", @checked = "checked" , @onclick = "OnClkTaxType()" }) <span>TAX</span>
                                                                @Html.RadioButtonFor(model => model.tax_type, "TDS", new { @id = "TDS", @onclick = "OnClkTaxType()" }) <span>TDS/TCS</span>
                                                            }
                                                        </div>
                                                        @Html.HiddenFor(model => model.TransType)
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.TaxName <span class="required">*</span></label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.tax_name, new { @id = "TaxName", @class = "form-control", @placeholder = "TaxName", disabled = "disabled" })

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.tax_name, new { @id = "TaxName", @autocomplete = "off", maxlength = "100", @class = "form-control", @placeholder = "TaxName", onchange = "OnChangeTaxName(event)", onkeypress = "OnChangeTaxName(event)" })
                                                        }
                                                        @Html.ValidationMessageFor(model => model.tax_name, String.Empty, new { @style = "color:red;!important", @id = "vmTaxName" })
                                                        @Html.HiddenFor(model => model.tax_id)
                                                        @Html.HiddenFor(model => model.TaxCode)
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 pl-0">
                                                        <label class="col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.tax_perc, new { @id = "TaxPer", @class = "form-control num_right", @placeholder = "0000.00", disabled = "disabled" })

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.tax_perc, new { @id = "TaxPer", @autocomplete = "off", @class = "form-control num_right", @placeholder = "0000.00", onchange = "OnChangeTaxPer()", onkeypress = "return RateFloatValueonly(this,event)" })

                                                        }
                                                        @Html.ValidationMessageFor(model => model.tax_perc, String.Empty, new { @style = "color:red;!important", @id = "vmTaxPer" })
                                                        <span id="SpanGLPer" class="error_message"></span>
                                                    </div>
                                                    @*@if (Model.tax_type == "TDS")
                                                    {*@
                                                        <div class="col-md-2 col-sm-12 pl-0" id="Div_SectionCode">
                                                            <label class="col-form-label label-align">@Resource.Section @Resource.Code @*<span class="required">*</span>*@</label>
                                                            @if (Disable)
                                                            {
                                                                @Html.TextBoxFor(model => model.SectionCode, new { @id = "txt_SectionCode", @class = "form-control", @placeholder = "Section Code", disabled = "disabled" })

                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.SectionCode, new { @id = "txt_SectionCode", @autocomplete = "off", maxlength = "30", @class = "form-control", @placeholder = "Section Code", onchange = "OnChangeSectionCode()", onkeypress = "OnChangeSectionCode()" })

                                                            }
                                                            @Html.ValidationMessageFor(model => model.SectionCode, String.Empty, new { @style = "color:red;!important", @id = "vmSecCode" })

                                                        </div>
                                                    @*}*@

                                                    <div class="custom-control custom-switch col-md-1 col-sm-12 pl-0" style=" margin-left: 2%; padding-top: 22px;">
                                                        @if (Disable)
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.recov, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "recoverable", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.recov, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "recoverable" })
                                                        }
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="recoverable" style="padding: 3px 0px;">@Resource.Recoverable</label>
                                                    </div>
                                                    <div class="custom-control custom-switch col-md-2 col-sm-12 pl-0" style=" margin-left: 2%;  padding-top: 22px;">
                                                        @if (Disable)
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.manual_calc, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "man_calc", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.manual_calc, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "man_calc" })
                                                        }
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="man_calc" style="padding: 3px 0px;">Manual Calculation</label>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="col-md-3 col-sm-12">
                                                        @*<label class="col-form-label label-align">@Resource.GLAccount <span class="required">*</span></label>*@
                                                        <label class="col-form-label label-align">@Resource.AccountGroup <span class="required">*</span></label>
                                                        @if (Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.acc_grp_id, new SelectList(Model.AccountGroupList, "acc_grp_id", "AccGroupChildNood"), new { @id = "GLAccGrp", @class = "form-control", disabled = "disabled", onchange = "OnChangeAccGrp()" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.acc_grp_id, new SelectList(Model.AccountGroupList, "acc_grp_id", "AccGroupChildNood"), new { @id = "GLAccGrp", @class = "form-control", onchange = "OnChangeAccGrp()" })
                                                        }
                                                        @Html.ValidationMessageFor(model => model.acc_grp_id, String.Empty, new { @style = "color:red;!important", @id = "vmAccountGroup" })
                                                        <span id="SpanAccGrp" class="error_message"></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <label class="col-form-label label-align">
                                                            @Resource.TaxAuthority <span class="required">*</span>
                                                        </label>
                                                        @if (Disable)
                                                        {
                                                            if (Model.tax_auth_id != 0)
                                                            {
                                                                Model.ddl_tax_auth_id = Model.tax_auth_id.ToString();
                                                                @Html.DropDownListFor(model => model.ddl_tax_auth_id, new SelectList(Model.COAAuthorityList, "acc_id", "acc_name"),@*"---Select---",*@new { @id = "tax_auth_acc_id", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.tax_auth_id, new SelectList(Model.COAAuthorityList, "acc_id", "acc_name"),@*"---Select---",*@new { @id = "tax_auth_acc_id", @class = "form-control", disabled = "disabled" })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.tax_auth_id != 0)
                                                            {
                                                                Model.ddl_tax_auth_id = Model.tax_auth_id.ToString();
                                                                @Html.DropDownListFor(model => model.ddl_tax_auth_id, new SelectList(Model.COAAuthorityList, "acc_id", "acc_name"),@*"---Select---",*@new { @id = "tax_auth_acc_id", @class = "form-control", onchange = "OnChangeTaxAuthCoa()" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.tax_auth_id, new SelectList(Model.COAAuthorityList, "acc_id", "acc_name"),@*"---Select---",*@new { @id = "tax_auth_acc_id", @class = "form-control", onchange = "OnChangeTaxAuthCoa()" })
                                                            }

                                                        }
                                                        @Html.ValidationMessageFor(model => model.tax_auth_id, String.Empty, new { @style = "color:red;!important", @id = "vmtaxAuthAccid" })
                                                        <span id="spanTaxAuth" class="error_message"></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12">
                                                        <label class="col-form-label label-align"> @Resource.ApplicableFrom <span class="required">*</span> </label>
                                                        @{
                                                            DateTime dtnow = DateTime.Today.AddYears(-20);
                                                            string startDate = new DateTime(dtnow.Year, dtnow.Month, 1).ToString("yyyy-MM-dd");
                                                        }
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.app_date, new { @class = "form-control", @id = "tax_doc_dt", @placeholder = "Applicable Date", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.app_date, new { @class = "form-control", @id = "tax_doc_dt", @placeholder = "Applicable Date", @min = @startDate, @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), onchange = "OnChangeTaxAppDate()" });
                                                        }
                                                        @Html.ValidationMessageFor(model => model.app_date, String.Empty, new { @style = "color:red;!important", @id = "vmAppDate" })
                                                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                        <span id="Spandate" class="error_message"></span>
                                                    </div>
                                                    <div class="custom-control custom-switch col-md-3 col-sm-12" style=" margin-left: 2%; max-width:23%;  padding-top: 22px;">
                                                        @if (Disable)
                                                        {
                                                            //@Html.CheckBox("act_status", true, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch" })
                                                            //Model.act_statusY = Model.act_status;
                                                            @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @id = "act_status", @checked = "checked", disabled = "disabled" })
                                                            //@Html.CheckBoxFor(modal => modal.act_statusY, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", disabled = "disabled" })
                                                            //<input type="checkbox" class="custom-control-input col-md-3 col-sm-12 margin-switch" id="" onclick="" checked disabled>
                                                        }
                                                        else
                                                        {
                                                            if (Model.Command.ToString() == "Add")
                                                            //if (Session["Command"].ToString() == "Add")
                                                            {
                                                                @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @id = "act_status", @checked = "checked", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.CheckBoxFor(modal => modal.act_status, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @id = "act_status", @checked = "checked" })
                                                            }
                                                        }
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="act_status" style="padding: 3px 0px;">@Resource.Active</label>
                                                    </div>
                                                </div>
                                                @*</form>*@
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                @Html.HiddenFor(model => model.TaxBranchDetail, new { id = "hdCustomerBranchList" })
                            </section>
                            @*@Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView.cshtml")*@
                            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView_New.cshtml")
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- page content end -->
@*<script>
        $(document).ready(function () {
            ReadBranchList();
            debugger;

        });

        function ReadBranchList() {
            debugger;
            var Branches = new Array();
            $("#CustBrDetail TBODY TR").each(function () {
                debugger;
                var row = $(this);
                var Branch = {};
                Branch.Id = row.find("#hdCustomerBranchId").val();
                var checkBoxId = "#cust_act_stat_" + Branch.Id;
                if (row.find(checkBoxId).is(":checked")) {
                    Branch.BranchFlag = "Y";
                }
                else {
                    Branch.BranchFlag = "N";
                }
                Branches.push(Branch);
            });
            debugger;
            var str = JSON.stringify(Branches);
            $('#hdCustomerBranchList').val(str);
        }

    </script>*@
