@using System.Data;


<style>
    .table_border {
        border: 0.5px solid #000000;
    }

        .table_border > tbody > tr > td, .table_border > thead > tr > th {
            border: 0.5px solid #000000;
        }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

        .suppInfo > tr > td {
            padding-right: 5px;
        }

    .td_pading {
        paddingleft: 5px;
        paddingtop: 5px;
        paddingbottom: 3px;
        paddingright: 5px;
    }
    .table_css {
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px;
        line-height: 18px;
        font-weight: normal;
    }
</style>

<div style=''>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeaderWithoutAddr.cshtml")
    <table width='100%'>
        <tr>
            <td>
                <table style='width:100%;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align:top; padding:0px;">
                            <table class="table_border table_css" cellspacing='0' cellpadding='0' style=''>
                            <tr>
                                <td width="44%" class="td_border_right" style="vertical-align:top;">
                                    <table class="table_css">
                                        <tr>
                                            <td  valign="top"><span style="font-weight:bold;">Product Name</span> : @ViewBag.Details.Tables[0].Rows[0]["product_nm"] </td>
                                            @*<td width="65%">@ViewBag.Details.Tables[0].Rows[0]["product_nm"]</td>*@
                                        </tr>
                                        <tr>
                                            <td  ><span style="font-weight:bold;">Revision Number</span> : @ViewBag.Details.Tables[0].Rows[0]["rev_no"]</td>
                                            @*<td width="65%">@ViewBag.Details.Tables[0].Rows[0]["rev_no"]</td>*@
                                        </tr>
                                    </table>
                                </td>
                                <td width="13%" class="td_border_right" style="vertical-align:top;">
                                    <table class="table_css">
                                        <tr>
                                            <td ><span style="font-weight:bold;">UOM</span> : @ViewBag.Details.Tables[0].Rows[0]["p_uom_alias"] </td>
                                            @*<td width="55%">@ViewBag.Details.Tables[0].Rows[0]["p_uom_alias"]</td>*@
                                        </tr>
                                        <tr>
                                            <td ><span style="font-weight:bold;">Default</span> : @ViewBag.Details.Tables[0].Rows[0]["def_status"] </td>
                                            @*<td width="45%">@ViewBag.Details.Tables[0].Rows[0]["def_status"]</td>*@
                                        </tr>
                                    </table>
                                </td>
                                <td width="15%" class="td_border_right" style="vertical-align:top;">
                                    <table class="table_css">
                                        <tr>
                                            <td><span style="font-weight:bold;">Quantity</span> : @ViewBag.Details.Tables[0].Rows[0]["qty"] </td>
                                            @*<td width="50%">@ViewBag.Details.Tables[0].Rows[0]["qty"]</td>*@
                                        </tr>
                                        <tr>
                                            <td><span style="font-weight:bold;">Active</span> : @ViewBag.Details.Tables[0].Rows[0]["act_status"] </td>
                                            @*<td width="50%">@ViewBag.Details.Tables[0].Rows[0]["act_status"]</td>*@
                                        </tr>
                                    </table>
                                </td>
                                <td width="28%" valign="top" >
                                    <table class="table_css">
                                        <tr>
                                            <td width="30%" style="font-weight: bold; vertical-align: top; padding: 0; " valign="top">Remarks : </td>
                                            <td  width="70%" rowspan="2" valign="top" style="vertical-align: top; padding: 0; ">
                                                @ViewBag.Details.Tables[0].Rows[0]["bom_remarks"]
                                            </td>
                                        </tr>
                                       <tr>
                                           <td width="30%"></td>
                                           
                                       </tr>
                                    </table>
                                </td>
                            </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                        <th width='23%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Operation Name </th>
                                        <th width='16%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Item Type </th>
                                        <th width='23%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Item Name </th>
                                        <th width='6%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='9%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Quantity </th>
                                        <th width='9%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Item Cost </th>
                                        <th width='9%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> value </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[0].Rows != null)
                                    {
                                        var i = 1;
                                        string preOP = "";
                                        var countrowspan = 0;
                                        foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                        {
                                            var font_bold = "";
                                            if (dr["item_type"].ToString() == "OF")
                                            {
                                                font_bold = "bold";
                                            }
                                            else
                                            {
                                                font_bold = "300";
                                            }

                                            if (preOP == "")
                                            {
                                                preOP = dr["op_id"].ToString();
                                                string exprsn = "op_id = " + preOP;
                                                string sort_Order = "op_id asc";
                                                countrowspan = ViewBag.Details.Tables[0].Select(exprsn, sort_Order).Length;
                                    <tr>
                                        <td rowspan="@countrowspan" style='text-align:center; width:5%;'>@i</td>
                                        <td rowspan="@countrowspan" class="td_pading">@dr["op_name"].ToString()</td>
                                        <td class="td_pading" style="font-weight:@font_bold;">@dr["item_type_name"].ToString()</td>
                                        <td class="td_pading" style='text-align:left;font-weight:@font_bold; '>@dr["item_name"].ToString()</td>
                                        <td class="td_pading" style='text-align:left;font-weight:@font_bold;'>@dr["i_uom_alias"].ToString()</td>
                                        <td class="td_pading" style='text-align: right;font-weight:@font_bold; '>@dr["itm_qty"].ToString()</td>
                                        <td class="td_pading" style='text-align:right;font-weight:@font_bold;'>@dr["item_cost"].ToString()</td>
                                        <td class="td_pading" style='text-align: right;font-weight:@font_bold;'>@dr["item_value"].ToString()</td>
                                    </tr>
                                                i++;
                                            }
                                            else if (preOP == dr["op_id"].ToString())
                                            {
                                <tr>
                                    <td class="td_pading" style="font-weight:@font_bold;">@dr["item_type_name"].ToString()</td>
                                    <td class="td_pading" style='text-align:left;font-weight:@font_bold; '>@dr["item_name"].ToString()</td>
                                    <td class="td_pading" style='text-align:left;font-weight:@font_bold;'>@dr["i_uom_alias"].ToString()</td>
                                    <td class="td_pading" style='text-align: right;font-weight:@font_bold; '>@dr["itm_qty"].ToString()</td>
                                    <td class="td_pading" style='text-align:right;font-weight:@font_bold;'>@dr["item_cost"].ToString()</td>
                                    <td class="td_pading" style='text-align: right;font-weight:@font_bold;'>@dr["item_value"].ToString()</td>
                                </tr>
                                            }
                                            else
                                            {
                                                preOP = dr["op_id"].ToString();
                                                string exprsn = "op_id = " + preOP;
                                                string sort_Order = "op_id asc";
                                                countrowspan = ViewBag.Details.Tables[0].Select(exprsn, sort_Order).Length;
                                <tr>
                                    <td rowspan="@countrowspan" style='text-align:center; width:5%;'>@i</td>
                                    <td rowspan="@countrowspan" class="td_pading">@dr["op_name"].ToString()</td>
                                    <td class="td_pading" style="font-weight:@font_bold;">@dr["item_type_name"].ToString()</td>
                                    <td class="td_pading" style='text-align:left; font-weight:@font_bold;'>@dr["item_name"].ToString()</td>
                                    <td class="td_pading" style='text-align:left;font-weight:@font_bold;'>@dr["i_uom_alias"].ToString()</td>
                                    <td class="td_pading" style='text-align: right; font-weight:@font_bold;'>@dr["itm_qty"].ToString()</td>
                                    <td class="td_pading" style='text-align:right;font-weight:@font_bold;'>@dr["item_cost"].ToString()</td>
                                    <td class="td_pading" style='text-align: right;font-weight:@font_bold;'>@dr["item_value"].ToString()</td>
                                </tr>
                                                i++;
                                            }
                                            preOP = dr["op_id"].ToString();

                                        }
                                    }


                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="table_border" cellspacing='0' cellpadding='0' 
                                   style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th style='font-weight:bold;text-align:center;paddingleft:5px;paddingtop:5px;paddingbottom:3px;'><strong>Created By</strong></th>
                                        <th style='font-weight: bold; text-align: center; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; '><strong>Approved By</strong></th>
                                        <th style='font-weight: bold; text-align: center; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; '><strong>Approved On</strong></th>
                                        <th style='font-weight: bold; text-align: center; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; '><strong>Amended By</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="td_pading" style="text-align: center;">@ViewBag.Details.Tables[0].Rows[0]["created_by"]</td>
                                        <td class="td_pading" style="text-align: center;">@ViewBag.Details.Tables[0].Rows[0]["approved_by"]</td>
                                        <td class="td_pading" style="text-align: center;">@ViewBag.Details.Tables[0].Rows[0]["app_dt"]</td>
                                        <td class="td_pading" style="text-align: center;">@ViewBag.Details.Tables[0].Rows[0]["ammend_by"]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @*@Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")*@
</div>
