@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockAgeing.StockAgeingDetail_Model
@using EnRepMobileWeb.Resources;
@using System.Data

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Scripts/Common/Cmn_popup_msg.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/StockAgeing/StockAgeing.js"></script>
<title>@Model.Title</title>
@{
    if (TempData["Message"] != null)
    {
        string message = TempData["Message"].ToString();
    <script>
        $(document).ready(function () {
            ShowCommonPopup('@message');
        });
    </script>

    }
}

@using (Html.BeginForm("StockAgeingActions", "StockAgeing", FormMethod.Post))
{
    <div class="row">

        <div id="ItemInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
            </div>
        </div>

        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <div class="col-md-12 col-sm-12 padding_zero margin10">
                                <div class="col-md-9 col-sm-12 padding_zero margin5">
                                    <div class="col-md-1 col-sm-12 text-right">
                                        <label class="col-form-label label-align">@Resource.Range</label>
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        @Html.TextBoxFor(m => m.ageingRanges.range_1, new { @class = "form-control num_right", @maxlength = "3", @id = "txtRange1", @onkeypress = "return numValueOnly(this,event)", @type = "text", placeholder = "00" })
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        @Html.TextBoxFor(m => m.ageingRanges.range_2, new { @class = "form-control num_right", @maxlength = "3", @id = "txtRange2", @onkeypress = "return numValueOnly(this,event)", @type = "text", placeholder = "00" })
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        @Html.TextBoxFor(m => m.ageingRanges.range_3, new { @class = "form-control num_right", @maxlength = "3", @id = "txtRange3", @onkeypress = "return numValueOnly(this,event)", @type = "text", placeholder = "00" })

                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        @Html.TextBoxFor(m => m.ageingRanges.range_4, new { @class = "form-control num_right", @maxlength = "3", @id = "txtRange4", @onkeypress = "return numValueOnly(this,event)", @type = "text", placeholder = "00" })
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        @Html.TextBoxFor(m => m.ageingRanges.range_5, new { @class = "form-control num_right", @maxlength = "3", @id = "txtRange5", @onkeypress = "return numValueOnly(this,event)", @type = "text", placeholder = "00" })
                                    </div>
                                    <div class="col-md-1 col-sm-12">
                                        <button class="save"
                                                title="@Resource.Save" onclick="return  InsertRangeDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </div>
                                </div>
                                @*<div class="col-md-3 col-sm-12 pl-3 float-right">
                                        <label class="col-form-label label-align font-weight-bold pr-2">@Resource.ReportType : </label>
                                        Summary<span>&nbsp;</span>
                                        <input checked="checked" class="" id="RT_Summary" onclick="onchangeReportType()" name="reportType" type="radio" value="S">
                                        <span>&nbsp;</span> Detail<span>&nbsp;</span>
                                        <input class="" id="RT_Detail" onclick="onchangeReportType()" name="reportType" type="radio" value="D">
                                    </div>*@
                                @*<div class="col-md-3 col-sm-12 pl-0">
                                        <label class="col-form-label label-align col-md-4 col-sm-12 num_right">@Resource.StockBy</label>
                                        <select class="form-control col-md-8 col-sm-12" id="" name="">
                                            <option selected="selected" value="">Branch Wise</option>
                                            <option value="">Warehouse Wise</option>
                                            <option value="">Lot Wise</option>
                                        </select>
                                    </div>*@
                                <div class="clear"></div>
                                <div class="col-md-4 col-sm-12 pr-0">
                                    <label class="col-form-label label-align">@Resource.ItemGroup</label>
                                    @Html.DropDownListFor(m => m.ItemGroupId, new SelectList(Model.itemGroupsList, "item_group_id", "item_group_name"), new { @class = "form-control", @id = "ddlItemGroupName", @multiple = "multiple" })

                                </div>
                                <div class="col-md-2 col-sm-12 pr-0">
                                    <label class="col-form-label label-align">@Resource.ItemPortfolio</label>
                                    @Html.DropDownListFor(m => m.ItemPortFolioId, new SelectList(Model.itemPortFoliosList, "portfolio_id", "portfolio_name"), new { @class = "form-control", @id = "ItemPortfolio", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="ddlwarehouse">
                                    <label class="col-form-label label-align">@Resource.HSNCode</label>
                                    @Html.DropDownListFor(m => m.HsnCode, new SelectList(Model.hsnCodesList, "hsn_code", "hsn_code_name"), new { @class = "form-control", @id = "ddlHsnCode", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Branch</label>
                                    @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.BranchList, "br_id", "br_name"), new { @class = "form-control", @id = "ddlBranch", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12 pr-0 pl-0">
                                    <div class="col-md-8 col-sm-12 pr-0 pl-0">
                                        <label class="col-form-label label-align">@Resource.Upto </label>
                                        @Html.TextBoxFor(m => m.AsOnDate, new { @class = "form-control", @id = "calUpTodate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    </div>
                                    <div class="col-md-1 col-sm-12 mt-4">
                                        <button type="button" class="btn btn-primary btn-sm" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel mar_pad1 ">
                        <div class="x_content mar_pad1">
                            <div class="card-box table-responsive dy_table">
                                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockAgeingDetail.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- page content end -->
