@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.MISGoodReceiptDetail.MisGoodReceiptDetail_Model
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/MISGoodReceiptDetail/MISGoodReceiptDetailJS.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<script>
    $(document).ready(function () {

        onchangeShowAs();
    });
    const onchangeShowAs = () => {
        const ShowAs = $("#ShowAs").val();
        if (ShowAs == "S") {
            $("#GoodsReceiptSummaryItemWise").css("display", "block");
            $("#GoodsReceiptDetail").css("display", "none");
        }
        else {
            $("#GoodsReceiptSummaryItemWise").css("display", "none");
            $("#GoodsReceiptDetail").css("display", "block");
        }
    }
</script>
<style>
    .multiselect, .dropdown-toggle {
        width: 100% !important;
        min-width: 100%;
        text-align: left;
        min-height: 28px;
    }
</style>
<title>@Model.Title</title>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
        </div>
    </div>
    <!-- External Receipt Batch Number Start -->
    <div id="MISExternalReceiptBatchNumber" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            <div id="MISExternalReceipt_BatchNumber">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISExternalReceiptBatchNumber.cshtml")
            </div>
        </div>
    </div>
    <!-- External Receipt Batch Number End -->
    <!-- External Receipt Serial Detail Start -->
    <div id="MISExternalReceiptSerialDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            <div id="MISExternalReceipt_SerialDeatil">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISExternalReceiptSerialNoDetail.cshtml")
            </div>
        </div>
    </div>
    <!-- External Receipt Serial Detail End -->
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!--Receipt Quantity Detail -->
    <div id="ReceiptQuantityDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:1050px; max-height:600px;">
            <!-- Modal content-->
            <div id="">
                @Html.Partial("~/Areas/Common/Views/Comn_PartialReceiptQuantityDetail.cshtml")
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>
                <div id="" class="col-md-3 col-sm-12 no-margin no-padding ">
                    <div class="col-md-4 col-sm-12 no-margin no-padding ">
                        <label class="col-form-label label-align">@Resource.Receipt @Resource.Type</label>
                    </div>
                    <div class="col-md-8 col-sm-12 no-margin no-padding ">
                        @*<select class="form-control" id="ReceiptType" name="ReceiptType" onchange="onchangeReceiptType()">
            <option value="R">Goods Receipt Note</option>
            <option value="">External Receipt</option>
            <option value="">Material Transfer Receipt</option>
            <option value="">Sample Receipt</option>
        </select>*@

                        @Html.DropDownListFor(
       model => model.ReceiptType,
       new List<SelectListItem>
       {
           new SelectListItem { Value = "GRN", Text = "Goods Receipt Note" },
           new SelectListItem { Value = "ER", Text = "External Receipt" },
           new SelectListItem { Value = "MTR", Text = "Material Transfer Receipt", Disabled = true },
           new SelectListItem { Value = "SR", Text = "Sample Receipt", Disabled = true }
       },
       new
{
           @class = "form-control",
           @id = "ReceiptType",
           @onchange = "OnChangeReceiptType_List()"
       }
   )
                    </div>
                </div>
                <div class="x_title pad_mar  ">
                    <div class="col-md-12 col-sm-12 icon_tool mb-1 ">
                        <div class="col-md-2 col-sm-12" id="div_SupplierName">
                            <label class="col-form-label label-align">@Resource.SupplierName </label>
                            @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.SuppliersList, "SuppId", "SuppName"),
                                   new { @class = "form-control", @id = "ddlSuppliersList", @name = "ItemsList"})
                        </div>
                        <div class="col-md-3 col-sm-12 pl-0" id="div_ItemName">
                            <label class="col-form-label label-align">@Resource.ItemName </label>
                            @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemsList, "ItemId", "ItemName"),
                                   new { @class = "form-control", @id = "ddlItemsList", @name = "SuppliersList" })
                        </div>
                        <div class="col-md-2 col-sm-12 pl-0" id="DIV_EntityType" style="display:none">
                            <label class="col-form-label label-align">@Resource.EntityType </label>

                            @Html.DropDownListFor(model => model.EntityType, new SelectList(new List<Object>
                                                    {
                                                   new { value = "0", text = "All"  },
                                                        new { value = "C", text = "Customer"  },
                                                        new { value = "S" , text = "Supplier" },
                                                        new { value = "E" , text = "Employee" },

                                                    },
                                                             "value",
                                                             "text"
                                                         ), new { @class = "form-control", @id = "ddl_EntityType", @onchange = "OnChangeEntityType_List()" })
                            @Html.HiddenFor(model => model.entity_type, new { @id = "hd_EntityTypeID" })
                        </div>
                        <div class="col-md-3 col-sm-12 pl-0" id="DIV_EntityName" style="display:none">
                            <label class="col-form-label label-align">@Resource.EntityName</label>

                            @Html.DropDownListFor(model => model.EntityName, new SelectList(Model.EntityNameList, "entity_id", "entity_name"), new { @class = "form-control", @id = "ddl_EntityName", @multiple = "multiple" })
                            <input type="hidden" id="hfsuppcustlist2" value='@Url.Action("GetSupp_CustList", "MISGatePassDetail")' />
                            @Html.HiddenFor(model => model.EntityID, new { @id = "hd_entity_id" })
                        </div>
                        <div class="col-md-4 col-sm-12 pl-0" id="div_externeldate" style="display:none;">
                            <div class="col-md-5 col-sm-12 pl-0" id="div_externelFromDate">
                                <label class="col-form-label label-align">@Resource.FromDate</label>
                                @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-5 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BindMrsMisDetails();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 pl-0 pr-0" id="div_grndate">
                            <div class="col-md-2 col-sm-12 pl-0" id="div_FromDate">
                                <label class="col-form-label label-align">@Resource.FromDate</label>
                                @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control", @id = "txt_Fromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txt_Todate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-5 col-sm-12 pl-0" id="DIV_Status">
                                <label class="col-form-label label-align">
                                    @Resource.Status
                                </label>
                                @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus", @multiple = "multiple", @onclick = "StatusOnclick()", @onchange = "StatusOnchange()" })
                                @Html.HiddenFor(Model => Model.MultiselectStatusHdn, new { @id = "MultiselectStatusHdn" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ShowAs </label>
                                <select class="form-control" id="ShowAs" name="" onchange="onchangeShowAs();ShowAsChange();">
                                    <option value="S">Summary</option>
                                    <option value="D">Detailed</option>
                                </select>
                            </div>
                            <div class="col-md-1 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BindMrsMisDetails();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="GoodsReceipt_Div" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <div id="GoodsReceiptSummaryItemWise">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISGoodsReceiptDetailItemWiseSummary.cshtml")
                        </div>
                        <div id="GoodsReceiptDetail"> @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISGoodsReceiptDetail.cshtml")</div>
                    </div>
                    <div id="ExternalRecipt_Div" class="sticky-table sticky-ltr-cells sb-container container-example1" style="display:none">
                        <div id="PartialMISExternalReceipt">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISExternalReceipt.cshtml")
                        </div>
                        @* <div id="GoodsReceiptDetail"> @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISGoodsReceiptDetail.cshtml")</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>