@using System.Data;
@using EnRepMobileWeb.Resources;
@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}
<div>
    <div style="width:100%; ">
        <div style="width:100%; margin:0 auto; background-position: center center ">
            <table style="width:100%; padding-left:20px; padding-right:20px;">
                @* Page 1 *@
                @if (ViewBag.Page == "1")
                {
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    @*/*Commented by Hina on 21-03-2024 to give common logo path*/*@
                                    <!--<td style="width:85%;"> <img src="images/Logo1.png" alt="Logo" width="90"--> @*height="auto"*@ <!--/> </td>-->
                                    <td><img src="@lpath" alt="Logo" width="150" /></td>
                                    <td style="font-size: 11px; font-weight:normal;padding: 10px 0px;  width:15%; text-align:right; font-style:italic;">@DateTime.Now.ToString("dd-MM-yyyy HH:mm tt") </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;text-align: center;font-weight: bold;padding: 0px 0px; text-decoration:underline;">@ViewBag.PdfData.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                    </tr>
                    <tr>
                        <td style="font-size: 10px;text-align: center;font-weight: bold;padding: 0px 0px;">@ViewBag.PdfData.Tables[0].Rows[0]["compaddress"].ToString()</td>
                        @*/*Add by Hina sharma on 17-10-2024*/*@
                    </tr>
                    <tr>
                        <td style="font-size: 16px;text-align: center;font-weight: bold;padding: 0px 0px;">Quality Check Report</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 10px 0px; "><strong>Branch : </strong>@ViewBag.PdfData.Tables[0].Rows[0]["Br_name"].ToString()</td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                <tbody>
                                    <tr>
                                        <td style="width: 9%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Inspection No </td>
                                        <td style="width: 14%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["qc_no"].ToString() </td>
                                        <td style="width: 10%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Inspection <br /> Date </td>
                                        <td style="width: 9%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["qc_dt"].ToString() </td>
                                        <td style="width: 6%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source </td>
                                        <td style="width: 10%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["Source"].ToString() </td>
                                        <td style="width: 10%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source Doc <br /> No.</td>
                                        <td style="width: 13%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_no"].ToString() </td>
                                        <td style="width: 10%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source Doc <br /> Date</td>
                                        <td style="width: 9%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; ">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_date"].ToString() </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" style="width:100%; font-size: 12px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                <thead>
                                    <tr>
                                        <th width="4%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>S.NO.</strong></th>
                                        <th width="19%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Item Name</strong></th>
                                        <th width="4%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>UOM</strong></th>
                                        <th width="7%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Received <br /> Quantity</strong></th>
                                        <th width="6%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Accepted <br /> Quantity</strong></th>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <th width="9%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; " class="green"><strong>Accepted Reason</strong></th>
                                        }
                                        <th width="6%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Rejected <br /> Quantity</strong></th>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <th width="9%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Rejection Reason</strong></th>
                                        }
                                        <th width="6%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Rework <br /> Quantity </strong></th>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <th width="9%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Rework Reason</strong></th>
                                        }
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <th width="6%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Short <br /> Quantity </strong></th>
                                            <th width="6%" style="border-right: solid 1px #000000; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Sample <br /> Quantity </strong></th>
                                            <th width="9%" style="paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; "><strong>Remarks</strong></th>
                                        }
                                        else if (ViewBag.DocID == "105105135" && ViewBag.SrcTyp == "PRD")/*Add by Hina sharma on 17-10-2024 for indure change of ramarks*/
                                        {
                                            <th width="17%" style="border-right: solid 1px #000000; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px;"><strong>Rejection Reason</strong></th>
                                            <th width="17%" style="paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; border-bottom: solid 1px #000000;"><strong>Remarks</strong></th>
                                        }
                                        else
                                        {
                                            <th width="34%" style="paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; border-bottom: solid 1px #000000;"><strong>Remarks</strong></th>

                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var srno = 1;
                                    }
                                    @foreach (var dtr in @ViewBag.PdfData.Tables[1].Rows)
                                    {
                                    <tr>
                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@srno </td>
                                        <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["item_name"].ToString() </td>
                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["uom_alias"].ToString() </td>
                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["recd_qty"].ToString() </td>
                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["accept_qty"].ToString() </td>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; color: #008000;">@dtr["reason_acpt"].ToString() </td>
                                        }
                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["reject_qty"].ToString() </td>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; color: #FF0000;">@dtr["reason_rej"].ToString() </td>
                                        }

                                        <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["rework_qty"].ToString() </td>
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; color: #FFA500;">@dtr["reason_rwk"].ToString() </td>
                                        }
                                        @if (ViewBag.DocID == "105102120")
                                        {
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["short_qty"].ToString() </td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["sample_qty"].ToString() </td>
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; ">@dtr["it_remarks"].ToString() </td>
                                        }
                                        else if (ViewBag.DocID == "105105135" && ViewBag.SrcTyp == "PRD")/*Add by Hina sharma on 17-10-2024 for indure change of ramarks*/
                                        {
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["reason_rej"].ToString() </td>
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; ">@dtr["it_remarks"].ToString() </td>
                                        }
                                        else
                                        {
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dtr["it_remarks"].ToString() </td>
                                        }
                                    </tr>
                                        srno = srno + 1;
                                    }

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px; font-weight:normal;padding: 2px 0px;">&nbsp;</td>
                    </tr>
                }
                @if (ViewBag.Page == "2")
                {
                    @* Page 2 *@
                    <tr>
                        <td style="font-size: 14px;text-align:left;font-weight: bold;padding: 0px 0px; font-weight: bold; ">Itemwise QC Detail</td>
                    </tr>
                    <tr>
                        <td style="paddingbottom:25px;">
                            <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px;font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                <tbody>
                                    <tr>
                                        <td style="width: 9%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Inspection No </td>
                                        <td style="width: 13%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["qc_no"].ToString() </td>
                                        <td style="width: 9%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Inspection <br /> Date </td>
                                        <td style="width: 12%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["qc_dt"].ToString() </td>
                                        <td style="width: 6%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source </td>
                                        <td style="width: 6%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["Source"].ToString() </td>
                                        <td style="width: 11%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source Doc <br /> No.</td>
                                        <td style="width: 13%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; border-right: solid 1px #000000; ">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_no"].ToString() </td>
                                        <td style="width: 8%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; font-weight: bold; border-right: solid 1px #000000; ">Source Doc <br /> Date</td>
                                        <td style="width: 13%; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 5px; vertical-align: middle; ">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_date"].ToString() </td>
                                    </tr>
                                    @*<tr>
                                <td style="text-align:left; padding: 5px 5px 5px 5px; width:5%;vertical-align:middle; font-weight:bold; border-right: solid 1px #000000;">Inspection No </td>
                                <td style="padding: 5px 5px 5px 5px;vertical-align:middle;border-right: solid 1px #000000;">@ViewBag.PdfData.Tables[0].Rows[0]["qc_no"].ToString() </td>
                                <td style="padding: 5px 5px 5px 5px;vertical-align:middle; font-weight:bold;border-right: solid 1px #000000;">Inspection <br /> Date </td>
                                <td style="text-align:left; padding: 5px 5px 5px 5px;vertical-align:middle;border-right: solid 1px #000000;">@ViewBag.PdfData.Tables[0].Rows[0]["qc_dt"].ToString() </td>
                                <td style="padding: 5px 5px 5px 5px;vertical-align:middle; font-weight:bold;border-right: solid 1px #000000;">Source </td>
                                <td style="text-align:left; padding: 5px 5px 5px 5px;vertical-align:middle;border-right: solid 1px #000000;">@ViewBag.PdfData.Tables[0].Rows[0]["Source"].ToString() </td>
                                <td style="text-align:left;padding: 5px 5px 5px 5px;vertical-align:middle; font-weight:bold;border-right: solid 1px #000000;">
                                    Source Doc
                                    <br /> No.
                                </td>
                                <td style="text-align:left;padding: 5px 5px 5px 5px;vertical-align:middle;border-right: solid 1px #000000;">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_no"].ToString() </td>
                                <td style="text-align:left;padding: 5px 5px 5px 5px;vertical-align:middle; font-weight:bold;border-right: solid 1px #000000;">
                                    Source Doc
                                    <br /> Date
                                </td>
                                <td style="text-align:left;padding: 5px 5px 5px 5px;vertical-align:middle;">@ViewBag.PdfData.Tables[0].Rows[0]["src_doc_date"].ToString() </td>
                            </tr>*@
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    var itemID = "";
                    int samSize = 0;
                    int paramCount = 0;
                    int ItemSrNo = 0;

                    foreach (var data in ViewBag.PdfData.Tables[1].Rows)
                    {
                        itemID = data["item_id"].ToString();
                        samSize = Convert.ToInt32(data["sam_size"]);
                        paramCount = Convert.ToInt32(data["TotalParams"]);
                        ItemSrNo++;
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width:4%; font-weight:bold;">S.NO.</td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 5%;">@ItemSrNo</td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 10%; font-weight: bold; ">Item Name </td>
                                            <td style="vertical-align: top; text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 43%;">@data["item_name"].ToString() </td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 8%; font-weight: bold; ">UOM </td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 10%;">@data["uom_alias"].ToString() </td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 8%; font-weight: bold; ">Sample Size </td>
                                            <td style="vertical-align: top; text-align: center; paddingleft: 5px; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; width: 8%;">@data["sam_size"].ToString() </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal; vertical-align:top; border: solid 1px #000000; margin-bottom:25px;">
                                    <thead>
                                        @*@{int hdrCount = 0};*@
                                        <tr>
                                            <th style="width:15%; border-right: solid 1px #000000;text-align: center;">Sample No.</th>
                                            @foreach (var hdrs in ViewBag.PdfData.Tables[2].Rows)
                                            {
                                               
                                                if (hdrs["item_id"].ToString() == itemID)
                                                {
                                                    <th style="width:90%; border-right: solid 1px #000000; paddingleft: 2px; paddingright: 2px; paddingtop: 5px; paddingbottom: 5px; text-align: center">
                                                        <strong>
                                                            @hdrs["param_name"].ToString() <br />
                                                            <strong>
                                                                @if (@hdrs["paramRange"].ToString() == "OK")
                                                                {
                                                                    <strong>@Resource.ok</strong>
                                                                }
                                                                else if (@hdrs["paramRange"].ToString() == "OB")
                                                                {
                                                                    <strong>@Resource.Observative</strong>
                                                                }
                                                                else
                                                                {
                                                                    @hdrs["paramRange"].ToString()
                                                                }
                                                            </strong>
                                                        </strong>
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            DataTable myDataTable = ViewBag.PdfData.Tables[3]; // Replace with your data retrieval logic
                                            DataTable filteredDataTable = myDataTable.Select("item_id = '" + itemID + "'").CopyToDataTable();
                                        }
                                        @for (int i = 1; i <= samSize; i++)
                                        {
                                            int cnt = 0;
                                            <tr>
                                                @foreach (DataRow uniqueData in filteredDataTable.Rows)
                                                {

                                                    if (Convert.ToInt32(uniqueData.ItemArray[0]) == i)
                                                    {
                                                        if (cnt == 0)
                                                        {
                                                            <td style="text-align: center; vertical-align: top; padding: 5px 5px 5px 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                                @i
                                                            </td>
                                                            cnt = cnt + 1;
                                                        }
                                                        <td style="text-align: center; vertical-align: top; padding: 5px 5px 5px 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                            @uniqueData[3].ToString()
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        }
                        }
                    </table>
        </div>
    </div>
</div>