@using System.Data;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string RateDigit = "0.";
    var RD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < RD; i++)
    {
        RateDigit += "0";
    }
}
<div style="width:100%;">
    <div style="width:100%; margin:0 auto;   background-position: center center ">
        <table style="width:100%; padding-left:20px; padding-right:20px;">
            <tr>
                <td style="font-size: 16px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td width="70%" style="font-weight: bold; padding-left: 10px;">
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["cust_name"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["comp_nm"].ToString()
                            </td>
                            <td width="30%" align="right">
                                <img style="height:80%; width:80%" src="@Server.MapPath("~/images/EInvoiceScan.jpg")" />
                                @*<img src="images/EInvoiceScan.jpg" alt="Logo" />*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="font-weight: bold; padding-left: 10px;">
                                            1. e-Invoice Details
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td width="5%" style="font-weight: bold; padding-left: 10px;">
                                IRN :
                            </td>
                            <td width="39%">
                                N/A
                            </td>
                            <td width="7%" style="font-weight: bold; padding-left: 10px;">
                                Ack.No :
                            </td>
                            <td width="22%">
                                N/A
                            </td>
                            <td width="9%" style="font-weight: bold; padding-left: 10px;">
                                Ack. Date :
                            </td>
                            <td width="18%">
                                N/A
                                @*@DateTime.Now.ToString("MM-dd-yyyy HH:mm:ss")*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="font-weight: bold; padding-left: 10px;">
                                            2. Transaction Details
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td width="15%" style="font-weight: bold; padding-left: 10px;">
                                Category :
                            </td>
                            <td width="30%">
                                @ViewBag.EinvPreviewDetails.Tables[0].Rows[0]["SuppType"].ToString()
                            </td>
                            <td width="13%" style="font-weight: bold; padding-left: 10px;">
                                Document No :
                            </td>
                            <td width="20%">
                                @ViewBag.EinvPreviewDetails.Tables[0].Rows[0]["No"].ToString()
                            </td>
                            <td width="14%" style="font-weight: bold; padding-left: 10px;">
                                IGST on INTRA :
                            </td>
                            <td width="8%">
                                No
                            </td>
                        </tr>
                        <tr>
                            <td width="15%" style="font-weight: bold; padding-left: 10px;">
                                Document Type :
                            </td>
                            <td width="30%">
                                Tax Invoice
                            </td>
                            <td width="13%" style="font-weight: bold; padding-left: 10px;">
                                Document Date :
                            </td>
                            <td width="20%">
                                @ViewBag.EinvPreviewDetails.Tables[0].Rows[0]["Dt"].ToString()
                            </td>
                            <td width="14%" style="font-weight: bold; padding-left: 10px;">
                                &nbsp;
                            </td>
                            <td width="8%">
                                &nbsp;
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="font-weight: bold; padding-left: 10px;">
                                            3. Party Details.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td width="50%" style="padding-left: 10px; vertical-align:top;">
                                <strong style="vertical-align:top;">Seller</strong> <br />
                                GSTIN :@ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["gst_no"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["comp_nm"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["Comp_Add"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["Loc"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["Pin"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["cont_num1"].ToString(), @ViewBag.EinvPreviewDetails.Tables[1].Rows[0]["email_id1"].ToString()
                            </td>
                            <td width="50%" style="padding-left: 10px;">
                                <strong>Purchaser</strong> <br />
                                GSTIN :@ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["cust_gst_no"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["cust_name"].ToString() ,
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["TrdNm"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["cust_add"].ToString(), <br />
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["cust_pin"].ToString(),
                                @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["stateName"].ToString() ,
                                Place of Supply: @ViewBag.EinvPreviewDetails.Tables[2].Rows[0]["stateName"].ToString(), <br /><br />
                                <strong>Shipping</strong> <br />
                                GSTIN :@ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["cust_gst_no"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["cust_name"].ToString() ,
                                @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["TrdNm"].ToString() <br />
                                @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["cust_add"].ToString(), <br />
                                @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["cust_pin"].ToString(),
                                @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["stateName"].ToString() ,
                                Place of Supply: @ViewBag.EinvPreviewDetails.Tables[3].Rows[0]["stateName"].ToString(), <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="font-weight: bold; padding-left: 10px;">
                                            4. Goods Details
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">

                        <thead>
                            <tr>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center; ">
                                    Sl.No
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Product Description
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    HSN Code
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Quantity
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Unit
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Unit <br /> Price <br /> (RS)
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Discount <br /> (Rs)
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Taxable <br /> Amount <br /> (RS)
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Total Rate <br /> (GST+Cess|State <br /> Cess+Cess <br /> Non.Advol)
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Other charges <br /> (Rs)
                                </th>
                                <th style="paddingright: 5px; paddingleft: 5px; border-right: 1px solid #afafaf; text-align: center;">
                                    Total
                                </th>
                            </tr>

                        </thead>
                        @foreach (var data in ViewBag.EinvPreviewDetails.Tables[4].Rows)
                        {
                            <tr>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["rowNo"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["item_name"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["hsn_code"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["ship_qty"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["uom_alias"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @if (ViewBag.EinvPreviewDetails.Tables[0].Rows[0]["inv_type"].ToString() == "E")
                                    {
                                        @data["item_rate"].ToString()
                                    }
                                    else
                                    {
                                        @data["item_inv_rate"].ToString()
                                    }
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["item_disc_amt"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["AssAmt"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["GstRate"].ToString() + @data["CesRt"].ToString() + 0 + 0
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["item_oc_amt"].ToString()
                                </td>
                                <td style="padding-top: 10px; padding-bottom: 5px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center; ">
                                    @data["item_net_val_bs"].ToString()
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    Tax'ble Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    CGST Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    SGST Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    IGST Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    CESS Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    State CESS <br /> Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    Round off Amt
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    Other Charges
                                </th>
                                <th style="padding-left: 5px; padding-right: 5px; border-right: 1px solid #afafaf;  text-align: center;">
                                    Total Inv. Amt
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["AssVal"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["Cgst"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["Sgst"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["Igst"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["CesAmt"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["StateCesAmt"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["RndOffAmt"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["item_oc_amt"].ToString()
                            </td>
                            <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px; border-top: 1px solid #afafaf; border-right: 1px solid #afafaf; text-align: center;">
                                @ViewBag.EinvPreviewDetails.Tables[7].Rows[0]["TotInvVal"].ToString()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-weight:bold;line-height:18px; vertical-align:top; border-top: 1px solid #afafaf;border-right: 1px solid #afafaf;border-bottom: 1px solid #afafaf;border-left: 1px solid #afafaf;">
                    <table width="100%">
                        <tr>
                            <td width="70%" style="font-weight: bold; padding-left: 10px;">
                                <strong>Generated by Businet for preview purpose only </strong><br />
                                <strong>Print Date : </strong> @DateTime.Now.ToString("dd-MM-yyyy HH:mm:ss")
                            </td>
                            <td width="30%" align="right">
                                <img src="@Server.MapPath("~/images/EInvoiceQR.jpg")" />
                                @*<img src="images/EInvoiceQR.jpg" alt="Logo" width="" height="auto" />*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>