@model EnRepMobileWeb.MODELS.BusinessLayer.ItemSearch.ItemSearch_MODELS
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@

<title>@Model.Title</title>
<style>
    .custom-control-input {
        position: relative;
    }

    .file-actions #RemoveAttatchbtn {
        display: none;
    }
</style>
<div class="row">
    <!-- Workflow Information Start -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <div class="price_item_detail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
            </div>
        </div>
    </div>
    <!-- Workflow Information End -->
    <!-- Search Item Start-->
    <div id="SearchItem" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog pop_csv" id="" style="min-width:500px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialSearchItemDetails.cshtml")
        </div>
    </div>
    <!-- Sales Invoice Print -->
    <div id="SalesInvoicePrint" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSalesInvoiceForPrint.cshtml")
        </div>
    </div>
    <!-- Search Item End-->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                @Html.HiddenFor(model => model.PrintItemName, new { @id = "HdnPrintItemName", @value = "Y" })
                @Html.HiddenFor(model => model.ShowUOM, new { @id = "hdn_ShowUOM", @value = "Y" })
                @Html.HiddenFor(model => model.ShowOEMNumber, new { @id = "Hdn_ShowOEMNumber", @value = "Y" })
                @Html.HiddenFor(model => model.ShowItemAliasName, new { @id = "Hdn_ShowItemAliasName", @value = "Y" })
                @Html.HiddenFor(model => model.ShowRefNumber, new { @id = "Hdn_ShowRefNumber", @value = "Y" })
                @Html.HiddenFor(model => model.ShowProdTechSpec, new { @id = "Hdn_ShowProdTechSpec", @value = "Y" })
                @Html.HiddenFor(model => model.ShowProdTechDesc, new { @id = "ShowProdTechDesc", @value = "Y" })
                @Html.HiddenFor(model => model.PrintItemGroupName, new { @id = "HdnPrintItemGroupName", @value = "Y" })
                @Html.HiddenFor(model => model.PrintHsnNumber, new { @id = "HdnPrintHsnNumber", @value = "Y" })
                @Html.HiddenFor(model => model.PrintRemarks, new { @id = "HdnPrintRemarks", @value = "Y" })
                @Html.HiddenFor(model => model.PrintWeightinKG, new { @id = "HdnPrintWeightinKG", @value = "Y" })
                @Html.HiddenFor(model => model.PrintVolumeinliter, new { @id = "HdnPrintVolumeinliter", @value = "Y" })
                @Html.HiddenFor(model => model.Printgrossweight, new { @id = "HdnPrintgrossweight", @value = "Y" })
                @Html.HiddenFor(model => model.PrintNetweight, new { @id = "HdnPrintNetweight", @value = "Y" })
                @Html.HiddenFor(model => model.PrintItemImage, new { @id = "HdnPrintItemImage", @value = "Y" })
              





                @Html.HiddenFor(model => model.ShowCatalogueNumber, new { @id = "Hdn_ShowCatalogueNumber", @value = "Y" })


                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero ">

                        <div class="col-md-12 col-sm-12 pb-3">
                            <div class="col-md-4 col-sm-12 pl-0 ">
                                <label class="col-form-label label-align">@Resource.Item @Resource.Name <span class="required"> * </span> </label>
                                @Html.DropDownListFor(model => model.ddl_ItemName, new SelectList(Model.ItemNameList, "Item_ID", "Item_Name"),
        new { @class = "form-control", id = "itemNameList", @onchange = " OnchangeItemName()" })

                                @Html.HiddenFor(Model => Model.ddl_ItemName, new { @id = "hf_ItemID" })
                                @*<input type="hidden" id="hf_ItemID" />*@
                                <input type="hidden" id="hdn_data_container" />
                                <span id="SpanSerchItemID" class="error_message"></span>
                            </div>
                            <div class="col-sm-3 i_Icon margin25">
                                <div class="col-sm-2 i_Icon ">
                                    <button type="button" id="SearchItem" class="calculator" onclick="Cmn_itemSearchPartial('ItemSearch')" data-toggle="modal" data-target="#SearchItem" data-backdrop="static" data-keyboard="false"><i class="fa fa-search SearchItem" title="@Resource.Search @Resource.Item "></i>   </button>

                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <button type="button" class="btn btn-primary btn-sm " id="BtnSearch" onclick="GetItemDeatilData()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                                @if (Model.ItemNameID != "" && Model.ItemNameID != null)
                                {
                                    <div class="col-md-2 col-sm-12 pl-0 pt-1">

                                        <button class="buttons-pdf" title="Print" type="button" id="btn_print" onclick="ForwardHistoryBtnClick();" name="Command" value="Print" data-toggle="modal" data-target="#SalesInvoicePrint" data-backdrop="static" data-keyboard="false"></button>
                                    </div>
                                }
           

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1 pb-3">
                    <div class="col-md-4 col-sm-12 pl-0 pr-0">
                        <div class="col-md-9 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.Item @Resource.Name</label>
                            @*<input value="" class="form-control" id="ItemName" maxlength="20" name="ItemName" placeholder="@Resource.Item @Resource.Name" readonly="readonly" type="text">*@
                            @Html.TextBoxFor(Model => Model.ItemName, new { @class = "form-control remarksmessage", @id = "ItemNametext", @name = "ItemName", maxlength = "200", @placeholder = @Resource.Item + @Resource.Name, @disabled = "Disable", @type = "text" })
                            @Html.HiddenFor(Model => Model.ItemNameID, new { @id = "itemID" })
                        </div>
                        <div class="col-md-3 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.UOM</label>
                            @*<input value="" class="form-control" id="ItemUOM" maxlength="20" name="ItemSearchUOM" placeholder="@Resource.UOM" readonly="readonly" type="text">*@
                            @Html.TextBoxFor(Model => Model.UomName, new { @class = "form-control", @id = "ItemUOMtext", @name = "ItemUOM", maxlength = "200", @placeholder = @Resource.UOM, @disabled = "Disable", @type = "text" })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.OEMNo</label>
                        @*<input value="" class="form-control" id="ItemSearchOEM" maxlength="20" name="ItemSearchOEM" placeholder="@Resource.OEMNo" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.OEMNo, new { @class = "form-control", @id = "ItemSearchOEM", @name = "ItemSearchUOM", maxlength = "200", @placeholder = @Resource.OEMNo, @disabled = "Disable", @type = "text" })
                    </div>
                    <div class="col-md-4 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Alias @Resource.Name</label>
                        @*<input value="" class="form-control" id="AliasName" maxlength="20" name="AliasName" placeholder="@Resource.Alias @Resource.Name" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.AliasName, new { @class = "form-control remarksmessage", @id = "AliasName", @name = "AliasName", maxlength = "200", @placeholder = @Resource.Alias + Resource.Name, @disabled = "Disable", @type = "text" })
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.ReferenceNumber</label>
                        @*<input value="" class="form-control" id="ReferenceNumber" maxlength="20" name="ReferenceNumber" placeholder="@Resource.ReferenceNumber" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.ReferenceNumber, new { @class = "form-control", @id = "ReferenceNumber", @name = "ReferenceNumber", maxlength = "200", @placeholder = @Resource.ReferenceNumber, @disabled = "Disable" })
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Technical  @Resource.Specification</label>
                        @*<input value="" class="form-control" id="TechnicalSpecification" maxlength="20" name="TechnicalSpecification" placeholder="@Resource.Technical  @Resource.Specification" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.TechnicalSpecification, new { @class = "form-control", @id = "TechnicalSpecification", @name = "TechnicalSpecification", maxlength = "200", @placeholder = @Resource.Technical + Resource.Specification, @disabled = "Disable" })
                    </div>
                    <div class="col-md-4 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Technical  @Resource.Description</label>
                        @*<input value="" class="form-control" id="TechnicalDescription" maxlength="20" name="TechnicalDescription" placeholder="@Resource.Technical  @Resource.Description" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.TechnicalDescription, new { @class = "form-control remarksmessage", @id = "TechnicalDescription", @name = "TechnicalSpecification", maxlength = "200", @placeholder = @Resource.Technical + Resource.Description, @disabled = "Disable" })
                    </div>
                    <div class="col-md-4 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Group @Resource.Name</label>
                        @*<input value="" class="form-control remarksmessage" id="GroupName" maxlength="20" name="GroupName" placeholder="@Resource.Group @Resource.Name" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.GroupName, new { @class = "form-control remarksmessage", @id = "GroupName", @name = "GroupName", maxlength = "200", @placeholder = @Resource.Group + Resource.Name, @disabled = "Disable" })
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.HSNCode</label>
                        @*<input value="" class="form-control" id="HSNCode" maxlength="20" name="HSNCode" placeholder="@Resource.HSNCode" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.HSNCode, new { @class = "form-control ", @id = "HSNCode", @name = "HSNCode", maxlength = "200", @placeholder = @Resource.HSNCode, @disabled = "Disable" })
                    </div>
                    <div class="col-md-4 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.remarks</label>
                        @*<input value="" class="form-control remarksmessage" id="ItemName" maxlength="20" name="ItemName" placeholder="@Resource.Item @Resource.Name" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.remarks, new { @class = "form-control remarksmessage", @id = "remarks", @name = "remarks", maxlength = "200", @placeholder = @Resource.remarks, @disabled = "Disable" })
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.WeightInKg</label>
                        @*<input value="" class="form-control" id="WeightInKg" maxlength="20" name="WeightInKg" placeholder="@Resource.WeightInKg" readonly="readonly" type="text">*@
                        @Html.TextBoxFor(Model => Model.WeightInKg, new { @class = "form-control", @id = "WeightInKg", @name = "WeightInKg", maxlength = "200", @placeholder = @Resource.WeightInKg, @disabled = "Disable" })
                    </div>
                    <div class="col-md-6 col-sm-12 pl-0 pr-0">
                        <div class="col-md-4 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.VolumeInLitres</label>
                            @*<input value="" class="form-control" id="VolumeInLitres" maxlength="20" name="VolumeInLitres" placeholder="@Resource.VolumeInLitres" readonly="readonly" type="text">*@
                            @Html.TextBoxFor(Model => Model.VolumeInLitres, new { @class = "form-control", @id = "VolumeInLitres", @name = "VolumeInLitres", maxlength = "200", @placeholder = @Resource.VolumeInLitres, @disabled = "Disable" })
                        </div>
                        <div class="col-md-3 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.GrossWeight</label>
                            @*<input value="" class="form-control" id="GrossWeight" maxlength="20" name="GrossWeight" placeholder="@Resource.GrossWeight" readonly="readonly" type="text">*@
                            @Html.TextBoxFor(Model => Model.GrossWeight, new { @class = "form-control", @id = "GrossWeight", @name = "GrossWeight", maxlength = "200", @placeholder = @Resource.GrossWeight, @disabled = "Disable" })
                        </div>
                        <div class="col-md-3 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.NetWeight</label>
                            @*<input value="" class="form-control" id="NetWeight" maxlength="20" name="NetWeight" placeholder="@Resource.NetWeight" readonly="readonly" type="text">*@
                            @Html.TextBoxFor(Model => Model.NetWeight, new { @class = "form-control", @id = "NetWeight", @name = "NetWeight", maxlength = "200", @placeholder = @Resource.NetWeight, @disabled = "Disable" })
                        </div>
                        <div class="custom-control custom-switch col-md-2 col-sm-12 pt-4 pr-0">
                            @if (Model.actstatus == "Y")
                            {
                                Model.act_status = true;
                                @Html.CheckBoxFor(modal => modal.act_status, new
                                {
                                    @class = "custom-control-input col-md-3 col-sm-12 margin-switch",
                         disabled = "disabled",
                                    @checked = "checked",
                                    @id = "act_stats"
                                })
                                <label class="custom-control-label " for="i_pur">@Resource.Active</label>
                            }
                            else
                            {
                                Model.act_status = false;
                                @Html.CheckBoxFor(modal => modal.act_status, new
                                                        {
                                                            @class = "custom-control-input col-md-3 col-sm-12 margin-switch",
                                                 disabled = "disabled",
                                                            @checked = "unchecked",
                                                            @id = "act_stats"
                                                        })
                                <label class="custom-control-label" for="i_pur">@Resource.Active</label>
                            }
                            @Html.HiddenFor(Model => Model.actstatus, new { @id = "act_stats_chack" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="false">
                    <div id="Itm_Details_List">
                        @{
                            var Disable = true;
                            ViewBag.Disable = Disable;
                        }
                        @Html.Partial("~/Areas/Common/Views/Comn_PartialAttatchmentDetail.cshtml")
                    </div>
                </article>
            </div>
        </div>
        <script>
            $('.collapsed').attr('aria-expanded', "true");
            $('.collapsed').removeClass('class', '');
            $('#collapseFive').removeClass('panel-collapse hide collapse');
            $('#collapseFive').addClass('panel-collapse hide collapse show');
        </script>



    </div>
</div>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/ItemSearch/ItemSearch_JS.js"></script>
