@using System.Data;
<style>
    .main_header {
        width: 765px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }

    .main {
        width: 765px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
        /*min-height:1000px;*/
    }

    .cn {
        width: 260px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }

    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cn .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .cn .top_right {
        width: 160px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .bor {
        padding-top: 2px;
        width: 250px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }

        .bor img {
            width: auto;
            height: 120px;
            border: 0px;
            float: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .right {
            width: 135px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }

    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }



    .fontsize {
        font-family: Arial;
        font-size: 11px;
        text-align: left;
        padding-left: 3px;
    }

    .pa_l {
        paddingleft: 5px;
    }

    .pa_r {
        paddingright: 5px;
    }

    .pa_t {
        paddingtop: 5px;
    }

    .pa_b {
        paddingbottom: 5px;
    }

    .bor_top {
        border-top: solid 1px #000000;
    }
    /* td img {
        height:100px;
        width:auto;
    }*/
</style>
@{
    var itemDetails = ViewBag.ItemDetails as System.Data.DataTable;
    var PermissionPrint = ViewBag.PrintOption as System.Data.DataTable;

    string GetValue(string columnName, string permissionKey)
    {
        var value = "";
        if (PermissionPrint != null && PermissionPrint.Columns.Contains(permissionKey)
            && PermissionPrint.Rows[0][permissionKey].ToString() == "Y")
        {
            if (itemDetails != null && itemDetails.Rows.Count > 0 && itemDetails.Columns.Contains(columnName))
            {
                value = itemDetails.Rows[0][columnName]?.ToString();
                return value ?? ""; // Let empty values still show
            }
        }
        else
        {

            value ="NotShowDatainprint";
            return value;
        }
        return value;

    }

    bool ShouldRender(string value) => value != "NotShowDatainprint";

    var fields = new List<(string Label, string Value)>
{
        ("Item Name", GetValue("item_name", "PrintItemName")),
        ("UOM", GetValue("uom_alias", "ShowUOM")),
        ("OEM No.", GetValue("item_oem_no", "ShowOEMNumber")),
        ("Alias Name", GetValue("item_sam_cd", "ShowItemAliasName")),
        ("Reference Number", GetValue("item_leg_cd", "ShowRefNumber")),
        ("Technical Specification", GetValue("item_tech_spec", "ShowProdTechSpec")),
        ("Technical Description", GetValue("item_tech_des", "ProdTechDesc")),
        ("Group Name", GetValue("groupname", "ItemGroupName")),
        ("HSN/SAC Code", GetValue("HSN_code", "HsnNumber")),
        ("Remarks", GetValue("item_remarks", "Remarks")),
        ("Weight In Kg", GetValue("wght_kg", "WeightinKG")),
        ("Volume in Litres", GetValue("wght_ltr", "Volumeinliter")),
        ("Gross Weight", GetValue("gr_wght", "grossweight")),
        ("Net Weight", GetValue("nt_wght", "Netweight")),
    };

    var visibleFields = fields.Where(f => ShouldRender(f.Value)).ToList();

    int columnCount = visibleFields.Count >= 7 ? 2 : 1;
    List<(string Label, string Value)> firstColFields;
    List<(string Label, string Value)> secondColFields;

    if (visibleFields.Count <= 7)
    {
        // Show all in first column
        firstColFields = visibleFields;
        secondColFields = new List<(string Label, string Value)>();
    }
    else
    {
        // Split across two columns
        firstColFields = visibleFields.Take((visibleFields.Count + 1) / 2).ToList();
        secondColFields = visibleFields.Skip((visibleFields.Count + 1) / 2).ToList();
    }
    //var firstColFields = visibleFields.Take((visibleFields.Count + 1) / 2).ToList();
    //var secondColFields = visibleFields.Skip((visibleFields.Count + 1) / 2).ToList();
}



<table class="main" style="border:1px;" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table class="" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="40%">
                        @*<img src="@lpath" alt="Logo" width="150" />*@
                        <img src="@ViewBag.FLogoPath" class="img-fluid" width="150" />
                    </td>
                    <td class="invoice" width="62%"><strong>@ViewBag.Title</strong></td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td>

                        @if (visibleFields.Any())
                        {
                            <table cellpadding="0" cellspacing="0" class="fontsize" width="100%">
                                <tr>
                                    @if (columnCount >= 1)
                                    {
                                        <td>
                                            <table cellpadding="0" cellspacing="0" class="fontsize" width="100%">
                                                @foreach (var field in firstColFields)
                                                {
                                                    <tr>
                                                        <td width="35%" class="pa_l pa_r pa_t pa_b">@field.Label</td>
                                                        <td width="3%" class="pa_l pa_r pa_t pa_b">:</td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@field.Value</td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    }

                                    @if (columnCount == 2)
                                    {
                                        <td>
                                            <table cellpadding="0" cellspacing="0" class="fontsize" width="100%">
                                                @foreach (var field in secondColFields)
                                                {
                                                    <tr>
                                                        <td width="35%" class="pa_l pa_r pa_t pa_b">@field.Label</td>
                                                        <td width="3%" class="pa_l pa_r pa_t pa_b">:</td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@field.Value</td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    }
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                @*@if (ShouldRender(PrintImage))
            {*@
                <tr>
                    <td class="bor_top pa_t">

                        @if (ViewBag.Details.Rows != null)
                        {
                            DataView data = new DataView();
                            foreach (DataRow dr in ViewBag.Details.Rows)
                            {
                                if (@dr["item_img_name"].ToString() != "" && @dr["item_img_name"].ToString() != "")
                                {
                                    string itemPath = Server.MapPath("~") + "..\\Attachment\\ItemSetup\\";
                                    string itemPath1 = itemPath + @dr["item_img_name"].ToString().Replace("/", "\\'");
                                    var ItemImage = itemPath1.Replace("~\\", "").Replace("\\\\", "\\").Replace("'", "");
                                    <div class="bor">

                                        <table class="fontsize" width="100%" cellpadding="2" cellspacing="2">
                                            <tr>
                                                <td class="pa_l">
                                                    <table cellpadding="0" cellspacing="0" class="fontsize" width="100%" style="border:1px solid #000000;">
                                                        <tr>
                                                            <td style="height: 235px; vertical-align:middle; text-align:center;"><img src="@ItemImage" style="width:auto; height:80px;" /></td>
                                                        </tr>
                                                        <tr></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>


                                }
                            }
                        }


                    </td>
                </tr>
                @* }*@
            </table>
        </td>
    </tr>
</table>