@model EnRepMobileWeb.MODELS.ApplicationLayer.Inventory_Management.DeliveryNoteDetail_MODELS
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
@{
    var Disable = true;
    if (Session["TransType"].ToString() == "Update")
    {
        if (Session["Command"].ToString() == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        Disable = false;
    }

}
<table id="DnItmDetailsTbl" class="table table-bordered width2000">
    <thead>
        <tr class="headings">
            <th width="1%"> &nbsp;</th>
            <th width="2%">@Resource.SrNo</th>
            <th width="10%">@Resource.SourceDocumentNumber </th>
            <th width="8%">@Resource.SourceDocumentDate </th>
            <th width="10%">
                @Resource.ItemName
            </th>

            <th width="3%" title="@Resource.UnitOfMeasure"> @Resource.UOM </th>
            <th>@Resource.Order<br />@Resource.Quantity </th>
            <th>@Resource.Billed<br />@Resource.Quantity <span class="required">*</span> </th>
            <th>@Resource.Received<br />@Resource.Quantity <span class="required">*</span>  </th>
            <th width="3%">@Resource.QC<br />@Resource.Required</th>
            <th>@Resource.Accepted<br />@Resource.Quantity</th>
            <th>@Resource.Rejected<br />@Resource.Quantity</th>
            <th>@Resource.Reworkable<br />@Resource.Quantity</th>
            <th width="5%">@Resource.Sample<br />@Resource.Received </th>
            <th width="7%">@Resource.remarks</th>
        </tr>
    </thead>
    @if (Model.ItemDetailsList != null)
    {
        <tbody id="AddressBody">
            @foreach (var dr in Model.ItemDetailsList)
            {

                var id = "R" + rowId;

                <tr id="@id">
                    @{
                        rowId = rowId + 1;
                    }

                   <td class="red center"> <i class="deleteIcon fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i></td>
                    <td>@rowId</td>
                    <td>
                        <input id="po_no" class="form-control" autocomplete="off" type="text" name="PODate"  placeholder="PONumber"  onblur="this.placeholder='PONumber'" disabled value="@dr.SourceDocumentNo">
                    </td>
                    <td>
                        <input id="SourceDate" class="form-control " autocomplete="off" type="text" name="PONumber"  placeholder=""  disabled value="@dr.SourceDocumentDate">
                    </td>
                    <td>
                        <div class=" col-sm-11" style="padding:0px;">
                            <input id="ItemName" class="form-control" autocomplete="off" type="text" name="ItemName"  placeholder=""  disabled value="@dr.ItemName">
                            <input type="hidden" id="hdItemId" value="@dr.item_id" style="display: none;" />
                        </div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" class="calculator" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="@Resource.ItemInformation"></i>*@ </button>
                        </div>
                    </td>
                    <td>
                        <input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM"  placeholder="@Resource.UOM" disabled value="@dr.UOM">
                        <input type="hidden" id="hdUOMId" value="@dr.base_uom_id" style="display: none;" />
                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="OrderQuantity" disabled value="@dr.ord_qty_base" required class="form-control" autocomplete="" type="number" name="OrderQuantity"  placeholder="0000.00"  disabled value="@dr.OrderQty">
                        }
                        else
                        {
                            <input id="OrderQuantity" value="@dr.ord_qty_base" required class="form-control" autocomplete="" type="number" name="OrderQuantity"  placeholder="0000.00"  disabled value="@dr.OrderQty">
                        }
                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="BilledQuantity" disabled value="@dr.BilledQty" required class="form-control" autocomplete="" type="number" name="BilledQuantity" placeholder="0000.00"  >
                        }
                        else
                        {
                            <input id="BilledQuantity" value="@dr.BilledQty" required class="form-control" autocomplete="" type="number" name="BilledQuantity" placeholder="0000.00"  >
                        }
                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="ReceivedQuantity" disabled value="@dr.RecievedQty"  required class="form-control" autocomplete="" type="number" name="ReceivedQuantity" placeholder="0000.00"  >
                        }
                        else
                        {
                            <input id="ReceivedQuantity" value="@dr.RecievedQty"  required class="form-control" autocomplete="" type="number" name="ReceivedQuantity" placeholder="0000.00"  >
                        }
                    </td>
                    <td>
                        @{
                            if (Disable)
                            {
                                if (@dr.QCRequired == true)
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="QCRequired" disabled type="checkbox" class="js-switch" checked />
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="QCRequired" disabled type="checkbox" class="js-switch" />
                                        </label>
                                    </div>

                                }
                            }
                            else
                            {
                                if (@dr.QCRequired == true)
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="QCRequired" type="checkbox" class="js-switch" checked />
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="QCRequired" type="checkbox" class="js-switch" />
                                        </label>
                                    </div>

                                }
                            }
                        }

                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="AcceptedQuantity" disabled value="@dr.AcceptedQty" class="form-control" autocomplete="" type="number" name="AcceptedQuantity"  placeholder="0000.00"  disabled>
                        }
                        else
                        {
                            <input id="AcceptedQuantity" value="@dr.AcceptedQty" class="form-control" autocomplete="" type="number" name="AcceptedQuantity"  placeholder="0000.00"  disabled>
                        }
                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="RejectedQuantity" disabled value="@dr.RejectedQty" class="form-control" autocomplete="" type="number" name="RejectedQuantity"  placeholder="0000.00"  disabled>
                        }
                        else
                        {
                            <input id="RejectedQuantity" value="@dr.RejectedQty" class="form-control" autocomplete="" type="number" name="RejectedQuantity"  placeholder="0000.00"  disabled>
                        }
                    </td>
                    <td>
                        @if (Disable)
                        {
                            <input id="ReworkableQuantity" value="@dr.ReworkableQty" class="form-control" autocomplete="" type="text" name="ReworkableQuantity"  placeholder="0000.00"  disabled>
                        }
                        else
                        {
                            <input id="ReworkableQuantity" value="@dr.ReworkableQty" class="form-control" autocomplete="" type="text" name="ReworkableQuantity"  placeholder="0000.00"  disabled>
                        }
                    </td>
                    <td>
                        @{
                            if (Disable)
                            {
                                if (@dr.SampleRecieved == true)
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="SampleReceived" disabled type="checkbox" class="js-switch" checked />
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="SampleReceived" disabled type="checkbox" class="js-switch" />
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                if (@dr.SampleRecieved == true)
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="SampleReceived" type="checkbox" class="js-switch" checked />
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="cancelled">
                                        <label>
                                            <input id="SampleReceived" type="checkbox" class="js-switch" />
                                        </label>
                                    </div>
                                }
                            }
                        }

                    </td>
                    <td>
                        @if (Disable)
                        {
                            <textarea id="txtItemRemarks" readonly value="@dr.it_remarks" class="form-control remarksmessage" name="remarks" maxlength="100"  placeholder="@Resource.remarks"    ></textarea>
                        }
                        else
                        {
                            <textarea id="txtItemRemarks" value="@dr.it_remarks" class="form-control remarksmessage" name="remarks" maxlength="100"  placeholder="@Resource.remarks"    ></textarea>
                        }
                    </td>
                </tr>

            }
        </tbody>
    }
    else
    {
        <tbody id="AddressBody">
            
        </tbody>
    }
</table>
