@*@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.DeliveryNote.DeliveryNoteDetailSC_Model*@

@using EnRepMobileWeb.Resources;

@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@{
    decimal TotalDispQty = 0;
    decimal TotalPendQty = 0;
    decimal TotalBillQty = 0;
    decimal TotalReceivQty = 0;
    var Disable = true;
    if (ViewBag.TransType != null)
    {
        if (ViewBag.TransType == "Update")
        {
            if (ViewBag.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (ViewBag.Command == "Refresh"|| ViewBag.Command=="")
            {
                Disable = true;
            }
            else
            {if (ViewBag.Message== "DocModify")
                {
                    Disable = true;
                }
                else
                {
                    Disable = false;
                }

            }
        }
    }
}

<div class="modal-content" id="">
    <div class="modal-header">
        <h2> @Resource.QuantityDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.Product @Resource.Name
                </label>
                @*<input id="ProductName" class="form-control optional"  maxlength="20" name="Pro_No" autocomplete="off"  placeholder=" @Resource.Product @Resource.Name" readonly="readonly" type="text" value="">*@
                <input id="DispQtyItemName" readonly class="form-control" autocomplete="off" maxlength="20" tabindex="5" type="text" name="ItemName" placeholder=" @Resource.Product @Resource.Name" onblur="this.placeholder='ItemName'">
                <input type="hidden" id="hd_DispQtyItemId" value="" />

            </div>
            <div class="col-md-55 ">
                <label class="col-form-label label-align">@Resource.UOM</label>
                @*<input autocomplete="off" class="form-control optional" id="UOM" maxlength="20" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">*@
                <input id="DispQtyUOM" readonly class="form-control" autocomplete="off" maxlength="20" tabindex="5" type="text" name="UOM" placeholder="@Resource.UOM">
                <input type="hidden" id="hd_DispQtyUOMId" value="" />

            </div>
            @*<div class="col-md-1 col-sm-12" style="max-width:6%;">
            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickHistorySearchBtn();"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>*@
        </div>
        <div id="DispatchDetail" class="card-box table-responsive dy_table margintop10 price_item_detail">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="DispatchQtyInfoTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="5%">@Resource.SrNo</th>
                            <th hidden="hidden">&nbsp;</th>
                            <th width="22%">@Resource.Dispatch <br /> @Resource.Number</th>
                            <th>@Resource.Dispatch <br /> @Resource.Date</th>
                            <th>@Resource.Dispatch <br />@Resource.Quantity</th>
                            <th>@Resource.Pending <br />@Resource.Quantity</th>
                            <th>@Resource.Billed <br />@Resource.Quantity<span class="required"> *</span></th>
                            <th>@Resource.Received <br />@Resource.Quantity<span class="required"> *</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ItemDispatchQtyDetail != null)
                        {
                            var rowidno = 0;
                            //var RowSno = 0;
                            foreach (System.Data.DataRow Row in ViewBag.ItemDispatchQtyDetail.Rows)
                            {
                                var subitmDisable = "";
                                if (Row["sub_item"].ToString() != "Y")
                                {
                                    subitmDisable = "disabled";
                                }
                                rowidno++;
                                //RowSno = RowSno + 1;
                                <tr id="@rowidno">
                                    <td class="sr_padding"><span id="SNoRowId">@rowidno</span></td>
                                    <td style="display:none;"><input type="hidden" id="hdSNoRowID" value="@rowidno" style="display: none;" /></td>
                                    <td><input id="DispatchQtyDocNo" disabled class="form-control" type="text" value="@Row["disp_no"].ToString()"></td>
                                    <td><input id="DispatchQtyDocDate" disabled class="form-control" type="text" value="@Row["disp_dt"].ToString()"></td>
                                    <td>
                                        <div class="col-sm-9 lpo_form no-padding">
                                            <input id="Disp_DispatchedQuantity" disabled class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["disp_qty"]).ToString(ViewBag.QtyDigit)">
                                            <input hidden type="text" id="sub_item" value="@Row["sub_item"].ToString()" />

                                        </div>
                                        <div class="col-sm-3 i_Icon no-padding" id="div_PD_SubItemDispQty">
                                            <button type="button" id="PD_SubItemDispQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('DNSCDispQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-9 lpo_form no-padding">
                                            <input id="Disp_PendingQuantity" disabled class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["pend_qty"]).ToString(ViewBag.QtyDigit)">
                                        </div>
                                        <div class="col-sm-3 i_Icon no-padding" id="div_PD_SubItemPendQty">
                                            <button type="button" id="PD_SubItemPendQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('DNSCPendQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="col-sm-9 lpo_form no-padding">
                                            @if (Disable)
                                            {
                                                <input id="Disp_BilledQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["bill_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" disabled>
                                            }
                                            else
                                            {
                                                if (ViewBag.Command == "Edit" && ViewBag.DocumentStatus == "A")
                                                {
                                                    <input id="Disp_BilledQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["bill_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" disabled>
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(@Row["bill_qty"].ToString()))
                                                    {
                                                        <input id="Disp_BilledQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["bill_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" onkeypress="return OnKeyPressBLQty(this,event);" onchange="OnChangeBLQty(this,event)" onpaste="return CopyPasteData(event)">
                                                    }
                                                    else
                                                    {
                                                        <input id="Disp_BilledQuantity" class="form-control num_right" type="text" value="@Row["bill_qty"].ToString()" autocomplete="off" onkeypress="return OnKeyPressBLQty(this,event);" onchange="OnChangeBLQty(this,event)" onpaste="return CopyPasteData(event)" placeholder="0000.00">
                                                    }
                                                }
                                            }

                                            <span id="Disp_BilledQuantity_Error" class="error-message is-visible"></span>
                                        </div>
                                        <div class="col-sm-3 i_Icon no-padding" id="div_PD_SubItemBillQty">
                                            <button type="button" id="PD_SubItemBillQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('DNSCBillQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-9 lpo_form no-padding">
                                            @if (Disable)
                                            {
                                                <input id="Disp_ReceivedQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["rec_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" disabled>
                                            }
                                            else
                                            {
                                                if (ViewBag.Command == "Edit" && ViewBag.DocumentStatus == "A")
                                                {
                                                    <input id="Disp_ReceivedQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["rec_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" disabled>
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(@Row["rec_qty"].ToString()))
                                                    {
                                                        <input id="Disp_ReceivedQuantity" class="form-control num_right" type="text" value="@Convert.ToDecimal(Row["rec_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" onchange="OnChangeRecQty(this,event)" onkeypress="return OnKeyPressRecQty(this,event);" onpaste="return CopyPasteData(event)">
                                                    }
                                                    else
                                                    {
                                                        <input id="Disp_ReceivedQuantity" class="form-control num_right" type="text" value="@Row["rec_qty"].ToString()" autocomplete="off" onchange="OnChangeRecQty(this,event)" onkeypress="return OnKeyPressRecQty(this,event);" onpaste="return CopyPasteData(event)" placeholder="0000.00">
                                                    }

                                                }
                                            }
                                            <span id="Disp_ReceivedQuantity_Error" class="error-message is-visible"></span>
                                        </div>
                                        <div class="col-sm-3 i_Icon no-padding" id="div_PD_SubItemRecvQty">
                                            <button type="button" id="PD_SubItemRecvQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('DNSCRecQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                        </div>
                                    </td>

                                    @*<td><input id="Order_PendingQty" disabled class="form-control num_right" type="text" value="@Row["bal_qty"].ToString()"></td>*@

                                </tr>
                                TotalDispQty = TotalDispQty + Convert.ToDecimal(Row["disp_qty"]);
                                TotalPendQty = TotalPendQty + Convert.ToDecimal(Row["pend_qty"]);
                                if (!string.IsNullOrEmpty(@Row["bill_qty"].ToString()))
                                {
                                    TotalBillQty = TotalBillQty + Convert.ToDecimal(Row["bill_qty"]);
                                }
                                if (!string.IsNullOrEmpty(@Row["rec_qty"].ToString()))
                                {
                                    TotalReceivQty = TotalReceivQty + Convert.ToDecimal(Row["rec_qty"]);
                                }

                                //TotalReceivQty = TotalReceivQty + Convert.ToDecimal(Row["rec_qty"]);


                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>

                            <td class="num_right font-weight-bolder">Total</td>
                            <td class="num_right"><strong><span id="LblTotalDispatchQty">@TotalDispQty.ToString(ViewBag.QtyDigit)</span></strong></td>

                            <td class="num_right"><strong><span id="LblTotalPendingQty">@TotalPendQty.ToString(ViewBag.QtyDigit)</span></strong></td>

                            <td class="num_right"><strong><span id="LblTotalBilledQty">@TotalBillQty.ToString(ViewBag.QtyDigit)</span></strong></td>

                            <td class="num_right"><strong><span id="LblTotalReceivedQty">@TotalReceivQty.ToString(ViewBag.QtyDigit)</span></strong></td>



                            @*<td class="num_right font-weight-bolder">0000.000</td>
                                    <th width="82%" class="num_right"><strong>@Resource.Total</strong></th>
                                <th class="num_right"><strong><span id="LblTotalDispatchQty"></span></strong></th>*@
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>*@
        @if (Disable)
            {
            }
            else
            {
                if (ViewBag.Command == "Edit" && ViewBag.DocumentCode == "A")
                {
                 }
                else
                {
        <button type="button" id="btnDispQtyReset" onclick="onclickbtnDispQtyReset()" class="btn btn-primary btn-sm">@Resource.Reset</button>
        <button type="button" id="btnDisQtySaveAndExit" onclick="onclickbtnDispQtySaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
        <button type="button" id="btnDispQtyDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
        }
            }
    </div>
</div>
