@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionPlan/ProductionPlanList.js"></script>
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Production @Resource.Plan @Resource.Tracking</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <form id="PurchaseOrderTracking" data-parsley-validate class="form-horizontal form-label-left">
            <div class="row">
                <div class="col-md-3 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.Production @Resource.Plan @Resource.Number</label>
                    <input type="text" id="txtPpTracking" class="form-control" readonly>
                </div>
                <div class="col-md-2 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.Production @Resource.Plan @Resource.Date</label>
                    <input type="text" id="OrderDate" class="form-control" readonly>
                </div>
            </div>
        </form>
        <div class="card-box table-responsive dy_table">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                <table id="SO_trackingTBL" class="table table-striped table-bordered width2000 margin5" style="width:100%;">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th hidden="hidden">@Resource.SrNo</th>
                            <th width="25%">@Resource.Product @Resource.Name</th>
                            <th width="4%">@Resource.UOM</th>
                            <th width="7%">@Resource.OrderToProduceQuantity</th>
                            <th width="7%" class="light_cream_colour">@Resource.Production @Resource.Order <br /> @Resource.Number</th>
                            <th width="7%" class="light_cream_colour">@Resource.Production @Resource.Order <br /> @Resource.Date</th>
                            <th width="7%" class="light_cream_colour">@Resource.Order <br />  @Resource.Quantity</th>
                            <th width="9%" class="light_blue_colour">@Resource.Production <br />  @Resource.ConfirmationNumber</th>
                            <th width="6%" class="light_blue_colour">@Resource.Production <br />  @Resource.ConfirmationDate</th>
                            <th width="6%" class="light_blue_colour">@Resource.Produced <br /> @Resource.Quantity</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Accepted <br />  @Resource.Quantity</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Rejected <br />  @Resource.Quantity</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Reworkable <br />  @Resource.Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.PPTrackingDetails != null)
                        {
                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.PPTrackingDetails.Rows)
                            {
                                rowIdx++;
                                <tr>
                                    <td>@rowIdx</td>
                                    <td id="hdnItemId" hidden="hidden">@Row["item_id"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding">
                                            <span class="item_add" id="TDItemName">
                                                @Row["item_name"].ToString()
                                            </span>
                                        </div>
                                        <div class="col-md-1 col-sm-12 i_Icon"><button type="button" id="TrackingDetail" class="calculator available_credit_limit" onclick="BindItemInfoBtnClick(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Item @Resource.Information"> </button></div>
                                    </td>
                                    <td id="UOM">@Row["uom_alias"].ToString()</td>
                                    <td class="num_right">@Convert.ToDecimal(Row["ord_to_produce_qty"]).ToString(ValDigit)</td>
                                    <td class="light_cream_colour">@Row["jc_no"].ToString()</td>
                                    <td class="light_cream_colour">@Row["jc_dt"].ToString()</td>
                                    <td class="num_right light_cream_colour">@Convert.ToDecimal(Row["prod_qty"]).ToString(ValDigit)</td>
                                    <td class="light_blue_colour" id="Prod_Confir_no">@Row["cnf_no"].ToString()</td>
                                    <td class="light_blue_colour" id="Prod_Confir_dt">@Row["cnf_dt"].ToString()</td>
                                    <td class="num_right light_blue_colour" id="cnf_qty">@Convert.ToDecimal(Row["cnfQty"]).ToString(ValDigit)</td>
                                    @*<td class="num_right light_blue1_colour">@Convert.ToDecimal(Row["accept_qty"]).ToString(ValDigit)</td>*@
                                    <td class="num_right light_blue1_colour">
                                        <div class="col-sm-10 num_right no-padding" id="AcceptQty">
                                            @Convert.ToDecimal(Row["accept_qty"]).ToString(ValDigit)
                                        </div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="OnClickOrderedQty(event,'accept_qty')" data-toggle="modal" data-target="#ProductionAnalysisDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    @*<td class="num_right light_blue1_colour">@Convert.ToDecimal(Row["reject_qty"]).ToString(ValDigit)</td>*@
                                    <td class="num_right light_blue1_colour">
                                        <div class="col-sm-10 num_right no-padding" id="RejectQty">
                                            @Convert.ToDecimal(Row["reject_qty"]).ToString(ValDigit)
                                        </div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="OnClickOrderedQty(event,'reject_qty')" data-toggle="modal" data-target="#ProductionAnalysisDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    @*<td class="num_right light_blue1_colour">@Convert.ToDecimal(Row["rework_qty"]).ToString(ValDigit)</td>*@
                                    <td class="num_right light_blue1_colour">
                                        <div class="col-sm-10 num_right no-padding" id="ReworkableQty">
                                            @Convert.ToDecimal(Row["rework_qty"]).ToString(ValDigit)
                                        </div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="OnClickOrderedQty(event,'rework_qty')" data-toggle="modal" data-target="#ProductionAnalysisDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





