@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ProductionConfirmation.ProductionConfirmation_Model
@using EnRepMobileWeb.Resources;

@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionConfirmation/ProductionConfirmation.js"></script>

<table id="datatable-buttons" class="table table-striped width3600 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="1%"> @Resource.SrNo</th>
            <th width="3%" class="itmStick">@Resource.Confirmation <br /> @Resource.Number</th>
            <th width="3%">@Resource.Confirmation  <br /> @Resource.Date</th>
            <th width="3%" style="display:none;">@Resource.Confirmation  <br /> @Resource.Date</th>
            <th width="4%">@Resource.Finished  <br /> @Resource.Product</th>
            <th width="2%">@Resource.UOM</th>
            <th width="4%">@Resource.Operation</th>
            <th width="4%">@Resource.Operation <br /> @Resource.Output @Resource.Product</th>
            <th width="3%">@Resource.UOM</th>
            <th width="3%">@Resource.BatchNumber</th>
            <th width="3%">@Resource.Status</th>
            <th width="3%">@Resource.Order <br /> @Resource.Number</th>
            <th width="3%">@Resource.Order  <br /> @Resource.Date</th>
            <th width="3%">@Resource.Order <br /> @Resource.Quantity</th>
            <th width="3%">@Resource.Pending <br /> @Resource.Quantity</th>
            <th width="4%">@Resource.Shopfloor</th>
            <th width="6%">@Resource.Workstation</th>
            <th width="5%">@Resource.Supervisor <br /> @Resource.Name</th>
            <th width="5%">@Resource.JobStartDateAndTime1</th>
            <th width="6%">@Resource.JobEndDateAndTime1</th>
            <th width="3%">@Resource.Production <br /> @Resource.Hours</th>
            <th width="3%">@Resource.Shift</th>
            <th width="5%">@Resource.CreatedBy</th>
            <th width="4%">@Resource.Createdon</th>
            <th width="5%">@Resource.ApprovedBy</th>
            <th width="4%">@Resource.ApprovedOn</th>
            <th width="4%">@Resource.AmendedBy</th>
            <th width="4%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ProductionCnfList != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.ProductionCnfList.Rows)
            {
                rowIdx++;

        <tr role="row" class="odd">
            <td width="3%">@rowIdx</td>
            <td id="cnf_no" class="ItmNameBreak itmStick tditemfrz">@Row["cnf_no"].ToString()</td>
            <td>@Row["cnfdt"].ToString()</td>
            <td style="display:none;" id="cnf_dt">@Row["cnf_dt"].ToString()</td>
            <td>@Row["item_name"].ToString()</td>
            <td>@Row["uom_alias"].ToString()</td>
            <td>@Row["op_name"].ToString()</td>
            <td>@Row["outItmName"]</td>
            <td>@Row["outUOM"]</td>
            <td>@Row["batch_no"].ToString()</td>
            <td id="Doc_Status">@Row["status_name"].ToString()</td>
            <td>@Row["jc_no"].ToString()</td>
            <td>@Row["jc_dt"].ToString()</td>
            <td class="num_right">@Row["jc_qty"].ToString()</td>
            <td class="num_right">@Row["pending_qty"].ToString()</td>
            <td>@Row["shfl_name"].ToString()</td>
            <td>@Row["ws_name"].ToString()</td>
            <td>@Row["supervisor_name"].ToString()</td>
            <td>@Row["jc_st_date"].ToString()</td>
            <td>@Row["jc_en_date"].ToString()</td>
            <td class="num_right">@Row["hrs"].ToString()</td>
            <td>@Row["shift_name"].ToString()</td>
            <td>@Row["createname"].ToString()</td>
            <td>@Row["create_dt"].ToString()</td>
            <td>@Row["appname"].ToString()</td>
            <td>@Row["app_dt"].ToString()</td>
            <td>@Row["modname"].ToString()</td>
            <td>@Row["mod_dt"].ToString()</td>
        </tr>
            }
        }

    </tbody>
</table>
@*@if (Session["CNFSearch"] != null)*@
@if (Model.CNFSearch != null)
{
    //if (Session["CNFSearch"].ToString() == "CNF_Search")
    if (Model.CNFSearch == "CNF_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["CNFSearch"] = null;
        Model.CNFSearch = null;
    }
}