@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionAdvice/ProductionAdvice.js"></script>

<table id="datatable-buttons" class="table table-striped width1900 rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="4%">@Resource.AdviceNumber</th>
            <th width="4%">@Resource.AdviceDate</th>
            <th width="4%" style="display:none;">@Resource.AdviceDate</th>
            <th width="4%">@Resource.SourceType</th>
            <th width="4%">@Resource.FY</th>
            <th width="4%">@Resource.Period</th>
            <th width="12%">@Resource.ProductName</th>
            <th width="5%">@Resource.UOM</th>
            <th width="7%">@Resource.BatchNumber</th>
            <th width="4%">@Resource.Advice <br /> @Resource.Quantity</th>
            <th width="4%">@Resource.Status</th>
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.AdvMaterialDetails != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.AdvMaterialDetails.Rows)
            {
                rowIdx++;

        <tr role="row" class="odd">
            <td width="3%">@rowIdx</td>
            <td id="adv_no">@Row["adv_no"].ToString()</td>
            <td>@Row["adv_dt"].ToString()</td>
            <td style="display:none;" id="advdt">@Row["advdt"].ToString()</td>
            <td>@Row["src_type"].ToString()</td>
            <td>@Row["f_fy"].ToString()</td>
            <td>@Row["f_period"].ToString()</td>
            <td>@Row["item_name"].ToString()</td>
            <td>@Row["uom_alias"].ToString()</td>
            <td>@Row["batch_no"].ToString()</td>
            <td class="num_right">@Row["adv_qty"].ToString()</td>
            <td id="Doc_Status">@Row["status_name"].ToString()</td>
            <td>@Row["create_by"].ToString()</td>
            <td>@Row["create_dt"].ToString()</td>
            <td>@Row["app_by"].ToString()</td>
            <td>@Row["app_dt"].ToString()</td>
            <td>@Row["mod_by"].ToString()</td>
            <td>@Row["mod_dt"].ToString()</td>
        </tr>
            }
        }
        
    </tbody>
</table>
@*@if (Session["ADVSearch"] != null)*@
@if (Model.ADVSearch != null)
{
    //if (Session["ADVSearch"].ToString() == "ADV_Search")
    if (Model.ADVSearch == "ADV_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["ADVSearch"] = null;
        Model.ADVSearch = null;
    }
}






