@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.QualityInspection.QualityInspectionModel
@using EnRepMobileWeb.Resources;

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D10;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2aeb5b;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2aeb5b;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    #QCPrmEvalutionTbl tbody tr td {
        padding: 0;
    }
    #ReplicateWithAllSamples .fa-files-o {
        font-size:17px;
    }
    .p_e_auto_width th, .p_e_auto_width td {
        min-width: 140px !important;
    }
</style>
@*<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/QualityInspection/QualityInspectionDetail.js"></script>*@
@{
    //var rowId = 0;
    var Disable = true;
    var DisableData = "N";
    var paramN = 0;
    var paramL = 0;
    if (ViewBag.ItemDetailsQc != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.ItemDetailsQc.Rows)
        {
            if (Row["param_type"].ToString().Trim() == "N")
            {
                paramN = paramN + 1;
            }
            if (Row["param_type"].ToString().Trim() == "L")
            {
                paramL = paramL + 1;
            }
            if (Row["param_type"].ToString().Trim() == "O")
            {
                paramL = paramL + 1;
            }
        }
    }
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
            DisableData = "N";
        }
        else
        {
            Disable = true;
            DisableData = "Y";
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
            DisableData = "Y";
        }
        else
        {
            Disable = false;
            DisableData = "N";
        }
    }
    if(Disable || Model.DocumentStatus == "A")
    {
        DisableData = "Y";
    }
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.ParameterEvaluation</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.ItemName
            </label>
            <input id="QC_ItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="ItemName" onfocus="this.placeholder='ItemName'" onblur="this.placeholder='ItemName'" disabled>
            <input type="hidden" id="ItemCode" />
            <input type="hidden" id="Disable" value="@DisableData" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="UOM" class="form-control " autocomplete="off" type="text" name="UOM" placeholder="UOM" onfocus="this.placeholder='UOM'" onblur="this.placeholder='UOM'" disabled>
            <input type="hidden" id="hdUOMId" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px; padding-right:0px;">
            <label class="col-form-label label-align">@Resource.SampleSize</label>
            @if (Disable)
            {
                <input id="ItmSampSize" class="form-control center" autocomplete="off" type="text" name="ItmSampSize" placeholder="@Resource.SampleSize" disabled>
            }
            else
            {
                if (Model.Command == "Edit" && (Model.DocumentStatus == "A"))
                {
                    <input id="ItmSampSize" class="form-control center" autocomplete="off" type="text" name="ItmSampSize" placeholder="@Resource.SampleSize" disabled>
                }
                else
                {
                    <input id="ItmSampSize" class="form-control center" autocomplete="off" type="text" onkeypress="return OnKeyPressSampleSize(this,event)" onchange="OnChangeSampleSize()" onkeyup="OnChangeSampleSize()" name="ItmSampSize" placeholder="@Resource.SampleSize">
                }
            }
            <span id="ItmSampSize_Error" class="field-validation-valid"></span>
            <input hidden="hidden" id="HdnItemSampleSize" />
        </div>
        <div class="col-md-1 col-sm-12">
            <div class="clear" style="margin-bottom: 30px;"></div>
            @if ((paramN + paramL) != 0)
            {
                <a href="#">
                    <div class="plus_icon1" style="display: block;"> <i class="fa fa-plus" id="BtnAddItem" onclick="AddSampleRows()" title="@Resource.AddNew"></i> </div>
                </a>
            }
        </div>
        <div class="col-md-2 col-sm-12 mt-4">
             <button type="button" id="ReplicateFirstRow" disabled class="btn btn-primary btn-sm" onclick="ReplicateFirstRowInAllSamples()" title="@Resource.ReplicateFirstRowInAllSamples">@Resource.Replicate</button>
        </div>
        <div class="clear" style="margin-bottom:10px;"></div>
        <div class="card-box table-responsive dy_table margin5">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                <table class="table table-bordered p_e_auto_width" id="QCPrmEvalutionTbl">
                    <thead>
                        @if (ViewBag.ItemDetailsQc != null)
                        {
                            var rowIdx = 1;
                        <tr class="sticky-header">
                            <th width="5%">@Resource.SrNo</th>
                            @foreach (System.Data.DataRow Row in ViewBag.ItemDetailsQc.Rows)
                            {
                        <th width="100px" id="th_@rowIdx">
                            <div class="lpo_form col-sm-9 no-padding" id="">
                                @Row["param_name"]<input hidden="hidden" id="thPId_@rowIdx" value="@Row["param_Id"]" />
                            </div>
                            <div class="col-sm-3">
                                @if (Disable || Model.DocumentStatus == "A")
                                {
                                    <button type="button" class="calculator" disabled onclick="ReplicateWithAllSamples(event)" data-toggle="modal" data-target="#ReplicateWithAllSamples" data-backdrop="static" data-keyboard="false"><i class="fa fa-files-o" aria-hidden="true" title="@Resource.ReplicateWithAllSamples"></i> </button>
                                }
                                else
                                {
                                    <button type="button" class="calculator" onclick="ReplicateWithAllSamples(event)" data-toggle="modal" data-target="#ReplicateWithAllSamples" data-backdrop="static" data-keyboard="false"><i class="fa fa-files-o" aria-hidden="true" title="@Resource.ReplicateWithAllSamples"></i> </button>
                                }
                                <input hidden="" id="" value="">
                            </div>
                            <input id="ThDeatilSrNo" hidden="hidden" value="@rowIdx" />
                        </th>
                        @*<th hidden="hidden">
                            <input id="ThDeatilSrNo" hidden="hidden" value="@rowIdx" />
                        </th>*@
                                rowIdx = rowIdx + 1;
                            }
                        <th hidden="hidden">                           
                            <input id="TotalTh" hidden="hidden" value="@rowIdx" />
                        </th>
                            
                        </tr>
                        }
                    </thead>
                    <tbody>
                        @if (ViewBag.ItemDetailsQc != null)
                        {
                            var rowIdx = 1;
                            <tr>
                                <td>&nbsp;</td>
                                @foreach (System.Data.DataRow Row in ViewBag.ItemDetailsQc.Rows)
                                {
                                    <td class="center" id="td_@rowIdx">
                                        @if (Row["param_type"].ToString() == "N")
                                        {
                                            <strong>@Row["lower_val"] - @Row["upper_val"] @Row["uom_alias"]</strong>
                                        }
                                        else if (Row["param_type"].ToString() == "O")
                                        {
                                            <strong>@Resource.Observative</strong>
                                        }
                                        else
                                        {
                                            <strong>@Resource.ok</strong>
                                        }
                                        <input hidden="hidden" id="ParamTypeValue" value="@Row["param_type"]" />
                                        <input hidden="hidden" id="ParamId" value="@Row["param_Id"]" />
                                        <input hidden="hidden" id="ParamUomId" value="@Row["uom_Id"]" />
                                    </td>
                                    rowIdx = rowIdx + 1;
                                }
                            </tr>
                            rowIdx = 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (Disable || Model.DocumentStatus == "A")
    {
        <input hidden="hidden" id="disablePage" value="disabled" />
        <div class="modal-footer">

            @*<button type="button" class="btn btn-primary btn-sm" id="QCReset" onclick="ResetQCDetail();" disabled>@Resource.Reset</button>
            <button type="button" class="btn btn-primary btn-sm" id="SaveExitClose" onclick="OnClickSaveAndExit();" disabled>@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" disabled>@Resource.DiscardAndExit</button>*@
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>
        </div>
    }
    else
    {
        <input hidden="hidden" id="disablePage" value="" />
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="QCReset" onclick="ResetQCDetail();">@Resource.Reset</button>
            <button type="button" class="btn btn-primary btn-sm" id="SaveExitClose" onclick="OnClickSaveAndExit();">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
        </div>
    }
</div>
