@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/ScrapSaleInvoice/ScrapSIList.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.QuotationTracking </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <form id="PurchaseOrderTracking" data-parsley-validate class="form-horizontal form-label-left">
            <div class="row">
                <div class="col-md-2 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.QuotationNumber</label>
                    <input type="text" id="QuotationNumber" class="form-control" readonly>
                </div>
                <div class="col-md-2 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.QuotationDate</label>
                    <input type="text" id="QuotationDate" class="form-control" readonly>
                </div>
                <div class="col-md-3 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.CustomerName</label>
                    <input type="text" id="CustomerName" class="form-control" readonly>
                </div>
            </div>
        </form>
        <div class="card-box table-responsive dy_table margin5">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                <table id="datatable-buttons1" class="table table-striped table-bordered width2500" style="width:100%;">
                    <thead>
                        <tr class="sticky-header">
                            <th width="3%"> &nbsp;</th>
                            <th width="13%"> &nbsp;</th>
                            <th width="6%"> &nbsp;</th>
                            <th width="6%"> &nbsp;</th>
                            <th width="6%" class="light_cream_colour">&nbsp;</th>
                            <th width="6%" class="light_cream_colour">@Resource.Order  @Resource.Detail</th>
                            <th width="6%" class="light_cream_colour">&nbsp;</th>
                            <th width="6%" class="light_blue_colour">&nbsp;</th>
                            <th width="6%" class="light_blue_colour">@Resource.Packing  @Resource.Detail</th>
                            <th width="6%" class="light_blue_colour">&nbsp;</th>
                            <th width="6%" class="light_blue1_colour">&nbsp;</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Shipment  @Resource.Detail</th>
                            <th width="6%" class="light_blue1_colour">&nbsp;</th>
                            <th width="6%" class="light_cream1_colour">&nbsp;</th>
                            <th width="6%" class="light_cream1_colour">@Resource.Invoice  @Resource.Detail</th>
                            <th width="6%" class="light_cream1_colour">&nbsp;</th>
                            @*<th colspan="3"  width="16%">@Resource.ReturnDetail</th>*@
                        </tr>
                        <tr class="sticky-header">
                            <th width="3%">@Resource.SrNo</th>
                            <th width="13%">@Resource.ItemName</th>
                            <th width="6%">@Resource.UOM</th>
                            <th width="6%">@Resource.Quotation <br /> @Resource.Quantity</th>
                            <th width="6%" class="light_cream_colour">@Resource.Order <br /> @Resource.Number</th>
                            <th width="6%" class="light_cream_colour">@Resource.Order <br /> @Resource.Date</th>
                            <th width="6%" class="light_cream_colour">@Resource.Order <br /> @Resource.Quantity</th>
                            <th width="6%" class="light_blue_colour">@Resource.Packing @Resource.List <br /> @Resource.Number</th>
                            <th width="6%" class="light_blue_colour">@Resource.PackDate</th>
                            <th width="6%" class="light_blue_colour">@Resource.Packed <br /> @Resource.Quantity</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Shipment <br /> @Resource.Number</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Shipment <br /> @Resource.Date</th>
                            <th width="6%" class="light_blue1_colour">@Resource.Shipped <br /> @Resource.Quantity</th>
                            <th width="6%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Number</th>
                            <th width="6%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Date</th>
                            <th width="6%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Quantity</th>
                            @*<th>@Resource.Return <br /> @Resource.Number</th>
                                <th>@Resource.Return <br /> @Resource.Date</th>
                                <th>@Resource.Return <br /> @Resource.Quantity</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.QTTrackingDetails != null)
                        {

                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.QTTrackingDetails.Rows)
                            {
                                rowIdx++;
                                <tr>
                                    <td>@rowIdx</td>
                                    <td>@Row["item_name"].ToString()</td>
                                    <td>@Row["uom_name"].ToString()</td>
                                    <td class="num_right">@Row["qt_qty_base"].ToString()</td>
                                    <td class="light_cream_colour">@Row["app_so_no"].ToString()</td>
                                    <td class="light_cream_colour">@Row["so_dt"].ToString()</td>
                                    <td class="light_cream_colour num_right">@Row["ord_qty_base"].ToString()</td>
                                    <td class="light_blue_colour">@Row["pack_no"].ToString()</td>
                                    <td class="light_blue_colour">@Row["pack_dt"].ToString()</td>
                                    <td class="light_blue_colour num_right">@Row["pack_qty"].ToString()</td>
                                    <td class="light_blue1_colour">@Row["ship_no"].ToString()</td>
                                    <td class="light_blue1_colour">@Row["ship_dt"].ToString()</td>
                                    <td class="light_blue1_colour num_right">@Row["ship_qty"].ToString()</td>
                                    <td class="light_cream1_colour">@Row["app_inv_no"].ToString()</td>
                                    <td class="light_cream1_colour">@Row["inv_dt"].ToString()</td>
                                    <td class="light_cream1_colour num_right">@Row["inv_qty"].ToString()</td>
                                    @*<td class="light_green2_colour">AE/12/21/DSI0000010</td>
                                        <td class="light_green2_colour">30-12-2021</td>
                                        <td class="light_green2_colour num_right">100.000</td>*@
                                </tr>

                            }
                        }
                        @*<tr>
                                <td>01</td>
                                <td>Item Name</td>
                                <td>UOM</td>
                                <td class="num_right">180</td>
                                <td>Order Number</td>
                                <td>06-12-2021</td>
                                <td class="num_right">345</td>
                                <td>Packing List Number</td>
                                <td>16-12-2021</td>
                                <td class="num_right">643</td>
                                <td>Shiment Number</td>
                                <td>20-12-2021</td>
                                <td class="num_right">543</td>
                                <td>Invoice Number</td>
                                <td>21-12-2021</td>
                                <td class="num_right">12312</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.trackingSSISearch != null)
{
    if (ViewBag.trackingSSISearch == "trackingSSISearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
     
    }
}
