@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <input type="hidden" id="hdnresval" value="@Resource.ReservedStock @Resource.Detail" />
        <h2><span id="Span_ResStkPopup"></span></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">@Resource.ItemName</label>
            <input id="ResItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.ItemName" disabled>
            <input type="hidden" id="hdn_itemid" />
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input id="ResUOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" disabled>
            <input type="hidden" id="hdn_uom" />
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.Branch</label>
            <input id="ResBranch" class="form-control" autocomplete="off" type="text" name="Branch" placeholder="@Resource.Branch" disabled>
            <input type="hidden" id="hdn_branch" />
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.Warehouse</label>
            <input id="ResWarehouse" class="form-control" autocomplete="off" type="text" name="Warehouse" placeholder="@Resource.Warehouse" disabled>
            <input type="hidden" id="hdn_whid" />
        </div>
        <div class="col-md-4 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.EntityName </label>
            <input id="ResEntityName" class="form-control" autocomplete="off" type="text" name="EntityName" placeholder="@Resource.EntityName" disabled>
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.DocumentType</label>
            <input id="ResDocumentType" class="form-control" autocomplete="off" type="text" name="DocumentType" placeholder="@Resource.DocumentType" disabled>
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.DocumentNumber </label>
            <input id="ResDocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.DocumentNumber" disabled>
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.DocumentDate</label>
            @*<input type="date" id="ResDocumentDate" />*@
            <input id="ResDocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.DocumentDate" disabled>
            @*<input type="hidden" id="hdres_docdt" />*@
        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.Document @Resource.Quantity</label>
            @*<input type="date" id="ResDocumentDate" />*@
            <div class="col-sm-10 lpo_form no-padding">
                <input id="ResDocumentQuantity" class="form-control" autocomplete="off" type="text" name="DocumentQuantity" placeholder="@Resource.Document @Resource.Quantity" disabled>
            </div>
            <input hidden type="text" id="Popup_sub_item" value="" />
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupDocQty">
                <button type="button" id="SubItemPopupDocQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('DocQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>

            @*<input type="hidden" id="hdres_docdt" />*@
        </div>
        <div class="col-md-2 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.Reserved @Resource.Quantity</label>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="popupReservedQuantity" class="form-control num_right" autocomplete="off" type="text" name="ReservedQuantity" placeholder="0000.00" disabled>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupResQty">
                <button type="button" id="SubItemPopupResQty" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('TotalResStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.TotalStock</label>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="popupTotalQuantity" class="form-control num_right" autocomplete="off" type="text" name="TotaLQuantity" placeholder="0000.00" disabled>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupTotalStock">
                <button type="button" id="SubItemPopupTotalStock" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('TotalStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>

        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align">@Resource.AvailableStock</label>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="popupAvailableQuantity" class="form-control num_right" autocomplete="off" type="text" name="AvailableQuantity" placeholder="0000.00" disabled>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupAvlStock">
                <button type="button" id="SubItemPopupAvlStock" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('AvlStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>

        </div>
        <div class="col-md-55 col-sm-12 pop_right ">
            <label class="col-form-label label-align"> @Resource.Pending @Resource.Reserved @Resource.Quantity</label>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="ResPendingQuantity" class="form-control num_right" autocomplete="off" type="text" name="PendingQuantity" placeholder="0000.00" disabled>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupPendResQty">
                <button type="button" id="SubItemPopupPendResQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PendResQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>

        </div>

        @*<div class="col-md-12 col-sm-12 no-padding">
        <div class="price_item_detail">
            <div class="tableFixHead height30VH">
                <table class="table table-bordered margin15 " style="" id="">
                    <thead>
                        <tr>*@
        <div class="card-box table-responsive dy_table margin15">
            <div class="price_item_detail">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="ReservedQtyDetail" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                @*<th width="10%">@Resource.TransactionDate</th>*@
                                <th width="11%">@Resource.Lot</th>
                                <th width="15%">@Resource.Batch1</th>
                                <th width="12%">@Resource.Manufacturer <br />@Resource.Name</th>
                                <th width="11%">@Resource.MRP</th>
                                <th width="9%">@Resource.Manufactured  <br />  @Resource.Date</th>
                                <th width="9%">@Resource.Expiry @Resource.Date</th>
                                <th width="11%">@Resource.Serial1</th>
                                <th width="11%" id="thavlqty">@Resource.Available <br /> @Resource.Quantity</th>
                                <th width="11%" id="threvqty">@Resource.Reserved <br /> @Resource.Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr class="total">
                                <td colspan="8" width="80%" class="num_right"><strong>@Resource.Total</strong></td>
                                <td class="num_right">
                                    <div class="col-sm-10 no-padding">
                                        <strong><span id="TotalResQuantity">0.00000</s  pan></strong>
                                    </div>
                                    <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPopupPendResQty">
                                        <button type="button" id="SubItemPopupTotalResQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PPTotalResQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<div class="col-md-12 col-sm-12 pop_left pop_right no-padding">
                <div class="tableFixHead height30VH">
                    <table class="table table-bordered margin15" style="" id="TaxCalculatorTbl">
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr class="total">
                                <td colspan="4" width="80%" class="num_right"><strong>@Resource.Total</strong></td>
                                <td class="num_right"><strong><span id="TotalResQuantity">0.00000</span></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>*@
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn" onclick="OnClickSaveAndExitxBtn()">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" id="TaxExitAndDiscard" data-dismiss="modal">@Resource.DiscardAndExit</button>
    </div>
</div>
