@using EnRepMobileWeb.Resources;

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.ReturnQuantityDetail</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    @if (ViewBag.DocumentMenuId == "105103142")
    {
        <div class="modal-body no-padding">
            <div class="col-md-5 col-sm-12">
                <label class="col-form-label label-align">@Resource.ItemName</label>
                <input id="IconItemName" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="ItemName" placeholder="@Resource.ItemName" onblur="this.placeholder = '@Resource.ItemName'" disabled>
                <input type="hidden" id="RQhdItemId" style="display: none;" />
                <input hidden type="text" id="Iconsub_item" value="" />
            </div>
            <div class="col-md-1 col-sm-12 no-padding">
                <label class="col-form-label label-align">@Resource.UOM</label>
                <input id="IconUOM" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled>
                <input type="hidden" id="RQhdUomId" style="display: none;" />

            </div>
            <div class="col-md-3 col-sm-12">
                @if (ViewBag.DocumentMenuId == "105103142")
                {
                    @*<label class="col-form-label label-align">@Resource.ShipmentNumber</label>commented by shubham maurya on 20-03-2025*@
                    <label class="col-form-label label-align">@Resource.SourceDocumentNumber</label>
                }
                else
                {
                    <label class="col-form-label label-align">@Resource.GRNNumber</label>
                }

                <input id="IconGRNNumber" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNNumber" placeholder="@Resource.GRNNumber" onblur="this.placeholder = '@Resource.GRNNumber'" disabled>


            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                @if (ViewBag.DocumentMenuId == "105103142")
                {
                    @*<label class="col-form-label label-align">@Resource.ShipmentDate</label>commented by shubham maurya on 20-03-2025*@
                    <label class="col-form-label label-align">@Resource.SourceDocumentDate</label>
                }
                else
                {
                    <label class="col-form-label label-align">@Resource.GRNDate</label>
                }

                <input id="IconGRNDate" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNDate" placeholder="@Resource.GRNDate" onblur="this.placeholder = '@Resource.GRNDate'" disabled>
                <input hidden id="HdnIconGRNDate" />

            </div>
            <div class="clear"></div>
            @if (ViewBag.DocumentMenuId == "105103142")
            {
                <div class="col-md-5 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Return @Resource.Warehouse</label>
                    <input id="ReturnWarehouse" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="ReturnWarehouse" placeholder="@Resource.Return @Resource.Warehouse" disabled>
                    <input hidden="hidden" id="ReturnWarehouse_Id" />

                </div>
            }
            <div class="col-md-2 col-sm-12 pl-0">

                <label class="col-form-label label-align">@Resource.ReturnQuantity</label>
                <input id="IconReturnQuantity" class="form-control num_right" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNDate" placeholder="@Resource.ReturnQuantity" onblur="this.placeholder = '@Resource.ReturnQuantity'" disabled>

            </div>

        </div>
    }
    else
    {
        <div class="modal-body no-padding">
            <div class="col-md-4 col-sm-12">

                <label class="col-form-label label-align">@Resource.ItemName</label>
                <input id="IconItemName" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="ItemName" placeholder="@Resource.ItemName" onblur="this.placeholder = '@Resource.ItemName'" disabled>
                <input type="hidden" id="RQhdItemId" style="display: none;" />
                <input hidden type="text" id="Iconsub_item" value="" />
            </div>
            <div class="col-md-1 col-sm-12 no-padding">
                <label class="col-form-label label-align">@Resource.UOM</label>
                <input id="IconUOM" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled>
                <input type="hidden" id="RQhdUomId" style="display: none;" />

            </div>
            <div class="col-md-3 col-sm-12">
                @if (ViewBag.DocumentMenuId == "105103142")
                {
                    <label class="col-form-label label-align">@Resource.ShipmentNumber</label>
                }
                else
                {
                    if (ViewBag.DocumentMenuId == "105102150")
                    {
                        <label class="col-form-label label-align">@Resource.SourceDocumentNumber</label>
                    }
                    else
                    {
                        <label class="col-form-label label-align">@Resource.GRNNumber</label>
                    }
                }

                <input id="IconGRNNumber" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNNumber" placeholder="@Resource.GRNNumber" onblur="this.placeholder = '@Resource.GRNNumber'" disabled>


            </div>
            <div class="col-md-2 col-sm-12 no-padding">
                @if (ViewBag.DocumentMenuId == "105103142")
                {
                    <label class="col-form-label label-align">@Resource.ShipmentDate</label>
                }
                else
                {
                    if (ViewBag.DocumentMenuId == "105102150")
                    {
                        <label class="col-form-label label-align">@Resource.SourceDocumentDate</label>
                    }
                    else
                    {
                        <label class="col-form-label label-align">@Resource.GRNDate</label>
                    }
                }

                <input id="IconGRNDate" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNDate" placeholder="@Resource.GRNDate" onblur="this.placeholder = '@Resource.GRNDate'" disabled>
                <input hidden id="HdnIconGRNDate" />

            </div>
            <div class="col-md-2 col-sm-12">

                <label class="col-form-label label-align">@Resource.ReturnQuantity</label>
                <input id="IconReturnQuantity" class="form-control num_right" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="GRNDate" placeholder="@Resource.ReturnQuantity" onblur="this.placeholder = '@Resource.ReturnQuantity'" disabled>

            </div>

        </div>
    }
    <div class="clear" style="margin-bottom:10px;"></div>
    <div class="price_item_detail">
        <div class="col-md-12 col-sm-12">
            <div class="tableFixHead height30VH margin10">
                <table class="table table-bordered" id="ReturnedQtyDetailsTbl">
                    <thead>
                        <tr class="sticky-header">
                            @if (ViewBag.DocumentMenuId != "105103142")
                            {
                                <th width="20%">@Resource.Warehouse</th>
                                <th width="16%">@Resource.Lot</th>
                                <th width="17%">@Resource.Batch1</th>
                                <th width="17%">@Resource.Serial1</th>
                                <th width="20%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="20%">@Resource.MRP</th>
                                <th width="20%">@Resource.Manufactured @Resource.Date</th>
                                if (ViewBag.DocumentMenuId == "105102150")
                                {
                                    <th width="15%">@Resource.Available <br /> @Resource.Quantity</th>
                                }
                                else
                                {
                                    <th width="15%">@Resource.Returnable <br /> @Resource.Quantity</th>
                                }
                                <th width="15%">@Resource.Return <br /> @Resource.Quantity</th>
                            }
                            else
                            {
                                <th width="12%">@Resource.Lot</th>
                                <th width="12%">@Resource.Batch1</th>
                                <th width="12%">@Resource.Serial1</th>
                                <th width="13%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="12%">@Resource.MRP</th>
                                <th width="13%">@Resource.Manufactured @Resource.Date</th>
                                <th width="13%">@Resource.Returnable <br /> @Resource.Quantity</th>
                                <th width="13%">@Resource.Return <br /> @Resource.Quantity</th>
                            }
                        </tr>

                    </thead>
                    <tbody id="">
                        @*<tr>
                                <td>
                                    <input id="Warehouse" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="number" name="" placeholder="Raw Material"  onblur="this.placeholder = 'Raw Material'" disabled>
                                </td>
                                <td>
                                    <input id="Lot" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="number" name="" placeholder="Lot"  onblur="this.placeholder = 'Lot'" disabled>
                                </td>
                                <td>
                                    <input id="Batch1" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="" placeholder="5H5677"  onblur="this.placeholder = '5H5677'" disabled>
                                </td>
                                <td>
                                    <input id="Serial1" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="" placeholder=""  onblur="this.placeholder = ''" disabled>
                                </td>
                                <td>
                                    <input id="AvailableQuantity" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="" placeholder="1"  onblur="this.placeholder = '1'" disabled>
                                </td>
                                <td>
                                    <input id="ReturnQuantity" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="" placeholder="1"  onblur="this.placeholder = '1'">
                                    <span id="SpanRetQty" class="error-message is-visible"></span>
                                </td>

                            </tr>*@

                        @*<tr>
                                <td colspan="6" style="padding:0px;">
                                    <hr class="tablehr" />
                                    <table class="table table-bordered" style="" id="TotalReturnQtyTbl">
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr style="background-color: #e4e4e4;">
                                                <td><strong> @Resource.Total</strong></td>

                                                <td align="right" width="15%"><strong> 2<span id="TotalReturnQty"></span></strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>

                            </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <table class="table table-bordered" id="">
            <tr class="total">
                <td class="num_right"><strong> @Resource.Total</strong></td>
                @if (ViewBag.DocumentMenuId == "105103142")
                {
                    <td class="num_right" width="17%">
                        <strong><span id="TotalReturnQty"></span></strong>
                        @*<div class="col-sm-2 i_Icon">
                                <button type="button" class="calculator" id="SubItemReturnQuantity_Detail" onclick="OnclickSubItemRtnQtyDetail()" data-toggle="modal" data-target="#SubItemReturnQuantityDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.SubItem @Resource.ReturnQuantityDetail"></button>
                            </div>*@
                    </td>
                }
                else
                {
                    <td class="num_right" width="17%">
                        <div class="col-sm-10">
                            <strong><span id="TotalReturnQty"></span></strong>
                        </div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" class="calculator" id="SubItemReturnQuantity_Detail" onclick="OnclickSubItemRtnQtyDetail()" data-toggle="modal" data-target="#SubItemReturnQuantityDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.SubItem @Resource.ReturnQuantityDetail"></button>
                        </div>
                    </td>
                }
            </tr>

        </table>
    </div>


    <div>

    </div>
    <div class="modal-footer" id="btnRqSaveDiscardOnly">
        <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn" onclick="OnClickSaveAndExitRetQty_Btn();">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit" data-dismiss="modal" onclick="OnClickDiscardAndExit_OC_Btn();">@Resource.DiscardAndExit</button>
    </div>
    <div class="modal-footer" style="display:none;" id="btnRqCloseOnly">
        <button type="button" class="btn btn-primary btn-sm" id="" data-dismiss="modal" onclick="">@Resource.Close</button>
    </div>


</div>
