@using EnRepMobileWeb.Resources;
@using System.Data;
@{   
    DataTable dt = new DataTable();
    if (ViewBag.RM_PendOrdQtyDetails != null)
    {
        dt = ViewBag.RM_PendOrdQtyDetails.Tables[0];
    }
    decimal ordqty = 0;
    decimal pendqty = 0;
    decimal recvqty = 0;

}
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/QualityInspection/QualityInspectionDetail.js"></script>

<div class="modal-content" style="min-width:800px;">
    <div class="modal-header">
        <h2>@Resource.Pending @Resource.Order @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.ItemName 
            </label>
            <input id="ItemName" value="@ViewBag.ItemName" class="form-control" type="text" name="ItemName" placeholder="@Resource.ItemName" disabled>
           
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="MD_UOM" class="form-control " value="@ViewBag.UOM" type="text" name="UOM" placeholder="UOM" onfocus="this.placeholder='UOM'" onblur="this.placeholder='UOM'" disabled>
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px; padding-right:0px;">
            <label class="col-form-label label-align">@Resource.Pending @Resource.Order @Resource.Quantity</label>
            <input id="" class="form-control num_right" value="@ViewBag.PndOrdQty" type="text" name="" placeholder="@Resource.Pending @Resource.Order @Resource.Quantity"disabled>
        </div>
      
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th>@Resource.SrNo</th>
                            <th>  @Resource.Document <br /> @Resource.Number </th>
                            <th>  @Resource.Document <br /> @Resource.Date </th>
                            <th>@Resource.Order<br /> @Resource.Quantity</th>
                            <th>@Resource.Delivered <br /> @Resource.Quantity </th>
                            <th>@Resource.Pending<br /> @Resource.Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (dt.Rows.Count > 0)
                        {
                            var i = 1;
                            foreach (DataRow dr in dt.Rows)
                            {
                        <tr>
                            <td>@i</td>
                            <td>@dr["app_po_no"]</td>
                            <td>@dr["po_dt"]</td>
                            <td class="num_right">@dr["ord_qty_base"]</td>
                            <td class="num_right">@dr["dn_qty"]</td>
                            <td class="num_right">@dr["pend_qty"]</td>
                        </tr>
                                ordqty = ordqty + Convert.ToDecimal(dr["ord_qty_base"]);
                                recvqty = recvqty + Convert.ToDecimal(dr["dn_qty"]);
                                pendqty = pendqty + Convert.ToDecimal(dr["pend_qty"]);
                                i++;
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td colspan="3" class="num_right"><strong>@Resource.Total</strong></td>
                            <td class="num_right"><strong>@ordqty</strong></td>
                            <td class="num_right"><strong>@recvqty</strong></td>
                            <td class="num_right"><strong>@pendqty</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="QCReset" >@Resource.Close</button>
            </div>
        </div>
