@*@if (Session["POILSearch"] != null)
    {
        if (Session["POILSearch"].ToString() == "POIL_Search")
        {
            @model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.DomesticPurchaseOrder.DPOListModel
        }
    }
    @if (Session["SOILSearch"] != null)
    {
        if (Session["SOILSearch"].ToString() == "SOIL_Search")
        {
            @model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesAndDistributionModels.LSODetailModel
        }
    }*@

@using EnRepMobileWeb.Resources;
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    .OrderHistory #datatable-buttons9_filter {
        right: 20% !important;
    }

    .OrderHistory .buttons-csv {
        margin-left: 22% !important;
    }
</style>
<div class="modal-content" id="tbody_ItemHistory">
    <div class="modal-header">
        <h2> @Resource.OrderHistory</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                @if (ViewBag.DocumentMenuId == "105108101")
                {
                    <label class="col-form-label label-align">@Resource.Service @Resource.Name</label>
                    <input id="HistoryItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.Service @Resource.Name" onblur="this.placeholder = '@Resource.Service @Resource.Name'" disabled="">
                }
                else
                {
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <input id="HistoryItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.ItemName" onblur="this.placeholder = '@Resource.ItemName'" disabled="">
                }
                <input type="hidden" id="hfHistoryItemID" />
                <input type="hidden" id="hfHistoryItemName" />
            </div>
            
            @if (ViewBag.DocumentMenuId == "105108101")
            {
                <div class="col-md-55 " style="display:none">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <input id="HistoryUOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled="">
                    <input type="hidden" id="hfHistoryUOM" />
                </div>
            }
            else
            {
                <div class="col-md-55 ">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <input id="HistoryUOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled="">
                    <input type="hidden" id="hfHistoryUOM" />
                </div>
            }
            <div class="col-md-55 ">
                <label class="col-form-label label-align">
                    @Resource.FromDate
                </label>
                @*@Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
            @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })*@
                <input type="date" class="form-control" id="HistoryFrom_date" name="HistoryFrom_date" value="@ViewBag.FinstDt">
                @*<span id="PaymentDate" class="sr-only">(success)</span>*@
            </div>
            <div class="col-md-55 ">
                <label class="col-form-label label-align">
                    @Resource.ToDate
                </label>
                @*@Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })*@
                <input type="date" class="form-control" id="HistoryTo_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="HistoryTo_date">
                @*<span id="PaymentDate" class="sr-only">(success)</span>*@
            </div>
            <div class="col-md-1 col-sm-12" style="max-width:6%;">
                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickHistorySearchBtn();"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="card-box table-responsive dy_table">
            <div id="LSOListTbody" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="datatable-buttons9" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            @if (ViewBag.DocumentMenuId != null)
                            {
                                if (ViewBag.DocumentMenuId == "105101130")
                                {
                                    <th width="40%">@Resource.Supplier <br /> @Resource.Name</th>
                                }
                                else if (ViewBag.DocumentMenuId == "105108101")
                                {
                                    <th width="40%">@Resource.Contractor <br /> @Resource.Name</th>
                                }
                                else
                                {
                                    <th width="40%">@Resource.Customer <br /> @Resource.Name</th>
                                }

                            }
                            <th width="15%">@Resource.Order <br /> @Resource.Number</th>
                            <th width="15%">@Resource.Date</th>
                            <th style="display:none;">@Resource.Date</th>
                            <th width="15%">@Resource.Quantity</th>
                            <th width="15%">@Resource.Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.VBSOhistorylist != null)
                        {
                            foreach (System.Data.DataRow item in ViewBag.VBSOhistorylist.Rows)
                            {
                                <tr>
                                    <td width="40%">@item["cust_name"].ToString()</td>
                                    <td width="15%">@item["app_so_no"].ToString()</td>
                                    <td id="sodate" width="15%">@item["so_dt"].ToString()</td>
                                    <td style="display:none;">@item["sodt"].ToString()</td>
                                    <td width="15%" class="num_right">@item["ord_qty_base"].ToString()</td>
                                    <td width="15%" class="num_right">@item["item_rate"].ToString()</td>
                                </tr>
                            }
                        }
                        @if (ViewBag.VBPOhistorylist != null)
                        {
                            foreach (System.Data.DataRow item in ViewBag.VBPOhistorylist.Rows)
                            {
                                <tr>
                                    <td width="40%">@item["supp_name"].ToString()</td>
                                    <td width="15%">@item["app_po_no"].ToString()</td>
                                    <td width="15%">@item["po_dt"].ToString()</td>
                                    <td style="display:none;">@item["po_dt"].ToString()</td>
                                    <td width="15%" class="num_right">@item["ord_qty_base"].ToString()</td>
                                    <td width="15%" class="num_right">@item["item_rate"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>
@if (Session["ILSearch"] != null)
{
    if (Session["ILSearch"].ToString() == "IL_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Session["ILSearch"] = null;
        @*<script>
                $(document).ready(function () {
                    $('#Test123').DataTable({
                        order: [[3, 'desc']],
                    });
                });
            </script>*@
    }
}

