@using EnRepMobileWeb.Resources;


@if (ViewBag.AddItemDetails != null)
{
    var rowIdx = ViewBag.RowCount;
    foreach (System.Data.DataRow Row in ViewBag.AddItemDetails.Rows)
    {
        var subitmDisable = "";
        if (Row["sub_item"].ToString() != "Y")
        {
            subitmDisable = "disabled";
        }
        rowIdx++;
<tr id="@rowIdx">
    <td class="center"><input type="checkbox" class="tableflat" id="PackingCheck" onclick="OnClickPackingCheck()" disabled></td>
    <td class="red center"> <i class="deleteIcon fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i></td>
    <td class="sr_padding"><span id="SpanRowId">@(rowIdx)</span></td>
    <td class="ItmNameBreak itmStick tditemfrz">
        <div class=" col-sm-11 no-padding">
            <input id="ItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="" disabled value='@Row["item_name"]'>
            <input type="hidden" id="hdItemId" value='@Row["item_id"]' style="display: none;" />
            <input type="hidden" id="hdFlagForStk" value='@Row["FlagType"]' style="display: none;" />
            <input type="hidden" id="hdStkItmPrice" value='@Row["item_cost"].ToString()' style="display: none;" />
        </div>
        <div class="col-sm-1 i_Icon">
            <button type="button" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"></button>
        </div>
    </td>
    <td>
        <input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" disabled value='@Row["uom_name"]'>
        <input type="hidden" id="hdUOMId" value='@Row["uom_id"]' style="display: none;" />
    </td>
    <td hidden>
        <input id="Warehouse" class="form-control" name="Warehouse" placeholder="" disabled value='@Row["wh_name"]'>
        <input type="hidden" id="hdWHId" value='@Row["wh_id"]' style="display: none;" />
    </td>
    <td>
        <div class="col-sm-9 lpo_form no-padding">
            <input id="ReservedStock" value='@Row["res_stk"]' class="form-control num_right" autocomplete="" type="text" name="ReservedStock" placeholder="0000.00" disabled>
        </div>
        <input hidden type="text" id="sub_item" value="@Row["sub_item"]" />
        <div class="col-sm-3 i_Icon no-padding" id="div_SubItemAvlQty">
            <button type="button" id="SubItemAvlQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('ReservedStock',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
        </div>
    </td>
    <td>
        <div class="col-sm-9 lpo_form no-padding">
            <input id="AvailableStock" value='@Row["aval_stk"]' class="form-control num_right" autocomplete="" type="text" name="AvailableStock" placeholder="0000.00" disabled>
        </div>
        <input hidden type="text" id="sub_item" value="@Row["sub_item"]" />
        <div class="col-sm-3 i_Icon no-padding" id="div_SubItemAvlQty">
            <button type="button" id="SubItemAvlQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('AvailableStock',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
        </div>
    </td>
    <td>
        <div class="col-sm-9 lpo_form no-padding">
            <input id="PhysicalStock" class="form-control num_right" autocomplete="off" value='@Row["aval_stk"]' onkeypress="return OnKeyPressPhyQty(this,event);" onchange="OnChangePhyQty(this,event)" type="text" name="PhysicalStock" placeholder="0000.00">
            <span id="PhysicalStock_Error" class="error-message is-visible"></span>
        </div>
        <div class="col-sm-3 i_Icon no-padding" id="div_SubItemPhyQty">
            <button type="button" id="SubItemPhyQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
        </div>
    </td>
    <td>
        <div class="col-sm-8" style="padding:0px;">
            <input id="ShortQuantity" class="form-control num_right" autocomplete="off" type="text" name="ShortQuantity" placeholder="0000.00" disabled>
        </div>
        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemShortQty">
            <button type="button" id="SubItemShortQty" disabled class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('ShortQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
        </div>
        <div class="col-sm-2 i_Icon">
            <button type="button" id="ShortQuantityDetail" class="calculator greyImg3 subItmImg" onclick="OnClickShortQtyIconBtn(event);" data-toggle="modal" data-target="#StockTakeQuantityDetail" data-backdrop="static" data-keyboard="false" disabled><img src="/Content/Images/iIcon1.png" alt="" title="QuantityDetail"> </button>
        </div>
    </td>
    <td>
        <div class="col-sm-8" style="padding:0px;">
            <input id="SurplusQuantity" class="form-control num_right" autocomplete="off" type="text" name="SurplusQuantity" placeholder="0000.00" onblur="this.placeholder=" 0000.00"" disabled>
        </div>
        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemSurplusQty">
            <button type="button" id="SubItemSurplusQty" disabled class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('SurplusQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
        </div>
        <div class="col-sm-2 i_Icon">
            <button type="button" id="SurplusQuantityDetail" class="calculator greyImg3 subItmImg" onclick="OnClickShortQtyIconBtn(event);" data-toggle="modal" data-target="#StockTakeQuantityDetail" data-backdrop="static" data-keyboard="false" disabled><img src="/Content/Images/iIcon1.png" alt="" title="QuantityDetail"> </button>
        </div>
    </td>
    <td>
        <input id="AdjustmentValue" class="form-control num_right" autocomplete="off" type="text" name="AdjustmentValue" placeholder="0000.00" disabled>
    </td>
    <td>
        <textarea id="remarks" class="form-control remarksmessage" name="remarks" maxlength="100" placeholder="@Resource.remarks"></textarea>

    </td>
</tr>

    }

}

