@using EnRepMobileWeb.Resources;

@using System.Data;

@{
    string IsNull(string In)
    {
        return string.IsNullOrEmpty(In) ? "0" : In;
    }
    DataTable Dt = new DataTable();
    string supp_name=string.Empty;
    //decimal GrVal = 0;
    //decimal TaxVal = 0;
    //decimal OcVal = 0;
    //decimal NetVal = 0;

    int i = 1;
    if (ViewBag.TdsValueInvoice != null)
    {
        Dt = ViewBag.TdsValueInvoice;
        if (Dt.Rows.Count > 0)
        {
            supp_name = Dt.Rows[0]["supp_name"].ToString();
        }

    }

}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>

<style>
    .OrderHistory #datatable-buttons_filter {
        right: 20% !important;
    }

    .OrderHistory .buttons-csv {
        margin-left: 22% !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2> @Resource.TDS @Resource.Purchase @Resource.Information</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label class="col-form-label label-align">@Resource.SupplierName</label>
                <input id="" class="form-control" value="@supp_name"  autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.SupplierName" disabled="">
            </div>
            <div class="col-md-3 col-md-55 ">
                <label class="col-form-label label-align">@Resource.Period</label>
                <input id="" class="form-control" value="@ViewBag.Period" autocomplete="off" type="text" name="TDSPayable" placeholder="@Resource.Period" disabled="">
            </div>
            <div class="col-md-3 col-md-55 ">
                <label class="col-form-label label-align">@Resource.Purchase @Resource.Value</label>
                <input id="" class="form-control" value="@ViewBag.PreVal" autocomplete="off" type="text" name="PurchaseValue" placeholder="@Resource.Purchase @Resource.Value" disabled="">
            </div>
        </div>
        <div class="card-box table-responsive dy_table margin10">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="datatable-buttons" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="16%">@Resource.Invoice @Resource.Number</th>
                            <th width="16%">@Resource.Invoice @Resource.Date</th>
                            <th width="16%">@Resource.Bill @Resource.Number</th>
                            <th width="16%">@Resource.Bill @Resource.Date</th>
                            <th width="16%">@Resource.Gross @Resource.Amount</th>
                            <th width="16%">@Resource.Taxes</th>
                            <th width="16%">@Resource.Other @Resource.Charges</th>
                            <th width="16%">@Resource.Invoice @Resource.Amount</th>
                            <th width="16%">@Resource.TDS @Resource.Amount</th>
                        </tr>
                    </thead>
                    @foreach (DataRow dr in Dt.Rows)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@dr["inv_no"]</td>
                            <td>@dr["inv_dt"]</td>
                            <td>@dr["bill_no"]</td>
                            <td>@dr["bill_dt"]</td>
                            <td class="num_right">@dr["gr_val"]</td>
                            <td class="num_right">@dr["tax_amt"]</td>
                            <td class="num_right">@dr["oc_amt"]</td>
                            <td class="num_right">@dr["net_val_bs"]</td>
                            <td class="num_right">@dr["tds_val"]</td>
                        </tr>
                        //GrVal = GrVal + Convert.ToDecimal(IsNull(@dr["gr_val"].ToString()));
                        //TaxVal = TaxVal + Convert.ToDecimal(IsNull(@dr["tax_amt"].ToString()));
                        //OcVal = OcVal + Convert.ToDecimal(IsNull(@dr["oc_amt"].ToString()));
                        //NetVal = NetVal + Convert.ToDecimal(IsNull(@dr["net_val_bs"].ToString()));
                        i++;
                    }

                    <tbody>
                    </tbody>
                    <tfoot>
                        @if (ViewBag.TdsTotalValueInvoice != null)
                        {
                            foreach (DataRow dr in ViewBag.TdsTotalValueInvoice.Rows)
                            {
                                <tr class="total">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="right"><strong>@Resource.Total</strong></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoGrVal">@dr["tt_gr_val"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoTaxVal">@dr["tt_tax_amt"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoOcVal">@dr["tt_oc_amt"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoNetVal">@dr["tt_net_val_bs"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoTdsVal">@dr["tt_tds_val"]</span></td>
                                </tr>
                            }
                        }
                        @*<tr class="total">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right"><strong>@Resource.Total</strong></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoGrVal">@GrVal.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoTaxVal">@TaxVal.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoOcVal">@OcVal.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoNetVal">@NetVal.ToString("N")</span></td>
        </tr>*@
                    </tfoot>
                </table>
            </div>
           
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>

@if (ViewBag.TdsValueSearch != null)
{
    if (ViewBag.TdsValueSearch == "Y")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}

