@using EnRepMobileWeb.Resources;
@using System.Data;

@{
    string IsNull(string In)
    {
        return string.IsNullOrEmpty(In) ? "0" : In;
    }
    DataTable Dt = new DataTable();
    string supp_name = string.Empty;
    //decimal PurVal = 0;
    //decimal TaxableVal = 0;
    //decimal TdsPayble = 0;
    //decimal TdsPosted = 0;

    int i = 1;
    if (ViewBag.TdsTaxableValueDetail != null)
    {
        Dt = ViewBag.TdsTaxableValueDetail;
    }

}
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    .OrderHistory #datatable-buttons1_filter {
        right: 20% !important;
    }

    .OrderHistory .buttons-csv {
        margin-left: 22% !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2> @Resource.TDS @Resource.Taxable @Resource.Information </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <label class="col-form-label label-align">@Resource.SupplierName</label>
                <input id="" class="form-control" autocomplete="off" type="text" name="SupplierName"
                       placeholder="@Resource.SupplierName" value="@ViewBag.SuppName" disabled="">
            </div>
            <div class="col-md-4 col-md-55 ">
                <label class="col-form-label label-align">@Resource.Taxable @Resource.Value</label>
                <input id="PopTdsPayble" class="form-control" autocomplete="off" type="text" name="TDSPayable" 
                       placeholder="@Resource.Taxable @Resource.Value" value="@ViewBag.TaxableValue" disabled="">
            </div>
        </div>
        <div class="card-box table-responsive dy_table margin10">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="16%">@Resource.Month</th>
                            <th width="16%">@Resource.Year</th>
                            <th width="16%">@Resource.Purchase <br /> @Resource.Value</th>
                            <th width="16%">@Resource.Taxable <br /> @Resource.Value</th>
                            <th width="16%">@Resource.TDS <br /> @Resource.Payable</th>
                            <th width="16%">@Resource.TDS <br /> @Resource.Posted</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (DataRow dr in Dt.Rows)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@dr["month_name"]</td>
                                <td>@dr["year"]</td>
                                <td class="num_right">@dr["purchase_val"]</td>
                                <td class="num_right">@dr["taxable_val"]</td>
                                <td class="num_right">@dr["tds_payble"]</td>
                                <td class="num_right">@dr["tds_posted"]</td>
                            </tr>
                            //PurVal = PurVal + Convert.ToDecimal(IsNull(@dr["purchase_val"].ToString()));
                            //TaxableVal = TaxableVal + Convert.ToDecimal(IsNull(@dr["taxable_val"].ToString()));
                            //TdsPayble = TdsPayble + Convert.ToDecimal(IsNull(@dr["tds_payble"].ToString()));
                            //TdsPosted = TdsPosted + Convert.ToDecimal(IsNull(@dr["tds_posted"].ToString()));
                            i++;
                        }
                      
                    </tbody>

                    <tfoot>
                        @if (ViewBag.TdsTotalTaxableValueDetail != null)
                        {
                            foreach (DataRow dr in ViewBag.TdsTotalTaxableValueDetail.Rows)
                            {
                                <tr class="total">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="right"><strong>@Resource.Total</strong></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoPurVal"> @dr["tt_purchase_val"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoTaxableVal">@dr["tt_taxable_val"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoTdsPayble">@dr["tt_tds_payble"]</span></td>
                                    <td class="num_right font-weight-bold"><span id="PreBalInfoTdsPosted">@dr["tt_tds_posted"]</span></td>
                                </tr>
                            }
                        }
                        @*<tr class="total">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right"><strong>@Resource.Total</strong></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoPurVal"> @PurVal.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoTaxableVal">@TaxableVal.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoTdsPayble">@TdsPayble.ToString("N")</span></td>
            <td class="num_right font-weight-bold"><span id="PreBalInfoTdsPosted">@TdsPosted.ToString("N")</span></td>
        </tr>*@
                    </tfoot>
                </table>
            </div>
         
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>

@*@if (ViewBag.Searching != null)
{
    if (ViewBag.Searching)
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}*@


