@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.ConsumptionAnalysis.ConsumptionAnalysis_Model
@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string RateDigit = "0.";
    var RD = Convert.ToInt32(Session["RateDigit"].ToString());
    for (var i = 0; i < RD; i++)
    {
        RateDigit += "0";
    }

}
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped width1000 rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="32%">@Resource.Material @Resource.Name</th>
            <th hidden="hidden"></th>
            <th width="5%">@Resource.UOM</th>
            <th hidden="hidden"></th>
            <th width="32%">@Resource.ShopfloorName</th>
            <th hidden="hidden"></th>
            <th width="32%">@Resource.OperationName</th>
            <th width="40%">@Resource.Group</th>
            <th width="20%">@Resource.Consumption @Resource.Quantity</th>

        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.ConsumptionMaterialList != null)
        {
            var srno = 1;
            foreach (DataRow dr in ViewBag.ConsumptionMaterialList.Rows)
            {

        <tr class="odd">
            <td>@srno</td>
            <td id="item_name">@dr["item_name"].ToString()</td>
            <td hidden="hidden" id="item_id">@dr["item_id"].ToString()</td>
            <td id="uom_alias">@dr["uom_alias"].ToString()</td>
            <td hidden="hidden" id="hdnShflId">@dr["shfl_id"].ToString()</td>
            <td id="hdnshflName">@dr["shfl_name"].ToString()</td>
            <td hidden="hidden" id="hdnOpId">@dr["op_id"].ToString()</td>
            <td id="hdnopName">@dr["op_name"].ToString()</td>
            <td>@dr["item_group"].ToString()</td>
            <td class="num_right">
                <div class="col-sm-11"><span id="Cons_qty"> @Convert.ToDecimal(dr["cons_qty"]).ToString(QtyDigit) </span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="" class="calculator" onclick="OnclickTotalConsumedQty(event)" data-toggle="modal" data-target="#ConsumptionDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ConsumptionDetail"></button>
                </div>
            </td>
        </tr>
                srno = srno + 1;
            }
        }


    </tbody>
</table>

@{
    //if (Session["CAFilter"] != null)
    if (Model.CAFilter != null)
    {
        //if (Session["CAFilter"].ToString() == "CAFilter")
        if (Model.CAFilter == "CAFilter")
        {
            <script src="~/Content/Scripts/Common/CommonJS.js"></script>
            <script src="~/Content/Css/build/js/customdatatable.min.js"></script>
            //Session["CAFilter"] = null;
            Model.CAFilter = null;
        }
    }
}
