@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialIssue.MaterialIssueList
@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var rowId = 0;
}
<style>
    #MIPendingSourceDocument .modal-content {
        width: 1000px;
        margin: 0 auto;
    }
</style>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialIssue/InteralIssue/MaterialIssueDetail.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Pending @Resource.Source @Resource.Documents</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>


    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 pl-0">

            <label class="col-form-label label-align">@Resource.ItemName</label>
            <select class="form-control" id="ddlItemName" name="ST_Item" onchange="OnChangeItemName()">
                <option value="0">---Select---</option>
            </select>
            <input type="hidden" id="hf_ItemID">
        </div>
        <div class="col-md-1 col-sm-12 pl-0">
            <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="PendingDocumentBtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="clear"></div>
        <div class="card-box table-responsive dy_table margin10">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height50VH">
                <table id="datatable-buttons2" class="table table-striped table-bordered width1600 rowhighlighttbl">
                    <thead>
                        <tr class="headings">
                            <th width="6%">@Resource.Create @Resource.Document</th>
                            <th width="2%">@Resource.SrNo</th>
                            <th width="12%">@Resource.Source @Resource.Document</th>
                            <th width="11%">@Resource.Document @Resource.Number </th>
                            <th width="7%">@Resource.Document <br /> @Resource.Date</th>
                            <th hidden="hidden"></th>
                            <th width="15%">@Resource.Requirement  @Resource.Area</th>
                            <th hidden="hidden"></th>
                            <th hidden="hidden"></th>
                            <th width="9%">@Resource.Status</th>
                            <th width="10%">@Resource.CreatedBy</th>
                            <th width="10%">@Resource.Createdon</th>
                            <th width="10%">@Resource.ApprovedBy</th>
                            <th width="10%">@Resource.ApprovedOn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@ViewBag.PendingDocument != null)
                        {
                            //var sno = 1;
                            foreach (DataRow dr in @ViewBag.PendingDocument.Rows)
                            {
                                rowId++;
                                <tr>
                                    <td class="center">
                                        <a class="tooltip-test"
                                           title="@Resource.Create @Resource.Document" href="@Url.Action("AddNewDocumentMRSPending","MaterialIssue",
                                                                               new{mrs_no=dr["mrs_no"],mrs_dt=@dr["Docdt"],req_id=@dr["req_area"],mrs_type= @dr["mrs_type"]})">
                                            <img src="~/Content/Images/addgreen.png" width="25" height="25" id="Btn_AddCust" alt="Add">
                                        </a>
                                    </td>
                                    <td>@rowId</td>
                                    <td>

                                        @dr["Src_doc_name"]


                                    </td>
                                    <td id="Docno">
                                        <div class=" col-sm-11 no-padding">
                                            @dr["mrs_no"]
                                        </div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" onclick="OnClickMrsItemDetail(event);" class="calculator" data-toggle="modal" data-target="#ItemInfoMIList1" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td id="Docdt">@dr["mrs_dt"]</td>
                                    <td id="hdnDocdt" hidden="hidden">@dr["Docdt"]</td>
                                    <td>@dr["setup_val"]</td>
                                    <td hidden="hidden">@dr["req_area"]</td>
                                    <td hidden="hidden">@dr["mrs_type"]</td>
                                    <td>@dr["status_name"]</td>
                                    <td>@dr["created_by"]</td>
                                    <td>@dr["create_dt"]</td>
                                    <td>@dr["App_by"]</td>
                                    <td>@dr["app_dt"]</td>
                                </tr>
                                //sno = sno + 1;
                            }
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.Close</button>
    </div>
</div>
@if (Model.MISearch == "PendingData")
{
    @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")
    Model.MISearch = null;
}


