@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.OpeningBalance.OpeningBalanceModel
@using EnRepMobileWeb.Resources;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string RateDigit = "0.";
    var RD = Convert.ToInt32(Session["RateDigit"].ToString());
    for (var i = 0; i < RD; i++)
    {
        RateDigit += "0";
    }
}
@{
    var Disable = true;
    //if (Session["TransType"].ToString() == "Update")
    //{
    //    if (Session["Command"].ToString() == "Edit")
    //    {
    //        Disable = false;
    //    }
    //    else
    //    {
    //        Disable = true;
    //    }
    //}
    //else
    //{
    //    if (Session["Command"].ToString() == "Refresh")
    //    {
    //        Disable = true;
    //    }
    //    else
    //    {
    //        Disable = false;
    //    }
    //}
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }

}
@{
    if (Disable)
    {
        <input type="hidden" id="disDELBtn" value="Disable" />
    }
    else
    {

    }
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.OpeningDetail</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body no-padding">
        <div class="col-md-2 col-sm-12">
            <label class="col-form-label label-align">@Resource.AccountName</label>
            <input id="IconAccountName" class="form-control" maxlength="10" type="text" name="AccountName" placeholder="@Resource.AccountName" disabled>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.OpeningBalance @Resource.InSpecific</label>
            <input id="IconOpBalsp" class="form-control num_right" maxlength="10" type="text" name="OpeningBalance" placeholder="0000.00" disabled>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.BalanceType</label>
            <input id="IconBalanceType" class="form-control" maxlength="10" type="text" name="BalanceType" placeholder="@Resource.Debit" disabled>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.Currency</label>
            <input id="IconCurr" class="form-control" maxlength="10" type="text" name="Currency" placeholder="@Resource.Currency" disabled>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.ConversionRate</label>
            <input id="IconConvRate" class="form-control num_right" maxlength="10" type="text" name="ConversionRate" placeholder="0000.00" disabled>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.OpeningBalance @Resource.InBase</label>
            <input id="IconOpBalbs" class="form-control num_right" maxlength="10" type="text" name="OpeningBalance" placeholder="0000.00" disabled>
        </div>

        <div class="col-md-2 col-sm-12">
            <label class="col-form-label label-align">@Resource.BillVoucherNumber</label> <span class="required">*</span>
            @if (Disable)
            {
                <input id="BillVoucherNumber" class="form-control" maxlength="20" type="text" name="BillVoucherNumber" onchange="OnChangeBillVoucherNo();" placeholder="@Resource.BillVoucherNumber" readonly="readonly">
                <span id="spanBillVouNo" class="field-validation-valid"></span>
            }
            else
            {
                <input id="BillVoucherNumber" class="form-control" maxlength="20" type="text" name="BillVoucherNumber" onchange="OnChangeBillVoucherNo();" placeholder="@Resource.BillVoucherNumber">
                <span id="spanBillVouNo" class="field-validation-valid"></span>
            }


        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.BillVoucherDate</label> <span class="required">*</span>
            @if (Disable)
            {
                <input id="BillVoucherDate" class="form-control" maxlength="20" type="date" name="BillVoucherDate" onchange="OnChangeBillVoucherDt();" placeholder="@Resource.BillVoucherDate" readonly="readonly">
                <span id="spanBillVouDt" class="field-validation-valid"></span>
            }
            else
            {
                <input id="BillVoucherDate" class="form-control" maxlength="20" type="date" name="BillVoucherDate" onchange="OnChangeBillVoucherDt();" placeholder="@Resource.BillVoucherDate">
                <span id="spanBillVouDt" class="field-validation-valid"></span>
            }


        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.Amount @Resource.InSpecific</label> <span class="required">*</span>
            @if (Disable)
            {
                <input id="Amount" class="form-control num_right" @*maxlength="10"*@ type="text" onkeypress="return RateFloatValueonly(this,event);" onchange="OnChangeBillAmt(event);" name="Amount" placeholder="0000.00" readonly="readonly">
            }
            else
            {
                <input id="Amount" class="form-control num_right" @*maxlength="10"*@ type="text" onkeypress="return RateFloatValueonly(this,event);" onchange="OnChangeBillAmt(event);" name="Amount" placeholder="0000.00">
            }
            <span id="spanBillVouAmt" class="field-validation-valid"></span>
        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.AmountType</label>
            @*<input id="AmountType" class="form-control" maxlength="10" type="text" name="AmountType" placeholder="Debit" disabled>*@

            @if (Disable)
            {
                <select class="form-control" id="billVoucType" name="billVoucType" readonly="readonly">
                    <option value="dr">Debit</option>
                    <option value="cr">Credit</option>
                </select>
            }
            else
            {
                <select class="form-control" id="billVoucType" onchange="onchangebillVoucType()" name="billVoucType">
                    <option value="dr">Debit</option>
                    <option value="cr">Credit</option>
                </select>
            }

        </div>
        <div class="col-md-2 col-sm-12 pl-0" style="display:none" id="DviSlsPerson">
            <label class="col-form-label label-align">
                @Resource.SalesPerson
            </label> <span class="required">*</span>
            @Html.DropDownListFor(model => model.SalePerson, new SelectList(Model.SalePersonList, "salep_id", "salep_name"), new { @class = "form-control", onchange = "onchangeSalePerson()", @id = "sales_person" })
        <span id="spanSalePerson" class="field-validation-valid"></span>
        </div>
        <div class="col-md-2 col-sm-12 margin25">
            <div class="col-md-3 col-sm-12" id="divAdd">
                @if (Disable)
                {

                }
                else
                {
                    <a href="#">
                        <div class="plus_icon1"> <i class="fa fa-plus" onclick="AddVoucherDetail();" id="add_btn_save" session="" title="" data-original-title=""></i> </div>
                    </a>
                }


            </div>
            <div class="col-md-9 col-sm-12" id="divUpdate" style="display:none;">
                @if (Disable)
                {

                }
                else
                {
                    <a href="#" style="color:#ffffff;">
                        <div class="plus_icon1"> <i class="fa fa-refresh ref" id="ParaItemUpdateBtn" onclick="OnClickVoucherUpdateBtn()" title="@Resource.Update"></i> </div>
                    </a>
                }
            </div>
        </div>

    </div>

    <div class="card-box table-responsive dy_table margin10">
        <div class="col-md-12">
            <div class="tableFixHead height40VH">
                <table id="OpBilldetailTable" class="table table-bordered margin10 width1000">
                    <thead>
                        <tr class="headings">
                            @*<th width="3%" class="center"><i class="fa fa-trash deleteIcon" aria-hidden="true" title="@Resource.Delete"></i></th>*@
                            <th width="2%">&nbsp;</th>
                            <th width="2%">&nbsp;</th>
                            <th width="3%">@Resource.SrNo</th>
                            <th>@Resource.BillVoucherNumber</th>
                            <th>@Resource.BillVoucherDate</th>
                            <th> @Resource.Amount @Resource.InSpecific</th>
                            <th>@Resource.AmountType</th>
                            <th>@Resource.SalesPerson</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.BillDeatils != null)
                        {
                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.BillDeatils.Rows)
                            {
                                rowIdx++;
                                <tr>
                                    <td class=""></td>
                                    <td id="" class=""></td>
                                    <td id="OpBlId">@rowIdx</td>
                                    <td id="VoucherNo">@Row["bill_no"].ToString()</td>
                                    <td id="VoucherDt">@Row["bill_dt"].ToString()</td>
                                    <td id="VoucherAmt" class="num_right">@Convert.ToDecimal(@Row["amt_in_sp"]).ToString(ValDigit)</td>
                                    <td id="VoucherType">@Row["amt_type"].ToString()</td>
                                    <td id="txt_sales_person">@Row["sls_per_nm"].ToString()</td>
                                    <td id="txt_sales_person_id" hidden="hidden">@Row["sls_per_id"].ToString()</td>
                                </tr>
                            }
                        }
                        else
                        {

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <table class="table table-bordered" id="">
            <tr class="total">
                <td><strong> @Resource.Total @Resource.Debit</strong></td>
                <td class="num_right"><span id="TotalDebit">0</span></td>
            </tr>
            <tr class="total">
                <td><strong> @Resource.Total @Resource.Credit</strong></td>
                <td class="num_right"><span id="TotalCredit">0</span></td>
            </tr>

            @if (ViewBag.BillsTotalBal != null)
            {
                <tr class="total">
                    <td><strong> @Resource.Balance</strong></td>
                    <td class="num_right"><span id="TotalBalance">@ViewBag.BillsTotalBal</span></td>
                </tr>
            }
            else
            {
                <tr class="total">
                    <td><strong> @Resource.Balance</strong></td>
                    <td class="num_right"><span id="TotalBalance">0</span></td>
                </tr>
            }

            @if (ViewBag.BillsTotalBalType != null)
            {
                <tr class="total">
                    <td><strong> @Resource.BalanceType</strong></td>
                    <td><span id="TotalBalanceType">@ViewBag.BillsTotalBalType</span></td>
                </tr>
            }
            else
            {
                <tr class="total">
                    <td><strong> @Resource.BalanceType</strong></td>
                    <td><span id="TotalBalanceType"></span></td>
                </tr>
            }




        </table>
    </div>


    <div>

    </div>
    <div class="modal-footer" id="Btndetail">
        @if (Disable)
        {
            @*<button type="button" class="btn btn-primary btn-sm" id="OPBalSaveAndExitBtn" onclick="OnClickSaveAndCloseBtn();" readonly="readonly">@Resource.SaveAndExit</button>*@
        }
        else
        {
            <button type="button" class="btn btn-primary btn-sm" id="OPBalSaveAndExitBtn" onclick="OnClickSaveAndCloseBtn();">@Resource.SaveAndExit</button>

        }
        @if (Disable)
        {
            @*<button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit" data-dismiss="modal" onclick="OnClickOpBalDiscardAndExitBtn();" readonly="readonly">@Resource.DiscardAndExit</button>*@

        }
        else
        {
            <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit" data-dismiss="modal" onclick="OnClickOpBalDiscardAndExitBtn();">@Resource.DiscardAndExit</button>

        }
    </div>
</div>
<table hidden="hidden" id="HdnOpBilldetailTable">
    <tbody>
        @if (ViewBag.OpBilldetai != null)
        {
            var rowId = 0;
            foreach (System.Data.DataRow Row in ViewBag.OpBilldetai.Rows)
            {
                rowId++;
                <tr>
                    <td id="OpBlId">@rowId</td>
                    <td id="VoucherNo">@Row["bill_no"].ToString()</td>
                    <td id="VoucherDt">@Row["bill_dt"].ToString()</td>
                    <td id="VoucherAmt">@Row["amt_in_sp"].ToString()</td>
                    <td id="VoucherType">@Row["amt_type"].ToString()</td>
                    <td id="hdn_txt_sales_person">@Row["sls_per_nm"].ToString()</td>
                    <td id="hdn_txt_sales_person_id" hidden="hidden">@Row["sls_per_id"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>