@using EnRepMobileWeb.Resources;
@using System.Data;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Opening @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal" onclick="Close_modal();">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Account @Resource.Name
            </label>
            <input id="AccountName" class="form-control" autocomplete="off" type="text" name="AccountName" placeholder=" @Resource.Account @Resource.Name" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Account @Resource.Type
            </label>
            <input id="AccountType" class="form-control" autocomplete="off" type="text" name="AccountType" placeholder=" @Resource.Account @Resource.Type" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Amount
            </label>
            <input id="idamount" class="form-control num_right" autocomplete="off" type="text" name="idamount" placeholder="0000.00" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Amount @Resource.Type
            </label>
            <input id="AmountType" class="form-control" autocomplete="off" type="text" name="AmountType" placeholder=" @Resource.Amount @Resource.Type" disabled="">
        </div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="Sub_ItemDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="6%">@Resource.SrNo</th>
                            <th width="19%"> @Resource.BillNumber</th>
                            <th width="19%"> @Resource.BillDate</th>
                            <th width="19%"> @Resource.Amount</th>
                            <th width="19%"> @Resource.Amount @Resource.Type</th>
                            <th width="19%"> @Resource.SalesPerson</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.BillDetail != null)
                        {
                            var rowno = 0;
                            foreach (DataRow dtr in ViewBag.BillDetail.Rows)
                            {
                                rowno = rowno + 1;
                                <tr>
                                    <td>@rowno</td>
                                    <td>@dtr["bill_no"].ToString()</td>
                                    <td>@dtr["bill_dt"].ToString()</td>
                                    <td class="num_right">@dtr["amt_in_sp"].ToString()</td>
                                    <td>@dtr["amt_type"].ToString()</td>
                                    <td>@dtr["sales_per"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%;">
                        <tr class="total font-weight-bold">
                            <td class="num_right">Total Debit</td>
                            <td class="num_right">@ViewBag.DebitAmount</td>
                            <td class="num_right">Total Credit</td>
                            <td class="num_right">@ViewBag.CreditAmount</td>
                            <td class="num_right">Balance</td>
                            <td class="num_right">@ViewBag.BalanceAmount</td>
                            <td class="num_right">@ViewBag.BalanceType</td>
                        </tr>
            </table>
        </div>
    </div>
</div>
