
@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialReceipt.OpeningMaterialReceipt.OpeningMaterial_ListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialReceipt/OpeningMaterialReceipt/OpeningMaterialReceipt.js"></script>

<table id="datatable-buttons" class="table table-striped table-bordered rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="12%">@Resource.OpeningDate</th>
            <th style="display:none"></th>
            <th width="31%">@Resource.Warehouse</th>
            <th style="display:none"></th>
            <th width="10%">@Resource.Status</th>
            <th width="10%">@Resource.OpeningValue</th>
            <th width="10%">@Resource.CreatedBy</th>
            <th width="10%">@Resource.Createdon</th>
            <th width="12%">@Resource.ApprovedBy</th>
            <th width="12%">@Resource.ApprovedOn</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.OPR_List != null)
        {
            foreach (var row in Model.OPR_List)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td>@row.OPRDate</td>
            <td id="OPR_DT" style="display: none;">@row.OPR_DT</td>
            <td>@row.wh_Name</td>
            <td id="td_wh_id" style="display: none;">@row.wh_id <input type="hidden" id="opstk_id" value="@row.id" /> </td>
            <td id="Doc_Status">@row.Stauts</td>
            <td>@row.op_val</td>
            <td>@row.create_by</td>
            <td>@row.CreateDate</td>
            <td>@row.app_by</td>
            <td>@row.ApproveDate</td>
        </tr>
            }
        }
    </tbody>
</table>

@if (Model.OMRSearch != null)
{
    if (Model.OMRSearch == "OMRSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")

    }
}

