@model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.DomesticPurchaseInvoice.PI_ListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/DomesticPurchaseInvoice/DomesticPurchaseInvoiceList.js"></script>

<table id="datatable-buttons" class="table table-striped width2300 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th style="width:35px;"> @Resource.SrNo</th>
            <th class="itmStick">@Resource.Invoice <br /> @Resource.Number</th>
            <th>@Resource.Invoice <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.Invoice <br /> @Resource.Date</th>
            <th>@Resource.GRNNumber </th>
            <th>@Resource.GRN <br /> @Resource.Date</th>
            <th width="12%">@Resource.Invoice <br /> @Resource.Type</th>
            <th width="18%">@Resource.Supplier <br /> @Resource.Name</th>
            <th>@Resource.Currency</th>
            <th>@Resource.Invoice <br /> @Resource.Value</th>
            <th width="8%">@Resource.BillNumber</th>
            <th width="8%">@Resource.BillDate</th>
            <th>@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PIList != null)
        {
            foreach (var row in Model.PIList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="InvoiceNo" class="ItmNameBreak itmStick tditemfrz">@row.InvoiceNo</td>
                    <td>@row.InvoiceDate</td>
                    <td style="display: none;" id="InvDate">@row.InvDate</td>
                    <td>@row.Mr_No</td>
                    <td>@row.Mr_Date</td>
                    <td>@row.InvoiceType</td>
                    <td>@row.SuppName</td>
                    <td class="center">@row.SuppCurrency</td>
                    <td class="num_right">@row.InvoiceValue</td>
                    <td>@row.BillNumber</td>
                    <td>@row.BillDate</td>
                    <td id="Doc_Status">@row.Stauts</td>
                    <td>@row.create_by</td>
                    <td>@row.CreateDate</td>
                    <td>@row.app_by</td>
                    <td>@row.ApproveDate</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifyDate</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["LPISearch"] != null)*@
@if (Model.LPISearch != null)
{
    //if (Session["LPISearch"].ToString() == "LPI_Search")
    if (Model.LPISearch == "LPI_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["LPISearch"] = null;
        Model.LPISearch = null;
    }
}



