@using EnRepMobileWeb.Resources;
<style>
    .custom-switch {
        padding-left: 40px !important;
    }

    #datatable-buttons_filter {
        right: 14%;
    }

    .image-upload-one {
        grid-area: img-u-one;
        display: flex;
        justify-content: center;
    }

    .form-input img {
        width: auto;
        max-width: 205px;
        height: 150px;
        margin: 2px;
    }
</style>
<div class="modal-content" id="">
    <div class="modal-header">
        <h2> @Resource.Upload @Resource.Cheque @Resource.Format</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-12 col-sm-12 no-padding">


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel pb-0 mb-0">

                        <div class="x_content">
                            <div class="image-upload-one">
                                <div class="center">
                                    <div class="form-input">
                                        <label hidden="hidden"><img id="defltimg" src="~/Content/Images/default.png" /></label>
                                        <label for="file-ip-1">
                                            @*@if (Model.attatchmentdetail != null)
                                                {
                                                    <img id="file-ip-1-preview" src="@Model.attatchmentdetail">
                                                }
                                                else
                                                {*@
                                            <img id="file-ip-1-preview" src="~/Content/Images/default.png">
                                            @* }*@
                                        </label>
                                    </div>
                                    <div>
                                        @*@Html.TextBoxFor(model => model.img_six, new { @id = "file-ip-1", @onchange = "showPreview(event);", @maxlength = "250", @style = "width:90px;", @type = "file", @disabled = "disabled" })*@
                                        @*@Html.HiddenFor(model => model.attatchmentdetail, new { @id = "hdn_Attatchment_details" })*@
                                        <input type="file" class="" name="img_six" id="file-ip-1" accept="image/*" onchange="showPreview(event);" style="width:90px;">
                                        <button type="button" class="" disabled onclick="myImgRemove()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="CloseBtnContect" data-dismiss="modal">@Resource.Close</button>
    </div>
</div>


