@using EnRepMobileWeb.Resources
@{
    Int32 count = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ShopfloorSetup/ShopfloorSetupDetail.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th width="3%">@Resource.SrNo</th>
            <th>@Resource.ShopfloorName</th>
            <th>@Resource.Location</th>
            <th>@Resource.CreatedBy</th>
            <th>@Resource.Createdon</th>
            <th>@Resource.AmendedBy</th>
            <th>@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.GetShopFloorDetails != null)
        {
            foreach (System.Data.DataRow item in ViewBag.GetShopFloorDetails.Rows)
            {
                count++;
                <tr>
                    <td hidden="hidden" id="tbl_br_id">@item["br_id"]</td>
                    <td hidden="hidden" id="tbl_shfl_id">@item["shfl_id"]</td>
                    <td>@count</td>
                    <td>@item["shfl_name"]</td>
                    <td>@item["shfl_loc"]</td>
                    <td>@item["create_by"]</td>
                    <td>@item["create_dt"]</td>
                    <td>@item["mod_by"]</td>
                    <td>@item["mod_dt"]</td>
                </tr>
            }
        }
        </tbody>
</table>


