@using EnRepMobileWeb.Resources
@{
    Int32 count = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>

<table id="datatable-buttons" class="table table-bordered margin10 rowhighlighttbl">
    <thead disabled="disabled">
        <tr class="headings">
            @*<th width="1%"> &nbsp;</th>*@
            <th width="2%">@Resource.SrNo</th>
            <th width="2%" style="display:none;">@Resource.SrNo</th>
            <th width="18%"> @Resource.OverheadExpenseName </th>
            <th width="8%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
            <th>@Resource.remarks</th>
            <th width="10%">@Resource.CreatedBy</th>
            <th width="10%">@Resource.Createdon</th>
            <th width="10%">@Resource.AmendedBy</th>
            <th width="10%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="OverheadParameterListBody">
        @if(ViewBag.BindOverheadDetails!=null)
        {
        foreach (System.Data.DataRow item in ViewBag.BindOverheadDetails.Rows)
        {
            count++;
            <tr>
                <td>@count</td>
                <td hidden="hidden" id="ohd_exp_id">@item["ohd_exp_id"]</td>
                <td>@item["ohd_exp_name"].ToString()</td>
                <td>@item["uom_name"].ToString()</td>
                <td>@item["ohd_exp_remarks"].ToString()</td>
                <td>@item["create_by"].ToString()</td>
                <td>@item["create_dt"].ToString()</td>
                <td>@item["mod_by"].ToString()</td>
                <td>@item["mod_dt"].ToString()</td>

            </tr>
            }
        }
        
    </tbody>
</table>


