@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ProductionPlan.ProductionPlan_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ProductionPlan/ProductionPlanList.js"></script>

<table id="datatable-buttons" class="table table-striped width2400 rowhighlighttbl itmfrz" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> &nbsp;</th>
            <th width="3%"> @Resource.SrNo</th>
            <th width="9%" class="itmStick">@Resource.Plan @Resource.Number</th>
            <th width="6%">@Resource.Plan @Resource.Date</th>
            <th width="6%">@Resource.Source</th>
            <th width="10%">@Resource.FY</th>
            <th width="7%">@Resource.Period</th>
            <th width="7%">@Resource.DateRange</th>
            <th width="7%">@Resource.Status</th>
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.PP_ListDetail != null)
        {
            foreach (var row in Model.PP_ListDetail)
            {
                rowId++;
        <tr>
            <td class="center">
                @if (@row.PP_no.Contains("("))
                {
                    <a class="tooltip-test" id="ProductionPlanTracking" href="" onclick="BindPPTrackingDetails(event);" data-toggle="modal" data-target="#ProductionPlanTracking" data-backdrop="static" data-keyboard="false" title="@Resource.Production @Resource.Plan @Resource.Tracking" style="margin-right: 10px; pointer-events: none; filter: grayscale(100%)">
                        <img src="~/Content/Images/ProductionTracking.png" title=" @Resource.Production @Resource.Plan @Resource.Tracking" width="20" height="20" />
                    </a>
                }
                else
                {
                    <a class="tooltip-test" id="ProductionPlanTracking" href="" onclick="BindPPTrackingDetails(event);" data-toggle="modal" data-target="#ProductionPlanTracking" data-backdrop="static" data-keyboard="false" title="@Resource.Production @Resource.Plan @Resource.Tracking" style="margin-right:10px;">
                        <img src="~/Content/Images/ProductionTracking.png" title=" @Resource.Production @Resource.Plan @Resource.Tracking" width="20" height="20" />
                    </a>
                }

            </td>
            <td>@rowId</td>
            <td id="PP_no" class="ItmNameBreak itmStick tditemfrz">@row.PP_no</td>
            <td id="PP_date">@row.PP_date</td>
            <td>@row.source</td>
            <td>@row.fy</td>
            <td>@row.period</td>
            <td>@row.daterange</td>
            <td id="PP_Status">@row.status</td>
            <td>@row.create_by</td>
            <td>@row.createon</td>
            <td>@row.app_by</td>
            <td>@row.approvedon</td>
            <td>@row.mod_by</td>
            <td>@row.amendedon</td>

        </tr>
            }
        }
    </tbody>
</table>


@*@if (Session["PPSearch"] != null)*@
@if (Model.PPSearch != null)
{
    //if (Session["PPSearch"].ToString() == "PP_Search")
    if (Model.PPSearch == "PP_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["PPSearch"] = null;
        Model.PPSearch = null;
    }
}




