@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MRS.MRSList_Model

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialRequisitionSlip/MaterialRequisitionSlipList.js"></script>
@*<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/LocalSalesOrder/LSOList.js"></script>*@
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.MRS @Resource.Tracking </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        @*<form id="PurchaseOrderTracking" data-parsley-validate class="form-horizontal form-label-left">*@
        <div class="row">
            <div class="col-md-2 col-sm-12 available_right pl-0 ">
                <label class="col-form-label label-align" for="">@Resource.MRS @Resource.Number</label>
                <input type="text" id="MRSOrderNumber" class="form-control" readonly>
            </div>
            <div class="col-md-2 col-sm-12 available_right pl-0 ">
                <label class="col-form-label label-align" for="">@Resource.MRS @Resource.Date</label>
                <input type="text" id="MRSOrderDate" class="form-control" readonly>
            </div>
            
            <div class="col-md-2 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.RequirementArea</label>
                <input type="text" id="ddltackingRequirmentArea" class="form-control" readonly>
            </div>
        </div>
        @*</form>*@
        <div class="card-box table-responsive dy_table margin15">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height40VH pop_csv">
                <table id="MRS_trackingTBL" class="table table-striped table-bordered rowhighlighttbl width1800" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                                <th width="4%">&nbsp;</th>
                                <th width="11%">&nbsp;</th>
                                <th width="5%">&nbsp;</th>
                                <th width="8%">&nbsp;</th>
                                <th width="8%">&nbsp;</th>
                                <th width="8%" class="light_cream_colour">&nbsp;</th>
                                <th width="8%" class="light_cream_colour">@Resource.Issue @Resource.Detail</th>
                                <th width="8%" class="light_cream_colour">&nbsp;</th>
                               
                              
                            </tr>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="11%">@Resource.ItemName</th>
                            <th width="5%">@Resource.UOM</th>
                            <th width="8%">@Resource.MRS <br /> @Resource.Quantity</th>
                            <th width="8%">@Resource.Pending <br /> @Resource.Quantity</th>
                            <th width="8%" class="light_cream_colour">@Resource.Issue @Resource.Number</th>
                            <th width="8%" class="light_cream_colour">@Resource.IssueDate</th>
                            <th width="8%" class="light_cream_colour">@Resource.Issue <br /> @Resource.Quantity</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.SOTrackingList != null)
                        {
                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.SOTrackingList.Rows)
                            {
                                rowIdx++;
                                <tr>
                                    <td class="">@rowIdx</td>
                                    <td class="">@Row["item_name"].ToString()</td>
                                    <td class="">@Row["uom_name"].ToString()</td>
                                    <td class="num_right">@Row["mrs_qty"].ToString()</td>
                                    <td class="num_right">@Row["pending_qty"].ToString()</td>
                                    <td class="light_cream_colour">@Row["issue_no"].ToString()</td>
                                    <td class="light_cream_colour">@Row["issue_dt"].ToString()</td>
                                    <td class="light_cream_colour num_right">@Row["issue_qty"].ToString()</td>
                                    
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

