@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<table id="datatable-buttons1" class="table table-striped rowhighlighttbl mb-3" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="26%">@Resource.Item @Resource.Name</th>
            <th width="10%" title="Unit Of Measure"> @Resource.UOM</th>
            <th width="15%">@Resource.Order <br /> @Resource.Quality</th>
            <th width="15%">@Resource.Pending <br /> @Resource.Quality</th>
            <th width="15%">@Resource.Billed <br /> @Resource.Quality</th>
            <th width="15%">@Resource.Received <br /> @Resource.Quality</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>02</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>03</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>04</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>05</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>06</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>07</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>08</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>09</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>12</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>13</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>14</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>15</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>16</td>
            <td>14042023 1620</td>
            <td>Piece</td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteOrderDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
            <td class="num_right">
                <div class=" col-sm-10 no-padding">
                    0.000
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#MISDeliveryNoteDeliveryDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Detail">   </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
