@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.QualityAnalysis.QualityAnalysisModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    var i = 0;
}
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var j = 0; j < VD; j++)
    {
        ValDigit += "0";
    }

}
<style>
    #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<table id="datatable-buttons1" class="table table-striped width2200" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="14%">@Resource.Product <br /> @Resource.Name</th>
            <th width="6%">@Resource.UOM</th>
            <th width="6%">@Resource.Source <br /> @Resource.Type</th>
            <th width="10%">@Resource.Source @Resource.Document <br /> @Resource.NumberAndDate</th>
            <th width="10%">@Resource.QC <br /> @Resource.NumberAndDate</th>
            <th width="6%">@Resource.Batch <br /> @Resource.Number</th>
            <th width="15%">@Resource.Shopfloor</th>
            <th width="15%">@Resource.Operation</th>
            <th width="3%">@Resource.ReceivedQuantity</th>
            <th width="3%">@Resource.QC <br /> @Resource.Accepted</th>
            <th width="3%">@Resource.QC <br /> @Resource.Reworkable</th>
            <th width="3%">@Resource.QC <br /> @Resource.Rejected</th>
            <th width="4%">@Resource.Efficiency <br /> @Resource.InPercentage</th>
        </tr>
    </thead>
    <tbody id="">

        @if (ViewBag.QualityAnalysisDetail != null)
        {
            foreach (DataRow dr in ViewBag.QualityAnalysisDetail.Rows)
            {
        <tr role="row" class="odd">
            <td width="3%">@dr["SerialNo"].ToString()</td>
            <td>@dr["item_name"].ToString()</td>
            <td>@dr["uom_alias"].ToString()</td>
            <td>@dr["SourceType"].ToString()</td>
            <td>@dr["ProdNumAndDate"].ToString()</td>
            <td>@dr["QcNumAndDate"].ToString()</td>
            <td>@dr["batch_no"].ToString()</td>
            <td>@dr["shfl_name"].ToString()</td>
            <td>@dr["op_name"].ToString()</td>
            <td class="num_right">@Convert.ToDecimal(dr["recd_qty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["accept_qty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["rework_qty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["reject_qty"]).ToString(ValDigit)</td>
            <td class="num_right">@dr["efficiency"].ToString()</td>
        </tr>
            }
        }
    </tbody>
</table>

@if (Model.QAFilter != null)
{
    if (Model.QAFilter == "QAFilter")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["QISearch"] = null;
    }

}