@using EnRepMobileWeb.Resources;
@*@{
        string ValDigit = "0.";
        var VD = Convert.ToInt32(Session["ValDigit"].ToString());
        for (var i = 0; i < VD; i++)
        {
            ValDigit += "0";
        }
        //decimal total = 0;
    }*@

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    table.GSTAPI th {
        background-color: #ffffff;
    }
</style>
<div class="x_panel mar_pad1 ">
    <div class="x_content mar_pad1">
        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <section class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @if (ViewBag.GstApiData != null)
                            {
                                if (ViewBag.GstApiData.Rows.Count > 0)
                                {
                                    if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                    {
                                        @Resource.PurchaseRegister
                                    }
                                    else
                                    {
                                        @Resource.SalesRegister
                                    }
                                }
                                else
                                {
                                    if (ViewBag.action == "PR")
                                    {
                                        @Resource.PurchaseRegister
                                    }
                                    else
                                    {
                                        @Resource.SalesRegister
                                    }

                                }
                            }
                            else
                            {
                                @Resource.SalesRegister
                            }
                            <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="panel-body pt-2">
                        <div class="card-box table-responsive dy_table">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="tableFixHead height30VH">
                                        <table id="datatable-buttons1" class="table table-bordered width2600 GSTAPI rowhighlighttbl ">
                                            <thead>
                                                <tr class="headings">
                                                    <th width="2%">@Resource.SrNo</th>
                                                    <th width="8%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Supplier <br /> @Resource.Name
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Customer <br /> @Resource.Name
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Supplier <br /> @Resource.Name
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Customer <br /> @Resource.Name
                                                                }

                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Supplier <br /> @Resource.Name
                                                            }
                                                            else
                                                            {
                                                                @Resource.Customer <br /> @Resource.Name
                                                            }
                                                        }
                                                    </th>
                                                    <th width="8%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {

                                                          
                                                                @Resource.GST <br /> @Resource.Category
                                                           
                                                        }
                                                    </th>

                                                    <th width="8%">@Resource.GSTNumber</th>
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <th width="4%" style="display:none"> @Resource.Region <br /> @Resource.Name</th>
                                                            }
                                                            else
                                                            {
                                                                <th width="4%"> @Resource.Region <br /> @Resource.Name</th>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <th width="4%"> @Resource.Region <br /> @Resource.Name</th>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <th width="4%"> @Resource.Region <br /> @Resource.Name</th>
                                                    }

                                                    <th width="4%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Type
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Type
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Type
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Type
                                                                }

                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Purchase <br /> @Resource.Type
                                                            }
                                                            else
                                                            {
                                                                @Resource.Sale <br /> @Resource.Type
                                                            }
                                                        }
                                                    </th>
                                                    <th width="2%">@Resource.Currency</th>
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                            else
                                                            {
                                                                <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                            else
                                                            {
                                                                <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.action == "PR")
                                                        {
                                                            <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                        else
                                                        {
                                                            <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                    }

                                                    <th width="4%">@Resource.Invoice <br />  @Resource.Number</th>
                                                    <th width="3%">@Resource.Invoice <br />  @Resource.Date</th>
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <th width="4%">@Resource.BillNumber</th>
                                                                <th width="4%">@Resource.BillDate</th>
                                                            }
                                                        }
                                                    }
                                                    <th width="11%">@Resource.Item <br /> @Resource.Name</th>
                                                    <th width="2%" title="@Resource.UnitOfMeasure"> @Resource.UOM </th>
                                                    <th width="4%">@Resource.HSNNumber</th>
                                                    <th width="4%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Quantity
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Quantity
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Quantity
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Quantity
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Purchase <br /> @Resource.Quantity
                                                            }
                                                            else
                                                            {
                                                                @Resource.Sale <br /> @Resource.Quantity
                                                            }
                                                        }
                                                    </th>

                                                    <th width="4%">@Resource.Price <br />@Resource.InBase</th>

                                                    <th width="5%">@*@Resource.Sale*@  @Resource.Amount <br />@Resource.InBase</th>
                                                    @if (ViewBag.action == "PR")
                                                    {
                                                        <th width="5%">@Resource.Tax @Resource.Amount <br />@Resource.InBase</th>
                                                    }
                                                    else
                                                    {
                                                        <th width="5%">IGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">IGST @Resource.InPercentage</th>
                                                        <th width="5%">CGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">CGST @Resource.InPercentage</th>
                                                        <th width="5%">SGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">SGST @Resource.InPercentage</th>
                                                    }
                                                    @*@if (ViewBag.action == "PR")//Commented by Suraj Maurya on 08-08-2025 As Discussed with vishal sir
        {
            <th width="5%">@Resource.OtherCharges <br />@Resource.InBase</th>
        }*@
                                                    <th width="5%">@Resource.Invoice @Resource.Amount <br />@Resource.InBase</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.GstApiData != null)
                                                {
                                                    var srno = 1;
                                                    foreach (System.Data.DataRow dr in ViewBag.GstApiData.Rows)
                                                    {
                                                <tr>
                                                    <td>@srno</td>
                                                    <td>@dr["cust_name"].ToString()</td>
                                                    <td>@dr["GstCategoryStatus"].ToString()</td>
                                                    @if (ViewBag.action == "PR")
                                                    {
                                                        <td>@dr["supp_gst_no"].ToString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@dr["cust_gst_no"].ToString()</td>
                                                    }
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <td style="display:none">@dr["regionName"].ToString()</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@dr["regionName"].ToString()</td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td>@dr["regionName"].ToString()</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td>@dr["regionName"].ToString()</td>
                                                    }


                                                    <td>@dr["SaleType"].ToString()</td>
                                                    <td>@dr["curr_name"].ToString()</td>

                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <td style="display:none">@dr["sls_pers_name"].ToString()</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@dr["sls_pers_name"].ToString()</td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td>@dr["sls_pers_name"].ToString()</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td>@dr["sls_pers_name"].ToString()</td>
                                                    }


                                                    <td>@dr["app_inv_no"].ToString()</td>
                                                    <td>@dr["inv_date"].ToString()</td>
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <td>@dr["bill_no"].ToString()</td>
                                                                <td>@dr["bill_dt"].ToString()</td>
                                                            }
                                                        }
                                                    }
                                                    <td>@dr["item_name"].ToString()</td>
                                                    <td>@dr["uom_alias"].ToString()</td>
                                                    <td>@dr["hsn_code"].ToString()</td>
                                                    <td class="num_right">@dr["Qty"].ToString()</td>
                                                    <td class="num_right">@dr["item_rate"].ToString()</td>

                                                    <td class="num_right">@dr["item_gr_val"].ToString()</td>
                                                    @if (ViewBag.action == "PR")
                                                    {
                                                        <td class="num_right">@dr["item_tax_amt"].ToString()</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="num_right">@dr["igst_amt"].ToString()</td>
                                                        <td class="num_right">@dr["IgstRate"].ToString()</td>
                                                        <td class="num_right">@dr["cgst_amt"].ToString()</td>
                                                        <td class="num_right">@dr["CgstRate"].ToString()</td>
                                                        <td class="num_right">@dr["sgst_amt"].ToString()</td>
                                                        <td class="num_right">@dr["SgstRate"].ToString()</td>
                                                    }
                                                    @*@if (ViewBag.action == "PR")//Commented by Suraj Maurya on 08-08-2025 As Discussed with vishal sir
        {
            <td class="num_right">@dr["item_oc_amt"].ToString()</td>
        }*@


                                                    <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                                                </tr>
                                                        srno = srno + 1;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            @if (ViewBag.action == "SR")
            {
                <section class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                @if (ViewBag.action == "PR")
                                {
                                    <span>@Resource.OtherChargeDetail</span>
                                }
                                else
                                {
                                    <span>@Resource.OtherChargeDetail</span>
                                }
                                <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingThree" style="">
                        <div class="panel-body pt-2">
                            <div class="card-box table-responsive dy_table">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="tableFixHead height30VH">
                                            <table id="datatable-buttons3" class="table table-bordered width2600 GSTAPI rowhighlighttbl ">
                                                <thead>
                                                    <tr class="headings">
                                                        <th width="2%">@Resource.SrNo</th>
                                                        <th width="8%">
                                                            @if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Supplier <br /> @Resource.Name
                                                            }
                                                            else
                                                            {
                                                                @Resource.Customer <br /> @Resource.Name
                                                            }
                                                        </th>

                                                        <th width="6%">@Resource.GST @Resource.Category</th>
                                                        <th width="8%">@Resource.GSTNumber</th>
                                                        <th width="4%"> @Resource.Region <br /> @Resource.Name</th>
                                                        <th width="4%">
                                                            @if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Purchase <br /> @Resource.Type
                                                            }
                                                            else
                                                            {
                                                                @Resource.Sale <br /> @Resource.Type
                                                            }
                                                        </th>
                                                        <th width="2%">@Resource.Currency</th>
                                                        @if (ViewBag.action == "PR")
                                                        {
                                                            <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                        else
                                                        {
                                                            <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                        <th width="4%">@Resource.Invoice <br />  @Resource.Number</th>
                                                        <th width="3%">@Resource.Invoice <br />  @Resource.Date</th>
                                                        @if (ViewBag.action == "PR")
                                                        {
                                                            <th width="4%">@Resource.BillNumber</th>
                                                            <th width="4%">@Resource.BillDate</th>
                                                        }

                                                        <th width="11%">@Resource.OtherChargeName</th>
                                                        <th width="4%">@Resource.HSNNumber</th>

                                                        <th width="5%">@Resource.Amount <br />@Resource.InBase</th>

                                                        <th width="5%">IGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">IGST @Resource.InPercentage</th>
                                                        <th width="5%">CGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">CGST @Resource.InPercentage</th>
                                                        <th width="5%">SGST @Resource.Amount <br />@Resource.InBase</th>
                                                        <th width="5%">SGST @Resource.InPercentage</th>

                                                        <th width="5%">@Resource.Total @Resource.Amount <br />@Resource.InBase</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.GstApiOcData != null)
                                                    {
                                                        var srno = 1;
                                                        foreach (System.Data.DataRow dr in ViewBag.GstApiOcData.Rows)
                                                        {
                                                            <tr>
                                                                <td>@srno</td>
                                                                <td>@dr["cust_name"].ToString()</td>
                                                                <td>@dr["GstCategoryStatus"].ToString()</td>
                                                                @if (ViewBag.action == "PR")
                                                                {
                                                                    <td>@dr["supp_gst_no"].ToString()</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@dr["cust_gst_no"].ToString()</td>
                                                                }
                                                                @if (ViewBag.action == "PR")
                                                                {
                                                                    <td style="display:none">@dr["regionName"].ToString()</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@dr["regionName"].ToString()</td>
                                                                }
                                                                <td>@dr["SaleType"].ToString()</td>
                                                                <td>@dr["curr_name"].ToString()</td>

                                                                @if (ViewBag.action == "PR")
                                                                {
                                                                    <td style="display:none">@dr["sls_pers_name"].ToString()</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@dr["sls_pers_name"].ToString()</td>
                                                                }
                                                                <td>@dr["app_inv_no"].ToString()</td>
                                                                <td>@dr["inv_date"].ToString()</td>
                                                                @if (ViewBag.action == "PR")
                                                                {
                                                                    <td>@dr["bill_no"].ToString()</td>
                                                                    <td>@dr["bill_dt"].ToString()</td>
                                                                }
                                                                <td>@dr["item_name"].ToString()</td>
                                                                <td>@dr["hsn_code"].ToString()</td>
                                                                <td class="num_right">@dr["item_gr_val"].ToString()</td>
                                                                <td class="num_right">@dr["igst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["IgstRate"].ToString()</td>
                                                                <td class="num_right">@dr["cgst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["CgstRate"].ToString()</td>
                                                                <td class="num_right">@dr["sgst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["SgstRate"].ToString()</td>

                                                                <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                                                            </tr>
                                                            srno = srno + 1;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            }

            <section class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed" aria-controls="collapseTwo">
                            @if (ViewBag.GstApiData != null)
                            {
                                if (ViewBag.GstApiData.Rows.Count > 0)
                                {
                                    if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                    {
                                        @Resource.PurchaseReturn
                                    }
                                    else
                                    {
                                        @Resource.SaleReturn
                                    }
                                }
                                else
                                {
                                    if (ViewBag.action == "PR")
                                    {
                                        @Resource.PurchaseReturn
                                    }
                                    else
                                    {
                                        @Resource.SaleReturn
                                    }
                                }
                            }
                            else
                            {
                                @Resource.SaleReturn
                            }
                            <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="">

                    <div class="panel-body pt-2">
                        <div class="card-box table-responsive dy_table">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="tableFixHead height30VH">
                                        <table id="datatable-buttons2" class="table table-bordered width3200 GSTAPI pt-2 rowhighlighttbl ">
                                            <thead>
                                                <tr class="headings">
                                                    <th width="3%">@Resource.SrNo</th>
                                                    <th width="5%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Supplier <br />@Resource.Name
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Customer <br /> @Resource.Name
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Supplier <br />@Resource.Name
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Customer <br /> @Resource.Name
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Supplier <br />@Resource.Name
                                                            }
                                                            else
                                                            {
                                                                @Resource.Customer <br /> @Resource.Name
                                                            }
                                                        }
                                                    </th>
                                                    <th>@Resource.GST @Resource.Category</th>
                                                    <th>@Resource.GSTNumber</th>
                                                    @if (ViewBag.GstApiData != null)
                                                    {
                                                        if (ViewBag.GstApiData.Rows.Count > 0)
                                                        {
                                                            if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                            {
                                                                <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                            else
                                                            {
                                                                <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }
                                                            else
                                                            {
                                                                <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.action == "PR")
                                                        {
                                                            <th width="5%" style="display:none">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                        else
                                                        {
                                                            <th width="5%">@Resource.Sales <br />  @Resource.Representative</th>
                                                        }
                                                    }
                                                    <th width="5%">@Resource.Invoice <br />   @Resource.Number</th>
                                                    <th width="5%">@Resource.Invoice <br />   @Resource.Date</th>
                                                    @if (ViewBag.action != "SR")
                                                    {
                                                        <th width="5%">@Resource.BillNumber</th>
                                                        <th width="5%">@Resource.BillDate</th>
                                                    }
                                                    <th width="5%">@Resource.Return <br /> @Resource.Number </th>
                                                    <th width="5%">@Resource.Return <br /> @Resource.Date</th>
                                                    <th width="20%">@Resource.Item <br /> @Resource.Name</th>
                                                    <th width="2%" title="@Resource.UnitOfMeasure"> @Resource.UOM </th>
                                                    <th width="5%">@Resource.HSNNumber</th>
                                                    <th width="5%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Quantity
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Quantity
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Quantity
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Quantity
                                                                }

                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Purchase <br /> @Resource.Quantity
                                                            }
                                                            else
                                                            {
                                                                @Resource.Sale <br /> @Resource.Quantity
                                                            }
                                                        }
                                                    </th>
                                                    <th width="5%">@Resource.Price</th>
                                                    <th width="5%">
                                                        @if (ViewBag.GstApiData != null)
                                                        {
                                                            if (ViewBag.GstApiData.Rows.Count > 0)
                                                            {
                                                                if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Amount
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Amount
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.action == "PR")
                                                                {
                                                                    @Resource.Purchase <br /> @Resource.Amount
                                                                }
                                                                else
                                                                {
                                                                    @Resource.Sale <br /> @Resource.Amount
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.action == "PR")
                                                            {
                                                                @Resource.Purchase <br /> @Resource.Amount
                                                            }
                                                            else
                                                            {
                                                                @Resource.Sale <br /> @Resource.Amount
                                                            }
                                                        }
                                                    </th>
                                                    <th width="5%">@Resource.Tax <br /> @Resource.Amount</th>
                                                    <th width="5%">@Resource.Invoice <br /> @Resource.Amount </th>
                                                    <th width="5%">@Resource.Return <br /> @Resource.Quantity</th>
                                                    <th width="5%">@Resource.Return <br /> @Resource.Amount</th>
                                                    @if (ViewBag.action == "PR")
                                                    {
                                                        <th width="5%">@Resource.Return <br /> @Resource.Tax @Resource.Amount </th>
                                                    }
                                                    else
                                                    {
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> IGST @Resource.Amount </th>
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> IGST @Resource.InPercentage </th>
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> CGST @Resource.Amount </th>
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> CGST @Resource.InPercentage </th>
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> SGST @Resource.Amount </th>
                                                        <th width="10%" style="min-width:85px;">@Resource.Return <br /> SGST @Resource.InPercentage </th>
                                                    }

                                                    <th width="15%" style="min-width:85px;">@Resource.Total <br /> @Resource.Return @Resource.Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.SrtData != null)
                                                {
                                                    var srno = 1;
                                                    foreach (System.Data.DataRow dr in ViewBag.SrtData.Rows)
                                                    {
                                                        <tr>
                                                            <td>@srno</td>
                                                            <td>@dr["cust_name"].ToString()</td>
                                                            <td>@dr["GstCategoryStatus"].ToString()</td>
                                                            @if (ViewBag.action == "PR")
                                                            {
                                                                <td>@dr["supp_gst_no"].ToString()</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@dr["cust_gst_no"].ToString()</td>
                                                            }
                                                            @if (ViewBag.GstApiData != null)
                                                            {
                                                                if (ViewBag.GstApiData.Rows.Count > 0)
                                                                {
                                                                    if (ViewBag.GstApiData.Rows[0]["ReportType"].ToString() == "Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Consumable Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Service Purchase Invoice" || ViewBag.GstApiData.Rows[0]["ReportType"] == "Direct Purchase Invoice")
                                                                    {
                                                                        <td style="display:none">@dr["EmpName"].ToString()</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@dr["EmpName"].ToString()</td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td>@dr["EmpName"].ToString()</td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td>@dr["EmpName"].ToString()</td>
                                                            }
                                                            <td>@dr["inv_no"].ToString()</td>
                                                            <td>@dr["inv_date"].ToString()</td>
                                                            @if (ViewBag.action != "SR")
                                                            {
                                                                <td>@dr["bill_no"].ToString()</td>
                                                                <td>@dr["bill_dt"].ToString()</td>
                                                            }
                                                            <td>@dr["srt_no"].ToString()</td>
                                                            <td>@dr["srtDate"].ToString()</td>
                                                            <td>@dr["item_name"].ToString()</td>
                                                            <td>@dr["uom_alias"].ToString()</td>
                                                            <td>@dr["HSN_code"].ToString()</td>
                                                            <td class="num_right">@dr["SaleQty"].ToString()</td>
                                                            <td class="num_right">@dr["Price"].ToString()</td>
                                                            <td class="num_right">@dr["SaleAmount"].ToString()</td>
                                                            <td class="num_right">@dr["TaxAmount"].ToString()</td>
                                                            <td class="num_right">@dr["InvoiceAmount"].ToString()</td>
                                                            <td class="num_right">@dr["srt_qty"].ToString()</td>
                                                            <td class="num_right">@dr["ReturnAmt"].ToString()</td>
                                                            @if (ViewBag.action == "PR")
                                                            {
                                                                <td class="num_right">@dr["ReturnTax"].ToString()</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="num_right">@dr["igst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["IgstRate"].ToString()</td>
                                                                <td class="num_right">@dr["cgst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["CgstRate"].ToString()</td>
                                                                <td class="num_right">@dr["sgst_amt"].ToString()</td>
                                                                <td class="num_right">@dr["SgstRate"].ToString()</td>
                                                            }
                                                            <td class="num_right">@dr["ReturnAmount"].ToString()</td>
                                                        </tr>
                                                        srno = srno + 1;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>
@if (ViewBag.FILTER != null)
{
    if (ViewBag.FILTER == "FILTER")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}