@using EnRepMobileWeb.Resources;
@*@{
        string ValDigit = "0.";
        var VD = Convert.ToInt32(Session["ValDigit"].ToString());
        for (var i = 0; i < VD; i++)
        {
            ValDigit += "0";
        }
        //decimal total = 0;
    }*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped width1200 " cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="4%">@Resource.SrNo</th>
            <th width="14%">@Resource.GLAccount</th>
            <th width="18%">@Resource.GLGroup</th>
            <th width="12%">@Resource.Budget   <br /> @Resource.Amount</th>
            <th width="12%">@Resource.Actual <br /> @Resource.Amount </th>
            <th width="10%">@Resource.Variance  <br /> @Resource.InPercentage</th>
            <th width="10%">@Resource.Monthly   <br /> @Resource.Allocation</th>
            <th width="10%">@Resource.Quarterly  <br />@Resource.Allocation </th>
            <th width="10%">@Resource.CostCenter   <br />@Resource.Allocation</th>
            </tr>
    </thead>
    <tbody id="">
        <tr>
            <td>01</td>
            <td>Salary & Wages</td>
            <td>Expenses->Direct Expenses</td>
            <td class="num_right">1200000.00</td>
            <td class="num_right">340000.00</td>
            <td class="num_right">252.94</td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>

        </tr>
        <tr>
            <td>02</td>
            <td>Equipement Purchase</td>
            <td>Expenses->Direct Expenses</td>
            <td class="num_right">1500000.00</td>
            <td class="num_right">570000.00</td>
            <td class="num_right">163.16</td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>

        </tr>
        <tr>
            <td>03</td>
            <td>Travel Expenses</td>
            <td>Expenses->Direct Expenses</td>
            <td class="num_right">600000.00</td>
            <td class="num_right">130000.00</td>
            <td class="num_right">361.54</td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>
            <td class="center">
                <button type="button" value="Y" class="calculator" onclick="" id="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false">@Resource.Detail</button>
            </td>

        </tr>

    </tbody>
</table>
@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
@Scripts.Render("~/Content/Scripts/DatatablesJs")