@using EnRepMobileWeb.Resources;
@using System.Data;
@{
//string ValDigit = "0.";
//var VD = Convert.ToInt32(Session["ValDigit"].ToString());
//for (var i = 0; i < VD; i++)
//{
//    ValDigit += "0";
//}
//decimal total = 0;
}
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position:absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@*<table id="datatable-buttons2" class="table table-striped rowhighlighttbl width3000" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th> @Resource.SrNo</th>
            <th width="10%">@Resource.Item @Resource.Name</th>
            <th width="4%">@Resource.UOM</th>
            <th width="10%">@Resource.Supplier <br /> @Resource.Name</th>
            <th width="6%">@Resource.Order <br /> @Resource.Number</th>
            <th width="4%">@Resource.Order <br /> @Resource.Date</th>
            <th width="4%">@Resource.Order <br /> @Resource.Type</th>
            <th>@Resource.Currency</th>
            <th width="4%">@Resource.Source <br /> @Resource.Type</th>
            <th width="6%">@Resource.Source <br /> @Resource.Document</th>
            <th width="4%">@Resource.Order <br /> @Resource.Quantity</th>
            <th width="4%">@Resource.Price</th>
            <th width="4%">@Resource.Discount <br /> @Resource.PerUnit</th>
            <th width="4%">@Resource.Discount <br /> @Resource.Value</th>
            <th width="4%">@Resource.Gross <br /> @Resource.Value</th>
            <th width="4%">@Resource.Tax <br /> @Resource.Amount</th>
            <th width="4%">@Resource.Other <br /> @Resource.Charges</th>
            <th width="4%">@Resource.NetValue <br /> @Resource.InSpecific</th>
            <th width="4%">@Resource.NetValue <br /> @Resource.InBase</th>
            <th width="5%">@Resource.Status</th>
            <th width="5%">@Resource.ForceClosed</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.OrderDetails != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.OrderDetails.Rows)
            {
                <tr>
                    <td>@srno</td>
                    <td>@dr["item_name"].ToString()</td>
                    <td>@dr["uom_name"].ToString()</td>
                    <td>@dr["supp_name"].ToString()</td>
                    <td>@dr["po_no"].ToString()</td>
                    <td>@dr["po_dt1"].ToString()</td>
                    <td>@dr["order_type"].ToString()</td>
                    <td class="center">@dr["curr_logo"].ToString()</td>
                    <td>@dr["src_type"].ToString()</td>
                    <td>@dr["src_doc_number"].ToString()</td>
                    <td class="num_right">@dr["ord_qty_base"].ToString()</td>
                    <td class="num_right">@dr["item_rate"].ToString()</td>
                    <td class="num_right">@dr["DiscPerUnit"].ToString()</td>
                    <td class="num_right">@dr["item_disc_val"].ToString()</td>
                    <td class="num_right">@dr["item_gr_val"].ToString()</td>
                    <td class="num_right">@dr["item_tax_amt"].ToString()</td>
                    <td class="num_right">@dr["item_oc_amt"].ToString()</td>
                    <td class="num_right">@dr["item_net_val_spec"].ToString()</td>
                    <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                    <td class="num_right">@dr["status_name"].ToString()</td>
                    <td>@dr["force_close"].ToString()</td>
                </tr>
                srno = srno + 1;
            }
        }
    </tbody>
    <tfoot>
        @if (ViewBag.TotalDetailOrderWise != null)
        {
            foreach (DataRow dr in ViewBag.TotalDetailOrderWise.Rows)
            {
        <tr class="total">
            <td colspan="10" align="right"><strong>Total</strong></td>
            <td class="num_right"><strong>@dr["ord_qty_base"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_rate"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["DiscPerUnit"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_disc_val"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_gr_val"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_tax_amt"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_oc_amt"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_net_val_spec"].ToString()</strong></td>
            <td class="num_right"><strong>@dr["item_net_val_bs"].ToString()</strong></td>
            <td colspan='2' align='right'></td>
        </tr>
            }
        }
    </tfoot>
</table>*@

@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}