@using EnRepMobileWeb.Resources;
@*@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}*@
<style>
    div.dataTables_wrapper div.dataTables_filter label {
        margin-left: -3.5em;
    }
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position:absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<table id="datatable-buttons" class="table table-striped width3100 " cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="11%">@Resource.Product  <br /> @Resource.Name</th>           
            <th width="4%">@Resource.UOM</th>
            <th width="4%">@Resource.Order <br />@Resource.Quantity </th>
            <th width="6%" class="light_cream_colour">@Resource.Dispatch <br /> @Resource.Number</th>
            <th width="4%" class="light_cream_colour">@Resource.Dispatch <br /> @Resource.Date</th>
            <th width="4%" class="light_cream_colour">@Resource.Dispatch <br /> @Resource.Quantity</th>
            <th width="6%" class="light_blue1_colour">@Resource.DeliveryNote <br /> @Resource.Number</th>
            <th width="4%" class="light_blue1_colour">@Resource.DeliveryNote <br /> @Resource.Date</th>
            <th width="4%" class="light_blue1_colour">@Resource.Received <br /> @Resource.Quantity</th>
            <th width="6%" class="light_blue_colour">@Resource.QC <br /> @Resource.Number</th>
            <th width="4%" class="light_blue_colour">@Resource.QC <br /> @Resource.Date</th>
            <th width="4%" class="light_blue_colour">@Resource.Accepted <br /> @Resource.Quantity</th>
            <th width="4%" class="light_blue_colour">@Resource.Rejected <br /> @Resource.Quantity</th>
            <th width="4%" class="light_blue_colour">@Resource.Reworkable <br /> @Resource.Quantity</th>
            <th width="6%" class=".light_green_colour">@Resource.GRN <br /> @Resource.Number</th>
            <th width="4%" class=".light_green_colour">@Resource.GRN <br /> @Resource.Date</th>
            <th width="4%" class=".light_green_colour">@Resource.GRN <br /> @Resource.Quantity</th>
            <th width="6%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Number</th>
            <th width="4%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="4%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Quantity</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>01</td>
            <td><div class=" col-sm-10 no-padding" >1105</div>
    <div class="col-sm-1 i_Icon">
        <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
    </div>
</td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>02</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>03</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>041</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
            <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>05</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>06</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>07</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>
        <tr>
            <td>08</td>
            <td>
                <div class=" col-sm-10 no-padding">1105</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" class="calculator" onclick="" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Product @Resource.Information">   </button>
                </div>
            </td>
            <td>Set</td>
           <td class="num_right">300.00</td>
            <td class="light_cream_colour">B1/11/23/SCO0000057</td>
            <td class="light_cream_colour">20-11-2023</td>
            <td class="num_right light_cream_colour">100000.00</td>
            <td class="light_blue1_colour">B1/11/23/DN0000178</td>
            <td class="light_blue1_colour">06-11-2023</td>
            <td class="num_right light_blue1_colour">100000.00</td>
            <td class="light_blue_colour">B1/11/23/QC0000124</td>
            <td class="light_blue_colour">06-11-2023</td>
            <td class="num_right light_blue_colour">100.00</td>
            <td class="num_right light_blue_colour">14.00</td>
            <td class="num_right light_blue_colour">35.00</td>
            <td class="light_green_colour">B1/11/23/DPI0000104</td>
            <td class="light_green_colour">06-11-2023</td>
            <td class="num_right light_green_colour">100.00</td>
            <td class="light_cream1_colour">B1/11/23/GRN0000147</td>
            <td class="light_cream1_colour">06-11-2023</td>
            <td class="num_right light_cream1_colour">40.00	</td>
        </tr>

    </tbody>
</table>
