@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.GeneralLedgerVoucher.JournalVoucher.JournalVoucher_Model
@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/GeneralLedgerVoucher/JournalVoucher/JournalVoucher.js"></script>

<table id="datatable-buttons" class="table table-striped rowhighlighttbl width1600 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="12%" class="itmStick">@Resource.GLVoucher <br /> @Resource.Number</th>
            <th hidden="hidden"></th>
            <th width="9%">@Resource.GLVoucher <br /> @Resource.Date</th>
            <th width="9%">@Resource.Amount</th>
            <th width="9%">@Resource.Status</th>
            <th width="9%">@Resource.CreatedBy</th>
            <th width="9%">@Resource.Createdon</th>
            <th width="10%">@Resource.ApprovedBy</th>
            <th width="10%">@Resource.ApprovedOn</th>
            <th width="10%">@Resource.AmendedBy</th>
            <th width="10%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.JVDetailsList != null)
        {
            foreach (System.Data.DataRow item in ViewBag.JVDetailsList.Rows)
            {
                i = i + 1;
                <tr>
                    <td class="sorting_1">@i</td>
                    <td id="vou_no" class="ItmNameBreak itmStick tditemfrz"><div class="col-sm-10 no-padding" id="Jv_Vouno">@item["vou_no"].ToString()</div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                        </div>
                    </td>
                    <td hidden="hidden" id="vou_date">@item["vou_date"].ToString()</td>
                    <td id="Jv_Date">@item["JVDate"].ToString()</td>
                    <td class="num_right">@item["vou_amt"].ToString()</td>
                    <td id="Doc_Status">@item["Status"].ToString()</td>
                    <td>@item["create_by"].ToString()</td>
                    <td>@item["CreateDate"].ToString()</td>
                    <td>@item["app_by"].ToString()</td>
                    <td>@item["ApproveDate"].ToString()</td>
                    <td>@item["mod_by"].ToString()</td>
                    <td>@item["ModifyDate"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["JVSearch"] != null)*@
@if (Model.JVSearch != null)
{
    //if (Session["JVSearch"].ToString() == "JV_Search")
    if (Model.JVSearch == "JV_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["JVSearch"] = null;
        Model.JVSearch = null;
    }
}





