@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.QualityAnalysis.QualityAnalysisModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    var i = 0;
}
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var j = 0; j < VD; j++)
    {
        ValDigit += "0";
    }

}
<style>
    #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<table id="datatable-buttons1" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th style="display:none">@Resource.Received <br /> @Resource.Quantity</th>

            <th width="20%">@Resource.Product <br /> @Resource.Name</th>
            <th width="8%">@Resource.UOM</th>
            <th width="8%">@Resource.Source @Resource.Type</th>
            <th hidden="hidden" >@Resource.Source @Resource.Type</th>
            <th>@Resource.Received <br /> @Resource.Quantity</th>
            <th>@Resource.QC <br /> @Resource.Accepted</th>
            <th>@Resource.QC <br /> @Resource.Reworkable</th>
            <th>@Resource.QC <br /> @Resource.Rejected</th>
            <th width="10%">@Resource.Efficiency <br /> @Resource.InPercentage</th>
            @*<th width="20%">&nbsp;</th>*@
        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.QAReport != null)
        {
            foreach (DataRow dr in ViewBag.QAReport.Rows)
            {
                i = i + 1;
                <tr>
                    <td>@i</td>
                    <td hidden="hidden" id="itemId">@dr["item_id"].ToString().Trim()</td>
                    <td id="itemName">@dr["item_name"].ToString().Trim()</td>
                    <td id="uomAlias">@dr["uom_alias"].ToString().Trim()</td>
                    <td id="srctype">@dr["SourceType"].ToString().Trim()</td>
                    <td hidden="hidden" id="hdQcType">@dr["qc_type"].ToString().Trim()</td>
                    <td class="num_right">@Convert.ToDecimal(dr["recd_qty"]).ToString(ValDigit).Trim()</td>
                    <td>
                        <div class="col-sm-10 num_right no-padding" id=""><span id=""> @Convert.ToDecimal(dr["accept_qty"]).ToString(ValDigit) </span></div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" id="" class="calculator" onclick="BindItemDetailsList(event)" data-toggle="modal" data-target="#QCDetail"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-10 num_right no-padding" id=""><span id=""> @Convert.ToDecimal(dr["rework_qty"]).ToString(ValDigit) </span></div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" id="" class="calculator" onclick="BindItemDetailsList(event)" data-toggle="modal" data-target="#QCDetail"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-10 num_right no-padding" id=""><span id=""> @Convert.ToDecimal(dr["reject_qty"]).ToString(ValDigit) </span></div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" id="" class="calculator" onclick="BindItemDetailsList(event)" data-toggle="modal" data-target="#QCDetail"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                        </div>
                    </td>
                    <td class="num_right">@dr["efficiency"].ToString().Trim()</td>
                    @*<td>&nbsp;</td>*@
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.QAFilter != null)
{
    if (Model.QAFilter == "QAFilter")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["QISearch"] = null;
    }

}