@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/OpeningBalance/OpeningBalance.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<table id="datatable-buttons" class="table table-striped rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="12%">@Resource.Month</th>
            <th width="12%">@Resource.Year</th>
            <th width="12%">@Resource.Taxable @Resource.Value</th>
            <th width="12%">@Resource.TCS @Resource.Amount</th>
            <th width="12%">@Resource.CreatedBy</th>
            <th width="12%">@Resource.Createdon</th>
            <th width="12%">@Resource.ApprovedBy</th>
            <th width="12%">@Resource.ApprovedOn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>August</td>
            <td>2023</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
        </tr>
        <tr>
            <td>02</td>
            <td>August</td>
            <td>2023</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
        </tr>
        <tr>
            <td>03</td>
            <td>August</td>
            <td>2023</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
        </tr>
        <tr>
            <td>04</td>
            <td>August</td>
            <td>2023</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
        </tr>
        <tr>
            <td>05</td>
            <td>August</td>
            <td>2023</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
            <td>admin</td>
            <td>01-08-2023 15:03</td>
        </tr>
    </tbody>
</table>