@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/SupplementaryPurchaseInvoice/SuppPurchaseInvoiceJs.js"></script>

<table id="datatable-buttons" class="table table-striped width3400 rowhighlighttbl dataTable no-footer itmfrz" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-buttons_info" style="width: 100%;">
   
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="6%" class="itmStick ">@Resource.Supplementary @Resource.Invoice <br /> @Resource.Number</th>
            <th width="6%">@Resource.Supplementary @Resource.Invoice <br /> @Resource.Date</th>
            <th width="6%" hidden></th>
            <th width="5%">@Resource.Original @Resource.Invoice <br /> @Resource.Number</th>
            <th width="4%">@Resource.Original @Resource.Invoice <br /> @Resource.Date</th>
            <th width="5%">@Resource.GRNNumber </th>
            <th width="4%">@Resource.GRN <br /> @Resource.Date</th>
            <th width="5%">@Resource.Invoice <br /> @Resource.Type</th>
            <th width="5%">@Resource.Supplier <br /> @Resource.Name</th>
            <th width="3%">@Resource.Currency</th>
            <th width="5%">@Resource.Original @Resource.Invoice <br /> @Resource.Value</th>
            <th width="5%">@Resource.Supplementary @Resource.Invoice <br /> @Resource.Value</th>
            <th width="5%">@Resource.BillNumber</th>
            <th width="4%">@Resource.BillDate</th>
            <th width="5%">@Resource.Status</th>
            <th width="5%">@Resource.CreatedBy</th>
            <th width="5%">@Resource.Createdon</th>
            <th width="5%">@Resource.ApprovedBy</th>
            <th width="5%">@Resource.ApprovedOn</th>
            <th width="5%">@Resource.AmendedBy</th>
            <th width="5%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ListDetail != null)
        {
            int Srno = 1;
            foreach (System.Data.DataRow row in ViewBag.ListDetail.Rows)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="InvoiceNo" class="ItmNameBreak itmStick tditemfrz">@row["SDoc_no"].ToString()</td>
                    <td>@row["SDoc_dt"].ToString()</td>
                    <td style="display: none;" id="InvDate">@row["spinv_date"].ToString()</td>
                    <td>@row["inv_no"].ToString()</td>
                    <td>@row["inv_dt"].ToString()</td>
                    <td>@row["mr_no"]</td>
                    <td>@row["mr_dt"]</td>
                    <td id="Doc_Type">@row["inv_type"].ToString()</td>
                    <td>@row["supp_name"].ToString()</td>
                    <td class="center">@row["Curr"].ToString()</td>
                    <td class="num_right">@row["Purchase_net_val_bs"].ToString()</td>
                    <td class="num_right">@row["net_val_bs"].ToString()</td>
                    <td>@row["bill_no"].ToString()</td>
                    <td>@row["bill_dt"].ToString()</td>
                    <td id="Doc_Status">@row["OrderStauts"].ToString()</td>
                    <td>@row["create_by"].ToString()</td>
                    <td>@row["CreateDate"].ToString()</td>
                    <td>@row["app_by"].ToString()</td>
                    <td>@row["ApproveDate"].ToString()</td>
                    <td>@row["mod_by"].ToString()</td>
                    <td>@row["ModifyDate"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (ViewBag.ListSearch != null)
{
    if (ViewBag.ListSearch == "ListSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        ViewBag.ListSearch = null;
    }
}