@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockDetail.StockDetail_Model

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<style>
    #stockDetailDtList_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    .hidden {
        display: none;
    }
</style>
@{
    string ShowValue = "NotShowValue";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "105102180101003")
            {
                //<input hidden="hidden" id="showData" value="ShowValue" />
                ShowValue = "ShowValue";
            }
        }
    }
    string tableWidth = "width2600";
    if (Model.StockBy == "Branchwisestock")
    {
        tableWidth = "width2600";
    }
    else if (Model.StockBy == "Warehousewisestock")
    {
        tableWidth = "width2800";
    }
    else if (Model.StockBy == "LotBatchwisestock")
    {
        tableWidth = "width3000";
    }
    else if (Model.StockBy == "SubitemWise")
    {
        tableWidth = "width3200";
    }
}

@*<input hidden="hidden" id="showData" value="NotShowValue" />*@
<table id="stockDetailDtList" class="table table-striped @tableWidth itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            @*@if (Session["StockBy"] != null)*@
            @if (Model.StockBy != null)
            {
                //if (Session["StockBy"].ToString() == "Branchwisestock")
                if (Model.StockBy == "Branchwisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="12%" class="itmStick">@Resource.ItemName</th>
                    <th width="5%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="5%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="5%" class="center">@Resource.MinimumStockLevel</th>
                    <th width="8%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="5%" class="center">@Resource.Opening <br /> @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Receipts</th>
                    <th width="5%" class="center">@Resource.Issued</th>
                    <th width="5%" class="center">@Resource.Reserved <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Reworkable <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Total <br />  @Resource.Stock</th>
                    <th width="6%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="6%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="6%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="7%" class="center">@Resource.Available <br />  @Resource.Stock</th>
                    <th width="7%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="6%" class="center" d>@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="6%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                //if (Session["StockBy"].ToString() == "Warehousewisestock")
                else if (Model.StockBy == "Warehousewisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="12%" class="itmStick">@Resource.ItemName</th>
                    <th width="4%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="4%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="5%" class="center">@Resource.MinimumStockLevel</th>
                    <th width="6%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="9%">@Resource.Warehouse</th>
                    <th style="display: none;">WarehouseID</th>
                    <th width="5%" class="center">@Resource.Opening <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Receipts</th>
                    <th width="5%" class="center">@Resource.Issued</th>
                    <th width="5%" class="center">@Resource.Reserved <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Reworkable <br />  @Resource.Stock</th>
                    <th width="5%" class="center">@Resource.Total <br />  @Resource.Stock</th>
                    <th width="6%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="5%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="5%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="5%" class="center">@Resource.Available <br />  @Resource.Stock</th>
                    <th width="6%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="5%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="5%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                //if (Session["StockBy"].ToString() == "LotBatchwisestock")
                else if (Model.StockBy == "LotBatchwisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="11%" class="itmStick">@Resource.ItemName</th>
                    <th width="4%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="3%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="5%" class="center">@Resource.MinimumStockLevel</th>
                    <th width="4%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="10%">@Resource.Warehouse</th>
                    <th style="display: none;">WarehouseID</th>
                    <th width="4%">@Resource.Supplier @Resource.Name</th>
                    <th width="4%">@Resource.Lot</th>
                    <th width="5%">@Resource.Batch1</th>
                    <th width="5%">@Resource.Saleable / <br /> @Resource.Nonsaleable</th>
                    <th width="5%">@Resource.Manufacturer @Resource.Name</th>
                    <th width="5%">@Resource.MRP</th>
                    <th width="5%">@Resource.Manufactured @Resource.Date</th>
                    <th width="5%">@Resource.Expiry @Resource.Date</th>
                    <th width="4%">@Resource.Serial1</th>
                    <th width="4%" class="center">@Resource.Opening <br />  @Resource.Stock</th>
                    <th width="4%" class="center">@Resource.Receipts</th>
                    <th width="4%" class="center">@Resource.Issued</th>
                    <th width="4%" class="center">@Resource.Reserved <br />  @Resource.Stock</th>
                    <th width="4%" class="center">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="4%" class="center">@Resource.Reworkable <br />  @Resource.Stock</th>
                    <th width="4%" class="center">@Resource.Total <br />  @Resource.Stock</th>
                    <th width="6%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="4%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="4%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="4%" class="center">@Resource.Available <br />  @Resource.Stock</th>
                    <th width="6%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="4%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="4%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                else if (Model.StockBy == "SubitemWise")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="14%" class="itmStick">@Resource.ItemName</th>
                    <th width="4%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="3%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="5%" class="center">@Resource.MinimumStockLevel</th>
                    <th width="6%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="10%">@Resource.Warehouse</th>
                    <th style="display: none;">WarehouseID</th>
                    <th width="10%">@Resource.SubItem @Resource.Name</th>
                    <th style="display: none;">Subitemid</th>
                    <th width="4%" class="center">@Resource.OpeningStock</th>
                    <th width="4%" class="center">@Resource.Receipts</th>
                    <th width="4%" class="center">@Resource.Issued</th>
                    <th width="4%" class="center">@Resource.ReservedStock</th>
                    <th width="4%" class="center">@Resource.RejectedStock</th>
                    <th width="4%" class="center">@Resource.ReworkableStock</th>
                    <th width="4%" class="center">@Resource.Total @Resource.Stock</th>
                    <th width="4%" class="center">@Resource.Total @Resource.Stock @Resource.InSpecific</th>

                    if (ShowValue == "ShowValue")
                    {
                        <th width="4%" class="center">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="4%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="4%" class="center">@Resource.AvailableStock</th>
                    <th width="6%" class="center">@Resource.AvailableStock @Resource.InSpecific</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="4%" class="center">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="4%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }

                //Added by Prakash Start

                else if (Model.StockBy == "ItemGroupWise")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="16%" class="itmStick">@Resource.Item @Resource.Group</th>
                    <th width="16%" hidden>@Resource.Item @Resource.Group ID</th>
                    <th width="6%">@Resource.Branch</th>
                    <th width="6%" hidden>@Resource.Branch ID</th>
                    <th width="6%">@Resource.Opening @Resource.Stock</th>
                    <th width="6%">@Resource.Receipt</th>
                    <th width="6%">@Resource.Issued</th>
                    <th width="6%">@Resource.Reserved  @Resource.Stock</th>
                    <th width="6%">@Resource.Rejected  @Resource.Stock</th>
                    <th width="6%">@Resource.Reworkable  @Resource.Stock</th>
                    <th width="6%">@Resource.Total  @Resource.Stock</th>
                    @*<th width="6%">@Resource.Total  @Resource.Stock @Resource.InSpecific</th>*@
                    <th width="6%">@Resource.Total  @Resource.Stock @Resource.Value</th>
                    <th width="6%">@Resource.Available  @Resource.Stock</th>
                    @*<th width="6%">@Resource.Available  @Resource.Stock @Resource.InSpecific</th>*@
                    <th width="6%">@Resource.Available  @Resource.Stock @Resource.Value</th>
                }
                else if (Model.StockBy == "StockGlAccountWise")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="16%" class="itmStick">@Resource.Stock @Resource.GLAccountName</th>
                    <th hidden>@Resource.Stock @Resource.GLAccount ID</th>
                    <th width="6%">@Resource.Branch</th>
                    <th width="6%" hidden>@Resource.Branch ID</th>
                    <th width="6%">@Resource.Opening @Resource.Stock</th>
                    <th width="6%">@Resource.Receipt</th>
                    <th width="6%">@Resource.Issued</th>
                    <th width="6%">@Resource.Reserved  @Resource.Stock</th>
                    <th width="6%">@Resource.Rejected  @Resource.Stock</th>
                    <th width="6%">@Resource.Reworkable  @Resource.Stock</th>
                    <th width="6%">@Resource.Total  @Resource.Stock</th>
                    @*<th width="6%">@Resource.Total  @Resource.Stock @Resource.InSpecific</th>*@
                    <th width="6%">@Resource.Total  @Resource.Stock @Resource.Value</th>
                    <th width="6%">@Resource.Available  @Resource.Stock</th>
                    @*<th width="6%">@Resource.Available  @Resource.Stock @Resource.InSpecific</th>*@
                    <th width="6%">@Resource.Available  @Resource.Stock @Resource.Value</th>
                }
                else if (Model.StockBy == "ItemAliasWiseStock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="16%" class="itmStick">@Resource.Item @Resource.Alias</th>
                    <th width="16%" hidden>@Resource.Item @Resource.Alias ID</th>
                    <th width="6%">@Resource.Branch</th>
                    <th width="6%" hidden>@Resource.Branch ID</th>
                    <th width="6%">@Resource.Opening @Resource.Stock</th>
                    <th width="6%">@Resource.Receipt</th>
                    <th width="6%">@Resource.Issued</th>
                    <th width="6%">@Resource.Reserved  @Resource.Stock</th>
                    <th width="6%">@Resource.Rejected  @Resource.Stock</th>
                    <th width="6%">@Resource.Reworkable  @Resource.Stock</th>
                    <th width="6%">@Resource.Total  @Resource.Stock</th>
                    <th width="6%">@Resource.Total  @Resource.Stock @Resource.Value</th>
                    <th width="6%">@Resource.Available  @Resource.Stock</th>
                    <th width="6%">@Resource.Available  @Resource.Stock @Resource.Value</th>
                }

                @*else if (Model.StockBy == "SupplierWise")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="15%" class="itmStick">@Resource.Item @Resource.Description</th>
                    <th width="5%">@Resource.UOM</th>
                    <th width="7%">@Resource.Supplier  @Resource.Name</th>
                    <th width="7%">@Resource.Purchase @Resource.Quantity</th>
                    <th width="7%">@Resource.Bill @Resource.Number</th>
                    <th width="7%">@Resource.Bill @Resource.Date</th>
                    <th width="7%">@Resource.Invoice   @Resource.Number</th>
                    <th width="7%">@Resource.Invoice   @Resource.Date</th>
                    <th width="7%">@Resource.Lot   @Resource.Number</th>
                    <th width="7%">@Resource.Landed   @Resource.Cost</th>
                    <th width="7%">@Resource.Landed   @Resource.Value</th>
                    <th width="7%">@Resource.Balance @Resource.Quantity</th>
                    <th width="7%">@Resource.Balance @Resource.Value</th>
                }*@
            }



            <!-- Added by Prakash End-->

        </tr>
    </thead>
    <tbody @*id="tbodylotandbatch_list"*@>
      

    </tbody>
</table>


<script src="~/Content/Scripts/Common/CommonJS.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        //var ddlStockBy = $("#ddlStockBy").val();//Commented by Suraj Maurya on 06-03-2025
        //if (ddlStockBy == "LotBatchwisestock") {
        //    $("#ddlwarehouse").css("display", "");
        //}
        //else {
        //    $("#ddlwarehouse").css("display", "none");
        //}
        StockDetailsDtList();
        //var exportbtn = `<a class="btn btn-default buttons-csv buttons-html5 btn-sm" id='export' tabindex="0" aria-controls="datatable-buttons" href="#">
        //    <span>CSV</span></a>`;
        //$("#Item_List_length").append(exportbtn);
        //Export();


    });
    function StockDetailsDtList() {
        debugger
        var StockBy = $("#ddlStockBy").val();
        var ItemId = $("#ddlItemName option:selected").val();
        //var GroupId = $("#ddlItemGroupName option:selected").val();
        var GroupId = cmn_getddldataasstring("#ddlItemGroupName");
       // var BrachID = $("#ddlBranch").val();
        //var BrachID = cmn_getddldataasstring("#ddlBranch");
        var BranchIDList = cmn_getddldataasstring("#ddlBranch");
       // var WarehouseID = $("#ddlWarehouse").val();
        var WarehouseID = cmn_getddldataasstring("#ddlWarehouse");
       // var hsnCode = $("#ddlHsnCode").val();
        var hsnCode = cmn_getddldataasstring("#ddlHsnCode");
        var UpToDate = $("#calUpTodate").val();
        //var PortfolioId = $("#ItemPortfolio option:selected").val();
        var PortfolioId = cmn_getddldataasstring("#ItemPortfolio");
        //var StkGlAccId = $("#ddlStkGlAccId option:selected").val();
        var StkGlAccId = cmn_getddldataasstring("#ddlStkGlAccId");
        var Supp_Name = cmn_getddldataasstring("#ddlSuppName");
        var ItemAlias = CheckNullNumber($("#ddlItemAlias option:selected").val());
        var IncludeZeroStock = "";
        if ($("#IncludeZeroStock").is(":checked")) {
            IncludeZeroStock = "Y";
        }
        else {
            IncludeZeroStock = "N";
        }
        var ExpiredItems = "";
        if ($("#ExpiredItems").is(":checked")) {
            ExpiredItems = "Y";
        }
        else {
            ExpiredItems = "N";
        }
        var StockoutItems = "";
        if ($("#StockoutItems").is(":checked")) {
            StockoutItems = "Y";
        }
        else {
            StockoutItems = "N";
        }
        var NearExpiryItm = "N";
        if ($("#NearExpiryItems").is(":checked")) {
            NearExpiryItm = "Y";
        }
        else {
            NearExpiryItm = "N";
        }
        //var filters = IncludeZeroStock + "," + StockBy + "," + ItemId + "," + GroupId + "," + BrachID + "," + WarehouseID + "," 
        //+ UpToDate + "," + PortfolioId + "," + hsnCode + "," + ExpiredItems + "," + StockoutItems + ","
        //    + NearExpiryItm + "," + StkGlAccId + "," + ItemAlias;
        var filterArray = [
            IncludeZeroStock, StockBy, ItemId, GroupId,
            WarehouseID, UpToDate, PortfolioId, hsnCode, ExpiredItems, StockoutItems, NearExpiryItm, StkGlAccId, ItemAlias, BranchIDList, Supp_Name
        ];
        var filters = filterArray.map(x => `[${x}]`).join('_');

        $("#stockDetailDtList").DataTable().destroy();
        $("#stockDetailDtList").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/ApplicationLayer/StockDetail/LoadData",
                "data": {
                    ItemListFilter: filters,
                },
                "type": "POST",
                "datatype": "json",
            },
            "columns": StkDtldataColumns(StockBy),
            columnDefs: StkDtlDataColumnRenders(StockBy),
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    title: function () {
                        try {/*Modified By NItesh 08042025 For Add Change Excel File Name*/
                            return Cmn_DataTableCSVFileName();
                        }
                        catch (ex) {
                            return $("title").text();
                        }
                    },
                    exportOptions: {
                        columns: ':visible'
                        ,
                        format: {
                            body: function (data, row, column, node) {
                                // Remove HTML tags
                                debugger;
                                var text = $('<div>').html(data).text();

                                // Remove line breaks, extra spaces, and commas
                                text = text.replace(/\n/g, '').replace(/\s+/g, ' ').trim();
                                text = text.replace(/,/g, '');

                                // Optional: if cell has repeated total like "123.45   123.45", take only the first
                                let parts = text.split(' ');
                                if (parts.length > 1 && parts[0] === parts[parts.length - 1]) {
                                    text = parts[0];
                                }

                                return text;
                            }
                        }
                    },
                    action: function (e, dt, button, config) {
                        let url = '/ApplicationLayer/StockDetail/ExportCsv';
                        Cmn_importDataToCSV(e, dt, button, config, url);

                    }

                }],

        });
        Cmn_ApplySearchBtnOnDataTable("stockDetailDtList");
        //var exportbtn = `<a class="btn btn-default buttons-csv buttons-html5 btn-sm" id='export' tabindex="0" aria-controls="datatable-buttons" href="#">
        //        <span>CSV</span></a>`;
        //$("#stockDetailDtList_length").append(exportbtn);
        //Export();
    }
    function StkDtldataColumns(StockBy) {
        var Array = [];
        debugger;
        var a = $("#showData").val();
        if (a == undefined) {
            a = "NotShowValue";
        }
        if (StockBy == "Branchwisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "itemname", "name": "itemname", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz"},
                { "data": "HSNCode", "name": "HSNCode", "autoWidth": true },
                { "data": "itemid", "name": "itemid", "autoWidth": true, /*"visible": false,*/ className: "hidden" },
                { "data": "uomname", "name": "uomname", "autoWidth": true },
                { "data": "min_stk_lvl", "name": "min_stk_lvl", "autoWidth": true, className: "num_right" },
                { "data": "brname", "name": "brname", "autoWidth": true },
                { "data": "brid", "name": "brid", "autoWidth": true, className: "hidden" },
                { "data": "opening", "name": "opening", "autoWidth": true, className: "num_right" },
                { "data": "receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "reserved", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "rejected", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "reworkabled", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "totalstk", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "totalstk_in_sp", "name": "totalstk_in_sp", "autoWidth": true, className: "num_right" },
                { "data": "totalstkval", "name": "totalstkval", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },
                { "data": "avlstk", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstk_in_sp", "name": "avlstk_in_sp", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstkvalue", "name": "avlstkvalue", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },

            ]
        }
        else if (StockBy == "ItemGroupWise" || StockBy == "StockGlAccountWise" || StockBy == "ItemAliasWiseStock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "itemname", "name": "itemname", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz"},
                //{ "data": "HSNCode", "name": "HSNCode", "autoWidth": true },
                { "data": "itemid", "name": "itemid", "autoWidth": true, /*"visible": false,*/ className: "hidden" },
                //{ "data": "uomname", "name": "uomname", "autoWidth": true },
                //{ "data": "min_stk_lvl", "name": "min_stk_lvl", "autoWidth": true, className: "num_right" },
                { "data": "brname", "name": "brname", "autoWidth": true },
                { "data": "brid", "name": "brid", "autoWidth": true, className: "hidden" },
                { "data": "opening", "name": "opening", "autoWidth": true, className: "num_right" },
                { "data": "receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "reserved", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "rejected", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "reworkabled", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "totalstk", "name": "totalstk", "autoWidth": true, className: "num_right" },
                //{ "data": "totalstk_in_sp", "name": "totalstk_in_sp", "autoWidth": true, className: "num_right" },
                { "data": "totalstkval", "name": "totalstkval", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },
                { "data": "avlstk", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                //{ "data": "avlstk_in_sp", "name": "avlstk_in_sp", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstkvalue", "name": "avlstkvalue", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },

            ]
        }
        else if (StockBy == "Warehousewisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "itemname", "name": "itemname", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HSNCode", "name": "HSNCode", "autoWidth": true },
                { "data": "itemid", "name": "itemid", "autoWidth": true, /*"visible": false,*/ className: "hidden" },
                { "data": "uomname", "name": "uomname", "autoWidth": true },
                { "data": "min_stk_lvl", "name": "min_stk_lvl", "autoWidth": true, className: "num_right" },
                { "data": "brname", "name": "brname", "autoWidth": true },
                { "data": "brid", "name": "brid", "autoWidth": true, className: "hidden" },
                { "data": "whname", "name": "whname", "autoWidth": true },
                { "data": "whid", "name": "whid", "autoWidth": true, className: "hidden" },
                { "data": "opening", "name": "opening", "autoWidth": true, className: "num_right" },
                { "data": "receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "reserved", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "rejected", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "reworkabled", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "totalstk", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "totalstk_in_sp", "name": "totalstk_in_sp", "autoWidth": true, className: "num_right" },
                { "data": "totalstkval", "name": "totalstkval", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },
                { "data": "avlstk", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstk_in_sp", "name": "avlstk_in_sp", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstkvalue", "name": "avlstkvalue", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },

            ]
        }
        else if (StockBy == "LotBatchwisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "itemname", "name": "itemname", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HSNCode", "name": "HSNCode", "autoWidth": true },
                { "data": "itemid", "name": "itemid", "autoWidth": true, /*"visible": false,*/ className: "hidden" },
                { "data": "uomname", "name": "uomname", "autoWidth": true },
                { "data": "min_stk_lvl", "name": "min_stk_lvl", "autoWidth": true, className: "num_right" },
                { "data": "brname", "name": "brname", "autoWidth": true },
                { "data": "brid", "name": "brid", "autoWidth": true, className: "hidden" },
                { "data": "whname", "name": "whname", "autoWidth": true },
                { "data": "whid", "name": "whid", "autoWidth": true, className: "hidden" },
                { "data": "supp_name", "name": "supp_name", "autoWidth": true },
                { "data": "lotno", "name": "lotno", "autoWidth": true },
                { "data": "batchno", "name": "batchno", "autoWidth": true },
                { "data": "Saleable", "name": "Saleable", "autoWidth": true },
                { "data": "mfg_name", "name": "mfg_name", "autoWidth": true },
                { "data": "mfg_mrp", "name": "mfg_mrp", "autoWidth": true, className: "num_right" },
                { "data": "mfg_date", "name": "mfg_date", "autoWidth": true },
                { "data": "exp_dt", "name": "exp_dt", "autoWidth": true },
                { "data": "serialno", "name": "serialno", "autoWidth": true },
                { "data": "opening", "name": "opening", "autoWidth": true, className: "num_right" },
                { "data": "receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "reserved", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "rejected", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "reworkabled", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "totalstk", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "totalstk_in_sp", "name": "totalstk_in_sp", "autoWidth": true, className: "num_right" },
                { "data": "totalstkval", "name": "totalstkval", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },
                { "data": "avlstk", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstk_in_sp", "name": "avlstk_in_sp", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstkvalue", "name": "avlstkvalue", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },

            ]
        }
        else if (StockBy == "SubitemWise") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "itemname", "name": "itemname", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HSNCode", "name": "HSNCode", "autoWidth": true },
                { "data": "itemid", "name": "itemid", "autoWidth": true, /*"visible": false,*/ className: "hidden" },
                { "data": "uomname", "name": "uomname", "autoWidth": true },
                { "data": "min_stk_lvl", "name": "min_stk_lvl", "autoWidth": true, className: "num_right" },
                { "data": "brname", "name": "brname", "autoWidth": true },
                { "data": "brid", "name": "brid", "autoWidth": true, className: "hidden" },
                { "data": "whname", "name": "whname", "autoWidth": true },
                { "data": "whid", "name": "whid", "autoWidth": true, className: "hidden" },
                { "data": "sub_item_name", "name": "SubitemName", "autoWidth": true },
                { "data": "sub_item_id", "name": "Subitemid", "autoWidth": true, className: "hidden" },
                { "data": "opening", "name": "opening", "autoWidth": true, className: "num_right" },
                { "data": "receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "reserved", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "rejected", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "reworkabled", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "totalstk", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "totalstk_in_sp", "name": "totalstk_in_sp", "autoWidth": true, className: "num_right" },
                { "data": "totalstkval", "name": "totalstkval", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },
                { "data": "avlstk", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstk_in_sp", "name": "avlstk_in_sp", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "avlstkvalue", "name": "avlstkvalue", "autoWidth": true, className: "num_right", "visible": "@ShowValue" == "ShowValue" ? true : false },

            ]
        }
        return Array;

    }
    function StkDtlDataColumnRenders(StockBy) {
        var array = [];
        if (StockBy == "Branchwisestock") {
            array = [
                {
                    'targets': 1,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    }
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> ${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                            </div>`,
                    targets: 1
                },
                {
                    render: (data, type, row) => `<span id="ItmHsn">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value='${data}'>`,
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmMinStkLvlSpan">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 6
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value='${data}'>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 8
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Receipts">  </button>
                            </div>`,
                    targets: 9
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Issued">  </button>
                            </div>`,
                    targets: 10
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'R');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reserved Detail">  </button></div>`,
                    targets: 11
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Rejection Detail">  </button></div>`,
                    targets: 12
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reworkable Detail">  </button></div>`,
                    targets: 13
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 14
                },
                {   /*For Column Total stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 15
                },
                {   /*For Column Total stock Value*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 16
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding">
                                <b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>
                            </div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="" class="calculator subItmImg" ${row.sub_item == 'Y' ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="Sub-Item Stock Detail">  </button>
                            </div>`,
                    targets: 17
                },
                {   /*For Column Avaiilable stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 18
                },
                {   /*For Column Available stock Value*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 19
                },

            ]

        }
        else if (StockBy == "ItemGroupWise" || StockBy == "StockGlAccountWise" || StockBy == "ItemAliasWiseStock") {
            array = [
                {
                    'targets': 1,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    },
                    render: (data, type, row) => {
                        let content = `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator" onclick="OnClickItemsInfoBtn(event,'ItemGroupWise');" data-toggle="modal" data-target="#ItemGroupDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Item @Resource.Detail">  </button>
                            </div>`
                        if (StockBy == "StockGlAccountWise")
                            content = `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator" onclick="OnClickItemsInfoBtn(event,'StockGlAccountWise');" data-toggle="modal" data-target="#ItemGroupDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Item @Resource.Detail">  </button>
                            </div>`;
                        else if (StockBy == "ItemAliasWiseStock")
                            content = `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator" onclick="OnClickItemsInfoBtn(event,'ItemAliasWiseStock');" data-toggle="modal" data-target="#ItemGroupDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Item @Resource.Detail">  </button>
                            </div>`;
                        return content;
                    },
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value='${data}'>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value='${data}'>`,
                    targets: 4
                },

                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: [5,6,7,8,9,10,11,12,13,14]
                },
            ]


        }
        else if (StockBy == "Warehousewisestock") {
            array = [
                {
                    'targets': 1,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    }
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> ${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                            </div>`,
                    targets: 1
                },
                {
                    render: (data, type, row) => `<span id="ItmHsn">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value='${data}'>`,
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmMinStkLvlSpan">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 6
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value='${data}'>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                    targets: 8
                },

                {
                    render: (data, type, row) => `<input type="hidden" id="hfWarehouseID" value='${data}'>`,
                    targets: 9
                },
                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 10
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Receipts">  </button>
                            </div>`,
                    targets: 11
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Issued">  </button>
                            </div>`,
                    targets: 12
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'R');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reserved Detail">  </button></div>`,
                    targets: 13
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Rejection Detail">  </button></div>`,
                    targets: 14
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reworkable Detail">  </button></div>`,
                    targets: 15
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 16
                },
                {   /*For Column Total stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 17
                },
                {   /*For Column Total stock (in specific)*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 18
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding">
                                <b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>
                            </div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="" class="calculator subItmImg" ${row.sub_item == 'Y' ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="Sub-Item Stock Detail">  </button>
                            </div>`,
                    targets: 19
                },
                {   /*For Column Avaiilable stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 20
                },
                {   /*For Column Avaiilable stock (in specific)*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 21
                },
            ]

        }
        else if (StockBy == "LotBatchwisestock") {
            array = [
                {
                    'targets': 1,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    }
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> ${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                            </div>`,
                    targets: 1
                },
                {
                    render: (data, type, row) => `<span id="ItmHsn">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value='${data}'>`,
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmMinStkLvlSpan">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 6
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value='${data}'>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                    targets: 8
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfWarehouseID" value='${data}'>`,
                    targets: 9
                },
                {
                    render: (data, type, row) => `<span id="SpanSuppName">${data}</span>`,
                    targets: 10
                },
                {
                    render: (data, type, row) => `<span id="SpanLotNo">${data}</span>`,
                    targets: 11
                },
                {
                    render: (data, type, row) => `<span id="SpanBatchNo">${data}</span>`,
                    targets: 12
                },
                {
                    render: (data, type, row) => `<span id="SpanSaleable">${data}</span>`,
                    targets: 13
                },
                {
                    render: (data, type, row) => `<span id="SpanExpDt">${data}</span>`,
                    targets: 17
                },
                {
                    render: (data, type, row) => `<span id="SpanSerialNo">${data}</span>`,
                    targets: 18
                },
                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 19
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Receipts">  </button>
                            </div>`,
                    targets: 20
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Issued">  </button>
                            </div>`,
                    targets: 21
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'R');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reserved Detail">  </button></div>`,
                    targets: 22
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Rejection Detail">  </button></div>`,
                    targets: 23
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>
                         <div class="col-sm-1 i_Icon"><button type="button"  class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Reworkable Detail">  </button></div>`,
                    targets: 24
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 25
                },
                {   /*For Column Total stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 26
                },
                {   /*For Column Total stock Value*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 27
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding">
                                <b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>
                            </div>`,
                    targets: 28
                },
                {   /*For Column Available stock (in specific)*/
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 29
                },
                {   /*For Column Available stock Value*/
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit)}`,
                    targets: 30
                },

            ]

        }
        if (StockBy == "SubitemWise") {
            array = [
                {
                    'targets': 1,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    }
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> ${data}</span></div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                            </div>`,
                    targets: 1
                },
                {
                    render: (data, type, row) => `<span id="ItmHsn">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value='${data}'>`,
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmMinStkLvlSpan">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 6
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value='${data}'>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                    targets: 8
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfWarehouseID" value='${data}'>`,
                    targets: 9
                },
                {
                    render: (data, type, row) => `<span id="SubitmName">${data}</span>`,
                    targets: 10
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="Subitmid" value='${data}'>`,
                    targets: 11
                },

                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 12
                },

                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>`,
                    targets: 13
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div> `,
                    targets: 14
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div> `,
                    targets: 15
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div>`,
                    targets: 16
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</div> `,
                    targets: 17
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 18
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 19
                },
                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 20
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding">
                                <b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>
                            </div>`,
                    targets: 21
                },
                {
                    render: (data, type, row) => `<b>${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}</b>`,
                    targets: 22
                },
                {
                    render: (data, type, row) => `${parseFloat(CheckNullNumber(data)).toFixed(cmn_QtyDecDigit)}`,
                    targets: 23
                },
            ]
        }
        return array;
    }
</script>
@*@if (Session["StockBy"] != null && Session["StockByFilter"] != null)*@
@*@if (Model.StockBy != null && Model.StockByFilter != null)
    {
        <script src="~/Content/Scripts/Common/CommonJS.js"></script>
        <script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
        if (Model.StockBy == "Branchwisestock" && Model.StockByFilter == "Branchwisestock")
        {

            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")

        }
        //if (Session["StockBy"].ToString() == "LotBatchwisestock" && Session["StockByFilter"].ToString() == "LotBatchwisestock")
        if (Model.StockBy == "LotBatchwisestock" && Model.StockByFilter == "LotBatchwisestock")
        {

            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")

        }
        //if (Session["StockBy"].ToString() == "Warehousewisestock" && Session["StockByFilter"].ToString() == "Warehousewisestock")
        if (Model.StockBy == "Warehousewisestock" && Model.StockByFilter == "Warehousewisestock")
        {

            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")

        }

        //Session["StockBy"] = null;
        //Session["StockByFilter"] = null;
        Model.StockBy = null;
        Model.StockByFilter = null;
    }*@
