@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/AssemblyKit/AssemblyKit_JS.js"></script>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered width1800 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="8%">@Resource.Document @Resource.Number</th>
            <th width="7%">@Resource.Document @Resource.Date</th>
            <th hidden="hidden">@Resource.Document @Resource.Date</th>
            <th width="17%" class="itmStick">@Resource.Assembly @Resource.Product</th>
            <th width="7%">@Resource.Assembly @Resource.Quantity</th>
            <th width="10%">@Resource.Status</th>
            <th hidden="hidden">@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.AssemblyKitList != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.AssemblyKitList.Rows)
            {
                rowIdx++;

                <tr role="row" class="odd">
                    <td>@rowIdx</td>
                    <td id="doc_no">@Row["doc_no"].ToString()</td>
                    <td>@Row["doc_dt"].ToString()</td>
                    <td style="display:none;" id="doc_dt">@Row["docdt"].ToString()</td>
                    <td class="ItmNameBreak itmStick tditemfrz">
                        <div class="col-sm-11 no-padding">@Row["item_name"].ToString() </div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" class="calculator subItmImg" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" onclick="OnClickIconBtn(event);" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Assembly @Resource.Detail"></button>
                        </div>
                        <input hidden="hidden" id="hfItemID" value="@Row["prod_id"].ToString()" />
                    </td>
                    <td class="num_right">@Row["ass_qty"].ToString()</td>
                    <td id="">@Row["status_name"].ToString()</td>
                    <td id="Doc_Status" hidden="hidden">@Row["status"].ToString()</td>
                    <td>@Row["createname"].ToString()</td>
                    <td>@Row["createdt"].ToString()</td>
                    <td>@Row["appname"].ToString()</td>
                    <td>@Row["appdt"].ToString()</td>
                    <td>@Row["modname"].ToString()</td>
                    <td>@Row["moddt"].ToString()</td>
                </tr>
            }
        }


    </tbody>
</table>

@if (Model.Search != null)
{
    if (Model.Search == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.Search = null;

    }

}