@using EnRepMobileWeb.Resources;
<style>
    div.dataTables_wrapper div.dataTables_filter label {
        margin-left: -3.5em;
    }

    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>

<table id="" class="table table-striped width3800 rowhighlighttbl itmfrz" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="6%" class="itmStick">@Resource.Supplier  <br /> @Resource.Name</th>
            <th width="4%">@Resource.City  <br /> @Resource.Name</th>
            <th width="4%">@Resource.Order  <br /> @Resource.Number</th>
            <th width="4%">@Resource.Order  <br /> @Resource.Date</th>
            <th width="4%">@Resource.BillNumber</th>
            <th width="4%">@Resource.BillDate</th>
            <th width="2%">@Resource.Currency </th>
            <th width="3%">@Resource.ForceClosed</th>
            <th width="3%">@Resource.Order <br />@Resource.Quantity </th>
            <th width="3%">@Resource.Pending <br />@Resource.Quantity </th>
            <th width="3%" class="light_cream_colour">@Resource.DeliveryNote <br /> @Resource.Number</th>
            <th width="3%" class="light_cream_colour">@Resource.Delivery <br /> @Resource.Date</th>
            <th width="3%" class="light_cream_colour">@Resource.Delivery <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.QC <br /> @Resource.Number</th>
            <th width="3%" class="light_blue_colour">@Resource.QC <br /> @Resource.Date</th>
            <th width="3%" class="light_blue_colour">@Resource.Accepted <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Rejected <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Reworkable <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Short <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Sample <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Number</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Date</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Quantity</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Number</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1">1</td>
            <td class="ItmNameBreak itmStick tditemfrz">Apex India Pvt. Ltd.</td>
            <td>Greater Noida</td>
            <td id="poNo">B1/08/24/DPO0000001</td>
            <td id="poDt">28-08-2024</td>
            <td></td>
            <td></td>
            <td class="center">INR</td>           
            <td>No</td>
            <td class="num_right">
                <div class="col-md-10 col-sm-12 no-padding num_right ">7.000</div>
                <div class="col-sm-2  i_Icon no-padding">
                    <button type="button" id="" class="calculator" onclick="GetPTDeliverySchudule(event);" data-toggle="modal" data-target="#PTDeliverySchedule" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Order Number Detail">  </button>
                </div>
            </td>
            <td>7.000</td>
            <td class="light_cream_colour">B1/08/24/DN0000019</td>
            <td class="light_cream_colour">28-08-2024</td>
            <td class="num_right light_cream_colour">7.000</td>
            <td class="light_blue_colour"></td>
            <td class="light_blue_colour"></td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="light_blue1_colour"></td>
            <td class="light_blue1_colour"></td>
            <td class="num_right light_blue1_colour">0.000</td>
            <td class="light_cream1_colour"></td>
            <td class="light_cream1_colour"></td>
            <td class="num_right light_cream1_colour">0.000</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1">2</td>
            <td>Apex India Pvt. Ltd.</td>
            <td>Greater Noida</td>
            <td id="poNo">B1/08/24/DPO0000001</td>
            <td id="poDt">28-08-2024</td>
            <td></td>
            <td></td>
            <td class="center">INR</td>
            <td>No</td>
            <td class="num_right">

                <div class="col-md-10 col-sm-12 no-padding num_right ">8.000</div>
                <div class="col-sm-2  i_Icon no-padding">
                    <button type="button" id="" class="calculator" onclick="GetPTDeliverySchudule(event);" data-toggle="modal" data-target="#PTDeliverySchedule" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Order Number Detail">  </button>
                </div>
            </td>
            <td>8.000</td>
            <td class="light_cream_colour">B1/08/24/DN0000019</td>
            <td class="light_cream_colour">28-08-2024</td>
            <td class="num_right light_cream_colour">8.000</td>
            <td class="light_blue_colour"></td>
            <td class="light_blue_colour"></td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="num_right light_blue_colour">0.000</td>
            <td class="light_blue1_colour"></td>
            <td class="light_blue1_colour"></td>
            <td class="num_right light_blue1_colour">0.000</td>
            <td class="light_cream1_colour"></td>
            <td class="light_cream1_colour"></td>
            <td class="num_right light_cream1_colour">0.000</td>
        </tr>
    </tbody>
</table>
