@*@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.GeneralLedger.GeneralLedgerModel*@
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    #datatable-buttons5_wrapper .dataTables_length {
        float:left;
        position:relative;
        z-index:100;
    }
    #datatable-buttons5_filter {
        margin-top: 0px;
        z-index:110;
    }
        #datatable-buttons5_wrapper .btn-group {
            float:left;
        }
</style>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/GeneralLedger/GeneralLedgerJS.js"></script>

<div class="card-box table-responsive dy_tablec">
    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
        <table id="custom-datatable-buttons5" class="table table-striped width1800 itmfrz rowhighlighttbl" cellspacing="0" width="100%">
            <thead>
                <tr class="sticky-header">
                    <th width="15%" class="itmStick">@Resource.GLName</th>
                    <th style="display:none;">@Resource.GLName</th>
                    <th width="12%">@Resource.GLVoucher <br /> @Resource.Number</th>
                    <th width="9%">@Resource.GLVoucher <br /> @Resource.Date</th>
                    <th width="18%">@Resource.Narration</th>
                    <th width="9%">@Resource.Opening <br /> @Resource.Balance</th>
                    <th width="6%">@Resource.BalanceType</th>
                    <th width="9%">@Resource.Debit <br /> @Resource.Amount</th>
                    <th width="8%">@Resource.Credit <br /> @Resource.Amount</th>
                    <th width="8%">@Resource.Closing <br /> @Resource.Balance</th>
                    <th width="6%">@Resource.BalanceType</th>
                    <th style="display:none;">@Resource.SerialNumber</th>
                </tr>
            </thead>
            <tbody>
                @*@if (ViewBag.GL_Details != null)
            {
                foreach (System.Data.DataRow row in ViewBag.GL_Details.Rows)
                {
                    rowId++;
                    <tr>
                        <td class="ItmNameBreak itmStick tditemfrz">@row["acc_name"].ToString()</td>
                        <td style="display:none;">@row["acc_id"].ToString()</td>
                        <td>
                            <div class="col-sm-10 no-padding" id="">
                                @row["src_doc_no"].ToString()
                            </div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnclickVouDetailsIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>

                            </div>
                            <input type="hidden" id="hdn_vouno" value="@row["src_doc_no"]" />
                        </td>
                        <td><span id="spn_voudt">@row["src_doc_dt"].ToString()</span><input type="hidden" id="hdn_voudt" value="@row["srcdocdt"]" /> </td>
                        <td class="narration" id="td_narr">@row["narr"].ToString()</td>
                        <td class="num_right">@row["br_op_bal_bs"].ToString()</td>
                        <td class="center">@row["br_op_bal_type"].ToString()</td>
                        <td class="num_right">@row["dr_amt"].ToString()</td>
                        <td class="num_right">@row["cr_amt"].ToString()</td>
                        <td class="num_right">@row["br_acc_bal_bs"].ToString()</td>
                        <td class="center">@row["br_acc_bal_type"].ToString()</td>
                    </tr>
                }
            }*@
            </tbody>
            <tfoot id="DataTable_GLDetail_footer"></tfoot>
        </table>

        @if (ViewBag.GL_Details != null)
        {
            <span id="hdncurr_srch" hidden>@ViewBag.GL_Details.Rows[0]["curr_name"].ToString()</span>
        }
        
    </div>
</div>

<script>
    $(document).ready(function () {
        ApplyGLDataTable();
    });
    function ApplyGLDataTable() {
        debugger;
        var rpt_as = $("#GLShowAs option:selected").val();
        var acc_name = $("#acc_name option:selected").val();
        var acc_group = $("#acc_group option:selected").val();
        var acc_type = $("#acc_type option:selected").val();
        var Fromdate = $("#txtFromdate").val();
        var Todate = $("#txtTodate").val();
        var curr = $("#curr").val();
        var br_list = $("#ddl_branch").val();

        var brid_list = cmn_multibranchlist(br_list);

        if (brid_list == '0' || brid_list == "" || brid_list == null) {
            return false;
        }

        var search_prm = {
            AccID: acc_name,
            AccGrp: acc_group,
            AccType: acc_type,
            CurrId: curr,
            From_dt: Fromdate,
            To_dt: Todate,
            Rpt_As: rpt_as,
            br_ids: brid_list
        }
        var model = {
            "search_prm": search_prm
        }
        $("#custom-datatable-buttons5").DataTable().destroy();
        $("#custom-datatable-buttons5").DataTable({
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "order": [[11, 'asc']],
            "ajax": {
                "url": "/ApplicationLayer/GeneralLedger/LoadDetailsDataTable",
                "data": { model },
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    footerData = json.footer; // Save for later use in footerCallback
                    return json.data;
                }
            },
            "columns": GLDtldataColumns(),
            columnDefs: GLDtlDataColumnRenders(),
            "footerCallback": function (row, data, start, end, display, dt) {
                debugger;
                if (!footerData) return;
                var colspan = 4;
                //let SumDetFlag = $("#SumDetFlag").val();
                //if (SumDetFlag == "Summary") {
                //    colspan = 10;
                //} else {
                //    colspan = 14;
                //}
                // Update footer
                var td = "";
                var td1 = "";
                var ValDigit = $("#ValDigit").text();
                //var flag = $("#SumDetItemWiseFlag").val();
                //if (flag == "ItemWiseDetail") {
                //    td = "<td colspan='1' align='right'></td>";
                //}


                var total_br_op_bal_bs = 0;
                var total_dr_amt = 0;
                var total_cr_amt = 0;
                var total_br_acc_bal_bs = 0;
                
                debugger;
                footerData.map((val, index) => {
                    //total_br_op_bal_bs = parseFloat(total_br_op_bal_bs) + parseFloat(cmn_ReplaceCommas(val.br_op_bal_bs));
                    total_dr_amt = parseFloat(total_dr_amt) + parseFloat(cmn_ReplaceCommas(val.dr_amt));
                    total_cr_amt = parseFloat(total_cr_amt) + parseFloat(cmn_ReplaceCommas(val.cr_amt));
                    //total_br_acc_bal_bs = parseFloat(total_br_acc_bal_bs) + parseFloat(cmn_ReplaceCommas(val.br_acc_bal_bs));
                    


                });
                
                
                $("#DataTable_GLDetail_footer").html(`
<tr class="total">
               
                <td colspan="${colspan}" align="right"><strong>${$("#span_Total").text()}</strong></td>
                <td class="num_right"></td>
                <td class="num_right"></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(total_dr_amt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(total_cr_amt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"></td>
                <td class="num_right"></td>
                
            </tr>
`);
            }
        });
        var exportbtn = `<button class="btn btn-default buttons-csv buttons-html5 btn-sm Csv" id="CsvData" onclick="trialbalanceCSV()" tabindex="0" aria-controls="datatable-buttons5" href="#"><span>CSV</span></button>
                        <button class="btn btn-default buttons-pdf buttons-html5 btn-sm" onclick="GeneralLedgerPrint()" tabindex="0" aria-controls="datatable-buttons5" href="#"><span>Print</span></button>`;
        $("#custom-datatable-buttons5_length").append(exportbtn);
    }
    function GLDtldataColumns() {
        var Array = [];
        Array = [

            { "data": "acc_name", "name": "acc_name", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz sorting_1" },
            { "data": "acc_id", "name": "acc_id", "autoWidth": true, className: "" },
            { "data": "src_doc_no", "name": "src_doc_no", "autoWidth": true },
            { "data": "src_doc_dt", "name": "src_doc_dt", "autoWidth": true, className: "" },
            { "data": "narr", "name": "narr", "autoWidth": true, className: "narration" },
            { "data": "br_op_bal_bs", "name": "br_op_bal_bs", "autoWidth": true, className: "num_right" },
            { "data": "br_op_bal_type", "name": "br_op_bal_type", "autoWidth": true, className: "center" },
            { "data": "dr_amt", "name": "dr_amt", "autoWidth": true, className: "num_right" },
            { "data": "cr_amt", "name": "cr_amt", "autoWidth": true, className: "num_right" },
            { "data": "br_acc_bal_bs", "name": "br_acc_bal_bs", "autoWidth": true, className: "num_right" },
            { "data": "br_acc_bal_type", "name": "br_acc_bal_type", "autoWidth": true, className: "center" },
            { "data": "SrNo", "name": "SrNo", "autoWidth": true, className: "" }
        ]
        return Array;
    }
    function GLDtlDataColumnRenders() {
        var Array = [];
        Array = [
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).css('display', 'none');
                },
                targets: 1 //hidden account id
            },
            {
                render: (data, type, row) => {
                    return `<div class="col-sm-10 no-padding" id="">${data}</div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnclickVouDetailsIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                            </div>
                            <input type="hidden" id="hdn_vouno" value="${data}">`
                },
                targets: 2//vouchar no.
            },
            {
                render: (data, type, row) => {
                    return `<span id="spn_voudt">${data}</span>
                            <input type="hidden" id="hdn_voudt" value="${row.srcdocdt}">`
                },
                targets: 3//vouchar date
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'td_narr');
                },
                targets: 4//narration
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).css('display', 'none');
                },
                targets: 11 //hidden account id
            },
        ]
        return Array;
    }
</script>
@*@if (Model.GL_listByFilter != null)
{
    //if (Session["GL_listByFilter"].ToString() == "GLlistByFilter")
    if (Model.GL_listByFilter == "GLlistByFilter")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")

    }
    //Session["GL_listByFilter"] = null;
    Model.GL_listByFilter = null;

}*@













