@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.AccountReceivable.AccountReceivableModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    var rowId = 0;
}
@{
    var range1 = Convert.ToInt32(@Model.Range1) + 1;
    var range2 = Convert.ToInt32(@Model.Range2) + 1;
    var range3 = Convert.ToInt32(@Model.Range3) + 1;
    var range4 = Convert.ToInt32(@Model.Range4) + 1;
    var range5 = Convert.ToInt32(@Model.Range5) + 1;
}
<style>
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    .ap {
        position: absolute !important;
    }
    /*#datatable-buttons5 thead tr > :nth-child(2) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }

    #datatable-buttons5 tbody tr > :nth-child(2) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }*/
</style>

<script src="~/Content/Scripts/Common/CommonJS.js"></script>

@if (ViewBag.flag == "S")
{
    <table id="datatable-buttons5" class="table table-striped width3500 itmfrz rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                <th width="5%" class="itmStick">@Resource.CustomerName</th>
                <th width="5%">@Resource.Category</th>
                <th width="5%">@Resource.Portfolio</th>
                <th width="5%">@Resource.Region</th>
                <th width="5%">@Resource.Customer @Resource.Zone </th>
                <th width="5%">@Resource.Customer @Resource.Group </th>
                <th width="5%">@Resource.State </th>
                <th width="5%">@Resource.City </th>
                <th hidden>@Resource.CustomerID</th>
                <th hidden>@Resource.AccountID</th>
                <th width="3%">@Resource.Currency</th>
                <th hidden>@Resource.Currency</th>
                @*/*Add  by Hina sharma on 17-12-2024*/*@
                <th width="4%">0-@Model.Range1 @Resource.Days </th>
                <th width="4%">@range1-@Model.Range2 @Resource.Days</th>
                <th width="4%">@range2-@Model.Range3 @Resource.Days</th>
                <th width="4%">@range3-@Model.Range4 @Resource.Days</th>
                <th width="4%">@range4-@Model.Range5 @Resource.Days</th>
                <th width="4%">>@range5 @Resource.Days</th>
                <th width="5%">@Resource.Total @Resource.Receivable <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.Total @Resource.Receivable <br /> @Resource.InBase</th>
                <th width="5%">@Resource.Advance @Resource.Amount <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.Advance @Resource.Amount <br /> @Resource.InBase</th>
                <th width="5%">@Resource.Net @Resource.Receivable <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.Net @Resource.Receivable <br /> @Resource.InBase</th>               
                @if (Model.ReceivableType == "A")
                {
            <th width="2%">&nbsp;</th>
                }
                </tr>
        </thead>
        <tbody>
            @if (Model.AccountRecivableList != null)
            {
                foreach (var row in Model.AccountRecivableList)
                {
                    rowId++;
            <tr>
                <td>@rowId</td>
                <td id="Cust_name" class="ItmNameBreak itmStick tditemfrz">@row.CustName</td>
                <td >@row.cust_catg</td>
                <td >@row.cust_port</td>
                <td >@row.cust_regin</td>
                <td >@row.cust_zone</td>
                <td >@row.cust_grp</td>
                <td >@row.stateLData</td>
                <td >@row.cityLdata</td>
                <td id="Cust_id" hidden>@row.CustId</td>
                <td id="acc_id" hidden>@row.AccId</td>
                <td id="Curr" class="center">@row.Curr</td>
                <td id="Curr_id" hidden>@row.CurrId</td>
                @*/*Add by Hina sharma on 17-12-2024*/*@
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange1</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r1')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr1" value="0,@Model.Range1">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange2</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r2')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr2" value="@range1,@Model.Range2">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange3</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r3')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr3" value="@range2,@Model.Range3">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange4</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r4')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr4" value="@range3,@Model.Range4">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange5</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r5')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr5" value="@range4,@Model.Range5">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange6</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r6')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr6" value="@range5">
                    </div>
                </td>
                <td class="num_right">@row.totamt_sp</td>
                <td class="num_right">@row.totamt_bs</td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding">@row.AdvanceAmount</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator" data-toggle="modal" onclick="OnCliekAdvanceAmountIcon(event)" data-target="#AdvancePaymentDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Advance @Resource.Payment">  </button>
                        <input type="hidden" id="hdnAdvanceAmount" value="@row.AdvanceAmount">
                    </div>
                </td>
                <td class="num_right">@row.advamt_bs</td>

                <td class="num_right">
                    <div class="col-sm-12 lpo_form no-padding">@row.TotalAmt
                        <input type="hidden" id="hdnTotalAmt" value="@row.TotalAmt">
                        </div>                    
                </td>
                <td class="num_right">@row.totnetamt_bs</td>
                @if (Model.ReceivableType == "A")
                {
                    <td>
                            <div class="col-sm-6 i_Icon">
                                <button type="button" id="" style="" class="calculator" data-toggle="modal" onclick="GenerateAccRcblPDF(event)" data-target="#" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/pdf.png" alt="" title="@Resource.CustomerStatement">  </button>
                                <input type="hidden" id="hdnTotalAmt" value="@row.TotalAmt">
                            </div>
                            <div class="col-sm-6 i_Icon">
                                <button type="button" id="Btn_Mail" style="padding-left:10px;" class="calculator" data-toggle="modal" onclick="SendEmail(event);" data-target="#MailInfo" data-backdrop="static" data-keyboard="false"><i class="fa fa-envelope red" aria-hidden="true" title="@Resource.Email"></i> </button>
                                <input type="hidden" id="hdnTotalAmt" value="@row.TotalAmt">
                        </div>
                    </td>
                }
                </tr>
                }
            }
        </tbody>
        @*/*ADD by Hina Sharma on 19-07-2025 for show bucket wise total*/*@
        <tfoot>
            @if (ViewBag.BucketWiseTotal != null)
            {
            <tr class="sticky-header">
                @*<th colspan="3" class="num_right font-weight-bold"> Total</th>*@
                <th colspan="10" class="num_right font-weight-bold"> Total</th>
                <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR1"].ToString()</th>
                <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR2"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR3"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR4"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR5"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalGTR5"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["tot_amt"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["tot_amt_bs"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalAdvanceAmount"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totAdvAmt_bs"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt"].ToString()</th>
                <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt_bs"].ToString()</th>
                @if (Model.ReceivableType == "A")
                {
            <th class="num_right font-weight-bold" >&nbsp;</th>
                }
                
            </tr>
            }
        </tfoot>
    </table>
    }
else
    {
    <table id="datatable-buttons6" class="table table-striped width1800 itmfrz rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="15%" class="itmStick">@Resource.CustomerName</th>
                <th>@Resource.Category</th>
                <th>@Resource.Portfolio</th>
                <th>@Resource.Region</th>
                <th>@Resource.Customer @Resource.Zone </th>
                <th>@Resource.Customer @Resource.Group </th>
                <th>@Resource.State </th>
                <th>@Resource.City </th>
                <th hidden>@Resource.CustomerID</th>
                <th width="9%">@Resource.InvoiceNumber</th>
                <th width="8%"> @Resource.InvoiceDate</th>
                <th width="8%"> @Resource.SalesPerson</th>
                <th hidden>@Resource.AccountID</th>
                <th width="7%">@Resource.Currency</th>
                <th hidden>@Resource.Currency</th>
                <th width="8%"> @Resource.InvoiceAmount</th>
                @*/*Add  by Hina sharma on 17-12-2024*/*@
                <th width="7%">0-@Model.Range1 @Resource.Days </th>
                <th width="7%">@range1-@Model.Range2 @Resource.Days</th>
                <th width="7%">@range2-@Model.Range3 @Resource.Days</th>
                <th width="7%">@range3-@Model.Range4 @Resource.Days</th>
                <th width="7%">@range4-@Model.Range5 @Resource.Days</th>
                <th width="7%">>@range5 @Resource.Days</th>
                <th width="8%">@Resource.Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AccountRecivableList != null)
            {
                foreach (var row in Model.AccountRecivableList)
                {
                    rowId++;
            <tr>
                <td>@rowId</td>
                <td id="Cust_name" class="ItmNameBreak itmStick tditemfrz">@row.CustName</td>
                <td>@row.cust_catg</td>
                <td>@row.cust_port</td>
                <td>@row.cust_regin</td>
                <td>@row.cust_zone</td>
                <td>@row.cust_grp</td>
                <td>@row.stateLData</td>
                <td>@row.cityLdata</td>
                <td id="Cust_id" hidden>@row.CustId</td>
                <td id="Inv_no">@row.Inv_no</td>
                <td id="Inv_dt">@row.Inv_dt</td>
                <td id="">@row.salesPerson</td>

                <td id="acc_id" hidden>@row.AccId</td>
                <td id="Curr" class="center">@row.Curr</td>
                <td id="Curr_id" hidden>@row.CurrId</td>
                <td class="num_right">@row.Invoice_Amt</td>
                @*/*Add by Hina sharma on 17-12-2024*/*@
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange1</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r1')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr1" value="0,@Model.Range1">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange2</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r2')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr2" value="@range1,@Model.Range2">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange3</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r3')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr3" value="@range2,@Model.Range3">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange4</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r4')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr4" value="@range3,@Model.Range4">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange5</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r5')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr5" value="@range4,@Model.Range5">
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.AmtRange6</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r6')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                        <input type="hidden" id="hdnr6" value="@range5">
                    </div>
                </td>
                <td class="num_right">
                    @row.TotalAmt
                </td>
            </tr>
                }
            }
        </tbody>
        @*/*ADD by Hina Sharma on 19-07-2025 for show bucket wise total*/*@
        <tfoot>
            @if (ViewBag.BucketWiseTotal != null)
            {
                <tr class="sticky-header">
                    <th colspan="13" class="num_right font-weight-bold"> Total</th>
                    <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                    <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalInv_amt"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR1"].ToString()</th>
                    <th class="num_right font-weight-bold" hidden>&nbsp;</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR2"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR3"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR4"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR5"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalGTR5"].ToString()</th>
                    <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt"].ToString()</th>
                </tr>
            }
        </tfoot>
    </table>
}
@if (Model.ARAging != null)
{
    if (Model.ARAging == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.ARAging = null;
    }
}