@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.Packing.DomesticPackingList_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/DomesticPacking/DomesticPackingList.js"></script>

<table id="datatable-buttons" class="table table-striped width1500 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th style="width:35px;"> @Resource.SrNo</th>
            <th class="itmStick">@Resource.PackingList <br /> @Resource.Number</th>
            <th width="9%">@Resource.Packing <br /> @Resource.Date</th>
            <th>@Resource.Order <br /> @Resource.Type</th>
            <th width="20%">@Resource.CustomerName</th>
            <th width="7%">@Resource.Status</th>
            <th width="10%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="12%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="10%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
            <th hidden="hidden"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PackingListDetail != null)
        {
            foreach (var row in Model.PackingListDetail)
            {
                rowId++;
        <tr role="row" class="odd">
            <td>@rowId</td>
            <td id="PackingListNO" class="ItmNameBreak itmStick tditemfrz">@row.PackingListNO</td>
            <td>@row.pack_dt</td>
            <td>@row.pack_type</td>
            <td>@row.CustomerName</td>
            <td id="Doc_Status">@row.PackStatus</td>
            <td>@row.create_by</td>
            <td>@row.CreatedON</td>
            <td>@row.app_by</td>
            <td>@row.ApprovedOn</td>
            <td>@row.mod_by</td>
            <td>@row.ModifiedOn</td>
            <td hidden="hidden" id="packing_date">@row.packing_date</td>
        </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["DPDSearch"] != null)*@
@if (Model.DPDSearch != null)
{
    //if (Session["DPDSearch"].ToString() == "DPD_Search")
    if (Model.DPDSearch == "DPD_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["DPDSearch"] = null;
        Model.DPDSearch = null;
    }
}