@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/OpeningBalance/OpeningBalance.js"></script>

<script src="~/Content/Scripts/Common/CommonJS.js"></script>

<table id="datatable-buttons" class="table table-striped rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="5%"> @Resource.SrNo</th>
            <th width="15%">@Resource.FinancialYear</th>
            <th width="15%" hidden>@Resource.FinancialYear</th>
            @*<th width="15%">@Resource.Createdon</th>*@
            <th width="65%"> &nbsp;</th>


        </tr>
    </thead>
    <tbody>
        @if (ViewBag.FinYearDetail != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.FinYearDetail.Rows)
            {
                rowIdx++;
                if (@Row["fin_y"].ToString() == "")
                {
                }
                else
                {
                    <tr class="odd" id="@rowIdx">
                        <td class="sr_padding"><span id="SpanRowIdList">@rowIdx</span><input type="hidden" id="hdSpanRowIdList" value="@rowIdx" style="display: none;" /></td>
                        <td id="fin_year" hidden>@Row["fin_year"].ToString()</td>
                        <td>@Row["fin_y"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

        @*@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")*@
    







