@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    @*string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }*@
    //decimal total = 0;
}
<style>
    div.dataTables_wrapper div.dataTables_filter label {
        margin-left: -3.5em;
    }
</style>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<table id="datatable-buttons1" class="table table-striped rowhighlighttbl width1800" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="11%">@Resource.Item @Resource.Name</th>
            <th style="display:none"></th>
            <th width="5%">@Resource.UOM</th>
            <th width="9%">@Resource.Order <br /> @Resource.Quantity</th>
            <th width="9%">@Resource.Price</th>
            <th width="9%">@Resource.Discount <br /> @Resource.PerUnit</th>
            <th width="9%">@Resource.Discount <br /> @Resource.Value</th>
            <th width="9%">@Resource.Gross <br /> @Resource.Value</th>
            <th width="9%">@Resource.Tax <br /> @Resource.Amount</th>
            <th width="9%">@Resource.Other <br /> @Resource.Charges</th>
            <th width="9%">@Resource.NetValue <br /> @Resource.InSpecific</th>
            <th width="9%">@Resource.NetValue <br /> @Resource.InBase</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.OrderSummaryDetails != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.OrderSummaryDetails.Rows)
            {
                <tr>
                    <td>@srno</td>
                    <td>@dr["item_name"].ToString()</td>
                    <td id="hdnitemid" style="display:none">@dr["item_id"].ToString()</td>
                    <td>@dr["uom_name"].ToString()</td>
                    <td class="num_right">
                        <div class="col-md-10 col-sm-12 no-padding num_right ">
                            @dr["ord_qty_base"].ToString()
                        </div>
                        <div class="col-sm-2  i_Icon no-padding">
                            <button type="button" id="OrderDeliverySchedule" class="calculator" onclick="OnclickDeliverySchedule(event);" data-toggle="modal" data-target="#MISOrderDeliverySchedule " data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Delivery @Resource.Schedule">  </button>
                        </div>
                    </td>
                    <td class="num_right">@dr["item_rate"].ToString()</td>
                    <td class="num_right">@dr["DiscPerUnit"].ToString()</td>
                    <td class="num_right">@dr["item_disc_val"].ToString()</td>
                    <td class="num_right">@dr["item_gr_val"].ToString()</td>
                    <td class="num_right">@dr["item_tax_amt"].ToString()</td>
                    <td class="num_right">@dr["item_oc_amt"].ToString()</td>
                    <td class="num_right">@dr["item_net_val_spec"].ToString()</td>
                    <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                </tr>
                srno = srno + 1;
            }
        }
    </tbody>
    <tfoot>
        @if (ViewBag.TotalDetailOrderItemWise != null)
        {
            foreach (DataRow dr in ViewBag.TotalDetailOrderItemWise.Rows)
            {
                <tr class="total">
                    <td colspan="3" align="right"><strong>Total</strong></td>
                    <td class="num_right"><strong>@dr["ord_qty_base"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_rate"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["DiscPerUnit"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_disc_val"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_gr_val"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_tax_amt"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_oc_amt"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_net_val_spec"].ToString()</strong></td>
                    <td class="num_right"><strong>@dr["item_net_val_bs"].ToString()</strong></td>
                </tr>
            }
        }
    </tfoot>
</table>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}