@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialIssue.MaterialIssueList
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialIssue/InteralIssue/MaterialIssueDetail.js"></script>

<table id="datatable-buttons" class="table table-striped table-bordered width1500 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th class="itmStick">@Resource.Issue <br /> @Resource.Number</th>
            <th width="8%">@Resource.Issue <br />  @Resource.Date</th>
            <th style="display:none;">@Resource.IssueDate</th>
            <th width="9%">@Resource.Issue <br />  @Resource.Type</th>
            <th style="display:none;">@Resource.IssueType</th>
            <th>@Resource.Requisition <br />  @Resource.Number</th>
            <th width="9%">@Resource.Requisition <br />  @Resource.Date</th>
            <th width="10%">@Resource.Requirement <br />  @Resource.Area</th>

            <th width="14%">@Resource.IssueTo</th>
            @if (Model.DocumentMenuId == "105102130108")
            {
                <th width="14%">@Resource.Issued @Resource.By </th>
            }
            <th>@Resource.Status</th>
            <th width="12%">@Resource.CreatedBy</th>
            <th width="9%">@Resource.Createdon</th>
            <th width="15%">@Resource.AmendedBy</th>
            <th width="9%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @if (Model.MaterialIssueDetailList != null)
        {
            foreach (var row in Model.MaterialIssueDetailList)
            {
                rowId++;
        <tr role="row" class="even">
            <td>@rowId</td>
            <td id="issue_no" class="ItmNameBreak itmStick tditemfrz">@row.issue_no</td>
            <td>@row.issue_dt </td>
            <td style="display:none;" id="issue_date">@row.issue_date </td>
            <td>@row.issue_type</td>
            <td style="display:none;" id="issuetype">@row.issuetype </td>
            <td>@row.requisition_no</td>
            <td>@row.requisition_date</td>
            <td>@row.entity_type</td>
            <td>@row.issue_to</td>
            @if (Model.DocumentMenuId == "105102130108")
            {
                <td>@row.issue_by</td>
            }
            <td>@row.issue_status</td>
            <td>@row.create_by</td>
            <td>@row.create_dt</td>
            <td>@row.mod_by</td>
            <td>@row.mod_dt</td>
        </tr>
            }
        }

    </tbody>
</table>
@*@if (Session["MISearch"] != null)
    {
        Commented by Suraj on 15-12-2022 for change session to viewbag
        if (Session["MISearch"].ToString() == "MI_Search")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Session["MISearch"] = null;
        }
    }*@
@if (Model.MISearch == "MI_Search")
{
    @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")
    //Session["MISearch"] = null;
}
