@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2><span id="Headingbatchserial"></span></h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align"> @Resource.ItemName</label>
            <input id="ItemNameBatchWise" class="form-control" autocomplete="off" type="text" name="ItemNameBatchWise" placeholder="Item Name" onblur="this.placeholder='Item Name'" disabled>
            <input type="hidden" id="hfItemID">
        </div>
        <div class="col-md-1 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input id="UOMBatchWise" class="form-control" autocomplete="off" type="text" name="UOMBatchWise" placeholder="@Resource.UOM" disabled>

        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.OpeningQuantity</label>
            <input id="popBatchReceivedQty" class="form-control num_right" autocomplete="off" name="BatchReceivedQuantity" placeholder="0000.00" disabled>
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.OpeningValue</label>
            <input id="pop_openingvalue" class="form-control num_right" autocomplete="off" name="BatchReceivedQuantity" placeholder="0000.00" disabled>
        </div>
        <div class="clearfix"></div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="BatchDetailTbl1" data-order="" class="table table-striped table-bordered rowhighlighttbl itmfrz" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th style="display:none">@Resource.ItemID</th>
                            <th width="10%">@Resource.Lot</th>
                            <th width="10%">@Resource.BatchNumber</th>
                            <th width="10%">@Resource.SerialNumber</th>
                            <th width="15%">@Resource.Manufacturer @Resource.Name</th>
                            <th width="9%">@Resource.MRP</th>
                            <th width="10%">@Resource.Manufactured @Resource.Date</th>
                            <th width="9%">@Resource.ExpiryDate</th>
                            <th width="9%">@Resource.Quantity</th>
                            <th width="9%">@Resource.Rate</th>
                            <th width="9%">@Resource.Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td style="display:none">&nbsp;</td>
                            <td colspan="6">&nbsp;</td>
                            <td class="font-weight-bold">@Resource.Total</td>
                            <td class="num_right font-weight-bold"><span id="span_opqty"></span></td>
                            <td>&nbsp;</td>
                            <td class="num_right font-weight-bold"><span id="span_opvalue"></span></td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="BatchDiscardAndExitBtn">Close</button>
    </div>
</div>

