@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<table id="datatable-buttons" class="table table-striped table-bordered width1500 rowhighlighttbl ">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="10%">@Resource.Plan @Resource.Number</th>
            <th width="7%">@Resource.Plan @Resource.Date</th>
            <th width="10%">@Resource.Status</th>
            <th width="16%">@Resource.remarks</th>
            <th width="9%">@Resource.CreatedBy</th>
            <th width="9%">@Resource.Createdon</th>
            <th width="9%">@Resource.ApprovedBy</th>
            <th width="9%">@Resource.ApprovedOn</th>
            <th width="9%">@Resource.AmendedBy</th>
            <th width="9%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        <tr>
            <td>01</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>02</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>03</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>04</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>05</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>06</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>07</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>08</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>09</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>10</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>11</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>12</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>13</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>14</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>15</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
        <tr>
            <td>16</td>
            <td>B1/08/24/FGR0000006</td>
            <td>29-08-2024</td>
            <td>Partially Invoiced</td>
            <td>This is a Remarks.</td>
            <td>admin</td>
            <td>13-03-2024 11:15</td>
            <td>Abhijeet Srivastava</td>
            <td>13-03-2024 11:15</td>
            <td>Harmanpreet Kaur</td>
            <td>13-03-2024 11:15</td>
        </tr>
    </tbody>
</table>

