@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialTransferOrder.MTOListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialTransferOrder/MTOList.js"></script>

<table id="datatable-buttons" class="table table-striped table-bordered width1800 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th class="itmStick">@Resource.Requisition <br /> @Resource.Number</th>
            <th>@Resource.Requisition <br /> @Resource.Date</th>
            <th hidden="hidden"></th>
            <th>@Resource.Material <br /> @Resource.TransferType</th>
            <th>@Resource.Source <br /> @Resource.Branch</th>
            <th>@Resource.Source <br /> @Resource.Warehouse</th>
            <th>@Resource.Destination <br /> @Resource.Branch</th>
            <th>@Resource.Destination <br /> @Resource.Warehouse</th>
            <th>@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BindMTOList != null)
        {
            foreach (var row in Model.BindMTOList)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td id="TRFNo" class="ItmNameBreak itmStick tditemfrz">@row.TRFNo</td>
            <td id="TRFDate">@row.TRFDate</td>
            <td hidden="hidden" id="trf_date">@row.trf_date</td>
            <td>@row.TRFType</td>
            <td>@row.FromBranch</td>
            <td>@row.FromWH</td>
            <td>@row.ToBranch</td>
            <td>@row.ToWH</td>
            <td id="Doc_Status">@row.TRFList_Stauts</td>
            <td>@row.create_by</td>
            <td>@row.CreateDate</td>
            <td>@row.app_by</td>
            <td>@row.ApproveDate</td>
            <td>@row.mod_by</td>
            <td>@row.ModifyDate</td>
        </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["MTOSearch"] != null)*@
@if (Model.MTOSearch != null)
{
    //if (Session["MTOSearch"].ToString() == "MTO_Search")
    if (Model.MTOSearch == "MTO_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["MTOSearch"] = null;
        Model.MTOSearch = null;
    }
}


