@using EnRepMobileWeb.Resources;
<table id="datatable-buttons" class="table table-striped rowhighlighttbl width2200" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="5%"> @Resource.SrNo</th>
            <th width="8%">@Resource.Supplementary @Resource.Invoice @Resource.Number</th>
            <th width="8%">@Resource.Supplementary @Resource.Invoice  @Resource.Date</th>
            <th width="8%">@Resource.Original @Resource.Invoice @Resource.Number</th>
            <th width="6%">@Resource.Invoice @Resource.Date</th>
            <th width="6%">@Resource.Shipment @Resource.Number</th>
            <th width="6%">@Resource.Shipment @Resource.Date</th>
            <th width="9%">@Resource.Customer @Resource.Name</th>
            <th width="6%">@Resource.Original @Resource.Invoice @Resource.Value	 </th>
            <th width="8%">@Resource.Supplementary @Resource.Invoice @Resource.Value</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            @*<th width="6%">@Resource.AmendedBy</th>
        <th width="6%">@Resource.AmendedOn</th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>02</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>03</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>04</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>05</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>06</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>07</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>08</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>09</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>10</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>11</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>12</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>13</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>14</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>15</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>16</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>17</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>18</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>19</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
        <tr>
            <td>20</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>B1/01/25/DPI0000011</td>
            <td>27-Jan-2025</td>
            <td>B1/05/25/DSH0000001</td>
            <td>19-May-2025</td>
            <td>ABC COUSTOMER TETSING</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>Drafted</td>
            <td>Prakash</td>
            <td>28-Mar-2025 17:47</td>
            <td>Harsh Srivastava</td>
            <td>28-Mar-2025 17:47</td>
        </tr>
    </tbody>
</table>
@*@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")*@








