@using EnRepMobileWeb.Resources;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
<style>

    
    

    div.dataTables_wrapper div.dataTables_filter label {
        margin-left: -3.5em;
    }
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position:absolute;
    }
    #Tbl_POTracking_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #Tbl_POTracking_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #Tbl_POTracking_wrapper {
        padding-left: 2px !important;
    }
    
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
@*<table id="datatable-buttons" class="table table-striped width3800 rowhighlighttbl itmfrz" cellspacing="0">*@
<table id="Tbl_POTracking" class="table table-striped width3800 rowhighlighttbl itmfrz" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="6%" class="itmStick">@Resource.Supplier  <br /> @Resource.Name</th>
            <th width="6%">@Resource.Category </th>
            <th width="6%">@Resource.Portfolio </th>
            <th width="4%">@Resource.City  <br /> @Resource.Name</th>
            <th width="4%">@Resource.Order  <br /> @Resource.Number</th>
            <th width="4%">@Resource.Order  <br /> @Resource.Date</th>
            <th width="4%">@Resource.BillNumber</th>
            <th width="4%">@Resource.BillDate</th>
            <th width="2%">@Resource.Currency </th>
            <th hidden="hidden">@Resource.ItemID</th>
            <th hidden="hidden">@Resource.OrderType</th>
            <th width="7%" class="">@Resource.Item  <br /> @Resource.Name</th>
            <th width="3%">@Resource.UOM</th>
            <th width="3%">@Resource.Item <br />@Resource.Type </th>
            <th width="3%">@Resource.ForceClosed</th>
            <th width="3%">@Resource.Order <br />@Resource.Quantity </th>
            <th width="3%">@Resource.Pending <br />@Resource.Quantity </th>
            <th width="6%">@Resource.Due <br />@Resource.Date </th>
            <th width="5%">@Resource.Overdue <br />@Resource.Days </th>
            <th width="3%" class="light_cream_colour">@Resource.DeliveryNote <br /> @Resource.Number</th>
            <th width="3%" class="light_cream_colour">@Resource.Delivery <br /> @Resource.Date</th>
            <th width="3%" class="light_cream_colour">@Resource.Delivery <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.QC <br /> @Resource.Number</th>
            <th width="3%" class="light_blue_colour">@Resource.QC <br /> @Resource.Date</th>
            <th width="3%" class="light_blue_colour">@Resource.Accepted <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Rejected <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Reworkable <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Short <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue_colour">@Resource.Sample <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Number</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Date</th>
            <th width="3%" class="light_blue1_colour">@Resource.Receipt <br /> @Resource.Quantity</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Number</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="3%" class="light_cream1_colour">@Resource.Invoice <br /> @Resource.Quantity</th>
            <th width="3%" class="light_blue1_colour">@Resource.Return <br /> @Resource.Number</th>
            <th width="3%" class="light_blue1_colour">@Resource.Return <br /> @Resource.Date</th>
            <th width="3%" class="light_blue1_colour">@Resource.Return <br /> @Resource.Quantity</th>
            <th hidden="hidden"></th>
        </tr>
    </thead>
    <tbody>
        @*@if (ViewBag.POTrackingDetails != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.POTrackingDetails.Rows)
            {
        <tr>
            <td>@srno</td>
            <td class="ItmNameBreak itmStick tditemfrz">@dr["supp_name"].ToString()</td>
            <td>@dr["city_name"].ToString()</td>
            <td id="poNo">@dr["app_po_no"].ToString()</td>
            <td id="poDt">@dr["po_dt"].ToString()</td>
            <td>@dr["bill_no"].ToString()</td>
            <td>@dr["bill_dt"].ToString()</td>

            <td class="center">@dr["curr_logo"].ToString()</td>
            <td id="itemId" hidden="hidden">@dr["item_id"].ToString()</td>
            <td id="poType" hidden="hidden">@dr["order_type"].ToString()</td>
            <td class="">@dr["item_name"].ToString()</td>
            <td>@dr["uom_name"].ToString()</td>
            <td>@dr["item_type"].ToString()</td>
            <td>@dr["ForceClose"].ToString()</td>
            <td class="num_right">

                <div class="col-md-10 col-sm-12 no-padding num_right ">@dr["ord_qty_base"].ToString()</div>
                <div class="col-sm-2  i_Icon no-padding">
                    <button type="button" id="" class="calculator" onclick="GetPTDeliverySchudule(event);" data-toggle="modal" data-target="#PTDeliverySchedule" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Number @Resource.Detail">  </button>
                </div>
            </td>
            <td class="num_right">@dr["pending_qty"].ToString()</td>
            <td class="light_cream_colour">@dr["dn_no"].ToString()</td>
            <td class="light_cream_colour">@dr["dn_dt"].ToString()</td>
            <td class="num_right light_cream_colour">@dr["dnQty"].ToString()</td>
            <td class="light_blue_colour">@dr["qc_no"].ToString()</td>
            <td class="light_blue_colour">@dr["qc_dt"].ToString()</td>
            <td class="num_right light_blue_colour">@dr["accept_qty"].ToString()</td>
            <td class="num_right light_blue_colour">@dr["reject_qty"].ToString()</td>
            <td class="num_right light_blue_colour">@dr["rework_qty"].ToString()</td>
            <td class="num_right light_blue_colour">@dr["short_qty"].ToString()</td>
            <td class="num_right light_blue_colour">@dr["sample_qty"].ToString()</td>
            <td class="light_blue1_colour">@dr["mr_no"].ToString()</td>
            <td class="light_blue1_colour">@dr["mr_dt"].ToString()</td>
            <td class="num_right light_blue1_colour">@dr["mr_qty"].ToString()</td>
            <td class="light_cream1_colour">@dr["inv_no"].ToString()</td>
            <td class="light_cream1_colour">@dr["inv_dt"].ToString()</td>
            <td class="num_right light_cream1_colour">@dr["inv_qty"].ToString()</td>
        </tr>

                srno = srno + 1;
            }
        }*@
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var TrackType = $("#OrderType").val();
        if (TrackType == "A") {
            POTrackingDtList();
        }
    });
    function POTrackingDtList() {
        debugger;
        var TrackType = $("#OrderType").val();
            //var ord_type = $("#ddlOrderType option:selected").val();
        var ord_type = $("#ddlOrderType option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            // var itm_type = $("#ddlItemType option:selected").val();
        var itm_type = $("#ddlItemType option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            //var supp_id = $("#ddlSuppliersList option:selected").val();
            var supp_id = $("#ddlSuppliersList option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            // var ord_no = $("#ddlOrderNumberlist option:selected").val();
            var ord_no = $("#ddlOrderNumberlist option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            ord_no = ord_no == "---All---" ? "0" : ord_no;
            //var itm_id = $("#ddlItemsList option:selected").val();
            var itm_id = $("#ddlItemsList option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            // var curr_id = $("#ddlCurrencylist option:selected").val();
            var curr_id = $("#ddlCurrencylist option:selected").map(function () { return $(this).val(); }).get().join(",") || "0";
            var from_dt = $("#txtFromdate").val();
        var to_dt = $("#txtTodate").val();
        var custCat = cmn_getddldataasstring("#SupplierCategory");
        var custPort = cmn_getddldataasstring("#SupplierPortfolio");
        var brid_list = cmn_getddldataasstring("#ddl_branch");
        var filterArray = [
            TrackType, ord_type, itm_type, supp_id, ord_no,
            itm_id, curr_id, from_dt, to_dt, custCat, custPort,brid_list
        ];
        var filters = filterArray.map(x => `[${x}]`).join('_');
       // var filters = TrackType + "," + ord_type + "," + itm_type + "," + supp_id + "," + ord_no;
       // filters += "," + itm_id + "," + curr_id + "," + from_dt + "," + to_dt;

        $("#Tbl_POTracking").DataTable().destroy();
        $("#Tbl_POTracking").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            searchDelay: 0,   // important
            "ajax": {
                "url": "/ApplicationLayer/PurchaseTracking/LoadPoTrackingDetailsData",
                "data": {
                    ItemListFilter: filters
                },
                "type": "POST",
                "datatype": "json",
            },
            "columns": StkDtldataColumns(),
            columnDefs: StkDtlDataColumnRenders(),
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        var csvUrl = "/ApplicationLayer/PurchaseTracking/ExportCsv";
                        let CsvName = $("title").text() + "_" + moment().format('YYYYMMDDhhmmss');
                        Cmn_importDataToCSV(e, dt, button, config, csvUrl, CsvName);

                    }

                }],
        });
        Cmn_ApplySearchBtnOnDataTable("Tbl_POTracking");


        //var exportbtn = `<button type="submit" class="btn btn-default buttons-csv buttons-html5 btn-sm" id='' onclick="GetPOTrackingMisCSVDetails();" tabindex="0" aria-controls="datatable-buttons"
        //        name="Command" value="CSV">
        //        <span>CSV</span></button>`;
        ////$("#export").remove();
        //$("#hdnFiltersData").val(filters);
        //$("#Tbl_POTracking_length").append(exportbtn);
        //Export();
    }
    

    function StkDtldataColumns() {
        var Array = [];
       
         Array = [
             { "data": "SrNo", "name": "SrNo", "autoWidth": true },
             { "data": "supp_name", "name": "supp_name", "autoWidth": true, "id": "tditem", className: "ItmNameBreak itmStick tditemfrz" },
             { "data": "supp_cat_name", "name": "supp_cat_name", "autoWidth": true },
             { "data": "supp_port_name", "name": "supp_port_name", "autoWidth": true },
             { "data": "city_name", "name": "city_name", "autoWidth": true },
             { "data": "app_po_no", "name": "app_po_no", "autoWidth": true, "id":"poNo", className: "" },
             { "data": "po_dt", "name": "po_dt", "autoWidth": true, "id": "poDt" },
             { "data": "bill_no", "name": "bill_no", "autoWidth": true},
             { "data": "bill_dt", "name": "bill_dt", "autoWidth": true },
             { "data": "curr_logo", "name": "curr_logo", "autoWidth": true, className: "center" },
             { "data": "item_id", "name": "item_id", "autoWidth": true},
             { "data": "order_type", "name": "order_type", "autoWidth": true},
             { "data": "item_name", "name": "item_name", "autoWidth": true},
             { "data": "uom_name", "name": "uom_name", "autoWidth": true },
             { "data": "item_type", "name": "item_type", "autoWidth": true},
             { "data": "ForceClose", "name": "ForceClose", "autoWidth": true },
             { "data": "ord_qty_base", "name": "ord_qty_base", "autoWidth": true, className: "num_right" },
             { "data": "pending_qty", "name": "pending_qty", "autoWidth": true, className: "num_right" },
             { "data": "sch_date", "name": "sch_date", "autoWidth": true },
             { "data": "overduedays", "name": "overduedays", "autoWidth": true, className: "num_right" },
             { "data": "dn_no", "name": "dn_no", "autoWidth": true, className: "light_cream_colour" },
             { "data": "dn_dt", "name": "dn_dt", "autoWidth": true, className: "light_cream_colour" },
             { "data": "dnQty", "name": "dnQty", "autoWidth": true, className: "num_right light_cream_colour" },
             { "data": "qc_no", "name": "qc_no", "autoWidth": true, className: "light_blue_colour" },
             { "data": "qc_dt", "name": "qc_dt", "autoWidth": true, className: "light_blue_colour" },
             { "data": "accept_qty", "name": "accept_qty", "autoWidth": true, className: "num_right light_blue_colour"},
             { "data": "reject_qty", "name": "reject_qty", "autoWidth": true, className: "num_right light_blue_colour"},
             { "data": "rework_qty", "name": "rework_qty", "autoWidth": true, className: "num_right light_blue_colour"},
             { "data": "short_qty", "name": "short_qty", "autoWidth": true, className: "num_right light_blue_colour"},
             { "data": "sample_qty", "name": "sample_qty", "autoWidth": true, className: "num_right light_blue_colour" },
             { "data": "mr_no", "name": "mr_no", "autoWidth": true, className: "light_blue1_colour" },
             { "data": "mr_dt", "name": "mr_dt", "autoWidth": true, className: "light_blue1_colour" },
             { "data": "mr_qty", "name": "mr_qty", "autoWidth": true, className: "num_right light_blue1_colour" },
             { "data": "inv_no", "name": "inv_no", "autoWidth": true, className: "light_cream1_colour" },
             { "data": "inv_dt", "name": "inv_dt", "autoWidth": true, className: "light_cream1_colour" },
             { "data": "inv_qty", "name": "inv_qty", "autoWidth": true, className: "num_right light_cream1_colour" },
             { "data": "br_id", "name": "br_id", "autoWidth": true },
             { "data": "prt_no", "name": "prt_no", "autoWidth": true, className: "light_blue1_colour" },
             { "data": "prt_dt", "name": "prt_dt", "autoWidth": true, className: "light_blue1_colour" },
             { "data": "prt_qty", "name": "prt_qty", "autoWidth": true, className: "num_right light_blue1_colour" }
            ]
        return Array;
    }
    function StkDtlDataColumnRenders() {
        debugger;
        var array = [];
        array = [
            {
                'targets': 0,//SrNo
                render: (data, type, row) => `<span id="ItmHsn">${data}</span>`,
            },
            
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'supp_name');
                },
                targets: 1//supp_name
            },

            //***add By Shubham Maurya on 31-12-2025 for add supp_cat_name***// 
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'supp_cat_name');
                },
                targets: 2//supp_cat_name
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'supp_port_name');
                },
                targets: 3//supp_port_name
            },
            //***add By Shubham Maurya on 31-12-2025 for add supp_port_name***// 

            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'poNo');
                },
                targets: 5
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'poDt');
                },
                targets: 6
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'itemId');
                    $(td).attr('hidden', 'hidden');
                },
                targets: 10
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'poType');
                    $(td).attr('hidden', 'hidden');
                },
                targets: 11
            },
            {
                render: (data, type, row) => `<div class="col-md-10 col-sm-12 no-padding num_right ">${data}</div>
                                            <div class="col-sm-2  i_Icon no-padding">
                                                <button type="button" id="" class="calculator" onclick="GetPTDeliverySchudule(event);" data-toggle="modal" data-target="#PTDeliverySchedule" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="${$("#span_OrdNoDtl").text()}">  </button>
                                            </div>`,
                targets: 16
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'br_id');
                    $(td).attr('hidden', 'hidden');
                },
                targets: 36
            }
        ]
        return array;
    }
</script>

@*@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}*@