@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <h2><span id="SDPopupHeading"></span></h2>
        <button type="button" class="close " data-dismiss="modal">×</button>
    </div>
    <div class="modal-body padd pop_top">
        <div id="divBatchLotewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtbatchlotitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtbatchlotuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtbatchlotbranch"></span></div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label label-align">@Resource.Warehouse</label>
                    <div class="label_value"><span id="txtbatchlotwarehouse"></span></div>
                </div>
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.Lot</label>
                    <div class="label_value"><span id="txtbatchlotlot"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Batch1</label>
                    <div class="label_value"><span id="txtbatchlotbatch"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Serial1</label>
                    <div class="label_value"><span id="txtbatchlotserial"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered itmfrz " id="BatchLotwiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="BatchLotwiseDocDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl itmfrz" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="3%">@Resource.SrNo</th>
                                <th width="15%">@Resource.Document</th>
                                <th width="12%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="12%">@Resource.DocumentDate</th>
                                <th id="BLW_th_billNumber" width="12%" style="display:none">@Resource.BillNumber</th>
                                <th id="BLW_th_bilDate" width="12%" style="display:none">@Resource.BillDate</th>
                                <th width="10%">@Resource.Quantity</th>
                                <th width="20%">@Resource.remarks</th>
                                <th width="15%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <th width="50%" class="num_right"><strong> @Resource.Total @Resource.Quantity</strong></th>
                    <th width="10%" class="num_right" style="background: #e4e4e4 !important;"><strong><span id="BatchLotwiseTotalQty"></span></strong> </th>
                    <th width="25%"> &nbsp;</th>
                    <th width="15%"> &nbsp;</th>
                </tr>
            </table>
        </div>
        <div id="divWarehousewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtwarehouseitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtwarehouseuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtwarehousebranch"></span></div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label label-align">@Resource.Warehouse</label>
                    <div class="label_value"><span id="txtwarehousewarehouse"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered width1600 itmfrz " id="WarehousewiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="WarehousewiseDocDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl width1600 itmfrz " style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="11%">@Resource.Document</th>
                                <th width="9%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="9%">@Resource.DocumentDate</th>
                                <th id="WW_th_billNumber" width="8%" style="display:none">@Resource.BillNumber</th>
                                <th id="WW_th_bilDate" width="8%" style="display:none">@Resource.BillDate</th>
                                <th width="9%">@Resource.Lot</th>
                                <th width="9%">@Resource.Batch1</th>
                                <th width="9%">@Resource.Serial1</th>
                                <th width="5%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="5%">@Resource.MRP</th>
                                <th width="5%">@Resource.Manufactured @Resource.Date</th>
                                <th width="9%">@Resource.Quantity</th>
                                <th width="15%">@Resource.remarks</th>
                                <th width="8%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <td width="81%" class="num_right"><strong> @Resource.Total @Resource.Quantity</strong></td>
                    <td width="15%" class="num_right" style="background: #e4e4e4 !important;"><strong><span id="WarehousewiseTotalQty"></span></strong></td>
                    <td width="4%"> &nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="divBranchwiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtbranchitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtbranchuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtbranchbranch"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered width1800 itmfrz " id="BranchwiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="BranchwiseDocDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl width1900 itmfrz" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="2%">@Resource.SrNo</th>
                                <th width="10%">@Resource.Document</th>
                                <th width="8%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="8%">@Resource.DocumentDate</th>
                                <th id="BW_th_billNumber" width="8%" style="display:none">@Resource.BillNumber</th>
                                <th id="BW_th_bilDate" width="8%" style="display:none">@Resource.BillDate</th>
                                <th width="10%">@Resource.Warehouse</th>
                                <th width="7%">@Resource.Lot</th>
                                <th width="7%">@Resource.Batch1</th>
                                <th width="7%">@Resource.Serial1</th>
                                <th width="5%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="5%">@Resource.MRP</th>
                                <th width="5%">@Resource.Manufactured @Resource.Date</th>
                                <th width="7%">@Resource.Quantity</th>
                                <th width="10%">@Resource.remarks</th>
                                <th width="8%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <td width="80%" class="num_right"><strong> @Resource.Total @Resource.Quantity</strong></td>
                    <td width="20%" class="num_right" style="background: #e4e4e4 !important;"> <strong><span id="BranchwiseTotalQty"></span></strong></td>
                    @*<td width="18%"></td>*@
                </tr>
            </table>
        </div>
    </div>
</div>