@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesEnquiry.SEListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/SalesEnquiry/SalesEnquiryList.js"></script>
<table id="datatable-buttons" class="table table-striped width2400 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.Enquiry  <br /> @Resource.Number</th>
            <th width="5%">@Resource.Enquiry  <br />  @Resource.Date</th>
            <th hidden="hidden"></th>
            <th width="6%">@Resource.Enquiry @Resource.Source</th>
            <th width="5%">@Resource.Enquiry <br /> @Resource.Type</th>
            <th width="5%">@Resource.Customer <br /> @Resource.Type</th>
            <th width="13%">@Resource.Customer <br /> @Resource.Name</th>
            <th width="6%">@Resource.Region</th>
            <th width="7%">@Resource.Portfolio</th>
            <th width="7%">@Resource.Category</th>
            <th width="10%">@Resource.Sales @Resource.Person</th>
            <th width="10%">@Resource.Quotation @Resource.Number / @Resource.Date</th>
            <th width="6%">@Resource.Status</th>
            <th width="5%">@Resource.CreatedBy</th>
            <th width="5%">@Resource.Createdon</th>
            @*<th width="5%">@Resource.AmendedBy</th>
        <th width="5%">@Resource.AmendedOn</th>*@
            @*<th width="6%">@Resource.ApprovedBy</th>
        <th width="5%">@Resource.ApprovedOn</th>*@
        </tr>
    </thead>
    <tbody id="">
        @if (Model.SalesEnquiryList != null)
        {
            foreach (var row in Model.SalesEnquiryList)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td id="ptbl_SENumber" class="ItmNameBreak itmStick tditemfrz">@row.SENumber</td>
            <td id="ptbl_SEDate">@row.SEDate</td>
            <td style="display:none;" id="ptbl_SEDt">@row.SE_Dt</td>
            <td>@row.Enqry_Src</td>
            <td>@row.Enqry_Typ</td>
            <td>@row.Cust_Typ</td>
            <td>@row.CustName</td>
            <td>@row.Region</td>
            <td>@row.Portfolio</td>
            <td>@row.Category</td>
            <td>@row.Sls_Persn</td>
            <td>@row.QuotaionNumDate</td>
            <td id="Doc_Status">@row.SE_StatusList</td>
            <td>@row.CreatedBy</td>
            <td>@row.CreatedON</td>
            @*<td>@row.ModifiedBy</td>
        <td>@row.ModifiedOn</td>*@

        </tr>
            }
        }
        @*<tr>
                <td>01</td>
                <td>B1/10/24/DSH0000008</td>
                <td>12-11-2024</td>
                <td>Enquiry Source</td>
                <td>Sales</td>
                <td>Domestic </td>
                <td>ABC Ltd.</td>
                <td>Region</td>
                <td>Portfolio</td>
                <td>Category</td>
                <td> Raghvendra Singh Rawat</td>
                <td>Approved</td>
                <td>Prakash</td>
                <td>12-11-2024 10:27</td>
                <td>Prakash</td>
                <td>12-11-2024 10:27</td>
                <td>Prakash</td>
                <td>12-11-2024 10:27</td>
            </tr>*@

    </tbody>
</table>
@if (Model.SESearch != null)
{
    //if (Session["DNSCSearch"].ToString() == "DNSC_Search")
    if (Model.SESearch == "SE_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.SESearch = null;
    }
}
