@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MaterialRequirementPlan.MaterialRequirementPlan_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/MaterialRequirementPlan/MaterialRequirementPlanList.js"></script>

<table id="datatable-buttons" class="table table-striped width2200 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="9%" class="itmStick">@Resource.MRPNumber</th>
            <th width="6%">@Resource.MRPDate</th>
            <th width="7%">@Resource.Source</th>
            <th width="7%">@Resource.RequirementArea</th>
            <th width="8%">@Resource.ProductionPlan <br /> @Resource.Number</th>
            <th width="7%">@Resource.ProductionPlan <br /> @Resource.Date</th>
            <th width="6%">@Resource.FY</th>
            <th width="6%">@Resource.Period</th>
            <th width="6%">@Resource.DateRange</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MRP_ListDetail != null)
        {
            foreach (var row in Model.MRP_ListDetail)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="mrp_no" class="ItmNameBreak itmStick tditemfrz">@row.mrp_no</td>
                    <td id="mrp_date">@row.mrp_date</td>
                    <td>@row.source</td>
                    <td>@row.Req_area</td>
                    <td>@row.src_doc_no</td>
                    <td>@row.src_doc_date</td>
                    <td>@row.fy</td>
                    <td>@row.period</td>
                    <td>@row.daterange</td>
                    <td id="Doc_Status">@row.status</td>
                    <td>@row.createdby</td>
                    <td>@row.createon</td>
                    <td>@row.approvedby</td>
                    <td>@row.approvedon</td>
                    <td>@row.amendby</td>
                    <td>@row.amendedon</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["MRPSearch"] != null)*@
@if (Model.MRPSearch != null)
{
    //if (Session["MRPSearch"].ToString() == "MRP_Search")
    if (Model.MRPSearch == "MRP_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["MRPSearch"] = null;
        Model.MRPSearch = null;
    }
}






