@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/QuotationAnalysis/QuotationAnalysis.js"></script>

<table id="datatable-buttons" class="table table-striped rowhighlighttbl width1700 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="5%"> @Resource.SrNo</th>
            <th width="9%">@Resource.Analysis @Resource.Number</th>
            <th width="8%">@Resource.Analysis @Resource.Date</th>
            <th width="9%" hidden="hidden">@Resource.RFQ @Resource.Number</th>
            <th width="9%">@Resource.RFQ @Resource.Number</th>
            <th width="7%">@Resource.RFQ @Resource.Date</th>
            <th width="8%">@Resource.Status</th>
            <th width="9%">@Resource.CreatedBy</th>
            <th width="9%">@Resource.Createdon</th>
            <th width="9%">@Resource.ApprovedBy</th>
            <th width="9%">@Resource.ApprovedOn</th>
            @*<th width="9%">@Resource.AmendedBy</th>
            <th width="9%">@Resource.AmendedOn</th>*@
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ListDetail != null)
        {
            int Srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.ListDetail.Rows)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@Srno</td>
                    <td id="SSINo" class="ItmNameBreak itmStick tditemfrz">@dr["inv_no"].ToString()</td>
                    <td id="">@dr["inv_dt"].ToString()</td>
                    <td style="display:none;" id="SSIDt">@dr["InvDt"].ToString()</td>
                    <td class="num_right">@dr["bill_no"].ToString()</td>
                    <td>@dr["bill_dt"].ToString()</td>
                    <td id="Doc_Status">@dr["InvStatus"].ToString()</td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["CreateDate"].ToString()</td>
                    <td>@dr["app_by"].ToString()</td>
                    <td>@dr["ApproveDate"].ToString()</td>
                    @*<td>@dr["app_by"].ToString()</td>
                    <td>@dr["ModifyDate"].ToString()</td>*@
                </tr>
                Srno = Srno + 1;
            }
        }
    </tbody>
</table>
@*@if (Model.PQASearch != null)
    {
        if (Model.PQSearch == "PQ_Search")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
        }
    }
    *@
@if (ViewBag.ListSearch != null)
{
    if (ViewBag.ListSearch == "ListSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        ViewBag.ListSearch = null;
    }
}






