@using EnRepMobileWeb.Resources;
@{
//string ValDigit = "0.";
//var VD = Convert.ToInt32(Session["ValDigit"].ToString());
//for (var i = 0; i < VD; i++)
//{
//    ValDigit += "0";
//}

}
<style>
    #datatable-buttons3_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@if (ViewBag.flag == "ODProductGroupWise")
{
    <table id="DataTable8" class="table table-striped width1700 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead> 
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                @*<th width="14%">@Resource.Group @Resource.Name</th>*@
                <th width="18%" class="itmStick">@Resource.Group <br /> @Resource.Structure</th>
                <th hidden="hidden"></th>
                <th width="8%">@Resource.Currency</th>
                <th width="8%">@Resource.OrderType</th>
                <th hidden="hidden"></th>
                <th width="8%">@Resource.GrossValue <br /> @Resource.InSpecific</th>
                <th width="8%">@Resource.GrossValue <br /> @Resource.InBase</th>
                <th width="8%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="8%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="8%">@Resource.OtherCharges <br /> @Resource.InSpecific</th>
                <th width="8%">@Resource.OtherCharges <br /> @Resource.InBase</th>
                <th width="8%">@Resource.Order @Resource.Amount  <br /> @Resource.InSpecific </th>
                <th width="8%">@Resource.Order @Resource.Amount  <br /> @Resource.InBase </th>
            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.OrderDetailProductGroupWiseList != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.OrderDetailProductGroupWiseList.Rows)
                {
                    <tr>
                        <td>@srno</td>
                        @*<td id="item_group_name">@dr["item_group_name"].ToString()</td>*@
                        <td id="item_group_name" class="ItmNameBreak itmStick tditemfrz">@dr["group_str"].ToString()</td>
                        <td hidden="hidden" id="hdnGrpId">@dr["item_grp_id"].ToString()</td>
                        <td id="_curr_symbol" class="center">@dr["curr_symbol"].ToString()</td>
                        <td id="" class="center">@dr["sale_type"].ToString()</td>
                        <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                        <td class="num_right" id="txt_SaleAmtSpec">@dr["item_gr_val_spec"].ToString()</td>
                        <td class="num_right" id="txt_SaleAmt">@dr["item_gr_val_bs"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmtSpec">@dr["item_tax_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmt">@dr["item_tax_amt_bs"].ToString()</td>
                        <td class="num_right" id="txt_OcAmtSpec">@dr["item_oc_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_OcAmt">@dr["item_oc_amt_bs"].ToString()</td>
                        <td class="num_right" id="txt_InvoiceAmtSpec">
                            <div class="col-sm-11" id="">@dr["item_net_val_spec"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator" onclick="PGW_OnclickInvoiceAmt(event)" data-toggle="modal" data-target="#ProductGroupWiseProductDetail" data-backdrop="static" data-keyboard="false"> <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ProductDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductDetail"></i>*@ </button>
                            </div>
                        </td>
                        <td class="num_right" id="txt_InvoiceAmt">
                            <div class="col-sm-11" id="">@dr["item_net_val_bs"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator" onclick="PGW_OnclickInvoiceAmt(event)" data-toggle="modal" data-target="#ProductGroupWiseProductDetail" data-backdrop="static" data-keyboard="false"> <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ProductDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductDetail"></i>*@ </button>
                            </div>
                        </td>
                    </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.ODProductGroupWiseTotal != null)
            {
                foreach (System.Data.DataRow dr in ViewBag.ODProductGroupWiseTotal.Rows)
                {
            <tr class="total">
                @*<td>&nbsp;</td>*@
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td hidden="hidden">&nbsp;</td>
                <td>&nbsp;</td>     
                <td align="right"><strong>Total</strong></td>
                <td hidden="hidden">&nbsp;</td>               
                <td class="num_right"><strong>@dr["item_gr_val_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_gr_val_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_tax_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_tax_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_oc_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_oc_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_net_val_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_net_val_bs"].ToString()</strong></td>
            </tr>
                }
            }
        </tfoot>
    </table>
}
else
{
    <table id="DataTable8" class="table table-striped width2600 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                @*<th width="10%">@Resource.groupname</th>*@
                <th width="14%" class="itmStick">@Resource.Group <br /> @Resource.Structure</th>
                <th width="4%">@Resource.Currency</th>
                <th width="6%">@Resource.Order  @Resource.Type</th>
                <th hidden="hidden"></th>
                <th width="9%">@Resource.Product <br /> @Resource.Name</th>
                <th width="4%">@Resource.UOM</th>
                <th width="5%">@Resource.Quantity</th>
                <th width="5%">@Resource.Average @Resource.Price <br /> @Resource.InSpecific </th>
                <th width="6%">@Resource.Average @Resource.Price <br /> @Resource.InBase </th>
                <th width="5%">@Resource.GrossValue <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.GrossValue <br /> @Resource.InBase</th>
                <th width="5%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="6%">@Resource.Order @Resource.Amount  <br /> @Resource.InSpecific </th>
                <th width="6%">@Resource.Order @Resource.Amount  <br /> @Resource.InBase </th>
            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.OrderDetailProductGroupWiseList != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.OrderDetailProductGroupWiseList.Rows)
                {
            <tr role="row" class="even">
                <td class="sorting_1">@srno</td>
                @*<td id="item_group_name">@dr["item_group_name"].ToString()</td>*@
                <td id="item_group_name" class="ItmNameBreak itmStick tditemfrz">@dr["group_str"].ToString()</td>
                <td id="_curr_symbol" class="center">@dr["curr_symbol"].ToString()</td>
                <td id="" class="center">@dr["sale_type"].ToString()</td>
                <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                <td>
                    <div id="item_nam" class="col-sm-11 i_Icon">@dr["item_name"].ToString()</div>
                    <div class="col-sm-1 i_Icon">
                        <input hidden="hidden" id="Hdn_item_id" value="@dr["item_id"].ToString()">
                        <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td id="uom_alia">@dr["uom_alias"].ToString()</td>
                <td id="item_qt" class="num_right">@dr["item_qty"].ToString()</td>
                <td id="item_rat" class="num_right">@dr["item_rate_spec"].ToString()</td>
                <td id="item_rat" class="num_right">@dr["item_rate_bs"].ToString()</td>
                <td class="num_right">@dr["item_gr_val_spec"].ToString()</td>
                <td class="num_right">@dr["item_gr_val_bs"].ToString()</td>
                <td class="num_right">@dr["item_tax_amt_spec"].ToString()</td>
                <td class="num_right">@dr["item_tax_amt_bs"].ToString()</td>
                <td class="num_right">@dr["item_oc_amt_spec"].ToString()</td>
                <td class="num_right">@dr["item_oc_amt_bs"].ToString()</td>
                <td class="num_right">
                    <div class="col-sm-11" i_icon"="">@dr["item_net_val_spec"].ToString()</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator" onclick="PGW_OnclickPopUpInvoiceAmt(event)" data-toggle="modal" data-target="#ProductGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Invoice Detail">  </button>
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11">@dr["item_net_val_bs"].ToString()</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator" onclick="PGW_OnclickPopUpInvoiceAmt(event)" data-toggle="modal" data-target="#ProductGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="Invoice Detail">  </button>
                    </div>
                </td>
            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.ProductGroupWiseDetailTotal != null)
            {
                foreach (System.Data.DataRow dr in ViewBag.ProductGroupWiseDetailTotal.Rows)
                {
                    <tr class="total">
                        @*<td>&nbsp;</td>*@
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td hidden="hidden">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="right"><strong>Total</strong></td>
                        <td class="num_right"><strong>@dr["item_qty"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_rate_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_rate_bs"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_gr_val_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_gr_val_bs"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_tax_amt_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_tax_amt_bs"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_oc_amt_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_oc_amt_bs"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_net_val_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_net_val_bs"].ToString()</strong></td>
                    </tr>
                }
            }

        </tfoot>
    </table>
}


@{
    if (Model.ODFilter != null)
    {
        if (Model.ODFilter == "ODFilter")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.ODFilter = null;
            <script>
                $(document).ready(function () {
                    $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInput("datatable-buttons3",4)');
                    $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInput("datatable-buttons3",4)');
                    CalculateAmtOnSearchInput("datatable-buttons3", 4);
                });
            </script>
        }
    }
}

