@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <h2 id="IRPopUpheading">@Resource.IssueDetail</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    @*<div >
        <button type="button" class="close " data-dismiss="modal">×</button>
        </div>*@
<div class="modal-body pop_top">
    <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
        <div class="col-md-3 padding_left">
            <label class="col-form-label label-align">@Resource.EntityName</label>
            <div class="label_value"><span id="lblEntityName"></span></div>
        </div>
        <div class="col-md-4 col-sm-12">
            <label class="col-form-label label-align">@Resource.ItemName</label>
            <div class="label_value"><span id="lblItemName"></span></div>
        </div>
    </div>
    <div class="clear"></div>
    @*<div class="tableFixHead">
        <table class="table table-bordered" id="TblIssued_ReceivedSampleTracking">
            <thead>
                <tr>*@

    <div class="card-box table-responsive dy_table">
        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
            <table id="TblIssued_ReceivedSampleTracking" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                <thead>
                    <tr class="sticky-header">
                        <th width="5%">@Resource.SrNo</th>
                        <th hidden="hidden"> @Resource.EntityName</th>
                        <th hidden="hidden"> @Resource.ItemName</th>
                        <th width="10%"> @Resource.DocumentNumber</th>
                        <th width="10%"> @Resource.DocumentDate</th>
                        <th width="10%"> @Resource.DocumentType</th>
                        <th width="14%"> @Resource.Sample @Resource.Type</th>
                        <th width="9%">@Resource.Other @Resource.Detail</th>
                        <th width="9%" id="issue_rec_dateID"> @Resource.Received @Resource.Date</th>
                        <th width="9%" id="IssuedByTDID"> @Resource.Issued @Resource.By</th>
                        <th width="8%"> @Resource.Quantity</th>
                        <th width="8%"> @Resource.CostPrice</th>
                        <th width="8%"> @Resource.Value</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                @*<tfoot>
                        <tr>
                            <th colspan="6" align="right"><strong> Total</strong></th>
                            <th align="right"><span id="ST_TotalAmount"></span></th>
                        </tr>
                    </tfoot>*@
            </table>
        </div>
        </div>
        <table class="table table-bordered">
            <tr class="total">
                <th width="645px" class="num_right"><strong> Total</strong></th>
                <th class="num_right"><strong> <span id="ST_TotalAmount"></span></strong></th>
                @*<th width="227"> &nbsp;</th>*@
            </tr>
        </table>
    </div>
</div>