@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FixedAssetManagement/AssetRegistration/AssetRegistration.js"></script>

<table id="datatable-buttons" class="table table-striped rowhighlighttbl width3400 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="6%" class="ItmNameBreak itmStick tditemfrz">@Resource.Asset @Resource.Description</th>
            <th width="6%" style="display:none">@Resource.Asset @Resource.Description</th>
            <th width="4%">@Resource.Asset   @Resource.Label</th>
            <th width="4%">@Resource.Serial   @Resource.Number</th>
            <th width="4%">@Resource.Group	</th>
            <th width="4%">@Resource.Category</th>
            <th width="4%">@Resource.Depreciation @Resource.Frequency</th>
            <th width="4%">@Resource.Requirement  @Resource.Area</th>
            @*<th width="4%">@Resource.Procurement  @Resource.Date</th>*@
            <th width="4%">@Resource.Capitalized  @Resource.Value</th>
            <th width="4%">@Resource.Current @Resource.Value</th>
            <th width="4%">@Resource.Asset   @Resource.Life</th>
            <th width="4%">@Resource.Working    @Resource.Date</th>
            <th width="3%">@Resource.Working   @Resource.Status</th>
            <th width="4%">@Resource.Depreciation @Resource.InPercentage</th>
            <th width="5%">@Resource.Additional <br /> @Resource.Depreciation @Resource.InPercentage</th>
            <th width="5%">@Resource.Accumulated <br /> @Resource.Depreciation</th>
            <th width="5%">@Resource.Status</th>
            <th width="5%">@Resource.CreatedBy</th>
            <th width="5%">@Resource.Createdon</th>
            <th width="5%">@Resource.ApprovedBy</th>
            <th width="5%">@Resource.ApprovedOn</th>
            <th width="5%">@Resource.AmendedBy</th>
            <th width="5%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ListDetail != null)
        {
            int Srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.ListDetail.Rows)
            {
        <tr role="row" class="odd">
            <td class="sorting_1">@Srno</td>
            <td id="AssetDescriptionNo" class="ItmNameBreak itmStick tditemfrz">@dr["AssetDescription"].ToString()</td>
            <td>@dr["AssetLabel"].ToString()</td>
            <td>@dr["serial_no"].ToString()</td>
            <td id="AssetRegId" style="display:none">@dr["AssetRegid"].ToString()</td>
            <td id="AssetGroup">@dr["AssetGroup"].ToString()</td>
            <td>@dr["Category"].ToString()</td>
            <td>@dr["Dep_freq"].ToString()</td>
            <td>@dr["assign_req_area"].ToString()</td>
            @*<td>@dr["procur_dt"].ToString()</td>*@
            <td class="num_right">@dr["proc_val"].ToString()</td>
            <td class="num_right">@dr["curr_val"].ToString()</td>
            <td class="num_right">@dr["assetlife"].ToString()</td>
            <td>@dr["AssetWorking_dt"].ToString()</td>
            <td>@dr["WorkingStatus"].ToString()</td>
            <td class="num_right">@dr["dep_per"].ToString()</td>
            <td class="num_right">@dr["add_dep_per"].ToString()</td>
            <td class="num_right">@dr["accumulated_dep"].ToString()</td>
            <td>@dr["ARStatus"].ToString()</td>
            <td>@dr["create_by"].ToString()</td>
            <td>@dr["CreateDate"].ToString()</td>
            <td>@dr["app_by"].ToString()</td>
            <td>@dr["ApproveDate"].ToString()</td>
            <td>@dr["mod_by"].ToString()</td>
            <td>@dr["ModifyDate"].ToString()</td>
        </tr>
                Srno = Srno + 1;
            }
        }
    </tbody>
</table>
@if (ViewBag.ListSearch != null)
{
    if (ViewBag.ListSearch == "ListSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        ViewBag.ListSearch = null;
    }
}










