@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }

}
<style>
    #datatable-buttons3_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
    #DataTable_ItemGroupWiseSummery_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #DataTable_ItemGroupWiseSummery_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }
    #DataTable_ItemGroupWiseSummery_wrapper {
        padding-left: 2px !important;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<input hidden="hidden" id="ItemGroupWiseFlag" value="@ViewBag.flag" />
@if (ViewBag.flag == "ItemGroupWiseSummery")
{
    <table id="DataTable_ItemGroupWiseSummery" class="table table-striped width1600 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="19%" class="itmStick">@Resource.Group @Resource.Name</th>
                <th hidden="hidden"></th>
                <th width="6%">@Resource.Currency</th>
                <th width="10%">@Resource.PurchaseAmount <br /> @Resource.InSpecific</th>
                <th width="10%">@Resource.PurchaseAmount <br /> @Resource.InBase</th>
                <th width="8%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="8%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="9%">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="9%">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="9%">@Resource.InvoiceAmount  <br /> @Resource.InSpecific</th>
                <th width="9%">@Resource.InvoiceAmount  <br /> @Resource.InBase </th>
            </tr>
        </thead>
        <tbody id="">
            @*@if (ViewBag.PrcItemGroupWiseDetail != null)
            {
                var srno = 1;
                foreach (DataRow dr in ViewBag.PrcItemGroupWiseDetail.Rows)
                {
                    <tr>
                        <td>@srno</td>
                        <td id="item_group_name" class="ItmNameBreak itmStick tditemfrz">@dr["item_group_name"].ToString()</td>
                        <td hidden="hidden" id="item_grp_id">@dr["item_grp_id"].ToString()</td>
                        <td class="center" id="curr_symbol">@dr["curr_symbol"].ToString()</td>
                        <td class="num_right" id="txt_PurchaseAmtSpec">@dr["purchase_amount_spec"].ToString()</td>
                        <td class="num_right" id="txt_PurchaseAmt">@dr["purchase_amount_bs"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                        <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                        <td class="num_right" id="txt_InvoiceAmtSpec">
                            <div class="col-sm-11" id="">@dr["invoice_amt_spec"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWSummeryInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseItemDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="@Resource.ItemDetail"> </button>
                            </div>
                        </td>
                        <td class="num_right" id="txt_InvoiceAmt">
                            <div class="col-sm-11" id="">@dr["invoice_amt_bs"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWSummeryInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseItemDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="@Resource.ItemDetail"> </button>
                            </div>
                        </td>

                    </tr>
                    srno++;
                }
            }*@

        </tbody>
        <tfoot id="DataTable_ItemGroupWiseSummery_footer"></tfoot>
    </table>
}
else
{
    <table id="DataTable_ItemGroupWiseSummery" class="table table-striped width2700 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="11%" class="itmStick">@Resource.Group @Resource.Name</th>
                <th hidden="hidden"></th>
                <th width="5%">@Resource.Currency</th>
                <th width="11%">@Resource.ItemName</th>
                <th width="5%">@Resource.UOM</th>
                <th width="5%">@Resource.Quantity</th>
                <th width="7%">@Resource.AverageCost @Resource.Price <br /> @Resource.InSpecific</th>
                <th width="7%">@Resource.AverageCost @Resource.Price <br /> @Resource.InBase</th>
                <th width="7%">@Resource.PurchaseAmount <br /> @Resource.InSpecific</th>
                <th width="7%">@Resource.PurchaseAmount <br /> @Resource.InBase</th>
                <th width="5%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="5%">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="5%">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="6%">@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.InvoiceAmount <br /> @Resource.InBase</th>
            </tr>
        </thead>
        <tbody id="">
            @*@if (ViewBag.PrcItemGroupWiseDetail != null)
            {
                var srno = 1;
                foreach (DataRow dr in ViewBag.PrcItemGroupWiseDetail.Rows)
                {
                    <tr>
                        <td>@srno</td>
                        <td id="item_group_name" class="ItmNameBreak itmStick tditemfrz">@dr["item_group_name"].ToString()</td>
                        <td hidden="hidden" id="item_grp_id">@dr["item_grp_id"].ToString()</td>
                        <td class="center" id="curr_symbol">@dr["curr_symbol"].ToString()</td>
                        <td class="ItmNameBreak">
                            <div class="col-sm-11" id="item_name">@dr["item_name"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <input hidden="hidden" id="Hdn_item_id" value="@dr["item_id"].ToString()" />
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="@Resource.ItemInformation "> </button>
                            </div>
                        </td>
                        <td id="uom_alias">@dr["uom_alias"].ToString()</td>
                        <td class="num_right" id="txt_mr_qty">@dr["item_qty"].ToString()</td>
                        <td class="num_right" id="txt_item_rate_spec">@dr["avg_item_rate_spec"].ToString()</td>
                        <td class="num_right" id="txt_item_rate_bs">@dr["avg_item_rate_bs"].ToString()</td>
                        <td class="num_right" id="txt_PurchaseAmtSpec">@dr["purchase_amount_spec"].ToString()</td>
                        <td class="num_right" id="txt_PurchaseAmt">@dr["purchase_amount_bs"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                        <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                        <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                        <td class="num_right">
                            <div class="col-sm-11" id="txt_InvoiceAmtSpec">@dr["invoice_amt_spec"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWItemInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="@Resource.InvoiceDetail"> </button>
                            </div>
                        </td>
                        <td class="num_right">
                            <div class="col-sm-11" id="txt_InvoiceAmt">@dr["invoice_amt_bs"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWItemInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="@Resource.InvoiceDetail"> </button>
                            </div>
                        </td>
                    </tr>
                    srno++;
                }
            }*@

        </tbody>
        <tfoot id="DataTable_ItemGroupWiseSummery_footer"></tfoot>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {

        PrecurmentDetailSuppWiseData_dttbl()

    });
    function PrecurmentDetailSuppWiseData_dttbl() {
        var HSN_code = "";
        var PurchaseBy = $("#ddl_Purchase_by").val();
        var brid_list = cmn_getddldataasstring("#ddl_branch");
        var ShowAs;
        if ($("#ProcurementMISOrderSummary").is(":checked")) {
            ShowAs = "S";
        }
        if ($("#ProcurementMISOrderDetail").is(":checked")) {
            ShowAs = "D";
        }
        var flag = "";
        if (PurchaseBy == "I") {
            if (ShowAs == "S") {
                flag = "Summary";
            }
            else {
                flag = "Detail";
            }
            //replaceDatatablesIds("dttbl0");
        }
        else if (PurchaseBy == "S") {
            if (ShowAs == "S") {
                flag = "SupplierWiseSummery";
            }
            else {
                flag = "SupplierWiseDetail";
            }
            //replaceDatatablesIds("dttbl1");
        }
        else if (PurchaseBy == "T") {
            if (ShowAs == "S") {
                flag = "ItemWiseSummery";
            }
            else {
                flag = "ItemWiseDetail";
            }
            HSN_code = $("#HSN_cd").val();
            //replaceDatatablesIds("dttbl2");
        }
        else if (PurchaseBy == "G") {
            if (ShowAs == "S") {
                flag = "ItemGroupWiseSummery";
            }
            else {
                flag = "ItemGroupWiseDetail";
            }
            //replaceDatatablesIds("dttbl3");
        }
        debugger;
        var search_prm = {
            Supp_id: $("#hdn_MultiselectSuppName").val(),
           // Inv_type: $("#ddl_PurchaseType").val(),
            Inv_type: Cmn_formatSelectedValues($("#ddl_PurchaseType").val()),
            category: $("#hdn_MultiselectSuppCatgry").val(),
            portFolio: $("#hdn_MultiselectPortfolio").val(),
            Group: $("#hdn_MultiselectItmGrpName").val(),
            Item_PortFolio: $("#hdn_MultiselectItmportfolio").val(),
            From_dt: $("#txtFromdate").val(),
            To_dt: $("#txtTodate").val(),
            flag: flag,
            HSN_code: HSN_code,
            brid_list: brid_list,
        }
        var model = {
            "search_prm": search_prm
        }
        $("#DataTable_ItemGroupWiseSummery").DataTable().destroy();
        $("#DataTable_ItemGroupWiseSummery").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/ApplicationLayer/ProcurementDetail/LoadPrcDetailsDataTable",
                "data": { model, PurchaseBy, ShowAs },
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    footerData = json.footer; // Save for later use in footerCallback
                    return json.data;
                }
            },
            "columns": StkDtldataColumns(),
            columnDefs: StkDtlDataColumnRenders(),
            "footerCallback": function (row, data, start, end, display) {

                if (!footerData) return;
                

                var colspan = 8;
                let SumDetFlag = $("#ItemGroupWiseFlag").val();
                if (SumDetFlag == "ItemGroupWiseSummery") {
                    colspan = 3;
                } else {
                    colspan = 8;
                }
                // Update footer
                var td = "";
                var td1 = "";
                var ValDigit = $("#ValDigit").text();
                var flag = $("#SumDetItemWiseFlag").val();
                //if (flag == "ItemWiseDetail") {
                //    td = "<td colspan='1' align='right'></td>";
                //}
                var txt_mr_qty = 0;
                var txt_item_rate_spec = 0;
                var txt_item_rate_bs = 0;
                var PurchaseAmtSpec = 0;
                var PurchaseAmt = 0;
                var TaxAmtSpec = 0;
                var TaxAmt = 0;
                var OcAmtSpec = 0;
                var OcAmt = 0;
                var InvAmtBs = 0;
                var InvAmtSpcs = 0;
                footerData.map((val, index) => {
                    //txt_mr_qty = parseFloat(txt_mr_qty) + parseFloat(cmn_ReplaceCommas(val.mr_qty));
                    //txt_item_rate_spec = parseFloat(txt_item_rate_spec) + parseFloat(cmn_ReplaceCommas(val.item_rate_spec));
                    //txt_item_rate_bs = parseFloat(txt_item_rate_bs) + parseFloat(cmn_ReplaceCommas(val.item_rate_bs));
                    PurchaseAmtSpec = parseFloat(PurchaseAmtSpec) + parseFloat(cmn_ReplaceCommas(val.purchase_amount_spec));
                    PurchaseAmt = parseFloat(PurchaseAmt) + parseFloat(cmn_ReplaceCommas(val.purchase_amount_bs));
                    TaxAmtSpec = parseFloat(TaxAmtSpec) + parseFloat(cmn_ReplaceCommas(val.tax_amt_spec));
                    TaxAmt = parseFloat(TaxAmt) + parseFloat(cmn_ReplaceCommas(val.tax_amt_bs));
                    OcAmtSpec = parseFloat(OcAmtSpec) + parseFloat(cmn_ReplaceCommas(val.oc_amt_spec));
                    OcAmt = parseFloat(OcAmt) + parseFloat(cmn_ReplaceCommas(val.oc_amt_bs));
                    InvAmtBs = parseFloat(InvAmtBs) + parseFloat(cmn_ReplaceCommas(val.invoice_amt_spec));
                    InvAmtSpcs = parseFloat(InvAmtSpcs) + parseFloat(cmn_ReplaceCommas(val.invoice_amt_bs));

                });
                

                $("#DataTable_ItemGroupWiseSummery_footer").html(`
<tr class="total">

                <td colspan="${colspan}" align="right"><strong>${$("#span_Total").text()}</strong></td>
 ${td}
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtSpcs).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtBs).toFixed(ValDigit))}</strong></td>
                ${td1}
            </tr>
`);
            },
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        var csvUrl = "/ApplicationLayer/ProcurementDetail/ExportCsv";
                        let CsvName = $("title").text() + "_" + moment().format('YYYYMMDDhhmmss');
                        Cmn_importDataToCSV(e, dt, button, config, csvUrl, CsvName);

                    }

                }],

        });
        //var exportbtn = `<button type="submit" class="btn btn-default buttons-csv buttons-html5 btn-sm" id='' tabindex="0" aria-controls="datatable-buttons"
        //        name="Command" value="CsvPrint" onclick="GetInvoiceWiseCSV()">
        //        <span>CSV</span></button>`;
        //$("#DataTable_ItemGroupWiseSummery_length").append(exportbtn);
    }
    function StkDtldataColumns() {
        var Array = [];
        let SumDetFlag = $("#ItemGroupWiseFlag").val();
        if (SumDetFlag == "ItemGroupWiseSummery") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "item_group_name", "name": "item_group_name", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "item_grp_id", "name": "item_grp_id", "autoWidth": true },
                { "data": "curr_symbol", "name": "curr_symbol", "autoWidth": true, className: "center" },
                { "data": "purchase_amount_spec", "name": "purchase_amount_spec", "autoWidth": true, className: "num_right" },
                { "data": "purchase_amount_bs", "name": "purchase_amount_bs", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_spec", "name": "tax_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_bs", "name": "tax_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_spec", "name": "oc_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_bs", "name": "oc_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_spec", "name": "invoice_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_bs", "name": "invoice_amt_bs", "autoWidth": true, className: "num_right" }
                //{ "data": "bill_no", "name": "bill_no", "autoWidth": true, className: "" },
                //{ "data": "bill_dt", "name": "bill_dt", "autoWidth": true, className: "" }
            ]

        }
        else {

            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "item_group_name", "name": "item_group_name", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "item_grp_id", "name": "item_grp_id", "autoWidth": true, className: "" },
                { "data": "curr_symbol", "name": "curr_symbol", "autoWidth": true, className: "center" },
                { "data": "item_name", "name": "item_name", "autoWidth": true, className: "" },
                //{ "data": "item_id", "name": "item_id", "autoWidth": true, className: "" },
                { "data": "uom_alias", "name": "uom_alias", "autoWidth": true, className: "" },
                { "data": "mr_qty", "name": "item_qty", "autoWidth": true, className: "center" },
                { "data": "item_rate_spec", "name": "avg_item_rate_spec", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "item_rate_bs", "name": "avg_item_rate_bs", "autoWidth": true },
                { "data": "purchase_amount_spec", "name": "purchase_amount_spec", "autoWidth": true, className: "num_right" },
                { "data": "purchase_amount_bs", "name": "purchase_amount_bs", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_spec", "name": "tax_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_bs", "name": "tax_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_spec", "name": "oc_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_bs", "name": "oc_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_spec", "name": "invoice_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_bs", "name": "invoice_amt_bs", "autoWidth": true, className: "num_right" }
                //{ "data": "bill_no", "name": "bill_no", "autoWidth": true },
                //{ "data": "bill_dt", "name": "bill_dt", "autoWidth": true }
            ]

        }
        return Array;
    }
    function StkDtlDataColumnRenders() {
        debugger;
        var array = [];
        let SumDetFlag = $("#ItemGroupWiseFlag").val();
        if (SumDetFlag == "ItemGroupWiseSummery") {
            array = [
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'item_group_name');
                    },
                    targets: 1//supp_name
                },

                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'item_grp_id');
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 2
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'curr_symbol');
                    },
                    targets: 3
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmtSpec');
                    },
                    targets: 4
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmt');
                    },
                    targets: 5
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmtSpec');
                    },
                    targets: 6
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmt');
                    },
                    targets: 7
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmtSpec');
                    },
                    targets: 8
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmt');
                    },
                    targets: 9
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmtSpec');
                    },
                    render: (data, type, row) => {
                        return `<div class="col-sm-11" id="">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWSummeryInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseItemDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="Item Detail"> </button>
                            </div>`
                    },
                    targets: 10
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmt');
                    },
                    render: (data, type, row) => {
                        return `<div class="col-sm-11" id="">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWSummeryInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseItemDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="Item Detail"> </button>
                            </div>`;
                    },
                    targets: 11
                },
            ]

        }
        else {
            array = [
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'item_group_name');
                    },
                    targets: 1//supp_name
                },

                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'item_grp_id');
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 2
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'curr_symbol');
                    },
                    targets: 3
                },
                {
                    render: (data, type, row) => {
                        return `<div class="col-sm-11" id="item_name">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <input hidden="hidden" id="Hdn_item_id" value="${row.item_id}">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="Item Information "> </button>
                            </div>`;
                    },
                    targets: 4
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'uom_alias');
                    },
                    targets: 5
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_mr_qty');
                    },
                    targets: 6
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_item_rate_spec');
                    },
                    targets: 7
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_item_rate_bs');
                    },
                    targets: 8
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmtSpec');
                    },
                    targets: 9
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmt');
                    },
                    targets: 10
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmtSpec');
                    },
                    targets: 11
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmt');
                    },
                    targets: 12
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmtSpec');
                    },
                    targets: 13
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmt');
                    },
                    targets: 14
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmtSpec');
                    },
                    render: (data, type, row) => {
                        return `<div class="col-sm-11" id="">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWItemInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="Invoice Detail"> </button>
                            </div>`
                    },
                    targets: 15
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmt');
                    },
                    render: (data, type, row) => {
                        return `<div class="col-sm-11" id="">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" id="" class="calculator iButton" onclick="OnClickIGWItemInvAmt(event)" data-toggle="modal" data-target="#ProcurementItemGroupWiseInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" width="100%" height="16" alt="" title="Invoice Detail"> </button>
                            </div>`;
                    },
                    targets: 16
                }
            ]

        }
        return array;
    }
</script>
@*@{
    if (TempData["SDFilter"] != null)
    {
        if (TempData["SDFilter"].ToString() == "SDFilter")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            <script>
                $(document).ready(function () {

                    var flag = $("#ItemGroupWiseFlag").val();
                    if (flag == "ItemGroupWiseDetail") {
                        $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInputDetail("datatable-buttons3",5)');
                        $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInputDetail("datatable-buttons3",5)');
                        CalculateAmtOnSearchInputDetail("datatable-buttons3", 5);
                    }
                    else {
                        $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInput("datatable-buttons3",3)');
                        $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInput("datatable-buttons3",3)');
                        CalculateAmtOnSearchInput("datatable-buttons3", 3);
                    }
                });
            </script>
        }
    }
}*@