@using EnRepMobileWeb.Resources;
@{
    var disabled = true;
    if(ViewBag.Disable == true)
    {
        disabled = true;
    }
    else
    {
        disabled = false;
    }
}
<div class="modal-content" id="tbody_ItemHistory">
    <div class="modal-header">
        <h2> @Resource.ContactDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">@Resource.ContactPerson</label>
                <input id="ContactPerson" class="form-control" value="@ViewBag.Contectpersone" disabled="@disabled" autocomplete="off" type="text" name="ContactPerson" placeholder="@Resource.ContactPerson">
                <input type="hidden" id="AlredySaveContectDetail" />
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">@Resource.ContactNumber</label>
                <input id="ContactNumber" value="@ViewBag.contectNumber" class="form-control" disabled="@disabled"autocomplete="off" type="text" name="ContactNumber" placeholder="@Resource.ContactNumber">
            </div>

        </div>
        <div class="card-box table-responsive dy_table">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">

            </div>
        </div>
    </div>
    @*<div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>*@
<div class="modal-footer" id="TaxCalcButtons">
    @if (ViewBag.Disable == true)
    {
        <button type="button" class="btn btn-primary btn-sm" id="CloseBtnContect"  data-dismiss="modal" style="display: block;">@Resource.Close</button>
    }
    else
    {
        <button type="button" class="btn btn-primary btn-sm" id="TaxResetBtn" onclick="OnClickResetBtnContectDeatil();" style="display: block;">@Resource.Reset</button>
        <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn" onclick="OnClickSaveAndExitContectDeatil();" data-dismiss="modal" style="display: block;">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" id="TaxExitAndDiscard" data-dismiss="modal" onclick="OnClickDiscardAndExitBtnContectDeatil();">@Resource.DiscardAndExit</button>
    }

</div>
</div>


