@using EnRepMobileWeb.Resources;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
@*<style>
        #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
            display: inline-block;
            position: absolute;
        }
    </style>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>

<table id="datatable-buttons1" class="table table-striped rowhighlighttbl mb-3 width2000 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.DeliveryNote <br /> @Resource.Number</th>
            <th width="5%" style="min-width:100px;">@Resource.DeliveryNote <br /> @Resource.Date</th>
            @*<th hidden="hidden"> @Resource.DeliveryNote <br /> @Resource.Date</th>*@
            <th width="10%">@Resource.Supplier <br /> @Resource.Name </th>
            <th width="16%">@Resource.Item @Resource.Name</th>
            <th hidden="hidden"> @Resource.ItemID</th>
            <th width="7%">@Resource.Received <br /> @Resource.Quantity</th>
            <th width="3%"> @Resource.UOM</th>
            <th hidden="hidden"> @Resource.UOM</th>
            <th width="5%">@Resource.BillNumber </th>
            <th width="5%">@Resource.BillDate</th>
            <th width="7%">@Resource.Billed <br /> @Resource.Quantity</th>
            <th width="10%">@Resource.Order <br /> @Resource.Number</th>
            <th width="5%">@Resource.Order <br /> @Resource.Date</th>
            <th width="7%">@Resource.Ordered <br /> @Resource.Quantity</th>
            <th width="7%">@Resource.Pending <br /> @Resource.Quantity</th>
            <th width="3%">@Resource.QC @Resource.Required  </th>
            @*<th hidden="hidden" id="Ord_Dt"> @Resource.DeliveryNoteDate</th>*@
            @*<th hidden="hidden" id="Ord_Dt"> @Resource.BillDate</th>*@
            @*<th hidden="hidden" id="Ord_Dt"> @Resource.OrderDate</th>*@
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ItemWiseSummary != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.ItemWiseSummary.Rows)
            {
                var subitmDisable = "";
                if (dr["sub_item"].ToString() != "Y")
                {
                    subitmDisable = "disabled";
                }
                <tr>
                    <td>@srno</td>
                    <td id="td_DnNo" class="ItmNameBreak itmStick tditemfrz">@dr["DNNo"].ToString()</td>
                    <td id="td_DnDt">@dr["DNDt"].ToString()</td>
                    @*<td hidden="hidden" id="td_DnDate">@dr["DNDate"].ToString()</td>*@
                    <td>@dr["supp_name"].ToString()</td>
                    <td id="td_ItemName">@dr["item_name"].ToString()</td>
                    <td hidden="hidden" id="td_ItemId">@dr["item_id"].ToString()</td>
                    <td class="num_right">
                        <div class=" col-sm-8 no-padding" id="MISDNRecvQty">
                            @Convert.ToDecimal(dr["recd_qty"]).ToString(ValDigit)
                        </div>
                        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQty">
                            <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                            <button type="button" id="SubItemMISDNRecvQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('MIS_DNRecvQty',event)" data-toggle="modal" data-target="#MISDN_SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                        </div>
                    </td>
                    <td id="td_UomName">@dr["uom_name"].ToString()</td>
                    <td hidden="hidden">@dr["uom_id"].ToString()</td>
                    <td>@dr["BillNo"].ToString()</td>
                    <td>@dr["BillDt"].ToString()</td>
                    <td class="num_right">
                        <div class=" col-sm-8 no-padding" id="MISDNBillQty">
                            @Convert.ToDecimal(dr["bill_qty"]).ToString(ValDigit)
                        </div>
                        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQty">
                            <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                            <button type="button" id="SubItemMISDNBillQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('MIS_DNBillQty',event)" data-toggle="modal" data-target="#MISDN_SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                        </div>
                    </td>
                    <td>@dr["OrderNo"].ToString()</td>
                    <td>@dr["OrderDt"].ToString()</td>

                    <td class="num_right">
                        <div class=" col-sm-8 no-padding" id="MISDNOrdQty">
                            @Convert.ToDecimal(dr["OrderQty"]).ToString(ValDigit)
                        </div>
                        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQty">
                            <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                            <button type="button" id="SubItemMISDNOrdQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('MIS_DNOrdQty',event)" data-toggle="modal" data-target="#MISDN_SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                        </div>
                    </td>
                    <td class="num_right">
                        <div class=" col-sm-8 no-padding" id="MISDNPendQty">
                            @Convert.ToDecimal(dr["PendingQty"]).ToString(ValDigit)
                        </div>
                        <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQty">
                            <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                            <button type="button" id="SubItemMISDNPendQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('MIS_DNPendQty',event)" data-toggle="modal" data-target="#MISDN_SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                        </div>
                    </td>
                    @*@if (dr["qc_check"].ToString() == "Y")
                        {
                            <td class="center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                        }
                        else if (dr["qc_check"].ToString() == "N")
                        {
                            <td class="center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></td>
                        }*@
                    <td class="center">@dr["qc_check"].ToString()</td>
                </tr>
                srno = srno + 1;
            }
        }
    </tbody>
</table>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}
