@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.CostCenter @Resource.Allocation</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        @*<div class="col-md-4 col-sm-12 pl-0" >
                <label class="col-form-label label-align">@Resource.RequirementArea</label>
                <input id="RequirementArea" class="form-control" autocomplete="off" type="text" name="RequirementArea" placeholder="@Resource.RequirementArea" disabled="">
            </div>*@
        <div class="col-md-4 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.FinancialYear</label>
            <input id="FinancialYear" class="form-control " autocomplete="off" type="text" name="FinancialYear" placeholder="@Resource.FinancialYear" disabled="">
        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <label class="col-form-label label-align ">@Resource.Budget @Resource.Amount</label>
            <input id="BudgetAmount" class="form-control num_right" autocomplete="off" type="text" name="BudgetAmount" placeholder="0000.00" disabled="">
        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.CostCenter @Resource.Type <span class="required">*</span></label>
            <select class="form-control" name="EntityType">
                <option value="0">---Select---</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.CostCenter <span class="required">*</span></label>

            <select class="form-control" name="EntityType">
                <option value="0">---Select---</option>
            </select>

        </div>
        <div class="col-md-4 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.Amount <span class="required">*</span></label>
            <input id="CCAmount" class="form-control num_right" autocomplete="off" type="text" name="Amount" placeholder="00.00">
        </div>
        <div class="card-box table-responsive dy_table margin10">

            <div class="tableFixHead height55VH ">
                <table class="table table-striped margin5" id="tbladd">
                    <thead>
                        <tr class="sticky-header">
                            <th width="3%">&nbsp; </th>
                            <th>@Resource.CostCenter @Resource.Type</th>
                            <th>@Resource.CostCenter</th>
                            <th>@Resource.Amount</th>

                        </tr>
                    </thead>
                    <tbody id="tbladd_body">
                        <tr id="tr_103">
                            <td width="20" class="center bom_width_td"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>

                            <td id="CCtype_Name">Group</td>
                            <td hidden="hidden"><input type="hidden" id="hdn_ddl_Type_Id" value="103"></td>
                            <td hidden="hidden"><input type="hidden" id="hdn_ddl_Type_Name" value="Group"></td>
                            <td class="no-padding" colspan="2">
                                <table id="tbl_103" border="0" width="100%">
                                    <tbody id="103">
                                        <tr>
                                            <td width="20" class="center bom_width_td"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>

                                            <td class="bom_width_td"><i class="fa fa-edit" aria-hidden="true" id="hdn_editRowId" title=""></i></td>

                                            <td id="CC_Name" style="width:266px;">Tractor Parts</td>
                                            <td id="CC_Amount" class="num_right">10.00</td>
                                            <td hidden="hidden"><input type="hidden" id="hdntbl_CstAmt" value="10.00"></td>
                                            <td hidden="hidden"><input type="hidden" id="hdntbl_CC_Name" value="Tractor Parts"></td>
                                            <td hidden="hidden"><input type="hidden" id="hdntbl_CCName_Id" value="107"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="width:3%;">&nbsp;</td>
                                            <td style="width:30%;">&nbsp;</td>
                                            <td class="num_right" style="width:50%;"><strong>Total</strong></td>
                                            <td class="num_right" id="Total_103" placeholder="00.00" style="width:17%;">10.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        @*<div class="card-box table-responsive dy_table margin15">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="10%"> @Resource.SrNo</th>
                                <th width="30%">@Resource.Month</th>
                                <th width="30%">@Resource.Period</th>
                                <th width="30%">@Resource.Budget @Resource.Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td> September</td>
                                <td>01-04-2023 - 31-03-2024</td>
                                <td class="num_right">1500000.00	</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="" onclick="">@Resource.Cancel</button>
        @*<button type="button" class="btn btn-primary btn-sm" id="" onclick="">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.DiscardAndExit</button>*@
    </div>
</div>
