@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.PaymentAdvice.PaymentAdviceListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/PaymentAdvice/PaymentAdvice.js"></script>
@*<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="16%">@Resource.Advice @Resource.Number</th>
            <th width="12%">@Resource.Advice @Resource.Date</th>
            <th hidden>@Resource.Advice @Resource.Date</th>
            <th width="12%">@Resource.Status</th>
            <th width="14%">@Resource.CreatedBy</th>
            <th width="16%">@Resource.Createdon</th>
            <th width="14%">@Resource.ApprovedBy</th>
            <th width="12%">@Resource.ApprovedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PAList != null)
        {
            foreach (var row in Model.PAList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    @*<td id="VouNumber">@row.VouNumber</td>*@
                    <td id="PAdvNumber_lst" @*class="ItmNameBreak itmStick tditemfrz"*@>@row.PANumber</td>
                    <td>@row.PADate</td>
                    <td hidden id="hdPAdvDate_lst">@row.hdPADate</td>
                    <td id="PAdv_Status_lst">@row.PAStatus</td>
                    <td>@row.create_by</td>
                    <td>@row.CreatedON</td>
                    <td>@row.app_by</td>
                    <td>@row.ApprovedOn</td>

                </tr>
            }
        }
        @*<tr>
                <td>01</td>
                <td>
                    <div class="col-sm-11">B1/03/25/QC0000065</div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator iButton" onclick="" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false">  <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.AdviceNumber @Resource.Detail">  </button>
                    </div>
                </td>
                <td>06-Mar-2025</td>
                <td>Prakash</td>
                <td>10-Feb-2025 15:39</td>
                <td>Prakash</td>
                <td>28-Mar-2025 17:47</td>
            </tr>*@


    </tbody>
</table>
@if (Model.PASearch != null)
{
    //if (Session["VouSearch"].ToString() == "Vou_Search")
    if (Model.PASearch == "PA_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["VouSearch"] = null;
        Model.PASearch = null;
    }
}







