@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    //string ValDigit = "0.";
    //var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    //for (var i = 0; i < VD; i++)
    //{
    //    ValDigit += "0";
    //}
    //decimal total = 0;
}
<style>
    #datatable-buttons2_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@if (ViewBag.flag == "S")
{
    <table id="datatable-buttons" class="table table-striped rowhighlighttbl mb-3 width2500 itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%"> @Resource.SrNo</th>
                <th hidden="hidden"> @Resource.SrNo</th>
                <th width="9%" class="itmStick">@Resource.Order @Resource.Number</th>
                <th width="5%">@Resource.Order @Resource.Date</th>
                <th hidden="hidden">@Resource.Order <br /> @Resource.Date</th>
                <th width="5%">@Resource.Order <br /> @Resource.Type</th>
                <th width="6%">@Resource.Source <br /> @Resource.Type</th>
                <th width="8%">@Resource.Source <br /> @Resource.Document</th>
                <th width="10%">@Resource.Supplier @Resource.Name</th>
                <th width="4%">@Resource.Category</th>
                <th width="4%">@Resource.Portfolio</th>
                <th width="4%">@Resource.Currency</th>

                <th width="8%">@Resource.Order @Resource.Value</th>
                <th width="6%">@Resource.Status</th>
                <th width="6%">@Resource.CreatedBy</th>
                <th width="6%">@Resource.Createdon</th>
                <th width="6%">@Resource.ApprovedBy</th>
                <th width="6%">@Resource.ApprovedOn</th>
                <th width="6%">@Resource.AmendedBy</th>
                <th width="6%">@Resource.AmendedBy</th>
                <th hidden="hidden"></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.OrderSummary != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.OrderSummary.Rows)
                {
            <tr>
                <td>@srno</td>
                <td hidden="hidden" id="hdnPoNo">@dr["po_no"].ToString()</td>
                <td class="ItmNameBreak itmStick tditemfrz">
                    <div class="col-md-10 col-sm-12 no-padding num_right ">@dr["po_no"].ToString()</div>
                    <div class="col-sm-2  i_Icon no-padding">
                        <button type="button" id="" class="calculator" onclick="BindMisOrderSummary(event);" data-toggle="modal" data-target="#MISOrderNumberDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Order @Resource.Number @Resource.Detail">  </button>
                    </div>
                </td>
                <td id="hdnOrderDate">@dr["po_dt1"].ToString()</td>
                <td id="hdnPoDt" hidden="hidden">@dr["po_dt"].ToString()</td>
                <td id="hdnOrderType">@dr["order_type"].ToString()</td>
                <td>@dr["src_type"].ToString()</td>
                <td>@dr["src_doc_number"].ToString()</td>
                <td id="hdnSuppName">@dr["supp_name"].ToString()</td>
                <td>@dr["supp_cat_name"].ToString()</td>
                <td>@dr["supp_port_name"].ToString()</td>
                <td id="hdnCurrLogo" class="center">@dr["curr_logo"].ToString()</td>

                <td class="num_right" id="Mis_net_val_bs">@dr["net_val_bs"].ToString()</td>
                <td>@dr["status_name"].ToString()</td>
                <td>@dr["Createdby"].ToString()</td>
                <td>@dr["create_dt"].ToString()</td>
                <td>@dr["ApprovedBy"].ToString()</td>
                <td>@dr["app_dt"].ToString()</td>
                <td>@dr["AmendedBy"].ToString()</td>
                <td>@dr["mod_dt"].ToString()</td>
                <td id="hdn_brid" hidden="hidden">@dr["br_id"].ToString()</td>
            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.TotalSummeryOrderWise != null)
            {
                foreach (DataRow dr in ViewBag.TotalSummeryOrderWise.Rows)
                {
                    <tr class="total">
                        <td colspan="10" align="right"><strong>Total</strong></td>
                        <td class="num_right"><strong>@dr["net_val_bs"].ToString()</strong></td>
                        <td colspan='7' align='right'></td>
                    </tr>
                }
            }
        </tfoot>
    </table>
}
else
{
    <table id="datatable-buttons" class="table table-striped rowhighlighttbl width3000 itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th> @Resource.SrNo</th>
                <th width="10%" class="itmStick">@Resource.Item @Resource.Name</th>
                <th width="4%">@Resource.UOM</th>
                <th width="10%">@Resource.Supplier <br /> @Resource.Name</th>
                <th width="10%">@Resource.Category </th>
                <th width="10%">@Resource.Portfolio </th>
                <th width="6%">@Resource.Order <br /> @Resource.Number</th>
                <th width="4%">@Resource.Order <br /> @Resource.Date</th>
                <th width="4%">@Resource.Order <br /> @Resource.Type</th>
                <th>@Resource.Currency</th>
                <th width="4%">@Resource.Source <br /> @Resource.Type</th>
                <th width="6%">@Resource.Source <br /> @Resource.Document</th>
                <th width="4%">@Resource.Order <br /> @Resource.Quantity</th>
                <th width="4%">@Resource.Price</th>
                <th width="4%">@Resource.Discount <br /> @Resource.PerUnit</th>
                <th width="4%">@Resource.Discount <br /> @Resource.Value</th>
                <th width="4%">@Resource.Gross <br /> @Resource.Value</th>
                <th width="4%">@Resource.Tax <br /> @Resource.Amount</th>
                <th width="4%">@Resource.Other <br /> @Resource.Charges</th>
                <th width="4%">@Resource.NetValue <br /> @Resource.InSpecific</th>
                <th width="4%">@Resource.NetValue <br /> @Resource.InBase</th>
                <th width="5%">@Resource.Status</th>
                <th width="5%">@Resource.ForceClosed</th>
            </tr>
        </thead>
        <tbody>
            @*@if (ViewBag.OrderDetails != null)*@
            @if (ViewBag.OrderSummary != null)
            {
                var srno = 1;
                //foreach (System.Data.DataRow dr in ViewBag.OrderDetails.Rows)
                foreach (System.Data.DataRow dr in ViewBag.OrderSummary.Rows)
                {
                    <tr>
                        <td>@srno</td>
                        <td class="ItmNameBreak itmStick tditemfrz">@dr["item_name"].ToString()</td>
                        <td>@dr["uom_name"].ToString()</td>
                        <td>@dr["supp_name"].ToString()</td>
                        <td>@dr["supp_cat_name"].ToString()</td>
                        <td>@dr["supp_port_name"].ToString()</td>
                        <td>@dr["po_no"].ToString()</td>
                        <td>@dr["po_dt1"].ToString()</td>
                        <td>@dr["order_type"].ToString()</td>
                        <td class="center">@dr["curr_logo"].ToString()</td>
                        <td>@dr["src_type"].ToString()</td>
                        <td>@dr["src_doc_number"].ToString()</td>
                        <td class="num_right">@dr["ord_qty_base"].ToString()</td>
                        <td class="num_right">@dr["item_rate"].ToString()</td>
                        <td class="num_right">@dr["DiscPerUnit"].ToString()</td>
                        <td class="num_right">@dr["item_disc_val"].ToString()</td>
                        <td class="num_right">@dr["item_gr_val"].ToString()</td>
                        <td class="num_right">@dr["item_tax_amt"].ToString()</td>
                        <td class="num_right">@dr["item_oc_amt"].ToString()</td>
                        <td class="num_right">@dr["item_net_val_spec"].ToString()</td>
                        <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                        <td class="num_right">@dr["status_name"].ToString()</td>
                        <td>@dr["force_close"].ToString()</td>
                    </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.TotalDetailOrderWise != null)
            {
                foreach (DataRow dr in ViewBag.TotalDetailOrderWise.Rows)
                {
                    <tr class="total">
                        <td colspan="12" align="right"><strong>Total</strong></td>
                        <td class="num_right"><strong>@dr["ord_qty_base"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_rate"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["DiscPerUnit"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_disc_val"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_gr_val"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_tax_amt"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_oc_amt"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_net_val_spec"].ToString()</strong></td>
                        <td class="num_right"><strong>@dr["item_net_val_bs"].ToString()</strong></td>
                        <td colspan='2' align='right'></td>
                    </tr>
                }
            }
        </tfoot>
    </table>
}

@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}