@using EnRepMobileWeb.Resources;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
<style>
    #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>

<table id="datatable-buttons1" class="table table-striped rowhighlighttbl mb-3 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="27%"class="itmStick">@Resource.Item @Resource.Name</th>
            <th hidden="hidden"> @Resource.ItemID</th>
            <th width="10%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
            <th hidden="hidden"> @Resource.UOM</th>
            <th hidden="hidden"> @Resource.ReceivedQuantity</th>
            <th width="15%">@Resource.Receipt <br /> @Resource.Quantity</th>
            <th width="15%">@Resource.Accepted <br /> @Resource.Quantity</th>
            <th width="15%">@Resource.Rejected <br /> @Resource.Quantity</th>
            <th width="15%">@Resource.Rework <br /> @Resource.Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ItemWiseSummary != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.ItemWiseSummary.Rows)
            {
                <tr>
                    <td>@srno</td>
                    <td id="hdnItemName" class="ItmNameBreak itmStick tditemfrz">@dr["item_name"].ToString()</td>
                    <td hidden="hidden" id="hdnItemId">@dr["item_id"].ToString()</td>
                    <td id="hdnUomName">@dr["uom_name"].ToString()</td>
                    <td hidden="hidden" id="hdnUomId">@dr["uom_id"].ToString()</td>
                    <td hidden="hidden" id="hdnItemQty">@dr["ReceiptQty"].ToString()</td>
                    <td>
                        <div class="col-md-10 col-sm-12 no-padding num_right">@Convert.ToDecimal(dr["ReceiptQty"]).ToString(ValDigit) </div>
                        <div class="col-sm-2  i_Icon no-padding">
                            <button type="button" id="" class="calculator" onclick="BindMRSSummary(event);" data-toggle="modal" data-target="#ReceiptQuantityDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipt @Resource.Quantity @Resource.Detail">  </button>
                        </div>
                    </td>
                    <td class="num_right">@Convert.ToDecimal(dr["AcceptQty"]).ToString(ValDigit)</td>
                    <td class="num_right">@Convert.ToDecimal(dr["RejectQty"]).ToString(ValDigit)</td>
                    <td class="num_right">@Convert.ToDecimal(dr["rework_qty"]).ToString(ValDigit)</td>
                </tr>
                srno = srno + 1;
            }
        }
    </tbody>
</table>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}