@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.PaymentAdvice.PaymentAdviceModel
@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@{
    var rowId = 0;
    //var rowId1 = 0;
    var Disable = true;
    //if (Session["TransType"].ToString() == "Update")
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        //if (Session["Command"].ToString() == "Refresh")
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
    //string ValDigit = "0.";
    //var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    //for (var i = 0; i < VD; i++)
    //{
    //    ValDigit += "0";
    //}
    //string width1300 = "";
    //if (Model.EntityType == "S")
    //{
    //    width1300 = "width1300";
    //}
    //string IsNull(string inStr, string outStr)
    //{
    //    return string.IsNullOrEmpty(inStr) ? outStr : inStr;
    //}
    //decimal TotalAdvAdjAmt = 0;
    //decimal TotalInvAdjAmt = 0;
}
<div class="card-box table-responsive dy_table">
    <div class="col-md-12">
        <div class="price_item_detail">
            <h2 class="col-md-9 col-sm-12 no-padding mt-1">@Resource.ItemDetail</h2>
            <div class="col-md-3 col-sm-12 no-padding num_right mb-2"><label class="label pt-1 col-md-4 col-sm-12 num_right pr-0" for="SearchItmDetailsTbl">@Resource.Search @Resource.Item : </label><input type="text" class="form-control col-md-7 col-sm-12" id="SearchItmDetailsTbl" onkeyup="PA_FilterItemDetail(event)" /> </div>
            <div class="col-md-12 no-padding">
                <div class="tableFixHead height55VH">
                    <table id="ItemDetailTbl" class="table table-bordered itmfrz">
                        <thead>
                            <tr class="sticky-header">
                                @*
                            <th width="5%"> &nbsp;</th>*@
                                <th class="center" width="4%">

                                    @if (Disable || (Model.DocumentStatus != "D" &&  Model.DocumentStatus != "F"))
                                    {
                                        <input type="checkbox" class="tableflat" id="AllAdvCheck" disabled>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="tableflat" id="AllAdvCheck" onclick="OnClickAllAdvCheck()">

                                    }
                                </th>
                                <th width="4%">@Resource.SrNo</th>
                                <th width="16%" class="itmStick">@Resource.Voucher @Resource.Number</th>
                                <th width="10%">  @Resource.Voucher @Resource.Date </th>
                                <th width="12%">@Resource.BankAccount</th>
                                <th width="15%">@Resource.Payee @Resource.Name</th>
                                <th width="13%">@Resource.Amount</th>
                                <th width="13%">@Resource.InstrumentType</th>
                                <th width="13%">@Resource.InstrumentNumber</th>
                                <th width="13%">@Resource.InstrumentDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                            <td class="center"><input type="checkbox" class="tableflat" id=""></td>
                            <td class="sr_padding">01</td>
                            <td class="ItmNameBreak itmStick tditemfrz">B1/08/24/FGR0000006</td>
                            <td>29-08-2024</td>
                            <td>798259878765  </td>
                            <td>B1/08/24/FGR0000006</td>
                            <td class="num_right">87698.000</td>
                            <td>Demand Draft</td>
                            <td>456345</td>

                        </tr>*@
                            @if (Model.VouItm_List != null)
                            {
                                foreach (var row in Model.VouItm_List)
                                {
                                    rowId++;
                                    <tr id="@rowId">

                                        @if (Disable || (Model.DocumentStatus != "D" && Model.DocumentStatus != "F"))
                                        {
                                            <td class="center">
                                                <input type="checkbox" class="tableflat" id="AdvCheck" disabled>
                                                <input id="hdn_AdvCheck" hidden="hidden" value="@row.ChkPadv">

                                            </td>

                                        }
                                        else
                                        {
                                            <td class="center">
                                                <input type="checkbox" class="tableflat" id="AdvCheck" onclick="OnClickAdvCheck(event)">
                                                <input id="hdn_AdvCheck" hidden="hidden" value="@row.ChkPadv">
                                            </td>

                                        }
                                        <td class="center" id="SNohiddenfiled" value="@rowId">
                                            @rowId
                                            <input id="SNohiddenfiled" hidden="hidden" value="@rowId">
                                        </td>
                                        <td>
                                            <input id="tbl_VouNo" class="form-control" disabled value="@row.Vou_No">
                                        </td>
                                        <td>
                                            <input id="tbl_VouDate" class="form-control" disabled="" value="@row.Vou_Date">
                                            <input id="tbl_VouDt" hidden="hidden" value="@row.Vou_Dt">
                                        </td>
                                        <td>
                                            <input id="tbl_AccName" class="form-control" disabled="" value="@row.BankAccount">
                                            <input id="tbl_AccId" hidden="hidden" value="@row.BankAccountId">
                                        </td>
                                        <td>
                                            <input id="tbl_GlName" class="form-control" disabled value="@row.GLAccount">
                                            <input id="tbl_GlAccId" hidden="hidden" value="@row.GLAccountId">
                                        </td>
                                        <td><input id="tbl_Amt" class="form-control num_right" disabled value="@row.Amount"></td>
                                        <td>
                                            <input id="tbl_InsType" class="form-control" disabled value="@row.Instrument_Type">
                                            <input id="tbl_InsTypeId" hidden="hidden" value="@row.InsType_Id">
                                        </td>
                                        @if (Disable)
                                        {
                                            <td><input id="tbl_InsNo" class="form-control" value="@row.Instrument_No" disabled></td>
                                        }
                                        else
                                        {
                                            <td><input id="tbl_InsNo" class="form-control" value="@row.Instrument_No" maxlength="20" autocomplete="off"></td>
                                        }
                                        @if (Disable)
                                        {
                                            <td><input id="tbl_InsDt" class="form-control" type="date" value="@row.Instrument_Dt" max="@DateTime.Now.ToString("yyyy-MM-dd")" disabled></td>
                                        }
                                        else
                                        {
                                            <td><input id="tbl_InsDt" class="form-control" type="date" value="@row.Instrument_Dt" max="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="InstrumentDateValidation(event)"></td>
                                        }
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </div>
</div>




@if (Model.VouSearch != null)
{

    if (Model.VouSearch == "Vou_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")

        Model.VouSearch = null;
    }
}

