@using EnRepMobileWeb.Resources;

<style>
    #AssetTransferDetail .dataTables_length, .DataTable1_filter, .dt-buttons, .buttons-csv, .buttons-pdf {
        float: left;
    }

    #AssetTransferDetail .dt-buttons {
        width: 10%;
        margin-left: 2%;
    }

    #AssetTransferDetail a.buttons-pdf {
        display: none;
    }
</style>
<div id="AssetTransferDetail">
    <div class="modal-content">
        <div class="modal-header">
            <h2>@Resource.Transfer @Resource.Detail</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body pop_top">

            <div class="col-md-4 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.Asset @Resource.Description </label>
                <input id="AssetDescriptionTD" class="form-control" autocomplete="off" type="text" name="AssetDescription" placeholder="@Resource.Asset @Resource.Description" disabled="">
            </div>
            <div class="col-md-4 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.Label</label>
                <input id="AssetLabelTD" class="form-control" autocomplete="off" type="text" name="AssetLabel" placeholder="@Resource.Asset @Resource.Label" disabled="">
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.SerialNumber</label>
                <input id="SerialNumberTD" class="form-control" autocomplete="off" type="text" name="SerialNumber" placeholder="@Resource.Serial @Resource.Number" disabled="">
            </div>
        </div>
        <div class="clear"></div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="tblAssetTransferDetail" data-order="" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="13%">@Resource.Transfer  @Resource.Date</th>
                            <th width="14%">@Resource.Document <br />  @Resource.Number</th>
                            <th width="13%">@Resource.Document <br /> @Resource.Date</th>
                            <th width="28%">@Resource.Source @Resource.Requirement   @Resource.Area</th>
                            <th width="28%">@Resource.Destination @Resource.Requirement @Resource.Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.AssetTransferDetails != null)
                        {
                            int i = 0;
                            foreach (System.Data.DataRow Row in ViewBag.AssetTransferDetails.Rows)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@Row["Transfer_date"].ToString()</td>
                                    <td>@Row["assettrans_No"].ToString()</td>
                                    <td>@Row["Src_Doc_date"].ToString()</td>
                                    <td>@Row["src_req_area"].ToString()</td>
                                    <td>@Row["des_req_area"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" id="">
            <button type="button" class="btn btn-primary btn-sm" id="" data-dismiss="modal" onclick="">@Resource.Close</button>
        </div>
    </div>
</div>