@using EnRepMobileWeb.Resources;
<div class="modal-content" id="tbody_ItemHistory">
    <div class="modal-header">
        <h2> @Resource.Sales @Resource.Order @Resource.StockDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">@Resource.Item @Resource.Name</label>
                <input autocomplete="off" disabled class="form-control optional" id="prt_Item_Name" maxlength="20" name="Item_Name" placeholder="@Resource.Item @Resource.Name"  type="text" value="">
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align" title="@Resource.UnitOfMeasure">@Resource.UOM</label>
                <input id="prt_UOM" class="form-control" autocomplete="off" type="text" name="UOM" disabled placeholder="@Resource.UOM">
            </div>
            

        </div>
        <div class="price_item_detail">
            <div class="card-box table-responsive dy_table mt-2">
                <div id="LSOListTbody" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="datatable-buttons9" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">

                                <th width="20%">@Resource.AvailableStock</th>
                                <th width="20%">@Resource.ReservedStock</th>
                                <th width="20%">@Resource.RejectedStock</th>
                                <th width="20%">@Resource.ReworkableStock</th>
                                <th width="20%">@Resource.TotalStock</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><input id="Prt_AvailableStock" class="form-control date num_right" autocomplete="off" type="text" name="AvailableStockInBase" placeholder="0000.00" disabled=""></td>
                                <td><input id="Prt_ReservedStock" class="form-control date num_right" autocomplete="off" type="text" name="ReservStockInBase" placeholder="0000.00" disabled=""></td>
                                <td><input id="Prt_RejectedStock" class="form-control date num_right" autocomplete="off" type="text" name="RejectStockInBase" placeholder="0000.00" disabled=""></td>
                                <td><input id="Prt_ReworkableStock" class="form-control date num_right" autocomplete="off" type="text" name="ReworkStockInBase" placeholder="0000.00" disabled=""></td>
                                <td><input id="Prt_TotalStock" class="form-control date num_right" autocomplete="off" type="text" name="TotalStock" placeholder="0000.00" disabled=""></td>
                            </tr>
                            <tr>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>