@using EnRepMobileWeb.Resources;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
}
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/MISGoodReceiptDetail/MISGoodReceiptDetailJS.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@*<style>

    div.dataTables_wrapper div.dataTables_filter label {
        margin-left: -2.5em;
    }
</style>*@
<table id="datatable-buttons2" class="table table-striped rowhighlighttbl width2000 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            @*<th width="17%" class="itmStick">@Resource.Supplier <br /> @Resource.Name</th>*@
            <th width="7%">@Resource.GRN <br /> @Resource.Number</th>
            <th width="7%">@Resource.GRN <br /> @Resource.Date</th>
            <th width="7%">@Resource.Status</th>
            @*<th width="7%">@Resource.Order <br /> @Resource.Number</th>
        <th width="7%">@Resource.Order <br /> @Resource.Date</th>*@
            <th width="7%">@Resource.Receipt <br /> @Resource.Quantity</th>
            <th width="7%">@Resource.Accepted <br /> @Resource.Quantity</th>
            <th width="7%">@Resource.Rejected <br /> @Resource.Quantity</th>
            <th width="7%">@Resource.Rework <br /> @Resource.Quantity</th>
            <th width="10%">@Resource.Warehouse <br /> @Resource.Name</th>
            <th width="7%">@Resource.BillNumber</th>
            <th width="7%">@Resource.BillDate</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.GRNSummary != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.GRNSummary.Rows)
            {
        <tr>
            <td>@srno</td>
            @*<td class="ItmNameBreak itmStick tditemfrz">@dr["supp_name"].ToString()</td>*@
            <td>@dr["mr_no"].ToString()</td>
            <td>@dr["mr_dt"].ToString()</td>
            <td>@dr["status_name"].ToString()</td>
            @*<td>B1/08/23/DSH0000065</td>
        <td>28-07-2023</td>*@
            <td class="num_right">@Convert.ToDecimal(dr["ReceiptQty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["AcceptQty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["RejectQty"]).ToString(ValDigit)</td>
            <td class="num_right">@Convert.ToDecimal(dr["rework_qty"]).ToString(ValDigit)</td>
            <td>@dr["wh_name"].ToString()</td>
            <td>@dr["bill_no"].ToString()</td>
            <td>@dr["bill_date"].ToString()</td>
        </tr>
                srno = srno + 1;
            }
        }
    </tbody>
</table>

@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}