@using EnRepMobileWeb.Resources;

@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string RateDigit = "0.";
    var RD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < RD; i++)
    {
        RateDigit += "0";
    }
    string CustName = "";
    string Inv_no = "";
    string Inv_dt = "";

    if (ViewBag.SalesItemDetails != null)
    {
        if (ViewBag.SalesItemDetails.Rows.Count > 0)
        {
            CustName = ViewBag.SalesItemDetails.Rows[0]["cust_name"];
            Inv_no = ViewBag.SalesItemDetails.Rows[0]["app_inv_no"];
            Inv_dt = Convert.ToDateTime(ViewBag.SalesItemDetails.Rows[0]["inv_dt"]).ToString("yyyy-MM-dd");
        }
    }
    decimal totalsale_amt_spec = 0;
    decimal totalsale_amt = 0;
    decimal totaltax_amt = 0;
    decimal totaltax_amt_spec = 0;
    decimal totalOC_amt = 0;
    decimal totalOC_amt_spec = 0;
    decimal totalInvoice_amt = 0;
    decimal totalInvoice_amt_spec = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.InvoiceDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.Customer</label>
            <input id="Customer" class="form-control" value="@CustName" autocomplete="off" type="text" name="Customer" placeholder="@Resource.Customer" disabled="">

        </div>

        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.InvoiceNumber</label>
            <input id="InvoiceNumber" value="@Inv_no" class="form-control" autocomplete="off" type="text" name="InvoiceNumber" placeholder="SI/01/22/1234" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.InvoiceDate</label>
            <input id="InvoiceDate" class="form-control" value="@Inv_dt" autocomplete="off" type="date" name="InvoiceDate" placeholder="0000.00" disabled="">
        </div>


        <div class="clearfix"></div>

        <div class="card-box table-responsive dy_table margin15">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height40VH pop_csv">
                <table id="tblInvDetail" class="table table-striped width2000 table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="2%">@Resource.SrNo</th>
                            <th width="15%">@Resource.ItemName</th>
                            <th width="3%">@Resource.UOM</th>
                            <th width="7%">@Resource.Sale @Resource.Quantity</th>
                            <th width="7%">@Resource.Price <br /> @Resource.InSpecific </th>
                            <th width="7%">@Resource.Price <br /> @Resource.InBase </th>
                            <th width="8%">@Resource.SaleAmount <br /> @Resource.InSpecific</th>
                            <th width="7%">@Resource.SaleAmount <br /> @Resource.InBase</th>
                            <th width="7%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                            <th width="7%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                            <th width="7%">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                            <th width="7%">@Resource.OtherCharges <br /> @Resource.InBase </th>
                            <th width="8%">@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                            <th width="8%">@Resource.InvoiceAmount <br /> @Resource.InBase</th>

                        </tr>
                    </thead>
                    <tbody id="">
                        @if (ViewBag.SalesItemDetails != null)
                        {
                            var srno = 1;
                            foreach (System.Data.DataRow dr in ViewBag.SalesItemDetails.Rows)
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td>
                                        <div class="col-sm-11 i_Icon"><span id="">@dr["item_name"].ToString()</span></div>
                                        <input hidden="hidden" id="Hdn_item_id" value="@dr["item_id"].ToString()" />
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">
                                                <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation" />  @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ItemInformation"></i>*@
                                            </button>
                                        </div>
                                    </td>
                                    <td>@dr["uom_alias"].ToString()</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_qty"]).ToString(QtyDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_rate_spec"]).ToString(RateDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_rate_bs"]).ToString(RateDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_gr_val_spec"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_gr_val_bs"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_tax_amt_spec"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_tax_amt_bs"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_oc_amt_spec"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_oc_amt_bs"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_net_val_spec"]).ToString(ValDigit)</td>
                                    <td class="num_right">@Convert.ToDecimal(dr["item_net_val_bs"]).ToString(ValDigit)</td>
                                </tr>

                                srno = srno + 1;
                                totalsale_amt_spec = totalsale_amt_spec + Convert.ToDecimal(dr["item_gr_val_spec"]);
                                totalsale_amt = totalsale_amt + Convert.ToDecimal(dr["item_gr_val_bs"]);
                                totaltax_amt_spec = totaltax_amt_spec + Convert.ToDecimal(dr["item_tax_amt_spec"]);
                                totaltax_amt = totaltax_amt + Convert.ToDecimal(dr["item_tax_amt_bs"]);
                                totalOC_amt_spec = totalOC_amt_spec + Convert.ToDecimal(dr["item_oc_amt_spec"]);
                                totalOC_amt = totalOC_amt + Convert.ToDecimal(dr["item_oc_amt_bs"]);
                                totalInvoice_amt = totalInvoice_amt + Convert.ToDecimal(dr["item_net_val_bs"]);
                                totalInvoice_amt_spec = totalInvoice_amt_spec + Convert.ToDecimal(dr["item_net_val_spec"]);
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td align="right"><strong>@Resource.Total</strong></td>
                            <td class="num_right"><strong>@totalsale_amt_spec.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totalsale_amt.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totaltax_amt_spec.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totaltax_amt.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totalOC_amt_spec.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totalOC_amt.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totalInvoice_amt_spec.ToString(ValDigit)</strong></td>
                            <td class="num_right"><strong>@totalInvoice_amt.ToString(ValDigit)</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="OnClickSerialDiscardAndExit()">@Resource.Close</button>
    </div>
</div>