@using EnRepMobileWeb.Resources;
@{
    decimal TtlAvl = 0;
    decimal TtlRsv = 0;
    decimal TtlRej = 0;
    decimal TtlRwk = 0;
    decimal TtlWip = 0;
    decimal TtlStk = 0;
}
<style>
    table.jambo_table thead {
        background: #617892 !important;
        color: #ECF0F1;
    }

        table.jambo_table thead th {
            background: #617892 !important;
            color: #ECF0F1;
        }
    #datatable-buttons_wrapper .buttons-csv {
        margin-left: 22%;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Stock @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 mb-2">
            <label class="col-form-label label-align">@Resource.Item @Resource.Name</label>
            <input autocomplete="off" class="form-control" id="txtItemName" maxlength="25" name="ItemName" placeholder="@Resource.Item @Resource.Name" readonly="readonly" type="text" value="">
        </div>
        <div class="col-md-2 col-sm-12 mb-2">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input autocomplete="off" class="form-control" id="txtUom" maxlength="25" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">

        </div>
        <div class="card-box table-responsive">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                <div class="col-md-12 col-sm-12">
                    <table class="table table-striped jambo_table bulk_action margin5 rowhighlighttbl itmfrz" id="datatable-buttons">
                        <thead>
                            <tr class="headings">
                                <th width="3%">@Resource.SrNo</th>
                                <th width="19%">@Resource.Location</th>
                                <th width="13%">@Resource.Available <br /> @Resource.Stock</th>
                                <th width="13%">@Resource.Reserved <br /> @Resource.Stock  </th>
                                <th width="13%">@Resource.Rejected <br /> @Resource.Stock </th>
                                <th width="13%">@Resource.Rework <br /> @Resource.Stock </th>
                                <th width="13%">@Resource.WIP <br /> @Resource.Stock </th>                                
                                <th width="13%">@Resource.Total @Resource.Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.StkTrfPopupData != null)
                            {
                                var rowId = 1;
                                foreach (System.Data.DataRow data in ViewBag.StkTrfPopupData.Rows)
                                {
                            <tr>
                                <td>@rowId</td>
                                <td id="tditem">@data["WareHouse"].ToString()</td>
                                <td class="num_right">@data["AvailableStock"].ToString()</td>
                                <td class="num_right">@data["ReservedStock"].ToString()</td>
                                <td class="num_right">@data["RejectedStock"].ToString()</td>
                                <td class="num_right">@data["ReworkStock"].ToString()</td>
                                <td class="num_right">@data["WipStock"].ToString()</td>
                                <td class="num_right">@data["TotalStock"].ToString()</td>


                            </tr>
                                    rowId = rowId + 1;
                                    TtlAvl = TtlAvl + Convert.ToDecimal(@data["AvailableStock"].ToString());
                                    TtlRsv = TtlRsv + Convert.ToDecimal(@data["ReservedStock"].ToString());
                                    TtlRej = TtlRej + Convert.ToDecimal(@data["RejectedStock"].ToString());
                                    TtlRwk = TtlRwk + Convert.ToDecimal(@data["ReworkStock"].ToString());
                                    TtlWip = TtlWip + Convert.ToDecimal(@data["WipStock"].ToString());
                                    TtlStk = TtlStk + Convert.ToDecimal(@data["TotalStock"].ToString());
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="total font-weight-bold">
                                <td>&nbsp;</td>
                                <td class="num_right">@Resource.Total</td>
                                <td class="num_right">@TtlAvl</td>
                                <td class="num_right">@TtlRsv</td>
                                <td class="num_right">@TtlRej</td>
                                <td class="num_right">@TtlRwk</td>
                                <td class="num_right">@TtlWip</td>
                                <td class="num_right">@TtlStk</td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>
    </div>
</div>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "Searched")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}