@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Value @Resource.Addition</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        @*<div id="">
            <div class="col-md-8 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.ItemName</label>
                <input id="InwardItemName" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="ItemName" placeholder="@Resource.ItemName" onblur="this.placeholder = '@Resource.ItemName'" disabled>               
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.UOM</label>
                <input id="InwardUOM" class="form-control" autocomplete="off" onchange="" maxlength="10" onkeypress="" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled>                
            </div>
        </div>*@
        <div class="clear"></div>
        <div class="card-box table-responsive dy_table margin15">            
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="16%">@Resource.Addition  @Resource.Date</th>
                            <th width="16%">@Resource.Source</th>
                            <th width="16%">@Resource.Bill  @Resource.Number</th>
                            <th width="16%">@Resource.Bill  @Resource.Date</th>
                            <th width="16%">@Resource.Addition  @Resource.Value</th>
                            <th width="16%">@Resource.Total  @Resource.Value</th>
                            	

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>10-Apr-2025</td>
                            <td>Source</td>
                            <td>B1/04/25/GRN0000001</td>
                            <td>10-Apr-2025</td>
                            <td class="num_right">34500.00 </td>
                            <td class="num_right">34500.00 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" id="">            
            <button type="button" class="btn btn-primary btn-sm" id="" data-dismiss="modal" onclick="">@Resource.Close</button>
        </div>
    </div>
</div>