@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.MaterialIssueDetail.MaterialIssueDetail_Model
@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons2_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
<table id="datatable-buttons2" class="table table-striped rowhighlighttbl mb-3 width2000 itmfrz" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th hidden="hidden"> @Resource.ItemID</th>
            <th hidden="hidden">@Resource.Item @Resource.Name</th>
            <th width="12%" class="itmStick">@Resource.Item @Resource.Name</th>
            <th width="6%" title="Unit Of Measure"> @Resource.UOM</th>
            <th width="8%">@Resource.Issue @Resource.Number</th>
            <th width="8%">@Resource.Issue @Resource.Date</th>
            <th hidden="hidden">@Resource.Issue @Resource.Date</th>
            <th width="8%">@Resource.Issue @Resource.Type</th>
            <th width="8%">@Resource.Source <br /> Branch</th>
            <th width="8%">@Resource.Source <br /> Warehouse</th>
            <th width="8%">@Resource.Destination <br /> Branch</th>
            <th width="8%">@Resource.Destination <br /> Warehouse</th>
            <th width="8%">@Resource.Requisition <br /> @Resource.Number</th>
            <th width="8%">@Resource.Requisition <br /> @Resource.Date</th>
            <th width="8%">@Resource.Issued <br /> @Resource.Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.MaterialTransferIssueReport != null)
        {
            var srno = 1;
            foreach (System.Data.DataRow dtr in ViewBag.MaterialTransferIssueReport.Rows)
            {
        <tr>
            <td>@srno</td>
            <td id="hdnItemId" hidden="hidden">@dtr["item_id"].ToString()</td>
            <td class="ItmNameBreak itmStick tditemfrz">
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> @dtr["item_name"].ToString()</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="BindItemInfoBtnClick(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td id="ItemName" hidden="hidden">@dtr["item_name"].ToString()</td>
            <td id="uomName">@dtr["uom_name"].ToString()</td>
            <td id="tdIssueNo">@dtr["issue_no"].ToString()</td>
            <td id="tdIssuedate" hidden="hidden">@dtr["issuedt1"].ToString()</td>
            <td>@dtr["issue_dt"].ToString()</td>
            <td>@dtr["IssueType"].ToString()</td>
            <td>@dtr["SrcBranch"].ToString()</td>
            <td>@dtr["SrcWareHouse"].ToString()</td>
            <td>@dtr["DstnBranch"].ToString()</td>
            <td>@dtr["DstnWareHouse"].ToString()</td>
            <td>@dtr["req_no"].ToString()</td>
            <td>@dtr["req_dt"].ToString()</td>
            <td>
                <div class="col-sm-10 lpo_form no-padding num_right" id="issueQty">@Convert.ToDecimal(dtr["issue_qty"]).ToString(ValDigit)</div>
                <div class="col-sm-2 i_Icon no-padding" id="div_SubItemGrnQty">
                    @if (dtr["sub_item"].ToString() == "Y")
                    {
                        <button type="button" id="SubItemGrnQty" class="calculator subItmImg" onclick="return SubItemDetailsPopUp('M_SUBITM',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                    }
                    else
                    {
                        <button type="button" id="SubItemGrnQty" class="calculator subItmImg" data-toggle="modal" disabled data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                    }
                </div>
            </td>
        </tr>
                srno = srno + 1;
            }
        }
    </tbody>
</table>
@if (Model.SearchStatus != null)
{
    if (Model.SearchStatus == "1")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}