@using EnRepMobileWeb.Resources;
@*@{
        string ValDigit = "0.";
        var VD = Convert.ToInt32(Session["ValDigit"].ToString());
        for (var i = 0; i < VD; i++)
        {
            ValDigit += "0";
        }
        //decimal total = 0;
    }*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons1" class="table table-striped width1800 " cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="5%" class="light_grey_colour">&nbsp;</th>
            <th width="8%" class="light_grey_colour">&nbsp;</th>
            <th width="15%" class="light_grey_colour">&nbsp;</th>
            <th width="6%" class="light_cream_colour">&nbsp;</th>
            <th width="6%" class="light_cream_colour">@Resource.Quarter 1</th>
            <th width="6%" class="light_cream_colour">&nbsp;</th>
            <th width="6%" class="light_blue_colour">&nbsp;</th>
            <th width="6%" class="light_blue_colour">@Resource.Quarter 2</th>
            <th width="6%" class="light_blue_colour">&nbsp;</th>
            <th width="6%" class="light_blue1_colour">&nbsp;</th>
            <th width="6%" class="light_blue1_colour">@Resource.Quarter 3</th>
            <th width="6%" class="light_blue1_colour">&nbsp;</th>
            <th width="6%" class="light_cream1_colour">&nbsp;</th>
            <th width="6%" class="light_cream1_colour">@Resource.Quarter 4</th>
            <th width="6%" class="light_cream1_colour">&nbsp;</th>
        </tr>

        <tr class="sticky-header">
            <th width="5%" class="light_grey_colour">@Resource.SrNo</th>
            <th width="8%" class="light_grey_colour">@Resource.GLAccount</th>
            <th width="15%" class="light_grey_colour">@Resource.GLGroup</th>
            <th width="6%" class="light_cream_colour">@Resource.Budget  <br /> @Resource.Amount</th>
            <th width="6%" class="light_cream_colour">@Resource.Actual  <br /> @Resource.Amount</th>
            <th width="6%" class="light_cream_colour">@Resource.Variance <br /> @Resource.InPercentage</th>
            <th width="6%" class="light_blue_colour">@Resource.Budget  <br /> @Resource.Amount</th>
            <th width="6%" class="light_blue_colour">@Resource.Actual  <br /> @Resource.Amount</th>
            <th width="6%" class="light_blue_colour">@Resource.Variance <br /> @Resource.InPercentage</th>
            <th width="6%" class="light_blue1_colour">@Resource.Budget  <br /> @Resource.Amount</th>
            <th width="6%" class="light_blue1_colour">@Resource.Actual  <br /> @Resource.Amount</th>
            <th width="6%" class="light_blue1_colour">@Resource.Variance <br /> @Resource.InPercentage</th>
            <th width="6%" class="light_cream1_colour">@Resource.Budget  <br /> @Resource.Amount</th>
            <th width="6%" class="light_cream1_colour">@Resource.Actual  <br /> @Resource.Amount</th>
            <th width="6%" class="light_cream1_colour">@Resource.Variance <br /> @Resource.InPercentage</th>
        </tr>
    </thead>
    <tbody id="">
        <tr>
            <td class="light_grey_colour">01</td>
            <td class="light_grey_colour">Salary & Wages</td>
            <td class="light_grey_colour">Expenses->Direct Expenses</td>
            <td class="light_cream_colour num_right">300000.00</td>
            <td class="light_cream_colour num_right">120000</td>
            <td class="num_right light_cream_colour">150.00</td>
            <td class="light_blue_colour num_right">300000</td>
            <td class="light_blue_colour num_right">120000</td>
            <td class="num_right light_blue_colour">150.00</td>
            <td class="light_blue1_colour num_right">300000</td>
            <td class="light_blue1_colour num_right">120000</td>
            <td class="num_right light_blue1_colour">150.00</td>
            <td class="light_cream1_colour num_right">300000</td>
            <td class="light_cream1_colour num_right">120000</td>
            <td class="num_right light_cream1_colour">150.00</td>
        </tr>
        <tr>
            <td class="light_grey_colour">02</td>
            <td class="light_grey_colour">Salary & Wages</td>
            <td class="light_grey_colour">Expenses->Direct Expenses</td>
            <td class="light_cream_colour num_right">300000.00</td>
            <td class="light_cream_colour num_right">120000</td>
            <td class="num_right light_cream_colour">150.00</td>
            <td class="light_blue_colour num_right">300000</td>
            <td class="light_blue_colour num_right">120000</td>
            <td class="num_right light_blue_colour">150.00</td>
            <td class="light_blue1_colour num_right">300000</td>
            <td class="light_blue1_colour num_right">120000</td>
            <td class="num_right light_blue1_colour">150.00</td>
            <td class="light_cream1_colour num_right">300000</td>
            <td class="light_cream1_colour num_right">120000</td>
            <td class="num_right light_cream1_colour">150.00</td>
        </tr>
        <tr>
            <td class="light_grey_colour">03</td>
            <td class="light_grey_colour">Salary & Wages</td>
            <td class="light_grey_colour">Expenses->Direct Expenses</td>
            <td class="light_cream_colour num_right">300000.00</td>
            <td class="light_cream_colour num_right">120000</td>
            <td class="num_right light_cream_colour">150.00</td>
            <td class="light_blue_colour num_right">300000</td>
            <td class="light_blue_colour num_right">120000</td>
            <td class="num_right light_blue_colour">150.00</td>
            <td class="light_blue1_colour num_right">300000</td>
            <td class="light_blue1_colour num_right">120000</td>
            <td class="num_right light_blue1_colour">150.00</td>
            <td class="light_cream1_colour num_right">300000</td>
            <td class="light_cream1_colour num_right">120000</td>
            <td class="num_right light_cream1_colour">150.00</td>
        </tr>
        <tr>
            <td class="light_grey_colour">04</td>
            <td class="light_grey_colour">Salary & Wages</td>
            <td class="light_grey_colour">Expenses->Direct Expenses</td>
            <td class="light_cream_colour num_right">300000.00</td>
            <td class="light_cream_colour num_right">120000</td>
            <td class="num_right light_cream_colour">150.00</td>
            <td class="light_blue_colour num_right">300000</td>
            <td class="light_blue_colour num_right">120000</td>
            <td class="num_right light_blue_colour">150.00</td>
            <td class="light_blue1_colour num_right">300000</td>
            <td class="light_blue1_colour num_right">120000</td>
            <td class="num_right light_blue1_colour">150.00</td>
            <td class="light_cream1_colour num_right">300000</td>
            <td class="light_cream1_colour num_right">120000</td>
            <td class="num_right light_cream1_colour">150.00</td>
        </tr>
        <tr>
            <td class="light_grey_colour">05</td>
            <td class="light_grey_colour">Salary & Wages</td>
            <td class="light_grey_colour">Expenses->Direct Expenses</td>
            <td class="light_cream_colour num_right">300000.00</td>
            <td class="light_cream_colour num_right">120000</td>
            <td class="num_right light_cream_colour">150.00</td>
            <td class="light_blue_colour num_right">300000</td>
            <td class="light_blue_colour num_right">120000</td>
            <td class="num_right light_blue_colour">150.00</td>
            <td class="light_blue1_colour num_right">300000</td>
            <td class="light_blue1_colour num_right">120000</td>
            <td class="num_right light_blue1_colour">150.00</td>
            <td class="light_cream1_colour num_right">300000</td>
            <td class="light_cream1_colour num_right">120000</td>
            <td class="num_right light_cream1_colour">150.00</td>
        </tr>

    </tbody>
</table>
@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
@Scripts.Render("~/Content/Scripts/DatatablesJs")