@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesEnquiry.SalesEnquiryModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/SalesEnquiry/SalesEnquiryDetail.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.DiscussionRemarks</h2>
        <button type="button" class="close" data-dismiss="modal" id="btnCrossItemInfo">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-12 col-sm-12 no-padding">
            <label class="col-form-label label-align">@Resource.DiscussionRemarks</label>
            @if (ViewBag.Disable)
            {
                <textarea class="form-control remarksmessage" cols="20" id="Partial_txt_DiscussRemark" disabled="disabled" @*onkeyup="Partial_OnChangeDiscusremarks(event);"*@ maxlength="1000" name="" placeholder="@Resource.DiscussionRemarks" rows="5" onmouseover="" style="max-height:100px;">
                @Model.DiscussRemarks
                </textarea>
            }
            else
            {
                <textarea class="form-control remarksmessage"
                          id="Partial_txt_DiscussRemark"
                          onkeyup="Partial_OnChangeDiscusremarks();"
                          maxlength="1000"
                          placeholder="@Resource.DiscussionRemarks"
                          rows="5" cols="20"
                          style="max-height:100px;">
    @Model.DiscussRemarks
</textarea>
                            }
        </div>
    </div>
    @if (ViewBag.Disable)
    {
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btnCloseItemInfo">@Resource.Close</button>
        </div>
    }
    else
    {

        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="return onclickbtnSaveAndExitItemInfo();" id="btnSaveAndExitItemInfo">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btnCloseItemInfo">@Resource.Close</button>
        </div>
    }
</div>


















