@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/ProductCatalouge/ProductCatalougeDetail.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>


<table id="datatable-buttons" class="table table-striped width1900 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="5%"> @Resource.SrNo</th>
            <th width="7%" class="itmStick">@Resource.CatalogueNumber</th>
            <th hidden="hidden"></th>
            <th width="7%">@Resource.CatelogDate</th>
            <th width="15%">@Resource.CustomerName</th>
            <th width="4%">@Resource.NumberOfItems</th>
            <th width="15%">@Resource.remarks</th>
            <th width="5%">@Resource.Status</th>
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.PCatList != null)
        {
            var i = 0;
            foreach (System.Data.DataRow dr in ViewBag.PCatList.Rows)
            {
                i++;
                <tr>
                    <td class="sr_padding">@i</td>
                    <td id="cat_no" class="ItmNameBreak itmStick tditemfrz">@dr["cat_no"].ToString()</td>
                    <td hidden="hidden" id="cat_date">@dr["cat_date"].ToString()</td>
                    <td>@dr["cat_dt"].ToString()</td>
                    <td>@dr["cust_name"].ToString()</td>
                    <td class="num_right">@dr["Item_Count"].ToString()</td>
                    <td class="narration">@dr["cat_rem"].ToString()</td>
                    <td id="Doc_Status">@dr["status"].ToString()</td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["create_dt"].ToString()</td>
                    <td>@dr["app_by"].ToString()</td>
                    <td>@dr["app_dt"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["mod_dt"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["CatalogSearch"] != null)*@
@if (ViewBag.CatalogSearch != null)
{
    @* if (Session["CatalogSearch"].ToString() == "Catalog_Search")*@
    if (ViewBag.CatalogSearch == "Catalog_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}






