@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/TDSPosting/TDSPosting.js"></script>

<input id="ListFilterData1" hidden value="@ViewBag.ListFilterData1" />
<table id="datatable-buttons" class="table table-striped rowhighlighttbl width1400 itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th hidden></th>
            <th hidden></th>
            <th width="8%" class="itmStick">@Resource.Year</th>
            <th width="10%" hidden>@Resource.Month</th>
            <th width="10%">@Resource.Month</th>
            <th width="10%">@Resource.Taxable @Resource.Value</th>
            <th width="10%">@Resource.TDS @Resource.Amount</th>
            <th width="8%">@Resource.Status</th>
            <th width="10%">@Resource.CreatedBy</th>
            <th width="10%">@Resource.Createdon</th>
            <th width="10%">@Resource.ApprovedBy</th>
            <th width="10%">@Resource.ApprovedOn</th>
        </tr>
    </thead>
    <tbody id="TdsListTable">
        @if (ViewBag.TdsPostingList != null)
        {
            var i = 1;
            foreach (System.Data.DataRow dr in ViewBag.TdsPostingList.Rows)
            {
        <tr>
            <td>@i</td>
            <td id="td_tds_id" hidden>@dr["tds_id"]</td>
            <td id="td_tds_dt" hidden>@dr["tds_dt"]</td>
            <td id="td_year" class="ItmNameBreak itmStick tditemfrz">@dr["year"]</td>
            <td id="td_month" hidden>@dr["month"]</td>
            <td id="td_month_name">@dr["month_name"]</td>
            <td class="num_right">@dr["texable_val"]</td>
            <td class="num_right">@dr["tds_amt"]</td>
            <td>@dr["status_name"]</td>
            <td>@dr["create_nm"]</td>
            <td>@dr["create_dt"]</td>
            <td>@dr["app_nm"]</td>
            <td>@dr["app_dt"]</td>
        </tr>
                i++;
            }


        }
    </tbody>
</table>

@if (ViewBag.TdsSearch != null)
{
    if (ViewBag.TdsSearch == "TdsSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}