@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialReceipt.SampleReceipt.SampleReceipt_ListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<style>
    .hidden{
        display:none;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialReceipt/SampleReceipt/SampleReceipt.js"></script>
<table id="SampleTrackingTbl" class="table table-striped table-bordered width2000 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.SampleReceiptNumber</th>
            <th width="8%">@Resource.SampleReceiptDate</th>
            <th style="display:none;">@Resource.SampleReceiptDate</th>
            <th width="5%">@Resource.EntityType</th>
            <th width="13%">@Resource.EntityName</th>
            <th width="8%">@Resource.SourceDocumentNumber</th>
            <th width="8%">@Resource.SourceDocumentDate</th>
            <th>@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model.SR_List != null)
            {
                foreach (var row in Model.SR_List)
                {
                    rowId++;
                    <tr>
                        <td>@rowId</td>
                        <td id="SRNo" class="ItmNameBreak itmStick tditemfrz">@row.SRNo</td>
                        <td>@row.SRDate</td>
                        <td id="SR_DT" style="display: none;">@row.SR_DT</td>
                        <td>@row.EntityType</td>
                        <td>@row.EntityName</td>
                        <td>@row.src_no</td>
                        <td>@row.src_dt</td>
                        <td id="Doc_Status">@row.Stauts</td>
                        <td>@row.create_by</td>
                        <td>@row.CreateDate</td>
                        <td>@row.app_by</td>
                        <td>@row.ApproveDate</td>
                        <td>@row.mod_by</td>
                        <td>@row.ModifyDate</td>
                    </tr>
                }
            }*@
    </tbody>
</table>


<script>
    $(document).ready(function () {
        SRTableData();
    });

    function SRTableData() {
        var EntityType = $("#ddl_EntityType option:selected").val();
        var EntityName = $("#ddl_EntityName option:selected").val();
        var Fromdate = $("#txtFromdate").val();
        var Todate = $("#txtTodate").val();
        var Status = $("#ddlStatus").val();

        $("#SampleTrackingTbl").DataTable().destroy();

        $("#SampleTrackingTbl").DataTable({
            processing: true,
            serverSide: true,
            pageLength: 50,
            filter: true,
            orderMulti: false,

            ajax: {
                url: "/ApplicationLayer/SampleReceipt/PageLoadData",
                type: "POST",
                datatype: "json",
                data: {
                    EntityType: EntityType,
                    EntityName: EntityName,
                    Fromdate: Fromdate,
                    Todate: Todate,
                    Status: Status
                }
            },

            columns: SampleReceiptColumns(),
            columnDefs: TargetColumnSR(),
        });
        var exportbtn = `<a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0"
            id='export'    aria-controls="Sample_tracking" href="#"><span>CSV</span></a>`;
        $("#SampleTrackingTbl_length").append(exportbtn);
        UploadExportExcel();
    }

    function SampleReceiptColumns() {
        return [
            { data: "sr_no", "name": "sr_no", autoWidth: true },
            { data: "SRNo", "name": "SRNo", autoWidth: true, "id": "SRNo", className: "ItmNameBreak itmStick tditemfrz" },
            { data: "SRDate", "name": "SRDate",  autoWidth: true },
            { data: "SR_DT", "name": "SR_DT", "id": "SR_DT",  autoWidth: true, className: "hidden" },
            { data: "EntityType", "name": "EntityType",  autoWidth: true },
            { data: "EntityName", "name": "EntityName", autoWidth: true },
            { data: "src_no", "name": "src_no",  autoWidth: true },
            { data: "src_dt", "name": "src_dt",  autoWidth: true },
            { data: "Stauts", "name": "Stauts", "id":"Doc_Status",  autoWidth: true },
            { data: "create_by", "name": "create_by", autoWidth: true },
            { data: "CreateDate", "name": "CreateDate",  autoWidth: true },
            { data: "app_by", "name": "app_by",  autoWidth: true },
            { data: "ApproveDate", "name": "ApproveDate", autoWidth: true },
            { data: "mod_by", "name": "mod_by",  autoWidth: true },
            { data: "ModifyDate", "name": "ModifyDate",  autoWidth: true }
        ];
    }

    function TargetColumnSR() {
        return [
            {
                targets: 1,
                createdCell: function (td) {
                    $(td).attr('id', 'SRNo');
                }
            },
            { targets: 1, render: (data) => `<span>${data}</span>` },
            { targets: 2, render: (data) => `<span>${data}</span>` },

            // Hidden field (SR_DT) should use index 3
          //  { targets: 3, visible: false, searchable: false },
            {
                targets: 3,
                createdCell: function (td) {
                    $(td).attr('id', 'SR_DT');
                }
            },
            { targets: 4, render: (data) => `<span>${data}</span>` },
            { targets: 5, render: (data) => `<span>${data}</span>` },
            { targets: 6, render: (data) => `<span>${data}</span>` },
            { targets: 7, render: (data) => `<span>${data}</span>` },
            { targets: 8, render: (data) => `<b>${data}</b>` },
            { targets: 9, render: (data) => `<span>${data}</span>` },
            { targets: 10, render: (data) => `<span>${data}</span>` },
            { targets: 11, render: (data) => `<span>${data}</span>` },
            { targets: 12, render: (data) => `<span>${data}</span>` },
            { targets: 13, render: (data) => `<span>${data}</span>` },
            { targets: 14, render: (data) => `<span>${data}</span>` },
        ];
    }

</script>

@*@if (Model.SRSearch != null)
    {
        if (Model.SRSearch == "SR_Search")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            //Session["SRSearch"] = null;
        }
    }*@
