@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var i = 0;
    var TotalOk = 0;
    var TotalNotOk = 0;
}
<style>

    #DttblBtnsmaterialreceipt_wrapper .dataTables_length {
        position: absolute;
    }

    #DttblBtnsmaterialreceipt_wrapper .dt-buttons {
        width: 10%;
        margin-left: 16%;
    }

    #DttblBtnsmaterialreceipt_filter {
        position: relative;
        float: right;
    }

    .loader1 {
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px; /* Half of width */
        margin-left: -40px; /* Half of height */
        z-index: 9999; /* Make sure it's on top of other elements */
        display: none; /* Initially hide the loader */
        /*    position: fixed;*/
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .loader1 div {
        width: 100%;
        height: 100%;
    }

    #DttblBtnscustomer thead tr > :nth-child(4) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }

    #DttblBtnscustomer tbody tr > :nth-child(4) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }
</style>
<div id="loader1" class="loader1">
    <img src="~/Content/Images/loader.gif" width="100" height="100" />
</div>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="row">
    <div class="col-md-12 col-sm-12 pl-0">
        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height50VH pt-2">
            <table id="DttblBtnsmaterialreceipt" class="table table-striped table-bordered itmfrz">
                <thead>
                    <tr class="sticky-header">
                        <th width="2%">@Resource.SrNo</th>
                        <th width="28%">@Resource.ItemName</th>
                        <th width="12%">@Resource.OpeningQuantity</th>
                        <th width="12%">@Resource.ItemCost</th>
                        <th width="12%">@Resource.BatchDetail</th>
                        <th width="12%">@Resource.SerialDetail</th>
                        <th width="10%">@Resource.SubItem</th>
                        <th width="12%">@Resource.Upload @Resource.Status</th>
                    </tr>
                </thead>

                <tbody>
                    @if (ViewBag.ImportItemsPreview != null)
                    {
                        var rowNo = 0;
                        foreach ( DataRow dtr in ViewBag.ImportItemsPreview.Tables[0].Rows)
                        {
                            rowNo = rowNo + 1;
                            <tr>
                                <td>@rowNo</td>
                                <td id="tdItmname">@dtr["item_name"].ToString()</td>
                                <td class="num_right">@dtr["op_qty"].ToString()</td>
                                <td>@dtr["item_rate"].ToString()</td>
                                <td class="center">
                                    @if (@dtr["i_batch"].ToString() == "Y")
                                    {
                                        <button type="button" class="calculator subItmImg" onclick="BindBatchDetails(event)" id="" data-toggle="modal" data-target="#bssid" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BranchMapping"></i></button>
                                    }
                                    else
                                    {
                                    }
                                </td>
                                <td class="center">

                                    @if (@dtr["i_serial"].ToString() == "Y")
                                    {
                                        <button type="button" class="calculator subItmImg" onclick="BindSerialDetails(event)" id="" data-toggle="modal" data-target="#bssid" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BranchMapping"></i></button>
                                    }
                                    else
                                    {
                                    }
                                </td>
                                <td class="center i_Icon" style="text-align:center !important;">

                                    @if (@dtr["sub_item"].ToString() == "Y")
                                    {
                                        <button type="button" class="calculator subItmImg" onclick="BindSubItemDetail(event)" id="" data-toggle="modal" data-target="#bssid" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.BranchMapping"></button>

                                    }
                                    else
                                    {
                                    }
                                </td>
                                <td>
                                    <div class="col-sm-10 no-padding">
                                        @if (@dtr["UploadStatus"].ToString().ToLower() == "ok")
                                        {
                                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>

                                        }
                                    </div>
                                    @if (@dtr["UploadStatus"].ToString().ToLower() != "ok")
                                    {
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickOMRErrorDetails(event);" data-toggle="modal" data-target="#ErrorDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Error @Resource.Detail">  </button>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div>
            <table id="tbstatus_id" class="table table-striped table-bordered">
                <tbody>
                    @if (ViewBag.ImportItemsPreview != null)
                    {
                        TotalOk = Convert.ToInt32(@ViewBag.ImportItemsPreview.Tables[1].Rows[0]["TotalOk"].ToString());
                        TotalNotOk = Convert.ToInt32(@ViewBag.ImportItemsPreview.Tables[1].Rows[0]["TotalNotOk"].ToString());
                        <tr class="total">
                            <td colspan="3" align="right" width="75%"><strong>@Resource.Total valid records </strong></td>
                            <td class="num_right"><span id="TotCons"></span>@ViewBag.ImportItemsPreview.Tables[1].Rows[0]["TotalOk"].ToString()</td>
                            <td colspan="1" align="right" width="75%"><strong>@Resource.Total invalid records</strong></td>
                            <td class="num_right"><span id="TotCons">@ViewBag.ImportItemsPreview.Tables[1].Rows[0]["TotalNotOk"].ToString()</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input id="hdnOk" type="hidden" value="@TotalOk" />
        <input id="hdnNotOk" type="hidden" value="@TotalNotOk" />
        </div>
    </div>


