@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.Shipment.ShipmentDetail_MODEL
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.PlaceOfSupply</h2>
        <button type="button" class="close" data-dismiss="modal" id="btnCrossItemInfo">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-12 col-sm-12 no-padding">
            <label class="col-form-label label-align">@Resource.PlaceOfSupply</label>
<textarea class="form-control remarksmessage" cols="20" id="txtplaceofsupply" onkeyup="OnChangePlaceOfSupply();" maxlength="100" name="" placeholder="@Resource.PlaceOfSupply" rows="5" onmouseover="" title="" style="max-height:100px;">
@Model.so_remarks
</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btnCloseItemInfo">@Resource.Close</button>
    </div>
</div>

















