@using EnRepMobileWeb.Resources;
@{
//string ValDigit = "0.";
//var VD = Convert.ToInt32(Session["ValDigit"].ToString());
//for (var i = 0; i < VD; i++)
//{
//    ValDigit += "0";
//}
//decimal total = 0;
}
<style>
    #datatable-buttons1_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@if (ViewBag.flag == "SDCostomerWiseSummary")
{
    <!--Sales Details Customer Wise List Summary Start-->
    <table id="CustomerWiseSummery" class="table table-striped width2700 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                <th width="6%" class="itmStick">@Resource.Customer <br /> @Resource.Name</th>
                <th hidden="hidden"></th>
                <th width="3%">@Resource.Currency</th>
                <th hidden="hidden"></th>
                @*<th hidden="hidden"></th>*@
                <th width="5%">@Resource.RegionName</th>
                <th width="5%">@Resource.Category</th>
                <th width="7%">@Resource.Portfolio</th>
                <th width="7%">@Resource.Customer @Resource.Zone</th>
                <th width="7%">@Resource.Customer @Resource.Group</th>
                <th width="5%">@Resource.State</th>
                <th width="5%">@Resource.City</th>
                <th width="6%">@Resource.SaleAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.SaleAmount <br /> @Resource.InBase</th>
                <th width="6%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InBase</th>
                <th width="6%">@Resource.RoundOff  <br /> @Resource.Amount </th>
                <th width="6%">@Resource.InvoiceAmount  <br /> @Resource.InSpecific </th>
                <th width="6%">@Resource.InvoiceAmount  <br /> @Resource.InBase </th>
            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.SalesDetailCostomerWiseList != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailCostomerWiseList.Rows)
                {
            <tr>
                <td>@srno</td>
                <td id="cust_name" class="ItmNameBreak itmStick tditemfrz">@dr["cust_name"].ToString()</td>
                <td id="txtCustName" hidden="hidden">@dr["cust_id"].ToString()</td>
                <td id="curr_symbol" class="center">@dr["curr_symbol"].ToString()</td>
                <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                @*<td hidden="hidden" id="txtbr_id">@dr["br_id"].ToString()</td>*@
                <td>@dr["cust_region"].ToString()</td>
                <td>@dr["cust_catg"].ToString()</td>
                <td>@dr["cust_port"].ToString()</td>
                <td>@dr["cust_zone"].ToString()</td>
                <td>@dr["cust_group"].ToString()</td>
                <td>@dr["cust_state"].ToString()</td>
                <td>@dr["cust_city"].ToString()</td>
                <td class="num_right" id="txt_SaleAmtSpec">@dr["sale_amount_spec"].ToString()</td>
                <td class="num_right" id="txt_SaleAmt">@dr["sale_amount_bs"].ToString()</td>
                <td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>
                <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                <td class="num_right" id="">@dr["roundoff_diff"].ToString()</td>
                <td class="num_right" id="txt_InvoiceAmtSpec">
                    <div class="col-sm-11" id="">@dr["invoice_amt_spec"].ToString() </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator iButton" onclick="CW_OnclickInvoiceAmt(event)" data-toggle="modal" data-target="#CustomerInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>
                <td class="num_right" id="txt_InvoiceAmt">
                    <div class="col-sm-11" id="">@dr["invoice_amt_bs"].ToString() </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="CustomerInvoiceDetail" class="calculator iButton" onclick="CW_OnclickInvoiceAmt(event)" data-toggle="modal" data-target="#CustomerInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>
            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.SalesDetailCostomerWiseListFooter != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailCostomerWiseListFooter.Rows)
                {
            <tr class="total">
                <td colspan="10" align="right"><strong>Total</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["tax_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["tax_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["roundoff_diff"].ToString()</strong></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_spec"].ToString()</strong></div></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_bs"].ToString()</strong></div></td>
            </tr>
                }
            }
        </tfoot>
    </table>
    <!--Sales Details Customer Wise List Summary Start End-->
}
else
{
    <!--Sales Details Customer Wise List Detail Start-->
    <table id="CustomerWiseDetail" class="table table-striped width3600 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                <th width="7%" class="itmStick">@Resource.Customer <br /> @Resource.Name</th>
                <th hidden="hidden"></th>
                <th width="3%">@Resource.Currency</th>
                <th hidden="hidden"></th>
                <th hidden="hidden"></th>
                <th width="5%">@Resource.RegionName</th>
                <th width="3%">@Resource.Category</th>
                <th width="3%">@Resource.Portfolio</th>
                <th width="3%">@Resource.Customer @Resource.Zone</th>
                <th width="3%">@Resource.Customer @Resource.Group</th>
                <th width="3%">@Resource.State</th>
                <th width="3%">@Resource.City</th>
                <th width="5%" class="width-130">@Resource.InvoiceNumber</th>
                <th width="5%">@Resource.InvoiceDate</th>
                <th width="5%">@Resource.Customer @Resource.ReferenceNumber</th>
                <th hidden="hidden"></th>
                <th width="5%">@Resource.SalesRepresentative</th>
                <th width="5%" class="width-110">@Resource.SaleAmount <br /> @Resource.InSpecific</th>
                <th width="5%" class="width-110">@Resource.SaleAmount <br /> @Resource.InBase</th>
                <th width="5%" class="width-110">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="5%" class="width-110">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="5%" class="width-130">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="5%" class="width-130">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="5%" class="width-110">@Resource.RoundOff <br /> @Resource.Amount</th>
                <th width="5%" class="width-110">@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                <th width="5%" class="width-110">@Resource.InvoiceAmount <br /> @Resource.InBase</th>
                <th width="5%">@Resource.ApprovedOn</th>
            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.SalesDetailCostomerWiseList != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailCostomerWiseList.Rows)
                {
            <tr>
                <td>@srno</td>
                <td id="cust_name" class="ItmNameBreak itmStick tditemfrz">@dr["cust_name"].ToString()</td>
                <td id="txtCustName" hidden="hidden">@dr["cust_id"].ToString()</td>
                <td id="curr_symbol" class="center">@dr["curr_symbol"].ToString()</td>
                <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                <td hidden="hidden" id="txtbr_id">@dr["br_id"].ToString()</td>
                <td>@dr["cust_region"].ToString()</td>
                <td>@dr["cust_catg"].ToString()</td>
                <td>@dr["cust_port"].ToString()</td>
                <td>@dr["cust_zone"].ToString()</td>
                <td>@dr["cust_group"].ToString()</td>
                <td>@dr["cust_state"].ToString()</td>
                <td>@dr["cust_city"].ToString()</td>
                <td id="app_inv_no">@dr["app_inv_no"].ToString()</td>
                <td>@dr["inv_dt1"].ToString()</td>
                <td>@dr["ref_doc_no"].ToString()</td>
                <td hidden="hidden" id="txtInv_dt">@dr["inv_dt"].ToString()</td>
                <td>@dr["sale_per"].ToString()</td>
                <td class="num_right">@dr["sale_amount_spec"].ToString()</td>
                <td class="num_right">@dr["sale_amount_bs"].ToString()</td>
                <td class="num_right">@dr["tax_amt_spec"].ToString()</td>
                <td class="num_right">@dr["tax_amt_bs"].ToString()</td>
                <td class="num_right">@dr["oc_amt_spec"].ToString()</td>
                <td class="num_right">@dr["oc_amt_bs"].ToString()</td>
                <td class="num_right">@dr["roundoff_diff"].ToString()</td>
                <td class="num_right">
                    <div class="col-sm-11">@dr["invoice_amt_spec"].ToString() </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator iButton" onclick="CW_OnclickInvoiceAmtGetItem(event)" data-toggle="modal" data-target="#CustomerInvoiceProductDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ProductDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>
                <td class="num_right">
                    <div class="col-sm-11" id="">@dr["invoice_amt_bs"].ToString() </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator iButton" onclick="CW_OnclickInvoiceAmtGetItem(event)" data-toggle="modal" data-target="#CustomerInvoiceProductDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ProductDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>
                <td>@dr["app_dt"].ToString()</td>
            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.SalesDetailCostomerWiseListFooter != null)
            {
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailCostomerWiseListFooter.Rows)
                {
            <tr class="total">
                <td colspan="14" align="right"><strong>Total</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["tax_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["tax_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["roundoff_diff"].ToString()</strong></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_spec"].ToString()</strong></div></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_bs"].ToString()</strong></div></td>
                <td colspan="1" align="right"></td>
            </tr>
                }
            }
        </tfoot>
    </table>
    <!--Sales Details Customer Wise List Detail Start End-->
}
@{
    //if (Session["SDFilter"] != null)
    if (Model.SDFilter != null)
    {
        //if (Session["SDFilter"].ToString() == "SDFilter")
        if (Model.SDFilter == "SDFilter")
        {

            @*<script src="~/Content/Scripts/Common/CommonJS.js"></script>
                <script src="~/Content/Css/build/js/customdatatable.min.js"></script>*@
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            //Session["SDFilter"] = null;
            Model.SDFilter = null;
            <script>
                $(document).ready(function () {
                    $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInput("datatable-buttons1",4)');
                    $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInput("datatable-buttons1",4)');
                    //CalculateAmtOnSearchInput("datatable-buttons1", 4);
                    if ($("#SalesMISSalesSummary").is(":checked")) {
                        //CalculateAmtOnSearchInput("CustomerWiseSummery", 4);
                    }
                    if ($("#SalesMISSalesDetail").is(":checked")) {
                        //CalculateAmtOnSearchInput("CustomerWiseDetail", 4);
                    }
                });
            </script>
        }
    }
}

