@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.AccountPayable.AccountPayableModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    var rowId = 0;
    var TotalInvAmt = "";
    var TotalPaidAmt = "";
    var TotalBalAmt = "";
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content" id="">
    <div class="modal-header">
        <h2>@Resource.InvoiceDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.SupplierName
                </label>
                <input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.SupplierName" disabled="">
                <input hidden="hidden" id="HdnSupplierNameForPaidAmt" />
                @*@Html.HiddenFor(model => model.DocCode_InvDtlPopupPDF, new { @id = "hdnDocCode_InvDtlPopupPDF" })*@
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.Currency
                </label>
                <input id="Currency" class="form-control" autocomplete="off" type="text" name="Currency" placeholder="@Resource.Currency" disabled="">
            </div>
        </div>
        <div class="card-box table-responsive dy_table margin10">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height35VH pop_csv">
                <table id="tblapInvDetail" class="table table-striped table-bordered rowhighlighttbl width1200 itmfrz" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="5%"> @Resource.SrNo</th>
                            <th width="10%">@Resource.BillNumber</th>
                            <th width="8%">@Resource.BillDate</th>
                            <th width="15%" class="itmStick">@Resource.InvoiceNumber</th>
                            @*<th hidden>@Resource.DocumentType</th>*@
                            <th width="8%">@Resource.InvoiceDate</th>
                            <th style="display:none;">@Resource.Invoice <br /> @Resource.Date</th>
                            <th width="10%">@Resource.InvoiceAmount</th>
                            <th width="10%">@Resource.Paid @Resource.Amount</th>
                            <th width="10%">@Resource.Balance @Resource.Amount</th>
                            @*@if (ViewBag.Basis == "D")
                    {*@
                            <th width="8%">@Resource.Payment @Resource.Terms <br />(in Days)</th>
                            <th width="9%">@Resource.Due @Resource.Date</th>
                            <th width="7%">@Resource.Overdue @Resource.Days</th>
                            @*//}
                    // else
                     //{*@
                            @*<th id="" hidden="hidden">@Resource.Payment @Resource.Terms <br />(in Days)</th>
                        <th width="12%">@Resource.Due @Resource.Date</th>
                        <th width="11%">@Resource.Overdue @Resource.Days</th>
                    }*@


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InvoiceList != null)
                        {
                            foreach (var row in Model.InvoiceList)
                            {
                                rowId++;
                                TotalInvAmt = @row.Total_Invoice_Amt;
                                TotalPaidAmt = @row.Total_Paid_Amt;
                                TotalBalAmt = @row.Total_Balance_Amt;
                                <tr>
                                    <td>@rowId</td>
                                    <td id="Ap_Bill_No">@row.Bill_No</td>
                                    <td id="Ap_Bill_Dt">@row.Bill_Dt</td>
                                    @*<td id="Inv_no">@row.Invoice_No<div class="col-sm-2  i_Icon no-padding"><button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/pdf.png" alt="" onclick="" title="@Resource.Invoice @Resource.Detail">  </button></div></td>*@
                                <td id="Inv_No" class="ItmNameBreak itmStick tditemfrz">
                                    <div class="col-md-10 col-sm-12 no-padding">@row.Invoice_No</div>
                                   
                                    @if(row.DocCode == "PI")/*Add by Hina Sharma on 30-04-2025*/
                                    {
                                        <div class="col-sm-2 i_Icon no-padding num_right">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#" data-backdrop="static"        data-keyboard="false">
                                                <img src="/Content/Images/pdf.png" alt="" onclick="GetPopupInoviceDetailsPDF(event)" title="@Resource.Invoice       @Resource.Detail">
                                            </button>
                                        </div>
                                    }
                                    
                                    
                                    <span hidden id="Hdn_InvNo">@row.Invoice_No</span>@*/*Add by Hina on 11-12-2024*/*@
                                </td>
                                    @*<td hidden id="hdnDocCode"></td>*@
                                    <td id="Inv_Dt">@row.Invoice_Dt</td>
                                    <td style="display: none;" id="InvDate">@row.Invoice_Date</td>
                                    <td class="num_right" id="AP_Invoice_Amt">@row.Invoice_Amt</td>
                                    @*<td class="num_right">@row.Paid_Amt</td>*@@*/*Modify by Hina sharma on 11-12-2024*/*@
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.Paid_Amt</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="btn_PaidAmountDetails" class="calculator" data-toggle="modal" onclick="OnclickPaidAmtDetailIcon(event)" data-target="#PaidAmountDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Paid @Resource.Amount @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right" id="AP_Balance_Amt">@row.Balance_Amt</td>
                                    @*@if (ViewBag.Basis == "D")
                            {*@
                                    <td class="num_right" id="AP_Payment_Terms">@row.Payment_Terms</td>
                                    @*}
                            else
                            {
                                <td class="num_right" id="AP_Payment_Terms" hidden="hidden">@row.Payment_Terms</td>
                            }*@
                                    <td id="AP_due_Date">@row.due_Date</td>
                                    @*/*Add by Hina sharma on 25-12-2024*/*@
                                    <td class="num_right" id="AP_due_days">@row.due_days</td>
                                </tr>
                            }
                        }
                    </tbody>

                    <tfoot>
                        <tr class="total">
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>@Resource.Total</strong></td>
                            <td class="num_right"><strong>@TotalInvAmt</strong></td>
                            <td class="num_right"><strong>@TotalPaidAmt</strong></td>
                            <td class="num_right"><strong>@TotalBalAmt</strong></td>
                            @*@if (ViewBag.Basis == "D")
                    {*@
                            <td>&nbsp;</td>
                            @*}
                    else
                    {
                         <td hidden="hidden">&nbsp;</td>
                    }*@
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
                <table hidden="hidden" id="hdntblapInvDetail" class="table table-striped table-bordered rowhighlighttbl width1200 itmfrz" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="5%"> @Resource.SrNo</th>
                            <th width="10%">@Resource.BillNumber</th>
                            <th width="8%">@Resource.BillDate</th>
                            <th width="15%" class="itmStick">@Resource.InvoiceNumber</th>
                            @*<th hidden>@Resource.DocumentType</th>*@
                            <th width="8%">@Resource.InvoiceDate</th>
                            <th style="display:none;">@Resource.Invoice <br /> @Resource.Date</th>
                            <th width="10%">@Resource.InvoiceAmount</th>
                            <th width="10%">@Resource.Paid @Resource.Amount</th>
                            <th width="10%">@Resource.Balance @Resource.Amount</th>
                            @*@if (ViewBag.Basis == "D")
                    {*@
                            <th width="8%">@Resource.Payment @Resource.Terms <br />(in Days)</th>
                            <th width="9%">@Resource.Due @Resource.Date</th>
                            <th width="7%">@Resource.Overdue @Resource.Days</th>
                            @*//}
                    // else
                     //{*@
                            @*<th id="" hidden="hidden">@Resource.Payment @Resource.Terms <br />(in Days)</th>
                        <th width="12%">@Resource.Due @Resource.Date</th>
                        <th width="11%">@Resource.Overdue @Resource.Days</th>
                    }*@


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.InvoiceList != null)
                        {
                            foreach (var row in Model.InvoiceList)
                            {
                                rowId++;
                                TotalInvAmt = @row.Total_Invoice_Amt;
                                TotalPaidAmt = @row.Total_Paid_Amt;
                                TotalBalAmt = @row.Total_Balance_Amt;
                                <tr>
                                    <td>@rowId</td>
                                    <td id="Ap_Bill_No">@row.Bill_No</td>
                                    <td id="Ap_Bill_Dt">@row.Bill_Dt</td>
                                    @*<td id="Inv_no">@row.Invoice_No<div class="col-sm-2  i_Icon no-padding"><button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/pdf.png" alt="" onclick="" title="@Resource.Invoice @Resource.Detail">  </button></div></td>*@
                                    <td id="Inv_No" class="ItmNameBreak itmStick tditemfrz">
                                        <div class="col-md-10 col-sm-12 no-padding">@row.Invoice_No</div>
                                        <div class="col-sm-2 i_Icon no-padding num_right">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false">
                                                <img src="/Content/Images/pdf.png" alt="" onclick="GetPopupInoviceDetailsPDF(event)" title="@Resource.Invoice @Resource.Detail">
                                            </button>
                                        </div>
                                        <span hidden id="Hdn_InvNo">@row.Invoice_No</span>@*/*Add by Hina on 11-12-2024*/*@
                                    </td>
                                    @*<td hidden id="hdnDocCode"></td>*@
                                    <td id="Inv_Dt">@row.Invoice_Dt</td>
                                    <td style="display: none;" id="InvDate">@row.Invoice_Date</td>
                                    <td class="num_right" id="AP_Invoice_Amt">@row.Invoice_Amt</td>
                                    @*<td class="num_right">@row.Paid_Amt</td>*@@*/*Modify by Hina sharma on 11-12-2024*/*@
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapper">@row.Paid_Amt</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="btn_PaidAmountDetails" class="calculator" data-toggle="modal" onclick="OnclickPaidAmtDetailIcon(event)" data-target="#PaidAmountDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Paid @Resource.Amount @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right" id="AP_Balance_Amt">@row.Balance_Amt</td>
                                    @*@if (ViewBag.Basis == "D")
                            {*@
                                    <td class="num_right" id="AP_Payment_Terms">@row.Payment_Terms</td>
                                    @*}
                            else
                            {
                                <td class="num_right" id="AP_Payment_Terms" hidden="hidden">@row.Payment_Terms</td>
                            }*@
                                    <td id="AP_due_Date">@row.due_Date</td>
                                    @*/*Add by Hina sharma on 25-12-2024*/*@
                                    <td class="num_right" id="AP_due_days">@row.due_days</td>
                                </tr>
                            }
                        }
                    </tbody>

                    <tfoot>
                        <tr class="total">
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>&nbsp;</strong></td>
                            <td class="num_right"><strong>@Resource.Total</strong></td>
                            <td class="num_right"><strong>@TotalInvAmt</strong></td>
                            <td class="num_right"><strong>@TotalPaidAmt</strong></td>
                            <td class="num_right"><strong>@TotalBalAmt</strong></td>
                            @*@if (ViewBag.Basis == "D")
                    {*@
                            <td>&nbsp;</td>
                            @*}
                    else
                    {
                         <td hidden="hidden">&nbsp;</td>
                    }*@
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="CloseBtn">@Resource.Close</button>
    </div>
</div>

