@using EnRepMobileWeb.Resources;
@{
    var grpstr = string.Empty;
    var grpstr_id = string.Empty;
    var start = 0;

    //var totoprow = 0;
    //var totdirexprow = 0;
    //var totclrow = 0;
    //var totdirincrow = 0;
    //var totindirincrow = 0;
    //var totdiffrow = 0;
    var tot_op_amt = string.Empty;
    var tot_cl_amt = string.Empty;

    var tot_direxp_amt = string.Empty;
    var tot_indirexp_amt = string.Empty;
    var tot_dirinc_amt = string.Empty;
    var tot_indirinv_amt = string.Empty;
    var ptot_direxp_amt = string.Empty;
    var ptot_indirexp_amt = string.Empty;
    var ptot_dirinc_amt = string.Empty;
    var ptot_indirinv_amt = string.Empty;

    var tot_gp_amt = string.Empty;
    var tot_netpft_amt = string.Empty;
    var totcgs_amt = string.Empty;

    if (ViewBag.totamt_tmpdata != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.totamt_tmpdata.Rows)
        {
            tot_op_amt = Row["op_tot_amt"].ToString();
            tot_cl_amt = Row["closing_tot_amt"].ToString();

            tot_direxp_amt = Row["direxp_tot_amt"].ToString();
            tot_indirexp_amt = Row["indirexp_tot_amt"].ToString();
            tot_dirinc_amt = Row["dirinc_tot_amt"].ToString();
            tot_indirinv_amt = Row["indirinc_tot_amt"].ToString();
            ptot_direxp_amt = Row["pdirexp_tot_amt"].ToString();
            ptot_indirexp_amt = Row["pindirexp_tot_amt"].ToString();
            ptot_dirinc_amt = Row["pdirinc_tot_amt"].ToString();
            ptot_indirinv_amt = Row["pindirinc_tot_amt"].ToString();

            tot_gp_amt = Row["grossprofit_tot_amt"].ToString();
            totcgs_amt = Row["cgs_tot_amt"].ToString();
            tot_netpft_amt = Row["netprofit_tot_amt"].ToString();
        }
    }
    //if (ViewBag.opening_tmpdata != null)
    //{
    //    totoprow = ViewBag.opening_tmpdata.Rows.Count;
    //}
    //if (ViewBag.direxp_tmpdata != null)
    //{
    //    totdirexprow = ViewBag.direxp_tmpdata.Rows.Count;
    //}
    //if (ViewBag.dirinc_tmpdata != null)
    //{
    //    totdirincrow = ViewBag.dirinc_tmpdata.Rows.Count;
    //}
    //if (ViewBag.closing_tmpdata != null)
    //{
    //    totclrow = ViewBag.closing_tmpdata.Rows.Count;
    //}
    //if (ViewBag.indirinc_tmpdata != null)
    //{
    //    totindirincrow = ViewBag.indirinc_tmpdata.Rows.Count;
    //}
    //if ((totoprow + totdirexprow) > (totdirincrow + totclrow))
    //{
    //    totdiffrow = (totoprow + totdirexprow) - (totdirincrow + totclrow);
    //}
}
<style>
    .treegrid-indent {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
    }
    .treegrid-expander {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: -25px;
        cursor: pointer;
    }

    #thtrailbal tr > th {
        /* background: #ccc;*/
        position: sticky;
        padding: .5rem;
        z-index: 2;
        top: 0;
    }

    #thtrailbal tr > :nth-child(2) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }

    #tbtrailbal tr > :nth-child(2) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }
   
</style>
@*<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/TrialBalance/Tree/javascript.js"></script>*@
<script src="~/Content/Scripts/ApplicationLayer/TreeJs/TreeJs.js"></script>

@if (ViewBag.rpt_type != null)
{
    if (ViewBag.rpt_type == "H")
    {
        <div class="col-md-12 col-sm-12 no-padding" id="div_horirpt">
            <div class="col-md-6 col-sm-12 no-padding">
                @*<table id="exp" class="table table-striped table-bordered rowhighlighttbl">*@
                <table id="tree-table1" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="50%">Particulars</th>
                            <th width="25%">GL Amount</th>
                            <th width="25%">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="101" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">To Opening Stock</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_op_amt</td>
                        </tr>
                        @if (ViewBag.opening_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.opening_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="201" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">To Direct Expenses</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_direxp_amt</td>
                        </tr>
                        @if (ViewBag.direxp_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.direxp_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="201" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="201" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="1001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">To Gross Profit</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_gp_amt</td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        @*@if ((totdiffrow) > 0)
        {
            for (int i = 0; i <= totindirincrow; i++)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            }
        }*@
                        <tr data-id="301" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">To Indirect Expenses</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_indirexp_amt</td>
                        </tr>
                        @if (ViewBag.indiexp_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.indiexp_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="301" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="301" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="2001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">To Net Profit Transferred to Balance Sheet</td>
                            <td class="font-weight-bold num_right">@tot_netpft_amt</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 col-sm-12 no-padding">
                @*<table id="" class="table table-striped table-bordered rowhighlighttbl">*@
                <table id="tree-table2" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th width="50%">Particulars</th>
                            <th width="25%">GL Amount</th>
                            <th width="25%">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="401" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">By Direct Income</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_dirinc_amt</td>
                        </tr>
                        @if (ViewBag.dirinc_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.dirinc_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr data-id="501" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">By Closing Stock</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_cl_amt</td>
                        </tr>
                        @if (ViewBag.closing_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.closing_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="501" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="501" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="3001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">By Gross Profit</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_gp_amt</td>
                        </tr>
                        <tr data-id="601" data-parent="0" data-level="1" class="Tree1stCh">
                            <td class="font-weight-bold">By Indirect Income</td>
                            <td>&nbsp;</td>
                            <td class="font-weight-bold num_right">@tot_indirinv_amt</td>
                        </tr>
                        @if (ViewBag.indirinc_tmpdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.indirinc_tmpdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {

                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="601" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="601" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }

    if (ViewBag.rpt_type == "V")
    {
        <div class="col-md-12 col-sm-12 no-padding" id="div_vartrpt">
            <table id="tree-table1" class="table table-hover table-bordered rowhighlighttbl">
                <thead>
                    <tr class="sticky-header">
                        <th>&nbsp;</th>
                        <th>Particulars</th>
                        <th>Amount in INR</th>
                        <th>Amount in INR</th>
                    </tr>
                    <tr class="sticky-header">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>@ViewBag.curr_fdt_todt</th>
                        <th>@ViewBag.prev_fdt_todt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="101" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">A</td>
                        <td class="font-weight-bold">Income from operation</td>
                        <td class="num_right font-weight-bold">@tot_dirinc_amt</td>
                        <td class="num_right font-weight-bold">@ptot_dirinc_amt</td>
                    </tr>
                    @if (ViewBag.dirinc_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.dirinc_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                <tr data-id="@grpstr_id" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                    <td>
                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                        </div>
                    </td>
                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                <tr data-id="@grpstr_id" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="201" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">B</td>
                        <td class="font-weight-bold">Cost of goods sold (Opening Stock+Direct Expenses-Closing Stock)</td>
                        <td class="num_right font-weight-bold">@totcgs_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>

                    <tr data-id="205" data-parent="201" data-level="2" class="Tree2ndCh" style="display: none;">
                        <td>&nbsp;</td>
                        <td data-column="name" class="font-weight-bold">Opening Stock</td>
                        <td class="num_right font-weight-bold">@tot_op_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>
                    @if (ViewBag.opening_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.opening_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id ="OP"+ Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="205" data-level="3" class="Tree3rdCh" style="display: none;">
                                    <td >&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = "OP" + @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="205" data-level="3" class="Tree3rdCh" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="206" data-parent="201" data-level="2" class="Tree2ndCh" style="display: none;">
                        <td>&nbsp;</td>
                        <td data-column="name" class="font-weight-bold">Direct Expenses</td>
                        <td class="num_right font-weight-bold">@tot_direxp_amt</td>
                        <td class="num_right font-weight-bold">@ptot_direxp_amt</td>
                    </tr>
                    @if (ViewBag.direxp_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.direxp_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                <tr data-id="@grpstr_id" data-parent="206" data-level="3" class="Tree3rdCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="206" data-level="3" class="Tree3rdCh" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="207" data-parent="201" data-level="2" class="Tree2ndCh" style="display: none;">
                        <td>&nbsp;</td>
                        <td data-column="name" class="font-weight-bold">Closing Stock</td>
                        <td class="num_right font-weight-bold">@tot_cl_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>

                    @if (ViewBag.closing_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.closing_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = "CL" + Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="207" data-level="3" class="Tree3rdCh" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = "CL" + @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="207" data-level="3" class="Tree3rdCh" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td class="num_right font11">@Row["acc_amt"].ToString()</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="301" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">C</td>
                        <td class="font-weight-bold">Gross Profit (A-B)</td>
                        <td class="num_right font-weight-bold">@tot_gp_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>

                    <tr data-id="401" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">D</td>
                        <td class="font-weight-bold">Income from other sources</td>
                        <td class="num_right font-weight-bold">@tot_indirinv_amt</td>
                        <td class="num_right font-weight-bold">@ptot_indirinv_amt</td>
                    </tr>

                    @if (ViewBag.indirinc_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.indirinc_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                    <td>
                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                        </div>
                    </td>
                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="501" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">E</td>
                        <td class="font-weight-bold">Indirect Expenses</td>
                        <td class="num_right font-weight-bold">@tot_indirexp_amt</td>
                        <td class="num_right font-weight-bold">@ptot_indirexp_amt</td>
                    </tr>

                    @if (ViewBag.indiexp_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.indiexp_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                <tr data-id="@grpstr_id" data-parent="501" data-level="2" class="Tree2stCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                <tr data-id="@grpstr_id" data-parent="501" data-level="2" class="Tree2stCh" style="display: none;">
                    <td>&nbsp;</td>
                    <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                    <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                    <td>&nbsp;</td>
                                    <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }
                   
                    <tr data-id="601" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">F</td>
                        <td class="font-weight-bold">Net Profit (C+D-E)</td>
                        <td class="num_right font-weight-bold">@tot_netpft_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>

                </tbody>

            </table>
        </div>
    }
}