@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.Shipment.ShipmentDetail_MODEL
@using EnRepMobileWeb.Resources;
@using System.Data
<div class="col-md-3 col-sm-12">
    <div class="col-md-11 col-sm-12 no-padding">
        <label class="col-form-label label-align" id="AddressInfo_BillAdd">@Resource.BillingAddress<span class="required">*</span></label>
        @Html.TextAreaFor(model => model.bill_address, new { @id = "TxtBillingAddr", @class = "form-control remarksmessage", @readonly = "readonly", @name = "remarks", @placeholder = @Resource.BillingAddress, })
        @Html.ValidationMessageFor(model => model.bill_address, String.Empty, new { @style = "color:red;!important", @id = "vm_bill_address" })
        @Html.HiddenFor(model => model.bill_add_id, new { @id = "bill_add_id" })
        @Html.HiddenFor(model => model.cust_trnsport_id, new { @id = "cust_trnsportid" })
        </div>
    <div class="col-sm-1 margin25 i_Icon">
        <button type="button" id="AddInfoBtnIcon" class="calculator available_credit_limit" onclick="OnClickbillingAddressIconBtn(event);" data-toggle="modal" data-target="#AddressInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.AddressInformation">  </button>
    </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="col-md-11 col-sm-12 no-padding">
        <label class="col-form-label label-align" id="AddressInfo_ShipAdd">@Resource.ShippingAddress<span class="required">*</span></label>
        @Html.TextAreaFor(model => model.ship_address, new { @id = "TxtShippingAddr", @class = "form-control remarksmessage", @readonly = "readonly", @name = "remarks", @placeholder = @Resource.ShippingAddress, })
        @Html.ValidationMessageFor(model => model.ship_address, String.Empty, new { @style = "color:red;!important", @id = "vm_ship_address" })
        @Html.HiddenFor(model => model.ship_add_id, new { @id = "ship_add_id" })
            </div>
        <div class="col-sm-1 margin25 i_Icon">
            <button type="button" id="AddInfoBtnIcon" class="calculator available_credit_limit" onclick="OnClickShippingAddressIconBtn(event);" data-toggle="modal" data-target="#AddressInfo" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.AddressInformation">  </button>
        </div>
    </div>
