@using EnRepMobileWeb.Resources;

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.SerialDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.ItemName
            </label>
            <input id="SerialItemName" class="form-control" autocomplete="off" type="text" name="SerialItemName" placeholder="Item Name" onblur="this.placeholder='Item Name'" disabled="">
            <input type="hidden" id="hfSItemID" />
            <input type="hidden" id="hfSItemSNo" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="serialUOM" class="form-control" autocomplete="off" type="text" name="serialUOM" placeholder="UOM" onblur="this.placeholder='UOM'" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.Received @Resource.Quantity</label>
            <input id="SerialReceivedQuantity" class="form-control num_right" autocomplete="off" type="text" name="SerialReceivedQuantity" placeholder="0000.00" disabled="">
        </div>
        
       

        <div class="clearfix"></div>
        <hr style="margin-bottom:5px;">

        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="table_label col-form-label label-align">@Resource.Serial @Resource.Number <span class="required">*</span></label>
           
            <input id="SerialNo" class="form-control" autocomplete="off" type="text" name="SerialNo" maxlength="25" onkeypress="OnKeyPressSerialNo_ExternalReceipt()" placeholder="Serial No" onblur="this.placeholder='Serial No'">
            <span id="SpanSerialNo" class="error_message"></span>
           
        </div>
       
        <div id="DivAddNewSerial" class="col-md-1 col-sm-12 margin25" >
           
                    <div class="plus_icon1 float-left" margin25> <i class="fa fa-plus" onclick="OnClickAddNewSerialDetail_ExternalReceipt()" id="Btn_AddNewSerialDetail" title="Add New"></i> </div>
              
        </div>
       
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="SerialDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th> &nbsp;</th>
                            <th width="10%">@Resource.SrNo</th>
                            <th> @Resource.Serial @Resource.Number</th>                          
                        </tr>
                    </thead>
                    <tbody>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      
                <button type="button" class="btn btn-primary btn-sm" onclick="OnClickSerialResetBtn_ExternalReceipt()" id="SerialResetBtn"> @Resource.Reset</button>
                <button type="button" class="btn btn-primary btn-sm" id="SerialSaveAndExitBtn" onclick="OnClickSerialSaveAndClose_ExternalReceipt()">@Resource.SaveAndExit</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="SerialDiscardAndExitBtn" onclick="OnClickSerialDiscardAndExit_ExternalReceipt()">@Resource.DiscardAndExit</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="Closebtn" >@Resource.Close</button>
    </div>
</div>
