@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Status @Resource.Update</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.BankName
                </label>
                <input id="ParSt_BankName" class="form-control" autocomplete="off" type="text" name="BankName" placeholder="@Resource.BankName" disabled="">
                <input type="hidden" id="HdnParstVouDt" value="" />
                <input type="hidden" id="HdnParstVouNo" value="" />
                <input type="hidden" id="HdnParstVouDate" value="" />
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.InstrumentNumber 
                </label>
                <input id="ParSt_InstrumentNumber" class="form-control" autocomplete="off" type="text" name="InstrumentNumber" placeholder="@Resource.InstrumentNumber" disabled="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.InstrumentDate
                </label>
                <input disabled class="form-control" data-val="true" data-val-date="" data-val-required="" id="ParSt_Insdate" placeholder="dd-MM-yyyy" type="text">
                @*<input type="hidden" id="HdnParstInsDt" value="" />*@
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.InstrumentType
                </label>
                <input id="ParSt_InstrumentType" value="@Resource.Cheque" class="form-control" autocomplete="off" type="text" name="InstrumentType" placeholder="@Resource.InstrumentType" disabled="">
            </div>
            
           
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Status</label>
                <select class="form-control" id="ParSt_ddlstatus" name="Status" onchange="OnchangeddlStatus()">
                    <option value="C">Cleared</option>
                    <option value="R">Returned</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align ">@Resource.Clearing @Resource.Date <span id="Span_ClDate" class="required">*</span></label>
                @*<input   class="form-control" id="ParSt_ClDate"  onchange="onChangeValidateDate()" onkeypress="return RestrictKeyboardentry('ParSt_ClDate')" placeholder="dd-MM-yyyy" type="date">*@
                <input class="form-control"
                       id="ParSt_ClDate"
                       type="date" 
                       @*value="@DateTime.Now.ToString("yyyy-MM-dd")"*@
                       @*max="@DateTime.Now.ToString("yyyy-MM-dd")"*@ 
                       onchange="onChangeValidateDate()"
                       placeholder="dd-MM-yyyy"
                      />
                <span class="error_message" id="Spn_parstupd"></span>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="col-form-label label-align ">@Resource.ReasonForReturn <span id="span_RsnReturn" class="required">*</span></label>
                <textarea class="form-control remarksmessage" cols="20" id="ParSt_RsnfrRet" maxlength="100" name="dn_rem" placeholder="@Resource.ReasonForReturn" rows="2" onmouseover="" title="" onkeypress="onkeypressreasonFrRet()"></textarea>
                <span class="error_message" id="Spn_parRsnFrRet"></span>
            </div>
        </div>
    </div>
    <input type="hidden" id="HdnTr_Id" value="" />
    <div class="modal-footer">
        @*<button type="button" class="btn btn-primary btn-sm" id="ParSt_BtnReset" onclick="OnclickParStRstBtn()">@Resource.Reset</button>*@
        <button type="button" class="btn btn-primary btn-sm" id="PartSt_SaveAndExit" onclick="return onClickSaveAndExit(event)">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="BatchDiscardAndExitBtn" onclick="">@Resource.DiscardAndExit</button>
    </div>
</div>
