@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockDetailShopfloor.StockDetailShopfloor_Model

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
@*<style>
        #datatable-buttons_wrapper .btn-group a:nth-child(3) {
            display: inline-block;
            position: absolute;
        }
    </style>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@{
    string ShowValue = "NotShowValue";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "105102180103003")
            {
                ShowValue = "ShowValue";
            }
        }
    }
    string tableWidth = "width2300";
    if (Model.StockBy == "Branchwisestock")
    {
        tableWidth = "width2300";
    }
    else if (Model.StockBy == "Warehousewisestock")
    {
        tableWidth = "width2500";
    }
    else if (Model.StockBy == "LotBatchwisestock")
    {
        tableWidth = "width3000";
    }
    else if (Model.StockBy == "SubitemWise")
    {
        tableWidth = "width3200";
    }

}
@if (ShowValue == "ShowValue")
{
    <style>
        .showstkvalue {
            display: block;
        }
    </style>
}
else
{
    <style>
        .showstkvalue {
            display: none;
        }
    </style>
}



@*<table id="datatable-buttons" class="table table-striped @tableWidth itmfrz" cellspacing="0" width="100%">*@
<table id="NewTableStockDetailShfl" class="table table-striped @tableWidth itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            @if (Model.StockBy != null)
            {
                if (Model.StockBy == "Branchwisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="16%" class="itmStick">@Resource.ItemName</th>
                    <th width="5%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="5%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="8%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="7%">@Resource.Receipts</th>
                    <th width="7%">@Resource.Issued</th>
                    <th width="7%">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="7%">@Resource.Reworkable <br />  @Resource.Stock</th>
                    <th width="7%">@Resource.WIP <br />  @Resource.Stock</th>
                    <th width="7%">@Resource.Total <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="7%">@Resource.Available <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                if (Model.StockBy == "Warehousewisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="13%" class="itmStick">@Resource.ItemName</th>
                    <th width="5%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="5%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="8%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="9%">@Resource.Shopfloor</th>
                    <th style="display: none;">ShopfloorID</th>
                    <th width="6%">@Resource.Receipts</th>
                    <th width="6%">@Resource.Issued</th>
                    <th width="6%">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="6%">@Resource.Reworkable <br />  @Resource.Stock</th>
                    <th width="6%">@Resource.WIP <br />  @Resource.Stock</th>
                    <th width="6%">@Resource.Total <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="7%">@Resource.Available <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                if (Model.StockBy == "LotBatchwisestock")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="12%" class="itmStick">@Resource.ItemName</th>
                    <th width="5%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="4%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="6%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="6%">@Resource.Shopfloor</th>
                    <th style="display: none;">ShopfloorID</th>
                    <th width="5%">@Resource.Lot</th>
                    <th width="6%">@Resource.Batch1</th>
                    <th width="6%">@Resource.Serial1</th>
                    <th width="6%">@Resource.Receipts</th>
                    <th width="6%">@Resource.Issued</th>
                    <th width="6%">@Resource.Rejected <br />  @Resource.Stock</th>
                    <th width="5%">@Resource.Reworkable <br />  @Resource.Stock</th>
                    @*<th width="5%">@Resource.WIP <br />  @Resource.Stock</th>*@
                    <th width="5%">@Resource.Total <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="5%">@Resource.Available <br />  @Resource.Stock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
                if (Model.StockBy == "SubitemWise")
                {
                    <th width="3%">@Resource.SrNo</th>
                    <th width="15%" class="itmStick">@Resource.ItemName</th>
                    <th width="6%">@Resource.HSNCode</th>
                    <th style="display: none;">ItemNameID</th>
                    <th width="5%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                    <th width="9%">@Resource.Branch</th>
                    <th style="display: none;">BranchID</th>
                    <th width="12%">@Resource.Shopfloor</th>
                    <th style="display: none;">ShopfloorID</th>
                    <th width="12%">@Resource.SubItem @Resource.Name</th>
                    <th style="display: none;">Subitemid</th>
                    @*<th width="9%">@Resource.OpeningStock</th>*@
                    <th width="9%">@Resource.Receipts</th>
                    <th width="9%">@Resource.Issued</th>
                    <th width="9%">@Resource.ReservedStock</th>
                    <th width="9%">@Resource.RejectedStock</th>
                    <th width="9%">@Resource.ReworkableStock</th>
                    <th width="9%">@Resource.WIP @Resource.Stock</th>

                    <th width="9%">@Resource.Total @Resource.Stock</th>

                    if (ShowValue == "ShowValue")
                    {
                        <th width="6%">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Total <br />  @Resource.Stock @Resource.Value</th>
                    }
                    <th width="9%">@Resource.AvailableStock</th>
                    if (ShowValue == "ShowValue")
                    {
                        <th width="7%">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                    else
                    {
                        <th width="7%" hidden="hidden">@Resource.Available <br />  @Resource.Stock @Resource.Value</th>
                    }
                }
            }
        </tr>
    </thead>
    <tbody @*id="tbodylotandbatch_list"*@>
        @{
            //@if (Model.StockDetailShopfloorList != null)
            //{
            //    foreach (var row in Model.StockDetailShopfloorList)
            //    {
            //        string SubItemDisable = "";
            //        if (row.subItem == "Y")
            //        {
            //            SubItemDisable = "";
            //        }
            //        else
            //        {
            //            SubItemDisable = "disabled";
            //        }
            //        rowId++;
            //        <tr>
            //            @if (Model.StockBy != null)
            //            {
            //                if (Model.StockBy == "Branchwisestock")
            //                {
            //                    <td>@rowId</td>
            //                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz">
            //                        <div class="col-sm-11 no-padding" id='multiWrapper'><span id="ItmNameSpan"> @row.ItemName</span></div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td><span id="ItmHsnCode">@row.HsnCode</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfItemID" value="@row.ItemID" /></td>
            //                    <td><span id="ItmuomSpan">@row.UOM</span></td>
            //                    <td><span id="ItmBranchSpan">@row.Branch</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfBranchID" value="@row.BranchID" /></td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Receipts</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipts"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.Receipts"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Issued</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.Issued"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.RejectedStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" RejectionDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.RejectionDetail"></i>*@ </button></div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.ReworkableStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i>*@ </button></div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.WIPStock</div>
            //
            //                        <!--<div class="col-sm-1 i_Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">--> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i>*@ <!--</button></div>-->
            //                    </td>
            //                    <td class="num_right"><b>@row.TotalStock</b></td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.TotalStockVal</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.TotalStockVal</td>
            //                    }
            //                    <td class="num_right light_green1_colour">
            //                        <div class="col-sm-10 lpo_form no-padding">
            //                            <b>@row.AvailableStock</b>
            //                        </div>
            //                        <div class="col-sm-2 i_Icon">
            //                            <button type="button" id="" class="calculator subItmImg" @SubItemDisable data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Stock @Resource.Detail">  </button>
            //                        </div>
            //                    </td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.StockValue</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.StockValue</td>
            //                    }
            //                }
            //                if (Model.StockBy == "Warehousewisestock")
            //                {
            //                    <td>@rowId</td>
            //                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz">
            //                        <div class="col-sm-11 no-padding" id='multiWrapper'><span id="ItmNameSpan"> @row.ItemName</span></div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title=" @Resource.ItemInformation"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td><span id="ItmHsnCode">@row.HsnCode</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfItemID" value="@row.ItemID" /></td>
            //                    <td><span id="ItmuomSpan">@row.UOM</span></td>
            //                    <td><span id="ItmBranchSpan">@row.Branch</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfBranchID" value="@row.BranchID" /></td>
            //                    <td><span id="ItmwarehouseSpan">@row.Shopfloor</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfShopfloorID" value="@row.ShopfloorID" /></td>
            //
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Receipts</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipts"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.Receipts"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Issued</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title=" @Resource.Issued"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.RejectedStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" RejectionDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.RejectionDetail"></i>*@ </button></div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.ReworkableStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i>*@ </button></div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.WIPStock</div>
            //                        <!--<div class="col-sm-1 i _Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">--> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i>*@ <!--</button></div>-->
            //                    </td>
            //                    <td class="num_right"><b>@row.TotalStock</b></td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.TotalStockVal</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.TotalStockVal</td>
            //                    }
            //                    <td class="num_right light_green1_colour">
            //                        <div class="col-sm-10 lpo_form no-padding">
            //                            <b>@row.AvailableStock</b>
            //                        </div>
            //                        <div class="col-sm-2 i_Icon">
            //                            <button type="button" id="" class="calculator subItmImg" @SubItemDisable data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Stock @Resource.Detail">  </button>
            //                        </div>
            //                    </td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.StockValue</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.StockValue</td>
            //                    }
            //                }
            //                if (Model.StockBy == "LotBatchwisestock")
            //                {
            //                    <td>@rowId</td>
            //                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz">
            //                        <div class="col-sm-11 no-padding" id='multiWrapper'><span id="ItmNameSpan"> @row.ItemName</span></div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title=" @Resource.ItemInformation"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td><span id="ItmHsnCode">@row.HsnCode</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfItemID" value="@row.ItemID" /></td>
            //                    <td><span id="ItmuomSpan">@row.UOM</span></td>
            //                    <td><span id="ItmBranchSpan">@row.Branch</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfBranchID" value="@row.BranchID" /></td>
            //                    <td><span id="ItmwarehouseSpan">@row.Shopfloor</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfShopfloorID" value="@row.ShopfloorID" /></td>
            //                    <td><span id="SpanLotNo"> @row.Lot</span></td>
            //                    <td><span id="SpanBatchNo"> @row.Batch</span></td>
            //                    <td><span id="SpanSerialNo"> @row.Serial</span></td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Receipts</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipts"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title=" @Resource.Receipts"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form no-padding" id='multiWrapper'>@row.Issued</div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued"> @*<i class="fa fa-info" aria-hidden="true" data-toggle="tooltip" title=" @Resource.Issued"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.RejectedStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" RejectionDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.RejectionDetail"></i>*@ </button></div>
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.ReworkableStock</div>
            //                        <div class="col-sm-1 i_Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i>*@ </button></div>
            //                    </td>
            //                    @*<td class="num_right">
            //                        <div class="col-sm-11 no-padding">@row.WIPStock</div>
            //                    </td>*@
            //                    <td class="num_right"><b>@row.TotalStock</b></td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.TotalStockVal</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.TotalStockVal</td>
            //                    }
            //                    <td class="num_right light_green1_colour"><b>@row.AvailableStock</b></td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.StockValue</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.StockValue</td>
            //                    }
            //                }
            //                if (Model.StockBy == "SubitemWise") /**Added By Nitesh 29-03-2024 For Sub_itm Wise Data show on Page**/
            //                {
            //                    <td>@rowId</td>
            //                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz">
            //                        <div class="col-sm-11 no-padding" id='multiWrapper'><span id="ItmNameSpan"> @row.ItemName</span></div>
            //                        <div class="col-sm-1 i_Icon">
            //                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
            //                        </div>
            //                    </td>
            //                    <td><span id="ItmHsnCode">@row.HsnCode</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfItemID" value="@row.ItemID" /></td>
            //                    <td><span id="ItmuomSpan">@row.UOM</span></td>
            //                    <td><span id="ItmBranchSpan">@row.Branch</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfBranchID" value="@row.BranchID" /></td>
            //                    <td><span id="ItmwarehouseSpan">@row.Shopfloor</span></td>
            //                    <td style="display: none;"><input type="hidden" id="hfShopfloorID" value="@row.ShopfloorID" /></td>
            //                    <td><span id="subitemname">@row.sub_item_name</span></td>
            //                    <td style="display: none;"><input type="hidden" id="subitemid" value="@row.sub_item_id" /></td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form" style="padding:0px;" id='multiWrapper'>@row.Receipts</div>
            //                        <!--<div class="col-sm-1 i_Icon">
            //                    <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipts">-->
            //                        @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.Receipts"></i>*@
            //                        <!--</button>
            //                    </div>-->
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11 lpo_form" style="padding:0px;" id='multiWrapper'>@row.Issued</div>
            //                        <!--<div class="col-sm-1 i_Icon">
            //                    <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued">-->
            //                        @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.Issued"></i>*@
            //                        <!--</button>
            //                    </div>-->
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11" style="padding:0px;">@row.ReservedStock</div>
            //                        <!--<div class="col-sm-1 i_Icon"><button type="button" ReservedStock" class="calculator" data-toggle="" onclick="" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReservedStock">--> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.RejectionDetail"></i>*@ <!--</button></div>-->
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11" style="padding:0px;">@row.RejectedStock</div>
            //                        @*  <div class="col-sm-1 i_Icon"><button type="button" RejectionDetail" class="calculator" data-toggle="" onclick="" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.RejectionDetail"></i></button></div>*@
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11" style="padding:0px;">@row.ReworkableStock</div>
            //                        @*<div class="col-sm-1 i_Icon"><button type="button" ReworkableDetail" class="calculator" data-toggle="" onclick="" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReworkableDetail"></i> </button></div>*@
            //                    </td>
            //                    <td class="num_right">
            //                        <div class="col-sm-11" style="padding:0px;">@row.WIPStock</div>
            //                    </td>
            //                    <td class="num_right"><b>@row.TotalStock</b></td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.TotalStockVal</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.TotalStockVal</td>
            //                    }
            //                    <td class="num_right light_green1_colour">
            //                        <div class="col-sm-10 lpo_form no-padding">
            //                            <b>@row.AvailableStock</b>
            //                        </div>
            //
            //                    </td>
            //                    if (ShowValue == "ShowValue")
            //                    {
            //                        <td class="num_right">@row.StockValue</td>
            //                    }
            //                    else
            //                    {
            //                        <td class="num_right" hidden="hidden">@row.StockValue</td>
            //                    }
            //                }
            //            }
            //        </tr>
            //    }
            //}

        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        POTrackingDtList();

    });
    function POTrackingDtList() {
        debugger
        var StockBy = $("#ddlStockBy").val();
        var ItemId = $("#ddlItemName option:selected").val();
       // var GroupId = $("#ddlItemGroupName option:selected").val();
        var GroupId = cmn_getddldataasstring("#ddlItemGroupName");
        //var BrachID = $("#ddlBranch").val();
        var BranchIDList = cmn_getddldataasstring("#ddlBranch");
        //var ShopfloorID = $("#ddlShopfloorID").val();
        var ShopfloorID = cmn_getddldataasstring("#ddlShopfloorID");
       // var hsnCode = $("#ddlHsnCode").val();
        var hsnCode = cmn_getddldataasstring("#ddlHsnCode");
        var UpToDate = $("#calUpTodate").val();
        //var PortfolioId = $("#ItemPortfolio option:selected").val();
        var PortfolioId = cmn_getddldataasstring("#ItemPortfolio");
        var IncludeZeroStock = "N";
        if ($("#IncludeZeroStock").is(":checked")) {
            IncludeZeroStock = "Y";
        }
        else {
            IncludeZeroStock = "N";
        }
        //var filters = StockBy + "," + ItemId + "," + GroupId + "," + BrachID + "," + ShopfloorID;
        //filters += "," + hsnCode + "," + UpToDate + "," + PortfolioId + "," + IncludeZeroStock;

        var filterArray = [
            StockBy, ItemId,GroupId,
            ShopfloorID, hsnCode, UpToDate, PortfolioId, IncludeZeroStock, BranchIDList
        ];
        var filters = filterArray.map(x => `[${x}]`).join('_');

        $("#NewTableStockDetailShfl").DataTable().destroy();
        $("#NewTableStockDetailShfl").DataTable({
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/ApplicationLayer/StockDetailShopfloor/LoadDataTable",
                "data": {
                    ItemListFilter: filters,
                },
                "type": "POST",
                "datatype": "json",
            },
            "columns": StkDtldataColumns(StockBy),
            columnDefs: StkDtlDataColumnRenders(StockBy),
        });
        var exportbtn = `<button type="submit" class="btn btn-default buttons-csv buttons-html5 btn-sm" id='' tabindex="0" aria-controls="datatable-buttons"
                name="Command" value="CSV">
                <span>CSV</span></button>`;
        //$("#export").remove();
        $("#hdnFiltersData").val(filters);
        $("#NewTableStockDetailShfl_length").append(exportbtn);
        //Export();
    }
    function StkDtldataColumns(StockBy) {
        var Array = [];
        if (StockBy == "Branchwisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "ItemName", "name": "itemname", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HsnCode", "name": "HSNCode", "autoWidth": true },
                { "data": "ItemID", "name": "itemid", "autoWidth": true, "id": "poDt" },
                { "data": "UOM", "name": "uomname", "autoWidth": true },
                { "data": "Branch", "name": "brname", "autoWidth": true },
                { "data": "BranchID", "name": "brid", "autoWidth": true },
                { "data": "Receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "Issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "RejectedStock", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "ReworkableStock", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "WIPStock", "name": "WIPStock", "autoWidth": true, className: "num_right" },
                { "data": "TotalStock", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "TotalStockVal", "name": "totalstkval", "autoWidth": true, className: "showstkvalue num_right" },
                { "data": "AvailableStock", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "StockValue", "name": "avlstkvalue", "autoWidth": true, className: "showstkvalue num_right" }
            ]

        }
        else if (StockBy == "Warehousewisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "ItemName", "name": "itemname", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HsnCode", "name": "HSNCode", "autoWidth": true },
                { "data": "ItemID", "name": "itemid", "autoWidth": true },
                { "data": "UOM", "name": "uomname", "autoWidth": true },
                { "data": "Branch", "name": "brname", "autoWidth": true },
                { "data": "BranchID", "name": "brid", "autoWidth": true, className: "center" },
                { "data": "Shopfloor", "name": "shflname", "autoWidth": true },
                { "data": "ShopfloorID", "name": "shflid", "autoWidth": true },
                { "data": "Receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "Issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "RejectedStock", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "ReworkableStock", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "WIPStock", "name": "WIPStock", "autoWidth": true, className: "num_right" },
                { "data": "TotalStock", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "TotalStockVal", "name": "totalstkval", "autoWidth": true, className: "showstkvalue num_right" },
                { "data": "AvailableStock", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "StockValue", "name": "avlstkvalue", "autoWidth": true, className: "showstkvalue num_right" }
            ]

        }
        else if (StockBy == "LotBatchwisestock") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "ItemName", "name": "itemname", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HsnCode", "name": "HSNCode", "autoWidth": true },
                { "data": "ItemID", "name": "itemid", "autoWidth": true, "id": "poDt" },
                { "data": "UOM", "name": "uomname", "autoWidth": true },
                { "data": "Branch", "name": "brname", "autoWidth": true },
                { "data": "BranchID", "name": "brid", "autoWidth": true, className: "center" },
                { "data": "Shopfloor", "name": "shflname", "autoWidth": true },
                { "data": "ShopfloorID", "name": "shflid", "autoWidth": true },
                { "data": "Lot", "name": "lotno", "autoWidth": true },
                { "data": "Batch", "name": "batchno", "autoWidth": true },
                { "data": "Serial", "name": "serialno", "autoWidth": true },
                { "data": "Receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "Issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "RejectedStock", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "ReworkableStock", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "TotalStock", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "TotalStockVal", "name": "totalstkval", "autoWidth": true, className: "showstkvalue num_right" },
                { "data": "AvailableStock", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "StockValue", "name": "avlstkvalue", "autoWidth": true, className: "showstkvalue num_right" }
            ]
        }
        else if (StockBy == "SubitemWise") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "ItemName", "name": "itemname", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "HsnCode", "name": "HSNCode", "autoWidth": true },
                { "data": "ItemID", "name": "itemid", "autoWidth": true, "id": "poDt" },
                { "data": "UOM", "name": "uomname", "autoWidth": true },
                { "data": "Branch", "name": "brname", "autoWidth": true },
                { "data": "BranchID", "name": "brid", "autoWidth": true, className: "center" },
                { "data": "Shopfloor", "name": "shflname", "autoWidth": true },
                { "data": "ShopfloorID", "name": "shflid", "autoWidth": true },
                { "data": "sub_item_name", "name": "sub_item_name", "autoWidth": true },
                { "data": "sub_item_id", "name": "sub_item_id", "autoWidth": true },
                { "data": "Receipts", "name": "receipts", "autoWidth": true, className: "num_right" },
                { "data": "Issued", "name": "issued", "autoWidth": true, className: "num_right" },
                { "data": "ReservedStock", "name": "reserved", "autoWidth": true, className: "num_right" },
                { "data": "RejectedStock", "name": "rejected", "autoWidth": true, className: "num_right" },
                { "data": "ReworkableStock", "name": "reworkabled", "autoWidth": true, className: "num_right" },
                { "data": "WIPStock", "name": "WIPStock", "autoWidth": true, className: "num_right" },
                { "data": "TotalStock", "name": "totalstk", "autoWidth": true, className: "num_right" },
                { "data": "TotalStockVal", "name": "totalstkval", "autoWidth": true, className: "showstkvalue num_right" },
                { "data": "AvailableStock", "name": "avlstk", "autoWidth": true, className: "num_right light_green1_colour" },
                { "data": "StockValue", "name": "avlstkvalue", "autoWidth": true, className: "showstkvalue num_right" }

            ]

        }
        return Array;
    }
    function StkDtlDataColumnRenders(StockBy) {
        debugger;
        var array = [];
        if (StockBy == "Branchwisestock") {
                    array = [
            {
                'targets': 1,//Item Name
                render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                                    <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="${$("#ItmInfo").text()}">  </button>
                                </div>`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'tditem');
                }
            },
            {
                render: (data, type, row) => `<span id="ItmHsnCode">${data}</span>`,
                targets: 2 //HSN Code
            },
            {
                render: (data, type, row) => `<input type="hidden" id="hfItemID" value="${data}">`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('hidden', 'hidden');
                },
                targets: 3 //Item Id
            },
            {
                render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                targets: 4 //UOM
            },
            {
                render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                targets: 5 //Branch Name
            },
            {
                render: (data, type, row) => `<input type="hidden" id="hfBranchID" value="${data}">`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('hidden', 'hidden');
                },
                targets: 6 //Branch Id
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipt">  </button>
                                </div>`,
                targets: 7 //Reciept
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued">  </button>
                                </div>`,
                targets: 8 //Issued
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="rejectiondetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail">  </button>
                                </div>`,
                targets: 9 //Rejected Stock
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon"><button type="button" id="reworkabledetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">  </button></div>`,
                targets: 10 //Reworkable Stock
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>`,
                targets: 11 //WIP Stock
            },
            {
                render: (data, type, row) => `<b>${data}</b>`,
                targets: 12 //Total Stock
            },
            {
                render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding"><b>${data}</b></div>
                                <div class="col-sm-2 i_Icon">
                                    <button type="button" id="" class="calculator subItmImg" ${row.subItem == "Y" ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.StockDetail">  </button>
                                </div>`,
                targets: 14 //Available Stock
            }
        ]

        }
        else if (StockBy == "Warehousewisestock") {
                    array = [
            {
                'targets': 1,//SrNo
                render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                                    <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="${$("#ItmInfo").text()}">  </button>
                                </div>`,
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'tditem');
                },
                targets: 1//supp_name
            },
            {
                render: (data, type, row) => `<span id="ItmHsnCode">${data}</span>`,
                targets: 2
            },
            {
                render: (data, type, row) => `<input type="hidden" id="hfItemID" value="${data}">`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('hidden', 'hidden');
                },
                targets: 3
            },
            {
                render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                targets: 4
            },
            {
                render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                targets: 5
            },
            {
                render: (data, type, row) => `<input type="hidden" id="hfBranchID" value="${data}">`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('hidden', 'hidden');
                },
                targets: 6
            },
            {
                render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                targets: 7
            },
            {
                render: (data, type, row) => `<input type="hidden" id="hfShopfloorID" value="${data}">`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('hidden', 'hidden');
                },
                targets: 8
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipt">  </button>
                                </div>`,
                targets: 9
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued">  </button>
                                </div>`,
                targets: 10
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="rejectiondetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail">  </button>
                                </div>`,
                targets: 11
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon"><button type="button" id="reworkabledetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">  </button></div>`,
                targets: 12
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>`,
                targets: 13
            },
            {
                render: (data, type, row) => `<b>${data}</b>`,
                targets: 14
            },
            {
                render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding"><b>${data}</b></div>
                                <div class="col-sm-2 i_Icon">
                                    <button type="button" id="" class="calculator subItmImg" ${row.subItem == "Y" ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.StockDetail">  </button>
                                </div>`,
                targets: 16
            }
        ]

        }
        else if (StockBy == "LotBatchwisestock") {
            array = [
                {
                    'targets': 1,//SrNo
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                                    <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="${$("#ItmInfo").text()}">  </button>
                                </div>`,
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    },
                    targets: 1//supp_name
                },
                {
                    render: (data, type, row) => `<span id="ItmHsnCode">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 6
                },
                {
                    render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfShopfloorID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 8
                },
                {
                    render: (data, type, row) => `<span id="SpanLotNo">${data}</span>`,
                    targets: 9
                },
                {
                    render: (data, type, row) => `<span id="SpanBatchNo">${data}</span>`,
                    targets: 10
                },
                {
                    render: (data, type, row) => `<span id="SpanSerialNo">${data}</span>`,
                    targets: 11
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipt">  </button>
                                </div>`,
                    targets: 12
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued">  </button>
                                </div>`,
                    targets: 13
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="rejectiondetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail">  </button>
                                </div>`,
                    targets: 14
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <div class="col-sm-1 i_Icon"><button type="button" id="reworkabledetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">  </button></div>`,
                    targets: 15
                },
                {
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 16
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding"><b>${data}</b></div>
                                <div class="col-sm-2 i_Icon">
                                    <button type="button" id="" class="calculator subItmImg" ${row.subItem == "Y" ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.StockDetail">  </button>
                                </div>`,
                    targets: 18
                }
            ]

        }
        else if (StockBy == "SubitemWise") {
            array = [
                {
                    'targets': 1,
                    render: (data, type, row) => `<div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan">${data}</span></div>
                                    <div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="${$("#ItmInfo").text()}">  </button>
                                </div>`,
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tditem');
                    },
                    targets: 1
                },
                {
                    render: (data, type, row) => `<span id="ItmHsnCode">${data}</span>`,
                    targets: 2
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfItemID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 3
                },
                {
                    render: (data, type, row) => `<span id="ItmuomSpan">${data}</span>`,
                    targets: 4
                },
                {
                    render: (data, type, row) => `<span id="ItmBranchSpan">${data}</span>`,
                    targets: 5
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfBranchID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 6
                },
                {
                    render: (data, type, row) => `<span id="ItmwarehouseSpan">${data}</span>`,
                    targets: 7
                },
                {
                    render: (data, type, row) => `<input type="hidden" id="hfShopfloorID" value="${data}">`,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 8
                },
                {
                    render: (data, type, row) => `<span id="subitemname">${data}</span>`,
                    targets: 9
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 10
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <!---<div class="col-sm-1 i_Icon">
                                    <button type="button" id="Receipts" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'A');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Receipt">  </button>
                                </div>--->`,
                    targets: 11
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 lpo_form no-padding" id="multiWrapper">${data}</div>
                                <!---<div class="col-sm-1 i_Icon">
                                    <button type="button" id="ItmInfoBtnIcon" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'S');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Issued">  </button>
                                </div>--->`,
                    targets: 12
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <!---<div class="col-sm-1 i_Icon">
                                    <button type="button" id="rejectiondetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RJ');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.RejectionDetail">  </button>
                                </div>--->`,
                    targets: 14
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>
                                <!---<div class="col-sm-1 i_Icon"><button type="button" id="reworkabledetail" class="calculator" data-toggle="modal" onclick="OnClickReceiptIconBtn(event,'RW');" data-target="#Receipts" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReworkableDetail">  </button></div>--->`,
                    targets: 15
                },
                {
                    render: (data, type, row) => `<div class="col-sm-11 no-padding">${data}</div>`,
                    targets: 16
                },
                {
                    render: (data, type, row) => `<b>${data}</b>`,
                    targets: 17
                },
                {
                    render: (data, type, row) => `<div class="col-sm-10 lpo_form no-padding"><b>${data}</b></div>
                                <!---<div class="col-sm-2 i_Icon">
                                    <button type="button" id="" class="calculator subItmImg" ${row.subItem == "Y" ? "" : "disabled"} data-toggle="modal" onclick="OnClickSubItemStockIconBtn(event);" data-target="#SubItemStockDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.StockDetail">  </button>
                                </div>--->`,
                    targets: 19
                }
            ]

        }
        return array;
    }
</script>

@*@if (Model.StockBy != null)
    {
        if (Model.StockBy == "Branchwisestock" && Model.StockByFilter == "Branchwisestock")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
        }
        if (Model.StockBy == "LotBatchwisestock" && Model.StockByFilter == "LotBatchwisestock")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
        }
        if (Model.StockBy == "Warehousewisestock" && Model.StockByFilter == "Warehousewisestock")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
        }
        if (Model.StockBy == "SubitemWise" && Model.StockByFilter == "SubitemWise")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")

        }
    }*@
