@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    DataTable dt = ViewBag.tbltot_rcptissue as DataTable;

    decimal qty = 0;
    DataTable PlNameList = new DataTable();

    if (ViewBag.PLNameList != null)
    {
        PlNameList = ViewBag.PLNameList as DataTable;
    }
    List<string> items = new List<string>();
    List<string> item2 = new List<string>();
    if (dt != null)
    {
        foreach (var row in dt.Columns)
        {
            items.Add(row.ToString());
        }
    }

    decimal tableWidth = 300;//= "width1800";
    if (ViewBag.cost_type == "PL")
    {
        if (dt != null)
        {
            var count = dt.Columns.Count;
            var countList = PlNameList.Rows.Count;
            if (count > 0)
            {
                tableWidth = tableWidth + countList * 4 * 100 + 100 * (count - countList);
            }
        }
    }
    else
    {
        tableWidth = 2000;
    }

    string Truncate(string text, int maxLength = 25)
    {
        if (string.IsNullOrEmpty(text)) return text;
        if (text.Length <= maxLength) return text;

        return text.Substring(0, maxLength) + "...";
    }
}

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content" id="">
    <div class="modal-header">
        <h2>
            @if (ViewBag.popflag != null)
            {
                if (ViewBag.popflag == "rcpt")
                {
                    <span>@Resource.Item&nbsp;@Resource.Received&nbsp;@Resource.Detail</span>
                }
                if (ViewBag.popflag == "issue")
                {
                    <span>@Resource.Item&nbsp;@Resource.Issued&nbsp;@Resource.Detail</span>
                }
            }
        </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">
                    @if (ViewBag.rpttype != null)
                    {
                        if (ViewBag.rpttype == "G")
                        {
                            @Resource.groupname
                        }
                        if (ViewBag.rpttype == "A")
                        {
                            @Resource.GLAccount
                        }
                        if (ViewBag.rpttype == "I")
                        {
                            @Resource.ItemName
                        }
                    }
                </label>
                <input id="txt_name" class="form-control" style="text-align:left;" autocomplete="off" type="text" name="GLAccount_name" disabled="">
            </div>
        </div>
        <div class="card-box table-responsive dy_table margin10">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH pop_csv">
                <table id="TblStkVal_receissuedetail" class="table table-striped itmfrz rowhighlighttbl" style="min-width:@(tableWidth.ToString()+"px") !important;" cellspacing="0">
                    @*<table id="TblStkVal_receissuedetail" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">*@
                    <thead>
                        <tr class="sticky-header">
                            <th width="3%">@Resource.SrNo</th>
                            <th>@Resource.DocumentNumber</th>
                            <th>@Resource.DocumentDate</th>
                            <th>@Resource.BillNumber</th>
                            <th>@Resource.BillDate</th>
                            <th>@Resource.Quantity</th>
                            @if (ViewBag.cost_type == "PL")
                            {

                                foreach (DataRow row in PlNameList.Rows)
                                {
                                    var newArr = items.Where(x => x.Contains(row["pl_name"].ToString())).ToArray();

                                    foreach (var columnName in newArr)
                                    {
                                        var thName = columnName.Replace("Price", $"{Resource.Price}")
                                            .Replace("Value", $"{Resource.Value}");
                                        <th title="@thName" class="width-100">@Truncate(thName)</th>
                                        item2.Add(columnName);
                                    }
                                }
                            }
                            else
                            {
                                <th>@Resource.Rate</th>
                                <th>@Resource.Value</th>
                            }

                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.tblrcptissue != null)
                        {
                            var srno = 1;
                            foreach (System.Data.DataRow dr in ViewBag.tblrcptissue.Rows)
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td>@dr["doc_no"].ToString()</td>
                                    <td>@dr["doc_dt"].ToString()</td>
                                    <td>@dr["bill_no"].ToString()</td>
                                    <td>@dr["bill_dt"].ToString()</td>
                                    <td class="num_right">@dr["qty"].ToString()</td>
                                    @if (ViewBag.cost_type == "PL")
                                    {
                                        foreach (var columnName in item2)
                                        {
                                            <td class="num_right">@dr[columnName].ToString()</td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="num_right">@dr["rate"].ToString()</td>
                                        <td class="num_right">@dr["val"].ToString()</td>
                                    }

                                </tr>
                                qty = qty + Convert.ToDecimal(dr["qty"]);
                                srno = srno + 1;
                            }
                        }
                    </tbody>
                    <tfoot>
                        @if (ViewBag.tbltot_rcptissue != null)
                        {
                            foreach (DataRow dr in ViewBag.tbltot_rcptissue.Rows)
                            {
                                <tr class="total">
                                    <td colspan="5" align="right"><strong>@Resource.Total</strong></td>

                                    @if (ViewBag.cost_type == "PL")
                                    {
                                        <td class="num_right"><strong>@qty</strong></td>
                                        foreach (var columnName in item2)
                                        {
                                            if (columnName.StartsWith("Price"))
                                            {
                                                <td class="num_right"><strong></strong></td>
                                            }
                                            else
                                            {
                                                <td class="num_right"><strong>@dr[columnName].ToString()</strong></td>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <td class="num_right"><strong>@dr["tot_qty"].ToString()</strong></td>
                                        <td class="num_right"><strong></strong></td>
                                        <td class="num_right"><strong>@dr["tot_val"].ToString()</strong></td>
                                    }

                                </tr>
                                break;
                            }
                        }

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="CloseBtn">@Resource.Close</button>
    </div>
</div>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>