@using EnRepMobileWeb.Resources;
@{ 
    decimal SchduleQty = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Planned @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-5 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.ProductName</label>
            <input id="PQ_ProductName" class="form-control " autocomplete="off" type="text" name="ProductName" placeholder="@Resource.ProductName" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.UOM</label>
            <input id="PQ_UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.Date</label>
            <input id="PQ_Date" class="form-control" autocomplete="off" type="date" name="Date" placeholder="@Resource.Date" disabled="">
        </div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="10%"> @Resource.SrNo</th>
                            <th width="30%">@Resource.Order <br /> @Resource.Number</th>
                            <th width="30%">@Resource.Order <br /> @Resource.Date</th>
                            <th width="30%">@Resource.Schedule <br /> @Resource.Quantity</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.DailyPP_PlannedQtyDetail != null)
                        {
                            var srNo = 1;
                            foreach (System.Data.DataRow dr in ViewBag.DailyPP_PlannedQtyDetail.Rows)
                            {
                                <tr>
                                    <td>@srNo</td>
                                    <td>@dr["jc_no"]</td>
                                    <td>@dr["jc_dt"]</td>
                                    <td class="num_right">@dr["prod_qty"]</td>
                                </tr>
                                SchduleQty = SchduleQty + Convert.ToDecimal(@dr["prod_qty"]);
                                srNo++;
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="num_right font-weight-bold">@Resource.Total</td>
                            <td class="num_right font-weight-bold">@SchduleQty</td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"  id="" onclick="">@Resource.Close</button>
    </div>
</div>
