@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var rowId = 0;
    var TotalInvAmt = "";
    var TotalPaidAmt = "";
    var TotalBalAmt = "";
}
@*Modified by Suraj Maurya on 13-02-2026 to optimise loops*@
<style>
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    #divtrialbaldetailstable .dataTables_length {
        position: relative;
        z-index: 100;
        width: 15%;
    }

    .datatable-buttons5_filter {
        position: absolute;
        z-index: 100;
    }

    /*  .dt-buttons {
        margin-left: 16%;
        width: 10%;
    }*/


    /*  #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }*/

    /* #datatable-buttons5_wrapper .buttons-csv {
        margin-left: -50% !important;
    }*/

</style>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/TrialBalance/Tree/javascript.js"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<div>
    <div id="div_trialbalsummary">
        <table id="tree-table" class="table table-hover table-bordered">
            <thead>
                <tr class="Tree1stCh">
                    <th>@Resource.groupname</th>
                    <th>@Resource.DebitAmount</th>
                    <th>@Resource.CreditAmount</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.L1Data != null)
                {
                    DataTable DetailsData = new DataTable();
                    DataTable DetailsData1 = new DataTable();
                    DetailsData = ViewBag.DetailsData as DataTable;

                    foreach (System.Data.DataRow dr in ViewBag.L1Data.Rows)
                    {
                        var sno = 0;
                        var L1_id = dr["L1"].ToString();
                        sno++;
                        <tr data-id="@L1_id" data-parent="0" data-level="@sno" class="Tree1stCh">
                            <td data-column="name">@dr["acc_group_name"].ToString()</td>
                            <td class="num_right">@dr["tot_Dr"].ToString()</td>
                            <td class="num_right">@dr["tot_Cr"].ToString()</td>
                        </tr>

                        if (ViewBag.DetailsData != null)
                        {
                            var sno_d1 = 0;
                            double dramt = 0.00;
                            double cramt = 0.00;

                            DataView d = DetailsData.AsDataView();// as DataView;
                            d.RowFilter = "L1 = '" + L1_id + "' AND acc_groupid = '" + L1_id + "'";
                            sno++;
                            //foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                            DataTable dtl = d.ToTable();
                            foreach (System.Data.DataRow drd in dtl.Rows)
                            {
                                var dgrpid_L1 = drd["L1"].ToString();
                                var dgrpid = drd["acc_groupid"].ToString();
                                var acc_id = drd["acc_id"].ToString();
                                dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));

                                if (dgrpid_L1 == L1_id && dgrpid == L1_id)
                                {
                                    sno_d1 = sno;
                                    <tr data-id="@acc_id" data-parent="@L1_id" data-level="@sno_d1">
                                        <td data-column="name">@drd["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Dr"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                @if (dramt == Convert.ToDouble(0))
                                                {
                                                    <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                }
                                                <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Cr"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                @if (cramt == Convert.ToDouble(0))
                                                {
                                                    <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                }

                                                <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }

                        if (ViewBag.L2Data != null)
                        {
                            var sno2 = 0;
                            DataTable dt = ViewBag.L2Data as DataTable;
                            DataView d = dt.AsDataView();
                            d.RowFilter = "L1 = '" + L1_id + "'";

                            sno++;
                            DataTable L2Data = d.ToTable();
                            //foreach (System.Data.DataRow dr2 in ViewBag.L2Data.Rows)
                            foreach (System.Data.DataRow dr2 in L2Data.Rows)
                            {
                                var L21_id = dr2["L1"].ToString();
                                var L2_id = dr2["L2"].ToString();
                                if (L21_id == L1_id)
                                {
                                    sno2 = sno;
                                    <tr data-id="@L2_id" data-parent="@L1_id" data-level="@sno2" class="Tree2ndCh">
                                        <td data-column="name">@dr2["acc_group_name"].ToString()</td>
                                        <td class="num_right">@dr2["tot_Dr"].ToString()</td>
                                        <td class="num_right">@dr2["tot_Cr"].ToString()</td>
                                    </tr>
                                }

                                if (ViewBag.DetailsData != null)
                                {
                                    double dramt = 0.00;
                                    double cramt = 0.00;
                                    var sno_d2 = 0;
                                    sno2++;
                                    DataView d2 = DetailsData.AsDataView();
                                    d2.RowFilter = "L1 = '" + L1_id + "' AND L2 = '" + L2_id + "' AND acc_groupid = '" + L2_id + "'";
                                    DetailsData1 = d2.ToTable();
                                    //foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                    foreach (System.Data.DataRow drd in DetailsData1.Rows)
                                    {
                                        var dgrpid_L1 = drd["L1"].ToString();
                                        var dgrpid_L2 = drd["L2"].ToString();
                                        var dgrpid = drd["acc_groupid"].ToString();
                                        var acc_id = drd["acc_id"].ToString();
                                        dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                        cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));


                                        if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid == L2_id)
                                        {
                                            sno_d2 = sno2;
                                            <tr data-id="@acc_id" data-parent="@L2_id" data-level="@sno_d2">
                                                <td data-column="name">@drd["acc_name"].ToString() <input type="hidden" id="accid" value="@drd["acc_id"].ToString()" /></td>
                                                @*<td class="num_right">@drd["tot_Dr"].ToString()</td>
                                                    <td class="num_right">@drd["tot_Cr"].ToString()</td>*@
                                                <td>
                                                    <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Dr"].ToString()</div>
                                                    <div class="col-sm-1 i_Icon">
                                                        @if (dramt == Convert.ToDouble(0))
                                                        {
                                                            <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                        }
                                                        <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Cr"].ToString()</div>
                                                    <div class="col-sm-1 i_Icon">
                                                        @if (cramt == Convert.ToDouble(0))
                                                        {
                                                            <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                        }

                                                        <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                                if (ViewBag.L3Data != null)
                                {
                                    var sno3 = 0;
                                    sno2++;

                                    DataTable dt2 = ViewBag.L3Data as DataTable;
                                    DataView d2 = dt2.AsDataView();
                                    d2.RowFilter = "L1 = '" + L1_id + "' AND L2 = '" + L2_id + "'";
                                    DataTable L3Data = d2.ToTable();
                                    foreach (System.Data.DataRow dr3 in L3Data.Rows)
                                    {
                                        var L31_id = dr3["L1"].ToString();
                                        var L32_id = dr3["L2"].ToString();
                                        var L3_id = dr3["L3"].ToString();

                                        if (L31_id == L1_id && L32_id == L2_id)
                                        {
                                            sno3 = sno2;
                                            <tr data-id="@L3_id" data-parent="@L2_id" data-level="@sno3" class="Tree3rdCh">
                                                <td data-column="name">@dr3["acc_group_name"].ToString()</td>
                                                <td class="num_right">@dr3["tot_Dr"].ToString()</td>
                                                <td class="num_right">@dr3["tot_Cr"].ToString()</td>
                                            </tr>
                                        }

                                        if (ViewBag.DetailsData != null)
                                        {
                                            double dramt = 0.00;
                                            double cramt = 0.00;
                                            var sno_d3 = 0;
                                            sno3++;

                                            DataView d3 = DetailsData.AsDataView();
                                            d3.RowFilter = "L1 = '" + L1_id + "' AND L2 = '" + L2_id + "' AND L3 = '" + L3_id + "' AND acc_groupid = '" + L3_id + "'";
                                            DetailsData1 = d3.ToTable();
                                            //foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                            foreach (System.Data.DataRow drd in DetailsData1.Rows)
                                            {
                                                var dgrpid_L1 = drd["L1"].ToString();
                                                var dgrpid_L2 = drd["L2"].ToString();
                                                var dgrpid_L3 = drd["L3"].ToString();
                                                var dgrpid = drd["acc_groupid"].ToString();
                                                var acc_id = drd["acc_id"].ToString();
                                                dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));


                                                if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid_L3 == L3_id && dgrpid == L3_id)
                                                {
                                                    sno_d3 = sno3;
                                                    <tr data-id="@acc_id" data-parent="@L3_id" data-level="@sno_d3">
                                                        <td data-column="name">@drd["acc_name"].ToString()</td>
                                                        @*<td class="num_right">@drd["tot_Dr"].ToString()</td>
                                                            <td class="num_right">@drd["tot_Cr"].ToString()</td>*@
                                                        <td>
                                                            <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Dr"].ToString()</div>
                                                            <div class="col-sm-1 i_Icon">
                                                                @if (dramt == Convert.ToDouble(0))
                                                                {
                                                                    <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                }
                                                                <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Cr"].ToString()</div>
                                                            <div class="col-sm-1 i_Icon">
                                                                @if (cramt == Convert.ToDouble(0))
                                                                {
                                                                    <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                }

                                                                <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }

                                        if (ViewBag.L4Data != null)
                                        {
                                            var sno4 = 0;
                                            sno3++;
                                            DataTable dt3 = ViewBag.L4Data as DataTable;
                                            DataView d3 = dt3.AsDataView();
                                            d3.RowFilter = "L1 = '" + L1_id + "' AND L2 = '" + L2_id + "' AND L3 = '" + L3_id + "'";
                                            DataTable L4Data = d3.ToTable();
                                            //foreach (System.Data.DataRow dr4 in ViewBag.L4Data.Rows)
                                            foreach (System.Data.DataRow dr4 in L4Data.Rows)
                                            {
                                                var L41_id = dr4["L1"].ToString();
                                                var L42_id = dr4["L2"].ToString();
                                                var L43_id = dr4["L3"].ToString();
                                                var L4_id = dr4["L4"].ToString();

                                                if (L41_id == L1_id && L42_id == L2_id && L43_id == L3_id)
                                                {
                                                    sno4 = sno3;
                                                    <tr data-id="@L4_id" data-parent="@L3_id" data-level="@sno4" class="Tree4thCh">
                                                        <td data-column="name">@dr4["acc_group_name"].ToString()</td>
                                                        <td class="num_right">@dr4["tot_Dr"].ToString()</td>
                                                        <td class="num_right">@dr4["tot_Cr"].ToString()</td>
                                                    </tr>
                                                }

                                                if (ViewBag.DetailsData != null)
                                                {
                                                    double dramt = 0.00;
                                                    double cramt = 0.00;
                                                    var sno_d4 = 0;
                                                    sno4++;
                                                    DataView d4 = DetailsData.AsDataView();
                                                    d4.RowFilter = "L1 = '" + L1_id + "' AND L2 = '" + L2_id + "' AND L3 = '" + L3_id + "' AND L4 = '" + L4_id + "' AND acc_groupid = '" + L4_id + "'";
                                                    DetailsData1 = d4.ToTable();
                                                    foreach (System.Data.DataRow drd in DetailsData1.Rows)
                                                    {
                                                        var dgrpid_L1 = drd["L1"].ToString();
                                                        var dgrpid_L2 = drd["L2"].ToString();
                                                        var dgrpid_L3 = drd["L3"].ToString();
                                                        var dgrpid_L4 = drd["L4"].ToString();
                                                        var dgrpid = drd["acc_groupid"].ToString();
                                                        var acc_id = drd["acc_id"].ToString();
                                                        dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                        cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));


                                                        if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid_L3 == L3_id && dgrpid_L4 == L4_id && dgrpid == L4_id)
                                                        {

                                                            sno_d4 = sno4;
                                                            <tr data-id="@acc_id" data-parent="@L4_id" data-level="@sno_d4">
                                                                <td data-column="name">@drd["acc_name"].ToString()</td>
                                                                <td>
                                                                    <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Dr"].ToString()</div>
                                                                    <div class="col-sm-1 i_Icon">
                                                                        @if (dramt == Convert.ToDouble(0))
                                                                        {
                                                                            <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                        }
                                                                        <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="col-md-11 col-sm-12 no-padding num_right">@drd["tot_Cr"].ToString()</div>
                                                                    <div class="col-sm-1 i_Icon">
                                                                        @if (cramt == Convert.ToDouble(0))
                                                                        {
                                                                            <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                                        }

                                                                        <input hidden="hidden" id="hdn_acc_id" value="@drd["acc_id"].ToString()">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            </tbody>
            <tfoot>
                <tr class="Tree1stCh">
                    <td class="num_right"><strong>@Resource.Total</strong></td>
                    @if (ViewBag.TotalAmt != null)
                    {
                        <td class="num_right"><strong>@ViewBag.TotalAmt.Rows[0]["total_dr"].ToString()</strong></td>
                        <td class="num_right"><strong>@ViewBag.TotalAmt.Rows[0]["total_cr"].ToString()</strong></td>
                    }
                    else
                    {
                        <td class="num_right"><strong> 000.00</strong></td>
                        <td class="num_right"><strong>000.00</strong></td>
                    }

                </tr>
            </tfoot>
        </table>
    </div>

    <div id="div_trialbaldetails" style="display:none;">
        <table id="datatable-buttons5" class="table table-striped width2000 itmfrz rowhighlighttbl" cellspacing="0" width="100%">
            <thead id="thtrailbal">
                <tr class="sticky-header">
                    <th width="3%">@Resource.SrNo</th>
                    <th width="10%" class="itmStick">@Resource.AccountName</th>
                    <th hidden="hidden">@Resource.AccountName</th>
                    <th width="6%">@Resource.AccountType</th>
                    <th width="10%">@Resource.AccountGroup</th>
                    @if (Model.BalanceBy != null)
                    {
                        if (Model.BalanceBy == "BranchwiseBalance")
                        {
                            <th width="7%">@Resource.Branch</th>
                        }
                        if (Model.BalanceBy == "HowiseBalance")
                        {
                            <th width="7%" style="display:none;">@Resource.Branch</th>
                        }
                    }
                    <th width="6%">@Resource.Currency</th>
                    <th width="10%" class="width-100">@Resource.OpeningBalance <br /> @Resource.Debit</th>
                    <th width="10%" class="width-100">@Resource.OpeningBalance <br /> @Resource.Credit</th>
                    <th width="9%">@Resource.Total @Resource.Debit </th>
                    <th width="9%">@Resource.Total @Resource.Credit </th>
                    <th width="9%">@Resource.Closing @Resource.Balance <br /> @Resource.Debit</th>
                    <th width="9%">@Resource.Closing @Resource.Balance <br /> @Resource.Credit</th>
                </tr>
            </thead>
            <tbody id="tbtrailbal">
                @if (Model.TrialBalanceListDetails != null)
                {
                    double dr_camt = 0.00;
                    double cr_camt = 0.00;

                    foreach (var row in Model.TrialBalanceListDetails)
                    {
                        dr_camt = Convert.ToDouble(@row.br_cl_dr_bs.Replace(",", ""));
                        cr_camt = Convert.ToDouble(@row.br_cl_cr_bs.Replace(",", ""));

                        rowId++;
                        <tr class="TrialBalanceLabel">
                            @if (Model.BalanceBy != null)
                            {
                                if (Model.BalanceBy == "BranchwiseBalance")
                                {
                                    <td>@rowId</td>
                                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz"><label id="sAccName">@row.AccountName</label></td>
                                    <td hidden="hidden" id="hdnaccid">@row.AccountId</td>
                                    <td id="Acc_typ">@row.AccountType</td>
                                    <td id="Acc_grp">@row.AccountGroup</td>
                                    <td id="Branch">@row.Branch<input type="hidden" id="hdnbrid" value="@row.BranchId"></td>
                                    <td id="Acc_curr">@row.curr_name <input type="hidden" id="hdncurr_id" value="@row.curr_id" /></td>
                                    <td class="num_right" id="op_bal_dr_bs">@row.br_op_dr_bs</td>
                                    <td class="num_right" id="op_bal_cr_bs">@row.br_op_cr_bs</td>
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper"><label id="totdebitbs">@row.BrTotalDebit_bs</label> </div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="DebitDetail" class="calculator" data-toggle="modal" onclick="OnClickDebitCreditAndClosingIcon(event,'TD');" data-target="#ClosingBalanceDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Debit @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper"><label id="totcreditbs">@row.BrTotalCredit_bs</label></div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="CreditDetail" class="calculator" data-toggle="modal" onclick="OnClickDebitCreditAndClosingIcon(event,'TC');" data-target="#ClosingBalanceDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Credit @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right" id="cl_bal_dr_bs">

                                        <div class="col-md-11 col-sm-12 no-padding num_right">@row.br_cl_dr_bs</div>
                                        <div class="col-sm-1 i_Icon">
                                            @if (dr_camt == Convert.ToDouble(0))
                                            {
                                                <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            }
                                            <input hidden="hidden" id="hdn_acc_id" value="@row.AccountId">
                                        </div>
                                    </td>
                                    <td class="num_right" id="cl_bal_cr_bs">

                                        <div class="col-md-11 col-sm-12 no-padding num_right">@row.br_cl_cr_bs</div>
                                        <div class="col-sm-1 i_Icon">
                                            @if (cr_camt == Convert.ToDouble(0))
                                            {
                                                <button type="button" class="calculator" style="filter: grayscale(100%)" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            }
                                            <input hidden="hidden" id="hdn_acc_id" value="@row.AccountId">
                                        </div>
                                    </td>
                                }
                                if (Model.BalanceBy == "HowiseBalance")
                                {
                                    <td>@rowId</td>
                                    <td id="tditem" class="ItmNameBreak itmStick tditemfrz"><label id="sAccName">@row.AccountName</label></td>
                                    <td hidden="hidden" id="hdnaccid">@row.AccountId</td>
                                    <td id="Acc_typ">@row.AccountType</td>
                                    <td id="Acc_grp">@row.AccountGroup</td>
                                    <td style="display:none;" id="Branch">@row.Branch<input type="hidden" id="hdnbrid" value="@row.BranchId"></td>
                                    <td id="Acc_curr">@row.curr_name<input type="hidden" id="hdnbrid" value="@row.BranchId"></td>
                                    <td class="num_right" id="op_bal_dr_bs">@row.Ho_op_dr_bs</td>
                                    <td class="num_right" id="op_bal_cr_bs">@row.Ho_op_cr_bs</td>
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper"><label id="totdebitbs">@row.HoTotalDebit_bs</label></div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="DebitDetail" class="calculator" data-toggle="modal" onclick="OnClickDebitCreditAndClosingIcon(event,'TD');" data-target="#ClosingBalanceDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Debit @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right">
                                        <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper"><label id="totcreditbs">@row.HoTotalCredit_bs</label></div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" id="CreditDetail" class="calculator" data-toggle="modal" onclick="OnClickDebitCreditAndClosingIcon(event,'TC');" data-target="#ClosingBalanceDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Credit @Resource.Detail">  </button>
                                        </div>
                                    </td>
                                    <td class="num_right" id="cl_bal_dr_bs">@row.Ho_cl_dr_bs</td>
                                    <td class="num_right" id="cl_bal_cr_bs">@row.Ho_cl_cr_bs</td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
            @*/*ADD by Hina Sharma on 31-07-2025 for show total Branch Wise and HOWise*/*@
            <tfoot>
                @if (Model.BalanceBy != null && ViewBag.TotalAmtTrialBalList != null)
                {

                    <tr class="sticky-header">
                        @if (Model.BalanceBy == "BranchwiseBalance")
                        {
                            <th colspan="6" class="num_right font-weight-bold"> @Resource.Total</th>
                        }
                        @if (Model.BalanceBy == "HowiseBalance")
                        {
                            <th colspan="5" class="num_right font-weight-bold"> @Resource.Total</th>
                        }
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalOpnBalDebit"].ToString()</th>
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalOpnBalCredit"].ToString()</th>
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalDebit"].ToString()</th>
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalCredit"].ToString()</th>
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalClsBalDebit"].ToString()</th>
                        <th class="num_right font-weight-bold">@ViewBag.TotalAmtTrialBalList.Rows[0]["TotalClsBalCredit"].ToString()</th>
                    </tr>

                }

            </tfoot>
        </table>
    </div>
</div>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@if (Model.BalanceBy != null && Model.BalanceByFilter != null)
{
    @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")

    Model.BalanceBy = null;
    Model.BalanceByFilter = null;
}

