@model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.DomesticPurchaseOrder.DPOListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/DomesticPurchaseOrder/DPOList.js"></script>

@*<table id="datatable-buttons" class="table table-striped table-bordered width2200 rowhighlighttbl" style="width:100%;">*@
<table id="datatable-buttons1" class="table table-striped table-bordered width2200 rowhighlighttbl itmfrz" style="width:100%;">
    <thead>
        <tr class="sticky-header">
            <th width="2%">&nbsp;</th>
            <th width="2%">@Resource.SrNo</th>
            <th width="6%" class="itmStick">@Resource.Order <br /> @Resource.Number</th>
            <th width="4%">@Resource.Order <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.Order  <br /> @Resource.Date</th>
            <th width="4%">@Resource.Order <br /> @Resource.Type</th>
            @if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101136")
            {
                <th width="6%">@Resource.Item <br /> @Resource.Type</th>
            }

            <th width="6%">@Resource.Source <br /> @Resource.Type</th>
            <th width="6%">@Resource.RequirementArea</th>
            <th width="8%">@Resource.Source <br /> @Resource.DocumentNumber</th>
            <th width="12%">@Resource.SupplierName</th>
            <th style="display:none;">&nbsp;</th>
            <th width="4%">@Resource.Currency</th>

            @if (Model.DocumentMenuId == "105101140101")//Added by Suraj on 22-02-2024
            {
                <th width="4%">@Resource.ImportFileNo</th>
                <th width="4%">@Resource.CountryOfOrigin</th>
            }
            <th width="6%">@Resource.Order  <br /> @Resource.Value</th>
            <th width="6%">@Resource.Status</th>
            <th width="5%">@Resource.CreatedBy</th>
            <th width="5%">@Resource.Createdon</th>
            <th width="5%">@Resource.ApprovedBy</th>
            <th width="5%">@Resource.ApprovedOn</th>
            <th width="5%">@Resource.AmendedBy</th>
            <th width="5%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DPOList != null)
        {
            foreach (var row in Model.DPOList)
            {
                rowId++;
        <tr>
            <td>

                @*<input type="hidden" id="hdpo_no" class="form-control">
            <input type="hidden" id="hdpo_dt" class="form-control">
            <input type="hidden" id="hdsupp_name" class="form-control">*@
                <a class="tooltip-test" id="PurchaseOrderTracking" href="" onclick="OnClickOrderTrackingBtn(event);" data-toggle="modal" data-target="#PurchaseOrderTracking" data-backdrop="static" data-keyboard="false" title="@Resource.PurchaseOrderTracking">
                    <img src="~/Content/Images/PurchaseOrderTracking2.png" title=" @Resource.Order @Resource.Tracking" width="20" height="20" />
                </a>
            </td>
            <td>@rowId</td>
            <td id="OrderNo" class="ItmNameBreak itmStick tditemfrz">@row.OrderNo</td>
            <td>@row.OrderDt</td>
            @*<td>@row.OrderDate</td>*@
            <td style="display:none;" id="OrderDt">@row.OrderDt</td>
            <td>@row.OrderType</td>
            @if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101136")
            {
                <td id="ListItem_type">@row.item_type</td>
            }
            <td>@row.SourceType</td>
            <td>@row.req_area</td>
            <td>@row.SourceDocNo</td>
            <td id="SuppName">@row.SuppName</td>
            <td style="display:none;" id="supp_id">@row.supp_id</td>
            <td class="center">@row.Currency</td>
            @if (Model.DocumentMenuId == "105101140101")//Added by Suraj on 22-02-2024
            {
                <td>@row.imp_file_no</td>
                <td>@row.country_origin</td>
            }
            <td align="right">@row.OrderValue</td>
            <td id="Doc_Status">@row.OrderStauts</td>
            <td>@row.create_by</td>
            <td>@row.CreateDate</td>
            <td>@row.app_by</td>
            <td>@row.ApproveDate</td>
            <td>@row.mod_by</td>
            <td>@row.ModifyDate</td>

        </tr>
            }
        }
    </tbody>
</table>
@if (Model.DPOSearch != null)
{
    if (Model.DPOSearch == "DPO_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["DPOSearch"] = null;
    }
}
