    @using EnRepMobileWeb.Resources;
@{
    var Disable = true;
    decimal TotalIssueQty = 0;
    ViewBag.QtyDigit = "0.";
    int QtyDigit = 0;
    if (ViewBag.DocID == "105103145115")
    {
         QtyDigit = Convert.ToInt32(Session["ExpImpQtyDigit"].ToString());
    }
    else
    {
         QtyDigit = Convert.ToInt32(Session["QtyDigit"].ToString());
    }

    for (var i = 0; i < QtyDigit; i++)
    {
        ViewBag.QtyDigit += "0";
    }
    string isnull(string data)
    {
        var result = string.IsNullOrEmpty(data) ? "0" : data;
        return result;
    }
    if (ViewBag.TransType != null)
    {
        if (ViewBag.TransType == "Update")
        {
            if (ViewBag.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (ViewBag.Command == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }
    var ResFlag = "N";
}

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.LotDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top: 0px;">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.ItemName
            </label>
            <input id="ItemNameBatchWise" class="form-control" type="text" name="ItemName" placeholder="@Resource.ItemName" disabled>
            <input type="hidden" id="HDItemNameBatchWise" />
            <input type="hidden" id="HDWhIDBatchWise" />
            <input type="hidden" id="HDBatchSubItem" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="UOMBatchWise" class="form-control" type="text" name="UOM" placeholder="@Resource.UOM" disabled>
            <input type="hidden" id="HDUOMBatchWise" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px; padding-right:0px;">
            <label class="col-form-label label-align">@Resource.PackedQuantity</label>
            <input id="QuantityBatchWise" class="form-control num_right" type="text" name="Quantity" placeholder="0000.00" disabled>
        </div>
        <div class="clearfix"></div>
        <div class="form-group has-search imp_sear col-md-4 col-sm-12 pl-0 pr-2 mt-1">
            <span class="fa fa-search form-control-feedback pd_search"></span>
            <input type="text" class="form-control" placeholder="@Resource.Search" onkeyup="FilterPackingLotBatch(event)">
        </div>
        <div class="BatchDetail">
            <div class="tableFixHead price_item_detail ">

                <table id="BatchWiseItemStockTbl" class="table table-bordered margin5">
                    <thead>
                        <tr class="headings">
                            <th width="10%"> @Resource.Lot</th>
                            <th width="12%"> @Resource.Batch1 / @Resource.Serial1</th>
                            <th width="10%"> @Resource.Manufacturer @Resource.Name</th>
                            <th width="10%"> @Resource.MRP</th>
                            <th width="10%"> @Resource.Manufactured @Resource.Date</th>
                            <th width="8%"> @Resource.Expiry <br />  @Resource.Date</th>
                            <th width="10%"> @Resource.Available <br />  @Resource.Quantity</th>
                            <th width="10%"> @Resource.Order @Resource.Reserved @Resource.Quantity</th>
                            <th width="10%"> @Resource.Total <br />  @Resource.AvailableQuantity</th>
                            <th width="10%"> @Resource.Packed <br />  @Resource.Quantity</th>
                            <th hidden="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ItemStockBatchWise != null)
                        {
                            decimal IssueQty = 0;
                            foreach (System.Data.DataRow Row in ViewBag.ItemStockBatchWise.Rows)
                            {
                                if (Row["issue_qty"].ToString() != "" && Row["issue_qty"].ToString() != null)
                                {
                                    TotalIssueQty = Convert.ToDecimal(TotalIssueQty) + Convert.ToDecimal(Row["issue_qty"].ToString());
                                }
                        <tr>
                            <td>
                                <input id="Lot" value="@Row["lot_id"].ToString()" class="form-control" autocomplete="off" type="text" name="Lot" placeholder=""  disabled="">
                            </td>
                            <td>
                                <input id="BatchNumber" value="@Row["batch_no"].ToString()" class="form-control" autocomplete="off" type="text" name="BatchNumber" placeholder=""  disabled="">
                            </td>

                            <td>
                                <input id="BatchMfgName" value="@Row["mfg_name"].ToString()" class="form-control" autocomplete="off" type="text" name="" placeholder="" disabled="">
                            </td>
                            <td>
                                <input id="BatchMfgMrp" value="@Row["mfg_mrp"].ToString()" class="form-control" autocomplete="off" type="text" name="" placeholder="" disabled="">
                            </td>
                            <td>
                                <input id="" value="@(Row["mfg_date"].ToString() == "" ? "" : Convert.ToDateTime(Row["mfg_date"]).ToString("dd-MM-yyyy"))" class="form-control" autocomplete="off" type="text" name="" placeholder="" disabled="">
                                <input id="BatchMfgDate" hidden value="@Row["mfg_date"].ToString()"type="text">
                            </td>
                            <td>
                                @if (@Row["expiry_date"].ToString() == "01-01-1900")
                                {
                                    <input id="ExpiryDate" value="" class="form-control" autocomplete="off" type="text" name="ExpiryDate" placeholder=""  disabled="">
                                }
                                else
                                {
                                    <input id="ExpiryDate" value="@Row["expiry_date"].ToString()" class="form-control" autocomplete="off" type="text" name="ExpiryDate" placeholder="" disabled="">
                                }
                                <input id="hfExDate" hidden="hidden" value="@Row["exp_dt"].ToString()" />
                            </td>
                            <td align="right">
                                <input id="AvailableQuantity" value="@Convert.ToDecimal(Row["avl_batch_qty"]).ToString(ViewBag.QtyDigit)" class="form-control num_right" autocomplete="off" type="text" name="AvailableQuantity" placeholder=""  disabled="">
                            </td>
                            <td align="right">
                                <input id="ResQty" value="@Convert.ToDecimal(Row["resqty"]).ToString(ViewBag.QtyDigit)" class="form-control num_right" autocomplete="off" type="text" name="" placeholder="" disabled>
                            </td>
                            <td align="right">
                                <input id="ToatlAvlQuantity" value="@Convert.ToDecimal(Row["totalavlqty"]).ToString(ViewBag.QtyDigit)" class="form-control num_right" autocomplete="off" type="text" name="" placeholder="" disabled="">
                            </td>
                            <td>
                                @if (Convert.ToDecimal(isnull(Row["resqty"].ToString())) > 0)
                                {
                                    <div class="col-sm-10 no-padding">
                                        <div class="lpo_form">
                                            @if (ViewBag.DocID != "105103135" && ViewBag.DocID != "105103145120")
                                            {
                                                if (Disable)
                                                {
                                                    <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                }
                                                else
                                                {
                                                    //if (Session["Command"].ToString() == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                                                    if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                                                    {
                                                        <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                    }
                                                    else
                                                    {
                                                        <input id="IssuedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <input id="IssuedQuantity" disabled class="form-control num_right " value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                            }
                                            <span id="IssuedQuantity_Error" class="error-message is-visible"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 i_Icon" id="Icon_Order_resqty">
                                        <button type="button" class="calculator" onclick="OnClickIssueIcon(event)" data-toggle="modal" data-target="#OrderWiseReserved" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReservedDetail"> </button>
                                    </div>
                                    ResFlag = "Y";
                                }
                                else
                                {
                                    <div class="col-sm-12 no-padding">
                                        <div class="lpo_form">
                                            @if (ViewBag.DocID != "105103135" && ViewBag.DocID != "105103145120")
                                            {
                                                if (Disable)
                                                {
                                                    <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                }
                                                else
                                                {
                                                    //if (Session["Command"].ToString() == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                                                    if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                                                    {
                                                        if (ViewBag.Amend == "Amend")
                                                        {
                                                            <input id="IssuedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                        }
                                                        else
                                                        {
                                                            <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input id="IssuedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <input id="IssuedQuantity" disabled class="form-control num_right " value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                            }
                                            <span id="IssuedQuantity_Error" class="error-message is-visible"></span>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-2 i_Icon" id="Icon_Order_resqty">
                    <button type="button" class="calculator" onclick="OnClickIssueIcon(event)" data-toggle="modal" data-target="#OrderWiseReserved" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReservedDetail"> </button>
                </div>*@
                                }

                            </td>
                            <td hidden="hidden" id="bt_sale">@Row["bt_sale"].ToString()</td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <table class="table table-bordered" id="ItembatchwiseDetailsTbl" style="margin-bottom:0rem !important;">
                <tr class="total">
                    <th width="80%" class="num_right">@Resource.Total</th>
                    <th class="num_right">

                        <div class="@(ResFlag == "Y"?"col-sm-8":"col-sm-10") no-padding ">
                            <span class="mr-2" id="BatchwiseTotalIssuedQuantity">@Convert.ToDecimal(TotalIssueQty).ToString(ViewBag.QtyDigit)</span>
                        </div>
                        <div class="col-sm-2 i_Icon no-padding">
                            <button type="button" id="SubItemBatchPopupQty" class="calculator subItmImg" onclick="return SubItemDetailsPopUp('PackResTotalQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                        </div>
                        @if (ResFlag == "Y")
                        {
                            <div class="col-sm-2 i_Icon" id="Icon_Order_resqty">
                                <button type="button" class="calculator" id="SubItemReserveQtyIcon" onclick="OnClickIssueForResSubItemInfo()" data-toggle="modal" data-target="#OrderWiseSubItemReserved" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReservedDetail"> </button>
                            </div>
                        }

                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        @if (Disable)
        {

        }
        else
        {
            if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
            {
                if (ViewBag.Amend == "Amend")
                {
                    <button type="button" id="btnItemBatchReset" onclick="OnClickItemBatchResetbtn()" class="btn btn-primary btn-sm">@Resource.Reset</button>
                    <button type="button" id="btnItemBatchSaveAndExit" onclick="onclickbtnItemBatchSaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
                    <button type="button" id="btnItemBatchDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
                }
            }
            else
            {
                <button type="button" id="btnItemBatchReset" onclick="OnClickItemBatchResetbtn()" class="btn btn-primary btn-sm">@Resource.Reset</button>
                <button type="button" id="btnItemBatchSaveAndExit" onclick="onclickbtnItemBatchSaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
                <button type="button" id="btnItemBatchDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
            }
        }
    </div>
</div>




