@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockAgeing.StockAgeingDetail_Model
@using EnRepMobileWeb.Resources;
@using System.Data
<style>
    #Tbl_StockAgeingDetail_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #Tbl_StockAgeingDetail_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #Tbl_StockAgeingDetail_wrapper {
        padding-left: 2px !important;
    }
    .hidden{
        display:none;
    }
</style>
@{ 
    var range1 = Model.ageingRanges.range_1;
    var range2 = Model.ageingRanges.range_2;
    var range3 = Model.ageingRanges.range_3;
    var range4 = Model.ageingRanges.range_4;
    var range5 = Model.ageingRanges.range_5;
}
<script src="/Content/Scripts/Common/CommonPartialJS.js"></script>

<table id="Tbl_StockAgeingDetail" class="table table-striped width3200 itmfrz rowhighlighttbl itmfrz table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="10%" class="itmStick">@Resource.Item @Resource.Name</th>
            <th width="3%" title="@Resource.UnitOfMeasure">@Resource.UOM</th>
            <th width="5%">@Resource.Branch</th>
            <th width="5%" hidden>Branch ID</th>
            <th width="5%">@Resource.HSNCode</th>
            <th width="8%">@Resource.Item @Resource.Group</th>
            <th width="8%" hidden>@Resource.Item @Resource.GroupId</th>
            @*<th width="9%">@Resource.Item @Resource.Portfolio</th>*@
            <th width="6%">@Resource.Warehouse</th>
            <th width="4%">@Resource.Lot</th>
            <th width="4%">@Resource.Batch1</th>
            <th width="4%">@Resource.ExpiryDate</th>
            <th width="4%">@Resource.Serial1</th>
            <th width="4%">@Resource.Inward @Resource.Date</th>
            <th width="4%">@Resource.Inward @Resource.Type</th>
            <th width="4%">0-@range1</th>
            <th width="4%">@(range1 + (range1 == 0 ? 0 : 1))-@range2</th>
            <th width="4%">@(range2 + (range1==0 ? 0 : 1))-@range3</th>
            <th width="4%">@(range3 + (range1==0 ? 0 : 1))-@range4</th>
            <th width="4%">@(range4 + (range1==0 ? 0 : 1))-@range5</th>
            <th width="4%">>@range5</th>
            <th width="4%">@Resource.Available @Resource.Stock</th>
            <th width="4%">@Resource.Available @Resource.Stock @Resource.InSpecific</th>
            <th width="4%">@Resource.Available @Resource.Stock @Resource.Value</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <td>01</td>
            <td class="ItmNameBreak itmStick tditemfrz">
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> AAF-1525 GL 16X16 /PRINTED</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>Delhi</td>
            <td>4987654</td>
            <td>FG->Rubber</td>
            <td>Rubber</td>
            <td>FG Warehouse</td>
            <td>Lot#001</td>
            <td>3456789</td>
            <td>25-Feb-2025</td>
            <td>Serial#001</td>
            <td class="num_right">300.00</td>
            <td class="num_right">300.00</td>
            <td class="num_right">300.00</td>
            <td class="num_right">200.00</td>
            <td class="num_right">000.00</td>
            <td class="num_right">25.00</td>
            <td class="num_right">525.00</td>
            <td class="num_right">1476 (Kgs)</td>
            <td class="num_right">54986</td>
        </tr>*@

    </tbody>
</table>
