@using EnRepMobileWeb.Resources;
<style>
    #GRNQuantity #TblGRNQtyDetail_wrapper .buttons-csv {
        position: absolute;
        margin-left: 20%;
        /*top: -10px;*/
    }
    #GRNQuantity #TblGRNQtyDetail_wrapper .buttons-pdf {
       /* position: absolute;*/
        margin-left: 24% !important;
        
    }
    #GRNQuantity #TblGRNQtyDetail_filter {
        position: absolute;
        right: 0;
        top: 0;
    }
    #GRNQuantity .dataTables_length {
        position: absolute;
        z-index:10;
    }
    #GRNQuantity #TblGRNQtyDetail_wrapper {
        height: 30px;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2><span id=""> @Resource.GRN @Resource.Quantity @Resource.Detail</span></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Job @Resource.Order @Resource.Number</label>
                <input autocomplete="off" class="form-control" id="txtGRNJONum" name="JobOrderNumber" placeholder="@Resource.Job @Resource.Order @Resource.Number" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Job @Resource.Order @Resource.Date </label>
                <input autocomplete="off" class="form-control" id="txtGRNJODt" name="JobOrderDate" placeholder="@Resource.Job @Resource.Order @Resource.Date" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.SubContractor @Resource.Name </label>
                <input autocomplete="off" class="form-control" id="txtGRNSuppName" name="Sub-ContractorName" placeholder="@Resource.SubContractor @Resource.Name" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Finished @Resource.Product </label>
                <input autocomplete="off" class="form-control" id="txtGRNFItmName" name="FinishedProduct" placeholder="@Resource.Finished @Resource.Product" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.UOM </label>
                <input autocomplete="off" class="form-control" id="txtGRNFUom" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Operation @Resource.Name </label>
                <input autocomplete="off" class="form-control" id="txtGRNOpName" name="OperationName" placeholder="@Resource.Operation @Resource.Name" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Operation @Resource.Output @Resource.Product</label>
                <input autocomplete="off" class="form-control" id="txtGRNOpOutItmName" name="OperationOutputProduct" placeholder="@Resource.Operation @Resource.Output @Resource.Product" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12 no-padding">
                <div class="col-md-6 col-sm-12 ">
                    <label class="col-form-label label-align">@Resource.UOM </label>
                    <input autocomplete="off" class="form-control" id="txtGRNOpOutUom" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">
                </div>
                <div class="col-md-6 col-sm-12 pl-0">
                    <label class="col-form-label label-align">@Resource.Order @Resource.Quantity </label>
                    <input autocomplete="off" class="form-control num_right" id="txtGRNOrdQty" name="OrderQuantity" placeholder="@Resource.Order @Resource.Quantity" readonly="readonly" type="text" value="">
                </div>
            </div>
        </div>
        <div class="card-box table-responsive dy_table mt-3">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">               
                <table id="TblGRNQtyDetail" data-order="" class="table table-striped table-bordered rowhighlighttbl width1200 itmfrz">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="16%" class="itmStick">@Resource.GRN @Resource.Number</th>
                            <th width="12%">@Resource.GRN  @Resource.Date</th>
                            <th style="display:none;">@Resource.GRN <br /> @Resource.Date</th>
                            <th width="16%">@Resource.Quality <br /> @Resource.Inspection @Resource.Number</th>
                            <th width="12%">@Resource.Inspection <br /> @Resource.Date   </th>
                            <th style="display:none;">@Resource.Inspection <br /> @Resource.Date</th>
                            <th width="14%">@Resource.Accepted <br /> @Resource.Quantity    </th>
                            <th width="13%">@Resource.Rejected <br /> @Resource.Quantity    </th>
                            <th width="13%">@Resource.Rework <br /> @Resource.Quantity    </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>01</td>
                            <td>DSP1001</td>
                            <td>10-10-2023</td>
                            <td>QA1001</td>
                            <td>10-10-2023</td>
                            <td class="num_right">9000.00</td>
                            <td class="num_right">9000.00</td>
                            <td class="num_right">9000.00</td>
                        </tr>*@
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.Close</button>
        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.DiscardAndExit</button>*@
    </div>
</div>