@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesReturn.SalesReturnList_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/SalesReturn/SalesReturnList.js"></script>

<table id="datatable-buttons" class="table table-striped width2000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.Return  <br /> @Resource.Number</th>
            <th width="8%">@Resource.Return  <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.ReturnDate</th>
            <th width="8%">@Resource.SourceType </th>
            <th width="8%">@Resource.InvoiceNumber  <br /> @Resource.InvoiceDate</th>
            <th width="10%">@Resource.CustomerName</th>
            <th width="7%">@Resource.Return  <br /> @Resource.Value</th>
            <th width="7%">@Resource.Status</th>
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @if (Model.SalesReturnList != null)
        {
            foreach (var row in Model.SalesReturnList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="SRTNumber" class="ItmNameBreak itmStick tditemfrz">@row.SRTNumber</td>
                    <td>@row.SRTDate</td>
                    <td style="display:none;" id="hdSRTDate">@row.hdSRTDate</td>
                    <td>@row.list_src_type</td>
                    <td>@row.inv_no</td>
                    <td>@row.CustomerName</td>
                    <td class="num_right">@row.SRT_value</td>
                    <td id="Doc_Status">@row.SRTStatus</td>
                    <td>@row.create_by</td>
                    <td>@row.CreatedON</td>
                    <td>@row.app_by</td>
                    <td>@row.ApprovedOn</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifiedOn</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["SRSearch"] != null)*@
@if (Model.SRSearch != null)
{
    if (Model.SRSearch == "SR_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.SRSearch = null;
    }
}


