@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons4_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<table id="datatable-buttons4" class="table table-striped rowhighlighttbl mb-3 width1600" cellspacing="0">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="14%">@Resource.Item @Resource.Name</th>
            <th width="8%" title="Unit Of Measure"> @Resource.UOM</th>
            <th width="9%">@Resource.Issue @Resource.Number</th>
            <th width="9%">@Resource.Issue @Resource.Date</th>
            <th width="8%">@Resource.Requirement @Resource.Area</th>
            <th width="8%">@Resource.Issued @Resource.to1</th>
            <th width="8%">@Resource.Issued @Resource.By</th>
            <th width="8%">@Resource.Requisition @Resource.Number</th>
            <th width="8%">@Resource.Requisition @Resource.Date</th>
            <th width="8%">@Resource.Warehouse</th>
            <th width="8%">@Resource.Issued @Resource.Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>

        </tr>
        <tr>
            <td>02</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>

        </tr>
        <tr>
            <td>03</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>

        </tr>
        <tr>
            <td>04</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon"> 
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>

        </tr>
        <tr>
            <td>05</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>

        </tr>
        <tr>
            <td>06</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>
        </tr>
        <tr>
            <td>07</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>
        </tr>
        <tr>
            <td>08</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>
        </tr>
        <tr>
            <td>09</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>
        </tr>
        <tr>
            <td>10</td>
            <td>
                <div class="col-sm-11 no-padding" id="multiWrapper"><span id="ItmNameSpan"> 4697 Corrugated Box</span></div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation">  </button>
                </div>
            </td>
            <td>Pcs</td>
            <td>IS00001</td>
            <td>10-10-2023</td>
            <td>Production</td>
            <td>Customer 1</td>
            <td>Ishwar</td>
            <td>MRS0001</td>
            <td>10-10-2023</td>
            <td>RM</td>
            <td class="num_right">10</td>
        </tr>

    </tbody>
</table>
