@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}

<table id="datatable-buttons" class="table table-striped width1400 " cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th>@Resource.Requisition <br/> @Resource.Number</th>
            <th>@Resource.Requisition <br /> @Resource.Date</th>
            <th>@Resource.Source <br /> @Resource.Type</th>
            <th>@Resource.Requirement <br /> @Resource.Area</th>
            <th>@Resource.RequestedBy</th>
            <th>@Resource.Status</th>
            <th width="9%">@Resource.Createdon</th>
            <th width="9%">@Resource.ApprovedOn</th>
            <th width="9%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1">1</td>
            <td>AE/02/22/PR0000018</td>
            <td>28-02-2022</td>
            <td>Direct</td>
            <td>Shop Floor 4001</td>
            <td></td>
            <td>Drafted</td>
            <td>28-02-2022 15:46</td>
            <td></td>
            <td></td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1">2</td>
            <td>AE/12/21/PR0000017</td>
            <td>23-12-2021</td>
            <td>Direct</td>
            <td>Shop Floor</td>
            <td></td>
            <td>Order Raised</td>
            <td>23-12-2021 16:51</td>
            <td>23-12-2021 16:53</td>
            <td></td>
        </tr>
        <tr role="row" class="odd">
            <td class="sorting_1">3</td>
            <td>AE/12/21/PR0000016</td>
            <td>23-12-2021</td>
            <td>Direct</td>
            <td>Purchase</td>
            <td></td>
            <td>Cancelled</td>
            <td>23-12-2021 11:30</td>
            <td>23-12-2021 11:35</td>
            <td>23-12-2021 11:35</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1">4</td>
            <td>AE/12/21/PR0000015</td>
            <td>23-12-2021</td>
            <td>Direct</td>
            <td>Shop Floor</td>
            <td></td>
            <td>Approved</td>
            <td>23-12-2021 11:28</td>
            <td>23-12-2021 16:36</td>
            <td></td>
        </tr>
        <tr role="row" class="odd">
            <td class="sorting_1">5</td>
            <td>AE/12/21/PR0000014</td>
            <td>23-12-2021</td>
            <td>Direct</td>
            <td>Plant &amp; Maintenance</td>
            <td></td>
            <td>Cancelled</td>
            <td>23-12-2021 11:18</td>
            <td>23-12-2021 11:21</td>
            <td>23-12-2021 11:21</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1">6</td>
            <td>AE/12/21/PR0000013</td>
            <td>23-12-2021</td>
            <td>Direct</td>
            <td>Shop Floor</td>
            <td></td>
            <td>Drafted</td>
            <td>23-12-2021 11:00</td>
            <td></td>
            <td></td>
        </tr>
        <tr role="row" class="odd">
            <td class="sorting_1">7</td>
            <td>AE/12/21/PR0000012</td>
            <td>20-12-2021</td>
            <td>MRS</td>
            <td>Shop Floor</td>
            <td>23123</td>
            <td>Drafted</td>
            <td>20-12-2021 14:39</td>
            <td></td>
            <td></td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1">8</td>
            <td>AE/12/21/PR0000011</td>
            <td>20-12-2021</td>
            <td>Direct</td>
            <td>Shop Floor</td>
            <td></td>
            <td>RFQ Raised</td>
            <td>20-12-2021 12:28</td>
            <td>20-12-2021 12:28</td>
            <td></td>
        </tr>
        <tr role="row" class="odd">
            <td class="sorting_1">9</td>
            <td>AE/12/21/PR0000010</td>
            <td>20-12-2021</td>
            <td>Direct</td>
            <td>Shop Floor</td>
            <td>Store</td>
            <td>RFQ Raised</td>
            <td>20-12-2021 12:15</td>
            <td>20-12-2021 12:15</td>
            <td>20-12-2021 12:26</td>
        </tr>
    </tbody>
</table>
@*@if (Session["PRSearch"].ToString() == "PR_Search")
    {
@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
@Scripts.Render("~/Content/Scripts/DatatablesJs")
}*@