@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.DeliveryNote.DNListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SubContracting/DeliveryNote/DeliveryNoteSCList.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered width1600 rowhighlighttbl itmfrz" style="width:100%;">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="12%" class="itmStick">@Resource.DeliveryNote <br /> @Resource.Number</th>
            <th width="9%">@Resource.DeliveryNote  <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.DeliveryNote  <br /> @Resource.Date</th>
            <th width="17%">@Resource.ContractorName</th>
            <th width="10%">@Resource.BillNumber</th>
            <th width="10%">@Resource.BillDate</th>
            <th width="10%">@Resource.Job <br /> @Resource.Order @Resource.Number</th>
            <th width="7%">@Resource.Job <br /> @Resource.Order  @Resource.Date</th>
            <th width="7%">@Resource.Status</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DeliveryNoteSCList != null)
        {
            foreach (var row in Model.DeliveryNoteSCList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="DNNo" class="ItmNameBreak itmStick tditemfrz">@row.DNNumber</td>
                    <td id="DNDate">@row.DNDate</td>
                    <td style="display:none;" id="DNDt">@row.DN_Dt</td>
                    <td id="SuppName">@row.SuppName</td>
                    <td>@row.BillNo</td>
                    <td>@row.BillDate</td>
                    <td>@row.JobOrdNo</td>
                    <td>@row.JobOrdDt</td>                    
                    <td id="Doc_Status">@row.DN_Status</td>
                    <td>@row.CreatedON</td>
                    <td>@row.ApprovedOn</td>
                    

                </tr>
            }
        }

    </tbody>
</table>
@*@if (Session["DNSCSearch"] != null)*@
@if (Model.DNSCSearch != null)
{
    //if (Session["DNSCSearch"].ToString() == "DNSC_Search")
    if (Model.DNSCSearch == "DNSC_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["DNSCSearch"] = null;
        Model.DNSCSearch = null;
    }
}
