@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<table id="datatable-buttons" class="table table-striped table-bordered width1700 rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th width="3%">&nbsp;</th>
            <th width="3%">@Resource.SrNo</th>
            <th width="14%">Product Description</th>
            <th width="5%">UOM</th>
            <th width="7%">Number of Parts</th>
            <th width="7%">Make</th>
            <th width="7%">Model</th>
            <th width="8%">Category</th>
            <th width="7%">Image</th>
            <th width="7%">Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
        </tr>
    </thead>
    <tbody id="">
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("ProductDiscoveryDetail","ProductDiscovery")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>

                @*<button type="button" class="calculator subItmImg" id="BtnBatchDetail" onclick="" data-toggle="modal" data-target="#BatchNumber" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></button>*@
            </td>
            <td>01</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>6</td>
            <td>Audi</td>
            <td>Q6</td>
            <td>Passenger Vehicle</td>
            <td class="center">
                <img src="~/Content/Images/product1.png" height="50" />
            </td>
            <td>Approved</td>
            <td>Amit</td>
            <td>20-Sep-2025 10:47</td>
            <td>Surender Singh</td>
            <td>21-Sep-2025 10:15</td>

        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("ProductDiscoveryDetail","ProductDiscovery")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>02</td>
            <td>V-Belt 1208</td>
            <td>Pcs</td>
            <td>3</td>
            <td>Skoda</td>
            <td>Kushak</td>
            <td>Passenger Vehicle</td>
            <td class="center">  <img src="~/Content/Images/product.png" height="50" /></td>
            <td>Approved</td>
            <td>Amit</td>
            <td>20-Sep-2025 10:47</td>
            <td>Surender Singh</td>
            <td>21-Sep-2025 10:15</td>

        </tr>
    </tbody>
</table>

