@using EnRepMobileWeb.Resources;


<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.ProductDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="col-md-5 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.CustomerName</label>
            <input id="Customer" class="form-control" value="" autocomplete="off" type="text" name="Customer" placeholder="@Resource.CustomerName" disabled="">

        </div>

        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.OrderNumber</label>
            <input id="InvoiceNumber" value="" class="form-control" autocomplete="off" type="text" name="InvoiceNumber" placeholder="@Resource.InvoiceNumber" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.OrderDate</label>
            <input id="FromDate" class="form-control" value="" autocomplete="off" type="date" name="FromDate" placeholder="" disabled="">
        </div>
        <div class="col-md-3 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.Currency</label>
            <input id="Currency" value="" class="form-control" autocomplete="off" type="text" name="Currency" placeholder="@Resource.Currency" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.FromDate</label>
            <input id="ToDate" class="form-control" value="" autocomplete="off" type="date" name="ToDate" placeholder="" disabled="">
        </div>

        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.ToDate</label>
            <input id="ToDate" class="form-control" value="" autocomplete="off" type="date" name="ToDate" placeholder="" disabled="">
        </div>

        <div class="clearfix"></div>
        @*<div class="tableFixHead height30VH margin10">
            <table id="" class="table table-striped width1200 rowhighlighttbl" cellspacing="0" width="100%">
                <thead>
                    <tr class="headings">*@
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                <table id="" data-order="" class="table table-striped width1200 table-bordered rowhighlighttbl itmfrz" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="3%">@Resource.SrNo</th>
                            <th width="20%" class="itmStick">@Resource.ItemName</th>
                            <th>@Resource.UOM</th>
                            <th>@Resource.Sale @Resource.Quantity</th>
                            <th>@Resource.SalePrice  <br /> @Resource.InBase</th>
                            <th>@Resource.SaleAmount <br /> @Resource.InBase</th>
                            <th>@Resource.TaxAmount</th>
                            <th>@Resource.OtherCharges </th>
                            <th>@Resource.Order @Resource.Amount  <br /> @Resource.InBase</th>
                            <th>@Resource.Order @Resource.Amount <br /> @Resource.InSpecific</th>
                            @*<th>@Resource.ApprovedOn</th>*@
                        </tr>
                    </thead>
                    <tbody id="">
                        <tr>
                            <td>01</td>
                            <td class="ItmNameBreak itmStick tditemfrz">
                                <div class="col-sm-11">Item 1 </div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="CustomerInvoiceDetail" class="calculator iButton" onclick="" data-toggle="modal" data-target="#CustomerInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                                </div>
                            </td>
                            <td>Pcs</td>
                            <td>1/2/2022</td>
                            <td class="num_right">100</td>
                            <td class="num_right">340.5</td>
                            <td class="num_right">340.50</td>
                            <td class="num_right">240</td>
                            <td class="num_right">200</td>
                            <td class="num_right">34490</td>
                            <td class="num_right">34930</td>



                        </tr>



                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="OnClickSerialDiscardAndExit()">@Resource.Close</button>
    </div>
</div>





