@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.JournalBook.JournalBookModel
@using EnRepMobileWeb.Resources;

<style>
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: block;
    }
    #datatable-buttons_wrapper .buttons-pdf, #datatable-buttons1_wrapper .buttons-pdf, #datatable-buttons2_wrapper .buttons-pdf, #datatable-buttons3_wrapper .buttons-csv, #datatable-buttons4_wrapper .buttons-pdf, #datatable-buttons5_wrapper .buttons-pdf, #datatable-buttons6_wrapper .buttons-pdf, #datatable-buttons7_wrapper .buttons-pdf, #datatable-buttons8_wrapper .buttons-pdf, #datatable-buttons9_wrapper .buttons-pdf, #datatable-buttons10_wrapper .buttons-pdf {
        position: absolute;
        margin-left: 21%;
        z-index: 100;
        margin-top: 0px;
        cursor: pointer;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@*<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/JournalBook/JournalBook.js"></script>*@
<table id="datatable-buttons5" class="table table-striped width2400 rowhighlighttbl CashBook" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="7%">@Resource.Voucher @Resource.Number</th>
            <th hidden="hidden">@Resource.Voucher @Resource.Number</th>
            <th width="7%">@Resource.Voucher @Resource.Date</th>
            <th hidden="hidden">@Resource.Voucher @Resource.Date</th>
            <th width="7%">@Resource.Voucher @Resource.Type </th>
            <th hidden="hidden">@Resource.Voucher @Resource.Date</th>
            <th width="7%">@Resource.Instrument @Resource.Type</th>
            <th width="7%">@Resource.Instrument @Resource.Number</th>
            <th width="7%">@Resource.Status</th>
            <th hidden="hidden">@Resource.Status</th>
            <th width="5%">@Resource.Currency</th>
            <th hidden="hidden">@Resource.Currency</th>
            <th width="13%">@Resource.GLAccount</th>
            <th hidden="hidden">@Resource.GLAccount</th>
            <th hidden="hidden">@Resource.AccountType</th>
            <th width="7%">@Resource.Debit @Resource.Amount</th>
            <th width="7%">@Resource.Credit @Resource.Amount</th>
            <th width="13%">@Resource.Narration</th>
            <th width="5%">@Resource.BillDetail</th>
            <th width="5%">@Resource.CostCenterDetail</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
                <td rowspan="2">01</td>
                <td rowspan="2">B1/12/24/JV0000012</td>
                <td rowspan="2">19-12-2024</td>
                <td rowspan="2">JV</td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2">Approved</td>
                <td class="center">INR</td>
                <td>Stock Adjustment A/C</td>
                <td class="num_right">5000</td>
                <td>&nbsp;</td>
                <td>Stock Adjusted</td>
                <td class="center">
                    <button type="button" id="BillAdjustment" class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                </td>
                <td class="center">
                    <button type="button" id="BtnCostCenterDetail" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.CostCenterDetail"></i></button>
                </td>
            </tr>*@
        @if (ViewBag.JournalBookDetails != null)
        {
            var srno = 1;
            var vou_no = "";
            foreach (System.Data.DataRow dr in ViewBag.JournalBookDetails.Rows)
            {
                string vouno = dr["vou_no"].ToString();

                //string sono_total = dr["Sno_vou_no"].ToString();
                //int snorowspan = Convert.ToInt32(dr["sno3"]);
                //int colspan = snorowspan == 1 ? snorowspan : snorowspan - 1;
                //bool isFirstRow = sono_total == "1";
                //bool showFullRow = snorowspan == 1;

        <tr>
            @if (vou_no == vouno)
            {
                <td><span style="display:none;">@srno</span> </td>
                <td id="JBPrtl_VouNo">&nbsp;</td>
                <td id="hdnJBPrtl_VouNo" hidden="hidden">@dr["vou_no"].ToString()</td>
                <td>&nbsp;</td>
                <td id="JBPartl_VouDate" hidden="hidden">@dr["vou_date"].ToString()</td>
                <td>&nbsp;</td>
                <td id="JBPartl_VouType" hidden="hidden">@dr["vou_type"].ToString()</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            }
            else
            {
                vou_no = dr["vou_no"].ToString();


                <td>@srno</td>
                <td id="JBPrtl_VouNo">@dr["vou_no"].ToString()</td>
                <td id="hdnJBPrtl_VouNo" hidden="hidden">@dr["vou_no"].ToString()</td>
                <td>@dr["vou_dt"].ToString()</td>
                <td id="JBPartl_VouDate" hidden="hidden">@dr["vou_date"].ToString()</td>
                <td>@dr["VouTypeName"].ToString()</td>
                <td id="JBPartl_VouType" hidden="hidden">@dr["vou_type"].ToString()</td>
                <td>@dr["InstrumentTypName"].ToString()</td>
                <td>@dr["InstrumentNo"].ToString()</td>
                <td>@dr["VouStatusName"].ToString()</td>
                srno++;
            }
            <td id="JBPartl_VouStatus" hidden="hidden">@dr["vou_status"].ToString()</td>
            <td class="center">@dr["curr_name"].ToString()</td>
            <td id="JBPartl_CurrId" hidden="hidden">@dr["curr_id"].ToString()</td>
            <td id="JBPartl_AccName">@dr["acc_name"].ToString()</td>
            <td id="JBPartl_AccID" hidden="hidden">@dr["acc_id"].ToString()</td>
            <td id="JBPartl_AccType" hidden="hidden">@dr["acc_type"].ToString()</td>
            <td class="num_right" id="JBPartl_dr_amt_bs">@dr["dr_amt_bs"].ToString()</td>
            <td class="num_right" id="JBPartl_cr_amt_bs">@dr["cr_amt_bs"].ToString()</td>
            @*<td>@dr["narr"].ToString()</td>*@
            <td class="truncate-text" style="width: 350px; padding-right: 30px;"> <span>@dr["narr"].ToString() </span> </td>
            @if (dr["vou_type"].ToString() == "JV" || dr["vou_type"].ToString() == "CT" || dr["vou_type"].ToString() == "PV" || dr["vou_type"].ToString() == "SV")
            {
                <td class="center">
                    <button type="button" id="BillAdjustment" disabled class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                </td>
            }
            else
            {


                if ((dr["acc_type"].ToString() == "1" && Convert.ToDouble(dr["cr_amt_bs"]) > 0) || (dr["acc_type"].ToString() == "2" && Convert.ToDouble(dr["dr_amt_bs"]) > 0))
                {
                    if (Convert.ToDouble(dr["bill_count"]) > 0)
                    {
                        <td class="center">
                            <button type="button" id="BillAdjustment" onclick="OnClickBillAdjIconBtn(event)" class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye green1" id="cls_cc_eyecolor" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                        </td>
                    }
                    else
                    {
                        <td class="center">
                            <button type="button" id="BillAdjustment" onclick="OnClickBillAdjIconBtn(event)" class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                        </td>
                    }

                }
                else
                {
                    <td class="center">
                        <button type="button" id="BillAdjustment" disabled class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                    </td>
                }
            }
            @if ((dr["Cust_Supp_CC_AccType"].ToString() == "3" &&
(Convert.ToDouble(dr["cr_amt_bs"]) > 0 || Convert.ToDouble(dr["dr_amt_bs"]) > 0))
|| (dr["Cust_Supp_CC_AccType"].ToString() == "4" &&
(Convert.ToDouble(dr["dr_amt_bs"]) > 0 || Convert.ToDouble(dr["cr_amt_bs"]) > 0)))
            {
                if (Convert.ToDouble(dr["cc_count"]) > 0)
                {
                    <td class="center">
                        <button type="button" id="BtnCostCenterDetail" onclick="Onclick_CCbtnJB(event)" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye green1" id="cls_cc_eyecolor" aria-hidden="true" data-toggle="" title="@Resource.CostCenterDetail"></i></button>
                    </td>
                }
                else
                {
                    <td class="center">
                        <button type="button" id="BtnCostCenterDetail" onclick="Onclick_CCbtnJB(event)" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.CostCenterDetail"></i></button>
                    </td>
                }
            }
            else
            {
                <td class="center">
                    <button type="button" id="BtnCostCenterDetail" disabled class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.CostCenterDetail"></i></button>
                </td>
            }
        </tr>



            }
        }

        @*@if (ViewBag.JournalBookDetails != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.JournalBookDetails.Rows)
                {
                    var sono_total = @dr["Sno_vou_no"].ToString();
                    var snorowspan = @dr["sno3"].ToString();
            <tr>
                @if (sono_total == "1")
                {
                    <td>@srno</td>
                    <td id="JBPrtl_VouNo">@dr["vou_no"].ToString()</td>
                    <td>@dr["vou_dt"].ToString()</td>
                    <td id="JBPartl_VouDate" hidden="hidden">@dr["vou_date"].ToString()</td>
                    <td>@dr["VouTypeName"].ToString()</td>
                    <td id="JBPartl_VouType" hidden="hidden">@dr["vou_type"].ToString()</td>
                    <td>@dr["InstrumentTypName"].ToString()</td>
                    <td>@dr["InstrumentNo"].ToString()</td>
                    <td>@dr["VouStatusName"].ToString()</td>
                    <td id="JBPartl_VouStatus" hidden="hidden">@dr["vou_status"].ToString()</td>
                }
                else
                {
                    if (snorowspan == "1")
                    {

                        <td colspan=@snorowspan>@srno</td>
                        <td id="JBPrtl_VouNo" colspan=@snorowspan>@dr["vou_no"].ToString()</td>
                        <td colspan=@snorowspan>@dr["vou_dt"].ToString()</td>
                        <td id="JBPartl_VouDate" hidden="hidden" colspan=@snorowspan>@dr["vou_date"].ToString()</td>
                        <td colspan=@snorowspan>@dr["VouTypeName"].ToString()</td>
                        <td id="JBPartl_VouType" hidden="hidden" colspan=@snorowspan>@dr["vou_type"].ToString()</td>
                        <td colspan=@snorowspan>@dr["InstrumentTypName"].ToString()</td>
                        <td colspan=@snorowspan>@dr["InstrumentNo"].ToString()</td>
                        <td colspan=@snorowspan>@dr["VouStatusName"].ToString()</td>
                        <td id="JBPartl_VouStatus" hidden="hidden" colspan=@snorowspan>@dr["vou_status"].ToString()</td>


                    }
                    else
                    {
                        var snorowspan1 = Convert.ToInt32(snorowspan) - 1;
                        <td colspan=@snorowspan1>@srno</td>
                        <td id="JBPrtl_VouNo" colspan=@snorowspan1 hidden="hidden">@dr["vou_no"].ToString()</td>
                        <td colspan=@snorowspan1 hidden="hidden">@dr["vou_dt"].ToString()</td>
                        <td id="JBPartl_VouDate" hidden="hidden" colspan=@snorowspan1>@dr["vou_date"].ToString()</td>
                        <td colspan=@snorowspan1 hidden="hidden">@dr["VouTypeName"].ToString()</td>
                        <td id="JBPartl_VouType" hidden="hidden" colspan=@snorowspan1>@dr["vou_type"].ToString()</td>
                        <td colspan=@snorowspan1 hidden="hidden">@dr["InstrumentTypName"].ToString()</td>
                        <td colspan=@snorowspan1 hidden="hidden">@dr["InstrumentNo"].ToString()</td>
                        <td colspan=@snorowspan1 hidden="hidden">@dr["VouStatusName"].ToString()</td>
                        <td id="JBPartl_VouStatus" hidden="hidden" colspan=@snorowspan1>@dr["vou_status"].ToString()</td>
                    }
                }

                <td class="center">@dr["curr_name"].ToString()</td>
                <td id="JBPartl_CurrId" hidden="hidden">@dr["curr_id"].ToString()</td>
                <td id="JBPartl_AccName">@dr["acc_name"].ToString()</td>
                <td id="JBPartl_AccID" hidden="hidden">@dr["acc_id"].ToString()</td>
                <td id="JBPartl_AccType" hidden="hidden">@dr["acc_type"].ToString()</td>
                <td class="num_right" id="JBPartl_dr_amt_bs">@dr["dr_amt_bs"].ToString()</td>
                <td class="num_right" id="JBPartl_cr_amt_bs">@dr["cr_amt_bs"].ToString()</td>
                <td>@dr["narr"].ToString()</td>


                <td class="center">
                    <button type="button" id="BillAdjustment" onclick="OnClickBillAdjIconBtn(event)" class="calculator subItmImg" data-toggle="modal" data-target="#BillAdjustment" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BillAdjustment"></i></button>
                </td>

                <td class="center">
                    <button type="button" id="BtnCostCenterDetail" onclick="Onclick_CCbtnJB(event)" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.CostCenterDetail"></i></button>
                </td>

            </tr>

                        srno = srno + 1;
                    }
                }*@

    </tbody>
</table>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}
