@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/GatePassInward/GatePassInwardList.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped width2200 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="9%" class="itmStick">@Resource.GatePass <br /> @Resource.Number</th>
            <th hidden="hidden">@Resource.GatePass <br />  @Resource.Date</th>
            <th width="7%">@Resource.GatePass <br />  @Resource.Date</th>
            <th width="8%">@Resource.Source</th>
            <th width="8%">@Resource.EntityType</th>
            <th width="8%">@Resource.EntityName</th>
            <th hidden="hidden">@Resource.EntityName</th>
            <th width="8%">@Resource.Received @Resource.By</th>
            <th width="8%">@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.GatePassReciptList != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.GatePassReciptList.Rows)
            {
                rowIdx++;

                <tr role="row" class="odd">
                    <td>@rowIdx</td>
                    <td id="GPassNumber" class="ItmNameBreak itmStick tditemfrz">@Row["gpass_no"].ToString()</td>
                    <td>@Row["gpass_dt"].ToString()</td>
                    <td style="display:none;" id="ddlGPassDate">@Row["gpassdt"].ToString()</td>
                    <td>@Row["src_type"].ToString()</td>
                    <td>@Row["Entitytype"].ToString()</td>
                    <td>@Row["Entityname"].ToString()</td>
                    <td style="display:none;" id="entity_id">@Row["entity_id"].ToString()</td>
                    <td>@Row["rec_by"].ToString()</td>
                    <td id="Doc_Status">@Row["status_name"].ToString()</td>
                    <td>@Row["createname"].ToString()</td>
                    <td>@Row["createdt"].ToString()</td>
                    <td>@Row["appname"].ToString()</td>
                    <td>@Row["appdt"].ToString()</td>
                    <td>@Row["modname"].ToString()</td>
                    <td>@Row["moddt"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.GpassSearch != null)
{
    if (Model.GpassSearch == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.GpassSearch = null;

    }

}