
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialReceipt/ExternalReceipt/ExternalReceiptList.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped width2000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="10%" class="itmStick">@Resource.Receipt @Resource.Number</th>
            <th width="10%">@Resource.Receipt @Resource.Date</th>
            <th hidden="hidden">@Resource.Receipt <br />  @Resource.Date</th>
            <th width="10%">@Resource.EntityType </th>
            <th width="10%">@Resource.EntityName </th>
            <th hidden="hidden">@Resource.EntityName</th>
            <th width="10%">@Resource.Checked @Resource.By</th>
            <th width="10%">@Resource.Status</th>
            <th width="10%">@Resource.CreatedBy</th>
            <th width="10%">@Resource.Createdon</th>
            <th width="10%">@Resource.ApprovedBy</th>
            <th width="9%">@Resource.ApprovedOn</th>
            <th width="9%">@Resource.AmendedBy</th>
            <th width="9%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.ExternalReciptList != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.ExternalReciptList.Rows)
            {
                rowIdx++;

                <tr role="row" class="odd">
                    <td>@rowIdx</td>
                    <td id="recept_no" class="ItmNameBreak itmStick tditemfrz">@Row["recpt_no"].ToString()</td>
                    <td>@Row["recept_dt"].ToString()</td>
                    <td style="display:none;" id="hdn_ddlrecpt_dt">@Row["recptdt"].ToString()</td>
                    <td>@Row["Entitytype"].ToString()</td>
                    <td>@Row["Entityname"].ToString()</td>
                    <td style="display:none;" id="entity_id">@Row["entity_id"].ToString()</td>

                    <td>@Row["check_by"].ToString()</td>

                    <td id="Doc_Status">@Row["status_name"].ToString()</td>
                    <td>@Row["createname"].ToString()</td>
                    <td>@Row["createdt"].ToString()</td>
                    <td>@Row["appname"].ToString()</td>
                    <td>@Row["appdt"].ToString()</td>
                    <td>@Row["modname"].ToString()</td>
                    <td>@Row["moddt"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.Search != null)
{
    if (Model.Search == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.Search = null;

    }

}
