@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    //string ValDigit = "0.";
    //var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    //for (var i = 0; i < VD; i++)
    //{
    //    ValDigit += "0";
    //}

    //decimal total = 0;
}
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    #AllPartials {
        max-height: 62vh;
    }
    #DataTable_InterBranchPurchaseDetail_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #DataTable_InterBranchPurchaseDetail_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #DataTable_InterBranchPurchaseDetail_wrapper {
        padding-left: 2px !important;
    }
</style>
<input hidden="hidden" id="SumDetFlag" value="@ViewBag.flag" />
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@if (ViewBag.flag == "InterBranchPurchaseSummary")
{
    <table id="DataTable_InterBranchPurchaseDetail" class="table table-striped width2500 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="10%">@Resource.SupplierName</th>
                <th width="10%">@Resource.GST @Resource.Category</th>
                <th width="5%">@Resource.GSTNumber</th>
                <th width="6%">@Resource.PurchaseType</th>
                <th width="5%">@Resource.Currency</th>
                <th width="6%" class="itmStick">@Resource.Invoice <br /> @Resource.Number </th>
                <th width="5%">@Resource.Invoice <br /> @Resource.Date</th>
                <th hidden="hidden"></th>
                <th width="3%">@Resource.RCM @Resource.Applicable</th>
                <th width="6%">@Resource.BillNumber</th>
                <th width="5%">@Resource.BillDate</th>
                <th width="6%">@Resource.PurchaseAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.PurchaseAmount <br /> @Resource.InBase</th>
                <th width="6%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.TaxAmount <br /> @Resource.InBase</th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.OtherCharges <br /> @Resource.InBase</th>
                <th width="5%">@Resource.RoundOff <br /> @Resource.Amount</th>
                <th width="6%">@Resource.InvoiceAmount  <br /> @Resource.InSpecific </th>
                <th width="6%">@Resource.InvoiceAmount  <br /> @Resource.InBase </th>
                <th width="6%">@Resource.TDSAmount  </th>
                <th width="6%">@Resource.ApprovedOn</th>
            </tr>
        </thead>
        <tbody id="">
            @*@if (ViewBag.PrcInvoiceWiseDetail != null)
                {
                    var srno = 1;
                    foreach (DataRow dr in ViewBag.PrcInvoiceWiseDetail.Rows)
                    {
                        <tr>
                            <td>@srno</td>
                            <td id="supp_name" class="ItmNameBreak">@dr["supp_name"].ToString()</td>
                            <td>@dr["inv_type"].ToString()</td>
                            <td class="center">@dr["curr_symbol"].ToString()</td>
                            <td id="inv_no" class="ItmNameBreak itmStick tditemfrz">@dr["inv_no"].ToString()</td>
                            <td>@dr["inv_dt1"].ToString()</td>
                            <td hidden="hidden" id="inv_dt">@dr["inv_dt"].ToString()</td>
                            <td>@dr["bill_no"].ToString()</td>
                            <td>@dr["bill_dt"].ToString()</td>

                            <td class="num_right" id="txt_PurchaseAmtSpec">@dr["purchase_amount_spec"].ToString()</td>
                            <td class="num_right" id="txt_PurchaseAmt">@dr["purchase_amount_bs"].ToString()</td>
                            <td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>
                            <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                            <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                            <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                            <td class="num_right" id="txt_InvoiceAmtSpec">
                                <div class="col-sm-11" id="">@dr["invoice_amt_spec"].ToString()</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="" class="calculator iButton" onclick="OnClickInvAmt(event)" data-toggle="modal" data-target="#ProcurementInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> </button>
                                </div>
                            </td>
                            <td class="num_right" id="txt_InvoiceAmt">
                                <div class="col-sm-11" id="">@dr["invoice_amt_bs"].ToString()</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" id="" class="calculator iButton" onclick="OnClickInvAmt(event)" data-toggle="modal" data-target="#ProcurementInvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> </button>
                                </div>
                            </td>
                            <td>@dr["app_dt"].ToString()</td>
                        </tr>
                        srno++;
                    }
                }*@
        </tbody>
        <tfoot id="DataTable_InterBranchPurchaseDetail_footer"></tfoot>
    </table>
}
else
{
    <table id="DataTable_InterBranchPurchaseDetail" class="table table-striped width3000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                <th width="7%">@Resource.SupplierName</th>
                <th width="10%">@Resource.GST @Resource.Category</th>
                <th width="4%">@Resource.PurchaseType</th>
                <th width="4%">@Resource.Currency</th>
                <th width="4%" class="itmStick">@Resource.Invoice <br /> @Resource.Number </th>
                <th width="4%">@Resource.Invoice <br /> @Resource.Date</th>
                <th hidden="hidden"></th>
                <th width="3%">@Resource.RCM @Resource.Applicable</th>
                <th width="4%">@Resource.BillNumber</th>
                <th width="4%">@Resource.BillDate</th>
                <th width="10%" class="">@Resource.ItemName</th>
                <th width="4%">@Resource.UOM</th>
                <th width="4%">@Resource.HSNCode</th>
                <th width="4%">@Resource.Purchase <br />  @Resource.Quantity</th>
                <th width="5%">@Resource.CostPrice <br /> @Resource.InSpecific </th>
                <th width="4%">@Resource.CostPrice <br /> @Resource.InBase </th>
                <th width="6%">@Resource.PurchaseAmount <br /> @Resource.InSpecific</th>
                <th width="6%">@Resource.PurchaseAmount <br /> @Resource.InBase</th>

                @if (ViewBag.TaxColumns != null)
                {
                    foreach (DataRow dr in ViewBag.TaxColumns.Rows)
                    {
                        <th width="4%">@dr["tax_name"].ToString().Replace("_", ".")</th>
                    }
                }
                @*<th width="4%">@Resource.IGST %</th>
                    <th width="4%">@Resource.IGST @Resource.Amount</th>
                    <th width="4%">@Resource.CGST %</th>
                    <th width="4%">@Resource.CGST @Resource.Amount</th>
                    <th width="4%">@Resource.SGST %</th>
                    <th width="4%">@Resource.SGST @Resource.Amount</th>*@

                @*<th width="4%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>*@
                <th width="4%">@Resource.TaxAmount @*<br /> @Resource.InBase*@</th>
                <th width="5%">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="5%">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="5%">@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.InvoiceAmount <br /> @Resource.InBase</th>
            </tr>
        </thead>
        <tbody id="">
            @*@if (ViewBag.PrcInvoiceWiseDetail != null)
                {
                    var srno = 1;
                    foreach (DataRow dr in ViewBag.PrcInvoiceWiseDetail.Rows)
                    {
                        <tr>
                            <td>@srno</td>
                            <td id="supp_name" class="ItmNameBreak">@dr["supp_name"].ToString()</td>
                            <td>@dr["inv_type"].ToString()</td>
                            <td class="center">@dr["curr_symbol"].ToString()</td>
                            <td id="inv_no" class="ItmNameBreak itmStick tditemfrz">@dr["inv_no"].ToString()</td>
                            <td>@dr["inv_dt1"].ToString()</td>
                            <td hidden="hidden" id="inv_dt">@dr["inv_dt"].ToString()</td>
                            <td>@dr["bill_no"].ToString()</td>
                            <td>@dr["bill_dt"].ToString()</td>
                            <td class="ItmNameBreak ">
                                <div class="col-sm-11 i_Icon">@dr["item_name"].ToString()</div>
                                <div class="col-sm-1 i_Icon">
                                    <input id="Hdn_item_id" hidden="hidden" value="@dr["item_id"].ToString()" />
                                    <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">
                                        <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation" />
                                    </button>
                                </div>
                            </td>
                            <td class="center">@dr["uom_alias"].ToString()</td>
                            <td>@dr["HSN_code"].ToString()</td>
                            <td class="num_right" id="txt_mr_qty">@dr["mr_qty"].ToString()</td>
                            <td class="num_right" id="txt_item_rate_spec">@dr["item_rate_spec"].ToString()</td>
                            <td class="num_right" id="txt_item_rate_bs">@dr["item_rate_bs"].ToString()</td>
                            <td class="num_right" id="txt_PurchaseAmtSpec">@dr["purchase_amount_spec"].ToString()</td>
                            <td class="num_right" id="txt_PurchaseAmt">@dr["purchase_amount_bs"].ToString()</td>
                            <td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>
                            <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                            <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                            <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                            <td class="num_right" id="txt_InvoiceAmtSpec">@dr["invoice_amt_spec"].ToString()</td>
                            <td class="num_right" id="txt_InvoiceAmt">@dr["invoice_amt_bs"].ToString()</td>
                        </tr>
                        srno++;
                    }
                }*@
        </tbody>
        <tfoot id="DataTable_InterBranchPurchaseDetail_footer">

        </tfoot>
    </table>
    <span hidden id="hdn_ibpPrcDtlTaxClmnJson">@ViewBag.TaxColumnsJson</span>
}

<script type="text/javascript">
    $(document).ready(function () {
        //var TrackType = $("#OrderType").val();
        //if (TrackType == "A") {
        //    POTrackingDtList();
        //}
        debugger;
        PrecurmentDetailData_dttbl();

    });
    function PrecurmentDetailData_dttbl() {
        debugger
        var HSN_code = "";
        var PurchaseBy = $("#ddl_Purchase_by").val();
        var RCMApp = $("#ddl_RCMApplicable").val();/*add by Hina sharma on 30-06-2025*/
        var brid_list = cmn_getddldataasstring("#ddl_branch");
       
        var ShowAs;
        if ($("#ProcurementMISOrderSummary").is(":checked")) {
            ShowAs = "S";
        }
        if ($("#ProcurementMISOrderDetail").is(":checked")) {
            ShowAs = "D";
        }
        var flag = "";
        if (PurchaseBy == "I") {
            if (ShowAs == "S") {
                flag = "Summary";
            }
            else {
                flag = "Detail";
            }
            //replaceDatatablesIds("dttbl0");
        }
        else if (PurchaseBy == "S") {
            if (ShowAs == "S") {
                flag = "SupplierWiseSummery";
            }
            else {
                flag = "SupplierWiseDetail";
            }
            //replaceDatatablesIds("dttbl1");
        }
        else if (PurchaseBy == "T") {
            if (ShowAs == "S") {
                flag = "ItemWiseSummery";
            }
            else {
                flag = "ItemWiseDetail";
            }
            HSN_code = $("#HSN_cd").val();
            //replaceDatatablesIds("dttbl2");
        }
        else if (PurchaseBy == "G") {
            if (ShowAs == "S") {
                flag = "ItemGroupWiseSummery";
            }
            else {
                flag = "ItemGroupWiseDetail";
            }
            //replaceDatatablesIds("dttbl3");
        }
        else if (PurchaseBy == "B") {
            if (ShowAs == "S") {
                flag = "InterBranchPurchaseSummary";
                $("#SumDetFlag").val("Summary");
            }
            else {
                flag = "InterBranchPurchaseDetail";
                $("#SumDetFlag").val("Detail");
            }
            //replaceDatatablesIds("dttbl3");
        }
        debugger;
        var search_prm = {
            Supp_id: $("#hdn_MultiselectSuppName").val(),
            Inv_type: $("#ddl_PurchaseType").val(),
            category: $("#hdn_MultiselectSuppCatgry").val(),
            portFolio: $("#hdn_MultiselectPortfolio").val(),
            Group: $("#hdn_MultiselectItmGrpName").val(),
            Item_PortFolio: $("#hdn_MultiselectItmportfolio").val(),
            RCMApp: Cmn_formatSelectedValues($("#ddl_RCMApplicable").val()),
            From_dt: $("#txtFromdate").val(),
            To_dt: $("#txtTodate").val(),
            flag: flag,
            HSN_code: HSN_code,
            brid_list: brid_list,
          // RCMApp: RCMApp/*add by Hina sharma on 30-06-2025*/
        }
        var model = {
            "search_prm": search_prm
        }
        $("#DataTable_InterBranchPurchaseDetail").DataTable().destroy();
        $("#DataTable_InterBranchPurchaseDetail").DataTable({
            dom: "Blfrtip",
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            pageLength: 50,
            lengthMenu: [10, 25, 50, 100],
            "ajax": {
                "url": "/ApplicationLayer/ProcurementDetail/LoadPrcDetailsDataTable",
                "data": { model, PurchaseBy, ShowAs },
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    footerData = json.footer; // Save for later use in footerCallback
                    return json.data;
                }
            },
            "columns": StkDtldataColumns(),
            columnDefs: StkDtlDataColumnRenders(),
            "footerCallback": function (row, data, start, end, display, dt) {
                debugger;
                if (!footerData) return;
                var colspan = 8;
                debugger
                let SumDetFlag = $("#SumDetFlag").val();
                if (SumDetFlag == "Summary") {
                    colspan = 11;
                } else {
                    colspan = 16;
                }
                // Update footer
                var td = "";
                var td1 = "";
                var td_tds = "";
                //var td_igstrate = "";
                //var td_cgstrate = "";
                //var td_sgstrate = "";
                //var td_igst = "";
                //var td_cgst = "";
                //var td_sgst = "";
                var td_TaxAmtSpec = "";
                var td_tds = "";
                var ValDigit = $("#ValDigit").text();
                var flag = $("#SumDetItemWiseFlag").val();
                //if (flag == "ItemWiseDetail") {
                //    td = "<td colspan='1' align='right'></td>";
                //}


                var txt_mr_qty = 0;
                var txt_item_rate_spec = 0;
                var txt_item_rate_bs = 0;
                var PurchaseAmtSpec = 0;
                var PurchaseAmt = 0;
                var TaxAmtSpec = 0;
                var TaxAmt = 0;
                var OcAmtSpec = 0;
                var OcAmt = 0;
                var InvAmtBs = 0;
                var InvAmtSpcs = 0;
                var TDSAmt = 0;
                var roundoff = 0;
                //var IGST = 0;
                //var CGST = 0;
                //var SGST = 0;
                var Td_forAllTaxes = "";
                debugger;
                footerData.map((val, index) => {
                    txt_mr_qty = parseFloat(txt_mr_qty) + parseFloat(cmn_ReplaceCommas(val.mr_qty));
                    txt_item_rate_spec = parseFloat(txt_item_rate_spec) + parseFloat(cmn_ReplaceCommas(val.item_rate_spec));
                    txt_item_rate_bs = parseFloat(txt_item_rate_bs) + parseFloat(cmn_ReplaceCommas(val.item_rate_bs));
                    PurchaseAmtSpec = parseFloat(PurchaseAmtSpec) + parseFloat(cmn_ReplaceCommas(val.purchase_amount_spec));
                    PurchaseAmt = parseFloat(PurchaseAmt) + parseFloat(cmn_ReplaceCommas(val.purchase_amount_bs));
                    TaxAmtSpec = parseFloat(TaxAmtSpec) + parseFloat(cmn_ReplaceCommas(val.tax_amt_spec));
                    TaxAmt = parseFloat(TaxAmt) + parseFloat(cmn_ReplaceCommas(val.tax_amt_bs));
                    OcAmtSpec = parseFloat(OcAmtSpec) + parseFloat(cmn_ReplaceCommas(val.oc_amt_spec));
                    OcAmt = parseFloat(OcAmt) + parseFloat(cmn_ReplaceCommas(val.oc_amt_bs));
                    roundoff = parseFloat(roundoff) + parseFloat(cmn_ReplaceCommas(val.roundoff_diff))
                    InvAmtBs = parseFloat(InvAmtBs) + parseFloat(cmn_ReplaceCommas(val.invoice_amt_spec));
                    InvAmtSpcs = parseFloat(InvAmtSpcs) + parseFloat(cmn_ReplaceCommas(val.invoice_amt_bs));
                    TDSAmt = parseFloat(TDSAmt) + parseFloat(cmn_ReplaceCommas(val.tds_amt));
                    //IGST = parseFloat(IGST) + parseFloat(cmn_ReplaceCommas(val.igst));
                    //CGST = parseFloat(CGST) + parseFloat(cmn_ReplaceCommas(val.cgst));
                    //SGST = parseFloat(SGST) + parseFloat(cmn_ReplaceCommas(val.sgst));
                    if (ShowAs == "D" && PurchaseBy == "B") {
                        let txClmnJsn = $("#hdn_ibpPrcDtlTaxClmnJson").text();
                        if (txClmnJsn != null && txClmnJsn != "") {
                            let txClmnArr = JSON.parse(txClmnJsn);

                            txClmnArr.map((item, index) => {
                                Td_forAllTaxes += `<td class="num_right"><strong>${(val[item.tax_name] || "0.00")}</strong></td>`;
                            })
                        }
                    }

                });
                if (SumDetFlag == "Detail") {
                    //    td = `
                    //<td class="num_right"><strong>${cmn_addCommas(parseFloat(txt_mr_qty).toFixed(ValDigit))}</strong ></td >
                    //<td class="num_right"><strong>${cmn_addCommas(parseFloat(txt_item_rate_spec).toFixed(ValDigit))}</strong></td>
                    //<td class="num_right"><strong>${cmn_addCommas(parseFloat(txt_item_rate_bs).toFixed(ValDigit))}</strong></td>`;

                } else {
                    td1 = `<td colspan='1' align='right'></td>`;
                }
                /*Code start add by Hina sharma on 30-06-2025*/
                if (PurchaseBy == "B") {
                    if (ShowAs == "S") {

                        td_tds = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(TDSAmt).toFixed(ValDigit))}</strong></td>`;
                        td_TaxAmtSpec = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmtSpec).toFixed(ValDigit))}</strong></td>`;
                    }
                    //if (ShowAs == "D") {
                    //    td_igstrate = `<td colspan='1' align='right'></td>`;
                    //    td_igst = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(IGST).toFixed(ValDigit))}</strong></td>`;
                    //    td_cgstrate = `<td colspan='1' align='right'></td>`;
                    //    td_cgst = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(CGST).toFixed(ValDigit))}</strong></td>`;
                    //    td_sgstrate = `<td colspan='1' align='right'></td>`;
                    //    td_sgst = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(SGST).toFixed(ValDigit))}</strong></td>`;
                    //}
                }
                else {
                    td_TaxAmtSpec = `<td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmtSpec).toFixed(ValDigit))}</strong></td>`;
                }
                /*Code End add by Hina sharma on 30-06-2025*/
                if (SumDetFlag == "Summary") {
                    $("#DataTable_InterBranchPurchaseDetail_footer").html(`
<tr class="total">

                <td colspan="${colspan}" align="right"><strong>${$("#span_Total").text()}</strong></td>
                ${td}
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmt).toFixed(ValDigit))}</strong></td>
               ${Td_forAllTaxes}
                ${td_TaxAmtSpec}
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(roundoff).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtSpcs).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtBs).toFixed(ValDigit))}</strong></td>
                ${td_tds}
                ${td1}
            </tr>
`);
                }
                else {
                    $("#DataTable_InterBranchPurchaseDetail_footer").html(`
<tr class="total">

                <td colspan="${colspan}" align="right"><strong>${$("#span_Total").text()}</strong></td>
                ${td}
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(PurchaseAmt).toFixed(ValDigit))}</strong></td>
               ${Td_forAllTaxes}
                ${td_TaxAmtSpec}
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmtSpec).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(OcAmt).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtSpcs).toFixed(ValDigit))}</strong></td>
                <td class="num_right"><strong>${cmn_addCommas(parseFloat(InvAmtBs).toFixed(ValDigit))}</strong></td>
                ${td_tds}
                ${td1}
            </tr>
`);
                }
            },
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        var csvUrl = "/ApplicationLayer/ProcurementDetail/ExportCsv";
                        let CsvName = $("title").text() + "_" + moment().format('YYYYMMDDhhmmss');
                        Cmn_importDataToCSV(e, dt, button, config, csvUrl, CsvName);

                    }

                }],

        });
        /*<td class="num_right"><strong>${cmn_addCommas(parseFloat(TaxAmtSpec).toFixed(ValDigit))}</strong></td>*/
        /* <td class="num_right"><strong>${cmn_addCommas(parseFloat(TDSAmt).toFixed(ValDigit))}</strong></td>*/
        //var exportbtn = `<button type="submit" class="btn btn-default buttons-csv buttons-html5 btn-sm" id='' tabindex="0" aria-controls="datatable-buttons"
        //        name="Command" value="CsvPrint" onclick="GetInvoiceWiseCSV()">
        //        <span>CSV</span></button>`;
        //$("#DataTable_InterBranchPurchaseDetail_length").append(exportbtn);
    }
    function StkDtldataColumns() {
        debugger
        var Array = [];
        let SumDetFlag = $("#SumDetFlag").val();
        if (SumDetFlag == "Summary") {
            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "supp_name", "name": "supp_name", "autoWidth": true, className: "ItmNameBreak" },
                { "data": "gst_cat", "name": "gst_cat", "autoWidth": true },/*Add by Hina Sharma on 04-09-2025*/
                { "data": "supp_gst_no", "name": "supp_gst_no", "autoWidth": true },
                { "data": "inv_type", "name": "inv_type", "autoWidth": true },
                { "data": "curr_symbol", "name": "curr_symbol", "autoWidth": true, className: "center" },
                { "data": "inv_no", "name": "inv_no", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "inv_dt1", "name": "inv_dt1", "autoWidth": true },
                { "data": "inv_dt", "name": "inv_dt", "autoWidth": true },
                { "data": "rcm_app", "name": "rcm_app", "autoWidth": true, className: "center" },
                { "data": "bill_no", "name": "bill_no", "autoWidth": true, className: "center" },
                { "data": "bill_dt", "name": "bill_dt", "autoWidth": true },
                { "data": "purchase_amount_spec", "name": "purchase_amount_spec", "autoWidth": true, className: "num_right" },
                { "data": "purchase_amount_bs", "name": "purchase_amount_bs", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_spec", "name": "tax_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "tax_amt_bs", "name": "tax_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_spec", "name": "oc_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "oc_amt_bs", "name": "oc_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "roundoff_diff", "name": "roundoff_diff", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_spec", "name": "invoice_amt_spec", "autoWidth": true, className: "num_right" },
                { "data": "invoice_amt_bs", "name": "invoice_amt_bs", "autoWidth": true, className: "num_right" },
                { "data": "tds_amt", "name": "tds_amt", "autoWidth": true, className: "num_right" },
                { "data": "app_dt", "name": "app_dt", "autoWidth": true }
            ]

        }
        else {

            Array = [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "supp_name", "name": "supp_name", "autoWidth": true, className: "ItmNameBreak" },
                { "data": "gst_cat", "name": "gst_cat", "autoWidth": true },/*Add by Hina Sharma on 04-09-2025*/
                { "data": "inv_type", "name": "inv_type", "autoWidth": true },
                { "data": "curr_symbol", "name": "curr_symbol", "autoWidth": true, className: "center" },
                { "data": "inv_no", "name": "inv_no", "autoWidth": true, className: "ItmNameBreak itmStick tditemfrz" },
                { "data": "inv_dt1", "name": "inv_dt1", "autoWidth": true },
                { "data": "inv_dt", "name": "inv_dt", "autoWidth": true },
                { "data": "rcm_app", "name": "rcm_app", "autoWidth": true, className: "center" },
                { "data": "bill_no", "name": "bill_no", "autoWidth": true, className: "center" },
                { "data": "bill_dt", "name": "bill_dt", "autoWidth": true },
                { "data": "item_name", "name": "item_name", "autoWidth": true, className: "ItmNameBreak" },
                //{ "data": "item_id", "name": "item_id", "autoWidth": true },
                { "data": "uom_alias", "name": "uom_alias", "autoWidth": true, className: "center" },
                { "data": "HSN_code", "name": "HSN_code", "autoWidth": true },
                { "data": "mr_qty", "name": "mr_qty", "autoWidth": true, className: "num_right" },/*14*/
                { "data": "item_rate_spec", "name": "item_rate_spec", "autoWidth": true, className: "num_right" },
                { "data": "item_rate_bs", "name": "item_rate_bs", "autoWidth": true, className: "num_right" },
                { "data": "purchase_amount_spec", "name": "purchase_amount_spec", "autoWidth": true, className: "num_right" },
                { "data": "purchase_amount_bs", "name": "purchase_amount_bs", "autoWidth": true, className: "num_right" },

                // { "data": "igstRate", "name": "igstRate", "autoWidth": true, className: "num_right" },
                // { "data": "igst", "name": "igst", "autoWidth": true, className: "num_right" },
                // { "data": "cgstRate", "name": "cgstRate", "autoWidth": true, className: "num_right" },
                // { "data": "cgst", "name": "cgst", "autoWidth": true, className: "num_right" },
                // { "data": "sgstRate", "name": "sgst", "autoWidth": true, className: "num_right" },
                // { "data": "sgst", "name": "sgst", "autoWidth": true, className: "num_right" },
                ///* { "data": "tax_amt_spec", "name": "tax_amt_spec", "autoWidth": true, className: "num_right" },*/
                // { "data": "tax_amt_bs", "name": "tax_amt_bs", "autoWidth": true, className: "num_right" },
                // { "data": "oc_amt_spec", "name": "oc_amt_spec", "autoWidth": true, className: "num_right" },
                // { "data": "oc_amt_bs", "name": "oc_amt_bs", "autoWidth": true, className: "num_right" },
                // { "data": "invoice_amt_spec", "name": "invoice_amt_spec", "autoWidth": true, className: "num_right" },
                // { "data": "invoice_amt_bs", "name": "invoice_amt_bs", "autoWidth": true, className: "num_right" },
                ////{ "data": "app_dt", "name": "app_dt", "autoWidth": true }
            ];
            let txClmnJsn = $("#hdn_ibpPrcDtlTaxClmnJson").text();
            if (txClmnJsn != null && txClmnJsn != "") {
                let txClmnArr = JSON.parse(txClmnJsn);
                txClmnArr.map((item, index) => {
                    Array.push({ "data": item.tax_name, "name": item.tax_name, "autoWidth": true, className: "num_right" });
                });
            }
            Array.push({ "data": "tax_amt_bs", "name": "tax_amt_bs", "autoWidth": true, className: "num_right" });
            Array.push({ "data": "oc_amt_spec", "name": "oc_amt_spec", "autoWidth": true, className: "num_right" });
            Array.push({ "data": "oc_amt_bs", "name": "oc_amt_bs", "autoWidth": true, className: "num_right" });
            Array.push({ "data": "invoice_amt_spec", "name": "invoice_amt_spec", "autoWidth": true, className: "num_right" });
            Array.push({ "data": "invoice_amt_bs", "name": "invoice_amt_bs", "autoWidth": true, className: "num_right" });
            

        }
        return Array;
    }
    function StkDtlDataColumnRenders() {
        debugger;
        var array = [];
        var PurchaseBy = $("#ddl_Purchase_by").val();
        var ShowAs;
        if ($("#ProcurementMISOrderSummary").is(":checked")) {
            ShowAs = "S";
        }
        if ($("#ProcurementMISOrderDetail").is(":checked")) {
            ShowAs = "D";
        }
        var flag = "";
        if (PurchaseBy == "B") {
            if (ShowAs == "S") {
                flag = "Summary";
                $("#SumDetFlag").val(flag);
            }
            else {
                flag = "Detail";
                $("#SumDetFlag").val(flag);
            }
            //replaceDatatablesIds("dttbl0");
        }
        let SumDetFlag = $("#SumDetFlag").val();
        if (SumDetFlag == "Summary") {
            array = [
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'supp_name');
                    },
                    targets: 1//supp_name
                },

                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'inv_no');
                    },
                    /*targets: 4*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 6
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'inv_dt');
                        $(td).attr('hidden', 'hidden');
                    },
                    /*targets: 6*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 8
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmtSpec');
                    },
                    /*targets: 9*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 12
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmt');
                    },
                    /*targets: 10*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 13
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmtSpec');
                    },
                    /* targets: 11*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 14
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_TaxAmt');
                    },
                    /*targets: 12*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 15
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmtSpec');
                    },
                    /*targets: 13*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 16
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmt');
                    },
                    /*targets: 14*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 17
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmtSpec');
                    },
                    /*targets: 15*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 19
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmt');
                    },
                    /*targets: 16*//*commented and modify by Hina Sharma on 01-07-2025*/
                    targets: 20
                },
            ]

        }

        else {
            let txClmnJsn = $("#hdn_ibpPrcDtlTaxClmnJson").text();
            let txClmnArrLen = -6;
            if (txClmnJsn != null && txClmnJsn != "") {
                let txClmnArr = JSON.parse(txClmnJsn);
                txClmnArrLen = txClmnArrLen + txClmnArr.length;
            }
            array = [
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'supp_name');
                    },
                    targets: 1//supp_name
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'inv_no');
                    },
                    targets: 5
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'inv_dt');
                        $(td).attr('hidden', 'hidden');
                    },
                    targets: 7
                },
                {

                    render: (data, type, row) => {

                        return `<div class="col-sm-11 i_Icon">${data}</div>
                            <div class="col-sm-1 i_Icon">
                                <input id="Hdn_item_id" hidden="hidden" value="${row.item_id}">
                                <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">
                                    <img src="/Content/Images/iIcon1.png" alt="" title="Item Information">
                                </button>
                            </div>`
                    },

                    targets: 11
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_mr_qty');
                    },
                    targets: 14
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_item_rate_spec');
                    },
                    targets: 15
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_item_rate_bs');
                    },
                    targets: 16
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmtSpec');
                    },
                    targets: 17
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_PurchaseAmt');
                    },
                    targets: 18
                },
                //{
                //    'createdCell': function (td, cellData, rowData, row, col) {
                //        $(td).attr('id', 'txt_TaxAmtSpec');
                //    },
                //    targets: 19
                //},
                //{
                //    'createdCell': function (td, cellData, rowData, row, col) {
                //        $(td).attr('id', 'igst');
                //    },
                //    targets: 20
                //},
                //{
                //    'createdCell': function (td, cellData, rowData, row, col) {
                //        $(td).attr('id', 'cgst');
                //    },
                //    targets: 22
                //},
                //{
                //    'createdCell': function (td, cellData, rowData, row, col) {
                //        $(td).attr('id', 'sgst');
                //    },
                //    targets: 24
                //},
                //{
                //    'createdCell': function (td, cellData, rowData, row, col) {
                //        $(td).attr('id', 'txt_TaxAmt');
                //    },
                //    targets: 22
                //},
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'tax_amt_bs');
                    },
                    targets: 25 + txClmnArrLen
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmtSpec');
                    },
                    targets: 26 + txClmnArrLen
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_OcAmt');
                    },
                    targets: 27 + txClmnArrLen
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmtSpec');
                    },
                    targets: 28 + txClmnArrLen
                },
                {
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('id', 'txt_InvoiceAmt');
                    },
                    targets: 29 + txClmnArrLen
                },
            ]

        }
        return array;
    }
</script>

@*@{
        if (TempData["SDFilter"] != null)
        {
            if (TempData["SDFilter"].ToString() == "SDFilter")
            {
                @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
                @Scripts.Render("~/Content/Scripts/DatatablesJs")
                <script>
                    $(document).ready(function () {
                        var flag = $("#SumDetFlag").val();
                        if (flag == "Detail") {
                            $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInputDetail("datatable-buttons",10)');
                            $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInputDetail("datatable-buttons",10)');
                            CalculateAmtOnSearchInputDetail("datatable-buttons", 11);
                        }
                        else {
                            $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInput("datatable-buttons",8)');
                            $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInput("datatable-buttons",8)');
                            CalculateAmtOnSearchInput("datatable-buttons", 8);
                        }
                    });
                </script>
            }
        }
    }*@
