@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.CustomInvoice.SI_ListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/CustomInvoice/CustomInvoiceList.js"></script>

<table id="datatable-buttons" class="table table-striped width2500 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="6%" class="itmStick">@Resource.Invoice <br /> @Resource.Number</th>
            <th width="5%">@Resource.Invoice <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.InvoiceDate</th>
            <th width="6%">@Resource.ShipmentNumber</th>
            <th width="6%">@Resource.ShipmentDate</th>
            <th width="6%">@Resource.Custom <br /> @Resource.InvoiceNumber</th>
            <th width="5%">@Resource.Custom <br /> @Resource.InvoiceDate</th>
            <th width="10%">@Resource.CustomerName</th>
            <th width="5%">@Resource.Currency</th>
            <th width="6%">@Resource.Invoice  @Resource.Value <br /> @Resource.InBase</th>
            <th width="6%">@Resource.AssessableValue <br /> @Resource.InBase</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="tbodySIList">
        @if (Model.SIList != null)
        {
            foreach (var row in Model.SIList)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td id="InvoiceNo" class="ItmNameBreak itmStick tditemfrz">@row.InvoiceNo</td>
            <td id="InvoiceDate">@row.InvoiceDate</td>
            <td style="display: none;" id="InvDate">@row.InvDate</td>
            <td>@row.ship_no</td>
            <td>@row.Ship_dt</td>
            <td>@row.custom_inv_no</td>
            <td>@row.custom_inv_dt</td>
            <td>@row.CustName</td>
            <td class="center">@row.Currency</td>
            <td class="num_right">@row.InvoiceValue</td>
            <td class="num_right">@row.ass_val </td>
            <td id="Doc_Status">@row.Stauts</td>
            <td>@row.create_by</td>
            <td>@row.CreateDate</td>
            <td>@row.app_by </td>
            <td>@row.ApproveDate</td>
            <td>@row.mod_by</td>
            <td>@row.ModifyDate</td>

           

        </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["LSISearch"] != null)*@
@if (Model.LSISearch != null)
{
    //if (Session["LSISearch"].ToString() == "LSI_Search")
    if (Model.LSISearch == "LSI_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["LSISearch"] = null;
        Model.LSISearch = null;
    }
}




