@using EnRepMobileWeb.Resources;
@using System.Data
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    //decimal total = 0;
}
<style>
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    .ap {
        position: absolute !important;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<div class="col-md-12 col-sm-12 ">
    <table id="datatable-buttons5" class="table table-striped width1800 itmfrz rowhighlighttbl" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="7%">@Resource.DeductionDate</th>
                <th hidden="hidden">@Resource.DeductionDate</th>
                <th width="8%">@Resource.TDS/TCS  @Resource.Name</th>
                <th width="8%">@Resource.Section  @Resource.Code</th>
                <th width="9%" class="itmStick">@Resource.EntityName</th>
                <th width="8%">@Resource.TANNumber</th>
                <th width="8%"> @Resource.PANNumber</ th >
                <th width="7%">@Resource.City/@Resource.State</th>
                <th width="7%">@Resource.BillNumber</th>
                <th width="7%">@Resource.BillDate</th>
                <th hidden="hidden">@Resource.BillDate</th>
                <th width="7%">@Resource.Taxable @Resource.Amount</th>
                <th width="7%">@Resource.TDSTCSPercentage</th>
                <th width="7%">@Resource.TDS/TCS @Resource.Amount</th>
                <th width="8%">@Resource.DebitNoteNumber</th>
                <th width="7%">@Resource.DebitNoteDate</th>
                <th hidden="hidden">@Resource.DebitNoteDate</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <td>01</td>
                    <td>14-06-2024</td>
                    <td>TDS PAYABLE 194 C Company</td>
                    <td>000409202300054</td>
                    <td>BLRA23456M</td>
                    <td>NHJPK8765K</td>
                    <td>Greater Noida</td>
                    <td>B1/06/24/DN0000011</td>
                    <td>14-06-2024</td>
                    <td class="num_right">0000.00</td>
                    <td class="num_right">0000.00</td>

                    <td>B1/06/24/DN0000011</td>
                    <td>14-06-2024</td>
                </tr>*@
            @if (ViewBag.TDSDetails != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.TDSDetails.Rows)
                {
            <tr>
                <td>@srno</td>
                <td>@dr["Deduct_dt"].ToString()</td>
                <td id="Deductdate" hidden="hidden">@dr["Deduct_date"].ToString()</td>
                <td>@dr["tds_name"].ToString()</td>
                <td>@dr["sec_code"].ToString()</td>
                <td class="ItmNameBreak itmStick tditemfrz">@dr["supp_name"].ToString()</td>
                <td>@dr["Tan_No"].ToString()</td>
                <td>@dr["Pan_No"].ToString()</td>
                <td>@dr["CityState"].ToString()</td>
                <td>@dr["bill_no"].ToString()</td>
                <td>@dr["bill_dt"].ToString()</td>
                <td id="billdate" hidden="hidden">@dr["bill_date"].ToString()</td>
                <td class="num_right">@dr["bill_amnt"].ToString()</td>
                <td class="num_right">@dr["TdsTcsPercnt"].ToString()</td>
                <td class="num_right">@dr["tds_amnt"].ToString()</td>
                <td>@dr["vou_no"].ToString()</td>
                <td>@dr["vou_dt"].ToString()</td>
                <td id="voudate" hidden="hidden">@dr["vou_date"].ToString()</td>


            </tr>

                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.TotalTDSDetails != null)
            {
                foreach (DataRow dr in ViewBag.TotalTDSDetails.Rows)
                {
                    <tr class="total">
                        <td colspan="10" align="right"><strong>Total</strong></td>
                        <td class="num_right"><strong>@dr["bill_amnt"].ToString()</strong></td>
                        <td colspan="1"></td>
                        <td class="num_right"><strong>@dr["tds_amnt"].ToString()</strong></td>
                        <td colspan="3"></td>
                    </tr>
                }
            }
        </tfoot>
    </table>

</div>
@{
    if (Model.SearchStatus != null)
    {
        if (Model.SearchStatus == "SEARCH")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            Model.SearchStatus = null;
        }
    }
}











