@using EnRepMobileWeb.Resources;
@using System.Globalization;
@{
    var grpstr = string.Empty;
    var grpstr_id = string.Empty;
    var start = 0;
    string tot_asset_amt = string.Empty;
    string tot_liba_amt = string.Empty;
    string tot_finliba_amt = string.Empty;
    string tot_passet_amt = string.Empty;
    string tot_pliba_amt = string.Empty;
    string tot_pl_amt = string.Empty;
    string tot_assetcap_amt = string.Empty;
    string tot_assetcurr_amt = string.Empty;
    string tot_assetncurr_amt = string.Empty;
    string tot_passetcap_amt = string.Empty;
    string tot_passetcurr_amt = string.Empty;
    string tot_passetncurr_amt = string.Empty;
    string tot_libcap_amt = string.Empty;
    string tot_libcurr_amt = string.Empty;
    string tot_libncurr_amt = string.Empty;
    string tot_plibcap_amt = string.Empty;
    string tot_plibcurr_amt = string.Empty;
    string tot_plibncurr_amt = string.Empty;
    var cultureInfo = new CultureInfo("hi-IN");

    if (ViewBag.ass_capflag != null)
    {
        if (ViewBag.ass_capflag == "ca")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.capi_assetdata.Rows)
            {

                tot_asset_amt = Row["ctot_amt"].ToString();
                tot_passet_amt = Row["ptot_amt"].ToString();
                tot_assetcap_amt = Row["cgrptot_amt"].ToString();
                tot_passetcap_amt = Row["pgrptot_amt"].ToString();

                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_assetcap_amt = "0.00";
        tot_passetcap_amt = "0.00";
    }
    if (ViewBag.ass_currflag != null)
    {
        if (ViewBag.ass_currflag == "cu")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.curr_assetdata.Rows)
            {
                tot_asset_amt = Row["ctot_amt"].ToString();
                tot_passet_amt = Row["ptot_amt"].ToString();
                tot_assetcurr_amt = Row["cgrptot_amt"].ToString();
                tot_passetcurr_amt = Row["pgrptot_amt"].ToString();
                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_assetcurr_amt = "0.00";
        tot_passetcurr_amt = "0.00";
    }
    if (ViewBag.ass_ncurrflag != null)
    {
        if (ViewBag.ass_ncurrflag == "nc")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.ncurr_assetdata.Rows)
            {
                tot_asset_amt = Row["ctot_amt"].ToString();
                tot_passet_amt = Row["ptot_amt"].ToString();
                tot_assetncurr_amt = Row["cgrptot_amt"].ToString();
                tot_passetncurr_amt = Row["pgrptot_amt"].ToString();
                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_assetncurr_amt = "0.00";
        tot_passetncurr_amt = "0.00";
    }

    if (ViewBag.lib_capflag != null)
    {
        if (ViewBag.lib_capflag == "ca")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.capi_libadata.Rows)
            {
                tot_liba_amt = Row["ctot_amt"].ToString();
                tot_pliba_amt = Row["ptot_amt"].ToString();
                tot_libcap_amt = Row["cgrptot_amt"].ToString();
                tot_plibcap_amt = Row["pgrptot_amt"].ToString();
                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_libcap_amt = "0.00";
        tot_plibcap_amt = "0.00";
    }
    if (ViewBag.lib_currflag != null)
    {
        if (ViewBag.lib_currflag == "cu")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.curr_libadata.Rows)
            {
                tot_liba_amt = Row["ctot_amt"].ToString();
                tot_pliba_amt = Row["ptot_amt"].ToString();
                tot_libcurr_amt = Row["cgrptot_amt"].ToString();
                tot_plibcurr_amt = Row["pgrptot_amt"].ToString();
                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_libcurr_amt = "0.00";
        tot_plibcurr_amt = "0.00";
    }
    if (ViewBag.lib_ncurrflag != null)
    {
        if (ViewBag.lib_ncurrflag == "nc")
        {
            start = 0;
            foreach (System.Data.DataRow Row in ViewBag.ncurr_libadata.Rows)
            {
                tot_liba_amt = Row["ctot_amt"].ToString();
                tot_pliba_amt = Row["ptot_amt"].ToString();
                tot_libncurr_amt = Row["cgrptot_amt"].ToString();
                tot_plibncurr_amt = Row["pgrptot_amt"].ToString();
                start = 1;
                if (start == 1)
                {
                    break;
                }
            }
        }
    }
    else
    {
        tot_libncurr_amt = "0.00";
        tot_plibncurr_amt = "0.00";
    }

    if (ViewBag.PL_amt != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.PL_amt.Rows)
        {
            tot_pl_amt = Row["netprofit_tot_amt"].ToString();
        }
    }

    if (tot_liba_amt != null && tot_liba_amt != "")
    {
        if (tot_pl_amt != null && tot_pl_amt != "")
        {
            tot_finliba_amt = (Convert.ToDouble(tot_liba_amt) + Convert.ToDouble(tot_pl_amt)).ToString();
        }
        else
        {
            tot_finliba_amt = Convert.ToDouble(tot_liba_amt).ToString();
        }
        //tot_liba_amt = tot_finliba_amt;
        tot_liba_amt = string.Format(cultureInfo, "{0:N}", Convert.ToDouble(tot_finliba_amt));
    }
}
<style>
    .treegrid-indent {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
    }

    .treegrid-expander {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: -25px;
        cursor: pointer;
    }

    #thtrailbal tr > th {
        /* background: #ccc;*/
        position: sticky;
        padding: .5rem;
        z-index: 2;
        top: 0;
    }

    #thtrailbal tr > :nth-child(2) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }

    #tbtrailbal tr > :nth-child(2) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }
</style>

<script src="~/Content/Scripts/ApplicationLayer/TreeJs/TreeJs.js"></script>

@if (ViewBag.rpt_type != null)
{
    if (ViewBag.rpt_type == "H")
    {
        <div class="col-md-12 col-sm-12 no-padding" id="div_bshorirpt">
            <div class="col-md-6 col-sm-12 no-padding">
                <table id="tree-table1" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th colspan="3">Liabilities</th>
                        </tr>
                        <tr class="sticky-header">
                            <th width="50%">&nbsp;</th>
                            <th width="25%">Amount in INR</th>
                            <th width="25%">Amount in INR</th>
                        </tr>
                        <tr class="sticky-header">
                            <th width="50%">&nbsp;</th>
                            <th width="25%" class="font11">@ViewBag.curr_fdt_todt</th>
                            <th width="25%" class="font11">@ViewBag.prev_fdt_todt</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr data-id="101" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Reserve & Surplus</td>
                            <td class="num_right font-weight-bold">@tot_pl_amt</td>
                            <td class="num_right font-weight-bold">0.00</td>
                        </tr>
                        <tr data-id="1001" data-parent="101" data-level="2" style="display: none;">
                            <td data-column="name" class="font11">Profit/Loss Transferred from Profit & Loss statement</td>
                            <td class="num_right font11">@tot_pl_amt</td>
                            <td class="num_right font11">0.00</td>
                        </tr>

                        <tr data-id="2001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Capital & Equities</td>
                            <td class="num_right font-weight-bold">@tot_libcap_amt</td>
                            <td class="num_right font-weight-bold">@tot_plibcap_amt</td>
                        </tr>
                        @if (ViewBag.capi_libadata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.capi_libadata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="2001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="2001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="3001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Current Liabilities</td>
                            <td class="num_right font-weight-bold">@tot_libcurr_amt</td>
                            <td class="num_right font-weight-bold">@tot_plibcurr_amt</td>
                        </tr>
                        @if (ViewBag.curr_libadata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.curr_libadata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="3001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="3001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="4001" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Non Current Liabilities</td>
                            <td class="num_right font-weight-bold">@tot_libncurr_amt</td>
                            <td class="num_right font-weight-bold">@tot_plibncurr_amt</td>
                        </tr>
                        @if (ViewBag.ncurr_libadata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.ncurr_libadata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="4001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="4001" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>

                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 col-sm-12 no-padding">
                <table id="tree-table2" class="table table-striped table-bordered rowhighlighttbl">
                    <thead>
                        <tr class="sticky-header">
                            <th colspan="3">Assets</th>
                        </tr>
                        <tr class="sticky-header">
                            <th width="50%">&nbsp;</th>
                            <th width="25%">Amount in INR</th>
                            <th width="25%">Amount in INR</th>
                        </tr>
                        <tr class="sticky-header">
                            <th width="50%">&nbsp;</th>
                            <th width="25%" class="font11">@ViewBag.curr_fdt_todt</th>
                            <th width="25%" class="font11">@ViewBag.prev_fdt_todt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="301" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Current Assets</td>
                            <td class="num_right font-weight-bold">@tot_assetcurr_amt</td>
                            <td class="num_right font-weight-bold">@tot_passetcurr_amt</td>
                        </tr>
                        @if (ViewBag.curr_assetdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            var stkglag = string.Empty;
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.curr_assetdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                 stkglag = Row["stk_flag"].ToString().Trim();

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="301" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>

                        @if (stkglag == "Y")
                        {
                            <td>
                                <div class="col-md-12 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                    <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                </div>
                            </td>
                        }

                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="301" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>

                                        @if (stkglag == "Y")
                                        {
                                            <td>
                                                <div class="col-md-12 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                                <div class="col-sm-1 i_Icon">
                                                    <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                    <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                                </div>
                                            </td>
                                        }

                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                            }
                        }

                        <tr data-id="401" data-parent="0" data-level="1" class="Tree1stCh">
                            <td data-column="name" class="font-weight-bold">Non Current Assets</td>
                            <td class="num_right font-weight-bold">@tot_assetncurr_amt</td>
                            <td class="num_right font-weight-bold">@tot_passetncurr_amt</td>
                        </tr>
                        @if (ViewBag.ncurr_assetdata != null)
                        {
                            grpstr = string.Empty;
                            grpstr_id = string.Empty;
                            
                            start = 0;
                            foreach (System.Data.DataRow Row in ViewBag.ncurr_assetdata.Rows)
                            {
                                if (start == 0)
                                {
                                    grpstr = Row["grp_str_name"].ToString();
                                    grpstr_id = Row["grp_str_id"].ToString();
                                }

                                if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                                {
                                    start = 1;
                                    <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                }

                                if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                                {
                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                            <td>
                                <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                    <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                </div>
                            </td>
                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                    </tr>
                                }
                                else
                                {
                                    grpstr = @Row["grp_str_name"].ToString();
                                    grpstr_id = @Row["grp_str_id"].ToString();
                                    <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                                        <td class="num_right font-weight-bold font11">@Row["psubgrp_tot_amt"].ToString()</td>
                                    </tr>
                                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                                            <td>
                                                <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                                                <div class="col-sm-1 i_Icon">
                                                    <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                    <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                                </div>
                                            </td>
                                        <td class="num_right font11">@Row["pacc_amt"].ToString()</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table id="" class="table table-striped table-bordered rowhighlighttbl">
                    <tbody>
                        <tr class="sticky-header1">
                            <td width="25%" class="num_right font-weight-bold">Total</td>
                            <td width="12.5%" class="num_right font-weight-bold">@tot_liba_amt</td>
                            <td width="12.5%" class="num_right font-weight-bold">@tot_pliba_amt</td>
                            <td width="25%" class="num_right font-weight-bold">Total</td>
                            <td width="12.5%" class="num_right font-weight-bold">@tot_asset_amt</td>
                            <td width="12.5%" class="num_right font-weight-bold">@tot_passet_amt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

    if (ViewBag.rpt_type == "V")
    {
        <div class="col-md-12 col-sm-12 no-padding" id="div_bsvartrpt">
            <table id="tree-table1" class="table table-hover table-bordered rowhighlighttbl">
                <thead>
                    <tr class="sticky-header">
                        <th>Particulars</th>
                        <th>Amount in INR</th>
                        <th>Amount in INR</th>
                    </tr>
                    <tr class="sticky-header">
                        <th>&nbsp;</th>
                        <th>@ViewBag.curr_fdt_todt</th>
                        <th>@ViewBag.prev_fdt_todt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-id="101" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold" id="td_lib">Liabilities</td>
                        <td class="num_right font-weight-bold">@tot_liba_amt</td>
                        <td class="num_right font-weight-bold">@tot_pliba_amt</td>
                    </tr>

                    <tr data-id="1001" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Reserve & Surplus</td>
                        <td class="num_right font-weight-bold">@tot_pl_amt</td>
                        <td class="num_right font-weight-bold">0.00</td>
                    </tr>
                    <tr data-id="10001" data-parent="1001" data-level="3" style="display: none;">
                        <td data-column="name">Profit/Loss Transferred from Profit & Loss statement</td>
                        <td class="num_right">@tot_pl_amt</td>
                        <td class="num_right">0.00</td>
                    </tr>

                    <tr data-id="2001" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Capital & Equities</td>
                        <td class="num_right font-weight-bold">@tot_libcap_amt</td>
                        <td class="num_right font-weight-bold">@tot_plibcap_amt</td>
                    </tr>
                    @if (ViewBag.capi_libadata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.capi_libadata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="2001" data-level="3" class="Tree2stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="2001" data-level="3" class="Tree2stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="3001" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Current Liabilities</td>
                        <td class="num_right font-weight-bold">@tot_libcurr_amt</td>
                        <td class="num_right font-weight-bold">@tot_plibcurr_amt</td>
                    </tr>
                    @if (ViewBag.curr_libadata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.curr_libadata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="3001" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="3001" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="4001" data-parent="101" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Non Current Liabilities</td>
                        <td class="num_right font-weight-bold">@tot_libncurr_amt</td>
                        <td class="num_right font-weight-bold">@tot_plibncurr_amt</td>
                    </tr>
                    @if (ViewBag.ncurr_libadata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.ncurr_libadata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="4001" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="4001" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>

                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="201" data-parent="0" data-level="1" class="Tree1stCh">
                        <td data-column="name" class="font-weight-bold">Assets</td>
                        <td class="num_right font-weight-bold">@tot_asset_amt</td>
                        <td class="num_right font-weight-bold">@tot_passet_amt</td>
                    </tr>
                    <tr data-id="301" data-parent="201" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Current Assets</td>
                        <td class="num_right font-weight-bold">@tot_assetcurr_amt</td>
                        <td class="num_right font-weight-bold">@tot_passetcurr_amt</td>
                    </tr>
                    @if (ViewBag.curr_assetdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        var stkglag = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.curr_assetdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }
                            stkglag = Row["stk_flag"].ToString().Trim();
                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="301" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                    <td data-column="name">@Row["acc_name"].ToString()</td>
                    @if (stkglag == "Y")
                    {
                        <td>
                            <div class="col-md-12 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                            </div>
                        </td>
                    }

                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="301" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    @if (stkglag == "Y")
                                    {
                                        <td>
                                            <div class="col-md-12 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                            </div>
                                        </td>
                                    }

                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }

                    <tr data-id="401" data-parent="201" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold">Non Current Assets</td>
                        <td class="num_right font-weight-bold">@tot_assetncurr_amt</td>
                        <td class="num_right font-weight-bold">@tot_passetncurr_amt</td>
                    </tr>
                    @if (ViewBag.ncurr_assetdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.ncurr_assetdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                start = 1;
                                <tr data-id="@grpstr_id" data-parent="401" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                            else
                            {
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr data-id="@grpstr_id" data-parent="401" data-level="3" class="Tree3stCh" style="display: none;">
                                    <td data-column="name" class="font-weight-bold">@Row["grp_str_name"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td class="num_right font-weight-bold">@Row["psubgrp_tot_amt"].ToString()</td>
                                </tr>
                                <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="4" style="display: none;">
                                    <td data-column="name">@Row["acc_name"].ToString()</td>
                                    <td>
                                        <div class="col-md-11 col-sm-12 no-padding num_right">@Row["cacc_amt"].ToString()</div>
                                        <div class="col-sm-1 i_Icon">
                                            <button type="button" class="calculator" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                            <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                                        </div>
                                    </td>
                                    <td class="num_right">@Row["pacc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}