@using EnRepMobileWeb.Resources;


<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 10px !important;
        white-space: normal;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@if (ViewBag.flag == "SDInterBrchWiseSummary")
{
    <table id="InterBrchWiseSummary" class="table table-striped width2800 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="10%">@Resource.Customer <br /> @Resource.Name</th>
                <th width="5%">@Resource.GSTNumber</th>
                <th width="5%">@Resource.RegionName</th>
                <th width="5%">@Resource.Sale  @Resource.Type</th>
                <th width="4%">@Resource.Currency</th>
                <th hidden="hidden"></th>
                @*<th hidden="hidden"></th>*@
                <th width="8%">@Resource.Sales <br /> @Resource.Representative</th>
                <th width="10%" class="itmStick">@Resource.Customer <br /> @Resource.ReferenceNumber & @Resource.Date</th>
                @*<th width="7%" class="itmStick">@Resource.Customer <br /> @Resource.Reference @Resource.Date </th>*@
                <th width="5%" class="itmStick">@Resource.Invoice <br /> @Resource.Number </th>
                <th width="4%">@Resource.Invoice <br /> @Resource.Date</th>
                <th hidden="hidden"></th>
                <th width="5%">@Resource.SaleAmount <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.SaleAmount <br /> @Resource.InBase</th>
                @*<th width="5%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>*@
                <th width="5%">@Resource.TaxAmount</th>
                <th width="5%">@Resource.OtherCharges <br /> @Resource.InSpecific</th>
                <th width="5%">@Resource.OtherCharges<br /> @Resource.InBase</th>
                <th width="5%">@Resource.RoundOff  <br /> @Resource.Amount </th>
                <th width="5%">@Resource.InvoiceAmount  <br /> @Resource.InSpecific </th>
                <th width="5%">@Resource.InvoiceAmount  <br /> @Resource.InBase </th>
                <th width="4%">@Resource.ApprovedOn</th>
                @*20*@
            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.SalesDetailInterBrchList != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailInterBrchList.Rows)
                {
            <tr>
                <td>@srno</td>
                <td>@dr["cust_name"].ToString()</td>
                <td>@dr["cust_gst_no"].ToString()</td>
                <td>@dr["cust_region"].ToString()</td>
                <td id="txtSale_Type">@dr["sale_type"].ToString()</td>
                <td class="center">@dr["curr_symbol"].ToString()</td>
                <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                @*td hidden="hidden" id="txtbr_id">@dr["br_id"].ToString()</td>*@
                <td>@dr["sale_per"].ToString()</td>
                <td>@dr["ref_doc_No_Dt"].ToString()</td>
                <td id="txtInv_no" class="ItmNameBreak itmStick tditemfrz">@dr["app_inv_no"].ToString()</td>
                <td id="txtInv_dt1">@dr["inv_dt1"].ToString()</td>
                <td hidden="hidden" id="txtInv_dt">@dr["inv_dt"].ToString()</td>
                <td class="num_right" id="txt_SaleAmtSpec">@dr["sale_amount_spec"].ToString()</td>
                <td class="num_right" id="txt_SaleAmt">@dr["sale_amount_bs"].ToString()</td>
                @*<td class="num_right" id="txt_TaxAmtSpec">@dr["tax_amt_spec"].ToString()</td>*@
                <td class="num_right" id="txt_TaxAmt">@dr["tax_amt_bs"].ToString()</td>
                <td class="num_right" id="txt_OcAmtSpec">@dr["oc_amt_spec"].ToString()</td>
                <td class="num_right" id="txt_OcAmt">@dr["oc_amt_bs"].ToString()</td>
                 <td class="num_right" id="txt_OcAmt">@dr["roundoff_diff"].ToString()</td>
                <td class="num_right" id="txt_InvoiceAmtSpec">
                    <div class="col-sm-11"><span id=""> @dr["invoice_amt_spec"].ToString()</span></div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetail" class="calculator iButton" onclick="OnclickInterBranchInvoiceAmount(event)" data-toggle="modal" data-target="#InvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>
                <td class="num_right" id="txt_InvoiceAmt">
                    <div class="col-sm-11"><span id=""> @dr["invoice_amt_bs"].ToString()</span></div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="InvoiceDetail" class="calculator iButton" onclick="OnclickInterBranchInvoiceAmount(event)" data-toggle="modal" data-target="#InvoiceDetail" data-backdrop="static" data-keyboard="false">  <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.InvoiceDetail"></i>*@ </button>
                    </div>
                </td>

                <td class="num_right">@dr["app_dt"].ToString()</td>
            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.SalesDetailIntBrchListFooter != null)
            {
                var srno = 1;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailIntBrchListFooter.Rows)
                {
            <tr class="total">
                <td colspan="10" align="right"><strong>Total</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["sale_amount_bs"].ToString()</strong></td>
                @*<td class="num_right"><strong>@dr["tax_amt_spec"].ToString()</strong></td>*@
                <td class="num_right"><strong>@dr["tax_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["oc_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["roundoff_diff"].ToString()</strong></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_spec"].ToString()</strong></div></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["invoice_amt_bs"].ToString()</strong></div></td>
                <td>&nbsp;</td>

            </tr>
                }
            }
        </tfoot>
    </table>
}
else
{
    <table id="InterBrchWiseDetail" class="table table-striped rowhighlighttbl width5000 itmfrz" cellspacing="0">
        <thead>
            <tr class="sticky-header">
                <th width="1%">@Resource.SrNo</th>
                <th width="6%">@Resource.Customer <br /> @Resource.Name</th>
                <th width="3%">@Resource.GSTNumber</th>
                <th width="3%">@Resource.RegionName</th>
                <th width="3%">@Resource.Sale  @Resource.Type</th>
                <th width="3%">@Resource.Currency</th>
                <th hidden="hidden"></th>
                @*<th hidden="hidden"></th>*@
                <th width="3%">@Resource.Sales <br /> @Resource.Representative</th>
                <th width="6%" class="itmStick">@Resource.Customer <br /> @Resource.ReferenceNumber & @Resource.Date</th>
                <th width="2%" class="itmStick">@Resource.Invoice <br /> @Resource.Number </th>
                <th width="2%">@Resource.Invoice <br /> @Resource.Date</th>
                <th hidden="hidden"></th>
                <th width="5%">@Resource.ItemName</th>
                <th width="2%">@Resource.UOM</th>
                <th width="3%">@Resource.HSNCode</th>
                <th width="3%">@Resource.Sale @Resource.Quantity</th>
                <th width="3%">@Resource.Price <br /> @Resource.InSpecific </th>
                <th width="3%">@Resource.Price <br /> @Resource.InBase </th>
                @*/* add below columns by Hina sharma on 23-06-2025 as per discuss with vishal sir*/*@
                <th width="4%" class="itmStick">@Resource.Value @Resource.InSpecific<br />@Resource.Before @Resource.Discount</th>
                <th width="3%" class="itmStick">@Resource.Value @Resource.InBase<br /> @Resource.Before @Resource.Discount</th>
                <th width="3%">@Resource.Discount @Resource.Value<br /> @Resource.InSpecific</th>
                <th width="3%">@Resource.Discount @Resource.Value<br /> @Resource.InBase</th>
                <th width="4%" class="itmStick">@Resource.Value @Resource.InSpecific<br /> @Resource.After @Resource.Discount</th>
                <th width="3%" class="itmStick">@Resource.Value @Resource.InBase<br /> @Resource.After @Resource.Discount</th>

                @*@if (ViewBag.SalesDetailInterBrchList != null)
        {
            <th width="2%">@Resource.IGST</th>
            <th width="2%">@Resource.CGST</th>
            <th width="2%">@Resource.SGST</th>
        }*@
                @if (ViewBag.GstHeaderColumns != null)
                {
                    foreach (System.Data.DataRow column in ViewBag.GstHeaderColumns.Rows)
                    {
                        <th width="2%">@column["tax_name"].ToString().Replace("_", ".")</th>
                    }
                }
                @*<th width="4%">@Resource.TaxAmount <br /> @Resource.InSpecific</th>*@
                <th width="4%">@Resource.TaxAmount</th>
                <th width="4%" class="width-110">@Resource.OtherCharges <br /> @Resource.InSpecific </th>
                <th width="4%" class="width-110">@Resource.OtherCharges <br /> @Resource.InBase </th>
                <th width="4%" class="width-110">@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                <th width="4%">@Resource.InvoiceAmount <br /> @Resource.InBase</th>
                <th width="5%">@Resource.remarks</th>
                @*---33*@


            </tr>
        </thead>
        <tbody id="">
            @if (ViewBag.SalesDetailInterBrchList != null)
            {
                var srno = 1;
                var GstColumn = ViewBag.GstHeaderColumns;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailInterBrchList.Rows)
                {
            <tr>
                <td>@srno</td>
                <td>@dr["cust_name"].ToString()</td>
                <td>@dr["cust_gst_no"].ToString()</td>
                <td>@dr["cust_region"].ToString()</td>
                <td id="txtSale_Type">@dr["sale_type"].ToString()</td>
                <td class="center">@dr["curr_symbol"].ToString()</td>
                <td hidden="hidden" id="txtCurr_id">@dr["curr_id"].ToString()</td>
                @*<td hidden="hidden" id="txtbr_id">@dr["br_id"].ToString()</td>*@
                <td>@dr["sale_per"].ToString()</td>
                <td>@dr["ref_doc_No_Dt"].ToString()</td>
                <td id="txtInv_no" class="ItmNameBreak itmStick tditemfrz">@dr["app_inv_no"].ToString()</td>
                <td>@dr["inv_dt1"].ToString()</td>
                <td hidden="hidden" id="txtInv_dt">@dr["inv_dt"].ToString()</td>
                <td class="ItmNameBreak">
                    <div class="col-sm-11 i_Icon"><span id="">@dr["item_name"].ToString()</span></div>
                    <input hidden="hidden" id="Hdn_item_id" value="@dr["item_id"].ToString()" />
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false">
                            <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation" />
                        </button>
                    </div>
                </td>
                <td>@dr["uom_alias"].ToString()</td>
                <td>@dr["HSN_code"].ToString()</td>
                <td class="num_right">@dr["item_qty"].ToString()</td>
                <td class="num_right">@dr["item_rate_spec"].ToString()</td>
                <td class="num_right">@dr["item_rate_bs"].ToString()</td>
                @*/* add below columns by Hina sharma on 23-06-2025 as per discuss with vishal sir*/*@
                <td class="num_right">@dr["ValBeforeDiscInSpec"].ToString()</td>
                <td class="num_right">@dr["ValBeforeDiscInBs"].ToString()</td>
                <td class="num_right">@dr["disc_val_spec"].ToString()</td>
                <td class="num_right">@dr["disc_val_bs"].ToString()</td>
                <td class="num_right">@dr["ValAfterDiscInSpec"].ToString()</td>
                <td class="num_right">@dr["ValAfterDiscInBs"].ToString()</td>
                @foreach (System.Data.DataRow column in GstColumn.Rows)
                {
                    <td class="num_right">@dr[column["tax_name"].ToString()].ToString()</td>
                }
                @*<td class="num_right">@dr["igst"].ToString()</td>
        <td class="num_right">@dr["cgst"].ToString()</td>
        <td class="num_right">@dr["sgst"].ToString()</td>*@
                @*<td class="num_right">@dr["item_tax_amt_spec"].ToString()</td>*@
                <td class="num_right">@dr["item_tax_amt_bs"].ToString()</td>
                <td class="num_right">@dr["item_oc_amt_spec"].ToString()</td>
                <td class="num_right">@dr["item_oc_amt_bs"].ToString()</td>
                <td class="num_right">@dr["item_net_val_spec"].ToString()</td>
                <td class="num_right">@dr["item_net_val_bs"].ToString()</td>
                <td class="truncate-text" style="width: 300px; padding-right: 30px;"><span> @dr["it_remarks"].ToString()</span></td>

            </tr>
                    srno = srno + 1;
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.SalesDetailIntBrchListFooter != null)
            {
                var srno = 1;
                var GstColumn = ViewBag.GstHeaderColumns;
                foreach (System.Data.DataRow dr in ViewBag.SalesDetailIntBrchListFooter.Rows)
                {
            <tr class="total">
                <td colspan="13" align="right"><strong>Total</strong></td>
                <td class="num_right"><strong>@dr["item_qty"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_rate_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_rate_bs"].ToString()</strong></td>


                <td class="num_right"><strong>@dr["ValBeforeDiscInSpec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["ValBeforeDiscInBs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["disc_val_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["disc_val_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["ValAfterDiscInSpec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["ValAfterDiscInBs"].ToString()</strong></td>
                @foreach (System.Data.DataRow column in GstColumn.Rows)
                {
                    <td class="num_right"><strong>@dr[column["tax_name"].ToString()].ToString()</strong></td>
                }
                @*<td class="num_right"><strong>@dr["igst"].ToString()</strong></td>
        <td class="num_right"><strong>@dr["cgst"].ToString()</strong></td>
        <td class="num_right"><strong>@dr["sgst"].ToString()</strong></td>*@
                @*<td class="num_right"><strong>@dr["item_tax_amt_spec"].ToString()</strong></td>*@
                <td class="num_right"><strong>@dr["item_tax_amt_bs"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_oc_amt_spec"].ToString()</strong></td>
                <td class="num_right"><strong>@dr["item_oc_amt_bs"].ToString()</strong></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["item_net_val_spec"].ToString()</strong></div></td>
                <td class="num_right"><div class="col-sm-11"><strong>@dr["item_net_val_bs"].ToString()</strong></div></td>
                <td>&nbsp;</td>

            </tr>
                }
            }
        </tfoot>
    </table>
}
@{
    //if (Session["SDFilter"] != null)
    if (Model.SDFilter != null)
    {
        //if (Session["SDFilter"].ToString() == "SDFilter")
        if (Model.SDFilter == "SDFilter")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            //Session["SDFilter"] = null;
            Model.SDFilter = null;
            <script>
                $(document).ready(function () {
                    $(".dataTables_filter input").attr('onkeyup', 'CalculateAmtOnSearchInput("datatable-buttons",8)');
                    $(".dataTables_filter input").attr('onmouseout', 'CalculateAmtOnSearchInput("datatable-buttons",8)');

                    if ($("#SalesMISSalesSummary").is(":checked")) {
                        //CalculateAmtOnSearchInput("InvoiceWiseSummery", 8);
                    }
                    if ($("#SalesMISSalesDetail").is(":checked")) {
                        //CalculateAmtOnSearchInput("InvoiceWiseDetail", 8);
                    }

                    //CalculateAmtOnSearchInput("datatable-buttons", 8);
                });
            </script>
        }
    }
}


