@using EnRepMobileWeb.Resources;
@*<style>
    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_wrapper .buttons-csv {
        position: absolute;
        margin-left: 20%;
        top: -10px;
    }

    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_filter {
        position: absolute;
        right: 0;
        top: 0;
    }

    #MISIssuedQuantityDetail .dataTables_length {
        position: absolute;
    }

    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_wrapper {
        height: 30px;
    }
</style>*@

<style>
    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_wrapper .buttons-csv {
        position: absolute;
        margin-left: 25%;
        /* top: -10px;*/
    }

    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_filter {
        position: absolute;
        right: 0;
        top: 0;
    }

    #MISIssuedQuantityDetail .dataTables_length {
        position: absolute;
        z-index: 10;
    }

    #MISIssuedQuantityDetail #TblMTIssueQtyDetail_wrapper {
        height: 30px;
    }
    #TblMTIssueQtyDetail_wrapper {
        padding-left:0px;
        padding-right:0px;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2><span id=""> @Resource.Issued @Resource.Quantity @Resource.Detail</span></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">@Resource.Material @Resource.Name</label>
                <input autocomplete="off" class="form-control" id="txtIssueMaterialName" name="IssueMaterialName" placeholder="@Resource.Material @Resource.Name" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="col-form-label label-align">@Resource.UOM </label>
                <input autocomplete="off" class="form-control" id="txtIssueMaterialUom" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">
            </div>
            @*<div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Contractor @Resource.Name </label>
                <input autocomplete="off" class="form-control" id="txtIssueSuppName" name="Sub-" placeholder="@Resource.Contractor @Resource.Name " readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Job @Resource.Order @Resource.Number</label>
                <input autocomplete="off" class="form-control" id="txtIssueJONum" name="JobOrderNumber" placeholder="@Resource.Job @Resource.Order @Resource.Number" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Job @Resource.Order @Resource.Date </label>
                <input autocomplete="off" class="form-control" id="txtIssueJODt" name="JobOrderDate" placeholder="@Resource.Job @Resource.Order @Resource.Date" readonly="readonly" type="text" value="">
                <input type="hidden" id="hdntxtIssueJODt" />
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.Operation @Resource.Output @Resource.Product</label>
                <input autocomplete="off" class="form-control" id="txtIssueOpOutItmName" name="OperationOutputProduct" placeholder="@Resource.Operation @Resource.Output @Resource.Product" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.UOM </label>
                <input autocomplete="off" class="form-control" id="txtIssueUom" name="UOM" placeholder="@Resource.UOM" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.Order @Resource.Quantity </label>
                <input autocomplete="off" class="form-control num_right" id="txtIssueOrdQty" name="OrderQuantity" placeholder="@Resource.Order @Resource.Quantity" readonly="readonly" type="text" value="">
            </div>
            <div class="col-md-3 col-sm-12 pl-0">
                <label class="col-form-label label-align">@Resource.Issue @Resource.Quantity </label>
                <input autocomplete="off" class="form-control num_right" id="txtIssueIssueQty" name="" placeholder="@Resource.Issued @Resource.Quantity " readonly="readonly" type="text" value="">
            </div>*@
        </div>
        <div class="card-box table-responsive dy_table mt-3 pl-0" width="100%">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="TblMTIssueQtyDetail" data-order="" class="table table-striped table-bordered rowhighlighttbl" width="100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%">@Resource.SrNo</th>
                            <th width="32%">@Resource.Dispatch @Resource.Number</th>
                            <th width="32%">@Resource.Dispatch  @Resource.Date</th>
                            <th style="display:none;">@Resource.Dispatch <br /> @Resource.Date</th>
                            <th width="32%">@Resource.Issued @Resource.Quantity</th>

                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>01</td>
                            <td>B1/12/23/SCO0000059</td>
                            <td>18-12-2023</td>
                            <td class="num_right">50.000</td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.Close</button>
        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.DiscardAndExit</button>*@
    </div>
</div>