@using EnRepMobileWeb.Resources;
@using System.Data
@{
    var i = 0;
    //var DisableForDomestic = Model.DocumentMenuId == "105101120" ? "none" : "";
}
<style>
    .qt_to input {
        margin-left: -30px;
    }
</style>
@if (ViewBag.ItemDetailsList != null)
{
    if (ViewBag.DisableD == "DY")
    {
        foreach (System.Data.DataRow dr in ViewBag.ItemDetailsList.Rows)
        {
            var subitmDisable = "";
            if (dr["sub_item"].ToString() != "Y")
            {
                subitmDisable = "disabled";
            }
            i = i + 1;

<tr>
    <td class="red center"> <i class="fa fa-trash " style="filter: grayscale(100%)" aria-hidden="true" id="delBtnIcon1" title="@Resource.Delete"></i></td>
    <td id="srno" class="sr_padding">@i</td>
    <td style="display: none;"><input type="hidden" id="SNohiddenfiled" value="@i" /></td>
    <td class="ItmNameBreak itmStick tditemfrz">
        <div class="col-sm-10 lpo_form no-padding" id='multiWrapper'>
            <select class="form-control" id="PQItemListName_@i" name="PQItemListName_@i" disabled onchange="OnChangePQItemName(event)">
                <option value='@dr["item_id"]'>@dr["item_name"]</option>
            </select>
            <input type="hidden" id="Hdn_Item_ID" value="@dr["item_id"].ToString()" />
            <span id="PQItemListNameError" class="error-message is-visible"></span>
        </div>
        <div class="col-sm-2 no-padding">
            <div class="col-sm-4 i_Icon">
                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"></button>
            </div>
            <div class="col-sm-4 i_Icon"><button type="button" id="SupplierInformation" class="calculator" onclick="OnClickSupplierInfoIconBtn(event);" data-toggle="modal" data-target="#SupplierInformation" data-backdrop="static" data-keyboard="false"> <i class="fa fa-user" aria-hidden="true" title="@Resource.SupplierInformation"></i> </button></div>
            <div class="col-sm-4 i_Icon"><button type="button" id="PurchaseHistory" class="calculator" onclick="OnClickHistoryIconBtn(event);" data-toggle="modal" data-target="#PurchaseHistory" data-backdrop="static" data-keyboard="false"> <i class="fa fa-history" aria-hidden="true" data-toggle="" title="@Resource.PurchaseHistory"></i> </button></div>

        </div>
    </td>

    <td>
        <select id="UOM" class="form-control date" onchange="onChangeUom(event)" disabled>
            <option value="@dr["uom_id"].ToString()">@dr["uom_name"].ToString()</option>
            @{
                if (ViewBag.UOMList != null)
                {
                    DataTable dt = new DataTable();
                    dt = ViewBag.UOMList;
                    string item_id = dr["item_id"].ToString();
                    DataView Dv = new DataView(dt);
                    Dv.RowFilter = "item_id='" + item_id + "'";
                    foreach (DataRow dr1 in Dv.ToTable().Rows)
                    {
                        if (dr["uom_id"].ToString() != dr1["uom_id"].ToString())
                        {
                            <option value="@dr1["uom_id"].ToString()">@dr1["uom_alias"].ToString()</option>
                        }
                    }
                }

            }
        </select>
        @*<input id="UOM" class="form-control" autocomplete="off" value="@dr["uom_name"]" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled>*@
        <input id="UOMID" value="@dr["uom_id"]" type="hidden" />
        <input id="ItemHsnCode" value="@dr["hsn_code"]" type="hidden" />
        <input id="ItemtaxTmplt" value="@dr["tmplt_id"]" type="hidden" />
    </td>
    <td>
        <input id="IDItemtype" class="form-control" autocomplete="off" type="text" name="ItemType" value="@dr["ItemType"].ToString()" placeholder="@Resource.ItemType" disabled>
    </td>
    @if (Model.SourceType == "D")
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled value="@Convert.ToDecimal(dr["qt_qty"]).ToString(ViewBag.QtyDigit)" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQTQty">
                <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                <button type="button" id="SubItemQTQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    else
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled value="@Convert.ToDecimal(dr["qt_qty"]).ToString(ViewBag.QtyDigit)" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPRRFQQTQty">
                <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                <button type="button" id="SubItemPRRFQQTQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('PRFQQtQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }

    <td>
        <div class="lpo_form">
            <input id="QuotedPrice" disabled value="@Convert.ToDecimal(dr["item_rate"]).ToString(ViewBag.RateDigit)" onchange="OnchangeQuotedPrice(event)" onkeyup="OnKeyupQuotedPrice(event)" onkeypress="return AmountFloatRate(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedPrice" placeholder="0000.00">
            <span id="Qtd_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td>
        <input id="DiscountInPercentage" disabled value="@Convert.ToDecimal(dr["item_disc_perc"]).ToString("0.00")" onchange="OnChangeQTItemDiscountPerc(event)" onkeypress="return AmountFloatPer(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInPercentage" placeholder="0000.00">
    </td>
    <td>
        <div class="lpo_form">
            <input id="DiscountInAmount" disabled value="@Convert.ToDecimal(dr["item_disc_amt"]).ToString(ViewBag.ValDigit)" onchange="OnChangeQTItemDiscountAmt(event)" onkeypress="return AmountFloatVal(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInAmount" placeholder="0000.00">
            <span id="DiscAmt_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td style="display:none">
        <input id="DiscountedVal" value="@Convert.ToDecimal(dr["item_disc_val"]).ToString(ViewBag.ValDigit)" type="hidden">
    </td>
    <td>
        <input id="NetRate" value="@Convert.ToDecimal(dr["net_rate"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="NetRate" placeholder="0000.00" disabled>
    </td>
    <td @*style="display:@DisableForDomestic;"*@>
        <div class="lpo_form">
            <input id="item_ass_val" value="@Convert.ToDecimal(dr["item_ass_val"]).ToString(ViewBag.ValDigit)" class="form-control date num_right" autocomplete="off" type="text" onkeypress="return AmountFloatVal(this,event);" onchange="" name="item_ass_val" placeholder="0000.00" disabled="disabled">
            <span id="item_ass_valError" class="error-message is-visible"></span>
        </div>
    </td>
    <td class="qt_to">
        <div class="custom-control custom-switch sample_issue">
            @if (dr["tax_expted"].ToString() == "Y")
            {
                <input type="checkbox" disabled checked class="custom-control-input  margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            }
            else
            {
                <input type="checkbox" disabled class="custom-control-input margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            }
            <label class="custom-control-label" disabled for="" style="padding: 3px 0px;"> </label>
        </div>
    </td>

    @if (ViewBag.GstApplicable == "Y")
    {
        <td class="qt_to">
            <div class="custom-control custom-switch sample_issue">
                @if (dr["manual_gst"].ToString() == "Y")
                {
                    <input type="checkbox" disabled checked class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                }
                else
                {
                    <input type="checkbox" disabled class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                }
                <label class="custom-control-label" disabled for="" style="padding: 3px 0px;"> </label>
            </div>
        </td>
    }

    <td disabled="disabled" width="8%">
        <div class="col-sm-10 lpo_form no-padding">
            <input id="item_tax_amt" value="@Convert.ToDecimal(dr["item_tax_amt"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt" placeholder="0000.00" disabled="disabled">
        </div>
        <div class="col-sm-2 lpo_form no-padding">
            <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
        </div>
    </td>
    @*<td disabled="disabled" width="8%">
            <div class="col-sm-10 lpo_form" style="padding:0px;">
                <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt"  placeholder="0000.00" disabled="disabled">
            </div>
            <div class="col-sm-2" style="padding:0px;">
                <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
            </div>
        </td>*@
    <td>
        <input id="OtherCharges" value="@Convert.ToDecimal(dr["item_oc_amt"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="OtherCharges" placeholder="0000.00" disabled>
    </td>
    <td>
        <input id="NetValue" value="@Convert.ToDecimal(dr["item_net_val_spec"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="NetValue" placeholder="0000.00" disabled>
    </td>
    <td>
        <textarea id="remarks" readonly class="form-control remarksmessage" name="remarks" maxlength="100" placeholder="@Resource.remarks">@dr["it_remarks"]</textarea>
    </td>

</tr>
        }

    }
    else
    {
        foreach (System.Data.DataRow dr in ViewBag.ItemDetailsList.Rows)
        {
            var subitmDisable = "";
            if (dr["sub_item"].ToString() != "Y")
            {
                subitmDisable = "disabled";
            }
            i = i + 1;

<tr>
    <td class="red center"> <i class="fa fa-trash deleteIcon" aria-hidden="true" id="delBtnIcon1" title="@Resource.Delete"></i></td>
    <td id="srno" class="sr_padding">@i</td>
    <td style="display: none;"><input type="hidden" id="SNohiddenfiled" value="@i" /></td>
    <td class="ItmNameBreak itmStick tditemfrz">
        <div class="col-sm-10 lpo_form no-padding" id='multiWrapper'>
            <select class="form-control" id="PQItemListName_@i" name="PQItemListName_@i" onchange="OnChangePQItemName(event)">
                <option value='@dr["item_id"]'>@dr["item_name"]</option>
            </select>
            <input type="hidden" id="Hdn_Item_ID" value="@dr["item_id"].ToString()" />
            <span id="PQItemListNameError" class="error-message is-visible"></span>
        </div>
        <div class="col-sm-2 no-padding">
            <div class="col-sm-4 i_Icon">
                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> </button>
            </div>
            <div class="col-sm-4 i_Icon"><button type="button" id="SupplierInformation" class="calculator" onclick="OnClickSupplierInfoIconBtn(event);" data-toggle="modal" data-target="#SupplierInformation" data-backdrop="static" data-keyboard="false"> <i class="fa fa-user" aria-hidden="true" title="@Resource.SupplierInformation"></i> </button></div>
            <div class="col-sm-4 i_Icon"><button type="button" id="PurchaseHistory" class="calculator" onclick="OnClickHistoryIconBtn(event);" data-toggle="modal" data-target="#PurchaseHistory" data-backdrop="static" data-keyboard="false"> <i class="fa fa-history" aria-hidden="true" data-toggle="" title="@Resource.PurchaseHistory"></i> </button></div>
        </div>
    </td>
    <td>
        <select id="UOM" class="form-control date" onchange="onChangeUom(event)">
            <option value="@dr["uom_id"].ToString()">@dr["uom_name"].ToString()</option>
            @{
                if (ViewBag.UOMList != null)
                {
                    DataTable dt = new DataTable();
                    dt = ViewBag.UOMList;
                    string item_id = dr["item_id"].ToString();
                    DataView Dv = new DataView(dt);
                    Dv.RowFilter = "item_id='" + item_id + "'";
                    foreach (DataRow dr1 in Dv.ToTable().Rows)
                    {
                        if (dr["uom_id"].ToString() != dr1["uom_id"].ToString())
                        {
                            <option value="@dr1["uom_id"].ToString()">@dr1["uom_alias"].ToString()</option>
                        }
                    }
                }

            }
        </select>
        @*<input id="UOM" class="form-control" autocomplete="off" value="@dr["uom_name"]" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled>*@
        <input id="UOMID" value="@dr["uom_id"]" type="hidden" />
        <input id="ItemHsnCode" value="@dr["hsn_code"]" type="hidden" />
        <input id="ItemtaxTmplt" value="@dr["tmplt_id"]" type="hidden" />
    </td>
    @*<td>
            <input id="UOM" value="@dr["uom_name"]" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder='@Resource.UOM'" disabled>
            <input id="UOMID" value="@dr["uom_id"]" type="hidden" />
            <input id="ItemHsnCode" value="@dr["hsn_code"]" type="hidden" />
            <input id="ItemtaxTmplt" value="@dr["tmplt_id"]" type="hidden" />
            <input id="hdnItemtype" type="hidden" />
        </td>*@
    <td>
        <input id="IDItemtype" class="form-control" autocomplete="off" type="text" name="ItemType" value="@dr["ItemType"].ToString()" placeholder="@Resource.ItemType" disabled>
    </td>
    @if (Model.SourceType == "D")
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" value="@Convert.ToDecimal(dr["qt_qty"]).ToString(ViewBag.QtyDigit)" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQTQty">
                <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                <button type="button" id="SubItemQTQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    else
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled value="@Convert.ToDecimal(dr["qt_qty"]).ToString(ViewBag.QtyDigit)" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPRRFQQTQty">
                <input hidden type="text" id="sub_item" value="@dr["sub_item"]" />
                <button type="button" id="SubItemPRRFQQTQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('PRFQQtQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }

    @*<td>
            <div class="lpo_form">
                <input id="QuotedQuantity" value="@Convert.ToDecimal(dr["qt_qty"]).ToString(ViewBag.QtyDigit)" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
        </td>*@
    <td>
        <div class="lpo_form">
            <input id="QuotedPrice" value="@Convert.ToDecimal(dr["item_rate"]).ToString(ViewBag.RateDigit)" onchange="OnchangeQuotedPrice(event)" onkeyup="OnKeyupQuotedPrice(event)" onkeypress="return AmountFloatRate(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedPrice" placeholder="0000.00">
            <span id="Qtd_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td>
        @if (@Convert.ToDecimal(dr["item_disc_amt"]) > 0)
        {
            <input id="DiscountInPercentage" disabled value="@Convert.ToDecimal(dr["item_disc_perc"]).ToString("0.00")" onchange="OnChangeQTItemDiscountPerc(event)" onkeypress="return AmountFloatPer(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInPercentage" placeholder="0000.00">
        }
        else
        {
            <input id="DiscountInPercentage" value="@Convert.ToDecimal(dr["item_disc_perc"]).ToString("0.00")" onchange="OnChangeQTItemDiscountPerc(event)" onkeypress="return AmountFloatPer(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInPercentage" placeholder="0000.00">
        }

    </td>
    <td>
        <div class="lpo_form">
            @if (@Convert.ToDecimal(dr["item_disc_perc"]) > 0)
            {
                <input id="DiscountInAmount" disabled value="@Convert.ToDecimal(dr["item_disc_amt"]).ToString(ViewBag.ValDigit)" onchange="OnChangeQTItemDiscountAmt(event)" onkeypress="return AmountFloatVal(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInAmount" placeholder="0000.00">
            }
            else
            {
                <input id="DiscountInAmount" value="@Convert.ToDecimal(dr["item_disc_amt"]).ToString(ViewBag.ValDigit)" onchange="OnChangeQTItemDiscountAmt(event)" onkeypress="return AmountFloatVal(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInAmount" placeholder="0000.00">
            }

            <span id="DiscAmt_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td style="display:none">
        <input id="DiscountedVal" value="@Convert.ToDecimal(dr["item_disc_val"]).ToString(ViewBag.ValDigit)" type="hidden">
    </td>
    <td>
        <input id="NetRate" value="@Convert.ToDecimal(dr["net_rate"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="NetRate" placeholder="0000.00" disabled>
    </td>
    <td @*style="display:@DisableForDomestic;"*@>
        <div class="lpo_form">
            <input id="item_ass_val" value="@Convert.ToDecimal(dr["item_ass_val"]).ToString(ViewBag.ValDigit)" class="form-control date num_right" autocomplete="off" type="text" onkeypress="return AmountFloatVal(this,event);" onchange="" name="item_ass_val" placeholder="0000.00" disabled="disabled">
            <span id="item_ass_valError" class="error-message is-visible"></span>
        </div>
    </td>
    <td class="qt_to">
        <div class="custom-control custom-switch sample_issue">
            @if (dr["tax_expted"].ToString() == "Y")
            {
                <input type="checkbox" checked class="custom-control-input  margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            }
            else
            {
                <input type="checkbox" class="custom-control-input  margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            }
            <label class="custom-control-label" for="" style="padding: 3px 0px;"> </label>
        </div>
    </td>
    @if (ViewBag.GstApplicable == "Y")
    {
        <td class="qt_to">
            <div class="custom-control custom-switch sample_issue">
                @if (dr["manual_gst"].ToString() == "Y")
                {
                    <input type="checkbox" checked class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                }
                else
                {
                    <input type="checkbox" class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                }
                <label class="custom-control-label" disabled for="" style="padding: 3px 0px;"> </label>
            </div>
        </td>
    }
    <td disabled="disabled" width="8%">
        <div class="col-sm-10 lpo_form no-padding">
            <input id="item_tax_amt" value="@Convert.ToDecimal(dr["item_tax_amt"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt" placeholder="0000.00" disabled="disabled">
        </div>
        <div class="col-sm-2 lpo_form no-padding">
            <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
        </div>
    </td>
    @*<td disabled="disabled" width="8%">
            <div class="col-sm-9 lpo_form" style="padding:0px;">
                <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt"  placeholder="0000.00" disabled="disabled">
            </div>
            <div class="col-sm-3 lpo_form" style="padding:0px;">
                <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
            </div>
        </td>*@
    <td>
        <input id="OtherCharges" value="@Convert.ToDecimal(dr["item_oc_amt"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="OtherCharges" placeholder="0000.00" disabled>
    </td>
    <td>
        <input id="NetValue" value="@Convert.ToDecimal(dr["item_net_val_spec"]).ToString(ViewBag.ValDigit)" class="form-control num_right" autocomplete="off" type="text" name="NetValue" placeholder="0000.00" disabled>
    </td>
    <td>
        <textarea id="remarks" class="form-control remarksmessage" name="remarks" maxlength="100" placeholder="@Resource.remarks">@dr["it_remarks"]</textarea>
    </td>

</tr>
        }
    }
}
else
{

    if (ViewBag.DisableD == "Y")
    {
<tr>
    <td class="red center"> <i class="fa fa-trash" style="filter: grayscale(100%)" aria-hidden="true" id="delBtnIcon1" title="@Resource.Delete"></i></td>
    <td id="srno" class="sr_padding">1</td>
    <td style="display: none;"><input type="hidden" id="SNohiddenfiled" value="1" /></td>
    <td class="ItmNameBreak itmStick tditemfrz">
        <div class="col-sm-10 lpo_form no-padding" id='multiWrapper'>
            <select class="form-control" id="PQItemListName_1" name="PQItemListName_1" disabled onchange="OnChangePQItemName(event)">
            </select>
            <input type="hidden" id="Hdn_Item_ID" value="">
            <span id="PQItemListNameError" class="error-message is-visible"></span>
        </div>
        <div class="col-sm-2 i_Icon">
            <div class="col-sm-4 i_Icon">
                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title=" @Resource.ItemInformation">  </button>
            </div>
            <div class="col-sm-4 i_Icon"><button type="button" id="SupplierInformation" class="calculator" onclick="OnClickSupplierInfoIconBtn(event);" data-toggle="modal" data-target="#SupplierInformation" data-backdrop="static" data-keyboard="false"> <i class="fa fa-user" aria-hidden="true" title="@Resource.SupplierInformation"></i> </button></div>
            <div class="col-sm-4 i_Icon"><button type="button" id="PurchaseHistory" class="calculator" onclick="OnClickHistoryIconBtn(event);" data-toggle="modal" data-target="#PurchaseHistory" data-backdrop="static" data-keyboard="false"> <i class="fa fa-history" aria-hidden="true" data-toggle="" title="@Resource.PurchaseHistory"></i> </button></div>
        </div>
    </td>
    <td>
        <select id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" onchange="onChangeUom(event)" disabled>
            <option value="0">---Select---</option>
        </select>
        @*<input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder='@Resource.UOM'" disabled>*@
        <input id="UOMID" type="hidden" />
        <input id="ItemHsnCode" type="hidden" />
        <input id="ItemtaxTmplt" type="hidden" />
        <input id="hdnItemtype" type="hidden" />
    </td>
    <td>
        <input id="IDItemtype" class="form-control" autocomplete="off" type="text" name="ItemType" value="" placeholder="@Resource.ItemType" disabled>
    </td>
    @if (Model.SourceType == "D")
    {
        <td>

            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right " autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQTQty">
                <input hidden type="text" id="sub_item" value="" />
                <button type="button" id="SubItemQTQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    else
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right " autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPRRFQQTQty">
                <button type="button" id="SubItemPRRFQQTQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PRFQQtQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    @*/------*Commented by Hina on 11-10-2023 to give above as multiple Source type*-------/*@
    @*<td>
            <div class="lpo_form">
                <input id="QuotedQuantity" disabled onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right " autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
        </td>*@

    <td>
        <div class="lpo_form">
            <input id="QuotedPrice" disabled onchange="OnchangeQuotedPrice(event)" onkeyup="OnKeyupQuotedPrice(event)" onkeypress="return AmountFloatRate(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedPrice" placeholder="0000.00">
            <span id="Qtd_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td>
        <input id="DiscountInPercentage" disabled onchange="OnChangeQTItemDiscountPerc(event)" onkeypress="return AmountFloatPer(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInPercentage" placeholder="0000.00">
    </td>
    <td>
        <div class="lpo_form">
            <input id="DiscountInAmount" disabled onchange="OnChangeQTItemDiscountAmt(event)" onkeypress="return AmountFloatVal(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInAmount" placeholder="0000.00">
            <span id="DiscAmt_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td style="display:none">
        <input id="DiscountedVal" type="hidden">
    </td>
    <td>
        <input id="NetRate" class="form-control num_right" autocomplete="off" type="text" name="NetRate" placeholder="0000.00" disabled>
    </td>
    <td @*style="display:@DisableForDomestic;"*@>
        <div class="lpo_form">
            <input id="item_ass_val" class="form-control num_right" autocomplete="off" type="text" onkeypress="return AmountFloatVal(this,event);" onchange="" name="item_ass_val" placeholder="0000.00" disabled="disabled">
            <span id="item_ass_valError" class="error-message is-visible"></span>
        </div>
    </td>
    <td>
        <div class="custom-control custom-switch sample_issue">
            <input type="checkbox" class="custom-control-input  margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            <label class="custom-control-label" for="" style="padding: 3px 0px;"> </label>
        </div>
    </td>
    @if (ViewBag.GstApplicable == "Y")
    {
        <td>
            <div class="custom-control custom-switch sample_issue">
                <input type="checkbox" class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                <label class="custom-control-label" for="" style="padding: 3px 0px;"> </label>
            </div>
        </td>
    }
    <td disabled="disabled" width="8%">
        <div class="col-sm-10 lpo_form no-padding">
            <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt" placeholder="0000.00" disabled="disabled">
        </div>
        <div class="col-sm-2 lpo_form no-padding">
            <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
        </div>
    </td>
    @*<td disabled="disabled" width="8%">
            <div class="col-sm-9 lpo_form" style="padding:0px;">
                <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt"  placeholder="0000.00" disabled="disabled">
            </div>
            <div class="col-sm-3 lpo_form" style="padding:0px;">
                <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
            </div>
        </td>*@
    <td>
        <input id="OtherCharges" class="form-control num_right" autocomplete="off" type="text" name="OtherCharges" placeholder="0000.00" disabled>
    </td>
    <td>
        <input id="NetValue" class="form-control num_right" autocomplete="off" type="text" name="NetValue" placeholder="0000.00" disabled>
    </td>
    <td>
        <textarea id="remarks" class="form-control remarksmessage" name="remarks" maxlength="100" placeholder="@Resource.remarks"></textarea>
    </td>

</tr>
    }
    else
    {
<tr>
    <td class="red center"> <i class="fa fa-trash deleteIcon" aria-hidden="true" id="delBtnIcon1" title="@Resource.Delete"></i></td>
    <td id="srno" class="sr_padding">1</td>
    <td style="display: none;"><input type="hidden" id="SNohiddenfiled" value="1" /></td>
    <td class="ItmNameBreak itmStick tditemfrz">
        <div class="col-sm-10 lpo_form no-padding" id='multiWrapper'>
            <select class="form-control" id="PQItemListName_1" name="PQItemListName_1" onchange="OnChangePQItemName(event)">
            </select>
            <input type="hidden" id="Hdn_Item_ID" value="">
            <span id="PQItemListNameError" class="error-message is-visible"></span>
        </div>
        <div class="col-sm-2 no-padding">
            <div class="col-sm-4 i_Icon">
                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title=" @Resource.ItemInformation"> </button>
            </div>
            <div class="col-sm-4 i_Icon"><button type="button" id="SupplierInformation" class="calculator" onclick="OnClickSupplierInfoIconBtn(event);" data-toggle="modal" data-target="#SupplierInformation" data-backdrop="static" data-keyboard="false"> <i class="fa fa-user" aria-hidden="true" title="@Resource.SupplierInformation"></i> </button></div>
            <div class="col-sm-4 i_Icon"><button type="button" id="PurchaseHistory" class="calculator" onclick="OnClickHistoryIconBtn(event);" data-toggle="modal" data-target="#PurchaseHistory" data-backdrop="static" data-keyboard="false"> <i class="fa fa-history" aria-hidden="true" data-toggle="" title="@Resource.PurchaseHistory"></i> </button></div>
        </div>
    </td>
    <td>
        <select id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" onchange="onChangeUom(event)" disabled>
            <option value="0">---Select---</option>
        </select>
        @*<input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder='@Resource.UOM'" disabled>*@
        <input id="UOMID" type="hidden" />
        <input id="ItemHsnCode" type="hidden" />
        <input id="ItemtaxTmplt" type="hidden" />
    </td>
    <td>
        <input id="IDItemtype" class="form-control" autocomplete="off" type="text" name="ItemType" value="" placeholder="@Resource.ItemType" disabled>
    </td>
    @if (Model.SourceType == "D")
    {
        <td>

            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right " autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemQTQty">
                <input hidden type="text" id="sub_item" value="" />
                <button type="button" id="SubItemQTQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    else
    {
        <td>
            <div class="col-sm-10 lpo_form no-padding">
                <input id="QuotedQuantity" disabled onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right " autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPRRFQQTQty">
                <button type="button" id="SubItemPRRFQQTQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PRFQQtQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
            </div>
        </td>
    }
    @*/*------Commented by Hina on 11-10-2023 to give above as multiple Source type*/*@

    @*<td>
            <div class="lpo_form">
                <input id="QuotedQuantity" onchange="OnchangeQuotedQuantity(event)" onkeyup="OnKeyupQuotedQty(event)" onkeypress="return AmountFloatQty(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedQuantity" placeholder="0000.00">
                <span id="Qtd_qty_Error" class="error-message is-visible"></span>
            </div>
        </td>*@

    <td>
        <div class="lpo_form">
            <input id="QuotedPrice" onchange="OnchangeQuotedPrice(event)" onkeyup="OnKeyupQuotedPrice(event)" onkeypress="return AmountFloatRate(this, event);" class="form-control num_right" autocomplete="off" type="text" name="QuotedPrice" placeholder="0000.00">
            <span id="Qtd_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td>
        <input id="DiscountInPercentage" onchange="OnChangeQTItemDiscountPerc(event)" onkeypress="return AmountFloatPer(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInPercentage" placeholder="0000.00">
    </td>
    <td>
        <div class="lpo_form">
            <input id="DiscountInAmount" onchange="OnChangeQTItemDiscountAmt(event)" onkeypress="return AmountFloatVal(this, event)" class="form-control num_right" autocomplete="off" type="text" name="DiscountInAmount" placeholder="0000.00">
            <span id="DiscAmt_price_Error" class="error-message is-visible"></span>
        </div>
    </td>
    <td style="display:none">
        <input id="DiscountedVal" type="hidden">
    </td>
    <td>
        <input id="NetRate" class="form-control num_right" autocomplete="off" type="text" name="NetRate" placeholder="0000.00" disabled>
    </td>
    <td @*style="display:@DisableForDomestic;"*@>
        <div class="lpo_form">
            <input id="item_ass_val" class="form-control num_right" autocomplete="off" type="text" onkeypress="return AmountFloatVal(this,event);" onchange="" name="item_ass_val" placeholder="0000.00" disabled="disabled">
            <span id="item_ass_valError" class="error-message is-visible"></span>
        </div>
    </td>
    <td class="qt_to">
        <div class="custom-control custom-switch sample_issue">
            <input type="checkbox" class="custom-control-input  margin-switch" onclick="OnClickTaxExemptedCheckBox(event)" id="TaxExempted">
            <label class="custom-control-label" for="" style="padding: 3px 0px;"> </label>
        </div>
    </td>
    @if (ViewBag.GstApplicable == "Y")
    {
        <td class="qt_to">
            <div class="custom-control custom-switch sample_issue">
                <input type="checkbox" disabled class="custom-control-input  margin-switch" onclick="OnClickManualGSTCheckBox(event)" id="ManualGST">
                <label class="custom-control-label" disabled for="" style="padding: 3px 0px;"> </label>
            </div>
        </td>
    }
    <td disabled="disabled" width="8%">
        <div class="col-sm-10 lpo_form no-padding">
            <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt" placeholder="0000.00" disabled="disabled">
        </div>
        <div class="col-sm-2 lpo_form no-padding">
            <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
        </div>
    </td>
    @*<td disabled="disabled" width="8%">
        <div class="col-sm-10 lpo_form" style="padding:0px;">
            <input id="item_tax_amt" class="form-control num_right" autocomplete="off" type="text" name="item_tax_amt"  placeholder="0000.00" disabled="disabled">

        </div>
        <div class="col-sm-2 lpo_form" style="padding:0px;">
            <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false" value=""><i class="fa fa-calculator" aria-hidden="true" title="Tax Calculator" data-original-title="Tax Calculator" disabled="disabled"></i></button>
        </div>
        </td>*@
    <td>
        <input id="OtherCharges" class="form-control num_right" autocomplete="off" type="text" name="OtherCharges" placeholder="0000.00" disabled>
    </td>
    <td>
        <input id="NetValue" class="form-control num_right" autocomplete="off" type="text" name="NetValue" placeholder="0000.00" disabled>
    </td>
    <td>
        <textarea id="remarks" class="form-control remarksmessage" name="remarks" maxlength="100" placeholder="@Resource.remarks"></textarea>
    </td>

</tr>
    }

}





