@using EnRepMobileWeb.Resources;
@{

    //var rowId = 0;
    decimal TotalIssueQty = 0;
    var Disable = true;
    if (Session["TransType"] != null)
    {
        if (Session["TransType"].ToString() == "Update")
        {
            if (Session["Command"].ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (Session["Command"].ToString() == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }

}
<div class="tableFixHead">
    <table id="ShipmentItemSerialTbl" class="table table-bordered">
        <thead>
            <tr class="headings" disabled="disabled">
                <th width="33%" disabled="disabled"> @Resource.Lot</th>
                <th width="33%" disabled="disabled"> @Resource.Serial1</th>
                <th width="34%" disabled="disabled"> @Resource.Select</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ItemStockSerialWise != null)
            {
               
                foreach (System.Data.DataRow Row in ViewBag.ItemStockSerialWise.Rows)
                {
                    <tr>

                        <td>
                            <input id="Lot" class="form-control" value="@Row["lot_id"].ToString()" autocomplete="off" type="text" name="Lot" required="required" placeholder="Lot"  onblur="this.placeholder='Lot'" disabled="">
                        </td>
                        <td>
                            <input id="SerialNumberDetail" value="@Row["serial_no"].ToString()" class="form-control" autocomplete="off" type="text" name="SerialNumberDetail" required="required" placeholder="Serial Number Detail"  onblur="this.placeholder='Serial Number Detail'" disabled="">
                        </td>
                        <td align="right">
                            <div class="checkbox">
                                <label>
                                    @if (Disable)
                                    {

                                        if (Row["SerailSelected"].ToString() == "Y")
                                        {
                                            TotalIssueQty = TotalIssueQty + 1;
                                            <input id="ChkItemSerialWise" disabled onchange="onchangeChkItemSerialWise()" checked type="checkbox" class="flat">
                                        }
                                        else
                                        {
                                            {
                                                <input id="ChkItemSerialWise" disabled onchange="onchangeChkItemSerialWise()" type="checkbox" class="flat">
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Session["Command"].ToString() == "Edit" && ViewBag.DocumentCode == "A")
                                        {
                                            if (Row["SerailSelected"].ToString() == "Y")
                                            {
                                                TotalIssueQty = TotalIssueQty + 1;
                                                <input id="ChkItemSerialWise" disabled onchange="onchangeChkItemSerialWise()" checked type="checkbox" class="flat">
                                            }
                                            else
                                            {
                                                {
                                                    <input id="ChkItemSerialWise" disabled onchange="onchangeChkItemSerialWise()" type="checkbox" class="flat">
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (Row["SerailSelected"].ToString() == "Y")
                                            {
                                                TotalIssueQty = TotalIssueQty + 1;

                                                <input id="ChkItemSerialWise" onchange="onchangeChkItemSerialWise()" checked type="checkbox" class="flat">
                                            }
                                            else
                                            {
                                                {
                                                    <input id="ChkItemSerialWise" onchange="onchangeChkItemSerialWise()" type="checkbox" class="flat">
                                                }
                                            }
                                        }
                                    }




                                </label>
                            </div>
                        </td>

                    </tr>

                }
                @*<tr>
                    <td colspan="3">
                        <input id="TotalIssuedSerial" value="@TotalIssueQty" disabled class="form-control" autocomplete="off" type="text" name="txtItemTotolQty" required="required" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'" readonly>
                    </td>
                </tr>*@
            }
            @*else
            {
                <tr>
                    <td colspan="3">
                        <input id="TotalIssuedSerial" disabled class="form-control" autocomplete="off" type="text" name="txtItemTotolQty" required="required" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'" readonly>
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>
<table class="table table-bordered" id="ItemDetailsTbl">
    <tr>
        <th align="right"><strong> Total</strong></th>
        <th>
            <div id="TotalIssuedSerial" value="@TotalIssueQty" disabled  autocomplete="off" type="text" name="txtItemTotolQty" required="required" placeholder="@Resource.IssuedQuantity"  onblur="this.placeholder='@Resource.IssuedQuantity'" readonly></div>
            @*<input id="TotalIssuedSerial" value="@TotalIssueQty" disabled class="form-control" autocomplete="off" type="text" name="txtItemTotolQty" required="required" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'" readonly>*@
        </th>
    </tr>
</table>
