@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/RequestForQuotation/RequestForQuotation.js"></script>

<table id="datatable-buttons" class="table table-striped table-bordered width1800 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="2%">&nbsp;</th>
            <th width="3%">@Resource.SrNo</th>
            <th width="11%" class="itmStick">@Resource.RFQ <br /> @Resource.Number</th>
            <th width="7%">@Resource.RFQ <br /> @Resource.Date</th>
            <th width="7%" hidden>@Resource.RFQDate</th>
            <th width="6%">@Resource.Source <br /> @Resource.Type</th>
            <th width="10%">@Resource.Source <br /> @Resource.DocumentNumber</th>
            <th width="6%">@Resource.Source <br /> @Resource.DocumentDate</th>
            <th width="6%">@Resource.Validity <br /> @Resource.Date</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.RFQDetailsList != null)
        {
            foreach (System.Data.DataRow item in ViewBag.RFQDetailsList.Rows)
            {
                i = i + 1;
        <tr>
            <td>               
                <a class="tooltip-test" id="RequestForQuotationTrackingTracking" href="" onclick="OnClickOrderTrackingBtn(event);" data-toggle="modal" data-target="#RequestForQuotationTracking" data-backdrop="static" data-keyboard="false" title="@Resource.RFQ @Resource.Tracking">
                    <img src="~/Content/Images/PurchaseOrderTracking2.png" title=" @Resource.RFQ @Resource.Tracking" width="20" height="20" />
                </a>
            </td>
            <td class="sorting_1">@i</td>
            <td id="rfq_no" class="ItmNameBreak itmStick tditemfrz">@item["rfq_no"].ToString()</td>
            <td id="RFQDate">@item["RFQDate"].ToString()</td>
            <td hidden="hidden" id="Rfq_date">@item["Rfq_date"].ToString()</td>
            <td>@item["SourceType"].ToString()</td>
            <td>@item["src_doc_no"].ToString()</td>
            <td>@item["src_doc_dt"].ToString()</td>
            <td>@item["valid_dt"].ToString()</td>
            <td id="Doc_Status">@item["Status"].ToString()</td>
            <td>@item["create_by"].ToString()</td>
            <td>@item["CreateDate"].ToString()</td>
            <td>@item["app_by"].ToString()</td>
            <td>@item["ApproveDate"].ToString()</td>
            <td>@item["mod_by"].ToString()</td>
            <td>@item["ModifyDate"].ToString()</td>
        </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["RFQSearch"] != null)*@
@if (Model.RFQSearch != null)
{
    if (Model.RFQSearch == "RFQ_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.RFQSearch = null;
    }
}
