
@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialReceipt.MaterialTransferReceipt.TMR_ListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialReceipt/MaterialTransferReceipt/MaterialTransferReceiptList.js"></script>

<table id="datatable-buttons" class="table table-striped table-bordered width1800 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="7%" class="itmStick">@Resource.Receipt <br /> @Resource.Number</th>
            <th width="8%">@Resource.Receipt <br />  @Resource.Date</th>
            <th style="display:none;">@Resource.ReceiptDate</th>
            <th width="8%">@Resource.Transfer <br />  @Resource.Type</th>
            <th style="display:none;">@Resource.TransferType</th>
            <th width="8%">@Resource.Source <br />  @Resource.Branch</th>
            <th width="10%">@Resource.Source <br />  @Resource.Warehouse</th>
            <th width="8%">@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.TMRList != null)
        {
            foreach (var row in Model.TMRList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="MRNo" class="ItmNameBreak itmStick tditemfrz">@row.MRNo</td>
                    <td>@row.MRDate</td>
                    <td style="display:none;" id="MR_Dt">@row.MR_Dt </td>
                    <td>@row.TrfType</td>
                    <td style="display:none;" id="Trf_Type">@row.Trf_Type </td>
                    <td>@row.SourceBranch</td>
                    <td>@row.SourceWH</td>
                    <td id="Doc_Status">@row.Stauts</td>
                    <td>@row.create_by</td>
                    <td>@row.CreateDate</td>
                    <td>@row.app_by</td>
                    <td>@row.ApproveDate</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifyDate</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["MTRSearch"] != null)*@
@if (Model.MTRSearch != null)
{
    //if (Session["MTRSearch"].ToString() == "MTR_Search")
    if (Model.MTRSearch == "MTR_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["MTRSearch"] = null;
        Model.MTRSearch = null;
    }
}

