@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close " data-dismiss="modal">×</button>
    </div>
    <div class="modal-body pop_top">
        <div id="divBatchLotewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtbatchlotitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtbatchlotuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtbatchlotbranch"></span></div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label label-align">@Resource.Shopfloor</label>
                    <div class="label_value"><span id="txtbatchlotwarehouse"></span></div>
                </div>
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.Lot</label>
                    <div class="label_value"><span id="txtbatchlotlot"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Batch1</label>
                    <div class="label_value"><span id="txtbatchlotbatch"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Serial1</label>
                    <div class="label_value"><span id="txtbatchlotserial"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered" id="BatchLotwiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="BatchLotwiseDocDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl itmfrz">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="17%">@Resource.Document</th>
                                <th width="15%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="13%">@Resource.DocumentDate</th>
                                <th width="10%">@Resource.Quantity</th>
                                <th width="25%">@Resource.remarks</th>
                                <th width="15%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <th width="50%" class="num_right"><strong> Total</strong></th>
                    <th width="10%" class="num_right" style="background: #e4e4e4 !important;"><strong><span id="BatchLotwiseTotalQty"></span></strong> </th>
                    <th width="25%"> &nbsp;</th>
                    <th width="15%"> &nbsp;</th>
                </tr>
            </table>
        </div>
        <div id="divWarehousewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtwarehouseitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtwarehouseuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtwarehousebranch"></span></div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label label-align">@Resource.Shopfloor</label>
                    <div class="label_value"><span id="txtwarehousewarehouse"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered width1600" id="WarehousewiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="WarehousewiseDocDetailTbl" data-order="" class="table table-striped table-bordered width1600 rowhighlighttbl itmfrz">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="12%">@Resource.Document</th>
                                <th width="9%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="9%">@Resource.DocumentDate</th>
                                <th width="9%">@Resource.Lot</th>
                                <th width="9%">@Resource.Batch1</th>
                                <th width="9%">@Resource.Serial1</th>
                                <th width="8%">@Resource.Quantity</th>
                                <th width="20%">@Resource.remarks</th>
                                <th width="10%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <td width="73%" class="num_right"><strong> Total</strong></td>
                    <td width="10%" class="num_right" style="background: #e4e4e4 !important;"><strong><span id="WarehousewiseTotalQty"></span></strong></td>
                    <td width="10%"> &nbsp;</td>
                    <td width="10%"> &nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="divBranchwiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.ItemName</label>
                    <div class="label_value"><span id="txtbranchitemName"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.UOM</label>
                    <div class="label_value"><span id="txtbranchuom"></span></div>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                    <div class="label_value"><span id="txtbranchbranch"></span></div>
                </div>
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-bordered width1600" id="BranchwiseDocDetailTbl">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_table">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="BranchwiseDocDetailTbl" data-order="" class="table table-striped table-bordered width1600 rowhighlighttbl itmfrz">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="10%">@Resource.Document</th>
                                <th width="10%" class="itmStick">@Resource.DocumentNumber</th>
                                <th width="8%">@Resource.DocumentDate</th>
                                <th width="15%">@Resource.Shopfloor</th>
                                <th width="8%">@Resource.Lot</th>
                                <th width="8%">@Resource.Batch1</th>
                                <th width="8%">@Resource.Serial1</th>
                                <th width="8%">@Resource.Quantity</th>
                                <th width="12%">@Resource.remarks</th>
                                <th width="8%">@Resource.Createdon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered">
                <tr class="total">
                    <td width="80%" class="num_right"><strong> Total</strong></td>
                    <td width="20%" class="num_right" style="background: #e4e4e4 !important;"> <strong><span id="BranchwiseTotalQty"></span></strong></td>
                    @*<td width="18%"></td>*@
                </tr>
            </table>
        </div>
    </div>
</div>
