@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.AccountPayable.AccountPayableModel
@using EnRepMobileWeb.Resources;
@using System.Data
<script src="/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    .ap {
        position: absolute !important;
    }

</style>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/AccountPayable/AccountPayable.js"></script>
@{
    var rowId = 0;
}
@{
    var range1 = Convert.ToInt32(@Model.Range1) + 1;
    var range2 = Convert.ToInt32(@Model.Range2) + 1;
    var range3 = Convert.ToInt32(@Model.Range3) + 1;
    var range4 = Convert.ToInt32(@Model.Range4) + 1;
    var range5 = Convert.ToInt32(@Model.Range5) + 1;
}
@if (ViewBag.flag == "S")
{
<table id="datatable-buttons5" class="table table-striped width2300 itmfrz rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="9%" class="itmStick">@Resource.SupplierName</th>
            <th hidden>@Resource.SupplierID</th>
            <th hidden>@Resource.AccountID</th>
            <th width="5%">@Resource.Currency</th>
            <th hidden>@Resource.Currency</th>
            @*/*Add  by Hina sharma on 18-12-2024*/*@
            <th width="6%" id="th_Range1">0-@Model.Range1 @Resource.Days </th>
            <th width="6%" id="th_Range2">@range1-@Model.Range2 @Resource.Days</th>
            <th width="6%" id="th_Range3">@range2-@Model.Range3 @Resource.Days</th>
            <th width="6%" id="th_Range4">@range3-@Model.Range4 @Resource.Days</th>
            <th width="6%" id="th_Range5">@range4-@Model.Range5 @Resource.Days</th>
            <th width="6%" id="th_Range6">>@range5 @Resource.Days</th>
            <th width="8%">@Resource.Total @Resource.Payable <br /> @Resource.InSpecific</th>
            <th width="8%">@Resource.Total @Resource.Payable <br /> @Resource.InBase</th>
            <th width="8%">@Resource.Advance @Resource.Amount <br /> @Resource.InSpecific</th>
            <th width="8%">@Resource.Advance @Resource.Amount <br /> @Resource.InBase</th>
            <th width="8%">@Resource.Net @Resource.Payable <br /> @Resource.InSpecific</th>
            <th width="8%">@Resource.Net @Resource.Payable <br />@Resource.InBase</th>

            @*<th width="9%">@Resource.Advance @Resource.Payment</th>
        <th width="13%">@Resource.Total</th>*@
            @if (Model.PayablePdf == "A")
            {
                <th>&nbsp;</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.AccountPayableList != null)
        {
            foreach (var row in Model.AccountPayableList)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td id="Supp_name" class="ItmNameBreak itmStick tditemfrz">@row.SuppName</td>
            <td id="Supp_id" hidden>@row.SuppId</td>
            <td id="acc_id" hidden>@row.AccId</td>
            <td id="Curr" class="center">@row.Curr</td>
            <td id="Curr_id" hidden>@row.CurrId</td>
            @*/*Add  by Hina sharma on 18-12-2024*/*@
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange1">@row.AmtRange1</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r1')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr1" value="0,@Model.Range1">
                </div>
            </td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange2">@row.AmtRange2</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r2')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr2" value="@range1,@Model.Range2">
                </div>
            </td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange3">@row.AmtRange3</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r3')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr3" value="@range2,@Model.Range3">
                </div>
            </td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange4">@row.AmtRange4</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r4')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr4" value="@range3,@Model.Range4">
                </div>
            </td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange5">@row.AmtRange5</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r5')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr5" value="@range4,@Model.Range5">
                </div>
            </td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange6">@row.AmtRange6</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r6')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                    <input type="hidden" id="hdnr6" value="@range5">
                </div>
            </td>

            <td class="num_right">@row.totamt_sp</td>
            <td class="num_right">@row.totamt_bs</td>
            <td class="num_right">
                <div class="col-sm-11 lpo_form no-padding" id="APAdvanceAmount">@row.AdvanceAmount</div>
                <div class="col-sm-1 i_Icon">
                    <button type="button" id="" class="calculator" data-toggle="modal" onclick="OnCliekAdvanceAmountIcon(event)" data-target="#AdvancePaymentDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Advance @Resource.Payment">  </button>
                </div>
            </td>
            <td class="num_right">@row.advamt_bs</td>
            <td class="num_right">
                <div class="col-sm-12 lpo_form no-padding">@row.TotalAmt</div>
                <strong style="display:none" id="TotalAmt">@row.TotalAmt</strong>
            </td>
            <td class="num_right">@row.totnetamt_bs</td>
            @if (Model.PayablePdf == "A")
            {
                <td>
                    <div class="col-sm-12 i_Icon">
                        <button type="button" class="calculator" data-toggle="modal" onclick="GenerateAccPblPDF(event)" data-target="#" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/pdf.png" alt="" title="@Resource.SupplierStatement">  </button>
                    </div>
                </td>
            }
        </tr>
            }
        }
    </tbody>
    @*/*ADD by Hina Sharma on 21-07-2025 for show bucket wise total*/*@
    <tfoot>
        @if (ViewBag.BucketWiseTotal != null)
        {

        <tr class="sticky-header">
            <th colspan="3" class="num_right font-weight-bold"> Total</th>
            <th class="num_right font-weight-bold" hidden>&nbsp;</th>
            <th class="num_right font-weight-bold" hidden>&nbsp;</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR1"].ToString()</th>
            <th class="num_right font-weight-bold" hidden>&nbsp;</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR2"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR3"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR4"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR5"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalGTR5"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["tot_amt"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["tot_amt_bs"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalAdvanceAmount"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["Adv_Amt_bs"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt_bs"].ToString()</th>
            @if (Model.PayablePdf == "A")
            {
                <th class="num_right font-weight-bold">&nbsp;</th>
            }

        </tr>
        }
    </tfoot>
</table>
}
else
{
<table id="datatable-buttons6" class="table table-striped width2000 itmfrz rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="15%" class="itmStick">@Resource.SupplierName</th>
            <th hidden>@Resource.SupplierID</th>
            <th hidden>@Resource.AccountID</th>
            <th width="7%">@Resource.Invoice @Resource.Number</th>
            <th width="6%">@Resource.Invoice @Resource.Date</th>
            <th width="7%">@Resource.BillNumber</th>
            <th width="6%">@Resource.BillDate</th>
            <th width="6%">@Resource.Currency</th>
            <th hidden>@Resource.Currency</th>
            <th width="6%">@Resource.Invoice @Resource.Amount</th>
            <th width="6%" id="th_Range1">0-@Model.Range1 @Resource.Days </th>
            <th width="6%" id="th_Range2">@range1-@Model.Range2 @Resource.Days</th>
            <th width="6%" id="th_Range3">@range2-@Model.Range3 @Resource.Days</th>
            <th width="6%" id="th_Range4">@range3-@Model.Range4 @Resource.Days</th>
            <th width="6%" id="th_Range5">@range4-@Model.Range5 @Resource.Days</th>
            <th width="6%" id="th_Range6">>@range5 @Resource.Days</th>
            <th width="8%">@Resource.Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AccountPayableList != null)
        {
            foreach (var row in Model.AccountPayableList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="Supp_name" class="ItmNameBreak itmStick tditemfrz">@row.SuppName</td>
                    <td id="Supp_id" hidden>@row.SuppId</td>
                    <td id="acc_id" hidden>@row.AccId</td>
                    <td id="Inv_no">@row.inv_no</td>
                    <td id="Inv_dt">@row.inv_dt</td>
                    <td>@row.bill_no</td>
                    <td>@row.bill_dt</td>
                    <td id="Curr" class="center">@row.Curr</td>
                    <td id="Curr_id" hidden>@row.CurrId</td>
                    <td class="num_right">@row.inv_amt</td>
                    @*/*Add  by Hina sharma on 18-12-2024*/*@
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange1">@row.AmtRange1</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r1')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr1" value="0,@Model.Range1">
                        </div>
                    </td>
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange2">@row.AmtRange2</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r2')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr2" value="@range1,@Model.Range2">
                        </div>
                    </td>
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange3">@row.AmtRange3</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r3')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr3" value="@range2,@Model.Range3">
                        </div>
                    </td>
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange4">@row.AmtRange4</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r4')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr4" value="@range3,@Model.Range4">
                        </div>
                    </td>
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange5">@row.AmtRange5</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r5')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr5" value="@range4,@Model.Range5">
                        </div>
                    </td>
                    <td class="num_right">
                        <div class="col-sm-11 lpo_form no-padding" id="multiWrapperRange6">@row.AmtRange6</div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="InvoiceDetails" class="calculator" data-toggle="modal" onclick="OnclickInvoiceDetailIcon(event,'r6')" data-target="#InvoiceDetails" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.InvoiceDetail">  </button>
                            <input type="hidden" id="hdnr6" value="@range5">
                        </div>
                    </td>

                    <td class="num_right">
                        @row.TotalAmt
                        @*@if (Model.PayablePdf == "A")
                            {
                                <div class="col-sm-11 lpo_form no-padding">@row.TotalAmt</div>*@
                        @*<div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator" data-toggle="modal" onclick="GenerateAccPblPDF(event)" data-target="#" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/pdf.png" alt="" title="@Resource.SupplierStatement">  </button>
                            </div>*@
                        @*}
                            else
                            {
                                <div class="col-sm-12 lpo_form no-padding">@row.TotalAmt</div>
                            }
                            <strong style="display:none" id="TotalAmt">@row.TotalAmt</strong>*@
                    </td>
                </tr>
            }
        }
    </tbody>
    @*/*ADD by Hina Sharma on 21-07-2025 for show bucket wise total*/*@
    <tfoot>
        @if (ViewBag.BucketWiseTotal != null)
        {

        <tr class="sticky-header">
            <th colspan="7" class="num_right font-weight-bold"> Total</th>          
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalInv_amt"].ToString()</th>       
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR1"].ToString()</th>       
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR2"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR3"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR4"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalR5"].ToString()</th>
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalGTR5"].ToString()</th>
        @*<th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totalAdvanceAmount"].ToString()</th>*@
            <th class="num_right font-weight-bold">@ViewBag.BucketWiseTotal.Rows[0]["totaltamt"].ToString()</th>

        </tr>
        }
    </tfoot>
</table>
}





@*<input id="hdnrt1" type="hidden" value="@Model.Range1" />
    <input id="hdnrt2" type="hidden" value="@Model.Range2" />
    <input id="hdnrt3" type="hidden" value="@Model.Range3" />
    <input id="hdnrt4" type="hidden" value="@Model.Range4" />
    <input id="hdnrt5" type="hidden" value="@Model.Range5" />*@
@if (Model.APAging != null)
{
    if (Model.APAging == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.APAging = null;
    }
}