@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var i = 0;
    var TotalOk = 0;
    var TotalNotOk = 0;
}
<style>
    #DttblBtnsPackingSerialization_wrapper .dataTables_length {
        position: absolute;
    }

    #DttblBtnsPackingSerialization_wrapper .dt-buttons {
        width: 10%;
        margin-left: 16%;
    }

    #DttblBtnsPackingSerialization_filter {
        position: relative;
        float: right;
    }

    .loader1 {
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px; /* Half of width */
        margin-left: -40px; /* Half of height */
        z-index: 9999; /* Make sure it's on top of other elements */
        display: none; /* Initially hide the loader */
        /*    position: fixed;*/
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .loader1 div {
        width: 100%;
        height: 100%;
    }

    #DttblBtnsPackingSerialization thead tr > :nth-child(4) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }

    #DttblBtnsPackingSerialization tbody tr > :nth-child(4) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }
</style>


<div id="loader1" class="loader1">
    <img src="~/Content/Images/loader.gif" width="100" height="100" />
</div>

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height50VH">

    <table id="TblPackingSerializationImportEXL" class="table table-striped table-bordered width1400 itmfrz">
        <thead>
            <tr class="sticky-header">
                <th width="2%">@Resource.SrNo</th>
                <th width="18%">@Resource.ItemName </th>
                <th width="8%">@Resource.UOM</th>
                <th width="9%">@Resource.Packed  @Resource.Quantity</th>
                <th width="9%">@Resource.SerialFrom</th>
                <th width="9%">@Resource.SerialTo</th>

                <th width="9%">@Resource.TotalOuterPacks</th>

                <th width="9%">@Resource.QtyOuterPack</th>
                <th width="9%">@Resource.QtyInnerPack </th>

                <th width="9%">@Resource.TotalInnerPacks </th>

                <th width="9%">@Resource.PhysicalOuterPacks </th>

                <th hidden="hidden">@Resource.NetWeight@Resource.PerPiece</th>
                <th width="9%">@Resource.NetWeightPack</th>

             
            <th width="9%">@Resource.Total @Resource.NetWeight</th>

                <th hidden="hidden">@Resource.GrossWeight @Resource.PerPiece</th>
                <th width="9%">@Resource.GrossWeight</th>

                <th width="9%">@Resource.Total @Resource.GrossWeight</th>

                <th width="9%">@Resource.Upload @Resource.Status</th>
                <th hidden="hidden"></th>

            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ImportPackingSerializationPreview != null)
            {
                var rowNo = 0;

                foreach (DataRow dtr in ViewBag.ImportPackingSerializationPreview.Tables[0].Rows)
                {
                    rowNo++;

                    <tr>
                        <td id="EXL_srno">@rowNo</td>

                        <td>
                            <span id="EXL_ItemName">@dtr["Item_Name"]</span>
                            <input type="hidden"
                                   id="EXL_itemID"
                                   value="@dtr["item_id"]" />
                        </td>

                        <td>
                            <span id="EXL_UOM">@dtr["UOM"]</span>
                            <input type="hidden"
                                   id="EXL_uomid"
                                   value="@dtr["uomid"]" />
                        </td>

                        <td id="EXL_Pkd_Qty">@dtr["Packed_Quantity"]</td>
                        <td id="EXL_sr_FM">@dtr["Serial_From"]</td>
                        <td id="EXL_sr_to">@dtr["Serial_To"]</td>
                        <td id="EXL_Tot_out_pck">@dtr["Total_outerPack"]</td>
                        <td id="EXL_out_pck">@dtr["Outer_Pack"]</td>
                        <td id="EXL_inn_pck">@dtr["Inner_Pack"]</td>
                        <td id="EXL_tot_inn_pck">@dtr["Total_InnerPack"]</td>
                        <td id="EXL_tot_phyOut_pck">@dtr["Phy_Pack"]</td>

                        <!-- ✅ Net Weight with ID -->
                        <td id="EXL_NWPpcs" hidden="hidden">@dtr["NetweightPer_pcs"]</td>
                        <td id="EXL_NWPpck">@dtr["Net_Weight"]</td>
                        <td id="EXL_tot_NWPpck">@dtr["Total_Netweight"]</td>

                        <td id="EXL_grwppcs" hidden="hidden">@dtr["GrossweightPer_pcs"]</td>
                        <td id="EXL_grwppck">@dtr["Gross_Weight"]</td>
                        <td id="EXL_tot_grwppck">@dtr["Total_Grossweight"]</td>

                        <td>
                            <div class="col-sm-10 no-padding">
                                @if (dtr["UploadStatus"].ToString().ToLower() == "ok")
                                {
                                    <i class="fa fa-check text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times-circle text-danger"></i>
                                }
                            </div>

                            @if (dtr["UploadStatus"].ToString().ToLower() != "ok")
                            {
                                <div class="col-sm-2 i_Icon">
                                    <button type="button"
                                            onclick="Cmn_OnClickErrorDetails(event)"
                                            data-toggle="modal"
                                            data-target="#ErrorDetail"
                                            data-backdrop="static"
                                            data-keyboard="false">
                                        <img src="/Content/Images/iIcon1.png"
                                             title="@Resource.Error @Resource.Detail" />
                                    </button>
                                </div>
                            }
                        </td>

                        <td id="ErrorMessageSerialDataExport" hidden="hidden">
                            @dtr["ErrorMessages"]
                        </td>
                    </tr>
                }
            }
        </tbody>


    </table>
</div>
<div>
    <table id="tblstatus_id" class="table table-striped table-bordered">
        <tbody>
            @if (ViewBag.ImportPackingSerializationPreview != null)
            {
                TotalOk = Convert.ToInt32(@ViewBag.ImportPackingSerializationPreview.Tables[0].Rows[0]["OkCount"].ToString());
                TotalNotOk = Convert.ToInt32(@ViewBag.ImportPackingSerializationPreview.Tables[0].Rows[0]["NotOkCount"].ToString());
                <tr class="total">
                    <td colspan="3" align="right" width="75%"><strong>@Resource.Total valid records</strong></td>
                    <td class="num_right"><span id="TotConsSerial"></span>@ViewBag.ImportPackingSerializationPreview.Tables[0].Rows[0]["OkCount"].ToString()</td>
                    <td colspan="1" align="right" width="75%"><strong>@Resource.Total invalid records</strong></td>
                    <td class="num_right tlInvalidRcdSerial"><span id="TotConsSerial">@ViewBag.ImportPackingSerializationPreview.Tables[0].Rows[0]["NotOkCount"].ToString()</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<input id="hdnOkPackSerli" type="hidden" value="@TotalOk" />
<input id="hdnNotOkPackSerli" type="hidden" value="@TotalNotOk" />

