@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesAndDistributionModels.LSOListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/LocalSalesOrder/LSOList.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered width2200 rowhighlighttbl itmfrz" style="width:100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">&nbsp;</th>
            <th width="3%">@Resource.SrNo</th>
            <th width="7%" class="itmStick">@Resource.Order <br /> @Resource.Number</th>
            <th width="7%">@Resource.Order <br /> @Resource.Date</th>
            <th width="7%">@Resource.Customer <br /> @Resource.ReferenceNumber</th>
            <th width="7%">@Resource.SalesPerson</th>
            <th style="display:none">@Resource.OrderDate</th>
            <th width="7%">@Resource.SourceType</th>
            <th width="7%">@Resource.SourceDocumentNumber / @Resource.Date</th>
            <th width="7%">@Resource.CustomerName</th>
            <th width="7%">@Resource.Customer @Resource.Alias</th>
            <th width="7%">@Resource.Currency</th>
            <th width="7%">@Resource.Order <br /> @Resource.Value</th>
            @if (Model.DocumentMenuId == "105103145110")
            {
                <th width="7%">@Resource.Order <br /> @Resource.Value @Resource.InSpecific</th>
            }
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LocalSalesOrderList != null)
        {
            foreach (var row in Model.LocalSalesOrderList)
            {
                rowId++;
        <tr>
            <td>
                <a class="tooltip-test" id="ProductionTracking" href="" onclick="OnClickProdTrackingBtn(event);" data-toggle="modal" data-target="#ProductionTracking" data-backdrop="static" data-keyboard="false" title="@Resource.Production @Resource.Tracking" style="margin-right:10px;">
                    <img src="~/Content/Images/ProductionTracking.png" title=" @Resource.Production @Resource.Tracking " width="20" height="20" />
                </a>
                <a class="tooltip-test" id="SalesOrderTracking" href="" onclick="OnClickOrderTrackingBtn(event);" data-toggle="modal" data-target="#SalesOrderTracking" data-backdrop="static" data-keyboard="false" title="@Resource.Order @Resource.Tracking">
                    <img src="~/Content/Images/PurchaseOrderTracking2.png" title="@Resource.Order @Resource.Tracking" width="20" height="20" />
                </a>
            </td>
            <td>@rowId</td>
            <td id="OrderNo" class="ItmNameBreak itmStick tditemfrz">@row.OrderNo</td>
            <td>@row.OrderDate</td>
            <td>@row.ref_doc_no</td>
            <td>@row.SalesPerson</td>
            <td style="display:none;" id="OrderDt">@row.OrderDt</td>
            <td id="src_typ">@row.SourceType</td>
            <td id="src_docno_docdt">@row.src_doc_number</td>
            <td id="cust_name">@row.cust_name</td>
            <td id="cust_alias">@row.cust_alias</td>
            <td class="center">@row.curr_logo</td>
            <td align="right">@row.net_val_bs</td>
            @if (Model.DocumentMenuId == "105103145110")
            {
                <td align="right">@row.net_val_spec</td>
            }
            <td id="Doc_Status">@row.OrderStauts</td>
            <td>@row.create_by</td>
            <td>@row.CreateDate</td>
            <td>@row.app_by</td>
            <td>@row.ApproveDate</td>
            <td>@row.mod_by</td>
            <td>@row.ModifyDate</td>
        </tr>
            }
        }
    </tbody>
</table>
@if (Model.LSOSearch != null)
{
    if (Model.LSOSearch == "LSO_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.LSOSearch = null;
    }
}

