@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.ScrapSaleInvoice.ScrapSIListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/ScrapSaleInvoice/ScrapSIList.js"></script>
<table id="datatable-buttons" class="table table-striped width2000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="6%" class="itmStick">@Resource.Invoice <br /> @Resource.Number</th>
            <th width="6%">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="10%">@Resource.Customer <br /> @Resource.ReferenceNumber</th>
            <th width="8%">@Resource.SalesPerson </th>
            <th style="display:none;">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="15%">@Resource.Customer <br /> @Resource.Name</th>
            <th width="8%">@Resource.Invoice <br /> @Resource.Value</th>
            <th width="8%">@Resource.Status</th>
            <th width="8%">@Resource.CreatedBy</th>
            <th width="8%">@Resource.Createdon</th>
            <th width="8%">@Resource.ApprovedBy</th>
            <th width="8%">@Resource.ApprovedOn</th>
            <th width="8%">@Resource.AmendedBy</th>
            <th width="8%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.SSIList != null)
        {
            foreach (var row in Model.SSIList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="SSINo" class="ItmNameBreak itmStick tditemfrz">@row.InvNo</td>
                    <td id="">@row.InvDate</td>
                    <td>@row.cust_ref_no</td>
                    <td id="">@row.SalesPerson</td>
                    <td style="display:none;" id="SSIDt">@row.InvDt</td>
                    <td id="CustName">@row.CustName</td>
                    <td class="num-right">@row.InvValue</td>
                    <td id="Doc_Status">@row.InvStauts</td>
                    <td>@row.create_by</td>
                    <td>@row.CreateDate</td>
                    <td>@row.app_by</td>
                    <td>@row.ApproveDate</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifyDate</td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.SSISearch != null)
{
    if (Model.SSISearch == "SSI_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["SPISearch"] = null;
    }
}




