@using EnRepMobileWeb.Resources;
@{

    //var rowId = 0;
    var Disable = true;
    decimal TotalIssueQty = 0;
    if (Session["TransType"] != null)
    {
        if (Session["TransType"].ToString() == "Update")
        {
            if (Session["Command"].ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (Session["Command"].ToString() == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }

}
<div class="tableFixHead">
    <table id="ShipmentItemBatchTbl" class="table table-bordered">
        <thead>
            <tr class="headings" disabled="disabled">
                <th width="20%" disabled="disabled"> @Resource.Lot</th>
                <th width="20%" disabled="disabled"> @Resource.Batch1</th>
                <th width="20%" disabled="disabled"> @Resource.AvailableQuantity</th>
                <th width="20%" title="Unit Of Measure"> @Resource.ExpiryDate</th>
                <th width="20%" title="Unit Of Measure"> @Resource.IssuedQuantity</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ItemStockBatchWise != null)
            {
                
                decimal IssueQty = 0;

                foreach (System.Data.DataRow Row in ViewBag.ItemStockBatchWise.Rows)
                {

                    if (Row["IssueQty"].ToString() != "" && Row["IssueQty"].ToString() != null)
                    {
                        TotalIssueQty = Convert.ToDecimal(TotalIssueQty) + Convert.ToDecimal(Row["IssueQty"].ToString());
                    }

                    <tr>
                        <td>
                            <input id="Lot" value="@Row["lot_id"].ToString()" class="form-control" autocomplete="off" type="text" name="Lot" placeholder="Lot"  onblur="this.placeholder='Lot'" disabled="">
                        </td>
                        <td>
                            <input id="BatchNumber" value="@Row["batch_no"].ToString()" class="form-control" autocomplete="off" type="text" name="BatchNumber" placeholder="Batch Number"  onblur="this.placeholder='Batch Number'" disabled="">
                        </td>
                        <td align="right">
                            <input id="AvailableQuantity" value="@Row["batch_avl_stk_bs"].ToString()" class="form-control" autocomplete="off" type="text" name="AvailableQuantity" placeholder="Available Quantity"  onblur="this.placeholder='Available Quantity'" disabled="">
                        </td>
                        <td>
                            <input id="ExpiryDate" value="@Row["exp_dt"].ToString()" class="form-control" autocomplete="off" type="text" name="ExpiryDate" placeholder="Expiry Date"  onblur="this.placeholder='Expiry Date'" disabled="">
                        </td>
                        <td>
                            <div class="lpo_form">

                                @if (Disable)
                                {
                                    <input id="IssuedQuantity" disabled class="form-control" value="@Row["IssueQty"].ToString()"  onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="number" name="IssuedQuantity" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'">

                                }
                                else
                                {
                                    if (Session["Command"].ToString() == "Edit" && ViewBag.DocumentCode == "A")
                                    {
                                        <input id="IssuedQuantity" disabled class="form-control" value="@Row["IssueQty"].ToString()"  onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="number" name="IssuedQuantity" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'">

                                    }
                                    else
                                    {
                                        <input id="IssuedQuantity" class="form-control" value="@Row["IssueQty"].ToString()"  onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="number" name="IssuedQuantity" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'">

                                    }
                                }
                                <span id="IssuedQuantity_Error" class="error-message is-visible"></span>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<table class="table table-bordered" id="ItemDetailsTbl" style="margin-bottom:0rem !important;">
    <tr>
        <th width="80%" align="right">@Resource.Total</th> 
        <th >
            <div id="sh_TotalIssuedQuantity" value="@TotalIssueQty" readonly  autocomplete="off" type="text" name="txtItemTotolQty" placeholder="@Resource.IssuedQuantity"  onblur="this.placeholder='@Resource.IssuedQuantity'"></div>
            @*<input id="sh_TotalIssuedQuantity" value="@TotalIssueQty" readonly class="form-control" autocomplete="off" type="text" name="txtItemTotolQty" placeholder="Issued Quantity"  onblur="this.placeholder='Issued Quantity'" >*@
        </th>
    </tr>
</table>



