@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.GatePassOutward.GatePassOutwardList_Model
@using EnRepMobileWeb.Resources;

<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/GatePassOutward/GatePassOutwardList.js"></script>
<table id="datatable-buttons" class="table table-striped width1500 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="9%" class="itmStick">@Resource.GatePass <br /> @Resource.Number</th>
            <th width="7%">@Resource.GatePass <br />  @Resource.Date</th>
            <th style="display:none"></th>
            <th width="7%">@Resource.EntityType</th>
            <th width="7%">@Resource.EntityName</th>
            <th style="display:none"></th>
            <th width="7%">@Resource.Issued @Resource.By</th>
            <th width="7%">@Resource.Issued @Resource.to1</th>
            <th width="7%">@Resource.Returnable</th>
            <th width="7%">@Resource.Status</th>        
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">

        @if (ViewBag.GatePassReciptList != null)
        {
            var rowIdx = 0;
            foreach (System.Data.DataRow Row in ViewBag.GatePassReciptList.Rows)
            {
                rowIdx++;

                <tr role="row" class="odd">
                    <td>@rowIdx</td>
                    <td id="GPassNumber" class="ItmNameBreak itmStick tditemfrz">@Row["gpass_no"].ToString()</td>
                    <td>@Row["gpass_dt"].ToString()</td>
                    <td style="display:none;" id="ddlGPassDate">@Row["gpassdt"].ToString()</td>
                    <td>@Row["Entitytype"].ToString()</td>
                    <td>@Row["Entityname"].ToString()</td>
                    <td style="display:none;" id="entity_id">@Row["entity_id"].ToString()</td>
                    <td>@Row["issue_by"].ToString()</td>
                    <td>@Row["issue_to"].ToString()</td>
                    <td>@Row["return_able"].ToString()</td>
                    <td id="Doc_Status">@Row["status_name"].ToString()</td>
                    <td>@Row["createname"].ToString()</td>
                    <td>@Row["createdt"].ToString()</td>
                    <td>@Row["appname"].ToString()</td>
                    <td>@Row["appdt"].ToString()</td>
                    <td>@Row["modname"].ToString()</td>
                    <td>@Row["moddt"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.GpassSearch != null)
{
    if (Model.GpassSearch == "Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.GpassSearch = null;

    }

}