@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.BankBook.BankBookModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<style>
   /* #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: block;
    }

    #datatable-buttons_wrapper .buttons-pdf, #datatable-buttons1_wrapper .buttons-pdf, #datatable-buttons2_wrapper .buttons-pdf, #datatable-buttons3_wrapper .buttons-csv, #datatable-buttons4_wrapper .buttons-pdf, #datatable-buttons5_wrapper .buttons-pdf, #datatable-buttons6_wrapper .buttons-pdf, #datatable-buttons7_wrapper .buttons-pdf, #datatable-buttons8_wrapper .buttons-pdf, #datatable-buttons9_wrapper .buttons-pdf, #datatable-buttons10_wrapper .buttons-pdf {
        position: absolute;
        margin-left: 21%;
        z-index: 100;
        margin-top: 0px;
        cursor: pointer;
    }*/
    #DataTable_BankBook_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #DataTable_BankBook_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #DataTable_BankBook_wrapper {
        padding-left: 2px !important;
    }
        #DataTable_BankBook_wrapper .buttons-pdf {
            margin-left: 1% !important;
        }
</style>
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<input type="hidden" id="op_bal" value="@Model.Opening_Bal" />
<input type="hidden" id="op_bal_type" value="@Model.Opening_BalType" />
<input type="hidden" id="cl_bal" value="@Model.Closing_Bal" />
<input type="hidden" id="cl_bal_type" value="@Model.Closing_BalType" />

<table id="DataTable_BankBook" class="table table-striped width2100 rowhighlighttbl BankBook itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="17%">@Resource.GLAccount</th>
            <th width="10%" class="itmStick">@Resource.GLVoucher <br /> @Resource.Number</th>
            <th width="7%">@Resource.GLVoucher <br /> @Resource.Date</th>
            <th style="display:none">@Resource.GLVoucher <br /> @Resource.Date</th>
            <th width="8%">@Resource.Instrument <br /> @Resource.Type</th>
            <th width="8%">@Resource.Instrument <br /> @Resource.Number</th>
            <th width="6%">@Resource.Reconciled</th>
            <th width="18%">@Resource.Narration</th>
            <th width="6%">@Resource.Debit <br /> @Resource.Amount</th>
            <th width="6%">@Resource.Credit <br /> @Resource.Amount</th>
            <th width="7%">@Resource.Closing <br /> @Resource.Balance</th>
            <th width="4%">@Resource.Balance <br /> @Resource.Type</th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model.BankBook_List != null) //Commented by Suraj Maurya on 20-06-2025 due to Process changed
        {
            foreach (var row in Model.BankBook_List)
            {
                rowId++;
        <tr>
            <td>@rowId</td>

            <td>@row.Acc_Name</td>
            
            <td id="Vou_no" class="ItmNameBreak itmStick tditemfrz">
                <div class="col-sm-10 no-padding" id="">
                    @row.Vou_No
                </div>
                <div class="col-sm-2 i_Icon">
                    <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                </div>
            </td>
            <td id="Vou_dt">@row.Vou_Dt</td>
            <td id="Voudt" style="display:none">@row.VouDt</td>
            <td>@row.Ins_Type</td>
            <td>@row.Ins_No</td>
            <td>@row.Reconciled</td>
            <td class="narration">@row.Narr</td>
            <td class="num_right">@row.Dr_Amt</td>
            <td class="num_right">@row.Cr_Amt</td>
            <td class="num_right">@row.Closing_Bal</td>
            <td class="center">@row.Bal_Type</td>
        </tr>
            }
        }*@
    </tbody>
</table>

<table id="HdnTableBankBook" hidden="hidden">
    @*//Commented by Suraj Maurya on 20-06-2025 due to Process changed
        <tbody>
            @if (Model.BankBook_List != null)
            {
                foreach (var row in Model.BankBook_List)
                {
                    rowId++;
            <tr>
                <td>@rowId</td>
                <td id="Acc_Name">@row.Acc_Name</td>
                <td id="Vou_No">@row.Vou_No</td>
                <td id="Vou_Dt">@row.Vou_Dt</td>
                <td id="Voudt" style="display:none">@row.VouDt</td>
                <td id="Ins_Type">@row.Ins_Type</td>
                <td id="Ins_No">@row.Ins_No</td>
                <td id="Reconciled">@row.Reconciled</td>
                <td id="Narr">@row.Narr</td>
                <td class="num_right" id="Dr_Amt">@row.Dr_Amt</td>
                <td class="num_right" id="Cr_Amt">@row.Cr_Amt</td>
                <td class="num_right" id="Closing_Bal">@row.Closing_Bal</td>
                <td id="Bal_Type">@row.Bal_Type</td>
            </tr>
                }
            }
        </tbody>*@
</table>
<script type="text/javascript">
    //Added by Suraj Maurya on 20-06-2025 due to Process changed
    $(document).ready(function () {

        BankBookData_dttbl()

    });
    function BankBookData_dttbl() {

        debugger;
        var search_prm = {
            AccID: $("#acc_name").val(),
            CurrId: $("#curr").val(),
            From_dt: $("#txtFromdate").val(),
            To_dt: $("#txtTodate").val()
        }
        var model = {
            "search_prm": search_prm
        }
        $("#DataTable_BankBook").DataTable().destroy();
        $("#DataTable_BankBook").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/ApplicationLayer/BankBook/LoadDetailsDataTable",
                "data": { model},
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    footerData = json.footer; // Save for later use in footerCallback
                    return json.data;
                }
            },
            "columns": StkDtldataColumns(),
            columnDefs: StkDtlDataColumnRenders(),
            "footerCallback": function (row, data, start, end, display) {

                if (!footerData) return;
                footerData.map((val, index) => {
                    $("#op_bal").val(val.Opening_Bal);
                    $("#op_bal_type").val(val.Opening_BalType);
                    $("#cl_bal").val(val.Closing_Bal);
                    $("#cl_bal_type").val(val.Closing_BalType);

                    $("#txt_OpeningBalance").val(val.Opening_Bal);
                    if (val.Opening_BalType != "0") {
                        $("#lbl_opbaltype").text(val.Opening_BalType);
                        $("#Hdnlbl_opbaltype").val(val.Opening_BalType);
                    }
                    else {
                        $("#lbl_opbaltype").text("");
                    }
                    $("#txt_ClosingBalance").val(val.Closing_Bal);
                    if (val.Closing_BalType != "0") {
                        $("#lbl_clbaltype").text(val.Closing_BalType);
                        $("#Hdnlbl_clbaltype").val(val.Closing_BalType);
                    }
                    else {
                        $("#lbl_clbaltype").text("");
                    }

                });
            },
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        var csvUrl = "/ApplicationLayer/BankBook/ExportCsv";
                        let CsvName = $("title").text() + "_" + moment().format('YYYYMMDDhhmmss');
                        Cmn_importDataToCSV(e, dt, button, config, csvUrl, CsvName);

                    }

                },
                {
                    extend: "pdf",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        GeneralLedgerPrint();

                    }

                }],

        });
//        var exportbtn = `<button class="btn btn-default buttons-csv buttons-html5 btn-sm Csv" id="CsvData" onclick="AccountRecevablCSV()" tabindex="0" aria-controls="datatable-buttons5" href="#"><span>CSV</span></button>
//<button class="btn btn-default buttons-pdf buttons-html5 btn-sm" onclick="GeneralLedgerPrint()" tabindex="0" aria-controls="datatable-buttons5" href="#"><span>Print</span></button>`;
//        $("#DataTable_BankBook_length").append(exportbtn);
        
    }
    function StkDtldataColumns() {
        var Array = [];
        Array = [
            { "data": "SrNo", "name": "SrNo", "autoWidth": true },
            { "data": "Acc_Name", "name": "acc_name", "autoWidth": true, className: "" },
            { "data": "Vou_No", "name": "doc_no", "autoWidth": true, className:"ItmNameBreak itmStick tditemfrz"},
            { "data": "Vou_Dt", "name": "doc_dt", "autoWidth": true, className: "" },
            { "data": "VouDt", "name": "voudt", "autoWidth": true, className: "" },
            { "data": "Ins_Type", "name": "ins_type", "autoWidth": true },
            { "data": "Ins_No", "name": "ins_no", "autoWidth": true },
            { "data": "Reconciled", "name": "reconciled", "autoWidth": true },
            { "data": "Narr", "name": "narr", "autoWidth": true, className: "narration"},
            { "data": "Dr_Amt", "name": "dr_amt", "autoWidth": true, className: "num_right" },
            { "data": "Cr_Amt", "name": "cr_amt", "autoWidth": true, className: "num_right" },
            { "data": "Closing_Bal", "name": "cloasing_amt", "autoWidth": true, className: "num_right" },
            { "data": "Bal_Type", "name": "closing_type", "autoWidth": true, className: "center" }
        ]
        return Array;
    }
    function StkDtlDataColumnRenders() {
        debugger;
        var array = [];
        array = [
            {

                render: (data, type, row) => {
                    return `<div class="col-sm-10 no-padding" id="Vou_no">${data}</div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                            </div>`
                },
                targets: 2//supp_name
            },

            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'Vou_dt');
                },
                targets: 3
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'Voudt');
                    $(td).attr('hidden', 'hidden');
                },
                targets: 4
            }
        ]
        return array;
    }
</script>
@*@if (Session["BB_listByFilter"] != null)
{
    if (Session["BB_listByFilter"].ToString() == "BBlistByFilter")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
    Session["BB_listByFilter"] = null;
}*@