@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<table id="datatable-buttons" class="table table-striped table-bordered rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th width="5%">&nbsp;</th>
            <th width="5%">@Resource.SrNo</th>
            <th width="15%">Product Description</th>
            <th width="5%">UOM</th>
            <th width="16%">Part Description</th>
            <th width="9%">Execution Number</th>
            <th width="9%">Execution Date</th>
            <th width="9%">QC Status</th>
            <th width="9%">Material Cost</th>
            <th width="9%">Overhead</th>
            <th width="9%">Total Cost</th>
        </tr>
    </thead>
    <tbody id="">
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionMain","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>01</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>Main</td>
            <td>M1/06/25/00011</td>
            <td>10-06-2025</td>
            <td>Rejected</td>
            <td class="num_right">1548.00</td>
            <td class="num_right">191</td>
            <td class="num_right">1739.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionMain","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>02</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>Main</td>
            <td>M1/06/25/00010</td>
            <td>08-06-2025</td>
            <td>Rejected</td>
            <td class="num_right">1525.00</td>
            <td class="num_right">191</td>
            <td class="num_right">1716.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>03</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs	</td>
            <td>SG-9799HY</td>
            <td>M1/06/25/00009</td>
            <td>06-06-2025</td>
            <td>Approved</td>
            <td class="num_right">210.00</td>
            <td class="num_right">69</td>
            <td class="num_right">279.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>04</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-3213</td>
            <td>M1/06/25/00008</td>
            <td>05-06-2025</td>
            <td>Approved</td>
            <td class="num_right">525.00</td>
            <td class="num_right">71</td>
            <td class="num_right">596.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>05</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-3213</td>
            <td>M1/06/25/00007</td>
            <td>05-06-2025</td>
            <td>Rejected</td>
            <td class="num_right">525.00</td>
            <td class="num_right">71</td>
            <td class="num_right">596.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>06</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-3368</td>
            <td>M1/06/25/00006</td>
            <td>04-06-2025</td>
            <td>Approved</td>
            <td class="num_right">290.00</td>
            <td class="num_right">101</td>
            <td class="num_right">391.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>07</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-9959</td>
            <td>M1/06/25/00005</td>
            <td>04-06-2025</td>
            <td>Approved</td>
            <td class="num_right">225.00</td>
            <td class="num_right">39</td>
            <td class="num_right">264.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionDetail","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>08</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-3233</td>
            <td>M1/06/25/00004</td>
            <td>03-06-2025</td>
            <td>Approved</td>
            <td class="num_right">150.00</td>
            <td class="num_right">140</td>
            <td class="num_right">290.00</td>
        </tr>
        <tr>
            <td class="center">
                <a class="tooltip-test"
                   title=" @Resource.AddNew" href="@Url.Action("SampleExecutionMain","SampleExecution")"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="Batch Detail"></i></a>
            </td>
            <td>09</td>
            <td>Engine Mount -TMT</td>
            <td>Pcs</td>
            <td>SG-3233</td>
            <td>M1/06/25/00003</td>
            <td>02-06-2025</td>
            <td>Rejected</td>
            <td class="num_right">147.00</td>
            <td class="num_right">140	</td>
            <td class="num_right">287.00</td>
        </tr>
    </tbody>
</table>

