@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/Procurement/InterBranchPurchase/InterBranchPurchase.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered width2200 rowhighlighttbl itmfrz">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="10%" class="itmStick">@Resource.Invoice <br /> @Resource.Number</th>
            <th>@Resource.Invoice <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.Invoice <br /> @Resource.Date</th>
            <th width="13%">@Resource.Supplier <br /> @Resource.Name</th>
            <th width="6%">@Resource.Currency</th>
            <th width="6%">@Resource.Invoice <br /> @Resource.Value</th>
            <th width="6%">@Resource.BillNumber</th>
            <th width="6%">@Resource.BillDate</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ListDetail != null)
        {
            int Srno = 1;
            foreach (System.Data.DataRow dr in ViewBag.ListDetail.Rows)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@Srno</td>
                    <td id="SSINo" class="ItmNameBreak itmStick tditemfrz">@dr["inv_no"].ToString()</td>
                    <td id="">@dr["inv_dt"].ToString()</td>
                    <td style="display:none;" id="SSIDt">@dr["InvDt"].ToString()</td>
                    <td id="CustName">@dr["supp_name"].ToString()</td>
                    <td class="center">@dr["Curr"].ToString()</td>
                    <td>@dr["net_val_bs"].ToString()</td>
                    <td class="num_right">@dr["bill_no"].ToString()</td>
                    <td>@dr["bill_dt"].ToString()</td>
                    <td id="Doc_Status">@dr["InvStatus"].ToString()</td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["CreateDate"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["ApproveDate"].ToString()</td>
                    <td>@dr["app_by"].ToString()</td>
                    <td>@dr["ModifyDate"].ToString()</td>
                </tr>
                Srno = Srno + 1;
            }
        }
    </tbody>
</table>
@if (ViewBag.ListSearch != null)
{
    if (ViewBag.ListSearch == "ListSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        ViewBag.ListSearch = null;
    }
}
