@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string RateDigit = "0.";
    var RD = Convert.ToInt32(Session["RateDigit"].ToString());
    for (var i = 0; i < RD; i++)
    {
        RateDigit += "0";
    }
    decimal Total = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>

<div class="modal-content">
    <div class="modal-header">
      
        <h2>@Resource.PendingOrderQuantity</h2>
      
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;"> 
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="col-form-label label-align">@Resource.ProductName</label>
                <input id="POQ_ProductName" disabled="" class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="ProductName" placeholder="@Resource.ProductName">
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="col-form-label label-align"> @Resource.UOM</label>
                <input id="POQ_UOM" disabled="" class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="UOM" placeholder="@Resource.UOM">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.PendingOrderQuantity</label>
                <input id="POQ_PendingOrderQuantity" disabled="" class="form-control num_right" autocomplete="off" maxlength="25" tabindex="5" type="text" name="PendingOrderQuantity" placeholder="0000.00">
            </div>
        </div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="TablePendingOrderQty"  data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="4%"> @Resource.SrNo</th>
                            <th width="24%"> @Resource.OrderNumber</th>
                            <th width="24%"> @Resource.OrderDate</th>
                            <th width="24%">@Resource.Customer @Resource.Name</th>
                            <th width="24%">@Resource.PendingOrderQuantity</th>                            
                        </tr>
                    </thead>
                    <tbody id="">
                        @*<tr>
                            <td>01</td>
                            <td>B1/01/23/GRN0000103</td>
                            <td>12-01-2023</td>
                            <td>Apex India Pvt. Ltd.</td>
                            <td class="num_right">12323432</td>
                        </tr>*@
                    </tbody>
                </table>
                <table id="HdnTablePendingOrderQty" hidden>

                    <tbody>
                        @if (ViewBag.SoItemDetails != null)
                        {
                            foreach (System.Data.DataRow dr in ViewBag.SoItemDetails.Rows)
                            {
                        <tr>
                            <td id="h_item_id">@dr["item_id"]</td>
                            <td id="h_uom_id">@dr["uom_id"]</td>
                            <td id="h_app_so_no">@dr["so_no"]</td>
                            <td id="h_so_dt">@dr["so_dt"]</td>
                            <td hidden id="h_so_date">@dr["so_date"]</td>
                            <td id="h_cust_name">@dr["cust_name"]</td>
                            <td hidden id="h_cust_id">@dr["cust_id"]</td>
                            <td class="num_right" id="h_Pending_ord_qty">@dr["Pending_ord_qty"]</td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>
        </div>
    </div>



