@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.GoodReceiptNote.GRNListModel

@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SubContracting/GoodReceiptNote/GoodReceiptNoteListSC.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered width1800 rowhighlighttbl itmfrz" >
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.Receipt <br /> @Resource.Number</th>
            <th width="6%">@Resource.Receipt <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.GRNDate</th>
            <th width="17%">@Resource.ContractorName</th>
            <th width="9%">@Resource.DeliveryNote  <br /> @Resource.Number</th>
            <th width="9%">@Resource.DeliveryNote <br /> @Resource.Date</th>
            <th width="6%">@Resource.Status</th>
            @*<th width="13%">@Resource.ProductName</th>
                <th width="5%">@Resource.UOM</th>
                <th width="7%">@Resource.Quantity</th>*@
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.GRNSCList != null)
        {
            foreach (var row in Model.GRNSCList)
            {
                rowId++;
        <tr>
            <td>@rowId</td>
            <td id="GRNNo" class="ItmNameBreak itmStick tditemfrz">@row.GRNNo</td>
            <td>@row.GRNDate</td>
            <td style="display: none;" id="GRNDate">@row.GRN_Date</td>
            <td>@row.SuppName</td>
            <td>@row.DeliveryNoteNo</td>
            <td>@row.DeliveryNoteDate</td>

            @*<td>@row.Currency</td>*@
            <td id="Doc_Status">@row.Stauts</td>
            <td>@row.Create_By</td>
            <td>@row.CreateDate</td>
            <td>@row.App_By</td>
            <td>@row.ApproveDate</td>
            <td>@row.Mod_By</td>
            <td>@row.ModifyDate</td>
            @*<td align="right">@row.ModifyDate</td>*@

        </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["GRNSCSearch"] != null)*@
@if (Model.GRNSCSearch != null)
{
    //if (Session["GRNSCSearch"].ToString() == "GRNSC_Search")
    if (Model.GRNSCSearch == "GRNSC_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["GRNSCSearch"] = null;
        Model.GRNSCSearch = null;
    }
}
