@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/StockSwap/StockSwap.js"></script>


<input id="ListFilterData1" hidden value="@ViewBag.ListFilterData1" />
<table id="datatable-buttons" class="table table-striped width2000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%"> @Resource.SrNo</th>
            <th width="8%" class="itmStick">@Resource.Swap <br /> @Resource.Number</th>
            <th width="7%">@Resource.Swap  <br />  @Resource.Date</th>
            <th width="7%">@Resource.Swap  <br />  @Resource.Type</th>
            <th hidden="hidden"></th>
            <th width="8%">@Resource.Source @Resource.Product</th>
            <th width="5%" title="@Resource.UnitOfMeasure">@Resource.UOM</th>
            <th width="7%">@Resource.Destination @Resource.Product</th>
            <th width="7%" title="@Resource.UnitOfMeasure">@Resource.UOM</th>
            <th width="7%">@Resource.Swap  <br />  @Resource.Quantity</th>
            <th width="7%">@Resource.Status</th>
            <th width="7%">@Resource.CreatedBy</th>
            <th width="7%">@Resource.Createdon</th>
            <th width="7%">@Resource.ApprovedBy</th>
            <th width="7%">@Resource.ApprovedOn</th>
            <th width="7%">@Resource.AmendedBy</th>
            <th width="7%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="SwapStockTbody">
        @if (ViewBag.SwapStockList != null)
        {
            var i = 1;
            foreach (System.Data.DataRow dr in ViewBag.SwapStockList.Rows)
            {
                <tr>
                    <td>@i</td>
                    <td id="swp_no" class="ItmNameBreak itmStick tditemfrz">@dr["swp_no"]</td>
                    <td id="swp_dt">@dr["swp_dt"]</td>
                    <td id="swp_type">@dr["swp_type"]</td>
                    <td id="swp_date" hidden="hidden">@dr["swp_date"]</td>
                    <td>@dr["src_prod_name"]</td>
                    <td>@dr["src_uom_name"]</td>
                    <td>@dr["dest_prod_name"]</td>
                    <td>@dr["dest_uom_name"]</td>
                    <td>@dr["swp_qty"]</td>
                    <td>@dr["status_name"]</td>
                    <td>@dr["create_nm"]</td>
                    <td>@dr["create_dt"]</td>
                    <td>@dr["app_nm"]</td>
                    <td>@dr["app_dt"]</td>
                    <td>@dr["mod_nm"]</td>
                    <td>@dr["mod_dt"]</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
@if (ViewBag.SwpSearch != null)
{
    if (ViewBag.SwpSearch == "SwpSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}
@*@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")*@
