@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MRS.MRSList_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialRequisitionSlip/MaterialRequisitionSlipList.js"></script>
<table id="datatable-buttons" class="table table-striped width2000 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> &nbsp;</th>
            <th width="3%"> @Resource.SrNo</th>
            <th width="7%" class="itmStick">@Resource.Requisition <br /> @Resource.Number</th>
            <th width="7%">@Resource.Requisition <br />  @Resource.Date</th>
            <th style="display:none;">@Resource.RequisitionDate</th>
            <th width="7%">@Resource.Requisition <br />  @Resource.Type</th>
            <th width="7%">@Resource.Requirement <br />  @Resource.Area</th>
            <th width="7%">@Resource.Source <br /> @Resource.Type</th>
            <th width="7%">@Resource.Source <br />@Resource.Document <br /> @Resource.Number</th>
            <th width="7%">@Resource.Source <br />@Resource.Document <br /> @Resource.Date</th>
            <th style="display:none;">@Resource.SourceDocumentDate</th>
            @*<th>@Resource.RequisitionQuantity</th>*@
            <th width="6%">@Resource.IssueTo</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
            @*<th>@Resource.remarks</th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.BindMRSList != null)
        {
            foreach (var row in Model.BindMRSList)
            {
                rowId++;
                <tr>
                    <td>
                        <a class="tooltip-test" id="MRSTracking" href="" onclick="OnClickMRSTrackingBtn(event);" data-toggle="modal" data-target="#MRSTracking" data-backdrop="static" data-keyboard="false" title="@Resource.SalesOrderTracking">
                            <img src="~/Content/Images/PurchaseOrderTracking2.png" title=" @Resource.MRS @Resource.Tracking" width="20" height="20" />
                        </a>
                    </td>
                    <td>@rowId</td>
                    <td id="MRSNo" class="ItmNameBreak itmStick tditemfrz">@row.MRSNo</td>
                    <td id="tblmrsdt">@row.MRSDate</td>
                    <td style="display:none;" id="MRS_Dt">@row.MRS_Dt </td>
                    <td>@row.MRSType</td>
                    <td id="ddlreqAreaid">@row.ReqArea</td>
                    <td>@row.SrcType</td>
                    <td>@row.SrcDocNo</td>
                    <td>@row.SrcDocDate</td>
                    <td style="display:none;" id="SrcDoc_Dt">@row.SrcDocDt </td>
                    <td>@row.IssueTo</td>
                    <td id="Doc_Status">@row.MRSList_Stauts</td>
                    <td>@row.create_by</td>
                    <td>@row.CreateDate</td>
                    <td>@row.app_by</td>
                    <td>@row.ApproveDate</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifyDate</td>
                </tr>
            }
        }
    </tbody>
</table>
@*@if (Session["MRSSearch"] != null)*@
@if (Model.MRSSearch != null)
{
    //if (Session["MRSSearch"].ToString() == "MRS_Search")
    if (Model.MRSSearch == "MRS_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        //Session["MRSSearch"] = null;
        Model.MRSSearch = null;
    }
}