@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@{
    var i = 0;
}
@{
    var DisablePartial = true;
    if (ViewBag.TransType == "Update")
    {
        var v = ViewBag.DocumentStatus;
        if (v == "D")
        {
            if (ViewBag.Command == "Edit")
            {
                DisablePartial = false;
            }
            else
            {
                DisablePartial = true;
            }
        }
    }
    else
    {
        if (ViewBag.Command == "Refresh")
        {
            DisablePartial = true;
        }
        else
        {
            DisablePartial = false;
        }
    }
    if (ViewBag.DocumentStatus == "A")
    {
        DisablePartial = true;
    }
}

<div id="">


    <table id="FADPAssetDetailsTbl" class="table table-striped width1800 rowhighlighttbl  itmfrz" cellspacing="0" width="100%">                                          
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="9%" class="itmStick">@Resource.Asset <br /> @Resource.Description</th>
                <th width="6%">@Resource.SerialNumber</th>
                <th width="9%">@Resource.Asset @Resource.Label</th>
                <th width="9%">@Resource.Current @Resource.Value</th>
                <th width="9%">@Resource.Depreciation<br /> @Resource.Method</th>
                <th width="8%">@Resource.Depreciation % </th>
                <th width="8%">@Resource.Depreciation @Resource.Value</th>
                <th width="8%">@Resource.Additional @Resource.Depreciation % </th>
                <th width="11%">@Resource.Additional<br /> @Resource.Depreciation @Resource.Value</th>
                <th width="11%">@Resource.Total <br /> @Resource.Depreciation @Resource.Value</th>
                <th width="9%">@Resource.Revised @Resource.Asset @Resource.Value</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ItemDetailsList != null)
            {
                int j = 0;
                foreach (System.Data.DataRow dr in ViewBag.ItemDetailsList.Rows)
                {
                    j++;
                    <tr>
                        <td id="SrNo">
                            @j
                            <input id="Hdn_ass_reg_id" type="hidden" value="@dr["ass_reg_id"]" />
                            <input id="Hdn_ass_id" type="hidden" value="@dr["asset_id"]" />
                            <input id="Hdn_TotalDepreciationValue" type="hidden" value="@dr["tot_dep_val"]" />
                            <input id="Hdn_dep_method" type="hidden" value="@dr["dep_method"]" />
                        </td>
                        <td class="ItmNameBreak itmStick tditemfrz" id="AssetDescription">
                            @dr["item_name"]
                        </td>
                        <td id="SerialNumber">@dr["serial_no"]</td>
                        <td id="AssetLabel">@dr["asset_label"]</td>
                        <td id="CurrentValue" class="num_right">@dr["curr_val"]</td>
                        <td id="DepreciationMethod">@dr["DepreciationMethod"]</td>
                        <td id="DepreciationPercentage" class="num_right">@dr["dep_per"]</td>
                        <td id="DepreciationValue" class="num_right">@dr["dep_val"]</td>
                        <td id="AdditionalDepreciationPercentage" class="num_right">@dr["add_dep_per"]</td>
                        <td id="AdditionalDepreciationValue" class="num_right">@dr["add_dep_val"]</td>
                        <td id="TotalDepreciationValue" class="num_right">@dr["tot_dep_val"]</td>
                        <td id="RevisedAssetValue" class="num_right">@dr["RevisedVal"]</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            @if (ViewBag.ItemDetailsListTotal != null)
            {
                foreach (System.Data.DataRow dr in ViewBag.ItemDetailsListTotal.Rows)
                {
                    <tr class="total">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="num_right">@dr["Totcurr_val"]</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="num_right">@dr["Totdep_val"]</th>
                        <th>
                        <th class="num_right">@dr["Totadd_dep_val"]</th>
                        <th class="num_right" id="Totdep_val">@dr["TotSum_dep_val"]</th>
                        <th class="num_right" id="TotRevisedVal">@dr["TotRevisedVal"]</th>
                    </tr>
                }
            }
        </tfoot>
    </table>
</div>

<script>
    $(document).ready(function () {
        cmn_apply_datatable("#FADPAssetDetailsTbl")
    });
</script>