@using EnRepMobileWeb.Resources;
@{

    var rowId = 0;
    var Disable = true;
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
}
<div class="modal-content">
    <!--Partial Customer Address Detail End-->
    <!-- Error Detail -->
    <!--Partial Import Customer Data Start-->
  
        <div id="PartialImportSerialData" class="modal fade" role="dialog">
            <div class="modal-dialog" style="min-width:1200px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/Partial_Import_ItemSerialData.cshtml")
            </div>
        </div>
        <div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog" id="" style="min-width:600px;">
                <!-- Modal content-->
                <div id="divErrorDetail">
                    @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")

                </div>
            </div>
        </div>
    

        <div class="modal-header">
            <h2>@Resource.SerialDetail</h2>
            <div id="" class="work_flow heading_right_padding pl-5">
                <ul>
                    <li>
                        @if (Disable)
                        {
                            <a class="tooltip-test"
                               @*  title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","ItemList")"><img src="~/Content/Images/export_icon.png" width="25" id="" onclick="" height="25" alt="Download Data Template"></a>*@
                               title="@Resource.Download @Resource.Template" Disabled style="filter: grayscale(100%)" onclick=""><img src="~/Content/Images/export_icon.png" width="25" id=""  onclick="" height="25" alt="Download Data Template"></a>
                        }
                        else
                        {
                            if (Model.DocumentStatus == "PC" || Model.DocumentStatus == "A")
                            {
                                <a class="tooltip-test"
                                   @*  title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","ItemList")"><img src="~/Content/Images/export_icon.png" width="25" id="" onclick="" height="25" alt="Download Data Template"></a>*@
                                   title="@Resource.Download @Resource.Template" Disabled onclick="" style="filter: grayscale(100%)"><img src="~/Content/Images/export_icon.png" width="25" id="" onclick="" height="25" alt="Download Data Template"></a>
                            }
                            else
                            {
                                <a class="tooltip-test"
                                   @*  title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","ItemList")"><img src="~/Content/Images/export_icon.png" width="25" id="" onclick="" height="25" alt="Download Data Template"></a>*@
                                   title="@Resource.Download @Resource.Template" onclick="OnclickDownExcelSerial('GRNSerialExcel')"><img src="~/Content/Images/export_icon.png" width="25" id="" onclick="" height="25" alt="Download Data Template"></a>
                            }

                        }
                    </li>
                    <li>
                        @if (Disable)
                        {
                            <a class="tooltip-test"
                               title="@Resource.Import @Resource.Data" Disabled style="filter: grayscale(100%)" onclick="" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="25" id="ImportData" height="25" alt="Import Data"></a>
                        }
                        else
                        {
                            if (Model.DocumentStatus == "PC" || Model.DocumentStatus == "A")
                            {
                                <a class="tooltip-test"
                                   title="@Resource.Import @Resource.Data" Disabled style="filter: grayscale(100%)" onclick="" data-toggle="modal" data-target="#PartialImportSerialData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="25" id="ImportData" height="25" alt="Import Data"></a>
                            }
                            else
                            {
                                <a class="tooltip-test"
                                   title="@Resource.Import @Resource.Data" onclick="OnClickImportSerialDataExcel('GRNSerialExcel')" data-toggle="modal" data-target="#PartialImportSerialData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="25" id="ImportData" height="25" alt="Import Data"></a>
                            }

                        }
                    </li>

                </ul>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="col-md-4 col-sm-12 pl-0">
                <label class="col-form-label label-align">
                    @Resource.ItemName
                </label>
                <input id="SerialItemName" class="form-control" autocomplete="off" type="text" name="SerialItemName" placeholder="Item Name" onblur="this.placeholder='Item Name'" disabled="">
                <input type="hidden" id="hfSItemID" />
                <input type="hidden" id="hfSItemSNo" />
                @*@if (Disable)
                    {
                        <input type="hidden" id="EnableBatchdetail" value="Disable" />
                    }
                    else
                    {
                        if (Model.DocumentStatus == "D" || Model.DocumentStatus == "")
                        {
                            <input type="hidden" id="EnableBatchdetail" value="Enable" />
                        }
                        else
                        {
                            <input type="hidden" id="EnableBatchdetail" value="Disable" />
                        }
                    }*@
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align">
                    @Resource.UOM
                </label>
                <input id="serialUOM" class="form-control" autocomplete="off" type="text" name="serialUOM" placeholder="UOM" onblur="this.placeholder='UOM'" disabled="">
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align ">@Resource.Accepted @Resource.Quantity</label>
                <input id="SerialReceivedQuantity" class="form-control num_right" autocomplete="off" type="text" name="BatchReceivedQuantity" placeholder="0000.00" disabled="">
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align ">@Resource.Rejected @Resource.Quantity</label>
                <input id="SerialRejQuantity" class="form-control num_right" autocomplete="off" type="text" name="BatchReceivedQuantity" placeholder="0000.00" disabled="">
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align ">@Resource.Reworkable @Resource.Quantity</label>
                <input id="SerialReworkQuantity" class="form-control num_right" autocomplete="off" type="text" name="BatchReceivedQuantity" placeholder="0000.00" disabled="">
            </div>

            <div class="clearfix"></div>
            <hr style="margin-bottom:5px;">

            <div class="col-md-3 col-sm-12 pl-0">
                <label class="table_label col-form-label label-align">@Resource.Serial @Resource.Number <span class="required">*</span></label>
                @if (Disable)
                {
                    <input id="SerialNo" class="form-control" autocomplete="off" type="text" name="SerialNo" maxlength="25" onkeypress="OnKeyPressSerialNoGRN()" placeholder="Serial No" onblur="this.placeholder='Serial No'" disabled>
                    <span id="SpanSerialNo" class="error_message"></span>
                }
                else
                {
                    if (Model.DocumentStatus == "A")
                    {
                        <input id="SerialNo" class="form-control" autocomplete="off" type="text" name="SerialNo" maxlength="25" onkeypress="OnKeyPressSerialNoGRN()" placeholder="Serial No" onblur="this.placeholder='Serial No'" disabled>
                        <span id="SpanSerialNo" class="error_message"></span>
                    }
                    else
                    {
                        <input id="SerialNo" class="form-control" autocomplete="off" type="text" name="SerialNo" maxlength="25" onkeypress="OnKeyPressSerialNoGRN()" placeholder="Serial No" onblur="this.placeholder='Serial No'">
                        <span id="SpanSerialNo" class="error_message"></span>
                    }
                }
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="col-form-label label-align"> @Resource.Quantity @Resource.Type<span class="required">*</span></label>
                @{ string dsbl = (!Disable && (Model.DocumentStatus == "D" || Model.DocumentStatus == "")) ? "" : "disabled"; }
                <select class="form-control" id="QuantityType" @dsbl>
                    <option value="AC" selected="selected">Accepted</option>
                    <option value="RJ" selected="selected">Rejected</option>
                    <option value="RW" selected="selected">Reworkable</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="table_label col-form-label label-align">@Resource.Manufacturer @Resource.Name@*<span class="required">*</span>*@</label>
                @if (Disable)
                {
                    <input id="Sr_MfgName" class="form-control" autocomplete="off" type="text" maxlength="100" onchange="OnChangeMfgName(event)" name="ManufacturerName" placeholder="@Resource.Manufacturer @Resource.Name" disabled>
                    <span id="SpanSrMfgName" class="error_message"></span>
                }
                else
                {
                    if (Model.DocumentStatus == "PC" || Model.DocumentStatus == "A")
                    {
                        <input id="Sr_MfgName" class="form-control" autocomplete="off" type="text" maxlength="100" onchange="OnChangeMfgName(event)" name="ManufacturerName" placeholder="@Resource.Manufacturer @Resource.Name" disabled>
                        <span id="SpanSrMfgName" class="error_message"></span>
                    }
                    else
                    {
                        <input id="Sr_MfgName" class="form-control" autocomplete="off" type="text" maxlength="100" onchange="OnChangeMfgName(event)" name="ManufacturerName" placeholder="@Resource.Manufacturer @Resource.Name">
                        <span id="SpanSrMfgName" class="error_message"></span>
                    }

                }
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="table_label col-form-label label-align">@Resource.MRP@*<span class="required">*</span>*@</label>
                @if (Disable)
                {
                    <input id="Sr_MfgMRP" class="form-control num_right" autocomplete="off" type="text" name="MfgMRP" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" placeholder="0000.00" disabled>
                }
                else
                {
                    if (Model.DocumentStatus == "PC" || Model.DocumentStatus == "A")
                    {
                        <input id="Sr_MfgMRP" class="form-control num_right" autocomplete="off" type="text" name="MfgMRP" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" placeholder="0000.00" disabled>
                    }
                    else
                    {
                        <input id="Sr_MfgMRP" class="form-control num_right" autocomplete="off" type="text" name="MfgMRP" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" placeholder="0000.00">
                    }

                }
            </div>
            <div class="col-md-2 col-sm-12 pl-0">
                <label class="table_label col-form-label label-align">@Resource.Manufactured @Resource.Date@*<span class="required">*</span>*@</label>
                @if (Disable)
                {
                    <input id="Sr_MfgDate" class="form-control" autocomplete="off" type="date" name="ManufacturedDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" disabled>
                }
                else
                {
                    if (Model.DocumentStatus == "PC" || Model.DocumentStatus == "A")
                    {
                        <input id="Sr_MfgDate" class="form-control" autocomplete="off" type="date" name="ManufacturedDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" disabled>
                    }
                    else
                    {
                        <input id="Sr_MfgDate" class="form-control" autocomplete="off" type="date" name="ManufacturedDate" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    }
                }
            </div>
            <div id="DivAddNewSerial" class="col-md-1 col-sm-12 pl-0">
                @if (!Disable)
                {
                    if (Model.DocumentStatus == "D" || Model.DocumentStatus == "")
                    {
                        <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" onclick="OnClickAddNewSerialDetailGRN()" id="Btn_AddNewSerialDetail" title="Add New"></i> </div>
                    }
                }
                @*else
                    {
                        if (Model.DocumentStatus == "A")
                        {

                        }
                        else
                        {
                            <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" onclick="OnClickAddNewSerialDetailGRN()" id="Btn_AddNewSerialDetail" title="Add New"></i> </div>
                        }
                    }*@
            </div>
            @*<table id="SerialDetailTbl" class="table table-bordered margin15">
                <thead>
                    <tr class="headings">*@
            <div class="card-box table-responsive dy_table margin15">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="SerialDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%"> &nbsp;</th>
                                <th width="5%">@Resource.SrNo</th>
                                <th width="16%"> @Resource.Serial @Resource.Number</th>
                                <th width="16%">@Resource.Quantity @Resource.Type</th>
                                <th width="26%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="16%">@Resource.MRP</th>
                                <th width="16%">@Resource.Manufactured @Resource.Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td class=" red center"> <i class="fa fa-trash" aria-hidden="true" title="Delete" disabled="disabled"></i></td>
                                    <td>01</td>
                                    <td>PRAK123</td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @if (!Disable)
            {
                if (Model.DocumentStatus == "D" || Model.DocumentStatus == "")
                {
                    <button type="button" class="btn btn-primary btn-sm" onclick="OnClickSerialResetBtnGRN()" id="SerialResetBtn"> @Resource.Reset</button>
                    <button type="button" class="btn btn-primary btn-sm" id="SerialSaveAndExitBtn" onclick="OnClickSerialSaveAndCloseGRN()">@Resource.SaveAndExit</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="SerialDiscardAndExitBtn" onclick="OnClickSerialDiscardAndExitGRN()">@Resource.DiscardAndExit</button>
                }
            }


        </div>
    </div>
