@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.GeneralLedgerVoucher.PurchaseVoucher.PurchaseVoucherList_Model
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}

<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/GeneralLedgerVoucher/PurchaseVoucher/PurchaseVoucherList.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>
    #TblPurchaseVoucherList_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #TblPurchaseVoucherList_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #TblPurchaseVoucherList_wrapper {
        padding-left: 2px !important;
    }
</style>
@*<table id="datatable-buttons" class="table table-striped width2600 rowhighlighttbl" cellspacing="0" width="100%">*@
<table id="TblPurchaseVoucherList" class="table table-striped width2600 rowhighlighttbl itmfrz" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th width="7%" class="itmStick">@Resource.GLVoucher <br /> @Resource.Number</th>
            <th width="6%">@Resource.GLVoucher <br /> @Resource.Date</th>
            <th width="8%" hidden>@Resource.GLVoucher <br /> @Resource.Date</th>
            <th width="13%">@Resource.SupplierName</th>
            <th width="5%">@Resource.Currency</th>
            <th width="6%">@Resource.Amount <br /> @Resource.InSpecific</th>
            <th width="6%">@Resource.Amount <br /> @Resource.InBase</th>
            <th width="6%">@Resource.BillNumber</th>
            <th width="6%">@Resource.BillDate</th>
            <th width="6%">@Resource.Status</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.ApprovedBy</th>
            <th width="6%">@Resource.ApprovedOn</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @* //Commented by Suraj Maurya on 30-01-2025 to Create Dynamic DataTable *@
        @*@if (Model.VoucherList != null)
        {
            foreach (var row in Model.VoucherList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="VouNumber">
                        <div class="col-sm-10 no-padding" id="Pv_Vouno">@row.VouNumber</div>
                        <div class="col-sm-2 i_Icon">
                            <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                        </div>
                    </td>
                    <td id="Pv_Date">@row.VouDate</td>
                    <td hidden id="hdVouDate">@row.hdVouDate</td>
                    <td>@row.supp_name</td>
                    <td class="center">@row.curr_logo</td>
                    <td class="num_right">@row.AmountinSp</td>
                    <td class="num_right">@row.AmountinBs</td>
                    <td>@row.BillNo</td>
                    <td>@row.BillDt</td>
                    <td id="Doc_Status">@row.VouStatus</td>
                    <td>@row.create_by</td>
                    <td>@row.CreatedON</td>
                    <td>@row.app_by</td>
                    <td>@row.ApprovedOn</td>
                    <td>@row.mod_by</td>
                    <td>@row.ModifiedOn</td>
                </tr>
            }
        }*@
    </tbody>
</table>

<script>
     $(document).ready(function () {
        debugger;
        PurchaseVoucherDtList();
    });
    function PurchaseVoucherDtList() {
        var Supp_id = $("#ddlSuppAccName").val();
        var Curr_Id = $("#curr").val();
        var From_dt = $("#txtFromdate").val();
        var To_dt = $("#txtTodate").val();
        var status = $("#ddlStatus").val();
        var status = $("#ddlStatus").val();
        var WF_Status = $("#WF_Status").val();

        var filters = Supp_id + "," + Curr_Id + "," + From_dt + "," + To_dt + "," + status + "," + WF_Status;

        $("#TblPurchaseVoucherList").DataTable().destroy();
        $("#TblPurchaseVoucherList").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/ApplicationLayer/PurchaseVoucher/LoadPVListData",
                "data": {
                    ListFilter: filters,
                },
                "type": "POST",
                "datatype": "json",
            },
            "columns": StkDtldataColumns(),
            columnDefs: StkDtlDataColumnRenders(),
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        var csvUrl = "/ApplicationLayer/PurchaseVoucher/ExportCsv";
                        let CsvName = $("title").text() + "_" + moment().format('YYYYMMDDhhmmss');
                        Cmn_importDataToCSV(e, dt, button, config, csvUrl, CsvName);

                    }

                }],
        });
        //var exportbtn = `<a class="btn btn-default buttons-csv buttons-html5 btn-sm ml-4" id='export' onclick="PurchaseVoucherCSV()" tabindex="0" aria-controls="datatable-buttons" href="#">
        //        <span>CSV</span></a>`;
        //$("#TblPurchaseVoucherList_length").append(exportbtn);
        //Export();
    }
    function StkDtldataColumns() {
        var Array = [];
        Array = [
            { "data": "SrNo", "name": "SrNo", "autoWidth": true },
            { "data": "VouNumber", "name": "VouNumber", "autoWidth": true, className:"ItmNameBreak itmStick tditemfrz" },
            { "data": "VouDate", "name": "VouDate", "autoWidth": true },
            { "data": "hdVouDate", "name": "hdVouDate", "autoWidth": true },
            { "data": "supp_name", "name": "supp_name", "autoWidth": true},
            { "data": "curr_logo", "name": "curr_logo", "autoWidth": true, className: "center" },
            { "data": "AmountinSp", "name": "AmountinSp", "autoWidth": true, className:"num_right" },
            { "data": "AmountinBs", "name": "AmountinBs", "autoWidth": true, className: "num_right"},
            { "data": "BillNo", "name": "BillNo", "autoWidth": true},
            { "data": "BillDt", "name": "BillDt", "autoWidth": true},
            { "data": "VouStatus", "name": "VouStatus", "autoWidth": true },
            { "data": "create_by", "name": "create_by", "autoWidth": true },
            { "data": "CreatedON", "name": "CreatedON", "autoWidth": true },
            { "data": "app_by", "name": "app_by", "autoWidth": true },
            { "data": "ApprovedOn", "name": "ApprovedOn", "autoWidth": true },
            { "data": "mod_by", "name": "mod_by", "autoWidth": true },
            { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        return Array;

    }
    function StkDtlDataColumnRenders() {
        var array = [];
        array = [
            //{
            //    'targets': 1,
            //    'createdCell': function (td, cellData, rowData, row, col) {
            //        $(td).attr('id', 'VouNumber');
            //    }
            //},
            {
                render: (data, type, row) => `<div class="col-sm-10 no-padding" id="Pv_Vouno">${data}</div>
                            <div class="col-sm-2 i_Icon">
                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="${$("#span_VoucherDetail").text()}"> </button>
                            </div>`,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'VouNumber');
                },
                targets: 1
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'Pv_Date');
                },
                targets: 2
            },
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'hdVouDate');
                    $(td).attr('hidden', true);
                },
                targets: 3
            },
            
            {
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('id', 'Doc_Status');
                },
                targets: 10
            },
            {
                render: (data, type, row) => `${cmn_addCommas(parseFloat(CheckNullNumber(data)).toFixed(cmn_ValDecDigit))}`,
                targets: [6,7]
            }

        ]
        return array;
    }
</script>

@*@if (Session["VouSearch"] != null)*@
@*@if (Model.VouSearch != null)
    {
        //if (Session["VouSearch"].ToString() == "Vou_Search")
        if (Model.VouSearch == "Vou_Search")
        {
            @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
            @Scripts.Render("~/Content/Scripts/DatatablesJs")
            //Session["VouSearch"] = null;
            Model.VouSearch = null;
        }
    }*@



