@using EnRepMobileWeb.Resources;
<table id="datatable-buttons" class="table table-striped rowhighlighttbl width2000" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="4%"> @Resource.SrNo</th>
            <th width="9%">@Resource.Document @Resource.Number</th>
            <th width="6%">@Resource.Document @Resource.Date</th>
            <th width="8%">@Resource.Asset @Resource.Description</th>
            <th width="7%">@Resource.Current <br /> @Resource.Value</th>
            <th width="6%">@Resource.Addition <br /> @Resource.Date</th>
            <th width="6%">@Resource.Source</th>
            <th width="8%">@Resource.Bill  @Resource.Number</th>
            <th width="6%">@Resource.Bill   @Resource.Date</th>
            <th width="12%">@Resource.Supplier  @Resource.Name</th>
            <th width="8%">@Resource.Addition <br /> @Resource.Amount</th>
            <th width="8%">@Resource.Revised <br /> @Resource.Value</th>
            <th width="12%">@Resource.remarks</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Purchase Bill</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>02</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>03</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>04</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>05</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>06</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>07</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>08</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>09</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>10</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>11</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>12</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
        </tr>
        <tr>
            <td>13</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
            </tr>
        <tr>
            <td>14</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>
            </tr>
        <tr>
            <td>15</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Asset Description</td>
            <td class="num_right">0000.00</td>
            <td>13-Jun-2025</td>
            <td>Direct</td>
            <td>B1/06/25/SUI0000008</td>
            <td>13-Jun-2025</td>
            <td>Astrix Industries Ltd</td>
            <td class="num_right">0000.00</td>
            <td class="num_right">0000.00</td>
            <td>This is a remarks</td>

        </tr>
        

    </tbody>
</table>
@*@Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")*@








