@model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.DomesticPurchaseOrder.DPOListModel
@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<style>
    #POPendingSourceDocument .modal-content {
        width: 1000px;
        margin: 0 auto;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Pending @Resource.Source @Resource.Documents</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="card-box table-responsive dy_table margin10">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height50VH">
                <table id="datatable-buttons2" class="table table-striped table-bordered width1800 rowhighlighttbl">
                @*<table id="POPendingSourceDocuments" class="table table-striped table-bordered width1600 rowhighlighttbl">*@
                    <thead>
                        <tr class="headings">
                            <th width="2%">@Resource.Document @Resource.Create</th>
                            <th width="2%">@Resource.SrNo</th>
                            <th width="10%">@Resource.Source @Resource.Document</th>
                            <th width="10%">@Resource.Document @Resource.Number </th>
                            <th width="7%">@Resource.Document <br /> @Resource.Date</th>
                            <th hidden="hidden"></th>
                            <th width="10%">@Resource.Requirement  @Resource.Area</th>
                            <th hidden="hidden"></th>
                            <th width="14%">@Resource.Supplier   @Resource.Name</th>
                            <th hidden="hidden"></th>
                            <th width="9%">@Resource.Status</th>
                            <th width="9%">@Resource.CreatedBy</th>
                            <th width="9%">@Resource.Createdon</th>
                            <th width="9%">@Resource.ApprovedBy</th>
                            <th width="9%">@Resource.ApprovedOn</th>
                        </tr>
                    </thead>
                    <tbody id="">
                        @if (Model.Pending_DocumentList != null)
                        {
                            var flag = "";
                            foreach (var row in Model.Pending_DocumentList)
                            {
                                rowId++;
                                flag = row.flag;
                        <tr>

                            <td align="center">
                                @if (row.Pending_SourceDocAlias == "PQ")
                                        {
                                    <div>
                                        <a class="tooltip-test" href="@Url.Action("CreateDocuemntPendingList","DPO", new {Doc_no=@row.Pending_Document_no,Doc_dt=@row.Pending_Docdt,
                                                                     supp_id=@row.Pending_supplier_ID,Doc_id=Model.DocumentMenuId })"
                                           @*onclick="GetDataPending(event)"*@
                                           title="@Resource.AddNew">
                                            <img src="~/Content/Images/addgreen.png" width="25" id="Btn_AddNewPO" height="25" alt="Add">
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div style="display:none">
                                        <a class="tooltip-test" href="@Url.Action("AddNewDPO","DPO", new { Model.DocumentMenuId })" title="@Resource.AddNew">
                                            <img src="~/Content/Images/addgreen.png" width="25" id="Btn_AddNewPO" height="25" alt="Add">
                                        </a>
                                    </div>
                                }
                            </td>


                            <td>@rowId</td>
                            <td>@row.Pending_SourceDocName</td>
                            @*<td id="Pending_OrderNo">@row.Pending_Document_no</td>*@

                            <td id="Pending_OrderNo">
                                <div class=" col-sm-11 no-padding">
                                    @row.Pending_Document_no
                                </div>
                                <div class="col-sm-1 i_Icon">
                                    <button type="button" onclick="OnClickPOItemDetail(event,'@flag');" class="calculator" data-toggle="modal" data-target="#ItemInfoMIList1" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                </div>
                            </td>
                            <td>@row.Pending_Document_dt</td>
                            <td style="display:none;" id="Pending_OrderDt">@row.Pending_Docdt</td>
                            <td id="Pending_Req_area">@row.Pending_Req_area</td>
                            <td style="display:none;" id="Pending_Req_area_id">@row.Pending_Req_area_id</td>
                            <td id="Pending_SuppName">@row.Pending_Supplier_Name</td>
                            <td style="display:none;" id="Pending_supp_id">@row.Pending_supplier_ID</td>

                            <td id="Pending_Doc_Status">@row.Pending_Doc_Status</td>
                            <td>@row.Pending_create_by</td>
                            <td>@row.Pending_CreateDate</td>
                            <td>@row.Pending_app_by</td>
                            <td>@row.Pending_ApproveDate</td>
                        </tr>
                            }
                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="OnClickSerialDiscardAndExit()">@Resource.Close</button>
    </div>
</div>
@if (Model.PendingDPOSearch != null)
{
    if (Model.PendingDPOSearch == "PendingData")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
        Model.PendingDPOSearch = null;
    }
}