@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    //string ValDigit = "0.";
    //var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    //for (var i = 0; i < VD; i++)
    //{
    //    ValDigit += "0";
    //}
    //string QtyDigit = "0.";
    //var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    //for (var i = 0; i < QD; i++)
    //{
    //    QtyDigit += "0";
    //}
    //string RateDigit = "0.";
    //var RD = Convert.ToInt32(Session["ValDigit"].ToString());
    //for (var i = 0; i < RD; i++)
    //{
    //    RateDigit += "0";
    //}
    string ItemName = "";
    string Uom = "";
    string QTY = "";
    string currency = "";
    string From_dt = "";
    string To_dt = "";
    if (ViewBag.modeldt != null)
    {
        var model = ViewBag.modeldt;
        ItemName = model.ItemName;
        Uom = model.Uom;
        QTY = model.Qty;
        currency = model.currency;
        From_dt = model.From_dt;
        To_dt = model.To_dt;
    }
    //decimal totalPur_amt_spec = 0;
    //decimal totaltax_amt_spec = 0;
    //decimal totalOC_amt_spec = 0;
    //decimal totalPur_amt = 0;
    //decimal totaltax_amt = 0;
    //decimal totalOC_amt = 0;
    //decimal totalInvoice_amt = 0;
    //decimal totalInvoice_amt_spec = 0;
}
<style>
    #datatable-buttons3_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
    }
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.InvoiceDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.ItemName</label>
            <input id="ItemName" class="form-control" value="@ItemName" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.ItemName" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input id="PGWP_UOM" class="form-control" value="@Uom" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.Currency</label>
            <input id="PGWP_Currency" class="form-control" value="@currency" autocomplete="off" type="text" name="Currency" placeholder="@Resource.Currency" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.Quantity</label>
            <input id="PGWP_Quantity" class="form-control" value="@QTY" autocomplete="off" type="text" name="Quantity" placeholder="@Resource.Quantity" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.FromDate</label>
            <input id="PGWP_FromDate" class="form-control" value="@From_dt" autocomplete="off" type="date" name="FromDate" placeholder="" disabled="">
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.ToDate</label>
            <input id="PGWP_ToDate" class="form-control" value="@To_dt" autocomplete="off" type="date" name="ToDate" placeholder="" disabled="">
        </div>
        <div class="clearfix"></div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height40VH pop_csv itmfrz">
                <table id="tblProItemGrpWiseInvDetail" class="table table-striped width2200 rowhighlighttbl" cellspacing="0" width="100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="3%">@Resource.SrNo</th>
                            <th class="itmStick">@Resource.Invoice @Resource.Number</th>
                            <th>@Resource.Invoice @Resource.Date</th>
                            <th width="15%">@Resource.SupplierName</th>
                            <th>@Resource.Quantity</th>
                            <th>@Resource.CostPrice <br /> @Resource.InSpecific</th>
                            <th>@Resource.CostPrice <br /> @Resource.InBase</th>
                            <th>@Resource.PurchaseAmount <br /> @Resource.InSpecific</th>
                            <th>@Resource.PurchaseAmount <br /> @Resource.InBase</th>
                            <th>@Resource.TaxAmount <br /> @Resource.InSpecific</th>
                            <th>@Resource.TaxAmount <br /> @Resource.InBase</th>
                            <th>@Resource.OtherCharges  <br /> @Resource.InSpecific</th>
                            <th>@Resource.OtherCharges <br /> @Resource.InBase </th>
                            <th>@Resource.InvoiceAmount <br /> @Resource.InSpecific</th>
                            <th>@Resource.InvoiceAmount <br /> @Resource.InBase</th>
                            <th>@Resource.ApprovedOn</th>
                        </tr>
                    </thead>
                    <tbody id="">

                        @if (ViewBag.PrcItemGroupWiseItemDetail != null)
                        {
                            var srno = 1;
                            foreach (DataRow dr in ViewBag.PrcItemGroupWiseItemDetail.Rows)
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td class="ItmNameBreak itmStick tditemfrz">@dr["inv_no"].ToString()</td>
                                    <td>@dr["inv_dt1"].ToString()</td>
                                    <td>@dr["supp_name"].ToString()</td>
                                    <td class="num_right">@dr["mr_qty"].ToString()</td>
                                    <td class="num_right">@dr["item_rate_spec"].ToString()</td>
                                    <td class="num_right">@dr["item_rate_bs"].ToString()</td>
                                    <td class="num_right">@dr["purchase_amount_spec"].ToString()</td>
                                    <td class="num_right">@dr["purchase_amount_bs"].ToString()</td>
                                    <td class="num_right">@dr["tax_amt_spec"].ToString()</td>
                                    <td class="num_right">@dr["tax_amt_bs"].ToString()</td>
                                    <td class="num_right">@dr["oc_amt_spec"].ToString()</td>
                                    <td class="num_right">@dr["oc_amt_bs"].ToString()</td>
                                    <td class="num_right">@dr["invoice_amt_spec"].ToString()</td>
                                    <td class="num_right">@dr["invoice_amt_bs"].ToString()</td>
                                    <td class="num_right">@dr["app_dt"].ToString()</td>
                                </tr>
                                srno++;
                                //totalPur_amt_spec = totalPur_amt_spec + dr["purchase_amount_spec"]);
                                //totaltax_amt_spec = totaltax_amt_spec + dr["tax_amt_spec"]);
                                //totalOC_amt_spec = totalOC_amt_spec + dr["oc_amt_spec"]);
                                //totalPur_amt = totalPur_amt + dr["purchase_amount_bs"]);
                                //totaltax_amt = totaltax_amt + dr["tax_amt_bs"]);
                                //totalOC_amt = totalOC_amt + dr["oc_amt_bs"]);
                                //totalInvoice_amt = totalInvoice_amt + dr["invoice_amt_bs"]);
                                //totalInvoice_amt_spec = totalInvoice_amt_spec + dr["invoice_amt_spec"]);
                            }

                        }
                    </tbody>
                    <tfoot>
                        @if (ViewBag.ItemWiseInvoiceTotal != null)
                        {
                            foreach (DataRow dr in ViewBag.ItemWiseInvoiceTotal.Rows)
                            {
                                <tr class="total">
                                    <td colspan="7" align="right"><strong>@Resource.Total</strong></td>
                                    <td class="num_right"><strong>@dr["purchase_amount_spec"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["purchase_amount_bs"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["tax_amt_spec"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["tax_amt_bs"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["oc_amt_spec"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["oc_amt_bs"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["invoice_amt_spec"].ToString()</strong></td>
                                    <td class="num_right"><strong>@dr["invoice_amt_bs"].ToString()</strong></td>
                                    <td align="right"></td>
                                </tr>
                            }
                        }
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="OnClickSerialDiscardAndExit()">@Resource.Close</button>
    </div>
</div>