@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Order @Resource.Tracking </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.Order @Resource.Number</label>
                @if (ViewBag.spo_no != null && ViewBag.spo_no != "")
                {
                    <input type="text" id="ServicePurchaseOrderNumber" class="form-control" value="@ViewBag.spo_no" placeholder="@Resource.Order @Resource.Number" readonly>
                }
                else
                {
                    <input type="text" id="ServicePurchaseOrderNumber" class="form-control" placeholder="@Resource.Order @Resource.Number" readonly>
                }
            </div>
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.OrderDate</label>
                @if (ViewBag.spo_date != null && ViewBag.spo_date != "")
                {
                    <input type="date" id="ServiceOrderDate" value="@ViewBag.spo_date" class="form-control" readonly>
                }
                else
                {
                    <input type="date" id="ServiceOrderDate" class="form-control" readonly>
                }
            </div>
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.SupplierName</label>
                @if (ViewBag.suppName != null && ViewBag.suppName != "")
                {
                    <input type="text" id="SupplierName" class="form-control" value="@ViewBag.suppName" placeholder="@Resource.SupplierName" readonly>
                }
                else
                {
                    <input type="text" id="SupplierName" class="form-control" placeholder="@Resource.SupplierName" readonly>
                }
            </div>
        </div>
        @*</form>*@
        <div class="card-box table-responsive dy_table margin10">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1 pop_csv">
                <table id="Table_SPOTracking" class="table table-striped table-bordered width1600 margin5 rowhighlighttbl" style="width:100%;">
                    <thead>
                        <tr class="sticky-header">
                            <th width="2%">&nbsp;</th>
                            <th width="20%">&nbsp;</th>
                            <th width="7%">&nbsp;</th>
                            <th width="7%">&nbsp;</th>
                            <th width="15%" class="light_cream_colour">&nbsp;</th>
                            <th width="10%" class="light_cream_colour">@Resource.Service @Resource.Verification</th>
                            <th width="7%" class="light_cream_colour">&nbsp;</th>
                            <th width="15%" class="light_cream1_colour">&nbsp;</th>
                            <th width="10%" class="light_cream1_colour">@Resource.InvoiceDetail</th>
                            <th width="7%" class="light_cream1_colour">&nbsp;</th>
                        </tr>
                        <tr class="sticky-header">
                            <th width="2%">@Resource.SrNo</th>
                            <th width="20%">@Resource.Service @Resource.Name</th>
                            <th width="7%">@Resource.Order <br />  @Resource.Quantity</th>
                            <th width="7%">@Resource.Pending <br />  @Resource.Quantity</th>
                            <th width="15%" class="light_cream_colour">@Resource.Verification <br /> @Resource.Number</th>
                            <th width="10%" class="light_cream_colour">@Resource.Verification <br />  @Resource.Date</th>
                            <th width="7%" class="light_cream_colour">@Resource.Verification <br />  @Resource.Quantity</th>                          
                            <th width="15%" class="light_cream1_colour">@Resource.Invoice <br />  @Resource.Number</th>
                            <th width="10%" class="light_cream1_colour">@Resource.Invoice <br />  @Resource.Date</th>
                            <th width="7%" class="light_cream1_colour">@Resource.Invoice <br />  @Resource.Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="">
                        @if (ViewBag.SPOTrackingList != null)
                        {

                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.SPOTrackingList.Rows)
                            {

                                rowIdx++;
                                <tr>
                                    <td>@rowIdx</td>
                                    <td>@Row["item_name"].ToString()</td>
                                    <td align="right">@Row["ord_qty"].ToString()</td>
                                    <td align="right">@Row["pend_qty"].ToString()</td>
                                    <td class="light_cream_colour">@Row["sr_ver_no"].ToString()</td>
                                    <td class="light_cream_colour">@Row["sr_ver_dt"].ToString()</td>
                                    <td class="light_cream_colour num_right">@Row["conf_qty"].ToString()</td>                                
                                    <td class="light_cream1_colour">@Row["inv_no"].ToString()</td>
                                    <td class="light_cream1_colour">@Row["inv_dt"].ToString()</td>
                                    <td class="light_cream1_colour num_right">@Row["inv_qty"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

