@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.ConsumptionAnalysis.ConsumptionAnalysis_Model

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/MIS/ConsumptionAnalysis/ConsumptionAnalysisJS.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!-- Consumption Detail -->
    <div id="ConsumptionDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" id="ConsumptionDetailPopUp" style="max-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialConsumptionDetail.cshtml")
        </div>
    </div>
    <!-- Lot Detail -->
    <div id="LotDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" id="LotDetailPopUp" style="max-width:800px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialLotDetail.cshtml")

        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-2 col-sm-12 pr-0">
                                    <label class="col-form-label label-align"> @Resource.MaterialName </label>
                                    @Html.DropDownListFor(model => model.ItemID, new SelectList(new List<SelectListItem>
                                {new SelectListItem {Text="----ALL----",Value="0" },}, "Value", "Text"),
                                new { @class = "form-control", @id = "Ddl_MaterialName", @name = "MaterialName" })

                                </div>
                                <div class="col-md-2 col-sm-12 pr-0">
                                    <label class="col-form-label label-align"> @Resource.ShopfloorName </label>
                                    @Html.DropDownListFor(model => model.shflId, new SelectList(Model.ShopFloorList, "shfl_id", "shfl_name"),
                              new { @class = "form-control", @id = "ddlShopfloor", @name = "ddlShopfloor" })

                                </div>
                                <div class="col-md-2 col-sm-12 pr-0">
                                    <label class="col-form-label label-align"> @Resource.OperationName </label>
                                    @Html.DropDownListFor(model => model.opId, new SelectList(Model.OperationList, "op_id", "op_name"),
                              new { @class = "form-control", @id = "ddloperation", @name = "ddloperation" })

                                </div>
                                <div class="col-md-6 col-sm-12 no-padding ">
                                    <div class="col-md-5 col-sm-12 pr-0">
                                        <label class="col-form-label label-align">@Resource.Group</label>
                                        @Html.DropDownListFor(model => model.Group, new SelectList(new List<SelectListItem>
                                    {new SelectListItem {Text="----ALL----",Value="0" },}, "Value", "Text"),
                                    new { @class = "form-control", @id = "Ddl_GroupName", @name = "Group" })

                                    </div>
                                    <div class="col-md-3 col-sm-12 pr-0">
                                        <label class="col-form-label label-align">
                                            @Resource.FromDate
                                        </label>
                                        @Html.TextBoxFor(model => model.From_dt, new { @class = "form-control", @id = "txtFromdate", @type = "date", @onchange = "validateToDate();", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    </div>
                                    <div class="col-md-3 col-sm-12 pr-0">
                                        <label class="col-form-label label-align">
                                            @Resource.ToDate
                                        </label>
                                        @Html.TextBoxFor(model => model.To_dt, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    </div>

                                    <div class="col-md-1 col-sm-12">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                </div>
</form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1 " id="Tbl_ConsumptionDetails">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/ConsumptionAnalysisDetailList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
