@model EnRepMobileWeb.MODELS.BusinessLayer.FinancialYearSetup.FinancialYearModel

@using EnRepMobileWeb.Resources;
@using System.Web.Mvc.Html;
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    MvcForm form = null;
}
@{
    var EditFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103160002")
            {
                EditFlag = "Y";
            }
        }
    }

    var Disable = true;
    var Br_Disable = true;
    if (Model.transtype == "update" && Model.command == "edit")
    {
        if (Model.pfy != null && Model.pfy != "")
        {
            Disable = false;
        }
    }
    else
    {
        if (Model.transtype == "save" && Model.command == "new")
        {
            if (Model.pfy != null && Model.pfy != "")
            {
                Disable = false;
                Br_Disable = false;
            }
        }
    }
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/FinancialYearSetup/FinancialYear.js"></script>
<title>@Model.title</title>
@using (Html.BeginForm("SaveFy_Closing", "FinancialYearSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <!-- Smart Wizard -->
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-2 col-sm-12 work_flow">&nbsp;</div>
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            <ul>
                                <li>
                                    <button class="back" title="Back" type="submit" id="btn_back" name="Command" onclick="RemoveSession()" value="BacktoList"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Previous @Resource.FinancialYear</label>
                                            @Html.TextBoxFor(model => model.pfy, new { @class = "form-control", @id = "pfy", @type = "text", @readonly = "readonly" })
                                            @Html.HiddenFor(model => model.pfy_startdt, new { @id = "pfy_sdt" })
                                            @Html.HiddenFor(model => model.pfy_enddt, new { @id = "pfy_edt" })
                                            @Html.HiddenFor(model => model.transtype, new { @id = "trans_type" })
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.New @Resource.FinancialYear</label>
                                            @Html.TextBoxFor(model => model.nfy, new { @class = "form-control", @id = "nfy", @type = "text", @readonly = "readonly" })
                                            @Html.HiddenFor(Model => Model.nfy_startdt, new { @id = "nfy_sdt" })
                                            @Html.HiddenFor(Model => Model.nfy_enddt, new { @id = "nfy_edt" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Branch</label>

                                            @if (Br_Disable)
                                            {
                                                @Html.DropDownListFor(model => model.br_id, new SelectList(Model.br_list, "br_id", "br_name"), new { @id = "ddl_branch", @class = "form-control", disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.br_id, new SelectList(Model.br_list, "br_id", "br_name"), new { @id = "ddl_branch", @class = "form-control", @onchange = "OnChange_fybr_ddl()" })
                                            }

                                            @*<select class="form-control" id="ddl_branch" name="ddl_branch" onchange="OnChange_fybr_ddl();">
            @if (ViewBag.br_list != null)
            {
                foreach (System.Data.DataRow row in ViewBag.br_list.Rows)
                {
                    if (ViewBag.vb_br_id == @row["Comp_Id"].ToString())
                    {
                        <option selected="selected" value="@row["Comp_Id"].ToString()">@row["comp_nm"].ToString()</option>
                    }
                    else
                    {
                        <option value="@row["Comp_Id"].ToString()">@row["comp_nm"].ToString()</option>
                    }
                }
            }
        </select>*@
                                            <span class="error_message" id="span_br" style="display: none;"></span>
                                            @Html.HiddenFor(Model => Model.br_id, new { @id = "hdn_br_id" })

                                        </div>
                                        <div class="col-md-2 col-sm-12 margin15">
                                            <div class="cancelled">
                                                <label>
                                                    @Resource.Close @Resource.Books

                                                    @if (Disable)
                                                    {
                                                        @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox" })
                                                    }

                                                    @*@if (Model.transtype == "update" && Model.command == "edit")
                                                    {
                                                        if (Model.pfy == null || Model.pfy == "")
                                                        {
                                                            if (Model.closebook == false)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                            }
                                                            if (Model.closebook == true)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                            }

                                                        }
                                                        else
                                                        {
                                                            if (Model.closebook == false)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox" })
                                                            }
                                                            if (Model.closebook == true)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox" })
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (Model.transtype == "save" && Model.command == "new")
                                                        {
                                                            if (Model.pfy != null && Model.pfy != "")
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox" })
                                                            }
                                                            else
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.closebook == false)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                            }
                                                            if (Model.closebook == true)
                                                            {
                                                                @Html.CheckBoxFor(model => model.closebook, new { @class = "js-switch", @id = "closebk", @type = "checkbox", @disabled = "disabled" })
                                                            }
                                                        }

                                                    }*@

                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 margin15 center">
                                            @if (EditFlag == "Y")
                                            {
                                                if (Model.transtype == "update" && Model.command == "edit")
                                                {
                                                    if (Model.pfy != null && Model.pfy != "")
                                                    {
                                                        <button type="submit" class="btn btn-primary btn-sm" id="save_btn" onclick="return functionConfirm(this)" name="Command" value="Save">@Resource.Save</button>
                                                    }
                                                }
                                                else
                                                {
                                                    if (Model.transtype == "save" && Model.command == "new")
                                                    {
                                                        if (Model.pfy != null && Model.pfy != "")
                                                        {
                                                            <button type="submit" class="btn btn-primary btn-sm " id="save_btn" onclick="return functionConfirm(this)" name="Command" value="Save">@Resource.Save</button>
                                                        }
                                                    }
                                                }
                                                @Html.HiddenFor(m => m.command, new { @id = "hdn_save_comand" })
                                            }

                                            @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>*@
                                        </div>
                                    </div>
                                </div>

                            </section>

                            <section class="panel panel-default">
                                <div class="col-md-12 col-sm-12 ">
                                    <table id="datatable-buttons1" class="table table-striped width900 rowhighlighttbl" cellspacing="0" width="100%">
                                        <thead>
                                            <tr class="sticky-header">
                                                <th width="3%"> @Resource.SrNo</th>
                                                <th>@Resource.Error @Resource.Detailed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.error_msg != null)
                                            {
                                                foreach (System.Data.DataRow row in ViewBag.error_msg.Rows)
                                                {
                                            <tr>
                                                <td>@row["SNo"].ToString()</td>
                                                <td>@row["Error_Msg"].ToString()</td>
                                            </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}
