@model EnRepMobileWeb.MODELS.BusinessLayer.FinancialYearSetup.FinancialYearModel

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/FinancialYearSetup/FinancialYear.js"></script>
<title>@Model.title</title>

<div class="row">

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-4 col-sm-12 work_flow">
                </div>
                <div id="" class="col-md-2 col-sm-12 heading_right_padding">
                    <ul>
                        <li>
                            <a class="tooltip-test" title="@Resource.AddNew" href="@Url.Action("FinancialYearSetupDetail", "FinancialYearSetup",new { ttype="new"})"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="BPList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialFinancialYearSetupList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page content end -->
