@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialReceipt.ExternalReceipt.ExternalReceiptModel
@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialReceipt/ExternalReceipt/ExternalReceiptList.js"></script>
<title>@Model.Title</title>
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }
    }
}
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <div class="price_item_detail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
    @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @if (ViewBag.AppLevel.Rows.Count > 0)
                    {
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    }
                </div>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105102115130001")
                        {
                            <div id="" class="col-md-2 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddExternalReceiptDetail","ExternalReceipt")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddNewFGR" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12 padding_zero">
                                <div class="col-md-1 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.EntityType</label>
                                    @Html.DropDownListFor(model => model.EntityType, new SelectList(new List<Object>
                                                                    {
                                                                   new { value = "0", text = "---Select---"  },
                                                                    new { value = "C", text = "Customer"  },
                                                                    new { value = "S" , text = "Supplier" },
                                                                    new { value = "E" , text = "Employee" },
                                                                    },
                                                                             "value",
                                                                             "text"
                                                                         ), new { @class = "form-control", @id = "ddl_EntityType", @onchange = "OnChangeEntityType_List1()" })
                                    @Html.HiddenFor(model => model.entity_type, new { @id = "hd_EntityTypeID" })

                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div id="SupplierName">
                                        <label class="col-form-label label-align">@Resource.Entity @Resource.Name </label>
                                        @Html.DropDownListFor(model => model.EntityName, new SelectList(Model.EntityNameList1, "entity_id", "entity_name"), new { @class = "form-control", @id = "ddl_EntityName" })
                                        <input type="hidden" id="hfsuppcustlist1" value='@Url.Action("GetSupp_CustList", "ExternalReceipt")' />
                                        @Html.HiddenFor(model => model.EntityID, new { @id = "hd_entity_id" })

                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.FromDate</label>
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @*<input class="form-control" id="txtFromdate" max="2024-09-17" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-09-01">*@
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.ToDate</label>
                                    @*<input value="2024-09-17" class="form-control" data-val="true" data-val-date="The field ToDate must be a date." data-val-required="The ToDate field is required." id="txtTodate" max="2024-09-17" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">*@
                                    @if (Model.ToDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Status</label>
                                    @Html.DropDownListFor(Model => Model.Status, new SelectList(Model.Status_list, "StatusID", "Status_Name"), new
                                      {
                                          @class = "form-control",
                                     @id = "ddlStatus",
                                          @name = "Status"
                                 })

                                </div>

                                <div class="col-md-3 col-sm-12 pl-0">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="ListtblExternalReceipt" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialExternalReceiptList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
