@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockDetailConsolidated.StockDetailConsolidated_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/StockDetailConsolidated/StockDetailConsolidated_Js.js"></script>
<style>
    /*thead tr > th {*/
    /* background: #ccc;*/
    /*position: sticky;
        padding: .5rem;
        z-index: 2;
        top: 0;
    }
    thead tr > :nth-child(2) {
        z-index: 100 !important;
        position: sticky;
        left: 0;
        top: 0;
    }
    tbody tr > :nth-child(2) {
        background: #ffffff;
        position: sticky;
        z-index: 1;
        left: 0;
    }*/
    .togle_mis {
        min-width: 30% !important;
    }

    #stockDetailDtList_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #stockDetailDtList_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #stockDetailDtList_wrapper {
        padding-left: 2px !important;
    }
    /*.dataTables_length, .DataTable1_filter, .dt-buttons, .buttons-csv, .buttons-pdf {
        float: left;
    }*/
    #DataTable1_wrapper .dt-buttons {
        width: 6%;
        margin-left: 2%;
    }
    .SourceType {
        height: 28px;
    }
    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }
</style>
<title>@Model.Title</title>
@using(Html.BeginForm("StockDetailsConsolidatedActions", "StockDetailConsolidated", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!-- Partial Item Information -->
        <div id="ItemInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
            </div>
        </div>
        <!-- Partial Stock Detail - Consolidated -->
        <div id="StockDetailConsolidated" class="modal fade" role="dialog">
            <div id="StockDetailConsolidatedPopUp" class="modal-dialog" style=" max-width:800px;">
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockDetailConsolidatedDetail.cshtml")
            </div>
        </div>
        <!-- Partial WIP Detail Start -->
        <div id="WIPDetail" class="modal fade" role="dialog">
            <div id="PartialWIPDetail" class="modal-dialog" style=" max-width:800px;">
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialWIPDetail.cshtml")
            </div>
        </div>
        <!-- Sub Item Stock Detail -->@*/*Add By Hina on 05-09-2024 to add sub item stock detail*/*@
        <div id="SubItemStock" class="modal fade" role="dialog">
            <div class="modal-dialog" id="SubItemStockPopUp" style=" max-width:600px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemStkDetail.cshtml")
            </div>
        </div>
        <!-- Partial WIP Detail End -->
        <!-- Search Item Start-->
        <div id="SearchItem" class="modal fade show" role="dialog" aria-modal="true">
            <div class="modal-dialog pop_csv" id="" style="min-width:500px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSearchItemDetails.cshtml")
            </div>
        </div>
        <!-- Search Item End-->
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-12 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    @*<div id="" class="col-md-2 col-sm-12 no-margin no-padding ">
                            <div class="col-md-6 col-sm-12 no-margin" style="text-align:right;">
                                <label class="col-form-label label-align">@Resource.ReportType</label>
                            </div>
                            <div class="col-md-6 col-sm-12 no-margin no-padding ">
                                <select class="form-control">
                                    <option>Summary</option>
                                    <option>Detail</option>
                                </select>
                            </div>
                        </div>*@
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero no-padding ">
                            <div class="col-md-4 col-sm-12 pr-0 pb-2">
                                <div class="col-md-11 col-sm-12 pr-0">
                                    <label class="col-form-label label-align">@Resource.ItemName</label>
                                    @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemsList, "Item_Id", "Item_Name"), new { @class = "form-control", @id = "ddlItemList" })
                                </div>
                                <div class="col-sm-1 i_Icon margin25">
                                    <button type="button" id="SearchItem" class="calculator" data-toggle="modal" onclick="Cmn_itemSearchPartial('stkdetailConso')" data-target="#SearchItem" data-backdrop="static" data-keyboard="false"><i class="fa fa-search SearchItem" title="@Resource.Search @Resource.Item "></i> @*<img src="/Content/Images/iIcon1.png" alt="">*@  </button>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 pr-0 pb-2">
                                <label class="col-form-label label-align">@Resource.ItemGroup</label>
                                @Html.DropDownListFor(model => model.ItemGroupId, new SelectList(Model.ItemsGroupList, "Group_Id", "Group_Name"), new { @class = "form-control", id = "ddlItemGroupList",@multiple = "multiple"})
                            </div>
                            <div class="col-md-2 col-sm-12 pr-0 pb-2">
                                <label class="col-form-label label-align">@Resource.Upto</label>
                                @Html.TextBoxFor(model => model.AsOnDate, new { @class = "form-control", @id = "txtAsOnDate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-1 col-sm-12 mt-4">
                                <button type="button" class="btn btn-primary btn-sm" id="BtnSearch" onclick="GetStockDetailsConsolidatedData();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    @Html.HiddenFor(m => m.Filters, new { @id = "hdnFiltersData" })
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                    <div id="PartialStockDetailConsolidatedList" class="sticky-table sticky-ltr-cells sb-container container-example1 StockDetailTable">

                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockDetailConsolidatedList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- page content end -->
