
@using System.Data;
@{
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
}
<style>
    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }
</style>
<div @*style='background: url(@BackGroundImgUrl) no-repeat ; height:800px; backgroundposition: center center;'*@>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
    <table width='100%' style="vertical-align:top; margin:0px; padding:0px;">
        <tr>
            <td>
                <table style='width:100%;vertical-align:top;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align: top;">
                            <table style='width:100%;border:solid 1px #000000;vertical-align:top; padding:0px;'>
                                <tr>
                                    <td style='width:67%;border-right:solid 1px #000000; vertical-align:top;'>
                                        <table width="100%" style='font-size:12px;font-weight:normal;padding:0px 0px 0px 0px;'>
                                            <tr>
                                                <td style='border-bottom: solid 1px #000000;'><strong> Customer : </strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td>
                                            </tr>
                                        </table>
                                        <table width="100%" style='font-size:12px;font-weight:normal;padding:0px 0px 0px 0px;'>

                                            <tr>
                                                <td width="50%" style='border-right: solid 1px #000000; vertical-align: top;'>
                                                    <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                                        <tr><td><strong> Bill To : </strong></td></tr>
                                                        @*<tr><td><strong> Customer : </strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td></tr>*@
                                                        <tr><td><strong> Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_add"].ToString()</td></tr>
                                                        <tr><td></td></tr>
                                                        <tr><td><strong> State : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_state"].ToString()</td></tr>
                                                        <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_cntry"].ToString()</td></tr>
                                                        <tr><td><strong> Phone No. : </strong> @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td></tr>
                                                        <tr><td><strong> GSTIN/UIN : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_gst_no"].ToString()</td></tr>
                                                    </table>
                                                </td>
                                                <td width="50%" style='vertical-align: top; '>
                                                    <table width="100%" style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                                        <tr><td><strong> Ship To : </strong></td></tr>
                                                        @*<tr><td><strong> Customer : </strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td></tr>
                                                            <tr><td><strong> Customer : </strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td></tr>*@
                                                        <tr><td><strong> Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["S_cust_add"].ToString()</td></tr>
                                                        <tr><td></td></tr>
                                                        <tr><td><strong> State : </strong> @ViewBag.Details.Tables[0].Rows[0]["S_cust_state"].ToString()</td></tr>
                                                        <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[0].Rows[0]["S_cust_cntry"].ToString()</td></tr>
                                                        <tr><td><strong> Phone No. : </strong> @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td></tr>
                                                        <tr><td><strong> GSTIN/UIN : </strong> @ViewBag.Details.Tables[0].Rows[0]["S_cust_gst_no"].ToString()</td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style='width:33%; vertical-align:top; '>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Invoice Number </td>
                                                <td style='font-size:12px;font-weight:normal; paddingright:10px;'>: @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Invoice Date </td>
                                                <td style='font-size:12px;font-weight:normal;paddingright:10px;'>: @ViewBag.Details.Tables[0].Rows[0]["inv_dt"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Destination </td>
                                                <td style='font-size:12px;font-weight:normal;paddingright:10px;'>: @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString()</td>
                                            </tr>
                                            @*<tr>
            <td style='font-size:12px;font-weight:bold;'> Destination </td>
            <td style='font-size:12px;font-weight:normal;paddingright:10px;'> @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString()</td>
        </tr>*@
                                            @*<tr>
            <td style='font-size:12px;font-weight:bold;'> Currency </td>
            <td style='font-size:12px;font-weight:normal;paddingright:10px;'> @ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</td>
        </tr>
        <tr>
            <td style='font-size:12px;font-weight:bold;'> Payment Terms </td>
            <td style='font-size:12px;font-weight:normal;paddingright:10px;'> @ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString()</td>
        </tr>*@
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="tableborder" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='6%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>S.NO.</th>
                                        <th width='42%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Goods <br /> Description </th>
                                        <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>UOM </th>
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>HSN <br /> Number </th>
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Quantity </th>
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Price/Unit </th>
                                        @*<th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Discount <br /> (in %)</th>*@
                                        @*<th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Discount Value </th>*@
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Amount </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[0].Rows != null)
                                    {
                                        var i = 1;
                                        DataView data = new DataView();
                                        foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                        {
                                            <tr>
                                                <td style='text-align:center; width:5%;'>@i</td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>
                                                    @dr["item_name"].ToString()
                                                    @*@dr["item_tech_des"].ToString()*@
                                                    @if (ViewBag.Details.Tables[2].Rows.Count > 0)
                                                    {
                                                        data = ViewBag.Details.Tables[2].DefaultView;
                                                        DataTable NewDT1 = new DataTable();
                                                        data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                        NewDT1 = data.ToTable();
                                                        <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                            <tr>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                            @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                            {
                                                                if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                {
                                                                    <tr>
                                                                        <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                        <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                        <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["inv_qty"]</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                    }
                                                </td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["uom_id"].ToString()</td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["hsn_no"].ToString()</td>
                                                <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["ship_qty"].ToString()</td>
                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_rate"].ToString()</td>
                                                @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_disc_perc"].ToString()</td>*@
                                                @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_disc_val"].ToString()</td>*@
                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_gr_val"].ToString()</td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                    <tr>
                                        <td colspan='7'>
                                            <table cellpadding='0' cellspacing='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                <tr>
                                                    <td width='55%'>&nbsp;</td>
                                                    <td style='paddingleft:5px;border-left:solid 1px #000000; border-bottom:solid 1px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'><strong> Sub-Total </strong></td>
                                                    <td style='text-align:right;paddingright:5px;border-bottom:solid 1px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["gr_val"].ToString()</td>
                                                </tr>
                                                @if (ViewBag.Details.Tables[1].Rows != null)
                                                {
                                                    foreach (DataRow dr in ViewBag.Details.Tables[1].Rows)
                                                    {
                                                        <tr>
                                                            <td width='55%'>&nbsp;</td>
                                                            <td style='paddingleft:5px;border-left:solid 1px #000000;border-bottom:solid 1px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_name"].ToString()</td>
                                                            <td style='text-align:right;paddingright:5px;border-bottom:solid 1px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_val"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr></tr>
                                                }
                                                <tr>
                                                    <td width='55%'>&nbsp;</td>
                                                    <td style='paddingleft:5px;border-left:solid 1px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>Grand Total</td>
                                                    <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["net_val"].ToString()</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table styl='width:100%;'>
                                <tr><td style='font-size:12px;font-weight:normal;'><strong> Amount in Words:</strong></td></tr>
                                <tr><td style='font-size:12px;font-weight:normal;'>@ViewBag.Details.Tables[0].Rows[0]["net_val_spec_inwords"].ToString()</td></tr>

                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>