@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.FSNAnalysis.FSNAnalysis_Model
@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@{
    var range1 = Model.fsnRanges.range_1;
    var range2 = Model.fsnRanges.range_2;
}
<script src="~/Content/Scripts/Common/Cmn_popup_msg.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/FSNAnalysis/FSNAnalysis.js"></script>
<title>@Model.Title</title>
<style>
    span#vmRange_2 {
        text-align: left;
    }

    .sticky-table {
        max-height: 60vh;
    }

    .nav-md .container.body .right_col {
        overflow-y: hidden;
    }

    .dataTables_length, .DataTable1_filter, .dt-buttons, .buttons-csv, .buttons-pdf {
        float: left;
    }

    .dt-buttons {
        width: 10%;
        margin-left: 2%;
    }

    #InstTbl_InwordDetails_wrapper, #InstTbl_SalesDetails_wrapper, #InstTbl_StkDetails_wrapper {
        padding: 0px;
    }
</style>
@{
    if (TempData["Message"] != null)
    {
        string message = TempData["Message"].ToString();
        <script>
        $(document).ready(function () {
            ShowCommonPopup('@message');
        });
        </script>
    }
}

@using (Html.BeginForm("FSNAnalysisActions", "FSNAnalysis", FormMethod.Post))
{
    <div class="row">
        <div id="ItemInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
            </div>
        </div>
        <!-- MIS FSN Inward Detail Start -->
        <div id="FSNInwardDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:700px;" id="PopUp_FSNInwardDetail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/Partial_MISFSNInwardDetail.cshtml")
            </div>
        </div>
        <!-- MIS FSN Inward Detail End -->
        <!-- MIS FSN Sale Detail Start -->
        <div id="FSNSaleDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:700px;" id="PopUp_FSNSaleDetail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/Partial_MISFSNSaleDetail.cshtml")
            </div>
        </div>
        <!-- MIS FSN Sale Detail End -->
        <!-- MIS FSN Stock Detail Start -->
        <div id="FSNStockDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:1100px;" id="PopUp_FSNStockDetail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/Partial_MISFSNStockDetail.cshtml")
            </div>
        </div>
        <!-- MIS FSN Stock Detail End -->
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="col-md-6 col-sm-12 padding_zero">
                    <div class="col-md-4 col-sm-12 ">
                        <table id="" class="table table-striped table-bordered ">
                            <thead>
                                <tr class="">
                                    <th colspan="2" class="">@Resource.FastMoving %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center no-padding"><input value="&gt;" disabled class="center form-control" /></td>
                                    <td class="center no-padding">
                                        @*<input value="@range1" id="rg_fast_from" onchange="onChangeFSNRange()" class="center form-control" />*@
                                        @Html.TextBoxFor(m => m.fsnRanges.range_1, new { @class = "center form-control", @maxlength = "7", @id = "rg_fast_from", @onchange = "onChangeFSNRange1()", @onkeypress = "return NumericRangeValue(this,event)", @type = "text", placeholder = "00" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <table id="" class="table table-striped table-bordered ">
                            <thead>
                                <tr class="">
                                    <th colspan="3" class="">@Resource.SlowMoving %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center no-padding">
                                        @*<input value="@(range2)" id="rg_slow_from" onchange="onChangeFSNRange()" class="center form-control" />*@
                                        <div>
                                            @Html.TextBoxFor(m => m.fsnRanges.range_2, new { @class = "center form-control", @maxlength = "7", @id = "rg_slow_from", @onchange = "onChangeFSNRange()", @onkeypress = "return NumericRangeValue(this,event)", @type = "text", placeholder = "00" })
                                            <span class="field-validation-valid pl-2" data-valmsg-for="src_doc_no" data-valmsg-replace="true" id="vmRange_2"></span>
                                        </div>
                                    </td>
                                    <td class="center">To</td>
                                    <td class="center no-padding"><input value="@(range1 == 0 ? 0 : range1-1)" id="rg_slow_to" disabled class="center form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <table id="" class="table table-striped table-bordered ">
                            <thead>
                                <tr class="">
                                    <th colspan="2" class="alert">@Resource.NonMoving %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center no-padding"><input value="&lt;" disabled class="center form-control" /></td>
                                    <td class="center no-padding"><input value="@(range2 == 0 ? 0 : range2-1)" id="rg_non_from" disabled class="center form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">
                    <button class=" mt-4 address_save" title="Save" type="submit" id="" onclick="return SaveFSNRange()" name="Command" value="Save"></button>
                </div>
                <div class="clear"></div>
                <div class="col-md-12 col-sm-12 icon_tool padding_zero pl-0 pr-0  pb-5">
                    <div class="col-md-2 col-sm-12" style="display:none;">
                        <label class="col-form-label label-align">@Resource.Transaction @Resource.Type</label>
                        <select class="form-control" id="TransactionType" name="TransactionType">
                            <option selected="selected" value="S">Sales</option>

                        </select>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label class="col-form-label label-align">@Resource.ItemGroup</label>
                        @Html.DropDownListFor(m => m.ItemGroupId, new SelectList(Model.itemGroupsList, "item_group_id", "item_group_name"), new { @class = "form-control", @id = "ddlItemGroupName",@multiple = "multiple"})
                    </div>
                    <div class="col-md-3 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Item @Resource.Portfolio </label>
                        @Html.DropDownListFor(m => m.ItemPortFolioId, new SelectList(Model.itemPortFoliosList, "portfolio_id", "portfolio_name"), new { @class = "form-control", @id = "ItemPortfolio", @multiple = "multiple" })
                    </div>
                    <div class="col-md-4 col-sm-12 pl-0">
                        <div class="col-md-5 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.FromDate</label>
                            @Html.TextBoxFor(m => m.FromDt, new { @class = "form-control", @id = "FromDate", @onchange = "FromToDateValidation()", @type = "date", @max = ViewBag.ToFyMaxdate, @min = ViewBag.ToFyMindate })
                        </div>
                        <div class="col-md-5 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.ToDate</label>
                            @Html.TextBoxFor(m => m.AsOnDate, new { @class = "form-control", @id = "calUpTodate", @onchange = "FromToDateValidation()", @type = "date", @max = ViewBag.ToFyMaxdate, @min = ViewBag.ToFyMindate })
                        </div>
                        <div class="col-md-2 col-sm-12 pl-0">
                            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BtnSearchFSNAnalytics();"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
                @*<div class="x_content mar_pad1">
                        <div class="card-box table-responsive dy_table">
                            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISFSNAnalysisList.cshtml")
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-12 col-sm-12 pl-0 pr-0 mt-2">
                    <div class="x_panel margin_top_zero">
                        <div class="x_content">
                            <div class="card-box table-responsive">
                                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISFSNAnalysisList.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- page content end -->
