<!DOCTYPE html>
<html>
@using System.Data;
@{
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    DataTable dt = new DataTable();

    if (ViewBag.Details != null)
    {
        dt = ViewBag.Details.Tables[3];
    }

    var srno = 1;
}
@{
    string lpath = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.FLogoPath))
    {
        lpath = ViewBag.FLogoPath.ToString();
    }
    DataView data = new DataView();
}

@*<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::::: Delivery Challan :::::</title>
</head>*@
<body style="font-family: Arial, Helvetica, sans-serif; padding:0px; margin:0px;">
    <div style="width:100%; background-color:#000000">
        <div style="width:850px; margin:0 auto; background:url(@BackGroundImgUrl) no-repeat #ffffff; background-position: center center ">
            <table cellspacing="0" cellpadding="0" style="width:850px; paddingleft:15px; paddingright:20px;">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="paddingleft: 0px; paddingright:0px;">
                            <tr>
                                <td width="15%" > <img src="@lpath" alt="Logo" width="90" /> </td>
                                <td width="65%" style="text-align: center;">
                                    <span style="font-size: 20px; font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["comp_nm"] </span>  <br />
                                    <span style="font-size: 12px; font-weight:bold;">
                                        Works:-@ViewBag.Details.Tables[0].Rows[0]["Comp_Add"],<br />
                                        Distt:- @ViewBag.Details.Tables[0].Rows[0]["district_name"], @ViewBag.Details.Tables[0].Rows[0]["Pin_code"] (@ViewBag.Details.Tables[0].Rows[0]["state_name"])<br />
                                        Phone:-  @ViewBag.Details.Tables[0].Rows[0]["contact_no"] <br />
                                    </span>
                                    <span style="font-size: 12px; font-weight:normal;">
                                        PAN No:- @ViewBag.Details.Tables[0].Rows[0]["pan_no"], GSTIN No:- @ViewBag.Details.Tables[0].Rows[0]["gst_no"]
                                    </span>
                                </td>
                                <td width="20%"
                                    style="font-size: 11px; font-weight: normal; text-align: right; font-style: italic; vertical-align: top;">
                                    @System.DateTime.Now.ToString("dd-MM-yyyy hh:mm tt")
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" style="paddingleft: 0px; paddingright:0px;">
                            <tr>
                                <td style="font-size: 18px;text-align: center;font-weight: bold; paddingtop: 15px; width: 100%;">
                                    Delivery Challan
                                </td>

                            </tr>
                            <tr>
                                <td style="font-size: 12px; text-align: right; font-weight: bold;  paddingbottom: 10px; width: 100%;">
                                    STATE CODE-@ViewBag.Details.Tables[1].Rows[0]["state_code"]
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: solid 2px #000000;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" style=" width: 100%; border-left: solid 1px #000000; border-right: solid 1px #000000;">
                        <tbody>
                            <tr>
                                <td style="font-size: 12px; font-weight:normal;paddingleft: 10px;  width:25%; font-weight:bold; vertical-align:top; width: 11%;">
                                    Challan No:-
                                    <br />Challan Date:-
                                    <br />Packing List No:-
                                    <br />Packing List Date:-
                                </td>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px;  width:25%; vertical-align:top; border-right: solid 1px #000000;">
                                    @ViewBag.Details.Tables[1].Rows[0]["issue_no"].ToString()
                                    <br />@ViewBag.Details.Tables[1].Rows[0]["issue_date"].ToString()
                                    <br />@ViewBag.Details.Tables[1].Rows[0]["req_no"].ToString()
                                    <br />@ViewBag.Details.Tables[1].Rows[0]["mrs_dt"].ToString()

                                </td>
                                <td style="font-size: 12px; font-weight:normal;paddingleft: 10px;  width:20%; font-weight:bold; vertical-align:top; width: 13%;">
                                    Mode of Transport:-
                                    <br />Veh. No:-
                                    <br />Gr No:-
                                    <br />Gr Date:-
                                    <br />Name of Transporter:-
                                    <br />Place of Supply:-
                                </td>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px;  width:20%; vertical-align:top;">
                                    By Road
                                    <br /> @ViewBag.Details.Tables[2].Rows[0]["veh_number"].ToString()
                                    <br />@ViewBag.Details.Tables[2].Rows[0]["gr_no"].ToString()
                                    <br />@ViewBag.Details.Tables[2].Rows[0]["gr_dt"].ToString()
                                    <br />@ViewBag.Details.Tables[2].Rows[0]["trans_name"].ToString()
                                    <br />@ViewBag.Details.Tables[2].Rows[0]["tot_tonnage"].ToString()
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-top: solid 1px #000000 ;">
                                    <table width="100%" cellspacing="0" cellpadding="0" style="paddingleft: 0px; paddingright:0px;">
                                        <tr>
                                            <td width="415">
                                                <table cellspacing="0" cellpadding="0" style="width: 100%; ">
                                                    
                                                    <tr>
                                                        <td colspan="2" style="font-size: 12px; font-weight: normal; width: 20%; font-weight: bold; vertical-align: top; border-right: solid 1px #000000; paddingtop: 0px; padding-bottom: 0px">
                                                            Details of Receiver
                                                        </td>                                                      
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight: normal;vertical-align: top; width: 25%; paddingtop: 0px; padding-bottom: 0px;">
                                                            Name:-
                                                        </td>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; border-right: solid 1px #000000; paddingtop: 0px; padding-bottom: 0px; ">
                                                            @ViewBag.Details.Tables[1].Rows[0]["dstn_br"].ToString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; paddingtop: 0px; paddingbottom: 0px; ">
                                                            Address:-
                                                        </td>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; border-right: solid 1px #000000; paddingtop: 0px; paddingbottom: 0px; ">
                                                            @ViewBag.Details.Tables[1].Rows[0]["Reciver_branch_add"].ToString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; paddingtop: 0px; paddingbottom: 0px; ">
                                                            State:-
                                                        </td>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; border-right: solid 1px #000000; paddingtop: 0px; paddingbottom: 0px;">
                                                            @ViewBag.Details.Tables[1].Rows[0]["state_name"].ToString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; >
                                                           State Code
                                                        </td>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; border-right: solid 1px #000000;">
                                                            @ViewBag.Details.Tables[1].Rows[0]["state_code"].ToString()
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; >

                                                            GSTIN/Unique ID:-
                                                        </td>
                                                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; border-right: solid 1px #000000;">
                                                            @ViewBag.Details.Tables[1].Rows[0]["gst_no"].ToString()
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table cellspacing="0" cellpadding="0" style="width: 100%;">
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight:normal;  width:20%; font-weight:bold; vertical-align:top;paddingleft:10px;">
                                                            Remarks
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 12px; font-weight:normal; font-weight:normal; vertical-align:top;">
                                                            @ViewBag.Details.Tables[1].Rows[0]["issue_rem"].ToString()
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0"
                           style="width:100%; font-size:12px; font-weight:normal;font-weight:normal; vertical-align:top; border: solid 1px #000000;border-collapse: collapse;">
                        
                        <thead>
                            <tr>
                                <th width="8%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>S.NO.</strong></th>
                                <th width="38%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>Description</strong></th>
                                <th width="15%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>HSN/SAC</strong></th>
                                <th width="10%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>Qty</strong></th>
                                <th width="10%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>UOM</strong></th>
                                <th width="8%" style="border-right: solid 1px #000000; paddingtop: 3px; paddingbottom: 3px;"><strong>Rate</strong></th>
                                <th width="10%"><strong>Amount</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            @foreach (DataRow dr in dt.Rows)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; paddingtop:0px; paddingbottom:0px;">
                                        @srno
                                    </td>
                                    <td style="paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000; paddingtop: 0px; paddingbottom: 0px;">
                                        @*@dr["item_name"]*@
                                        @if (ViewBag.PrintOption != null)
                                        {
                                            @dr["item_name"].ToString()

                                            if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                            {
                                                 @dr["item_tech_des"].ToString()
                                            }
                                            if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                            {
                                                if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                {
                                                    data = ViewBag.Details.Tables[4].DefaultView;
                                                    DataTable NewDT1 = new DataTable();
                                                    data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                    NewDT1 = data.ToTable();
                                                    <table width="100%" style="font-size: 11px; paddingtop:2px;">                                                       
                                                        @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                        {
                                                            if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                            {
                                                                <tr>
                                                                    @*<td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>*@
                                                                    <td width="65%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                    <td width="35%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["ord_qty_spec"]</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </table>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @dr["item_tech_des"].ToString()
                                            if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                            {
                                                data = ViewBag.Details.Tables[4].DefaultView;
                                                DataTable NewDT1 = new DataTable();
                                                data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                NewDT1 = data.ToTable();
                                                <table width="100%" style="font-size: 11px;">
                                                   
                                                    @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                    {
                                                        if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                        {
                                                            <tr>
                                                                @*<td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>*@
                                                                <td width="65%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                <td width="35%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["ord_qty_spec"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                </table>
                                            }
                                        }
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        @dr["HSN_code"]
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000; text-align: right; padding-right: 5px;">
                                        @dr["issue_qty"]
                                    </td>
                                    <td style="text-align:left; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        @dr["uom_alias"]
                                    </td>
                                    <td style="text-align:right; paddingright: 5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        @dr["price"]
                                    </td>

                                    <td style="text-align:right;paddingright: 5px;vertical-align:top;border-top: solid 1px #000000;">
                                        @dr["item_val"]
                                    </td>
                                </tr>
                                srno = srno + 1;
                            }
                            <tr>
                                <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                </td>
                                <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                </td>

                                <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                    <strong>Total</strong>
                                </td>
                                <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                    &nbsp;
                                </td>
                                <td style="text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                    &nbsp;
                                </td>
                                <td style="text-align: right; paddingright:5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                    &nbsp;
                                </td>
                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;">
                                    <strong> @ViewBag.Details.Tables[3].Rows[0]["total_val"].ToString()</strong>
                                </td>
                            </tr>

                            @*<tr>
            <td colspan="7">
                <table style="width: 100%; paddingleft: 0px; paddingright: 0px;" cellpadding="0" cellspacing="0">

                    <tr>
                        <td  style="paddingleft:5px;border-top: solid 1px #000000;width: 79px;">
                        </td>
                        <td  style="paddingleft:5px;border-top: solid 1px #000000;width: 79px;">
                        </td>

                        <td style="paddingleft:5px;border-left:solid 1px #000000; border-top: solid 1px #000000;">
                            <strong>Total</strong>
                        </td>
                        <td style="paddingleft:5px;border-left:solid 1px #000000; border-top: solid 1px #000000;">
                            &nbsp;
                        </td>
                        <td style="paddingleft:5px;border-left:solid 1px #000000; border-top: solid 1px #000000;">
                            &nbsp;
                        </td>
                        <td style="paddingleft:5px;border-left:solid 1px #000000; border-top: solid 1px #000000;">
                            &nbsp;
                        </td>
                        <td style="text-align:right;paddingright: 5px;border-top: solid 1px #000000;border-left: solid 1px #000000;">
                            <strong> @ViewBag.Details.Tables[3].Rows[0]["total_val"].ToString()</strong>
                        </td>
                    </tr>


                </table>
            </td>
        </tr>*@
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" style=" width:100%;border-collapse: collapse;">
                        <tr>
                            <td width="80%">
                                <table cellspacing="0" cellpadding="0" style=" width: 100%; paddingleft: 15px; paddingright: 20px;">
                                    <tr>
                                        <td style="font-size: 12px; font-weight:normal;vertical-align:top; ">
                                            <strong>Amount in Words :</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; font-weight:normal;vertical-align:top; ">
                                            @ViewBag.Details.Tables[3].Rows[0]["word"].ToString()
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px;  vertical-align:top; width:60%;">
                                            <strong>Terms &amp; Conditions :</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:60%;">
                                            Goods to be deliver at Greater Noida depot
                                            <br /> Goods in broken condition will be returned
                                            <br />Goods to be deliver at Greater Noida depot
                                            <br />Goods to be deliver at Greater Noida depot
                                        </td>
                                    </tr>*@
                                    <tr>
                                        <td style="font-size: 12px; font-weight:normal;vertical-align:top; width:60%;">
                                            <strong>Approved By :</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:60%;">
                                            Arvind Gupta
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 10px; font-weight:normal;padding: 10px 0px 0px 0px;  vertical-align:top; width:60%;">
                                            This is computer generated document.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20%" vertical-align="top">
                                <table cellspacing="0" cellpadding="0" style=" width:100%;border-collapse: collapse;">
                                    <tr>
                                        <td style="font-size: 12px; font-weight:bold;padding: 10px 0px 0px 0px; vertical-align:top; text-align:center;">
                                            For Alaska Exports
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; font-weight:bold;padding: 50px 0px 0px 0px; vertical-align:top; text-align:center;">
                                            <strong>Authorised Signatory</strong>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*<tr>
                <td style="font-size: 11px; font-weight:normal;padding: 10px 0px;  width:15%; text-align:right; font-style:italic;">
                    Page 1
                </td>
            </tr>*@
            </table>
        </div>
    </div>

</body>
</html>