@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MaterialIssue.MaterialTransferIssue.MaterialTransferIssueListModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 13-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }
    }
}
@*/*End to chk Financial year exist or not*/*@
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MaterialIssue/MaterialTransferIssue/MaterialTransferIssueList.js"></script>
<title>@Model.Title</title>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105102130103001")
                        {
                            <div id="" class="col-md-6 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddMaterialTransferIssueDetail","MaterialTransferIssue")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.TransferType
                                </label>
                                @Html.DropDownListFor(model => model.TRF_Type, new SelectList(new List<Object>
                             {
                                new { value = "0", text = "--Select--"  },

                                new { value = "B" , text = "Branch Transfer" },
                                 new { value = "W", text = "Warehosue Transfer"  }
                             }, "value", "text"), new { @class = "form-control", @id = "TransferType" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.DestinationBranch
                                </label>
                                @Html.DropDownListFor(model => model.to_br, new SelectList(Model.ToBranchList, "br_id", "br_val"), @*"---Select---",*@ new { @class = "form-control", id = "tobranch" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.DestinationWarehouse
                                </label>
                                @Html.DropDownListFor(model => model.to_wh, new SelectList(Model.ToWharehouseList, "wh_id", "wh_val"), @*"---Select---",*@ new { @class = "form-control", id = "toWh" })
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.FromDate
                                </label>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.ToDate
                                </label>
                                @if (Model.MTO_ToDate != null)
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.MTO_ToDate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }

                            </div>
                            <div class="col-md-2 col-sm-12 no-padding">
                                <div class="col-md-9 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Status <span class="required">*</span>
                                    </label>
                                    @Html.DropDownListFor(model => model.MTIStatus, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="MTIList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMtiList.cshtml")*@
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMTIList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
