@using System.Data;
@{
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    DataTable dt = new DataTable();

    if (ViewBag.Details != null)
    {
        if (ViewBag.trf_type == "W")
        {
            dt = ViewBag.Details.Tables[2];
        }
        else
        {
            dt = ViewBag.Details.Tables[3];


        }
    }

    var srno = 1;


}
@if (ViewBag.trf_type == "W")
{
    <style>
        #dtlTable, #dtlTable td, #dtlTable th {
            border: 0.5px solid black;
        }
    </style>
    <div style='background: url(@BackGroundImgUrl) no-repeat ; height:800px; backgroundposition: center center;'>
        @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeaderWithAddrSampleIssue.cshtml")

        <table width='100%' style="verticalalign:top;">
            <tr>
                <td style="verticalalign:top;">
                    <table style='width:100%;verticalalign:top;'>
                        <tr>
                            <td style='width:10px;'></td>
                            <td style="verticalalign:top;">
                                <table style='width:100%;border:solid 1px #000000;'>
                                    <tr>
                                        <td style='width: 50%; border-right: solid 1px #000000; verticalalign:top; padding: 0px; '>
                                            <table class="suppInfo" style=''>
                                                <tr><td style=""><strong> Branch : </strong> @ViewBag.Details.Tables[0].Rows[0]["br_name"].ToString() </td></tr>
                                                <tr><td><strong> Issue Number : </strong> @ViewBag.Details.Tables[1].Rows[0]["issue_no"].ToString()</td></tr>
                                                <tr><td><strong> Issue Date : </strong> @ViewBag.Details.Tables[1].Rows[0]["issue_date"].ToString()</td></tr>
                                                <tr><td><strong> Requisition Number : </strong>@ViewBag.Details.Tables[1].Rows[0]["req_no"].ToString()</td></tr>
                                                <tr><td><strong> Requisition Date : </strong>@ViewBag.Details.Tables[1].Rows[0]["mrs_dt"].ToString()</td></tr>
                                            </table>
                                        </td>
                                        <td style='width:50%; verticalalign:top; padding:0px;'>
                                            <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                                <tr><td><strong> Source Branch  : </strong>@ViewBag.Details.Tables[1].Rows[0]["src_br"].ToString()</td></tr>
                                                <tr><td><strong> Source Warehouse :  </strong> @ViewBag.Details.Tables[1].Rows[0]["src_wh"].ToString()</td></tr>
                                                <tr><td><strong> Destination Branch  : </strong> @ViewBag.Details.Tables[1].Rows[0]["dstn_br"].ToString()</td></tr>
                                                <tr><td><strong> Destination Warehouse  : </strong> @ViewBag.Details.Tables[1].Rows[0]["dstn_wh"].ToString()</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>

                        <tr>
                            <td style='width:10px;'></td>
                            <td>
                                <table id="dtlTable" cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px;  font-weight:normal; verticalalign:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="5%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> S.NO.</strong></th>
                                            <th width="20%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> Item Name</strong></th>
                                            <th width="15%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> UOM</strong></th>
                                            <th width="15%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> Requisition Quantity</strong></th>
                                            <th width="15%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> Issued Quantity</strong></th>
                                            <th width="15%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:2px;'><strong> Remarks</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow dr in dt.Rows)
                                        {
                                            <tr>
                                                <td style='text-align:center; width:5%;'>@srno</td>
                                                <td width="20%" style='text-align: left; paddingleft:5px;paddingtop:5px;paddingbottom:2px;'>@dr["item_name"]</td>

                                                <td width="15%" style='text-align: left; paddingleft:5px; paddingtop:4px; paddingbottom:2px; text-align: center;'>@dr["uom_alias"]</td>
                                                <td width="15%" style='text-align: left; paddingleft:5px; paddingtop:4px; paddingbottom:2px;'>@dr["req_qty"]</td>
                                                <td width="15%" style='text-align: left; paddingleft:5px; paddingtop:4px; paddingbottom:2px; text-align:center;'>@dr["issue_qty"]</td>
                                                <td width="15%" style='text-align: left; paddingleft:5px; paddingtop:4px; paddingbottom:2px;'>@dr["it_remarks"]</td>

                                            </tr>
                                            srno = srno + 1;
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        @Html.Partial("~/Areas/Common/Views/Cmn_SampleIssue_PrintFooter.cshtml")
    </div>
}
else
{
    string lpath = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.FLogoPath))
    {
        lpath = ViewBag.FLogoPath.ToString();
    }
    DataView data = new DataView();
    <body style="font-family: Arial, Helvetica, sans-serif; padding:0px; margin:0px;">
        <div style="width:100%; background-color:#000000">
            <div style="width:850px; margin:0 auto; background:url(@BackGroundImgUrl) no-repeat #ffffff; background-position: center center ">
                <table cellspacing="0" cellpadding="0" style="width:850px; paddingleft:15px; paddingright:20px;">
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="paddingleft: 0px; paddingright:0px;">
                                <tr>
                                    <td width="15%"> <img src="@lpath" alt="Logo" width="90" /> </td>
                                    <td width="65%" style="text-align: center;">
                                        <span style="font-size: 20px; font-weight:bold;">@ViewBag.Details.Tables[0].Rows[0]["comp_nm"] </span>  <br />
                                        <span style="font-size: 12px; font-weight:bold;">
                                            Works:-@ViewBag.Details.Tables[0].Rows[0]["Comp_Add"] @ViewBag.Details.Tables[0].Rows[0]["city_name"],<br />
                                            Distt:- @ViewBag.Details.Tables[0].Rows[0]["district_name"], @ViewBag.Details.Tables[0].Rows[0]["Pin_code"] (@ViewBag.Details.Tables[0].Rows[0]["state_name"])<br />
                                            Phone:-  @ViewBag.Details.Tables[0].Rows[0]["contact_no"] <br />
                                        </span>
                                        <span style="font-size: 12px; font-weight:normal;">
                                            PAN No:- @ViewBag.Details.Tables[0].Rows[0]["pan_no"], GSTIN No:- @ViewBag.Details.Tables[0].Rows[0]["gst_no"]
                                        </span>
                                    </td>
                                    <td width="20%"
                                        style="font-size: 11px; font-weight:normal; text-align: right; font-style: italic; verticalalign:top;">
                                        @System.DateTime.Now.ToString("dd-MM-yyyy hh:mm tt")
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" style="paddingleft: 0px; paddingright:0px;">
                                <tr>
                                    <td style="font-size: 18px;text-align: center;font-weight:bold; paddingtop: 15px; width: 100%;">
                                        Delivery Challan
                                    </td>

                                </tr>
                                <tr>
                                    <td style="font-size: 12px; text-align: right; font-weight:bold;  paddingbottom: 10px; width: 100%;">
                                        STATE CODE-@ViewBag.Details.Tables[1].Rows[0]["state_code"]
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: solid 2px #000000;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" style=" width: 100%; border-left: solid 1px #000000; border-right: solid 1px #000000;">
                                <tbody>
                                    <tr>
                                        <td style="font-size: 12px; font-weight: normal; paddingleft: 10px; paddingtop:5px; paddingbottom:10px; width: 20%; vertical-align:top; font-weight: bold;">

                                            Challan No:-
                                            <br />Challan Date:-
                                            <br /><div style="width:100%; text-decoration:underline;marginbottom:50px;">Details of Receiver </div>
                                            <br />Name:-                                            
                                            <br />Address:-                                            
                                            <br /> <br />State:-                                           
                                            <br />State Code                                            
                                            <br />GSTIN/Unique ID:-                                           

                                            @*<br />Packing List No:-
        <br />Packing List Date:-*@
                                        </td>
                                        <td style="font-size: 12px; font-weight: normal; paddingleft: 10px; paddingtop:5px; paddingbottom:10px; width: 30%; vertical-align:top; font-weight: normal; border-right: solid 1px #000000;">
                                            @ViewBag.Details.Tables[1].Rows[0]["issue_no"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["issue_date"].ToString()
                                        <br /><div style="width:100%; text-decoration:underline;marginbottom:50px; color:#ffffff;">&nbsp; </div>
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["dstn_br"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["Reciver_branch_add"].ToString()
                                            @ViewBag.Details.Tables[1].Rows[0]["state_name"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["state_code"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["gst_no"].ToString()







                                            @*<br /> @ViewBag.Details.Tables[1].Rows[0]["pack_listno"].ToString()
        <br />@ViewBag.Details.Tables[1].Rows[0]["pack_dt"].ToString()*@
















                                        </td>
                                        <td style="font-size: 12px; font-weight: normal; paddingleft: 10px; paddingtop:5px; paddingbottom:10px; width: 21%; font-weight: bold; vertical-align:top; ">
                                            Mode of Transport:-
                                            <br />Veh. No:-
                                            <br />Gr No:-
                                            <br />Gr Date:-
                                            <br />Name of Transporter:-
                                            <br />Place of Supply:-
                                            <br />Remarks:-
                                        </td>
                                        <td style="font-size: 12px; font-weight: normal; paddingleft: 10px; paddingtop:5px; paddingbottom:10px; width: 29%; font-weight: normal; vertical-align:top;">
                                            @ViewBag.Details.Tables[2].Rows[0]["trans_mode"].ToString()
                                            <br /> @ViewBag.Details.Tables[2].Rows[0]["veh_number"].ToString()
                                            <br />@ViewBag.Details.Tables[2].Rows[0]["gr_no"].ToString()
                                            <br />@ViewBag.Details.Tables[2].Rows[0]["gr_dt"].ToString()
                                            <br />@ViewBag.Details.Tables[2].Rows[0]["trans_name"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["reciver_city"].ToString()
                                            <br />@ViewBag.Details.Tables[1].Rows[0]["issue_rem"].ToString()
                                        </td>
                                    </tr>                                    <!--<tr>
                                        <td colspan="4" style="border-top: solid 1px #000000; verticalalign:top;">
                                            <table width="100%" cellspacing="0" cellpadding="0" style="paddingleft:0px; paddingright:0px; paddingtop:0px; paddingbottom:0px;">
                                                <tr>
                                                    <td width="399" style="paddingleft: 0px; paddingright: 0px; paddingtop:0px; paddingbottom:10px; verticalalign:top; border-right: solid 1px #000000;">
                                                        <table cellspacing="0" cellpadding="0" style="width: 100%; paddingleft:0px; paddingright:0px; paddingtop:0px; paddingbottom:0px; verticalalign:top;">

                                                            <tr>
                                                                <td colspan="2" style="font-size: 12px; font-weight: normal; width: 100%; font-weight: bold; vertical-align:top; paddingtop:10px;">
                                                                    Details of Receiver
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal;width:25%;">
                                                                    Name:-
                                                                </td>
                                                                <td style="font-size: 12px; font-weight:normal;width:75%;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["dstn_br"].ToString()
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal;width:25%;">
                                                                    Address:-
                                                                </td>
                                                                <td style="font-size: 12px; font-weight:normal;width:75%;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["Reciver_branch_add"].ToString()
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal;width:25%;">
                                                                    State:-
                                                                </td>
                                                                <td style="font-size: 12px; font-weight:normal;width:75%;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["state_name"].ToString()
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal;width:25%;">
                                                                    State Code
                                                                </td>
                                                                <td style="font-size: 12px; font-weight:normal;width:75%;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["state_code"].ToString()
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal;width:25%;">

                                                                    GSTIN/Unique ID:-
                                                                </td>
                                                                <td style="font-size: 12px; font-weight:normal;width:75%;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["gst_no"].ToString()
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>-->

                                                    @*<td style="paddingleft:5px; paddingtop:0px; verticalalign:top;">
                                                        <table cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight: normal; width: 100%; font-weight: bold; paddingtop:0px; verticalalign:top; ">
                                                                    Remarks
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; font-weight:normal; font-weight:normal; verticalalign:top;">
                                                                    @ViewBag.Details.Tables[1].Rows[0]["issue_rem"].ToString()
                                                                </td>

                                                            </tr>
                                                        </table>
                                                    </td>*@
                                                <!--</tr>
                                            </table>
                                        </td>
                                    </tr>-->

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" style="width: 100%; font-size: 12px; font-weight:normal; font-weight:normal; verticalalign:top; border: solid 1px #000000; paddingtop:0px; paddingbottom:0px; ">

                                <thead>
                                    <tr>
                                        <th width="7%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>S.NO.</strong></th>
                                        <th width="40%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>Description</strong></th>
                                        <th width="15%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>HSN/SAC</strong></th>
                                        <th width="10%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>Qty</strong></th>
                                        <th width="8%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>UOM</strong></th>
                                        <th width="10%" style="border-right: solid 1px #000000; paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>Rate</strong></th>
                                        <th width="10%" style="paddingtop:4px; paddingbottom:2px; paddingleft:5px; "><strong>Amount</strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (DataRow dr in dt.Rows)
                                    {
                                        <tr>
                                            <td style="text-align: center; paddingtop:4px; paddingbottom:2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                @srno
                                            </td>
                                            <td style="paddingleft: 5px; paddingtop:4px; paddingbottom:2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                @*@dr["item_name"]*@
                                                @if (ViewBag.PrintOption != null)
                                                {

                                                    @dr["item_name"].ToString()
                                                    if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                    {
                                                        <br /> @dr["item_tech_des"].ToString()
                                                    }
                                                    else
                                                    {

                                                    }
                                                    if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                                    {
                                                        if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                        {
                                                            data = ViewBag.Details.Tables[4].DefaultView;
                                                            DataTable NewDT1 = new DataTable();
                                                            data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                            NewDT1 = data.ToTable();
                                                            <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                                <tr><td></td></tr>
                                                                @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                {
                                                                    if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                    {
                                                                        <tr>
                                                                            @*<td width="10%" style="paddingtop:0px;paddingbottom:0px;"></td>*@
                                                                            <td width="65%">@drsubitm["sub_item_name"] </td>
                                                                            <td width="35%" style="text-align: right;paddingright:5px;"> @drsubitm["ord_qty_spec"]</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    @dr["item_tech_des"].ToString()
                                                    if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                    {
                                                        data = ViewBag.Details.Tables[4].DefaultView;
                                                        DataTable NewDT1 = new DataTable();
                                                        data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                        NewDT1 = data.ToTable();
                                                        <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                            <tr><td></td></tr>
                                                            @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                            {
                                                                if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                                {
                                                                    <tr>
                                                                        @*<td width="10%" style="paddingtop:0px;paddingbottom:0px;"></td>*@
                                                                        <td width="65%" style="paddingtop:0px; paddingbottom:0px;">@drsubitm["sub_item_name"] </td>
                                                                        <td width="35%" style="text-align: right; paddingtop:0px; paddingbottom:0px; paddingright:5px;"> @drsubitm["ord_qty_spec"]</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                    }
                                                }
                                            </td>
                                            <td style="paddingleft:5px; paddingtop:4px; paddingbottom:2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000; ">
                                                @dr["HSN_code"]
                                            </td>
                                            <td style="paddingleft:5px; paddingtop:4px; paddingbottom:2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000; text-align: right; paddingright: 5px;">
                                                @dr["issue_qty"]
                                            </td>
                                            <td style="text-align: left; paddingleft:5px; paddingtop:4px; paddingbottom:2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                @dr["uom_alias"]
                                            </td>
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                                @dr["price"]
                                            </td>

                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000;">
                                                @dr["item_val"]
                                            </td>
                                        </tr>
                                        srno = srno + 1;
                                    }
                                    <tr>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                            <strong>Total</strong>
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000; border-right: solid 1px #000000;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; vertical-align:top; border-top: solid 1px #000000;">
                                            <strong> @ViewBag.Details.Tables[3].Rows[0]["total_val"].ToString()</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" style=" width: 100%; border-collapse: collapse; paddingleft: 0px; paddingright: 0px;">
                                <tr>
                                    <td width="80%">
                                        <table cellspacing="0" cellpadding="0" style=" width: 100%; border-collapse: collapse; paddingleft: 0px; paddingright: 0px;">
                                            <tr>
                                                <td style="font-size: 12px; font-weight:normal;verticalalign:top; paddingtop:20px; ">
                                                    <strong>Amount in Words :</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; font-weight:normal; paddingtop:4px; verticalalign:top; ">
                                                    @ViewBag.Details.Tables[3].Rows[0]["word"].ToString()
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="font-size: 12px; font-weight:normal; paddingtop:10px; verticalalign:top; width: 60%;">
                                                    <strong>Approved By :</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; font-weight:normal; paddingtop:4px; verticalalign:top; width: 60%;">
                                                    @ViewBag.Details.Tables[1].Rows[0]["user_nm"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 10px; font-weight:normal; paddingtop:10px; verticalalign:top; width: 60%;">
                                                    This is computer generated document.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" vertical-align="top">
                                        <table cellspacing="0" cellpadding="0" style=" width:100%;border-collapse: collapse;">
                                            <tr>
                                                <td style="font-size: 12px; font-weight:bold; paddingtop: 20px; verticalalign:top; text-align: center;">
                                                    For   @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()
                                                </td>
                                            </tr>
                                            @if (ViewBag.DigiSign != null)
                                            {
                                                <tr>
                                                    <td style="font-size: 12px; font-weight:bold;padding: 0px 0px 0px 0px; vertical-align:top; text-align:center;">
                                                        <img src="@ViewBag.DigiSign.ToString()" alt="Logo" width="150" />
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="font-size: 12px; font-weight:bold; paddingtop: 50px; verticalalign:top; text-align: center;">
                                                    <strong>Authorised Signatory</strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
}
