@using EnRepMobileWeb.MODELS.Common;
@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @*<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                    <span class="step_no">1</span>
                                </a>
                            </li>
                        </ul>
                        <input type="hidden" id="hdDoc_No" value="">
                    </div>*@
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        @*<li>
                                <button class="add"
                                        title="@Resource.AddNew" disabled type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                            </li>*@
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                        </li>
                        @*<li>
                                <button class="delete"
                                        title="@Resource.Delete" disabled type="submit" id="btn_del" name="Command" value="Delete"></button>
                            </li>*@
                        <li>
                            <button class="save"
                                    title="@Resource.Save" type="submit" onclick="" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        @* <li>
                                <button class="forward"
                                        title="@Resource.Forward" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                            </li>
                            <li>
                                <button class="approve"
                                        title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                            </li>
                            <li>
                                <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                            </li>*@
                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        @*<li>
                                <button class="back"
                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>*@
                    </ul>
                </div>
                <div class="clearfix"></div>
                <!--<div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">-->
                <!--<span>Collapsible / Accordion </span>-->
                <!--<div class="approved_by">
                            <ul>
                                <li>
                                    <span>@Resource.CreatedBy<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.Createdon<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedBy<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedBy<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.Status<br /><b></b></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="col-md-3 col-sm-12 pl-0">
                    <label class="col-form-label label-align">@Resource.CustomerName <span class="required">*</span></label>
                    <select class="form-control" id="CustomerName" name="Status">
                        <option value="">All</option>
                        <option value="">AB Supplier Test</option>
                        <option value="">A.ASWIN11sdadasdas</option>
                        <option value="">A.ASWIN1ABCXV</option>
                        <option value="">AAY ESS CASTINGS</option>
                        <option value="">AB SUPPLIRE</option>
                        <option value="">AB_TEST SUPPLIER</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12 pl-0">
                    <label class="col-form-label label-align">@Resource.OrderNumber <span class="required">*</span></label>
                    <select class="form-control" id="OrderNumber" name="Status">
                        <option value="">All</option>
                        <option value="">B1/01/25/DPO0000003</option>
                        <option value="">B1/01/25/DPO0000002</option>
                        <option value="">B1/12/24/DPO0000004</option>
                        <option value="">B1/12/24/DPO0000003</option>
                        <option value="">B1/12/24/DPO0000002</option>
                        <option value="">T/DPO/0000585</option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-12 pl-0">

                    <div class="col-md-5 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.OrderDate</label>
                        <input value="" class="form-control" disabled="disabled" id="OrderDate" maxlength="20" name="OrderDate" placeholder="@Resource.OrderDate" readonly="readonly" type="date">
                    </div>
                    <div class="col-md-5 col-sm-12 pl-0 pr-0">
                        <label class="col-form-label label-align">@Resource.ExportFileNumber</label>
                        <input value="" class="form-control" disabled="disabled" id="ExportFileNumber" maxlength="20" name="ExportFileNumber" placeholder="@Resource.ExportFileNumber" readonly="readonly" type="text">
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterPQListData()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="card-box table-responsive dy_table">
                    <div class="price_item_detail">
                        <div class=" col-sm-12 pl-0">
                            <div class="tableFixHead">
                                @*<h2>@Resource.ItemDetail</h2>*@
                                <table id="" class="table table-bordered itmfrz mt-3">
                                    <thead>
                                        <tr class="headings">
                                            <th width="2%"></th>
                                            <th width="2%"></th>
                                            @*<th width="5%">@Resource.SrNo</th>*@
                                            @*<th width="17%">@Resource.Date <span class="required">*</span></th>*@
                                            @*<th width="17%">
                                                    <div class="col-md-3 col-sm-12"></div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <span class="item_add">
                                                            @Resource.Date <span class="required">*</span>
                                                        </span> <a href="#">

                                                            <div>   <i id="BtnAddItem"></i> </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12"></div>
                                                </th>*@
                                            <th width="17%">
                                                <div class="col-md-3 col-sm-12"></div>
                                                <div class="col-md-6 col-sm-12">
                                                    <span class="item_add">
                                                        @Resource.Date <span class="required">*</span>
                                                    </span> <a href="#">

                                                        <div class="plus_icon1 Plus_IconToDisable" id="listitemdelbtn">  <i class="fa fa-plus" id="BtnAddItem" onclick="AddNewRow()" title="Add New"></i>  </div>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 col-sm-12"></div>
                                            </th>
                                            <th width="20%"> @Resource.DocumentNumber </th>
                                            <th width="15%">@Resource.DocumentDate</th>
                                            <th width="40%">@Resource.Status <span class="required">*</span></th>
                                            <th width="2%"></th>
                                            <th width="2%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center sorting_1 pt-2">
                                                <i type="submit" class="fa fa-edit" onclick="" aria-hidden="true" title="@Resource.Edit"></i>
                                            </td>
                                            <td class=" red center">
                                                <i class="deleteIcon fa fa-trash" aria-hidden="true" title="Delete"></i>
                                            </td>
                                            @*<td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="@Resource.SrNo" readonly="readonly"></td>*@
                                            <td>
                                                <input class="form-control" id="txtFromdate" max="2024-09-17" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-09-01">
                                            </td>
                                            <td>
                                                <input id="DocumentNumber " class="form-control" name="DocumentNumber " placeholder="@Resource.DocumentNumber " readonly="readonly">
                                            </td>
                                            <td>
                                                <input class="form-control" id="txtFromdate" max="2024-09-17" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-09-01" readonly="readonly">
                                            </td>

                                            <td>
                                                <textarea class="form-control remarksmessage" cols="20" id="remarks" maxlength="300" name="Remarks" placeholder="Remarks" rows="2" onmouseover="OnMouseOver(this)" title=""></textarea>
                                            </td>
                                            <td class="center sorting_1 pt-1">
                                                @*<i class="fa fa-paperclip" aria-hidden="true"></i>*@
                                                <i type="submit" class="fa fa-paperclip tracking-attach" onclick="" aria-hidden="true" title="@Resource.Attachment"></i>
                                                @*<button class="tracking-attach" title="@Res ource.Attachment" disabled="" type="submit" id="btn_edit" name="Command" value="" onclick="EnableEditkBtn()"></button>*@
                                            </td>
                                            <td class="center sorting_1 ">
                                                @*<i class="fa fa-file-pdf-o" aria-hidden="true"></i>*@
                                                @*<i type="submit" class="fa fa-file-pdf-o" onclick="" aria-hidden="true" title="@Resource.Print"></i>*@
                                                <button class="tracking-pdf" title="Edit" disabled="" type="submit" id="btn_edit" name="Command" value="" onclick="EnableEditkBtn()"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
