@model EnRepMobileWeb.MODELS.BusinessLayer.DocApproval.DocApprovalModel
@using EnRepMobileWeb.Resources;

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/DocApproval/DocApproval.js"></script>
<title>@Model.Title</title>
@{ if (Model.Message != null)
    {
        var message = Model.Message;
    <script type="text/javascript">
        if ("@message" == "Save") {
            $("#hdnSavebtn").val("");
                    swal("", $("#savemsg").text(), "success");
                }
        if ("@message" == "Deleted") {
            $("#hdnSavebtn").val("");
                    swal("", $("#deletemsg").text(), "success");
            }
        if ("@message" == "Used") {
            $("#hdnSavebtn").val("");
                 swal("", $("#WorkflowIsUnderProcessCannotBeModified").text(), "warning");
        }
        if ("@message" == "UnableToDelete") {
            $("#hdnSavebtn").val("");
            swal("", $("#WorkflowIsUnderProcessCannotBeDelete").text(), "warning");
                }
    </script>
    }
    if (Model.TransType != null)
    {
        if (Model.TransType.ToString() == "Edit")
        //if (Session["TransType"].ToString() == "Edit")
        {
            <script>
                $(document).ready(function () {
                    $("#BranchName").prop("disabled", true);
                    $("#Doc").prop("disabled", true);
                    $("#UserName").prop("disabled", true);
                    $("#Level").prop("disabled", true);
                    $("#Limit").prop("disabled", true);
                })
            </script>
        }
        if (Model.TransType.ToString() == "Update")
        //if (Session["TransType"].ToString() == "Update")
        {
            <script>
                $(document).ready(function () {
                    $("#BranchName").prop("disabled", true);
                    $("#Doc").prop("disabled", true);
                    $("#UserName").prop("disabled", false);
                    $("#Level").prop("disabled", false);
                    $("#Limit").prop("disabled", false);
                    autocompleteuser();
                })
            </script>
        }
    }
}

@using (Html.BeginForm("SaveDocAppDetails", "DocApproval", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken(){

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName </h2>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["btnName"].ToString();
                                var btnName = Model.btnName.ToString();
                                switch (btnName)
                                {
                                    case "AddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btnEdit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btnSave" onclick="return InsertDocAppDetail();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>                                        
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Save":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" type="submit" onclick="EnableActStat();" id="btnEdit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                        </li>
                                                       
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btnSave" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>                                          
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Update":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btnEdit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btnSave" onclick="return InsertDocAppDetail();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>                                           
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Refresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btnEdit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btnSave" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>                                           
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "dblClick":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {
                                                            <li>
                                                                <button class="edit"
                                                                        title="@Resource.Edit" type="submit" onclick="EnableActStat();" id="btnEdit" name="Command" value="Edit"></button>
                                                            </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                            <li>
                                                                <button class="delete"
                                                                        onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                            </li>
                                                       
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btnSave" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>                                           
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103140001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btnEdit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103140004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btnDelete" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btnSave" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btnRefresh" onclick="mandatorydisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                                @*switch (btnName)
            {
                case "AddNew":
                    <ul>
                        <li>
                            <button class="add" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                        </li>
                        <li>
                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Edit" type="submit" disabled style="filter: grayscale(100%)" onclick="" id="btnEdit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Delete" type="submit" disabled style="filter: grayscale(100%)" id="btnDelete" onclick="return functionConfirm()" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Save" type="submit" id="btnSave" onclick="return InsertDocAppDetail()" name="Command" value="Save"></button>
                        </li>


                        <li>
                            <button class="refresh" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Refresh" type="submit" id="btnRefresh" name="Command" value="Refresh"></button>
                        </li>

                        <li>
                            <button class="back" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "Refresh":
                    <ul>
                        <li>
                            <button class="add" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.AddNew" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                        </li>
                        <li>
                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Edit" type="submit" disabled style="filter: grayscale(100%)" onclick="" id="btnEdit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Delete" type="submit" disabled style="filter: grayscale(100%)" id="btnDelete" onclick="return functionConfirm()" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Save" type="submit" disabled style="filter: grayscale(100%)" id="btnSave" onclick="return InsertDocAppDetail()" name="Command" value="Save"></button>
                        </li>


                        <li>
                            <button class="refresh" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Refresh" type="submit" disabled style="filter: grayscale(100%)" id="btnRefresh" name="Command" value="Refresh"></button>
                        </li>

                        <li>
                            <button class="back" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "Update":
                    <ul>
                        <li>
                            <button class="add" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.AddNew" type="submit" disabled style="filter: grayscale(100%)" id="btnAdd" name="Command" value="AddtoList"></button>
                        </li>
                        <li>
                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Edit" type="submit" disabled style="filter: grayscale(100%)" onclick="" id="btnEdit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Delete" type="submit" disabled style="filter: grayscale(100%)" id="btnDelete" onclick="return functionConfirm()" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Save" type="submit" id="btnSave" onclick="return InsertDocAppDetail()" name="Command" value="Save"></button>
                        </li>


                        <li>
                            <button class="refresh" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btnRefresh" name="Command" value="Refresh"></button>
                        </li>


                        <li>
                            <button class="back" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "dblClick":
                    <ul>
                        <li>
                            <button class="add" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.AddNew" type="submit" disabled style="filter: grayscale(100%)" id="btnAdd" name="Command" value="AddtoList"></button>
                        </li>
                        <li>
                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Edit" type="submit" onclick="" id="btnEdit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Delete" type="submit" id="btnDelete" onclick="return functionConfirm()" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Save" type="submit" disabled style="filter: grayscale(100%)" id="btnSave" onclick="return InsertDocAppDetail()" name="Command" value="Save"></button>
                        </li>


                        <li>
                            <button class="refresh" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Refresh" type="submit" id="btnRefresh" name="Command" value="Refresh"></button>
                        </li>

                        <li>
                            <button class="back" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "Save":
                    <ul>
                        <li>
                            <button class="add" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.AddNew" type="submit" id="btnAdd" name="Command" value="AddtoList"></button>
                        </li>
                        <li>
                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Edit" type="submit" onclick="" id="btnEdit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Delete" type="submit" id="btnDelete" onclick="return functionConfirm()" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Save" type="submit" disabled style="filter: grayscale(100%)" id="btnSave" onclick="return InsertDocAppDetail()" name="Command" value="Save"></button>
                        </li>


                        <li>
                            <button class="refresh" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Refresh" type="submit" disabled style="filter: grayscale(100%)" id="btnRefresh" name="Command" value="Refresh"></button>
                        </li>

                        <li>
                            <button class="back" data-toggle="tooltip" data-placement="top"
                                    title="@Resource.Back" type="submit" id="btnBacktoList" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;

            }*@

                            }

                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li><span>@Resource.CreatedBy<br><b id="GLCreatedBy">@Model.createid</b></span></li>
                                        <li><span>@Resource.Createdon<br><b id="GLCreatedDate">@Model.createdt</b></span></li>
                                        <li><span>@Resource.AmendedBy<br><b id="GLAmdedBy">@Model.modid </b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b id="GLAmdedDate">@Model.moddt </b></span></li>
                                    </ul>
                                    @Html.HiddenFor(m => m.TransType, new { @Value = Model.TransType })
                                    @Html.HiddenFor(m => m.hdnSavebtn, new { @id= "hdnSavebtn" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <div class="row">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">
                                                @Resource.BranchName <span class="required">*</span>
                                            </label>
                                            @Html.DropDownListFor(model => model.Branch_id, new SelectList(Model._branchList, "BranchID", "BranchName"), "---select---", new
                                            {
                                                @class = "form-control",
                                                @id = "BranchName",@*onclick = "OnChangeBranchName()",*@onchange = "OnChangeBranchName()"
})
                                            @Html.HiddenFor(model => model.Branch_id, new { @id = "hdnBranch_id" })
                                            @Html.ValidationMessageFor(model => model.Branch_id, "", new { @class = "text-danger", @id = "vmbranchname" })


                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">
                                                @Resource.Document <span class="required">*</span>
                                            </label>
                                            @Html.DropDownListFor(model => model.Doc_id, new SelectList(Model._docList, "DocID", "Document"), "---select---", new { @class = "form-control", @id = "Doc", onclick = "OnChangeDocumentddl()", onchange = "OnChangeDocumentddl()" })

                                            <input type="hidden" id="doc_search" value='@Url.Action("Documentlist", "DocApproval")' />
                                            @Html.HiddenFor(model => model.Doc_id, new { @id = "hdnDoc_id" })
                                            @Html.ValidationMessageFor(model => model.Doc_id, "", new { @class = "text-danger", @id = "vmdoc" })
                                            @Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })

                                            <span id="spanacctype" class="error_message"></span>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">
                                                @Resource.Level <span class="required">*</span>
                                            </label>

                                            <select class="form-control" id="Level" onchange="OnChangeLevelddl();" onclick="OnChangeLevelddl()">
                                                <option value="0">---Select---</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <span id="vmlevel" class="error_message"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">
                                                @Resource.UserName <span class="required">*</span>
                                            </label>
                                            @Html.DropDownListFor(model => model.Username, new SelectList(""), "---select---", new { @class = "form-control", @id = "UserName", onclick = "OnChangeUserNameddl()", onchange = "OnChangeUserNameddl()" })
                                            <input type="hidden" id="UserName_search" value='@Url.Action("Userlist", "DocApproval")' />
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @id = "vmusername" })
                                            <span id="SpanUsername" class="error_message"></span>
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">
                                                @Resource.Limit
                                            </label>
                                            <input id="Limit" tabindex="" onkeypress="return AllowOnlyNumValue(this, event)" onchange="return AllowOnlyNumValue(this, event)" class="form-control num_right" data-validate-length-range="6" data-validate-words="2" name="Limit"
                                                   placeholder="0000.00" />
                                            <span id="vmlimit" class="error_message"></span>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            @{
                                                if (Model.TransType.ToString() == "Edit")
                                                //if (Session["TransType"].ToString() == "Edit")
                                                {
                                                    <div class="plus_icon2"> <i class="fa fa-plus" id="BtnAttribute" onclick="" title="Add New"></i> </div>

                                                }
                                                else
                                                {
                                                    <a href="#">
                                                        <div class="plus_icon2"> <i class="fa fa-plus" id="BtnAttribute" onclick="AddUserDetails()" title="Add New"></i> </div>
                                                    </a>
                                                }
                                            }
                                            @*<div class="plus_icon"> <i class="fa fa-plus" id="BtnAttribute" onclick="AddUserDetails()" title="Add New"></i> </div>*@
                                        </div>
                                        <div class="col-md-12 col-sm-12 margin15">
                                            <div class="table-responsive">
                                                @Html.HiddenFor(model => model.UserDetailslist, new { @id = "hdnUserlist" })
                                                <table class="table table-striped jambo_table bulk_action" id="tblShorting">
                                                    @*ItmAttributeListTbl*@
                                                    <thead>
                                                        <tr class="headings">
                                                            <th>&nbsp; </th>
                                                            <th>@Resource.Level</th>
                                                            <th style="display:none;"></th>
                                                            <th>@Resource.UserName </th>
                                                            <th style="display:none;"></th>
                                                            <th>@Resource.Limit</th>
                                                            <th width="35%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="DocAppTBody">
                                                        @{
                                                            if (Model.TransType.ToString() == "Edit")
                                                            //if (Session["TransType"].ToString() == "Edit")
                                                            {
                                                                var i = 0;
                                                                if (Model.Data != null)
                                                                    //if (ViewBag.Data != null)
                                                                    {
                                                                        foreach (System.Data.DataRow dr in Model.Data.Rows)
                                                                        {
                                                                            i = i + 1;

                                                                        <tr id="@i">
                                                                            <td class=" red center"> <i class=" fa fa-trash" aria-hidden="true"></i></td>
                                                                            <td class=" " id="levelid">@dr["level"].ToString()</td>
                                                                            <td class=" " hidden="hidden" id="hdnlevel">@dr["level"].ToString()</td>
                                                                            <td class=" " id="usernmid">@dr["user_nm"].ToString()</td>
                                                                            <td class=" " hidden="hidden" id="hdnuser">@dr["user"].ToString()</td>
                                                                            <td class=" num_right" id="limitid">@dr["limit"].ToString()</td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var i = 0;
                                                                if (Model.Data != null)
                                                                    //if (ViewBag.Data != null)
                                                                    {
                                                                        foreach (System.Data.DataRow dr in Model.Data.Rows)
                                                                        {
                                                                            i = i + 1;
                                                                        <tr id="@i">
                                                                            <td class=" red center"> <i class="deleteIcon fa fa-trash" aria-hidden="true"></i></td>
                                                                            <td class=" " id="levelid">@dr["level"].ToString()</td>
                                                                            <td class=" " hidden="hidden" id="hdnlevel">@dr["level"].ToString()</td>
                                                                            <td class=" " id="usernmid">@dr["user_nm"].ToString()</td>
                                                                            <td class=" " hidden="hidden" id="hdnuser">@dr["user"].ToString()</td>
                                                                            <td class=" " id="limitid">@dr["limit"].ToString()</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- page content end -->
<!-- page content end -->
