@model EnRepMobileWeb.MODELS.BusinessLayer.DocApproval.DocApprovalModel
@using EnRepMobileWeb.Resources;

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/DocApproval/DocApproval.js"></script>
<title>@Model.Title</title>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName </h2>
                <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "103140001")
                                {
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.AddNew" href="@Url.Action("AddApprovalDetail","DocApproval")"><img src="~/Content/Images/addgreen.png" width="32" id="addNewItem" height="32" alt="Add"></a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        
                        <div class="col-md-12 col-sm-12 padding_zero">
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.BranchName
                                </label>
                                @Html.DropDownListFor(model => model.Branch_id, new SelectList(Model._branchList, "BranchID", "BranchName"), new { @class = "form-control", @id = "BranchNameDL", onclick = "OnChangeBranchName()", onchange = "OnChangeBranchName()" })                            
                                <input  type="hidden" id="ItemListName" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Document
                                </label>
                                @Html.DropDownListFor(model => model.Doc_id, new SelectList(Model._docList, "DocID", "Document"), "---Select---", new { @class = "form-control", @id = "DocOnList", onclick = "", onchange = "" })
                                <input  type="hidden" id="doc_searchDL" value='@Url.Action("DocumentlistDL", "DocApproval")' />
                               
                            </div>

                            <div class="col-md-1 col-sm-12">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterListDocApp()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                      
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">

                <div class="card-box table-responsive dy_table">
                    <div id="DocAppListTbody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                      
                                @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialApprovalList.cshtml")

                             
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- page content end -->
