@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SchemeSetup.SchemeSetup_Model
@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@{

    var Disable = true;
    var disablePrintbtn = "";
    string message = "";
    Model.PreCommand = Model.Command;
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
    var AfterApproveEditable = false;
    if(Model.DocumentStatus == "A")
    {
        if (!Disable)
        {
            AfterApproveEditable = true;
        }
        Disable = true;
    }
    //if (Model.DocumentStatus == "C" || Model.srt_no == null || ((Model.DocumentStatus == "D" || Model.DocumentStatus == "A") && Model.Command == "Edit"))/*Add || ((Model.StatusCode == "D" || Model.StatusCode == "A") && Model.Command == "Edit") by Hina sharma on 16-10-2024*/
    if (Model.scheme_id == null || ((Model.DocumentStatus == "D" || Model.DocumentStatus == "A") && Model.Command == "Edit"))/*Add || ((Model.StatusCode == "D" || Model.StatusCode == "A") && Model.Command == "Edit") by Hina sharma on 16-10-2024*/
    {
        disablePrintbtn = "disabled style=filter:grayscale(100%)";
    }
}
<script src="~/Content/Scripts/Common/Cmn_popup_msg.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/SchemeSetup/SchemeSetup.js"></script>
<style>
    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }

    table#KickOffAttributes th, table#datatable-buttons1 th, table#parts th {
        background-color: #ffffff;
    }
</style>
<title>@Model.Title</title>

@if (TempData["Message"] != null)
{
    message = TempData.Peek("Message").ToString();
<script>
        $(document).ready(function () {
            ShowCommonPopup('@message');
            if ('@message' == 'Duplicate') {
                AddValidationEffect("scheme_name", "vmscheme_name", $("#valueduplicate").text(), null);
            }
        });
</script>

}

@using (Html.BeginForm("SchemeSetupSave", "SchemeSetup", FormMethod.Post, new { enctype = "multipart/form-data", id = "SalesReturnForm" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <!-- Description Information Start-->
            <div class="modal fade" id="textareaModal" tabindex="-1">
                <div class="modal-dialog" style="max-width:600px;">
                    <!-- Modal content-->
                    @Html.Partial("~/Areas/Common/Views/Comn_PartialDescription.cshtml")
                </div>
            </div>
            <!-- Description Information End-->
            <!-- Procurement Plan Order Detail Start -->
            <div id="ProcurementPlanOrderDetail" class="modal fade" role="dialog">
                <div class="modal-dialog" id="" style=" max-width:800px;">
                    <!-- Modal content-->
                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementPlanOrderDetail.cshtml")
                </div>
            </div>
            <!-- Procurement Plan Order Detail Start End -->
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-2 col-sm-12 work_flow">

                            @*<ul class="wizard_steps">
                <li>
                    <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                        <span class="step_no">1</span>
                    </a>
                </li>
                <li>
                    <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_2">
                        <span class="step_no">2</span>
                    </a>
                </li>
                <li>
                    <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_3">
                        <span class="step_no">3</span>
                    </a>
                </li>
            </ul>*@
                            <input type="hidden" id="hdDoc_No" value="">
                            @Html.HiddenFor(m => m.TransType, new { @id = "Hdn_TransType" })
                            @Html.HiddenFor(m => m.BtnName, new { @id = "Hdn_BtnName" })
                            @Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })
                            @Html.HiddenFor(m => m.PreCommand, new { @id = "Hdn_PreCommand" })
                            @Html.HiddenFor(m => m.DocumentStatus, new { @id = "Hdn_DocumentStatus" })
                            @Html.HiddenFor(m => m.DocStatusName, new { @id = "Hdn_DocStatusName" })
                            @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData" })
                        </div>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                                        <ul>
                                                            @if (ViewBag.VBRoleList != null)
                                                            {
                                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                                {
                                                                    if (Row["feature_id"].ToString() == "105103110001")
                                                                    {
                                                                        <li>
                                                                            <button class="add"
                                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew" onclick="EnableAddkBtn()"></button>
                                                                        </li>
                                                                    }
                                                                    if (Row["feature_id"].ToString() == "105103110002")
                                                                    {
                                                                        <li>
                                                                            <button class="edit"
                                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                                        </li>
                                                                    }
                                                                    if (Row["feature_id"].ToString() == "105103110004")
                                                                    {
                                                                        <li>
                                                                            <button class="delete"
                                                                                    title="@Resource.Delete" onclick="return functionConfirm(this)" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                        </li>
                                                                    }
                                                                    if (Row["feature_id"].ToString() == "105103110008")
                                                                    {
                                                                        <li>
                                                                            <button class="amendment" title="@Resource.Amendment" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Workflow" name="Command" value="Amendment"></button>
                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                            <li>
                                                                <button class="save"
                                                                        title="@Resource.Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                                                            </li>
                                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                                            {
                                                                <li>
                                                                    <button class="forward"
                                                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                                </li>
                                                            }
                                                            @foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                            {
                                                                if (Row["feature_id"].ToString() == "105103110011")
                                                                {
                                                                    <li>
                                                                        <button class="approve"
                                                                                title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                                    </li>
                                                                }
                                                            }

                                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                                            {
                                                                <li>
                                                                    @*<button class="workflow" title="@Resource.Workflow" type="submit" id="btn_workflow" name="Command" value="Workflow" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>*@
                                                                    <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                                                                </li>
                                                            }

                                                            <li>
                                                                <button class="refresh"
                                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                                            </li>
                                                            @if (ViewBag.VBRoleList != null)
                                                            {
                                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                                {
                                                                    if (Row["feature_id"].ToString() == "105103110005")
                                                                    {
                                                                        <li>
                                                                            <button class="print" @disablePrintbtn title="@Resource.Print" type="button" id="" onclick="ForwardHistoryBtnClick();" name="Command" value="print" data-toggle="modal" data-target="#SalesInvoicePrint" data-backdrop="static" data-keyboard="false"></button>
                                                                        </li>
                                                                    }
                                                                }
                                                            }
                                                            <li>
                                                                <button class="back"
                                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                                            </li>
                                                        </ul>
                                        break;
                                    case "BtnEdit":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" disabled style="filter: grayscale(100%)" id="btn_add" name="Command" value="AddNew" onclick="EnableAddkBtn()"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110002")
                                    {
                                        <li>
                                            @* Edit Option is Tempraraly disabled after approve by Suraj Maurya on 18-03-2025 as discussed with prem sir and vishal sir, discusion pending for cancelation  *@
                                            @if (Model.DocumentStatus == "A" || Model.DocumentStatus == "D")
                                            {
                                                if (Model.Command == "Edit")
                                                {
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                }
                                                else
                                                {
                                                    <button class="edit"
                                                            title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit" onclick="return EnableEditkBtntst()"></button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="edit"
                                                        title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                            }
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110004")
                                    {
                                        <li>
                                            @if (Model.DocumentStatus == "D")
                                            {
                                                if (Model.Command == "Edit")
                                                {
                                                    <button class="delete"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                }
                                                else
                                                {
                                                    <button class="delete"
                                                            title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                }

                                            }
                                            else
                                            {
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>

                                            }
                                            @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110008")
                                    {
                                        <li>
                                            <button class="amendment" title="@Resource.Amendment" disabled="" type="submit" id="Btn_Workflow" name="Command" value="Amendment"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                @if (Model.DocumentStatus == "A" || Model.DocumentStatus == "D")
                                {
                                    if (Model.Command == "Edit")
                                    {
                                        <button class="save"
                                                title="@Resource.Save"
                                                @*@(Model.DocumentStatus == "A" ? "disabled style=filter:grayscale(100%);" : "")*@
                                                onclick="return CheckFormValidation()" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    }
                                    else
                                    {
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    }

                                }
                                else
                                {
                                    <button class="save"
                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                }
                            </li>
                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    @if (Model.DocumentStatus == "A")
                                    {
                                        <button class="forward"
                                                title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                    }
                                    else
                                    {
                                        <button class="forward"
                                                title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                    }
                                </li>
                            }
                            @foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105103110011")
                                {
                                    <li>
                                        @if (Model.DocumentStatus == "D")
                                        {
                                            if (Model.Command == "Edit")
                                            {
                                                <button class="approve"
                                                        title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            }
                                            else
                                            {
                                                <button class="approve"
                                                        title="@Resource.Approve" onclick="return ForwardBtnClick()" type="button" id="btn_approve" name="Command" value="Approve"></button>
                                            }
                                        }
                                        else
                                        {

                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>

                                        }
                                    </li>
                                }
                            }

                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                                </li>
                            }

                            <li>
                                @if (Model.Command == "Edit")
                                {
                                    <button class="refresh"
                                            title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                }
                                else
                                {
                                    <button class="refresh"
                                            title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                }
                            </li>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110005")
                                    {
                                        <li>
                                            @if (Model.DocumentStatus == "A")
                                            {

                                                @*<button class="print"
                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>*@
                                                <button class="print" @disablePrintbtn title="@Resource.Print" type="button" id="" onclick="ForwardHistoryBtnClick();" name="Command" value="print" data-toggle="modal" data-target="#SalesInvoicePrint" data-backdrop="static" data-keyboard="false"></button>
                                            }
                                            else
                                            {
                                                <button class="print"
                                                        title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                            }

                                        </li>
                                    }
                                }
                            }
                            @if (Model.create_id == Model.UserId || ViewBag.Approve_id == Model.UserId)
                            {
                                if (Model.DocumentStatus == "A" || Model.DocumentStatus == "C")
                                {
                                    <li>
                                        <button class="email_tool" title="@Resource.Email" data-toggle="modal" data-target="#MailInfo" data-backdrop="static" data-keyboard="false" type="button" id="Btn_Mail" name="Command" value="Mail" onclick="SendEmail();"></button>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" data-toggle="modal" data-target="#MailInfo" data-backdrop="static" data-keyboard="false" type="button" id="Btn_Mail" name="Command" value="Mail"></button>
                                </li>
                            }
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "Refresh":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110008")
                                    {
                                        <li>
                                            <button class="amendment" title="@Resource.Amendment" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Workflow" name="Command" value="Amendment"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    <button class="forward"
                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                </li>
                            }
                            @foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105103110011")
                                {
                                    <li>
                                        <button class="approve"
                                                title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                    </li>
                                }
                            }

                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow"
                                            onclick="return ForwardHistoryBtnClick();" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                                </li>
                            }

                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110005")
                                    {
                                        @*<li>
                        <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                    </li>*@

                                        if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F" || Model.DocumentStatus == "A")
                                        {
                                            <li>
                                                @*<button class="print"
                            title="@Resource.Print"  type="submit" id="btn_print" name="Command" value="Print"></button>*@
                                                <button class="print" @disablePrintbtn title="@Resource.Print" type="button" id="" onclick="ForwardHistoryBtnClick();" name="Command" value="print" data-toggle="modal" data-target="#SalesInvoicePrint" data-backdrop="static" data-keyboard="false"></button>

                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>

                                            </li>
                                        }
                                    }
                                }
                            }
                            <li>
                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "BtnToDetailPage":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105103110002")
                                    {
                                        @* Edit Option is Tempraraly disabled after approve by Suraj Maurya on 18-03-2025 as discussed with prem sir and vishal sir, discusion pending for cancelation  *@
                                        if (Model.DocumentStatus == "D" || Model.DocumentStatus == "A")
                                        {
                                            <li>
                                                <button class="edit" onclick="return EnableEditkBtntst()"
                                                        title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="edit" disabled style="filter: grayscale(100%)"
                                                        title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                            </li>
                                        }
                                    }
                                    if (Row["feature_id"].ToString() == "105103110004")
                                    {
                                        if (Model.DocumentStatus == "D")
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                    if (Row["feature_id"].ToString() == "105103110008")
                                    {
                                        <li>
                                            <button class="amendment" title="@Resource.Amendment" disabled="" type="submit" id="Btn_Workflow" name="Command" value="Amendment"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                    {
                                        if (ViewBag.ForwardEnbl == "Y")
                                        {
                                            <button class="forward"
                                                    title="@Resource.Forward" type="button" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                        }
                                        else
                                        {
                                            <button class="forward"
                                                    title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                        }
                                    }
                                    else
                                    {
                                        <button class="forward"
                                                title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                    }
                                </li>
                            }
                            @foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105103110011")
                                {
                                    <li>
                                        @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                        {
                                            <button class="approve"
                                                    title="@Resource.Approve" type="submit" onclick="approveonclick()" id="btn_approve" name="Command" value="Approve"></button>
                                        }
                                        else
                                        {
                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        }
                                    </li>
                                }
                            }

                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    <button class="workflow"
                                            title="@Resource.Workflow" type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                </li>
                            }

                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105103110005")
                                    {
                                        <li>
                                            <button class="print" @disablePrintbtn title="@Resource.Print" type="button" id="" onclick="ForwardHistoryBtnClick();" name="Command" value="print" data-toggle="modal" data-target="#SalesInvoicePrint" data-backdrop="static" data-keyboard="false"></button>
                                        </li>

                                    }
                                }
                            }

                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;

                                }
                            }

                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <div class="approved_by">
                                    <ul class="margin0 padding0">
                                        <li><span>@Resource.CreatedBy<br><b>@Html.DisplayFor(model => model.create_by)</b></span></li>
                                        <li><span>@Resource.Createdon<br><b>@Html.DisplayFor(model => model.create_on)</b></span></li>
                                        <li><span>@Resource.ApprovedBy<br><b>@Html.DisplayFor(model => model.app_by)</b></span></li>
                                        <li><span>@Resource.ApprovedOn<br><b>@Html.DisplayFor(model => model.app_on)</b></span></li>
                                        <li><span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.mod_by)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.mod_on)</b></span></li>
                                        <li>
                                            <span>@Resource.Status<br><b>@Html.DisplayFor(model => model.DocStatusName)</b></span>
                                            @Html.HiddenFor(model => model.DocumentStatus, new { @id = "hdSchmStatus" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        @*<div class="clearfix"></div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@Resource.Scheme @Resource.Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body">
                                        <div class="col-md-12 col-sm-12 pl-0 pr-0">
                                            <div class="col-md-55 col-sm-12">
                                                <label class="col-form-label label-align">@Resource.Scheme  @Resource.Name <span class="required">*</span></label>
                                                @if (Disable)
                                                {
                                                    @Html.TextBoxFor(model => model.scheme_name, new { @id = "scheme_name",@onchange= "OnChangeSchemeName()", @maxlength = "100", @disabled = "disabled", @class = "form-control", @placeholder = $"{Resource.Scheme}  {Resource.Name}" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.scheme_name, new { @id = "scheme_name", @onchange = "OnChangeSchemeName()", @maxlength = "100", @class = "form-control", @placeholder = $"{Resource.Scheme}  {Resource.Name}" })
                                                }
                                                @Html.ValidationMessageFor(model => model.scheme_name, String.Empty, new { @style = "color:red;!important", @id = "vmscheme_name" })
                                                @Html.HiddenFor(m => m.scheme_id, new { @id = "Hdn_Scheme_Id" })
                                            </div>
                                            <div class="col-md-55 col-sm-12 pl-0">
                                                <label class="col-form-label label-align">@Resource.Valid @Resource.From <span class="required">*</span></label>
                                                @if (Disable || !string.IsNullOrEmpty(Model.DocumentStatus) || message == "Duplicate")
                                                {
                                                    @Html.TextBoxFor(model => model.valid_from, "{0:yyyy-MM-dd}", new { @class = "form-control", @onchange = "OnChangeValidFrom()",@min=DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly", @id = "valid_from", type = "date" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.valid_from, "{0:yyyy-MM-dd}", new { @class = "form-control", @onchange = "OnChangeValidFrom()", @min = DateTime.Now.ToString("yyyy-MM-dd"), @id = "valid_from", type = "date" })
                                                }
                                                @Html.ValidationMessageFor(model => model.valid_from, String.Empty, new { @style = "color:red;!important", @id = "vmvalid_from" })
                                            </div>
                                            <div class="col-md-55 col-sm-12 pl-0">
                                                <label class="col-form-label label-align">@Resource.Valid @Resource.Upto1 <span class="required">*</span></label>
                                                @if (Disable || !string.IsNullOrEmpty(Model.DocumentStatus) || message == "Duplicate")
                                                {
                                                    @Html.TextBoxFor(model => model.valid_upto, "{0:yyyy-MM-dd}", new { @class = "form-control", @onchange = "OnChangeValidUpTo()", @min = (!string.IsNullOrEmpty(Model.valid_from) ? Model.valid_from : DateTime.Now.ToString("yyyy-MM-dd")), @readonly = "readonly", @id = "valid_upto", type = "date" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.valid_upto, "{0:yyyy-MM-dd}", new { @class = "form-control", @onchange = "OnChangeValidUpTo()", @min = (!string.IsNullOrEmpty(Model.valid_from) ? Model.valid_from : DateTime.Now.ToString("yyyy-MM-dd")), @id = "valid_upto", type = "date" })
                                                }
                                                @Html.ValidationMessageFor(model => model.valid_upto, String.Empty, new { @style = "color:red;!important", @id = "vmvalid_upto" })
                                            </div>
                                            <div class="col-md-55 col-sm-12 pl-0">
                                                <label class="col-form-label label-align">@Resource.Scheme @Resource.Type</label>
                                                @if (Disable)
                                                {
                                                    @Html.DropDownListFor(model => model.scheme_type, new SelectList(new List<SelectListItem> {
                                                                                                          new SelectListItem {Text="Volume Based",Value="QB" },
                                                                                                          new SelectListItem {Text="Value Based",Value="VB" }
                                                                                                      }, "Value", "Text"
                                                                   ), new { @class = "form-control", @onchange = "OnChangeSchemeType()", @disabled = "disabled", @id = "scheme_type" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.scheme_type, new SelectList(new List<SelectListItem> {
                                                                                                          new SelectListItem {Text="Volume Based",Value="QB" },
                                                                                                          new SelectListItem {Text="Value Based",Value="VB" }
                                                                                                      }, "Value", "Text"
                                                                   ), new { @class = "form-control", @onchange = "OnChangeSchemeType()", @id = "scheme_type" })
                                                }
                                            </div>
                                            <div class="col-md-55 col-sm-12 pl-0" hidden>
                                                <label class="col-form-label label-align">@Resource.Revision @Resource.Number</label>
                                                @Html.TextBoxFor(model => model.rev_no, new { @readonly = "readonly", @id = "rev_no", @class = "form-control", @placeholder = $"{Resource.Revision}  {Resource.Number}" })
                                            </div>
                                            <div class="col-md-55 col-sm-12 pt-3">
                                                <div class="custom-control custom-switch margin10">
                                                    @if (Disable && !AfterApproveEditable)
                                                    {
                                                        @Html.CheckBoxFor(model => model.is_active, new { @id = "is_active", @disabled = "disabled", @class = "custom-control-input col-md-3 col-sm-12 margin-switch" })
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(model => model.is_active, new { @id = "is_active", @class = "custom-control-input col-md-3 col-sm-12 margin-switch" })
                                                    }

                                                    @*<input class="custom-control-input col-md-3 col-sm-12 margin-switch" data-val="true" data-val-required="" id="Active" name="Active" type="checkbox" value="true">*@
                                                    <label class="custom-control-label" for="is_active" style="padding: 3px 0px;">Active</label>
                                                </div>
                                            </div>
                                            <div class="col-md-55 col-sm-12">
                                                <label class="col-form-label label-align">@Resource.remarks</label>
                                                @if (Disable)
                                                {
                                                    @Html.TextAreaFor(model => model.scheme_remarks, new
                                               {
                                                   @id = "scheme_remarks",
                                                   @maxlength = "500",
                                                   @class = "form-control TaskDescription remarksmessage",
                                                   @readonly = "readonly",
                                                    @onclick = "open_popupdes('scheme_remarks')",
                                                   @onmouseover = "OnMouseOver(this)",
                                                   @placeholder = $"{Resource.remarks}"
                                               })
                                                }
                                                else
                                                {
                                                    @Html.TextAreaFor(model => model.scheme_remarks, new
                                                {
                                                    @id = "scheme_remarks",
                                                    @maxlength = "500",
                                                    @class = "form-control TaskDescription remarksmessage",
                                                    @onclick = "open_popupdes('scheme_remarks')",
                                               @onmouseover = "OnMouseOver(this)",
                                                    @placeholder = $"{Resource.remarks}"
                                                })
                                                }

                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="card-box table-responsive dy_table">
                                            <div class="col-md-12">
                                                <div class="price_item_detail">
                                                    <div class="tableFixHead height30VH">
                                                        <h2 class="col-md-9 col-sm-12 no-padding">@*@Resource.ItemDetail*@</h2>
                                                        @Html.HiddenFor(model => model.scheme_slab_detail, new { @id = "schemeSlabDetail" })
                                                        @Html.HiddenFor(model => model.scheme_product_grp_detail, new { @id = "schemeProductGrpDetail" })
                                                        @Html.HiddenFor(model => model.scheme_cust_price_grp_detail, new { @id = "schemeCustPriceGrpDetail" })
                                                        <div class="col-md-3 col-sm-12 no-padding num_right mb-2"><label class="label pt-1 col-md-4 col-sm-12 num_right pr-0" for="SearchTblSchemeSlabDetail">@Resource.Search @Resource.Item : </label><input type="text" class="form-control col-md-7 col-sm-12" id="SearchTblSchemeSlabDetail" onkeyup="FilterItemDetail(event,'TblSchemeSlabDetail')" /> <a class="pl_excel" href="#" onclick=" return ExportItemsToExcel()"></a></div>
                                                        <table id="TblSchemeSlabDetail" class="table table-bordered  itmfrz ">
                                                            @{ 
                                                                var dsbl = ((Disable || string.IsNullOrEmpty(Model.DocumentStatus)) && message != "Duplicate") ? true : false;
                                                            }
                                                            <thead>
                                                                <tr class="headings">
                                                                    <th width="5%"> &nbsp;</th>
                                                                    @*<th width="5%">@Resource.SrNo</th>*@
                                                                    <th width="15%" class="itmStick">
                                                                        <div class="col-md-3 col-sm-12"></div>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <span class="item_add">@Resource.Slab</span>
                                                                            @if (!Disable)
                                                                            {
                                                                                <a href="#" id="BtnAddItem" style="display:@(dsbl?"none":"")">
                                                                                    <div class="plus_icon1"> <i class="fa fa-plus" onclick="AddNewRow()" title="@Resource.AddNew"></i> </div>
                                                                                </a>
                                                                            }

                                                                        </div>
                                                                        <div class="col-md-3 col-sm-12"></div>
                                                                    </th>
                                                                    <th width="15%" id="th_rangeFrom">@(Model.scheme_type=="VB"?$"{Resource.From} {Resource.Value}" : $"{Resource.From} {Resource.Quantity}")</th>
                                                                    <th width="15%" id="th_rangeTo">@(Model.scheme_type=="VB"?$"{Resource.to1} {Resource.Value}" : $"{Resource.to1} {Resource.Quantity}")</th>
                                                                    <th width="15%"> @Resource.FOC @Resource.Quantity</th>
                                                                    <th width="30%">@Resource.remarks</th>
                                                            </thead>
                                                            <tbody>
                                                                @if (ViewBag.SchemeSlabDetail != null)
                                                                {
                                                                    int rno = 1;

                                                                    foreach (System.Data.DataRow dr in ViewBag.SchemeSlabDetail.Rows)
                                                                    {
                                                                        <tr>
                                                                            <td class="red center" id="td_delete">
                                                                                @if (!Disable && rno == ViewBag.SchemeSlabDetail.Rows.Count)
                                                                                {
                                                                                    <i class="fa fa-trash" aria-hidden="true" onclick="DeleteSchemeSlab(@dr["slab"])" id="delBtnIcon" title="@Resource.Delete"></i>
                                                                                }
                                                                            </td>
                                                                            @*<td id="srno" class="sr_padding">@rno</td>*@
                                                                            <td><input id="Slab" value="@dr["slab"]" class="form-control num_right" autocomplete="off" type="text" name="Slab" placeholder="1" readonly=""></td>
                                                                            <td><input id="FromQuantity" value="@dr["from_qty"]" class="form-control num_right" autocomplete="off" type="text" name="FromQuantity" placeholder="0000.00" readonly=""></td>
                                                                            <td>
                                                                                <div class="lpo_form">
                                                                                    <input id="ToQuantity" disabled="@Disable" value="@dr["to_qty"]" class="form-control num_right" onchange="OnChangeUptoQuantity(event)" onkeypress="return OnKeyPressToQty(this,event);" autocomplete="off" type="text" name="ToQuantity" placeholder="0000.00">
                                                                                    <span id="ToQuantityError" class="error-message is-visible"></span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="lpo_form">
                                                                                    <input id="FOCQuantity" disabled="@Disable" value="@dr["foc_qty"]" class="form-control num_right" onchange="OnChangeFocQuantity(event)" onkeypress="return OnKeyPressFocQty(this,event);"  autocomplete="off" type="text" name="FOCQuantity" placeholder="0000.00">
                                                                                    <span id="FOCQuantityError" class="error-message is-visible"></span>
                                                                                </div>
                                                                            </td>
                                                                            <td><textarea id="@($"SlabRemarks{rno}")" @(Disable?"readonly":"") class="form-control TaskDescription remarksmessage" onclick="open_popupdes('@($"SlabRemarks{rno}")')" onmouseover="OnMouseOver(this)" placeholder="@Resource.remarks" title="@Resource.remarks">@dr["remarks"]</textarea></td>
                                                                        </tr>
                                                                        rno++;
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    
                                                                    <tr>
                                                                        <td class="red center" id="td_delete">
                                                                            @if (!dsbl)
                                                                            {
                                                                                <i class="fa fa-trash" aria-hidden="true" onclick="DeleteSchemeSlab(1)" id="delBtnIcon" title="@Resource.Delete"></i>
                                                                            }

                                                                        </td>
                                                                        @*<td id="srno" class="sr_padding">@rno</td>*@
                                                                        <td><input id="Slab" value="1" class="form-control num_right" autocomplete="off" type="text" name="Slab" placeholder="1" readonly=""></td>
                                                                        <td><input id="FromQuantity" value="0" class="form-control num_right" autocomplete="off" type="text" name="FromQuantity" placeholder="0000.00" readonly=""></td>
                                                                        <td>
                                                                            <div class="lpo_form">
                                                                                <input id="ToQuantity" disabled="@dsbl" class="form-control num_right" onchange="OnChangeUptoQuantity(event)" onkeypress="return OnKeyPressToQty(this,event);" autocomplete="off" type="text" name="ToQuantity" placeholder="0000.00">
                                                                                <span id="ToQuantityError" class="error-message is-visible"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="lpo_form">
                                                                                <input id="FOCQuantity" disabled="@dsbl" class="form-control num_right" onchange="OnChangeFocQuantity(event)" onkeypress="return OnKeyPressFocQty(this,event);"  autocomplete="off" type="text" name="FOCQuantity" placeholder="0000.00">
                                                                                <span id="FOCQuantityError" class="error-message is-visible"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td><textarea id="@($"SlabRemarks1")" @(dsbl?"readonly":"") class="form-control TaskDescription remarksmessage" onclick="open_popupdes('@($"SlabRemarks1")')" onmouseover="OnMouseOver(this)" placeholder="@Resource.remarks" title="@Resource.remarks"></textarea></td>
                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" class="collapsed" aria-controls="collapseTwo">@Resource.Product @Resource.Group  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="false"></span> </a></h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingTwo" style="">
                                    <div class="panel-body">
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Product   @Resource.Group</label>
                                            @*<select class="form-control" id="ProductGroup" name="ProductGroup">
            <option value="">All</option>
            <option value="" selected="selected">Cardio</option>
            <option value="">Ortho</option>
        </select>*@
                                            @if (dsbl)
                                            {
                                                @Html.DropDownListFor(model => model.prod_grp_id, new SelectList(Model.prodGroupLists, "grp_id", "grp_name"), new { @id = "prod_grp_id", @onchange = "OnChangeProductGroup()", @disabled = "disabled", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.prod_grp_id, new SelectList(Model.prodGroupLists, "grp_id", "grp_name"), new { @id = "prod_grp_id", @onchange = "OnChangeProductGroup()", @class = "form-control" })
                                            }
                                            @Html.ValidationMessageFor(model => model.prod_grp_id, String.Empty, new { @style = "color:red;!important", @id = "vmprod_grp_id" })
                                        </div>
                                        <div class="col-md-1 col-sm-12 margin28">
                                            @if (!Disable)
                                            {
                                                <a href="#" id="BtnAddProdGrp" style="display:@(dsbl?"none":"")">
                                                    <div class="plus_icon1"> <i class="fa fa-plus"  onclick="OnClickAddProdGroupButton()" title="Populate Item Detail" data-original-title=""></i> </div>
                                                </a>
                                            }
                                        </div>
                                        <div class="clear"></div>
                                        <div class="card-box table-responsive dy_table">
                                            <div class="col-md-12">
                                                <div class="">
                                                    <div class="tableFixHead height30VH">
                                                        <h2 class="col-md-9 col-sm-12 no-padding">@*@Resource.ItemDetail*@</h2>
                                                        <div class="col-md-3 col-sm-12 no-padding num_right mb-2"><label class="label pt-1 col-md-4 col-sm-12 num_right pr-0" for="SearchTblSchemeProdGrpDetail">@Resource.Search @Resource.Item : </label><input type="text" class="form-control col-md-7 col-sm-12" id="SearchTblSchemeProdGrpDetail" onkeyup="FilterItemDetail(event,'TblSchemeProdGrpDetail')" /> <a class="pl_excel" href="#" onclick=" return ExportItemsToExcel()"></a></div>
                                                        <table id="TblSchemeProdGrpDetail" class="table table-bordered  itmfrz ">
                                                            <thead>
                                                                <tr class="headings">
                                                                    <th width="5%"> &nbsp;</th>
                                                                    <th width="5%">@Resource.SrNo</th>
                                                                    <th width="25%">@Resource.Product  @Resource.Group</th>
                                                                    <th width="65%">&nbsp;</th>
                                                            </thead>
                                                            <tbody>
                                                                @if (ViewBag.SchemeProductGrpDetail != null)
                                                                {
                                                                    int rno = 1;
                                                                    foreach (System.Data.DataRow dr in ViewBag.SchemeProductGrpDetail.Rows)
                                                                    {
                                                                        <tr>
                                                                            <td class="red center">
                                                                                @if (!Disable)
                                                                                {
                                                                                    <i class="fa fa-trash" aria-hidden="true" onclick="DeleteSchemeProdGrp(event)" id="delBtnIcon" title="Delete"></i>
                                                                                }
                                                                            </td>
                                                                            <td id="srno" class="sr_padding">@rno</td>
                                                                            <td id="prdGrpId" hidden>@dr["prod_grp"]</td>
                                                                            <td id="prdGrpNm">@dr["ItemGroupChildNood"]</td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        rno = rno + 1;
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"> @Resource.Customer @Resource.Price @Resource.Group <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Price @Resource.Group</label>
                                            @if (dsbl)
                                            {
                                                @Html.DropDownListFor(model => model.cust_prc_grp_id, new SelectList(Model.custPriceGroupLists, "grp_id", "grp_name"), new { @id = "cust_prc_grp_id", @onchange = "OnChangeCustPriceGroup()", @disabled = "disabled", @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.cust_prc_grp_id, new SelectList(Model.custPriceGroupLists, "grp_id", "grp_name"), new { @id = "cust_prc_grp_id", @onchange = "OnChangeCustPriceGroup()", @class = "form-control" })
                                            }
                                            @Html.ValidationMessageFor(model => model.prod_grp_id, String.Empty, new { @style = "color:red;!important", @id = "vmcust_prc_grp_id" })
                                        </div>
                                        <div class="col-md-1 col-sm-12 margin28">
                                            @if (!Disable)
                                            {
                                                <a href="#" id="BtnAddCustPrcGrp" style="display:@(dsbl?"none":"")">
                                                    <div class="plus_icon1"> <i class="fa fa-plus" onclick="OnClickAddCustPrcGrpButton()" title="Populate Item Detail" data-original-title=""></i> </div>
                                                </a>
                                            }
                                        </div>
                                        <div class="clear"></div>
                                        <div class="card-box table-responsive dy_table">
                                            <div class="col-md-12">
                                                <div class="">
                                                    <div class="tableFixHead height30VH">
                                                        <h2 class="col-md-9 col-sm-12 no-padding">@*@Resource.ItemDetail*@</h2>
                                                        <div class="col-md-3 col-sm-12 no-padding num_right mb-2"><label class="label pt-1 col-md-4 col-sm-12 num_right pr-0" for="SearchTblSchemeCustPrcGrpDetail">@Resource.Search @Resource.Item : </label><input type="text" class="form-control col-md-7 col-sm-12" id="SearchTblSchemeCustPrcGrpDetail" onkeyup="FilterItemDetail(event,'TblSchemeCustPrcGrpDetail')" /> <a class="pl_excel" href="#" onclick=" return ExportItemsToExcel()"></a></div>
                                                        <table id="TblSchemeCustPrcGrpDetail" class="table table-bordered  itmfrz ">
                                                            <thead>
                                                                <tr class="headings">
                                                                    <th width="5%"> &nbsp;</th>
                                                                    <th width="5%">@Resource.SrNo</th>
                                                                    <th width="25%">@Resource.Price @Resource.Group</th>
                                                                    <th width="65%">&nbsp;</th>
                                                            </thead>
                                                            <tbody>
                                                                @if (ViewBag.SchemeCustPriceGrpDetail != null)
                                                                {
                                                                    int rno = 1;
                                                                    foreach (System.Data.DataRow dr in ViewBag.SchemeCustPriceGrpDetail.Rows)
                                                                    {


                                                                        <tr>
                                                                            <td class="red center">
                                                                                @if (!Disable)
                                                                                {
                                                                                    <i class="fa fa-trash" aria-hidden="true" onclick="DeleteSchemeCstPrcGrp(event)" id="delBtnIcon" title="@Resource.Delete"></i>
                                                                                }
                                                                            </td>
                                                                            <td id="srno" class="sr_padding">@rno</td>
                                                                            <td id="cstPrcGrpId" hidden>@dr["cust_prc_grp"]</td>
                                                                            <td id="cstPrcGrpNm">@dr["cust_prc_grp_name"]</td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        rno++;
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function open_popupdes(id) {
        debugger;
        const myModal = new bootstrap.Modal(document.getElementById("textareaModal"));
        $("#hdn_txtdes").val(id);
        var des = $("#" + id).val();
        var attrRdOnly = $("#" + id).attr("readonly");
        var attrDisbl = $("#" + id).attr("disabled");
        document.getElementById("modalTextarea").value = des;
        $("#modalTextarea").focus().attr("readonly", attrRdOnly).attr("disabled", attrDisbl);
        myModal.show();
    }
    // Open modal when clicking the main textarea

    function onclick_save_close() {
        debugger
        var id = $("#hdn_txtdes").val();
        document.getElementById(id).value = document.getElementById("modalTextarea").value;
    }
</script>
<script>
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = function (event) {
            const img = document.getElementById('preview');
            img.src = event.target.result;
            img.classList.remove('d-none');
        };
        reader.readAsDataURL(file);
    });
</script>
