@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SchemeSetup.SchemeSetupList_Model
@using EnRepMobileWeb.Resources;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/SchemeSetup/SchemeSetup.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <div class="price_item_detail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105103110001")
                                {
                        <li>
                            <a class="tooltip-test"
                               title=" @Resource.AddNew" href="@Url.Action("AddSchemeSetupDetail", "SchemeSetup")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddNewGRN" alt="Add"></a>
                        </li>
                                }
                            }
                        }
                                
                            </ul>
                </div>

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12 padding_zero">
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Product @Resource.Group</label>
                                @Html.DropDownListFor(model => model.prod_grp, new SelectList(Model.prodGroupLists, "grp_id", "grp_name"), new { @id = "prod_grp_id", @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Customer @Resource.Price @Resource.Group</label>
                                @Html.DropDownListFor(model => model.cust_price_grp, new SelectList(Model.custPriceGroupLists, "grp_id", "grp_name"), new { @id = "cust_prc_grp_id", @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Status</label>
                                @Html.DropDownListFor(model => model.status, new SelectList(Model.statusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Active</label>
                                @Html.DropDownListFor(model => model.act_status, new SelectList(new List<SelectListItem> {
                               new SelectListItem {Text="All",Value="0" },
                                                                                                          new SelectListItem {Text="Yes",Value="Y" },
                                                                                                          new SelectListItem {Text="No",Value="N" }
                                                                                                      }, "Value", "Text"
                                                                   ), new { @class = "form-control", @id = "act_status" })
                            </div>
                            <div class="col-md-1 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="div_SchemeSetupList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSchemeSetupList.cshtml")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
