@model EnRepMobileWeb.MODELS.BusinessLayer.QualityControlSetup.QCItemParameterSetup
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .select2-results div.rw {
        width: auto !important;
        min-width: 350px !important;
    }
   
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/QualityControlSetup/ItemParameterSetup/ItemParameterSetup.js"></script>
<title>@Model.Title</title>
@{
    var Action = "";
    var Disable = true;
    //if (Session["Action"] != null)
    if (Model.Action != null)
    {
        //Action = Session["Action"].ToString();
        Action = Model.Action;
    }
    if (Action == "AddNew")
    {
        Disable = false;
    }
    //else
    //{
    //    if (Model.status != null)
    //    {
    //        Disable = true;
    //    }
    //}


    var str = ViewBag.Message;
    if (str == "Save")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#savemsg").text(), "success");
        </script>
    }
    if (str == "Delete")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#deletemsg").text(), "success");
        </script>
    }
    if (str == "Used")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#DependencyExist").text(), "warning");
        </script>
    }
    if (str == "Approved")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#approvemsg").text(), "success");
        </script>
    }
    if (str == "Duplicate")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#hdnSavebtn").val(null);
                $("#HSNNumber").css("border-color", "red");
                document.getElementById("vmHSNNumber").innerHTML = $("#valueduplicate").text();

            })
        </script>
    }
    str = null;
}
@using (Html.BeginForm("QCParameterSetupSave", "ItemParameter", FormMethod.Post, new { enctype = "multipart/form-data", id = "DeliveryNoteForm" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <!-- Item Information -->
                        <div id="ItemInfo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                            </div>
                        </div>
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <!-- Smart Wizard -->
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                            @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        </div>
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnNameIPS"].ToString();
                                var btnName = Model.BtnNameIPS;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103200105001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103200105002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103200105004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                        @*@Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })*@
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save" title="@Resource.Save" type="submit" onclick="return SaveBtnClick();" id="btn_save" name="Command" value="@ViewBag.BtnSaveCommand"></button>
                                            </li>
                                            @*<li>
                                                <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            </li>*@
                                            <li>
                                                <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            <li>
                                                <button class="workflow" title="@Resource.Workflow" disabled style="filter: grayscale(100%)" type="submit" id="btn_workflow" name="Command" value="Workflow"></button>
                                            </li>
                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103200105005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                                            </li>
                                            <li>
                                                <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                                            </li>
                                            <li>
                                                <button class="back" title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnEdit":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103200105001")
                                    {
                                        <li>
                                            @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "C" || ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                            {
                                                if (Model.Commandfc == "Edit")
                                                {
                                                    <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                }
                                                else
                                                {
                                                    <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                            }

                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103200105002")
                                    {
                                        <li>
                                            @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                            {
                                                if (Model.Commandfc == "Edit")
                                                {
                                                    <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                }
                                                else
                                                {
                                                    <button class="edit" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                            }

                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103200105004")
                                    {
                                        <li>
                                            @if (ViewBag.DocumentCode == "D")
                                            {
                                                if (Model.Commandfc == "Edit")
                                                {
                                                    <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                }
                                                else
                                                {
                                                    <button class="delete" title="@Resource.Delete" onclick="return DeleteBtnClick(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            }
                                        </li>
                                    }
                                }
                            }
                            <li>
                                @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                {
                                    if (Model.Commandfc == "Edit")
                                    {
                                        <button class="save" onclick="return SaveBtnClick()" title="@Resource.Save" type="submit" id="btn_save" name="Command" value="@ViewBag.BtnSaveCommand"></button>

                                    }
                                    else
                                    {
                                        <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    }
                                }
                                else
                                {
                                    <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                }
                            </li>
                          
                            <li>
                                @if ((ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F") && Model.Commandfc != "Edit")
                                {
                                    <button class="approve"
                                            title="@Resource.Approve" type="submit"  onclick="onclickapprovebtn()" id="btn_approve"  name="Command" value="Approve"></button>

                                }
                                else
                                {
                                    <button class="approve"
                                            title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                }

                            </li>
                            @*<li>
            <a class="tooltip-test" href="#" title="@Resource.Workflow">
                <img src="~/Content/Images/workflow1.png" width="28" height="28" alt="Add" id="Btn_Workflow" onclick="ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false">
            </a>
        </li>*@
                            @if (ViewBag.AppLevel.Rows.Count > 0)
                            {
                                <li>
                                    <button class="workflow" title="@Resource.Workflow"
                                            type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                </li>
                            }

                            <li>
                                <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103200105005")
                                    {
                                        <li>
                                            @if (ViewBag.DocumentCode == "A")
                                            {
                                                <button class="print" title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            }
                                            else
                                            {
                                                <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            }
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                            </li>
                            <li>
                                <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                            </li>
                            <li>
                                <button class="back" title="@Resource.Back" @*disabled style="filter: grayscale(100%)"*@ type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103200105001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103200105002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103200105004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            @*<li>
                                                <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            </li>*@
                                            <li>
                                                <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            @*<li>
                                                <button class="workflow" title="@Resource.Workflow" disabled style="filter: grayscale(100%)" type="submit" id="btn_workflow" name="Command" value="Workflow"></button>
                                            </li>*@
                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103200105005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                                            </li>
                                            <li>
                                                <button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>
                                            </li>
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <div class="approved_by">
                                    <ul>
                                        <li>
                                            <span>@Resource.CreatedBy<br><b id="Itemcreatename">@Model.create_name</b></span>
                                        </li>
                                        <li><span>@Resource.Createdon<br><b id="ItemcreateDate">@Model.create_dt</b></span></li>
                                        <li><span>@Resource.ApprovedBy<br><b id="ItemApprovename">@Model.app_name </b></span></li>
                                        <li><span>@Resource.ApprovedOn<br><b id="ItemApproveDate">@Model.app_dt </b> </span></li>
                                        <li><span>@Resource.AmendedBy<br><b id="ItemModifyname">@Model.mod_name</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b id="ItemModifyDate">@Model.mod_dt</b></span></li>
                                        <li><span>@Resource.Status<br /><b id="ItemStatus">@Model.status</b></span></li>
                                    </ul>
                                    <input hidden="hidden" id="hdnDeleteCommand" />
                                </div>
                                @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                                @Html.HiddenFor(m => m.CheckDependcy, new { @id = "ddlCheckDependcy", value = Model.CheckDependcy })
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">

                        <form action="" method="post" novalidate>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 no-padding">
                                        <div class="col-md-3 col-sm-12 pr-0">
                                            <div class="col-md-11 col-sm-12 pl-0 pr-0">
                                                <label class="col-form-label label-align">@Resource.ItemName <span class="required">*</span></label>
                                                @if (Disable)
                                                {
                                                    @Html.DropDownListFor(model => model.item_id, new SelectList(Model.ItemList, "item_id", "item_name"),
                                               new { @class = "form-control", id = "ItemNameForQC", disabled = "disabled", onchange = "ItemNameSelection();" });
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.item_id, new SelectList(Model.ItemList, "item_id", "item_name"),
                                               new { @class = "form-control", id = "ItemNameForQC", onchange = "ItemNameSelection();" })
                                                }
                                                @Html.HiddenFor(model => model.item_id, new { @id = "hdnItemID" })
                                                @Html.HiddenFor(model => model.item_Name, new { @id = "hdnItemName" })
                                                <span id="QCItemNameErrorMsg" class="error_message"></span>
                                            </div>
                                            <div class="col-sm-1 i_Icon margin28">
                                                <button type="button" id="ItmInfoBtnIcon" onclick="OnClickIconBtn(event);" class="calculator" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-12 pl-0 ">
                                            <label class="col-form-label label-align">@Resource.UOM</label>
                                            @Html.TextBoxFor(model => model.UOMName, new { @class = "form-control", disabled = "disabled", @id = "ItmUOM", @placeholder = "UOM" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0 ">
                                            <label class="col-form-label label-align">@Resource.RefNo</label>
                                            @Html.TextBoxFor(model => model.RefNo, new { @class = "form-control", disabled = "disabled", @id = "ItemRefNo", @placeholder = "Reference No" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0 ">
                                            <label class="col-form-label label-align">@Resource.OEMNo</label>
                                            @Html.TextBoxFor(model => model.OEMNo, new { @class = "form-control", disabled = "disabled", @id = "ItemOEMNo", @placeholder = "OEM No" })
                                        </div>
                                        <div class="col-md-1 col-sm-12 pl-0 ">
                                            <label class="col-form-label label-align">@Resource.SampleCode</label>
                                            @Html.TextBoxFor(model => model.SampleCode, new { @class = "form-control", disabled = "disabled", @id = "ItemSampleCode", @placeholder = "Sample Code" })
                                        </div>
                                        @if (Disable)
                                        {

                                        }
                                        else
                                        {
                                            <div class="col-md-3 col-sm-12 pl-0 ">
                                                <label class="col-form-label label-align"> @Resource.ReplicateWith</label>
                                                <select class="form-control" id="ddlReplicateWith" name="ReplicateWith" onchange="OnChanngReplicateWith()">
                                                </select>
                                            </div>
                                        }

                                    </div>
                                </div>
                                    <div class="row margin10">                                       
                                        <div id="ItemSelectionValidation" class="form-control" style="min-height:72px;">
                                            <div class="col-md-12 col-sm-12 no-padding">
                                               
                                                <div class="col-md-1 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.Serial @Resource.Number</label>
                                                    @Html.TextBoxFor(model => model.SerialNumber, new
                                               {
                                                   @class = "form-control",
                                                   @id = "SerialNumber",
                                                   @placeholder = "Serial Number",
                                                   @maxlength = "3",
                                                   @pattern = "^[1-9][0-9]{0,2}$",
                                                   @oninput = "validateSerial(this)",
                                                   @autocomplete = "off",
                                                   onchange = "OnSerialNumber();"

                                               })
                                                    <span id="QCSerialNumberErrorMsg" class="error_message"></span>
                                                </div>
                                             
                                                <div class="col-md-2 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.ParameterName <span class="required">*</span></label>
                                                    @Html.DropDownListFor(model => model.param_Id, new SelectList(Model.ParameterNameList, "param_Id", "param_name"), new { @class = "form-control", id = "ItemParameterName", onchange = "OnItemParameterSelectName();" })
                                                    <span id="QCParameterNameErrorMsg" class="error_message"></span>
                                                </div>
                                                <div class="col-md-2 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.ParameterType</label>
                                                    @Html.TextBoxFor(model => model.para_type, new { @class = "form-control", disabled = "disabled", @id = "ParameterType", @placeholder = "Parameter Name" })
                                                </div>
                                                <div class="col-md-1 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.LowerRange <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.lower_val, new { @class = "form-control num_right", @id = "LowerRange", @placeholder = "0000.00" })
                                                    <span id="LowerRangeErrorMsg" class="error_message"></span>
                                                </div>
                                                <div class="col-md-1 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.UpperRange <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.upper_val, new { @class = "form-control num_right", @id = "UpperRange", @placeholder = "0000.00" })
                                                    <span id="UpperRangeErrorMsg" class="error_message"></span>
                                                    <span id="ComparisonErrorMsg" class="error_message"></span>
                                                </div>
                                                <div class="col-md-1 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align" title="Base Unit Of Measure">  @Resource.UOM<span class="required">*</span></label>
                                                    @Html.DropDownListFor(model => model.uom_Id, new SelectList(Model.UomList, "uom_id", "uom_name"), new { @id = "uom_cd", @class = "form-control", @onchange = "OnchangeUom()" })
                                                    <span id="spanUom" class="error_message"></span>
                                                </div>
                                                <div class="col-md-2 col-sm-12 pl-0 ">
                                                    <label class="col-form-label label-align">@Resource.remarks</label>
                                                    @Html.TextAreaFor(model => model.remarks, new { @class = "form-control remarksmessage", @id = "detailremarks", @placeholder = Resource.remarks, maxlength = "100" })
                                                </div>
                                                <div class="col-md-1 col-sm-12 margin25 ">
                                                    <div class="col-md-2 col-sm-12">
                                                        <a href="#">
                                                            <div class="plus_icon1" id="divNew"> <i class="fa fa-plus" id="ParaNewAddBtn" onclick="OnClickAddParaNewAddBtn()" title="@Resource.AddNew"></i> </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-1 col-sm-12">
                                                        <a href="#" style="color:#ffffff;">
                                                            <div class="plus_icon1" id="divUpdate" style="display:none;"> <i class="fa fa-refresh ref" id="ParaItemUpdateBtn" onclick="OnClickParaItemUpdateBtn()" title="@Resource.Update"></i> </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="table-responsive width99 margin10">
                                        @Html.HiddenFor(model => model.hdnItemList, new { @id = "hdnItemList" })
                                        <table class="table table-striped jambo_table bulk_action" id="QCItemParameterDetailTbl">
                                            <thead>
                                                <tr class="headings">
                                                    <th>@Resource.SrNo </th>
                                                    <th class="column-title" width="3%"></th>
                                                    <th class="column-title" width="3%"></th>

                                                    <th class="column-title">@Resource.ParameterName </th>
                                                    <th class="column-title">@Resource.ParameterType </th>
                                                    <th class="column-title">@Resource.LowerRange </th>
                                                    <th class="column-title">@Resource.UpperRange </th>
                                                    <th class="column-title">@Resource.UOM</th>
                                                    <th class="column-title">@Resource.remarks </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.datatbl != null)
                                                {
                                                    var rowIdx = 0;
                                                    foreach (System.Data.DataRow Row in ViewBag.datatbl.Rows)
                                                    {
                                                        rowIdx++;
                                                <tr id="@rowIdx">
                                                    <td id="sr_no">@Row["sr_no"].ToString()</td>
                                                    @if (@Row["CheckDependcy"].ToString() == "Use")
                                                    {
                                                        <td class="center" > <i class="fa fa-trash" aria-hidden="true" id=""  title="@Resource.Delete" disabled></i></td>
                                                        
                                                    }
                                                    else
                                                    {
                                                        <td class="red center"> <i class="fa fa-trash" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                    }

                                                        <td class="center edit_icon"> <i class="fa fa-edit" aria-hidden="true" id="editBtnIcon" title="@Resource.Edit"></i></td>
                                                    
                                                    <td id="ItemParameterNametblValue">@Row["ParaName"].ToString()</td>
                                                    <td id="ParameterTypetblValue">@Row["ParamTypeName"].ToString()</td>
                                                    <td id="LowerRangetblValue">@Row["LowerValue"].ToString()</td>
                                                    <td id="UpperRangetblValue">@Row["UpperValue"].ToString()</td>
                                                    <td id="ParamUom">@Row["uom_name"].ToString()</td>
                                                    <td id="RemarkstblValue">@Row["remarks"].ToString()</td>
                                                    <td hidden id="ItemParameterNametblValue1">@Row["param_Id"].ToString()</td>
                                                    <td hidden id="hduom_cd">@Row["uom_id"].ToString()</td>
                                                </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
}

