@model EnRepMobileWeb.MODELS.BusinessLayer.QualityControlSetup.QCItemParameterSetupViewModel

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/QualityControlSetup/ItemParameterSetup/ItemParameterSetupList.js"></script>
<title>@Model.Title</title>
<!--Partial Import QC Item Parameter Data Start-->
<div id="PartialImportQCItemData" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:1200px;">
        <!-- Modal content-->
            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/Partial_Import_QCItemParameter.cshtml")
    </div>
</div>
<!--Partial Import QC Item Parameter Data End-->
<!-- Error Detail -->
<div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
    <div class="modal-dialog" id="divErrorDetail" style="min-width:600px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")
    </div>
</div>
<!-- Error Detail End -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="x_title pad_mar ">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <!-- Smart Wizard -->
                    @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })

                    <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    </div>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                    <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "103200105001")
                                {
                                    <ul>
                                        <li>
                                            <a class="tooltip-test"
                                               title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","ItemParameter")"><img src="~/Content/Images/export_icon.png" width="32" id="" onclick="" height="32" alt="Download Data Template"></a>

                                        </li>
                                        <li>
                                            <a class="tooltip-test"
                                               title="@Resource.Import @Resource.Data" data-toggle="modal" data-target="#PartialImportQCItemData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="32" id="ImportData" height="32" alt="Import Data"></a>
                                        </li>
                                        <li>
                                            <a class="tooltip-test"
                                               title="@Resource.AddNew" href="@Url.Action("ItemParameterDetailsNew","ItemParameter")"><img src="~/Content/Images/addgreen.png" width="32" id="addNewItem" height="32" alt="Add"></a>
                                        </li>
                                    </ul>
                                }
                            }
                        }

                    </div>
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12 padding_zero">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemName
                                    </label>
                                    @*<select class="form-control" id="itemNameList">
                                            <option value="0">ALL</option>
                                        </select>*@
                                    @Html.DropDownListFor(model => model.item_parList, new SelectList(Model.getperaItemList, "Itm_id", "Itm_name"), new { @class = "form-control", @id = "itemList", @OnClick = "OnChangeINL()" })
                                    @*<input type="hidden" id="ItemListName" value='@Url.Action("GetAutoCompleteItemList", "ItemList")' />*@
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemGroup
                                    </label>
                                    @Html.DropDownListFor(model => model.item_Group, new SelectList(Model.getItemGroupList, "gr_id", "gr_name"), new { @class = "form-control", @id = "GrpList", @OnClick = "OnChangeGrp()" })
                                    @*<select class="form-control" id="itemGrpList">
                                            <option value="0">ALL</option>
                                        </select>*@
                                    @*<input  type="hidden" id="ItemGrpName" value='@Url.Action("GetAutoCompleteItemGrpList", "ItemList")' />*@
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-sm-12  ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="ItmParamListBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialItemParamList.cshtml")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- page content end -->
