<style>
    .th_con {
        paddingtop: 5px;
        paddingbottom: 5px;
        font-weight: bold;
        text-align: center;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        font-size: 9px;       
        
    }
    .th_con_hs {
        paddingtop: 5px;
        paddingbottom: 5px;
        font-weight: bold;
        text-align: left;        
        font-size: 9px;       
        text-align: left;
    }
    .td_con {
        paddingtop: 5px;
        paddingbottom: 5px;
        paddingleft: 5px;
        paddingright: 5px;        
        text-align: center;
        border-top: solid 1px #000000;
        border-bottom: solid .5px #000000;
        border-left: .5px solid #000000;
        font-size: 9px;
        font-weight: normal;
        
    }
    .td_con_hs {
        paddingtop: 5px;
        paddingbottom: 5px;
        paddingleft: 5px;
        paddingright: 5px;
        font-size: 9px;
        font-weight: normal !important;
        text-align: left;
    }
    .td_con_right {       
        border-right: solid 1px #000000;        
    }
    .td_con_left {
        border-left: solid 1px #000000;
    }
    .td_con_bottom {
        border-bottom: solid 1px #000000;
    }
    .td_con_top {
        border-top: solid 1px #000000;
    }
    .num_right {
        text-align: right;
    }
    .p_r {
        paddingright:5px;
    }

</style>
<div style="width:100%; background-color:#000000">
    <div style="width:100%; margin:0 auto; background-color:#ffffff;">
        <table style="width:100%;">
            <tr>
                <td>
                    @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="45%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="th_con_hs" width="20%"> Account Group</td>
                                        <td class="th_con_hs" width="3%"> :</td>
                                        <td class="td_con_hs" width="77%">@ViewBag.AccountGroup</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="25%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="th_con_hs" width="25%"> Account Type</td>
                                        <td class="th_con_hs" width="3%"> :</td>
                                        <td class="td_con_hs" width="72%">@ViewBag.AccountType</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="th_con_hs" width="25%"> As on Date</td>
                                        <td class="th_con_hs" width="3%"> :</td>
                                        <td class="td_con_hs" width="72%">@ViewBag.UpToDate</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="th_con_hs" width="50%"> Currency</td>
                                        <td class="th_con_hs" width="3%"> :</td>
                                        <td class="td_con_hs" width="47%">@ViewBag.Currency</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                       
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="3%" class="th_con">S.NO.</th>
                                <th width="13%" class="th_con">Account Name</th>
                                <th width="5%" class="th_con">Account Type</th>
                                <th width="16%" class="th_con">Account Group</th>
                                @if (ViewBag.BalType == "BW")
                                {
                                    <th width="10%" class="th_con">Branch</th>
                                }
                                <th width="5%" class="th_con">Currency</th>
                                @*<th width="8%" class="th_con">Opening Balance </th>/*commented and modify by Hina sharma on 19-08-2025*/
                            <th width="5%" class="th_con">Balance Type</th>
                            <th width="8%" class="th_con">Total Debit </th>
                            <th width="8%" class="th_con">Total Credit</th>
                            <th width="8%" class="th_con">Closing Balance</th>
                            <th width="5%" class="th_con td_con_right">Balance Type</th>*@
                                <th width="8%" class="th_con">Opening Balance Debit</th>
                                <th width="8%" class="th_con">Opening Balance Credit</th>
                                <th width="8%" class="th_con">Total Debit </th>
                                <th width="8%" class="th_con">Total Credit</th>
                                <th width="8%" class="th_con">Closing Balance Debit</th>
                                <th width="8%" class="th_con td_con_right">Closing Balance Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Details != null)
                            {
                                var rowno = 1;
                                foreach (System.Data.DataRow dr in ViewBag.Details.Rows)
                                {
                                    <tr>
                                        <td class="td_con td_con_right">@rowno</td>
                                        <td class="td_con td_con_right">@dr["AccName"]</td>
                                        <td class="td_con td_con_right">@dr["Acc_typ"]</td>
                                        <td class="td_con td_con_right">@dr["Acc_grp"]</td>
                                        @if (ViewBag.BalType == "BW")
                                        {
                                            <td class="td_con td_con_right">@dr["Branch"]</td>
                                        }
                                        <td class="td_con td_con_right">@dr["curr_name"]</td>
                                        @*<td class="td_con num_right td_con_right">@dr["op_bal_bs"]</td>/*commented and modify by Hina sharma on 19-08-2025*/
                                    <td class="td_con num_right td_con_right">@dr["op_bal_type"]</td>
                                    <td class="td_con num_right td_con_right">@dr["totdebitbs"]</td>
                                    <td class="td_con num_right td_con_right">@dr["totcreditbs"]</td>
                                    <td class="td_con num_right td_con_right">@dr["closingbalbs"]</td>
                                    <td class="td_con num_right td_con_right">@dr["closingbaltype"]</td>*@
                                        <td class="td_con num_right td_con_right">@dr["Op_Bal_Debit"]</td>
                                        <td class="td_con num_right td_con_right">@dr["Op_Bal_Credit"]</td>
                                        <td class="td_con num_right td_con_right">@dr["Total_Debit"]</td>
                                        <td class="td_con num_right td_con_right">@dr["Total_Credit"]</td>
                                        <td class="td_con num_right td_con_right">@dr["Closing_Bal_Debit"]</td>
                                        <td class="td_con num_right td_con_right">@dr["Closing_Bal_Credit"]</td>
                                    </tr>
                                    rowno = rowno + 1;
                                }
                            }
                        </tbody>
                        @*/*ADD by Hina Sharma on 31-07-2025 for show total Branch Wise and HOWise*/*@
                        <tfoot style="font-size:12px;">
                            @if (ViewBag.BalType != null && ViewBag.TotalDetails != null)
                            {

                                <tr>

                                    @if (ViewBag.BalType == "BW")
                                    {
                                        <th colspan="6" class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">Total</th>
                                    }
                                    else
                                    {
                                        <th colspan="5" class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">Total</th>
                                    }

                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalOpnBal_Dr"].ToString()</th>
                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalOpnBal_Cr"].ToString()</th>
                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalDebit"].ToString()</th>
                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalCredit"].ToString()</th>
                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalClsBal_Dr"].ToString()</th>
                                    <th class="th_con td_con_right td_con_left td_con_bottom td_con_top num_right p_r">@ViewBag.TotalDetails.Rows[0]["TotalClsBal_Cr"].ToString()</th>
                                </tr>

                            }

                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>




