<style>
    .main_div {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: 1px;
        font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    }

    .left {
        width: 100%;
        margin: 0px;
        float: left;
    }

    .left_div {
        width: 100%;
        margin: 0px;
        float: left;
    }

    .table_border {
        border: 1px solid #dddddd;
    }

    .ffont {
        font-size: 12px;
        paddingtop: 5px;
        paddingbottom: 5px;
        paddingright: 10px;
    }
    .amount {
        text-align: center !important;
        font-size: 14px;
        font-weight: bold;
        paddingtop: 10px;
        background-color: #a1caf3;
    }

    .amount_s {
        text-align: center !important;
        font-size: 12px;
        font-weight: bold;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #e7f1fa;
    }

    .td_border_top {
        border-top: 1px solid #dddddd;
    }

    .td_border_bottom {
        border-top: 1px solid #dddddd;
    }

    .td_border_left {
        border-left: 1px solid #dddddd;
    }

    .td_border_right {
        border-right: 1px solid #dddddd;
    }

    .reserve_bg {
        background-color: #badafa;
    }

    .reserve_txt {
        font-size: 12px;
        font-weight: bold;
        paddingleft: 10px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
    }

    .reserve_txt_nor {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }

    .reserve_txt_v1 {
        font-size: 13px;
        font-weight: bold;
        paddingleft: 5px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
        background-color: #ffffff;
    }

    .reserve_txt_v2 {
        font-size: 11px;
        font-weight: bold;
        paddingleft: 15px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
        background-color: #ffffff;
    }

    .reserve_txt_v2_nor {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
        background-color: #ffffff;
    }

    .reserve_txt_v3 {
        font-size: 11px;
        font-weight: bold;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }
    .reserve_txt_v3_nor {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 35px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }

    .reserve_txt_v4 {
        font-size: 11px;
        font-weight: bold;
        paddingleft: 35px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }

    .reserve_txt_v4_nor {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 45px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }

    
    .num_right {
        text-align: right;
    }

    .l1_bg {
        background-color: #badafa;
    }

    .l2_bg {
        background-color: #cbe3fa;
    }
    .l3_bg {
        background-color: #dcebf9;
    }
    .l4_bg {
        background-color: #e7eef5;
    }
    .p-2 {
        paddingright:50px;
    }
</style>

<div class="main_div">
    <table class="table_border" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td>
                            @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                        </td>
                        <td width="15">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="left td_border_right" valign="top">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" height="100%">
                    <tr>
                        <td width="40%" class="amount">Group Name</td>
                        <td width="30%" class="amount">Debit Amount</td>
                        <td width="30%" class="amount">Credit Amount</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td>
                            <div class="left_div td_border_bottom">  </div>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" height="100%">
                                @if (ViewBag.L1Data != null)
                                {
                                    foreach (System.Data.DataRow dr in ViewBag.L1Data.Rows)
                                    {
                                        var sno = 0;
                                        var L1_id = dr["L1"].ToString();
                                        sno++;
                                        <tr class="l1_bg">
                                            <td width="40%" class="l1_bg reserve_txt_v1">@dr["acc_group_name"].ToString()</td>
                                            <td width="30%" class="l1_bg reserve_txt_v1 num_right">@dr["tot_Dr"].ToString()</td>
                                            <td width="30%" class="l1_bg reserve_txt_v1 num_right">@dr["tot_Cr"].ToString()</td>
                                        </tr>

                                        if (ViewBag.DetailsData != null)
                                        {
                                            var sno_d1 = 0;
                                            double dramt = 0.00;
                                            double cramt = 0.00;
                                            sno++;
                                            foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                            {
                                                var dgrpid_L1 = drd["L1"].ToString();
                                                var dgrpid = drd["acc_groupid"].ToString();
                                                var acc_id = drd["acc_id"].ToString();
                                                dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));

                                                if (dgrpid_L1 == L1_id && dgrpid == L1_id)
                                                {
                                                    sno_d1 = sno;
                                                    <tr data-id="@acc_id" data-parent="@L1_id" data-level="@sno_d1">
                                                        <td width="40%" class="">@drd["acc_name"].ToString() </td>
                                                        <td width="30%" class=" num_right">@drd["tot_Dr"].ToString()</td>
                                                        <td width="30%" class=" num_right">@drd["tot_Cr"].ToString()</td>
                                                    </tr>
                                                }
                                            }
                                        }

                                        if (ViewBag.L2Data != null)
                                        {
                                            var sno2 = 0;
                                            sno++;
                                            foreach (System.Data.DataRow dr2 in ViewBag.L2Data.Rows)
                                            {
                                                var L21_id = dr2["L1"].ToString();
                                                var L2_id = dr2["L2"].ToString();
                                                if (L21_id == L1_id)
                                                {
                                                    sno2 = sno;
                                                    <tr class="">
                                                        <td width="40%" class="l2_bg reserve_txt_v2">@dr2["acc_group_name"].ToString() </td>
                                                        <td width="30%" class="l2_bg reserve_txt_v2 num_right">@dr2["tot_Dr"].ToString()</td>
                                                        <td width="30%" class="l2_bg reserve_txt_v2 num_right">@dr2["tot_Cr"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.DetailsData != null)
                                                {
                                                    double dramt = 0.00;
                                                    double cramt = 0.00;
                                                    var sno_d2 = 0;
                                                    sno2++;
                                                    foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                                    {
                                                        var dgrpid_L1 = drd["L1"].ToString();
                                                        var dgrpid_L2 = drd["L2"].ToString();
                                                        var dgrpid = drd["acc_groupid"].ToString();
                                                        var acc_id = drd["acc_id"].ToString();
                                                        dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                        cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));
                                                        if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid == L2_id)
                                                        {
                                                            sno_d2 = sno2;
                                                            <tr data-id="@acc_id" data-parent="@L2_id" data-level="@sno_d2">
                                                                <td width="40%" class="reserve_txt_v2_nor">@drd["acc_name"].ToString()</td>
                                                                <td width="30%" class="reserve_txt_v2_nor num_right">@drd["tot_Dr"].ToString()</td>
                                                                <td width="30%" class="reserve_txt_v2_nor num_right">@drd["tot_Cr"].ToString()</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                                if (ViewBag.L3Data != null)
                                                {
                                                    var sno3 = 0;
                                                    sno2++;
                                                    foreach (System.Data.DataRow dr3 in ViewBag.L3Data.Rows)
                                                    {
                                                        var L31_id = dr3["L1"].ToString();
                                                        var L32_id = dr3["L2"].ToString();
                                                        var L3_id = dr3["L3"].ToString();
                                                        if (L31_id == L1_id && L32_id == L2_id)
                                                        {
                                                            sno3 = sno2;
                                                            <tr data-id="@L3_id" data-parent="@L2_id" data-level="@sno3">
                                                                <td width="40%" class="l3_bg reserve_txt_v3">@dr3["acc_group_name"].ToString()  </td>
                                                                <td width="30%" class="l3_bg reserve_txt_v3 num_right">@dr3["tot_Dr"].ToString()</td>
                                                                <td width="30%" class="l3_bg reserve_txt_v3 num_right">@dr3["tot_Cr"].ToString()</td>
                                                            </tr>
                                                        }
                                                        if (ViewBag.DetailsData != null)
                                                        {
                                                            double dramt = 0.00;
                                                            double cramt = 0.00;
                                                            var sno_d3 = 0;
                                                            sno3++;
                                                            foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                                            {
                                                                var dgrpid_L1 = drd["L1"].ToString();
                                                                var dgrpid_L2 = drd["L2"].ToString();
                                                                var dgrpid_L3 = drd["L3"].ToString();
                                                                var dgrpid = drd["acc_groupid"].ToString();
                                                                var acc_id = drd["acc_id"].ToString();
                                                                dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                                cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));
                                                                if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid_L3 == L3_id && dgrpid == L3_id)
                                                                {
                                                                    sno_d3 = sno3;
                                                                    <tr data-id="@acc_id" data-parent="@L3_id" data-level="@sno_d3">
                                                                        <td width="40%" class="reserve_txt_v3_nor">@drd["acc_name"].ToString() </td>
                                                                        <td width="30%" class="reserve_txt_v3_nor num_right">@drd["tot_Dr"].ToString()</td>
                                                                        <td width="30%" class="reserve_txt_v3_nor num_right">@drd["tot_Cr"].ToString()</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                        if (ViewBag.L4Data != null)
                                                        {
                                                            var sno4 = 0;
                                                            sno3++;
                                                            foreach (System.Data.DataRow dr4 in ViewBag.L4Data.Rows)
                                                            {
                                                                var L41_id = dr4["L1"].ToString();
                                                                var L42_id = dr4["L2"].ToString();
                                                                var L43_id = dr4["L3"].ToString();
                                                                var L4_id = dr4["L4"].ToString();
                                                                if (L41_id == L1_id && L42_id == L2_id && L43_id == L3_id)
                                                                {
                                                                    sno4 = sno3;
                                                                    <tr data-id="@L4_id" data-parent="@L3_id" data-level="@sno4">
                                                                        <td width="40%" class="l4_bg reserve_txt_v4">@dr4["acc_group_name"].ToString()</td>
                                                                        <td width="30%" class="l4_bg reserve_txt_v4 num_right">@dr4["tot_Dr"].ToString()</td>
                                                                        <td width="30%" class="l4_bg reserve_txt_v4 num_right">@dr4["tot_Cr"].ToString()</td>
                                                                    </tr>
                                                                }
                                                                if (ViewBag.DetailsData != null)
                                                                {
                                                                    double dramt = 0.00;
                                                                    double cramt = 0.00;
                                                                    var sno_d4 = 0;
                                                                    sno4++;
                                                                    foreach (System.Data.DataRow drd in ViewBag.DetailsData.Rows)
                                                                    {
                                                                        var dgrpid_L1 = drd["L1"].ToString();
                                                                        var dgrpid_L2 = drd["L2"].ToString();
                                                                        var dgrpid_L3 = drd["L3"].ToString();
                                                                        var dgrpid_L4 = drd["L4"].ToString();
                                                                        var dgrpid = drd["acc_groupid"].ToString();
                                                                        var acc_id = drd["acc_id"].ToString();
                                                                        dramt = Convert.ToDouble(drd["tot_Dr"].ToString().Replace(",", ""));
                                                                        cramt = Convert.ToDouble(drd["tot_Cr"].ToString().Replace(",", ""));
                                                                        if (dgrpid_L1 == L1_id && dgrpid_L2 == L2_id && dgrpid_L3 == L3_id && dgrpid_L4 == L4_id && dgrpid == L4_id)
                                                                        {
                                                                            sno_d4 = sno4;
                                                                            <tr data-id="@acc_id" data-parent="@L4_id" data-level="@sno_d4">
                                                                                <td width="40%" class="reserve_txt_v4_nor">@drd["acc_name"].ToString()</td>
                                                                                <td width="30%" class="reserve_txt_v4_nor num_right">@drd["tot_Dr"].ToString()</td>
                                                                                <td width="30%" class="reserve_txt_v4_nor num_right">@drd["tot_Cr"].ToString()</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="3" class="l1_bg">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td class="ffont num_right" width="50%"><strong>Total</strong></td>
                                                @if (ViewBag.TotalAmt != null)
                                                {
                                                    <td class="ffont num_right p-2" width="23%"><strong>@ViewBag.TotalAmt.Rows[0]["total_dr"].ToString()</strong></td>
                                                    <td class="ffont num_right" width="25%"><strong>@ViewBag.TotalAmt.Rows[0]["total_cr"].ToString()</strong></td>
                                                }
                                                else
                                                {
                                                    <td class="ffont num_right p-2" width="23%"><strong> 000.00</strong></td>
                                                    <td class="ffont num_right" width="25%"><strong>000.00</strong></td>
                                                }
                                            </tr>
                                        </table>
                                    </td>
                                   
                                    
                                </tr>
                            </table>
                        </td>
                        <td width="10">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>