@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.WorkstationSetup.WorkstationSetupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/WorkstationSetup/WorkstationSetup.js"></script>
@*/*start Add by Hina on 19-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
@{
    var Disable = true;
    string Accshowhide = "";
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        Disable = false;
    }

    if (Model.TransType == "Refresh")
    {
        Disable = true;
    }
    if (Model.TransType == "Save")
    {
        if (Model.Command == "Add")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    if (Model.Message != null)
    {
        var str1 = Model.Message;
        if (str1 == "Duplicate" || str1 == "DuplicateWS")
        {
            Disable = false;
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        Model.hdnsaveApprovebtn = null;
        if (str == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (str == "Deleted")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (str == "Used")
        {
            <script type="text/javascript">
                swal("", $("#DependencyExist").text(), "warning");
            </script>
        }
        if (str == "DuplicateWS")
        {
            <script type="text/javascript">
                swal("", "Workstation is already exist with same name in item setup.", "warning");
            </script>
        }
        if (str == "Duplicate")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    document.getElementById("vm_txt_ws_name").innerHTML = $("#valueduplicate").text();
                    $("#txt_ws_name").css("border-color", "red");
                });
            </script>
        }
        //Session["Message"] = null;
    }
}
<title>@Model.Title</title>
@using (Html.BeginForm("WorkStationSave", "WorkstationSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <!-- Item Information -->
                        <div id="ItemInfo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                            </div>
                        </div>
                        <!-- Batch Number -->
                        <div id="BatchNumber" class="modal fade" role="dialog">
                            <div class="modal-dialog" style=" max-width:600px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/PartialBatchDetail.cshtml")
                            </div>
                        </div>
                        <!-- Serial Detail -->
                        <div id="SerialDetail" class="modal fade" role="dialog">
                            <div class="modal-dialog" style=" max-width:600px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/PartialSerialNoDetail.cshtml")
                            </div>
                        </div>
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnName"].ToString();
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {

                                    case "BtnAddNew":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105001")
                                                    {
                                                        <li>
                                                            <button class="add" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105002")
                                                    {
                                                        <li>
                                                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105004")
                                                    {
                                                        <li>
                                                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }



                                            <li>
                                                <button class="save" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Save" onclick="return  validateSFDetailInsert();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105005")
                                                    {
                                                        <li>
                                                            <button class="print" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105001")
                                                    {
                                                        <li>
                                                            <button class="add" data-toggle="tooltip" data-placement="top" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105002")
                                                    {
                                                        <li>
                                                            <button class="edit" data-toggle="tooltip" data-placement="top" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105004")
                                                    {
                                                        <li>
                                                            <button class="delete" data-toggle="tooltip" data-placement="top" onclick="return functionConfirm(this);" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>

                                                        </li>
                                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                    }
                                                }
                                            }



                                            <li>
                                                <button class="save" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105005")
                                                    {
                                                        <li>
                                                            <button class="print" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105001")
                                                    {
                                                        <li>
                                                            <button class="add" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105002")
                                                    {
                                                        <li>
                                                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105004")
                                                    {
                                                        <li>
                                                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Delete" onclick="return functionConfirm(this);" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                        @Html.HiddenFor(model => model.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                    }
                                                }
                                            }



                                            <li>
                                                <button class="save" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                @*<button class="save" data-toggle="tooltip" data-placement="top"
                                                    title="@Resource.Save" onclick="return  InsertItemGroupDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>*@
                                            </li>
                                            <li>
                                                <button class="refresh" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105005")
                                                    {
                                                        <li>
                                                            <button class="print" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Back" type="submit" disabled style="filter: grayscale(100%)" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105001")
                                                    {
                                                        <li>
                                                            <button class="add" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105002")
                                                    {
                                                        <li>
                                                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105004")
                                                    {
                                                        <li>
                                                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }



                                            <li>
                                                <button class="save" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105005")
                                                    {
                                                        <li>
                                                            <button class="print" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnDelete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105001")
                                                    {
                                                        <li>
                                                            <button class="add" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105002")
                                                    {
                                                        <li>
                                                            <button class="edit" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105105004")
                                                    {
                                                        <li>
                                                            <button class="delete" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }




                                            <li>
                                                <button class="save" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105105005")
                                                    {
                                                        <li>
                                                            <button class="print" data-toggle="tooltip" data-placement="top"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back" data-toggle="tooltip" data-placement="top"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="clearfix"></div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li>
                                            <span>
                                                @Resource.CreatedBy <br><b>@Html.DisplayFor(model => model.create_name)</b>

                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.Createdon<br>
                                                <b>@Html.DisplayFor(model => model.create_dt)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>@Resource.AmendedBy<br> <b>@Html.DisplayFor(model => model.mod_name)</b></span>
                                        </li>
                                        <li>
                                            <span>@Resource.AmendedOn<br> <b>@Html.DisplayFor(model => model.mod_dt)</b></span>
                                        </li>
                                    </ul>
                                </div>
                                @Html.HiddenFor(model => model.Title, new { @id = "hdn_title" })
                                @Html.HiddenFor(model => model.TransType, new { @id = "hdn_TransType" })
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                                @Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })
                                @Html.HiddenFor(m => m.WorkstationCap, new { @id = "hdnWorkstationItemsetup" })
                                @Html.HiddenFor(model => model.hdnsaveApprovebtn, new { @id = "hdnsavebtn" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.WorkstationDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    @*<form class="accordian_form_bg" action="" method="post" novalidate>*@
                                    <div class="panel-body">
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.WorkstationName <span class="required">*</span></label>
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.ws_name, new { @id = "txt_ws_name", @class = "form-control", @placeholder = "Workstation Name", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.ws_name, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_ws_name" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.ws_name, new { @id = "txt_ws_name", @class = "form-control", @placeholder = "Workstation Name", @maxlength = "25", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()" })
                                                @Html.ValidationMessageFor(model => model.ws_name, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_ws_name" })
                                            }
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ShopfloorName <span class="required">*</span></label>
                                            @if (Disable)
                                            {
                                                @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @id = "ddl_ShopfloorName", @class = "form-control", onchange = "OnChangeddlddlList()", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Status, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_ShopfloorName" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddl_ShopfloorName", onchange = "OnChangeddlddlList()" })
                                                @Html.ValidationMessageFor(model => model.Status, String.Empty, new { @style = "color:red;!important", @id = "vm_ddl_ShopfloorName" })
                                            }
                                            <span id="spanddl_ShopfloorName" class="error_message"></span>
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.OperationStartDate <span class="required">*</span></label>
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.op_st_date, new { @class = "form-control", @id = "txt_op_st_date", @placeholder = "dd-MM-yyyy", onchange = "OnChangeddlddlList()", onInput = "OnChange_op_st_date()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.op_st_date, String.Empty, new { @style = "color:red;!important", @id = "vm_op_st_date" })
                                            }
                                            else
                                            {
                                                if (Model.op_st_date != null)
                                                {
                                                    @Html.TextBoxFor(model => model.op_st_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "txt_op_st_date", @type = "date", onchange = "OnChangeopname()", onInput = "OnChange_op_st_date()", @Value = Model.op_st_date })
                                                    //@Html.TextBoxFor(model => model.op_st_date, new { @class = "form-control", @id = "txt_op_st_date", @placeholder = "dd-MM-yyyy", onchange = "OnChangeopname()", onInput = "OnChange_op_st_date()", @type = "date", @Value = Model.op_st_date })
                                                    @Html.ValidationMessageFor(model => model.op_st_date, String.Empty, new { @style = "color:red;!important", @id = "vm_op_st_date" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.op_st_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "txt_op_st_date", @type = "date", onchange = "OnChangeopname()", onInput = "OnChange_op_st_date()", @Value = System.DateTime.Now.ToString("yyyy-MM-dd") })
                                                    //@Html.TextBoxFor(model => model.op_st_date, new { @class = "form-control", @id = "txt_op_st_date", @placeholder = "dd-MM-yyyy", onchange = "OnChangeopname()", onInput = "OnChange_op_st_date()", @type = "date", @Value = Model.op_st_date })
                                                    @Html.ValidationMessageFor(model => model.op_st_date, String.Empty, new { @style = "color:red;!important", @id = "vm_op_st_date" })
                                                }

                                            }
                                        </div>
                                        <div class="clear"></div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.OperatorName </label>
                                            @*<input id="OperatorName" class="form-control" autocomplete="off" maxlength="25" type="text" name="OperatorName"  placeholder="Operator Name"  onblur="this.placeholder='Operator Name'">*@
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.op_name, new { @id = "txt_ws_OperatorName", @class = "form-control", @placeholder = "Operator Name", @maxlength = "25", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.op_name, String.Empty, new { @style = "color:red;!important", @id = "vm_ws_OperatorName" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.op_name, new { @id = "txt_ws_OperatorName", @class = "form-control", @placeholder = "Operator Name", @maxlength = "25", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()" })
                                                @Html.ValidationMessageFor(model => model.op_name, String.Empty, new { @style = "color:red;!important", @id = "vm_ws_OperatorName" })
                                            }
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.SerialNumber </label>
                                            @*<input id="WorkstationName" class="form-control" autocomplete="off" maxlength="25" type="text" name="SerialNumber"  placeholder="Serial Number"  onblur="this.placeholder='Serial Number'">*@
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.sr_no, new { @id = "txt_sr_no", @class = "form-control", @placeholder = "Serial Number", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.sr_no, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_sr_no" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.sr_no, new { @id = "txt_sr_no", @class = "form-control", @placeholder = "Serial Number", @maxlength = "25", autocomplete = "off", onchange = "OnChangeopname()", onInput = "OnChangeopname()" })
                                                @Html.ValidationMessageFor(model => model.sr_no, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_sr_no" })
                                            }
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Make</label>
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.Make, new { @id = "txt_Make", @class = "form-control", @placeholder = Resource.Make, onchange = "", onInput = "", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Make, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_Make" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Make, new { @id = "txt_Make", autocomplete = "off", @class = "form-control", @placeholder = Resource.Make, @maxlength = "25", onchange = "", onInput = "" })
                                                @Html.ValidationMessageFor(model => model.Make, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_Make" })
                                            }
                                            @*<input class="form-control" id="Make" maxlength="25" name="Make" placeholder="@Resource.Make" type="text" value="">*@
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ModelNumber</label>
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.Model_no, new { @id = "txt_Model_no", @class = "form-control", @placeholder = Resource.ModelNumber, onchange = "", onInput = "", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Model_no, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_Model_no" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.Model_no, new { @id = "txt_Model_no", autocomplete = "off", @class = "form-control", @placeholder = Resource.ModelNumber, @maxlength = "25", onchange = "", onInput = "" })
                                                @Html.ValidationMessageFor(model => model.Model_no, String.Empty, new { @style = "color:red;!important", @id = "vm_txt_Model_no" })
                                            }
                                            @*<input autocomplete="off" class="form-control" id="ModelNumber" maxlength="25" name="ModelNumber" oninput="OnChangeopname()" onchange="" placeholder="@Resource.ModelNumber" type="text" value="">*@
                                        </div>
                                        <div class="clear"></div>
                                        @*<div class="col-md-55 col-sm-12 ">
                                                <label class="col-form-label label-align">  @Resource.groupname <span class="required">*</span></label>
                                                @if (Disable)
                                                {
                                                    @Html.DropDownListFor(model => model.Group_name, new SelectList(Model.GroupList, "item_grp_id", "ItemGroupChildNood"), new { @id = "group_name", @class = "form-control", @disabled = "disabled" })
                                                    <input type="hidden" id="ajaxUrlGetAutoCompleteSearchSuggestion" value='@Url.Action("GetAutoCompleteSearchSuggestion", "WorkstationSetup")' />
                                                    @Html.HiddenFor(model => model.Group_name, new { id = "hdGrpID" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.Group_name, new SelectList(Model.GroupList, "item_grp_id", "ItemGroupChildNood"), new { @id = "group_name", @class = "form-control", @onchange = "OnChange_spanGroupName()" })
                                                    <input type="hidden" id="ajaxUrlGetAutoCompleteSearchSuggestion" value='@Url.Action("GetAutoCompleteSearchSuggestion", "WorkstationSetup")' />
                                                    @Html.HiddenFor(model => model.Group_name, new { id = "hdGrpID" })
                                                }
                                                <span id="spanGroupName" class="error_message"></span>
                                            </div>*@
                                        @Html.HiddenFor(model => model.ws_id, new { @id = "hdn_ws_id" })
                                        @Html.HiddenFor(model => model.ws_id, new { @id = "HdnDocNo_ForAttach" })
                                        <div class="clear"></div>
                                    </div>
                                    @*</form>*@
                                </div>
                            </section>

                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.ProductionCapacity <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>

                                @if (Disable == false)
                                {
                                    Accshowhide = "show";
                                }

                                <div id="collapseTwo" class="panel-collapse collapse @Accshowhide" role="tabpanel" aria-labelledby="headingTwo">


                                    <div class="panel-body">
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ItemName <span class="required">*</span></label>
                                            @if (Disable)
                                            {
                                                <select class="form-control" id="ddl_ItemName" name="Status" onchange="ddl_ItemName_onchange()" disabled>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="ddl_ItemName" name="Status" onchange="ddl_ItemName_onchange()">
                                                </select>
                                            }
                                            <span id="spanddl_ItemName" class="error_message"></span>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align" title="Base Unit Of Measure">UOM</label>
                                            <input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" value="" required="required" placeholder="@Resource.UOM" disabled>
                                            <input id="UOMID" value='' type="hidden" />
                                            <span id="spanUom" class="error_message"></span>
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.OptimumQuantity <span class="required">*</span></label>
                                            @if (Disable)
                                            {
                                                <input id="OptimumQuantity" class="form-control num_right" autocomplete="off" maxlength="25" type="text" name="OptimumQuantity" onInput="onchangeOptimumQuantity(this,event)" placeholder="0000.00" disabled>
                                            }
                                            else
                                            {
                                                <input id="OptimumQuantity" class="form-control num_right" autocomplete="off" maxlength="25" type="text" name="OptimumQuantity" onchange="OnclickReqQty(event)" @*onInput="onchangeOptimumQuantity(this,event)"*@ onkeypress="return AmtFloatQtyonly(this,event)" placeholder="0000.00">
                                            }
                                            <span id="spanOptmQty" class="error_message"></span>
                                        </div>
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.PerUnit <span class="required">*</span></label>
                                            @*<input id="PerUnit" class="form-control" autocomplete="off" maxlength="25" type="text" name="PerUnit"  placeholder="PerUnit"  onblur="this.placeholder='PerUnit'">*@
                                            @if (Disable)
                                            {
                                                <select class="form-control" id="PerUnit" name="Status" onchange="onchangePerUnit(this)" disabled>
                                                    <option value="0">---Select---</option>
                                                    <option value="M">Monthly</option>
                                                    <option value="Q">Quarterly</option>
                                                    <option value="Y">Yearly</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select class="form-control" id="PerUnit" name="Status" onchange="onchangePerUnit(this)">
                                                    <option value="0">---Select---</option>
                                                    <option value="M">Monthly</option>
                                                    <option value="Q">Quarterly</option>
                                                    <option value="Y">Yearly</option>
                                                </select>
                                            }

                                            <span id="spanPerUnit" class="error_message"></span>
                                        </div>
                                        @if (Disable)
                                        {

                                        }
                                        else
                                        {
                                            <div class="col-md-1 col-sm-12" id="divAddNew">
                                                <a href="#">
                                                    <div class="plus_icon2"> <i class="fa fa-plus" id="ParaNewAddBtn" onclick="AddNewRow()" title=" @Resource.AddNew"></i> </div>
                                                </a>
                                            </div>

                                        }


                                        <div class="col-md-1 col-sm-12" id="divUpdate" style="display: none">
                                            <a href="#" style="color:#ffffff;">
                                                <div class="plus_icon1 margin25"> <i class="fa fa-refresh ref" id="ParaItemUpdateBtn" onclick="OnClickParaItemUpdateBtn(this)" title="" data-original-title="Update"></i> </div>
                                                <input type="hidden" id="hdnUpdateInTable" />
                                            </a>
                                        </div>


                                        @Html.HiddenFor(model => model.shopfloorattrdetails, new { @id = "hdnshopfloorattrdetailsList" })
                                        <div class="card-box table-responsive dy_table">
                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1" style="max-height:200px;">
                                                <div class="col-md-12 col-sm-12 margin20">

                                                    <table class="table table-striped jambo_table bulk_action rowhighlighttbl" id="tblProdCap" style="width:100%">
                                                        <thead>
                                                            <tr class="headings">
                                                                <th class="column-title" width="3%"></th>
                                                                <th class="column-title" width="3%"></th>
                                                                <th width="2%">@Resource.SrNo</th>
                                                                <th width="32%">@Resource.ItemName</th>
                                                                <th width="20%">@Resource.UOM</th>
                                                                <th width="20%">@Resource.OptimumQuantity</th>
                                                                <th width="20%">@Resource.PerUnit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag.WorkStationCapacity != null)
                                                            {

                                                                Int32 count = 0;

                                                                foreach (System.Data.DataRow item in ViewBag.WorkStationCapacity.Rows)
                                                                {
                                                                    count++;
                                                                    var OptiminQty = item["optm_qty"].ToString();
                                                                    var Qty = Convert.ToDouble(OptiminQty);
                                                                    var PerUnit = item["per_unit"].ToString();
                                                                    var PrUn = string.Empty;
                                                                    if (PerUnit == "Q")
                                                                    {
                                                                        PrUn = "Quaterly";
                                                                    }
                                                                    if (PerUnit == "Y")
                                                                    {
                                                                        PrUn = "Yearly";
                                                                    }
                                                                    if (PerUnit == "M")
                                                                    {
                                                                        PrUn = "Monthly";
                                                                    }
                                                                    <tr>
                                                                        @if (Disable)
                                                                        {
                                                                            <td class="center"> <i class="fa fa-trash" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="red center"> <i class="fa fa-trash" aria-hidden="true" id="delBtnIcon" &nbsp;title="@Resource.Delete" onclick="deleteRow(this,event)"></i></td>
                                                                        }
                                                                        @if (Disable)
                                                                        {
                                                                            <td class="center edit_icon"> <i class="fa fa-edit editshopfloor" aria-hidden="true" id="editBtnIcon" title="@Resource.Edit"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="center edit_icon"> <i class="fa fa-edit editshopfloor" aria-hidden="true" id="editBtnIcon" title="@Resource.Edit" onclick="editRow(this,event)"></i></td>
                                                                        }
                                                                        <td id="count">@count</td>
                                                                        <td style="display: none;"><input type="hidden" id="SNohf" value="@count" /></td>
                                                                        <td id="item_name">@item["item_name"].ToString()</td>
                                                                        <td style="display: none;"><input type="hidden" id="tbl_hdn_Itm_ID" name="tbl_hdn_Itm_ID" value="@item["item_id"].ToString()" /></td>
                                                                        <td id="uom_alias">@item["uom_alias"].ToString()</td>
                                                                        <td style="display: none;"><input type="hidden" id="tbl_hdn_UOM_ID" value="@item["uom_id"].ToString()" /></td>
                                                                        <td id="optm_qty" class="num_right">@string.Format("{0:0.000}", Qty)</td>
                                                                        <td>@PrUn</td>
                                                                        <td style="display: none;"><input type="hidden" id="tbl_hdn_PerUnit_Val" value="@item["per_unit"].ToString()" /></td>
                                                                        <td style="display: none;"><input type="hidden" id="tbl_hdn_sno" value="@count" /></td>
                                                                        <td id="item_id" class=" " hidden="hidden">@item["item_id"].ToString()</td>
                                                                        <td id="uom_id" class=" " hidden="hidden">@item["uom_id"].ToString()</td>
                                                                        <td id="per_unit_val" class=" " hidden="hidden">@item["per_unit"].ToString()</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>


                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> @Resource.BreakdownHistory <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="card-box table-responsive dy_table">
                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1" style="max-height:200px;">
                                                <table id="" class="table table-bordered">
                                                    <thead>
                                                        <tr class="headings">
                                                            @*<th width="1%"> &nbsp;</th>*@
                                                            <th width="2%">@Resource.SrNo</th>
                                                            <th width="10%">@Resource.StartDate</th>
                                                            <th width="10%">@Resource.EndDate</th>
                                                            <th width="10%">@Resource.BreakdownIssue</th>
                                                            <th width="7%">@Resource.BreakdownCause</th>
                                                            <th width="9%">@Resource.RepairValue</th>
                                                            <th width="9%">@Resource.AttendedBy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @*<td class=" red center"> <i class="fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i></td>*@
                                                            <td class="sr_padding"><span id="SNo">01 </span> </td>
                                                            <td>05-05-2021 16:15 </td>
                                                            <td>05-05-2021 16:15 </td>
                                                            <td>Breakdown Issue </td>
                                                            <td>Breakdown Cause </td>
                                                            <td>Repair Value </td>
                                                            <td>Mukesh Sharma </td>
                                                        <tr>
                                                            @*<td class=" red center"> <i class="fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i></td>*@
                                                            <td class="sr_padding">02 </td>
                                                            <td>05-05-2021 16:15 </td>
                                                            <td>05-05-2021 16:15 </td>
                                                            <td>Breakdown Issue </td>
                                                            <td>Breakdown Cause </td>
                                                            <td>Repair Value </td>
                                                            <td>Prem Raj </td>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            @{
                                ViewBag.Disable = Disable;
                            }
                            @Html.Partial("~/Areas/Common/Views/Comn_PartialAttatchmentDetail.cshtml")
                            @Html.HiddenFor(model => model.attatchmentdetail, new { @id = "hdn_Attatchment_details" })
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}