@using EnRepMobileWeb.MODELS.Common;
@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script>
    $(document).ready(function () {

        $('#SourceDocument').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            nonSelectedText: "---All---",
            numberDisplayed: 1
        });

    });
</script>
<style>
    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }

    table#KickOffAttributes th, table#datatable-buttons1 th, table#parts th {
        background-color: #ffffff;
    }
</style>
<div class="row">
    <!-- Description Information Start-->
    <div class="modal fade" id="textareaModal" tabindex="-1">
        <div class="modal-dialog" style="max-width:600px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Comn_PartialDescription.cshtml")

        </div>
    </div>
    <!-- Description Information End-->
    <!-- Procurement Plan Order Detail Start -->
    <div id="ProcurementPlanOrderDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" id="" style=" max-width:800px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementPlanOrderDetail.cshtml")
        </div>
    </div>
    <!-- Procurement Plan Order Detail Start End -->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @*<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                    <span class="step_no">1</span>
                                </a>
                            </li>
                        </ul>
                        <input type="hidden" id="hdDoc_No" value="">
                    </div>*@
                <div id="" class="col-md-7 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" disabled type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    title="@Resource.Delete" disabled type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save"
                                    title="@Resource.Save" type="submit" onclick="" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        @*<li>
                                <button class="forward"
                                        title="@Resource.Forward" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                            </li>*@
                        <li>
                            <button class="approve"
                                    title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        @*<li>
                                <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                            </li>*@
                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <a class="back" href="/ApplicationLayer/SampleExecution/SampleExecution"
                                    title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <!--<span>Collapsible / Accordion </span>-->
                        <div class="approved_by">
                            <ul>
                                <li>
                                    <span>@Resource.CreatedBy<br><b>Neeraj</b></span>
                                </li>
                                <li>
                                    <span>@Resource.Createdon<br><b>10-12-2025 15:43</b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedBy<br><b>Surendar Singh</b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedBy<br><b>12-12-2025 13:50</b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.Status<br /><b>Approved</b></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Execution Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-55 col-sm-12">
                                            <label class="col-form-label label-align">Product Description</label>
                                            <input value="Engine Mount -TMT" class="form-control" id="ProductDescription" maxlength="20" name="ProductDescription" placeholder="Engine Mount -TMT" type="text" disabled="disabled">
                                        </div>
                                        <div class="col-md-55 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">UOM</label>
                                            <input value="Pcs" class="form-control" id="Pcs" maxlength="20" name="Pcs" placeholder="Pcs" type="text" disabled="disabled">
                                        </div>
                                        <div class="col-md-55 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">Part Description</label>
                                            <input value="Main" class="form-control" id="PartDescription" maxlength="20" name="PartDescription" placeholder="Main" type="text" disabled="disabled">
                                        </div>
                                        <div class="col-md-55 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">QC Status</label>
                                            <input value="Rejected" class="form-control" id="QCStatus" maxlength="20" name="QCStatus" placeholder="Main" type="text" disabled="disabled">
                                        </div>

                                        <div class="card-box table-responsive dy_table ">
                                            <div class="">
                                                <div class=" col-sm-12 mt-3">
                                                    <div class="tableFixHead height15VH">
                                                        <table id="parts" class="table table-bordered rowhighlighttbl">
                                                            <thead>
                                                                <tr class="headings">

                                                                    <th width="10%" style="min-width:50px;">Sr. No.</th>
                                                                    <th width="15%">Execution Number</th>
                                                                    <th width="15%">Execution Date</th>
                                                                    <th width="15%">Shopfloor</th>
                                                                    <th width="15%">Supervisor</th>
                                                                    <th width="15%">Start Date & Time</th>
                                                                    <th width="15%">End Date & Time</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>01</td>
                                                                    <td>M1/06/25/00001</td>
                                                                    <td>10-06-2025</td>
                                                                    <td>M3</td>
                                                                    <td>Pritam Singh</td>
                                                                    <td>10-06-2025 10:20:20</td>
                                                                    <td>10-06-2025 16:30:20</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-box table-responsive dy_table ">
                                            <div class="">
                                                <div class=" col-sm-12 mt-3">
                                                    <div class="tableFixHead height35VH">
                                                        <h2 class="col-md-9 col-sm-12 no-padding">Material Detail</h2>
                                                        <table id="parts" class="table table-bordered rowhighlighttbl">
                                                            <thead>
                                                                <tr class="headings">
                                                                    <th width="10%" style="min-width:50px;">Sr. No.</th>
                                                                    <th width="18%">Material Name</th>
                                                                    <th width="18%">UOM</th>
                                                                    <th width="18%">Quantity</th>
                                                                    <th width="18%">Cost Price</th>
                                                                    <th width="18%">Total Cost</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>01</td>
                                                                    <td>SG-9799HY</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">209.70</td>
                                                                    <td class="num_right">209.70</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>02</td>
                                                                    <td>SG-3213</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">521.72</td>
                                                                    <td class="num_right">521.72</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>03</td>
                                                                    <td>SG-3368</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">289.63</td>
                                                                    <td class="num_right">289.63</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>04</td>
                                                                    <td>SG-9959</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">225.88</td>
                                                                    <td class="num_right">225.88</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>05</td>
                                                                    <td>SG-3200</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">154.01</td>
                                                                    <td class="num_right">154.01</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>06</td>
                                                                    <td>SG-3233</td>
                                                                    <td>Pcs</td>
                                                                    <td class="num_right">1.00</td>
                                                                    <td class="num_right">147.13</td>
                                                                    <td class="num_right">147.13</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">&nbsp;</td>
                                                                    <td class="num_right font-weight-bold">1548.06</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-box table-responsive dy_table ">
                                            <div class="">
                                                <div class=" col-sm-12 mt-3">
                                                    <div class="tableFixHead height35VH">
                                                        <h2 class="col-md-9 col-sm-12 no-padding">Overhead Cost</h2>
                                                        <table id="parts" class="table table-bordered rowhighlighttbl">
                                                            <thead>
                                                                <tr class="headings">
                                                                    <th width="10%" style="min-width:50px;">Sr. No.</th>
                                                                    <th width="15%">Overhead Type</th>
                                                                    <th width="15%">UOM</th>
                                                                    <th width="15%">Quantity Per Unit</th>
                                                                    <th width="15%">Cost Per Unit</th>
                                                                    <th width="15%">Total Cost</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>01</td>
                                                                    <td>Manpower</td>
                                                                    <td>Manday</td>
                                                                    <td class="num_right">3.5</td>
                                                                    <td class="num_right">30.00</td>
                                                                    <td class="num_right">105.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>02</td>
                                                                    <td>Factory Cost</td>
                                                                    <td>Variable</td>
                                                                    <td class="num_right">1.5</td>
                                                                    <td class="num_right">25.00</td>
                                                                    <td class="num_right">37.50</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>03</td>
                                                                    <td>Electricity Consumption</td>
                                                                    <td>Unit</td>
                                                                    <td class="num_right">5</td>
                                                                    <td class="num_right">8.70</td>
                                                                    <td class="num_right">43.50</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>04</td>
                                                                    <td>Machining</td>
                                                                    <td>Variable</td>
                                                                    <td class="num_right">10</td>
                                                                    <td class="num_right">0.50</td>
                                                                    <td class="num_right">5.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">&nbsp;</td>
                                                                    <td class="num_right font-weight-bold">191.00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table id="parts" class="table table-bordered rowhighlighttbl">

                                                            <tbody>
                                                                <tr>
                                                                    <td width="50%" class="font-weight-bold">Total Cost of Execution</td>
                                                                    <td class="num_right font-weight-bold">1739.06</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Attachment<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse hide" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div id="PartialImageBind">

                                    <script src="/Content/Scripts/Common/CommonJS1.js"></script>



                                    <table id="hdn_attatchment_list" style="display:none;">
                                        <tbody>
                                        </tbody>
                                    </table>




                                </div>

                                <div class="form-group" id="FilesUpload">
                                </div>

                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
<script>
    function open_popupdes(id) {
        debugger;
        const myModal = new bootstrap.Modal(document.getElementById("textareaModal"));
        $("#hdn_txtdes").val(id);
        var des = $("#" + id).val();
        document.getElementById("modalTextarea").value = des;
        myModal.show();
    }
    // Open modal when clicking the main textarea

    function onclick_save_close() {
        debugger
        var id = $("#hdn_txtdes").val();
        document.getElementById(id).value = document.getElementById("modalTextarea").value;
    }
</script>
<script>
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = function (event) {
            const img = document.getElementById('preview');
            img.src = event.target.result;
            img.classList.remove('d-none');
        };
        reader.readAsDataURL(file);
    });
</script>