@model EnRepMobileWeb.MODELS.BusinessLayer.ItemDetail.ItemDetailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@*//***All Session Removed By Shubham Maurya 13-01-2023 ***//*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/ItemSetup/ItemList.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!--Partial Item Information Start-->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!--Partial Item Information End-->
    <!--Partial Import Item Data Start-->
    <div id="PartialImportItemData" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:1200px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/Migration/Partial_Import_ItemData.cshtml")
        </div>
    </div>
    <!--Partial Import Item Data End-->
    <!-- Error Detail -->
    <div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="divErrorDetail" style="min-width:600px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")
        </div>
    </div>
    <!-- Branch Mapping Start -->
    <div id="BranchMapping" class="modal fade" role="dialog">
        <div class="modal-dialog" id="" style=" max-width:800px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialBranchMapping.cshtml")

        </div>
    </div>


    <!-- Partial Item Portfolio Start -->
    <div id="ItemPortfolio" class="modal fade" role="dialog">
        <div class="modal-dialog" id="ItemPortfolioPopUp" style=" max-width:800px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialItemportfolio.cshtml")
        </div>
    </div>
    <!-- Partial Item Portfolio End -->
    <!-- Branch Mapping End -->
    <div id="SubItemDetail" class="modal fade" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="divSubItemDetail" style="min-width:400px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialExcelSubItem.cshtml")
        </div>
    </div>
    <!-- Error Detail End-->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
               
              @Html.HiddenFor(M=>M.Reference_noflag,new {@id= "hdnReference_noflag" })
                @*<input type="hidden" value="@ViewBag.listdata" id="ListFilterData" />*@
                @*@Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })*@
                @if (ViewBag.VBAccess != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBAccess.Rows)
                    {
                        if (Row["feature_id"].ToString() == "103105001")
                        {
                            <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile", "ItemList", 
       new { reference_noflag = Model.Reference_noflag })"><img src="~/Content/Images/export_icon.png" width="32" id="" onclick="" height="32" alt="Download Data Template"></a>

                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Import @Resource.Data" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#PartialImportItemData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="32" id="ImportData" height="32" alt="Import Data"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.AddNew" href="@Url.Action("AddNewItem", "ItemList")"><img src="~/Content/Images/addgreen.png" width="32" id="addNewItem" onclick="BtnAddNewItem()" height="32" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12 padding_zero">
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemName
                                    </label>
                                    @*@Html.DropDownListFor(model => model.ddl_ItemName, new SelectList(Model.ItemNameList, "ID", "Name"), new { @class = "form-control", id = "itemNameList" })*@
                                    @Html.DropDownListFor(model => model.ddl_ItemName, new SelectList(Model.ItemNameList, "Item_ID", "Item_Name"),
         new { @class = "form-control", id = "itemNameList", @onchange = " OnchangeItemName()" })
                                    @Html.HiddenFor(Model => Model.ddl_ItemName, new { @id = "hf_ItemID" })
                                    @*<select class="form-control" id="itemNameList">
                <option value="0">ALL</option>
            </select>*@
                                    @*<input type="hidden" id="ItemListName" value='@Url.Action("GetAutoCompleteItemList", "ItemList")' />*@
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemGroup
                                    </label>
                                    @Html.DropDownListFor(model => model.ddlGroup, new SelectList(Model.ItemGroupList, "ID", "Name"), new { @class = "form-control", id = "itemGrpList" })
                                    @*<select class="form-control" id="itemGrpList">
                <option value="0">ALL</option>
            </select>*@
                                    @*<input type="hidden" id="ItemGrpName" value='@Url.Action("GetAutoCompleteItemGrpList", "ItemList")' />*@
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ItemPortfolio</label>
                                    @Html.DropDownListFor(model => model.ddlItemPortfolio, new SelectList(Model.ItemPortfolioList, "ID", "Name"), new { @class = "form-control", id = "itemPortfList" })
                                    @*<select class="form-control" id="itemPortfList">
                <option value="0">ALL</option>
            </select>*@
                                    @*<input type="hidden" id="ItemPortfolio" value='@Url.Action("GetAutoCompleteItemPortfList", "ItemList")' />*@
                                </div>
                                <div class="col-md-2 col-sm-12 ">
                                    <label class="col-form-label label-align">
                                        @Resource.AttributeName
                                    </label>
                                    @Html.DropDownListFor(model => model.ddlAttributeName, new SelectList(Model.AttributeNameList, "ID", "Name"), new { @class = "form-control", id = "itemAttrList", onchange = "OnchangeAttribute()" })
                                    @*<select class="form-control" id="itemAttrList" onchange="OnchangeAttribute()">
                <option value="0">ALL</option>
            </select>*@
                                </div>
                                <div class="col-md-2 col-sm-12 ">
                                    <label class="col-form-label label-align">
                                        @Resource.AttributeValue
                                    </label>
                                    @Html.DropDownListFor(model => model.ddlAttributeValue, new SelectList(Model.AttributeValueList, "ID", "Name"), new { @class = "form-control", id = "itemAttrValList" })
                                    @*<select class="form-control" id="itemAttrValList">
                <option value="0">ALL</option>
            </select>*@
                                </div>
                                <div class="col-md-1 col-sm-12 ">
                                    <label class="col-form-label label-align">
                                        @Resource.Active
                                    </label>

                                    @Html.DropDownListFor(model => model.item_ActStatus, new SelectList(new List<SelectListItem> {
                                                                                               new SelectListItem {Text="ALL",Value="0" },
                                                                                               new SelectListItem {Text="Yes",Value="Y" },
                                                                                               new SelectListItem {Text="No",Value="N" },
                                                                                               }, "Value", "Text"
                                                ), new { @class = "form-control", @id = "listActStatus", @name = "Active" , @onchange = "onchangeitem_ActStatus()" })

                                    @Html.HiddenFor(model => model.hdnitemActStatus, new { @id = "hdnitem_ActStatus" })
                                </div>
                                <div class="col-md-1 col-sm-12 ">
                                    @*Added by Nitesh 12-03-2024 For Attachment Image is not or yes*@
                                    <label class="col-form-label label-align">
                                        @Resource.Image
                                    </label>
                                    @Html.DropDownListFor(model => model.ImageFilter, new SelectList(new List<SelectListItem> {
                                                                                                 new SelectListItem {Text="ALL",Value="0" },
                                                                                                 new SelectListItem {Text="Yes",Value="Y" },
                                                                                                 new SelectListItem {Text="No",Value="N" },
                                                                                                 }, "Value", "Text"
                                                  ), new { @class = "form-control", @id = "ImageFilter", @name = "ImageFilter" })
                                </div>
                                <div class="col-md-2 col-sm-12 ">
                                    <label class="col-form-label label-align">
                                        @Resource.Status
                                    </label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "item_Status" })
                                </div>
                                <div class="col-md-1 col-sm-12 width5">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="ItmListBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialItemList.cshtml")
                        <input type="hidden" id="ItemList_Details" value='@Url.Action("GetItemListDetails", "ItemList")' />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.VBAccess != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBAccess.Rows)
        {
            if (Row["feature_id"].ToString() == "103105004")
            {
                <div class="col-md-2 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<form id="available_stock" class="available_stock" data-parsley-validate class="form-horizontal form-label-left">*@
                                    <form id="available_stock" class="available_stock" data-parsley-validate>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                <label class="col-form-label label-align" for="">@Resource.AvailableStocks</label>
                                                <input type="text" id="TxtAvlStock" class="form-control num_right" placeholder="0000.00" readonly>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                <label class="col-form-label label-align" for="">@Resource.ReworkableStocks</label>
                                                <input type="text" id="TxtRwkStock" class="form-control num_right" placeholder="0000.00" readonly>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                <label class="col-form-label label-align" for="">@Resource.RejectedStock</label>
                                                <input type="text" id="TxtRejStock" class="form-control num_right_label" placeholder="0000.00" readonly>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                <label class="col-form-label label-align" for="">@Resource.PendingReceipt</label>
                                                <input type="text" id="TxtPendingReceipt" class="form-control num_right" placeholder="0000.00" readonly>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                <label class="col-form-label label-align" for="">@Resource.PendingShipment</label>
                                                <input type="text" id="TxtPendingShipment" class="form-control num_right" placeholder="0000.00" readonly>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 30px;">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (Row["feature_id"].ToString() == "103105007")
            {
                <input type="hidden" id="Per_ExportData" value="Yes" />
            }

        }
    }
</div>
@*@{
        if (ViewBag.VBAccess != null)
        {
            foreach (System.Data.DataRow Row in ViewBag.VBAccess.Rows)
            {
                if (Row["feature_id"].ToString() == "103105007")
                {
                    <script>
                        $(document).ready(function () {
                            debugger;
                            $("#datatable-buttons_wrapper .buttons-csv").css("display", "none");
                        });
                    </script>
                }
                else
                {
    <script>
        $(document).ready(function () {
            debugger;
            $("#datatable-buttons_wrapper .buttons-csv").css("display", "none");
        });
    </script>
                }
            }
        }
    }*@
<!-- page content end -->