@*@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.DomesticSaleInvoice.SI_ListModel*@
@*@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.OpeningBalance.OpeningBalanceModel*@
@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.ShopfloorTransferDetail.ShopfloortransferDetailModel
@using EnRepMobileWeb.Resources;
@using EnRepMobileWeb.MODELS.Common;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
<title>@Model.Title</title>
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/MIS/ShopfloortransferDetail/ShopfloorTransferDetailJS.js"></script>
@*<title>@Model.Title</title>*@
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
        </div>
    </div>
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!--MIS Batch Detail -->
    <div id="MISBatchDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:800px;">
            <!-- Modal content-->
            <div id="MISBatchDetail1">
                @Html.Partial("~/Areas/Common/Views/Comn_PartialMISBatchDetail.cshtml")
            </div>
        </div>
    </div>
    <!-- Sub Item Detail Start -->
    <div id="SubItem" class="modal fade" role="dialog">
        <div class="modal-dialog" id="SubItemPopUp" style=" max-width:600px;">
            <!-- Modal content-->
            @{
                SubItemPopupDt mdl = new SubItemPopupDt();
            }
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemDetail.cshtml", mdl)
        </div>
        <table id="hdn_Sub_ItemDetailTbl" hidden>
            <tbody>
                @if (ViewBag.SubItemDetails != null)
                {
                    foreach (System.Data.DataRow dr in ViewBag.SubItemDetails.Rows)
                    {
                        <tr>
                            <td><input type="text" id="ItemId" value='@dr["item_id"]'></td>
                            <td><input type="text" id="subItemId" value='@dr["sub_item_id"]'></td>
                            <td><input type="text" id="subItemQty" value='@dr["Qty"]'></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*@Html.HiddenFor(model => model.SubItemDetailsDt, new { @id = "SubItemDetailsDt" })*@
    </div>
    <!-- Sub Item Detail End -->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.TransactionType </label>
                            <select class="form-control" id="TransactionType" name="TransactionType">
                                <option value="0">---ALL---</option>
                                <option value="SW">Shopfloor to Warehouse</option>
                                <option value="SS">Shopfloor to Shopfloor</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.MaterialType </label>
                            <select class="form-control" id="MaterialType" name="MaterialType">
                                <option value="0">---ALL---</option>
                                <option value="AC">Accepted</option>
                                <option value="RJ">Rejected</option>
                                <option value="RW">Rework</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.FromDate
                            </label>

                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @type = "date", @onchange = "validateToDate();", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            <span id="PaymentDate" class="sr-only">(success)</span>

                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.ToDate
                            </label>

                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            <span id="PaymentDate" class="sr-only">(success)</span>

                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="col-form-label label-align">@Resource.ItemName</label>
                            @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemNameList, "item_id", "item_name"), new { @class = "form-control", @id = "ddlItemName" })
                            <input type="hidden" id="ItemListName" value='@Url.Action("GetItemList", "ShopfloorTransferDetail")' />
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="col-form-label label-align">@Resource.ItemGroup</label>
                            @Html.DropDownListFor(model => model.ItemGroupId, new SelectList(Model.ItemGroupNameList, "item_grp_id", "GroupName"), new { @class = "form-control", id = "ddlItemGroupName" })
                            <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "ShopfloorTransferDetail")' />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align"> @Resource.ShopfloorName </label>
                            @Html.DropDownListFor(model => model.shflId, new SelectList(Model.ShopFloorList, "shfl_id", "shfl_name"),
                      new { @class = "form-control", @id = "ddlShopfloor", @name = "ddlShopfloor" })

                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align"> @Resource.Status </label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_code", "status_name"),
                      new { @class = "form-control", @id = "ddlStatus", @name = "ddlStatus" })

                        </div>
                        <div class="col-md-1 col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="SearchShflTrfDetail();"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="DivShopfloorTrfDetail" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialShopfloorTransferDetail.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>