@using EnRepMobileWeb.MODELS.Common;
@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script>
    $(document).ready(function () {

        $('#SourceDocument').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            nonSelectedText: "---All---",
            numberDisplayed: 1
        });

    });
</script>
<style>
    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }

    table#KickOffAttributes th, table#datatable-buttons1 th, table#parts th {
        background-color: #ffffff;
    }
</style>
<div class="row">
    <!-- Description Information Start-->
    <div class="modal fade" id="textareaModal" tabindex="-1">
        <div class="modal-dialog" style="max-width:600px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Comn_PartialDescription.cshtml")

        </div>
    </div>
    <!-- Description Information End-->
    <!-- Procurement Plan Order Detail Start -->
    <div id="ProcurementPlanOrderDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" id="" style=" max-width:800px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProcurementPlanOrderDetail.cshtml")
        </div>
    </div>
    <!-- Procurement Plan Order Detail Start End -->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @*<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1" class="disabled" isdone="1" onclick="ForwardBarHistoryClick()" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" rel="1" id="a_1">
                                    <span class="step_no">1</span>
                                </a>
                            </li>
                        </ul>
                        <input type="hidden" id="hdDoc_No" value="">
                    </div>*@
                <div id="" class="col-md-7 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" disabled type="submit" id="btn_add" name="Command" value="AddNew" onclick="RemoveSessionData()"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    title="@Resource.Delete" disabled type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save"
                                    title="@Resource.Save" type="submit" onclick="" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        @*<li>
                                <button class="forward"
                                        title="@Resource.Forward" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                            </li>*@
                        <li>
                            <button class="approve"
                                    title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        @*<li>
                                <button class="workflow" title="@Resource.Workflow" type="button" id="btn_workflow" onclick="" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                            </li>*@
                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>

                            <a class="back" href="/ApplicationLayer/ProductDiscovery/ProductDiscovery"
                                    title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <!--<span>Collapsible / Accordion </span>-->
                        <div class="approved_by">
                            <ul>
                                <li>
                                    <span>@Resource.CreatedBy<br><b>Neeraj</b></span>
                                </li>
                                <li>
                                    <span>@Resource.Createdon<br><b>10-12-2025 15:43</b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedBy<br><b>Surendar Singh</b></span>
                                </li>
                                <li>
                                    <span>@Resource.ApprovedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedBy<br><b>12-12-2025 13:50</b></span>
                                </li>
                                <li>
                                    <span>@Resource.AmendedOn<br><b></b></span>
                                </li>
                                <li>
                                    <span>@Resource.Status<br /><b>Approved</b></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Product Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">

                            <div class="panel-body">
                                <div class="col-md-10 col-sm-12 pl-0 pr-0">
                                    <div class="col-md-55 col-sm-12">
                                        <label class="col-form-label label-align">Product Description</label>
                                        <input value="Engine Mount -TMT" class="form-control" id="ProductDescription" maxlength="20" name="ProductDescription" placeholder="Engine Mount -TMT" type="text">
                                    </div>
                                    <div class="col-md-55 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">UOM</label>
                                        <select class="form-control" id="UOM" name="UOM">
                                            <option value="">All</option>
                                            <option value="" selected="selected">Pcs</option>
                                        </select>
                                    </div>
                                    <div class="col-md-55 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">Number of Parts</label>
                                        <input value="6" class="form-control" id="NumberOfParts" maxlength="20" name="NumberOfParts" placeholder="6" type="text">
                                    </div>
                                    <div class="col-md-55 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">Make</label>
                                        <input value="Audi" class="form-control" id="Make" maxlength="20" name="Make" placeholder="Audi" type="text">
                                    </div>
                                    <div class="col-md-55 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">Model</label>
                                        <input value="Q6" class="form-control" id="Model" maxlength="20" name="Model" placeholder="Q6" type="text">
                                    </div>
                                    <div class="col-md-55 col-sm-12">
                                        <label class="col-form-label label-align">Category</label>
                                        <input value="Passenger Vehicle" class="form-control" id="Category" maxlength="20" name="Category" placeholder="Passenger Vehicle" type="text">
                                    </div>

                                </div>
                                <div class="col-md-2 col-sm-12 ">
                                    <label class="col-form-label label-align col-md-12 col-sm-12">Image</label>
                                    <img src="~/Content/Images/product1.png" height="150" />
                                </div>

                                <div class="clear"></div>

                            </div>
                        </div>
                    </section>
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" class="collapsed" aria-controls="collapseTwo">Parts Detail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="false"></span> </a></h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingTwo" style="">
                            <div class="panel-body">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">Product Description</label>
                                    <input value="" class="form-control" id="ProductDescription" maxlength="20" name="ProductDescription" placeholder="Engine Mount -TMT" type="text" disabled="disabled">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">UOM</label>
                                    <input value="" class="form-control" id="UOM" maxlength="20" name="UOM" placeholder="Pcs" type="text" disabled="disabled">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">Part 1</label>
                                    <input value="" class="form-control" id="Part1" maxlength="20" name="Part1" placeholder="SG-9799HY" type="text" disabled="disabled">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">Upload Image</label>
                                    <input type="file"
                                           class="form-control"
                                           id="imageUpload"
                                           accept="image/*">
                                </div>
                                <div class="col-md-1 col-sm-12 margin28">
                                    <a href="#">
                                        <div class="plus_icon1"> <i class="fa fa-plus" id="BtnAttribute" onclick="OnClickAddButton()" title="Populate Item Detail" data-original-title=""></i> </div>
                                    </a>
                                </div>
                                <div class="card-box table-responsive dy_table ">
                                    <div class="">
                                        <div class=" col-sm-12 mt-3">
                                            <div class="tableFixHead">
                                                <table id="parts" class="table table-bordered rowhighlighttbl">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th width="4%">&nbsp;</th>
                                                            <th width="4%">&nbsp;</th>
                                                            <th width="7%" style="min-width:50px;">Sr. No.</th>
                                                            <th width="25%">Part Description</th>
                                                            <th width="25%">Image</th>
                                                            <th width="35%">Remarks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                01
                                                            </td>
                                                            <td>
                                                                SG-9799HY
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product2.png" height="50" />

                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>

                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                02
                                                            </td>
                                                            <td>
                                                                SG-3213
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product3.png" height="50" />
                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                03
                                                            </td>
                                                            <td>
                                                                SG-3368
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product4.png" height="50" />

                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>

                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                04
                                                            </td>
                                                            <td>
                                                                SG-9959
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product5.png" height="50" />

                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>

                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                05
                                                            </td>
                                                            <td>
                                                                SG-3200
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product6.png" height="50" />

                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>

                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>
                                                                06
                                                            </td>
                                                            <td>
                                                                SG-3233
                                                            </td>
                                                            <td class="center">
                                                                <img src="~/Content/Images/product7.png" height="50" />

                                                            </td>
                                                            <td class="no-padding">
                                                                <textarea id="Task" class="form-control TaskDescription remarksmessage"
                                                                          onclick="open_popupdes('Task')">Remarks</textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"> Kick off Attributes<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">Attribute Name</label>
                                    <input value="" class="form-control" id="AttributeName" maxlength="20" name="AttributeName" placeholder="Attribute Name" type="text">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">Attribute Type</label>
                                    <select class="form-control" id="AttributeType" name="AttributeType">
                                        <option value="">All</option>
                                        <option value="">Alphanumeric</option>
                                        <option value="">Number</option>
                                        <option value="">Date</option>
                                        <option value="">Image</option>
                                        <option value="">Dropdown</option>
                                        <option value="">Float</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">Length</label>
                                    <input value="" class="form-control" id="Length" maxlength="20" name="Length" placeholder="Length" type="number">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">Default Value</label>
                                    <input value="" class="form-control" id="DefaultValue" maxlength="20" name="DefaultValue" placeholder="Default Value" type="text">
                                </div>

                                <div class="col-md-1 col-sm-12 margin28">
                                    <a href="#">
                                        <div class="plus_icon1"> <i class="fa fa-plus" id="BtnAttribute" onclick="OnClickAddButton()" title="Populate Item Detail" data-original-title=""></i> </div>
                                    </a>
                                </div>
                                <div class="card-box table-responsive dy_table">
                                    <div class=" mt-3">
                                        <div class=" col-sm-12">
                                            <div class="tableFixHead">
                                                <table id="datatable-buttons1" class="table table-bordered mt-3 rowhighlighttbl ">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="11%" style="min-width:50px;">Sr. No.</th>
                                                            <th width="20%">Attribute Name</th>
                                                            <th width="20%">Attribute Type</th>
                                                            <th width="15%">Length</th>
                                                            <th width="14%">Default Value</th>
                                                            <th width="14%">Mandatory</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 01 </td>
                                                            <td> Component Image</td>
                                                            <td>Image </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 02 </td>
                                                            <td> Serial # / Kick Off #</td>
                                                            <td> Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 03 </td>
                                                            <td> Kick off Date (DD/MM/YYYY)</td>
                                                            <td>Date </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 04 </td>
                                                            <td> Sigma Kit #</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 05 </td>
                                                            <td> Sigma Part #</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 06 </td>
                                                            <td> Competitor # (Optional)</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">500</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 07 </td>
                                                            <td> Plant Part Number - ERP Code #</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 08 </td>
                                                            <td> Product Decsription</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 08 </td>
                                                            <td> Color Code</td>
                                                            <td>Dropdown </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 09 </td>
                                                            <td> NPD Category</td>
                                                            <td>Dropdown</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 10 </td>
                                                            <td> Reason for NPD Category</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">500</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 11 </td>
                                                            <td> Handed Over to </td>
                                                            <td>Alphanumeric </td>
                                                            <td>50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">N</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 12 </td>
                                                            <td> Customer Code : </td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 13 </td>
                                                            <td> Validation Level  </td>
                                                            <td>Number </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 14 </td>
                                                            <td> Existing tooling if any / consolidation with Sigma / Competitor # </td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 15 </td>
                                                            <td> Project code /Phase</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 16 </td>
                                                            <td> Application, Make , Model,year,location</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 17 </td>
                                                            <td> MOQ (Optional) : </td>
                                                            <td>Dropdown</td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 18 </td>
                                                            <td> First Production lot</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 19 </td>
                                                            <td> Estimated Annual Qty</td>
                                                            <td>Number </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>20</td>
                                                            <td>Priority code : AA ,A, B, C  ; AA being highest </td>
                                                            <td>Dropdown </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 21 </td>
                                                            <td> Product Launch Target Date</td>
                                                            <td>Date </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 22 </td>
                                                            <td> Project lifecycle code : A, B ,C or D ; A being Newest and D as Decline (Optional)</td>
                                                            <td>Dropdown </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 23</td>
                                                            <td> Benchmark and Development sample : OEM # or aftermarket # </td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">200</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td>24 </td>
                                                            <td> Part Cost (In Rs.) </td>
                                                            <td>Float </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 25 </td>
                                                            <td> Development Cost in Rs.  </td>
                                                            <td>Float </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 26 </td>
                                                            <td> Development cost to be absorbed by (Sigma / Vendor / Customer) </td>
                                                            <td>Float </td>
                                                            <td class="num_right">&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 27 </td>
                                                            <td> First Batch Quantity or PPAP Submission Quantity Required </td>
                                                            <td>Number </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 28</td>
                                                            <td> Initial Sample Submission Target Date</td>
                                                            <td>Date </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 29 </td>
                                                            <td> Position in Vehicle (Optional)</td>
                                                            <td> Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 30</td>
                                                            <td> OEM Qty. in SCIL</td>
                                                            <td>Number </td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="center">
                                                                <i type="submit" class="fa fa-edit" onclick="EditCustomerPortFolio(event)" aria-hidden="true" title="Edit"></i>
                                                            </td>
                                                            <td class="center">
                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirm(event,'CustPrf')"></i>
                                                            </td>
                                                            <td> 31 </td>
                                                            <td> Target for Balance OEM sample as per validation)</td>
                                                            <td>Alphanumeric </td>
                                                            <td class="num_right">50</td>
                                                            <td>&nbsp;</td>
                                                            <td class="center">Y</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
<script>
    function open_popupdes(id) {
        debugger;
        const myModal = new bootstrap.Modal(document.getElementById("textareaModal"));
        $("#hdn_txtdes").val(id);
        var des = $("#" + id).val();
        document.getElementById("modalTextarea").value = des;
        myModal.show();
    }
    // Open modal when clicking the main textarea

    function onclick_save_close() {
        debugger
        var id = $("#hdn_txtdes").val();
        document.getElementById(id).value = document.getElementById("modalTextarea").value;
    }
</script>
<script>
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = function (event) {
            const img = document.getElementById('preview');
            img.src = event.target.result;
            img.classList.remove('d-none');
        };
        reader.readAsDataURL(file);
    });
</script>
