@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.GeneralLedgerVoucher.ExpenseVoucher.ExpenseVoucherList_Model
@using EnRepMobileWeb.Resources;
@using System.Data

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/GeneralLedgerVoucher/ExpenseVoucher/ExpenseVoucheList.js"></script>

<title>@Model.Title</title>
@*/*start Add by Hina on 27-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
    if (TempData["FBMessage"] != null)
    {
        if (TempData["FBMessage"] == "Financial Book Closing")
        {
            <script type="text/javascript">
                swal("", $("#BooksAreClosedEntryCanNotBeMadeInThisFinancialYear").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
<div class="clearfix"></div>
<div class="row">
    <!-- Partial General Ledger Voucher Detail Month Wise -->
    <div id="VoucherDetailMW" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:800px;">
            @Html.Partial("~/Areas/Common/Views/Comn_PartialGeneralLedgerVoucherDetailMW.cshtml")
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <!-- Workflow Information -->
        <div id="WorkflowInformation" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:700px;">
                <div class="price_item_detail">
                    <!-- Modal content-->
                    @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                </div>
            </div>
        </div>
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>

                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div id="" class="col-md-3 col-sm-12 heading_right_padding">
                    <ul>
                        <li>
                            <a class="tooltip-test"
                               title="@Resource.AddNew" href="@Url.Action("AddExpenseVoucherDetail","ExpenseVoucher")"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                        </li>
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Payee @Resource.GLAccount</label>
                            @Html.DropDownListFor(model => model.Payeeacc, new SelectList(Model.PaAccLst, "acc_id", "acc_name"), new { @class = "form-control", @id = "ddlPayeeGlListpage" })
                            @*<select class="form-control" id="" name="">
                                    <option value="0">All</option>
                                    <option value="A">Payee GL Account</option>
                                    <option value="C">Payee GL Account 1</option>
                                    <option value="D">Payee GL Account 2</option>
                                    <option value="F">Payee GL Account 3</option>
                                </select>*@
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.FromDate</label>
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "From_Date", @type = "date", @max = System.DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.FromDate, @onchange = "();" })
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.ToDate</label>
                            @if (Model.ToDate != null)
                            {
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "To_Date", @type = "date", @Value = Model.ToDate, @max = System.DateTime.Now.ToString("yyyy-MM-dd"), @onchange = "" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "To_Date", @type = "date", @Value = System.DateTime.Now.ToString("yyyy-MM-dd"), @max = System.DateTime.Now.ToString("yyyy-MM-dd"), @onchange = "" })
                            }
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Status</label>
                            @Html.DropDownListFor(model => model.EXvou_Status, new SelectList(Model._StatusLists, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatusList" })
                            @*<select class="form-control" id="ddlStatusList" name="Status">
                                    <option value="0">All</option>
                                    <option value="A">Approved</option>
                                    <option value="C">Cancelled</option>
                                    <option value="D">Drafted</option>
                                    <option value="F">Forwarded</option>
                                </select>*@
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm margintop20" onclick="OnclickSearchBtn();"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 padding_right ">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="ExpVouList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialExpenseVoucherList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
