@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.MIS.SalesDetail.SalesDetail_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .dataTables_length, .DataTable1_filter, .dt-buttons, .buttons-csv, .buttons-pdf {
        float: left;
    }

    .dt-buttons {
        width: 6%;
        margin-left: 2%;
    }
    /*.SourceType {
        height: 28px;
    }

    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }*/
</style>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/MIS/SalesDetail/SalesDetailJS.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!-- Invoice Detail -->
    <div id="InvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="InvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Detail -->
    <div id="CustomerInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialCustomerInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Product Detail -->
    <div id="CustomerInvoiceProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerInvoiceProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/CustomerInvoiceProductDetail.cshtml")
        </div>
    </div>
    <!-- Product wise Invoice Detail -->
    <div id="ProductWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductWiseInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProductWiseInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Product Group Wise Product Detail -->
    <div id="ProductGroupWiseProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductGroupWiseProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProductGroupWiseProductDetail.cshtml")
        </div>
    </div>
    <!-- Product Group Wise Invoice Detail -->
    <div id="ProductGroupWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductGroupWiseInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialProductGroupWiseInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Region Wise Customer Detail -->
    <div id="RegionWiseCustomerDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseCustomerDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialRegionWiseCustomerDetail.cshtml")
        </div>
    </div>
    <!-- Region Wise Invoice Summary -->
    <div id="RegionWiseInvoiceSummary" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseInvoiceSummaryPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialRegionWiseInvoiceSummary.cshtml")
        </div>
    </div>
    <!-- RegionWiseInvoiceProductDetail -->
    <div id="RegionWiseInvoiceProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseInvoiceProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialRegionWiseInvoiceProductDetail.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Customer Detail -->
    <div id="SalesExecutiveWiseCustomerDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog " id="SalesExecutiveWiseCustomerDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSalesExecutiveWiseCustomerDetail.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Invoice Summary -->
    <div id="SalesExecutiveWiseInvoiceSummary" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="SalesExecutiveWiseInvoiceSummaryPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSalesExecutiveWiseInvoiceSummary.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Product Detail -->
    <div id="SalesExecutiveWiseProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="SalesExecutiveWiseProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSalesExecutiveWiseProductDetail.cshtml")
        </div>
    </div>
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" style="min-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!-- Paid Amount Details Start -->@*/*Add by Hina Sharma on 10-12-2024*/*@
    <div id="PaidAmountDetails" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:800px;">
            <div id="PaidAmountDetailsPopup">
                @Html.Partial("~/Areas/Common/Views/Cmn_PartialPaidAmountDetails.cshtml")
            </div>
            Modal content
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-4 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div class="col-md-1 col-sm-12 text-right">
                    <label class="col-form-label label-align">@Resource.Branch</label>
                </div>
                <div class="col-md-3 col-sm-12 pl-0 multiselectBranch">
                    <div id="div_ddl_brlist">
                        @Html.Partial("~/Areas/Common/Views/Comn_PartialBranchList.cshtml")
                    </div>
                    <span class="error_message" id="span_br" style="display: none;"></span>
                    @Html.HiddenFor(model => model.hdnbr_ids, new { @id = "Hdn_brlist" })
                </div>

                <div id="" class="col-md-2 col-sm-12 no-margin no-padding ">

                    <div class="col-md-4 col-sm-12 no-margin no-padding ">
                        <label class="col-form-label label-align">@Resource.SalesBy </label>
                    </div>
                    <div class="col-md-8 col-sm-12 no-margin no-padding ">
                        @Html.DropDownListFor(model => model.Sales_by, new SelectList(new List<SelectListItem>
                             {  new SelectListItem {Text="Invoice wise",Value="I" },
                            new SelectListItem {Text="Customer wise",Value="C" },
                             new SelectListItem {Text="Product wise",Value="P" },
                                 new SelectListItem {Text="Product Group wise",Value="G" },
                            new SelectListItem {Text="Region wise",Value="R" },
                            new SelectListItem {Text="Sales Executive wise",Value="S" },
                             new SelectListItem {Text="Inter Branch Sale",Value="B" }}, "Value", "Text"),
                             new { @class = "form-control", @id = "ddl_Sales_by", @onchange = "OnchangeSalesBy()", @name = "Sales_by" })
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 pl-3">
                    @Resource.Summary<span>&nbsp;</span>
                    <input checked="checked" class="" id="SalesMISSalesSummary" onclick="onchangeShowAs()" name="MISSalesType" type="radio" value="S">
                    <span>&nbsp;</span> @Resource.Detail<span>&nbsp;</span>
                    <input class="" id="SalesMISSalesDetail" onclick="onchangeShowAs()" name="MISSalesType" type="radio" value="D">
                </div>
                <div class="x_title pad_mar pb-4">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        @*<form class="available_stock pad_mar" action="" method="post" novalidate="">*@
                        <div class="col-md-12 col-sm-12 pl-0 pr-0 pb-2">
                            <div class="col-md-2 col-sm-12" id="div_ddl_CustomerName">
                                <label class="col-form-label label-align">@Resource.CustomerName </label>
                                @Html.DropDownListFor(model => model.cust_id, new SelectList(new List<SelectListItem>
                            {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                            new { @class = "form-control", @id = "ddl_CustomerName", @name = "CustomerName", @multiple = "multiple" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_ddl_RegionName">
                                <label class="col-form-label label-align">@Resource.RegionName </label>
                                @Html.DropDownListFor(model => model.RegionName, new SelectList(Model.regionLists, "region_id", "region_val"),
                            new { @class = "form-control", @id = "ddl_RegionName", @name = "RegionName", @multiple = "multiple" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_ddl_SaleType">
                                <label class="col-form-label label-align">@Resource.SaleType </label>
                                @Html.DropDownListFor(model => model.sales_type, new SelectList(new List<SelectListItem>
                            {
                           new SelectListItem {Text="Domestic",Value="D" },
                           new SelectListItem {Text="Export",Value="E" },
                           new SelectListItem {Text="Service",Value="SS" },
                           new SelectListItem {Text="Direct",Value="DI" }

                            }, "Value", "Text"),
                            new { @class = "form-control", @id = "ddl_SaleType", @name = "SaleType", @onchange = "OnChngSalesTyp()", @multiple = "multiple" })
                            </div>
                            @if (Model.sales_type == "0" || Model.sales_type == null || Model.sales_type == "D" || Model.sales_type == "E")
                            {
                                <div class="col-md-2 col-sm-12" id="div_ddl_SalesRepresentative">
                                    <label class="col-form-label label-align">@Resource.SalesRepresentative </label>
                                    @Html.DropDownListFor(model => model.Sales_per, new SelectList(new List<SelectListItem>
                                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                                new { @class = "form-control", @id = "ddl_SalesRepresentative", @name = "SalesRepresentative", @multiple = "multiple" })
                                    <input type="hidden" id="salespersonList" value='@Url.Action("GetSalesPersonList", "LSODetail")' />
                                </div>
                            }
                            <div class="col-md-2 col-sm-12" id="div_productGrpName">
                                <label class="col-form-label label-align">@Resource.Product @Resource.groupname </label>
                                @Html.DropDownListFor(model => model.ItemID, new SelectList(new List<SelectListItem>
                            {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                            new { @class = "form-control", @id = "ddl_ProductGrpName", @name = "ProductName", @multiple = "multiple" })
                                <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "StockDetail")' />
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_ProductPortfolio">
                                <label class="col-form-label label-align">@Resource.ProductPortfolio </label>
                                <select class="form-control" id="ProductPortfolio" name="ProductPortfolio" multiple>
                                    <option value="0"> ---All---</option>
                                    <option value="2">Product Portfolio 1</option>
                                    <option value="17">Product Portfolio 2</option>
                                </select>
                                <input type="hidden" id="ItemPortfName" value='@Url.Action("GetItemPortfList", "StockDetail")' />
                            </div>
                            <div class="col-md-3 col-sm-12" id="div_HSNCode">
                                <label class="col-form-label label-align">@Resource.HSNCode </label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.HSN_code, new SelectList(Model.HSNList, "setup_id", "setup_val"), new { @id = "HSN_cd", @class = "form-control", @multiple = "multiple" })
                                    <span id="SpanHSNErrorMsg" class="error_message"></span>
                                    <input type="hidden" id="ajaxUrlGetAutoCompleteSearchHSN" value='@Url.Action("GetAutoCompleteSearchHSN", "SalesDetail")' />
                                    @Html.HiddenFor(model => model.HSN_code, new { id = "hdHsnID" })
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_CustomerCategory">
                                <label class="col-form-label label-align">@Resource.CustomerCategory </label>
                                @Html.DropDownListFor(model => model.category, new SelectList(Model.categoryLists, "Cat_id", "Cat_val"),
                               new { @class = "form-control", @id = "CustomerCategory", @name = "CustomerCategory", @multiple = "multiple" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_CustomerPortfolio">
                                <label class="col-form-label label-align">@Resource.CustomerPortfolio </label>
                                @Html.DropDownListFor(model => model.portFolio, new SelectList(Model.portFolioLists, "CatPort_id", "CatPort_val"),
                               new { @class = "form-control", @id = "CustomerPortfolio", @name = "CustomerPortfolio", @multiple = "multiple" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_CustomerZone">
                                <label class="col-form-label label-align">@Resource.Customer @Resource.Zone</label>
                                @Html.DropDownListFor(model => model.custzone, new SelectList(Model.custzoneList, "custzone_id", "custzone_val"),
                               new { @class = "form-control", @id = "ddlcustzone", @name = "ddlcustzone", @multiple = "multiple" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_CustomerGroup">
                                <label class="col-form-label label-align">@Resource.Customer @Resource.Group</label>
                                @Html.DropDownListFor(model => model.custgroup, new SelectList(Model.custgroupList, "CustGrp_id", "CustGrp_val"),
                               new { @class = "form-control", @id = "ddlcustgroup", @name = "ddlcustgroup", @multiple = "multiple" })
                            </div>

                            <div class="col-md-2 col-sm-12" id="div_ddl_state">
                                <label class="col-form-label label-align">@Resource.State</label>
                                @Html.DropDownListFor(model => model.state, new SelectList(Model.StateLists, "state_id", "state_name"), new { @class = "form-control", @id = "ddl_state", @onchange = "onchangeState()", @name = "state" })
                                @Html.HiddenFor(model => model.Hidstate, new { @id = "Hdstate" })
                            </div>
                            <div class="col-md-2 col-sm-12" id="div_ddl_city">
                                <label class="col-form-label label-align">@Resource.City</label>
                                @Html.DropDownListFor(model => model.city, new SelectList(Model.CityLists, "city_id", "city_name"), new { @class = "form-control", @id = "ddl_city", @name = "city" })
                                @Html.HiddenFor(model => model.Hidcity, new { @id = "Hdcity" })
                            </div>
                            <div class="col-md-4 col-sm-12 pl-0 pr-0">
                                <div class="col-md-5 col-sm-12" @*style="max-width:13%;"*@>
                                    <label class="col-form-label label-align">
                                        @Resource.FromDate
                                    </label>
                                    @Html.TextBoxFor(model => model.From_dt, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                </div>
                                <div class="col-md-5 col-sm-12" @*style="max-width:13%;"*@>
                                    <label class="col-form-label label-align">
                                        @Resource.ToDate
                                    </label>
                                    @Html.TextBoxFor(model => model.To_dt, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                </div>
                                <div class="col-md-2 col-sm-12" @*style="max-width:6%;"*@>
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>



                        </div>
                        @Html.HiddenFor(m => m.DataShowCsvWise, new { @id = "DataShowCsvWise" })
                        @Html.HiddenFor(m => m.Cust_Id_Csv, new { @id = "Cust_Id_Csv" })
                        @Html.HiddenFor(m => m.Inv_no_Csv, new { @id = "Inv_no_Csv" })
                        @Html.HiddenFor(m => m.inv_dt_Csv, new { @id = "inv_dt_Csv" })
                        @Html.HiddenFor(m => m.curr_id_Csv, new { @id = "curr_id_Csv" })
                        @Html.HiddenFor(m => m.Product_Id_Csv, new { @id = "Product_Id_Csv" })
                        @Html.HiddenFor(m => m.sale_type_Csv, new { @id = "sale_type_Csv" })
                        @Html.HiddenFor(m => m.productgrp_Csv, new { @id = "productgrp_Csv" })
                        @Html.HiddenFor(m => m.productPort_Csv, new { @id = "productPort_Csv" })
                        @Html.HiddenFor(m => m.Region_Id_Csv, new { @id = "Region_Id_Csv" })
                        @Html.HiddenFor(m => m.CustRegion_Csv, new { @id = "CustRegion_Csv" })
                        @Html.HiddenFor(m => m.InvRegion_Csv, new { @id = "InvRegion_Csv" })
                        @Html.HiddenFor(m => m.sale_per_id_Csv, new { @id = "sale_per_id_Csv" })
                        @Html.HiddenFor(m => m.SE_Item_Currency_Csv, new { @id = "SE_Item_Currency_Csv" })
                        @Html.HiddenFor(m => m.PGWP_Product_ID_Csv, new { @id = "PGWP_Product_ID_Csv" })
                        @Html.HiddenFor(m => m.itmInvoiceNumber_Csv, new { @id = "itmInvoiceNumber_Csv" })
                        @Html.HiddenFor(m => m.itmInvoiceDate_Csv, new { @id = "itmInvoiceDate_Csv" })
                        @*</form>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    @*<div class="sticky-table sticky-ltr-cells sb-container container-example1" id="AllPartials" style="height:63vh;">*@
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1 height61VH" id="AllPartials">
                        <div id="Tbl_salesDetailInvoiceWiseList">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsInvoiceWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailsCustomerWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsCustomerWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailsProductWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsProductWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailsProductGroupWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsProductGroupWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailsRegionWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsRegionWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailsSalesExecutiveWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsSalesExecutiveWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesDetailInterBranchWiseList" style="display:none">
                            @*/*add by Hina Sharma on 27-06-2025*/*@
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesDetailsInterBranchWiseList.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->