@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockDetail.StockDetail_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/StockDetail/StockDetail_Js.js"></script>
@*<style>
        thead tr > th {
            position: sticky;
            padding: .5rem;
            z-index: 2;
            top: 0;
        }
        thead tr > :nth-child(2) {
            z-index: 100 !important;
            position: sticky;
            left: 0;
            top: 0;
        }
        tbody tr > :nth-child(2) {
            background: #ffffff;
            position: sticky;
            z-index: 1;
            left: 0;
        }
        .togle_mis {
            min-width: 30% !important;
        }
        #stockDetailDtList_wrapper .dt-buttons {
            position: absolute;
            margin-left: 15%;
        }
        #stockDetailDtList_filter {
            position: absolute;
            right: 5px;
            top: 0px;
        }
        #stockDetailDtList_wrapper {
            padding-left: 2px !important;
        }
    </style>*@
<style>
    input#ExpiredItems, input#NearExpiryItems {
        left: -10px;
    }
    #stockDetailDtList_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #stockDetailDtList_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }
    #stockDetailDtList_wrapper {
        padding-left: 2px !important;
    }
     /*.SourceType {
        height: 28px;
    }

    button.multiselect {
        width: 100% !important;
        max-width: 100% !important;
    }*/
</style>
<title>@Model.Title</title>
<div class="row">


    <!-- Item Group Detail Start-->
    <div id="ItemGroupDetail" class="modal fade" role="dialog">
        <div class="modal-dialog pop_csv" id="PopupItemGroupDetail" style="min-width:1200px;">
            <!-- Modal content-->
            @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_PartialStockDetailsItemGroupAndStockAccWise.cshtml")*@
        </div>
        <input type="hidden" id="hdnGroupId_ItemGrpWise" />
        <input type="hidden" id="hdnBranchId_ItemGrpAndStkGlAccWise" />
        <input type="hidden" id="hdnStkGlAccId_StkGlAccWise" />
        <input type="hidden" id="hdnItemAlias_StkAliasWise" />
    </div>







    <!--<div id="StockGLAccountDetail" class="modal fade" role="dialog">
        <div class="modal-dialog pop_csv" id="PopupStockGLAccountDetail" style="min-width:1200px;">
            <!-- Modal content-->
    <!--@*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_PartialStockDetailsItemGroupAndStockAccWise.cshtml")*@
        </div>

    </div>-->

    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <div id="Receipts" class="modal fade show" role="dialog">
        <div class="modal-dialog pop_csv" style="min-width:1200px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialReceiptAndIssueDetail.cshtml")
        </div>
    </div>

    <div id="SubItemStockDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog pop_csv" id="PopupSubItemStockDetail" style="min-width:1200px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSubItemStockDetail.cshtml")
        </div>
    </div>

    <!-- Search Item Start-->
    <div id="SearchItem" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog pop_csv" id="" style="min-width:500px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_PartialSearchItemDetails.cshtml")
        </div>
    </div>
    <!-- Search Item End-->

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-10 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="" class="col-md-2 col-sm-12 no-margin no-padding ">
                    <div class="col-md-4 col-sm-12 no-margin no-padding ">
                        <label class="col-form-label label-align">@Resource.StockBy </label>
                    </div>
                    <div class="col-md-8 col-sm-12 no-margin no-padding ">
                        @if (Model.ExpiredItm == "Y" || Model.NearExpiryItm == "Y")
                        {
                        <select class="form-control" id="ddlStockBy" name="ddlStockBy" onchange="OnChangeStockByddl();">
                            <option value="Branchwisestock">Branch Wise</option>
                            <option value="Warehousewisestock">Warehouse Wise</option>
                            <option value="LotBatchwisestock" selected="selected">Lot/Batch Wise</option>
                            <option value="SubitemWise">SubItem Wise</option>
                            <option value="ItemGroupWise">Item Group Wise</option>
                            <option value="StockGlAccountWise">Stock Gl Account Wise</option>
                            <option value="ItemAliasWiseStock">Alias Wise</option>
                            @*<option value="SupplierWise">Supplier Wise</option>*@
                        </select>
                        }
                        else
                        {
                    <select class="form-control" id="ddlStockBy" name="ddlStockBy" onchange="OnChangeStockByddl();">
                        <option value="Branchwisestock" selected="selected">Branch Wise</option>
                        <option value="Warehousewisestock">Warehouse Wise</option>
                        <option value="LotBatchwisestock">Lot/Batch Wise</option>
                        <option value="SubitemWise">SubItem Wise</option>
                        <option value="ItemGroupWise">Item Group Wise</option>
                        <option value="StockGlAccountWise">Stock Gl Account Wise</option>
                        <option value="ItemAliasWiseStock">Alias Wise</option>
                        @*<option value="SupplierWise">Supplier Wise</option>*@
                    </select>
                        }

                    </div>
                </div>
                <div class="x_title pad_mar">
                    <div class="col-md-12 col-sm-12 icon_tool" style="padding-bottom:10px !important;">
                        <div class="col-md-4 col-sm-12 pr-0 pl-0" id="div_itemName">
                            <div class="col-md-11 col-sm-12 pr-0">
                                <label class="col-form-label label-align">@Resource.ItemName</label>
                                @Html.DropDownListFor(model => model.ItemID, new SelectList(Model.ItemNameList, "Item_Id", "Item_Name"), new { @class = "form-control", @id = "ddlItemName" })
                                <input type="hidden" id="ItemListName" value='@Url.Action("GetItemList", "StockDetail")' />
                            </div>
                            <div class="col-sm-1 i_Icon margin25">
                                <button type="button" id="SearchItem" class="calculator" data-toggle="modal" onclick="Cmn_itemSearchPartial('stkdetail')" data-target="#SearchItem" data-backdrop="static" data-keyboard="false"><i class="fa fa-search SearchItem" title="@Resource.Search @Resource.Item "></i> @*<img src="/Content/Images/iIcon1.png" alt="">*@  </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12" id="div_itemGroupDdl">
                            <label class="col-form-label label-align">@Resource.ItemGroup</label>
                            @Html.DropDownListFor(model => model.GroupID, new SelectList(Model.ItemGroupNameList, "Group_Id", "Group_Name"), new { @class = "form-control", id = "ddlItemGroupName", @multiple = "multiple" })
                            <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "StockDetail")' />
                        </div>
                        <div class="col-md-3 col-sm-12" id="div_itemAliasDdl" style="display:none">
                            <label class="col-form-label label-align">@Resource.Item @Resource.Alias</label>
                            @Html.DropDownListFor(model => model.itemAlias, new SelectList(Model.ItemAliasList, "alias_id", "alias_name"), new { @class = "form-control", id = "ddlItemAlias" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_itemPortFolio">
                            <label class="col-form-label label-align">@Resource.ItemPortfolio</label>
                            @Html.DropDownListFor(model => model.PrfID, new SelectList(Model.ItemPortfolioList, "Prf_Id", "Prf_Name"), new { @class = "form-control", id = "ItemPortfolio", @multiple = "multiple" })
                            <input type="hidden" id="ItemPortfName" value='@Url.Action("GetItemPortfList", "StockDetail")' />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Branch</label>
                            @Html.DropDownListFor(model => model.BranchName, new SelectList(Model.BranchList, "Br_Id", "Br_Name"), new { @class = "form-control", id = "ddlBranch", @multiple = "multiple" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="ddlwarehouse" style="display:none">
                            <label class="col-form-label label-align">@Resource.Warehouse</label>
                            @Html.DropDownListFor(model => model.WarehouseName, new SelectList(Model.WarehouseNameList, "Wh_Id", "Wh_Name"), new { @class = "form-control", id = "ddlWarehouse", @multiple = "multiple" })
                        </div>
                        <div class="col-md-2 col-sm-12" id="div_hsnCode">
                            <label class="col-form-label label-align">@Resource.HSNCode</label>
                            @Html.DropDownListFor(model => model.HsnCode, new SelectList(Model.HsnCodeList, "hsn_code", "hsn_desc"), new { @class = "form-control", id = "ddlHsnCode", @multiple = "multiple" })
                        </div>
                        <div class="col-md-4 col-sm-12" id="div_SupplierName" style="display:none">
                            <label class="col-form-label label-align">@Resource.SupplierName</label>
                            @Html.DropDownListFor(model => model.SupplierName, new SelectList(Model.SuppName_List, "Supp_id", "Supp_Name"), new { @class = "form-control", id = "ddlSuppName", @multiple = "multiple" })
                        </div>

                        <div class="col-md-2 col-sm-12 no-margin " id="div_stockGlAccount" style="display:none;">
                            <label class="col-form-label label-align">@Resource.Stock @Resource.GLAccount </label>
                            @Html.DropDownListFor(model => model.stock_gl_acc_id, new SelectList(Model.StockGlAccList, "acc_id", "acc_name"), new { @class = "form-control", id = "ddlStkGlAccId", @multiple = "multiple" })
                        </div>

                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Upto</label>
                            @Html.TextBoxFor(model => model.UptoDate, new { @class = "form-control", @id = "calUpTodate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                        </div>
                        <div class="clear" id="IDClearDiv" style="display:none"></div>
                        <div class="col-md-2 col-sm-12 pr-0 mt-4">
                            <label class="col-form-label label-align col-md-10 col-sm-12 pl-0 pr-0"> @Resource.IncludeZeroStock</label>
                            <div class="custom-control custom-switch col-md-2 col-sm-12">
                                @if (Model.StockOutItm == "Y")
                                {
                                    <input type="checkbox" checked class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedIncludeZeroStock()" id="IncludeZeroStock">
                                }
                                else
                                {
                                    <input type="checkbox" class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedIncludeZeroStock()" id="IncludeZeroStock">
                                }
                                <label class="custom-control-label col-md-8 col-sm-12" for="IncludeZeroStock" style="padding: 3px 0px;">  </label>
                            </div>
                        </div>
                        @if (Model.StockOutItm == "Y")
                        {
                            <div class="col-md-2 col-sm-12 pr-0 pl-0 mt-4" id="div_Stockout">
                                <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.StockoutItems </label>
                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                    <input type="checkbox" checked class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedStockoutItems()" id="StockoutItems">
                                    <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2 col-sm-12 pr-0 pl-0 mt-4" id="div_Stockout">
                                <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.StockoutItems </label>
                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                    <input type="checkbox" class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedStockoutItems()" id="StockoutItems">
                                    <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                </div>
                            </div>
                        }
                        @if (Model.ExpiredItm == "Y" || Model.NearExpiryItm == "Y")
                        {
                            if (Model.ExpiredItm == "N")
                            {
                                <div class="col-md-2 col-sm-12 pr-0 pl-0  mt-4" id="ExpiredItemsTgl">
                                    <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.ExpiredItems</label>
                                    <div class="custom-control custom-switch col-md-4 col-sm-12">
                                        <input type="checkbox" class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedExpiredItems()" id="ExpiredItems">
                                        <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-2 col-sm-12 pr-0 pl-0  mt-4" id="ExpiredItemsTgl">
                                    <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.ExpiredItems</label>
                                    <div class="custom-control custom-switch col-md-4 col-sm-12">
                                        <input type="checkbox" checked class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedExpiredItems()" id="ExpiredItems">
                                        <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-2 col-sm-12 pr-0 pl-0  mt-4" id="ExpiredItemsTgl" style="display:none">
                                <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.ExpiredItems</label>
                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                    <input type="checkbox" class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedExpiredItems()" id="ExpiredItems">
                                    <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                </div>
                            </div>
                        }
                        @if (Model.NearExpiryItm == "Y")
                        {
                            <div class="col-md-2 col-sm-12 pr-0 mt-4 clear" id="NearExpiryItemsTgl">
                                <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.Near @Resource.Expiry @Resource.Item</label>
                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                    <input type="checkbox" checked class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedNearExpiryItems()" id="NearExpiryItems">
                                    <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2 col-sm-12 pr-0  mt-4 clear" id="NearExpiryItemsTgl" style="display:none">
                                <label class="col-form-label label-align col-md-8 col-sm-12  pl-0 pr-0"> @Resource.Near @Resource.Expiry @Resource.Item</label>
                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                    <input type="checkbox" class="custom-control-input col-md-4 col-sm-12 margin-switch" onchange="CheckedNearExpiryItems()" id="NearExpiryItems">
                                    <label class="custom-control-label col-md-8 col-sm-12" for="" style="padding: 3px 0px;">  </label>
                                </div>
                            </div>
                        }
                        <div class="col-md-1 col-sm-12 mt-3">
                            <button type="button" class="btn btn-primary btn-sm" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="divlotandbatchtable" class="sticky-table sticky-ltr-cells sb-container container-example1 StockDetailTable">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockDetailListNew.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->