@using EnRepMobileWeb.Resources;
@using System.Data
@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@*<title>@Model.Title</title>*@
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @*<li>
                                <a class="tooltip-test"
                                   title="@Resource.AddNew"><img src="~/Content/Images/addgreen.png" width="32" id="btn_add" height="32" alt="Add"></a>
                            </li>*@
                        <li>
                            <a class="tooltip-test"
                               title=" @Resource.AddNew" href="@Url.Action("AddSupplementarySalesInvoiceDetail","SupplementarySalesInvoice")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="btn_add" alt="Add"></a>
                        </li>
                    </ul>
                </div>
                <div class="x_title pad_mar">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                       
                            <div class="col-md-12 col-sm-12 padding_zero mb-2">
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.CustomerName</label>
                                    <select class="form-control" id="CustomerName" name="CustomerName">
                                        <option selected="selected" value="">ABC INTERNATIONAL</option>
                                        <option value="">ABC COUSTOMER TETSING</option>
                                        <option value="">AB_TEST CUSTOMER</option>
                                        <option value="">AB TESTING</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.FromDate
                                    </label>
                                    <input class="form-control" id="txtFromdate" max="2025-07-08" name="FromDate" onchange="FromToDateValidation()" type="date" value="2025-07-01">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.ToDate
                                    </label>
                                    <input value="2025-07-08" class="form-control" data-val="true" data-val-date="The field ToDate must be a date." data-val-required="The ToDate field is required." id="txtTodate" max="2025-07-08" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">
                                </div>

                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.Status
                                    </label>
                                    <select class="form-control" id="ddlStatus" name="QT_Status">                                        
                                        <option value="0">All</option>
                                        <option value="A">Approved</option>
                                        <option value="C">Cancelled</option>
                                        <option value="D">Drafted</option>
                                        <option value="F">Forwarded</option>
                                        <option value="OR">Order Received</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-12 pl-0">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                       
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div id="" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialSupplementarySalesInvoiceList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
