@model EnRepMobileWeb.MODELS.BusinessLayer.AlertSetup.MessageSetupExternal.AlertMessageSetupExternal
@using EnRepMobileWeb.Resources;
@using System.Data

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@{
    if (Model.message != null)
    {
        if (Model.message == "Save")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val("");
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (Model.message == "Deleted" || Model.message == "Delete")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val("");
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
    }
}
<style>
    .draggable {
        padding: 5px 5px 5px 10px;
    }

    .droppable {
        padding: 5px 5px 5px 10px;
    }
</style>

<script src="~/Content/Scripts/BusinessLayer/AlertSetup/MessageSetupExternal/MessageSetupExternal.js"></script>
<script>
    function allowDrop(event) {
        event.preventDefault();
    }
    function drag(event) {
        event.dataTransfer.setData("text", event.target.innerHTML);

    }
    function drop(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtarea').value;
        var tdata = data;
        document.getElementById('txtarea').value = (fdata + " {" + tdata + "}");
    }
    function dropBody(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtBody').value;
        var tdata = data;
        document.getElementById('txtBody').value = (fdata + " {" + tdata + "}");
    }
    function dropSubject(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtmailSubject').value;
        var tdata = data;
        document.getElementById('txtmailSubject').value = (fdata + " {" + tdata + "}");
    }
    function dropHeader(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtHeader').value;
        var tdata = data;
        document.getElementById('txtHeader').value = (fdata + " {" + tdata + "}");
    }
    function dropFooter(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtFooter').value;
        var tdata = data;
        document.getElementById('txtFooter').value = (fdata + " {" + tdata + "}");
    }
</script>
@*<title>@Model.Title</title>*@
@using(Html.BeginForm("SubmitChangesOnAlertSetup", "MessageSetupExternal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                    @{
                        //var btnName = Session["BtnName"].ToString();
                        var btnName = Model.btnName.ToString();
                        switch (btnName)
                        {
                            case "BtnAddNew":
                                <ul class="margin0 padding0">
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {
                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" onclick="return functionConfirm(this);" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" type="submit" id="btn_save" onclick="return ValidateForm();" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnSave":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {
                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" type="submit" onclick="return onclickEditButton();" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>

                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" onclick="return ValidateForm();" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnEdit":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {
                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete" onclick="return functionConfirm(this);"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" type="submit" id="btn_save" onclick="return ValidateForm();" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "Refresh":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {

                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete" onclick="return functionConfirm(this);"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" onclick="return ValidateForm();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnToDetailPage":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {
                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" type="submit" onclick="return onclickEditButton();" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>

                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" onclick="return ValidateForm();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "Delete":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103145003001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" onclick="ActStatusDisable();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003002")
                                            {

                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "103145003004")
                                            {
                                                <li>
                                                    <button class="delete" onclick="return functionConfirm(this);"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" onclick="return ValidateForm();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "103155005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                        }
                    }

                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">

                        <div class="approved_by">
                            <ul>
                                <li><span>@Resource.CreatedBy<br><b></b></span></li>
                                <li><span>@Resource.Createdon<br><b></b></span></li>
                                <li><span>@Resource.AmendedBy<br><b></b></span></li>
                                <li><span>@Resource.AmendedOn<br><b></b></span> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 min-vh-75">
            <div class="x_content mar_pad1">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Alert @Resource.Type  <span class="required">*</span>
                            </label>

                            @*<select class="form-control" id="ddlAlertType" name="alertType" onchange="">
            <option value="0">---Select---</option>
            <option value="mail">Email</option>
        </select>*@
                            @Html.DropDownListFor(model => model.alertType, new List<SelectListItem>{
                                new SelectListItem{ Text="---Select---", Value = "0" },
                                new SelectListItem{ Text="Email", Value = "mail" },
                                }, new { @class = "form-control", @id = "ddlAlertType", onchange = "EnableDisableEmailSetup();BindDocumentEventList();BindAlertFields();EnableDisableMsgTextArea();" })

                            <span style="float:right" id="alertTypeReqMsg"></span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Document <span class="required">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.docId, new SelectList(Model.DocList, "docId", "docName"), new { @class = "form-control", id = "ddlDocList1", onchange = "validatedocument();BindAlertFields();BindDocumentEventList(); EnableDisableMsgTextArea();" })
                            <span style="float:right" id="docIdReqMsg"></span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Event <span class="required">*</span>
                            </label>
                            @Html.DropDownListFor(model => model.events, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddlDocEventList1", onchange = "validateevent();EnableDisableMsgTextArea();" })
                            <span style="float:right" id="eventReqMsg"></span>
                        </div>

                        <div class="clear"></div>
                        <div class="col-md-3 col-sm-12 mt-3">
                            <ul id="ulDocFields" class="navbar-nav mr-auto btn-primary" style="height:65vh;">
                            </ul>
                        </div>
                        <div id="divEmailSetup" style="display: block;" class="col-md-9 col-sm-12 mt-3 no-padding">
                            <div class="col-md-7 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Subject <span class="required">*</span>
                                </label>
                                @Html.TextAreaFor(x => x.msgSubject, new { @class = "form-control", @id = "txtmailSubject", @readonly = "readonly", @cols = "20", @ondragover = "allowDrop(event)", @maxlength = "100", @rows = "2", @ondrop = "dropSubject(event)", @onkeyup = "ValidateSubject();" })
                                <span style="float:right" id="subjectReqMsg"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-7 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Header <span class="required">*</span>
                                </label>
                                @Html.TextAreaFor(x => x.msgHeader, new { @class = "form-control", @id = "txtHeader", @readonly = "readonly", @cols = "20", @ondragover = "allowDrop(event)", @maxlength = "100", @rows = "2", @ondrop = "dropHeader(event)", @onkeyup = "ValidateHeader();" })
                                <span style="float:right" id="headerReqMsg"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-7 col-sm-12 ">
                                <label class="col-form-label label-align">
                                    @Resource.Body <span class="required">*</span>
                                </label>
                                @Html.TextAreaFor(x => x.msgBody, new { @class = "form-control", @id = "txtBody", @readonly = "readonly", @cols = "20", @ondragover = "allowDrop(event)", @maxlength = "1000", @rows = "2", @ondrop = "dropBody(event)", @onkeyup = "ValidateBody();", @style = "width:100%; min-height:30vh" })
                                <span style="float:right" id="bodyReqMsg"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-7 col-sm-12 ">
                                <label class="col-form-label label-align">
                                    @Resource.Footer <span class="required">*</span>
                                </label>
                                @Html.TextAreaFor(x => x.msgFooter, new { @class = "form-control", @id = "txtFooter", @readonly = "readonly", @cols = "20", @ondragover = "allowDrop(event)", @maxlength = "100", @rows = "2", @ondrop = "dropFooter(event)", @onkeyup = "ValidateFooter();" })
                                <span style="float:right" id="footerReqMsg"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                        @Html.HiddenFor(model => model.title, new { @id = "hdn_title" })
                        @Html.HiddenFor(model => model.transactionType, new { @id = "hdn_TransType" })
                        @Html.HiddenFor(model => model.command, new { @id = "hdCommand" })
                        @Html.HiddenFor(m => m.asData, new { @id = "PRData1", value = Model.asData })
                        @Html.HiddenFor(m => m.docId, new { @id = "hfdocid", value = Model.docId })
                        @Html.HiddenFor(m => m.events, new { @id = "hfevent", value = Model.events })
                        @Html.HiddenFor(m => m.alertType, new { @id = "hfAlertType", value = Model.events })
                        @Html.HiddenFor(m => m.btnName, new { @id = "hfbtnName", value = Model.btnName })
                        @Html.HiddenFor(m => m.message, new { @id = "hfmessage", value = Model.message })
                        @Html.HiddenFor(m => m.message, new { @id = "hfmessage", value = Model.message })
                        @Html.HiddenFor(m => m.deleteCommand, new { @id = "hfDeletecommand", value = Model.message })
                        <input id="hfSubmitCount" type="hidden" value="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
    <script>
        $(document).ready(function () {
            DisableAllProperties();
        });
    </script>
