@model EnRepMobileWeb.MODELS.BusinessLayer.AlertSetup.DocumentSetup.DocumentSetupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/AlertSetup/DocumentSetup/DocumentSetupJs.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@{ if (Model.msg != null)
    {
        //var str = ViewBag.Message;
        var str = Model.msg;

        if (str == "success")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val("");
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (str == "Deleted")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val("");
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
    }
    var AddNew = "N";
    var deleteBtn = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103145005001")
            {
                AddNew = "Y";
            }
            if (Row["feature_id"].ToString() == "103145005004")
            {
                deleteBtn = "Y";

            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}
<style>
    .draggable {
        padding: 5px;
        margin: 5px;
    }

    .droppable {
        padding: 5px;
        margin: 5px;
    }
</style>
<script>
    function allowDrop(event) {
        event.preventDefault();
    }
    function drag(event) {
        event.dataTransfer.setData("text", event.target.innerHTML);
    }
    function drop(event) {
        debugger
        event.preventDefault();
        var data = event.dataTransfer.getData("text");
        var fdata = document.getElementById('txtarea').value;
        var tdata = data;
        document.getElementById('txtarea').value = (fdata + " " + tdata);
    }
</script>
<title>@Model.title</title>
@using (Html.BeginForm("SubmitFormData", "DocumentSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                @*<div class="x_panel mar_pad1 min-vh-75">*@
                <div class="x_content mar_pad1">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="x_panel mar_pad1 ">
                                <div class="x_content mar_pad1">
                                    <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                        <section class="panel panel-default" onclick="setTabId('1')">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.Email <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                            </div>
                                            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="panel-body">
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Document <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.mailCommonData.docId, new SelectList(Model.EmailDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistemail", onchange = "BindDocEventList('mail'); validateMailDocId();BindBindRcptTypeList('mail'); EnableDisableMailUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.mailCommonData.docId, new SelectList(Model.EmailDocList, "docId", "docName"), new { @class = "form-control", @disabled= "disabled", id = "ddldoclistemail", onchange = "BindDocEventList('mail'); validateMailDocId();BindBindRcptTypeList('mail'); EnableDisableMailUsersDiv();" })
                                                                }
                                                                <label id="vmMailDocId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Event <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.mailCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistemail", onchange = "validateMailEvent();BindBindRcptTypeList('mail'); EnableDisableMailUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.mailCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistemail",@disabled="disabled", onchange = "validateMailEvent();BindBindRcptTypeList('mail'); EnableDisableMailUsersDiv();" })
                                                                }
                                                                <label id="vmMailEventId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Type <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlmailuserstype" name="mailCommonData.Doctype" onchange="BindUserList('mail'); EnableDisableMailUsersDiv(); validateMailUsertype(); ">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlmailuserstype" name="mailCommonData.Doctype" disabled onchange="BindUserList('mail'); EnableDisableMailUsersDiv(); validateMailUsertype(); ">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmMailUserType"></label>
                                                            </div>
                                                            <div id="divmailusers" style="display:none" class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Name  <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlmailusers" name="mailCommonData.User" onchange="validateMailUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlmailusers" name="mailCommonData.User" onchange="validateMailUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmMailUser"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ValidateMailData();" id="btnSaveMailData" name="Command" value="SaveMailData"></button>
                                                                }
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="x_panel margin10">
                                                                    <div class="x_content">
                                                                        <div class="card-box table-responsive dy_table">
                                                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                                <table class="table table-striped jambo_table bulk_action " id="datatable-buttons" width="100%">
                                                                                    <thead>
                                                                                        <tr class="headings">
                                                                                            @*<th>&nbsp; </th>*@
                                                                                            <th>&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th>@Resource.Document @Resource.Name</th>
                                                                                            <th>@Resource.Event </th>
                                                                                            <th>@Resource.Receipient @Resource.Type</th>
                                                                                            <th>@Resource.Receipient @Resource.Name</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="">
                                                                                        @if (ViewBag.maildata != null)
                                                                                        {
                                                                                            var i = 0;
                                                                                            foreach (DataRow dr in ViewBag.maildata.Rows)
                                                                                            {
                                                                                                i = i + 1;


<tr>
                                                                                                    @*<td class="center sorting_1">
                                                                                                            <i type="submit" class="fa fa-edit" onclick="EditCostCenter(event)" aria-hidden="true" title="Edit"></i>
                                                                                                        </td>*@
    <td class=" red center">
        @if (deleteBtn == "Y")
        {
            <i class=" fa fa-trash" aria-hidden="true" onclick="functionConfirmDelete(event,@dr["row_id"])"></i>

        }
    </td>
                                                                                                    <td hidden="hidden" id="alertType"> @dr["alert_type"]</td>
                                                                                                    <td hidden="hidden" id="documentId"> @dr["doc_id"]</td>
                                                                                                    <td hidden="hidden" id="events"> @dr["event"]</td>
                                                                                                    <td hidden="hidden" id="rcptType"> @dr["recept_type"]</td>
                                                                                                    <td hidden="hidden" id="rcptId"> @dr["recept_id"]</td>
                                                                                                    <td class=""> @dr["DocName"]</td>
                                                                                                    <td class=""> @dr["status_name"]</td>
                                                                                                    <td class=""> @dr["receptTypeName"]</td>
                                                                                                    <td class=""> @dr["user_nm"]</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="panel panel-default" onclick="setTabId('2')">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.SMS <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="panel-body">
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Document <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.smsCommonData.docId, new SelectList(Model.SmsDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistsms", onchange = "BindDocEventList('sms');validateSmsDocId();BindBindRcptTypeList('sms');EnableDisableSmsUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.smsCommonData.docId, new SelectList(Model.SmsDocList, "docId", "docName"), new { @class = "form-control",@disabled="disabled", id = "ddldoclistsms", onchange = "BindDocEventList('sms');validateSmsDocId();BindBindRcptTypeList('sms');EnableDisableSmsUsersDiv();" })
                                                                }
                                                                <label id="vmSmsDocId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Event <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.smsCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistsms", onchange = "validateSmsEvent();BindBindRcptTypeList('sms');EnableDisableSmsUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.smsCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistsms",@disabled="disabled", onchange = "validateSmsEvent();BindBindRcptTypeList('sms');EnableDisableSmsUsersDiv();" })
                                                                }
                                                                <label id="vmSmsEventId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Type <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlsmsuserstype" name="smsCommonData.Doctype" onchange="BindUserList('sms'); EnableDisableSmsUsersDiv(); validateSmsUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlsmsuserstype" disabled name="smsCommonData.Doctype" onchange="BindUserList('sms'); EnableDisableSmsUsersDiv(); validateSmsUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmSmsUserType"></label>
                                                            </div>
                                                            <div id="divsmsusers" style="display:none" class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Name  <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlsmsusers" name="smsCommonData.User" onchange="validateSmsUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlsmsusers" disabled name="smsCommonData.User" onchange="validateSmsUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmSmsUser"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ValidateSmsData();" id="btnSaveSmsData" name="Command" value="SaveSmsData"></button>
                                                                }
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="x_panel margin10">
                                                                    <div class="x_content">
                                                                        <div class="card-box table-responsive dy_table">
                                                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                                <table class="table table-striped jambo_table bulk_action " id="datatable-buttons1" width="100%">
                                                                                    <thead>
                                                                                        <tr class="headings">
                                                                                            @*<th>&nbsp; </th>*@
                                                                                            <th>&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th>@Resource.Document @Resource.Name</th>
                                                                                            <th>@Resource.Event </th>
                                                                                            <th>@Resource.Receipient @Resource.Type</th>
                                                                                            <th>@Resource.Receipient @Resource.Name</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="">
                                                                                        @if (ViewBag.smsdata != null)
                                                                                        {
                                                                                            var i = 0;
                                                                                            foreach (DataRow dr in ViewBag.smsdata.Rows)
                                                                                            {
                                                                                                i = i + 1;
                                                                                                <tr>
                                                                                                    @*<td class="center sorting_1">
                                                                                                            <i type="submit" class="fa fa-edit" onclick="EditCostCenter(event)" aria-hidden="true" title="Edit"></i>
                                                                                                        </td>*@
                                                                                                    <td class=" red center">
                                                                                                        @if (deleteBtn == "Y")
                                                                                                        {
                                                                                                            <i class=" fa fa-trash" aria-hidden="true" onclick="functionConfirmDelete(event,@dr["row_id"])"></i>
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td hidden="hidden" id="alertType"> @dr["alert_type"]</td>
                                                                                                    <td hidden="hidden" id="documentId"> @dr["doc_id"]</td>
                                                                                                    <td hidden="hidden" id="events"> @dr["event"]</td>
                                                                                                    <td hidden="hidden" id="rcptType"> @dr["recept_type"]</td>
                                                                                                    <td hidden="hidden" id="rcptId"> @dr["recept_id"]</td>
                                                                                                    <td class=""> @dr["DocName"]</td>
                                                                                                    <td class=""> @dr["status_name"]</td>
                                                                                                    <td class=""> @dr["receptTypeName"]</td>
                                                                                                    <td class=""> @dr["user_nm"]</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="panel panel-default" onclick="setTabId('3')">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> @Resource.WhatsApp <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="panel-body">
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Document <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.whatsappCommonData.docId, new SelectList(Model.WhatsappDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistwhatsapp", onchange = "BindDocEventList('whatsapp'); validateWhatsappDocId();BindBindRcptTypeList('whatsapp');EnableDisableWhatsappUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.whatsappCommonData.docId, new SelectList(Model.WhatsappDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistwhatsapp",@disabled="disabled", onchange = "BindDocEventList('whatsapp'); validateWhatsappDocId();BindBindRcptTypeList('whatsapp');EnableDisableWhatsappUsersDiv();" })
                                                                }
                                                                <label id="vmWhatsappDocId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Event <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.whatsappCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistwhatsapp", onchange = "validateWhatsappEvent();BindBindRcptTypeList('whatsapp');EnableDisableWhatsappUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.whatsappCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistwhatsapp",@disabled="disabled", onchange = "validateWhatsappEvent();BindBindRcptTypeList('whatsapp');EnableDisableWhatsappUsersDiv();" })
                                                                }
                                                                <label id="vmWhatsappEventId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Type <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlwhatsappuserstype" name="whatsappCommonData.Doctype"
                                                                            onchange="BindUserList('whatsapp'); EnableDisableWhatsappUsersDiv(); validateWhatsappUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlwhatsappuserstype" disabled name="whatsappCommonData.Doctype"
                                                                            onchange="BindUserList('whatsapp'); EnableDisableWhatsappUsersDiv(); validateWhatsappUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmWhatsappUserType"></label>
                                                            </div>
                                                            <div id="divwhatsappusers" style="display:none" class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Name  <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddlwhatsappusers" name="whatsappCommonData.User" onchange="validateWhatsappUserId();" onclick="">
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddlwhatsappusers" disabled name="whatsappCommonData.User" onchange="validateWhatsappUserId();" onclick="">
                                                                    </select>
                                                                }
                                                                <label id="vmWhatsappUser"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ValidateWhatsappData()" id="btnSaveWhatsappData" name="Command" value="SaveWhatsappData"></button>
                                                                }
                                                            </div>
                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="x_panel margin10">
                                                                    <div class="x_content">
                                                                        <div class="card-box table-responsive dy_table">
                                                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                                <table class="table table-striped jambo_table bulk_action " id="datatable-buttons2" width="100%">
                                                                                    <thead>
                                                                                        <tr class="headings">
                                                                                            @*<th>&nbsp; </th>*@
                                                                                            <th>&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th>@Resource.Document @Resource.Name</th>
                                                                                            <th>@Resource.Event </th>
                                                                                            <th>@Resource.Receipient @Resource.Type</th>
                                                                                            <th>@Resource.Receipient @Resource.Name</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="">
                                                                                        @if (ViewBag.whatsappdata != null)
                                                                                        {
                                                                                            var i = 0;
                                                                                            foreach (DataRow dr in ViewBag.whatsappdata.Rows)
                                                                                            {
                                                                                                i = i + 1;
                                                                                                <tr>
                                                                                                    @*<td class="center sorting_1">
                                                                                                            <i type="submit" class="fa fa-edit" onclick="EditCostCenter(event)" aria-hidden="true" title="Edit"></i>
                                                                                                        </td>*@
                                                                                                    <td class=" red center">
                                                                                                        @if (deleteBtn == "Y")
                                                                                                        {
                                                                                                            <i class=" fa fa-trash" aria-hidden="true" onclick="functionConfirmDelete(event,@dr["row_id"])"></i>
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td hidden="hidden" id="alertType"> @dr["alert_type"]</td>
                                                                                                    <td hidden="hidden" id="documentId"> @dr["doc_id"]</td>
                                                                                                    <td hidden="hidden" id="events"> @dr["event"]</td>
                                                                                                    <td hidden="hidden" id="rcptType"> @dr["recept_type"]</td>
                                                                                                    <td hidden="hidden" id="rcptId"> @dr["recept_id"]</td>

                                                                                                    <td class=""> @dr["DocName"]</td>
                                                                                                    <td class=""> @dr["status_name"]</td>
                                                                                                    <td class=""> @dr["receptTypeName"]</td>
                                                                                                    <td class=""> @dr["user_nm"]</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="panel panel-default" id="" onclick="setTabId('4')">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> @Resource.Dashboard <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="panel-body">
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Document <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.dashboardCommonData.docId, new SelectList(Model.DashboardDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistdashboard", onchange = "BindDocEventList('dashboard');validateDashboardDocId();BindBindRcptTypeList('dashboard');EnableDisableDashboardUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.dashboardCommonData.docId, new SelectList(Model.DashboardDocList, "docId", "docName"), new { @class = "form-control", id = "ddldoclistdashboard",@disabled="disabled", onchange = "BindDocEventList('dashboard');validateDashboardDocId();BindBindRcptTypeList('dashboard');EnableDisableDashboardUsersDiv();" })
                                                                }
                                                                <label id="vmDashboardDocId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Event <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    @Html.DropDownListFor(model => model.dashboardCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistdashboard", onchange = "validateDashboardEvent();BindBindRcptTypeList('dashboard');EnableDisableDashboardUsersDiv();" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.dashboardCommonData.eventId, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddleventlistdashboard",@disabled="disabled", onchange = "validateDashboardEvent();BindBindRcptTypeList('dashboard');EnableDisableDashboardUsersDiv();" })
                                                                }
                                                                <label id="vmDashboardEventId"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Type <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddldashboarduserstype" name="dashboardCommonData.Doctype"
                                                                            onchange="BindUserList('dashboard'); EnableDisableDashboardUsersDiv(); validateDashboardUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddldashboarduserstype" disabled name="dashboardCommonData.Doctype"
                                                                            onchange="BindUserList('dashboard'); EnableDisableDashboardUsersDiv(); validateDashboardUsertype();" onclick="">
                                                                        <option value="0">---select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmDashboardUserType"></label>
                                                            </div>
                                                            <div id="divdashboardusers" style="display:none" class="col-md-55 col-sm-12">
                                                                <label class="col-form-label label-align">
                                                                    @Resource.Receipient @Resource.Name  <span class="required">*</span>
                                                                </label>
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <select class="form-control" id="ddldashboardusers" name="dashboardCommonData.User" onchange="validateDashboardUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="ddldashboardusers" disabled name="dashboardCommonData.User" onchange="validateDashboardUserId();" onclick="">
                                                                        <option value="0">---Select---</option>
                                                                    </select>
                                                                }
                                                                <label id="vmDashboardUser"></label>
                                                            </div>
                                                            <div class="col-md-55 col-sm-12">
                                                                @if (AddNew == "Y")
                                                                {
                                                                    <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ValidateDashboardData()" id="btnSaveDashboardData" name="Command" value="SaveDashboardData"></button>
                                                                }                                                             
                                                            </div>
                                                            @*no-padding mt-2*@
                                                            <div class="col-md-12 col-sm-12 ">
                                                                <div class="x_panel margin10">
                                                                    <div class="x_content">
                                                                        <div class="card-box table-responsive dy_table">
                                                                            <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                                <table class="table table-striped jambo_table bulk_action" id="datatable-buttons3" width="100%">
                                                                                    <thead>
                                                                                        <tr class="headings">
                                                                                            @*<th>&nbsp; </th>*@
                                                                                            <th>&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th style="display:none">&nbsp; </th>
                                                                                            <th>@Resource.Document @Resource.Name</th>
                                                                                            <th>@Resource.Event </th>
                                                                                            <th>@Resource.Receipient @Resource.Type</th>
                                                                                            <th>@Resource.Receipient @Resource.Name</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="">
                                                                                        @if (ViewBag.dashboarddata != null)
                                                                                        {
                                                                                            var i = 0;
                                                                                            foreach (DataRow dr in ViewBag.dashboarddata.Rows)
                                                                                            {
                                                                                                i = i + 1;
                                                                                                <tr>
                                                                                                    @*<td class="center sorting_1">
                                                                                                            <i type="submit" class="fa fa-edit" onclick="EditCostCenter(event)" aria-hidden="true" title="Edit"></i>
                                                                                                        </td>*@
                                                                                                    <td class=" red center">
                                                                                                        @if (deleteBtn == "Y")
                                                                                                        {
                                                                                                            <i class=" fa fa-trash" aria-hidden="true" onclick="functionConfirmDelete(event,@dr["row_id"])"></i>
                                                                                                        }
                                                                                                    </td>
                                                                                                    <td hidden="hidden" id="alertType"> @dr["alert_type"]</td>
                                                                                                    <td hidden="hidden" id="documentId"> @dr["doc_id"]</td>
                                                                                                    <td hidden="hidden" id="events"> @dr["event"]</td>
                                                                                                    <td hidden="hidden" id="rcptType"> @dr["recept_type"]</td>
                                                                                                    <td hidden="hidden" id="rcptId"> @dr["recept_id"]</td>

                                                                                                    <td class=""> @dr["DocName"]</td>
                                                                                                    <td class=""> @dr["status_name"]</td>
                                                                                                    <td class=""> @dr["receptTypeName"]</td>
                                                                                                    <td class=""> @dr["user_nm"]</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </article>
                                </div>
                                @*<input id="hfSubmitCount" type="hidden" value="0" />*@
                                @Html.HiddenFor(model => model.transType, new { @id = "hfTransType" })
                                @Html.HiddenFor(model => model.DeleteCommand, new { @id = "hfDeletecommand" })
                                @Html.HiddenFor(model => model.rowId, new { @id = "hfrowId" })
                                @Html.HiddenFor(model => model.activeTab, new { @id = "hfactivetab" })
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
    }
}
<!-- page content end -->
