@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.MIS.OrderDetail.OrderDetail_Model

@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .dataTables_length, .DataTable1_filter, .dt-buttons, .buttons-csv, .buttons-pdf {
        float: left;
    }
    span.select2-selection {
        height:25px !important;
    }

    .dt-buttons {
        float: left;
        position: absolute;
        margin-left: 1%;
        width: 10%;
        z-index: 11;
    }

    .dataTables_length {
        float: left;
        position: relative;
    }

    .buttons-pdf {
        margin-left: 10px !important;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
        position: relative;
        z-index: 10;
    }
    .btn-default, span.select2-selection {
        min-height: 28px !important
    }
    /*.btn-default {
        line-height: 23px;
    }
    .select2-selection {
        height: 24px !important;
    }*/

    /*.dt-buttons {
        width: 15%;
        padding-left: 2%;
    }
*/
</style>
@*<style>
        .dt-buttons {
            float:left; position:absolute;
            margin-left:1%;
            width:10%;
            z-index:11;
        }
        .dataTables_length {
            float: left;
            position: relative;
        }
       .buttons-pdf {
            margin-left:10px !important;
        }
        div.dataTables_wrapper div.dataTables_filter {
            text-align: right;
            position: relative;
            z-index: 10;
        }
    </style>*@
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SalesAndDistribution/MIS/OrderDetail/OrderDetailJS.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!-- Invoice Detail -->
    <div id="InvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="InvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Detail -->
    <div id="CustomerInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderCustomerInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Product Detail -->
    <div id="CustomerInvoiceProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerInvoiceProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/CustomerOrderInvoiceProductDetail.cshtml")
        </div>
    </div>
    <!-- Product wise Invoice Detail -->
    <div id="ProductWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductWiseInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderProductWiseInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Product Group Wise Product Detail -->
    <div id="ProductGroupWiseProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductGroupWiseProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderProductGroupWiseProductDetail.cshtml")
        </div>
    </div>
    <!-- Product Group Wise Invoice Detail -->
    <div id="ProductGroupWiseInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="ProductGroupWiseInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderProductGroupWiseInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Region Wise Customer Detail -->
    <div id="RegionWiseCustomerDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseCustomerDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderRegionWiseCustomerDetail.cshtml")
        </div>
    </div>
    <!-- Region Wise Invoice Summary -->
    <div id="RegionWiseInvoiceSummary" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseInvoiceSummaryPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderRegionWiseInvoiceSummary.cshtml")
        </div>
    </div>
    <!-- RegionWiseInvoiceProductDetail -->
    <div id="RegionWiseInvoiceProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="RegionWiseInvoiceProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderRegionWiseInvoiceProductDetail.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Customer Detail -->
    <div id="SalesExecutiveWiseCustomerDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="SalesExecutiveWiseCustomerDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderSalesExecutiveWiseCustomerDetail.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Invoice Summary -->
    <div id="SalesExecutiveWiseInvoiceSummary" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="SalesExecutiveWiseInvoiceSummaryPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderSalesExecutiveWiseInvoiceSummary.cshtml")
        </div>
    </div>
    <!-- Sales Executive Wise Product Detail -->
    <div id="SalesExecutiveWiseProductDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="SalesExecutiveWiseProductDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialOrderSalesExecutiveWiseProductDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Detail -->
    <div id="CustomerPendingInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerPendingInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialPendingOrderCustomerInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Customer Invoice Detail -->
    <div id="CustomerPendingInvoiceDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" id="CustomerPendingInvoiceDetailPopUp" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialPendingOrderCustomerInvoiceDetail.cshtml")
        </div>
    </div>
    <!-- Pending Order Detail Summary -->
    <div id="PendingOrderDetail" class="modal fade show" role="dialog" aria-modal="true">
        <div id="popupPendingOrderDetail" class="modal-dialog" style="min-width:900px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialPendingOrderDetail.cshtml")
        </div>
    </div>
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog" style="min-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!--MIS Order Delivery Schedule -->
    <div id="MISOrderDeliverySchedule" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:700px;">
            <!-- Modal content-->
            <div id="ddldeliverysch">
                @Html.Partial("~/Areas/Common/Views/Comn_PartialMISOrderDeliverySchedule.cshtml")
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-7 col-sm-12 heading_left_padding">@ViewBag.MenuPageName</h2>
                <div id="" class="col-md-3 col-sm-12 no-margin no-padding ">
                    <div class="col-md-3 col-sm-12 no-margin no-padding ">
                        <label class="col-form-label label-align">@Resource.OrderBy </label>
                    </div>
                    <div class="col-md-9 col-sm-12 no-margin no-padding ">
                        @Html.DropDownListFor(model => model.Sales_by, new SelectList(new List<SelectListItem>
                             {  new SelectListItem {Text="Order wise",Value="O" },
                            new SelectListItem {Text="Customer wise",Value="C" },
                             new SelectListItem {Text="Product wise",Value="P" },
                             new SelectListItem {Text="Product Group wise",Value="G" },
                            new SelectListItem {Text="Region wise",Value="R" },
                            new SelectListItem {Text="Sales Executive wise",Value="S" },
                               new SelectListItem { Text = "Pending Order", Value = "PO" }
                   //new SelectListItem { Text = "Pending Order - Summary", Value = "PO" },commented by shubham maurya on 20-12-2024
                   //new SelectListItem { Text = "Pending Order - Detailed", Value = "POD" }
                   }, "Value", "Text"),
                        new { @class = "form-control", @id = "ddl_Sales_by", @onchange = "OnchangeSalesBy()", @name = "Sales_by" })
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 pl-3">
                    @Resource.Summary<span>&nbsp;</span>
                    <input checked="checked" class="" id="SalesMISOrderSummary" onclick="onchangeShowAs()" name="MISOrderType" type="radio" value="S">
                    <span>&nbsp;</span> @Resource.Detail<span>&nbsp;</span>
                    <input class="" id="SalesMISOrderDetail" onclick="onchangeShowAs()" name="MISOrderType" type="radio" value="D">
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-2 col-sm-12" id="div_ddl_CustomerName">
                                    <label class="col-form-label label-align">@Resource.CustomerName </label>
                                    @Html.DropDownListFor(model => model.cust_id, new SelectList(new List<SelectListItem>
                                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                                new { @class = "form-control", @id = "ddl_CustomerName", @name = "CustomerName", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_currencyList">
                                    <label class="col-form-label label-align">@Resource.Currency @Resource.Type </label>
                                    @Html.DropDownListFor(model => model.portFolio, new SelectList(Model.Currencylist, "curr_id", "curr_name"),
                                   new { @class = "form-control", @id = "ddlCurrencylist", @name = "Currencylist", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_productName">
                                    <label class="col-form-label label-align">@Resource.Product @Resource.Name </label>
                                    @Html.DropDownListFor(model => model.ItemID, new SelectList(Model.ItemsList, "itemId", "itemName"),
                                   new { @class = "form-control", @id = "ddlItemsList", @name = "ItemsList"/*, @multiple = "multiple"*/ })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_RegionName">
                                    <label class="col-form-label label-align">@Resource.RegionName </label>
                                    @Html.DropDownListFor(model => model.RegionName, new SelectList(Model.regionLists, "region_id", "region_val"),
                                new { @class = "form-control", @id = "ddl_RegionName", @name = "RegionName", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_SaleType">
                                    <label class="col-form-label label-align">@Resource.Order @Resource.Type </label>
                                    @Html.DropDownListFor(model => model.sales_type, new SelectList(new List<SelectListItem>
                                {
                                   //new SelectListItem {Text="---All---",Value="0" },
                               new SelectListItem {Text="Domestic",Value="D" },
                               new SelectListItem {Text="Export",Value="E" }
                                }, "Value", "Text"),
                                new { @class = "form-control", @id = "ddl_SaleType", @name = "SaleType", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_SalesRepresentative">
                                    <label class="col-form-label label-align">@Resource.SalesRepresentative </label>
                                    @Html.DropDownListFor(model => model.Sales_per, new SelectList(new List<SelectListItem>
                                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                                new { @class = "form-control", @id = "ddl_SalesRepresentative", @name = "SalesRepresentative", @multiple = "multiple" })
                                    <input type="hidden" id="salespersonList" value='@Url.Action("GetSalesPersonList", "LSODetail")' />
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_productGrpName">
                                    <label class="col-form-label label-align">@Resource.Product @Resource.groupname </label>
                                    @Html.DropDownListFor(model => model.ItemID, new SelectList(new List<SelectListItem>
                                {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                                new { @class = "form-control", @id = "ddl_ProductGrpName", @name = "ProductName", @multiple = "multiple" })
                                    <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "StockDetail")' />
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ProductPortfolio">
                                    <label class="col-form-label label-align">@Resource.ProductPortfolio </label>
                                    <select class="form-control" id="ProductPortfolio" name="ProductPortfolio" multiple>
                                        <option value="0"> ---All---</option>
                                        <option value="2">Product Portfolio 1</option>
                                        <option value="17">Product Portfolio 2</option>
                                    </select>
                                    <input type="hidden" id="ItemPortfName" value='@Url.Action("GetItemPortfList", "StockDetail")' />
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_CustomerCategory">
                                    <label class="col-form-label label-align">@Resource.CustomerCategory </label>
                                    @Html.DropDownListFor(model => model.category, new SelectList(Model.categoryLists, "Cat_id", "Cat_val"),
                                   new { @class = "form-control", @id = "CustomerCategory", @name = "CustomerCategory", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_CustomerPortfolio">
                                    <label class="col-form-label label-align">@Resource.CustomerPortfolio </label>
                                    @Html.DropDownListFor(model => model.portFolio, new SelectList(Model.portFolioLists, "CatPort_id", "CatPort_val"),
                                   new { @class = "form-control", @id = "CustomerPortfolio", @name = "CustomerPortfolio", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_CustomerZone">
                                    <label class="col-form-label label-align">@Resource.Customer @Resource.Zone</label>
                                    @Html.DropDownListFor(model => model.custzone, new SelectList(Model.custzoneList, "custzone_id", "custzone_val"),
                                   new { @class = "form-control", @id = "ddlcustzone", @name = "ddlcustzone", @multiple = "multiple" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_CustomerGroup">
                                    <label class="col-form-label label-align">@Resource.Customer @Resource.Group</label>
                                    @Html.DropDownListFor(model => model.custgroup, new SelectList(Model.custgroupList, "CustGrp_id", "CustGrp_val"),
                                   new { @class = "form-control", @id = "ddlcustgroup", @name = "ddlcustgroup", @multiple = "multiple" })
                                </div>

                                <div class="col-md-2 col-sm-12" id="div_ddl_state">
                                    <label class="col-form-label label-align">@Resource.State</label>
                                    @Html.DropDownListFor(model => model.state, new SelectList(Model.StateLists, "state_id", "state_name"), new { @class = "form-control", @id = "ddl_state", @onchange = "onchangeState()", @name = "state" })
                                    @Html.HiddenFor(model => model.Hidstate, new { @id = "Hdstate" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_city">
                                    <label class="col-form-label label-align">@Resource.City</label>
                                    @Html.DropDownListFor(model => model.city, new SelectList(Model.CityLists, "city_id", "city_name"), new { @class = "form-control", @id = "ddl_city", @name = "city" })
                                    @Html.HiddenFor(model => model.Hidcity, new { @id = "Hdcity" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_OrderNumber">
                                    <label class="col-form-label label-align">@Resource.Order @Resource.Number </label>
                                    @Html.DropDownListFor(model => model.soNo, new SelectList(Model.SoNumberList, "so_no", "so_no"),
                                  new { @class = "form-control", @id = "ddlsono", @name = "ddlsono" })
                                </div>
                                <div class="col-md-2 col-sm-12" id="div_ddl_OrderDate">
                                    <label class="col-form-label label-align">@Resource.Order @Resource.Date </label>
                                    @Html.DropDownListFor(model => model.soDt, new SelectList(Model.SoNumberList, "so_dt", "so_dt"),
                       new { @class = "form-control", @id = "ddlsodt", @name = "ddlsodt" })
                                </div>
                                @*<div class="" id="div_clear"></div>*@
                                @*<div class="clearfix"></div>*@
                                <div class="col-md-4 col-sm-12 no-padding">
                                    <div class="col-md-5 col-sm-12" @*style="max-width:13%;"*@>
                                        <label class="col-form-label label-align">
                                            @Resource.FromDate
                                        </label>
                                        @Html.TextBoxFor(model => model.From_dt, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    </div>
                                    <div class="col-md-5 col-sm-12" @*style="max-width:13%;"*@>
                                        <label class="col-form-label label-align">
                                            @Resource.ToDate
                                        </label>
                                        @Html.TextBoxFor(model => model.To_dt, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    </div>
                                    <div class="col-md-2 col-sm-12" @*style="max-width:6%;"*@>
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ItemDetCurr_Id_CSV, new { @id = "ItemDetCurr_Id_CSV" })
                            @Html.HiddenFor(m => m.OrdDetCust_Id_CSV, new { @id = "OrdDetCust_Id_CSV" })
                            @Html.HiddenFor(m => m.SalePersonCust_Id_CSV, new { @id = "SalePersonCust_Id_CSV" })
                            @Html.HiddenFor(m => m.GetPW_Product_Id_CSV, new { @id = "GetPW_Product_Id_CSV" })
                            @Html.HiddenFor(m => m.GetPGW_Product_Id_CSV, new { @id = "GetPGW_Product_Id_CSV" })
                            @Html.HiddenFor(m => m.GetPGW_curr_id_CSV, new { @id = "GetPGW_curr_id_CSV" })
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1" id="AllPartials">
                        <div id="PartialMIS_SalesOrderDetailsOrderWiseList">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsOrderWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsCustomerWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsCustomerWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsProductWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsProductWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsProductGroupWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsProductGroupWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsRegionWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsRegionWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsSalesExecutiveWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsSalesExecutiveWiseList.cshtml")
                        </div>
                        <div id="PartialMIS_SalesOrderDetailsPendingOrderWiseList" style="display:none">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsPendingOrderWiseList.cshtml")
                        </div>
                        @*<div id="PartialMIS_SalesOrderDetailsPendingOrderWiseDetailedList" style="display:none">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMIS_SalesOrderDetailsPendingOrderWiseDetailedList.cshtml")
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
