@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.MISFinishedGoodsReceipt.MISFinishedGoodsReceipt_Model
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<style>
    .multiselect, .dropdown-toggle {
        width: 100% !important;
        min-width: 100%;
        text-align: left;
        min-height: 28px;
    }
    .multiselect-container {
        height: 400px;
        overflow-y: scroll;
    }
    #BatchNumber .modal-content {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<div class="row">
    <!-- Item Information Start -->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!-- Item Information End -->
    <!-- Batch Number -->
    <div id="BatchNumber" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:800px;">
            @Html.Partial("~/Areas/Common/Views/Comn_PartialItemStockBatchWise.cshtml")
        </div>
    </div>
    @Html.HiddenFor(Model => Model.DocumentMenuId, new { @id = "DocumentMenuId" })
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding  ">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar">
                    <div class="col-md-12 col-sm-12 icon_tool mb-1 p-b-1">
                        <div id="" class="col-md-4 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Product @Resource.Name </label>
                            @Html.DropDownListFor(model => model.ItemID, new SelectList(Model.ItemNameList, "Item_Id", "Item_Name"), new
                            {
                                @class = "form-control",
                                @id = "ddlItemName",@*@multiple = "multiple",*@ @onchange = "ItemNameOnchange()"
                            })
                            <input type="hidden" id="ItemListName" value='@Url.Action("GetItemList", "MISFinishedGoodsReceipt")' />
                            @Html.HiddenFor(Model => Model.MultiselectItemNameHdn, new { @id = "MultiselectItemHdn" })
                            @*<select class="form-control " id="ddlItemName" name="ProductName" tabindex="" multiple data->
                                    <option value="0">---All---</option>
                                    <option value="">Product Name</option>
                                    <option value="">Product Name 1</option>
                                    <option value="">Product Name 2</option>
                                </select>*@
                        </div>
                        <div id="" class="col-md-4 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.ItemGroup </label>
                            @Html.DropDownListFor(model => model.GroupID, new SelectList(Model.ItemGroupNameList, "Group_Id", "Group_Name"), new { @class = "form-control", id = "ddlItemGroupName", @multiple = "multiple" })
                            <input type="hidden" id="ItemGrpName" value='@Url.Action("GetItemGrpList", "MISFinishedGoodsReceipt")' />
                        </div>
                        <div id="" class="col-md-2 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.Shopfloor</label>
                            @*<select class="form-control" id="Shopfloor" name="Shopfloor">
                                    <option value="">All</option>
                                    <option value="">Shopfloor</option>
                                    <option value="">Shopfloor 1</option>
                                </select>*@
                            @Html.DropDownListFor(Model => Model.Shopfloor, new SelectList(Model.ShopfloorList, "shop_id", "shop_name"), new
                       {
                           @id = "ddlShopfloorID",
                           @class = "form-control",
                           @name = "ShopfloorName",
                           @onchange = "Onchngeshopflore()",
                           @multiple = "multiple"
                           //@multiple = "multiple"
                       })
                            @Html.ValidationMessageFor(model => model.Shopfloor, String.Empty, new { @style = "color:red;!important", @id = "vmShopfloor" })

                            @Html.HiddenFor(Model => Model.shopfloor_id, new { @id = "Hdnshopfloor_id" })
                        </div>
                        <div id="" class="col-md-2 col-sm-12 pl-0">
                            <label class="col-form-label label-align">@Resource.ShowAs</label>
                            @Html.DropDownListFor(model => model.ShowAs, new SelectList(new List<Object>
                                                              {

                                                              new { value = "P", text = "Product wise"  },
                                                              new { value = "D" , text = "Document wise" },
                                                              },
                                                                       "value",
                                                                       "text"
                                                                   ), new { @class = "form-control", @id = "ddl_ShowAs", @onchange = "return onchangeShowAs()" })

                            @*<select class="form-control" id="ShowAs" name="ShowAs">
                                    <option value="">Product wise</option>
                                    <option value="">Document wise</option>
                                </select>*@
                        </div>
                        <div class="col-md-4 col-sm-12 pr-0">
                            <div class="col-md-5 col-sm-12 pl-0">
                                <label class="col-form-label label-align ">@Resource.FromDate</label>
                                @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-5 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <div id="tblDataFGRMIS">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISFinishedGoodsReceipt.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/MISFinishedGoodsReceipt/MISFinishedGoodsReceipt_JS.js"></script>
<script src="multiselect-dropdown.js"></script>