@using System.Data
@using System.Linq
@{ 
    string lpath = string.Empty;

    if (!string.IsNullOrEmpty(ViewBag.FLogoPath))
    {
        lpath = ViewBag.FLogoPath.ToString();
    }
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .tin, .office {
        font-size: 11px;
        text-align: left;
    }

    .company-name {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        paddingbottom: 5px;
        border-bottom: solid 1px #000000;
        font-family: Arial, Helvetica, sans-serif;
    }

    .company-address {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        paddingtop: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .packing-list {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        paddingtop: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .bold {
        font-weight: bold;
    }

    .logo {
        width: 100px;
        height: auto;
        vertical-align: top;
    }

    /* .main {
        width: 750px;
        marginleft: 50px;
        marginright: 50px;
    }*/

    .no-border {
        width: 100%;
        border-collapse: collapse;
    }

    .carton-title {
        font-weight: bold;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 13px;
        text-align: center;
        width: 100%;
        float: left;
        line-height: 50px;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tbl {
        width: 100%;
        border-collapse: collapse;
        margintop: 6px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

        .tbl th {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-weight: bold;
            paddingbottom: 2px;
            paddingtop: 2px;
            paddingleft: 2px;
            paddingright: 2px;
        }

        .tbl td {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            paddingbottom: 2px;
            paddingtop: 2px;
            paddingleft: 2px;
            paddingright: 2px;
        }
</style>
@{
    DataTable dt = ViewBag.Details.Tables[0];
    DataRow hdr = dt.Rows[0];

    var cartons = dt.AsEnumerable()
                    .GroupBy(r => r["carton_no"].ToString());
}

<div class="container">
    <div class="">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="70%" class="tin left">Tin : @hdr["gst_no"]</td>
                            <td width="30%" class="office right">
                                OFF : @hdr["cont_num1"]<br />
                                e-mail : @hdr["email_id1"]
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img class="logo" src="@lpath" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="company-name">
                                @hdr["comp_nm"]
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="company-address">
                                @hdr["Comp_Add"]<br />
                                @hdr["state"], @hdr["country"]<br />
                                Website : @hdr["comp_website"]
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="packing-list">
                                M/s. @hdr["cust_name"]<br />
                                Packing List Bill No. @hdr["pack_no"]
                                Dated @hdr["pack_dt"]
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @foreach (var carton in cartons)
                                {
                                    var cartonRows = carton.ToList();
                                    var cartonWeight = cartonRows.First()["carton_weight"] == DBNull.Value
                                                       ? "0.000"
                                                       : cartonRows.First()["carton_weight"].ToString();
                                    int rowCount = cartonRows.Count;

                                    <div class="carton-title">Carton No. @carton.Key</div>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="1" class="tbl">
                                        <thead>
                                            <tr>
                                                <th width="22%">Item</th>
                                                <th width="14%">Size</th>
                                                <th width="10%">No. of Boxes</th>
                                                <th width="10%">No. of Pcs<br />per Box</th>
                                                <th width="10%">Total Pcs</th>
                                                <th width="10%">Weight (Kgs.)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < rowCount; i++)
                                            {
                                                var row = cartonRows[i];
                                                <tr>
                                                    <td style="text-align:left">@row["item_name"]</td>
                                                    <td>@row["size"]</td>
                                                    <td>@row["TotalPackNo"]</td>
                                                    <td>@row["pcs_per_box"]</td>
                                                    <td>@row["total_pcs"]</td>

                                                    @* ✅ Weight ONLY once with rowspan *@
                                                    @if (i == 0)
                                                    {
                                                        <td rowspan="@rowCount" style="font-weight:bold; vertical-align:middle;">
                                                            @cartonWeight
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>








