@using System.Data;
@{
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    decimal PackQty = 0;
    decimal PackNos = 0;
    decimal tot_cbm = 0;
}
<style>
    .tbl_border {
        border: 0.5px solid #000000;
    }
    .tbl_border tr td {
        border: 0.5px solid #000000;
    }
    .tbl_border tr th{
        border:0.5px solid #000000;
    }
</style>
@*<div style='background: url(@BackGroundImgUrl) no-repeat ; height:800px; backgroundposition: center center;'>*@
<div style='backgroundposition: center center;'>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
    <table width='100%' style="vertical-align: top;">
        <tr>
            <td style="vertical-align: top;">
                <table style='width:100%;vertical-align: top;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table style='width:100%;border:solid 1px #000000;vertical-align: top;'>
                                <tr>
                                    <td style='width:50%;border-right:solid 1px #000000;vertical-align: top;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;vertical-align: top;'>
                                            <tr><td><strong> Customer : </strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</td></tr>
                                            <tr><td><strong>Billing Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_add"].ToString()</td></tr>
                                            @* <tr><td></td></tr>
        <tr><td><strong> State # </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_state"].ToString()</td></tr>
        <tr><td><strong> Country # </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_cntry"].ToString()</td></tr>
        <tr><td><strong> Phone # </strong> @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td></tr>
        <tr><td><strong> GSTIN/UIN # </strong> @ViewBag.Details.Tables[0].Rows[0]["cust_gst_no"].ToString()</td></tr>*@
                                        </table>
                                    </td>
                                    <td style='width:40%; vertical-align:top;'>
                                        <table style="vertical-align: top;">
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Packing List Number </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["pack_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Packing List Date </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["pack_dt"].ToString()</td>
                                            </tr>
                                            @*<tr>
                                    <td style='font-size:12px;font-weight:bold;'> Destination </td>
                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString()</td>
                                </tr>*@
                                            @*<tr>
                                    <td style='font-size:12px;font-weight:bold;'> Currency </td>
                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</td>
                                </tr>
                                <tr>
                                    <td style='font-size:12px;font-weight:bold;'> Payment Terms </td>
                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString()</td>
                                </tr>*@
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table @*border='1'*@ class="tbl_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:11px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.No.</th>
                                        <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Case Nos. </th>
                                        <th width='27%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                        <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Pack Size </th>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='9%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Packed Quantity </th>
                                        <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Qty/Outer Pack</th>
                                        @*<th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> No. of<br /> packs </th>*@
                                    <th width='8%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Total Outer Packs </th>
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Net Weight<br />(in Kg.)</th>
                                        <th width='11%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>Gross Weight<br />(in Kg.)</th>
                                        @*<th width='7%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>CBM</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[0].Rows != null)
                                    {
                                        var i = 1;
                                        foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                        {
                                    <tr>
                                        <td style='text-align:center; width:5%;'>@i</td>
                                        <td style='text-align:center; width:5%;'>@dr["sr_from"] - @dr["sr_to"]</td>
                                        <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_name"].ToString()</td>
                                        <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["pack_size"].ToString()</td>
                                        <td style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["uom_id"].ToString()</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["pack_qty"].ToString()</td>

                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["qtyperpack"].ToString()</td>
                                        <td style='text-align: right;paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["pack_nos"].ToString()</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["net_wght"].ToString()</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["gr_wght"].ToString()</td>
                                        @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["tot_cbm"].ToString()</td>*@
                                    </tr>
                                            i++;
                                            PackQty = PackQty + Convert.ToDecimal(dr["pack_qty"]);
                                            PackNos = PackNos + Convert.ToDecimal(dr["pack_nos"]);
                                            //tot_cbm = tot_cbm + Convert.ToDecimal(dr["tot_cbm"]);
                                        }
                                    }
                                    <tr>
                                        <td colspan='4'>
                                        </td>
                                        <td style='text-align: right; paddingright: 5px; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; font-weight: bold;'>Total</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:bold;'>@PackQty.ToString(QtyDigit)</td>
                                        <td></td>
                                      
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:bold;'>@PackNos.ToString(QtyDigit)</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["tot_net_wght"]</td>
                                        <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["tot_gr_wght"]</td>
                                        @*<td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@tot_cbm</td>*@
                                    </tr>
                                    @*<tr>
                            <td colspan="10" style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:bold;'>
                                Remarks
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px; font-weight:normal;'>
                                This is a remarks. This is a remarks. This is a remarks.
                            </td>
                        </tr>*@
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style='font-size:12px;font-weight:bold;'>
                            Remarks
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style='font-size:12px;font-weight:normal;'>
                            @ViewBag.Details.Tables[0].Rows[0]["remarks"].ToString()
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>