@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.TDSDetail.TDSDetailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>

<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/TDSDetail/TDSDetail.js"></script>
@using (Html.BeginForm("TDSDetailData", "TDSDetail", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />@*/*Add by Hina sharma on 19-11-2024 to loader*/*@
                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    </div>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <div class="col-md-12 col-sm-12 padding_zero mb-2">
                                <div class="col-md-2 col-sm-12 pr-0">
                                    <label class="col-form-label label-align">@Resource.TaxType</label>
                                    <select id="Tax_Type" class="form-control" onchange="OnChangeTax_Type();">
                                        @foreach (var item in Model.tax_type_list)
                                        {
                                            <option value="@item.tax_type">@item.tax_type_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.TDS/TCS @Resource.Name</label>
                                    @*<select class="form-control" id="ddlStatus" name="Status">
            <option>All</option>
            <option>TDS Name</option>
            </select>*@
                                    @*@Html.DropDownListFor(m => m.tds_id, new SelectList(Model.tds_name_list, "tds_id", "tds_name", "tds_acc_id"), new { @id = "ddl_TDSId", @name = "", @class = "form-control", onchange = "OnChangeTDS_Type();" })*@
                                    <select id="TDS_Type" class="form-control" onchange="OnChangeTDS_Type();">
                                        @foreach (var item in Model.tds_name_list)
                                        {
                                            <option value="@item.tds_id" data-acc_id="@item.tds_acc_id">@item.tds_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Section @Resource.Code</label>

                                    <select id="ddl_SecCode" class="form-control" @*onchange="OnChangeSectionCode();"*@>
                                        @foreach (var item in Model.seccode_list)
                                        {
                                            <option value="@item.seccode_id" data-acc_id="@item.seccode_name">@item.seccode_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.EntityName </label>
                                    @*<select class="form-control" id="ddlStatus" name="Status">
               <option>All</option>
               <option>Supplier Name</option>
            </select>*@
                                    @Html.DropDownListFor(model => model.Supp_id, new SelectList(new List<SelectListItem>
                                    {new SelectListItem {Text="---All---",Value="0" },}, "Value", "Text"),
                                    new { @class = "form-control", @id = "ddl_SupplierName", @name = "SupplierName" })
                                    <input type="hidden" id="SuppNameList" value='@Url.Action("GetAutoCompleteSearchSuppList", "TDSDetail")' />
                                </div>
                                <div class="col-md-4 col-sm-12 pl-0">
                                    <div class="col-md-5 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">@Resource.FromDate</label>
                                        @*<input class="form-control" id="txtFromdate" max="2024-06-18" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-06-01">*@
                                        @Html.TextBoxFor(model => model.From_dt, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                                    </div>
                                    <div class="col-md-5 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">@Resource.ToDate</label>
                                        @*<input value="2024-06-18" class="form-control" data-val="true" data-val-date="The field ToDate must be a date." data-val-required="The ToDate field is required." id="txtTodate" max="2024-06-18" name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">*@
                                        @Html.TextBoxFor(model => model.To_dt, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="GetTDSMISDetails()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                   
                                    @Html.HiddenFor(model => model.searchValue, new { @id = "searchValue" })
                                    @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnCSVPrint" })
                                    @Html.HiddenFor(model => model.TDSDetailData, new { @id = "hdnTDSDetailData" })
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <div class="card-box table-responsive dy_table">
                        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 StockDetailTable">
                            <div id="MISTDSDetails">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialTDSDetail.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- page content end -->
