@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.PaymentRequisition.PaymentRequisitionModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<title>@Model.Title</title>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/PaymentRequisition/PaymentRequisition_JS.js"></script>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                @Html.HiddenFor(m => m.FilterDataList, new { @id = "hdnFilterDataList", value = Model.FilterDataList })
                @Html.HiddenFor(model => model.DashbordPendingStatus, new { @id = "DashbordPendingDocumentStatus" })
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @if (ViewBag.AppLevel.Rows.Count > 0)
                    {
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    }
                </div>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105104125001")
                        {
                            <div id="" class="col-md-2 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddPaymentRequisitionDetail","PaymentRequisition")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddNewFGR" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Requirement @Resource.Area</label>
                                @Html.DropDownListFor(model => model.req_area, new SelectList(Model._requirementAreaLists, "req_id", "req_val"), new { @class = "form-control", onchange = "onChangeRequiredArea()", id = "ddlRequiredArea" })
                                @Html.HiddenFor(model => model.req_area, new { @id = "hdRequiredArea" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">

                                <label class="col-form-label label-align">
                                    @Resource.FromDate
                                </label>
                                @*<input class="form-control" id="txtFromdate" max="2024-08-09" name="FromDate" onchange="FromToDateValidation()" type="date" value="2024-08-01">*@
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @if (Model.ToDate != null)
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                }
                            </div>
                            <div class="col-md-2 col-sm-12 no-padding">
                                <div class="col-md-9 col-sm-12 pl-0">
                                    <label class="col-form-label label-align"> @Resource.Status <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                </div>
                                <div class="col-md-3 col-sm-12 pl-0">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="ListTbl" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialPaymentRequisitionList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
