@using System.Data;
@{

    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    if (doc_status == "C")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/cancelled.png");
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    var colspan = 6;
    if (ViewBag.src_type == "H")
    {
        colspan = 6;
    }
}
<style>
    .table_border {
        border: 0.5px solid #000000;
    }

        .table_border > tbody > tr > td, .table_border > thead > tr > th {
            border: 0.5px solid #000000;
        }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

        .suppInfo > tr > td {
            padding-right: 5px;
        }
</style>
<div style='background: url(@BackGroundImgUrl) no-repeat ;backgroundposition: center center;'>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
    <table width='100%'>
        @*<tr>
            <td style="font-size: 17px; text-align: center; font-weight: bold; text-decoration: underline;">
                Debit Note
            </td>
        </tr>*@
        <tr>
            <td>
                <table style='width:100%;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align:top; padding:0px;">
                            <table style='width:100%;border:solid 1px #000000;'>
                                <tr>
                                    <td style='width: 60%; border-right: solid 1px #000000; vertical-align: top; padding: 0px; '>
                                        <table class="suppInfo" style=''>
                                            <tr><td><strong> Supplier : </strong>@ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()</td></tr>
                                            <tr><td><strong> Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["Supp_add"].ToString()</td></tr>
                                            <tr><td><strong> Pin Code : </strong>@ViewBag.Details.Tables[0].Rows[0]["supp_pin"].ToString()</td></tr>
                                            <tr><td><strong> State : </strong>@ViewBag.Details.Tables[0].Rows[0]["supp_state"].ToString()</td></tr>
                                            <tr><td><strong> Country : </strong>@ViewBag.Details.Tables[0].Rows[0]["supp_cntry"].ToString()</td></tr>
                                            <tr><td><strong> Phone : </strong> @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td></tr>
                                            <tr><td><strong> GST No. : </strong> @ViewBag.Details.Tables[0].Rows[0]["supp_gst_no"].ToString()</td></tr>
                                        </table>
                                    </td>
                                    <td style='width:40%; vertical-align:top; padding:0px;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Bill Number </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["bill_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'>Bill Date </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["bill_dt"].ToString()</td>
                                            </tr>
                                            
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold;'> GRN Number </td>
                                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["grn_no"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold;'> GRN Date </td>
                                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["grn_dt"].ToString()</td>
                                                </tr>
                                            
                                            
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold;'> Invoice Number </td>
                                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["inv_no"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold;'> Invoice Date </td>
                                                    <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["inv_dt"].ToString()</td>
                                                </tr>
                                            

                                            @*<tr>
                                                <td style='font-size:12px;font-weight:bold;'>Purchase Return Number </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["prt_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'>Purchase Return Date </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["prt_dt"].ToString()</td>
                                            </tr>*@
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'>Debit Note Number </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[4].Rows[0]["dn_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'>Debit Note Date </td>
                                                <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[4].Rows[0]["dn_date"].ToString()</td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                        <th width='40%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                        <th width='10%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> HSN <br /> Number </th>
                                        <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Shortage <br /> Quantity </th>
                                        <th width='12%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Shortage <br /> Value	 </th>
                                        @*<th width='16%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Remarks </th>*@
                                        
                                            <th width='16%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Reason For <br /> Debit Note </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[5].Rows != null)
                                    {
                                        var i = 1;
                                        DataView data = new DataView();
                                        foreach (DataRow dr in ViewBag.Details.Tables[5].Rows)
                                        {
                                            <tr>
                                                <td style='text-align:center; width:5%;'>@i</td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>
                                                    @dr["item_name"].ToString()<br />
                                                    
                                                    
                                                </td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["HSN_code"].ToString()</td>
                                                <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["UOM"].ToString()</td>
                                                <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["total_var_qty"].ToString()</td>
                                                <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;'>@dr["total_value"].ToString()</td>
                                                
                                                
                                                    <td style='text-align: left; paddingleft: 5px; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["rtrn_reason"].ToString()</td>
                                               
                                            </tr>
                                            i++;
                                        }
                                    }
                                    <tr>
                                        <td colspan='@colspan'>
                                            <table cellpadding='0' cellspacing='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                                <tr>
                                                    <td width='55%'>&nbsp;</td>
                                                    <td style='paddingleft:5px;border-left:solid 2px #000000; border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'><strong> Sub-Total </strong></td>
                                                    <td style='text-align:right;paddingright:5px;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[6].Rows[0]["SubTotal"].ToString()</td>
                                                </tr>
                                                @if (ViewBag.Details.Tables[8].Rows != null)
                                                {
                                                    foreach (DataRow dr in ViewBag.Details.Tables[8].Rows)
                                                    {
                                                        <tr>
                                                            <td width='55%'>&nbsp;</td>
                                                            <td style='paddingleft:5px;border-left:solid 2px #000000;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_name"].ToString()</td>
                                                            <td style='text-align:right;paddingright:5px;border-bottom:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_val"].ToString()</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr></tr>
                                                }
                                                
                                                <tr>
                                                    <td width='55%'>&nbsp;</td>
                                                    <td style='paddingleft:5px;border-left:solid 2px #000000;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>Grand Total</td>
                                                    <td style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[6].Rows[0]["GrandTotal"].ToString()</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table styl='width:100%;'>
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:75%;font-weight:bold;'>Amount in Words:</td></tr>
                                <tr><td style='font-size:12px;font-weight:normal;padding:0px 0px;width:60%;'>@ViewBag.Details.Tables[7].Rows[0]["net_val_spec_inwords"].ToString()</td></tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>

@*GetPurchaseReturnDeatils_ForPrint*@

