@using System.Data;
@*<style>
    .main_header {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }
    .main {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }
    .cn {
        width: 280px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;

    }
    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }
    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .cn .top_left {
        width: 80px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .cn .top_right {
        width: 180px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
    .bor {
        padding-top: 2px;
        width: 255px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }
    .bor img {
        width: 80px;
        height: auto;
        border: 0px;
        float: left;
    }
    .bor .left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .bor .right {
        width: 135px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }
    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .fontsize {
        font-family: Arial;
        font-size: 9px;
        text-align: left;
        padding-left: 3px;
    }
    .pa_l {
        padding-left: 2px;
    }
    </style>*@

<style>
    .main_header {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }

    .main {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
        /*min-height:1000px;*/
    }

    .cn {
        width: 260px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }

    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cn .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .cn .top_right {
        width: 160px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        /*padding-bottom: 5px;*/
    }

    .bor {
        padding-top: 2px;
        width: 255px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }

        .bor img {
            width: 80px;
            height: auto;
            border: 0px;
            float: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .right {
            width: 135px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }
    /*.remarks {
    width: 200px;
    float: left;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    text-align: justify;
    }*/
    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }

    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }



    .fontsize {
        font-family: Arial;
        font-size: 9px;
        text-align: left;
        padding-left: 3px;
    }

    .pa_l {
        padding-left: 2px;
    }

    .pa_l_pendqty {
        /*padding-left: 2px;*/
        font-size: 9px;
        font-weight: bold;
    }

    .t_p_o_v {
        float: left;
        font-family: Arial;
        font-size: 11px;
        text-align: left;
        line-height: 18px;
        paddingbottom: 2px;
        paddingtop: 2px;
    }
</style>
@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}
@*<table class="main">
        <tr>
            <td>
                <table class="main_header">
                    <tr>
                        <td><h2>@ViewBag.Details.Rows[0]["comp_nm"].ToString()</h2></td>
                    </tr>
                    <tr>
                        <td class="SalesOrder">Production Plan</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td >
                <table class="main_header" >
                    <tr>
                        <td class="on">
                            <table>
                                <tr>
                                    <td class="top_left">Plan Number :</td>

                                    <td class="top_right">@ViewBag.Details.Rows[0]["pp_no"].ToString()</td>
                                </tr>
                            </table>
                        </td>

                        <td class="od">
                            <table>
                                <tr>
                                    <td class="top_left">Plan Date :</td>

                                    <td class="top_right">@ViewBag.Details.Rows[0]["pp_dt"].ToString()</td>
                                </tr>
                            </table>
                        </td>
                        <td class="cn">
                            <table>
                                <tr>
                                    <td class="top_left">Shopfloor :</td>
                                    <td class="top_right">@ViewBag.Details.Rows[0]["shfl_name"].ToString()</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left:17px;">
                <table class="main_header">
                    <tr>
                        <td>
                            @if (ViewBag.Details.Rows != null)
                            {
                                DataView data = new DataView();
                                foreach (DataRow dr in ViewBag.Details.Rows)
                                {
                                    <div class="bor">
                                        <div class="bor">
                                            <table class="fontsize" width="96%" style="border:1px solid #000000;">
                                                <tr>
                                                    <td colspan="2">
                                                        <table width="100%">
                                                            <tr>
                                                                <td height="100" style="text-align:center;"><img src="@dr["item_img_path"].ToString()" /></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l">Item Name:</td>
                                                    <td height="45" valign="top">
                                                        @dr["item_name"].ToString()
                                                        <br />@dr["sub_item_ord_qty"].ToString()
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="pa_l">UOM :</td>
                                                    <td valign="top">@dr["uom_alias"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Tech Specification :</div></td>
                                                    <td valign="top">@dr["item_tech_spec"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td width="35%" valign="top" class="pa_l"> <div>Weight (In Kg) :</div></td>
                                                    <td valign="top">@dr["wght_kg"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="pa_l">Plan Quantity :</td>
                                                    <td valign="top">@dr["OrderQty"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="pa_l">Pending Quantity :</td>
                                                    <td valign="top">@dr["PendingQty"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="pa_l">HSN/SAC :</td>
                                                    <td valign="top">@dr["hsn_code"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" colspan="2" height="70" class="pa_l">
                                                        Remarks<br />
                                                        @dr["it_remarks"].ToString()
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>*@


<table class="main">
    <tr>
        <td>
            <table class="main_header">
                <tr>
                    <td width="30%">
                        <img src="@lpath" alt="Logo" width="100" />
                    </td>
                    <td class="invoice" width="45%" align="center">Production Plan</td>
                    <td class="t_p_o_v" width="25%" align="left">
                        &nbsp;

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table class="main_header">
                <tr>
                    <td class="cn">
                        <table>
                            <tr>
                                <td class="top_left">Plan Number</td>
                                <td class="top_right"><strong>:</strong>&nbsp; @ViewBag.Details.Rows[0]["pp_no"].ToString()</td>
                            </tr>
                        </table>
                    </td>
                    <td class="on">
                        <table>
                            <tr>
                                <td class="top_left">Plan Date</td>
                                <td class="top_right"><strong>:</strong>&nbsp;@ViewBag.Details.Rows[0]["pp_dt"].ToString()</td>
                            </tr>
                        </table>
                    </td>
                    <td class="od">
                        <table>
                            <tr>
                                <td class="top_left">Shopfloor</td>
                                <td class="top_right"><strong>:</strong>&nbsp;@ViewBag.Details.Rows[0]["shfl_name"].ToString()</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td style="padding-left:17px;">
            <table class="main_header">
                <tr>
                    <td>
                        @if (ViewBag.Details.Rows != null)
                        {
                            DataView data = new DataView();
                            foreach (DataRow dr in ViewBag.Details.Rows)
                            {
                                <div class="bor">
                                    <div class="bor">
                                        <table class="fontsize" width="96%" style="border:1px solid #000000;">
                                            <tr>
                                                <td colspan="3">
                                                    <table width="100%">
                                                        <tr>
                                                            @*<td height="100" style="text-align:center;"><img src="@dr["item_img_path"].ToString()" /></td>*@
                                                            <td height="150" style="text-align:center;"> <img src="@dr["item_img_path"].ToString()" style="width:100px; object-fit:contain;" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="35%" valign="top" class="pa_l">Item Name</td>
                                                <td width="3%">:</td>
                                                <td width="62%">
                                                    @dr["item_name"].ToString()
                                                    <br />@dr["sub_item_ord_qty"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pa_l">UOM</td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["uom_alias"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td width="35%" valign="top" class="pa_l"> <div>Tech Specification</div></td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["item_tech_spec"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td width="35%" valign="top" class="pa_l"> <div>Weight (In Kg)</div></td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["wght_kg"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="pa_l">Plan Quantity</td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["OrderQty"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="pa_l">Pending Quantity</td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["PendingQty"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="pa_l">HSN/SAC</td>
                                                <td width="3%">:</td>
                                                <td valign="top">@dr["hsn_code"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" colspan="3" height="40" class="pa_l">
                                                    Remarks<br />
                                                    @dr["it_remarks"].ToString()
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
