@using System.Data;
<style>
    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }

    .invoice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    .tableborder, .tableborder > tbody > tr > td, .tableborder th {
        border: 0.5px solid black;
    }

    .invoice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
    }

    .bank_detail {
        font-size: 12px;
        font-weight: normal;
        width: 35%;
    }

    .bank_detail_value {
        font-size: 11px;
        font-weight: bold;
        width: 65%;
    }

    .company_detail {
        font-size: 16px;
        font-weight: normal;
        width: 65%;
        paddingbottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bank_detail, .bank_detail_value {
        font-family: Arial, Helvetica, sans-serif;
        paddingtop: 2px;
        paddingbottom: 2px;
    }

    .declaration {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
        paddingbottom: 5px;
    }

    .bank_detail_main {
        font-size: 12px;
        font-weight: normal;
        width: 50%;
    }
</style>
@{
    int thcolspn = 8;
    string width = "50%";
    string itmdeswidth = "37%";
    string itmtblwidth = "26%";
    string hsnflag = "Y";
    string discountflag = "Y";
    if (ViewBag.PrintOption != null)
    {

        string showbillto = ViewBag.PrintOption.Rows[0]["ShowBillTo"].ToString();
        string showshipto = ViewBag.PrintOption.Rows[0]["ShowShipTo"].ToString();
        hsnflag = ViewBag.PrintOption.Rows[0]["ShowHsnNumber"].ToString();
        discountflag = ViewBag.PrintOption.Rows[0]["ShowDiscount"].ToString();
        if (showbillto == "N" && showshipto == "N")
        {
            width = "100%";
        }
        else if (showbillto == "Y" && showshipto == "Y")
        {
            width = "30%";
        }
        else if ((showbillto == "N" && showshipto == "Y") || (showbillto == "Y" && showshipto == "N"))
        {
            width = "50%";
        }
    }
    if (hsnflag == "N")
    {

        itmdeswidth = "51%";
    }
    if (discountflag == "N")
    {

        itmdeswidth = "51%";
    }
    if (hsnflag == "N" && discountflag == "N")
    {

        itmdeswidth = "62%";
    }
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}

<div>
    <div style="width:100%;">
        <div style="margin:0 auto; background:url(images/draft.png) no-repeat; background-position: center center ">
            <table style="width:100%; padding-left:20px; padding-right:20px;">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="40%">
                                                <img src="@lpath" alt="Logo" width="150" />
                                            </td>
                                            <td class="invoice" width="60%">@ViewBag.Title.ToString()</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            @*<td width="20%">&nbsp;</td>*@
                                            <td width="100%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; vertical-align:top; ">
                                                <strong>Shipping Type:  @ViewBag.Details.Tables[7].Rows[0]["ShipType"].ToString()</strong><br />
                                                <strong>Quotation No. : @ViewBag.Details.Tables[0].Rows[0]["QTNo"].ToString()</strong><br />
                                                <strong>Quotation Date : @ViewBag.Details.Tables[0].Rows[0]["QtDate"].ToString()</strong><br />
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style=" width:100%;border: solid 1px #afafaf;">
                            <tbody>
                                <tr>
                                    @if (ViewBag.PrintOption.Rows[0]["ShowCompAddress"].ToString() == "Y")
                                    {
                                        <td width="@width" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; vertical-align:top; line-height:18px;  border-right: solid 1px #afafaf;">

                                            <div style="font-weight:bold;"> @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</div> <br />
                                            @ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString() <br />
                                            Ph.No.  @ViewBag.Details.Tables[0].Rows[0]["PhoneNo"].ToString()<br />
                                            Email Id:  @ViewBag.Details.Tables[0].Rows[0]["EmailId"].ToString() <br />
                                            Website:  @ViewBag.Details.Tables[0].Rows[0]["comp_website"].ToString()<br />
                                            State Code/State:  @ViewBag.Details.Tables[0].Rows[0]["State"].ToString()<br />
                                            <strong>GSTIN No. : @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString() </strong><br />
                                            <strong>PAN No. : @ViewBag.Details.Tables[0].Rows[0]["pan_no"].ToString() </strong><br />


                                        </td>
                                    }
                                        @if (ViewBag.PrintOption.Rows[0]["ShowBillTo"].ToString() == "Y")
                                        {
                                            <td width="@width" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; vertical-align:top; border-right: solid 1px #afafaf;">

                                                <div style="font-weight:bold;">Bill To</div> <br />
                                                @*Customer Code : @ViewBag.Details.Tables[1].Rows[0]["CustCode"].ToString()<br />*@
                                                Customer Name :
                                                @if (ViewBag.PrintOption.Rows[0]["CustAliasName"].ToString() == "Y")
                                                {
                                                    @ViewBag.Details.Tables[1].Rows[0]["cust_alias"].ToString()
                                                }
                                                else
                                                {
                                                    @ViewBag.Details.Tables[1].Rows[0]["cust_name"].ToString()
                                                }
                                                <br />
                                                @ViewBag.Details.Tables[1].Rows[0]["cust_add"].ToString()<br />
                                                <strong>GST No. : @ViewBag.Details.Tables[1].Rows[0]["cust_gst_no"].ToString()</strong><br />
                                                <strong>State Code/State : @ViewBag.Details.Tables[1].Rows[0]["State"].ToString()</strong><br />
                                            </td>
                                        }
                                        @if (ViewBag.PrintOption.Rows[0]["ShowShipTo"].ToString() == "Y")
                                        {
                                            <td width="@width" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:16px; vertical-align:top; ">

                                                <div style="font-weight:bold;">Ship To</div><br />
                                                @if (@ViewBag.Details.Tables[0].Rows[0]["bill_add_id"].ToString() == @ViewBag.Details.Tables[0].Rows[0]["ship_add_id"].ToString())
                                                {
                                                    <div style="width:40%; float:left;">Customer Name :</div> <div style="font-weight:normal;width:60%; float:left;">
                                                        @*Customer Code : @ViewBag.Details.Tables[2].Rows[0]["CustCode"].ToString()<br />*@
                                                        @ViewBag.Details.Tables[2].Rows[0]["cust_name"].ToString()<br />
                                                    </div><br />
                                                }
                                                @ViewBag.Details.Tables[2].Rows[0]["cust_add"].ToString()<br />
                                                <strong>GST No. : @ViewBag.Details.Tables[2].Rows[0]["cust_gst_no"].ToString()</strong><br />
                                                <strong>State Code/State : @ViewBag.Details.Tables[2].Rows[0]["State"].ToString()</strong><br />
                                            </td>
                                        }
                                        @*<td width="10%" style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 5px; line-height:18px; vertical-align:top; ">
                <strong>Eway Bill No. : @ViewBag.Details.Tables[0].Rows[0]["gst_ewb_no"].ToString()</strong><br />

            </td>*@
                                    </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="4" style=" width:100%; font-size: 10px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                            <thead>
                                <tr>
                                    <th width="5%" style="border-right: solid 1px #000000; text-align:center;"><strong>S.No.</strong><br /></th>
                                    <th width="@itmdeswidth" style="border-right: solid 1px #000000; text-align: center;"><strong>Product Description</strong><br /></th>
                                    @if (hsnflag == "Y")
                                    {
                                        <th width="11%" style="border-right: solid 1px #000000; text-align: center;"><strong>HSN/SAC</strong><br /></th>
                                    }
                                    <th width="11%" style="border-right: solid 1px #000000; text-align: center;"><strong>Qty.</strong><br /></th>
                                    <th width="11%" style="border-right: solid 1px #000000; text-align: center;"><strong>Rate <br /> [@ViewBag.Details.Tables[4].Rows[0]["CurrName"].ToString()]</strong><br /></th>
                                    @if (discountflag == "Y")
                                    {
                                        <th width="11%" style="border-right: solid 1px #000000; text-align: center;"><strong>Disc(in %) <br /> [@ViewBag.Details.Tables[4].Rows[0]["CurrName"].ToString()]</strong><br /></th>
                                    }
                                    <th width="11%" style="text-align: center;"><strong>Amount <br /> [@ViewBag.Details.Tables[4].Rows[0]["CurrName"].ToString()]</strong><br /></th>
                                </tr>

                            </thead>
                            <tbody>
                                @{
                                    var srno = 0;
                                }
                                @if (@ViewBag.Details.Tables[3].Rows.Count > 0)
                                {
                                    DataView data1 = new DataView();
                                    var printwidth = "100%";
                                    if (ViewBag.PrintOption.Rows[0]["ShowPrintImage"].ToString().ToUpper() == "Y")
                                    {
                                        printwidth = "70%";
                                    }
                                    foreach (DataRow data in @ViewBag.Details.Tables[3].Rows)
                                    {
                                        string itemPath = Server.MapPath("~") + "..\\Attachment\\ItemSetup\\";
                                        string itemPath1 = itemPath + @data["item_img_name"].ToString().Replace("/", "\\'");
                                        var ItemImage = itemPath1.Replace("~\\", "").Replace("\\\\", "\\").Replace("'", "");
                                        srno = srno + 1;
                                        <tr>
                                            <td style="text-align: center; width: 5%;border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@srno</td>
                                            <td style="padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">
                                                <table width="100%" style="font-size: 10px; padding-top:3px;">
                                                    <tr>
                                                        @*
                                                            <td style="padding-left: 5px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">*@
                                                        @*<td width="@printwidth" style='paddingleft:3px;paddingbottom:3px;' id="ItemNameTD">*@
                                                        <td width="@printwidth" style="padding-left: 5px; vertical-align: top; ">
                                                            @data["itemName"].ToString()
                                                            @if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                            {
                                                            <br />@data["CustSpecItemDesc"].ToString()
                                                            }
                                                            @*else
        {
            @data["itemName"].ToString()
        }*@
                                                            @if (ViewBag.PrintOption.Rows[0]["ItemAliasName"].ToString().ToUpper() == "Y")
                                                            {
                                                                <br /> @data["ItemAlias"].ToString()
                                                            }
                                                            @if (ViewBag.PrintOption.Rows[0]["ShowOEMNo"].ToString().ToUpper() == "Y")
                                                            {
                                                                if (!string.IsNullOrEmpty(data["OEMNo"]?.ToString()))
                                                                {
                                                                    <br />@data["OEMNo"].ToString()
                                                                }

                                                            }
                                                            @if (ViewBag.PrintOption.Rows[0]["ShowReferenceNo"].ToString().ToUpper() == "Y")
                                                            {
                                                                if (!string.IsNullOrEmpty(data["RefNo"]?.ToString()))
                                                                {
                                                                    <br />@data["RefNo"].ToString()
                                                                }
                                                            }
                                                            @if (ViewBag.PrintOption.Rows[0]["ShowCatalogueNo"].ToString().ToUpper() == "Y")
                                                            {
                                                                if (!string.IsNullOrEmpty(data["CatalogueNo"]?.ToString()))
                                                                {
                                                                    <br /> @data["CatalogueNo"].ToString()
                                                                }
                                                            }

                                                            @if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                            {
                                                                <br /> @data["ItmTechDiscriptn"].ToString()
                                                            }
                                                            @if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                                            {
                                                                if (ViewBag.Details.Tables[8].Rows.Count > 0)
                                                                {
                                                                    data1 = ViewBag.Details.Tables[8].DefaultView;
                                                                    DataTable NewDT1 = new DataTable();
                                                                    data1.RowFilter = "item_id='" + data["itemId"].ToString() + "'";
                                                                    NewDT1 = data1.ToTable();
                                                                    <table width="100%" style="font-size: 9px; paddingtop:3px;">
                                                                        <tr>
                                                                            <td colspan="3"></td>
                                                                        </tr>
                                                                        @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                                        {
                                                                            if (data["itemId"].ToString() == drsubitm["item_id"].ToString())
                                                                            {
                                                                                <tr>
                                                                                    <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                                    <td width="55%" style="paddingtop: 0px; paddingbottom: 0px;">
                                                                                        @drsubitm["sub_item_name"]
                                                                                    </td>
                                                                                    <td width="35%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["inv_qty"]</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </table>
                                                                }
                                                            }
                                                            @if (ViewBag.PrintOption.Rows[0]["PrintRemarks"].ToString().ToUpper() == "Y")/*Add by Hina on 25-09-2024*/
                                                            {
                                                                <br /> @data["it_remarks"].ToString()
                                                            }

                                                        </td>
                                                        @if (ViewBag.PrintOption.Rows[0]["ShowPrintImage"].ToString().ToUpper() == "Y")
                                                        {
                                                            <td width="26%" style='paddingleft:2%;paddingright:2%; paddingtop:0px;paddingbottom:0px;
text-align:right'>
                                                                <img src="@ItemImage" alt="EnReP" width="45%" class="img-fluid" />

                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </td>
                                            @if (hsnflag == "Y")
                                            {
                                                <td style="padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["hsnCode"].ToString()</td>
                                            }
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["QuotationQty"].ToString()</td>
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["itemRate"].ToString()</td>
                                            @if (discountflag == "Y")
                                            {
                                                <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@data["itemDiscPer"].ToString()</td>
                                            }
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; ">@data["totalAfterDisc"].ToString()</td>
                                        </tr>
                                    }
                                }
                                @{
                                    int colspn = 7;
                                    if (hsnflag == "N")
                                    {
                                        colspn = colspn - 1;
                                    }
                                    if (discountflag == "N")
                                    {
                                        colspn = colspn - 1;
                                    }
                                }

                                <tr>
                                    <td colspan="@colspn">
                                        <table style="width:100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <table style="width:100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="70%" valign="top">
                                                                    <table style=" width:100%;">
                                                                        <tr>
                                                                            <td style="font-size: 12px; font-weight:bold; width:60%; vertical-align:top;">
                                                                                Terms &amp; Conditions :
                                                                                <br />
                                                                                <ul style="list-style-type: decimal;font-weight: bold; margin: 0px;">
                                                                                    @if (ViewBag.Details.Tables[5].Rows.Count > 0)
                                                                                    {
                                                                                        foreach (DataRow data in @ViewBag.Details.Tables[5].Rows)
                                                                                        {
                                                                                            <li> @data["term_desc"].ToString()</li>
                                                                                        }
                                                                                    }
                                                                                    @*<li>Goods once sold will not be taken back</li>
                                                                                        <li>
                                                                                            Interest @("@18%") p.a. will be charged on the due amount, if invoice is not paid within due date. <br />
                                                                                            Default due date is 30 Days. if not mentioned on invoice.
                                                                                        </li>
                                                                                        <li>All disputes subjected to Greater Noida Jurisdiction</li>*@
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="30%" valign="top">
                                                                    <table style="width:100%" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td width="60%" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px; "> Taxable Amt <br /></td>
                                                                            <td width="40%" style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@ViewBag.Details.Tables[4].Rows[0]["GrossValue"].ToString()</td>


                                                                        </tr>
                                                                        @*@if (@ViewBag.Details.Tables[6].Rows.Count > 0)
                                                                            {
                                                                                foreach (var othercharges in @ViewBag.Details.Tables[6].Rows)
                                                                                {
                                                                                    <tr>
                                                                                        <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px;"> @othercharges["oc_name"].ToString() <br /></td>

                                                                                        <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@othercharges["total_amt"].ToString()</td>
                                                                                    </tr>
                                                                                }
                                                                            }*@
                                                                        @if (ViewBag.Details.Tables[14].Rows != null)
                                                                        {
                                                                            //foreach (var othercharges in @ViewBag.Details.Tables[6].Rows)
                                                                            foreach (DataRow dr in ViewBag.Details.Tables[14].Rows)
                                                                            {
                                                                                <tr>
                                                                                    <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px;"> @dr["tax_name"].ToString() <br /></td>

                                                                                    <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingbottom: 2px; border-bottom: solid 1px #000000; font-size: 13px; font-weight: bold; ">@dr["tax_val"].ToString()</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        <tr>
                                                                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 13px;"> Total [@ViewBag.Details.Tables[4].Rows[0]["CurrName"].ToString()]<br /></td>
                                                                            <td style="text-align: right; padding-right: 5px; paddingtop: 2px; paddingbottom: 2px; font-size: 13px; font-weight: bold; border-bottom: solid 1px #000000;">@ViewBag.Details.Tables[4].Rows[0]["invTotal"].ToString()</td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="4" style=" width:100%; font-size: 10px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="10%" style="border-right: solid 1px #000000; text-align: center;"><strong>HSN/SAC</strong><br /></th>
                                    <th rowspan="2" width="10%" style="border-right: solid 1px #000000; text-align: center;"><strong>Taxable Value</strong><br /></th>
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>CGST [INR]</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>SGST [INR]</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        <th colspan="2" style="border-right: solid 1px #000000; padding: 5px; text-align: center;"><strong>IGST [INR]</strong><br /></th>
                                    }
                                    <th width="10%"><strong>Total Tax @*<br />*@Amount</strong><br /></th>
                                </tr>
                                <tr>
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate</strong><br /></th>
                                        <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate</strong><br /></th>
                                        <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Rate</strong><br /></th>
                                        <th width="8%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center;"><strong>Amount</strong><br /></th>
                                    }
                                    <th width="7%" style="text-align: center; border-top: solid 1px #000000;"><strong>&nbsp;</strong><br /></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var dta in @ViewBag.Details.Tables[12].Rows)
                                {
                                    <tr>
                                        <td style="text-align: center; width: 5%; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["hsnCode"].ToString()</td>
                                        <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["TaxableValue"].ToString()</td>
                                        @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalCgst"]) > 0)
                                        {
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["cgstRate"].ToString()</td>
                                            <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["CgstAmount"].ToString()</td>
                                        }
                                        @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalSgst"]) > 0)
                                        {
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["sgstRate"].ToString()</td>
                                            <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["SgstAmount"].ToString()</td>
                                        }
                                        @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalIgst"]) > 0)
                                        {
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["igstRate"].ToString()</td>
                                            <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["IgstAmount"].ToString()</td>
                                        }
                                        <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dta["TotalTax"].ToString()</td>
                                    </tr>
                                }

                                <tr>
                                    <td style="text-align: right; width: 5%; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000; font-size: 12px;"><strong>Total</strong></td>
                                    <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@ViewBag.Details.Tables[13].Rows[0]["TotalTaxableVal"].ToString()</td>
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalCgst"]) > 0)
                                    {
                                        <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">&nbsp;</td>
                                        <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@ViewBag.Details.Tables[13].Rows[0]["TotalCgst"].ToString()</td>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalSgst"]) > 0)
                                    {
                                        <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">&nbsp;</td>
                                        <td style="text-align: right; padding-left: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000; ">@ViewBag.Details.Tables[13].Rows[0]["TotalSgst"].ToString()</td>
                                    }
                                    @if (Convert.ToDecimal(ViewBag.Details.Tables[13].Rows[0]["TotalIgst"]) > 0)
                                    {
                                        <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">&nbsp;</td>
                                        <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@ViewBag.Details.Tables[13].Rows[0]["TotalIgst"].ToString()</td>
                                    }
                                    <td style="text-align: right; padding-right: 5px; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@ViewBag.Details.Tables[13].Rows[0]["TotalTax"].ToString()</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px 0px 0px; width:25%;"><strong>Total Amount in Words [@ViewBag.Details.Tables[4].Rows[0]["CurrName"].ToString()]</strong><br /> </td>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  width:75%;">
                                    @ViewBag.Details.Tables[4].Rows[0]["net_val_spec_inwords"].ToString()
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="declaration">
                                    <strong style="text-decoration: underline;">Declaration</strong> <br />We declare that this quotation shows the actual price of the <br />
                                    goods described and that all particulars are true and correct.
                                </td>
                                @if (ViewBag.PrintOption.Rows[0]["ShowBankDetail"].ToString() == "Y")
                                {
                                    <td class="bank_detail_main">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td colspan="2" class=""> Company's Bank Details </td>
                                            </tr>
                                            <tr>
                                                @*<td class="bank_detail"> A/C Holder's Name  </td>*@
                                                <td class="bank_detail"> Beneficiary Name  </td>
                                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["benif_name"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="bank_detail"> Bank Name  </td>
                                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["bank_name"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="bank_detail"> A/C No  </td>
                                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["acc_no"].ToString()</td>
                                            </tr>
                                            @*<tr>
                                                    <td class="bank_detail"> Branch & IFS Code  </td>/*Commented and changes by Hina shrama on 29-10-2024 to discuss with vishal sir*/
                                                    <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["BranchAndIFSCode"].ToString()</td>
                                                </tr>
                                                <tr>
                                                    <td class="bank_detail"> SWIFT Code  </td>
                                                    <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["swift_code"].ToString()</td>
                                                </tr>*@
                                            <tr>
                                                <td class="bank_detail"> Branch Address  </td>
                                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["bank_add"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class="bank_detail">IFSC Code  </td>
                                                <td class="bank_detail_value"> : @ViewBag.Details.Tables[11].Rows[0]["ifsc_code"].ToString()</td>
                                            </tr>
                                        </table>
                                    </td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
                @*<tr>
                        <td style="padding-top:20px;">

                        </td>
                    </tr>*@
            </table>
        </div>
    </div>
</div>
<div style="page-break-inside: avoid;">
    <table style="width:100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50%">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px; vertical-align:top; width:60%;"><strong>Remarks (if any)</strong><br /> </td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:60%;">@ViewBag.Details.Tables[0].Rows[0]["qt_rem"].ToString() </td>
                    </tr>
                </table>
            </td>
            <td width="50%" vertical-align="top">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;paddingtop: 10px; paddingbottom:20px; vertical-align:top; text-align:center;">For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:bold; vertical-align:top; text-align:center;">
                            @if (!string.IsNullOrEmpty(@ViewBag.DigiSign))
                            {
                                <img src="@ViewBag.DigiSign.ToString()" alt="Logo" width="150" />
                            }
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:bold; vertical-align:top; text-align:center;"><strong>Authorised Signatory</strong><br /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>