@*Used in OC Setup, Tax Setup,Tax Template Setup,wherehouse Setup,GL Setup*@
@using EnRepMobileWeb.Resources;
@{
    var Disable = true;
    if (Model.TransType != null)
    {
        if (Model.TransType.ToString() == "Update")
        {
            if (Model.Command.ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }

        if (Model.TransType.ToString() == "Refresh")
        {
            Disable = true;
        }
        if (Model.TransType.ToString() == "Save")
        {
            if (Model.Command.ToString() == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
    if (Model.Message != null)
    {
        if (Model.Message.ToString() == "Duplicate")
        {
            Disable = false;
        }
    }
}
<section class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">@Resource.BranchMapping <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
        <form action="" method="post" novalidate>
            <div class="panel-body">
                <div class="table-responsive width99">
                    <div class="col-md-12 col-sm-12">
                        <table class="table table-striped jambo_table bulk_action margin5" id="CustBrDetail">
                            <thead>
                                <tr class="headings">
                                    <th class="" align="left" style="text-align:left;">@Resource.BranchName </th>
                                    <th class="no-link last" align="left" style="text-align:left;"><span class="nobr">@Resource.Action</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Disable)
                                {
                                    //if (ViewBag.CustomerBranchList != null)
                                    if (Model.CustomerBranchList != null)
                                    {

                                        //foreach (System.Data.DataRow dr in ViewBag.CustomerBranchList.Rows)
                                        foreach (System.Data.DataRow dr in Model.CustomerBranchList.Rows)
                                        {
                                            <tr>

                                                <td>@dr["comp_nm"] <input id="hdCustomerBranchId" type="hidden" value=@dr["comp_id"] runat="server" /></td>
                                                @if (dr["BrActStatus"].ToString() == "Y" || dr["BrActStatus"].ToString() == "NEW")
                                                {
                                                    <td class=" ">
                                                        <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom:0px; margin-left:20px;">
                                                            <input type="checkbox" class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" checked disabled>
                                                            <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                        </div>

                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class=" ">
                                                        <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom: 0px; margin-left: 20px;">
                                                            <input type="checkbox" class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" disabled>
                                                            <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                        </div>

                                                    </td>
                                                }
                                                <td hidden="hidden">
                                                    <input value="@dr["BrActStatus"].ToString()" type="hidden" id="HdnBranchActiveSatus" />
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    //if (ViewBag.CustomerBranchList != null)
                                    if (Model.CustomerBranchList != null)
                                    {
                                        //foreach (System.Data.DataRow dr in ViewBag.CustomerBranchList.Rows)
                                        foreach (System.Data.DataRow dr in Model.CustomerBranchList.Rows)
                                        {
                                            var disableBranch = "";

                            <tr>
                                @if (ViewBag.BranchList != null)
                                {
                                    foreach (System.Data.DataRow Row in ViewBag.BranchList.Rows)
                                    {


                                        if (@dr["comp_id"].ToString() == @Row["br_id"].ToString())
                                        {
                                            disableBranch = "disabled";
                                        }

                                    }
                                }
                                <td>@dr["comp_nm"] <input id="hdCustomerBranchId" type="hidden" value=@dr["comp_id"] runat="server" /></td>
                                @*/*Add By Hina on 13-09-2024 to add disabled all branch toggle*/*@
                                @if (ViewBag.DocumentId != null)
                                {
                                    if (ViewBag.DocumentId == "103170")
                                    {
                                        if (Model.plr == true || Model.ibt == true || Model.iwt == true || Model.bra == true)
                                        {
                                            if (dr["BrActStatus"].ToString() == "Y")
                                            {
                                                <td class=" ">
                                                    <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom:0px; margin-left:20px;">
                                                        <input type="checkbox" disabled class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" checked>
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                    </div>

                                                </td>
                                            }
                                            else
                                            {
                                                <td class=" ">
                                                    <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom: 0px; margin-left: 20px;">
                                                        <input type="checkbox" disabled class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();">
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                    </div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            if (dr["BrActStatus"].ToString() == "Y" || dr["BrActStatus"].ToString() == "NEW")
                                            {
                                                <td class=" ">
                                                    <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom:0px; margin-left:20px;">
                                                        <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" checked>
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                    </div>

                                                </td>
                                            }
                                            else
                                            {
                                                <td class=" ">
                                                    <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom: 0px; margin-left: 20px;">
                                                        <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();">
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                    </div>
                                                </td>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (dr["BrActStatus"].ToString() == "Y" || dr["BrActStatus"].ToString() == "NEW")
                                        {
                                            <td class=" ">
                                                <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom:0px; margin-left:20px;">
                                                    <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" checked>
                                                    <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                </div>

                                            </td>
                                        }
                                        else
                                        {
                                            <td class=" ">
                                                <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom: 0px; margin-left: 20px;">
                                                    <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();">
                                                    <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                                </div>
                                            </td>
                                        }
                                    }
                                }
                                else
                                {
                                    if (dr["BrActStatus"].ToString() == "Y" || dr["BrActStatus"].ToString() == "NEW")
                                    {
                                        <td class=" ">
                                            <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom:0px; margin-left:20px;">
                                                <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();" checked>
                                                <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                            </div>

                                        </td>
                                    }
                                    else
                                    {
                                        <td class=" ">
                                            <div class="custom-control custom-switch col-md-2 col-sm-12" style="margin-bottom: 0px; margin-left: 20px;">
                                                <input type="checkbox" @disableBranch class="custom-control-input col-md-3 col-sm-12 margin-switch" id="cust_act_stat_@dr["comp_id"]" onclick="ReadBranchList();">
                                                <label class="custom-control-label col-md-9 col-sm-12" for="cust_act_stat_@dr["comp_id"]" style="padding: 3px 0px;" disabled="disabled"></label>
                                            </div>
                                        </td>
                                    }
                                }
                                <td hidden="hidden">
                                    <input value="@dr["BrActStatus"].ToString()" type="hidden" id="HdnBranchActiveSatus" />
                                </td>
                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>