@model EnRepMobileWeb.MODELS.BusinessLayer.QualityControlSetup.QCItemParameterSetupViewModel
@using EnRepMobileWeb.Resources;


<div class="col-md-12 col-sm-12 icon_tool ">
    <!--<span>Collapsible / Accordion </span>-->
    <div class="approved_by">
        <ul>
            <li>
                <span>@Resource.CreatedBy<br><b><span id="ItmDCreatedBy">@Html.LabelFor(model => model.CreatedBy, new { @hidden= "hidden" })</span></b></span>
            </li>
            <li>
                <span>@Resource.Createdon<br><b><span id="ItmDCreatedDate">@Html.LabelFor(model => model.CreatedDate, new { @hidden = "hidden" })</span></b></span>
            </li>
            <li>
                <span>@Resource.ApprovedBy<br><b><span id="ItmDApproveBy">@Html.LabelFor(model => model.ApprovedBy, new { @hidden = "hidden" })</span></b></span>
            </li>
            <li>
                <span>@Resource.ApprovedOn<br><b><span id="ItmDApproveDate">@Html.LabelFor(model => model.ApprovedDate, new { @hidden = "hidden" })</span></b></span>
            </li>
            <li>
                <span>@Resource.AmendedBy<br><b><span id="ItmDAmdedBy"></span>@Html.LabelFor(model => model.AmendedBy, new { @hidden = "hidden" })</b></span>
            </li>
            <li>
                <span>@Resource.AmendedOn<br><b><span id="ItmDAmdedDate">@Html.LabelFor(model => model.AmendedDate, new { @hidden = "hidden" })</span></b></span>
            </li>
            <li class="approved">
                Status<br /><strong><span id="ItmStatus"></span>@Html.LabelFor(model => model.Status, new { @hidden = "hidden" })</strong>
            </li>

        </ul>
    </div>

</div>

