@model EnRepMobileWeb.MODELS.BusinessLayer.QualityControlSetup.QCParameterDefinition
@using EnRepMobileWeb.Resources
@{
    var rowId = 0;
}
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103200101002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103200101004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<style>
    #datatable-buttons_filter {
        margin-top:0px;
    }
    #datatable-buttons_wrapper .btn-group {
        margin-left: 15%;
    }
</style>
@*<table id="ParameterDefinitionList" class="table table-bordered rowhighlighttbl">*@
<table id="datatable-buttons" class="table table-bordered rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th hidden="hidden"></th>
            <th>@Resource.ParameterName</th>
            <th hidden="hidden"></th>
            <th>@Resource.ParameterType</th>
            <th>@Resource.CreatedBy</th>
            <th>@Resource.Createdon</th>
            <th>@Resource.AmendedBy</th>
            <th>@Resource.AmendedOn</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="paraDefDetail">
        @if (Model.ParamDefinitionList != null)
        {
            foreach (var row in Model.ParamDefinitionList)
            {
                rowId++;
                <tr>
                    <td>@rowId</td>
                    <td id="paramid" hidden="hidden">@row.param_Id</td>
                    <td id="paramname">@row.param_name</td>
                    <td hidden="hidden" id="parmtypval">@row.param_type_val</td>
                    <td>@row.param_type</td>
                    <td>@row.create_id</td>
                    <td>@row.create_dt</td>
                    <td>@row.mod_id</td>
                    <td>@row.mod_dt</td>
                    <td class="center">
                        @if (EditFlag == "Y")
                        {
                            <i type="submit" class="fa fa-edit editrecord" aria-hidden="true" onclick="EditPrmtrDef(event)" title="@Resource.Edit"></i>
                        }
                    </td>
                    <td class="center">
                        @if (DeleteFlag == "Y")
                        {
                            <i class="fa fa-trash red" aria-hidden="true" title="@Resource.Delete" onclick="return functionConfirm(event)"></i>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


