@using EnRepMobileWeb.Resources;
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103117002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103117004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons" class="table table-bordered rowhighlighttbl" width="100%">
    <thead>
        <tr class="sticky-header">

            <th style="display:none;"></th>
            <th width="2%">&nbsp;</th>
            <th width="2%">&nbsp;</th>
            <th width="94%">@Resource.AttributeName</th>
        </tr>
    </thead>
    <tbody id="AttrNameList">

        @{ if (ViewBag.AttributeName != null)
            {
                foreach (System.Data.DataRow dr in ViewBag.AttributeName.Rows)
                {


                    <tr>
                        <td class="red center">
                            @if (DeleteFlag == "Y")
                            {
                                <i class="fa fa-trash deleteAttrName" aria-hidden="true" onclick="return functionConfirm(this)" id="" title="@Resource.Delete"></i>
                            }
                        </td>
                        <td class="center edit_icon">
                            @if (EditFlag == "Y")
                            {
                                <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="@Resource.Edit"></i>
                            }
                        </td>
                        <td style="display:none;" id="hdnAttrId">@dr["attr_id"].ToString()</td>
                        <td id="hdnAttrName">@dr["attr_name"].ToString()</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

