@using EnRepMobileWeb.Resources;
@using System.Data;

@{
    var i = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/BusinessLayer/ProspectSetup/ProspectSetup.js"></script>
<table id="datatable-buttons" class="table table-striped dataTable no-footer width3000 rowhighlighttbl" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-buttons_info" style="width: 100%;">
    <thead>
        <tr class="sticky-header" role="row">
            <th width="1%">@Resource.SrNo</th>
            <th style="display:none;"></th>
            <th width="6%">@Resource.ProspectName</th>
            <th width="12%">@Resource.Customer/@Resource.Supplier</th>
            <th width="6%">@Resource.Branch</th>
            <th style="display:none;"></th>
            <th width="6%">@Resource.ProspectType</th>
            <th width="4%">@Resource.Currency</th>
            <th width="6%">@Resource.GSTNumber</th>
            <th width="6%">@Resource.ContactPerson</th>
            <th width="6%">@Resource.ContactNumber</th>
            <th width="6%">@Resource.City</th>
            <th width="5%">@Resource.Pin</th>
            <th width="6%">@Resource.State</th>
            <th width="6%">@Resource.Country</th>
            <th width="6%">@Resource.CreatedBy</th>
            <th width="6%">@Resource.Createdon</th>
            <th width="6%">@Resource.AmendedBy</th>
            <th width="6%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="ProsListTbl">
        @{
            if (ViewBag.Pros_List != null)
            {
                foreach (DataRow dr in ViewBag.Pros_List.Rows)
                {
                    i = i + 1;
                <tr>
                    <td class="sr_padding">@i</td>
                    <td id="hdnprosid" style="display:none;">@dr["pros_id"].ToString()</td>
                    <td>@dr["pros_name"].ToString()</td>
                    <td>@dr["entity_type"].ToString()</td>
                    <td>@dr["br_name"].ToString()</td>
                    <td id="td_BrId" style="display:none;">@dr["br_id"].ToString()</td>
                    <td>@dr["pros_type"].ToString()</td>
                    <td class="center">@dr["curr_logo"].ToString()</td>
                    <td>@dr["gst_no"].ToString()</td>
                    <td>@dr["cont_person"].ToString()</td>
                    <td>@dr["cont_num"].ToString()</td>
                    <td>@dr["city"].ToString()</td>
                    <td>@dr["pin"].ToString()</td>
                    <td>@dr["state"].ToString()</td>
                    <td>@dr["country"].ToString()</td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["create_dt"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["mod_dt"].ToString()</td>
                </tr>
                }
            }
        }
    </tbody>
</table>

@*@if (TempData["S_ProsList"] != null)*@
@if (Model.S_ProsList != null)
{
    if (Model.S_ProsList == "PS")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}

