@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var i = 0;
}
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103120002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103120004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons1" class="table table-bordered rowhighlighttbl" width="100%">
    <thead>
        <tr class="sticky-header">
            <th class="two_per">&nbsp;</th>
            <th class="two_per">&nbsp;</th>
            <th class="two_per">@Resource.SrNo</th>
            <th hidden="hidden"></th>
            <th width="18%"> @Resource.Currency @Resource.Name </th>
            <th width="18%">@Resource.EffectiveDate</th>
            <th hidden="hidden"></th>
            <th width="18%">@Resource.Rate</th>
            <th width="40%">&nbsp;</th>
        </tr>
    </thead>
    <tbody id="">
        @{
            if (ViewBag.CurrConvList != null)
            {
                foreach (DataRow dr in ViewBag.CurrConvList.Rows)
                {
                    i = i + 1;
                    <tr>
                        <td class="center sorting_1">
                            @if (EditFlag == "Y")
                            {
                                <i type="submit" class="fa fa-edit" onclick="Editcurrdetail(event)" id="edit" aria-hidden="true" name="Command" title="Edit"></i>
                            }
                        </td>
                        <td class="center">
                            @if (DeleteFlag == "Y")
                            {
                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" name="Command" onclick="return functionConfirm(event)"></i>
                            }
                        </td>
                        <td class="sorting_1">@i</td>
                        <td hidden="hidden" id="curr_id">@dr["curr_id"].ToString()</td>
                        <td><span id="currname">@dr["curr_name"].ToString()</span></td>
                        <td id="date">@dr["conv_date"].ToString()</td>
                        <td hidden="hidden" id="convdate">@dr["hdn_convDate"].ToString()</td>
                        <td class="num_right" id="Convrate">@dr["conv_rate"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>