@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var i = 0;
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
@*<script src="~/Content/Scripts/BusinessLayer/TaxTemplate/TaxTemplate.js"></script>*@
<script src="~/Content/Scripts/BusinessLayer/TermAndConditionTemplate/TermAndConditionTemplate.js"></script>
<table id="datatable-buttons" class="table table-striped rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th>@Resource.TemplateName</th>
            <th hidden="hidden">@Resource.TemplateName</th>
            <th width="12%">@Resource.Status</th>
            <th width="12%">@Resource.CreatedBy</th>
            <th width="12%">@Resource.Createdon</th>
            <th width="12%">@Resource.AmendedBy</th>
            <th width="12%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
      
            @if (ViewBag.tamplateList != null)
            {
                foreach (DataRow dr in ViewBag.tamplateList.Rows)
                {
                    i = i + 1;
                <tr>
                    <td class="sr_padding">@i</td>
                    <td id="tmpltId" style="display:none;">@dr["tmplt_id"].ToString()</td>
                    <td>@dr["tmplt_name"].ToString()</td>
                    <td class="center">
                        @if (dr["act_status"].ToString() == "Y")
                        {
                            <i class="fa fa-check text-success " aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        }
                    </td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["create_dt"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["mod_dt"].ToString()</td>
                </tr>
                }
            }       
    </tbody>
</table>





