@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}
<table id="datatable-buttons" class="table table-bordered rowhighlighttbl" width="100%">
    <thead>
        <tr class="sticky-header">
            <th class="two_per">@Resource.SrNo</th>
            <th> @Resource.Currency @Resource.Name </th>
            <th>@Resource.Country</th>
            <th>@Resource.Notation</th>
            <th>@Resource.Symbol</th>
            <th>@Resource.Base</th>
        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.currancysetup != null)
        {
            foreach (System.Data.DataRow dr in ViewBag.currancysetup.Rows)
            {
                i = i + 1;
                <tr role="row" class="odd">
                    <td class="sorting_1">@i</td>
                    <td id="curr_name2">@dr["curr_name"].ToString()</td>
                    <td id="curr_name3">@dr["country_id"].ToString()</td>
                    <td id=" curr_name3">@dr["notation"]</td>
                    <td id="curr_name4">@dr["curr_logo"]</td>
                    <td>
                        <label>
                            @if (dr["bs_curr"].ToString() == "Y")
                            {
                                <input class="js-switch" data-val="true" checked disabled type="checkbox" data-switchery="true">
                            }
                            else
                            {
                                <input class="js-switch" data-val="true" disabled type="checkbox" data-switchery="true">
                            }

                        </label>
                    </td>
                </tr>
            }
        }
        </tbody>
</table>