@model EnRepMobileWeb.MODELS.BusinessLayer.FinancialYearSetup.FinancialYearModel
@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<table id="datatable-buttons" class="table table-striped width1500  rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th>@Resource.FinancialYear</th>
            <th>@Resource.FY @Resource.Status</th>
            <th>@Resource.Book @Resource.Status </th>
            <th width="50%">&nbsp;</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.fy_list != null)
        {
            if (Model.fy_list.Count > 0)
            {
                foreach (var row in Model.fy_list)
                {
                    <tr>
                        <td>@row.sno</td>
                        <td>
                            @row.fy_year
                            <input type="hidden" id="pfy_sdt" value="@row.pfy_sdt" />
                            <input type="hidden" id="pfy_edt" value="@row.pfy_edt" />
                            <input type="hidden" id="nfy_sdt" value="@row.nfy_sdt" />
                            <input type="hidden" id="nfy_edt" value="@row.nfy_edt" />
                        </td>
                        <td>@row.fy_status</td>
                        <td>@row.book_status <input type="hidden" id="bk_close" value="@row.bk_close" /></td>
                        <td>&nbsp;</td>
                    </tr>
                }
            }
        }

    </tbody>
</table>






