@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/BusinessLayer/DocApproval/DocApproval.js"></script>
@*All Session or ViweBag remove by shubham maurya on 07-12-2022 15:56*@
<table id="datatable-buttons" class="table table-striped table-bordered width1200 rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th width="3%">@Resource.SrNo</th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th>@Resource.BranchName</th>
            <th>@Resource.Document</th>
            <th>@Resource.CreatedBy</th>
            <th>@Resource.Createdon</th>
            <th>@Resource.AmendedBy</th>
            <th>@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.DocAppList != null)
            //if (ViewBag.DocAppList != null)
            {
                var i = 0;
                foreach (System.Data.DataRow dr in Model.DocAppList.Rows)
                {
                    i = i + 1;

                <tr role="row" class="even">
                    <td class="sr_padding">@i</td>
                    <td id="hdnbrid" style="display:none;">@dr["br_id"].ToString()</td>
                    <td id="hdndocid" style="display:none;">@dr["doc_id"].ToString()</td>
                    <td>@dr["comp_nm"].ToString()</td>
                    <td>@dr["doc_name_eng"].ToString()</td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["create_dt"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["Mod_dt"].ToString()</td>
                </tr>

                }
            }


        }
    </tbody>
</table>
@if (Model.DASearch != null)
{
    if (Model.DASearch.ToString() == "DA_Search")
    //if (Session["DASearch"].ToString() == "DA_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}
