@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/BusinessLayer/CustomerSetup/CustomerList.js"></script>

<table id="datatable-buttons" class="table table-striped width3000 rowhighlighttbl width4200" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="1%"> @Resource.SrNo</th>
            <th width="3%">@Resource.CustomerID</th>
            <th width="5%">@Resource.CustomerName</th>
            <th width="4%">@Resource.Customer @Resource.Alias</th>
            <th width="3%">@Resource.CustomerType</th>
            <th width="3%"> @Resource.GLReportingGroup</th>
            <th width="3%">@Resource.Category</th>
            <th width="5%">@Resource.Portfolio</th>
            <th width="3%">@Resource.PriceGroup</th>
            <th width="3%">@Resource.SalesRegion</th>
            <th width="4%">@Resource.GSTNumber</th>
            <th width="5%">@Resource.Address</th>
            <th width="4%">@Resource.City</th>
            <th width="3%">@Resource.Pin</th>
            <th width="4%">@Resource.State</th>
            <th width="4%">@Resource.Country</th>
            <th width="5%">@Resource.ContactNumber</th>
            <th width="5%">@Resource.EmailID</th>
            <th width="3%">@Resource.Currency</th>
            <th width="3%">@Resource.Active</th>
            <th width="3%">@Resource.Status</th>
            <th width="3%">@Resource.Hold</th>
            <th hidden="hidden"></th>
            <th hidden="hidden"></th>
            <th width="3%">@Resource.CreatedBy</th>
            <th width="4%">@Resource.Createdon</th>
            <th width="3%">@Resource.ApprovedBy</th>
            <th width="4%">@Resource.ApprovedOn</th>
            <th width="3%">@Resource.AmendedBy</th>
            <th width="4%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.VBCustomerList != null)
        {
            foreach (System.Data.DataRow item in ViewBag.VBCustomerList.Rows)
            {
        <tr onclick="OnClickRowDetail">
            <td>@item["SNo"].ToString()</td>
            <td id="hdncustid1">@item["cust_id"].ToString()<span hidden id="hdn_custaccid">@item["cust_coa"].ToString()</span></td>
            <td>@item["cust_name"].ToString()</td>
            <td>@item["cust_alias"].ToString()</td>

            <td>@item["cust_type"].ToString()</td>
            <td>@item["gl_rpt_des"].ToString()</td>
            <td>@item["setup_val"].ToString()</td>
            <td>@item["cportf"].ToString()</td>
            <td>@item["pricegrp"].ToString()</td>
            <td>@item["region"].ToString()</td>
            <td>@item["cust_gst_no"].ToString()</td>
            @*<td class="">@item["custaddress"].ToString()</td>*@
            <td class="truncate-text" style="width: 350px; padding-right: 30px;"> <span>@item["custaddress"].ToString() </span> </td>

            <td>@item["city_name"].ToString()</td>
            <td>@item["cust_pin"].ToString()</td>
            <td>@item["state_name"].ToString()</td>
            <td>@item["country_name"].ToString()</td>
            <td>@item["cont_num1"].ToString()</td>
            <td>@item["cont_email"].ToString()</td>
            <td>@item["curr_name"].ToString()<span hidden id="hdn_currid">@item["def_curr_id"].ToString()</span></td>

            @if (@item["act_status"].ToString() == "N")
            {
                <td class="center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></td>
            }
            else
            {
                <td class="center"><i class="fa fa-check text-success " aria-hidden="true"></i></td>
            }
            <td id="cust_status">@item["app_status"].ToString()</td>
            @if (@item["on_hold"].ToString() == "N")
            {
                <td class="center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></td>
            }
            else
            {
                <td class="center"><i class="fa fa-check text-success " aria-hidden="true"></i></td>
            }
            <td id="act_status" hidden="hidden">@item["act_status"].ToString()</td>
            <td id="on_hold" hidden="hidden">@item["on_hold"].ToString()</td>
            <td>@item["create_by"].ToString()</td>
            <td>@item["create_dt"].ToString()</td>
            <td>@item["app_by"].ToString()</td>
            <td>@item["app_dt"].ToString()</td>
            <td>@item["mod_by"].ToString()</td>
            <td>@item["mod_dt"].ToString()</td>
        </tr>
            }
        }
    </tbody>
</table>
@if (Model.CSSearch != null)
{
    if (Model.CSSearch == "CS_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}









