@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/BusinessLayer/SupplierSetup/SupplierDetail.js"></script>
<table id="datatable-buttons" class="table table-striped table-bordered rowhighlighttbl">
    <thead>
        <tr class="sticky-header">
            <th width="40">@Resource.ItemName</th>
            <th width="10">@Resource.UOM</th>
            <th width="10">@Resource.DocumentNumber</th>
            <th width="10">@Resource.DocumentDate</th>
            <th width="10">@Resource.Quantity</th>
            <th width="10">@Resource.Price</th>
             <th width="10">@Resource.DiscountPerUnit</th>
            <th width="10">@Resource.NetPrice </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.PurchaseHistory != null)
        {

            foreach (System.Data.DataRow item in ViewBag.PurchaseHistory.Rows)
            {

                <tr>
                    <td>
                        <div id="item_name_" class="col-sm-11">
                            @item["item_name"].ToString()
                        </div>
                        <div class="col-sm-1 i_Icon">
                            <input hidden="hidden" id="Hdn_item_id" value="@item["item_id"].ToString()" />
                            <button type="button" id="" class="calculator" onclick="OnClickIconBtn(event)" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <img src="~/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation" /> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ItemInformation"></i>*@ </button>
                        </div>
                    </td>
                    <td>@item["uom_alias"].ToString()</td>
                    <td>@item["inv_no"].ToString()</td>
                    <td>@item["inv_dt"].ToString()</td>
                    <td class="num_right">@item["inv_qty"].ToString()</td>
                    <td class="num_right">@item["price"].ToString()</td>
                    <td class="num_right">@item["item_disc_val"].ToString()</td>
                    <td class="num_right">@item["Net_Price"].ToString()</td>
                </tr>
            }
        }


    </tbody>
</table>
@if (Model.PurchaseHistorySearch != null)
{
    @*@if (Session["SSearch"].ToString() == "S_Search")*@
    if (Model.PurchaseHistorySearch == "PurchaseSearch")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }
}