@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}
@{
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103150004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons2" class="table table-bordered rowhighlighttbl" width="100%">
    <thead>
        <tr class="sticky-header">
            <th class="two_per">&nbsp;</th>
            <th class="two_per">@Resource.SrNo</th>
            <th hidden="hidden"></th>
            <th width="45%">@Resource.CostCenter</th>
            <th>@Resource.Branch</th>
            <th hidden="hidden"></th>
        </tr>
    </thead>
    <tbody id="">
        @*@if (ViewBag.CostCenterBranch != null)*@
        @if (Model.CostCenterBranch != null)
        {
            foreach (System.Data.DataRow dr in Model.CostCenterBranch.Rows)
            {
                i = i + 1;


<tr role="row" class="odd">

    <td class="center">
        @if (DeleteFlag == "Y")
        {
            <i class="fa fa-trash red" aria-hidden="true" title="@Resource.Delete" onclick="return functionCC_BrancConfirm(event)"></i>
        }
    </td>
                    <td class="sorting_1">@i</td>
                    <td id="hdn_cc_Branch_idval" hidden="hidden">@dr["cc_id"].ToString()</td>
                    <td id="cc_name2">@dr["cc_name"].ToString()</td>
                    <td id="cc_name3">@dr["br_name"].ToString()</td>
                    <td hidden="hidden" id="HdnCC_Branch_val_Id">@dr["br_id"].ToString()</td>
                </tr>
            }
        }
    </tbody>
</table>








