@using EnRepMobileWeb.Resources;

<script src="~/Content/Scripts/BusinessLayer/TaxTemplate/TaxTemplate.js"></script>

<table id="datatable-buttons" class="table table-striped rowhighlighttbl" cellspacing="0" width="100%">
    <thead>
        <tr class="sticky-header">
            <th width="3%"> @Resource.SrNo</th>
            <th hidden="hidden"></th>
            <th>@Resource.TemplateName</th>
            <th>@Resource.Tax @Resource.Type</th>
            <th width="12%">@Resource.Status</th>
            <th width="12%">@Resource.CreatedBy</th>
            <th width="12%">@Resource.Createdon</th>
            <th width="12%">@Resource.AmendedBy</th>
            <th width="12%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody id="">
        @{
            //if (ViewBag.TaxTemplateList != null)
            if (Model.TaxTemplateList != null)
            {
                var i = 0;
                //foreach (System.Data.DataRow dr in ViewBag.TaxTemplateList.Rows)
                    foreach (System.Data.DataRow dr in Model.TaxTemplateList.Rows)
                    {
                        i = i + 1;
                <tr role="row" class="odd">
                    <td class="sorting_1">@i</td>
                    <td hidden="hidden" id="tmpltid">@dr["tmplt_id"].ToString()</td>
                    <td>@dr["tmplt_name"].ToString()</td>
                    <td>@dr["tax_type"].ToString()</td>
                    <td class="center">
                        @if (dr["act_status"].ToString() == "Y")
                        {
                            <i class="fa fa-check text-success " aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        }
                    </td>
                    <td>@dr["create_by"].ToString()</td>
                    <td>@dr["create_dt"].ToString()</td>
                    <td>@dr["mod_by"].ToString()</td>
                    <td>@dr["mod_dt"].ToString()</td>
                </tr>
                }
            }
        }
    </tbody>
</table>





