@using EnRepMobileWeb.Resources;

@{
    var i = 0;
}
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103150002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103150004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons" class="table table-bordered rowhighlighttbl" width="100%">
    <thead>
        <tr class="sticky-header">
            <th class="two_per"> &nbsp;</th>
            <th class="two_per"> &nbsp;</th>
            <th class="two_per">@Resource.SrNo</th>
            <th> @Resource.CostCenterName</th>
            <th hidden="hidden"></th>
        </tr>
    </thead>
    <tbody id="">
        @if (Model.CostCenterno != null)
        //@if (ViewBag.CostCenterno != null)
        {
            foreach (System.Data.DataRow dr in Model.CostCenterno.Rows)
            {
                i = i + 1;


<tr role="row" class="odd">

    <td class="center">
        @if (EditFlag == "Y")
        {
            <i type="submit" class="fa fa-edit" onclick="EditCostCenter(event)" aria-hidden="true" title="@Resource.Edit"></i>

        }
    </td>
    <td class="center">
        @if (DeleteFlag == "Y")
        {
            <i class="fa fa-trash red" aria-hidden="true" title="@Resource.Delete" onclick="return functionConfirm(event)"></i>

        }
    </td>
                    <td class="sorting_1">@i</td>
                    <td id="cc_name1">@dr["cc_name"].ToString()</td>
                    <td hidden="hidden"><input hidden="hidden" id="HdnCC_Id" value="@dr["cc_id"].ToString()" /> </td>


                </tr>
            }
        }
    </tbody>
</table>


