@using EnRepMobileWeb.Resources;
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103117002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103117004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<table id="datatable-buttons1" class="table table-bordered rowhighlighttbl" style="width:100%;">
    <thead>
        <tr class="sticky-header">
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th class="two_per">&nbsp;</th>
            <th class="two_per">&nbsp;</th>
            <th class="fif_per">@Resource.AttributeName</th>
            <th>@Resource.AttributeValue</th>
        </tr>
    </thead>
    <tbody id="">
        @{
            if (ViewBag.AttributeValues != null)
            {
                var i = 0;
                foreach (System.Data.DataRow dr in ViewBag.AttributeValues.Rows)
                {
                    i = i + 01;
                    <tr>

                                <td class="red center">
                                    @if (DeleteFlag == "Y")
                                    {
                                        <i class="fa fa-trash" aria-hidden="true" id="delBtnIcon" onclick="return functionConfirmAV(this)" title="@Resource.Delete"></i>

                                    }
                                </td>
                                <td class="center edit_icon">
                                    @if (EditFlag == "Y")
                                    {
                                        <i class="fa fa-edit editAttrValName" aria-hidden="true" id="editBtnIcon" title="@Resource.Edit"></i>
                                    }
                                </td>
                        <td style="display:none;" id="hdnAttrvalId">@dr["attr_val_id"].ToString()</td>
                        <td style="display:none;" id="hdnAttrid">@dr["attr_id"].ToString()</td>
                        @*<td>@i</td>*@
                        <td id="hdnAttrName">@dr["attr_name"].ToString()</td>
                        <td id="hdnAttrValname">@dr["attr_val_name"].ToString()</td>

                    </tr>
                }
            }
        }
    </tbody>
</table>

