@using EnRepMobileWeb.Resources;
@{
    var i = 0;
}
@{
    var EditFlag = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103110002")
            {
                EditFlag = "Y";
            }
            if (Row["feature_id"].ToString() == "103110004")
            {
                DeleteFlag = "Y";
            }
        }
    }
}
<style>
    #datatable-buttons_filter {
        right: 10%;
    }
</style>
<table id="datatable-buttons1" class="table table-bordered rowhighlighttbl" style="width:100%;">
    <thead>
        <tr class="sticky-header">
            <th class="two_per">&nbsp;</th>
            <th class="two_per">&nbsp;</th>
            <th class="two_per">@Resource.SrNo</th>
            <th width="34%">@Resource.ItemName</th>
            <th hidden="hidden"></th>
            <th width="20%">@Resource.Base @Resource.Unit </th>
            <th hidden="hidden"></th>
            <th width="20%">@Resource.Converted @Resource.Unit</th>
            <th hidden="hidden"></th>
            <th width="20%">@Resource.Conversion @Resource.Rate1</th>
            <th width="20%">@Resource.Show @Resource.Stock</th>

        </tr>
    </thead>
    <tbody id="">
        @if (ViewBag.UomNo != null)
        {
            foreach (System.Data.DataRow dr in ViewBag.ConvrsionDetails.Rows)
            {
                i = i + 1;


        <tr>

            <td class="center sorting_1">
                @if (EditFlag == "Y")
                {
                    if ((dr["Checkdependcy"].ToString() == "notuse"))
                    {
                        <i type="submit" class="fa fa-edit" onclick="EditConversionUOM(event)" aria-hidden="true" title="Edit"></i>
                    }
                    else
                    {
                        <i type="submit" class="fa fa-edit" style="display:none;" onclick="EditConversionUOM(event)" aria-hidden="true" title="Edit"></i>
                    }
                }
            </td>
            <td class="center">
                @if (DeleteFlag == "Y")
                {
                    if ((dr["Checkdependcy"].ToString() == "notuse"))
                    {
                        <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return functionConfirmConversionTable(event)"></i>
                    }
                    else
                    {
                        <div style="display:none">
                            <i class="fa fa-trash red" aria-hidden="true" title="Delete"></i>
                        </div>
                    }
                }
            </td>
            <td>@i</td>
            <td id="Conv_item_name">@dr["item_name"].ToString()</td>
            <td id="Conv_item_id" hidden="hidden">@dr["item_id"].ToString()</td>
            <td id="Conv_uom_name" class="num_right">@dr["uom_name"].ToString()</td>
            <td hidden="hidden" id="ConvUomId">@dr["bs_uom_id"].ToString()</td>
            <td id="Conv_uom" class="num_right">@dr["conv_uom_name"].ToString()</td>
            <td id="Conv_uom_id" hidden="hidden">@dr["conv_uom_id"].ToString()</td>
            <td id="Conv_rate" class="num_right">@dr["conv_rate"].ToString()</td>
            <td id="show_stk" class="center">@dr["show_stk"].ToString()</td>
        </tr>
            }
        }
    </tbody>
</table>