@model EnRepMobileWeb.MODELS.BusinessLayer.ItemDetail.ItemDetailModel
@using EnRepMobileWeb.Resources;
<script src="~/Content/Scripts/BusinessLayer/ItemSetup/ItemList.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<style>


    .hidden {
        display: none;
    }
    .dt-buttons {
        width: 6%;
        left: 19%;
        position: absolute;
    }
</style>

<table id="Item_List" class="table table-striped table-bordered width2800 itmfrz" style="width:100%">
    <thead>
        <tr class="sticky-header">
            <th width="2%">@Resource.SrNo</th>
            <th width="15%">@Resource.ItemName</th>
            <th  hidden="hidden">@Resource.ItemID</th>
            <th width="16%">@Resource.Group</th>
            <th width="4%"><span title="Unit of Measure" to>@Resource.UOM</span></th>
            <th width="5%">@Resource.OEMNo</th>
            @*<th width="5%">@Resource.SampleCode</th>*@
            <th width="6%">@Resource.Alias @Resource.Name</th>
            <th width="4%">@Resource.ReferenceNumber</th>
            <th width="4%">@Resource.CatalogueNumber</th>
            <th width="4%">@Resource.Active</th>
            <th width="4%">@Resource.Image</th>
            <th width="4%">@Resource.Status</th>
            <th width="4%" class="num_right">@Resource.ItemCost</th>
            <th width="4%" class="num_right">@Resource.ItemPrice</th>
            <th width="4%">@Resource.CreatedBy</th>
            <th width="4%">@Resource.Createdon</th>
            <th width="4%">@Resource.ApprovedBy</th>
            <th width="4%">@Resource.ApprovedOn</th>
            <th width="4%">@Resource.AmendedBy</th>
            <th width="4%">@Resource.AmendedOn</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@Html.HiddenFor(model => model.ItemListFilter, new { @id = "ItemListFilter" })
<input type="hidden" value="@ViewBag.listdata" id="ListFilterData" />
@if (Model.ILSearch != null)
{
    //@if (Session["ILSearch"].ToString() == "IL_Search")
    if (Model.ILSearch == "IL_Search")
    {
        @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
        @Scripts.Render("~/Content/Scripts/DatatablesJs")
    }

    @*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
}

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var ItemListFilter = $("#ItemListFilter").val();
        $("#Item_List").DataTable({
            dom: "Blfrtip",
            "pageLength": 50,
            //"processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/BusinessLayer/ItemList/LoadData",
                "data": {
                    ItemListFilter: ItemListFilter
                },
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                { "data": "ItemName", "name": "ItemName", "autoWidth": true },
                { "data": "ItemID", "name": "ItemID", className: "hidden", "autoWidth": true },
                { "data": "Group", "name": "Group", "autoWidth": true },
                { "data": "UOM", "name": "UOM", "autoWidth": true },
                { "data": "OEMNo", "name": "OEMNo", "autoWidth": true },
                { "data": "SampleCode", "name": "SampleCode", "autoWidth": true },
                { "data": "Item_leg_cd", "name": "Item_leg_cd", "autoWidth": true },
                { "data": "Item_cat_no", "name": "Item_cat_no", "autoWidth": true },
                { "data": "Active", "name": "Active", "autoWidth": true, className: "center" },
                { "data": "Image", "name": "Image", "autoWidth": true, className: "center" },
                { "data": "Status", "name": "Status", "autoWidth": true },
                { "data": "ItemCost", "name": "ItemCost", "autoWidth": true, className: "num_right" },
                { "data": "ItemPrice", "name": "ItemPrice", "autoWidth": true, className: "num_right" },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "Createdon", "name": "Createdon", "autoWidth": true },
                { "data": "ApprovedBy", "name": "ApprovedBy", "autoWidth": true },
                { "data": "ApprovedOn", "name": "ApprovedOn", "autoWidth": true },
                { "data": "AmmendedBy", "name": "AmmendedBy", "autoWidth": true },
                { "data": "AmendedOn", "name": "AmendedOn", "autoWidth": true },
            ],
            "columnDefs": StkDtlDataColumnRenders(),
            buttons: [
                {
                    extend: "csv",
                    className: "btn-sm",
                    action: function (e, dt, button, config) {
                        let url = '/BusinessLayer/ItemList/ExportCsv';
                        let CsvName = "ItemDetail" + "_" + moment().format('YYYYMMDDhhmmss')
                        Cmn_importDataToCSV(e, dt, button, config, url, CsvName);

                    }

                }],

        });

        //var exportbtn = `<a class="btn btn-default buttons-csv buttons-html5 btn-sm" id='export' tabindex="0" aria-controls="datatable-buttons" href="#">
        //    <span>CSV</span></a>`;
        //$("#Item_List_length").append(exportbtn);
        //Export();


    });
    function StkDtlDataColumnRenders() {
        var array = [];
        array = [
            {
                'targets': 1,
                'createdCell': function (td, cellData, rowData, row, col) {
                    $(td).attr('class', 'tditemfrz');
                }
            },
            {
                render: (data, type, row) => `<div class="col-sm-11 no-padding"  id="multiWrapper"><span id="ItmNameSpan"> ${data}</span></div>
                        <div class="col-sm-1 i_Icon">
                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                        </div>`,
                targets: 1
            },
            {
                render: (data, type, row) => `<span id="ItmIdSpan">${data}</span>`,
                targets: 2
            },
            {
                render: (data, type, row) => {
                    if (data === "N") {
                        return '<i class="fa fa-times-circle text-danger" aria-hidden="true"></i>';
                    } else {
                        return '<i class="fa fa-check text-success" aria-hidden="true"></i>';
                    }
                },
                targets: 9
            },
            {
                render: (data, type, row) => {
                    if (data === "No") {
                        return '<i class="fa fa-times-circle text-danger" aria-hidden="true"></i>';
                    } else {
                        return '<i class="fa fa-check text-success" aria-hidden="true"></i>';
                    }
                },
                targets: 10
            }
        ];
        return array;
    }

</script>
