@using EnRepMobileWeb.Resources;
@using System.Data;
@*<script src="~/Content/Scripts/BusinessLayer/CustomerSetup/CustomerList.js"></script>*@
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Item @Resource.Portfolio</h2>
        <button type="button" class="close" data-dismiss="modal" onclick="popClose_Brmodal()">&times;</button>
    </div>
    <div class="modal-body ">

        <div class="table-responsive width99">
            <div class="col-md-12 col-sm-12">
                <table class="table table-striped jambo_table bulk_action margin5" id="CustBrDetail">
                    <thead>
                        <tr class="headings">
                            <th width="25%">@Resource.ItemName </th>
                            <th width="25%">@Resource.Portfolio @Resource.Name </th>
                            <th width="25%">@Resource.Portfolio @Resource.Description</th>
                            <th width="25%">@Resource.remarks </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.PortfolioDetail != null)
                        {
                            foreach (var dtr in ViewBag.PortfolioDetail.Rows)
                            {
                                <tr>

                                    <td>@dtr.ItemArray[0]</td>
                                    <td>@dtr.ItemArray[1]</td>
                                    <td>@dtr.ItemArray[2]</td>
                                    <td>@dtr.ItemArray[3]</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="popClose_portodal()">@Resource.Close</button>
    </div>
</div>
