@using EnRepMobileWeb.Resources;
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<title>@Model.Title</title>*@
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <!-- Item Information -->
                <div id="ItemInfo" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                    </div>
                </div>
                <!-- Supplier Information -->
                <div id="SupplierInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="price_item_detail">
                            <!-- Modal content-->
                            @Html.Partial("~/Areas/Common/Views/_SupplierInformation.cshtml")
                        </div>
                    </div>
                </div>
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">

                </div>

                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">

                    <ul>
                        <li>
                            <button class="add" title="Add New" disabled="" type="submit" id="btn_add" name="Command" value="AddNewDeliveryNote" onclick="EnableAddkBtn()"></button>
                        </li>
                        <li>
                            <button class="edit" title="Edit" disabled="" type="submit" id="btn_edit" name="Command" value="Edit" onclick="EnableEditkBtn()"></button>
                        </li>
                        <li>
                            <button class="delete" title="Delete" onclick="return functionConfirm(this)" disabled="" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" title="Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                        </li>

                        <li>
                            <button class="forward" title="Forward" disabled="" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                        </li>
                        <li>
                            <button class="approve" title="Approve" disabled="" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        <li>
                            <button class="workflow" title="Workflow History" type="button" id="btn_workflow" onclick="ForwardHistoryBtnClick();" name="Command" value="Workflow" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false"></button>
                        </li>

                        <li>
                            <button class="refresh" title="Discard" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                        </li>
                        <li>
                            <button class="print" title="Print" disabled="" style="filter:grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back" title="Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <!--<span>Collapsible / Accordion </span>-->
                        <div class="approved_by">
                            <ul>
                                <li><span>@Resource.CreatedBy<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.Createdon<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.ApprovedBy<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.ApprovedOn<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.AmendedBy<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.AmendedOn<br><b>&nbsp;</b></span></li>
                                <li><span>@Resource.Status<br><b>&nbsp;</b></span></li>

                            </ul>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Month </label>
                    <select class="form-control" id="" name="">
                        <option value="">Select</option>
                        <option value="">January</option>
                        <option value="">February</option>
                        <option value="">March</option>
                        <option value="">April</option>
                        <option value="">May</option>
                        <option value="">June</option>
                        <option value="">July</option>
                        <option value="">August</option>
                        <option value="">September</option>
                        <option value="">October</option>
                        <option value="">November</option>
                        <option value="">December</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Year </label>
                    <select class="form-control" id="" name="">
                        <option value="">Select</option>
                        <option value="">2023</option>
                        <option value="">2024</option>
                        <option value="">2025</option>
                        <option value="">2026</option>
                        <option value="">2027</option>
                        <option value="">2028</option>
                        <option value="">2029</option>
                        <option value="">2030</option>
                        <option value="">2031</option>
                        <option value="">2032</option>
                        <option value="">2033</option>
                        <option value="">2034</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12">
                    <labe class="col-form-label label-align" style="float:left;">
                        @Resource.Period
                    </labe>
                    <input class="form-control" id="" name="" readonly="readonly" type="date" value="2023-08-01 - 2023-08-04">
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">@Resource.TCS @Resource.GLAccount </label>
                    <select class="form-control" id="" name="">
                        <option value="">Select</option>
                        <option value="">TDS Payable</option>
                        <option value="">TDS Payable 1</option>
                        <option value="">TDS Payable 2</option>
                        <option value="">TDS Payable 3</option>
                        <option value="">TDS Payable 4</option>
                        <option value="">TDS Payable 5</option>
                        <option value="">TDS Payable 6</option>
                        <option value="">TDS Payable 7</option>
                        <option value="">TDS Payable 8</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Calculate @Resource.On </label>
                    <select class="form-control" id="" name="">
                        <option value="">Select</option>
                        <option value="">Purchase Value</option>
                        <option value="">Payments</option>
                    </select>
                </div>
                <div class="col-md-1 col-sm-12 margin25">
                    <div class="plus_icon1" id="">
                        <i class="fa fa-plus" onclick="" title=""></i>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="card-box table-responsive dy_table">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="tableFixHead height60VH">
                                        @*<h2>@Resource.ItemDetail</h2>*@
                                        <div id="">
                                            <table id="" class="table table-bordered width1900 itmfrz">
                                                <thead>
                                                    <tr class="headings">
                                                        <th width="2%"> &nbsp;</th>
                                                        <th width="3%">&nbsp;</th>
                                                        <th width="16%" class="itmStick">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="18%" colspan="2">@Resource.Value</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="7%">&nbsp;</th>
                                                        <th width="6%">&nbsp;</th>
                                                        <th width="6%">&nbsp;</th>
                                                    </tr>
                                                    <tr class="headings">
                                                        <th width="2%"> &nbsp;</th>
                                                        <th width="3%">@Resource.SrNo</th>
                                                        <th width="16%" class="itmStick">@Resource.Customer @Resource.Name</th>
                                                        <th width="7%">@Resource.Country</th>
                                                        <th width="7%">@Resource.State</th>
                                                        <th width="7%">@Resource.PANNumber</th>
                                                        <th width="7%">@Resource.GSTNumber</th>
                                                        <th width="9%">01-04-2023 to 30-04-2023</th>
                                                        <th width="9%">01-04-2023 to 30-04-2023</th>
                                                        <th width="7%">@Resource.Total<br />@Resource.Value</th>
                                                        <th width="7%">@Resource.TCS<br />@Resource.Amount1</th>
                                                        <th width="7%">@Resource.TCS<br />@Resource.Payable</th>
                                                        <th width="6%">@Resource.GenerateDebitNote</th>
                                                        <th width="6%">@Resource.DebitNoteNumber</th>
                                                    </tr>

                                                </thead>
                                                <tbody id="">
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>01</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>02</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>03</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>04</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>05</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="red center sorting_1"> <i class="fa fa-trash" aria-hidden="true" title="Delete"></i></td>
                                                        <td>06</td>
                                                        <td class="ItmNameBreak itmStick tditemfrz">AB Supplier Test</td>
                                                        <td>India</td>
                                                        <td>Gujarat</td>
                                                        <td>NKPJK9865K</td>
                                                        <td>22AAAAA0000A1Z5</td>
                                                        <td class="num_right">2000000</td>
                                                        <td class="num_right">3000000</td>
                                                        <td class="num_right">50000000</td>
                                                        <td class="num_right">0.1</td>
                                                        <td class="num_right">1200</td>
                                                        <td>
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="" id="">
                                                                <label class="custom-control-label" disabled="" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </td>
                                                        <td>DB/10012/0129</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>