@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.StockDetail.StockDetail_Model

@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<div class="row">
    <!-- Production Detail -->
    <div id="ProductionDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:1200px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialProductionDetail.cshtml")

        </div>
    </div>
    <!-- QC Detail -->
    <div id="QCDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:650px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/Cmn_ReasonRemarks.cshtml")
            @*@Html.Partial("~/Areas/Common/Views/PartialQCDetail.cshtml")*@

        </div>
    </div>
    <!-- Costing Detail -->
    <div id="CostingDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialCostingDetail.cshtml")
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align"> @Resource.FY </label>
                                    <select class="form-control" id="ddl_financial_year" name="ddl_financial_year" onchange="ddl_financial_year_onchange()">
                                        <option value="0">---Select---</option>
                                        <option value="2022-04-01,2023-03-31">01-04-2022 to 31-03-2023</option>
                                        <option value="2021-04-01,2022-03-31">01-04-2021 to 31-03-2022</option>
                                        <option value="2020-04-01,2021-03-31">01-04-2020 to 31-03-2021</option>
                                        <option value="2019-04-01,2020-03-31">01-04-2019 to 31-03-2020</option>
                                    </select><span class="field-validation-valid" data-valmsg-for="ddl_financial_year" data-valmsg-replace="true" id="vm_ddl_financial_year" style="color:red;!important"></span><input id="hdn_ddl_financial_year" name="ddl_financial_year" type="hidden" value="">
                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Period</label>

                                    <select class="form-control" id="ddl_period" name="ddl_period" onchange="ddl_period_onchange()">
                                        <option value="0">---Select---</option>
                                        <option value="0">Period</option>
                                        <option value="0">Period 1</option>
                                    </select><span class="field-validation-valid" data-valmsg-for="ddl_period" data-valmsg-replace="true" id="vm_ddl_period" style="color:red;!important"></span><input id="hdn_ddl_period" name="ddl_period" type="hidden" value="">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align col-md-12 col-sm-12 no-padding">@Resource.DateRange </label>
                                    <div class="col-md-6 col-sm-12 no-padding">

                                        <input autocomplete="off" class="form-control" id="txtFromDate" name="txtFromDate" placeholder="" type="date" value="">
                                        <span class="field-validation-valid" data-valmsg-for="txtFromDate" data-valmsg-replace="true" id="vm_txtFromDate" style="color:red;!important"></span>
                                    </div>
                                    <div class="col-md-1 col-sm-12 no-padding" style="text-align:center;"> -</div>
                                    <div class="col-md-5 col-sm-12 no-padding">

                                        <input autocomplete="off" class="form-control" id="txtToDate" name="txtToDate" placeholder="" type="date" value="">
                                        <span class="field-validation-valid" data-valmsg-for="txtToDate" data-valmsg-replace="true" id="vm_txtToDate" style="color:red;!important"></span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <table id="datatable-buttons" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr class="sticky-header">
                                    <th width="3%">@Resource.SrNo</th>
                                    <th>@Resource.Product <br /> @Resource.Name</th>
                                    <th width="8%">@Resource.UOM</th>
                                    <th>@Resource.Forecast  <br /> @Resource.Quantity</th>
                                    <th>@Resource.Planned <br /> @Resource.Quantity</th>
                                    <th>@Resource.Produced <br /> @Resource.Quantity</th>
                                    <th>@Resource.QC <br /> @Resource.Accepted</th>
                                    <th>@Resource.Average <br /> @Resource.Cost</th>
                                </tr>
                            </thead>
                            <tbody id="">
                                <tr>
                                    <td>01</td>
                                    <td>ITEM1</td>
                                    <td>PCS</td>
                                    <td class="num_right">350</td>
                                    <td class="num_right">450</td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 300 </span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#ProductionDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ProductionDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductionDetail">*@</i> </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 290</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#QCDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 4350</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#CostingDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>ITEM1</td>
                                    <td>PCS</td>
                                    <td class="num_right">350</td>
                                    <td class="num_right">450</td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 300 </span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#ProductionDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ProductionDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductionDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 290</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#QCDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 4350</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#CostingDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>ITEM1</td>
                                    <td>PCS</td>
                                    <td class="num_right">350</td>
                                    <td class="num_right">450</td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 300 </span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#ProductionDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ProductionDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductionDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 290</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#QCDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 4350</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#CostingDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>ITEM1</td>
                                    <td>PCS</td>
                                    <td class="num_right">350</td>
                                    <td class="num_right">450</td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 300 </span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#ProductionDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ProductionDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductionDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 290</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#QCDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 4350</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#CostingDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>ITEM1</td>
                                    <td>PCS</td>
                                    <td class="num_right">350</td>
                                    <td class="num_right">450</td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 300 </span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#ProductionDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ProductionDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.ProductionDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 290</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#QCDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.QCDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.QCDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-10 num_right" style="padding:0px;" id=""><span id=""> 4350</span></div>
                                        <div class="col-sm-2 i_Icon">
                                            <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#CostingDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.CostingDetail"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.CostingDetail"></i>*@ </button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
