@using EnRepMobileWeb.Resources;
@using System.Data
@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<title>@Model.Title</title>*@
<div class="row">
    <div id="SaleHistory" class="modal fade show" aria-modal="true" role="dialog">
        <div class="modal-dialog ui-draggable ui-draggable-handle" style="min-width:800px;">
            <!-- Modal content-->
            <div class="modal-content" id="tbody_ItemHistory">
                <div class="modal-content" id="tbody_ItemHistory">
                    <div class="modal-header">
                        <h2> @Resource.Order @Resource.History</h2>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body pop_top">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Item @Resource.Name</label>
                                <input id="HistoryItemName" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="Item Name" onblur="this.placeholder = 'Item Name'" disabled="">
                                <input type="hidden" id="hfHistoryItemID" value="ITM0002315">
                                <input type="hidden" id="hfHistoryItemName" value="1021">
                            </div>

                            <div class="col-md-55 ">
                                <label class="col-form-label label-align">@Resource.UOM</label>
                                <input id="HistoryUOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="UOM" onblur="this.placeholder = 'UOM'" disabled="">
                                <input type="hidden" id="hfHistoryUOM" value="Pcs">
                            </div>
                            <div class="col-md-55 ">
                                <label class="col-form-label label-align">
                                    @Resource.FromDate
                                </label>

                                <input type="date" class="form-control" id="HistoryFrom_date" name="HistoryFrom_date">

                            </div>
                            <div class="col-md-55 ">
                                <label class="col-form-label label-align">
                                    @Resource.ToDate
                                </label>

                                <input type="date" class="form-control" id="HistoryTo_date" value="2025-07-21" name="HistoryTo_date">

                            </div>
                            <div class="col-md-1 col-sm-12" style="max-width:6%;">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickHistorySearchBtn();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="card-box table-responsive dy_table">
                            <div id="LSOListTbody" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                                <table id="datatable-buttons9" data-order="" class="table table-striped table-bordered rowhighlighttbl itmfrz" style="width:100%">
                                    <thead>
                                        <tr class="sticky-header">
                                            <th width="40%" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Supplier  Name: activate to sort column ascending" style="width: 245.2px;">Supplier <br> Name</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Order  Number: activate to sort column ascending" style="width: 117.2px;">Order <br> Number</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 68.2px;">Date</th>
                                            <th style="display: none; width: 0px;" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Quantity: activate to sort column ascending" style="width: 69.2px;">Quantity</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-buttons9" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 64px;">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td width="40%">	AB Supplier Test</td>
                                            <td width="15%">B1/07/25/DPO0000018</td>
                                            <td width="15%">16-07-2025</td>
                                            <td style="display:none;">16-07-2025</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">100.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">	AB Supplier Test</td>
                                            <td width="15%">B1/06/25/DPO0000015</td>
                                            <td width="15%">17-06-2025</td>
                                            <td style="display:none;">17-06-2025</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">185.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">SUPP 12 APR 1248</td>
                                            <td width="15%">B1/05/25/DPO0000008</td>
                                            <td width="15%">12-05-2025</td>
                                            <td style="display:none;">12-05-2025</td>
                                            <td width="15%" class="num_right">1000.00</td>
                                            <td width="15%" class="num_right">12.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/05/25/DPO0000005</td>
                                            <td width="15%">03-05-2025</td>
                                            <td style="display:none;">03-05-2025</td>
                                            <td width="15%" class="num_right">12.00</td>
                                            <td width="15%" class="num_right">11.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/03/25/DPO0000001</td>
                                            <td width="15%">21-03-2025</td>
                                            <td style="display:none;">21-03-2025</td>
                                            <td width="15%" class="num_right">5000.00</td>
                                            <td width="15%" class="num_right">1000.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">A.ASWIN1</td>
                                            <td width="15%">B1/02/25/IPO0000003</td>
                                            <td width="15%">06-02-2025</td>
                                            <td style="display:none;">06-02-2025</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">2000.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/12/24/DPO0000001</td>
                                            <td width="15%">02-12-2024</td>
                                            <td style="display:none;">02-12-2024</td>
                                            <td width="15%" class="num_right">12.00</td>
                                            <td width="15%" class="num_right">11.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/11/24/DPO0000002</td>
                                            <td width="15%">12-11-2024</td>
                                            <td style="display:none;">12-11-2024</td>
                                            <td width="15%" class="num_right">500.00</td>
                                            <td width="15%" class="num_right">20.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/09/24/DPO0000001</td>
                                            <td width="15%">05-09-2024</td>
                                            <td style="display:none;">05-09-2024</td>
                                            <td width="15%" class="num_right">13.00</td>
                                            <td width="15%" class="num_right">12.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/08/24/DPO0000001</td>
                                            <td width="15%">28-08-2024</td>
                                            <td style="display:none;">28-08-2024</td>
                                            <td width="15%" class="num_right">8.00</td>
                                            <td width="15%" class="num_right">300.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/07/24/DPO0000012</td>
                                            <td width="15%">29-07-2024</td>
                                            <td style="display:none;">29-07-2024</td>
                                            <td width="15%" class="num_right">120.00</td>
                                            <td width="15%" class="num_right">11.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/07/24/DPO0000011</td>
                                            <td width="15%">29-07-2024</td>
                                            <td style="display:none;">29-07-2024</td>
                                            <td width="15%" class="num_right">12.00</td>
                                            <td width="15%" class="num_right">11.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/07/24/DPO0000002</td>
                                            <td width="15%">08-07-2024</td>
                                            <td style="display:none;">08-07-2024</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">500.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/05/24/DPO0000006</td>
                                            <td width="15%">21-05-2024</td>
                                            <td style="display:none;">21-05-2024</td>
                                            <td width="15%" class="num_right">20.00</td>
                                            <td width="15%" class="num_right">22.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">0000004092023</td>
                                            <td width="15%">B1/04/24/DPO0000005</td>
                                            <td width="15%">22-04-2024</td>
                                            <td style="display:none;">22-04-2024</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">100.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/04/24/DPO0000004</td>
                                            <td width="15%">20-04-2024</td>
                                            <td style="display:none;">20-04-2024</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">1000.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/04/24/DPO0000003</td>
                                            <td width="15%">20-04-2024</td>
                                            <td style="display:none;">20-04-2024</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">1000.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/03/24/DPO0000003</td>
                                            <td width="15%">13-03-2024</td>
                                            <td style="display:none;">13-03-2024</td>
                                            <td width="15%" class="num_right">3.00</td>
                                            <td width="15%" class="num_right">800.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/03/24/DPO0000001</td>
                                            <td width="15%">01-03-2024</td>
                                            <td style="display:none;">01-03-2024</td>
                                            <td width="15%" class="num_right">100.00</td>
                                            <td width="15%" class="num_right">12.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/02/24/DPO0000009</td>
                                            <td width="15%">19-02-2024</td>
                                            <td style="display:none;">19-02-2024</td>
                                            <td width="15%" class="num_right">99.00</td>
                                            <td width="15%" class="num_right">100.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/02/24/DPO0000007</td>
                                            <td width="15%">13-02-2024</td>
                                            <td style="display:none;">13-02-2024</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">100.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/02/24/DPO0000005</td>
                                            <td width="15%">08-02-2024</td>
                                            <td style="display:none;">08-02-2024</td>
                                            <td width="15%" class="num_right">6.00</td>
                                            <td width="15%" class="num_right">400.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">	AB Supplier Test</td>
                                            <td width="15%">B1/02/24/DPO0000003</td>
                                            <td width="15%">07-02-2024</td>
                                            <td style="display:none;">07-02-2024</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">122.00</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td width="40%">Apex India Pvt. Ltd.</td>
                                            <td width="15%">B1/02/24/DPO0000001</td>
                                            <td width="15%">03-02-2024</td>
                                            <td style="display:none;">03-02-2024</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">1500.00</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td width="40%">	AB Supplier Test</td>
                                            <td width="15%">B1/01/24/DPO0000013</td>
                                            <td width="15%">23-01-2024</td>
                                            <td style="display:none;">23-01-2024</td>
                                            <td width="15%" class="num_right">10.00</td>
                                            <td width="15%" class="num_right">1549.00</td>
                                        </tr>
                                    </tbody>
                                </table><div class="dataTables_info" id="datatable-buttons9_info" role="status" aria-live="polite">Showing 1 to 25 of 94 entries</div><div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons9_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="datatable-buttons9_previous"><a href="#" aria-controls="datatable-buttons9" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="datatable-buttons9" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="datatable-buttons9" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="datatable-buttons9" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="datatable-buttons9" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button next" id="datatable-buttons9_next"><a href="#" aria-controls="datatable-buttons9" data-dt-idx="5" tabindex="0">Next</a></li></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ItemInfo" class="modal fade show" role="dialog" aria-modal="true">
        <div class="modal-dialog ui-draggable ui-draggable-handle">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2><span id="SpanItemDescription">1021</span></h2>
                    <button type="button" class="close" data-dismiss="modal" id="btnCrossItemInfo">×</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="ItemDetailsTbl">
                        <thead>
                            <tr>
                                <th width="15%">OEM No.</th>
                                <td width="35%">
                                    <input id="Txt_ItmOEMNo" class="form-control" autocomplete="off" type="text" name="Txt_ItmOEMNo" placeholder="OEM No." onblur="this.placeholder='OEM No.'" disabled="">
                                </td>
                                <th width="15%">Alias Name</th>
                                <td width="35%">
                                    <input id="Txt_ItmSampCode" class="form-control" autocomplete="off" type="text" name="Txt_ItmSampCode" placeholder="Sample Code" onblur="this.placeholder='Sample Code'" disabled="">
                                </td>
                            </tr>
                            <tr>
                                <th width="15%">Ref. No.</th>
                                <td width="35%">
                                    <input id="Txt_ItmRefNo" class="form-control" autocomplete="off" type="text" name="Txt_ItmRefNo" placeholder="Ref No." onblur="this.placeholder='Ref No.'" disabled="">
                                </td>
                                <th width="15%">HSN/SAC Code  </th>
                                <td width="35%">
                                    <input id="Txt_ItmHSNCode" class="form-control" autocomplete="off" type="text" name="Txt_ItmHSNCode" placeholder="HSN Code" onblur="this.placeholder='HSN Code'" disabled="">
                                </td>
                            </tr>
                            <tr>
                                <th width="15%">Technical <br> Description</th>
                                <td width="35%">
                                    <textarea id="TechnicalDescription" class="form-control remarksmessage" autocomplete="off" type="text" name="TechnicalDescription" maxlength="500" placeholder="Technical Description" disabled="" onmouseover="OnMouseOver(this)" title="STARTER DRIVE"></textarea>
                                </td>
                                <th width="15%">Technical <br> Specification  </th>
                                <td width="35%">
                                    <textarea id="TechnicalSpecification" class="form-control remarksmessage" autocomplete="off" type="text" name="TechnicalSpecification" maxlength="500" placeholder="Technical Specification" disabled="" onmouseover="OnMouseOver(this)"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="no-padding">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <th width="15%">Weight In Kg</th>
                                                <td><input id="WeightInKgItem" class="form-control num_right" autocomplete="off" type="text" name="WeightInKg" placeholder="0000.00" disabled=""></td>
                                                <th>Net Weight</th>
                                                <td><input id="NetWeightItem" class="form-control num_right" autocomplete="off" type="text" name="NetWeight" placeholder="0000.00" disabled=""></td>
                                                <th>Gross Weight</th>
                                                <td><input id="GrossWeightItem" class="form-control num_right" autocomplete="off" type="text" name="GrossWeight" placeholder="0000.00" disabled=""></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 30px;" id="DivMyCarousel">
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btnCloseItemInfo">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div id="WorkflowInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width:700px;">
                        <div class="price_item_detail">
                            <!-- Modal content-->
                            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                        </div>
                    </div>
                </div>
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-2 col-sm-12 work_flow">
                    @*@if (ViewBag.AppLevel.Rows.Count > 0)
                        {*@
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                    <ul>
                        <li>
                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                        </li>
                        <li>
                            <button class="edit" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save" title="@Resource.Save" type="submit" onclick="return CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                        </li>
                        <li>
                            <button class="forward" title="@Resource.Forward" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                        </li>
                        <li>
                            <button class="approve" title="@Resource.Approve" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                        </li>
                        <li>
                            <button class="workflow" title="@Resource.Workflow" type="submit" id="btn_workflow" name="Command" value="Workflow"></button>
                        </li>
                        <li>
                            <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                        </li>
                        <li>
                            <button class="print" title="@Resource.Print" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="email_tool" title="@Resource.Email" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>
                        </li>
                        <li>
                            <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <!--<span>Collapsible / Accordion </span>-->
                        <div class="approved_by">
                            <ul>
                                <li><span>@Resource.CreatedBy<br><b>Suraj</b></span></li>
                                <li><span>@Resource.Createdon<br><b>08-07-2025 17:36</b></span></li>
                                <li><span>@Resource.ApprovedBy<br><b>Admin</b></span></li>
                                <li><span>@Resource.ApprovedOn<br><b>08-07-2025 17:40</b></span></li>
                                <li><span>@Resource.AmendedBy<br><b>Suraj</b></span></li>
                                <li><span>@Resource.AmendedOn<br><b>08-07-2025 17:42</b></span></li>
                                <li><span>@Resource.Status<br><b> Cancelled</b></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@Resource.Addition @Resource.Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                            @*<form class="accordian_form_bg" action="" method="post" novalidate>*@
                            <div class="panel-body">
                                <div class="col-md-12 col-sm-12 pl-0  " id="">
                                    <div class="custom-control custom-switch  float-right">
                                        <input class="custom-control-input col-md-3 col-sm-12 margin-switch" data-val="true" data-val-required="" id="Cancel_PQ" name="Cancelled" type="checkbox" value="true">
                                        <label class="custom-control-label col-md-9 col-sm-12" for="" style="padding: 3px 0px;">@Resource.Cancelled</label>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Document @Resource.Number</label>
                                    <input class="form-control" disabled="disabled" id="DocumentNumber" maxlength="20" name="DocumentNumber" placeholder="@Resource.DocumentNumber" type="text" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Document @Resource.Date</label>
                                    <input class="form-control" disabled="disabled" id="DocumentDate" maxlength="20" name="DocumentDate" placeholder="@Resource.Document @Resource.Date" type="date" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Asset  @Resource.Description</label>
                                    <select class="form-control" id="AssetDescription" name="AssetDescription">
                                        <option selected="selected" value="">Asset Description</option>
                                        <option value="">Asset Description 1</option>
                                        <option value="">Asset Description 2</option>
                                        <option value="">Asset Description 3</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align"> @Resource.Current @Resource.Value </label>
                                    <input class="form-control num_right" disabled="disabled" id="CurrentValue" maxlength="20" name="CurrentValue" placeholder="0000.00" type="text" value="">
                                </div>

                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Addition @Resource.Date</label>
                                    <input class="form-control" id="AdditionDate" maxlength="20" name="AdditionDate" placeholder="@Resource.Addition @Resource.Date" type="date" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Source</label>
                                    <select class="form-control" id="Source" name="Source">
                                        <option selected="selected" value="">Purchase Bill</option>
                                        <option value="">Direct</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Bill   @Resource.Number</label>
                                    <select class="form-control" id="BillNumber" name="BillNumber">
                                        <option selected="selected" value="">Bill Number</option>
                                        <option value="">Bill Number 1</option>
                                        <option value="">Bill Number 2</option>
                                        <option value="">Bill Number 3</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Bill @Resource.Date</label>
                                    <input class="form-control" disabled="disabled" id="BillDate" maxlength="20" name="BillDate" placeholder="@Resource.Bill @Resource.Date" type="date" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Supplier  @Resource.Name</label>
                                    <input class="form-control" disabled="disabled" id="SupplierName" maxlength="20" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name" type="text" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align"> @Resource.Addition  @Resource.Amount </label>
                                    <input class="form-control num_right" disabled="disabled" id="AdditionAmount" maxlength="20" name="AdditionAmount" placeholder="0000.00" type="text" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align"> @Resource.Revised   @Resource.Value </label>
                                    <input class="form-control num_right" disabled="disabled" id="RevisedValue" maxlength="20" name="RevisedValue" placeholder="0000.00" type="text" value="">
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0" id="">
                                    <label class="col-form-label label-align">@Resource.remarks</label>
                                    <textarea id="remarks" value="" class="form-control remarksmessage" name="remarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.remarks" title=" This is a remark."> @Resource.remarks</textarea>
                                </div>

                            </div>
                            <div class="card-box table-responsive dy_table">
                                <div class="price_item_detail">
                                    <div class=" col-sm-12">
                                        <div class="tableFixHead">
                                            @*<h2>@Resource.Quotation @Resource.Detail</h2>*@
                                            <table id="" class="table table-bordered width2300 mt-3">
                                                <thead>
                                                    <tr class="headings">
                                                        <th width="3%">@Resource.SrNo</th>
                                                        <th width="9%">@Resource.Document @Resource.Number</th>
                                                        <th width="6%">@Resource.Document  @Resource.Date</th>
                                                        <th width="6%">@Resource.Addition  @Resource.Date</th>
                                                        <th width="12%">@Resource.Asset  @Resource.Description</th>
                                                        <th width="6%">@Resource.Current @Resource.Value</th>
                                                        <th width="8%">@Resource.Source</th>
                                                        <th width="8%">@Resource.Bill   @Resource.Number</th>
                                                        <th width="6%">@Resource.Bill @Resource.Date </th>
                                                        <th width="12%">@Resource.Supplier  @Resource.Name</th>
                                                        <th width="6%">@Resource.Addition @Resource.Amount</th>
                                                        <th width="6%">@Resource.Revised  @Resource.Value</th>
                                                        <th width="12%">@Resource.remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="01"></td>
                                                        <td><input id="DocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.Document @Resource.Number"></td>
                                                        <td><input id="DocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.Document  @Resource.Date"></td>
                                                        <td><input id="AdditionDate" class="form-control" autocomplete="off" type="date" name="AdditionDate" placeholder="@Resource.Addition  @Resource.Date"></td>
                                                        <td><textarea id="AssetDescription" value="" class="form-control remarksmessage" name="AssetDescription" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.Asset  @Resource.Description" title=""> Asset Description</textarea></td>
                                                        <td><input id="CurrentValue" class="form-control num_right" autocomplete="off" type="text" name="CurrentValue" placeholder="0000.00"></td>
                                                        <td><input id="Source" class="form-control" autocomplete="off" type="text" name="Source" placeholder="@Resource.Source"></td>
                                                        <td><input id="BillNumber" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.Bill @Resource.Number"></td>
                                                        <td><input id="BilltDate" class="form-control" autocomplete="off" type="date" name="BillDate" placeholder="@Resource.Bill  @Resource.Date"></td>
                                                        <td><input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name"></td>
                                                        <td><input id="AdditionAmount" class="form-control num_right" autocomplete="off" type="text" name="AdditionAmount" placeholder="0000.00"></td>
                                                        <td><input id="RevisedValue" class="form-control num_right" autocomplete="off" type="text" name="RevisedValue" placeholder="0000.00"></td>
                                                        <td>
                                                            <textarea id="txtItemRemarks" value="" class="form-control remarksmessage" name="txtItemRemarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="Remarks" title=""> This is a remark.</textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="02"></td>
                                                        <td><input id="DocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.Document @Resource.Number"></td>
                                                        <td><input id="DocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.Document  @Resource.Date"></td>
                                                        <td><input id="AdditionDate" class="form-control" autocomplete="off" type="date" name="AdditionDate" placeholder="@Resource.Addition  @Resource.Date"></td>
                                                        <td><textarea id="AssetDescription" value="" class="form-control remarksmessage" name="AssetDescription" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.Asset  @Resource.Description" title=""> Asset Description</textarea></td>
                                                        <td><input id="CurrentValue" class="form-control num_right" autocomplete="off" type="text" name="CurrentValue" placeholder="0000.00"></td>
                                                        <td><input id="Source" class="form-control" autocomplete="off" type="text" name="Source" placeholder="@Resource.Source"></td>
                                                        <td><input id="BillNumber" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.Bill @Resource.Number"></td>
                                                        <td><input id="BilltDate" class="form-control" autocomplete="off" type="date" name="BillDate" placeholder="@Resource.Bill  @Resource.Date"></td>
                                                        <td><input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name"></td>
                                                        <td><input id="AdditionAmount" class="form-control num_right" autocomplete="off" type="text" name="AdditionAmount" placeholder="0000.00"></td>
                                                        <td><input id="RevisedValue" class="form-control num_right" autocomplete="off" type="text" name="RevisedValue" placeholder="0000.00"></td>
                                                        <td>
                                                            <textarea id="txtItemRemarks" value="" class="form-control remarksmessage" name="txtItemRemarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="Remarks" title=""> This is a remark.</textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="03"></td>
                                                        <td><input id="DocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.Document @Resource.Number"></td>
                                                        <td><input id="DocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.Document  @Resource.Date"></td>
                                                        <td><input id="AdditionDate" class="form-control" autocomplete="off" type="date" name="AdditionDate" placeholder="@Resource.Addition  @Resource.Date"></td>
                                                        <td><textarea id="AssetDescription" value="" class="form-control remarksmessage" name="AssetDescription" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.Asset  @Resource.Description" title=""> Asset Description</textarea></td>
                                                        <td><input id="CurrentValue" class="form-control num_right" autocomplete="off" type="text" name="CurrentValue" placeholder="0000.00"></td>
                                                        <td><input id="Source" class="form-control" autocomplete="off" type="text" name="Source" placeholder="@Resource.Source"></td>
                                                        <td><input id="BillNumber" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.Bill @Resource.Number"></td>
                                                        <td><input id="BilltDate" class="form-control" autocomplete="off" type="date" name="BillDate" placeholder="@Resource.Bill  @Resource.Date"></td>
                                                        <td><input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name"></td>
                                                        <td><input id="AdditionAmount" class="form-control num_right" autocomplete="off" type="text" name="AdditionAmount" placeholder="0000.00"></td>
                                                        <td><input id="RevisedValue" class="form-control num_right" autocomplete="off" type="text" name="RevisedValue" placeholder="0000.00"></td>
                                                        <td>
                                                            <textarea id="txtItemRemarks" value="" class="form-control remarksmessage" name="txtItemRemarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="Remarks" title=""> This is a remark.</textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="04"></td>
                                                        <td><input id="DocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.Document @Resource.Number"></td>
                                                        <td><input id="DocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.Document  @Resource.Date"></td>
                                                        <td><input id="AdditionDate" class="form-control" autocomplete="off" type="date" name="AdditionDate" placeholder="@Resource.Addition  @Resource.Date"></td>
                                                        <td><textarea id="AssetDescription" value="" class="form-control remarksmessage" name="AssetDescription" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.Asset  @Resource.Description" title=""> Asset Description</textarea></td>
                                                        <td><input id="CurrentValue" class="form-control num_right" autocomplete="off" type="text" name="CurrentValue" placeholder="0000.00"></td>
                                                        <td><input id="Source" class="form-control" autocomplete="off" type="text" name="Source" placeholder="@Resource.Source"></td>
                                                        <td><input id="BillNumber" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.Bill @Resource.Number"></td>
                                                        <td><input id="BilltDate" class="form-control" autocomplete="off" type="date" name="BillDate" placeholder="@Resource.Bill  @Resource.Date"></td>
                                                        <td><input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name"></td>
                                                        <td><input id="AdditionAmount" class="form-control num_right" autocomplete="off" type="text" name="AdditionAmount" placeholder="0000.00"></td>
                                                        <td><input id="RevisedValue" class="form-control num_right" autocomplete="off" type="text" name="RevisedValue" placeholder="0000.00"></td>
                                                        <td>
                                                            <textarea id="txtItemRemarks" value="" class="form-control remarksmessage" name="txtItemRemarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="Remarks" title=""> This is a remark.</textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input id="SrNo" class="form-control" autocomplete="off" type="text" name="SrNo" placeholder="05"></td>
                                                        <td><input id="DocumentNumber" class="form-control" autocomplete="off" type="text" name="DocumentNumber" placeholder="@Resource.Document @Resource.Number"></td>
                                                        <td><input id="DocumentDate" class="form-control" autocomplete="off" type="date" name="DocumentDate" placeholder="@Resource.Document  @Resource.Date"></td>
                                                        <td><input id="AdditionDate" class="form-control" autocomplete="off" type="date" name="AdditionDate" placeholder="@Resource.Addition  @Resource.Date"></td>
                                                        <td><textarea id="AssetDescription" value="" class="form-control remarksmessage" name="AssetDescription" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="@Resource.Asset  @Resource.Description" title=""> Asset Description</textarea></td>
                                                        <td><input id="CurrentValue" class="form-control num_right" autocomplete="off" type="text" name="CurrentValue" placeholder="0000.00"></td>
                                                        <td><input id="Source" class="form-control" autocomplete="off" type="text" name="Source" placeholder="@Resource.Source"></td>
                                                        <td><input id="BillNumber" class="form-control" autocomplete="off" type="text" name="BillNumber" placeholder="@Resource.Bill @Resource.Number"></td>
                                                        <td><input id="BilltDate" class="form-control" autocomplete="off" type="date" name="BillDate" placeholder="@Resource.Bill  @Resource.Date"></td>
                                                        <td><input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.Supplier  @Resource.Name"></td>
                                                        <td><input id="AdditionAmount" class="form-control num_right" autocomplete="off" type="text" name="AdditionAmount" placeholder="0000.00"></td>
                                                        <td><input id="RevisedValue" class="form-control num_right" autocomplete="off" type="text" name="RevisedValue" placeholder="0000.00"></td>
                                                        <td>
                                                            <textarea id="txtItemRemarks" value="" class="form-control remarksmessage" name="txtItemRemarks" maxlength="200" onmouseover="OnMouseOver(this)" placeholder="Remarks" title=""> This is a remark.</textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </section>                   
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Attachment<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse hide" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <div id="PartialImageBind">
                                    <script src="/Content/Scripts/Common/CommonJS1.js"></script>
                                    <table id="hdn_attatchment_list" style="display:none;">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group" id="FilesUpload">
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>