@model EnRepMobileWeb.MODELS.BusinessLayer.SupplierDetail.SupplierDetail
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/BusinessLayer/SupplierSetup/SupplierList.js"></script>
<title>@Model.Title</title>
<!--Partial Import Supplier Data Start-->
<div id="PartialImportSupplierData" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:1200px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/Partial_Import_SupplierData.cshtml")
    </div>
</div>
<!--Partial Import Supplier Data End-->
<!-- Error Detail -->
<div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
    <div class="modal-dialog" id="divErrorDetail" style="min-width:600px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")
    </div>
</div>
<!-- Error Detail End -->
<!--Partial Customer Address Detail Start-->
<div id="PartialCustomerAddressDetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:1000px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialCustomerAddressDetail.cshtml")
    </div>
</div>
<!--Partial Customer Address Detail End-->
<!-- Branch Mapping Start -->
<div id="BranchMapping" class="modal fade" role="dialog">
    <div class="modal-dialog" id="" style=" max-width:800px;">
        <!-- Modal content-->
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialBranchMapping.cshtml")

    </div>
</div>
<!-- Branch Mapping End -->
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "103135001")
                        {
                            <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","SupplierList")"><img src="~/Content/Images/export_icon.png" width="32" id="" onclick="" height="32" alt="Download Data Template"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Import @Resource.Data" data-toggle="modal" data-target="#PartialImportSupplierData" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="32" id="ImportData" height="32" alt="Import Data"></a>
                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddNewSupplier","SupplierList")"><img src="~/Content/Images/addgreen.png" width="32" id="addNewSupplier" height="32" alt="Add"></a>
                                    </li>


                                </ul>
                            </div>
                        }
                    }
                }


                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.SupplierName
                                    </label>
                                    @Html.DropDownListFor(model => model.SupplName, new SelectList(Model.SupplierList, "SuppID", "SuppName"), new
                                    {
                                        @id = "suppnamelist",
                                        @class = "form-control"@*, onchange = "OnChangeCat()"*@})
                                    @*<select class="form-control" id="suppnamelist">
                <option value="0">ALL</option>
            </select>*@
                                    @*<input type="hidden" id="SuppListName" value='@Url.Action("GetAutoCompleteSuppList", "SupplierList")' />*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Type
                                    </label>
                                    @Html.DropDownListFor(model => model.typ, new SelectList(new List<SelectListItem> {
                                                                                                new SelectListItem {Text="ALL",Value="0" },
                                                                                                new SelectListItem {Text="Domestic",Value="D" },
                                                                                                new SelectListItem {Text="Import",Value="I" },
                                                                                                }, "Value", "Text"
                                                 ), new { @class = "form-control", @id = "supp_type", @name = "typ" })
                                    @*<select class="form-control" id="supp_type">
                <option>ALL</option>
                <option>Domestic</option>
                <option>Import</option>
            </select>*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.GLReportingGroup </label>
                                    @Html.DropDownListFor(model => model.GlRepoting_Group, new SelectList(Model.GlReportingGroupList, "Gl_rpt_id", "Gl_rpt_Name"), new { @id = "ID_GlRepoting_Group", @class = "form-control", onchange = "OnChangeGlrptfrp()" })

                                    @Html.HiddenFor(model => model.GlRepoting_Group_ID, new { @id = "hdn_GlRepoting_Group" })
                                    @Html.HiddenFor(model => model.GlRepoting_Group_Name, new { @id = "hdn_GlRepoting_GroupName" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Category
                                    </label>
                                    @*Model.ddl_supp_catg = Model.supp_catg.ToString();*@
                                    @Html.DropDownListFor(model => model.suppcatg, new SelectList(Model.CategoryList, "setup_id", "setup_val"), new { @id = "suuppcat", @class = "form-control", onchange = "OnChangeCat()" })
                                    @*<select class="form-control" id="suuppcat">
            </select>*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Portfolio
                                    </label>
                                    @Html.DropDownListFor(model => model.suppport, new SelectList(Model.PortFolioList, "setup_id", "setup_val"), new { @id = "suppport", @class = "form-control", onchange = "OnChangePort()" })
                                    @*<select class="form-control" id="suppport">
            </select>*@
                                </div>

                                <div class="col-md-1 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Active <span class="required">*</span>
                                    </label>
                                    @Html.DropDownListFor(model => model.item_ActStatus, new SelectList(new List<SelectListItem> {
                                                                                                new SelectListItem {Text="ALL",Value="0" },
                                                                                                new SelectListItem {Text="Yes",Value="Y" },
                                                                                                new SelectListItem {Text="No",Value="N" },
                                                                                                }, "Value", "Text"
                                                 ), new { @class = "form-control", @id = "supp_act", @name = "supp_act" })
                                    @*<select class="form-control" id="supp_act">
                <option>ALL</option>
                <option>Yes</option>
                <option>No</option>
            </select>*@
                                </div>
                                <div class="col-md-2 col-sm-12 no-padding">
                                    <div class="col-md-9 col-sm-12">
                                        <label class="col-form-label label-align">
                                            @Resource.Status <span class="required">*</span>
                                        </label>
                                        @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "supp_status" })
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" onclick="FilterListSupp()" id="BtnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_title pad_mar ">

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="col-md-10 col-sm-12 heading_left_padding  padding_right ">
                    <div class="x_panel margin_top_zero">
                        <div class="x_content">
                            <div class="row">
                                <div class="card-box table-responsive dy_table">
                                    <div id="SuppListBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialSupplierList.cshtml")
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "103135005")
                        {
                            <div class="col-md-2 col-sm-12 heading_right_padding">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @*<form id="available_stock" class="available_stock" data-parsley-validate class="form-horizontal form-label-left">*@
                                                <div class="item form-group">
                                                    <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                        <label class="col-form-label label-align" for="">@Resource.LedgerBalance</label>
                                                        <input type="text" id="txt_SuppLedgerBalance" required class="form-control item_list_value num_right" placeholder="0000.00" disabled>
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                        <label class="col-form-label label-align" for="">@Resource.OrderValue</label>
                                                        <input type="text" id="txt_SuppOrderValue" required class="form-control item_list_value num_right" placeholder="0000.00" disabled>
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                        <label class="col-form-label label-align" for="">@Resource.PendingReceiptValue</label>
                                                        <input type="text" id="txt_SuppPendingReceiptVal" required class="form-control item_list_value num_right" placeholder="0000.00" disabled>
                                                    </div>
                                                </div>
                                                @*<div class="item form-group">
                                                    <div class="col-md-12 col-sm-12 available_right num_right_label">
                                                        <label class="col-form-label label-align" for="">@Resource.AvailableStockValue</label>
                                                        <input type="text" id="" required class="form-control item_list_value num_right" placeholder="0000.00" disabled>
                                                    </div>
                                                </div>*@
                                                @*</form>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>