@model EnRepMobileWeb.MODELS.BusinessLayer.ItemGroupSetup.ItemGroupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@*//***All Session Remove By Shubham Maurya on 11-01-2023 ***//*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .custom-switch {
        padding-left: 40px !important;
    }
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<link href="~/Content/Css/build/css/simpleTree.css" rel="stylesheet" />
<script src="~/Content/Css/build/js/simpleTree.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<link href="~/Content/Css/build/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/Scripts/BusinessLayer/ItemGroupSetup/ItemGroupSetup.js"></script>
<!-- page content start here -->
@{
    //Session["Message"] = null;
    //Session["GroupID"] = null;
    var Disable = false;
    if (Model.TransType != null)
    {
        //if (Session["TransType"].ToString() == "Update")
        if (Model.TransType == "Update")
        {
            //if (Session["Command"].ToString() == "Edit")
            if (Model.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }
        //if (Session["TransType"].ToString() == "Refresh")
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }
        //if (Session["TransType"].ToString() == "Save")
        if (Model.TransType == "Save")
        {
            //if (Session["Command"].ToString() == "Add")
            if (Model.Command == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script>
            if ("@str" == "Save") {
                $("#hdnonetimeclick").val("");
            swal("", $("#savemsg").text(), "success");
           
            }
            if ("@str" == "Deleted") {
                $("#hdnonetimeclick").val("");
            swal("", $("#deletemsg").text(), "success");

            }
            if ("@str" == "Dependency") {
                $("#hdnonetimeclick").val("");
                 swal("", $("#DependencyExist").text(), "warning");
            }
        if ("@str" == "Duplicate") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_item_group_name").text($("#valueduplicate").text());
                $("#item_group_name").css("border-color", "red");
                $("#span_item_group_name").css("display", "block");
            });
        }
        if ("@str" == "ValidationForSameName") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_item_group_name").text($("#ValidationForSameName").text());
                $("#item_group_name").css("border-color", "red");
                $("#span_item_group_name").css("display", "block");
            });
        }
        </script>
    }
    @*if (ViewBag.Message == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (ViewBag.Message == "Deleted")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (ViewBag.Message == "Dependency")
        {
            <script type="text/javascript">
                swal("", $("#DependencyExist").text(), "warning");
            </script>
        }
        if (ViewBag.Message == "New")
        {

        }*@
}
@*@{
        if (ViewBag.Message == "Duplicate")
        {
            <script type="text/javascript">
                $("#span_item_group_name").text($("#valueduplicate").text());
                $("#item_group_name").css("border-color", "red");
                $("#span_item_group_name").css("display", "block");
            </script>
        }
    }
    @{
        if (ViewBag.Message == "ValidationForSameName")
        {
            <script type="text/javascript">
                $("#span_item_group_name").text($("#ValidationForSameName").text());
                $("#item_group_name").css("border-color", "red");
                $("#span_item_group_name").css("display", "block");
            </script>
        }
    }*@
<title>@Model.Title</title>
@using (Html.BeginForm("ItemGroupSave", "ItemGroupSetup", FormMethod.Post, new { enctype = "multipart/form-data", id = "ItemSetupForm" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">&nbsp;</div>
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">

                            @{
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103101001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" onclick="return  InsertItemGroupDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103101001")
                                    {
                                        <li>
                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103101002")
                                    {

                                        <li>
                                            <button class="edit" title="@Resource.Edit" onclick="return  CheckGroupDependency();" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103101004")
                                    {

                                        <li>
                                            @if (Model.Delete_Dependcy == "ChildFound")
                                            {
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            }
                                            else
                                            {
                                                <button class="delete" onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            }
                                        </li>


                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103101001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" onclick="return  InsertItemGroupDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103101001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnToDetailPage":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103101001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103101002")
                                    {
                                        <li>
                                            <button class="edit" title="@Resource.Edit" onclick="return  CheckGroupDependency();" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103101004")
                                    {
                                        if (Model.Delete_Dependcy == "ChildFound")
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>



                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="delete" onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103101001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnApprove":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103101001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" onclick="return  CheckGroupDependency();" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103101004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li>
                                            <span> @Resource.CreatedBy <br><b>@Html.DisplayFor(model => model.CreatedBy)</b></span>
                                        </li>
                                        <li>
                                            <span>  @Resource.Createdon<br> <b>@Html.DisplayFor(model => model.CreatedOn)</b></span>
                                        </li>
                                        <li>
                                            <span>@Resource.AmendedBy<br> <b>@Html.DisplayFor(model => model.AmmendedBy)</b></span>
                                        </li>
                                        <li>
                                            <span>@Resource.AmendedOn<br> <b>@Html.DisplayFor(model => model.AmmendedOn)</b></span>
                                        </li>
                                    </ul>
                                </div>

                                @Html.HiddenFor(m => m.onetimeclick, new { @id = "hdnonetimeclick" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <div class="col-md-3 col-sm-12 padding_left group_tree">
                            <input type="search" id="tree_menu" class="form-control" placeholder="Search">
                            <div id="mytree"></div>
                        </div>
                        <div class="col-md-9 col-sm-12 padding_right  ">
                            <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <section class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.GroupDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="panel-body">
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">
                                                                @Resource.groupname <span class="required">*</span>
                                                            </label>
                                                            @if (Disable)
                                                            {
                                                                @Html.TextBoxFor(model => model.item_group_name, new { @id = "item_group_name", @class = "form-control", maxlength = "100", @placeholder = "Group Name", disabled = "disabled" })

                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.item_group_name, new { @id = "item_group_name", @class = "form-control", maxlength = "100", @autocomplete = "off", @placeholder = "Group Name", @onkeypress = "Hidevalidation()", @onchange = "Hidevalidation()" })

                                                            }
                                                            <span id="span_item_group_name" class="field-validation-valid error_message"></span>
                                                            @Html.HiddenFor(model => model.item_grp_id, new { @id = "itemgroupid" })
                                                            @Html.HiddenFor(model => model.TransType)
                                                        </div>
                                                        <div class="col-md-5 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.parentgroupname</label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.item_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "item_grp_par_id", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                //if (Session["ChkPgroup"] != null)
                                                                if (Model.ChkPgroup != null)
                                                                {
                                                                    //if (Session["ChkPgroup"].ToString() == "Y")
                                                                    if (Model.ChkPgroup == "Y")
                                                                    {
                                                                        @Html.DropDownListFor(model => model.item_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "item_grp_par_id", @class = "form-control", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.item_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "item_grp_par_id", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.item_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "item_grp_par_id", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
                                                                }
                                                            }
                                                            @Html.HiddenFor(model => model.item_grp_par_id, new { @id = "itemgroupparid" })
                                                        </div>
                                                        <div class="col-md-2 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.issuemethod </label>
                                                            @if (Disable)
                                                            {

                                                                @Html.DropDownListFor(model => model.issue_method, new SelectList(new List<Object>
                                                                {
                                                               new { value = "F", text = "FIFO"  },
                                                                new { value = "L", text = "LIFO"  },
                                                                new { value = "E" , text = "EXPIRY DATE" },

                                                                },
"value",
"text"
), new { @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.issue_method, new SelectList(new List<Object>
                                                               {
                                                               new { value = "F", text = "FIFO"  },
                                                                new { value = "L", text = "LIFO"  },
                                                                new { value = "E" , text = "EXPIRY DATE" },

                                                               },
                                                               "value",
"text"
), new { @class = "form-control" })
                                                            }

                                                        </div>
                                                        <div class="col-md-2 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.costmethod </label>
                                                            @if (Disable)
                                                            {

                                                                @Html.DropDownListFor(model => model.cost_method, new SelectList(new List<Object>
                                                                {
                                                               new { value = "S", text = "STANDARD"  },
                                                                new { value = "W", text = "WEIGHTED AVERAGE"  },
                                                                new { value = "M" , text = "MOVING AVERAGE" },}, "value", "text"), new { @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.cost_method, new SelectList(new List<Object>
                                                               {
                                                               new { value = "S", text = "STANDARD"  },
                                                                new { value = "W", text = "WEIGHTED AVERAGE"  },
                                                                new { value = "M" , text = "MOVING AVERAGE" },
                                                           }, "value", "text"), new { @class = "form-control" })
                                                            }
                                                        </div>
                                                        <!--<div class="col-md-6 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.remarks </label>-->
                                                        @*<input id="It_Remarks" class="form-control" type="text" name="It_Remarks"  placeholder="@Resource.remarks" >*@
                                                        <!--@if (Disable)
                                                            {
                                                                @Html.TextAreaFor(model => model.It_Remarks, new { @id = "It_Remarks", @class = "form-control remarksmessage", maxlength = "200", @placeholder = Resource.remarks, @readonly="readonly" })

                                                            }
                                                            else
                                                            {
                                                                @Html.TextAreaFor(model => model.It_Remarks, new { @id = "It_Remarks", @class = "form-control remarksmessage", maxlength = "200", @placeholder = Resource.remarks, })

                                                            }
                                                        </div>-->
                                                        <div class="col-md-12 col-sm-12 gd_border margin15"> </div>
                                                        <div class="col-md-12 col-sm-12 ItemGroupSetup ">
                                                            <div class="col-md-7 col-sm-12">
                                                                <!-- Blue Section-->
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_sls, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_sls", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_sls, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_sls", @onclick = "OnClickSalesToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_sls">@Resource.Saleable</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_pur, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_pur", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_pur, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_pur", @onclick = "OnClickPurchasable()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_pur">@Resource.Purchasable</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_wip, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_wip", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_wip, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_wip", @onclick = "OnClickWipToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_wip">@Resource.SemiFinished</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_capg, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_capg", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_capg, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_capg", @onclick = "OnClickCapitalToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_capg">@Resource.CapitalGood</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_stk, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_stk", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_stk, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_stk", @onclick = "OnClickStockToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_stk">@Resource.Stockable</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_qc, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_qc", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_qc, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_qc", @onclick = "OnClickQcToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_qc">@Resource.QCrequired</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_srvc, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_srvc", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_srvc, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_srvc", @onclick = "OnClickServiceToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_srvc">@Resource.ServiceItem</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_cons, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_cons", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_cons, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_cons", @onclick = "OnClickConsToggle()" })
                                                                    }
                                                                    @*<label class="custom-control-label " for="i_cons">@Resource.Consumable</label>*@
                                                                    <label class="custom-control-label " for="i_cons">@Resource.Non @Resource.Stockable</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_serial, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_serial", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_serial, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_serial", @onclick = "OnClickSerialToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_serial">@Resource.Serialized</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_sam, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_sam", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_sam, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_sam", @onclick = "OnClickSamToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_sam">@Resource.SampleItem</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_batch, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_batch", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_batch, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_batch", @onclick = "OnClickBatchToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_batch">@Resource.BatchItem</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_exp, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_exp", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_exp, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_exp", @onclick = "OnClickExpirableToggle()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_exp">@Resource.Expirable</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_pack, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_pack", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_pack, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_pack" , @onclick = "onclickpacking()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_pack">@Resource.PackagingItem</label>
                                                                </div>
                                                                <div class="custom-control custom-switch col-md-4 col-sm-12">
                                                                    @if (Disable)
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_catalog, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_catalog", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.CheckBoxFor(modal => modal.i_catalog, new { @class = "custom-control-input  margin-switch", @checked = "checked", @id = "i_catalog" , @onclick = "onclickcatalog()" })
                                                                    }
                                                                    <label class="custom-control-label " for="i_catalog">@Resource.ItemCatalog</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-sm-12 gd_border_l no-padding">
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.AvailableStockValue </label>
                                                                    <input id="available_stock" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Available Stock Value'" readonly>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.ReworkableStockValue </label>
                                                                    <input id="reworkable_stock" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Reworkable Stock Value'" readonly>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.ReserveStockValue </label>
                                                                    <input id="reserve_stock" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Reserve Stock Value'" readonly>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.RejectedStockValue </label>
                                                                    <input id="rejected_stock" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Rejected Stock Value'" readonly>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.PendingGRNValue </label>
                                                                    <input id="Pending_GRN_Value" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Pending GRN Value'" readonly>
                                                                </div>
                                                                <div class="col-md-6 col-sm-12">
                                                                    <label class="col-form-label label-align num_right_label">@Resource.PendingShipmentValue </label>
                                                                    <input id="pending_shipment" class="form-control num_right" type="text" name="" placeholder="0000.00" onblur="this.placeholder='Pending Shipment Value'" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </section>
                                <section class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">@Resource.GLAccountDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="panel-body float-left">
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.LocalSaleAccount </label><span id="Req_Lcl_Sale_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.loc_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "Local_Sale_Account", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.loc_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "Local_Sale_Account", @class = "form-control" })
                                                                <input type="hidden" id="LocalSaleAccount" value='@Url.Action("GetLocalSaleAccount", "ItemDetail")' />
                                                            }
                                                            <span id="spanLocal_Sale_Account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.ExportSaleAccount </label><span id="Req_Exp_Sale_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.exp_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "export_sale_account", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.exp_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "export_sale_account", @class = "form-control" })
                                                                <input type="hidden" id="exportSaleAccount" value='@Url.Action("GetLocalSaleAccount", "ItemDetail")' />
                                                            }
                                                            <span id="spanexport_sale_account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.LocalPurchaseAccount </label><span id="Req_Lcl_Pur_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.loc_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "local_purchase_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="localPurchaseAccount" value='@Url.Action("GetLocalPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.loc_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "local_purchase_account", @class = "form-control" })
                                                                <input type="hidden" id="localPurchaseAccount" value='@Url.Action("GetLocalPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spanlocal_purchase_account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.ImportPurchaseAccount </label><span id="Req_Import_Pur_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.imp_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "import_purchase_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="importPurchaseAccount" value='@Url.Action("GetImportPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.imp_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "import_purchase_account", @class = "form-control" })
                                                                <input type="hidden" id="importPurchaseAccount" value='@Url.Action("GetImportPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spanimport_purchase_account" class="error_message"></span>
                                                        </div>
                                                        @*As Vishal sir said to hide below data on page --Done by Mukesh*@
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.StockAccount <span id="requiredStk_coa" class="required" style="display:none;">*</span></label>@*<span id="Req_Stk_Acc" class="required d-none"> *</span>*@
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.stk_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "stock_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="stockAccount" value='@Url.Action("GetStockAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.stk_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "stock_account", @class = "form-control" })
                                                                <input type="hidden" id="stockAccount" value='@Url.Action("GetStockAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spanstock_account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.SaleReturnAccount </label><span id="Req_sale_return_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.sal_ret_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "sale_return_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="saleReturnAccount" value='@Url.Action("GetSaleReturnAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.sal_ret_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "sale_return_account", @class = "form-control" })
                                                                <input type="hidden" id="saleReturnAccount" value='@Url.Action("GetSaleReturnAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spansale_return_account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.DiscountAccount</label><span id="Req_Discount_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.disc_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "discount_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="discountAccount" value='@Url.Action("GetDiscountAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.disc_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "discount_account", @class = "form-control" })
                                                                <input type="hidden" id="discountAccount" value='@Url.Action("GetDiscountAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spandiscount_account" class="error_message"></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.PurchaseReturnAccount </label><span id="Req_Pur_Return_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.pur_ret_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "purchase_return_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="purchaseReturnAccount" value='@Url.Action("GetPurchaseReturnAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.pur_ret_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "purchase_return_account", @class = "form-control" })
                                                                <input type="hidden" id="purchaseReturnAccount" value='@Url.Action("GetPurchaseReturnAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spanpurchase_return_account" class="error_message"></span>
                                                        </div>
                                                        @*As Vishal sir said to hide below data on page --Done by Mukesh*@
                                                        @*<div class="col-md-3 col-sm-12">
            <label class="col-form-label label-align">@Resource.ProvisionalPayableAccount </label><span id="Req_ProvisinalPayble_Acc" class="required d-none"> *</span>
            @if (Disable)
            {
                @Html.DropDownListFor(model => model.prov_pay_coa, new SelectList(Model.LiabilityCOAList, "coa_id", "coa_name"), new { @id = "provisional_payable_account", @class = "form-control", disabled = "disabled" })
                <input type="hidden" id="provisionalPayableAccount" value='@Url.Action("GetProvisionalPayableAccount", "ItemDetail")' />

            }
            else
            {
                @Html.DropDownListFor(model => model.prov_pay_coa, new SelectList(Model.LiabilityCOAList, "coa_id", "coa_name"), new { @id = "provisional_payable_account", @class = "form-control" })
                <input type="hidden" id="provisionalPayableAccount" value='@Url.Action("GetProvisionalPayableAccount", "ItemDetail")' />

            }
            <span id="spanprovisional_payable_account" class="error_message"></span>
        </div>
        <div class="col-md-3 col-sm-12">
            <label class="col-form-label label-align">@Resource.CostofGoodsSoldAccount</label><span id="Req_cost_of_goods_sold_Acc" class="required d-none"> *</span>
            @if (Disable)
            {
                @Html.DropDownListFor(model => model.cogs_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "cost_of_goods_sold_account", @class = "form-control", disabled = "disabled" })
                <input type="hidden" id="costOfGoodsSoldAccount" value='@Url.Action("GetcostOfGoodsSoldAccount", "ItemDetail")' />

            }
            else
            {
                @Html.DropDownListFor(model => model.cogs_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "cost_of_goods_sold_account", @class = "form-control" })
                <input type="hidden" id="costOfGoodsSoldAccount" value='@Url.Action("GetcostOfGoodsSoldAccount", "ItemDetail")' />

            }
            <span id="spancost_of_goods_sold_account" class="error_message"></span>
        </div>
        <div class="col-md-3 col-sm-12">
            <label class="col-form-label label-align">@Resource.StockAdjustmentAccount</label><span id="Req_Stk_Adj_Acc" class="required d-none"> *</span>
            @if (Disable)
            {
                @Html.DropDownListFor(model => model.stk_adj_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "stock_adjustment_account", @class = "form-control", disabled = "disabled" })
                <input type="hidden" id="stockAdjustmentAccount" value='@Url.Action("GetStockAdjustmentAccount", "ItemDetail")' />

            }
            else
            {
                @Html.DropDownListFor(model => model.stk_adj_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "stock_adjustment_account", @class = "form-control" })
                <input type="hidden" id="stockAdjustmentAccount" value='@Url.Action("GetStockAdjustmentAccount", "ItemDetail")' />

            }
            <span id="spanstock_adjustment_account" class="error_message"></span>
        </div>*@
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.DepreciationAccount </label><span id="Req_Depreciation_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.dep_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "depreciation_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="depreciationAccount" value='@Url.Action("GetDepreciationAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.dep_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "depreciation_account", @class = "form-control" })
                                                                <input type="hidden" id="depreciationAccount" value='@Url.Action("GetDepreciationAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spandepreciation_account" class="error_message"></span>

                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.AssetAccount </label><span id="Req_Assets_Acc" class="required d-none"> *</span>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.asset_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "asset_account", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="assetAccount" value='@Url.Action("GetAssetAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.asset_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "asset_account", @class = "form-control" })
                                                                <input type="hidden" id="assetAccount" value='@Url.Action("GetAssetAccount", "ItemDetail")' />

                                                            }
                                                            <span id="spanasset_account" class="error_message"></span>

                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.InterBranch @Resource.Sale @Resource.Account </label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.InterBranch_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "IDInterBranch_sls_coa", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.InterBranch_sls_coa, new SelectList(Model.IncomeCOAList, "coa_id", "coa_name"), new { @id = "IDInterBranch_sls_coa", @class = "form-control" })
                                                                <input type="hidden" id="LocalSaleAccount" value='@Url.Action("GetLocalSaleAccount", "ItemDetail")' />
                                                            }
                                                            @*<span id="spanLocal_Sale_Account" class="error_message"></span>*@
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.InterBranch @Resource.Purchase @Resource.Account </label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.InterBranch_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "IDInterBranch_pur_coa", @class = "form-control", disabled = "disabled" })
                                                                <input type="hidden" id="localPurchaseAccount" value='@Url.Action("GetLocalPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.InterBranch_pur_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "IDInterBranch_pur_coa", @class = "form-control" })
                                                                <input type="hidden" id="localPurchaseAccount" value='@Url.Action("GetLocalPurchaseAccount", "ItemDetail")' />

                                                            }
                                                            @*<span id="spanlocal_purchase_account" class="error_message"></span>*@
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}


<script>
    debugger;
    var RequestedUrl = window.location.protocol + "//" + window.location.host + "/BusinessLayer/ItemGroupSetup/GetAllItemGrp";
    $.ajax({
        type: 'POST',
        url: RequestedUrl,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        data: JSON.stringify(),
        success: function (Objdata) {
            debugger;
            //if (data == 'ErrorPage') {
            //    ErrorPage();
            //    return false;
            //}

            if (Objdata !== null && Objdata !== "") {
                var arr = [];
                arr = JSON.parse(Objdata);

                FinalData = []
                $.each(arr, function (i, n) {
                    FinalData.push(n);
                });

                debugger;

                var options = {
                    // Optionally provide here the jQuery element that you use as the search box for filtering the tree. simpleTree then takes control over the provided box, handling user input
                    searchBox: $('#tree_menu'),

                    // Search starts after at least 3 characters are entered in the search box
                    searchMinInputLength: 1,

                    // Number of pixels to indent each additional nesting level
                    indentSize: 25,

                    // Show child count badges?
                    childCountShow: true,

                    // Symbols for expanded and collapsed nodes that have child nodes
                    symbols: {
                        collapsed: '▶',
                        expanded: '▼'
                    },

                    // these are the CSS class names used on various occasions. If you change these names, you also need to provide the corresponding CSS class
                    css: {
                        childrenContainer: 'simpleTree-childrenContainer',
                        highlight: 'simpleTree-highlight',
                        indent: 'simpleTree-indent',
                        label: 'simpleTree-label',
                        mainContainer: 'simpleTree-mainContainer',
                        nodeContainer: 'simpleTree-nodeContainer',
                        selected: 'simpleTree-selected',
                        toggle: 'simpleTree-toggle'
                    },
                };
                debugger;
                $('#mytree').simpleTree(options, FinalData);
            }

        }

    });
</script>