@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.BusinessLayer.ItemAttributeSetup.ItemAttributeSetupModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/itemAttributeSetup/itemAttributeSetup.js"></script>
@{
    var actioncommand = "";
    if (Model.actionCommand != null)
    {

        if (Model.actionCommand != null)
        {
            actioncommand = Model.actionCommand.ToString();
            Model.actionCommand = null;
        }
    }
    if (Model.Message != null)
    {
        var message = Model.Message;
        if (message == "Save")
        {
            var collapse = "";
            if (Model.collapse != null)
            {
                collapse = Model.collapse.ToString();
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").addClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (message == "DuplicateAttrName")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    document.getElementById("vmAttributeName").innerHTML = $("#valueduplicate").text();
                    $("#AttributeName").css("border-color", "red");

                })
            </script>
            if (actioncommand == "Update_attr")
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#hdnAction").val("Update_attr");
                    });

                </script>
            }
        }
        if (message == "DuplicateAttrValName")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    document.getElementById("vmAttrVal").innerHTML = $("#valueduplicate").text();
                    $("#AttrVal").css("border-color", "red");
                    $("#collapseOne").removeClass("show");
                    $("#collapseTwo").addClass("show");
                })
            </script>
            if (actioncommand == "Update_attr_val")
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#hdnActionattrval").val("Update_attr_val");
                    });
                </script>
            }
        }
        if (message == "Deleted")
        {
            var collapse = "";
            if (Model.collapse != null)
            {
                collapse = Model.collapse.ToString();
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").addClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (message == "Exist")
        {
            <script type="text/javascript">
                swal("", $("#DependencyExist").text(), "warning");
            </script>
        }
        message = null;
    }
    var AddNew = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103117001")
            {
                AddNew = "Y";

            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}

<title>@Model.Title</title>
@using (Html.BeginForm("Save", "ItemAttributeSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <section class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.Attribute <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                <div class="panel-body" style="padding-bottom:0px;">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="col-md-3 col-sm-12">
                                                <label class="col-form-label label-align">@Resource.AttributeName <span class="required">*</span></label>
                                                @if (AddNew == "Y" || Model.Message== "DuplicateAttrName")
                                                {
                                                    @Html.TextBoxFor(model => model.attributeName, new { @id = "AttributeName", @class = "form-control", @maxlength = "50", autocomplete = "off", @name = "AttributeName", @placeholder = @Resource.AttributeName, @type = "text", onchange = "onchangeAttrName()", onkeypress = "onchangeAttrName()" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.attributeName, new { @id = "AttributeName", @class = "form-control", @maxlength = "50", autocomplete = "off", @name = "AttributeName", @placeholder = @Resource.AttributeName, @type = "text", onchange = "onchangeAttrName()", @disabled="disabled", onkeypress = "onchangeAttrName()" })
                                                }
                                                @Html.HiddenFor(model => model.attributeID, new { @id = "hdnAttributeID" })
                                                @Html.ValidationMessageFor(model => model.attributeName, "", new { @id = "vmAttributeName" })
                                                @Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })
                                            </div>
                                            <div class="col-md-55 col-sm-12">
                                                @if (AddNew == "Y" || Model.Message == "DuplicateAttrName")
                                                {
                                                    <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidation();" id="btn_save" name="Command" value="Save_attr"></button>
                                                }
                                                else
                                                {
                                                    <div id="SaveBtnEnable" style="display:none">
                                                           <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidation();" id="btn_save" name="Command" value="Save_attr"></button>
                                                    </div>
                                                 }
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="x_panel margin10">
                                                            <div class="x_content">
                                                                <div class="card-box table-responsive dy_table">
                                                                    <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH" id="AttrNameList">
                                                                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialItemAttributeName.cshtml")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.AttributeValues <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body" style="padding-bottom:0px;">

                                    <div class="col-md-3 col-sm-12">
                                        <label class="col-form-label label-align">@Resource.AttributeName <span class="required">*</span></label>
                                        @if (AddNew == "Y" || Model.Message == "DuplicateAttrValName")
                                        {
                                            @Html.DropDownListFor(model => model.L_attribute_Name, new SelectList(Model.attributes, "attri_id", "attri_name"), "---Select---", new { @class = "form-control", @id = "L_attrName", onchange = "onchangeAttrVal_Id()", onkeypress = "onchangeAttrVal_Id()" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.L_attribute_Name, new SelectList(Model.attributes, "attri_id", "attri_name"), "---Select---", new { @class = "form-control", @id = "L_attrName", onchange = "onchangeAttrVal_Id()" ,@disabled="disabled", onkeypress = "onchangeAttrVal_Id()" })
                                        }
                                        <span id="VMattrName" class="error_message"></span>
                                        @Html.ValidationMessageFor(model => model.L_attribute_Name, "", new { @class = "text-danger", @id = "vmL_attrName" })
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label class="col-form-label label-align">@Resource.AttributeValue <span class="required">*</span></label>
                                        @if (AddNew == "Y" || Model.Message == "DuplicateAttrValName")
                                        {
                                            @Html.TextBoxFor(model => model.attributeValue, new { @id = "AttrVal", @class = "form-control", @maxlength = "50", @name = "AttributeValue", @placeholder = Resource.AttributeValue, @type = "text", onchange = "onchangeAttrVal_Name()", onkeypress = "onchangeAttrVal_Name()" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.attributeValue, new { @id = "AttrVal", @class = "form-control", @maxlength = "50", @name = "AttributeValue", @placeholder = Resource.AttributeValue, @type = "text", onchange = "onchangeAttrVal_Name()", @disabled="disabled", onkeypress = "onchangeAttrVal_Name()" })
                                        }
                                        @Html.HiddenFor(model => model.attrVal_Id, new { @id = "hdnAttrValId" })
                                        @Html.ValidationMessageFor(model => model.attributeValue, "", new { @class = "text-denger", @id = "vmAttrVal" })
                                        @Html.HiddenFor(model => model.hdnAction1attrval, new { @id = "hdnActionattrval", value = actioncommand })
                                        @*<input class="form-control" id="AttributeValue" maxlength="50" name="AttributeValue" placeholder="@Resource.AttributeValue" type="text" value="">*@
                                    </div>
                                    <div class="col-md-55 col-sm-12">
                                        @if (AddNew == "Y" || Model.Message == "DuplicateAttrValName")
                                        {
                                            <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidationAttrVal();" id="btn_save" name="Command" value="SaveAttrVAl"></button>
                                        }
                                        else
                                        {
                                            <div id="AttrValueSaveBtnEnable" style="display:none">
                                                <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidationAttrVal();" id="btn_save" name="Command" value="SaveAttrVAl"></button>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="x_panel margin10">
                                            <div class="x_content">
                                                <div class="card-box table-responsive dy_table">
                                                    <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH" id="AttrValList">
                                                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialItemAttributeValue.cshtml")

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
}

