@model EnRepMobileWeb.MODELS.BusinessLayer.AccountGroup.AccountGroupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@*//***All Session Remove By Shubham Maurya on 11-01-2023 ***//*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<link href="~/Content/Css/build/css/simpleTree.css" rel="stylesheet" />
<script src="~/Content/Css/build/js/simpleTree.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<link href="~/Content/Css/build/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/Scripts/BusinessLayer/AccountGroup/AccountGroupSetup.js"></script>

@{
    //Session["Message"] = null;
    //Session["GroupID"] = null;
    var Disable = false;
    if (Model.TransType != null)
    {
        //if (Session["TransType"].ToString() == "Update")
        if (Model.TransType == "Update")
        {
            //if (Session["Command"].ToString() == "Edit")
            if (Model.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }
        //if (Session["TransType"].ToString() == "Refresh")
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }
        //if (Session["TransType"].ToString() == "Save")
        if (Model.TransType == "Save")
        {
            //if (Session["Command"].ToString() == "Add")
            if (Model.Command == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        if (str != null)
        {
            <script>
                $(document).ready(function () {
                    $("#hdnSavebtn").val("");
                })
            </script>
            if (str == "Save")
            {
                <script>
                    swal("", $("#savemsg").text(), "success");
                </script>
            }
            if (@str == "Deleted")
            {
                <script>
                    swal("", $("#deletemsg").text(), "success");
                </script>
            }
            if (@str == "Dependency")
            {
                <script>
                    swal("", $("#DependencyExist").text(), "warning");
                </script>
            }

            if (@str == "ValidationForSameName")
            {
                <script>
                    $(document).ready(function () {

                        $("#span_acc_group_name").text($("#ValidationForSameName").text());
                        $("#acc_group_name").css("border-color", "red");
                        $("#span_acc_group_name").css("display", "block");
                    });
                </script>
            }

            if (str == "Duplicate")
            {
                <script>
                    $(document).ready(function () {

                        $("#span_acc_group_name").text($("#valueduplicate").text());
                        $("#acc_group_name").css("border-color", "red");
                        $("#span_acc_group_name").css("display", "block");
                    });
                </script>
            }
            @*if (ViewBag.Message == "Save")
                {
                    <script type="text/javascript">
                        swal("", $("#savemsg").text(), "success");
                    </script>
                }
                if (ViewBag.Message == "Deleted")
                {
                    <script type="text/javascript">
                        swal("", $("#deletemsg").text(), "success");
                    </script>
                }
                if (ViewBag.Message == "Dependency")
                {
                    <script type="text/javascript">
                        swal("", $("#DependencyExist").text(), "warning");
                    </script>
                }
                if (ViewBag.Message == "Duplicate")
                {
                    <script type="text/javascript">
                        $("#span_acc_group_name").text($("#valueduplicate").text());
                        $("#acc_group_name").css("border-color", "red");
                        $("#span_acc_group_name").css("display", "block");
                    </script>
                }
                if (ViewBag.Message == "ValidationForSameName")
                {
                    <script type="text/javascript">
                        $("#span_acc_group_name").text($("#ValidationForSameName").text());
                        $("#acc_group_name").css("border-color", "red");
                        $("#span_acc_group_name").css("display", "block");
                    </script>
                }
                ViewBag.Message = null;*@
        }
        Model.Message = null;
        str = "";
    }
}
<title>@Model.Title</title>
@using (Html.BeginForm("AccountGroupSave", "AccountGroupSetup", FormMethod.Post, new { enctype = "multipart/form-data", id = "AccountGroupForm" }))
{
    @Html.AntiForgeryToken()
    {
        <style>
            .GroupType span {
                margin-right: 5px;
            }

            .GroupType input {
                margin-right: 10px;
            }
        </style>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">&nbsp;</div>
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnName"].ToString();
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103165001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return InsertAccGroupDetail();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103165001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103165002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" type="submit" onclick="return  CheckGroupDependency();" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103165004")
                                    {
                                        if (Model.Delete_Dependcy == "GroupChildFound")
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="delete"
                                                        onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }

                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103165001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return InsertAccGroupDetail();" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103165001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnToDetailPage":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "103165001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "103165002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" type="submit" onclick="return  CheckGroupDependency();" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>

                                    }
                                    if (Row["feature_id"].ToString() == "103165004")
                                    {
                                        if (Model.Delete_Dependcy == "GroupChildFound")
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="delete"
                                                        onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                            @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                        }
                                    }
                                }
                                <li>
                                    <button class="save"
                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                </li>
                                <li>
                                    <button class="refresh"
                                            title="@Resource.Refresh" type="submit" disabled style="filter: grayscale(100%)" id="btn_refresh" name="Command" value="Refresh"></button>
                                </li>
                                <li>
                                    <button class="back"
                                            title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                </li>
                            </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103165001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103165004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li><span> @Resource.CreatedBy <br><b>@Html.DisplayFor(model => model.CreatedBy)</b></span></li>
                                        <li> <span>  @Resource.Createdon<br> <b>@Html.DisplayFor(model => model.CreatedOn)</b></span></li>
                                        <li><span>@Resource.AmendedBy<br> <b>@Html.DisplayFor(model => model.AmmendedBy)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br> <b>@Html.DisplayFor(model => model.AmmendedOn)</b></span></li>
                                    </ul>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1">
                    <div class="x_content mar_pad1">
                        <div class="col-md-3 col-sm-12 padding_left group_tree">
                            <input type="search" id="tree_menu" class="form-control" placeholder="Search">
                            <div id="mytree"></div>
                        </div>
                        <div class="col-md-7 col-sm-12 padding_right ">
                            <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <section class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">  @Resource.GroupDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="panel-body" style="float:left;">
                                                        <div class="col-md-6 col-sm-12">
                                                            <label class="col-form-label label-align">
                                                                @Resource.groupname <span class="required">*</span>
                                                            </label>
                                                            @if (Disable)
                                                            {
                                                                @Html.TextBoxFor(model => model.acc_group_name, new { @id = "acc_group_name", @class = "form-control", maxlength = "50", @placeholder = "Group Name", disabled = "disabled" })

                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.acc_group_name, new { @id = "acc_group_name", @class = "form-control", maxlength = "50", @autocomplete = "off", @placeholder = "Group Name", @onkeypress = "Hidevalidation()", @onchange = "Hidevalidation()" })

                                                            }
                                                            <span id="span_acc_group_name" class="error_message"></span>
                                                            @Html.HiddenFor(model => model.acc_grp_id, new { @id = "acc_groupid" })
                                                            @Html.HiddenFor(model => model.TransType)


                                                        </div>

                                                        <div class="col-md-6 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.parentgroupname <span class="required">*</span></label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.parent_acc_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @id = "parent_group_name", @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                //if (Session["ChkPgroup"] != null)
                                                                if (Model.ChkPgroup != null)
                                                                {
                                                                    //if (Session["ChkPgroup"].ToString() == "Y")
                                                                    if (Model.ChkPgroup == "Y")
                                                                    {
                                                                        @Html.DropDownListFor(model => model.parent_acc_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @id = "parent_group_name", @class = "form-control", disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.parent_acc_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @id = "parent_group_name", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.parent_acc_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @id = "parent_group_name", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
                                                                }
                                                            }

                                                            @Html.HiddenFor(model => model.parent_acc_grp_id)
                                                            <span id="span_acc_par_group_name" class="error_message"></span>
                                                        </div>

                                                        <div class="col-md-6 col-sm-12">

                                                            <label id="Acc_grp_type" class="col-form-label label-align" style="width:100%; text-align:left;">@Resource.GroupType <span class="required">*</span></label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.grp_type, new SelectList(new List<Object>
                                                                        {
                                                                       new { value = "0", text = "---Select---"  },
                                                                        new { value = "D", text = "Direct"  },
                                                                        new { value = "I" , text = "Indirect" },
                                                                        new { value = "CA", text = "Capital"  },
                                                                        new { value = "CU", text = "Current"  },
                                                                        new { value = "NC" , text = "Non-Current" },
                                                                        },
                                                                                                         "value",
                                                                                                         "text"
                                                                                                         ), new { @class = "form-control", @id = "ddlgrp_type", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                if (Model.parent_acc_grp_id.Trim() != "0" || Model.parent_acc_grp_id.Trim() != "")
                                                                {
                                                                    if (Model.parent_acc_grp_id.Trim().Length == 3)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.grp_type, new SelectList(new List<Object>
                                                               {
                                                              new { value = "0", text = "---Select---"  },
                                                               new { value = "D", text = "Direct"  },
                                                               new { value = "I" , text = "Indirect" },
                                                               new { value = "CA", text = "Capital"  },
                                                               new { value = "CU", text = "Current"  },
                                                               new { value = "NC" , text = "Non-Current" },
                                                               },
                                                        "value",
                                                        "text"
                                                        ), new { @class = "form-control", @id = "ddlgrp_type", @onchange = "OnChangeGrpType();" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(model => model.grp_type, new SelectList(new List<Object>
                                                                        {
                                                                       new { value = "0", text = "---Select---"  },
                                                                        new { value = "D", text = "Direct"  },
                                                                        new { value = "I" , text = "Indirect" },
                                                                        new { value = "CA", text = "Capital"  },
                                                                        new { value = "CU", text = "Current"  },
                                                                        new { value = "NC" , text = "Non-Current" },
                                                                        },
                                                            "value",
                                                            "text"
                                                            ), new { @class = "form-control", @id = "ddlgrp_type", disabled = "disabled" })
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.grp_type, new SelectList(new List<Object>
                                                                           {
                                                                           new { value = "0", text = "---Select---"  },
                                                                           new { value = "D", text = "Direct"  },
                                                                           new { value = "I" , text = "Indirect" },
                                                                           new { value = "CA", text = "Capital"  },
                                                                           new { value = "CU", text = "Current"  },
                                                                           new { value = "NC" , text = "Non-Current" },
                                                                           },
                                                                           "value",
                                                                           "text"
                                                                           ), new { @class = "form-control", @id = "ddlgrp_type", disabled = "disabled" })
                                                                }
                                                            }

                                                            @Html.HiddenFor(model => model.grp_type, new { @id = "grp_type" })
                                                            <span id="span_ddlgrp_type" class="error_message"></span>

                                                        </div>

                                                        <div class="col-md-6 col-sm-12">
                                                            <label class="col-form-label label-align">@Resource.AlternativeGroupName</label>
                                                            @if (Disable)
                                                            {
                                                                @Html.DropDownListFor(model => model.alt_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @class = "form-control", disabled = "disabled" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.alt_grp_id, new SelectList(Model.ParentItemGroup, "acc_grp_struc", "acc_group_name"), new { @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
                                                            }
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="col-form-label label-align">
                                                                @Resource.ReportingSequenceNumber
                                                            </label>
                                                            @if (Disable)
                                                            {
                                                                @Html.TextBoxFor(model => model.grp_seq_no, new { @id = "sequence_number", @class = "form-control", @placeholder = "Sequence Number", disabled = "disabled" })

                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.grp_seq_no, new { @id = "sequence_number", @autocomplete = "off", @onkeypress = "return Cmn_IntValueonly(this, event)", @class = "form-control", @placeholder = "Sequence Number" })

                                                            }

                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </section>

                            </article>
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding" style="margin-top:27px;">
                            <div class="col-md-12 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.GroupBalance
                                </label>
                                <input id="group_balance" class="form-control optional num_right" name="" data-validate-length-range="5,15" type="text" placeholder="0000.00" disabled />
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.BalanceType
                                </label>
                                <input id="balance_type" class="form-control optional" name="" data-validate-length-range="5,15" type="text" placeholder="Dr" onblur="this.placeholder='Dr'" disabled />
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label class="col-form-label label-align">
                                    @Resource.Currency
                                </label>
                                <input id="group_balance_yype" class="form-control optional" name="" data-validate-length-range="5,15" type="text" placeholder="" onblur="this.placeholder='&#x20B9'" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    debugger;
    var RequestedUrl = window.location.protocol + "//" + window.location.host + "/BusinessLayer/AccountGroupSetup/GetAllAccGrp";
    $.ajax({
        type: 'POST',
        url: RequestedUrl,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        data: JSON.stringify(),
        success: function (Objdata) {
            //debugger;
            //if (data == 'ErrorPage') {
            //    ErrorPage();
            //    return false;
            //}

            if (Objdata !== null && Objdata !== "") {
                var arr = [];
                arr = JSON.parse(Objdata);

                FinalData = []
                $.each(arr, function (i, n) {
                    FinalData.push(n);
                });

                debugger;

                var options = {
                    // Optionally provide here the jQuery element that you use as the search box for filtering the tree. simpleTree then takes control over the provided box, handling user input
                    searchBox: $('#tree_menu'),

                    // Search starts after at least 3 characters are entered in the search box
                    searchMinInputLength: 1,

                    // Number of pixels to indent each additional nesting level
                    indentSize: 25,

                    // Show child count badges?
                    childCountShow: true,

                    // Symbols for expanded and collapsed nodes that have child nodes
                    symbols: {
                        collapsed: '▶',
                        expanded: '▼'
                    },

                    // these are the CSS class names used on various occasions. If you change these names, you also need to provide the corresponding CSS class
                    css: {
                        childrenContainer: 'simpleTree-childrenContainer',
                        highlight: 'simpleTree-highlight',
                        indent: 'simpleTree-indent',
                        label: 'simpleTree-label',
                        mainContainer: 'simpleTree-mainContainer',
                        nodeContainer: 'simpleTree-nodeContainer',
                        selected: 'simpleTree-selected',
                        toggle: 'simpleTree-toggle'
                    },
                };
                debugger;
                $('#mytree').simpleTree(options, FinalData);
            }

        }

    });
</script>


