@using EnRepMobileWeb.Resources;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>::::: EnReP Business Solutions :::::</title>*@
    @Styles.Render("~/Content/Images")
    @Styles.Render("~/Content/Common")
    @Styles.Render("~/Content/DatatablesCSS")
    <!-- Bootstrap -->
</head>
<body>

    <div class="container body">
        <div class="main_container">
            
            @*<div class="top_nav top_tool">
                <div class="nav_menu" style="height:43px;">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view" style="position:fixed;">
                            <div class="navbar nav_title">

                                <a href="/Dashboard/DashboardHome" class="site_title">
                                    <img src="/Content/Images/logo.png" height="30" alt="EnReP">

                                </a>

                            </div>


                        </div>
                    </div>

                </div>
            </div>*@
            </div>
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-12" style="background-color: #ffffff; height:50px;">
                <img src="~/Content/Images/logo.png" width="auto" height="50" />
            </div>
            <div class="col-md-10 col-sm-12" style="background-color: #61affd; height:50px;"></div>

            <div class="x_panel margin_top_zero">
                <div class="x_content">
                    <div class="col-md-4 col-sm-12">
                        <label class="col-form-label label-align">
                            @Resource.Detail
                        </label>
                        <select class="form-control" id="itemNameList">
                            <option value="0">ALL</option>
                        </select>
                        @*<input type="hidden" id="ItemListName" value='@Url.Action("GetAutoCompleteItemList", "ItemList")' />*@
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Inventory management system example</h2>
                        <p>
                            Carlos starts a business selling food hampers. He has various suppliers who sell him food in bulk, some of which must then be split up and repackaged.

                            Carlos creates an Excel spreadsheet, which he updates whenever he orders more stock, assembles a hamper or completes a sale. This is his inventory management system, and he’s entirely dependent on it to know how much stock he currently has, when his food products might expire, how many hampers he can sell and more.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2>Why you need an inventory system</h2>
                        <p>
                            Any venture that handles stock will need a system to accurately track and control it. Without one, you’ll be working on an entirely ad-hoc basis — and you’ll quickly run into situations where your business is overstocked or understocked.

                            Inventory systems tell you the number of components or ingredients you need to create or assemble your final product. Without this information you may end up with excess stock, eroding your bottom line, or with insufficient stock to meet customer demand.

                            But while you will need an inventory management system, which one you choose is entirely up to you. There are countless different systems you can adopt, ranging from simple approaches to comprehensive solutions.
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
        </div>
       
   
    @Scripts.Render("~/Content/Scripts/PageJs")
    @Scripts.Render("~/Content/Scripts/GraphJs")
    @Scripts.Render("~/Content/Scripts/DatatablesJs")
    
</body>
</html>


































