@using System.Data;
@{

    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
}
<style>
    .table_border {
        border: 0.5px solid #000000;
    }

        .table_border > tbody > tr > td, .table_border > thead > tr > th {
            border: 0.5px solid #000000;
        }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

        .suppInfo > tr > td {
            padding-right: 5px;
        }
</style>
<div @*style='background: url(@BackGroundImgUrl) no-repeat ;backgroundposition: center center;'*@>
    @if (ViewBag.DocId != "105101130")
    {
        @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeader.cshtml")
    }
    <table width='100%'>
        <tr>
            <td>
                <table style='width:100%;'>
                    <tr>
                        <td style='width:15px;'></td>
                        <td style="vertical-align:top; padding:0px;">
                            <table style='width:100%;border:solid 1px #000000;'>
                                <tr>
                                    <td style='width: 55%; border-right: solid 1px #000000; vertical-align: top; paddingright: 5%; '>
                                        <table class="suppInfo" style=''>
                                            <tr>
                                                <td>
                                                    <strong> Supplier </strong>
                                                </td>

                                                <td style='font-size:12px;font-weight:normal; width:77%;'>
                                                    :  @if (ViewBag.PrintOption != null)
                                                    {
                                                        if (ViewBag.PrintOption.Rows[0]["SuppAliasName"].ToString() == "Y")
                                                        {
                                                            @ViewBag.Details.Tables[0].Rows[0]["supp_alias"].ToString()
                                                        }
                                                        else
                                                        {
                                                            @ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()
                                                    }

                                                </td>
                                                @*<td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()</td>*@

                                                @*<td style="font-weight: bold; paddingtop: 3px; paddingbottom: 3px;">
                <div style="width:40%; float:left;">Supplier</div> <div style="font-weight:normal; width:100%; float:left;">
                    @if (ViewBag.PrintOption != null)
                    {
                        if (ViewBag.PrintOption.Rows[0]["SuppAliasName"].ToString() == "Y")
                        {
                            @ViewBag.Details.Tables[0].Rows[0]["supp_alias"].ToString()
                        }
                        else
                        {
                            @ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()
                        }
                    }
                    else
                    {
                        @ViewBag.Details.Tables[0].Rows[0]["supp_name"].ToString()
                    }

                </div>
            </td>*@
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Address</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_add"].ToString()  </td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Pin Code</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_pin"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> State</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_state"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Country</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_cntry"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Contact Person</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_cont_pers"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Phone</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["cont_num"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> Email</td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_cont_email"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> GSTIN/UIN</td>
                                                <td style='font-size:12px;font-weight:bold; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_gst_no"].ToString() </td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:23%;'> PAN</td>
                                                <td style='font-size:12px;font-weight:bold; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["supp_pan_no"].ToString() </td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td style='width:40%; vertical-align:top; padding:0px;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; width:35%;'> Order Number </td>
                                                <td style='font-size:12px;font-weight:bold; width:65%;'>: @ViewBag.Details.Tables[0].Rows[0]["po_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Order Date </td>
                                                <td style='font-size:12px;font-weight:normal;'>: @ViewBag.Details.Tables[0].Rows[0]["po_dt"].ToString()</td>
                                            </tr>

                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Currency </td>
                                                <td style='font-size:12px;font-weight:normal; width:77%;'>: @ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold;'> Valid Upto </td>
                                                <td style='font-size:12px;font-weight:normal;'>: @ViewBag.Details.Tables[0].Rows[0]["ValidUpTo"].ToString()         </td>
                                            </tr>
                                            @if (ViewBag.PrintOption.Rows[0]["ShowPayTerms"].ToString().ToUpper() == "Y")
                                            {
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold;'> Payment Terms </td>
                                                    @if (ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString() == "0 days")
                                                    {
                                                        <td style='font-size:12px;font-weight:normal;'>As per Terms & Conditions </td>
                                                    }
                                                    else
                                                    {
                                                        <td style='font-size:12px;font-weight:normal;'> : @ViewBag.Details.Tables[0].Rows[0]["paymentterms"].ToString()         </td>
                                                    }
                                                </tr>
                                            }
                                                <tr>
                                                    <td style='font-size:12px;font-weight:bold; vertical-align:top;'> Destination </td>
                                                    <td style='font-size:12px;font-weight:normal; paddingright:5px; vertical-align:top; word-wrap:break-word;'> @ViewBag.Details.Tables[0].Rows[0]["destination"].ToString() </td>
                                                </tr>
                                                @*<tr>
                <td style='font-size:12px;font-weight:bold;'> Item Type </td>
            <td style='font-size:12px;font-weight:normal;'> @ViewBag.Details.Tables[0].Rows[0]["item_type"].ToString()</td>
            </tr>*@
                                            </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:15px;'></td>
                    </tr>
                    <tr>
                        <td style='width:15px;'></td>
                        <td>
                            <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:9px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                <thead>
                                    <tr>
                                        <th width='5%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                        <th width='23%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                        <th width='6%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> UOM </th>
                                        <th width='10%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> HSN </th>
                                        <th width='7%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Qty. </th>
                                        <th width='10%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Rate (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()) </th>
                                        <th width="8%" rowspan="2" style="border-right: solid 1px #000000; text-align: center;"><strong>Disc Value</strong><br /></th>
                                        @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                        {
                                            <th width='10%' rowspan="2" align='center' style='font-weight: bold; paddingtop: 5px; paddingbottom: 3px;'>Taxable Amt (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()) </th>
                                        }

                                        @*<th colspan="2" width='15%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> <strong>IGST [INR]</strong></th>
        <th width='11%' rowspan="2" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> <strong>Total Amt <br /> [INR]</strong></th>*@
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
                                        {
                                            <th colspan="2" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 3px; text-align: center;"><strong>CGST [INR]</strong><br /></th>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
                                        {
                                            <th colspan="2" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 3px; text-align: center;"><strong>SGST [INR]</strong><br /></th>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
                                        {
                                            <th colspan="2" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 3px; text-align: center;"><strong>IGST [INR]</strong><br /></th>
                                        }
                                        <th width="10%" rowspan="2" align="center"><strong>Total Amt <br /> @ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()</strong><br /></th>
                                    </tr>

                                    @*<tr>
                                            <th align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'>
                                                Rate
                                                (%)
                                            </th>
                                            <th align='center' style='font-weight: bold; paddingtop: 5px; paddingbottom: 3px;'> Amount</th>
                                        </tr>*@

                                    <tr>
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
                                        {
                                            <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Rate (%)</strong><br /></th>
                                            <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
                                        {
                                            <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Rate (%)</strong><br /></th>
                                            <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
                                        {
                                            <th width="5%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Rate (%)</strong><br /></th>
                                            <th width="9%" style="border-right: solid 1px #000000; border-top: solid 1px #000000; text-align: center; paddingtop: 5px; paddingbottom: 3px;"><strong>Amount</strong><br /></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Details.Tables[0].Rows != null)
                                    {
                                        var i = 1;
                                        DataView data = new DataView();
                                        foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                                        {
                                    <tr>
                                        <td style='text-align:center; width:5%;'>@i</td>
                                        <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>

                                            @*@if (ViewBag.PrintOption.Rows[0]["ShowProdDesc"].ToString().ToUpper() == "Y" && ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
            {
                @dr["item_name"].ToString()
            }
            else if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
            {
                @dr["CustSpecItemDesc"].ToString()
            }
            else
            {
                @dr["ItemNameOnly"].ToString()
            }
            @if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
            {
                <br /> @dr["item_tech_des"].ToString()
            }*@
                                            @if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y" && ViewBag.PrintOption.Rows[0]["ShowProdDesc"].ToString().ToUpper() == "N")
                                            {
                                                @dr["CustSpecItemDesc"].ToString()
                                            }
                                            else if (ViewBag.PrintOption.Rows[0]["ShowProdDesc"].ToString().ToUpper() == "Y" && ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                            {
                                                string itemdesc = @dr["item_name"].ToString();
                                                if (dr["CustSpecItemDesc"].ToString() != "")
                                                    itemdesc = $"{@dr["item_name"].ToString()} ({@dr["CustSpecItemDesc"].ToString()})";
                                                <span>
                                                    @itemdesc
                                                </span>
                                            }
                                            else if (ViewBag.PrintOption.Rows[0]["ItemAliasName"].ToString().ToUpper() == "Y")/*Add By Hina on 14-08-2024 */
                                            {
                                                @dr["item_alias"].ToString()
                                            }
                                            else
                                            {
                                                @dr["item_name"].ToString()
                                            }
                                            @if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                            {
                                                <br /> @dr["item_tech_des"].ToString()
                                            }

                                            @if (ViewBag.PrintOption.Rows[0]["ShowSubItem"].ToString() == "Y")
                                            {
                                                if (ViewBag.Details.Tables[4].Rows.Count > 0)
                                                {
                                                    data = ViewBag.Details.Tables[4].DefaultView;
                                                    DataTable NewDT1 = new DataTable();
                                                    data.RowFilter = "item_id='" + dr["item_id"].ToString() + "'";
                                                    NewDT1 = data.ToTable();
                                                    <table width="100%" style="font-size: 11px; paddingtop:3px;">
                                                        <tr>
                                                            <td colspan="3"></td>
                                                        </tr>
                                                        @foreach (System.Data.DataRow drsubitm in NewDT1.Rows)
                                                        {
                                                            if (dr["item_id"].ToString() == drsubitm["item_id"].ToString())
                                                            {
                                                                <tr>
                                                                    <td width="10%" style="paddingtop: 0px;paddingbottom:0px;"></td>
                                                                    <td width="45%" style="paddingtop: 0px; paddingbottom: 0px;">@drsubitm["sub_item_name"] </td>
                                                                    <td width="45%" style="text-align: right; paddingtop: 0px; paddingbottom: 0px; paddingright: 5px;"> @drsubitm["ord_qty_spec"]</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </table>
                                                }
                                            }
                                            @if (ViewBag.PrintOption.Rows[0]["ShowRemarksBlwItm"].ToString().ToUpper() == "Y")
                                            {
                                                <br />@dr["it_remarks"].ToString()
                                            }
                                            @*@dr["item_tech_des"].ToString()*@
                                        </td>
                                        <td style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["uom_id"].ToString()</td>
                                        @if (ViewBag.PrintOption.Rows[0]["ShowHsnNumber"].ToString().ToUpper() == "Y")
                                        {
                                            <td style='paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["HSN_code"].ToString()</td>
                                        }
                                        else
                                        {
                                            <td>&nbsp;</td>
                                        }

                                        <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px; vertical-align:top;'>@dr["ord_qty_base"].ToString()</td>
                                        @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                        {
                                            <td style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["item_rate"].ToString()</td>
                                        }
                                        else
                                        {
                                            <td style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["FItemRate"].ToString()</td>
                                        }


                                        <td style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["item_disc_val"].ToString()</td>
                                        @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                        {
                                            <td style='text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top;'>@dr["item_val"].ToString()</td>
                                        }

                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
                                        {
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["cgstRate"].ToString()</td>
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["cgst"].ToString()</td>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
                                        {
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["sgstRate"].ToString()</td>
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["sgst"].ToString()</td>
                                        }
                                        @if (Convert.ToDecimal(@ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
                                        {
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["igstRate"].ToString()</td>
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000; border-right: solid 1px #000000;">@dr["igst"].ToString()</td>
                                        }
                                        @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                        {
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000;">@dr["TotalAmtAftrTax"].ToString()</td>
                                        }
                                        else
                                        {
                                            <td style="text-align: right; paddingright: 5px; paddingtop: 5px; paddingbottom: 3px; vertical-align: top; border-top: solid 1px #000000; border-bottom: solid 1px #000000;">@dr["totalAfterDisc"].ToString()</td>
                                        }

                                    </tr>
                                            i++;
                                        }
                                    }
                                    @{
                                        int colspn;
                                        if (ViewBag.DocId != "105101140101")
                                        {
                                            colspn = 9;
                                        }
                                        else
                                        {
                                            colspn = 8;
                                        }
                                        //int colspn = 9;
                                        int totqtywidth = 0;
                                        int totqtywidth1 = 0;
                                        int totqtywidth2 = 0;
                                        if (ViewBag.DocId != "105101140101")
                                        {
                                            totqtywidth = 32;
                                            totqtywidth1 = 21;
                                            totqtywidth2 = 39;
                                        }
                                        else
                                        {
                                            totqtywidth = 70;
                                            totqtywidth1 = 49;
                                            totqtywidth2 = 23;
                                        }
                                        if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
                                        {
                                            colspn = colspn + 2;
                                        }
                                        if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
                                        {
                                            colspn = colspn + 2;
                                        }
                                        if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
                                        {
                                            colspn = colspn + 2;
                                            totqtywidth = totqtywidth + 8;
                                            totqtywidth1 = totqtywidth1 + 6;
                                            totqtywidth2 = totqtywidth2 - 6;
                                        }
                                    }

                                        <tr>
                                            <td colspan="@colspn">
                                                <table style="width:100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <table style="width:100%" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        @*<td width="70%" valign="top"></td>*@
                                                                        @if (ViewBag.PrintOption.Rows[0]["ShowTotalQty"].ToString().ToUpper() == "Y")
                                                                        {
                                                                            <td width="69%" valign="top">
                                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                                    <tr>
                                                                                        <td width="@totqtywidth" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000;  border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px; ">Total</td>

                                                                                        <td width="@totqtywidth1" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000;  border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px; ">@ViewBag.Details.Tables[9].Rows[0]["TotalQty"].ToString()</td>
                                                                                        <td width="@totqtywidth2" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000;  border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px; ">&nbsp;</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td width="70%" valign="top"></td>
                                                                        }
                                                                        <td width="31%" valign="top">
                                                                            <table style="width:100%" cellpadding="0" cellspacing="0" border="0">

                                                                                @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                                                                {


                                                                                    <tr>
                                                                                        @*/*Modify and ommented by Hina sharma on 17-12-2024 after discuss with vishal sir*/*@

                                                                                        <td width="60%" style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000;  border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px; "> @*Taxable Amt*@ Amount(Before Tax) <br /></td>
                                                                                        <td width="40%" style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 11px; font-weight: bold; ">@ViewBag.Details.Tables[0].Rows[0]["gr_val"].ToString()</td>
                                                                                    </tr>
                                                                                }
                                                                                    @*/*Add By Hina Sharma on 20-12-2024 to show separate Taxes*/*@
                                                                                    @*@if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalCgst"]) > 0)
            {
                foreach (var cgsttaxes in @ViewBag.Details.Tables[7].Rows)
                {
                    if (Convert.ToDecimal(ViewBag.Details.Tables[7].Rows[0]["TotalCgst"]) > 0)
                    {
                        <tr>
                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px;"> @cgsttaxes["CgstTaxName"].ToString() <br /></td>
                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 11px; font-weight: bold; ">@cgsttaxes["TotalCgst"].ToString()</td>
                        </tr>
                    }
                }
            }
            @if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalSgst"]) > 0)
            {
                foreach (var sgsttaxes in @ViewBag.Details.Tables[7].Rows)
                {
                    if (Convert.ToDecimal(ViewBag.Details.Tables[7].Rows[0]["TotalSgst"]) > 0)
                    {
                        <tr>
                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px;"> @sgsttaxes["SgstTaxName"].ToString() <br /></td>
                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 11px; font-weight: bold; ">@sgsttaxes["TotalSgst"].ToString()</td>
                        </tr>
                    }
                }
            }
            @if (Convert.ToDecimal(ViewBag.Details.Tables[6].Rows[0]["TotalIgst"]) > 0)
            {
                foreach (var igsttaxes in @ViewBag.Details.Tables[7].Rows)
                {
                    if (Convert.ToDecimal(ViewBag.Details.Tables[7].Rows[0]["TotalIgst"]) > 0)
                    {
                        <tr>
                            <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px;"> @igsttaxes["IgstTaxName"].ToString() <br /></td>
                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 11px; font-weight: bold; ">@igsttaxes["TotalIgst"].ToString()</td>
                        </tr>
                    }
                }
            }*@
                                                                                    @if (@ViewBag.Details.Tables[1].Rows.Count > 0)
                                                                                    {
                                                                                        foreach (var othercharges in @ViewBag.Details.Tables[1].Rows)
                                                                                        {
                                                                                            <tr>
                                                                                                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px;"> @othercharges["tax_name"].ToString() <br /></td>
                                                                                                <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-right: solid 1px #000000; border-bottom: solid 1px #000000; font-size: 11px; font-weight: bold; ">@othercharges["tax_val"].ToString()</td>
                                                                                            </tr>
                                                                                        }
                                                                                    }

                                                                            <tr>
                                                                                <td style="paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; border-left: solid 1px #000000; border-right: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; text-align: right; font-weight: bold; font-size: 11px;">@*Invoice*@ Total [@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString()]<br /></td>
                                                                                @if (ViewBag.Details.Tables[0].Rows[0]["order_type"].ToString() == "D")
                                                                                {
                                                                                    <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; font-size: 11px; font-weight: bold; border-right: solid 1px #000000; border-bottom: solid 1px #000000;">@ViewBag.Details.Tables[0].Rows[0]["net_val_bs"].ToString()</td>
                                                                                }
            else
            {
                                                                            <td style="text-align: right; paddingright: 5px; paddingtop: 2px; paddingbottom: 2px; font-size: 11px; font-weight: bold; border-right: solid 1px #000000; border-bottom: solid 1px #000000;">@ViewBag.Details.Tables[0].Rows[0]["net_val_spec"].ToString()</td>
            }
                                                                                </tr>

                                                                                </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        @*<tr>
                <td colspan='10' class="">
                    <table class="" cellpadding='0' cellspacing='0' border="0" style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                        <tr>
                            <td width="615">&nbsp;</td>
                            <td width="164" class="td_border_left td_border_bottom" style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>Sub-Total</td>
                            <td width='172' class="td_border_left td_border_bottom" style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["gr_val"].ToString()</td>

                        </tr>
                        @if (ViewBag.Details.Tables[1].Rows != null)
                        {
                            foreach (DataRow dr in ViewBag.Details.Tables[1].Rows)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="td_border_left td_border_bottom" style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_name"].ToString()</td>
                                    <td class="td_border_left td_border_bottom " style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@dr["tax_val"].ToString()</td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr></tr>
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td class="td_border_left " style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>Grand Total (@ViewBag.Details.Tables[0].Rows[0]["curr"].ToString())</td>
                            <td class="td_border_left " style='text-align:right;paddingright:5px;paddingtop:5px;paddingbottom:3px;font-weight:bold;'>@ViewBag.Details.Tables[0].Rows[0]["net_val_spec"].ToString()</td>

                        </tr>
                    </table>
                </td>

            </tr>*@
                                    </tbody>
                            </table>
                        </td>
                        <td style='width:15px;'></td>
                    </tr>
                    <tr>
                        <td style='width:15px;'></td>
                        <td>
                            <table styl='width:100%;'>
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:77%;font-weight:bold;'>Amount in Words:</td></tr>
                                <tr><td style='font-size:12px;font-weight:normal;padding:0px 0px;width:60%;'>@ViewBag.Details.Tables[0].Rows[0]["net_val_spec_inwords"].ToString()</td></tr>
                                @* changed to spec from bs by Suraj Maurya on 31-03-2025 *@
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:60%;font-weight:bold;'>Terms & Conditions :</td></tr>
                                <tr>
                                    <td style='width:60%;'>
                                        <table style='font-size:12px;font-weight:normal;width:100%;'>
                                            @if (ViewBag.Details.Tables[2].Rows.Count > 0)
                                            {
                                                var i = 1;
                                                foreach (DataRow dr in ViewBag.Details.Tables[2].Rows)
                                                {
                                                    <tr><td>@i . @dr["term_desc"].ToString()</td></tr>
                                                    i++;
                                                }
                                            }
                                            <tr><td></td></tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr><td style='font-size:12px;font-weight:normal;padding:10px 0px 0px 0px;width:60%;font-weight:bold;'>Remarks :</td></tr>
                                @foreach (var abc in ViewBag.remarks1)
                                {
                                    <tr>
                                        <td style='width: 60%; font-size: 12px; font-weight: normal;'>
                                            @*@ViewBag.Details.Tables[0].Rows[0]["po_rem"].ToString()*@
                                            @abc
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td style='width:15px;'></td>
                    </tr>
                    @if (ViewBag.PrintOption.Rows[0]["ShowDeliverySchedule"].ToString().ToUpper() == "Y")
                    {
                        <tr>
                            <td style='width:15px;'></td>
                            <td style="font-size: 20px; text-align: center; font-weight: bold; text-decoration: underline;">
                                Delivery Schedule
                            </td>
                            <td style='width:15px;'></td>
                        </tr>
                        <tr>
                            <td style='width:15px;'></td>
                            <td>
                                <table class="table_border" cellspacing='0' cellpadding='0' style='width:100%;font-size:12px;font-weight:normal;padding:0px 0px;line-height:18px;font-weight:normal;'>
                                    <thead>
                                        <tr>
                                            <th width='5%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> S.NO.</th>
                                            <th width='31%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Goods Description </th>
                                            <th width='13%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Quantity </th>
                                            <th width='13%' align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'> Delivery Date </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Details.Tables[3] != null)
                                        {
                                            var i = 1;
                                            foreach (DataRow dr in ViewBag.Details.Tables[3].Rows)
                                            {
                                                <tr>
                                                    <td style='text-align:center; width:5%;'> @i</td>
                                                    <td style='paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>
                                                        @if (ViewBag.PrintOption.Rows[0]["ShowProdDesc"].ToString().ToUpper() == "Y" && ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                        {
                                                            @dr["item_name"].ToString()
                                                        }
                                                        else if (ViewBag.PrintOption.Rows[0]["ShowCustSpecProdDesc"].ToString().ToUpper() == "Y")
                                                        {
                                                            @dr["CustSpecItemDesc"].ToString()
                                                        }
                                                        else
                                                        {
                                                            @dr["ItemNameOnly"].ToString()
                                                        }
                                                        @if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString().ToUpper() == "Y")
                                                        {
                                                            <br /> @dr["item_tech_des"].ToString()
                                                        }
                                                    </td>
                                                    <td style='text-align:right; paddingright:5px;paddingtop:5px;paddingbottom:3px;'> @Convert.ToDecimal(dr["delv_qty"]).ToString(QtyDigit)</td>
                                                    <td style='text-align: left; paddingright: 5px; paddingleft: 5px; paddingtop: 5px; paddingbottom: 3px;'>@dr["sch_date"].ToString()</td>
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td style='width:15px;'></td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintFooter.cshtml")
</div>