@model EnRepMobileWeb.MODELS.BusinessLayer.TermAndConditionTemplate.TermAndConditionTemplate_Model
@using EnRepMobileWeb.Resources;

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/TermAndConditionTemplate/TermAndConditionTemplate.js"></script>
@{
    var i = 0;
}
@{

    // var rowId = 0;
    var Disable = true;
    if (Model.TransType != null)
    {
        if (Model.TransType.ToString() == "Update")
        //if (Session["TransType"].ToString() == "Update")
        {
            //if (Session["Command"].ToString() == "Edit")
            if (Model.Command.ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            //if (Session["Command"].ToString() == "Refresh")
            if (Model.Command.ToString() == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }
    if (Model.Message != null)
    {
        //if (ViewBag.Message == "Duplicate")
        if (Model.Message == "Duplicate")
        {
            Disable = false;
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script type="text/javascript">
            if ("@str" == "Save") {
                $("#hdnSavebtn").val(null);
                    swal("", $("#savemsg").text(), "success");
           }
            if ("@str" == "Deleted") {
                $("#hdnSavebtn").val(null);
            swal("", $("#deletemsg").text(), "success");
           }
            if ("@str" == "Used") {
                $("#hdnSavebtn").val(null);
            swal("", $("#DependencyExist").text(), "warning");
           }
            if ("@str" == "Duplicate") {
                $(document).ready(function () {
                    $("#hdnSavebtn").val(null);
                $("#TemplateName").css("border-color", "red");
                document.getElementById("vmTemplateName").innerHTML = $("#valueduplicate").text();
            })
            }
        </script>
    }

}
<title>@Model.Title</title>
<style>
    .select2-dropdown {
        min-width: 240px;
    }
</style>
@using (Html.BeginForm("SaveTermAndConditionTemplate", "TermAndConditionTemplate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken(){
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var BtnName = Session["TTBtnName"].ToString();
                                var BtnName = Model.BtnName.ToString();
                                switch (BtnName)
                                {
                                    case "AddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Update"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" isabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "Edit":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }



                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Update"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "Refresh":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Update"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "ToViewDetail":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158004")
                                                    {

                                                        <li>
                                                            <button class="delete"
                                                                    onclick="return DeleteTermCondication(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>

                                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                    }
                                                }
                                            }



                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return SaveBtnCkick()" name="Command" value="Update"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103158001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="DisableActStat();" type="submit" id="btn_add" name="Command" value="Add"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103158004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li>
                                            <span>
                                                @Resource.CreatedBy <br>
                                                <b>@Html.DisplayFor(model => model.create_id)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.Createdon <br>
                                                <b>@Html.DisplayFor(model => model.creat_dt)</b>
                                            </span>
                                        </li>

                                        <li>
                                            <span>
                                                @Resource.AmendedBy <br>
                                                <b>@Html.DisplayFor(model => model.mod_id)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.AmendedOn <br>
                                                <b>@Html.DisplayFor(model => model.mod_dt)</b>
                                            </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.TemplateDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-md-3 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.TemplateName <span class="required">*</span></label>
                                                    @if (Disable)
                                                    {
                                                        @Html.TextBoxFor(model => model.TemplateName, new { @id = "TemplateName", @class = "form-control optional", @maxlength = "25", onchange = "OnChangeTamplateName()", onkeypress = "OnChangeTamplateName()", @disabled = "disabled", @autocomplete = "off", @name = "TemplateName", @type = "text", @placeholder = @Resource.TemplateName })
                                                        @Html.HiddenFor(model => model.TemplateId)
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.TemplateName, new { @id = "TemplateName", @class = "form-control optional", @maxlength = "25", onchange = "OnChangeTamplateName()", onkeypress = "OnChangeTamplateName()", @autocomplete = "off", @name = "TemplateName", @type = "text", @placeholder = @Resource.TemplateName })
                                                        @Html.HiddenFor(model => model.TemplateId)
                                                    }

                                                    @Html.ValidationMessageFor(model => model.TemplateName, "", new { @id = "vmTemplateName" })
                                                    <span id="SpanTemplateName" class="error_message" style="display: none;"></span>
                                                    @*<input autocomplete="off" class="form-control optional" id="TemplateName" maxlength="25" name="TemplateName" onchange="OnChangeTamplateName()" onkeypress="OnChangeTamplateName()" placeholder="Template Name" type="text" value=""><input data-val="true" data-val-number="The field TemplateId must be a number." data-val-required="The TemplateId field is required." id="TemplateId" name="TemplateId" type="hidden" value="0">
                                                        <span class="field-validation-valid" data-valmsg-for="TemplateName" data-valmsg-replace="true" id="vmTemplateName"></span>*@
                                                </div>
                                                <div class="custom-control custom-switch col-md-1 col-sm-12 margin25 right_padding" style="margin-bottom:0px; margin-left:20px; float:right;">
                                                    @if (Model.create_id == null)
                                                    {
                                                        @Html.CheckBoxFor(model => model.TemplateStatus, new { @class = "custom-control-input col-md-6 col-sm-12 margin-switch", onclick = "", @id = "TamplateStatus", @disabled = "disabled" })
                                                    }
                                                    else
                                                    {
                                                        if (Disable)
                                                        {
                                                            @Html.CheckBoxFor(model => model.TemplateStatus, new { @class = "custom-control-input col-md-6 col-sm-12 margin-switch", onclick = "", @id = "TamplateStatus", @disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(model => model.TemplateStatus, new { @class = "custom-control-input col-md-6 col-sm-12 margin-switch", onclick = "", @id = "TamplateStatus" })
                                                        }

                                                    }

                                                    <label class="custom-control-label col-md-6 col-sm-12" for="TamplateStatus" style="padding: 3px 0px;"> @Resource.Active</label>
                                                    @*<input checked="checked" class="custom-control-input col-md-6 col-sm-12 margin-switch" data-val="true" data-val-required="The TemplateStatus field is required." disabled="disabled" id="TamplateStatus" name="TemplateStatus" onclick="" type="checkbox" value="true"><input name="TemplateStatus" type="hidden" value="false">
                                                        <label class="custom-control-label col-md-6 col-sm-12" for="TamplateStatus" style="padding: 3px 0px;"> Active</label>*@
                                                </div>
                                                <div class="col-md-12 col-sm-12 no-padding">
                                                    <div class="col-md-3 col-sm-12">
                                                        <label class="table_label col-form-label label-align">@Resource.TermsAndConditions <span class="required">*</span></label>
                                                        @*<input id="TermsAndConditions" class="form-control" autocomplete="off" type="text" name="TermsAndConditions" placeholder="@Resource.TermsAndConditions">*@
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.TermsAndConditions, new { @id = "TermsAndConditions", @class = "form-control optional", @maxlength = "300", onchange = "OnChangeTermsAndConditions()", onkeypress = "OnChangeTermsAndConditions()", @disabled = "disabled", @autocomplete = "off", @name = "TermsAndConditions", @type = "text", @placeholder = @Resource.TemplateName })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.TermsAndConditions, new { @id = "TermsAndConditions", @class = "form-control optional", @maxlength = "300", onchange = "OnChangeTermsAndConditions()", onkeypress = "OnChangeTermsAndConditions()", @autocomplete = "off", @name = "TermsAndConditions", @type = "text", @placeholder = @Resource.TermsAndConditions })
                                                            @Html.HiddenFor(model => model.TermsAndConditions, new { @id = "HdnTermsAndConditions" })
                                                            @Html.ValidationMessageFor(model => model.TermsAndConditions, "", new { @id = "vmTermsAndConditions" })
                                                        }
                                                        @Html.HiddenFor(model => model.TermsConditions, new { @id = "TermsConditions" })
                                                        @Html.HiddenFor(model => model.BranchMapping, new { @id = "BranchDetail" })
                                                        @Html.HiddenFor(model => model.TermAndConditionForDuplicate, new { @id = "TermAndConditionForDuplicate" })

                                                        <span id="SpanTermsAndConditions" class="error_message" style="display: none;"></span>
                                                    </div>
                                                    <div class="col-md-1 col-sm-12 margin25" id="divUpdate">
                                                        <div class="col-md-6 col-sm-12 " id="divAddNew">
                                                            @if (Disable)
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <a href="#">
                                                                    <div class="plus_icon1 margin5" id="Btn_AddNew"> <i class="fa fa-plus" id="" onclick="OnClickAddTermCnsdsn()" title="Add New"></i> </div>
                                                                </a>
                                                            }
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <a href="#" style="color:#ffffff;">
                                                                <div class="plus_icon1 margin5" id="ResetTD" style="display:none;">
                                                                    <i class="fa fa-refresh" id="" aria-hidden="true" onclick="ResetTaxDetails()" title="@Resource.Update"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="x_panel margin20">
                                                            <div class="x_content">
                                                                <div class="card-box table-responsive dy_table">
                                                                    <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                        <table id="TaxCalculatorTbl" class="table table-bordered">
                                                                            <thead>
                                                                                <tr class="sticky-header">
                                                                                    <th width="3%"> &nbsp;</th>
                                                                                    <th width="3%"> &nbsp;</th>
                                                                                    <th width="5%"> @Resource.SrNo</th>
                                                                                    <th>@Resource.TermsAndConditions</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="TbodyTaxDetailList">
                                                                                @if (ViewBag.termtamplate != null)
                                                                                {
                                                                                    foreach (System.Data.DataRow dr in ViewBag.termtamplate.Rows)
                                                                                    {
                                                                                        i = i + 1;
                                                                                        <tr>
                                                                                            <td class="center">
                                                                                                @if (Disable)
                                                                                                {
                                                                                                    <i class="fa fa-trash red" style="filter: grayscale(100%)" aria-hidden="true" id="" title="@Resource.Delete" onclick="return functionConfirm(event)" ></i>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <i class="fa fa-trash red" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete" onclick="return functionConfirm(event)"></i>
                                                                                                }
                                                                                            </td>
                                                                                            <td class="center">
                                                                                                @if (Disable)
                                                                                                {
                                                                                                    <i type="submit" class="fa fa-edit" style="filter: grayscale(100%)" id="" onclick="EditCostCenter(event)" aria-hidden="true" title="@Resource.Edit"></i>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <i type="submit" class="fa fa-edit" id="EditTermcondaction" onclick="EditCostCenter(event)" aria-hidden="true" title="@Resource.Edit"></i>
                                                                                                }
                                                                                            </td>
                                                                                            <td class="sorting_1" id="ROWNO">@i</td>
                                                                                            <td id="cc_name1">@dr["term_desc"].ToString()</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                            <tfoot>

                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            @Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView_New.cshtml")
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}
