@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.MIS.MaterialTracking.MaterialTracking_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SubContracting/MIS/MaterialTracking/MaterialTracking.js"></script>
@*<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>*@
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<title>@Model.Title</title>
<div class="row">
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!-- Material Detail -->
    <div id="MaterialDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            <div id="MaterlDtlBatchLotWise">
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMaterialDetail.cshtml")
            </div>
        </div>
    </div>
    <!-- Issued Quantity Detail -->
    <div id="MISIssuedQuantityDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISIssuedQuantityDetail.cshtml")
        </div>
    </div>

    <!-- Consumed Quantity Detail -->
    <div id="MISConsumedQuantityDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISConsumedQuantityDetail.cshtml")
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div class="x_panel mar_pad1">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @*<div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                        <ul>
                            <li>
                                <a class="tooltip-test" href="@Url.Action("AddMaterialTrackingDetail","MaterialTracking")" title="@Resource.AddNew">
                                    <img src="~/Content/Images/addgreen.png" width="28" id="Btn_AddNewPO" height="28" alt="Add">
                                </a>
                            </li>
                        </ul>
                    </div>*@

                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">

                        <div class="col-md-12 col-sm-12 padding_zero">
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.ContractorName</label>
                                @*@Html.DropDownListFor(model => model.Supp_ID, new SelectList(Model.SupplierNameList, "supp_id", "supp_name"), new { @class = "form-control", id = "MtrlTrackListSupplier" })
        <input type="hidden" id="SuppNameList" value='@Url.Action("GetAutoCompleteSearchSuppList", "MaterialTracking")' />*@
                                @Html.DropDownListFor(model => model.Supp_ID, new SelectList(Model.SupplierNameList, "supp_id", "supp_name"),
                                     new { @class = "form-control", @id = "ddlMtrlTrackListSupplier", @name = "SuppliersList" })

                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Operation @Resource.Output @Resource.Product</label>
                                <select class="form-control" id="ddl_MTProductNameListPage" name="ddl_MTProductNameListPage" onchange="ddl_MTProductNameListPage_onchange()">
                                </select>
                                @Html.HiddenFor(model => model.OpOut_ItemId, new { @id = "MThdn_product_idListPage" })

                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Job @Resource.Order @Resource.Number</label>
                                @*<select class="form-control" id="ProductionOrderNumber" name="Status">
                                        <option value="CN">Job Order Number</option>
                                        <option value="CN1">Job Order Number 1</option>
                                        <option value="CN2">Job Order Number 2</option>
                                    </select>*@

                                @Html.DropDownListFor(model => model.JobOrdNo, new SelectList(Model.JobOrdList, "JobOrdnoId", "JobOrdnoVal"),
                                              new { @class = "form-control", @id = "MTJob_Ord_number" })

                            </div>
                            <div class="col-md-3 col-sm-12 no-padding">
                                <div class="col-md-5 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.FromDate</label>
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ToDate</label>
                                    @if (Model.ToDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search"  onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div id="Itm_Details_List" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="tbodyMISMaterialTrackingListDetails" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMaterialTrackingList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
