<div style="width:100%; background-color:#000000">
    <div style="width:100%; margin:0 auto; background-color:#ffffff;">
        <table style="width:100%; paddingleft:20px; paddingright:20px;">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td>
                                @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td style="padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellpadding="0" cellspacing="0" width="100%" style="font-size: 14px;">
                                    <tr>
                                        <td style="font-weight:bold;"> GL Account :</td>
                                        <td>&nbsp;</td>
                                        <td> @ViewBag.PrintGL.Rows[0]["acc_name"]</td>
                                        <td width="450">&nbsp;</td>
                                        <td style="font-weight:bold;">Opening Balance </td>
                                        <td width="10"> &nbsp;</td>
                                        <td>@ViewBag.PrintGL.Rows[0]["op_bal"].ToString()</td>
                                        <td width="50">Dr</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td style="padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px;">
                                    <tr>
                                        <td> @ViewBag.FromDate</td>
                                        <td><strong>To</strong></td>
                                        <td width="10">&nbsp;</td>
                                        <td>@ViewBag.ToDate</td>
                                        <td width="400">&nbsp;</td>
                                        <td style="font-weight:bold;">Closing Balance</td>
                                        <td width="10"> &nbsp;</td>
                                        <td> @ViewBag.PrintGL.Rows[ViewBag.PrintGL.Rows.Count - 1]["closing_bal"]</td>
                                        <td> Dr</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="3%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">S.NO.</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Voucher Number</th>
                                            <th width="80" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Voucher <br /> Date</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; width: 150px; font-weight: bold; text-align: center; ">Narration</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Opening Balance</th>
                                            <th width="5%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Balance Type</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Debit Amount</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Credit Amount</th>
                                            <th style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Closing Balance </th>
                                            <th width="5%" style="font-weight: bold; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Balance Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PrintGL != null)
                                        {
                                            var rowno = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.PrintGL.Rows)
                                            {
                                                <tr>
                                                    <td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @rowno
                                                    </td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["vou_no"]
                                                    </td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["vou_dt"]
                                                    </td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["narr"]
                                                    </td>
                                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["op_bal"]
                                                    </td>
                                                    <td style="text-align:center; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["op_type"]
                                                    </td>
                                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["dr_amt"]
                                                    </td>
                                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["cr_amt"]
                                                    </td>
                                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                                        @dr["closing_bal"]
                                                    </td>
                                                    <td style=" text-align:center; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">
                                                        @dr["closing_type"]
                                                    </td>
                                                </tr>
                                                rowno = rowno + 1;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*<tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:85%;">
                                    <img src="@Server.MapPath("~/Content/Images/Logo1.png")" alt="Logo" width="90" height="auto" />
                                </td>
                                <td style="font-size: 11px; font-weight:normal;padding: 10px 0px; line-height:18px; width:15%; text-align:right; font-style:italic;">
                                    16-09-2022 13:10pm
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;text-align: center;font-weight: bold;padding: 0px 0px; text-decoration:underline;">
                        Alaska Exports
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight:normal;padding: 10px 0px; line-height:18px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>

                                <td style=" text-align:center;">
                                    <strong>
                                        General Ledger
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>*@
            @*<tr>
                    <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">


                    </td>
                </tr>*@
            @*<tr>
                    <td style="fontsize: 12px; font-weight:normal;padding: 0px 0px 10px 0px; line-height:18px;">

                    </td>
                </tr>*@
            @*<tr>
                    <td>

                    </td>
                </tr>*@
            @*<tr>
                    <td style="font-size: 12px; font-weight:normal;padding: 250px 0px 0px 0px; line-height:18px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <strong>
                                        GL Account :
                                    </strong>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    NAVEEN TRADERS
                                </td>
                                <td width="460">
                                    &nbsp;
                                </td>
                                <td>
                                    <strong>
                                        Opening Balance
                                    </strong>
                                </td>
                                <td width="10">
                                    &nbsp;
                                </td>
                                <td>
                                    0.00
                                </td>
                                <td>
                                    Dr
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; font-weight:normal;padding: 10px 0px; line-height:18px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td width="600">
                                    &nbsp;
                                </td>
                                <td>
                                    <strong>
                                        Closing Balance
                                    </strong>
                                </td>
                                <td width="10">
                                    &nbsp;
                                </td>
                                <td>
                                    12100
                                </td>
                                <td>
                                    Dr
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                            <thead>
                                <tr>
                                    <th width="5%" style="border-right: solid 1px #000000;">
                                        <strong>
                                            S.NO.
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Voucher Number
                                        </strong>
                                    </th>
                                    <th width="90" style="border-right: solid 1px #000000;">
                                        <strong>
                                            Voucher <br /> Date
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Narration
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Opening Balance
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Balance Type
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Debit Amount
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Credit Amount
                                        </strong>
                                    </th>
                                    <th style="border-right: solid 1px #000000;">
                                        <strong>
                                            Closing Balance
                                        </strong>
                                    </th>
                                    <th>
                                        <strong>
                                            Balance Type
                                        </strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center; width:5%;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        SV000001
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        03-01-2022
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        Sale Invoice generated
                                    </td>
                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        34760.00
                                    </td>
                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        34760.00
                                    </td>
                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        34760.00
                                    </td>
                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        100.00
                                    </td>
                                    <td style="text-align:right; padding-right:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">
                                        34760
                                    </td>
                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">
                                        Dr
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>*@
            <tr>
                @*<td style="font-size: 11px; font-weight:normal;padding: 10px 0px; line-height:18px; width:15%; text-align:right; font-style:italic;">
                        Page 1
                    </td>*@
            </tr>
        </table>
    </div>
</div>


