@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.GeneralLedger.GeneralLedgerModel
@using EnRepMobileWeb.Resources;

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<style>
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    #divtrialbaldetailstable .dataTables_length {
        position: relative;
        z-index: 100;
        width: 15%;
    }

    .datatable-buttons5_filter {
        position: absolute;
        z-index: 100;
    }

    .dt-buttons {
        margin-left: 20%;
        width: 10%;
    }


    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }

    #datatable-buttons5_wrapper .buttons-csv {
        margin-left: -50%;
        /* #datatable-buttons5_wrapper .btn-group a:first-child, #datatable-buttons5_wrapper .btn-group a:nth-child(3), #datatable-buttons5_wrapper .btn-group a:nth-child(4) {
        display:inline-block;
    }
    #datatable-buttons5_wrapper .buttons-copy{
        display: none !important;
    }
    #datatable-buttons5_wrapper a.buttons-print {
        display:none !important;
    }
    #datatable-buttons5_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;*/
    }
</style>



@*@using (Html.BeginForm("GenratePdfFile", "GeneralLedger", FormMethod.Post))*@
@using (Html.BeginForm("GeneralLedgerPrintCsv", "GeneralLedger", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!-- Partial General Ledger Voucher Detail Month Wise -->
        <div id="VoucherDetailMW" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:800px;">
                <div id="gl_mwvoucherdetails">
                    @Html.Partial("~/Areas/Common/Views/Comn_PartialGeneralLedgerVoucherDetailMW.cshtml")
                </div>
            </div>
        </div>
        <!-- Cost Center Detail -->
        <div id="CostCenterDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:800px;">
                <div id="gl_ccdeatilsdis">
                    @Html.Partial("~/Areas/Common/Views/Cmn_PartialCostCenterDetailDisplay.cshtml")
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-10 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />@*/*Add by Hina sharma on 19-11-2024 to loader*/*@
                    <div class="col-md-2 col-sm-12 no-padding mb-1">
                        <label class="col-form-label label-align col-md-4 col-sm-12 no-padding">@Resource.ShowAs</label>
                        <select class="form-control col-md-8 col-sm-12" id="GLShowAs" onchange="onchangeShowAs()" name="Status">
                            <option value="TW">Transaction Wise</option>
                            <option value="MW">Month Wise</option>
                        </select>
                    </div>
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <div class="col-md-12 col-sm-12 padding_zero" style="margin-top:3px;margin-bottom:12px;">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.GLAccount <span id="spanstr" class="required" style="display:none;">*</span> </label>
                                    <select class="form-control" id="acc_name" name="acc_name" onchange="OnChnage_AccName()">
                                        <option selected="selected" value="0">ALL</option>
                                    </select>
                                    <input type="hidden" id="GLListName" value='@Url.Action("GetAutoCompleteGLList", "GeneralLedger")' />
                                    @Html.ValidationMessageFor(model => model.GLAccount, String.Empty, new { @style = "color:red;!important", @id = "vmacc_name" })
                                </div>
                                <div class="col-md-3 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.AccountGroup</label>
                                    <select class="form-control" id="acc_group" name="acc_group">
                                        <option selected="selected" value="0">ALL</option>
                                    </select>
                                    <input type="hidden" id="GLAccGrp" value='@Url.Action("GetAutoCompleteAccGrp", "GeneralLedger")' />
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.AccountType</label>
                                    @Html.DropDownListFor(model => model.AccountType, new SelectList(new List<Object>
                        {
                          new { value = "0", text = "---Select---" },
                          new { value = "7", text = "Bank"  },
                          new { value = "1", text = "Customer"  },
                          new { value = "8" , text = "Cash" },
                          new { value = "4" , text = "Employee" },
                          new { value = "9", text = "Exchange Fluctuation"  },
                          new { value = "12" , text = "Interbranch" },
                          new { value = "11" , text = "Others" },
                          new { value = "10" , text = "Retained Earning" },
                          new { value = "2" , text = "Supplier" },
                          new { value = "3", text = "Service Provider"  },
                          new { value = "5", text = "Transporter"  },
                          new { value = "6" , text = "Tax" },
                          new { value = "13", text = "Tax Authority"  }
                        },
                          "value",
                          "text"
                          ), new { @id = "acc_type", @class = "form-control" })
                                </div>
                                <div class="col-md-1 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Currency</label>
                                    <div id="CurrencyDiv">
                                        @Html.DropDownListFor(model => model.curr, new SelectList(Model.currList, "curr_id", "curr_name"), new { @class = "form-control", @id = "curr", onchange = "OnchangeCurrency()" })
                                        @Html.HiddenFor(model => model.curr_Name, new { @id = "curr_Name" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 pl-0 multiselectBranch">
                                    <label class="col-form-label label-align">@Resource.Branch</label>
                                    <div id="div_ddl_brlist">
                                        @Html.Partial("~/Areas/Common/Views/Comn_PartialBranchList.cshtml")
                                    </div>
                                   
                                    <span class="error_message" id="span_br" style="display: none;"></span>
                                </div>
                                <br />
                                <div class="col-md-4 col-sm-12 no-padding">
                                    <div class="col-md-5 col-sm-12">
                                        <label class="col-form-label label-align">@Resource.FromDate</label>
                                        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @min = @ViewBag.FromFyMindate.ToString(), @max = @ViewBag.ToFyMaxdate.ToString() })
                                        @Html.HiddenFor(model => model.BrList, new {@id= "hdnBrList" })
                                    </div>
                                    <div class="col-md-5 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">@Resource.ToDate</label>
                                        @*/*Commented and changes by Hina on 14-08-2024*/*@
                                        @*@Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @min = @ViewBag.FromFyMindate.ToString(), @max = @ViewBag.ToFyMaxdate.ToString(), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })*@
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @min = @ViewBag.ToFyMindate.ToString(), @max = @ViewBag.ToFyMaxdate.ToString(), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })

                                    </div>
                                    <div class="col-md-2 col-sm-12 pl-0">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterPQListData()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel mar_pad1 ">
                        <div class="x_content mar_pad1">
                            <div class="card-box table-responsive dy_table">
                                <div id="div_GLtble" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                    @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialGeneralLedger.cshtml")*@
                                </div>
                                @Html.HiddenFor(model => model.PrintData, new { @id = "GLPrintData" })
                                @Html.HiddenFor(model => model.searchValue, new { @id = "searchValue" })
                                @Html.HiddenFor(model => model.hdnPDFPrint, new { @id = "hdnPDFPrint" })
                                @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnCSVPrint" })

                                <div id="div_GLtbleMon" class="sticky-table sticky-ltr-cells sb-container container-example1" style="display:none;">
                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialGeneralLedgerMonthWise.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table id="tbl_hdnfylist" style="display:none;">
                    <tbody>
                        @if (ViewBag.fylist != null)
                        {
                            foreach (System.Data.DataRow row in ViewBag.fylist.Rows)
                            {
                                <tr>
                                    <td>@row["comp_id"].ToString()</td>
                                    <td>@row["br_Id"].ToString()</td>
                                    <td id="fystdt">@row["fin_st_date"].ToString()</td>
                                    <td id="fyenddt">@row["fin_end_date"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/GeneralLedger/GeneralLedgerJS.js"></script>
<!-- page content end -->