<style>   
    .td_tim {        
        paddingtop: 5px;
        paddingbottom: 5px;        
        font-weight: bold;
        text-align: right;        
        font-size: 9px;
        font-weight: normal;
        text-align: left;
    }
    .td_head {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        padding: 0px 0px;
        text-decoration: underline;
    }
    .td_subhead {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        padding: 10px 0px;
        /*line-height: 18px;*/
    }
    .td_comp_subhead {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
       /* padding: 10px 0px;*/
        /*line-height: 15px;*/
    }
    .td_branch_label {
        text-align: right;
        font-size: 14px;
        font-weight: normal;
        paddingright: 10px;
        paddingtop: 5px;
        /* line-height: 15px;*/
    }
    .td_branch_value {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        paddingtop: 5px;
        /* line-height: 15px;*/
    }
</style>
@{ 
    string lpath = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.FLogoPath))
    {
        lpath = ViewBag.FLogoPath.ToString();
    }
}

<table width="100%">
    <tr>
        <td style="width:80%;">
            @*<img src="@Server.MapPath(@ViewBag.CompLogoDtl.Rows[0]["logo"].ToString())" alt="Logo" width="100" height="auto" />*@
            <img src="@lpath" alt="Logo" width="150" height="auto" />
            @*<img src="C:\EnReP\05032024\EnReP_New\Application\EnRepMobileWeb\Content\Images\DragonExport_Logo.gif" alt="Logo" width="100" height="auto" />*@
        </td>
        @*<td class="td_tim"><strong>Print Date</strong></td>*@
    <td class="td_tim">
        Print Date :  @System.DateTime.Now.ToString("dd-MM-yyyy hh:mm tt") 
    </td>
    </tr>
    <tr>
        <td colspan="2" class="td_head">
            @ViewBag.CompLogoDtl.Rows[0]["Comp_nm"]
        </td>
    </tr>
    @if (ViewBag.DocumentMenuId == "105104135105"|| ViewBag.DocumentMenuId == "105104135101") /**Added By Hina Sharma on 21-05-2025 for General Leadger,Trial Balance*/
    {
        if (!string.IsNullOrEmpty(ViewBag.CompLogoDtl.Rows[0]["br_nm_list"].ToString()))
        {
            <tr>
                <td colspan="2" align="center">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td width="100%" class="td_branch_value" valign="top" style="text-align:center; font-weight:normal;"><span style="font-weight:bold;"> Branch</span> : @ViewBag.CompLogoDtl.Rows[0]["br_nm_list"]</td>
                          
                        </tr>
                    </table>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2" align="center">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td width="100%" class="td_branch_value" valign="top" style="text-align:center; font-weight:normal;"><span style="font-weight:bold;"> Branch</span> : @ViewBag.CompLogoDtl.Rows[0]["br_nm"]</td>

                        </tr>
                    </table>

                    @*<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                        <tr>
                            <td width="38%" class="td_branch_label">&nbsp;</td>
                            <td width="10%" class="td_branch_label">Branch</td>
                            <td width="20%" class="td_branch_value">: @ViewBag.CompLogoDtl.Rows[0]["br_nm"]</td>
                            <td width="32%" class="td_branch_label">&nbsp;</td>
                        </tr>
                    </table>*@
                </td>
            </tr>
        }
    }
    @if (ViewBag.DocumentMenuId == "105104135135"|| ViewBag.DocumentMenuId == "105104135140" || ViewBag.DocumentMenuId == "105104135115"|| ViewBag.DocumentMenuId == "105104135120") /**Added By Hina Sharma on 21-05-2025 for Cash Book,Bank Book,AR,AP*/
    {

        <tr>
            <td colspan="2" align="center">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%" class="td_branch_value" valign="top" style="text-align:center; font-weight:normal;"><span style="font-weight:bold;"> Branch</span> : @ViewBag.CompLogoDtl.Rows[0]["br_nm"]</td>

                    </tr>
                </table>
                @*<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
                <td width="38%" class="td_branch_label">&nbsp;</td>
                <td width="10%" class="td_branch_label">Branch</td>
                <td width="20%" class="td_branch_value">: @ViewBag.CompLogoDtl.Rows[0]["br_nm"]</td>
                <td width="32%" class="td_branch_label">&nbsp;</td>
            </tr>
        </table>*@
            </td>
        </tr>

    }
    @if (ViewBag.DocumentMenuId == "105104115110" || ViewBag.DocumentMenuId == "105104115105" || ViewBag.DocumentMenuId == "105104115120" || ViewBag.DocumentMenuId == "105104115115" || ViewBag.DocumentMenuId == "105104135115" || ViewBag.DocumentMenuId == "105104135120"
        || ViewBag.DocumentMenuId == "105104135135" || ViewBag.DocumentMenuId == "105104135140") /**Added By Hina Sharma on 17-10-2024 for BR,CR,BP,CP,{AR,AP on 18-04-2025},Cash Book,Bank Book **/
    {
        <tr>
            <td colspan="2" class="td_comp_subhead">
                @ViewBag.CompLogoDtl.Rows[0]["compaddress"]
            </td>
        </tr>
    }
    <tr>
        <td colspan="2" class="td_subhead">
            @ViewBag.Title
        </td>
    </tr>
    <tr>
        <td colspan="2" class="td_subhead">@ViewBag.DocName</td>

    </tr>
</table>


