@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Contractor @Resource.Information</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body">
        <table class="table table-bordered" id="ItemDetailsTbl">
            <thead>
                <tr>
                    <th width="25%">@Resource.ItemCode</th>
                    <td>
                        <input id="ItemCode" class="form-control" autocomplete="off" type="text" name="ItemCode" placeholder="@Resource.ItemCode"  onblur="this.placeholder = '@Resource.ItemCode'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="25%">@Resource.ItemDescription</th>
                    <td>
                        <input id="ItemDescription" class="form-control" autocomplete="off" type="text" name="ItemDescription" placeholder="@Resource.ItemDescription"  onblur="this.placeholder = '@Resource.ItemDescription'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="25%">@Resource.PackingDetail</th>
                    <td>
                        <input id="PackingDetail" class="form-control" autocomplete="off" type="text" name="PackingDetail" placeholder="@Resource.PackingDetail"  onblur="this.placeholder = '@Resource.PackingDetail'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="25%">@Resource.Weight</th>
                    <td>
                        <input id="Weight" class="form-control" autocomplete="off" type="text" name="Weight" placeholder="@Resource.Weight"  onblur="this.placeholder = '@Resource.Weight'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="25%">@Resource.remarks</th>
                    <td>
                        <textarea id="detailremarks"  class="form-control remarksmessage" maxlength="100" name="detailremarks"  placeholder="@Resource.remarks"  readonly></textarea>
                    </td>

                </tr>

                @*<tr>
            <td colspan="2">
                <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 30px;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
                </div>
            </td>
        </tr>*@
            </thead>
            <tbody>
            </tbody>
        </table>
        @*<table>
            <thead>
                <tr>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                    <th>Buyer Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                    <td>Buyer Information</td>
                </tr>
            </tbody>

        </table>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>
