@using EnRepMobileWeb.Resources;
<!-- Save As Template -->
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.CostCenterDetail</h2>       
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">
                @Resource.GLAccount
            </label>
            <input id="" class="form-control" autocomplete="off" type="text" name="GLAccount" placeholder="@Resource.GLAccount" disabled>
        </div>
        <div class="col-md-4 col-sm-12 pop_right ">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.Amount
            </label>
            <input id="" class="form-control num_right" autocomplete="off" type="text" name="Amount" placeholder="0000.00" disabled>
        </div>
        <div class="clear"></div>
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.CostCenter @Resource.Type
            </label>
            <select class="form-control" id="">
                <option value="0">---Select---</option>
                <option value="0">Cost Center Type </option>
                <option value="0">Cost Center Type 1 </option>
                <option value="0">Cost Center Type 2</option>

            </select>
        </div>
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.CostCenter
            </label>
            <select class="form-control" id="">
                <option value="0">---Select---</option>
                <option value="0">Cost Center Type </option>
                <option value="0">Cost Center Type 1 </option>
                <option value="0">Cost Center Type 2</option>

            </select>
        </div>
        <div class="col-md-3 col-sm-12 pop_right ">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.Amount
            </label>
            <input id="" class="form-control num_right" autocomplete="off" type="text" name="Amount" placeholder="0000.00" disabled>
        </div>
        <div class="col-md-1 col-sm-12 pop_left pop_right">
            <a href="#" style="float:right;">
                <div class="plus_icon1" style="margin-top:30px;" id=""> <i class="fa fa-plus" onclick="" id="" title="Add New"></i> </div>
            </a>
        </div>
        <div class="card-box table-responsive dy_table margin15">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="5%">&nbsp;</th>
                            <th>@Resource.CostCenter @Resource.Type</th>
                            <th width="5%">&nbsp;</th>
                            <th width="5%">&nbsp;</th>
                            <th>@Resource.CostCenter</th>
                            <th>@Resource.Amount</th>
                            <th>@Resource.Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td rowspan="2">Department</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>Admin</td>
                            <td>1800</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>Finance</td>
                            <td>1200</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td rowspan="2">Project</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>Sales</td>
                            <td>2000</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>P1</td>
                            <td>2000</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td rowspan="2">Vehicle</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>P2</td>
                            <td>1000</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>P3</td>
                            <td>2000</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td>&nbsp;</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>DL3CD1234</td>
                            <td>2200</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td>&nbsp;</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>DL6AZ6574</td>
                            <td>300</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td>&nbsp;</td>
                            <td class="red center sorting_1"> <i class="fa fa-trash deleteAttrName" aria-hidden="true" id="" title="Delete"></i></td>
                            <td class="center edit_icon"> <i class="fa fa-edit editAttrName" aria-hidden="true" id="" title="Edit"></i></td>
                            <td>2500</td>
                            <td>&nbsp;</td>
                            
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pop_left pop_right ">
            <div class="tableFixHead height30VH">
                <table class="table table-bordered margin15" style="" id="">
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td colspan="4" width="80%" class="num_right"><strong> @Resource.TotalTax </strong></td>

                            <td class="num_right"><strong><span id=""></span></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm small_btn " id="" onclick="OnClickResetBtn();">@Resource.Reset</button>
        @*<button type="button" id="TaxSaveTemplate" onclick="OnClickSaveAsTemplate()" class="btn btn-primary btn-sm small_btn " >@Resource.SaveAsTemplate</button>*@
        @*<button type="button" class="btn btn-primary btn-sm" id="TaxSaveTemplate">@Resource.SaveAsTemplate</button>*@
        @*<button type="button" class="btn btn-primary btn-sm small_btn " id="ReplicateOnAllItemsBtn" onclick="OnClickReplicateOnAllItems();">@Resource.ReplicateOnAllItems</button>*@
        <button type="button" class="btn btn-primary btn-sm small_btn " id="" onclick="OnClickSaveAndExit();">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm small_btn " id="" data-dismiss="modal" onclick="OnClickDiscardAndExitBtn();">@Resource.DiscardAndExit</button>
    </div>
</div>



