@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2><span id="SpanItemDescription"></span></h2>
        <button type="button" class="close" data-dismiss="modal" id="btnCrossItemInfo">&times;</button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" id="ItemDetailsTbl">
            <thead>
                <tr>
                    <th width="15%">@Resource.OEMNo</th>
                    <td width="35%">
                        <input id="Txt_ItmOEMNo" class="form-control" autocomplete="off" type="text" name="Txt_ItmOEMNo" placeholder="OEM No."  onblur="this.placeholder='OEM No.'" disabled="">
                    </td>
                    <th width="15%">@Resource.Alias @Resource.Name</th>
                    <td width="35%">
                        <input id="Txt_ItmSampCode" class="form-control" autocomplete="off" type="text" name="Txt_ItmSampCode" placeholder="Sample Code"  onblur="this.placeholder='Sample Code'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="15%">@Resource.RefNo</th>
                    <td width="35%">
                        <input id="Txt_ItmRefNo" class="form-control" autocomplete="off" type="text" name="Txt_ItmRefNo" placeholder="Ref No."  onblur="this.placeholder='Ref No.'" disabled="">
                    </td>
                    <th width="15%">@Resource.HSNCode  </th>
                    <td width="35%">
                        <input id="Txt_ItmHSNCode" class="form-control" autocomplete="off" type="text" name="Txt_ItmHSNCode" placeholder="HSN Code"  onblur="this.placeholder='HSN Code'" disabled="">
                    </td>
                </tr>
                <tr>
                    <th width="15%">@Resource.Technical <br /> @Resource.Description</th>
                    <td width="35%">                        
                        <textarea id="TechnicalDescription" class="form-control remarksmessage" autocomplete="off" type="text" name="TechnicalDescription" maxlength="500" placeholder="@Resource.TechnicalDescription" disabled=""></textarea>
                    </td>
                    <th width="15%">@Resource.Technical <br/> @Resource.Specification  </th>
                    <td width="35%">
                        <textarea id="TechnicalSpecification" class="form-control remarksmessage" autocomplete="off" type="text" name="TechnicalSpecification" maxlength="500" placeholder="@Resource.Technical @Resource.Specification" disabled=""></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="no-padding">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="15%">@Resource.WeightInKg</th>
                                <td><input id="WeightInKgItem" class="form-control num_right" autocomplete="off" type="text" name="WeightInKg" placeholder="0000.00" disabled=""></td>
                                <th>@Resource.Net @Resource.Weight</th>
                                <td><input id="NetWeightItem" class="form-control num_right" autocomplete="off" type="text" name="NetWeight" placeholder="0000.00" disabled=""></td>
                                <th>@Resource.Gross @Resource.Weight</th>
                                <td><input id="GrossWeightItem" class="form-control num_right" autocomplete="off" type="text" name="GrossWeight" placeholder="0000.00" disabled=""></td>
                            </tr>
                        </table>
                    </td>
</tr>
                <tr>
            <td colspan="4">
                <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 30px;" id="DivMyCarousel">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
                </div>
            </td>
        </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btnCloseItemInfo">@Resource.Close</button>
    </div>
</div>
