@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.OtherChargesCalculator</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-3 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">@Resource.OtherCharges <span class="required">*</span> </label>
            <select class="form-control" id="OtherCharge_DDL" onchange="OnChangeOC();" style="margin-bottom: 0px;">
            </select>
            <span id="SpanOCName" class="error_message"></span>
        </div>
        <div class="col-md-2 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">@Resource.Currency</label>
            <input id="OCCurrency" class="form-control" readonly maxlength="20" type="text" name="OCCurrency" placeholder="0000.00" style="margin-bottom: 0px;">

        </div>
        <div class="col-md-2 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">@Resource.ExchangeRate <span class="required">*</span></label>
            <input id="OCconv_rate" maxlength="3" readonly class="form-control num_right" type="text" name="OCconv_rate" placeholder="0000:00">
        </div>
        <div class="col-md-2 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align"> @Resource.Amount  @Resource.InSpecific</label>
            <input id="TxtOCAmt" class="form-control date num_right" autocomplete="off" maxlength="10" onchange="OnChangeOCAmount();" onkeypress="return CmnAmtFloatVal(this,event);" type="text" name="TxtOCAmt" placeholder="0000.00" style="margin-bottom: 0px;">
            <span id="SpanOCAmt" class="error_message"></span>
        </div>
        <div class="col-md-2 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">@Resource.Amount @Resource.InBase</label>
            <input id="TxtOCAmtInBs" readonly class="form-control date num_right" autocomplete="off" maxlength="10" type="text" name="TxtOCAmtInBs" placeholder="0000.00" style="margin-bottom: 0px;">
            <span id="" class="error_message"></span>
        </div>
        <div class="col-md-1 col-sm-12 pop_right pop_left">
            <a href="#">
                <div class="plus_icon1 margin25"> <i class="fa fa-plus" id="AddOCDetailBtn" onclick="AddOCDetail()" title="Add New"></i> </div>
            </a>
        </div>
        <div class="clear"></div>
        @*<div class="tableFixHead height30VH">
        <table class="table table-bordered margin15" style="" id="Tbl_OC_Deatils">
            <thead>
                <tr>*@
    <div class="card-box table-responsive dy_table margin10">
        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
            <table id="Tbl_OC_Deatils" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                <thead>
                    <tr class="sticky-header">
                        <th width="4%">&nbsp;</th>
                        <th class="center" width="40%">@Resource.OtherCharges</th>
                        <th hidden="hidden">&nbsp;</th>
                        <th>@Resource.Currency</th>
                        <th>@Resource.ExchangeRate</th>
                        <th>@Resource.Amount <br /> @Resource.InSpecific</th>
                        <th>@Resource.Amount <br /> @Resource.InBase</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr class="total">
                        <td>&nbsp;</td>
                        <td class="num_right"><strong> @Resource.TotalOtherCharges</strong></td>
                        @*<td class="num_right"><strong>0000.00</strong></td>*@
                        <td></td>
                        <td></td>
                        <td class="num_right"><strong><span id="Total_OC_Amount"></span></strong></td>
                        <td class="num_right"><strong><span id="Total_OC_AmountInBs"></span></strong></td>
                    </tr>
                </tfoot>
            </table>
            <div style="padding:0px; padding-top:15px; display:none;">
                <table class="table table-bordered" style="" id="ht_Tbl_OC_Deatils">
                    <thead>
                        <tr>
                            <th>@Resource.OtherCharges</th>
                            <th>@Resource.Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn_OC" onclick="OnClickSaveAndExit_OC_Btn();">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit_OC" data-dismiss="modal" onclick="OnClickDiscardAndExit_OC_Btn();">@Resource.DiscardAndExit</button>
        </div>
    </div>
</div>