@using EnRepMobileWeb.Resources;
@{ 
    var ID = "";
    if (ViewBag.ForTDSTemplate == "TDS")
    {
        ID = "TDS";
    }
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.SaveAsTemplate</h2>
        <span class="close1 Closebtn" >&times;</span>
        @*<button type="button" class="close1" data-dismiss="modal1">&times;</button>*@
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-12 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">
                @Resource.TemplateName
            </label>
            <input id="TemplateName@(ID)" class="form-control" autocomplete="off" onkeypress="OnchangeTemplateName()" onchange="OnchangeTemplateName()" type="text"
                   name="TemplateName@(ID)" placeholder="@Resource.TemplateName">
            
            <span id="TemplateNameErrorMsg@(ID)" class="error_message"></span>
        </div>    
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn1@(ID)"  onclick="return SaveTaxTemplateFromCalc('@ID')">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm " id="TaxExitAndDiscard1@(ID)" >@Resource.DiscardAndExit</button>
        </div>
    </div>
<script src="~/Content/Scripts/Common/Cmn_SaveAsTemplate.js"></script>

