@model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.DomesticSaleInvoice.DomesticSaleInvoice_Model
@using EnRepMobileWeb.Resources;
@{
    var Disable = true;
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    decimal TotalTaxAmnt = 0;

    if (Session["TransType"] != null)
    {
        if (Session["TransType"].ToString() == "Update")
        {
            if (Session["Command"].ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (Session["Command"].ToString() == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }
}
<!-- Save As Template -->
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<style>
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1060; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content1 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close1 {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close1:hover,
        .close1:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<script>
    $(document).ready(function () {
        debugger;
        BindTaxTemplatelist();
        HideShowTaxLevel();
    });
</script>


<div id="SaveAsTemplate" class="modal1 modal fade" role="dialog">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="TaxCalculatorPop">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_SaveAsTemplate.cshtml")
        </div>
    </div>
</div>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.TaxCalculator</h2>
        <input type="hidden" id="HiddenRowSNo" />
        <input type="hidden" id="TaxCalcItemCode" />
        <input type="hidden" id="TaxCalcGRNNo" />
        <input type="hidden" id="TaxCalcGRNDate" />
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">
                @Resource.ItemName
            </label>

            @*<input id="Tax_ItemName" class="form-control" autocomplete="off" type="text" name="Tax_ItemName" placeholder="@Resource.ItemName" disabled>*@

            @Html.TextBoxFor(model => model.TaxCalci_ItemName, new { @class = "form-control", @disabled = "disabled", @autocomplete = "off", @id = "Tax_ItemName", @name = "Tax_ItemName", @placeholder = "ItemName", type = "text" })
            @Html.HiddenFor(model => model.TaxCalci_ItemID, new { @id = "TaxCalcItemCode" })
        </div>
        <div class="col-md-4 col-sm-12 pop_right ">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.AssessableValue
            </label>
            @*<input id="Tax_AssessableValue" class="form-control num_right" autocomplete="off" type="text" name="Tax_AssessableValue" placeholder="0000.00" disabled>*@
            @Html.TextBoxFor(model => model.TaxCalci_AssessableValue, new { @class = "form-control num_right", @autocomplete = "off", @disabled = "disabled", @id = "Tax_AssessableValue", @name = "Tax_AssessableValue", @placeholder = "0000.00", type = "text" })

        </div>
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align" title="Purchase Unit Of Measure">
                @Resource.Template
            </label>
            @*<select class="form-control" id="Tax_Template">
                    <option value="0">---Select---</option>
                </select>*@
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                @Html.DropDownListFor(model => model.TaxCalci_Tax_Template, new SelectList(new List<Object>
                                                                {
                                                               new { value = "0", text = "---Select---"  },

                                                            },
                                                                                  "value",
                                                                                  "text"
                                                               ), new { @class = "form-control table_label", @id = "Tax_Template" })
            }
            else
            {
                @Html.DropDownListFor(model => model.TaxCalci_Tax_Template, new SelectList(new List<Object>
                                                                                {
                                                                               new { value = "0", text = "---Select---"  },

                                                                            },
                                                                                                  "value",
                                                                                                  "text"
                                                                               ), new { @class = "form-control table_label", @id = "Tax_Template", @disabled = "disabled" })

            }
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align"> @Resource.TaxName <span class="required">*</span></label>
            @*<select class="form-control" id="Tax_Type" onchange="OnChangeTaxType();" style="margin-bottom: 0px;"></select>*@
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                @Html.DropDownListFor(model => model.TaxCalci_TaxName, new SelectList(Model.TaxCalciTaxNameList, "tax_id", "tax_name"), new { @class = "form-control", @onchange = "OnChangeTaxType(this)", @id = "Tax_Type" })
                @Html.ValidationMessageFor(model => model.TaxCalci_TaxName, String.Empty, new { @style = "color:red;!important; position:relative;", @id = "vmTax_name" })
                @Html.HiddenFor(model => model.TaxCalci_TaxNameID, new { @id = "hdn_Tax_nameID" })
                <span id="SpanTaxName" class="error_message"></span>
            }
            else
            {
                @Html.DropDownListFor(model => model.TaxCalci_TaxName, new SelectList(Model.TaxCalciTaxNameList, "tax_id", "tax_name"), new { @class = "form-control", @onchange = "OnChangeTaxType(this)", @id = "Tax_Type", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.TaxCalci_TaxName, String.Empty, new { @style = "color:red;!important; position:relative;", @id = "vmTax_name" })
                @Html.HiddenFor(model => model.TaxCalci_TaxNameID, new { @id = "hdn_Tax_nameID" })
                <span id="SpanTaxName" class="error_message"></span>
            }
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
            @*<input id="Tax_Percentage" class="form-control num_right" onchange="OnChangeTaxPercentage();" maxlength="5" onkeypress="return FloatValuePerOnly(this,event);" autocomplete="off" type="text" name="Tax_Percentage" placeholder="0000.00" style="margin-bottom: 0px;">*@
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                @Html.TextBoxFor(model => model.TaxCalci_Tax_Percentage, new { @class = "form-control num_right", @onchange = "OnChangeTaxPercentage();", @maxlength = "5", @id = "Tax_Percentage", @onkeypress = "return FloatValuePerOnly(this,event);", @name = "Tax_Percentage", @placeholder = "0000.00", type = "text", style = "margin-bottom: 0px;" })
                <span id="SpanTaxPercent" class="error_message"></span>
            }
            else
            {
                @Html.TextBoxFor(model => model.TaxCalci_Tax_Percentage, new { @class = "form-control num_right", @onchange = "OnChangeTaxPercentage();", @maxlength = "5", @id = "Tax_Percentage", @onkeypress = "return FloatValuePerOnly(this,event);", @name = "Tax_Percentage", @disabled = "disabled", @placeholder = "0000.00", type = "text", style = "margin-bottom: 0px;" })
                <span id="SpanTaxPercent" class="error_message"></span>

            }
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.Level <span class="required">*</span></label>
            @*<select class="form-control table_label" id="Tax_Level" onchange="OnChangeTaxPercentage();">
                    <option value="0">---Select---</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>*@
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                @Html.DropDownListFor(model => model.TaxCalci_Level, new SelectList(new List<Object>
                                                                {
                                                               new { value = "0", text = "---Select---"  },
                                                                new { value = "1", text = "1"  },
                                                                new { value = "2" , text = "2" },
                                                                new { value = "3", text = "3"  },
                                                                new { value = "4" , text = "4" },
                                                                new { value = "5", text = "5"  },
                                                                new { value = "6" , text = "6" },
                                                                new { value = "7", text = "7"  },
                                                                new { value = "8" , text = "8" },
                                                                new { value = "9", text = "9"  },
                                                                new { value = "10" , text = "10" },
                                                                },
                                                                                  "value",
                                                                                  "text"
                                                               ), new { @class = "form-control table_label", @id = "Tax_Level", @onchange = "OnChangeTaxPercentage()" })

                <span id="SpanTaxLevel" class="error_message"></span>
            }
            else
            {
                @Html.DropDownListFor(model => model.TaxCalci_Level, new SelectList(new List<Object>
                                                                {
                                                               new { value = "0", text = "---Select---"  },
                                                                new { value = "1", text = "1"  },
                                                                new { value = "2" , text = "2" },
                                                                new { value = "3", text = "3"  },
                                                                new { value = "4" , text = "4" },
                                                                new { value = "5", text = "5"  },
                                                                new { value = "6" , text = "6" },
                                                                new { value = "7", text = "7"  },
                                                                new { value = "8" , text = "8" },
                                                                new { value = "9", text = "9"  },
                                                                new { value = "10" , text = "10" },
                                                                },
                                                                                  "value",
                                                                                  "text"
                                                               ), new { @class = "form-control table_label", @id = "Tax_Level", @onchange = "OnChangeTaxPercentage()", @disabled = "disabled" })

                <span id="SpanTaxLevel" class="error_message"></span>
            }
        </div>
        <div class="col-md-3 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.ApplyOn <span class="required">*</span></label>
            @*<select class="form-control table_label" id="Tax_ApplyOn" onchange="OnChangeTaxPercentage();">
                    <option value="I">Immediate Level</option>
                    <option value="C">Cummulative</option>
                </select>*@
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                @Html.DropDownListFor(model => model.TaxCalci_ApplyOn, new SelectList(new List<Object>
                                                                {
                                                               //new { value = "0", text = "---Select---"  },
                                                                new { value = "I", text = "Immediate Level"  },
                                                                new { value = "C" , text = "Cummulative" },
                                                                },
                                                                                  "value",
                                                                                  "text"
                                                               ), new { @class = "form-control table_label", @id = "Tax_ApplyOn", @onchange = "OnChangeTaxPercentage()" })

            }
            else
            {
                @Html.DropDownListFor(model => model.TaxCalci_ApplyOn, new SelectList(new List<Object>
                                                                                {
                                                                               //new { value = "0", text = "---Select---"  },
                                                                                new { value = "I", text = "Immediate Level"  },
                                                                                new { value = "C" , text = "Cummulative" },
                                                                                },
                                                                                                  "value",
                                                                                                  "text"
                                                                               ), new { @class = "form-control table_label", @id = "Tax_ApplyOn", @onchange = "OnChangeTaxPercentage()", @disabled = "disabled" })

            }
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.TaxAmount <span class="required">*</span></label>
            @*<input id="Tax_Amount" class="form-control num_right" readonly="readonly" autocomplete="off" type="text" name="Tax_Amount" placeholder="0000.00" style="margin-bottom: 0px;">*@
            @Html.TextBoxFor(model => model.TaxCalci_Tax_Amount, new { @class = "form-control num_right", @readonly = "readonly", @autocomplete = "off", @id = "Tax_Amount", @name = "Tax_Amount", @placeholder = "0000.00", type = "text" })

            <span id="SpanTaxAmounterr" class="error_message"></span>
        </div>
        <div class="col-md-1 col-sm-12 pop_left pop_right">
            @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
            {
                <a href="#" style="float:right;">
                    <div class="plus_icon1" style="margin-top:30px;" id="Icon_AddNewRecord"> <i class="fa fa-plus" onclick="OnClickAddTaxAmt();" id="Btn_AddNew" title="Add New"></i> </div>
                </a>
            }
            else
            {

            }
        </div>
        <div class="col-md-11 col-sm-12 pop_left pop_right ">
            <div class="tableFixHead height30VH">
                <table class="table table-bordered margin15" style="" id="TaxCalculatorTbl">
                    <tbody>
                        @if (ViewBag.TaxCalculatorDetail != null)
                        {
                            var rowIdx = 0;
                            foreach (System.Data.DataRow Row in ViewBag.TaxCalculatorDetail.Rows)
                            {
                                rowIdx++;
                                <tr id="@rowIdx">
                                    <td id="taxname" width="18%">@Row["tax_name"].ToString()</td>
                                    <td hidden="hidden" id="taxid">@Row["tax_id"].ToString()</td>
                                    <td class="num_right" width="18%" id="taxrate">@Row["tax_rate"].ToString()</td>
                                    <td width="19%" class='center' id="taxlevel">@Row["tax_level"].ToString()</td>
                                    <td width="27%" id="taxapplyonname">@Row["tax_apply_Name"].ToString()</td>
                                    <td align="right" width="18%" id="taxval">@Convert.ToDecimal(Row["tax_val"]).ToString(ValDigit)</td>
                                    <td hidden="hidden" id="taxapplyon">@Row["tax_apply_on"].ToString()</td>

                                </tr>
                                TotalTaxAmnt = TotalTaxAmnt + Convert.ToDecimal(Row["tax_val"]);
                            }

                        }
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td colspan="4" width="80%" class="num_right"><strong> @Resource.TotalTax </strong></td>

                            <td class="num_right"><strong><span id="TotalTaxAmount">@TotalTaxAmnt.ToString(ValDigit)</span></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @if ((Session["DocumentStatus"].ToString() == "D" && Session["Command"].ToString() == "Edit") || Session["Command"].ToString() == "New")
        {
            <button type="button" class="btn btn-primary btn-sm" id="TaxResetBtn" onclick="OnClickResetBtn();">@Resource.Reset</button>
            <button type="button" id="TaxSaveTemplate" onclick="OnClickSaveAsTemplate()" class="btn btn-primary btn-sm small_btn ">@Resource.SaveAsTemplate</button>
            <button type="button" class="btn btn-primary btn-sm" id="ReplicateOnAllItemsBtn" onclick="OnClickReplicateOnAllItems();">@Resource.ReplicateOnAllItems</button>
            <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn" onclick="OnClickSaveAndExit();">@Resource.SaveAndExit</button>
            <button type="button" class="btn btn-primary btn-sm" id="TaxExitAndDiscard" data-dismiss="modal" onclick="OnClickDiscardAndExitBtn();">@Resource.DiscardAndExit</button>
        }
        else
        {

        }
    </div>
</div>



<script>
    // Get the modal
    var modal = document.getElementById("SaveAsTemplate");
    var modal1 = document.getElementById("ItemCalculate");
    var btn = document.getElementById("TaxSaveTemplate");
    var btnExit = document.getElementById("TaxExitAndDiscard1");
    var span = document.getElementsByClassName("Closebtn")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        OnClickSaveAsTemplate();
        //$(".modal-backdrop").css("z-index", "1061");
        //$(".TaxCalculatorPop").css("z-index", "10654584");
        $("#SaveAsTemplate").css("padding-right", "9px");
        $("#SaveAsTemplate").attr("aria-modal", true);
        $("#SaveAsTemplate").addClass("show");
    }
    span.onclick = function () {
        modal.style.display = "none";

    }
    btnExit.onclick = function () {
        modal.style.display = "none";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {

        if (event.target == modal1) {
            modal.style.display = "none";
            $(".modal-backdrop").remove();
        }
    }
</script>
