@*@if (Session["POILSearch"] != null)
    {
        if (Session["POILSearch"].ToString() == "POIL_Search")
        {
            @model EnRepMobileWeb.MODELS.ApplicationLayer.Procurement.DomesticPurchaseOrder.DPOListModel
        }
    }
    @if (Session["SOILSearch"] != null)
    {
        if (Session["SOILSearch"].ToString() == "SOIL_Search")
        {
            @model EnRepMobileWeb.MODELS.ApplicationLayer.SalesAndDistribution.SalesAndDistributionModels.LSODetailModel
        }
    }*@

@using EnRepMobileWeb.Resources;
@using System.Data;
@{ 
    if(Model.DocumentMenuId== "105103125" || Model.DocumentMenuId == "105103145110")
    {
        ViewBag.Doc_no = ViewBag.SO_no;
        ViewBag.Doc_dt = ViewBag.SO_dt;
    }
    if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101140101" || Model.DocumentMenuId == "105101136")//Modifyed by shubham maurya on 25-11-2024 add "105101136"
    {
        Model.QtyDigit= ViewBag.QtyDigit;
        ViewBag.Doc_no =Model.PO_No;
        ViewBag.Doc_dt = Model.PO_Date;
    }

}
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<style>
    .OrderHistory #datatable-buttons10_filter {
        right: 20% !important;
    }

    .OrderHistory .buttons-csv {
        margin-left: 22% !important;
    }

    .buttons-csv {
        display: none;
    }
    #tbl_trackingDetail .item_name { width:25% !important;}
    #tbl_trackingDetail .sr_no {
        width: 3% !important;
    }

</style>
<div class="modal-content" id="">
    <div class="modal-header">
        <h2> @Resource.Order @Resource.Tracking @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align">@Resource.OrderNumber</label>
                <input id="" class="form-control" value="@ViewBag.Doc_no" autocomplete="off" type="text" name="OrderNumber" placeholder="@Resource.OrderNumber" disabled="">
            </div>
            <div class="col-md-2 col-sm-12">
                <label class="col-form-label label-align">
                    @Resource.OrderDate
                </label>
                <input value="@ViewBag.Doc_dt" disabled class="form-control" data-val="true" data-val-date="" id="" name="OrderDate" placeholder="dd-MM-yyyy" type="date">
            </div>
            <div class="card-box table-responsive dy_table margintop10">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="tbl_trackingDetail" class="table table-striped table-bordered rowhighlighttbl width1200">
                        <thead>
                            <tr class="sticky-header">
                                <th class="sr_no">@Resource.SrNo</th>
                                <th class="item_name">@Resource.ItemName</th>
                                <th>@Resource.UOM</th>

                                <th>@Resource.Order <br />  @Resource.Quantity</th>

                                @if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101140101" || Model.DocumentMenuId == "105101136")//Modifyed by shubham maurya on 25-11-2024 add "105101136"
                                {
                                    <th> @Resource.DeliveryNote <br /> @Resource.Quantity</th>
                                    <th>@Resource.GRN <br /> @Resource.Quantity</th>
                                }
                                @if (Model.DocumentMenuId == "105103125" || Model.DocumentMenuId == "105103145110")
                                {
                                    <th>@Resource.Planned <br />  @Resource.Quantity</th>
                                    <th>@Resource.Produced <br /> @Resource.Quantity</th>
                                    <th> @Resource.Packed <br /> @Resource.Quantity</th>
                                    <th>@Resource.Shipped <br /> @Resource.Quantity</th>
                                }
                                <th>@Resource.Invoiced<br /> @Resource.Quantity</th>
                                @if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101140101" || Model.DocumentMenuId == "105101136")//Modifyed by shubham maurya on 25-11-2024 add "105101136"
                                {
                                    <th>@Resource.Return <br /> @Resource.Quantity</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.ItemDetailsList != null)
                            {
                                var SrNo = 1;
                                foreach (DataRow dr in ViewBag.ItemDetailsList.Rows)
                                {
                                    <tr>
                                        <td>@SrNo</td>
                                        <td>@dr["item_name"]</td>
                                        @if (Model.DocumentMenuId == "105103125" || Model.DocumentMenuId == "105103145110" || Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101140101" || Model.DocumentMenuId == "105101136")//Modifyed by shubham maurya on 25-11-2024 add "105101136"
                                        {
                                            <td>@dr["uom_name"]</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["ord_qty_spec"]).ToString(Model.QtyDigit)</td>
                                        }
                                        else
                                        {
                                            <td>@dr["hsn_no"]</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["ord_qty"]).ToString(Model.QtyDigit)</td>
                                        }


                                        @if (Model.DocumentMenuId == "105103125" || Model.DocumentMenuId == "105103145110")
                                        {
                                            <td class="num_right">@Convert.ToDecimal(dr["plan_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["prod_acc_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["pack_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["ship_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["inv_qty"]).ToString(Model.QtyDigit)</td>
                                        }
                                        @if (Model.DocumentMenuId == "105101130" || Model.DocumentMenuId == "105101140101" || Model.DocumentMenuId == "105101136")//Modifyed by shubham maurya on 25-11-2024 add "105101136"
                                        {
                                            <td class="num_right">@Convert.ToDecimal(dr["dn_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["grn_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["inv_qty"]).ToString(Model.QtyDigit)</td>
                                            <td class="num_right">@Convert.ToDecimal(dr["prt_qty"]).ToString(Model.QtyDigit)</td>

                                        }

                                    </tr>
                                    SrNo = SrNo + 1;
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>

            @*<div class="col-md-55 ">
            <label class="col-form-label label-align">@Resource.ItemName</label>
            <input id="" class="form-control" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.ItemName" onblur="this.placeholder = '@Resource.ItemName'" disabled="">

        </div>
        <div class="col-md-55 ">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input id="" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder = '@Resource.UOM'" disabled="">
            <input type="hidden" id="hfHistoryUOM" />
        </div>
        <div class="col-md-55 ">
            <label class="col-form-label label-align">
                @Resource.Packed @Resource.Quantity
            </label>
            <input id="" class="form-control num_right" autocomplete="off" value="" type="text" name="PackedQuantity" placeholder="0000.00" disabled>

        </div>
        <div class="col-md-55 ">
            <label class="col-form-label label-align">
                @Resource.Shipped @Resource.Quantity
            </label>
            <input id="" class="form-control date num_right" autocomplete="off" value="" type="text" name="grn_qty" placeholder="0000.00" disabled>

        </div>
        <div class="col-md-55 ">
            <label class="col-form-label label-align">
                @Resource.Invoiced @Resource.Quantity
            </label>
            <input id="" class="form-control date num_right" autocomplete="off" value="" type="text" name="inv_qty" placeholder="0000.00" disabled>

        </div>*@
            @*<div class="col-md-1 col-sm-12" style="max-width:6%;">
            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="OnclickHistorySearchBtn();"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>*@
        </div>          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        @*@if (Session["ILSearch"] == null)
        {
            //if (Session["ILSearch"].ToString() == "IL_Search")
            //{
                @Scripts.Render("~/Content/Scripts/DataTableRefreshJs")
                @Scripts.Render("~/Content/Scripts/DatatablesJs")
                Session["ILSearch"] = null;
           // }
        }*@
