@using EnRepMobileWeb.Resources;
@{

    var DocMenuId = ViewBag.DocumentMenuId != null ? ViewBag.DocumentMenuId : "";

    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    if (DocMenuId == "105101140125")
    {
        QD = Convert.ToInt32(Session["ExpImpQtyDigit"].ToString());
    }
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }

}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.VarianceDetail </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        @*<form id="VarianceDetailTracking" data-parsley-validate class="form-horizontal form-label-left">*@
        <div class="row">
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.GRNNumber</label>
                <input type="text" id="GRNNumber" class="form-control" readonly>
            </div>
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.GRNDate</label>
                <input type="text" id="GRNDate" class="form-control" readonly>
                <input type="text" hidden id="GRN_Date_hdn">
            </div>
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.ItemName</label>
                <input type="text" id="GrnItemName" class="form-control" readonly>
                <input type="text" hidden id="GrnItemId">
            </div>
            <div class="col-md-3 col-sm-12 available_right ">
                <label class="col-form-label label-align" for="">@Resource.UOM</label>
                <input type="text" id="UOM" class="form-control" readonly>
            </div>
            @*<div class="col-md-3 col-sm-12 available_right ">
                    <label class="col-form-label label-align" for="">@Resource.InvoiceQuantity</label>
                    <input type="text" id="InvoiceQuantity" class="form-control" readonly>
                </div>*@
        </div>
        @*</form>*@
        <div class="card-box table-responsive dy_table">
            <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                <table id="Table_VarianceDetailTracking" class="table table-striped table-bordered margin5 rowhighlighttbl" style="width:100%;">
                    <thead>
                        <tr class="sticky-header">
                            <th>@Resource.Billed <br /> @Resource.Quantity</th>
                            <th>@Resource.Received <br /> @Resource.Quantity</th>
                            <th>@Resource.QCAccepted <br /> @Resource.Quantity</th>
                            <th>@Resource.QCRejected <br /> @Resource.Quantity</th>
                            <th>@Resource.QCReworkable <br /> @Resource.Quantity</th>
                            @if (DocMenuId == "105101145" || DocMenuId == "105101147")
                            {
                                <th>@Resource.Short <br /> @Resource.Quantity</th>
                                <th>@Resource.Sample <br /> @Resource.Quantity</th>
                            }
                            <th width="25%">@Resource.DeliveryNote <br /> @Resource.Detail</th>
                            <th>@Resource.Invoice <br /> @Resource.Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="">
                        @if (ViewBag.VarienceDetail != null)
                        {
                            var subitmDisable = ViewBag.PopSubItem == "Y" ? "" : "disabled";

                            var srno = 1;
                            foreach (System.Data.DataRow dr in ViewBag.VarienceDetail.Rows)
                            {
                                if (DocMenuId == "105101145" || DocMenuId == "105101147")
                                {
                                    <tr>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdBill_qty">@Convert.ToDecimal(dr["bill_qty"]).ToString(QtyDigit)</span>@*Changed By Suraj on 07-10-2023 for Shift data to span from div to target data with id*@
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemBillQty">
                                                <button type="button" id="SubItemBillQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('BillQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdRec_qty">@Convert.ToDecimal(dr["recd_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemRecdQty">
                                                <button type="button" id="SubItemRecdQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('RecdQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdAcc_qty">@Convert.ToDecimal(dr["rec_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemAccQty">
                                                <button type="button" id="SubItemAccQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('AccQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-7 lpo_form num_right no-padding">
                                                <span id="V_tdRej_qty">@Convert.ToDecimal(dr["rej_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemRejQty">
                                                <button type="button" id="SubItemRejQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('RejQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>

                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator" id="BtnReasonForReject" onclick="return onClickReasonRemarks(event,'reject')" data-toggle="modal" data-target="#ReasonRemarks" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ReasonForRejection">  </button>
                                                <span hidden id="ReasonForReject">@dr["reason_rej"].ToString()</span>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-7 lpo_form num_right no-padding">
                                                <span id="V_tdRew_qty">@Convert.ToDecimal(dr["rework_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemRewQty">
                                                <button type="button" id="SubItemRewQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('RewQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                            <div class="col-sm-1 i_Icon">
                                                <button type="button" class="calculator" id="BtnReasonForRework" onclick="return onClickReasonRemarks(event,'rework')" data-toggle="modal" data-target="#ReasonRemarks" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Rework @Resource.remarks">  </button>
                                                <span hidden id="ReasonForRework">@dr["reason_rwk"].ToString()</span>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdShort_qty">@Convert.ToDecimal(dr["short_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemShortQty">
                                                <button type="button" id="SubItemShortQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('ShortQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdSample_qty">@Convert.ToDecimal(dr["sample_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemSampleQty">
                                                <button type="button" id="SubItemSampleQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('SampleQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                        <td>@dr["DN_detail"].ToString()</td>
                                        <td class="num_right">
                                            <div class="col-sm-10 lpo_form num_right no-padding">
                                                <span id="V_tdInv_qty">@Convert.ToDecimal(dr["Invoice_qty"]).ToString(QtyDigit)</span>
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemInvQty">
                                                <button type="button" id="SubItemInvQty" @subitmDisable class="calculator subItmImg" onclick="return SubItemDetailsPopUp('InvQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="num_right">@Convert.ToDecimal(dr["bill_qty"]).ToString(QtyDigit)</td>
                                        <td class="num_right">@Convert.ToDecimal(dr["recd_qty"]).ToString(QtyDigit)</td>
                                        <td class="num_right">@Convert.ToDecimal(dr["rec_qty"]).ToString(QtyDigit)</td>
                                        <td class="num_right">@Convert.ToDecimal(dr["rej_qty"]).ToString(QtyDigit)</td>
                                        <td class="num_right">@Convert.ToDecimal(dr["rework_qty"]).ToString(QtyDigit)</td>
                                        <td>@dr["DN_detail"].ToString()</td>
                                        <td class="num_right">@Convert.ToDecimal(dr["Invoice_qty"]).ToString(QtyDigit)</td>
                                    </tr>
                                }

                                srno++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
