@*/*Used in Stock Detail Consolidated,Purchase Order*/*@
@using EnRepMobileWeb.Resources;
@{
    string IsNull(string str, string str2)
    {
        return string.IsNullOrEmpty(str) == true ? str2 : str;
    }
    decimal subItmTotal = 0;

    string QtyDigit = "0.";
    var VD = Convert.ToInt32(Session["QtyDigit"].ToString());
    if (ViewBag.DocumentMenuId == "105103145110" || ViewBag.DocumentMenuId == "105103145105" || ViewBag.DocumentMenuId == "105103145115" || ViewBag.DocumentMenuId == "105103145120")
    {
        VD = Convert.ToInt32(Session["ExpImpQtyDigit"].ToString());
    }
    else
    {
        VD = Convert.ToInt32(Session["QtyDigit"].ToString());
    }
    for (var i = 0; i < VD; i++)
    {
        QtyDigit += "0";
    }
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.SubItem @Resource.Stock @Resource.Detail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body ">
        <div class="col-md-6 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Product @Resource.Name
            </label>
            <input id="Stk_Sub_ProductlName" class="form-control" autocomplete="off" type="text" name="ProductlName" placeholder="@Resource.Product @Resource.Name" disabled="">
            <input id="Stk_Sub_ProductlId" hidden>

        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="Stk_Sub_serialUOM" class="form-control" autocomplete="off" type="text" name="serialUOM" placeholder="UOM" onblur="this.placeholder='UOM'" disabled="">
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.Quantity</label>
            <input id="Stk_Sub_Quantity" class="form-control num_right" autocomplete="off" type="text" name="Quantity" placeholder="0000.00" disabled="">
        </div>
        <div class="card-box table-responsive dy_table margin15 price_item_detail">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="Stk_Sub_ItemDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="10%">@Resource.SrNo</th>
                            <th width="50%">@Resource.SubItem @Resource.Name</th>
                            <th hidden></th>

                            @if (ViewBag.Flag == "Shopfloor")
                            {
                                <th width="40%">@Resource.Shopfloor @Resource.Stock </th>
                            }
                            else if (ViewBag.Flag == "WIP")
                            {
                                <th width="40%">@Resource.WIP @Resource.Stock</th>
                            }
                            else if (ViewBag.Flag == "ReservStock")
                            {
                                <th width="40%">@Resource.ReservedStock</th>
                            }
                            else
                            {
                                <th width="40%">@Resource.AvailableStock</th>
                            }


                        </tr>
                    </thead>
                    <tbody>
                        @*@if (ViewBag.SubItemStockDetails != null)
                            {
                                var srno = 1;
                                foreach (System.Data.DataRow dr in ViewBag.SubItemStockDetails.Rows)
                                {
                                    <tr>
                                        <td>@srno</td>
                                        <td>@dr["sub_item_name"]</td>
                                        <td hidden>@dr["sub_item_id"]</td>
                                        <td class="num_right">@dr["Qty"]</td>
                                    </tr>
                                    subItmTotal = subItmTotal + Convert.ToDecimal(IsNull(@dr["Qty"].ToString(), "0"));
                                    srno++;
                                }
                            }*@
                        @if (ViewBag.SubitemAvlStockDetail != null)
                        {
                            var srno = 1;
                            foreach (System.Data.DataRow dr in ViewBag.SubitemAvlStockDetail.Rows)
                            {
                                <tr>
                                    <td><input type="text" class="form-control" disabled id="" value='@srno'></td>
                                    <td><input type="text" class="form-control" disabled id="" value='@dr["sub_item_name"]'></td>
                                    <td hidden><input type="text" class="form-control" disabled id="" value='@dr["sub_item_id"]'></td>
                                    <td class="num_right"><input type="text" class="form-control num_right" disabled id="" value=@Convert.ToDecimal(dr["avl_stk"]).ToString(QtyDigit)></td>
                                </tr>
                                subItmTotal = subItmTotal + Convert.ToDecimal(IsNull(@dr["avl_stk"].ToString(), "0"));
                                srno++;
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="num_right" style="padding:5px 5px 0px 0px;"><strong> @Resource.Total</strong></td>
                            <td hidden></td>
                            @if (ViewBag.DocumentMenuId == "105102140")
                            {
                                <td class="num_right"><span id="ReqSubItemTotalQty" class="font-weight-bold" style="padding:5px 5px 0px 0px;">@Convert.ToDecimal(subItmTotal).ToString(QtyDigit)</span></td>
                            }
                            else if (ViewBag.DocumentMenuId == "105102150")
                            {
                                <td class="num_right"><span id="PRSubItemTotalQty" class="font-weight-bold" style="padding:5px 5px 0px 0px;">@Convert.ToDecimal(subItmTotal).ToString(QtyDigit)</span></td>
                            }
                            else
                            {
                                <td class="num_right"><span id="SubItemTotalQty" class="font-weight-bold" style="padding:5px 5px 0px 0px;">@Convert.ToDecimal(subItmTotal).ToString(QtyDigit)</span></td>
                            }
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.Close</button>
    </div>
</div>
