@using EnRepMobileWeb.Resources;

<div class="modal-content">
    <div class="modal-header">
        <h2 id="Heading"></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top ">
        <div class="col-md-6 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Item @Resource.Name
            </label>
            <input id="RR_ItemName" class="form-control" autocomplete="off" type="text" name="ProductName" placeholder="@Resource.Product @Resource.Name" disabled="">
            <input id="RR_ItemId" hidden>
            <input id="RR_Flag" hidden>
            <input id="RR_Quantity" hidden>

        </div>
        <div class="col-md-2 col-sm-12 pl-0">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="RR_Uom" class="form-control" autocomplete="off" type="text" name="serialUOM" placeholder="UOM" onblur="this.placeholder='UOM'" disabled="">
        </div>

        <div class="card-box table-responsive dy_table price_item_detail">
            <div id="Div_DropdownReason" class="col-md-12 col-sm-12 pl-0" >
                <label class="col-form-label label-align" id="RR_ReasonRemarksLabel_1">
                    @Resource.remarks <span id="reasonrequired" class="required"> *</span>
                </label>
                <select id="RR_Remarks_Dropdown" class="form-control" onchange=" return onchangeReason()">
                </select>

                @*<textarea rows="3" class="form-control remarksmessage" maxlength="500" onkeyup="checkValidationRR_remarks()" id="RR_Remarks" style="max-height:125px; height:125px;"></textarea>*@
                <span class="field-validation-valid" id="DropDown_vmRR_Remarks" style="color:red !important;"></span>
                <input type="hidden" id="hdnreasonRemarksID" />
                <input type="hidden" id="hdn_reasonRemarks_Name" />
                @*<input hidden id="hdnreasonRemarksID" value='' />
                <input hidden id="hdn_reasonRemarks_Name" value='' />*@
              
            </div>
            <div id="" class="col-md-12 col-sm-12 pl-0">
                <label class="col-form-label label-align" id="RR_ReasonRemarksLabel">
                    @Resource.remarks
                </label>
               
                <textarea rows="3" class="form-control remarksmessage" maxlength="500" onkeyup="checkValidationRR_remarks()" id="RR_Remarks" style="max-height:125px; height:125px;"></textarea>
                <span class="field-validation-valid" id="vmRR_Remarks" style="color:red !important;"></span>
            </div>
        </div>
      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="RR_btnSaveAndExit" onclick="onClick_RR_SaveAndExit()">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="RR_btnDiscardAndExit" onclick="">@Resource.DiscardAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="RR_btnClose" onclick="">@Resource.Close</button>
    </div>
</div>
