<table style="paddingleft:8px; paddingright:9px; vertical-align:top;">
    <tr>
        @if (ViewBag.PageName == "S")
        {
            <td width="60%" style="vertical-align:top;">
                <table style=" width:100%;">
                    @*<tr>
                            <td style="font-size: 10px; font-weight:normal;padding: 10px 0px 0px 0px;  vertical-align:top; ">This is computer generated document.</td>
                        </tr>*@
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px; vertical-align:top; width:60%;"><strong>Remarks (if any)</strong><br /> </td>
                    </tr>
                    @*<tr>
                            <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top; width:60%;">@ViewBag.Details.Tables[0].Rows[0]["Remark"].ToString() </td>
                        </tr>*@
                </table>
            </td>
            <td width="40%" style="vertical-align:top;">
                <table style="vertical-align:top;">
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:center;">For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"] </td>
                        @*<td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:center;">For  Alaska Export Alaska Export Export </td>*@
                    </tr>
                    @if (ViewBag.DigiSign != null)
                    {
                        <tr>
                            <td style="font-size: 12px; font-weight:bold;padding: 0px 0px 0px 0px; vertical-align:top; text-align:center;">
                                <img src="@ViewBag.DigiSign.ToString()" alt="Logo" width="150" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;padding: 0px 0px 0px 0px; vertical-align:top; text-align:center;">Authorised Signatory</td>
                    </tr>
                </table>
            </td>
        }
        else
        {
            <td width="60%" style="vertical-align:top;">
                <table style=" width:100%;">
                    @*<tr>
                            <td style="font-size: 12px; font-weight:normal;padding: 10px 0px 0px 0px; vertical-align:top; "><strong>Approved By :</strong> </td>
                        </tr>
                            <tr>
                                <td style="font-size: 12px; font-weight:normal;padding: 0px 0px;  vertical-align:top;">@ViewBag.Details.Tables[0].Rows[0]["ApprovedBy"]</td>
                            </tr>*@
                    <tr>
                        <td style="font-size: 10px; font-weight:normal;padding: 10px 0px 0px 0px;  vertical-align:top; ">This is computer generated document.</td>
                    </tr>
                </table>
            </td>
            <td width="40%" style="vertical-align:top;">
                <table style="vertical-align:top;">
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:center; height:70px;">For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"]  </td>
                    </tr>
                    @if (ViewBag.DigiSign != null)
                    {
                        <tr>
                            <td style="font-size: 12px; font-weight:bold;padding: 0px 0px 0px 0px; vertical-align:top; text-align:center;">
                                <img src="@ViewBag.DigiSign.ToString()" alt="Logo" width="150" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;padding: 0px 0px 0px 0px; vertical-align:top; text-align:center;">Authorised Signatory</td>
                    </tr>
                </table>
            </td>
        }

    </tr>
</table>
