@using EnRepMobileWeb.Resources;

@{

    var Disable = true;
    var DocStatus = ViewBag.DocumentStatus;
    var DocID = ViewBag.DocumentMenuId;
    if (ViewBag.TransType == "Update")
    {
        if (ViewBag.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        if (ViewBag.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {/*Add by hina on 29-01-2024 only for after chck src doc cancel before next doc save*/
            if (ViewBag.Message == "DocModify")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
            // Disable = false;
        }
    }

}

<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.BatchDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.ItemName</label>
            <input id="BatchItemName" class="form-control" autocomplete="off" type="text" name="BatchItemName" placeholder="Item Name" onblur="this.placeholder='Item Name'" disabled="">
            <input type="hidden" id="hfItemID" />
            <input type="hidden" id="hfItemSNo" />
            <input type="hidden" id="hfexpiryflag" />
            <input type="hidden" id="hfBCostPrice" />
            <input type="hidden" id="hfBachable" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.UOM</label>
            <input id="batchUOM" class="form-control" autocomplete="off" type="text" name="batchUOM" placeholder="@Resource.UOM" disabled="">
            <input type="hidden" id="batchUOMId" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.Received @Resource.Quantity</label>
            <input id="BatchReceivedQuantity" class="form-control num_right" autocomplete="off" type="text" name="BatchReceivedQuantity" placeholder="0000.00" disabled="">
        </div>
        <div class="clearfix"></div>
        @if (DocID == "105108120")
        {
            if (Disable)
            {
                <div class="col-md-4 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align ">@Resource.Quantity <span class="required">*</span></label>
                    <input id="BatchQuantity" class="form-control num_right" autocomplete="off" disabled type="text" maxlength="15" onchange="Cmn_OnChangeBatchQty()" name="BatchQuantity" onkeypress="return QtyFloatValueonly(this,event);" placeholder="0000.00" onblur="this.placeholder='Quantity'">
                    <span id="SpanBatchQty" class="error_message"></span>
                </div>
            }
            else
            {
                <div class="col-md-4 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align ">@Resource.Quantity <span class="required">*</span></label>
                    <input id="BatchQuantity" class="form-control num_right" autocomplete="off" type="text" maxlength="15" onchange="Cmn_OnChangeBatchQty()" name="BatchQuantity" onkeypress="return QtyFloatValueonly(this,event);" placeholder="0000.00" onblur="this.placeholder='Quantity'">
                    <span id="SpanBatchQty" class="error_message"></span>
                </div>
            }
            if (Disable)
            {
                <div class="col-md-4 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align">@Resource.BatchNumber <span class="required">*</span></label>
                    <input id="txtBatchNumber" class="form-control" disabled autocomplete="off" type="text" maxlength="25" onkeypress="OnKeyPressBatchNo()" onkeydown="return OnKeyDownBatchNoGRN(event)" onchange="OnChangeGRNBatchNo(event)" name="BatchNumber" placeholder="Batch Number" onblur="this.placeholder='Batch Number'">
                    <span id="SpanBatchNo" class="error_message"></span>
                </div>
            }
            else
            {
                <div class="col-md-4 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align">@Resource.BatchNumber <span class="required">*</span></label>
                    <input id="txtBatchNumber" class="form-control" autocomplete="off" type="text" maxlength="25" onkeypress="OnKeyPressBatchNo()" onkeydown="return OnKeyDownBatchNoGRN(event)" onchange="OnChangeGRNBatchNo(event)" name="BatchNumber" placeholder="Batch Number" onblur="this.placeholder='Batch Number'">
                    <span id="SpanBatchNo" class="error_message"></span>
                </div>
            }


            if (Disable)
            {
                <div class="col-md-3 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align">@Resource.ExpiryDate <span class="required" id="spanexpiryrequire">*</span></label>
                    <input type="date" class="form-control" disabled id="BatchExpiryDate" onchange="OnChangeBatchExpiryDate()" name="BatchExpiryDate" min="@System.DateTime.Now.ToString("yyyy-MM-dd")">
                    <span id="SpanBatchExDate" class="error_message"></span>
                </div>
            }
            else
            {
                <div class="col-md-3 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align">@Resource.ExpiryDate <span class="required" id="spanexpiryrequire">*</span></label>
                    <input type="date" class="form-control" id="BatchExpiryDate" onchange="OnChangeBatchExpiryDate()" name="BatchExpiryDate" min="@System.DateTime.Now.ToString("yyyy-MM-dd")">
                    <span id="SpanBatchExDate" class="error_message"></span>
                </div>
            }
            if (Disable)
            {
                <div id="DivAddNewBatch" class="col-md-1 col-sm-12" style="padding-left:0px;display:none">
                    <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" id="Btn_AddNewBatchDetail" onclick="OnClickAddNewBatchDetail()" title="Add New"></i> </div>
                </div>
            }
            else
            {
                <div id="DivAddNewBatch" class="col-md-1 col-sm-12" style="padding-left:0px;">
                    <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" id="Btn_AddNewBatchDetail" onclick="OnClickAddNewBatchDetail()" title="Add New"></i> </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="table_label col-form-label label-align ">@Resource.Quantity <span class="required">*</span></label>
                <input id="BatchQuantity" class="form-control num_right" autocomplete="off" type="text" maxlength="15" onchange="Cmn_OnChangeBatchQty()" onpaste="return CopyPasteData(event);" name="BatchQuantity" onkeypress="return QtyFloatValueonly(this,event);" placeholder="0000.00" onblur="this.placeholder='Quantity'">
                <span id="SpanBatchQty" class="error_message"></span>
            </div>
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="table_label col-form-label label-align">@Resource.BatchNumber <span class="required">*</span></label>
                <input id="txtBatchNumber" class="form-control" autocomplete="off" type="text" maxlength="25" onkeypress="OnKeyPressBatchNo()" onkeydown="return OnKeyDownBatchNoGRN(event)" onchange="OnChangeGRNBatchNo(event)" onpaste="return CopyPasteData(event);" , name="BatchNumber" placeholder="Batch Number" onblur="this.placeholder='Batch Number'">
                <span id="SpanBatchNo" class="error_message"></span>
            </div>
            <div class="col-md-4 col-sm-12 pl-0">
                <div class="col-md-7 col-sm-12 pl-0">
                    <label class="table_label col-form-label label-align">@Resource.Manufacturer @Resource.Name@*<span class="required">*</span>*@</label>
                    @if (Disable)
                    {
                        <input id="txtBtMfgName" class="form-control" autocomplete="off" type="text" maxlength="100" onchange="Cmn_OnChangeMfgName(event)" name="ManufacturerName" placeholder="@Resource.Manufacturer @Resource.Name" disabled>
                    }
                    else
                    {
                        <input id="txtBtMfgName" class="form-control" autocomplete="off" type="text" maxlength="100" onchange="Cmn_OnChangeMfgName(event)" name="ManufacturerName" placeholder="@Resource.Manufacturer @Resource.Name">
                    }
                </div>
                <div class="col-md-5 col-sm-12 pl-0 pr-0">
                    <label class="table_label col-form-label label-align">@Resource.MRP@*<span class="required">*</span>*@</label>
                    @if (Disable)
                    {
                        <input id="txtBtMfgMRP" class="form-control num_right" autocomplete="off" type="text" name="btMfgMrp" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" placeholder="0000.00" disabled>
                    }
                    else
                    {
                        <input id="txtBtMfgMRP" class="form-control num_right" autocomplete="off" type="text" name="btMfgMrp" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" placeholder="0000.00">
                    }
                </div>
               
            </div>
            <div class="col-md-4 col-sm-12 pl-0">               
                <div class="col-md-6 col-sm-12 pl-0">
                    <label class="table_label col-form-label label-align">@Resource.Manufactured @Resource.Date@*<span class="required">*</span>*@</label>
                    @if (Disable)
                    {
                        <input id="txtBtMfgDate" class="form-control" autocomplete="off" type="date" name="ManufacturedDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" disabled>
                    }
                    else
                    {
                        <input id="txtBtMfgDate" class="form-control" autocomplete="off" type="date" name="ManufacturedDate" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    }
                </div>
                <div class="col-md-5 col-sm-12" style="padding-left:0px;">
                    <label class="table_label col-form-label label-align">@Resource.ExpiryDate <span class="required" id="spanexpiryrequire">*</span></label>
                    <input type="date" class="form-control" id="BatchExpiryDate" onchange="OnChangeBatchExpiryDate()" name="BatchExpiryDate" min="@System.DateTime.Now.ToString("yyyy-MM-dd")">
                    <span id="SpanBatchExDate" class="error_message"></span>
                </div>
                @*if (DocID == "105102155")
                {
                    <div id="DivAddNewBatch" class="col-md-1 col-sm-12" style="padding-left:0px;">
                        <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" id="Btn_AddNewBatchDetail" onclick="OnClickAddNewBatchDetail()" title="Add New"></i> </div>
                    </div>
                }
                else
                {*@
                <div id="DivAddNewBatch" class="col-md-1 col-sm-12" style="padding-left:0px;">
                    <div class="plus_icon1" style="float: right; margin-top:25px"> <i class="fa fa-plus" id="Btn_AddNewBatchDetail" onclick="Cmn_OnClickAddNewBatchDetail()" title="Add New"></i> </div>
                </div>
                @*}*@

            </div>


        }

        <table id="BatchDetailTbl" class="table table-bordered margin15 rowhighlighttbl">
            <thead>
                <tr class="headings">
                    <th width="4%"> &nbsp;</th>
                    <th width="12%">@Resource.Quantity</th>
                    <th width="14%"> @Resource.BatchNumber</th>
                    <th width="34%">@Resource.Manufacturer @Resource.Name</th>
                    <th width="12%">@Resource.MRP</th>
                    <th width="12%">@Resource.Manufactured @Resource.Date</th>
                    <th width="12%" title="Unit Of Measure"> @Resource.ExpiryDate</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td class=" red center"> <i class="fa fa-trash" aria-hidden="true" title="Delete" disabled="disabled"></i></td>
                    <td align="right">465</td>
                    <td>PRAK123</td>
                    <td>15-02-2021 </td>
                </tr>*@
            </tbody>
            <tfoot>
                <tr class="total">
                    <td><strong> @Resource.Total</strong></td>
                    <td class="num_right"><strong> <span id="BatchQtyTotal">0</span></strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
            </tfoot>
        </table>

    </div>
            @if (DocID == "105108120")
            {
                if (Disable)
                {
                    <div class="modal-footer " style="display:none">
                        <button type="button" class="btn btn-primary btn-sm" id="BatchResetBtn" onclick="OnClickBatchResetBtn()">@Resource.Reset</button>
                        <button type="button" class="btn btn-primary btn-sm" id="BatchSaveAndExitBtn" onclick="OnClickSaveAndClose()">@Resource.SaveAndExit</button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="BatchDiscardAndExitBtn" onclick="OnClickDiscardAndExit()">@Resource.DiscardAndExit</button>
                    </div>

                }
                else
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" id="BatchResetBtn" onclick="OnClickBatchResetBtn()">@Resource.Reset</button>
                        <button type="button" class="btn btn-primary btn-sm" id="BatchSaveAndExitBtn" onclick="OnClickSaveAndClose()">@Resource.SaveAndExit</button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="BatchDiscardAndExitBtn" onclick="OnClickDiscardAndExit()">@Resource.DiscardAndExit</button>
                    </div>
                }
            }
            else
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="BatchResetBtn" onclick="OnClickBatchResetBtn()">@Resource.Reset</button>
                    <button type="button" class="btn btn-primary btn-sm" id="BatchSaveAndExitBtn" onclick="OnClickSaveAndClose()">@Resource.SaveAndExit</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="BatchDiscardAndExitBtn" onclick="OnClickDiscardAndExit()">@Resource.DiscardAndExit</button>
                </div>
            }
        </div>