@using System.Data;
@using EnRepMobileWeb.Resources;
<!-- Save As Template -->
<style>
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1060; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content1 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close1 {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close1:hover,
        .close1:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<script>
    $(document).ready(function () {
        debugger;
        BindTaxTemplatelist();
    });
</script>
<div id="SaveAsTemplate" class="modal1 modal fade" role="dialog">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="TaxCalculatorPop">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_SaveAsTemplate.cshtml")
        </div>
    </div>
</div>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.TaxCalculator</h2>
        <input type="hidden" id="HiddenRowSNo" />
        <input type="hidden" id="TaxCalcItemCode" />
        <input type="hidden" id="TaxCalcGRNNo" />
        <input type="hidden" id="TaxCalcGRNDate" />
        <input type="hidden" id="HdnTaxOn" />
        <button type="button" class="close" onclick="OnClickDiscardAndExitBtn();" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align" id="TaxItemNameLabl" title="@Resource.ItemName">
                @Resource.ItemName
            </label>
            <input id="Tax_ItemName" class="form-control" autocomplete="off" type="text" name="Tax_ItemName" placeholder="@Resource.ItemName" disabled>
            <input hidden="hidden" id="Tax_ItemID" type="text" />
        </div>
        <div class="col-md-4 col-sm-12 pop_right ">
            <label class="col-form-label label-align" id="TaxableAmtLabl" title="@Resource.AssessableValue">
                @Resource.AssessableValue
            </label>
            <input id="Tax_AssessableValue" class="form-control num_right" autocomplete="off" type="text" name="Tax_AssessableValue" placeholder="0000.00" disabled>
        </div>
        <div class="col-md-4 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align" title="@Resource.Template" id="taxTemplate">@Resource.Template</label>
            <select class="form-control" id="Tax_Template">
                <option value="0">---Select---</option>
            </select>
            <span id="SpanTax_Template" class="error_message"></span>
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align"> @Resource.TaxName <span class="required">*</span></label>
            <select class="form-control" id="Tax_Type" onchange="OnChangeTaxType();" style="margin-bottom: 0px;"></select>
            <input type="hidden" id="Hdn_Tax_AccId" />
            @*<input type="hidden" id="Hdn_Tax_AccName" />*@
            <span id="SpanTaxName" class="error_message"></span>
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
            <input id="Tax_Percentage" class="form-control num_right" onchange="OnChangeTaxPercentage();" maxlength="5" onkeypress="return FloatValuePerOnly(this,event);" autocomplete="off" type="text" name="Tax_Percentage" placeholder="0000.00" style="margin-bottom: 0px;">
            <span id="SpanTaxPercent" class="error_message"></span>
            <input hidden id="hdn_tax_recov" />
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.Level <span class="required">*</span></label>
            <select class="form-control table_label" id="Tax_Level" onchange="OnChangeTaxPercentage();">
                <option value="0">---Select---</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <span id="SpanTaxLevel" class="error_message"></span>
        </div>
        <div class="col-md-3 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.ApplyOn <span class="required">*</span></label>
            <select class="form-control table_label" id="Tax_ApplyOn" onchange="OnChangeTaxPercentage();">
                <option value="I">Immediate Level</option>
                <option value="C">Cummulative</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 pop_left">
            <label class="table_label col-form-label label-align">@Resource.TaxAmount <span class="required">*</span></label>
            <input id="Tax_Amount" class="form-control num_right" readonly="readonly" autocomplete="off" type="text" name="Tax_Amount" placeholder="0000.00" style="margin-bottom: 0px;">
            <span id="SpanTaxAmounterr" class="error_message"></span>
        </div>
        <div class="col-md-1 col-sm-12 pop_left pop_right">
            <a href="#" style="float:right;">
                <div class="plus_icon1" style="margin-top:30px;" id="Icon_AddNewRecord"> <i class="fa fa-plus" onclick="OnClickAddTaxAmt();" id="Btn_AddNew" title="Add New"></i> </div>
            </a>
        </div>
        <div class="col-md-11 col-sm-12 pop_left pop_right ">
            <div class="tableFixHead height30VH">
                <table class="table table-bordered margin15 rowhighlighttbl" style="" id="TaxCalculatorTbl">
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <td colspan="4" width="80%" class="num_right"><strong> @Resource.TotalTax </strong></td>

                            <td class="num_right"><strong><span id="TotalTaxAmount"></span></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <table style="" hidden="hidden" id="Hdn_TaxCalculatorTbl">
                    <tbody>
                        @if (ViewBag.ItemTaxDetails != null)
                        {
                            var RowSno = 0;
                            foreach (DataRow dr in ViewBag.ItemTaxDetails.Rows)
                            {
                                RowSno = RowSno + 1;
                        <tr>
                            @*<td id="UserID">@Session["UserID"]</td>
        <td id="RowSNo">@RowSno</td>*@
                            @*Modifyed By Shubham Maurya on 07-10-2023 :1423 for Purchase Qutation,purchase Order Tax*@
                            @if (ViewBag.DocumentMenuId != null)
                            {
                                if (ViewBag.DocumentMenuId == "105101120" || ViewBag.DocumentMenuId == "105101130" /*|| ViewBag.DocumentMenuId == "105108123"*/ || ViewBag.DocumentMenuId == "105108101" || ViewBag.DocumentMenuId == "105103120" || ViewBag.DocumentMenuId == "105103147" || ViewBag.DocumentMenuId == "105103145127" || ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105101135")
                                {
                                    <td id="DocNo"></td>
                                    <td id="DocDate"></td>
                                }
                                if (ViewBag.DocumentMenuId == "105103125")
                                {
                                    <td id="DocNo">@dr["src_doc_number"]</td>
                                    <td id="DocDate">@dr["src_doc_date"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105103140")
                                {
                                    <td id="DocNo">@dr["sh_no"]</td>
                                    <td id="DocDate">@dr["sh_date"]</td>
                                }
                                //if (ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105108123")
                                if (ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101147")/* Added by Surbhi on 08/05/2025 for Supplementary Purchase Invoice(105101147)*/
                                {
                                    <td id="DocNo">@dr["mr_no"]</td>
                                    <td id="DocDate">@dr["mr_date"]</td>
                                }
                            }
                            @*---------------------------End-By-Shubham-Maurya-----------------------------*@
                            <td id="TaxItmCode">@dr["item_id"]</td>
                            <td id="TaxName">@dr["tax_name"]</td>
                            <td id="TaxNameID">@dr["tax_id"]</td>
                            <td id="TaxPercentage">@Convert.ToDecimal(dr["tax_rate"]).ToString("0.00")%</td>
                            <td id="TaxLevel">@dr["tax_level"]</td>
                            <td id="TaxApplyOn">@dr["tax_apply_Name"]</td>
                            <td id="TaxAmount">@dr["tax_val"]</td>
                            <td id="TotalTaxAmount">@dr["item_tax_amt"]</td>
                            <td id="TaxApplyOnID">@dr["tax_apply_on"]</td>
                            @if (ViewBag.DocumentMenuId != null)
                            {
                                if (ViewBag.DocumentMenuId == "105103145110")
                                {
                                    <td id="DocNo">@dr["src_doc_number"]</td>
                                    <td id="DocDate">@dr["src_doc_date"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105103145125")
                                {
                                    <td id="DocNo">@dr["sh_no"]</td>
                                    <td id="DocDate">@dr["sh_date"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105102115101" || ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105103142" || ViewBag.DocumentMenuId == "105101147" || ViewBag.DocumentMenuId == "105101153")
                                /*Added by Surbhi on 15/07/2025 for Inter Branch Purchase Invoice(105101153)*/
                                /* Added by Surbhi on 27/05/2025 for Supplementary Purchase Invoice(105101147)*/
                                {
                                    <td id="TaxRecov">@dr["tax_recov"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105101140125" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105103140" || ViewBag.DocumentMenuId == "105103147" || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105103142" || ViewBag.DocumentMenuId == "105101147")
                                /* Added by Surbhi on 27/05/2025 for Supplementary Purchase Invoice(105101147)*/
                                {
                                    <td id="TaxAccId" hidden>@dr["tax_acc_id"]</td>
                                }
                                /*Added by Surbhi on 27/05/2025 for Supplementary Purchase Invoice(105101147)*/
                                if (ViewBag.DocumentMenuId == "105101147")
                                {
                                    <td id="OCFor">@dr["OCFor"]</td>
                                    <td id="TaxAmountRevised">@dr["TaxAmountRevised"]</td>
                                }
                            }
                        </tr>
                            }
                        }
                    </tbody>
                </table>
                <table style="" hidden="hidden" id="Hdn_OC_TaxCalculatorTbl">
                    <tbody>
                        @if (ViewBag.OCTaxDetails != null)
                        {
                            var RowSno = 0;
                            foreach (DataRow dr in ViewBag.OCTaxDetails.Rows)
                            {
                                RowSno = RowSno + 1;
                        <tr>
                            @*<td id="UserID">@Session["UserID"]</td>
        <td id="RowSNo">@RowSno</td>*@
                            <td id="TaxItmCode">@dr["item_id"]</td>
                            <td id="TaxName">@dr["tax_name"]</td>
                            <td id="TaxNameID">@dr["tax_id"]</td>
                            <td id="TaxPercentage">@Convert.ToDecimal(dr["tax_rate"]).ToString("0.00")%</td>
                            <td id="TaxLevel">@dr["tax_level"]</td>
                            <td id="TaxApplyOn">@dr["tax_apply_Name"]</td>
                            <td id="TaxAmount">@dr["tax_val"]</td>
                            <td id="TotalTaxAmount">@dr["item_tax_amt"]</td>
                            <td id="TaxApplyOnID">@dr["tax_apply_on"]</td>
                            @if (ViewBag.DocumentMenuId != null)
                            {
                                if (ViewBag.DocumentMenuId == "105103125" || ViewBag.DocumentMenuId == "105103145110")
                                {
                                    <td id="DocNo">@dr["src_doc_number"]</td>
                                    <td id="DocDate">@dr["src_doc_date"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105103140")
                                {
                                    <td id="DocNo">@dr["sh_no"]</td>
                                    <td id="DocDate">@dr["sh_date"]</td>
                                }
                                if (ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105101140125" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105103140" || ViewBag.DocumentMenuId == "105108123")
                                {
                                    <td id="TaxAccId">@dr["tax_acc_id"]</td>
                                }
                                /*Added by Surbhi on 27/05/2025 for Supplementary Purchase Invoice(105101147)*/
                                if (ViewBag.DocumentMenuId == "105101147")
                                {
                                    <td id="OCFor">@dr["OCFor"]</td>
                                }   
                            }

                        </tr>
                            }
                        }
                    </tbody>
                </table>
                <table style="" hidden="hidden" id="Hdn_OCTemp_TaxCalculatorTbl">
                    <tbody>
                        @if (ViewBag.OCTaxDetails != null)
                        {
                            var RowSno = 0;
                            foreach (DataRow dr in ViewBag.OCTaxDetails.Rows)
                            {
                                RowSno = RowSno + 1;
                                <tr>
                                    @*<td id="UserID">@Session["UserID"]</td>
                                        <td id="RowSNo">@RowSno</td>*@
                                    <td id="TaxItmCode">@dr["item_id"]</td>
                                    <td id="TaxName">@dr["tax_name"]</td>
                                    <td id="TaxNameID">@dr["tax_id"]</td>
                                    <td id="TaxPercentage">@Convert.ToDecimal(dr["tax_rate"]).ToString("0.00")%</td>
                                    <td id="TaxLevel">@dr["tax_level"]</td>
                                    <td id="TaxApplyOn">@dr["tax_apply_Name"]</td>
                                    <td id="TaxAmount">@dr["tax_val"]</td>
                                    <td id="TotalTaxAmount">@dr["item_tax_amt"]</td>
                                    <td id="TaxApplyOnID">@dr["tax_apply_on"]</td>
                                    @if (ViewBag.DocumentMenuId != null)
                                    {
                                        if (ViewBag.DocumentMenuId == "105103125" || ViewBag.DocumentMenuId == "105103145110")
                                        {
                                            <td id="DocNo">@dr["src_doc_number"]</td>
                                            <td id="DocDate">@dr["src_doc_date"]</td>
                                        }
                                        if (ViewBag.DocumentMenuId == "105103140")
                                        {
                                            <td id="DocNo">@dr["sh_no"]</td>
                                            <td id="DocDate">@dr["sh_date"]</td>
                                        }
                                        if (ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105101140125" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105103140" || ViewBag.DocumentMenuId == "105108123")
                                        {
                                            <td id="TaxAccId" hidden>@dr["tax_acc_id"]</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer" id="TaxCalcButtons">
        <button type="button" class="btn btn-primary btn-sm" id="TaxResetBtn" onclick="OnClickResetBtn();">@Resource.Reset</button>
        <!--if (ViewBag.DocumentMenuId == "105101147") /*Added by Surbhi on 31/05/2025 for Supplementary Purchase Invoice(105101147)*/
        {<button type="button" class="btn btn-primary btn-sm" id="TaxDiscard" data-dismiss="modal">@Resource.Close</button>
        }
        if (ViewBag.DocumentMenuId == "105101153") /*Added by Surbhi on 15/07/2025 for Inter Branch Purchase Invoice(105101153)*/
        { <button type="button" class="btn btn-primary btn-sm" id="TaxDiscard" data-dismiss="modal">@Resource.Close</button> 
        <!--}
        else-->
        @if (ViewBag.DocumentMenuId != "105101153"|| ViewBag.DocumentMenuId != "105101147")
        {
            <button type="button" id="TaxSaveTemplate" onclick="OnClickSaveAsTemplate()" class="btn btn-primary btn-sm small_btn ">@Resource.SaveAsTemplate</button>
            @*<button type="button" class="btn btn-primary btn-sm" id="TaxSaveTemplate">@Resource.SaveAsTemplate</button>*@
            <button type="button" class="btn btn-primary btn-sm" id="ReplicateOnAllItemsBtn" onclick="OnClickReplicateOnAllItems();">@Resource.ReplicateOnAllItems</button>
        }
        <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn" onclick="OnClickSaveAndExit('MGST');">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" id="TaxExitAndDiscard" data-dismiss="modal" onclick="OnClickDiscardAndExitBtn();">@Resource.DiscardAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" id="TaxDiscard" data-dismiss="modal">@Resource.Close</button>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("SaveAsTemplate");
    var modal1 = document.getElementById("ItemCalculate");
    var btn = document.getElementById("TaxSaveTemplate");
    var btnExit = document.getElementById("TaxExitAndDiscard1");
    var span = document.getElementsByClassName("Closebtn")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        OnClickSaveAsTemplate();
        //$(".modal-backdrop").css("z-index", "1061");
        //$(".TaxCalculatorPop").css("z-index", "10654584");
        $("#SaveAsTemplate").css("padding-right", "9px");
        $("#SaveAsTemplate").attr("aria-modal", true);
        $("#SaveAsTemplate").addClass("show");
    }
    span.onclick = function () {
        modal.style.display = "none";

    }
    btnExit.onclick = function () {
        modal.style.display = "none";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {

        if (event.target == modal1) {
            modal.style.display = "none";
            $(".modal-backdrop").remove();
        }
    }
</script>