@using EnRepMobileWeb.Resources;
@using System.Data;
@using EnRepMobileWeb.Areas.Logging;
@{
    ErrorLog Errorlog = new ErrorLog();
    decimal OCAmtsp = 0;
    decimal OCAmtbase = 0;
    decimal OCAmttax = 0;
    decimal OCAmtWithTax = 0;
    string Taxable = "Y";
    string RoundOff = "N";
    string TdsApply = "N";
    string DocTaxable = "Y";
    string tableWdthCls = "";
    string displayNoneInDomestic = "";
    string allowFloatFn = "CmnAmtFloatVal(this,event)";
    if (ViewBag.DocumentMenuId == "105101145")
    {
        displayNoneInDomestic = "hidden";
    }
    string IsNull(string strIn, string strOut)
    {
        return string.IsNullOrEmpty(strIn) ? strOut : strIn;
    }
    if (ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105101152" || ViewBag.DocumentMenuId == "105101145"
        || ViewBag.DocumentMenuId == "105102115101" || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105101147" || ViewBag.DocumentMenuId == "105101153")/*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
    /*Added by Surbhi on 14/07/2025 for Inter Branch Purchase Invoice(105101153)*/
    {
        allowFloatFn = "CmnAmtFloatValWithNegative(this,event)";//with Negative amount
    }
    if (ViewBag.DocumentMenuId == "105101150" || ViewBag.DocumentMenuId == "105101152"//uncomment 105101152 by shubham maurya on 05-09-2025
        || ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105103147"
        || ViewBag.DocumentMenuId == "105103140" || ViewBag.DocumentMenuId == "105103148"
        || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101140125" || ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105101147" || ViewBag.DocumentMenuId == "105103149" || ViewBag.DocumentMenuId == "105101153")
    /*Added by Surbhi on 14/07/2025 for Inter Branch Purchase Invoice(105101153)*/
    /*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
    {
        TdsApply = "Y";
    }
    if (ViewBag.curr_id != null && ViewBag.bs_curr_id != null)
    {
        if (ViewBag.curr_id == ViewBag.bs_curr_id)
        {
            Taxable = "Y";
        }
        else if (ViewBag.DocumentMenuId == "105101140125" || ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105103145125" || ViewBag.DocumentMenuId == "105101153")
        /*Added by Surbhi on 14/07/2025 for Inter Branch Purchase Invoice(105101153)*/
        {
            Taxable = "Y";
        }
        else
        {
            Taxable = "N";
        }
    }
    tableWdthCls = "width1600";
    var ThirdPartySupp = false;
    if ((ViewBag.DocumentMenuId == "105102115101" || ViewBag.DocumentMenuId == "105101140125"
        || ViewBag.DocumentMenuId == "105101145" || ViewBag.DocumentMenuId == "105101152"
        || ViewBag.DocumentMenuId == "105103140" || ViewBag.DocumentMenuId == "105103148" || ViewBag.DocumentMenuId == "105101150"
        || ViewBag.DocumentMenuId == "105103145125" || ViewBag.DocumentMenuId == "105103147" || ViewBag.DocumentMenuId == "105108120"
        || ViewBag.DocumentMenuId == "105108123" || ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105101147"
        || ViewBag.DocumentMenuId == "105103149" || ViewBag.DocumentMenuId == "105101153"))/*Added by Surbhi on 14/07/2025 for Inter Branch Purchase Invoice(105101153)*/
    /*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
    {
        ThirdPartySupp = true;
    }
    string DocumentMenuId = "";
    if (ViewBag.DocumentMenuId != null)
    {
        DocumentMenuId = ViewBag.DocumentMenuId;
    }
    //if (("105101150,105101145,105101152,105108123,105103148,105103147,105103140,105101140125,105101154, 105101147").Split(',').Contains(DocumentMenuId)) /*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
    //{
    //    RoundOff = "Y";

    //}

    var validMenuIds = new HashSet<string>
{
        "105101150", "105101145", "105101152", "105108123", "105103148",
        "105103147", "105103140", "105101140125", "105101154", "105101147","105103149", "105101153" // Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice (105101147)
    };/*Added by Surbhi on 14/07/2025 for Inter Branch Purchase Invoice(105101153)*/

    if (validMenuIds.Contains(DocumentMenuId))
    {
        RoundOff = "Y";
    }
}
<style>
    /* .custom-control-input {
        height: .5rem;
    }

    .custom-switch {
        padding-left: 35px !important
    }
    .custom-control-input {
        position: absolute;
        left: -10px;
        top: 5px;
        z-index: 10;
        width: 2rem;
        height: 1.25rem;
        opacity: 0;
    }
    .spi .custom-switch {
        padding-left: 18px !important;
    }*/

</style>
@try
{
    <div class="modal-content">
        <div class="modal-header">
            <h2>@Resource.OtherChargesCalculator</h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body pop_top">
            <div id="OC_HeaderFields">
                <div class="custom-control custom-switch col-md-3 col-sm-12 pl-5">
                    <input checked="checked" class="custom-control-input col-md-3 col-sm-12 margin-switch"
                           id="OC_ThirdParty" name="OC_ThirdParty" onclick="Cmn_OnChangeOcThirdPartyToggle()"
                           style="left:-7px;" type="checkbox" value="true">
                    <label class="custom-control-label " for="OC_ThirdParty">@Resource.ThirdParty</label>
                </div>
                <div class="clear"></div>
                <div class="col-md-55 col-sm-12 pop_right pop_left">
                    <label class="col-form-label label-align">@Resource.OtherCharges <span class="required">*</span> </label>
                    <select class="form-control" id="OtherCharge_DDL" onchange="OnChangeOC();" style="margin-bottom: 0px;">
                    </select>
                    <input hidden id="hdn_oc_acc_id" />
                    <span id="SpanOCName" class="error_message"></span>
                </div>
                <div class="col-md-55 col-sm-12 pop_right pop_left">
                    <label class="col-form-label label-align">@Resource.Currency</label>
                    <select class="form-control" id="OCCurrency" name="Currency" onchange="OnChangeOCCurrency();">
                    </select>
                </div>


                <div class="col-md-55 col-sm-12 pop_right pop_left" id="DivOcThirdPartySupp" style="display:@(ThirdPartySupp?"":"none");">
                    <label class="col-form-label label-align">@Resource.SupplierName <span class="required" id="suppStar">*</span> </label>
                    <select class="form-control" id="OcThirdPartySupp_DDL" style="margin-bottom: 0px;" onchange="onChangeOCSuppler()">
                        <option value="0">---Select---</option>
                    </select>
                    <span id="SpanOcThirdPartySupp" class="error_message"></span>
                    <input hidden id="hdn_oc_type" />
                    <input hidden id="hdn_supp_type" />
                    <input hidden id="hdn_oc_supp_acc_id" />
                    <input hidden id="hdn_oc_supp_state_id" />
                    <input hidden id="hdn_oc_supp_state_id_taxcal" />
                    <input hidden id="hdn_oc_supp_id_taxcal" />
                </div>
                <div class="col-md-55 col-sm-12 pop_right pop_left">
                    <label class="col-form-label label-align">@Resource.ExchangeRate <span class="required">*</span></label>
                    <input id="OCconv_rate" maxlength="3" readonly class="form-control num_right" type="text" name="OCconv_rate" placeholder="0000:00">
                </div>

                <div class="col-md-55 col-sm-12 pop_right pop_left">
                    <label class="col-form-label label-align">
                        @Resource.Amount @(("105101145").Contains(ViewBag.DocumentMenuId) == false ? @Resource.InSpecific:"")
                    </label>
                    <input id="TxtOCAmt" class="form-control date num_right" autocomplete="off" onchange="OnChangeOCAmount();" onkeypress="return @allowFloatFn;" type="text" name="TxtOCAmt" placeholder="0000.00" style="margin-bottom: 0px;">
                    <span id="SpanOCAmt" class="error_message"></span>
                </div>

                <div class="col-md-55 col-sm-12 pop_right pop_left" @displayNoneInDomestic>
                    <label class="col-form-label label-align">@Resource.Amount @Resource.InBase</label>
                    <input id="TxtOCAmtInBs" readonly class="form-control date num_right" autocomplete="off" type="text" name="TxtOCAmtInBs" placeholder="0000.00" style="margin-bottom: 0px;">
                    <span id="" class="error_message"></span>
                </div>

                <div class="col-md-55 col-sm-12">
                    <label class="col-form-label label-align">@Resource.BillNumber <span class="required" id="billNoStar">*</span></label>
                    <input class="form-control" id="OC_BillNumber" onchange="Cmn_OcBillNoChange()" maxlength="25" name="oc_bill_no" placeholder="Bill Number" type="text">
                    <span id="SpanOC_BillNumber" class="error_message"></span>
                </div>
                <div class="col-md-55 col-sm-12">
                    <label class="col-form-label label-align">@Resource.BillDate <span class="required" id="billDtStar">*</span></label>
                    <input class="form-control" id="OC_BillDate" onchange="Cmn_OcBillDateChange()" name="oc_bill_dt" placeholder="Bill Date" type="date">
                    <span id="SpanOC_BillDate" class="error_message"></span>
                </div>

                <div class="col-md-1 col-sm-12 pop_right pop_left">
                    <a href="#">
                        <div class="plus_icon1 margin25"> <i class="fa fa-plus" id="AddOCDetailBtn" onclick="AddOCDetail()" title="Add New"></i> </div>
                    </a>
                </div>


            </div>

            <div class="clear"></div>

            <div class="card-box table-responsive dy_table margin15">
                <input hidden="hidden" id="CurrencyInBase" value="N" />
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="Tbl_OC_Deatils" data-order="" class="table table-striped table-bordered rowhighlighttbl @tableWdthCls">
                        <thead>
                            <tr class="sticky-header">
                                <th width="3%">&nbsp;</th>
                                <th class="center">@Resource.OtherCharges</th>
                                <th class="center">@Resource.HSNCode</th>
                                <th hidden="hidden">&nbsp;</th>
                                <th width="6%">@Resource.Currency </th>
                                <th>@Resource.SupplierName</th>
                                <th width="5%">@Resource.ExchangeRate </th>
                                <th width="8%" @displayNoneInDomestic>@Resource.Amount<br />@Resource.InSpecific</th>
                                <th width="8%">
                                    @Resource.Amount <br /> @Resource.InBase
                                </th>
                                @if (Taxable == "Y")
                                {
                                    <th>@Resource.TaxAmount</th>
                                    <th>@Resource.Total</th>
                                    if (RoundOff == "Y")
                                    {
                                        <th>@Resource.RoundOff</th>
                                    }

                                }
                                @if (TdsApply == "Y")
                                {
                                    <th>@Resource.TDS @Resource.Amount</th>
                                }

                                <th>@Resource.BillNumber</th>
                                <th>@Resource.BillDate </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.OtherChargeDetails != null)
                            {
                                var RowSno = 0;
                                foreach (DataRow dr in ViewBag.OtherChargeDetails.Rows)
                                {
                                    RowSno = RowSno + 1;
                                    <tr id="@("R" + RowSno)">
                                        <td id="deletetext" class=" red center"><i class="deleteIcon fa fa-trash" id="OCDelIcon" aria-hidden="true" title="@Resource.Delete"></i></td>
                                        <td id="OCName">@dr["oc_name"]</td> 
                                        <td id="OC_HSNCode">@dr["HSN_code"]</td>
                                        <td id="OCCurr">@dr["curr_name"]</td>
                                        <td id="HdnOCCurrId" style="display:none">@dr["curr_id"]</td>
                                        <td id="td_OCSuppName">@dr["supp_name"]</td>
                                        <td id="td_OCSuppID" style="display:none">@dr["supp_id"]</td>
                                        <td id="td_OCSuppType" style="display:none">@dr["supp_type"]</td>

                                        <td id="OCConv" class="num_right">@Convert.ToDecimal(dr["conv_rate"]).ToString(IsNull(ViewBag.ExchDigit, ViewBag.RateDigit))</td>

                                        <td hidden="hidden" id="OCValue">@dr["oc_id"]</td>
                                        <td class="num_right" id="OCAmount" @displayNoneInDomestic>@Convert.ToDecimal(dr["oc_val"]).ToString(ViewBag.ValDigit)</td>
                                        <td class="num_right" id="OcAmtBs">@Convert.ToDecimal(dr["OCValBs"]).ToString(ViewBag.ValDigit)</td>
                                        @if (DocTaxable == "Y" && Taxable == "Y")
                                        {
                                            <td class="num_right">
                                                <div class="col-sm-10 lpo_form" style="padding:0px;" id="OCTaxAmt">@Convert.ToDecimal(dr["tax_amt"]).ToString(ViewBag.ValDigit)</div>
                                                <div class="col-sm-2 lpo_form no-padding">
                                                    <button type="button" class="calculator" id="BtnTxtCalculation" onclick="OnClickOCTaxCalculationBtn(event)" data-toggle="modal" data-target="#ItemCalculate" data-backdrop="static" data-keyboard="false"><i class="fa fa-calculator" placeholder="@Resource.TaxCalculator" aria-hidden="true"></i></button>
                                                </div>
                                            </td>
                                            <td class="num_right" id="OCTotalTaxAmt">@Convert.ToDecimal(dr["total_amt"]).ToString(ViewBag.ValDigit)</td>
                                            if (RoundOff == "Y")
                                            {
                                                var td_ROff = dr["roundoff"].ToString();
                                                var pm_flag = dr["pm_flag"].ToString();

                                                <td style="width:160px">

                                                    <div class="col-lg-12 no-padding spi">
                                                        <div class="col-lg-4 pl-3">
                                                            <div class="custom-control custom-switch sample_issue">
                                                                <input type="checkbox" class="custom-control-input margin-switch" onclick="Cmn_OnClickOcRoundOffCheckBox(event)" @(td_ROff == "Y" ? "checked" : "") id="oc_chk_roundoff">
                                                                <label class="custom-control-label" for="" style="padding: 3px 0px;"> </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 no-padding">
                                                            <div class="col-md-12 col-sm-12 no-padding">
                                                                <div class="col-md-6 col-sm-12 no-padding" id="div_oc_pchkbox">
                                                                    <i class="fa fa-plus float-left pr-2 pt-1" aria-hidden="true"></i>
                                                                    <input class="float-left" type="radio" name="oc_p_round@(dr["oc_id"])" @((td_ROff == "Y" && pm_flag == "P") ? "checked" : "") id="oc_p_round" onchange="Cmn_click_Oc_chkroundoff(event)" value="P" style="height:20px;">
                                                                </div>
                                                                <div class="col-md-6 col-sm-12 no-padding" id="div_oc_mchkbox">
                                                                    <i class="fa fa-minus float-left pr-2 pt-1" aria-hidden="true"></i>
                                                                    <input class="float-left" type="radio" name="oc_p_round@(dr["oc_id"])" @((td_ROff == "Y" && pm_flag == "M") ? "checked" : "") id="oc_m_round" onchange="Cmn_click_Oc_chkroundoff(event)" value="M" style="height:20px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            }

                                        }
                                        @if (TdsApply == "Y")
                                        {
                                            <td class="num_right">
                                                <div class="col-sm-10 lpo_form" style="padding:0px;" id="OC_TDSAmt">@Convert.ToDecimal(IsNull(dr["tds_amt"].ToString(), "0")).ToString(ViewBag.ValDigit)</div>
                                                <div class="col-sm-2 lpo_form no-padding">
                                                    <button type="button" class="calculator" id="" onclick="OnClickTP_TDSCalculationBtn(event)" data-toggle="modal" data-target="#TDSCalculate" data-backdrop="static" data-keyboard="false"><i class="fa fa-calculator" placeholder="@Resource.TDS @Resource.Calculator " aria-hidden="true"></i></button>
                                                </div>
                                            </td>
                                        }

                                        <td id="OCBillNo">@dr["bill_no"]</td>
                                        <td id="OCBillDate">@dr["bill_dt"]</td>
                                        <td id="OCBillDt" hidden>@dr["bill_date"]</td>
                                        <td id="OCAccId" hidden>@dr["oc_acc_id"]</td>
                                        <td id="OCSuppAccId" hidden>@dr["supp_acc_id"]</td>
                                        <td id="OCSuppStateCode" hidden>@dr["supp_state_code"]</td>
                                        @if (ViewBag.DocumentMenuId == "105101147")/*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
                                        {
                                            <td id="OCFor" hidden> @dr["OCFor"] </td>
                                        }
                                    </tr>
                                    OCAmtsp = OCAmtsp + Convert.ToDecimal(dr["oc_val"]);
                                    OCAmtbase = OCAmtbase + Convert.ToDecimal(dr["oc_val"]);
                                    if (DocTaxable == "Y" && Taxable == "Y")
                                    {
                                        OCAmttax = OCAmttax + Convert.ToDecimal(dr["tax_amt"]);
                                        OCAmtWithTax = OCAmtWithTax + Convert.ToDecimal(dr["total_amt"]);
                                    }


                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr class="total">
                                <td>&nbsp;</td>
                                <td class="num_right"><strong> @Resource.TotalOtherCharges</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td class="num_right" @displayNoneInDomestic>
                                    @if (ViewBag.DocumentMenuId == "105103145125")//added by Suraj on 20-09-2024 for Commercial invoice
                                    {
                                        <strong><span id="Total_OC_Amount">@OCAmtsp.ToString(ViewBag.ValDigit)</span></strong>
                                    }
                                    else
                                    {
                                        <strong><span @*id="Total_OC_Amount"*@>@*@OCAmtsp.ToString(ViewBag.ValDigit)*@</span></strong>
                                    }
                                </td>

                                <td class="num_right">
                                    <strong><span id="Total_OC_AmountInBs">@OCAmtbase.ToString(ViewBag.ValDigit)</span></strong>
                                </td>
                                @if (DocTaxable == "Y" && Taxable == "Y")
                                {
                                    <td class="num_right"><strong><span id="Total_Oc_Tax_Amt">@OCAmttax.ToString(ViewBag.ValDigit)</span></strong></td>
                                    <td class="num_right"><strong><span id="Total_Oc_Amt_with_tx">@OCAmtWithTax.ToString(ViewBag.ValDigit)</span></strong></td>
                                    if (RoundOff == "Y")
                                    {
                                        <td></td>
                                    }
                                }
                                @if (TdsApply == "Y")
                                {
                                    <td>&nbsp;</td>
                                }
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tfoot>

                    </table>
                    <div style="padding:0px; padding-top:15px; display:none;">
                        <table class="table table-bordered" style="" id="ht_Tbl_OC_Deatils">
                            <thead>
                                <tr>
                                    <th>@Resource.OtherCharges</th>
                                    <th>@Resource.Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.OtherChargeDetails != null)
                                {
                                    var RowSno = 0;
                                    foreach (DataRow dr in ViewBag.OtherChargeDetails.Rows)
                                    {
                                        RowSno = RowSno + 1;
                                        <tr>
                                            <td id="OC_name">@dr["oc_name"]</td>
                                            <td id="OC_HSNCode">@dr["HSN_code"]</td>
                                            <td id="OC_Curr">@dr["curr_name"]</td>
                                            <td id="HdnOC_CurrId">@dr["curr_id"]</td>
                                            <td id="td_OCSuppName">@dr["supp_name"]</td>
                                            <td id="td_OCSuppID">@dr["supp_id"]</td>
                                            <td id="td_OCSuppType">@dr["supp_type"]</td>
                                            <td id="OC_Conv">@Convert.ToDecimal(dr["conv_rate"]).ToString(IsNull(ViewBag.ExchDigit, ViewBag.RateDigit))</td>
                                            <td hidden="hidden" id="OC_ID">@dr["oc_id"]</td>
                                            <td align="right" id="OCAmtSp">@Convert.ToDecimal(dr["oc_val"]).ToString(ViewBag.ValDigit)</td>
                                            <td align="right" id="OCAmtBs">@Convert.ToDecimal(dr["OCValBs"]).ToString(ViewBag.ValDigit)</td>
                                            @if (DocTaxable == "Y" && Taxable == "Y")
                                            {
                                                <td align="right" id="OCTaxAmt">@Convert.ToDecimal(dr["tax_amt"]).ToString(ViewBag.ValDigit)</td>
                                                <td align="right" id="OCTotalTaxAmt">@Convert.ToDecimal(dr["total_amt"]).ToString(ViewBag.ValDigit)</td>
                                                if (RoundOff == "Y")
                                                {
                                                    <td id="OC_RoundOff">@dr["roundoff"].ToString()</td>
                                                    <td id="OC_PM_Flag">@dr["pm_flag"].ToString()</td>
                                                }
                                            }
                                            @if (TdsApply == "Y")
                                            {
                                                <td id="OC_TDSAmt">@dr["tds_amt"]</td>
                                            }
                                            <td id="OCBillNo">@dr["bill_no"]</td>
                                            <td id="OCBillDate">@dr["bill_dt"]</td>
                                            <td id="OCBillDt" hidden>@dr["bill_date"]</td>
                                            <td id="OCAccId" hidden>@dr["oc_acc_id"]</td>
                                            <td id="OCSuppAccId" hidden>@dr["supp_acc_id"]</td>
                                            <td id="OCSuppStateCode" hidden>@dr["supp_state_code"]</td>
                                            @if (ViewBag.DocumentMenuId == "105101147")/*Added by Surbhi on 07/04/2025 for Supplementary Purchase Invoice(105101147)*/
                                            {
                                                <td id="OCFor" hidden>@dr["OCFor"]</td>
                                            }
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="OC_buttons">
                <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn_OC" onclick="OnClickSaveAndExit_OC_Btn();">@Resource.SaveAndExit</button>
                <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit_OC" data-dismiss="modal" onclick="OnClickDiscardAndExit_OC_Btn();">@Resource.DiscardAndExit</button>
                @if (ViewBag.DocumentMenuId == "105101147")/*Added by Surbhi on 27/05/2025 for Supplementary Purchase Invoice(105101147)*/
                {
                    <button type="button" class="btn btn-primary btn-sm" id="OC_ExitAndDiscard" data-dismiss="modal">@Resource.Close</button>
                }
            </div>
        </div>
    </div>
}
catch (Exception ex)
{
    string path = Server.MapPath("~");
    Errorlog.LogError(path, ex);
    throw ex;
}