@using EnRepMobileWeb.Resources;
@using System.Data;
@{
    var rowId = 1;
}
<div class="modal-content" style="min-width:700px;">
    <div class="modal-header">
        <h2>@Resource.Error @Resource.Detail</h2>
        <button type="button"
                class="close"
                id="CloseBtnExportError">
            &times;
        </button>
        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="card-box table-responsive dy_table margin10">
            <div class="tableFixHead height55VH ">
                <table class="table table-striped margin5" id="tbl_costcenterdis">
                    <thead>
                        <tr class="sticky-header">
                            <th width="10%">@Resource.SrNo</th>
                            <th width="90%">@Resource.Error @Resource.Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ErrorDetails != null)
                        {
                            foreach (var dtr in ViewBag.ErrorDetails.Rows)
                            {
                                <tr>
                                    <td>@rowId</td>
                                    <td>@dtr["ERRORMSG"].ToString()</td>
                                </tr>
                                rowId = rowId + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary btn-sm"
                id="CloseBtnExportError1">
            @Resource.Close
        </button>
        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>*@
    </div>
</div>
