@using EnRepMobileWeb.Resources;



<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.SaveAsTemplate</h2>
        <span class="close1 Closebtn1" data-dismiss="modal">&times;</span>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-12 col-sm-12 pop_right pop_left">
            <label class="col-form-label label-align">
                @Resource.TemplateName
            </label>
            <input id="TemplateName" class="form-control" autocomplete="off" onkeypress="OnchangeTemplateName11()" onchange="OnchangeTemplateName11()" type="text"
                   name="TemplateName" placeholder="@Resource.TemplateName">

            <span id="TemplateNameErrorMsg" class="error_message"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="SaveAndExitBtn12"  onclick="return SaveTaxTemplateFromTandC()">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm " id="TaxExitAndDiscard1" data-dismiss="modal">@Resource.DiscardAndExit</button>
    </div>
</div>

<script src="~/Content/Scripts/Common/CommonJS.js"></script>
