@using EnRepMobileWeb.Resources;
@*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
<div class="modal-content" style="min-width:700px;">
    <div class="modal-header">
        <h2>@Resource.Search @Resource.Item</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <label class="col-form-label label-align">@Resource.ItemName<span class="required"> * </span></label>
                <input id="SearchItemNameText" class="form-control" value="" autocomplete="off" type="text" name="ItemName" placeholder="@Resource.ItemName">
                <input type="hidden" id="SearchItemNameID" />
                <input type="hidden" id="SearchItemName" />
                <input type="hidden" id="FlagOK" />
               
                <span id="spanItemName" class="error_message"></span>
                <span id="spanItemName1" class="green num_right font-italic"></span>
            </div>
            <div class="col-md-1 col-sm-12 pt-4">
                @*<button type="button" class="btn btn-primary btn-sm" id="BtnSearch1" onclick="return Cmn_ItemNameSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>*@
                <button type="button" class="btn btn-primary btn-sm " id="Btn_Search1" onclick="Cmn_ItemNameSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="ShowDataOk" data-dismiss="modal" onclick="Cmn_onclickSearchItem_ShowDataOk()">@Resource.OK1</button>
        <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit" data-dismiss="modal">@Resource.DiscardAndExit</button>
    </div>
</div>
