@*Used in Delivery Note,Delivery Note SC,BOM,Production Plan,MRS,MTransferReceipt,*@
@{
    string lpath = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.FLogoPath))
    {
        lpath = ViewBag.FLogoPath.ToString();
    }

}
<table style="width:850px; paddingleft:6px; paddingright:7px;">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="width:83%;">
                        @*<img src="@Server.MapPath(@ViewBag.Details.Tables[0].Rows[0]["logo"].ToString())" alt="Logo" width="90" />*@
                        <img src="@lpath" alt="Logo" width="150" />
                    </td>
                    <td style="font-size: 12px; font-weight:normal; width:17%; text-align:right;">@System.DateTime.Now.ToString("dd-MM-yyyy hh:mm tt")</td>
                </tr>
            </table>
        </td>
    </tr>
    @*<tr>
            <td style="font-size: 18px;text-align:center;font-weight: bold;padding: 0px 0px; text-decoration:underline;">@ViewBag.Details.Tables[0].Rows[0]["Comp_nm"]</td>
        </tr>*@
    <tr>
        <td style="font-size: 22px; font-weight: bold; text-align: center; padding: 8px 0px; ">@ViewBag.Title</td>
    </tr>
    <tr>
        <td>
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="font-size: 12px; font-weight:normal;">
                            @*<strong>werwer </strong><strong>werwer</strong><br />*@
                            @*<strong>Branch : </strong> @ViewBag.Details.Tables[0].Rows[0]["Br_name"].ToString()*@
                            @if (ViewBag.DocumentMenuId != null)/*Add by hina on 04-12-2024 to chnage for delivery note*/
                            {
                                <strong>@ViewBag.Details.Tables[0].Rows[0]["comp_nm"].ToString()</strong>
                                <br />
                                <strong>Address :</strong>@ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString()
                                <br />
                                <strong>State :</strong> @ViewBag.Details.Tables[0].Rows[0]["state"].ToString() <br />
                                <strong>Country :</strong> @ViewBag.Details.Tables[0].Rows[0]["country"].ToString()
                                <br />
                            }
                            else
                            {
                                <strong>Branch : </strong> @ViewBag.Details.Tables[0].Rows[0]["Br_name"].ToString()
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
