@using System.Data;
@using EnRepMobileWeb.Resources;
@{ 

    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    if (ViewBag.DocumentMenuId == "105103145125" || ViewBag.DocumentMenuId == "105101140125")
    {
        VD = Convert.ToInt32(Session["ExpImpValDigit"].ToString());
    }
    else
    {
        VD = Convert.ToInt32(Session["ValDigit"].ToString());
    }

    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }
    decimal drAmtSp = 0;
    decimal drAmtBs = 0;
    decimal crAmtSp = 0;
    decimal crAmtBs = 0;
    string IsNull( string value,string result){
        if (string.IsNullOrEmpty(value))
        {
            return result;
        }
        return value;
    }
    string VouDisable = "";

    if(ViewBag.Disable is Boolean)
    {
        if (ViewBag.Disable is true)
        {
            VouDisable = "disabled";
        }
        else if (ViewBag.Disable is false)
        {
            VouDisable = "";
        }
    }
    else
    {
        VouDisable = ViewBag.Disable;
    }

    string HideVouDtlForPopup = "";
    string VouDtlTableWidth = "width1600";
    if (ViewBag.HideVouDtlForPopup == "Y")
    {
        HideVouDtlForPopup = "hidden";
        VouDtlTableWidth = "width1200";
    }

}
<div class="card-box table-responsive dy_table">
    <div class="col-md-12 col-sm-12">
        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height60VH">
            <table id="VoucherDetail" data-order="" class="table table-striped table-bordered rowhighlighttbl mt-2 @VouDtlTableWidth">
                <thead>
                    <tr class="sticky-header">
                        <th width="3%" @HideVouDtlForPopup>@Resource.SrNo</th>
                        <th width="3%">@Resource.GL @Resource.SrNo</th>
                        <th width="19%">@Resource.GLAccount</th>
                        <th width="8%">@Resource.DrAmount @Resource.InSpecific</th>
                        <th width="8%">@Resource.DrAmount @Resource.InBase</th>
                        <th width="8%">@Resource.CrAmount @Resource.InSpecific</th>
                        <th width="8%">@Resource.CrAmount @Resource.InBase</th>
                        <th width="8%">@Resource.Narration</th>
                        <th width="5%">@Resource.CostCenter</th>
                        <th width="7%" @HideVouDtlForPopup>@Resource.Voucher @Resource.Type</th>
                        <th width="13%" @HideVouDtlForPopup>@Resource.Voucher @Resource.Number</th>
                        <th width="10%" @HideVouDtlForPopup>@Resource.Voucher @Resource.Date</th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.GLAccount != null)
                    {
                        DataTable Details = new DataTable();
                        DataTable DetailsDr = new DataTable();
                        int i = 1;
                        foreach (DataRow dr in ViewBag.GLAccount.Rows)
                        {
                            var i_capg = false;

                            if (ViewBag.DocumentMenuId == "105101154" || ViewBag.DocumentMenuId == "105101145")
                            {
                                if (dr["i_capg"].ToString() == "Y")
                                {
                                    i_capg = true;
                                }
                            }
                            var Acc_Id = dr["acc_id"].ToString();
                            var acc_id_start_no = Acc_Id.Substring(0, 1);
                            var Disable = "";
                            if (acc_id_start_no == "3" || acc_id_start_no == "4")
                            {
                                Disable = "";
                            }
                            else
                            {
                                Disable = "disabled";
                            }
                            int rowSpan = Convert.ToInt32(dr["rowSpan"]);
                            int gl_sr_no = Convert.ToInt32(IsNull(dr["gl_sr_no"].ToString(),"0"));
                            if (gl_sr_no == 1)
                            {
                    <tr>
                        <td rowspan="@rowSpan" id="td_SrNo" @HideVouDtlForPopup>@dr["vou_sr_no"]</td>
                        <td id="td_GlSrNo">@dr["gl_sr_no"]</td>
                        <td id="td_vou_sr_no" hidden>@dr["vou_sr_no"]</td>
                        <td id="td_GlAccName" class="no-padding">
                            @if ((dr["gl_type"].ToString() == "Itm" || (dr["gl_type"].ToString() == "Tds" && ViewBag.DocumentMenuId == "105104130")) && !i_capg)
                            {
                                <div class="col-sm-12 lpo_form no-padding">
                                    <select class="form-control" @VouDisable id="Acc_name_@(i)" onchange="OnChangeAccountName(@(i),event)">
                                        <option value="@dr["acc_id"]">@dr["acc_name"]</option>
                                    </select>
                                </div>
                            }
                            else
                            {
                                @dr["acc_name"]
                            }
                        </td>
                        <td id="tdhdn_GlAccId" hidden>@dr["acc_id"]</td>
                        <td class="num_right" id="dramt">@Convert.ToDecimal(dr["dr_amt_sp"]).ToString(ValDigit)</td>
                        <td class="num_right" id="dramtInBase">@Convert.ToDecimal(dr["dr_amt_bs"]).ToString(ValDigit)</td>
                        <td class="num_right" id="cramt">@Convert.ToDecimal(dr["cr_amt_sp"]).ToString(ValDigit)</td>
                        <td class="num_right" id="cramtInBase">@Convert.ToDecimal(dr["cr_amt_bs"]).ToString(ValDigit)</td>
                        @if (ViewBag.Editable == "Y")
                        {
                            <td class="truncate-text" id="gl_narr" style="width:350px;padding-right:30px;"><span class="editable" @(VouDisable=="disabled" ? "" : $"contenteditable="+"true"+"")  onpaste="return Cmn_GLNarrLength(this,event);" onkeypress="return Cmn_GLNarrLength(this,event);">@dr["narr"]</span></td>
                        }
                        else
                        {
                            <td class="truncate-text" id="gl_narr" style="width:350px;padding-right:30px;"><span>@dr["narr"]</span></td>
                        }
                        <td class="center" id="td_CC">
                            <button type="button" @Disable id="BtnCostCenterDetail" onclick="Onclick_CCbtn('type',event)" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" title="@Resource.CostCenterDetail"></i></button>
                        </td>
                        <td hidden>
                            <input type="hidden" id="SNohf" value="@i" />
                            <input type="hidden" id="type" value='@dr["gl_type"]' />
                            <input type="hidden" id="txthfAccID" value='@dr["acc_name"]' />
                            <input type="hidden" id="hfAccID" value="@dr["acc_id"]" />
                            <input type="hidden" id="glVouType" value="@dr["vou_type"]" />
                            <input type="hidden" id="gl_curr_id" value="@dr["curr_id"]" />
                            <input type="hidden" id="gl_conv_rate" value="@dr["conv_rate"]" />
                            <input type="hidden" id="gl_bill_no" value="@dr["bill_no"]" />
                            <input type="hidden" id="gl_bill_date" value="@dr["bill_date"]" />
                            <input type="hidden" id="dramt1" value="@Convert.ToDecimal(dr["dr_amt_sp"]).ToString(ValDigit)" />
                            <input type="hidden" id="dramtInBase1" value="@Convert.ToDecimal(dr["dr_amt_bs"]).ToString(ValDigit)" />
                            <input type="hidden" id="cramt1" value="@Convert.ToDecimal(dr["cr_amt_sp"]).ToString(ValDigit)" />
                            <input type="hidden" id="cramtInBase1" value="@Convert.ToDecimal(dr["cr_amt_bs"]).ToString(ValDigit)" />
                        </td>
                        <td rowspan="@rowSpan" id="td_VouType" @HideVouDtlForPopup>@dr["vou_type"]</td>
                        <td rowspan="@rowSpan" id="td_VouNo" @HideVouDtlForPopup>
                            <div class=" col-sm-10 no-padding">
                                @*/*Add by Hina Sharma on 07-08-2025 to show all voucher pdf*/*@
                                @dr["vou_no"]
                            </div>
                            @if (ViewBag.GLVoucherNo != null && ViewBag.GLVoucherNo != "")
                            {
                                <div class="col-sm-2 i_Icon no-padding">
                                    <button type="button" id="" class="calculator" onclick="" data-toggle="modal" data-target="#" data-backdrop="static" data-keyboard="false">
                                        <img src="/Content/Images/pdf.png" alt="" onclick="Cmn_VocherDetailsPDF(event)" title="@Resource.Voucher @Resource.Detail">
                                    </button>
                                </div>
                            }

                        </td>

                        <td rowspan="@rowSpan" id="td_VouDate" @HideVouDtlForPopup>@dr["vou_dt"]</td>
                    </tr>

                            }
                            else
                            {
                <tr>
                    <td id="td_GlSrNo">@dr["gl_sr_no"]</td>
                    <td id="td_vou_sr_no" hidden>@dr["vou_sr_no"]</td>
                    <td id="td_GlAccName" class="no-padding">
                        @if ((dr["gl_type"].ToString() == "Itm" || (dr["gl_type"].ToString() == "Tds" && ViewBag.DocumentMenuId == "105104130")) && !i_capg)
                        {
                            <div class="col-sm-12 lpo_form no-padding">
                                <select class="form-control" @VouDisable id="Acc_name_@(i)" onchange="OnChangeAccountName(@(i),event)">
                                    <option value="@dr["acc_id"]">@dr["acc_name"]</option>
                                </select>
                            </div>
                        }
                        else
                        {
                            @dr["acc_name"]
                        }
                    </td>
                    <td id="tdhdn_GlAccId" hidden>@dr["acc_id"]</td>
                    <td class="num_right" id="dramt">@Convert.ToDecimal(dr["dr_amt_sp"]).ToString(ValDigit)</td>
                    <td class="num_right" id="dramtInBase">@Convert.ToDecimal(dr["dr_amt_bs"]).ToString(ValDigit)</td>
                    <td class="num_right" id="cramt">@Convert.ToDecimal(dr["cr_amt_sp"]).ToString(ValDigit)</td>
                    <td class="num_right" id="cramtInBase">@Convert.ToDecimal(dr["cr_amt_bs"]).ToString(ValDigit)</td>
                    @if (ViewBag.Editable == "Y")
                    {
                        <td class="truncate-text" id="gl_narr" style="width:350px;padding-right:30px;"><span class="editable" @(VouDisable=="disabled" ? "" : $"contenteditable="+"true"+"") onpaste="return Cmn_GLNarrLength(this,event);" onkeypress="return Cmn_GLNarrLength(this,event);">@dr["narr"]</span></td>
                    }
                    else
                    {
                        <td class="truncate-text" id="gl_narr" style="width:350px;padding-right:30px;"><span>@dr["narr"]</span></td>
                    }
                    @*<td class="truncate-text" id="gl_narr" style="width:350px;padding-right:30px;"><span>@dr["narr"]</span></td>*@
                    <td class="center" id="td_CC">
                        <button type="button" @Disable id="BtnCostCenterDetail" onclick="Onclick_CCbtn('type',event)" class="calculator subItmImg" data-toggle="modal" data-target="#CostCenterDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" title="@Resource.CostCenterDetail"></i></button>
                    </td>
                    <td hidden>
                        <input type="hidden" id="SNohf" value="@i" />
                        <input type="hidden" id="type" value='@dr["gl_type"]' />
                        <input type="hidden" id="txthfAccID" value='@dr["acc_name"]' />
                        <input type="hidden" id="hfAccID" value="@dr["acc_id"]" />
                        <input type="hidden" id="glVouType" value="@dr["vou_type"]" />
                        <input type="hidden" id="gl_curr_id" value="@dr["curr_id"]" />
                        <input type="hidden" id="gl_conv_rate" value="@dr["conv_rate"]" />
                        <input type="hidden" id="gl_bill_no" value="@dr["bill_no"]" />
                        <input type="hidden" id="gl_bill_date" value="@dr["bill_date"]" />
                        <input type="hidden" id="dramt1" value="@Convert.ToDecimal(dr["dr_amt_sp"]).ToString(ValDigit)" />
                        <input type="hidden" id="dramtInBase1" value="@Convert.ToDecimal(dr["dr_amt_bs"]).ToString(ValDigit)" />
                        <input type="hidden" id="cramt1" value="@Convert.ToDecimal(dr["cr_amt_sp"]).ToString(ValDigit)" />
                        <input type="hidden" id="cramtInBase1" value="@Convert.ToDecimal(dr["cr_amt_bs"]).ToString(ValDigit)" />
                    </td>

                </tr>

                            }

                            drAmtSp = drAmtSp + Convert.ToDecimal(dr["dr_amt_sp"]);
                            drAmtBs = drAmtBs + Convert.ToDecimal(dr["dr_amt_bs"]);
                            crAmtSp = crAmtSp + Convert.ToDecimal(dr["cr_amt_sp"]);
                            crAmtBs = crAmtBs + Convert.ToDecimal(dr["cr_amt_bs"]);


                            i++;
                        }


                    }


                </tbody>
                <tfoot>
                    <tr class="total">
                        @if (HideVouDtlForPopup == "hidden")
                        {
                            <td colspan="1"> &nbsp;</td>
                        }
                        else
                        {
                            <td colspan="2"> &nbsp;</td>
                        }
                        <td class="num_right"><strong>@Resource.Total</strong></td>
                        <td class="num_right"><strong><span @*id="DrTotal"*@>@*@drAmtSp*@</span></strong></td>
                        <td class="num_right"><strong><span id="DrTotalInBase">@Convert.ToDecimal(drAmtBs).ToString(ValDigit)</span></strong></td>
                        <td class="num_right"><strong><span @*id="CrTotal"*@>@*@crAmtSp*@</span></strong></td>
                        <td class="num_right"><strong><span id="CrTotalInBase">@Convert.ToDecimal(crAmtBs).ToString(ValDigit)</span></strong></td>
                        @if (HideVouDtlForPopup == "hidden")
                        {
                            <td colspan="5"> &nbsp;</td>
                        }
                        else
                        {
                            <td colspan="2"> &nbsp;</td>
                        }

                    </tr>


                </tfoot>
            </table>
        </div>
    </div>
</div>

