
@using EnRepMobileWeb.Resources;
@{
    string IsNull(string str, string str2)
    {
        return string.IsNullOrEmpty(str) == true ? str2 : str;
    }
    decimal subItmTotal = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.SubItem @Resource.ReturnQuantityDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body ">
        <div class="col-md-6 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.Product @Resource.Name
            </label>
            <input id="RtWh_Sub_ProductlName" class="form-control" autocomplete="off" type="text" name="ProductlName" placeholder="@Resource.Product @Resource.Name" disabled="">
            <input id="RtWh_Sub_ProductlId" hidden>
            <input hidden type="text" id="RtWh_Subitem" value="" />
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="RtWh_Sub_serialUOM" class="form-control" autocomplete="off" type="text" name="serialUOM" placeholder="UOM" onblur="this.placeholder='UOM'" disabled="">
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            @if (ViewBag.DocumentMenuId == "105102150")
            {
                <label class="col-form-label label-align">@Resource.SourceDocumentNumber</label>
            }
            else
            {
                <label class="col-form-label label-align">@Resource.GRNNumber</label>
            }
            <input id="RtWh_Sub_GRNNo" class="form-control" autocomplete="off" type="text" name="GRNNumber" placeholder=" @Resource.GRNNumber" disabled="">
            <input id="RtWh_Sub_GRNNo" hidden>

        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            @if (ViewBag.DocumentMenuId == "105102150")
            {
                <label class="col-form-label label-align">@Resource.SourceDocumentDate</label>
            }
            else
            {
                <label class="col-form-label label-align">@Resource.GRNDate</label>
            }
            <input id="RtWh_Sub_GRNDate" class="form-control" autocomplete="off" type="text" name="" placeholder="@Resource.GRNDate" disabled="">
            <input id="HdnRtWh_Sub_GRNDate" hidden>
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align ">@Resource.ReturnQuantity</label>
            <input id="RtWh_Sub_RetrnQuantity" class="form-control num_right" autocomplete="off" type="text" name="Quantity" placeholder="0000.00" disabled="">
        </div>
        <div class="card-box table-responsive dy_table margin15 price_item_detail">
            <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                <table id="RtWh_Sub_ItemDetailTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                    <thead>
                        <tr class="sticky-header">
                            <th width="10%">@Resource.SrNo</th>
                            <th width="40%">@Resource.WarehouseName</th>
                            <th width="20%">@Resource.AvailableQuantity</th>
                            <th width="30%">@Resource.ReturnQuantity</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="num_right" style="padding:5px 5px 0px 0px;"><strong> @Resource.Total</strong></td>
                            <td class="num_right"><span id="RtWh_TotalQty" class="font-weight-bold "></span></td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>


    </div>
    @*<div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="">@Resource.Close</button>
        </div>*@
<div class="modal-footer">

    <button type="button" class="btn btn-primary btn-sm" id="RtWh_SubItemSaveAndExitBtn" onclick="PRtWh_SaveAndExitSubItem('SlsReturn')">@Resource.SaveAndExit</button>
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="RtWh_SubItemDiscardAndExitBtn" onclick="">@Resource.DiscardAndExit</button>
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="Close" onclick="">@Resource.Close</button>





</div>
</div>
