@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons_filter {
        right: 21.5%;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Email </h2> <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-8 col-sm-12">
                    <label class="col-form-label label-align">@Resource.Email<span class="required">*</span></label>
                    @*<input class="form-control" id="Emailtxt" maxlength="20" name="Email" onchange="" onkeyup="" placeholder="@Resource.Email" type="text" value="">*@
                    <input class="form-control" id="Emailtxt" maxlength="50" name="Email"
                           placeholder="Enter your email" type="text" onkeyup="onclickEmail()">
                    <span id="vmEmail" style="color: red; font-size: 13px;"></span>
                </div>
                <!--<div class="col-md-2 col-sm-12">-->
                @*<button class="margin22 address_save" title="Save" type="submit" onclick="return AddNewEmailBtnClick()" id="btn_saveUOM" name="Command" value="Save"></button>*@
                <!--<button class="margin22 address_save" title="Save" type="button" onclick="AddNewEmailBtnClick()" id="btn_saveUOM"></button>
    </div>-->
                <div class="col-md-1 col-sm-12 margin28 pl-0 ">
                    <div class="col-md-6 col-sm-12" id="divAddAddrDtl" style="/* display: none; */">

                        <a href="#" title="" data-original-title="Add">
                            <div class="plus_icon1" id="addnew"><i class="fa fa-plus" aria-hidden="true" onclick="AddNewEmailBtnClick()"></i></div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a href="#" style="color:#ffffff;">
                            <div class="plus_icon1" id="divUpdate" style="display: block;">
                                <i class="fa fa-refresh ref"  title="Update" onclick="AddNewEmailBtnClick()"></i>
                                <input type="hidden" id="UpdtAddrId" value="101">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel margin10">
                        <div class="x_content">
                            <div class="card-box table-responsive dy_table">
                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                    <table id="Email" class="table table-bordered">
                                        <thead>
                                            <tr class="sticky-header">
                                                <th class="two_per">&nbsp;</th>
                                                <th class="two_per">&nbsp;</th>
                                                <th class="two_per">@Resource.SrNo</th>
                                                <th width="18%"> @Resource.Email</th>
                                                @*<th class="two_per">&nbsp;</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="emailTableBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" onclick="ResetEmail()">@Resource.Reset</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="SaveEmail()">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="DiscardandExit()">@Resource.DiscardAndExit</button>
    </div>
</div>
