@using EnRepMobileWeb.Resources;

<section class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> @Resource.TermsAndConditions<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
            <table width="100%">
                <tr>
                    <td>
                        <div class="col-md-6 col-sm-12">
                            <div class="lpo_form">
                                <label class="col-form-label label-align">@Resource.Terms </label>
                                @if ((Session["DocumentStatus"].ToString().Trim() != "D") || ViewBag.Disable)
                                {
                                    <input id="TxtTerms_Condition" disabled class="form-control" autocomplete="off" maxlength="100" type="text"  onkeypress="OnKeyPressTerm();" name="TxtTerms_Condition" placeholder="@Resource.TermsAndConditions"  onblur="this.placeholder='@Resource.TermsAndConditions'">
                                }
                                else
                                {
                                    <input id="TxtTerms_Condition" class="form-control" autocomplete="off" maxlength="100" type="text" onchange="OnKeyPressTerm();" onkeypress="OnKeyPressTerm();" name="TxtTerms_Condition" placeholder="@Resource.TermsAndConditions"  onblur="this.placeholder='@Resource.TermsAndConditions'">
                                }

                                <span id="SpanTerms_Condition" class="error_message"></span>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-12 margin25">
                            @if ((Session["DocumentStatus"].ToString().Trim() != "D") || ViewBag.Disable)
                            {

                            }
                            else
                            {
                                <a href="#">
                                    <div class="plus_icon1"> <i class="fa fa-plus" id="BtnTermsAndCondition" onclick="OnClickAddTermConditionDetail()" title="@Resource.AddNew"></i> </div>
                                </a>
                            }

                        </div>

                        <div class="table-responsive margin15">

                            <table id="TblTerms_Condition" class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="sticky-header">
                                        <th width="1%"> &nbsp;</th>
                                        <th>@Resource.TermsAndConditions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ItemTermsdetails != null)
                                    {
                                        if ((Session["DocumentStatus"].ToString().Trim() != "D") || ViewBag.Disable)
                                        {
                                            foreach (System.Data.DataRow dr in ViewBag.ItemTermsdetails.Rows)
                                            {
                                                <tr>
                                                   <td class="red center"> <i class="fa fa-trash" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                    <td id="term_desc">@dr["term_desc"].ToString()</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            foreach (System.Data.DataRow dr in ViewBag.ItemTermsdetails.Rows)
                                            {
                                                <tr>
                                                   <td class="red center"> <i class="fa fa-trash deleteIcon" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                    <td id="term_desc">@dr["term_desc"].ToString()</td>
                                                </tr>
                                            }
                                        }

                                    }



                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</section>
