@using EnRepMobileWeb.Resources;
<section class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">  @Resource.TaxAndOtherCharges <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingTwo" style="">
        <div class="panel-body">
            <div class="row">
                <div id="" class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <div id="" class="col-md-6 col-sm-12" style="margin-top:10px;">
                            <div class="tableFixHead height30VH">
                                <table class="table table-striped jambo_table bulk_action" id="Tbl_ItemTaxAmountList">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">@Resource.TaxName</th>
                                            <th class="column-title" style="text-align: right;">@Resource.Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr style="background-color: #e4e4e4;">
                                            <td colspan="1"><strong> @Resource.TotalTax</strong></td>
                                            <td align="right"><strong> <span id="_ItemTaxAmountTotal"></span></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div id="" class="col-md-6 col-sm-12" style="margin-top:10px;">
                            <div class="tableFixHead height30VH">
                                <table class="table table-striped jambo_table bulk_action" id="Tbl_OtherChargeList">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">@Resource.OtherCharges</th>
                                            <th class="column-title no-link last" style="text-align: right;"><span class="nobr">@Resource.Amount</span> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr style="background-color: #e4e4e4;">
                                            <td><strong>@Resource.TotalOtherCharges</strong></td>
                                            <td align="right"><strong><span id="_OtherChargeTotal"></span></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
