@using EnRepMobileWeb.Resources;

<style>
    .itmStickCB {
        background-color: #617892;
    }
    
</style>
@{ 
    string GlVouType = "";
    string GlVouNumber = "";
    string GlVouDate = "";
    if (ViewBag.GLAccount != null)
    {
        if (ViewBag.GLAccount.Rows.Count > 0)
        {

            System.Data.DataRow dr = ViewBag.GLAccount.Rows[0];
            GlVouType = dr["vou_type"].ToString();
            GlVouNumber = dr["vou_no"].ToString();
            GlVouDate = dr["vou_dt"].ToString();
        }
    }
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.VoucherDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body pop_top">
        <div class="col-md-3 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.GLVoucherType</label>
            <input autocomplete="off" class="form-control" placeholder="@Resource.GLVoucherType"  readonly="readonly" type="text" value="@GlVouType">
        </div>
        <div class="col-md-3 col-sm-12 pl-0">
            <label class="col-form-label label-align">@Resource.GLVoucher @Resource.Number</label>
            <input autocomplete="off" class="form-control" placeholder="@Resource.GLVoucher @Resource.Number" readonly="readonly" type="text" value="@GlVouNumber">
            <input hidden  type="text" id="hdn_pp_supp_id" value="@ViewBag.suppId">
        </div>
        <div class="col-md-3 col-sm-12">
            <label class="col-form-label label-align">@Resource.GLVoucher @Resource.Date</label>
            <input autocomplete="off" class="form-control" placeholder="@Resource.GLVoucher @Resource.Date" readonly="readonly" type="text" value="@GlVouDate">
            <input type="hidden" id="mwhdn_voudt" />
        </div>
        @{
            ViewBag.HideVouDtlForPopup = "Y";
        }
        @Html.Partial("~/Areas/Common/Views/Cmn_PartialGLAccountDetail.cshtml")

    </div>
    <div class="modal-footer">
        @if (ViewBag.Editable == "Y")
        {
            <button type="button" class="btn btn-primary btn-sm" id="pp_GlDetailSaveAndExitBtn" onclick="Cmn_SaveAndExitPopupGlDetail()">Save &amp; Exit</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="SubItemDiscardAndExitBtn" onclick="">Discard &amp; Exit</button>
        }
        else
        {
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.Close</button>
        }
    </div>
</div>
