@using EnRepMobileWeb.Resources;
@using System.Data;

@{

    var DisabledParmentschedule = "";
    if (ViewBag.Disable == true)
    {
        DisabledParmentschedule = "Disabled";
    }

}
@{
    string ValDigit = "0.";
    var VD = Convert.ToInt32(Session["ValDigit"].ToString());
    for (var i = 0; i < VD; i++)
    {
        ValDigit += "0";
    }

}

<section class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" class="collapsed"
               aria-controls="collapseEight">  @Resource.Payment @Resource.Schedule <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a>
        </h4>
    </div>
    <div id="collapseEight" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingEight" style="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-2 col-sm-12 pr-0">
                        <label class="col-form-label label-align">@Resource.Invoice @Resource.Amount</label>
                        <input class="form-control" id="PaymentscheduleInvoiceAmount" name="PaymentscheduleInvoiceAmount" placeholder="0000.00" readonly="readonly" type="text">
                        <span id="SpanPaymentScheduleInvoiceAmountErrorMsg" class="error_message"></span>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-2 col-sm-12 pr-0">
                        <label class="col-form-label label-align">@Resource.Payment @Resource.Terms</label>
                        <input class="form-control" id="PaymentScheduleTerms" @DisabledParmentschedule maxlength="200" oninput="Cmn_allowAlphaNumericSpace(this)" onchange="Cmn_PaymSchePaymTerms()" autocomplete="off" name="PaymentScheduleTerms" placeholder="@Resource.Payment @Resource.Terms" type="text">
                        <span id="SpanPaymentSchedulePaymentTermsErrorMsg" class="error_message"></span>
                        <input type="hidden" id="tblPaymentSchedule_Headersr_no" value="0" />

                    </div>
                    <div class="col-md-2 col-sm-12 pr-0">
                        <label class="col-form-label label-align">@Resource.Payment %</label>
                        <input class="form-control num_right" id="PaymentSchedulePercentage" @DisabledParmentschedule autocomplete="off" oninput="return Cmn_PercentageValueonly(this,event,'FPayment');" onchange="Cmn_PaymSchedPerce()" onpaste="return CopyPasteData(event)" maxlength="3" name="PaymentSchedulePercentage" placeholder="0000.00" type="text">
                        <span id="SpanPaymentSchedulePercentageErrorMsg" class="error_message"></span>
                    </div>
                    <div class="col-md-2 col-sm-12 pr-0">
                        <label class="col-form-label label-align">@Resource.Payment @Resource.Amount</label>
                        <input class="form-control num_right" id="PaymentSchedulePaymentAmount" name="PaymentSchedulePaymentAmount" placeholder="0000.00" readonly="readonly" type="text" value="">
                    </div>
                    @if (DisabledParmentschedule == "Disabled")
                    {
                        @*<div class="col-md-2 col-sm-12 pr-0 mt-4" style="display:none">
                            <a href="#" title="Add New">
                                <div class="plus_icon1" id="Div_PaymentScheduleAddBtnItem">

                                    <i class="fa fa-plus" id="PaymentScheduleBtnAddItem" onclick="return Cmn_AddUpdateBtnPaymeSched()"></i>
                                </div>
                            </a>
                        </div>*@
                        <div class="col-md-2 col-sm-12 pr-0 mt-4" style="display:none">
                            <div class="plus_icon1" id="Div_PaymentScheduleAddBtnItem"
                                 title="Add New"
                                 style="cursor:pointer"
                                 onclick="Cmn_AddUpdateBtnPaymeSched()">

                                <i class="fa fa-plus" id="PaymentScheduleBtnAddItem"></i>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 col-sm-12 pr-0 mt-4">
                            <div class="plus_icon1" id="Div_PaymentScheduleAddBtnItem"
                                 title="Add New"
                                 style="cursor:pointer"
                                 onclick="Cmn_AddUpdateBtnPaymeSched()">

                                <i class="fa fa-plus" id="PaymentScheduleBtnAddItem"></i>
                            </div>
                        </div>
                    }

                    <div class="card-box table-responsive dy_table margin15">
                        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                            <div class="col-md-12 col-sm-12">
                                <table id="tblPaymentSchedule" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                                    <thead>
                                        <tr class="sticky-header">
                                            <th width="3%"> &nbsp;</th>
                                            <th width="3%"> &nbsp;</th>
                                            <th width="3%">Sr.No.</th>
                                            <th width="21%"> @Resource.Payment @Resource.Terms</th>
                                            <th width="15%">@Resource.Payment %</th>
                                            <th width="15%">@Resource.Payment @Resource.Amount</th>
                                            <th width="40%">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            decimal TotalPercentage = 0;
                                            decimal Totalamount = 0;
                                        }

                                        @if (ViewBag.PaymentScheduleData != null)
                                        {
                                            int index = 1;   // starts from 1 (change to 0 if required)

                                            foreach (DataRow dr in ViewBag.PaymentScheduleData.Rows)
                                            {
                                                decimal rowPercentage = dr["precentage"] == DBNull.Value ? 0 : Convert.ToDecimal(dr["precentage"]);
                                                decimal rowAmount = dr["amt"] == DBNull.Value ? 0 : Convert.ToDecimal(dr["amt"]);

                                                <tr>
                                                    @if (DisabledParmentschedule == "Disabled")
                                                    {
                                                        <td class="center sorting_1">
                                                            <i class="fa fa-edit text-muted disabled-icon"
                                                               title="Edit (Disabled)"></i>
                                                        </td>
                                                        <td class="center">
                                                            <i class="fa fa-trash text-muted disabled-icon"
                                                               title="Delete (Disabled)"></i>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="center sorting_1">
                                                            <i class="fa fa-edit"
                                                               onclick="Cmn_EditPaymentSchedule(this)"
                                                               title="Edit"
                                                               style="cursor:pointer;"></i>
                                                        </td>
                                                        <td class="center">
                                                            <i class="fa fa-trash red"
                                                               onclick="Cmn_DeletePaymentSchedule(this)"
                                                               title="Delete"
                                                               style="cursor:pointer;"></i>
                                                        </td>
                                                    }

                                                    <td class="center ps-srno">@index</td>
                                                    <td class="ps-term">@dr["paym_mst"]</td>

                                                    <td class="num_right ps-percentage">
                                                        @rowPercentage.ToString("F2")
                                                    </td>

                                                    <td class="num_right ps-amount">
                                                        @rowAmount.ToString("F2")
                                                    </td>

                                                    <td>&nbsp;</td>
                                                </tr>

                                                {
                                                    TotalPercentage += rowPercentage;
                                                    Totalamount += rowAmount;
                                                    index++;
                                                }
                                            }
                                        }

                                    </tbody>


                                    <tfoot>
                                        <tr class="total">
                                            <td colspan="4"></td>

                                            <td id="TotaltblPaymentSchedulePercentage"
                                                class="num_right font-weight-bold">
                                                @TotalPercentage.ToString("F2")
                                            </td>

                                            <td id="TotaltblPaymentAmount"
                                                class="num_right font-weight-bold">
                                                @Totalamount.ToString(@ValDigit)
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
