@using EnRepMobileWeb.Resources;
@*          Important
       This Partial is used in
    1.Material Issue(105102130108,105102130105,105102130101)
    2.Production Confirmation(Done (105105130)
    3.Material Transfer Issue =docid (105102130103)Done
    4.Shopfloor Stock Transfer(105105140 Done)
    5.Shipment(105103135,105103145120)Done
    6.Goods Reciept Note(105102115101 not use)
    7.Material Dispatch (105108105)
    8.Swap Stock (105102165)
    9. SCrap Sales Invoice
    10. Packing Job Order
*@

@{
    var Disable = true;
    decimal TotalIssueQty = 0;
    ViewBag.QtyDigit = "0.";
    var QtyDigit = 0;
    if (ViewBag.DocID == "105103145120")
    {
        QtyDigit = Convert.ToInt32(Session["ExpImpQtyDigit"].ToString());
    }
    else
    {
        QtyDigit = Convert.ToInt32(Session["QtyDigit"].ToString());
    }
    for (var i = 0; i < QtyDigit; i++)
    {
        ViewBag.QtyDigit += "0";
    }

    //if (ViewBag.DocID != "105102130101" && ViewBag.DocID != "105102130105" && ViewBag.DocID != "105102130108" && ViewBag.DocID != "105108105" && ViewBag.DocID != "105105130" && ViewBag.DocID != "105105140" && ViewBag.DocID != "105102130103" && ViewBag.DocID != "105103135" && ViewBag.DocID != "105103145120")
    //{
    //    ViewBag.Command = Session["Command"] == null ? "" : Session["Command"].ToString();
    //    ViewBag.TransType = Session["TransType"] == null ? "" : Session["TransType"].ToString();
    //}

    if (ViewBag.TransType != null)
    {
        if (ViewBag.TransType == "Update")
        {
            if (ViewBag.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            if (ViewBag.Command == "Refresh")
            {
                Disable = true;
            }
            else
            {
                Disable = false;
            }
        }
    }
    string disableMfg = "";
    if (Disable)
    {
        disableMfg = "disabled";
    }
    else
    {
        if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
        {
            disableMfg = "disabled";
        }
    }
}
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<div class="modal-content">
    <div class="modal-header">

        @if (ViewBag.DocID == "105103135" || ViewBag.DocID == "105103145120")//Added by Suraj on 13-09-2024
        {
            Disable = true;
            <h2>@Resource.LotDetail</h2>
        }
        else
        {
            <h2>@Resource.BatchDetail</h2>
        }
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top: 0px;">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.ItemName
            </label>
            <input id="ItemNameBatchWise" class="form-control" type="text" name="ItemName" placeholder="@Resource.ItemName" disabled>
            <input type="hidden" id="HDItemNameBatchWise" />
            <input type="hidden" id="HDMatrlTypIDBatchWise" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">
                @Resource.UOM
            </label>
            <input id="UOMBatchWise" class="form-control" type="text" name="UOM" placeholder="@Resource.UOM" disabled>
            <input type="hidden" id="HDUOMBatchWise" />
        </div>
        <div class="col-md-2 col-sm-12" style="padding-left:0px; padding-right:0px;">
            <label class="col-form-label label-align">
                @if (ViewBag.DocID != null)
                {
                    if (ViewBag.DocID == "105103130" || ViewBag.DocID == "105103145115")
                    {
                        @Resource.PackedQuantity
                    }
                    if (ViewBag.DocID == "105103135" || ViewBag.DocID == "105103145120")
                    {
                        @Resource.ShippedQuantity
                    }
                    if (ViewBag.DocID == "105102130101" || ViewBag.DocID == "105105130" || ViewBag.DocID == "105102130105"
                        || ViewBag.DocID == "105102130103" || ViewBag.DocID == "105105140"
                        || ViewBag.DocID == "105108105" || ViewBag.DocID == "105102115105" ||
                        ViewBag.DocID == "105102180140" || ViewBag.DocID == "105105155135" || ViewBag.DocID == "105102160")
                    {
                        @Resource.IssuedQuantity
                    }
                    if (ViewBag.DocID == "105105127" || ViewBag.DocID == "105105128")
                    {
                        @Resource.ConsumedQuantity
                    }
                    if (ViewBag.DocID == "105102165")
                    {
                        @Resource.Swap @Resource.Quantity
                    }
                    if (ViewBag.DocID == "105103148" || ViewBag.DocID == "105103149" || ViewBag.DocID == "105101153")/*Added by Surbhi on 03/07/2025 for Inter Branch Purchase(105101153)*/
                    {
                        @Resource.Invoice @Resource.Quantity
                    }
                }
            </label>
            <input id="QuantityBatchWise" class="form-control num_right" type="text" name="Quantity" placeholder=" " disabled>
        </div>
        <div class="clearfix"></div>
        @*<div class="form-group has-search imp_sear col-md-4 col-sm-12 pl-0 pr-2 mt-1">
                <span class="fa fa-search form-control-feedback pd_search"></span>
                <input type="text" class="form-control" placeholder="@Resource.Search" onkeyup="FilterPackingLotBatch(event)">
            </div>*@

        <div class="BatchDetail">
            @*<div class="tableFixHead price_item_detail ">
                <table id="BatchWiseItemStockTbl" class="table table-bordered margin5">
                    <thead>
                        <tr class="headings" disabled="disabled">*@
            @if (ViewBag.DocID == "105102165")
            {
                <div class="form-group has-search imp_sear col-md-4 col-sm-12 pl-0 pr-2 mt-1">
                    <span class="fa fa-search form-control-feedback pd_search"></span>
                    <input type="text" class="form-control" placeholder="@Resource.Search" onkeyup="FilterLotBatchPartial(event)">
                </div>
            }
            <div class="card-box table-responsive  dy_table margin15 price_item_detail" id="div_BatchWiseItemStockTbl">
                <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
                    <table id="BatchWiseItemStockTbl" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header" disabled="disabled">
                                <th width="10%" disabled="disabled"> @Resource.Lot</th>
                                @if (ViewBag.DocID == "105103135" || ViewBag.DocID == "105103145120")
                                {
                                    <th width="15%" disabled="disabled"> @Resource.Batch1 / @Resource.Serial1</th>
                                }
                                else
                                {
                                    <th width="15%" disabled="disabled"> @Resource.Batch1</th>
                                }
                                <th width="15%">@Resource.Manufacturer @Resource.Name</th>
                                <th width="10%">@Resource.MRP</th>
                                <th width="12%">@Resource.Manufactured @Resource.Date</th>
                                <th width="12%"> @Resource.Expiry <br />  @Resource.Date</th>
                                @if (ViewBag.DocID != "105101153")/*Added by Surbhi on 16/07/2025 for Inter Branch Purchase Invoice(105101153)*/
                                {
                                    <th width="10%" disabled="disabled"> @Resource.Available <br />  @Resource.Quantity</th>
                                }
                                @*<th width="20%"> @Resource.Issued <br />  @Resource.Quantity</th>*@

                                @if (ViewBag.DocID != null)
                                {
                                    if (ViewBag.DocID == "105103130" || ViewBag.DocID == "105103145115")
                                    {
                                        <th width="10%"> @Resource.Packed <br />  @Resource.Quantity</th>
                                    }
                                    if (ViewBag.DocID == "105103135" || ViewBag.DocID == "105103145120")
                                    {
                                        <th width="10%"> @Resource.Shipped <br />  @Resource.Quantity</th>
                                    }
                                    if (ViewBag.DocID == "105102130101" || ViewBag.DocID == "105105130" || ViewBag.DocID == "105102130105"
                                        || ViewBag.DocID == "105102130103" || ViewBag.DocID == "105105140"
                                        || ViewBag.DocID == "105108105" || ViewBag.DocID == "105102115105" || ViewBag.DocID == "105102180140" || ViewBag.DocID == "105102160" || ViewBag.DocID == "105105155135")
                                    {
                                        <th width="10%"> @Resource.Issued <br />  @Resource.Quantity</th>
                                    }
                                    if (ViewBag.DocID == "105105127" || ViewBag.DocID == "105105128")
                                    {
                                        <th width="10%"> @Resource.Consumed <br />  @Resource.Quantity</th>
                                    }
                                    if (ViewBag.DocID == "105102165")
                                    {
                                        <th width="10%">  @Resource.Swap <br />  @Resource.Quantity</th>
                                    }
                                    if (ViewBag.DocID == "105103148" || ViewBag.DocID == "105103149" || ViewBag.DocID == "105101153")/*Added by Surbhi on 03/07/2025 for Inter Branch Purchase(105101153)*/
                                    {
                                        <th width="10%">
                                            @Resource.Invoice <br /> @Resource.Quantity
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.ItemStockBatchWise != null)
                            {
                                
                                //decimal IssueQty = 0;
                                foreach (System.Data.DataRow Row in ViewBag.ItemStockBatchWise.Rows)
                                {
                                    if (Row["issue_qty"].ToString() != "" && Row["issue_qty"].ToString() != null)
                                    {
                                        TotalIssueQty = Convert.ToDecimal(TotalIssueQty) + Convert.ToDecimal(Row["issue_qty"].ToString());
                                    }
                                    <tr>
                                        <td>
                                            <input id="Lot" value="@Row["lot_id"].ToString()" class="form-control" autocomplete="off" type="text" name="Lot" placeholder="" disabled="">
                                        </td>
                                        <td>
                                            <input id="BatchNumber" value="@Row["batch_no"].ToString()" class="form-control" autocomplete="off" type="text" name="BatchNumber" placeholder="" disabled="">
                                        </td>

                                        <td>
                                            @if (ViewBag.DocID == "105105140")
                                            {
                                                
                                                <input id="BtMfgName" @disableMfg value="@Row["mfg_name"].ToString()"  class="form-control remarksmessage" autocomplete="off" type="text" name="MfgName" placeholder="">
                                            }
                                            else
                                            {
                                                <input id="BtMfgName" value="@Row["mfg_name"].ToString()" class="form-control remarksmessage" autocomplete="off" type="text" name="MfgName" placeholder="" disabled="">
                                            }
                                        </td>
                                        <td>
                                            @if (ViewBag.DocID == "105105140")
                                            {
                                                <input id="BtMfgMrp" @disableMfg value="@Row["mfg_mrp"].ToString()" onchange="Cmn_OnChangeMfgMrp(event)" onkeypress="return Cmn_FloatValueonly(this,event,'#RateDigit')" class="form-control num_right" autocomplete="off" type="text" name="MfgMrp" placeholder="">
                                            }
                                            else
                                            {
                                                <input id="BtMfgMrp" value="@Row["mfg_mrp"].ToString()" class="form-control num_right" autocomplete="off" type="text" name="MfgMrp" placeholder="" disabled="">
                                            }
                                        </td>
                                        <td>
                                            @if (ViewBag.DocID == "105105140")
                                            {
                                                <input id="BtMfgDate" @disableMfg value="@Row["mfg_date"].ToString()" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" autocomplete="off" type="date" name="MfgDate">
                                            }
                                            else
                                            {
                                                <input id="" value="@(Row["mfg_date"].ToString() == "" ? "" : Convert.ToDateTime(Row["mfg_date"]).ToString("dd-MM-yyyy"))" class="form-control" autocomplete="off" type="text" name="MfgDate" placeholder="" disabled="">
                                                <input id="BtMfgDate" hidden value="@Row["mfg_date"].ToString()" class="form-control" autocomplete="off" type="date" name="MfgDate" disabled="">
                                            }
                                        </td>
                                        <td>
                                            @if (@Row["expiry_date"].ToString() == "01-01-1900")
                                            {
                                                <input id="ExpiryDate" value="" class="form-control" autocomplete="off" type="text" name="ExpiryDate" placeholder="" disabled="">
                                            }
                                            else
                                            {
                                                <input id="ExpiryDate" value="@Row["expiry_date"].ToString()" class="form-control" autocomplete="off" type="text" name="ExpiryDate" placeholder="" disabled="">
                                            }
                                            <input id="hfExDate" hidden="hidden" value="@Row["exp_dt"].ToString()" />
                                        </td>
                                        @if (ViewBag.DocID != "105101153")/*Added by Surbhi on 16/07/2025 for Inter Branch Purchase Invoice(105101153)*/
                                        {
                                            <td align="right">
                                                <input id="AvailableQuantity" value="@Convert.ToDecimal(Row["avl_batch_qty"]).ToString(ViewBag.QtyDigit)" class="form-control num_right" autocomplete="off" type="text" name="AvailableQuantity" placeholder="" disabled="">
                                            </td>
                                        }
                                        <td>
                                            <div class="lpo_form">
                                                @if (ViewBag.DocID != "105105127" && ViewBag.DocID != "105103135" && ViewBag.DocID != "105103145120" && ViewBag.DocID != "105103148" && ViewBag.DocID != "105105128" && ViewBag.DocID != "105103149")
                                                {
                                                    if (Disable)
                                                    {
                                                        <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                                                        {
                                                            <input id="IssuedQuantity" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.DocID == "105108105" && (ViewBag.Command == "Edit" || ViewBag.DocumentCode == "D"))
                                                            {
                                                                <input id="IssuedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                            }
                                                            else
                                                            {
                                                                <input id="IssuedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeIssueQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="IssuedQuantity" placeholder="">
                                                            }
                                                        }
                                                    }

                                                }
                                                else
                                                {
                                                    if (ViewBag.DocID == "105105127" || ViewBag.DocID == "105105128")
                                                    {
                                                        if (ViewBag.DocumentCode == "I" || ViewBag.DocumentCode == "PFC")
                                                        {
                                                            <input id="ConsumedQuantity" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeConsumedQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="ConsumedQuantity" placeholder="">
                                                            <span id="ConsumedQuantity_Error" class="error-message is-visible"></span>

                                                        }
                                                        else
                                                        {
                                                            <input id="IssuedQuantity" disabled class="form-control num_right " value="@Row["issue_qty"].ToString()" autocomplete="off" type="text" name="IssuedQuantity" placeholder=" ">
                                                        }
                                                    }
                                                    else if (ViewBag.DocID == "105103148" || ViewBag.DocID == "105103149")
                                                    {
                                                        if (Row["bt_sale"].ToString() == "Y")
                                                        {
                                                            if (Disable || (ViewBag.DocumentCode != "D" && ViewBag.DocumentCode != ""))
                                                            {
                                                                <input id="BatchInvoiceQty" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeInvQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="InvoicedQuantity" placeholder=" ">
                                                                <span id="BatchInvoiceQty_Error" class="error-message is-visible"></span>
                                                            }
                                                            else
                                                            {
                                                                <input id="BatchInvoiceQty" class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeInvQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="InvoicedQuantity" placeholder=" ">
                                                                <span id="BatchInvoiceQty_Error" class="error-message is-visible"></span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <input id="BatchInvoiceQty" disabled class="form-control num_right" value="@Row["issue_qty"].ToString()" onchange="OnChangeInvQty(this,event);" onkeypress="return QtyFloatValueonly(this,event);" autocomplete="off" type="text" name="InvoicedQuantity" placeholder=" ">
                                                            <span id="BatchInvoiceQty_Error" class="error-message is-visible"></span>
                                                        }

                                                        <input hidden="hidden" value="@Row["bt_sale"].ToString()" id="bt_sales" />
                                                    }
                                                    else
                                                    {
                                                        <input id="IssuedQuantity" disabled class="form-control num_right " value="@Convert.ToDecimal(Row["issue_qty"]).ToString(ViewBag.QtyDigit)" autocomplete="off" type="text" name="IssuedQuantity" placeholder=" ">

                                                    }
                                                }

                                                <span id="IssuedQuantity_Error" class="error-message is-visible"></span>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table table-bordered" id="ItembatchwiseDetailsTbl" style="margin-bottom:0rem !important;">
                <tr class="total">
                    <th width="80%" class="num_right">@Resource.Total</th>
                    <th class="num_right">
                        @*<span id="BatchwiseTotalIssuedQuantity">@Convert.ToDecimal(TotalIssueQty).ToString(ViewBag.QtyDigit)</span>*@
                        @if (ViewBag.DocID == "105101153")/*Added by Surbhi on 18/07/2025 for Inter Branch Purchase Invoice(105101153)*/
                        {
                            <span id="BatchwiseTotalIssuedQuantity">@Convert.ToDecimal(TotalIssueQty).ToString(ViewBag.QtyDigit)</span>
                        }
                        else
                        {
                            <span id="BatchwiseTotalIssuedQuantity">@Convert.ToDecimal(TotalIssueQty).ToString(ViewBag.QtyDigit)</span>
                        }
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        @if (ViewBag.DocID != "105103135" && ViewBag.DocID != "105103145120" || ViewBag.DocID != "105103148" || ViewBag.DocID != "105103149")
        {
            if (Disable)
            {
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="" onclick="OnClickSerialDiscardAndExit()">@Resource.Close</button>
                @*<button type="button" disabled class="btn btn-primary btn-sm" id="btnItemBatchSaveAndExit">@Resource.SaveAndExit</button>
                    <button type="button" disabled class="btn btn-primary btn-sm" data-dismiss="modal" id="btnItemBatchDiscardAndExit">@Resource.DiscardAndExit</button>*@
            }
            else
            {
                if ((ViewBag.DocID == "105105127" || ViewBag.DocID == "105105128") && ViewBag.Command == "Edit" && ViewBag.DocumentCode == "A")
                {
                    <button type="button" id="btnItemBatchReset" onclick="OnClickItemBatchResetbtn()" class="btn btn-primary btn-sm">@Resource.Reset</button>
                    <button type="button" id="btnItemBatchSaveAndExit" onclick="onclickbtnItemBatchSaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
                    <button type="button" id="btnItemBatchDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>

                }
                else
                {
                    if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                    {
                        <button type="button" disabled class="btn btn-primary btn-sm" id="btnItemBatchReset">@Resource.Reset</button>
                        <button type="button" disabled class="btn btn-primary btn-sm" id="btnItemBatchSaveAndExit">@Resource.SaveAndExit</button>
                        <button type="button" disabled class="btn btn-primary btn-sm" data-dismiss="modal" id="btnItemBatchDiscardAndExit">@Resource.DiscardAndExit</button>
                    }
                    else
                    {
                        <button type="button" id="btnItemBatchReset" onclick="OnClickItemBatchResetbtn()" class="btn btn-primary btn-sm">@Resource.Reset</button>
                        <button type="button" id="btnItemBatchSaveAndExit" onclick="onclickbtnItemBatchSaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
                        <button type="button" id="btnItemBatchDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
                    }
                }

                @*if (ViewBag.Command == "Edit" && (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == null))
                    {
                        <button type="button" disabled class="btn btn-primary btn-sm" id="btnItemBatchReset">@Resource.Reset</button>
                        <button type="button" disabled class="btn btn-primary btn-sm" id="btnItemBatchSaveAndExit">@Resource.SaveAndExit</button>
                        <button type="button" disabled class="btn btn-primary btn-sm" data-dismiss="modal" id="btnItemBatchDiscardAndExit">@Resource.DiscardAndExit</button>
                    }
                    else
                    {
                        <button type="button" id="btnItemBatchReset" onclick="OnClickItemBatchResetbtn()" class="btn btn-primary btn-sm">@Resource.Reset</button>
                        <button type="button" id="btnItemBatchSaveAndExit" onclick="onclickbtnItemBatchSaveAndExit()" class="btn btn-primary btn-sm">@Resource.SaveAndExit</button>
                        <button type="button" id="btnItemBatchDiscardAndExit" class="btn btn-primary btn-sm" data-dismiss="modal">@Resource.DiscardAndExit</button>
                    }*@
            }
        }

    </div>
</div>




