@*@model EnRepMobileWeb.MODELS.Common.Cmn_licenceDetail*@
@using EnRepMobileWeb.Resources;

@{
    var Disable = true;
    var AddbtnFlag = "Disable";
    if (Model.TransType != null)
    {
        if (Model.TransType == "Update")
        {
            if (Model.Command == "Edit")
            {
                AddbtnFlag = "Update";
                Disable = false;
            }
            else
            {
                AddbtnFlag = "Disable";
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }
        if (Model.TransType == "Refresh")
        {
            Disable = true;
        }
        if (Model.TransType == "Duplicate")
        {
            Disable = false;
        }
        if (Model.TransType == "Save")
        {
            if (Model.Command == "Add")
            {
                AddbtnFlag = "Enable";
                Disable = false;
            }
            else
            {
                AddbtnFlag = "Disable";
                Disable = true;
            }
        }
    }
}


<section class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> @Resource.License @Resource.Detail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="col-form-label label-align">@Resource.License @Resource.Name </label>
                        @*<input onclick="" class="form-control" id="LicenseName" maxlength="100" name="LicenseName" placeholder="@Resource.License @Resource.Name" type="text" value="">*@
                        @if (Disable)
                        {
                            <input class="form-control" id="LicenseName" maxlength="100" name="LicenseName" onkeypress = "OnChangeLicenseName(this)" placeholder="@Resource.License @Resource.Name" type="text" value="" disabled>
                        }
                        else
                        {
                            <input class="form-control" id="LicenseName" maxlength="100" name="LicenseName" onkeypress = "OnChangeLicenseName(this)" placeholder="@Resource.License @Resource.Name" type="text" value="">
                        }
                        <span id="SpanLicenseName" class="error_message"></span>
                        <input hidden="hidden" id="hdn_lid" />
                    </div>
                    <div class="col-md-3 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.License @Resource.Number </label>
                        @if (Disable)
                        {
                            <input class="form-control" id="LicenseNumber" maxlength="100" name="LicenseNumber" placeholder="@Resource.License @Resource.Number" type="text" value="" disabled>
                        }
                        else
                        {
                            <input class="form-control" id="LicenseNumber" maxlength="100" name="LicenseNumber" placeholder="@Resource.License @Resource.Number" type="text" value="">
                        }
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <label class="col-form-label label-align">@Resource.Expiry  @Resource.Date </label>
                        @if (Disable)
                        {
                              <input class="form-control" id="ExpiryDate" name="ExpiryDate" onchange="" min="1900-01-01" max="2099-12-31" type="date" value="" disabled>
                        }
                        else
                        {
                              <input class="form-control" id="ExpiryDate" name="ExpiryDate" onchange="" min="1900-01-01" max="2099-12-31" type="date" value="">
                        }
                    </div>
                    <div class="col-md-2 col-sm-12 pl-0">
                        <div class="lpo_form">
                            <label class="col-form-label label-align">@Resource.Expiry @Resource.Alert @Resource.Days </label>
                            @if (Disable)
                            {
                                <input class="form-control" id="ExpiryAlertDays" autocomplete="off" maxlength="100" name="ExpiryAlertDays" placeholder="@Resource.Expiry @Resource.Alert @Resource.Days" type="text" value="" disabled>
                            }
                            else
                            {
                                <input class="form-control" id="ExpiryAlertDays" autocomplete="off" maxlength="100" name="ExpiryAlertDays" placeholder="@Resource.Expiry @Resource.Alert @Resource.Days" type="text" value="">
                            }
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12 margin25 pl-0">
                        @if (AddbtnFlag == "Enable"|| AddbtnFlag== "Update")
                        {
                            <div class="col-md-6 col-sm-12" id="divAddlicenseDtl" style="display: block;">
                                <a href="#" title="" data-original-title="Add">
                                    <div class="plus_icon1"><i class="fa fa-plus" aria-hidden="true" onclick="AddLicensedetail()"></i></div>
                                </a>
                            </div>
                        }
                        else if (AddbtnFlag == "Disable")
                        {
                            <div class="col-md-6 col-sm-12" id="divAddlicenseDtl" style="display: none;">
                                <a href="#" title="" data-original-title="Add">
                                    <div class="plus_icon1"><i class="fa fa-plus" aria-hidden="true" onclick="AddLicensedetail()"></i></div>
                                </a>
                            </div>
                        }
                            <div class="col-md-6 col-sm-12">
                                <a href="#" style="color:#ffffff;">
                                    <div class="plus_icon1" id="divUpdateLicense" style="display: none;">
                                        <i class="fa fa-refresh ref" id="SuppUpdateBtn" onclick="OnClickLicenceUpdateBtn()" title="Update"></i>
                                        <input type="hidden" id="UpdtAddrId" value="101">
                                    </div>
                                </a>
                            </div>
                    </div>
                    <div class="table-responsive margin15">
                        <div class="col-md-12 col-sm-12">
                            <div class="tableFixHead height30VH">
                                <table class="table table-striped jambo_table bulk_action rowhighlighttbl" id="LicenseDetailTble">
                                    <thead>
                                        <tr class="headings">
                                            <th width="2%"> &nbsp;</th>
                                            <th width="2%"> &nbsp;</th>
                                            <th width="2%">@Resource.SrNo</th>
                                            <th hidden="hidden"></th>
                                            <th width="25%">@Resource.License @Resource.Name</th>
                                            <th width="23%">@Resource.License @Resource.Number</th>
                                            <th width="23%">@Resource.Expiry  @Resource.Date</th>
                                            <th width="23%">@Resource.Expiry @Resource.Alert @Resource.Days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.licenseDetails != null)
                                        {
                                            var rowIdx = 0;
                                            foreach (System.Data.DataRow rw in ViewBag.licenseDetails.Rows)
                                            {
                                                rowIdx++;
                                        <tr>
                                            @if (Disable)
                                            {
                                                <td class=" red center" disabled style="filter: grayscale(100%)"> <i class=" fa fa-trash" aria-hidden="true" title="@Resource.Delete"></i></td>
                                                <td class="center edit_icon" disabled style="filter: grayscale(100%)"> <i class="fa fa-edit" aria-hidden="true" title="@Resource.Edit"></i></td>
                                            }
                                            else
                                            {
                                                <td class=" red center"> <i class=" fa fa-trash" aria-hidden="true" onclick="deleteLicenseDetail(event)" title="@Resource.Delete"></i></td>
                                                <td class="center edit_icon"> <i class="fa fa-edit" aria-hidden="true" onclick="EditLicenseDetail(event)" title="@Resource.Edit"></i></td>
                                            }
                                            <td id="rowno" >@rowIdx</td>
                                            <td hidden="hidden" id="srno">@rowIdx</td>
                                            <td id="LicenseNm">@rw["lic_name"].ToString()</td>
                                            <td id="LicenseNum">@rw["lic_number"].ToString()</td>
                                            <td id="ExpDate">@rw["exp_dt"].ToString()</td>
                                            <td id="ExpiryAlrtDays">@rw["alert_days"].ToString()</td>
                                        </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

