@using EnRepMobileWeb.Resources;
@{
    decimal TotalIssueQty = 0;
}

<div class="modal-content">
    <div class="modal-header">
        @if (ViewBag.ShopFloorStk != null)
        {
            @*<h2>@Resource.ShopfloorWiseStock</h2>*@
        }
        else
        {
            <h2>@Resource.WarehouseWiseStock</h2>
        }

        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <label class="col-form-label label-align">@Resource.ItemName</label>
                <input id="WareHouseWiseItemName" disabled class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="ItemName" placeholder="ItemName" onblur="this.placeholder='ItemName'">
            </div>
            <div class="col-md-3 col-sm-12">
                <label class="col-form-label label-align"> @Resource.UOM</label>

                <input id="WareHouseWiseUOM" disabled class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="UOM" placeholder="@Resource.UOM">
            </div>
        </div>

        @*<div class="price_item_detail tableFixHead height30VH margin10">
        <table class="table table-bordered">
            <thead>
                <tr>*@
    <div class="card-box table-responsive price_item_detail dy_table margin15">
        <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 OrderHistory height30VH">
            <table id="" data-order="" class="table table-striped table-bordered rowhighlighttbl" style="width:100%">
                <thead>
                    <tr class="sticky-header">
                        @if (ViewBag.ShopFloorStk !=null)
                        {
                            <th width="70%"> @Resource.Shopfloor</th>
                        }
                        else
                        {
                            <th width="70%"> @Resource.Warehouse</th>
                        }
                        <th>@Resource.Available <br /> @Resource.Quantity</th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.ItemStockWareHouselWise != null)
                    {
                        foreach (System.Data.DataRow Row in ViewBag.ItemStockWareHouselWise.Rows)
                        {
                            if (Row["wh_avl_stk_bs"].ToString() != "" && Row["wh_avl_stk_bs"].ToString() != null)
                            {
                                TotalIssueQty = Convert.ToDecimal(TotalIssueQty) + Convert.ToDecimal(Row["wh_avl_stk_bs"].ToString());
                            }
                            <tr>
                                <td>
                                    <input id="ExpiryDate" value="@Row["wh_name"].ToString()" disabled class="form-control " autocomplete="off" type="text" name="ExpiryDate" placeholder="Expiry Date" onblur="this.placeholder='Expiry Date'">
                                </td>
                                <td class="num_right">
                                    <input id="ExpiryDate" value="@Row["wh_avl_stk_bs"].ToString()" disabled class="form-control num_right" autocomplete="off" type="text" name="ExpiryDate" placeholder="Expiry Date" onblur="this.placeholder='Expiry Date'">
                                </td>
                            </tr>
                        }
                    }
                    @if (ViewBag.ItemStockShopFloorWise != null)
                    {
                        foreach (System.Data.DataRow Row in ViewBag.ItemStockShopFloorWise.Rows)
                        {
                            if (Row["shfl_avl_stk_bs"].ToString() != "" && Row["shfl_avl_stk_bs"].ToString() != null)
                            {
                                TotalIssueQty = Convert.ToDecimal(TotalIssueQty) + Convert.ToDecimal(Row["shfl_avl_stk_bs"].ToString());
                            }
                            <tr>
                                <td>
                                    <input id="ExpiryDate" value="@Row["shfl_name"].ToString()" disabled class="form-control " autocomplete="off" type="text" name="ExpiryDate" placeholder="Expiry Date" onblur="this.placeholder='Expiry Date'">
                                </td>
                                <td class="num_right">
                                    <input id="ExpiryDate" value="@Row["shfl_avl_stk_bs"].ToString()" disabled class="form-control num_right" autocomplete="off" type="text" name="ExpiryDate" placeholder="Expiry Date" onblur="this.placeholder='Expiry Date'">
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
            <table class="table table-bordered" id="ItemDetailsTbl">
                <tr class="total">
                    <th width="70%" class="num_right"><strong> Total</strong></th>
                    <th class="num_right">
                        <strong>@TotalIssueQty</strong>
                        @*<div id="TotalIssuedQuantity" value="@TotalIssueQty" disabled autocomplete="off" type="text" name="txtItemTotolQty" required="required" placeholder="@Resource.IssuedQuantity"  onblur="this.placeholder='Issued Quantity'" readonly></div>*@
                    </th>
                </tr>
            </table>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>
    </div>

