@using EnRepMobileWeb.Resources;
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.InstrumentDetail</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div class="col-md-8 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.SupplierName</label>
            <input id="SupplierName" class="form-control" autocomplete="off" type="text" name="SupplierName" placeholder="@Resource.SupplierName" onblur="this.placeholder = '@Resource.SupplierName'" disabled="">
        </div>
        <div class="col-md-4 col-sm-12 no-padding">
            <label class="col-form-label label-align">
                @Resource.PaymentAmount
            </label>
            <input id="InstPaymentAmount" class="form-control num_right" autocomplete="off" type="text" name="InstPaymentAmount" placeholder="0000.00" disabled="">
        </div>
        <div class="clearfix"></div>
        <div class="tableFixHead height30VH margin10">
            <table id="InstrumentDetail" class="table table-bordered">
                <thead>
                    <tr class="headings">
                        <th width="40%">@Resource.InstrumentType</th>
                        <td>
                            <select class="form-control" id="GLAccount" name="CostCenter">
                                <option selected>Cheque</option>
                                <option>Dimand Draft</option>
                                <option>Digital Payment</option>
                                <option>Online Transfer</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="headings">
                        <th width="40%">@Resource.InstrumentNumber</th>
                        <td><input id="InstrumentNumber" class="form-control optional" maxlength="20" autocomplete="off" name="InstrumentNumber" type="text" placeholder="198765677"></td>
                    </tr>
                    <tr class="headings">
                        <th width="40%">@Resource.InstrumentDate</th>
                        <td><input id="InstrumentDate" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentDate" type="date" placeholder="20-12-2021"></td>
                    </tr>
                    <tr class="headings">
                        <th width="40%">@Resource.NameOnInstrument</th>
                        <td><input id="NameOnInstrument" class="form-control optional" maxlength="20" autocomplete="off" name="NameOnInstrument" type="text" placeholder="@Resource.NameOnInstrument"></td>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td>
                                <select class="form-control" id="GLAccount" name="CostCenter">
                                    <option selected>Cheque</option>
                                    <option>Dimand Draft</option>
                                    <option>Digital Payment</option>
                                    <option>Online Transfer</option>
                                </select>
                            </td>
                            <td><input id="InstrumentNumber" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentNumber" type="number" placeholder="198765677"></td>
                            <td><input id="InstrumentDate" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentDate" type="date" placeholder="20-12-2021"></td>

                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" id="GLAccount" name="CostCenter">
                                    <option>Cheque</option>
                                    <option selected>Dimand Draft</option>
                                    <option>Digital Payment</option>
                                    <option>Online Transfer</option>
                                </select>
                            </td>
                            <td><input id="InstrumentNumber" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentNumber" type="number" placeholder="198765677"></td>
                            <td><input id="InstrumentDate" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentDate" type="date" placeholder="20-12-2021"></td>

                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" id="GLAccount" name="CostCenter">
                                    <option>Cheque</option>
                                    <option>Dimand Draft</option>
                                    <option selected>Digital Payment</option>
                                    <option>Online Transfer</option>
                                </select>
                            </td>
                            <td><input id="InstrumentNumber" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentNumber" type="number" placeholder="198765677"></td>
                            <td><input id="InstrumentDate" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentDate" type="date" placeholder="20-12-2021"></td>

                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" id="GLAccount" name="CostCenter">
                                    <option>Cheque</option>
                                    <option>Dimand Draft</option>
                                    <option>Digital Payment</option>
                                    <option selected>Online Transfer</option>
                                </select>
                            </td>
                            <td><input id="InstrumentNumber" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentNumber" type="number" placeholder="198765677"></td>
                            <td><input id="InstrumentDate" class="form-control optional right_aligh" maxlength="20" autocomplete="off" name="InstrumentDate" type="date" placeholder="20-12-2021"></td>

                        </tr>*@

                </tbody>
            </table>
        </div>
        @*<table id="SerialDetailTbl" class="table table-bordered">
                <thead>
                    <tr class="headings">
                        <th width="52%" class="right_aligh"> @Resource.Total</th>

                        <th class="right_aligh"> 20000</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" onclick="OnClickSerialResetBtn()" id="SerialResetBtn"> @Resource.Reset</button>
        <button type="button" class="btn btn-primary btn-sm" id="SerialSaveAndExitBtn" onclick="OnClickSerialSaveAndClose()">@Resource.SaveAndExit</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="SerialDiscardAndExitBtn" onclick="OnClickSerialDiscardAndExit()">@Resource.DiscardAndExit</button>
    </div>
</div>
