@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<style>
    #CsvData {
        margin-left: -50px;
    }

    .pop_csv .dt-buttons {
        margin-left: 16%;
        width: 10%;
    }
</style>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
<div class="modal-content">
    <div class="modal-header">
        @if (ViewBag.tbtype != null)
        {
            if (ViewBag.tbtype == "TD")
            {
                <h2>@Resource.Debit @Resource.Detail</h2>
            }
            if (ViewBag.tbtype == "TC")
            {
                <h2>@Resource.Credit @Resource.Detail</h2>
            }
            if (ViewBag.tbtype == "CB")
            {
                <h2>@Resource.Closing @Resource.Balance @Resource.InBase </h2>
            }
        }
        <button type="button" class="close " data-dismiss="modal">×</button>
    </div>
    <div class="modal-body" style="padding-top:0px;">
        <div id="divBatchLotewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align col-md-5">@Resource.AccountName</label>
                    <div class="label_value col-md-7"><label id="SpanAccName" class="col-form-label label-align ">@ViewBag.AccName</label></div>
                </div>
                @if (ViewBag.tbtype != null)
                {
                    if (ViewBag.tbtype == "TD")
                    {
                        <div class="col-md-3">
                            <label class="col-form-label label-align col-md-7">@Resource.Total @Resource.Debit @Resource.InBase </label>
                            <div class="label_value col-md-5"><label id="SpanTotalDr_bs" class="col-form-label label-align ">@ViewBag.DCCbal_bs</label></div>
                        </div>
                    }
                    if (ViewBag.tbtype == "TC")
                    {
                        <div class="col-md-3">
                            <label class="col-form-label label-align col-md-7">@Resource.Total @Resource.Credit @Resource.InBase </label>
                            <div class="label_value col-md-5"><label id="SpanTotalCr_bs" class="col-form-label label-align ">@ViewBag.DCCbal_bs</label></div>
                        </div>
                    }
                    if (ViewBag.tbtype == "CB")
                    {
                        <div class="col-md-3">
                            <label class="col-form-label label-align col-md-8">@Resource.Closing @Resource.Balance @Resource.InBase </label>
                            <div class="label_value col-md-4"><label id="SpanCb_bs" class="col-form-label label-align ">@ViewBag.DCCbal_bs</label></div>
                        </div>
                        <div class="col-md-2 padding_left">
                            <label class="col-form-label label-align col-md-7">@Resource.BalanceType</label>
                            <div class="label_value col-md-5"><label id="SpanCb_type" class="col-form-label label-align ">@ViewBag.DCCbal_type</label></div>
                        </div>
                    }
                }
            </div>
            <div class="clear"></div>
            @*<div class="tableFixHead height40VH">
                <table class="table table-striped rowhighlighttbltopup" id="TblTrialBalDebitDetails">
                    <thead>
                        <tr>*@
            <div class="card-box table-responsive dy_tablec">
                <div id="div_dr_cr_popup" class="sticky-table sticky-ltr-cells sb-container container-example1">
                    <table id="TblTrialBalDebitDetails" data-order="" class="table table-striped width1400 table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="15%">@Resource.Voucher <br /> @Resource.Number</th>
                                <th width="10%">@Resource.Voucher <br />  @Resource.Date</th>
                                <th width="10%">@Resource.Amount <br /> @Resource.InBase</th>
                                <th width="10%">@Resource.Amount <br /> @Resource.InSpecific</th>
                                <th width="6%">@Resource.AmountType</th>
                                <th width="6%">@Resource.Currency</th>
                                <th width="8%">@Resource.ConversionRate</th>
                                <th width="30%">@Resource.Narration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.TrialBalTransHistory != null)
                            {
                                foreach (System.Data.DataRow row in ViewBag.TrialBalTransHistory.Rows)
                                {
                                    rowId++;
                                    <tr>
                                        <td>@rowId</td>
                                        @*<td id="tditem">@row["src_doc_no"].ToString()</td>*@
                                        <td id="tditem">
                                            <div class="col-sm-10 no-padding" id="">@row["src_doc_no"].ToString()</div>
                                            <div class="col-sm-2 i_Icon">
                                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                                            </div>
                                            <input type="hidden" id="hdn_vouno" value="@row["src_doc_no"]" />
                                        </td>
                                        <td><span id="spn_voudt">@row["src_doc_dt"].ToString()</span><input type="hidden" id="hdn_voudt" value="@row["doc_dt"]" /></td>
                                        <td class="num_right" id="Amt_bs">@row["Amt_bs"].ToString()</td>
                                        <td class="num_right" id="Amt_sp">@row["Amt_sp"].ToString()</td>
                                        <td id="vou_amt_type">@row["vou_amt_type"].ToString()</td>
                                        <td class="center" id="curr_logo">@row["curr_logo"].ToString()</td>
                                        <td class="num_right" id="conv_rate">@row["conv_rate"].ToString()</td>
                                        <td class="narration" id="narr">@row["narr"].ToString()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        @if (ViewBag.tbtype != "CB")
                        {
                            <tfoot>
                                <tr class="total">
                                    <td colspan="3" align="right"> <strong>@Resource.Total</strong></td>
                                    @if (ViewBag.TotalTrialBalTransHistory != null)
                                    {
                                        foreach (System.Data.DataRow row in ViewBag.TotalTrialBalTransHistory.Rows)
                                        {

                                            <td class="num_right"><strong>@row["Amt_bs"].ToString()</strong></td>
                                            <td class="num_right"><strong>@row["Amt_sp"].ToString()</strong></td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="num_right"><strong>0000.00</strong></td>
                                        <td class="num_right"><strong>0000.00</strong></td>
                                    }
                                    <td colspan="4"></td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                    <table id="Hdn_TblTrialBalDebitDetails" hidden="hidden" data-order="" class="table table-striped width1600 table-bordered rowhighlighttbl" style="width:100%">
                        <thead>
                            <tr class="sticky-header">
                                <th width="5%">@Resource.SrNo</th>
                                <th width="13%">@Resource.Voucher <br /> @Resource.Number</th>
                                <th width="10%">@Resource.Voucher <br />  @Resource.Date</th>
                                <th width="10%">@Resource.Amount <br /> @Resource.InBase</th>
                                <th width="10%">@Resource.Amount <br /> @Resource.InSpecific</th>
                                <th width="6%">@Resource.AmountType</th>
                                <th width="6%">@Resource.Currency</th>
                                <th width="8%">@Resource.ConversionRate</th>
                                <th width="32%">@Resource.Narration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.TrialBalTransHistory != null)
                            {
                                foreach (System.Data.DataRow row in ViewBag.TrialBalTransHistory.Rows)
                                {
                                    rowId++;
                                    <tr>
                                        <td>@rowId</td>
                                        @*<td id="tditem">@row["src_doc_no"].ToString()</td>*@
                                        <td id="tditem">
                                            <div class="col-sm-10 no-padding" id="">@row["src_doc_no"].ToString()</div>
                                            <div class="col-sm-2 i_Icon">
                                                <button type="button" id="VoucherDetail" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#VoucherDetailMW" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.VoucherDetail"> </button>
                                            </div>
                                            <input type="hidden" id="hdn_vouno" value="@row["src_doc_no"]" />
                                        </td>
                                        <td><span id="spn_voudt">@row["src_doc_dt"].ToString()</span><input type="hidden" id="hdn_voudt" value="@row["doc_dt"]" /></td>
                                        <td class="num_right" id="Amt_bs">@row["Amt_bs"].ToString()</td>
                                        <td class="num_right" id="Amt_sp">@row["Amt_sp"].ToString()</td>
                                        <td id="vou_amt_type">@row["vou_amt_type"].ToString()</td>
                                        <td class="center" id="curr_logo">@row["curr_logo"].ToString()</td>
                                        <td class="num_right" id="conv_rate">@row["conv_rate"].ToString()</td>
                                        <td class="narration" id="narr">@row["narr"].ToString()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        @if (ViewBag.tbtype != "CB")
                        {
                            <tfoot>
                                <tr class="total">
                                    <td colspan="3" align="right"> <strong>@Resource.Total</strong></td>
                                    @if (ViewBag.TotalTrialBalTransHistory != null)
                                    {
                                        foreach (System.Data.DataRow row in ViewBag.TotalTrialBalTransHistory.Rows)
                                        {

                                            <td class="num_right"><strong>@row["Amt_bs"].ToString()</strong></td>
                                            <td class="num_right"><strong>@row["Amt_sp"].ToString()</strong></td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="num_right"><strong>0000.00</strong></td>
                                        <td class="num_right"><strong>0000.00</strong></td>
                                    }
                                    <td colspan="4"></td>
                                </tr>
                            </tfoot>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>