@using EnRepMobileWeb.Resources;
@{
    decimal TotalIssueQty = 0;
    var Disable = true;
    //if (Session["TransType"] != null)
    //{
    //    if (Session["TransType"].ToString() == "Update")
    //    {
    //        if (Session["Command"].ToString() == "Edit")
    //        {
    //            Disable = false;
    //        }
    //        else
    //        {
    //            Disable = true;
    //        }
    //    }
    //    else
    //    {
    //        if (Session["Command"].ToString() == "Refresh")
    //        {
    //            Disable = true;
    //        }
    //        else
    //        {
    //            Disable = false;
    //        }
    //    }
    //}
    //else
    //{
    if (ViewBag.TransType != null)
    {
        if (ViewBag.TransType == "Update")
        {
            if (ViewBag.Command == "Edit")
            {
                Disable = false;
                //Session["Command"] = ViewBag.Command;
            }
            else
            {
                Disable = true;
                //Session["Command"] = ViewBag.Command;
            }
        }
        else
        {
            if (ViewBag.Command == "Refresh")
            {
                Disable = true;
                //Session["Command"] = ViewBag.Command;
            }
            else
            {
                Disable = false;
                //Session["Command"] = ViewBag.Command;
            }
        }
    }
    string width1200 = "";
    if(ViewBag.DocumentMenuId== "105104115120"||ViewBag.DocumentMenuId == "105104115115" || ViewBag.DocumentMenuId == "105104115130")
    {
        width1200 = "width1200";
    }
}
@*}*@
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.BillAdjustment</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pop_top">
        <div class="col-md-4 col-sm-12" style="padding-left:0px;" id="div_PopUpGlBrName" hidden>
            <label class="col-form-label label-align">@Resource.Branch</label>
            <input id="IconGlBranchName" class="form-control" autocomplete="off" type="text" name="EntityName" placeholder="@Resource.EntityName" onblur="this.placeholder = '@Resource.EntityName'" disabled="">
            <input type="hidden" id="IconHdGlBranchID" />
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">@Resource.EntityName</label>
            <input id="IconEntityName" class="form-control" autocomplete="off" type="text" name="EntityName" placeholder="@Resource.EntityName" onblur="this.placeholder = '@Resource.EntityName'" disabled="">
            <input type="hidden" id="IconHdEntityID" style="display: none;" />
            <input type="hidden" id="IconHdAcctype" style="display: none;" />@*add by Hina on 28-10-2025*@
        </div>

        <div class="col-md-3 col-sm-12 no-padding">
            <label class="col-form-label label-align">
                @Resource.PaymentAmount
            </label>
            <input id="IconPayAmt" class="form-control num_right" type="text" name="PayAmt" placeholder="0000.00" disabled="">
        </div>
        <div class="col-md-4 col-sm-12" style="padding-left:0px;">
            <label class="col-form-label label-align">As @Resource.On @Resource.Date </label>
            <input class="form-control" readonly data-val="true" id="txtTodate" @*max="DateTime.Now.ToString(" yyyy-MM-dd")" commented and modify by Hina sharma on 11-11-2024*@ name="ToDate" @*onchange="FromToDateValidation()"*@ placeholder="dd-MM-yyyy" type="date">
        </div>
        <div class="clear"></div>



        @*/*Commented by Hina sharma on 09-06-2025 discus with vishal sir*/*@
        @*@if (Disable || ViewBag.DocumentStatus != "D")
        {
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="col-form-label label-align">@Resource.FromDate</label>
                <input class="form-control" disabled id="txtFromdate" max="DateTime.Now.ToString(" yyyy-MM-dd")" name="FromDate" onchange="FromToDateValidation()" type="date">
            </div>
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="col-form-label label-align">@Resource.ToDate</label>
                <input class="form-control" disabled data-val="true" id="txtTodate"  name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">
            </div>

            <div id="DivAddNewSerial" class="col-md-1 col-sm-12" style="display:none">
                <div class="plus_icon1" disabled style="margin-top:25px"> <i class="fa fa-plus" id="BillSearchBtn" onclick="BtnBillSearch();" title="@Resource.FetchDetail"></i> </div>
            </div>
        }
        else
        {
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="col-form-label label-align">@Resource.FromDate</label>
                <input class="form-control" id="txtFromdate"  name="FromDate" onchange="FromToDateValidation()" type="date">

            </div>
            <div class="col-md-2 col-sm-12" style="padding-left:0px;">
                <label class="col-form-label label-align">@Resource.ToDate</label>
                <input class="form-control" data-val="true" id="txtTodate"  name="ToDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">
                    </div>

            <div id="DivAddNewSerial" class="col-md-1 col-sm-12" style="padding-left:0px; ">
                 <div class="btn btn-primary btn-sm margintop20"> <i class="fa fa-search" id="BillSearchBtn" onclick="BtnBillSearch();" title="@Resource.FetchDetail"></i> </div>
            </div>
        }*@
        <div class="clearfix"></div>
        <div class="tableFixHead height30VH margin10">
            <table id="BillDetailTbl" class="table table-bordered @width1200">
                <thead>
                    <tr class="headings">
                        @*<th width="5%"> &nbsp;</th>*@
                        <th class="center" width="4%">
                            @if (Disable)
                            {
                                <input type="checkbox" class="tableflat" id="AllBillCheck" onclick="OnClickAllBillCheck()" disabled>
                            }
                            else
                            {
                                <input type="checkbox" class="tableflat" id="AllBillCheck" onclick="OnClickAllBillCheck()">
                            }

                        </th>
                        <th width="4%">@Resource.SrNo</th>
                        <th width="19%">@Resource.InvoiceNumber</th>
                        <th width="2%">@Resource.InvoiceDate</th>
                        @if (ViewBag.DocumentMenuId == "105104115120" || ViewBag.DocumentMenuId == "105104115115" || ViewBag.DocumentMenuId == "105104115130" || ViewBag.DocumentMenuId == "105104135133")
                        //"@*/*Add by Hina Sharma on 09-04-2025 to add DocumentMenuId == "105104135133,jb_bill_number,jb_bill_date for journal book*/*@
                        {
                            <th width="12%" id="cmn_bill_number">@Resource.BillNumber</th>
                            <th width="2%" id="cmn_bill_date">@Resource.BillDate</th>
                        }
                        <th width="7%">@Resource.Currency</th>
                        <th width="10%">@Resource.InvoiceAmount<br /> @Resource.InBase</th>
                        <th width="10%">@Resource.InvoiceAmount<br /> @Resource.InSpecific</th>
                        <th width="10%">@Resource.UnAdjustedAmount</th>
                        <th width="10%">@Resource.PaymentAmount</th>
                        <th width="10%">@Resource.RemainingBalance</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <table id="BilltotalTbl" class="table table-bordered margin10 ">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td width="79%" colspan="8" align="right"><strong>@Resource.Total @Resource.PaymentAmount</strong></td>
                    <td width="10%" align="right"><strong><span id="TotalPaid"></span></strong></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        @if (Disable)
                                {

            @*<button type="button" disabled class="btn btn-primary btn-sm" id="BillFIFOBtnAdj"> @Resource.FIFOAdjustment</button>
            <button type="button" disabled class="btn btn-primary btn-sm" id="BillResetBtn"> @Resource.Reset</button>
            <button type="button" disabled class="btn btn-primary btn-sm" id="BillSaveAndExitBtn">@Resource.SaveAndExit</button>
            <button type="button" disabled class="btn btn-primary btn-sm" id="BillDiscardAndExitBtn" data-dismiss="modal">@Resource.DiscardAndExit</button>*@
        }
        else
        {
            //if (Session["Command"].ToString() == "Edit" && Session["DocumentStatus"].ToString() == "A")
            if (ViewBag.Command == "Edit" && ViewBag.DocumentStatus == "A")
            {
                @*<button type="button" disabled class="btn btn-primary btn-sm" id="BillFIFOBtnAdj"> @Resource.FIFOAdjustment</button>
                <button type="button" disabled class="btn btn-primary btn-sm" id="BillResetBtn"> @Resource.Reset</button>
                <button type="button" disabled class="btn btn-primary btn-sm" id="BillSaveAndExitBtn">@Resource.SaveAndExit</button>
                <button type="button" disabled class="btn btn-primary btn-sm" id="BillDiscardAndExitBtn" data-dismiss="modal">@Resource.DiscardAndExit</button>*@
            }
            else
                        {
                //var a = ViewBag.DocumentCode;
                <button type="button" class="btn btn-primary btn-sm" id="BillFIFOBtnAdj" onclick="OnClickBillFifoAdj()"> @Resource.FIFOAdjustment</button>
                <button type="button" class="btn btn-primary btn-sm" id="BillResetBtn" onclick="OnClickBillReset()"> @Resource.Reset</button>
                <button type="button" class="btn btn-primary btn-sm" id="BillSaveAndExitBtn" onclick="OnClickSaveAndExitBillDt()">@Resource.SaveAndExit</button>
                <button type="button" class="btn btn-primary btn-sm" id="BillDiscardAndExitBtn" data-dismiss="modal">@Resource.DiscardAndExit</button>
            }
        }



    </div>
</div>
