@using EnRepMobileWeb.Resources;
<div class="modal-content" style="max-width:400px;">
    <div class="modal-header">
        <button type="button" id="closebtn" onclick="Cmn_OnClickRemarksClear()" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="workflow_approval">
                    <input type="radio" name="forward_action" onclick="Cmn_OnClickWFRadioBtns()" id="radio_forward" value="Forward" checked="checked"  />
                    <span id="span_forward">@Resource.Forward</span>
                    <span id="span_approve" style="display:none;">@Resource.Approve</span>
                    <input type="radio" name="forward_action" onclick="Cmn_OnClickWFRadioBtns()" id="radio_reject" value="Reject" />
                    <span id="span_reject">@Resource.Reject</span>
                    <input type="radio" name="forward_action" onclick="Cmn_OnClickWFRadioBtns()" id="radio_revert" value="Revert" />
                    <span id="span_revert">@Resource.Revert</span>
                    <input type="hidden" id="hd_nextlevel" />
                    <input type="hidden" id="hd_currlevel" />
                    <input type="hidden" id="hd_createrlevel" />
                    <input type="hidden" id="hd_doc_id" />
                </p>
                <div class="tableFixHead height30VH margin10">
                    <table class="table table-bordered" id="forwardDetailsTbl">
                        <thead>
                            <tr>
                                <th colspan="2">@Resource.ForwardTo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td width="15%"><input type="radio" class="flat" name="radio_user" id="Name" checked="checked" /></td>
                                    <td width="85%">Prakash Kumar</td>
                                </tr>
                                <tr>
                                    <td width="15%"><input type="radio" class="flat" name="radio_user" id="Name1" /></td>
                                    <td width="85%">Prem Raj </td>
                                </tr>
                                <tr>
                                    <td width="15%"><input type="radio" class="flat" name="radio_user" id="Name2" /></td>
                                    <td width="85%">Mukesh Sharma </td>
                                </tr>
                                <tr>
                                    <td width="15%"><input type="radio" class="flat" name="radio_user" id="Name3" /></td>
                                    <td width="85%">Dinesh Verma </td>
                                </tr>
                                <tr>
                                    <td width="15%"><input type="radio" class="flat" name="radio_user" id="Name4" /></td>
                                    <td width="85%">Suraj Kumar </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label class="col-form-label label-align col-md-2 col-sm-12 no-padding">Remarks </label>
                        <textarea class="form-control remarksmessage col-md-10 col-sm-12" 
                                  cols="20" id="fw_remarks" maxlength="100" name="forward_remarks" 
                                  placeholder="@Resource.remarks" rows="2"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" id="OKBtn_FW" onclick="OnClickForwardOK_Btn();">@Resource.OK1</button>
        <button type="button" class="btn btn-primary btn-sm" id="DiscardAndExit_FW" data-dismiss="modal" onclick="Cmn_OnClickRemarksClear()">@Resource.DiscardAndExit</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        try {
            Cmn_blockSpecialChars($("#fw_remarks"));
        }
        catch (ex) {
            console.log(ex);
        }
    })
</script>









