@using EnRepMobileWeb.Resources;
@{
    var rowId = 0;
}
<div class="modal-content">
    <div class="modal-header">
        <h2>@Resource.Debit @Resource.Detail</h2>
        <button type="button" class="close " data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">
        <div id="divBatchLotewiseRept_Issue">
            <div class="col-md-12 col-sm-12 no-margin no-padding" style="margin-bottom:10px;">
                <div class="col-md-3 padding_left">
                    <label class="col-form-label label-align">@Resource.AccountName</label>
                    <div class="label_value"><label id="SpanAccName"></label></div>
                </div>
                <div class="col-md-2">
                    <label class="col-form-label label-align">@Resource.Total @Resource.Debit </label>
                    <div class="label_value num_right"><label id="SpanTotalDr"></label></div>
                </div>               
            </div>
            <div class="clear"></div>
            <div class="tableFixHead height40VH">
                <table class="table table-bordered" id="TblTrialBalDebitDetails_1">
                    <thead>
                        <tr>
                            <th width="5%">@Resource.SrNo</th>
                            <th width="15%">@Resource.Voucher @Resource.Number</th>
                            <th width="12%">@Resource.Voucher @Resource.Date</th>
                            <th width="12%">@Resource.Amount </br> @Resource.InBase</th>
                            <th width="12%">@Resource.Amount </br> @Resource.InSpecific</th>
                            <th width="12%">@Resource.Currency</th>
                            <th width="12%">@Resource.ConversionRate</th>
                            <th width="20%">@Resource.Narration</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>01</td>
                            <td>B1/08/22/DPO0000006</td>
                            <td>07-09-2022</td>
                            <td class="num_right">45442.00000</td>
                            <td class="num_right">12346771.96800</td>
                            <td class="center">₹</td>
                            <td class="num_right">75.00000</td>
                            <td>This is a Narration.</td>
                        </tr>*@
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>