@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.StockValuation.StockValuationModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/StockValuation/StockValuation.js"></script>

<style>
    .btn-custom {
        overflow:hidden;
    }
    
    .multiselect-container .input-group{
        margin-left:0;
    }
    .dropdown-menu > li > a {
        
        padding: 3px 10px;
        
    }
</style>
<title>@Model.Title</title>
@using (Html.BeginForm("StockValuationDetail", "StockValuation", FormMethod.Post))
{
<div class="row">
    <!-- Item Detail Start -->
    <div id="ItemDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:1000px;">
            <!-- Modal content-->
            <div id="div_stkval_itemwise">
                @*@Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockValuationItemDetails.cshtml")*@
            </div>
        </div>
    </div>
    <!-- Item Detail End -->
    <!-- Receive and Issue Detail Start -->
    <div id="rec_issueDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:1000px;">
            <!-- Modal content-->
            <div id="div_stkval_receissue">

            </div>
        </div>
    </div>
    <!-- Receive and Issue Detail End -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12 padding_zero margin10">
                            <div class="col-md-2 col-sm-12">
                                <label class="col-form-label label-align">@Resource.FromDate</label>
                                <input class="form-control" id="txtFromdate" name="FromDate" type="date" value="@ViewBag.FromDate" onchange="FromToDateValidation();" placeholder="dd-MM-yyyy" min=@ViewBag.FromFyMindate.ToString() max=@ViewBag.ToFyMaxdate.ToString()>
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                <input class="form-control" data-val="true" id="txtTodate" name="txtToDate" onchange="FromToDateValidation();" placeholder="dd-MM-yyyy" type="date" min="@ViewBag.ToFyMindate.ToString()" max="@ViewBag.ToFyMaxdate.ToString()" Value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ReportType</label>
                                @Html.DropDownListFor(model => model.ReportType, new SelectList(new List<Object>                                               {
                       new { value = "I", text ="Item wise" },
                       new { value = "G", text = "Item Group wise" },
                       new { value = "A", text = "GL Account wise" },
                                           },
                                  "value",
                                  "text"
                                  ), new { @id = "ddl_ReportType", @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Group @Resource.Name</label>
                                @Html.DropDownListFor(model => model.ddlGroup, new SelectList(Model.GroupList, "ID", "Name"), new { @class = "form-control", id = "itemGrpList" })
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-2 col-sm-12 mb-3">
                                <label class="col-form-label label-align">@Resource.Cost @Resource.Base</label>
                                <select class="form-control" id="ddl_costbase" name="Status" onchange="OnChangeCostBase()">
                                    <option value="SC">Standard Cost</option>
                                    <option value="ISC">Item Setup Cost</option>
                                    <option value="PL">Price List</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12 mb-3 pl-0" id="div_PriceList" style="display:none;">
                                <label class="col-form-label label-align">@Resource.Price @Resource.List</label>
                                @Html.DropDownListFor(m=>m.list_no, new SelectList(Model.ddlPriceLists, "list_no", "list_name"), new { @class = "form-control", id = "ddl_priceList", @multiple= "multiple" })

                            </div>

                            <div class="col-md-2 col-sm-12 pl-2">
                                <div class="cancelled float-left">
                                    <label style="margin-bottom:0px !important;">
                                        <input class="js-switch" data-val="true" data-val-required="" id="inc_shfl_flag" name="IncludeShopfloorFlag" type="checkbox" checked="checked" data-switchery="true">
                                        @Resource.Include  @Resource.Shopfloor
                                    </label>
                                </div>
                                <div class="cancelled float-left">
                                    <label style="margin-bottom:0px !important;">
                                        <input class="js-switch" data-val="true" data-val-required="" id="Include_Zero" name="IncludeZero" type="checkbox" data-switchery="true">
                                        @Resource.IncludeZeroStock
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-12 mb-3 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="GetStkValuationMISDetails()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            @Html.HiddenFor(model => model.searchValue, new { @id = "searchValue" })
                            @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnCSVPrint" })
                            @Html.HiddenFor(model => model.StockValuationData, new { @id = "StockValuationData" })
                            @Html.HiddenFor(model => model.fitler_type, new { @id = "filer_type" })
                            @Html.HiddenFor(model => model.hdn_grp_id, new { @id = "hdn_grp_id" })
                            @Html.HiddenFor(model => model.rpt_type, new { @id = "hdn_rpt_type" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div id="" class="sticky-table sticky-ltr-cells sb-container container-example1 StockDetailTable">
                        <div id="MISStkValDetails">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialStockValuation.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="tbl_hdnfylist" style="display:none;">
            <tbody>
                @if (ViewBag.fylist != null)
                {
                    foreach (System.Data.DataRow row in ViewBag.fylist.Rows)
                    {
                        <tr>
                            <td>@row["comp_id"].ToString()</td>
                            <td>@row["br_Id"].ToString()</td>
                            <td id="fystdt">@row["fin_st_date"].ToString()</td>
                            <td id="fyenddt">@row["fin_end_date"].ToString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
}

<!-- page content end -->
