@using Newtonsoft.Json.Linq;

<style>
    .th_con {
        paddingtop: 5px;
        paddingbottom: 5px;
        font-weight: bold;
        text-align: center;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }

    .td_con {
        paddingtop: 5px;
        paddingbottom: 5px;
        paddingleft: 5px;
        paddingright: 5px;
        font-weight: bold;
        text-align: center;
        border-top: solid 1px #000000;
        border-bottom: solid 1px #000000;
        border-left: 1px solid #000000;
        font-size: 8px;
        font-weight: normal;
        text-align: left;
    }

    .num_right {
        text-align: right;
    }
    .num_center {
        text-align:center;
    }
    .font_bold {
        
        font-weight:bold;
    }

    .bor_right {
        border-right: 1px solid #000000;
    }

    .para {
        paddingtop: 5px;
        paddingbottom: 5px;
        paddingleft: 5px;
        paddingright: 5px;
        font-weight: bold;
        text-align: center;
        border-top: solid 1px #000000;
        border-bottom: solid 1px #000000;
        border-left: 1px solid #000000;
        font-size: 9px;
        font-weight: normal;
        text-align: left;
    }

    .td_tim {
        paddingtop: 5px;
        paddingbottom: 5px;
        font-weight: bold;
        text-align: right;
        font-size: 9px;
        font-weight: normal;
        text-align: left;
    }

    .td_head {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding: 0px 0px;
        text-decoration: underline;
    }

    .td_subhead {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 0px;
        line-height: 18px;
    }
</style>
@{
    string r1 = "";
    string r2 = "";
    string r3 = "";
    string r4 = "";
    string r5 = "";
    string r6 = "";
    if (ViewBag.RangeList != null)
    {
        var arr = JArray.Parse(ViewBag.RangeList);
        r1 = arr[0]["Range1"];
        r2 = arr[0]["Range2"];
        r3 = arr[0]["Range3"];
        r4 = arr[0]["Range4"];
        r5 = arr[0]["Range5"];
        r6 = arr[0]["Range6"];
    }

}
<div style="width:100%; background-color:#000000">
    <div style="width:100%; margin:0 auto; background-color:#ffffff;">
        <table style="width:100%;">
            <tr>
                <td>
                    @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="para" width="7%"><strong>Payable Type</strong></td>
                            <td class="para" width="15%">@ViewBag.PaybleType</td>
                            <td class="para" width="5%"><strong>Basis</strong></td>
                            <td class="para" width="15%">@ViewBag.basis</td>
                            <td class="para" width="5%"><strong>As on Date</strong></td>
                            <td class="para bor_right " width="53%">@ViewBag.AsonDate</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="5%" class="th_con">S.NO.</th>
                                <th width="14%" class="th_con">Supplier Name</th>
                                @if (ViewBag.ReportType == "D")
                                {
                                    <th width="16%" class="th_con">Invoice No.</th>
                                    <th width="11%" class="th_con">Invoice Date</th>
                                    <th width="16%" class="th_con">Bill Number</th>
                                    <th width="10%" class="th_con">Bill Date</th>
                                }
                                <th width="9%" class="th_con">Currency</th>
                                @if (ViewBag.ReportType == "D")
                                {
                                    <th width="12%" class="th_con">Invoice Amount</th>
                                }
                                <th width="9%" class="th_con">@r1</th>
                                <th width="11%" class="th_con">@r2</th>
                                <th width="11%" class="th_con">@r3</th>
                                <th width="11%" class="th_con">@r4</th>
                                <th width="11%" class="th_con">@r5</th>
                                <th width="12%" class="th_con">@r6</th>
                                @if (ViewBag.ReportType != "D")
                                {
                                    <th width="12%" class="th_con">Advance Payment</th>
                                }

                                <th width="12%" class="th_con">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Details != null)
                            {
                                var rowno = 1;
                                foreach (System.Data.DataRow dr in ViewBag.Details.Rows)
                                {
                            <tr>
                                <td class="td_con">@rowno</td>
                                <td class="td_con">@dr["suppname"].ToString()</td>
                                @if (ViewBag.ReportType == "D")
                                {
                                    <td class="td_con">@dr["inv_no"].ToString()</td>
                                    <td class="td_con">@dr["inv_dt"].ToString()</td>
                                    <td class="td_con">@dr["bill_no"].ToString()</td>
                                    <td class="td_con">@dr["bill_dt"].ToString()</td>
                                }
                                <td class="td_con num_center">@dr["curr"]</td>
                                @if (ViewBag.ReportType == "D")
                                {
                                    <td class="td_con num_right">@dr["inv_amt"].ToString()</td>
                                }
                                <td class="td_con num_right">@dr["r1"]</td>
                                <td class="td_con num_right">@dr["r2"]</td>
                                <td class="td_con num_right">@dr["r3"]</td>
                                <td class="td_con num_right">@dr["r4"]</td>
                                <td class="td_con num_right">@dr["r5"]</td>
                                <td class="td_con num_right">@dr["gtr5"]</td>
                                @if (ViewBag.ReportType != "D")
                                {
                                    <td class="td_con num_right">@dr["AdvanceAmount"]</td>
                                }

                                <td class="td_con num_right bor_right">@dr["tamt"] </td>
                            </tr>
                                    rowno = rowno + 1;
                                }
                            }

                        </tbody>
                        <tfoot>
                            @if (ViewBag.TotalDetails != null)
                            {
                                foreach (System.Data.DataRow dr in ViewBag.TotalDetails.Rows)
                                {
                                    if (ViewBag.ReportType == "D")
                                    {
                                        <tr>
                                            <td class="td_con num_right font_bold" colspan="7">Total</td>
                                            <td class="td_con num_right font_bold">@dr["totalInv_amt"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR1"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR2"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR3"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR4"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR5"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalGTR5"].ToString()</td>
                                            <td class="td_con num_right bor_right font_bold">@dr["totaltamt"].ToString()</td>

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="td_con num_right font_bold" colspan="3">Total</td>
                                            <td class="td_con num_right font_bold">@dr["totalR1"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR2"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR3"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR4"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalR5"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalGTR5"].ToString()</td>
                                            <td class="td_con num_right font_bold">@dr["totalAdvanceAmount"].ToString()</td>
                                            <td class="td_con num_right bor_right font_bold">@dr["totaltamt"].ToString()</td>
                                        </tr>
                                    }

                                }
                            }

                        </tfoot>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</div>



