@{
    int range1 = Convert.ToInt32(@ViewBag.RangeValues.Rows[0]["range_1"].ToString()) + 1;
    int range2 = Convert.ToInt32(@ViewBag.RangeValues.Rows[0]["range_2"].ToString()) + 1;
    int range3 = Convert.ToInt32(@ViewBag.RangeValues.Rows[0]["range_3"].ToString()) + 1;
    int range4 = Convert.ToInt32(@ViewBag.RangeValues.Rows[0]["range_4"].ToString()) + 1;
}
<div style="width:100%; background-color:#000000">
    <div style="width:100%; margin:0 auto; background-color:#ffffff;">
        <table style="width:100%;">
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td>
                                @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>          
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="10">&nbsp;</td>
                            <td>

                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; font-weight:normal; vertical-align:top; line-height: 16px;">
                                    <tr>
                                        <td width="69%">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="font-weight: bold; width: 17%; line-height:16px; paddingbottom:5px"> GL Account</td>
                                                    <td style="font-weight: bold; width: 2%; line-height:16px; paddingbottom:5px">:</td>
                                                    <td style="text-align: left; width: 81%; line-height: 16px; paddingbottom: 5px ">

                                                        @if (@ViewBag.PrintGL.Rows.Count > 0)
                                                        {
                                                            @ViewBag.PrintGL.Rows[0]["acc_name"]
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; line-height: 16px; paddingbottom: 5px; vertical-align:top;"> Address </td>
                                                    <td style="font-weight: bold; width: 2%; line-height: 16px; paddingbottom: 5px; vertical-align: top;">:</td>
                                                    @if (ViewBag.AccPbl != null)/*Add ViewBag.AccPbl by Hina Sharma on 22-04-2025*/
                                                    {
                                                <td style="text-align: left; line-height: 16px; paddingbottom: 5px; paddingright: 20px; vertical-align: top;">@ViewBag.AccPbl.Rows[0]["SuppAddress"]</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="paddingbottom: 5px;">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td style="font-weight: bold; line-height: 16px; width:17%;"> Period </td>
                                                                <td style="font-weight: normal; line-height: 16px; width: 15%;">  : @ViewBag.FromDate   </td>
                                                                <td style="font-weight: bold; text-align: left; line-height: 16px; width: 5%; ">To</td>
                                                                <td style="text-align: left; line-height: 16px; width: 63%; ">@ViewBag.ToDate</td>

                                                            </tr>
                                                        </table>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; line-height: 16px; "> Currency </td>
                                                    <td style="font-weight: bold; width: 2%; line-height:16px; paddingbottom:5px">:</td>
                                                    <td style="text-align: left; line-height: 16px; ">@ViewBag.Currency</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="31%">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right; line-height: 16px; paddingbottom:10px;">Opening Balance :</td>
                                                    <td style="text-align: right; line-height: 16px; paddingbottom: 10px; ">
                                                        @if (@ViewBag.PrintGL.Rows.Count > 0)
                                                        {
                                                            @ViewBag.PrintGL.Rows[0]["br_op_bal_bs"].ToString()
                                                        }
                                                    </td>
                                                    <td style="text-align: right; line-height: 16px; paddingbottom: 10px; ">
                                                        @if (@ViewBag.PrintGL.Rows.Count > 0)
                                                        {
                                                            @ViewBag.PrintGL.Rows[0]["br_op_bal_type"].ToString()
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right; line-height: 16px; paddingbottom: 10px; ">Closing Balance :</td>

                                                    <td style="text-align: right; line-height: 16px; paddingbottom: 10px; ">
                                                        @if (@ViewBag.PrintGL.Rows.Count > 0)
                                                        {
                                                            @ViewBag.PrintGL.Rows[ViewBag.PrintGL.Rows.Count - 1]["br_acc_bal_bs"]
                                                        }
                                                    </td>
                                                    <td style="text-align: right; line-height: 16px; paddingbottom: 10px; ">
                                                        @if (@ViewBag.PrintGL.Rows.Count > 0)
                                                        {
                                                            @ViewBag.PrintGL.Rows[ViewBag.PrintGL.Rows.Count - 1]["br_acc_bal_type"]
                                                        }




                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="4%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">S.NO.</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Voucher <br /> Number</th>
                                            <th width="7%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Voucher <br /> Date</th>
                                            <th width="32%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; width: 150px; font-weight: bold; text-align: center; ">Narration</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Opening <br /> Balance</th>
                                            <th width="5%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Balance <br /> Type</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Debit <br /> Amount</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Credit <br /> Amount</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Closing <br /> Balance </th>
                                            <th width="5%" style="font-weight: bold; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Balance <br /> Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PrintGL != null)
                                        {
                                            var rowno = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.PrintGL.Rows)
                                            {
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_no"]</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_dt"]</td>
                                                    <td style="paddingleft: 5px; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["narr"]</td>
                                                    @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["op_bal"]</td>*@
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_bs"]</td>
                                                    <td style="text-align:center; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_type"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["dr_amt"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["cr_amt"]</td>
                                                    @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["closing_bal"]</td>*@
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_acc_bal_bs"]</td>
                                                    <td style=" text-align:center; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["br_acc_bal_type"]</td>
                                                </tr>
                                                @* Commented by Suraj Maurya on 08-11-2024 for duplicate entry was showing 4 times *@
                                                <!--<tr>
                                                <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_no"]</td>
                                                <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_dt"]</td>
                                                <td style="paddingleft: 5px; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["narr"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["op_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_bs"]</td>
                                                <td style="text-align:center; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_type"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["dr_amt"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["cr_amt"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["closing_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_acc_bal_bs"]</td>
                                                    <td style=" text-align:center; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["br_acc_bal_type"]</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_no"]</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_dt"]</td>
                                                    <td style="paddingleft: 5px; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["narr"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["op_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_bs"]</td>
                                                <td style="text-align:center; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_type"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["dr_amt"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["cr_amt"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["closing_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_acc_bal_bs"]</td>
                                                    <td style=" text-align:center; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["br_acc_bal_type"]</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_no"]</td>
                                                    <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["src_doc_dt"]</td>
                                                    <td style="paddingleft: 5px; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["narr"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["op_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_bs"]</td>
                                                <td style="text-align:center; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_op_bal_type"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["dr_amt"]</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["cr_amt"]</td>-->
                                                @*<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["closing_bal"]</td>*@
                                                <!--<td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["br_acc_bal_bs"]</td>
                                                    <td style=" text-align:center; paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["br_acc_bal_type"]</td>
                                                </tr>-->
                                                rowno = rowno + 1;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style=" width: 100%; font-size: 14px; font-weight: bold; paddingtop: 2px; paddingbottom: 2px;  vertical-align: top;">Ageing Details</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*<tr>
                    <td>Edging Details</td>
                </tr>*@
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="4%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">S.NO.</th>
                                            <th width="6%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Currency</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">0 - @ViewBag.RangeValues.Rows[0]["range_1"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; "> @range1 - @ViewBag.RangeValues.Rows[0]["range_2"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; "> @range2 - @ViewBag.RangeValues.Rows[0]["range_3"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; "> @range3 - @ViewBag.RangeValues.Rows[0]["range_4"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; "> @range4 - @ViewBag.RangeValues.Rows[0]["range_5"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; "> > @ViewBag.RangeValues.Rows[0]["range_5"].ToString() Days</th>
                                            <th width="11%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">Advance <br /> Payment </th>
                                            <th width="13%" style="font-weight: bold; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.AccPbl != null)
                                        {
                                            var rowno = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.AccPbl.Rows)
                                            {
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="text-align: center; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["curr"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["r1"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["r2"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["r3"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["r4"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["r5"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["gtr5"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["AdvanceAmount"]</td>
                                                    <td style=" text-align: right; paddingright: 5px; vertical-align: top; border-top: solid 1px #000000;">@dr["tamt"]</td>
                                                </tr>
                                                rowno = rowno + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*/*Add by Hina Sharma on 24-12-2024 to add show Pending Invoices Details and Advance Payment Details*/*@
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style=" width: 100%; font-size: 14px; font-weight: bold; paddingtop: 2px; paddingbottom: 2px;  vertical-align: top;">Pending Invoices</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="5%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">S.NO.</th>
                                            <th width="12%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Bill Number</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Bill Date</th>
                                            <th width="14%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Invoice Number</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Invoice Date</th>
                                            <th width="10%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Invoice Amount</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Paid Amount</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Balance Amount</th>
                                            <th width="9%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Due Date</th>
                                            <th width="7%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Payment Terms(in Days)</th>
                                            <th width="7%" style="paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Over Due Days</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PendingInvoicesDetail != null)
                                        {
                                            var rowno = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.PendingInvoicesDetail.Rows)
                                            {
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["bill_no"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["bill_dt"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["inv_no"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["inv_dt"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["inv_amt_sp"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["paid_amt"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["pend_amt"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["due_date"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["paym_term"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["due_days"]</td>
                                                </tr>
                                                rowno = rowno + 1;
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        @if (ViewBag.TotalPendingInvoicesDetail != null)
                                        {
                                            <tr class="total">
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>Total</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>@ViewBag.TotalPendingInvoicesDetail.Rows[0]["Total_inv_amt_sp"]</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>@ViewBag.TotalPendingInvoicesDetail.Rows[0]["Total_paid_amt"]</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>@ViewBag.TotalPendingInvoicesDetail.Rows[0]["Total_pend_amt"]</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;">&nbsp;</td>
                                            </tr>
                                        }
                                    </tfoot>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*--------------------------FOR ADVANCE PAYMENTS DETAILS----------------------------------------------------------*@
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style=" width: 100%; font-size: 14px; font-weight: bold; paddingtop: 2px; paddingbottom: 2px;  vertical-align: top;">Advance Payments Detail</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="font-size: 11px; font-weight:normal;padding: 10px 0px 0px 0px; line-height:18px;">
                                <table cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">
                                    <thead>
                                        <tr>
                                            <th width="5%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center; ">S.NO.</th>
                                            <th width="16%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; font-weight: bold; text-align: center;">Voucher Number</th>
                                            <th width="16%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Voucher Date</th>
                                            <th width="16%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Voucher Type</th>
                                            <th width="16%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Amount</th>
                                            <th width="16%" style="border-right: solid 1px #000000; paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Adjusted Amount</th>
                                            <th width="15%" style="paddingtop: 5px; paddingbottom: 5px; text-align: center; ">Pending Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.AdvancePaymentsDetail != null)
                                        {
                                            var rowno = 1;
                                            foreach (System.Data.DataRow dr in ViewBag.AdvancePaymentsDetail.Rows)
                                            {
                                                <tr>
                                                    <td style="text-align:center;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@rowno</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["VouNo"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["VouDate"]</td>
                                                    <td style="text-align: left; paddingright: 5px; paddingleft: 5px; vertical-align: top; border-top: solid 1px #000000; border-right: solid 1px #000000;">@dr["VouType"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["amt_sp"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@dr["adj_amt"]</td>
                                                    <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;">@dr["pend_amt"]</td>
                                                </tr>
                                                rowno = rowno + 1;
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        @if (ViewBag.TotalAdvancePaymentsDetail != null)
                                        {
                                            <tr class="total">
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">&nbsp;</td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>Total</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>@ViewBag.TotalAdvancePaymentsDetail.Rows[0]["Total_amt_sp"]</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;"><strong>@ViewBag.TotalAdvancePaymentsDetail.Rows[0]["Total_adj_amt"]</strong></td>
                                                <td style="text-align:right; paddingright:5px;vertical-align:top;border-top: solid 1px #000000;"><strong>@ViewBag.TotalAdvancePaymentsDetail.Rows[0]["Total_pend_amt"]</strong></td>
                                            </tr>
                                        }
                                    </tfoot>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>