@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.GeneralLedgerVoucher.BankPayment.BankPaymentList_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
    
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    MvcForm form = null;
}
<style>
    #Itm_Details_List .sticky-table {
        max-height: 63vh;
    }
    #Tbl_BankPaymentDetails_wrapper .dt-buttons {
        position: absolute;
        margin-left: 15%;
    }

    #Tbl_BankPaymentDetails_filter {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    #Tbl_BankPaymentDetails_wrapper {
        padding-left: 2px !important;
    }
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/GeneralLedgerVoucher/BankPayment/BankPaymentList.js"></script>
<title>@Model.Title</title>
@*/*start Add by Hina on 27-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
    if (TempData["FBMessage"] != null)
    {
        if (TempData["FBMessage"] == "Financial Book Closing")
        {
            <script type="text/javascript">
                swal("", $("#BooksAreClosedEntryCanNotBeMadeInThisFinancialYear").text(), "warning");
            </script>
        }

    }
}

@if (@ViewBag.DocumentMenuId != null)/* Added by Suraj Maurya on 25-07-2025 for csv */
{
    if (@ViewBag.DocumentMenuId == "105104115120")
    {

        form = Html.BeginForm("BankPaymentListActionCommands", "BankPayment", FormMethod.Post, new { enctype = "multipart/form-data", id = "BankPaymentForm" });

    }
    if (@ViewBag.DocumentMenuId == "105104115110")
    {
        form = Html.BeginForm("BankReceiptListActionCommands", "BankReceipt", FormMethod.Post, new { enctype = "multipart/form-data", id = "BankPaymentForm" });

    }
}
@*/*End to chk Financial year exist or not*/*@
<div class="clearfix"></div>
@using (form)
{
    <div class="row">
        <!-- Partial General Ledger Voucher Detail Month Wise -->
        <div id="VoucherDetailMW" class="modal fade" role="dialog">
            <div class="modal-dialog" style=" max-width:800px;">
                <div id="gl_mwvoucherdetails">
                    @Html.Partial("~/Areas/Common/Views/Comn_PartialGeneralLedgerVoucherDetailMW.cshtml")
                </div>
            </div>
        </div>


        <!-- Cost Center Detail -->
        <div id="CostCenterDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:800px;">
                <div id="gl_ccdeatilsdis">
                    @Html.Partial("~/Areas/Common/Views/Cmn_PartialCostCenterDetailDisplay.cshtml")
                </div>
            </div>
        </div>



        <!-- Cost Center Detail -->
        <!--<div id="CostCenterDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style=" max-width:800px;">
                <div class=" height30VH" id="CostCenterDetailPopup">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Cost Center Detail</h2>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body" style="padding-top:0px;">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 no-padding">
                                    <div class="col-md-5 col-sm-12">
                                        <label class="col-form-label label-align">GL Account</label>
                                        <input id="CC_GLAccount" class="form-control" autocomplete="off" type="text" name="GLAccount" placeholder="GL Account" disabled="">
                                        <input id="hdnGLAccount_Id" type="hidden" value="300001">
                                        <input id="hdnTable_Id" type="hidden">
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label class="col-form-label label-align">
                                            Amount
                                        </label>
                                        <input id="GLAmount" class="form-control num_right" autocomplete="off" type="text" name="Amount" placeholder="0000.00" disabled="">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">Cost Center Type <span class="required">*</span></label>
                                    <select class="form-control" name="EntityType" disabled="">
                                        <option value="0">---Select---</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align">Cost Center <span class="required">*</span></label>

                                    <select class="form-control" name="EntityType" disabled="">
                                        <option value="0">---Select---</option>
                                    </select>

                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">Amount <span class="required">*</span></label>
                                    <input id="CCAmount" class="form-control num_right" autocomplete="off" type="text" name="Amount" placeholder="00.00" disabled="">
                                </div>
                                <div class="col-md-1 col-sm-12 margin28" id="divAdd">
                                </div>
                                <div class="col-md-1 col-sm-12 margin28" id="divUpdate" style="display: none;">
                                    <a href="#" style="color:#ffffff;">
                                        <div class="plus_icon1"> <i class="fa fa-refresh ref" id="ParaItemUpdateBtn" onclick="Cmn_CC_onclkUpdateBtn(event)" data-toggle="tooltip" title="" data-original-title="Update"></i> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-box table-responsive dy_table margin10">

                                <div class="tableFixHead height55VH ">
                                    <table class="table table-striped margin5" id="tbladd">
                                        <thead>
                                            <tr class="sticky-header">
                                                <th width="3%">&nbsp; </th>
                                                <th>Cost Center Type</th>
                                                <th>Cost Center</th>
                                                <th>Amount</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tbladd_body">
                                        </tbody>
                                        <tfoot>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">


                        </div>
                    </div>
                </div>
                <input id="hdn_CC_DetailList" name="CC_DetailList" type="hidden" value="">
            </div>-->
        @*<div class="modal-dialog">
                <div class=" height30VH" id="CostCenterDetailPopup">
                </div>
                @Html.HiddenFor(model => model.CC_DetailList, new { @id = "hdn_CC_DetailList" })
            </div>
            <div>
                <table class="table table-striped margin5" hidden="hidden" id="tbladdhdn">
                    <tbody id="tbody_tblhdn">
                        @if (ViewBag.CostCenterData != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.CostCenterData.Rows)
                            {
                                <tr>
                                    <td id="hdntbl_GlAccountId">@Row["acc_id"].ToString()</td>
                                    <td id="hdntbl_CCtype">@Row["cc_name"].ToString()</td>
                                    <td id="hdntbl_CCtype_Id">@Row["cc_id"].ToString()</td>
                                    <td id="hdntbl_CC_Name">@Row["cc_val_name"].ToString()</td>
                                    <td id="hdntbl_CCName_Id">@Row["cc_val_id"].ToString()</td>
                                    <td id="hdntbl_CstAmt">@Row["cc_amt"].ToString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>*@
        <!--</div>-->
        <!-- Workflow Information -->
        <div id="WorkflowInformation" class="modal fade" role="dialog">
            <div class="modal-dialog" style="max-width:700px;">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal col-md-4 col-sm-12 work_flow">
                        @if (ViewBag.AppLevel.Rows.Count > 0)
                        {
                            @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        }
                    </div>
                    @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                    @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
                    @Html.HiddenFor(m => m.searchValue, new { @id = "searchValue" })
                    @Html.HiddenFor(m => m.sortColumn, new { @id = "HdnsortColumn" })
                    @Html.HiddenFor(m => m.sortColumnDir, new { @id = "HdnsortColumnDir" })
                    
                    <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />

                    <div id="" class="col-md-2 col-sm-12 heading_right_padding">
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105104115120001" || Row["feature_id"].ToString() == "105104115110001")
                                {
                                    if (Row["feature_id"].ToString() == "105104115120001")
                                    {
                                        <ul>
                                            <li>
                                                <a class="tooltip-test" title="@Resource.AddNew" href="@Url.Action("AddBankPaymentDetail", "BankPayment")"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                                            </li>
                                        </ul>
                                    }
                                    if (Row["feature_id"].ToString() == "105104115110001")
                                    {
                                        <ul>
                                            <li>
                                                <a class="tooltip-test" title="@Resource.AddNew" href="@Url.Action("AddBankReceiptDetail", "BankReceipt")"><img src="~/Content/Images/addgreen.png" width="32" id="Btn_AddNewSI" height="32" alt="Add"></a>
                                            </li>
                                        </ul>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <form class="available_stock pad_mar" action="" method="post" novalidate>
                                @if (@ViewBag.DocumentMenuId != null)
                                {
                                    if (@ViewBag.DocumentMenuId == "105104115120")
                                    {
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Source</label>
                                            @Html.DropDownListFor(model => model.Src_Type, new SelectList(new List<Object>
                                                            {
                                                             new { value = "D", text = "Direct"  },
                                                               new { value = "P", text = "Payment Requisition"  },
                                                            },
                                                                       "value", "text"),
                                                                       new { @id = "Src_Type", @class = "form-control" })
                                        </div>
                                    }
                                    if (@ViewBag.DocumentMenuId == "105104115110")
                                    {
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Source</label>
                                            @Html.DropDownListFor(model => model.Src_Type, new SelectList(new List<Object>
                                                            {
                                                             new { value = "D", text = "Direct"  },
                                                            },
                                                                       "value", "text"),
                                                                       new { @id = "Src_Type", @class = "form-control" })
                                        </div>
                                    }
                                }

                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.BankAccount</label>
                                    @Html.DropDownListFor(model => model.bank_id, new SelectList(Model.BankAccNameList, "bank_acc_id", "bank_acc_name"), new { @class = "form-control", @id = "ddlBankAccName" })
                                    <input type="hidden" id="hdBankList" value='@Url.Action("GetAutoCompleteBankDetail", "BankPayment")' />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.FromDate</label>
                                    @*<input class="form-control" id="txtFromdate" max="2021-10-13" name="FromDate" onchange="FromToDateValidation()" type="date" value="2021-10-01">*@
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.HiddenFor(model => model.FromDate, new { @id = "hdFromdate" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ToDate</label>
                                    @*/*Commented and modify by Hina for PDC (to show all transactions in future date also)*/*@
                                    @if (Model.VouToDate != null)
                                    {
                                        @*@Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.VouToDate })*@
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = Model.FinalToDate, @Value = Model.VouToDate })

                                    }
                                    else
                                    {
                                        @*@Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })*@
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = Model.FinalToDate, @Value = @DateTime.Now.ToString("yyyy-MM-dd") })

                                    }
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align"> @Resource.Currency </label>
                                    @*<select class="form-control" id="ddlCurrency" name="Status">
                            <option value="">All</option>
                            <option value="">Currency</option>
                            <option value="">Currency</option>
                            <option value="">Currency</option>
                            <option value="">Currency</option>
                        </select>*@
                                    @Html.DropDownListFor(model => model.Curr_nm, new SelectList(Model.curr_list, "curr_id", "curr_name"), new { @class = "form-control", @id = "ddlcurrlist" })
                                    @Html.ValidationMessageFor(model => model.Curr_nm, String.Empty, new { @style = "color:red;!important", @id = "vmCurr" })
                                    @Html.HiddenFor(model => model.Curr_nm, new { @id = "hdddlcurrlist" })


                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align"> @Resource.InstrumentType </label>
                                    @*<select class="form-control" id="ddlInstype" name="Instr_type">
                            <option value="0">All</option>
                            <option value="C">Cheque</option>
                            <option value="D">Demand Draft</option>
                            <option value="P">Digital Payment</option>
                            <option value="O">Online Transfer</option>
                        </select>*@
                                    @Html.DropDownListFor(model => model.Instr_type, new SelectList(new List<Object>
                                                           {
                                                            new { value = "0", text = "All"  },
                                                            new { value = "C", text = "Cheque"  },
                                                            new { value = "D", text = "Demand Draft"  },
                                                            new { value = "P", text = "Digital Payment"  },
                                                            new { value = "O", text = "Online Transfer"  },
                                                           },
                                                                      "value", "text"),
                                                                      new { @id = "ddlInstype", @class = "form-control" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Reconciliation @Resource.Status
                                    </label>
                                    @*<select class="form-control" id="ddlRecostatus" name="Reco_Status">
                            <option value="0">All</option>
                            <option value="C">Cleared</option>
                            <option value="R">Returned</option>
                            <option value="U">Un-Cleared</option>
                        </select>*@
                                    @Html.DropDownListFor(model => model.Reco_Status, new SelectList(new List<Object>
                                                           {
                                                            new { value = "0", text = "All"  },
                                                            new { value = "C", text = "Cleared"  },
                                                            new { value = "R", text = "Returned"  },
                                                            new { value = "U", text = "Un-Cleared"  },
                                                           },
                                                                      "value", "text"),
                                                                      new { @id = "ddlRecostatus", @class = "form-control" })
                                </div>

                                <div class="col-md-2 col-sm-12 no-padding">
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label label-align">
                                            @Resource.Status
                                        </label>
                                        @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })

                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch();"> <i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 padding_right ">
            <div id="Itm_Details_List" class="x_panel margin_top_zero">
                <div class="x_content">
                    <div class="card-box table-responsive dy_table">
                        <div id="BPList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialBankPaymentList.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- page content end -->
