@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.AssetTransfer.AssetTransferList_Model
@using System.Data
@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <div class="price_item_detail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })
                @Html.HiddenFor(m => m.WF_status, new { @id = "WF_Status" })
                @*<div id="" class="col-md-4 col-sm-12 heading_right_padding">
                        <ul>
                            <li>
                                <a class="tooltip-test"
                                   title=" @Resource.AddNew" href="@Url.Action("AddAssetTransferDetail","AssetTransfer")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="btn_add" alt="Add"></a>
                            </li>
                        </ul>
                    </div>*@
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105106115001")
                        {
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddAssetTransferDetail","AssetTransfer")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="btn_add" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <div class="col-md-12 col-sm-12 padding_zero mb-2">
                            <div class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.Asset @Resource.Description</label>

                                @Html.DropDownListFor(model => model.AssetItemsId,
                                                new SelectList(Model.AssetItems, "AssetItem_id", "AssetItem_name", Model.AssetItemsId),
                                                new { @class = "form-control", id = "ddlAssetDescriptionList" })
                            </div>
                            <div class="col-md-3 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.Source @Resource.RequirementArea</label>
                                @Html.DropDownListFor(model => model.AssignedRequirementAreaId, new SelectList(Model.AssignedRequirementAreaList,
                                          "AssignedRequirementArea_id", "AssignedRequirementArea_name", Model.AssignedRequirementAreaId),
                                            new { @class = "form-control", id = "ddlAssignedRequirementArea", onchange = "OnChangeddlAssignedRequirementArea(this)" })
                                @Html.HiddenFor(model => model.AssignedRequirementAreaId, new { @id = "Hdn_AssignedRequirementAreaId" })
                            </div>
                            <div class="col-md-6 col-sm-12 pl-0 pr-0">
                                <div class="col-md-4 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.FromDate
                                    </label>
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                                </div>
                                <div class="col-md-4 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.ToDate
                                    </label>
                                    @if (Model.AT_ToDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.AT_ToDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }
                                </div>
                                <div class="col-md-3 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">
                                        @Resource.Status
                                    </label>
                                    @Html.DropDownListFor(model => model.AT_status, new SelectList(Model.StatusLists, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                </div>
                                <div class="col-md-1 col-sm-12 pl-0">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search" onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div id="" class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="Tbl_list_FA_AT" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialAssetTransferList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>