@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.AssetTransfer.AssetTransfer_Model
@using EnRepMobileWeb.Resources;
@using System.Data;
@*@if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert2.all.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FixedAssetManagement/AssetTransfer/AssetTransfer.js"></script>
@{
    var disablePrintbtn = "";
    var Disable = true;
    if (Model.TransType == "Update")
    {
        var v = Model.DocumentStatus;
        if (v == "D")
        {
            if (Model.Command == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
    if (Model.DocumentStatus == "A")
    {
        Disable = true;
    }
    if (Model.DocNo == null || ((Model.DocumentStatus == "D" || Model.DocumentStatus == "A") && Model.Command == "Edit"))
    {
        disablePrintbtn = "disabled style=filter:grayscale(100%)";
    }
}
@{
    if (Model.Message != null)
    {
        var message = Model.Message;
        // Model.hdnsaveApprovebtn = null;
        if (message == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (message == "Deleted")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (message == "Approved")
        {
            <script type="text/javascript">
                swal("", $("#approvemsg").text(), "success");
            </script>
        }
        if (message == "OrderRaised")
        {
            <script type="text/javascript">
                swal("", $("#approvemsg").text(), "success");
            </script>
        }
        if (Model.Message == "Approved_ErrorInMail")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    swal("", $("#approvemsg").text() + '. \n ' + $("#ThereIsSomethingWrongWhileSendingAlerts").text(), "warning");
                });
            </script>
        }
        if (message == "Cancelled")
        {
            <script type="text/javascript">
                swal("", $("#cancelmsg").text(), "success");
            </script>
        }
        if (Model.Message == "Cancelled_ErrorInMail")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    swal("", $("#cancelmsg").text() + '. \n ' + $("#ThereIsSomethingWrongWhileSendingAlerts").text(), "warning");
                });
            </script>
        }
        if (message == "Used")
        {
            <script type="text/javascript">
                swal("", $("#PurchaseOrderHasBnPrcsdCanNotBeMdfd").text(), "warning");
            </script>
        }
        if (message == "DocModify")
        {
            <script type="text/javascript">
                swal("", $("#SourceDocumentHasBeenModifiedCanNotProceed").text(), "warning");
            </script>
        }
        if (message == "Duplicate")
        {
            <script type="text/javascript">
                console.log('!');
                swal("", $("#valueduplicate").text(), "warning");
            </script>
        }

    }
}
@using (Html.BeginForm("AssetTransferDetailsActionCommands", "AssetTransfer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
<div class="row">

    <!-- Transfer Detail Start -->
    <div id="TransferDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="min-width:1000px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialTransferDetail.cshtml")
        </div>
    </div>
    <!-- Forward Information -->
    <div id="Forward_Pop" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/PartialForward.cshtml")
        </div>
    </div>
    <!-- Workflow
            <!-- Transfer Detail End -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div id="WorkflowInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width:700px;">
                        <div class="price_item_detail">
                            <!-- Modal content-->
                            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                        </div>
                    </div>
                </div>
                <h2 class="col-md-6 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <div id="wizard" class="form_wizard wizard_horizontal col-md-2 col-sm-12 work_flow">
                    @*@if (ViewBag.AppLevel.Rows.Count > 0)
                        {*@
                    @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                </div>
                <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">

                    @{
                        var btnName = Model.BtnName;
                        switch (btnName)
                        {
                            case "BtnAddNew":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                <li>
                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnClick();" name="Command" value="Save"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="forward"
                                                    title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="approve"
                                                title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                    </li>

                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnEdit":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                <li>

                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>

                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                <li>
                                                    @if (Model.DocumentStatus == "D")
                                                    {
                                                        <button class="delete"
                                                                title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>

                                                    }
                                                    else
                                                    {
                                                        if (Model.Command == "Edit")
                                                        {
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="delete"
                                                                    title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        }
                                                    }
                                                    @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @if (Model.Command == "Edit")
                                        {
                                            if (Model.DocNo == null)
                                            {
                                                <button class="save"
                                                        title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnClick();" name="Command" value="Save"></button>
                                            }
                                            else
                                            {
                                                if (Model.DocumentStatus == "A" || Model.DocumentStatus == "O")
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return SaveBtnClick();" name="Command" value="Save"></button>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <button class="save"
                                                    title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                        }
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            @if (Model.DocumentStatus == "D")
                                            {
                                                if (ViewBag.ForwardEnbl == "Y")
                                                {
                                                    <button class="forward"
                                                            title="@Resource.Forward" type="submit" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                                }
                                                else
                                                {
                                                    <button class="forward"
                                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="forward"
                                                        title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            }
                                        </li>
                                    }

                                    <li>
                                        @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                        {
                                            if (Model.Command == "Edit")
                                            {
                                                <button class="approve"
                                                        title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            }
                                            else
                                            {
                                                <button class="approve"
                                                        title="@Resource.Approve" type="submit" onclick="approveonclick()" id="btn_approve" name="Command" value="Approve"></button>
                                            }
                                        }
                                        else
                                        {
                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        }
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }

                                    <li>

                                        <button class="refresh"
                                                title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>

                                    </li>

                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    @if (Model.DocumentStatus == "A")
                                                    {

                                                        <button class="print"
                                                                title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="print"
                                                                title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "Refresh":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                <li>

                                                    <button class="edit"
                                                            title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>

                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>

                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="forward"
                                                    title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="approve"
                                                title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                    </li>

                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" disabled style="filter: grayscale(100%)" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnToDetailPage":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                if (Model.DocumentStatus == "D")
                                                {
                                                    <li>
                                                        <button class="edit"
                                                                title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <button class="edit" disabled style="filter: grayscale(100%)"
                                                                title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    </li>
                                                }
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                if (Model.DocumentStatus == "D")
                                                {
                                                    <li>
                                                        <button class="delete"
                                                                title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                    </li>
                                                    @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                }
                                                else
                                                {
                                                    <li>
                                                        <button class="delete"
                                                                title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                    </li>
                                                }

                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        if (Model.DocumentStatus == "A")
                                        {
                                            <li>
                                                <button class="forward"
                                                        title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            if (ViewBag.ForwardEnbl == "Y")
                                            {
                                                <li>
                                                    @*/*start Add by Hina on 07-02-2024 to chk Financial year exist or not*/*@
                                                    @if (ViewBag.Message == "TransNotAllow")
                                                    {<button class="forward"
                                                             title="@Resource.Forward" type="submit" id="Btn_Forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="forward"
                                                                title="@Resource.Forward" type="submit" id="Btn_Forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                                    }
                                                    @*/*End to chk Financial year exist or not*/*@
                                                    @*<button class="forward"
                                                        title="@Resource.Forward" type="submit" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>*@
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button class="forward"
                                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                    {
                                        if (ViewBag.Approve == "Y")
                                        {
                                            if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    @*/*start Add by Hina on 07-02-2024 to chk Financial year exist or not*/*@
                                                    @if (ViewBag.Message == "TransNotAllow")
                                                    {
                                                        <button class="approve"
                                                                title="@Resource.Approve" type="submit" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="" id="Btn_Approve" name="Command" value="Approve"></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="approve"
                                                                title="@Resource.Approve" type="submit" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" id="Btn_Approve" name="Command" value="Approve"></button>
                                                    }
                                                    @*/*End to chk Financial year exist or not*/*@
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button class="approve"
                                                            title="@Resource.Approve" type="submit" onclick="approveonclick()" id="btn_approve" name="Command" value="Approve"></button>
                                                </li>

                                            }

                                        }
                                        else
                                        {
                                            <li>
                                                <button class="approve"
                                                        title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Approve" name="Command" value="Approve"></button>

                                                @*<a class="tooltip-test" href="#" title="@Resource.Approve"><img src="~/Content/Images/approve_green.png" width="28" height="28" alt="Approve" disabled style="filter: grayscale(100%)" id="Btn_Approve"></a>*@
                                            </li>
                                        }

                                    }
                                    else
                                    {
                                        <li>
                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        </li>
                                    }
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                    </li>

                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnSave":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                <li>
                                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "A")
                                                    {
                                                        <button class="edit"
                                                                title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="edit"
                                                                title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    }

                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                if (Model.DocumentStatus == "D")
                                                {
                                                    <li>
                                                        <button class="delete"
                                                                title="@Resource.Delete" onclick="return functionConfirm(this)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                    </li>

                                                }
                                                else
                                                {
                                                    <li>
                                                        <button class="delete"
                                                                title="@Resource.Delete" type="submit" id="btn_del" disabled style="filter: grayscale(100%)" name="Command" value="Delete"></button>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                    @Html.HiddenFor(model => model.DeleteCommand, new { @id = "hdnAction" })
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        if (Model.DocumentStatus == "D")
                                        {
                                            if (ViewBag.ForwardEnbl == "Y")
                                            {
                                                <li>
                                                    <button class="forward"
                                                            title="@Resource.Forward" type="submit" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button class="forward"
                                                            title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }

                                        }
                                        else
                                        {
                                            <li>
                                                <button class="forward"
                                                        title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            </li>
                                        }
                                    }
                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                    {
                                        if (ViewBag.Approve == "Y")
                                        {
                                            if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="approve"
                                                            title="@Resource.Approve" type="submit" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" id="Btn_Approve" name="Command" value="Approve"></button>

                                                    @*<a class="tooltip-test" href="#" title="@Resource.Approve"><img src="~/Content/Images/approve_green.png" width="28" height="28" alt="Approve" onclick="ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" id="Btn_Approve"></a>*@
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <button class="approve"
                                                            title="@Resource.Approve" type="submit" onclick="approveonclick()" id="Btn_Approve" name="Command" value="Approve"></button>
                                                </li>
                                            }

                                        }
                                        else
                                        {
                                            <li>
                                                <button class="approve"
                                                        title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="Btn_Approve" name="Command" value="Approve"></button>

                                                @*<a class="tooltip-test" href="#" title="@Resource.Approve"><img src="~/Content/Images/approve_green.png" width="28" height="28" alt="Approve" disabled style="filter: grayscale(100%)" id="Btn_Approve"></a>*@
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        </li>
                                    }
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }

                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                    </li>

                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                            case "BtnApprove":
                                <ul>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115001")
                                            {
                                                <li>
                                                    <button class="add"
                                                            title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115002")
                                            {
                                                <li>
                                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "A")
                                                    {
                                                        <button class="edit"
                                                                title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    }
                                                    else
                                                    {
                                                        <button class="edit"
                                                                title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                    }

                                                </li>
                                            }
                                            if (Row["feature_id"].ToString() == "105106115004")
                                            {
                                                <li>
                                                    <button class="delete"
                                                            title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        <button class="save"
                                                title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                    </li>
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        if (Model.DocumentStatus == "A" || Model.DocumentStatus == "O" || Model.DocumentStatus == "PO")
                                        {
                                            <li>
                                                <button class="forward"
                                                        title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="forward"
                                                        title="@Resource.Forward" type="submit" id="btn_forward" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>
                                            </li>

                                        }
                                    }

                                    @if (Model.DocumentStatus == "D" || Model.DocumentStatus == "F")
                                    {
                                        <li>
                                            <button class="approve"
                                                    title="@Resource.Approve" onclick="approveonclick()" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <button class="approve"
                                                    title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                        </li>
                                    }
                                    @if (ViewBag.AppLevel.Rows.Count > 0)
                                    {
                                        <li>
                                            <button class="workflow"
                                                    title="@Resource.Workflow" type="submit" id="Btn_Workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                        </li>
                                    }


                                    <li>
                                        <button class="refresh"
                                                title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                    </li>
                                    @if (ViewBag.VBRoleList != null)
                                    {
                                        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                        {
                                            if (Row["feature_id"].ToString() == "105106115005")
                                            {
                                                <li>
                                                    <button class="print"
                                                            title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @*<button class="email_tool" title="@Resource.Email" type="submit" id="Btn_Mail" name="Command" value="Mail"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Email"><img src="~/Content/Images/mail.png" width="28" height="28" alt="Add" id="Btn_Mail"></a>*@
                                    </li>
                                    <li>
                                        @*<button class="message_tool" title="@Resource.Message" type="submit" id="Btn_Message" name="Command" value="Message"></button>*@
                                        @*<a class="tooltip-test" href="#"
                                            title="@Resource.Message"><img src="~/Content/Images/message.png" width="28" height="28" alt="Add" id="Btn_Message"></a>*@
                                    </li>
                                    <li>
                                        <button class="back"
                                                title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                    </li>
                                </ul>
                                break;
                        }
                    }
                </div>
                <div class="clearfix"></div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <!--<span>Collapsible / Accordion </span>-->
                        <div class="approved_by">
                            <ul>
                                <li><span>@Resource.CreatedBy<br><b id="DPCreatedBy">@Model.Create_by</b></span></li>
                                <li><span>@Resource.Createdon<br><b id="DPCreatedDate">@Model.Create_on</b></span></li>
                                <li><span>@Resource.ApprovedBy<br><b id="ARApproveBy">@Model.Approved_by</b></span></li>
                                <li><span>@Resource.ApprovedOn<br><b id="ARApproveDate">@Model.Approved_on</b></span></li>
                                <li><span>@Resource.AmendedBy<br><b id="ARAmdedBy">@Model.Amended_by</b></span></li>
                                <li><span>@Resource.AmendedOn<br><b id="ARAmdedDate">@Model.Amended_on</b></span></li>
                                <li><span>@Resource.Status<br /><b id="ARStatus">@Model.StatusName</b></span></li>
                                <li><b>@Html.HiddenFor(model => model.DocumentStatus, new { @id = "hfPIStatus" })</b></li>
                            </ul>
                        </div>
                        @Html.HiddenFor(model => model.Title, new { @id = "hdn_title" })
                        @Html.HiddenFor(model => model.TransType, new { @id = "hdn_TransType" })
                        @Html.HiddenFor(m => m.WFStatus, new { @id = "WF_status1" })
                        @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData1", value = Model.ListFilterData })
                        @Html.HiddenFor(model => model.Headerdetails, new { @id = "hdHeaderDetailList" })
                        @Html.HiddenFor(model => model.Itemdetails, new { @id = "hdItemDetailList" })
                        @Html.HiddenFor(model => model.WFBarStatus, new { @id = "WFBarStatus" })
                        @Html.HiddenFor(model => model.WFStatus, new { @id = "WFStatus" })
                        @Html.HiddenFor(model => model.DocumentMenuId, new { @id = "DocumentMenuId" })
                        @Html.HiddenFor(model => model.DocumentStatus, new { @id = "hfStatus" })
                        @Html.HiddenFor(model => model.Create_id, new { @id = "Create_ID" })
                        

                        @if (Disable)
                        {
                            <input type="hidden" id="txtdisable" value="Y" />
                        }
                        else
                        {
                            <input type="hidden" id="txtdisable" value="N" />
                        }
                        @{
                            if (Disable)
                            {
                                ViewBag.Disable = true;
                            }
                            else
                            {
                                if ((Model.StatusName == "A") && Model.Command == "Edit")
                                {
                                    ViewBag.Disable = true;
                                }
                                else
                                {
                                    ViewBag.Disable = false;
                                }
                            }
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <section class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@Resource.Transfer @Resource.Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                            <div class="panel-body">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Document @Resource.Number</label>
                                    @Html.TextBoxFor(model => model.DocNo, new { @readonly = "readonly", @id = "Doc_no", @maxlength = "20", @class = "form-control", @placeholder = @Resource.DocumentNumber })
                                    @Html.HiddenFor(model => model.DocNo, new { @id = "HdnDocNo_ForAttach" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Document @Resource.Date</label>
                                    @Html.TextBoxFor(model => model.DocDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly", @id = "Doc_date", @type = "date" })
                                    @Html.HiddenFor(model => model.DocDate, new { @id = "Doc_date" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Transfer @Resource.Date <span class="required">*</span></label>

                                    @if (Disable)
                                    {
                                        @Html.TextBoxFor(model => model.TransferDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "TransferDate", @type = "date", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        if (Model.Command == "Edit")
                                        {
                                            @Html.TextBoxFor(model => model.TransferDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "TransferDate", @type = "date", @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.TransferDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "TransferDate", @type = "date" })
                                        }
                                    }
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Asset @Resource.Description <span class="required">*</span> </label>
                                    @if (Disable)
                                    {
                                        @Html.DropDownListFor(model => model.AssetItemsId,
                                        new SelectList(Model.AssetItems, "AssetItem_id", "AssetItem_name", Model.AssetItemsId),
                                        new { @class = "form-control", id = "ddlAssetDescription", onchange = "OnChangeddlAssetDescription(this)", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        if (Model.Command == "Edit")
                                        {
                                            @Html.DropDownListFor(model => model.AssetItemsId,
                                            new SelectList(Model.AssetItems, "AssetItem_id", "AssetItem_name", Model.AssetItemsId),
                                            new { @class = "form-control", id = "ddlAssetDescription", onchange = "OnChangeddlAssetDescription(this)", @disabled = "disabled" })
                                        }
                                        else
                                        {

                                            @Html.DropDownListFor(model => model.AssetItemsId,
                                            new SelectList(Model.AssetItems, "AssetItem_id", "AssetItem_name", Model.AssetItemsId),
                                            new { @class = "form-control", id = "ddlAssetDescription", onchange = "OnChangeddlAssetDescription(this)" })
                                        }
                                    }

                                    @Html.HiddenFor(model => model.AssetItemsId, new { @id = "Hdn_AssetItemsId" })
                                    <span id="SpanddlAssetDescriptionErrorMsg" class="error_message"></span>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Serial @Resource.Number <span class="required">*</span></label>
                                    @if (Disable)
                                    {
                                        @Html.DropDownListFor(model => model.SerialNumber,
                                                  new SelectList(Model.AssetSerialNo, "SerialNo_id", "SerialNo_name", Model.SerialNumber),
                                                  new { @class = "form-control", id = "ddlAssetSerialNo", onchange = "OnChangeddlAssetSerialNo(this)", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        if (Model.Command == "Edit")
                                        {
                                            @Html.DropDownListFor(model => model.SerialNumber,
                                                 new SelectList(Model.AssetSerialNo, "SerialNo_id", "SerialNo_name", Model.SerialNumber),
                                                 new { @class = "form-control", id = "ddlAssetSerialNo", onchange = "OnChangeddlAssetSerialNo(this)", @disabled = "disabled" })

                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.SerialNumber,
                                            new SelectList(Model.AssetSerialNo, "SerialNo_id", "SerialNo_name", Model.SerialNumber),
                                            new { @class = "form-control", id = "ddlAssetSerialNo", onchange = "OnChangeddlAssetSerialNo(this)" })
                                        }
                                    }
                                    @Html.HiddenFor(model => model.SerialNumber, new { @id = "Hdn_SerialNumber" })
                                    <span id="SpanSerialNumberErrorMsg" class="error_message"></span>
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Label</label>
                                    @Html.TextBoxFor(model => model.AssetLabel, new { @id = "AssetLabel", @class = "form-control remarksmessage", @maxlength = "100", @placeholder = (@Resource.Asset + " " + Resource.Label), @readonly = "@readonly" })
                                    <span id="SpanAssetLabelErrorMsg" class="error_message"></span>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Source  @Resource.Requirement @Resource.Area</label>
                                    @Html.DropDownListFor(model => model.AssignedRequirementAreaId, new SelectList(Model.AssignedRequirementAreaList,
                                   "AssignedRequirementArea_id", "AssignedRequirementArea_name", Model.AssignedRequirementAreaId),
                                     new { @class = "form-control", id = "ddlAssignedRequirementArea", onchange = "OnChangeddlAssignedRequirementArea(this)", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.AssignedRequirementAreaId, new { @id = "Hdn_AssignedRequirementAreaId" })
                                    @Html.HiddenFor(model => model.AssignedRequirementAreaType, new { @id = "Hdn_AssignedRequirementAreaType" })
                                </div>

                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Destination @Resource.Requirement @Resource.Area <span class="required">*</span></label>
                                    @if (Disable)
                                    {
                                        @Html.DropDownListFor(model => model.DestinationAssignedRequirementAreaId, new SelectList(Model.DestinationAssignedRequirementAreaList,
                                   "DestinationAssignedRequirementArea_id", "DestinationAssignedRequirementArea_name", Model.DestinationAssignedRequirementAreaId),
                                     new { @class = "form-control", id = "ddlDestinationAssignedRequirementArea", @disabled = "disabled", onchange = "OnChangeddlDestinationAssignedRequirementArea(this)" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.DestinationAssignedRequirementAreaId, new SelectList(Model.DestinationAssignedRequirementAreaList,
                                   "DestinationAssignedRequirementArea_id", "DestinationAssignedRequirementArea_name", Model.DestinationAssignedRequirementAreaId),
                                     new { @class = "form-control", id = "ddlDestinationAssignedRequirementArea", onchange = "OnChangeddlDestinationAssignedRequirementArea(this)" })
                                    }

                                    <span id="SpanddlDestinationAssignedRequirementAreaErrorMsg" class="error_message"></span>
                                    @Html.HiddenFor(model => model.DestinationAssignedRequirementAreaId, new { @id = "Hdn_DestinationAssignedRequirementAreaId" })
                                    @Html.HiddenFor(model => model.DestinationAssignedRequirementAreaType, new { @id = "Hdn_DestinationAssignedRequirementAreaType" })
                                </div>
                                <div class="col-md-4 col-sm-12 pl-0 pr-0">
                                    <div class="col-md-11 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">@Resource.remarks</label>
                                        @if (Disable)
                                        {
                                            @Html.TextAreaFor(model => model.Remarks, new
                                            {
                                                @id = "Remarks",
                                                @class = "form-control remarksmessage",
                                           @maxlength = "499",
                                                @name = "message",
                                                @placeholder = @Resource.remarks,
                                                @disabled = "disabled"
                                            })
                                        }
                                        else
                                        {
                                            @Html.TextAreaFor(model => model.Remarks, new { @id = "Remarks", @class = "form-control remarksmessage", @maxlength = "499", @name = "message", @placeholder = @Resource.remarks })
                                        }
                                        @Html.ValidationMessageFor(model => model.Remarks, String.Empty, new { @style = "color:red;!important", @id = "SpanRemarks" })
                                    </div>
                                    <div class="col-md-1 col-sm-12 margin28 pl-0" id="Doc_AddIcon" style="display: block;">
                                        @*<a href="#">
                                                <div class="plus_icon1"> <i class="fa fa-plus " id="BtnAttribute" onclick="AddAttribute()" title="@Resource.PopulateItemDetail" data-original-title="@Resource.PopulateItemDetail"></i> </div>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="card-box table-responsive dy_table">
                                <div class="price_item_detail">
                                    <div class=" col-sm-12 pb-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @*/*------------------Attatchmnet Start----------------*/*@
                    @Html.Partial("~/Areas/Common/Views/Comn_PartialAttatchmentDetail.cshtml")
                    @Html.HiddenFor(model => model.Attatchmentdetail, new { @id = "hdn_Attatchment_details" })
                    @*/*------------------Attatchmnet End----------------*/*@
                </article>
            </div>
        </div>
    </div>
</div>
    }
}