@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.AssetGroup.AssetGroupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .custom-switch {
        padding-left: 40px !important;
    }
</style>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<link href="~/Content/Css/build/css/simpleTree.css" rel="stylesheet" />
<script src="~/Content/Css/build/js/simpleTree.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<link href="~/Content/Css/build/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/Scripts/ApplicationLayer/FixedAssetManagement/AssetGroup/AssetGroup.js"></script>
<!-- page content start here -->
<title>@Model.Title</title>
<!-- page content start here -->

@using (Html.BeginForm("AssetGroupSave", "AssetGroup", FormMethod.Post, new { enctype = "multipart/form-data", id = "AssetSetupForm" }))
{
    @Html.AntiForgeryToken()
    {


        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div id="AGHeaderContainer">

                    @Html.Partial("~/Areas/ApplicationLayer/Views/FixedAssetManagement/AssetGroup/AssetGroupHeader.cshtml")

                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        @*@if (Model.CallTreeStructure == "T")
                        {*@
                            <div class="col-md-3 col-sm-12 padding_left group_tree">
                                <input type="search" id="tree_menu" class="form-control" placeholder="Search">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/FixedAssetManagement/AssetGroup/AssetGroupTreeStructure.cshtml")
                            </div>
                        <div class="col-md-9 col-sm-12 padding_right  ">
                            <div id="AGDetailsContainer">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/FixedAssetManagement/AssetGroup/AssetGroupDetails.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


