@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.AssetGroup.AssetGroupModel
@using EnRepMobileWeb.Resources;
@using System.Data

@{
    var Disable = false;
    var DisableGroup = false;
    if (Model.TransType != null)
    {
        if (Model.TransType == "Update")
        {
            if (Model.Command == "Edit")
            {
                if (Model.ChkChildGroup != null)
                {
                    if (Model.ChkChildGroup == "Y")
                    {
                        //Disable = true;
                        Disable = true;
                        DisableGroup = false;
                    }
                    else
                    {
                        Disable = false;
                        DisableGroup = false;
                    }
                }
                else
                {
                    Disable = true;
                    DisableGroup = false;
                }
            }
            else if (Model.Command == "Save")
            {
                if (Model.BtnName == "BtnAddNew")
                {
                    Disable = false;
                    DisableGroup = false;
                }
                else
                {
                    Disable = true;
                    DisableGroup = true;
                }
            }
            else
            {

                Disable = false;
                DisableGroup = true;

            }
        }
        else
        {
            Disable = false;
            DisableGroup = false;
        }
        if (Model.TransType == "Refresh")
        {
            Disable = true;
            DisableGroup = true;
        }
        if (Model.TransType == "Save")
        {
            if (Model.Command == "Add" || Model.Command == "Save")
            {
                Disable = false;
                DisableGroup = false;
            }
            else
            {
                Disable = true;
                DisableGroup = true;
            }
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script>
            if ("@str" == "Save") {
                $("#hdnonetimeclick").val("");
            swal("", $("#savemsg").text(), "success");

            }
            if ("@str" == "Deleted") {
                $("#hdnonetimeclick").val("");
            swal("", $("#deletemsg").text(), "success");

            }
            if ("@str" == "Dependency") {
                $("#hdnonetimeclick").val("");
                 swal("", $("#DependencyExist").text(), "warning");
            }
        if ("@str" == "Duplicate") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_asset_group_name").text($("#valueduplicate").text());
                $("#Asset_group_name").css("border-color", "red");
                $("#span_asset_group_name").css("display", "block");
            });
        }
        if ("@str" == "ValidationForSameName") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_asset_group_name").text($("#ValidationForSameName").text());
                $("#Asset_group_name").css("border-color", "red");
                $("#span_asset_group_name").css("display", "block");
            });
        }
        </script>
    }
}
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">
        @Resource.groupname <span class="required">*</span>
    </label>

    @if (DisableGroup)
    {
        @Html.TextBoxFor(model => model.Asset_group_name, new { @id = "Asset_group_name", @class = "form-control", maxlength = "100", @placeholder = "Group Name", disabled = "disabled" })
    }
    else
    {
        @Html.TextBoxFor(model => model.Asset_group_name, new { @id = "Asset_group_name", @class = "form-control", maxlength = "100", @autocomplete = "off", @placeholder = "Group Name", @onkeypress = "Hidevalidation()", @onchange = "Hidevalidation()" })
    }
    <span id="span_asset_group_name" class="field-validation-valid error_message"></span>
    @Html.HiddenFor(model => model.Asset_grp_id, new { @id = "itemgroupid" })
    @Html.HiddenFor(model => model.GroupID, new { @id = "Assetgroupid" })
    @Html.HiddenFor(model => model.TransType)

</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.parentgroupname</label>
    @if (DisableGroup)
    {
        @Html.DropDownListFor(model => model.Asset_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "asset_grp_par_id", @class = "form-control", disabled = "disabled" })
    }
    else
    {
        if (Model.ChkPgroup != null)
        {
            if (Model.ChkPgroup == "Y")
            {
                @Html.DropDownListFor(model => model.Asset_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "asset_grp_par_id", @class = "form-control", disabled = "disabled" })
            }
            else
            {
                @Html.DropDownListFor(model => model.Asset_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "asset_grp_par_id", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
            }
        }
        else
        {
            @Html.DropDownListFor(model => model.Asset_grp_par_id, new SelectList(Model.ParentItemGroup, "item_grp_struc", "par_grp_name"), new { @id = "asset_grp_par_id", @class = "form-control", @onchange = "GetSelectedParentDetail(this)" })
        }
    }
    @Html.HiddenFor(model => model.Asset_grp_par_id, new { @id = "itemgroupparid" })

</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Depreciation @Resource.Method <span class="required">*</span></label>
    @if (Disable)
    {
        @Html.DropDownListFor(model => model.Dep_method, new SelectList(new List<Object>
        {
        new { value = "SL", text = "Straight Line"  },
        new { value = "WD", text = "Written Down"  },
        },
        "value", "text"), new { @id = "dep_meth", @class = "form-control", disabled = "disabled" })
    }
    else
    {
        @Html.DropDownListFor(model => model.Dep_method, new SelectList(new List<Object>
        {
        new { value = "SL", text = "Straight Line"  },
        new { value = "WD", text = "Written Down"  },
   }, "value", "text"), new { @id = "dep_meth", @class = "form-control" })
    }
    @Html.HiddenFor(model => model.Dep_method, new { @id = "Dep_method" })
</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Depreciation % <span class="required">*</span></label>

    @if (Disable)
    {
        @Html.TextBoxFor(model => model.Dep_per, new { @id = "depreciation_per", @class = "form-control num_right", maxlength = "100", @placeholder = (@Resource.Depreciation + " " + "%"), disabled = "disabled", onkeypress = "return FloatValuePerOnly(this,event);", onchange = "OnChangedepreciation_per(this)" })
   }
    else
        {
            @Html.TextBoxFor(model => model.Dep_per, new { @id = "depreciation_per", @class = "form-control num_right", maxlength = "100", @placeholder = (@Resource.Depreciation + " " + "%"), onkeypress = "return FloatValuePerOnly(this,event);", onchange = "OnChangedepreciation_per(this)" })
    }
    <span id="span_depreciation_per" class="field-validation-valid error_message"></span>
    @Html.HiddenFor(model => model.Dep_per, new { @id = "Dep_per" })
</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Asset @Resource.Category <span class="required">*</span></label>
    @if (Disable)
    {
        @Html.DropDownListFor(model => model.Assetcat_coa, new SelectList(Model.AssetsCategoryCOAList, "coa_id", "coa_name"), new { @id = "asset_category", @class = "form-control", disabled = "disabled", onchange = "OnChangeAssetCategory(this)" })
    }
    else
    {
        @Html.DropDownListFor(model => model.Assetcat_coa, new SelectList(Model.AssetsCategoryCOAList, "coa_id", "coa_name"), new { @id = "asset_category", @class = "form-control", onchange = "OnChangeAssetCategory(this)" })
    }
    <input type="hidden" id="assetcategoryAccount" value='@Url.Action("GetAssetCategoryAccount", "AssetGroup")' />
    <span id="span_asset_category" class="field-validation-valid error_message"></span>
    @Html.HiddenFor(model => model.Assetcat_coa, new { @id = "Assetcat_coa" })
</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Asset @Resource.Account <span class="required">*</span></label>
    @if (Disable)
    {
        @Html.DropDownListFor(model => model.Asset_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "asset_account", @class = "form-control", disabled = "disabled", onchange = "OnChangeasset_account(this)" })
    }
    else
    {
        @Html.DropDownListFor(model => model.Asset_coa, new SelectList(Model.AssetsCOAList, "coa_id", "coa_name"), new { @id = "asset_account", @class = "form-control", onchange = "OnChangeasset_account(this)" })
    }
    <input type="hidden" id="assetAccount" value='@Url.Action("GetAssetAccount", "AssetGroup")' />
    <span id="span_asset_account" class="field-validation-valid error_message"></span>
    @Html.HiddenFor(model => model.Asset_coa, new { @id = "Asset_coa" })
</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Depreciation @Resource.GLAccount <span class="required">*</span></label>
    @if (Disable)
    {
        @Html.DropDownListFor(model => model.Dep_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "depreciation_account", @class = "form-control", disabled = "disabled", onchange = "OnChangedepreciation_account(this)" })
    }
    else
    {
        @Html.DropDownListFor(model => model.Dep_coa, new SelectList(Model.ExpenseCOAList, "coa_id", "coa_name"), new { @id = "depreciation_account", @class = "form-control", onchange = "OnChangedepreciation_account(this)" })

    }
    <input type="hidden" id="depreciationAccount" value='@Url.Action("GetDepreciationAccount", "AssetGroup")' />
    <span id="spandepreciation_account" class="error_message"></span>
    @Html.HiddenFor(model => model.Dep_coa, new { @id = "Dep_coa" })
</div>
<div class="col-md-3 col-sm-12 pl-0">
    <label class="col-form-label label-align">@Resource.Depreciation @Resource.Frequency <span class="required">*</span></label>
    @if (Disable)
    {
        @Html.DropDownListFor(model => model.Dep_freq, new SelectList(new List<Object>
        {
           new { value = "M", text = "Monthly"  },
           new { value = "Q", text = "Quarterly"  },
           new { value = "H", text = "Half-yearly"  },
           new { value = "Y", text = "Yearly"  },
        },
        "value", "text"), new { @id = "depreciation_freq", @class = "form-control", disabled = "disabled" })
    }
    else
    {
        @Html.DropDownListFor(model => model.Dep_freq, new SelectList(new List<Object>
        {
        new { value = "M", text = "Monthly"  },
        new { value = "Q", text = "Quarterly"  },
        new { value = "H", text = "Half-yearly"  },
        new { value = "Y", text = "Yearly"  },
   }, "value", "text"), new { @id = "depreciation_freq", @class = "form-control" })
    }
    <span id="spandepreciation_freq" class="error_message"></span>
    @Html.HiddenFor(model => model.Dep_freq, new { @id = "Dep_freq" })
</div>
