@model EnRepMobileWeb.MODELS.ApplicationLayer.FixedAssetManagement.AssetGroup.AssetGroupModel
@using EnRepMobileWeb.Resources;
@using System.Data

@*@{
        var Disable = false;
        if (Model.TransType != null)
        {
            //if (Session["TransType"].ToString() == "Update")
            if (Model.TransType == "Update")
            {
                //if (Session["Command"].ToString() == "Edit")
                if (Model.Command == "Edit")
                {
                    Disable = false;
                }
                else
                {
                    Disable = true;
                }
            }
            else
            {
                Disable = false;
            }
            //if (Session["TransType"].ToString() == "Refresh")
            if (Model.TransType == "Refresh")
            {
                Disable = true;
            }
            //if (Session["TransType"].ToString() == "Save")
            if (Model.TransType == "Save")
            {
                //if (Session["Command"].ToString() == "Add")
                if (Model.Command == "Add")
                {
                    Disable = false;
                }
                else
                {
                    Disable = true;
                }
            }
        }
    }*@
@{
    var Disable = false;
    var DisableGroup = false;
    if (Model.TransType != null)
    {
        if (Model.TransType == "Update")
        {
            if (Model.Command == "Edit")
            {
                if (Model.ChkChildGroup != null)
                {
                    if (Model.ChkChildGroup == "Y")
                    {
                        //Disable = true;
                        Disable = true;
                        DisableGroup = false;
                    }
                    else
                    {
                        Disable = false;
                        DisableGroup = false;
                    }
                }
                else
                {
                    Disable = true;
                    DisableGroup = false;
                }
            }
            else if (Model.Command == "Save")
            {
                Disable = true;
                DisableGroup = true;
            }
            else
            {

                Disable = false;
                DisableGroup = true;

            }
        }
        else
        {
            Disable = false;
            DisableGroup = false;
        }
        if (Model.TransType == "Refresh")
        {
            Disable = true;
            DisableGroup = true;
        }
        if (Model.TransType == "Save")
        {
            if (Model.Command == "Add")
            {
                Disable = false;
                DisableGroup = false;
            }
            else
            {
                Disable = true;
                DisableGroup = true;
            }
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script>
            if ("@str" == "Save") {
                $("#hdnonetimeclick").val("");
            swal("", $("#savemsg").text(), "success");

            }
            if ("@str" == "Deleted") {
                $("#hdnonetimeclick").val("");
            swal("", $("#deletemsg").text(), "success");

            }
            if ("@str" == "Dependency") {
                $("#hdnonetimeclick").val("");
                 swal("", $("#DependencyExist").text(), "warning");
            }
        if ("@str" == "Duplicate") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_asset_group_name").text($("#valueduplicate").text());
                $("#asset_group_name").css("border-color", "red");
                $("#span_asset_group_name").css("display", "block");
            });
        }
        if ("@str" == "ValidationForSameName") {
            $(document).ready(function () {
                $("#hdnonetimeclick").val("");
                $("#span_asset_group_name").text($("#ValidationForSameName").text());
                $("#asset_group_name").css("border-color", "red");
                $("#span_asset_group_name").css("display", "block");
            });
        }
        </script>
    }
}
<div class="x_panel mar_pad1 ">
    <div class="x_content mar_pad1">
        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">&nbsp;</div>
        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">

            @{
                var btnName = Model.BtnName;
                switch (btnName)
                {
                    case "BtnAddNew":
                        <ul class="margin0 padding0">
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="button"
                                                    id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" onclick="return  InsertItemGroupDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "BtnSave":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {

                                        <li>
                                            <button class="edit" title="@Resource.Edit" onclick="return OnClickEdit();" type="button" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {

                                        <li>
                                            @if (Model.Delete_Dependcy == "ChildFound")
                                            {
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            }
                                            else
                                            {
                                                <button class="delete" onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            }
                                        </li>


                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "BtnEdit":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="button" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" onclick="return  InsertItemGroupDetail();" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "BtnRefresh":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="button" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "BtnToDetailPage":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit" title="@Resource.Edit" onclick="return OnClickEdit();" type="button" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        if (Model.Delete_Dependcy == "ChildFound")
                                        {
                                            <li>
                                                <button class="delete"
                                                        title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>



                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <button class="delete" onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                            </li>
                                        }
                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "Delete":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit"
                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                    case "BtnApprove":
                        <ul>
                            @if (ViewBag.VBRoleList != null)
                            {
                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                {
                                    if (Row["feature_id"].ToString() == "105106100001")
                                    {
                                        <li>
                                            <button class="add"
                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="Add"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100002")
                                    {
                                        <li>
                                            <button class="edit" title="@Resource.Edit" onclick="return OnClickEdit();" type="button" id="btn_edit" name="Command" value="Edit"></button>
                                        </li>
                                    }
                                    if (Row["feature_id"].ToString() == "105106100004")
                                    {
                                        <li>
                                            <button class="delete"
                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <button class="save"
                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                            </li>
                            <li>
                                <button class="refresh"
                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                            </li>
                            <li>
                                <button class="print"
                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                            </li>
                            <li>
                                <button class="back"
                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                            </li>
                        </ul>
                        break;
                }
            }

        </div>
        <div class="x_title pad_mar ">
            <div class="col-md-12 col-sm-12 icon_tool ">
                <!--<span>Collapsible / Accordion </span>-->
                <div class="approved_by">
                    <ul>
                        <li>
                            <span> @Resource.CreatedBy <br><b>@Html.DisplayFor(model => model.CreatedBy)</b></span>
                        </li>
                        <li>
                            <span>  @Resource.Createdon<br><b>@Html.DisplayFor(model => model.CreatedOn)</b></span>
                        </li>
                        <li>
                            <span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.AmmendedBy)</b></span>
                        </li>
                        <li>
                            <span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.AmmendedOn)</b></span>
                        </li>
                    </ul>
                </div>
                @Html.HiddenFor(m => m.Onetimeclick, new { @id = "hdnonetimeclick" })
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>