@using EnRepMobileWeb.Resources;
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 5px 10px !important;
        white-space: normal;
    }
</style>

    <table id="" class="table table-striped rowhighlighttbl itmfrz table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="sticky-header">
                <th width="3%">@Resource.SrNo</th>
                <th width="19%">@Resource.Product @Resource.Name</th>
                <th width="10%" title="@Resource.UnitOfMeasure"> @Resource.UOM </th>
                <th width="15%">@Resource.Sales @Resource.Order @Resource.Number</th>
                <th width="12%">@Resource.Order @Resource.Date</th>
                <th width="17%">@Resource.Customer   @Resource.Name</th>
                <th width="12%">@Resource.Order @Resource.Quantity</th>               
                <th width="12%">@Resource.Pending @Resource.Quantity</th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td>01</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
            </tr>
            <tr>
                <td>02</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
            </tr>
            <tr>
                <td>03</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
            </tr>
            <tr>
                <td>04</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
            </tr>
            <tr>
                <td>05</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
            </tr>
            <tr>
                <td>06</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
                </tr>
            <tr>
                <td>07</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
                </tr>            
            <tr>
                <td>08</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
                </tr>
            <tr>
                <td>09</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>
                </tr>
            <tr>
                <td>10</td>
                <td>
                    <div class="col-sm-11 lpo_form" style="padding:0px;" id="multiWrapper">
                        B1/03/25/QC0000065
                    </div>
                    <div class="col-sm-1 i_Icon">
                        <button type="button" id="ItmInfoBtnIcon" class="calculator ItmInfoBtnIcon " onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="Item Information">  </button>
                    </div>
                </td>
                <td>Pcs</td>
                <td>T/DSO/0000688</td>
                <td>07-Jul-2025</td>
                <td>ABC Ltd.</td>
                <td class="num_right">0000.00</td>
                <td class="num_right">0000.00</td>

            </tr>
            

        </tbody>
        <tfoot>

            
        </tfoot>
    </table>
