@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@*<title>@Model.Title</title>*@
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1" class="done" isdone="1" rel="1">
                                <span class="step_no">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2" class="selected" isdone="1" rel="2">
                                <span class="step_no">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3" class="disabled" isdone="0" rel="3">
                                <span class="step_no">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" class="disabled" isdone="0" rel="4">
                                <span class="step_no">4</span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1">
                    </div>
                </div>
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    @*<ul>
                        <li>
                            <a class="tooltip-test" 
                               title="@Resource.AddNew" href="@Url.Action("AddNewMaterialRequisitionSlip","MaterialRequisitionSlip")"><img src="~/Content/Images/addgreen.png" width="32" id="addNewItem" height="32" alt="Add"></a>
                        </li>
                    </ul>*@
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemName
                                    </label>
                                    <select class="form-control" id="custnamelist">
                                        <option value="0">ALL</option>
                                        <option value="1">Item Name</option>
                                        <option value="2">Item Name1</option>
                                        <option value="3">Item Name2</option>
                                    </select>
                                    <input  type="hidden" id="CustListName" value='@Url.Action("GetAutoCompleteCustList", "CustomerSetup")' />
                                </div>
                                <div class="col-md-55 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.ItemGroup
                                    </label>

                                    <input class=" form-control" id="ItemGroup" placeholder="Item Group"  onblur="this.placeholder='Item Group" />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Branch
                                    </label>
                                    <select class="form-control" id="custnamelist">
                                        <option value="0">ALL</option>
                                        <option value="1">Branch</option>
                                        <option value="2">Branch1</option>
                                        <option value="3">Branch2</option>
                                    </select>
                                    <input  type="hidden" id="CustListName" value='@Url.Action("GetAutoCompleteCustList", "CustomerSetup")' />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Warehouse
                                    </label>
                                    <select class="form-control" id="custnamelist">
                                        <option value="0">ALL</option>
                                        <option value="1">Branch</option>
                                        <option value="2">Branch1</option>
                                        <option value="3">Branch2</option>
                                    </select>
                                    <input  type="hidden" id="CustListName" value='@Url.Action("GetAutoCompleteCustList", "CustomerSetup")' />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Upto
                                    </label>
                                    <input type="date" class="form-control" id="" placeholder="Date" aria-describedby="PaymentDate">

                                    <span id="PaymentDate" class="sr-only">(success)</span>

                                </div> 
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterListCust()"><i class="fa fa-search" aria-hidden="true"></i></button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <table id="datatable-buttons" class="table table-striped width1400 " cellspacing="0" width="100%">
                            <thead>
                                <tr class="headings">
                                    <th width="3%">@Resource.SrNo</th>
                                    <th width="12%">
                                        @Resource.ItemName @*<span class="required">*</span> <a href="#" style="float:right;">
                        <div class="plus_icon1"> <i class="fa fa-plus" id="BtnAddItem" onclick="AddNewRow()" title="@Resource.AddNew"></i> </div>
                    </a>*@
                                    </th>
                                    <th width="5%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                                    <th>@Resource.OpeningStock</th>
                                    <th>@Resource.Receipts</th>
                                    <th>@Resource.Issued</th>
                                    <th>@Resource.ReservedStock</th>
                                    <th>@Resource.RejectedStock</th>
                                    <th>@Resource.ReworkableStock</th>
                                    <th>@Resource.AvailableStock</th>
                                    <th>@Resource.StockValue</th>

                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>01</td>
                                    <td>Item Name</td>
                                    <td>Pcs</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>

                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Item Name</td>
                                    <td>Pcs</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>

                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Item Name</td>
                                    <td>Pcs</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>
                                    <td>0000:00</td>

                                </tr>
                                @*<tr>
            <td>1</td>
            <td style="display: none;"><input  type="hidden" id="SNohiddenfiled" value="1" /></td>
            <td>
                <div class="col-sm-11 lpo_form" style="padding:0px;" id='multiWrapper'>
                    <input id="item_ass_val" class="form-control" autocomplete="off" type="text" onchange="OnChangeAssessAmt(event)" name="item_ass_val" placeholder="0000.00"  disabled>

                </div>
                <div class="col-sm-1" style="padding:0px; text-align:right;">
                    <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"> <i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i> </button>
                </div>
            </td>
            <td>
                <input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" disabled>
                <input id="UOMID" type="hidden" />
            </td>
            <td>
                <input id="QuotationQuantity" class="form-control" autocomplete="off" type="text" name="AvailableStockInBade" placeholder="0000.00"  disabled>
            </td>
            <td>
                <div class="lpo_form">
                    <input id="ord_qty_spec" class="form-control" autocomplete="off" onkeypress="return QtyFloatValueonly(this,event);" type="text" name="ord_qty_spec"  placeholder="0000.00"  disabled>
                    <span id="ord_qty_specError" class="error-message is-visible"></span>
                </div>
            </td>
            <td>
                <div class="lpo_form">
                    <input id="item_rate" class="form-control" maxlength="10" autocomplete="off" onkeypress="return RateFloatValueonly(this,event);" type="text" name="item_rate"  placeholder="0000.00"  disabled>
                    <span id="item_rateError" class="error-message is-visible"></span>
                </div>
            </td>
            <td>
                <input id="item_disc_perc" class="form-control" onkeypress="return FloatValuePerOnly(this,event);" autocomplete="off" type="text" name="item_disc_perc" placeholder="0000.00"  disabled>
            </td>
            <td>
                <div class="lpo_form">
                    <input id="item_disc_amt" class="form-control" autocomplete="off" onkeypress="return AmtFloatValueonly(this,event);" type="text" name="item_disc_amt" placeholder="0000.00"  disabled>
                    <span id="item_disc_amtError" class="error-message is-visible"></span>
                </div>
            </td>
            <td>
                <input id="item_disc_val" class="form-control" autocomplete="off" type="text" name="item_disc_val" placeholder="0000.00"  disabled>
            </td>
            <td>
                <input id="item_gr_val" class="form-control" autocomplete="off" type="text" name="item_gr_val" placeholder="0000.00"  disabled>
            </td>
            <td>
                <input id="item_ass_val" class="form-control" autocomplete="off" type="text" onchange="OnChangeAssessAmt(event)" name="item_ass_val" placeholder="0000.00"  disabled>
            </td>





        </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
