@model EnRepMobileWeb.MODELS.BusinessLayer.QualityControlSetup.QCParameterDefinition
@using EnRepMobileWeb.Resources;
@using System.Data

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/QualityControlSetup/ParameterDefinition/ItemParameterDefinition.js"></script>
@{
    var str = ViewBag.Message;
    if (str == "Save")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val("");
            swal("", $("#savemsg").text(), "success");
        </script>
    }
    if (str == "Used")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#DependencyExist").text(), "warning");

        </script>

    }
    if (str == "Delete")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            swal("", $("#deletemsg").text(), "success");
        </script>
    }
    if (str == "Duplicate")
    {
        <script type="text/javascript">
            $("#hdnSavebtn").val(null);
            $(document).ready(function () {
                $("#ParameterName").css("border-color", "red");
                document.getElementById("vmParameterName").innerHTML = $("#valueduplicate").text();

            })
        </script>
    }
    str = null;
    var AddNew = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103200101001")
            {
                AddNew = "Y";
            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}
<title>@Model.Title</title>
@using (Html.BeginForm("SaveParameterDef", "ParameterDefinition", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <!--Partial Import QC Data Start-->
            <div id="Partial_QC_PD" class="modal fade" role="dialog">
                <div class="modal-dialog" style="min-width:800px;">
                    <!-- Modal content-->
                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/Partial_Import_QCParameterDifinition.cshtml")
                </div>
            </div>
            <!--Partial Import QC Data End-->
            <!-- Error Detail -->
            <div id="ErrorDetail" class="modal fade show" role="dialog" aria-modal="true">
                <div class="modal-dialog" id="divErrorDetail" style="min-width:600px;">
                    <!-- Modal content-->
                    @Html.Partial("~/Areas/Common/Views/Cmn_PartialExportErrorDetail.cshtml")
                </div>
            </div>
            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <div class="x_title pad_mar ">
                            <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                            <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Download @Resource.Template" href="@Url.Action("DownloadFile","ParameterDefinition")"><img src="~/Content/Images/export_icon.png" width="32" id="" onclick="" height="32" alt="Download Data Template"></a>

                                    </li>
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.Import @Resource.Data" data-toggle="modal" data-target="#Partial_QC_PD" data-backdrop="static" data-keyboard="false"><img src="~/Content/Images/import_icon.png" width="32" id="ImportData" height="32" alt="Import Data"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                                <form class="available_stock pad_mar" action="" method="post" novalidate>
                                    <div class="col-md-12 col-sm-12 padding_zero">
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ParameterName<span class="required">*</span></label>
                                            @if (AddNew == "Y" || ViewBag.Message == "Duplicate")
                                            {
                                                @Html.TextBoxFor(model => model.param_name, new { @id = "ParameterName", @class = "form-control", @maxlength = "50", @placeholder = "Parameter Name", onchange = "OnChangeParameterName()", onkeypress = "OnChangeParameterName()" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.param_name, new { @id = "ParameterName", @disabled = "disabled", @class = "form-control", @maxlength = "50", @placeholder = "Parameter Name", onchange = "OnChangeParameterName()", onkeypress = "OnChangeParameterName()" })
                                            }
                                            @Html.ValidationMessageFor(model => model.param_name, String.Empty, new { @style = "color:red;!important", @id = "vmParameterName" })
                                            @Html.HiddenFor(model => model.param_Id, new { @id = "ParamID" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.ParameterType<span class="required">*</span></label>
                                            @if (AddNew == "Y" || ViewBag.Message == "Duplicate")
                                            {
                                                @Html.DropDownListFor(model => model.param_type, new SelectList(new List<Object>
                                                     {new { value = "0", text = "--Select--"  },
                                                      new { value = "O", text = "Observative"  },
                                                     new { value = "N", text = "Quantitative"  },
                                                     new { value = "L" , text = "Qualitative" }
                                                     }, "value", "text"), new { @class = "form-control", @id = "ParameterType", onchange = "OnChangeParameterType()" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.param_type, new SelectList(new List<Object>
                                                     {new { value = "0", text = "--Select--"  },
                                                      new { value = "O", text = "Observative"  },
                                                     new { value = "N", text = "Quantitative"  },
                                                     new { value = "L" , text = "Qualitative" }
                                                     }, "value", "text"), new { @class = "form-control", @disabled = "disabled", @id = "ParameterType", onchange = "OnChangeParameterType()" })
                                            }
                                            @Html.ValidationMessageFor(model => model.param_type, String.Empty, new { @style = "color:red;!important", @id = "vmParameterType" })
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            @if (AddNew == "Y" || ViewBag.Message == "Duplicate")
                                            {
                                                <button class="margin22 address_save" title="Save" type="submit" onclick="return BinSaveBtnClick()" id="btn_save" name="Command" value="@Model.BtnName"></button>

                                            }
                                            else
                                            {
                                                <div id="SaveBtnEnable" style="display:none">
                                                    <button class="margin22 address_save" title="Save" type="submit" onclick="return BinSaveBtnClick()" id="btn_save" name="Command" value="@Model.BtnName"></button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12  ">
                <div id="" class="x_panel margin_top_zero">
                    <div class="x_content">
                        <div class="card-box table-responsive dy_table">
                            <div id="ItmParamListBody" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                @Html.Partial("~/Areas/BusinessLayer/Views/Shared/ParameterDefinitionPartialView.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

