@*@model EnRepMobileWeb.MODELS.BusinessLayer.SupplierDetail.SupplierDetail*@
@model EnRepMobileWeb.MODELS.BusinessLayer.WarehouseSetup.WarehouseSetupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@* All Session remove by shubham maurya on30-11-2022 for using model*@
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/WarehouseSetup/WarehouseSetup.js"></script>

@{
    var Disable = true;
    if (Model.TransType != null)
    {
        var TransType = Model.TransType;
        if (TransType.ToString() == "Update")
        {
            if (Model.Command.ToString() == "Edit")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
        else
        {
            Disable = false;
        }

        if (TransType.ToString() == "Refresh")
        {
            Disable = true;
        }
        if (TransType.ToString() == "Duplicate")
        {
            Disable = false;
        }
        if (TransType.ToString() == "Save")
        {
            if (Model.Command.ToString() == "Add")
            {
                Disable = false;
            }
            else
            {
                Disable = true;
            }
        }
    }
    if (Model.Message != null)
    {
        if (Model.Message.ToString() == "Duplicate")
        {
            Disable = false;
        }
    }
}
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        <script type="text/javascript">
            if ("@str" == "Save") {
                $("#hdnSavebtn").val(null);
                    swal("", $("#savemsg").text(), "success");
           }
            if ("@str" == "Deleted") {
                $("#hdnSavebtn").val(null);
            swal("", $("#deletemsg").text(), "success");
           }
            if ("@str" == "Approved") {
                $("#hdnSavebtn").val(null);
            swal("", $("#approvemsg").text(), "success");
           }
           if ("@str" == "Duplicate") {
               $(document).ready(function () {
                   $("#hdnSavebtn").val(null);
                    document.getElementById("vmWarehouseName").innerHTML = $("#valueduplicate").text();
                    $("#WarehouseName").css("border-color", "red");
              })
           }
            if ("@str" == "exist") {
                $("#hdnSavebtn").val(null);
            swal("", $("#DependencyExist").text(), "warning");
            }

        </script>
        Model.Message = null;
    }
    if (Model.Command != null)
    {
        var Command1 = Model.Command;
        <script type="text/javascript">
            if ("@Command1" == "Edit") {
                $("#hdnSavebtn").val(null);
                    $("#act_status").prop("disabled", false);
                    $("#supp_hold").prop("disabled", false);
                }
        </script>

    }
}
<title>@Model.Title</title>
@using (Html.BeginForm("WarehouseSetupSave", "WarehouseSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                 var BtnName = Model.BtnName.ToString();
                                switch (BtnName)
                                {
                                    case "BtnAddNew":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" isabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Edit":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" disabled style="filter: grayscale(100%)" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>

                                        break;
                                    case "ToViewDetail":
                                        <ul class="margin0 padding0">
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175002")
                                                    {
                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175004")
                                                    {

                                                        <li>
                                                            <button class="delete"
                                                                    onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>

                                                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                    }
                                                }
                                            }



                                            <li>
                                                @if (Model.create_id == null)
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }
                                                else
                                                {
                                                    <button class="save"
                                                            title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                                                }

                                            </li>

                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175005")
                                                    {
                                                        <li>
                                                            <button class="print"
                                                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }

                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Delete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "103175001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" onclick="DisableActStat();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175002")
                                                    {

                                                        <li>
                                                            <button class="edit"
                                                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "103175004")
                                                    {
                                                        <li>
                                                            <button class="delete"
                                                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                                            </li>
                                            <li>
                                                <button class="print"
                                                        title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                            </li>
                                            <li>
                                                <button class="back"
                                                        title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                                @*var btnName = Model.BtnName.ToString();
            switch (btnName)
            {

                case "BtnAddNew":
                    <ul class="margin0 padding0">
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save"
                                    title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                        </li>

                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back"
                                    title="@Resource.Back"  type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "BtnSave":
                    <ul>
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    onclick="return functionConfirm(this)" title="@Resource.Delete" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                        <li>
                            <button class="save"
                                    title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                        </li>

                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back"
                                    title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "BtnEdit":
                    <ul>
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save"
                                    title="@Resource.Save" type="submit" id="btn_save" onclick="return validateWareHouseSetupInsertform();" name="Command" value="Save"></button>
                        </li>

                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back"
                                    title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
                case "BtnRefresh":
                    <ul>
                        <li>
                            <button class="add"
                                    title="@Resource.AddNew" onclick="DisableActStat();" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                        </li>
                        <li>
                            <button class="edit"
                                    title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        </li>
                        <li>
                            <button class="delete"
                                    title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                        </li>
                        <li>
                            <button class="save"
                                    title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                        </li>

                        <li>
                            <button class="refresh"
                                    title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" onclick="MandatoryDisable();" name="Command" value="Refresh"></button>
                        </li>
                        <li>
                            <button class="print"
                                    title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                        </li>
                        <li>
                            <button class="back"
                                    title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                        </li>
                    </ul>
                    break;
            }*@
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <!--<span>Collapsible / Accordion </span>-->
                                <div class="approved_by">
                                    <ul>
                                        <li>
                                            <span>
                                                @Resource.CreatedBy <br><b><span id="SuppCreatedBy"></span></b>
                                                <b>@Html.DisplayFor(model => model.create_id)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.Createdon <br><b><span id="SuppCreatedDate"></span></b>
                                                <b>@Html.DisplayFor(model => model.creat_dt)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.AmendedBy <br><b><span id="SuppAmendedBy"></span></b>
                                                <b>@Html.DisplayFor(model => model.mod_id)</b>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                @Resource.AmendedOn <br><b><span id="SuppAmendedDate"></span></b>
                                                <b>@Html.DisplayFor(model => model.mod_dt)</b>
                                            </span>
                                        </li>
                                    </ul>
                                    @if (Model.TransType == "Duplicate")
                                    {
                                        if (Model.Duplicate == "test")
                                        {
                                            Model.TransType = "Save";
                                            @Html.HiddenFor(m => m.TransType, new { @Value = Model.TransType });
                                        }
                                        else
                                        {
                                            Model.TransType = "Update";
                                            @Html.HiddenFor(m => m.TransType, new { @Value = Model.TransType });
                                        }
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(m => m.TransType, new { @Value = Model.TransType });
                                    }
                                </div>
                                @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.WarehouseDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <!--<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="col-md-3 col-sm-12">
                                                        <label class="col-form-label label-align">
                                                            @Resource.WarehouseName <span class="required">*</span>
                                                        </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.WarehouseName, new { @id = "WarehouseName", @maxlength = "50", @class = " form-control", @placeholder = "Warehouse Name", disabled = "disabled", onchange = "OnChangewarehouseName()", onkeypress = "OnChangewarehouseName()" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.WarehouseName, new { @id = "WarehouseName", @maxlength = "50", @class = " form-control", @autocomplete = "off", @placeholder = "Warehouse Name", onchange = "OnChangewarehouseName()", onkeypress = "OnChangewarehouseName()" })
                                                        }
                                                        @Html.HiddenFor(model => model.wh_id, new { @id = "wh_id_hdn",@Value=Model.wh_id })
                                                        @Html.ValidationMessageFor(model => model.WarehouseName, "", new { @class = "text-danger", @id = "vmWarehouseName" })

                                                        @*<input class="form-control" id="WarehouseName" name="WarehouseName" onchange="OnChangeSuppName()" placeholder="Warehouse Name" type="text" value="">*@
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align">@Resource.WarehouseType <span class="required">*</span> </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.WarehouseType, new List<SelectListItem>
                                                                    {
                                                           new SelectListItem{ Text="---Select---", Value = "0" },
                                                              new SelectListItem{ Text="External", Value = "E" },
                                                             new SelectListItem{ Text="Internal", Value = "I" },
                                                           },
                                                          new { @id = "WarehouseType", PostBackTrigger = true, @class = "form-control ", onchange = "OnChangewarehouseType()", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.WarehouseType, new List<SelectListItem>
                                                                   {
                                                          new SelectListItem{ Text="---Select---", Value = "0" },
                                                              new SelectListItem{ Text="External", Value = "E" },
                                                             new SelectListItem{ Text="Internal", Value = "I" },},
                                                         new { @id = "WarehouseType", PostBackTrigger = true, @class = "form-control ", onchange = "OnChangewarehouseType()" })
                                                        }

                                                        @Html.ValidationMessageFor(model => model.WarehouseType, "", new { @class = "text-danger", @id = "vmWarehouseType" })
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align"> @Resource.Address</label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control remarksmessage", @maxlength = "200", @placeholder = @Resource.Address, @readonly = "readonly", })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control remarksmessage", @maxlength = "200", @placeholder = @Resource.Address, })
                                                        }

                                                        @*<textarea class="form-control remarks_height" cols="20" id="supp_rmarks" name="supp_rmarks" placeholder="@Resource.remarks" rows="2"></textarea>*@
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align">@Resource.CityAndPIN</label>
                                                        @if (Disable)
                                                        {

                                                            @Html.DropDownListFor(model => model.CityAndPIN, new SelectList(Model._CityAndPIN_list, "CityAndPin_id", "CityAndPin_val"), "---Select---", new { @class = "form-control", disabled = "disabled", @id = "warehouse_city" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.CityAndPIN, new SelectList(Model._CityAndPIN_list, "CityAndPin_id", "CityAndPin_val"), "---Select---", new { @class = "form-control", @id = "warehouse_city", onchange = "GetwareDSCntr()" })
                                                        }
                                                        <input type="hidden" id="warehousecity_Name" value='@Url.Action("GetAutoCompleteSuppcity", "WarehouseSetup")' />
                                                        @Html.HiddenFor(model => model.CityAndPinID, new { @id = "hdsupp_city" })
                                                        @Html.ValidationMessageFor(model => model.CityAndPIN, String.Empty, new { @id = "vmwareCity" })



                                                    </div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align">@Resource.DistrictAndZone </label>

                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.DistrictAndZone, new { @id = "ware_district", @class = "form-control", @placeholder = "Supplier District", disabled = "disabled" })

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.DistrictAndZone, new { @id = "ware_district", @class = "form-control", @placeholder = "Supplier District", disabled = "disabled" })
                                                        }

                                                        @Html.HiddenFor(model => model.ware_dist, new { @id = "waredistID", value = Model.ware_dist })
                                                        @Html.ValidationMessageFor(model => model.ware_dist, String.Empty, new { @id = "vmDistrict_AndZone" })
                                                        <span class="field-validation-valid" data-valmsg-for="supp_dist" data-valmsg-replace="true" id="vmSuppDist"></span>

                                                    </div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align">@Resource.StateAndProvince   </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.StateAndProvince, new { @id = "ware_state", @class = "form-control", @placeholder = "Supplier State", disabled = "disabled" })

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.StateAndProvince, new { @id = "ware_state", @class = "form-control", @placeholder = "Supplier State", disabled = "disabled" })
                                                        }
                                                        @Html.HiddenFor(model => model.ware_state, new { @id = "warestateID", value = Model.ware_state })
                                                        @Html.ValidationMessageFor(model => model.ware_state, String.Empty, new { @id = "vmwareState" })

                                                        @*<input class="form-control" disabled="disabled" id="supp_state" name="Suppstate" placeholder="Supplier State" type="text" value="">                                                            <input data-val="true" data-val-number="The field supp_state must be a number." data-val-required="The supp_state field is required." id="suppstateID" name="supp_state" type="hidden" value="0">*@
                                                        <span class="field-validation-valid" data-valmsg-for="supp_state" data-valmsg-replace="true" id="vmSuppState"></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 ">
                                                        <label class="col-form-label label-align">@Resource.Country </label>
                                                        @if (Disable)
                                                        {
                                                            @Html.TextBoxFor(model => model.Country, new { @id = "ware_country", @class = "form-control", @placeholder = "Supplier Country", disabled = "disabled" })

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.Country, new { @id = "ware_country", @class = "form-control", @placeholder = "Supplier Country", disabled = "disabled" })
                                                        }
                                                        @Html.HiddenFor(model => model.ware_Country, new { @id = "warecntryID", value = Model.ware_Country })
                                                        @Html.ValidationMessageFor(model => model.ware_Country, String.Empty, new { @id = "vmwareCountry" })
                                                        <span class="field-validation-valid" data-valmsg-for="supp_country" data-valmsg-replace="true" id="vmSuppCountry"></span>
                                                    </div>
                                                    <div class="custom-control custom-switch col-md-3 col-sm-12" style=" margin-left: 1%; max-width:23%;  padding-top: 22px;">

                                                        @if (Disable)
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.RejWh, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "stkout_warn", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.RejWh, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "stkout_warn" })
                                                        }
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="stkout_warn" style="padding: 3px 0px;"> @Resource.RejectionWarehouse </label>

                                                    </div>
                                                    <div class="custom-control custom-switch col-md-3 col-sm-12" style=" margin-left: 1%; max-width:23%;  padding-top: 22px;">
                                                        @if (Disable)
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.RewWh, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "RewWH", disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.CheckBoxFor(modal => modal.RewWh, new { @class = "custom-control-input col-md-3 col-sm-12 margin-switch", @checked = "checked", @id = "RewWH" })
                                                        }
                                                        <label class="custom-control-label col-md-9 col-sm-12" for="RewWH" style="padding: 3px 0px;">@Resource.ReworkWarehouse</label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                @Html.HiddenFor(model => model.branchId, new { id = "hdCustomerBranchList" })
                            </section>



                            @*@Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView.cshtml")*@
                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/CustomerBanchPartialView_New.cshtml")
                        </article>
                    </div>
                </div>
            </div>

        </div>
    }
}
<!-- page content end -->
