@model EnRepMobileWeb.MODELS.BusinessLayer.TaxSlab.TaxSlab_Model
@using EnRepMobileWeb.Resources;
@using System.Data

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>

<title>@Model.Title</title>
<style>
    .select2-dropdown {
        min-width: 240px;
    }

    #vmHSNNumber.field-validation-valid, #vmlistTaxPer.field-validation-valid {
        position: relative;
    }
</style>
@{
    var rowId = 0;
}
@{
    if (Model.Message != null)
    {


        var str = Model.Message.ToString();
        if (str == "Save")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        if (str == "Delete")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        if (str == "Used")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#DependencyExist").text(), "warning");
            </script>
        }
        if (str == "Duplicate")
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#hdnSavebtn").val(null);
                    $("#TaxPer").css("border-color", "red");
                    document.getElementById("vmTaxPer").innerHTML = $("#valueduplicate").text();
                })
            </script>
        }

        Model.Message = "";
    }
}
@{
    var AddNew = "N";
    var DeleteFlag = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103156001001")
            {
                AddNew = "Y";
            }
            if (Row["feature_id"].ToString() == "103156001004")
            {
                DeleteFlag = "Y";
            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
}
<script src="~/Content/Scripts/BusinessLayer/GSTSetup/TaxSlab/TaxSlab.js"></script>
@*<script src="~/Content/Scripts/BusinessLayer/GSTSetup/GSTSetup.js"></script>*@
@using (Html.BeginForm("SaveTaxSlab", "TaxSlab", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">

                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.TaxSlab @Resource.Detail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>

                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="col-md-1 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.TextBoxFor(model => model.tax_per, new { @id = "TaxPer", @autocomplete = "off", @class = "form-control num_right", @placeholder = "0000.00", @onchange = "OnChangeTaxPer()", @onkeypress = "return FloatValuePerOnly(this,event)" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.tax_per, new { @id = "TaxPer", @autocomplete = "off", @class = "form-control num_right", @placeholder = "0000.00",@disabled="disabled", @onchange = "OnChangeTaxPer()", @onkeypress = "return FloatValuePerOnly(this,event)" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.tax_per, String.Empty, new { @style = "color:red;!important", @id = "vmTaxPer" })
                                                    @Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })
                                                    @Html.HiddenFor(model => model.hdntexper, new { @id = "hdnigsttaxperc" })
                                                    <span id="SpanGLPer" class="error_message"></span>
                                                    @*@Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })*@
                                                </div>
                                                <div class="col-md-1 col-sm-12 margin25">
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.CheckBoxFor(modal => modal.goods, new { @class = "js-switch", @id = "Services", @checked = "checked" })
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(modal => modal.goods, new { @class = "js-switch", @disabled="disabled", @id = "Services", @checked = "checked" })
                                                    }
                                                    <label> @Resource.Goods</label>
                                                </div>
                                                <div class="col-md-1 col-sm-12 margin25" style="min-width:10%;">
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.CheckBoxFor(modal => modal.services, new { @class = "js-switch", @id = "Services", @checked = "checked" })
                                                    }
                                                    else
                                                    {
                                                        @Html.CheckBoxFor(modal => modal.services, new { @class = "js-switch",@disabled="disabled", @id = "Services", @checked = "checked" })
                                                    }
                                                    <label> @Resource.Services</label>
                                                </div>
                                                <div class="col-md-1 col-sm-12">
                                                    @if (AddNew == "Y")
                                                    {
                                                        <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return CheckValidation();" id="btn_save" name="Command" value="TaxPerSave"></button>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH ">
                                                                    <table id="datatable-buttons" class="table table-bordered rowhighlighttbl">
                                                                        <thead>
                                                                            <tr class="sticky-header">
                                                                                <th> &nbsp;</th>
                                                                                <th class="wi">@Resource.SrNo</th>
                                                                                <th> @Resource.TaxPercentage</th>
                                                                                <th> @Resource.Goods</th>
                                                                                <th> @Resource.Services</th>
                                                                                <th style="width:400px !important"> &nbsp;</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="GstBody">

                                                                            @if (ViewBag.TaxSlabList != null)
                                                                            {

                                                                                foreach (System.Data.DataRow dr in ViewBag.TaxSlabList.Rows)
                                                                                {
                                                                                    rowId = rowId + 1;


<tr>
    <td class="red center">
        @if (DeleteFlag == "Y")
        {
            <i class="fa fa-trash" aria-hidden="true" onclick="return functionConfirm(event)" title="Delete"></i>
        }
    </td>
                                                                                        <td>@rowId</td>
                                                                                        <td id="taxperc">@dr["tax_perc"]</td>
                                                                                        <td class="center">
                                                                                            @if (@dr["goods"].ToString() == "Y")
                                                                                            {
                                                                                                <input class="js-switch" data-val="true" disabled id="Goods" name="Goods" type="checkbox" checked data-switchery="true">
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <input class="js-switch" data-val="true" disabled id="Goods" name="Goods" type="checkbox" data-switchery="true">
                                                                                            }
                                                                                        </td>
                                                                                        <td class="center">
                                                                                            @if (@dr["service"].ToString() == "Y")
                                                                                            {
                                                                                                <input class="js-switch" data-val="true" disabled id="Service" name="Service" type="checkbox" checked data-switchery="true">
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <input class="js-switch" data-val="true" disabled id="Service" name="Service" type="checkbox" data-switchery="true">
                                                                                            }
                                                                                        </td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.HSNDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>

                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo" style="">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.DropDownListFor(model => model.listTaxPer, new SelectList(Model.TaxPerlist, "taxPer_id", "taxPer"), "---Select---", new { @class = "form-control", onchange = "OnchangeTaxPerHsn()", @id = "listTaxPer" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.listTaxPer, new SelectList(Model.TaxPerlist, "taxPer_id", "taxPer"), "---Select---", new { @class = "form-control",@disabled="disabled", onchange = "OnchangeTaxPerHsn()", @id = "listTaxPer" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.listTaxPer, String.Empty, new { @class = "text-danger", @id = "vmlistTaxPer" })
                                                    @Html.HiddenFor(model => model.hdnlistTaxPer, new { @id = "hdnlistTaxPer" })
                                                    @Html.HiddenFor(model => model.hdnlistTaxHsn, new { @id = "hdnlistTaxHsn" })
                                                    @*<label class="col-form-label label-align">@Resource.TaxPercentage <span class="required">*</span></label>
        <select class="form-control" id=""  name="" onchange="">

        </select>*@
                                                </div>
                                                <div class="col-md-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.HSNNumber <span class="required">*</span></label>
                                                    @if (AddNew == "Y")
                                                    {
                                                        @Html.DropDownListFor(model => model.HSN_Number, new SelectList(Model.hSNNumbars, "HSNNumberId", "HSNNumber"), new { @class = "form-control", onchange = "OnchangeHsnNumbar()", @id = "HSNNumber" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.HSN_Number, new SelectList(Model.hSNNumbars, "HSNNumberId", "HSNNumber"), new { @class = "form-control",@disabled="disabled", onchange = "OnchangeHsnNumbar()", @id = "HSNNumber" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.HSN_Number, String.Empty, new { @class = "text-danger", @id = "vmHSNNumber" })
                                                </div>
                                                <div class="col-md-1 col-sm-12">
                                                    @if (AddNew == "Y")
                                                    {
                                                        <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return CheckValidationTaxHSN();" id="btn_saveHSN" name="Command" value="Save"></button>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                    <table id="datatable-buttons1" class="table table-bordered rowhighlighttbl">
                                                                        <thead>
                                                                            <tr class="sticky-header">
                                                                                <th class="" width="1%">&nbsp;</th>
                                                                                <th class="wi" width="1%">@Resource.SrNo</th>
                                                                                <th style="text-align:left;"> @Resource.TaxPercentage</th>
                                                                                <th style="text-align: left; width: 100px !important"> @Resource.HSNNumber</th>
                                                                                <th style="width:350px !important;"> &nbsp;</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="GstBody">
                                                                            @if (ViewBag.HSNList != null)
                                                                            {
                                                                                var i = 0;
                                                                                foreach (System.Data.DataRow dr in ViewBag.HSNList.Rows)
                                                                                {
                                                                                    i = i + 1;
                                                                                    <tr role="row" class="odd">
                                                                                        <td class="red center">
                                                                                            @if (DeleteFlag == "Y")
                                                                                            {
                                                                                                <i class="fa fa-trash red" aria-hidden="true" title="Delete" onclick="return DeleteHSNNumber(event)"></i>
                                                                                            }
                                                                                        </td>
                                                                                        <td class="sorting_1"><span id="hdn_id">@i</span></td>
                                                                                        <td align="left" id=""><span id="tax_percHSN">@dr["tax_perc"].ToString()</span></td>
                                                                                        <td align="left"><span id="hsn_no">@dr["hsn_no"].ToString()</span></td>
                                                                                        <td>&nbsp;</td>

                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}
