@using System.Data;
@{
    string QtyDigit = "0.";
    var QD = Convert.ToInt32(Session["QtyDigit"].ToString());
    for (var i = 0; i < QD; i++)
    {
        QtyDigit += "0";
    }
    string doc_status = "";
    string BackGroundImgUrl = "";
    DataSet ds = new DataSet();
    ds = ViewBag.Details;
    string curr = ds.Tables[0].Rows[0]["curr"].ToString();
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    decimal ShipQty = 0;
    decimal item_gr_val_bs = 0;
    decimal tax_val = 0;
    decimal item_gr_val_sp = 0;
    decimal tot_gwt = 0;
    var rno = 1;
    decimal totalsp = item_gr_val_sp;
    decimal totalbs = item_gr_val_bs;
    string Trd_trm = @ds.Tables[0].Rows[0]["trade_term"].ToString();
}

<style>
    .print_font {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
    }
    table.main {
        width: 100%;
        font-weight: normal;
        padding: 0px 0px;
        line-height: 18px;
        border: 1px solid #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }

        table.main tr th {
            paddingtop: 5px;
            paddingbottom: 3px;
            font-size: 10px;
            text-align: center;
            border-bottom: 1px solid #000000;
        }

        table.main tr td {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            paddingleft: 5px;
            paddingright: 5px;
            paddingbottom: 3px;
        }

    .pt_top {
        paddingtop: 5px;
    }

    .bor_left {
        border-left: 1px solid #000000;
    }

    .bor_right {
        border-right: 1px solid #000000;
    }

    .bor_top {
        border-top: 1px solid #000000;
    }

    .bor_bottom {
        border-bottom: 1px solid #000000;
    }

    .fon_bol {
        font-weight: bold !important;
    }

    .fon_nor {
        font-weight: normal;
    }

    .all_td {
        padding-left: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 15px;
        max-height: 15px;
        line-height: 15px;
    }

    .footer_td {
        paddingleft: 5px;
        paddingtop: 3px;
        paddingbottom: 1px;
        height: 15px;
        max-height: 15px;
        line-height: 15px;
    }

    .ver_bot {
        vertical-align: bottom;
    }

    .ver_top {
        vertical-align: top;
    }

    .thight50 {
        height: 50px;
    }

    .thight100 {
        height: 100px;
    }

    .right_text {
        text-align: right;
    }

    .center_text {
        text-align: center;
    }

    .left_pd {
        paddingleft: 0px !important
    }

    .padding0 {
        paddingleft: 0px !important;
        paddingtop: 0px !important;
        paddingright: 0px !important;
        paddingbottom: 0px !important;
    }

    .data_div {
        padding-bottom: 1px;
    }
    /*.right_pd {
        paddingright:10px;

    }*/

</style>
<div style='backgroundposition: center center;'>

    <table width='100%'>
        <tr>
            <td>
                <table style='width:100%;'>
                    @*<tr>
                        <td style='width:10px;'></td>
                        <td align="center" class="print_font">

                            @{
                                var txt3 = ds.Tables[0].Rows[0]["inv_head"].ToString();
                                string[] stringSeparators3 = new string[] { "\r\n" };
                                string text3 = txt3;
                                string[] lines3 = text3.Split(stringSeparators3, StringSplitOptions.None);

                                for (var i = 0; i < lines3.Length; i++)
                                {
                                    <span>@lines3[i]</span><br />
                                }
                            }
                        </td>
                        <td style='width:10px;'></td>

                    </tr>*@
                    <tr>
                        <td style='width:10px;'></td>
                        <td style=' paddingleft:0px;'>
                            <table class="main" cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td style='width: 40%; paddingleft: 0px; paddingright:0px;' class="bor_right">
                                        <table class="" cellspacing='0' cellpadding='0' width="100%">
                                            <tr>
                                                <td colspan="2">
                                                    <span  class=" fon_bol  pt_top bor_bottom">
                                                        Exporter,<br />
                                                        @ds.Tables[0].Rows[0]["comp_nm"].ToString()<br />

                                                        @if (ds.Tables[0].Rows[0]["exp_addr"].ToString() != null && ds.Tables[0].Rows[0]["exp_addr"].ToString() != "")
                                                        {
                                                            @ds.Tables[0].Rows[0]["exp_addr"].ToString()
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                @ds.Tables[0].Rows[0]["Comp_Add"].ToString()
                                                                @ds.Tables[0].Rows[0]["state"].ToString()
                                                                - @ds.Tables[0].Rows[0]["pin"].ToString()
                                                            </span>
                                                        }
                                                    </span>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td class="pt_top"><span class="fon_bol">STATE CODE </span> - @ds.Tables[0].Rows[0]["state_code"].ToString()</td>
                                                <td class="pt_top"><span class="fon_bol"> PAN NO. </span>@ds.Tables[0].Rows[0]["pan_no"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td class=" bor_bottom"><span class="fon_bol">GSTIN NO. </span> @ds.Tables[0].Rows[0]["gst_no"].ToString()</td>
                                                <td class="bor_bottom "><span class="fon_bol"> IEC Code </span> @ds.Tables[0].Rows[0]["iec_no"].ToString()</td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" class="  thight50 bor_bottom ver_top">
                                                    <span class="fon_bol">
                                                        CONSIGNEE :
                                                      
                                                    </span>
                                                    <br />
                                                    <span>
                                                        @if (ds.Tables[0].Rows[0]["consig_name"] != null && ds.Tables[0].Rows[0]["consig_name"].ToString() != "")
                                                        {
                                                            @ds.Tables[0].Rows[0]["consig_name"].ToString();
                                                        }
                                                        else
                                                        {
                                                            @ds.Tables[0].Rows[0]["cust_name"].ToString();
                                                        }
                                                    </span>
                                                    <br />
                                                    <span class="">
                                                        @{
                                                            if (ds.Tables[0].Rows[0]["consig_addr"] != null && ds.Tables[0].Rows[0]["consig_addr"].ToString() != "")
                                                            {
                                                                var txt2 = ds.Tables[0].Rows[0]["consig_addr"].ToString();
                                                                ViewBag.TextData = txt2;
                                                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")
                                                            }
                                                            else
                                                            {
                                                        <span class="">
                                                            @ds.Tables[0].Rows[0]["cust_add"].ToString(),
                                                            @ds.Tables[0].Rows[0]["cust_state"].ToString(),
                                                            @ds.Tables[0].Rows[0]["cust_cntry"].ToString()
                                                        </span>
                                                            }
                                                        }
                                                    </span>                                                  
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bor_bottom ver_top">
                                                    <span class="fon_bol">Pre Carriage By</span><br />
                                                    <span>@ds.Tables[0].Rows[0]["pre_carr_by"].ToString()</span>
                                                </td>
                                                <td class="   bor_bottom ver_top">
                                                    <span class="fon_bol">PI Of Recpt by Pre carrier</span><br />
                                                    <span>@ds.Tables[0].Rows[0]["pi_rcpt_carr"].ToString()</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="bor_bottom">
                                                    <span class="fon_bol">Vessel/Flight No</span><br />
                                                    <span>@ds.Tables[0].Rows[0]["ves_fli_no"].ToString()</span>
                                                </td>
                                                <td class="bor_bottom  pt_top">
                                                    <span class="fon_bol">Port Of Loading</span><br /> @ds.Tables[0].Rows[0]["loading_port"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=" pt_top"><span class="fon_bol">Port Of Discharge</span> <br />@ds.Tables[0].Rows[0]["discharge_port"].ToString()</td>
                                                <td class=" "><span class="fon_bol">Final Destination</span><br />@ds.Tables[0].Rows[0]["fin_disti"].ToString()</td>
                                            </tr>



                                        </table>
                                    </td>
                                    <td style='width: 60%; paddingleft: 0px; paddingright: 0px; paddingtop: -8px; ' class="ver_top">

                                        @*<td style='width: 60%;' class="ver_top">*@
                                        <table cellspacing='0' cellpadding='0' width="100%">
                                            <tr>
                                                <th width="20%"></th>
                                                <th width="20%"></th>
                                                <th width="20%"></th>
                                                <th width="20%"></th>
                                                <th width="20%"></th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="fon_bol pt_top bor_right">
                                                    Inv No & Date
                                                </td>

                                                <td colspan="3" class=" pt_top bor_bottom">
                                                    <span class="fon_bol"> Exporter's Ref. </span>
                                                    <span>@ds.Tables[0].Rows[0]["ext_ref"].ToString()</span>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td colspan="2" class=" pt_top bor_bottom bor_right">
                                                    @ds.Tables[0].Rows[0]["custom_inv_no"].ToString() @ds.Tables[0].Rows[0]["custom_inv_dt"].ToString()
                                                </td>
                                                @*<td class=" pt_top bor_bottom bor_right">

                                    </td>*@
                                                <td colspan="3" class="pt_top bor_bottom">
                                                    <span class="fon_bol"> Reverse Charge (Y/N) </span> : No
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="5" class=" pt_top bor_bottom">
                                                    <span class="fon_bol">Buyer's Ord No & Dt.</span>

                                                    <table cellspacing='0' cellpadding='0' width="100%" class="">
                                                        <tr>
                                                            <td>
                                                                @{
                                                                    var txt4 = ds.Tables[0].Rows[0]["buyer_ord_no_dt"].ToString();
                                                                    ViewBag.TextData = txt4;
                                                                    @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")
                                                                    @*string[] stringSeparators4 = new string[] { "\r\n" };
                                                                    string text4 = txt4;
                                                                    string[] lines4 = text4.Split(stringSeparators4, StringSplitOptions.None);

                                                                    for (var i = 0; i < lines4.Length; i++)
                                                                    {
                                                                        <span>@lines4[i]</span><br />
                                                                    }*@
                                                                }
                                                                @*@{ var j = 0; }
        @foreach (System.Data.DataRow dr in ds.Tables[2].Rows)
        {
            if (j == 0)
            {
                <span>@dr["so_no"] &nbsp; @dr["so_dt"]</span>
            }
            else
            {
                <span>, @dr["so_no"] &nbsp; @dr["so_dt"]</span>
            }
            j++;
        }*@
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                @*<td class="fon_bol pt_top bor_bottom ver_top">Other Reference(s)</td>
                                                <td colspan="4" class=" pt_top bor_bottom">
                                                    @{
                                                        var txt1 = ds.Tables[0].Rows[0]["other_ref"].ToString();
                                                        string[] stringSeparators1 = new string[] { "\r\n" };
                                                        string text1 = txt1;
                                                        string[] lines1 = text1.Split(stringSeparators1, StringSplitOptions.None);

                                                        for (var i = 0; i < lines1.Length; i++)
                                                        {
                                                            <span>@lines1[i]</span><br />
                                                        }
                                                    }

                                                </td>*@
                                                <td colspan="5" class=" pt_top bor_bottom">
                                                    <span class="fon_bol"> Other Reference(s) </span> <br />
                                                    @{
                                                        var txt1 = ds.Tables[0].Rows[0]["other_ref"].ToString();
                                                        @*string[] stringSeparators1 = new string[] { "\r\n" };
                                                        string text1 = txt1;
                                                        string[] lines1 = text1.Split(stringSeparators1, StringSplitOptions.None);

                                                        for (var i = 0; i < lines1.Length; i++)
                                                        {
                                                            string[] stringSeprtr = new string[] { "  " };
                                                            string[] spLins = lines1[i].Split(stringSeprtr, StringSplitOptions.None);
                                                            if (spLins.Length > 1)
                                                            {
                                                                var j = spLins.Length - 1;
                                                                <span>
                                                                    @spLins[0]
                                                                    @for (var k = 0; k < (j - 1); k++)
                                                                    {
                                                                        <span>&nbsp; &nbsp;</span>
                                                                    }
                                                                    @spLins[j]
                                                                </span><br />
                                                            }
                                                            else
                                                            {
                                                                <span>@lines1[i]</span><br />
                                                            }

                                                        }*@
                                                        ViewBag.TextData = txt1;
                                                        @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")

                                                    }

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class=" pt_top bor_bottom">
                                                    <span class="fon_bol">Buyer if other then Consignee</span>
                                                    <span> @ds.Tables[0].Rows[0]["buyer_consig"].ToString()</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class=" pt_top bor_bottom">
                                                    <span class="fon_bol"> Country Of Origin of Goods</span>
                                                    <br /> @ds.Tables[0].Rows[0]["cntry_origin"].ToString()
                                                </td>
                                                <td colspan="2" class=" pt_top bor_bottom">
                                                    <span class="fon_bol">
                                                        Country Of Final Destination
                                                    </span>
                                                    <br /> @ds.Tables[0].Rows[0]["cntry_fin_dest"].ToString()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class=" pt_top ">
                                                    <span class="fon_bol">
                                                        Term of Delivery & Payment
                                                    </span>
                                                    <br />
                                                    @{
                                                        var txt = ds.Tables[0].Rows[0]["term_del_pay"].ToString();
                                                        ViewBag.TextData = txt;
                                                        @Html.Partial("~/Areas/Common/Views/Cmn_PartialMultilineSpacedData.cshtml")
                                                        @*string[] stringSeparators = new string[] { "\r\n" };
                                                        string text = txt;
                                                        string[] lines = text.Split(stringSeparators, StringSplitOptions.None);

                                                        for (var i = 0; i < lines.Length; i++)
                                                        {
                                                            <span>@lines[i]</span><br />
                                                        }*@
                                                    }
                                                    @*@ds.Tables[0].Rows[0]["term_del_pay"].ToString()*@
                                                    @*@foreach (System.Data.DataRow dr in ds.Tables[3].Rows)
        {
            <br />
            <span>@dr["term_desc"].ToString()</span>
        }*@
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>

                    <tr>
                        <td style='width:10px;'></td>
                        <td style=''>
                            <table class="main" cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td style='width:40%;' class="bor_right">
                                        <table class="" cellspacing='0' cellpadding='0' width="100%">
                                            <tr>
                                                @*<td width="50%" class="fon_bol bor_right pt_top">
                                                    Container No.

                                                </td>*@
                                                <td width="100%" align="center" class="fon_bol pt_top">
                                                    No & Kind Of Pkgs.

                                                </td>
                                            </tr>
                                            <tr>
                                                @*<td width="50%" class="fon_nor bor_right">
                                                    @ds.Tables[0].Rows[0]["container_no"]
                                                </td>*@
                                                <td width="100%" class="fon_nor " align="center">
                                                    @ds.Tables[0].Rows[0]["NoOfPacks"]
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style='width:60%;'>
                                        <table class="" cellspacing='0' cellpadding='0' width="100%">
                                            <tr>
                                                <td class="fon_bol pt_top">
                                                    Description of Goods
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fon_nor">
                                                    <div class="data_div">@ds.Tables[0].Rows[0]["des_good"]</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="main" cellspacing='0' cellpadding='0'>
                                <tr>
                                    <th class="bor_right" width='39%'>&nbsp; </th>
                                    <th class="bor_right" width='8%'>QTY. PCS </th>
                                    <th class="bor_right" width='5%'>UNIT</th>
                                    <th class="bor_right" width='8%'> RATE <br />/ PC <br /> @Trd_trm @curr </th>
                                    <th class="bor_right" width='10%'> TAXABLE AMT @Trd_trm @curr </th>
                                    <th class="bor_right" width='6%'> EX. Rate </th>
                                    <th class="bor_right" width='10%'> TAXABLE VALUE IGST(@ds.Tables[0].Rows[0]["bs_curr_nm"]) </th>
                                    <th class="bor_right" width='5%'> Rate % (IGST) </th>
                                    <th width='10%'>AMOUNT</th>
                                </tr>


                                @if (ds.Tables[0].Rows != null)
                                {
                                    string preDesc = "";
                                    string prehsn = "";
                                    string bordertop = "";
                                    var i = 1;
                                    foreach (DataRow dr in ds.Tables[0].Rows)
                                    {

                                        if (preDesc == "")
                                        {
                                            <tr>
                                                <td class="bor_right all_td pt_top">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style='font-size:12px;'>
                                                        <tr>
                                                            <td colspan="4" style="text-align:left; font-weight:bold; paddingleft:5px; paddingright:5px;" class="all_td">
                                                                @dr["hsn_desc"].ToString()
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td width="10%" align="left" class="all_td">
                                                                &nbsp;
                                                            </td>
                                                            <td width="40%" align="left" style="text-align:left; font-weight:bold;" class="all_td">
                                                                HS/RITC CODE :
                                                            </td>
                                                            <td width="45%" align="left" class="all_td">
                                                                @dr["HSN_code"].ToString()
                                                            </td>
                                                            <td width="5%" align="left" class="all_td">
                                                                &nbsp;
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td width="10%" align="left" class="all_td">
                                                                &nbsp;
                                                            </td>
                                                            <td colspan="3" align="left" style="text-align:left; font-weight:bold;" class="all_td">
                                                                @dr["item_tech_des"].ToString()
                                                            </td>
                                                        </tr>

                                                    </table>

                                                </td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="bor_right all_td "></td>
                                                <td class="all_td"></td>
                                            </tr>
                                            <tr>
                                                <td class="bor_right all_td">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style='font-size:12px;'>
                                                        <tr>
                                                            <td width="5%" align="left" class="all_td">&nbsp;</td>
                                                            <td width="35%" align="left" class="all_td">
                                                                AE REF NO.
                                                            </td>
                                                            <td width="20%" align="left" class="all_td">@dr["ref_no"].ToString()</td>
                                                            <td width="40%" align="left" class="all_td">DBK SR NO.@dr["dbk_cd"].ToString()</td>
                                                        </tr>

                                                    </table>
                                                </td>
                                                <td class="bor_right all_td right_text">@dr["ship_qty"].ToString()</td>
                                                <td class="bor_right all_td ">@dr["uom_id"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_sp"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["conv_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_bs"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["tax_rate"].ToString()</td>
                                                <td class="all_td right_text">@dr["tax_val"].ToString()</td>
                                            </tr>
                                        }
                                        else if (preDesc != dr["item_tech_des"].ToString() || prehsn != dr["HSN_code"].ToString())
                                        {

                                            <tr>
                                                <td class="bor_right bor_top pt_top ">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td colspan="4" class="fon_bol">
                                                                @dr["hsn_desc"].ToString()
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td width="10%" align="left" class="all_td ">
                                                                &nbsp;
                                                            </td>
                                                            <td width="40%" align="left" class="fon_bol ">
                                                                HS/RITC CODE :
                                                            </td>
                                                            <td width="45%" align="left">
                                                                @dr["HSN_code"].ToString()
                                                            </td>
                                                            <td width="5%" align="left">
                                                                &nbsp;
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td width="10%" align="left">
                                                                &nbsp;
                                                            </td>
                                                            <td colspan="3" align="left" class="fon_bol ">
                                                                @dr["item_tech_des"].ToString()
                                                            </td>


                                                        </tr>


                                                    </table>

                                                </td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="bor_right all_td " style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                                <td class="all_td" style="paddingtop: 5px; border-top:1px solid #000000; "></td>
                                            </tr>
                                            <tr>
                                                <td class="bor_right all_td">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style='font-size:12px;'>
                                                        <tr>
                                                            <td width="5%" align="left" class="all_td">&nbsp;</td>
                                                            <td width="35%" align="left" class="all_td">
                                                               AE REF NO.
                                                            </td>
                                                            <td width="20%" align="left" class="all_td">@dr["ref_no"].ToString()</td>
                                                            <td width="40%" align="left" class="all_td">DBK SR NO.@dr["dbk_cd"].ToString()</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="bor_right all_td right_text">@dr["ship_qty"].ToString()</td>
                                                <td class="bor_right all_td ">@dr["uom_id"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_sp"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["conv_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_bs"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["tax_rate"].ToString()</td>
                                                <td class="all_td right_text">@dr["tax_val"].ToString()</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            bordertop = "0";
                                            <tr>
                                                <td class="bor_right all_td">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style='font-size:12px;'>
                                                        <tr>
                                                            <td width="5%" align="left" class="all_td">&nbsp;</td>
                                                            <td width="35%" align="left" class="all_td">
                                                               AE REF NO.
                                                            </td>
                                                            <td width="20%" align="left" class="all_td">@dr["ref_no"].ToString()</td>
                                                            <td width="40%" align="left" class="all_td">DBK SR NO.@dr["dbk_cd"].ToString()</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="bor_right all_td right_text">@dr["ship_qty"].ToString()</td>
                                                <td class="bor_right all_td ">@dr["uom_id"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_sp"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["conv_rate"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["item_gr_val_bs"].ToString()</td>
                                                <td class="bor_right all_td right_text">@dr["tax_rate"].ToString()</td>
                                                <td class="all_td right_text">@dr["tax_val"].ToString()</td>
                                            </tr>

                                        }

                                        prehsn = dr["HSN_code"].ToString();
                                        preDesc = dr["item_tech_des"].ToString();
                                        i++;
                                        ShipQty = ShipQty + Convert.ToDecimal(dr["ship_qty"]);
                                        item_gr_val_bs = item_gr_val_bs + Convert.ToDecimal(dr["item_gr_val_bs"]);
                                        tax_val = tax_val + Convert.ToDecimal(dr["tax_val"]);
                                        item_gr_val_sp = item_gr_val_sp + Convert.ToDecimal(dr["item_gr_val_sp"]);
                                        //tot_gwt = tot_gwt + Convert.ToDecimal(dr["gr_wght"]);
                                    }

                                    <tr>

                                        <td class="bor_right bor_top all_td pt_top fon_bol">
                                        </td>
                                        <td colspan="3" class="bor_right fon_bol pt_top right_text bor_top ">
                                            @Trd_trm @curr
                                        </td>
                                        <td class="bor_right all_td bor_top fon_bol pt_top right_text"> @item_gr_val_sp.ToString()</td>
                                        <td class="bor_right all_td bor_top fon_bol pt_top right_text">&nbsp;</td>
                                        <td class="bor_right all_td bor_top fon_bol pt_top right_text">@item_gr_val_bs.ToString()</td>
                                        <td class="bor_right all_td bor_top fon_bol pt_top right_text">&nbsp;</td>
                                        <td class="all_td bor_top  fon_bol right_text">@tax_val.ToString()</td>
                                    </tr>


                                }


                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table class="main" cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td class="bor_right all_td ver_bot pt_top fon_bol">
                                        TOTAL @Trd_trm @curr <br />
                                        Amount Chargeable (In Words ) :<br />
                                        @ds.Tables[0].Rows[0]["net_val_spec_inwords"]
                                    </td>
                                    <td colspan="8" class=" all_td  fon_bol right_text padding0" valign="bottom">
                                        <table width="100%" cellpadding="0" cellspacing="0" class="padding0">
                                            <tr>
                                                <th class="bor_right bor_top">&nbsp;</th>
                                                <th class="bor_right bor_top">IN @curr</th>
                                                <th class="bor_top">IN @ds.Tables[0].Rows[0]["bs_curr_nm"]</th>
                                            </tr>
                                            @{totalbs = item_gr_val_bs;
                                                totalsp = item_gr_val_sp;}
                                            @*<tr>
            <td width="40%" class="bor_right footer_td fon_bol right_text">TOTAL TAXABLE VALUE</td>
            <td width="30%" class="bor_right fon_bol footer_td right_text">@item_gr_val_sp.ToString()</td>
            <td width="30%" class=" fon_bol footer_td right_text">@item_gr_val_bs.ToString()</td>
        </tr>*@

                                            @*@foreach (System.Data.DataRow dr in ds.Tables[1].Rows)
        {
            <tr>
                <td width="40%" class="bor_right bor_top footer_td fon_bol right_text">@dr["oc_name"]</td>
                <td width="30%" class="bor_right fon_bol bor_top footer_td right_text">@dr["oc_val"].ToString()</td>
                <td width="30%" class=" fon_bol bor_top footer_td right_text">@dr["oc_val_bs"].ToString()</td>
            </tr>
            totalsp = totalsp + Convert.ToDecimal(dr["oc_val"]);
            totalbs = totalbs + Convert.ToDecimal(dr["oc_val_bs"]);
        }*@
                                            <tr>
                                                <td width="40%" class="bor_right  footer_td fon_bol right_text">TOTAL INVOICE VALUE</td>
                                                <td width="30%" class="bor_right fon_bol  footer_td right_text">@totalsp.ToString()</td>
                                                <td width="30%" class=" fon_bol  footer_td right_text">@totalbs.ToString()</td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>


</div>