@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.AuditTrail.AuditTrailModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.Title</title>
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/FinancialAccountingAndControl/MIS/AuditTrail/AuditTrial.js"></script>
@using (Html.BeginForm("AuditTrailPrintCsv", "AuditTrail", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero ">
                            <div class="pb-2 float-left">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Voucher @Resource.Date @Resource.From <span class="required">*</span></label>
                                    @*<input class="form-control" id="txtFromdateAT" max="2025-09-01" name="FromVouDate" onchange="FromToDateValidation()" type="date" value="2025-04-01">*@
                                    @Html.TextBoxFor(model => model.FromVouDate, new { @class = "form-control", @id = "txtFromdateAT", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                                    @Html.HiddenFor(model => model.FromVouDate, new { @id = "hdFromdate" })
                                    @Html.HiddenFor(model => model.From_VouDate, new { @id = "hdn_From_VouDate" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Voucher @Resource.Date @Resource.to1 <span class="required">*</span></label>
                                    @*<input value="2025-09-01" class="form-control" id="txtTodateAT" max="2025-09-01" name="ToVouDate" onchange="FromToDateValidation()" placeholder="dd-MM-yyyy" type="date">*@
                                    @if (Model.ToVouDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToVouDate, new { @class = "form-control", @id = "txtTodateAT", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToVouDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToVouDate, new { @class = "form-control", @id = "txtTodateAT", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }
                                    @Html.HiddenFor(model => model.To_VouDate, new { @id = "hdn_To_VouDate" })
                                </div>

                                <div class="col-md-4 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.GLGroup <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.ddlGroup, new SelectList(Model.GlGroupNameList, "acc_grp_id", "acc_grp_name"), new { @class = "form-control", @id = "acc_group", @onchange = "OnChangeGLGroup()" })
                                    @Html.HiddenFor(model => model.ddlGroup, new { @id = "hdn_GLGroupId" })
                                    @Html.HiddenFor(model => model.ddlGroupName, new { @id = "hdn_ddlGroupName" })
                                    <input type="hidden" id="GLAccGrp" value='@Url.Action("GetAutoCompleteAccGrp", "AuditTrail")' />
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.GLAccount <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.GLAccount, new SelectList(Model.GLAccountList, "glacc_id", "glacc_name"), new { @id = "ddl_GLAccountList", @class = "form-control", @onchange = "OnChangeGLAccount()" })
                                    @Html.HiddenFor(model => model.GLAccount, new { @id = "hdn_GLAccountID" })
                                    <input type="hidden" id="GLListName" value='@Url.Action("GetAutoCompleteGLList", "JournalBook")' />
                                    @Html.HiddenFor(model => model.GLAccountName, new { @id = "hdn_GLAccountName" })

                                </div>

                                <div class="clear"></div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Voucher @Resource.Amount @Resource.From <span class="required"></span></label>
                                    @*<input autocomplete="off" class="form-control num_right" id="txt_VouAmountFrom" name="VouAmountFrom" onchange="OnChangeVouAmtFrom();" placeholder="0000.00" type="text" value="">*@
                                    @Html.TextBoxFor(model => model.VouAmountFrom, new { @id = "txt_VouAmountFrom", @class = "form-control num_right", autocomplete = "off", @placeholder = "0000.00", onchange = "OnChangeVouAmtFrom();" })
                                    @Html.HiddenFor(model => model.VouAmountFrom, new { @id = "hdn_VouAmntFrom" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Voucher @Resource.Amount @Resource.to1 <span class="required"></span></label>
                                    @*<input autocomplete="off" class="form-control num_right" id="txt_VouAmountTo" name="VouAmountTo" onchange="OnChangeVouAmtTo();" placeholder="0000.00" type="text" value="">*@
                                    @Html.TextBoxFor(model => model.VouAmountTo, new { @id = "txt_VouAmountTo", @class = "form-control num_right", @placeholder = "0000.00", onchange = "OnChangeVouAmtTo();", autocomplete = "off" })
                                    @Html.HiddenFor(model => model.VouAmountTo, new { @id = "hdn_VouAmntTo" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Voucher @Resource.Type <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.VouType, new SelectList(new List<Object>
                                                   {
                                   new { value = "0", text = "---Select---"  },
                                                   new { value = "JV", text = "Journal Voucher"  },
                                                    new { value = "BP", text = "Bank Payment"  },
                                                    new { value = "BR" , text = "Bank Receipt" },
                                                    new { value = "CP" , text = "Cash Payment" },
                                                    new { value = "CR" , text = "Cash Receipt" },
                                                    new { value = "CT" , text = "Contra" },
                                                    new { value = "DN" , text = "Debit Note" },
                                                    new { value = "CN" , text = "Credit Note" },
                                                    new { value = "PV" , text = "Purchase Voucher" },
                                                    new { value = "SV" , text = "Sale Voucher" },
                                                    //new { value = "EV" , text = "Imprest Voucher" },

                                                   },
                       "value",
                       "text"
                       ), new { @class = "form-control", @id = "ddl_Voutype", @onchange = "OnchangeVouType()" })
                                    @Html.HiddenFor(model => model.VouType, new { @id = "hdn_VouType" })
                                    @Html.HiddenFor(model => model.VouTypeName, new { @id = "hdn_VouTypeName" })

                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Created @Resource.By <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.CreatedBy, new SelectList(Model.CreatorList, "creator_id", "creator_name"), new { @class = "form-control", id = "ddl_CreatedBy" })
                                    @Html.HiddenFor(model => model.CreatorName, new { @id = "hdn_CreatorName" })

                                </div>

                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Created @Resource.On <span class="required"></span></label>
                                    @*<input class="form-control" id="txt_CreatedOn" max="2025-09-01" min="2022-04-01" name="CreatedOn" onchange="FromToDateValidation()" type="date" value="">*@
                                    @Html.TextBoxFor(model => model.CreatedOn, new
                               {
                                   @class = "form-control",
                                   @id = "txt_CreatedOn",
                                   @onchange = "FromToDateValidation()",
                                   @type = "date",
                                   @min = @ViewBag.FromFyMindate.ToString(),
                                   @max = @ViewBag.ToFyMaxdate.ToString()
                               })
                                    @Html.HiddenFor(model => model.CreateDate, new { @id = "hdn_CreateDate" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Approved @Resource.By <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.ApprovedBy, new SelectList(Model.ApproverList, "approver_id", "approver_name"), new { @class = "form-control", id = "ddl_ApprovedBy" })
                                    @Html.HiddenFor(model => model.ApproverName, new { @id = "hdn_ApproverName" })

                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Approved @Resource.On <span class="required"></span></label>
                                    @*<input class="form-control" id="txt_ApprovedOn" max="2025-09-01" min="2022-04-01" name="ApprovedOn" onchange="FromToDateValidation()" type="date" value="">*@
                                    @Html.TextBoxFor(model => model.ApprovedOn, new
                               {
                                   @class = "form-control",
                                   @id = "txt_ApprovedOn",
                                   @onchange = "FromToDateValidation()",
                                   @type = "date",
                                   @min = @ViewBag.FromFyMindate.ToString(),
                                   @max = @ViewBag.ToFyMaxdate.ToString()
                               })
                                    @Html.HiddenFor(model => model.ApproveDate, new { @id = "hdn_ApproveDate" })
                                </div>
                                <div class="col-md-4 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Narration <span class="required"></span></label>
                                    @*<textarea class="form-control remarksmessage" cols="20" id="txt_Narration" maxlength="1000" name="Narration" onchange="OnchangeNarr()" placeholder="Narration" rows="2" onmouseover="OnMouseOver(this)" title=""></textarea>*@
                                    @Html.TextAreaFor(model => model.Narration, new { @class = "form-control remarksmessage", @cols = "20", @id = "txt_Narration", @maxlength = "1000", @name = "mrs_nart", @placeholder = Resource.Narration, @rows = "2", @onchange = "OnchangeNarr()" })
                                    @Html.HiddenFor(model => model.Narration, new { @id = "hdn_Narr" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.Status <span class="required"></span></label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                    @Html.HiddenFor(model => model.StatusName, new { @id = "hdn_StatusName" })
                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="SearchAllVouchersDetails()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <div class="card-box table-responsive dy_table">
                        <div id="MISAuditTrailDetails" class="sticky-table height55VH sticky-ltr-cells sb-container container-example1">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISAuditTrailList.cshtml")
                        </div>
                        @Html.HiddenFor(model => model.PrintData, new { @id = "ATPrintData" })
                        @Html.HiddenFor(model => model.searchValue, new { @id = "ATsearchValue" })
                        @Html.HiddenFor(model => model.hdnPDFPrint, new { @id = "hdnATPDFPrint" })
                        @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnATCSVPrint" })
                        @Html.HiddenFor(model => model.Allfilters, new { @id = "Allfilters" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
