@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.MIS.AuditTrail.AuditTrailModel
<style>
    .table_border {
        margin-top: 20px;
    }

    .tabl_con {
        width: 100%;
        font-size: 10px;
        line-height: 18px;
        font-weight: normal;
        vertical-align: top;
    }

    .td_con_hea {
        font-size: 10px;
        paddingtop: 3px;
        paddingbottom: 3px;
        font-weight: bold;
        text-align: center;
    }

    .td_con {
        font-size: 10px;
        paddingtop: 3px;
        paddingleft: 3px;
        paddingright: 3px;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
    }

    .td_contot {
        font-size: 10px;
        paddingtop: 3px;
        paddingleft: 3px;
        paddingright: 3px;
        font-weight: normal;
        text-align: right;
        vertical-align: top;
    }

    .td_con_r {
        text-align: right;
    }

    .td_con_c {
        text-align: center !important;
        vertical-align: top !important;
    }

    .td_border {
        border: 1px solid #000000;
    }

    .td_border_top {
        border-top: 1px solid #000000;
    }

    .td_border_left {
        border-left: 1px solid #000000;
    }

    .td_border_right {
        border-right: 1px solid #000000;
    }

    .td_border_rightpoint5 {
        border-right: 0.5px solid #000000;
    }

    .td_border_bottom {
        border-bottom: 1px solid #000000;
    }

    .td_border_bottom-top {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .suppInfo {
        font-size: 12px;
        font-weight: normal;
        padding: 0px 0px 0px 5px;
    }

    .lav {
        font-size: 12px;
        font-weight: bold;
        paddingtop: 0px;
        paddingbottom: 5px;
        paddingleft: 5px;
    }

    .width20 {
        width: 20%;
    }

    .width25 {
        width: 25%;
    }

    .width30 {
        width: 30%;
    }

    .width35 {
        width: 35%;
    }

    .width40 {
        width: 40%;
    }

    .width50 {
        width: 50%;
    }

    .width60 {
        width: 60%;
    }

    .width70 {
        width: 70%;
    }
    /*.center {
        text-align:center;
        vertical-align:top;
    }*/
</style>
<div style="width:100%; background-color:#000000">
    <div style="width:100%; margin:0 auto; background-color:#ffffff;">
        <table style="width:100%;">
            <tr>
                <td>
                    @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabl_con">
                        <tr>
                            <td style='width:15px;'></td>
                            <td style="vertical-align:top; padding:0px;">
                                <table style='width:100%;border:solid 1px #000000;'>
                                    <tr>
                                        <td style='width: 33%; border-right: solid 1px #000000; vertical-align: top;'>
                                            <table class="suppInfo" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="lav width35"> Voucher Date From</td>
                                                    <td class="lav ">: @Model.From_VouDate</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav"> Voucher Date To</td>
                                                    <td class="lav">: @Model.To_VouDate</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav"> GL Group</td>
                                                    <td class="lav">: @Model.ddlGroupName</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav"> GL Account</td>
                                                    <td class="lav">: @Model.GLAccountName</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style='width: 33%; border-right: solid 1px #000000; vertical-align: top;'>
                                            <table class="suppInfo" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="lav width40"> Voucher Amount From</td>
                                                    <td class="lav">: @Model.VouAmountFrom</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav"> Voucher Amount To</td>
                                                    <td class="lav">: @Model.VouAmountTo</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav"> Voucher Type</td>
                                                    <td class="lav">: @Model.VouTypeName</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav width20">Created By</td>
                                                    <td class="lav ">: @Model.CreatorName</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style='width: 34%;vertical-align: top;'>
                                            <table class="suppInfo" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="lav width25">Created On</td>
                                                    <td class="lav">: @Model.CreateDate</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav">Approved By</td>
                                                    <td class="lav">: @Model.ApproverName</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav">Approved On</td>
                                                    <td class="lav">: @Model.ApproveDate</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav" style="vertical-align:top">Narration</td>
                                                    <td class="lav" style="vertical-align:top">: @Model.Narration</td>
                                                </tr>
                                                <tr>
                                                    <td class="lav">Status</td>
                                                    <td class="lav">:@Model.StatusName</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:15px;'></td>
                        </tr>
                        <tr>
                            <td width="15">&nbsp;</td>
                            <td style="paddingtop:20px;">
                                <table class="tbl_border tabl_con" cellspacing="0" cellpadding="0" border="1">
                                    <thead>
                                        <tr>
                                            <th width="4%" class="td_con_hea"> Sr.No.</th>
                                            <th width="11%" class="td_con_hea"> Voucher <br /> Number </th>
                                            <th width="7%" class="td_con_hea"> Voucher <br />Date </th>
                                            <th width="9%" class="td_con_hea"> Voucher <br /> Type </th>
                                            <th width="9%" class="td_con_hea"> Instrument <br /> Type </th>
                                            <th width="9%" class="td_con_hea"> Instrument<br /> Number</th>
                                            <th width="7%" class="td_con_hea"> Status </th>
                                            <th width="5%" class="td_con_hea"> Currency </th>

                                            <th width="11%" class="td_con_hea"> Created By </th>
                                            <th width="7%" class="td_con_hea"> Created On </th>
                                            <th width="9%" class="td_con_hea"> Approved By </th>
                                            <th width="9%" class="td_con_hea"> Approved On </th>
                                            <th width="9%" class="td_con_hea"> Cancelled By</th>
                                            <th width="7%" class="td_con_hea"> Cancelled On</th>
                                            <th width="5%" class="td_con_hea"> Cancellation Remarks </th>

                                            <th width="9%" class="td_con_hea"> GL <br /> Account </th>
                                            <th width="7%" class="td_con_hea"> Debit <br /> Amount</th>
                                            <th width="7%" class="td_con_hea"> Credit <br /> Amount</th>
                                            <th width="16%" class="td_con_hea"> Narration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Details != null)
                                        {
                                            var srno = 1;
                                            var count = 0;
                                            var vou_no = "";
                                            foreach (System.Data.DataRow dr in ViewBag.Details.Rows)
                                            {
                                                string vouno = dr["vou_no"].ToString();

                                                //string sono_total = dr["Sno_vou_no"].ToString();
                                                //int snorowspan = Convert.ToInt32(dr["sno3"]);
                                                //int colspan = snorowspan == 1 ? snorowspan : snorowspan - 1;
                                                //bool isFirstRow = sono_total == "1";
                                                //bool showFullRow = snorowspan == 1;

                                        <tr>
                                            @if (vou_no == vouno)
                                            {
                                                count = count + 1;
                                                @*<td><span style="display:none;">@srno</span> </td>
            <td id="JBPrtl_VouNo">&nbsp;</td>
            <td id="hdnJBPrtl_VouNo" hidden="hidden">@dr["vou_no"].ToString()</td>
            <td>&nbsp;</td>
            <td id="JBPartl_VouDate" hidden="hidden">@dr["vou_date"].ToString()</td>
            <td>&nbsp;</td>
            <td id="JBPartl_VouType" hidden="hidden">@dr["vou_type"].ToString()</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>*@

                                            }
                                            else
                                            {
                                                count = 1;
                                                vou_no = dr["vou_no"].ToString();

                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con td_con_c" align="center">@srno</td>
                                                <td id="JBPrtl_VouNo" rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["vou_no"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["vou_dt"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["VouTypeName"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["InstrumentTypName"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["InstrumentNo"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["VouStatusName"].ToString()</td>

                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Created_By"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Created_On"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Approved_By"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Approved_On"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Cancelled_By"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Cancelled_On"].ToString()</td>
                                                <td rowspan="@dr["Sno_vou_no"].ToString()" class="td_con">@dr["Cancelled_remarks"].ToString()</td>
                                                srno++;
                                            }
                                            <td class="td_con_c" style="paddingtop:0px;">@dr["curr_name"].ToString()</td>
                                            <td id="JBPartl_AccName" class="td_con">@dr["acc_name"].ToString()</td>
                                            <td class="td_con td_con_r" id="JBPartl_dr_amt_bs">@dr["dr_amt_bs"].ToString()</td>
                                            <td class="td_con td_con_r" id="JBPartl_cr_amt_bs">@dr["cr_amt_bs"].ToString()</td>
                                            <td class="td_con" style="width: 350px; padding-right: 30px;"> <span>@dr["narr"].ToString()</span> </td>


                                        </tr>

                                                if (count == Convert.ToInt32(dr["Sno_vou_no"]))
                                                {
                                                    <tr>
                                                        <td colspan="9" class="td_contot"><b>Total</b> </td>
                                                        <td class="td_con td_con_r"><b>@dr["TotalDr_amt"].ToString()</b></td>
                                                        <td class="td_con td_con_r"><b>@dr["TotalCr_amt"].ToString()</b></td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                }

                                            }
                                        }
                                        @*<tr>
                                                <td class="td_con">01</td>
                                                <td class="td_con">B1/04/25/BP0000001</td>
                                                <td class="td_con">02-Apr-2025</td>
                                                <td class="td_con">Bank Payment</td>
                                                <td class="td_con">Online Transfer</td>
                                                <td class="td_con">&nbsp;</td>
                                                <td class="td_con">Cancelled</td>
                                                <td class="td_con">INR</td>
                                                <td class="td_con">HDFC Bank</td>
                                                <td class="td_con td_con_r">0.00</td>
                                                <td class="td_con td_con_r">400.00</td>
                                                <td class="td_con">SDFGHJK Lorem ipsum is a dummy or placeholder text commonly used in graphic design, publishing, and web development.</td>
                                            </tr>*@
                                    </tbody>
                                </table>
                            </td>
                            <td width="15">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
