@using System.Data;
<style>
    .main_header {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
    }

    .main {
        width: 783px;
        float: left;
        margin: 0 auto;
        background-color: #ffffff;
        padding-left: 17px;
        /*min-height:1000px;*/
    }

    .cn {
        width: 260px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
        padding-left: 12px;
    }

    .on {
        width: 290px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .od {
        width: 210px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cn .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .cn .top_right {
        width: 160px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .on .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .on .top_right {
        width: 190px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .od .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .od .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .top_left {
        width: 100px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .top_right {
        width: 110px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
       
    }

    .bor {
        padding-top: 2px;
        width: 250px;
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: justify;
    }

        .bor img {
            width: auto;
            height: 120px;
            border: 0px;
            float: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .left {
            width: 100px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

        .bor .right {
            width: 135px;
            float: left;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
        }

    .main_header h2 {
        font-family: Arial;
        font-size: 14px;
        padding-left: 15px;
    }

    .main_header .SalesOrder {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }



    .fontsize {
        font-family: Arial;
        font-size: 11px;
        text-align: left;
        padding-left: 3px;
    }

    .pa_l {
        padding-left: 2px;
    }

    .pa_r {
        padding-right: 2px;
    }

    .pa_t {
        padding-top: 2px;
    }

    .pa_b {
        padding-bottom: 2px;
    }

    .remarks {
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .remarks_b {
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cat_info {
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }

    .cat_info_b {
        float: left;
        font-family: Arial;
        font-size: 10px;
        text-align: left;
    }
	
</style>


@{
    string lpath = string.Empty;
    lpath = ViewBag.FLogoPath.ToString();
}

<table class="main">
    <tr>
        <td>
            <table class="main_header">
                <tr>
                    <td width="40%">
                        @*<img src="@lpath" alt="Logo" width="150" />*@
                        <img src="@lpath" alt="Logo" width="150" />
                    </td>
                    <td class="invoice" width="60%">@ViewBag.Title.ToString()</td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="main_header">
                <tr>
                    <td width="34%">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="cat_info" width="35%"> Catalogue Number</td>
                                <td class="cat_info_b" width="65%">: <strong>@ViewBag.Details.Tables[0].Rows[0]["cat_no"].ToString()</strong> </td>
                            </tr>
                        </table>
                    </td>
                    <td width="33%">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="cat_info" width="40%"> Catalogue Date</td>
                                <td class="cat_info_b" width="60%">: <strong>@ViewBag.Details.Tables[0].Rows[0]["cat_dt"].ToString()</strong></td>
                            </tr>
                        </table>
                    </td>
                    <td width="33%">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="cat_info" width="35%"> Customer Name </td>
                                <td class="cat_info_b" width="65%"> :<strong>@ViewBag.Details.Tables[0].Rows[0]["cust_name"].ToString()</strong></td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="paddingleft:2px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="remarks" width="6%">Remarks</td>
                    <td class="remarks_b" width="90%"> : @ViewBag.Details.Tables[0].Rows[0]["cat_rem"].ToString()</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-left:10px;">
            <table class="main_header">
                <tr>
                    <td>
                        @if (ViewBag.Details.Tables[0].Rows != null)
                        {
                            DataView data = new DataView();
                            foreach (DataRow dr in ViewBag.Details.Tables[0].Rows)
                            {
                                string itemPath = Server.MapPath("~") + "..\\Attachment\\ItemSetup\\";
                                string itemPath1 = itemPath + @dr["item_img_name"].ToString().Replace("/", "\\'");
                                var ItemImage = itemPath1.Replace("~\\", "").Replace("\\\\", "\\").Replace("'", "");
                                <div class="bor">
                                    <div class="bor">
                                        <table class="fontsize" width="96%" style="border:1px solid #000000;">
                                            <tr>
                                                <td colspan="3">
                                                    <table width="100%">
                                                        <tr>
                                                            @*<td><img src="@img1" class="img-fluid" /></td>*@
                                                            <td height="150" style="text-align:center;"> <img src="@ItemImage" style="width:100px; height:100%; object-fit:contain;"/></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            @if (ViewBag.PrintOption != null)
                                            {
                                                if (ViewBag.PrintOption.Rows[0]["ShowProdDesc"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblProdDesc"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblProdDesc"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Item Desc.</td>
                                                        }
                                                        @*<td width="35%" class="pa_l pa_r pa_t pa_b">Item Desc.</td>*@
                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">  @dr["item_name"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ShowUOM"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblUOM"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblUOM"].ToString()</td>
                                                        }

                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">UOM	</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["UOM"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ItemAliasName"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblItemAlias"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblItemAlias"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Alias Name</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["itemAlias"].ToString()</td>
                                                    </tr>
                                                }

                                                if (ViewBag.PrintOption.Rows[0]["ShowOEMNo"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblOEMNo"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblOEMNo"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">OEM No.	</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["item_oem_no"].ToString() </td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ShowProdTechDesc"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblProdTechDesc"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblProdTechDesc"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Tech. Desc.</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["item_tech_des"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ShowProdTechSpec"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblProdTechSpec"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblProdTechSpec"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Tech. Spec.	</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["item_tech_spec"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["CatalogueNo"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblCatalogueNo"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblCatalogueNo"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Catalogue No.</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["item_cat_no"].ToString() </td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ReferenceNo"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblRefNo"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblRefNo"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Ref. No. </td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["RefNo"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["VehicleName"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblVehicleName"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblVehicleName"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Vehicle Name</td>
                                                        }

                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["veh_name"].ToString()</td>
                                                    </tr>
                                                }
                                                if (ViewBag.PrintOption.Rows[0]["ModelNo"].ToString() == "Y")
                                                {
                                                    <tr>
                                                        @if (ViewBag.PrintOption.Rows[0]["LblModelNo"].ToString() != "")
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">@ViewBag.PrintOption.Rows[0]["LblModelNo"].ToString()</td>
                                                        }
                                                        else
                                                        {
                                                            <td width="35%" class="pa_l pa_r pa_t pa_b">Model No.</td>
                                                        }
                                                        <td width="3%" class="pa_l pa_r pa_t pa_b"> : </td>
                                                        <td width="62%" class="pa_l pa_r pa_t pa_b">@dr["model_no"].ToString()</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            }
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>