@using System.Data;
@{
    string doc_status = "";
    string BackGroundImgUrl = "";
    if (ViewBag.DocStatus != null)
    {
        doc_status = ViewBag.DocStatus;
    }
    if (doc_status == "D" || doc_status == "F")
    {
        BackGroundImgUrl = Server.MapPath("~/Content/Images/draft.png");
    }
    DataTable dt = new DataTable();
    DataView data = new DataView();
    if (ViewBag.Details != null)
    {
        dt = ViewBag.Details.Tables[1];
    }
    var srno = 1;
}
<style>
    #dtlTable, #dtlTable td, #dtlTable th {
        border: 0.5px solid black;
    }
    #sub, #sub td, #sub th {
        border: 0px;
    }
</style>

<div style='background: url(@BackGroundImgUrl) no-repeat; backgroundposition: center center;'>
    @Html.Partial("~/Areas/Common/Views/Cmn_PrintHeaderWithAddrSampleIssue.cshtml")
    @*@Html.Partial("~/Areas/Common/Views/Cmn_PrintHeaderWithoutAddr.cshtml")*@

    <table width='100%' style="vertical-align: top;">
        <tr>
            <td style="vertical-align: top;">
                <table style='width:100%;vertical-align:top;'>
                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align: top;">
                            <table style='width:100%;border:solid 1px #000000;'>
                                <tr>
                                    <td style='width: 50%; border-right: solid 1px #000000; vertical-align: top; padding: 0px; '>
                                        <table class="suppInfo" style=''>

                                            <tr><td style=""><strong> Address : </strong> @ViewBag.Details.Tables[0].Rows[0]["Comp_Add"].ToString() </td></tr>
                                            <tr><td><strong> State : </strong> @ViewBag.Details.Tables[0].Rows[0]["state_name"].ToString()</td></tr>
                                            <tr><td><strong> Country : </strong> @ViewBag.Details.Tables[0].Rows[0]["country_name"].ToString()</td></tr>
                                            <tr><td><strong> Phone : </strong>@ViewBag.Details.Tables[0].Rows[0]["contact_no"].ToString()</td></tr>
                                            <tr><td><strong> GSTIN/UIN :  </strong> @ViewBag.Details.Tables[0].Rows[0]["gst_no"].ToString()</td></tr>
                                            <tr><td><strong> PAN : </strong> @ViewBag.Details.Tables[0].Rows[0]["pan_no"].ToString()</td></tr>


                                        </table>
                                    </td>
                                    <td style='width:50%; vertical-align:top; padding:0px;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;'>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; text-decoration:underline;'> ISSUED FOR : </td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:normal;'>  @ViewBag.Details.Tables[1].Rows[0]["issued_for"].ToString()</td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:bold; text-decoration:underline;'> Address : </td>
                                            </tr>
                                            <tr>
                                                <td style='font-size:12px;font-weight:normal;'>  @ViewBag.Details.Tables[1].Rows[0]["EntityAddress"].ToString()</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>

                    <tr>
                        <td style='width:10px;'></td>
                        <td style="vertical-align: top;">
                            <table style='width:100%;border:solid 1px #000000;vertical-align:top;'>
                                <tr>
                                    <td style='width:50%;vertical-align:top;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 5px;vertical-align:top;'>
                                            <tr><td><strong>GATE PASS NO. : </strong> @ViewBag.Details.Tables[1].Rows[0]["gpass_no"]</td></tr>
                                        </table>
                                    </td>
                                    <td style='width:50%; vertical-align:top;'>
                                        <table style='font-size:12px;font-weight:normal;padding:0px 0px 0px 0px;vertical-align:top;'>
                                            <tr><td><strong>DATED : </strong>@ViewBag.Details.Tables[1].Rows[0]["gpass_dt"].ToString()</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>

                    <tr>
                        <td style='width:10px;'></td>
                        <td>
                            <table id="dtlTable" cellspacing="0" cellpadding="0" style=" width:100%; font-size: 12px; font-weight:normal;padding: 0px 0px; line-height:18px; font-weight:normal; vertical-align:top; border: solid 1px #000000;">

                                <thead>
                                    <tr>
                                        <th width="7%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong> S.NO.</strong></th>
                                        <th width="32%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong> Item Name</strong></th>
                                        <th width="8%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong> UOM</strong></th>
                                        <th width="20%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong> Issued <br /> Quantity</strong></th>
                                        <th width="33%" align='center' style='font-weight:bold;paddingtop:5px;paddingbottom:3px;'><strong> Remarks</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow dr in dt.Rows)
                                    {
                                        <tr>
                                            <td style='text-align:center;'>@srno</td>
                                            <td style='text-align:left; paddingleft:5px;paddingtop:5px;paddingbottom:3px;'>@dr["item_name"].ToString() </td>
                                            <td style='text-align:left; paddingleft:5px; paddingtop:5px; paddingbottom: 3px; text-align: center;'>@dr["uom_alias"]</td>
                                            <td style='text-align: right; paddingtop: 5px; paddingright: 5px; paddingbottom: 3px;'> @dr["Issue_qty"].ToString() </td>
                                            <td style='text-align:left; paddingleft:5px; paddingtop:5px; paddingbottom: 3px;'>@dr["remarks"]</td>

                                        </tr>
                                        srno = srno + 1;
                                    }
                                </tbody>


                            </table>
                        </td>
                        <td style='width:10px;'></td>
                    </tr>
                    @if (@ViewBag.Details.Tables[1].Rows[0]["gpass_rem"].ToString() != "" && @ViewBag.Details.Tables[1].Rows[0]["gpass_rem"].ToString() != null)
                    {
                        <tr>
                            <td style='width: 10px;'></td>
                            <td>
                                <table cellspacing="0" cellpadding="0" style=" width: 100%; font-size: 12px; font-weight: normal; padding: 0px 0px; margin-top:5px; font-weight: normal; vertical-align: top; border: solid 1px #000000;">
                                    <tr>
                                        <td style="paddingleft:5px;vertical-align:top;border-top: solid 1px #000000;border-right: solid 1px #000000;">@ViewBag.Details.Tables[1].Rows[0]["gpass_rem"].ToString()</td>
                                    </tr>
                                </table>
                            </td>
                            <td style='width:10px;'></td>
                        </tr>
                    }


                </table>
            </td>
        </tr>

    </table>
    <table style="paddingleft:8px; paddingright:9px; vertical-align:top;">
        <tr>

            <td width="100%" style="vertical-align:top;">
                <table style="vertical-align:top;">
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;vertical-align:top; text-align:left; width:35%;">
                            For @ViewBag.Details.Tables[0].Rows[0]["comp_nm"]

                        </td>
                        <td style="font-size: 12px; font-weight: bold; vertical-align: top; text-align: right; width: 10%;">
                            Through :
                        </td>
                        <td style="font-size: 12px; font-weight: normal; vertical-align: top; text-align: left; width: 18%; paddingleft:0px;">

                            @ViewBag.Details.Tables[1].Rows[0]["issue_by"]
                        </td>
                        <td style="font-size: 12px; font-weight: bold; vertical-align: top; text-align: right; width: 35%; paddingright:25px;">
                            Receiver's Signature
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; font-weight:bold;padding: 30px 15px 0px 0px; vertical-align:top; text-align:left;">Authorised Signatory</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>
