@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.MIS.DailyProductionPlan.DailyProductionPlan_Model
@using EnRepMobileWeb.Resources;
@using System.Data

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
@*<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/MIS/DailyProductionPlan/DailyProductionPlan.js"></script>*@

<title>@Model.Title</title>
@using (Html.BeginForm("DailyProductionPlanPrintCSV", "DailyProductionPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!-- Item Information -->
        <div id="ItemInfo" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
            </div>
        </div>

        <!-- Daily Planned Detail -->
        <div id="DPlannedDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style=" max-width:600px;" id="PopUpDPlannedDetail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDailyPlannedDetail.cshtml")
            </div>
        </div>
        <!-- Daily Production Detail -->
        <div id="DProductionDetail" class="modal fade" role="dialog">
            <div class="modal-dialog" style=" max-width:800px;" id="PopUpDProductionDetail">
                <!-- Modal content-->
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDailyProductionDetail.cshtml")
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    <div class="x_title pad_mar ">
                        <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                            <div class="col-md-12 col-sm-12 no-padding ">
                                <div class="col-md-2 col-sm-12 pb-2">
                                    <label class="col-form-label label-align">@Resource.Product  @Resource.Name</label>
                                    @Html.DropDownListFor(m => m.product_id, new SelectList(new List<SelectListItem> {
                               new SelectListItem {Text=" ---Select---",Value="0"}
                               }, "Value", "Text"), new { @class = "form-control", @id = "DDLProductNameList", @name = "ProductName" })
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="col-form-label label-align col-md-12 col-sm-12 no-padding">@Resource.Date @Resource.Range</label>
                                    <div class="col-md-6 col-sm-12 no-padding">
                                        @Html.TextBoxFor(m => m.DR_fromDt, new { @autocomplete = "off", @class = "form-control", @id = "DR_fromDt", @name = "FromDate", @placeholder = Resource.FromDate, @type = "date" })
                                    </div>
                                    <div class="col-md-1 col-sm-12 no-padding" style="text-align:center;"> -</div>
                                    <div class="col-md-5 col-sm-12 no-padding">
                                        @Html.TextBoxFor(m => m.DR_ToDt, new { @autocomplete = "off", @class = "form-control", @id = "DR_ToDt", @name = "ToDate", @placeholder = Resource.ToDate, @type = "date" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label label-align"> @Resource.OperationName </label>

                                    @Html.DropDownListFor(model => model.OperationNameStatus, new SelectList(Model.OperationNameList, "op_id", "op_name"), new
                               {
                                   @class = "form-control",
                                   id = "ddlOpName"
                               })
                                    @Html.ValidationMessageFor(model => model.OperationNameStatus, String.Empty, new { @style = "color:red;!important", @id = "vm_ddlOpName" })

                                </div>
                                <div class="col-md-1 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="FilterDailyProductionPlan()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <div class="card-box table-responsive dy_table">
                        @Html.HiddenFor(m => m.Filters, new { @id = "hdnFiltersData" })
                        @Html.HiddenFor(model => model.searchValue, new { @id = "DPPsearchValue" })
                        @*@Html.HiddenFor(model => model.hdnPDFPrint, new { @id = "hdnJBPDFPrint" })*@
                        @Html.HiddenFor(model => model.hdnCSVPrint, new { @id = "hdnDPPCSVPrint" })
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        <div class="sticky-table sticky-ltr-cells sb-container container-example1" style="height:64vh;">
                            @*<button type="button" onclick="CreateExcell();">Excell</button>*@
                            <div id="DailyProductionPlanData">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDailyProductionPlan.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!-- page content end -->
