@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.MIS.MISDeliveryNoteDetail.MISDeliveryNoteDetail_Model
@using EnRepMobileWeb.MODELS.Common;
@using System.Data
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/MIS/MISDeliveryNoteDetail/MISDeliveryNoteDetail.js"></script>
<script src="~/Content/Scripts/Common/CommonPartialJS.js"></script>
<script src="~/Content/Scripts/Common/CommonJS.js"></script>
@*<script>
    $(document).ready(function () {

        onchangeShowAs();
    });
    const onchangeShowAs = () => {
        const ShowAs = $("#ShowAs").val();
        if (ShowAs == "S") {
            $("#DeliveryNoteSummaryItemWise").css("display", "block");
            $("#MIS_DeliveryNoteDetail").css("display", "none");
        }
        else {
            $("#DeliveryNoteSummaryItemWise").css("display", "none");
            $("#MIS_DeliveryNoteDetail").css("display", "block");
        }
    }
</script>*@
<title>@Model.Title</title>
<div class="row">
    <!-- Partial MIS Delivery Note Order Detail Start -->
    <div id="MISDeliveryNoteOrderDetail" class="modal fade" role="dialog">
        <div id="PartialWIPDetail" class="modal-dialog" style=" max-width:800px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISDeliveryNoteOrderDetail.cshtml")

        </div>
    </div>
    <!-- Partial MIS Delivery Note Order Detail End -->
    <!-- Partial MIS Delivery Note Delivery Detail Start -->
    <div id="MISDeliveryNoteDeliveryDetail" class="modal fade" role="dialog">
        <div id="PartialWIPDetail" class="modal-dialog" style=" max-width:800px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISDeliveryNoteDeliveryDetail.cshtml")

        </div>
    </div>
    <!-- Partial MIS Delivery Note Delivery Detail End -->
    <!-- Sub Item Detail -->
    <div id="MISDN_SubItem" class="modal fade" role="dialog">
        <div class="modal-dialog" id="MISDN_SubItemPopUp" style=" max-width:1100px;">
            <!-- Modal content-->
            @{
                SubItemPopupDt mdl = new SubItemPopupDt();
            }
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISDeliveryNoteSubItemDetail.cshtml", mdl)
        </div>
    </div>
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel mar_pad1 ">
                <div class="x_content mar_pad1">
                    <h2 class="col-md-5 col-sm-12 heading_left_padding  ">@ViewBag.MenuPageName</h2>
                    @*<div id="" class="col-md-2 col-sm-12 no-margin no-padding ">
                            <div class="col-md-5 col-sm-12 no-margin no-padding " style="display:none">
                                <label class="col-form-label label-align">@Resource.ReportType</label>
                            </div>
                            <div class="col-md-7 col-sm-12 no-margin no-padding ">
                                <select class="form-control" id="ShowAs" name="" onchange="onchangeShowAs();ShowAsChange();">
                                        <option value="S">Summary</option>
                                        <option value="D">Detailed</option>
                                    </select>
                            </div>
                        </div>*@
                    <!-- Smart Wizard -->
                    @*<div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow"> &nbsp;</div>*@
                    <div class="x_title pad_mar">
                        <div class="col-md-12 col-sm-12 icon_tool mb-1 p-b-1">
                            <div id="" class="col-md-3 col-sm-12">
                                <label class="col-form-label label-align">@Resource.ItemName </label>
                                @Html.DropDownListFor(model => model.ItemId, new SelectList(Model.ItemsList, "ItemId", "ItemName"),
                                   new { @class = "form-control", @id = "ddlItemsList", @name = "ItemsList" })

                            </div>
                            <div id="divReqAreas" class="col-md-3 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.SupplierName </label>
                                @*<select class="form-control " id="SupplierName" name="SupplierName" tabindex="">
                                        <option value="0">---All---</option>
                                        <option value="">Supplier Name</option>
                                        <option value="">Supplier Name 1</option>
                                        <option value="">Supplier Name 2</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.SuppId, new SelectList(Model.SuppliersList, "SuppId", "SuppName"),
                            new { @class = "form-control", @id = "ddlSuppliersList", @name = "SuppliersList",multiple = "multiple" })


                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align ">@Resource.FromDate</label>
                                @*<input class="form-control" id="" max="2024-07-03" name="Fromdate" type="date" value="2024-04-01">*@
                                @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control", @id = "txtFromdate", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <label class="col-form-label label-align">@Resource.ToDate</label>
                                @*<input class="form-control" id="" max="2024-07-03" name="ToDate" placeholder="dd-MM-yyyy" type="date" value="2024-07-03">*@
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })

                            </div>
                            <div class="col-md-2 col-sm-12 pl-0">
                                <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="BindMISDNDetailReport();"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel margin_top_zero">
                <div class="x_content">
                    <div class="card-box table-responsive dy_table">
                        <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                            <div id="DeliveryNoteSummaryItemWise">
                                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISDeliveryNoteDetailItemWiseSummary.cshtml")
                            </div>
                            @*<div id="MIS_DeliveryNoteDetail"> @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMISDeliveryNoteDetail.cshtml")</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
