@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.ShopfloorStockTransfer.ShopfloorStockTransfer_Model
@using EnRepMobileWeb.Resources;
@using EnRepMobileWeb.MODELS.Common;
@using System.Data
@{

    var rowId = 0;
    var Disable = true;
    var disablePrintbtn = "";
    if (Model.TransType == "Update")
    {
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
    if (!Disable || (Model.StatusCode == "C" || Model.trf_no == null || ((Model.StatusCode == "D" || Model.StatusCode == "A") && Model.Command == "Edit"))/*Add || ((Model.StatusCode == "D" || Model.StatusCode == "A") && Model.Command == "Edit") by Hina sharma on 16-10-2024*/)
    {
        disablePrintbtn = "disabled style=filter:grayscale(100%)";
    }
}

@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/ShopfloorStockTransfer/ShopfloorStockTransfer.js"></script>
@*/*start Add by Hina on 20-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
    /*Add by Hina sharma on 12-05-2025 to check Existing with previous year transaction*/
    if (TempData["Message1"] != null)
    {
        if (TempData["Message1"] == "TransNotAllow")
        {
            <script type="text/javascript">
                swal("", $("#NomodificationisallowedinpreviousFYdocument").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
@{
    if (Model.Message != null)
    {
        var str = Model.Message;
        Model.hdnsaveApprovebtn = null;
        if (str != null)
        {
            if (str == "Save")
            {
                <script type="text/javascript">
                    swal("", $("#savemsg").text(), "success");
                </script>
            }
            if (str == "Deleted")
            {
                <script type="text/javascript">
                    swal("", $("#deletemsg").text(), "success");
                </script>
            }
            if (str == "Approved")
            {
                <script type="text/javascript">
                    swal("", $("#approvemsg").text(), "success");
                </script>
            }
            if (str == "Approved_ErrorInMail")
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        swal("", $("#approvemsg").text() + '. \n ' + $("#ThereIsSomethingWrongWhileSendingAlerts").text(), "warning");
                    });
                </script>
            }
            if (str == "StockNotAvail")
            {
                <script type="text/javascript">
                    swal("", $("#SelectedlotqtyhasbeenchangedDoccantbesaved").text(), "warning");
                </script>
            }
            if (str == "ErrorInMail")
            {
                <script type="text/javascript">
                    swal("", $("#Emailsendingfailedduetotechnicalissue").text(), "warning");
                </script>
            }
            str = null;
            //Session.Remove("shfltrfMessage");
        }
        Model.Message = null;
    }
}
<title>@Model.Title</title>
@using (Html.BeginForm("ShopfloorStockTransferSave", "ShopfloorStockTransfer", FormMethod.Post, new { enctype = "multipart/form-data", id = "ProductionConfirmationForm" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <!-- Item Information -->
                        <div id="ItemInfo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                            </div>
                        </div>
                        <!-- WareHouse Information -->
                        <div id="WareHouse" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Warehouse WiseStock-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>@Resource.WarehouseWiseStock</h2>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" style="padding-top: 0px;">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-12">
                                                <label class="col-form-label label-align">@Resource.ItemName</label>
                                                <input id="WareHouseWiseItemName" disabled class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="ItemName" placeholder="ItemName" onblur="this.placeholder='ItemName'">
                                            </div>
                                            <div class="col-md-3 col-sm-12">
                                                <label class="col-form-label label-align"> @Resource.UOM</label>

                                                <input id="WareHouseWiseUOM" disabled class="form-control" autocomplete="off" maxlength="25" tabindex="5" type="text" name="UOM" placeholder="UOM" onblur="this.placeholder='UOM'">
                                            </div>
                                        </div>

                                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialShipmenItemStockWarehouseWise.cshtml")

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Batch Number -->
                        <div id="BatchNumber" class="modal fade" role="dialog">
                            <div class="modal-dialog" style=" max-width:1000px;">
                                <!-- Modal content-->
                                @{
                                    ViewBag.DocID = ViewBag.DocumentMenuId;
                                    ViewBag.Command = Model.Command;
                                    ViewBag.TransType = Model.TransType;
                                }
                                <div id="ItemStockBatchWise">
                                    @Html.Partial("~/Areas/Common/Views/Comn_PartialItemStockBatchWise_New.cshtml")
                                </div>
                                @Html.HiddenFor(model => model.ItemBatchWiseDetail, new { @id = "HDSelectedBatchwise" })

                                <table id="SaveItemBatchTbl" class="table table-bordered" style="display:none">
                                    <thead>
                                        <tr>
                                            <th>LOTNo</th>
                                            <th>ItemId</th>
                                            <th>UOMID</th>
                                            <th>BatchNO</th>
                                            <th>BatchAvlStock</th>
                                            <th>IssueQuantity</th>
                                            <th>expiryDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.ItemStockBatchWise != null)
                                        {
                                            foreach (System.Data.DataRow Row in ViewBag.ItemStockBatchWise.Rows)
                                            {
                                                <tr>
                                                    <td><input type="text" id="Batch_LotNo" value="@Row["lot_id"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_ItemId" value="@Row["item_id"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_UOMId" value="@Row["uom_id"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_BatchNo" value="@Row["batch_no"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_AvlBatchQty" value="@Row["avl_batch_qty"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_Qty" value="@Row["issue_qty"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_ExpiryDate" value="@Row["exp_dt"].ToString()" /></td>
                                                    <td id="Batch_MfgName">@Row["mfg_name"].ToString()</td>
                                                    <td><input type="text" id="Batch_MfgMrp" value="@Row["mfg_mrp"].ToString()" /></td>
                                                    <td><input type="text" id="Batch_MfgDate" value="@Row["mfg_date"].ToString()" /></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Serial Detail -->
                        <div id="SerialDetail" class="modal fade" role="dialog">
                            <div class="modal-dialog" style=" max-width:800px;">
                                <!-- Modal content-->
                                <div id="ItemStockSerialWise">
                                    @Html.Partial("~/Areas/Common/Views/Comn_PartialItemStockSerialWise_New.cshtml")
                                </div>
                                @Html.HiddenFor(model => model.ItemSerialWiseDetail, new { @id = "HDSelectedSerialwise" })

                                <table id="SaveItemSerialTbl" class="table table-bordered" style="display:none">
                                    <thead>
                                        <tr class="headings" disabled="disabled">
                                            <th>ItemId</th>
                                            <th>UOMID</th>
                                            <th>LOTNO</th>
                                            <th>IssueQuantity</th>
                                            <th>SerialNO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.ItemStockSerialWise != null)
                                        {
                                            foreach (System.Data.DataRow Row in ViewBag.ItemStockSerialWise.Rows)
                                            {
                                                if (@Row["SerailSelected"].ToString() == "Y")
                                                {
                                        <tr>
                                            <td><input type="text" id="Serial_ItemId" value="@Row["item_id"].ToString()" /></td>
                                            <td><input type="text" id="Serial_UOMId" value="@Row["uom_id"].ToString()" /></td>
                                            <td><input type="text" id="Serial_LOTNo" value="@Row["lot_id"].ToString()" /></td>
                                            <td><input type="text" id="Serial_Qty" value="1" /></td>
                                            <td><input type="text" id="Serial_SerialNo" value="@Row["serial_no"].ToString()" /></td>
                                            <td><input type="text" id="Serial_MfgName" value="@Row["mfg_name"].ToString()" /></td>
                                            <td><input type="text" id="Serial_MfgMrp" value="@Row["mfg_mrp"].ToString()" /></td>
                                            <td><input type="text" id="Serial_MfgDate" value="@Row["mfg_date"].ToString()" /></td>
                                        </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Forward Information -->
                        <div id="Forward_Pop" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/PartialForward.cshtml")
                            </div>
                        </div>
                        <!-- Workflow Information -->
                        <div id="WorkflowInformation" class="modal fade" role="dialog">
                            <div class="modal-dialog" style="max-width:700px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
                            </div>
                        </div>


                        <!-- Sub Item Detail -->
                        <div id="SubItem" class="modal fade" role="dialog">
                            <div class="modal-dialog" id="SubItemPopUp" style=" max-width:600px;">
                                <!-- Modal content-->
                                @{
                                    SubItemPopupDt mdl = new SubItemPopupDt();
                                }
                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemDetail.cshtml", mdl)
                            </div>
                            <table id="hdn_Sub_ItemDetailTbl" hidden>
                                <tbody>
                                    @if (ViewBag.SubItemDetails != null)
                                    {
                                        foreach (System.Data.DataRow dr in ViewBag.SubItemDetails.Rows)
                                        {
                                            <tr>
                                                <td><input type="text" id="ItemId" value='@dr["item_id"]'></td>
                                                <td><input type="text" id="subItemId" value='@dr["sub_item_id"]'></td>
                                                <td><input type="text" id="subItemQty" value='@dr["Qty"]'></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(model => model.SubItemDetailsDt, new { @id = "SubItemDetailsDt" })
                        </div>
                        @Html.HiddenFor(model => model.TransType, new { @id = "batchwiseTransType" })
                        @Html.HiddenFor(model => model.Cmd_batch, new { @id = "BatchWiseCommand" })
                        @Html.HiddenFor(model => model.hdnsaveApprovebtn, new { @id = "hdnsavebtn" })
                        <!-- Sub Item Stock Detail -->
                        <div id="SubItemStock" class="modal fade" role="dialog">
                            <div class="modal-dialog" id="SubItemStockPopUp" style=" max-width:600px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemStkDetail.cshtml")
                            </div>
                        </div>

                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <!-- Smart Wizard -->
                        <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                            @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                        </div>
                        <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                        <div id="" class="col-md-4 col-sm-12 work_flow heading_right_padding">
                            @{
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (Model.StatusCode != null)
                                                {
                                                    <button class="save" title="@Resource.Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Update"></button>
                                                }
                                                else
                                                {
                                                    <button class="save" title="@Resource.Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                                                }
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="workflow" title="@Resource.Workflow" disabled style="filter: grayscale(100%)" type="submit" id="btn_workflow" name="Command" value="Workflow"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnEdit":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140002")
                                                    {
                                                        <li>
                                                            @if (@*ViewBag.DocumentCode == "A" ||*@ ViewBag.DocumentCode == "D")
                     {
                         if (Model.Command == "Edit")
                         {
                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        }
                        else
                        {
                            <button class="edit" title="@Resource.Edit" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                        }
                    }
                    else
                    {
                        <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                    }
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140004")
                                                    {
                                                        <li>
                                                            @if (ViewBag.DocumentCode == "D")
                                                            {
                                                                if (Model.Command == "Edit")
                                                                {
                                                                    <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="delete" title="@Resource.Delete" onclick="return  functionConfirm();" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                            }
                                                            @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                @if (ViewBag.DocumentCode == "A" || ViewBag.DocumentCode == "D")
                                                {
                                                    if (Model.Command == "Edit")
                                                    {
                                                        if (ViewBag.DocumentCode == "A")
                                                        {
                                                            <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                        }
                                                        else
                                                        {
                                                            if (Model.StatusCode != null)
                                                            {
                                                                <button class="save" title="@Resource.Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Update"></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="save" title="@Resource.Save" type="submit" onclick="return  CheckFormValidation();" id="btn_save" name="Command" value="Save"></button>
                                                            }

                                                        }

                                                    }
                                                    else
                                                    {
                                                        <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" onclick="return  CheckFormValidation();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                                }
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    @if (ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                                    {
                                                        if (ViewBag.ForwardEnbl == "Y")
                                                        {//if (ViewBag.Message == "Financial Year not Exist")
                                                            /*Above Commented and modify by Hina sharma on 09-05-2025 to check Existing with previous year transaction*/

                                                            if (ViewBag.Message == "TransNotAllow")
                                                            {/*data-target="" value will be balnk in this case*/
                                                                <button class="forward"
                                                                        title="@Resource.Forward" type="button" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false" id="btn_forward" name="Command" value="Forward"></button>

                                                            }/*End to chk Financial year exist or not*/
                                                            else
                                                            {
                                                                <button class="forward"
                                                                        title="@Resource.Forward" type="button" onclick="return ForwardBtnClick()" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" id="btn_forward" name="Command" value="Forward"></button>

                                                            }/*commented by Hina on 20-02-2024 to chk Financial year exist or not*/

                                                            @*<button class="forward"
                                                                title="@Resource.Forward" onclick="return ForwardBtnClick()" type="submit" id="btn_forward" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" name="Command" value="Forward"></button>*@

                                                        }
                                                        else
                                                        {
                                                            <button class="forward"
                                                                    title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button class="forward"
                                                                title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                    }
                                                </li>
                                            }

                                            <li>
                                                @if (ViewBag.DocumentCode == "D" || ViewBag.DocumentCode == "F")
                                                {
                                                    if (ViewBag.Approve == "Y" && Model.Command != "Edit")
                                                    {
                                                        if (ViewBag.AppLevel.Rows.Count > 0)
                                                        {
                                                            //if (ViewBag.Message == "Financial Year not Exist")
                                                            /*Above Commented and modify by Hina sharma on 09-05-2025 to check Existing with previous year transaction*/

                                                            if (ViewBag.Message == "TransNotAllow")
                                                            {/*data-target="" value will be balnk in this case*/
                                                                <button class="approve"
                                                                        title="@Resource.Approve" onclick="return ForwardBtnClick()" type="button" data-toggle="modal" data-target="" data-backdrop="static" data-keyboard="false" id="btn_approve" name="Command" value="Approve"></button>

                                                            }/*End to chk Financial year exist or not*/
                                                            else
                                                            {
                                                                <button class="approve"
                                                                        title="@Resource.Approve" onclick="return ForwardBtnClick()" type="button" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" id="btn_approve" name="Command" value="Approve"></button>

                                                            }/*commented by Hina on 20-02-2024 to chk Financial year exist or not*/

                                                            @*<button class="approve"
                                                                title="@Resource.Approve" onclick="return ForwardBtnClick()" type="submit" data-toggle="modal" data-target="#Forward_Pop" data-backdrop="static" data-keyboard="false" id="btn_approve" name="Command" value="Approve"></button>*@
                                                        }
                                                        else
                                                        {
                                                            <button class="approve"
                                                                    title="@Resource.Approve" type="submit" onclick="approveonclick()" id="btn_approve" name="Command" value="Approve"></button>
                                                        }


                                                    }
                                                    else
                                                    {
                                                        <button class="approve"
                                                                title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button> }
                                                }
                                                else
                                                {
                                                    <button class="approve"
                                                            title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                                }
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="workflow" title="@Resource.Workflow"
                                                            type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                </li>
                                            }


                                            <li>
                                                @if (Model.Command == "Edit")
                                                {
                                                    <button class="refresh" title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                                }
                                                else
                                                {
                                                    <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                                }
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140005")
                                                    {
                                                        <li>
                                                            @*@if (ViewBag.DocumentCode == "A")
                                                                {*@
                                                            <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                            @*}
                                                                else
                                                                {
                                                                    <button class="print" title="@Resource.Print" disabled style="filter: grayscale(100%)" type="submit" id="btn_print" name="Command" value="Print"></button>
                                                                }*@
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnRefresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" style="filter: grayscale(100%)" disabled type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" style="filter: grayscale(100%)" disabled type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="forward" title="@Resource.Forward" style="filter: grayscale(100%)" disabled type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="approve" title="@Resource.Approve" style="filter: grayscale(100%)" disabled type="submit" id="btn_approve" name="Command" value="Approve" onclick="EnableApproveBtn()"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="workflow" title="@Resource.Workflow"
                                                            type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                </li>
                                            }
                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" style="filter: grayscale(100%)" disabled type="submit" id="btn_refresh" name="Command" value="Refresh" onclick="EnableRefreshBtn()"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnDelete":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="workflow" title="@Resource.Workflow"
                                                            type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Refresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140001")
                                                    {
                                                        <li>
                                                            <button class="add" title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140002")
                                                    {
                                                        <li>
                                                            <button class="edit" title="@Resource.Edit" disabled style="filter: grayscale(100%)" type="submit" id="btn_edit" name="Command" value="Edit"></button>
                                                        </li>
                                                    }
                                                    if (Row["feature_id"].ToString() == "105105140004")
                                                    {
                                                        <li>
                                                            <button class="delete" title="@Resource.Delete" disabled style="filter: grayscale(100%)" type="submit" id="btn_del" name="Command" value="Delete"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save" title="@Resource.Save" disabled style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="forward" title="@Resource.Forward" disabled style="filter: grayscale(100%)" type="submit" id="btn_forward" name="Command" value="Forward"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="approve" title="@Resource.Approve" disabled style="filter: grayscale(100%)" type="submit" id="btn_approve" name="Command" value="Approve"></button>
                                            </li>
                                            @if (ViewBag.AppLevel.Rows.Count > 0)
                                            {
                                                <li>
                                                    <button class="workflow" title="@Resource.Workflow"
                                                            type="submit" id="btn_workflow" onclick="return ForwardHistoryBtnClick();" data-toggle="modal" data-target="#WorkflowInformation" data-backdrop="static" data-keyboard="false" name="Command" value="Workflow"></button>
                                                </li>
                                            }

                                            <li>
                                                <button class="refresh" title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105105140005")
                                                    {
                                                        <li>
                                                            <button class="print" title="@Resource.Print" @disablePrintbtn type="submit" id="btn_print" name="Command" value="Print"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="back" title="@Resource.Back" type="submit" id="btn_back" name="Command" value="BacktoList"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                                @Html.HiddenFor(m => m.DeleteCommand, new { @id = "HdDeleteCommand" })
                            }


                        </div>
                        <div class="x_title pad_mar ">
                            @Html.HiddenFor(model => model.WFBarStatus, new { @id = "WFBarStatus" })
                            @Html.HiddenFor(model => model.WFStatus, new { @id = "WFStatus" })
                            @Html.HiddenFor(model => model.create_id, new { @id = "Create_ID" })
                            @Html.HiddenFor(model => model.WF_Status1, new { @id = "WF_Status1" })
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <div class="approved_by">
                                    <ul class="margin0 padding0">
                                        <li><span>@Resource.CreatedBy<br><b>@Html.DisplayFor(model => model.create_by)</b></span></li>
                                        <li><span>@Resource.Createdon<br><b>@Html.DisplayFor(model => model.create_on)</b></span></li>
                                        <li><span>@Resource.ApprovedBy<br><b>@Html.DisplayFor(model => model.app_by)</b></span></li>
                                        <li><span>@Resource.ApprovedOn<br><b>@Html.DisplayFor(model => model.app_on)</b></span></li>
                                        <li><span>@Resource.AmendedBy<br><b>@Html.DisplayFor(model => model.mod_by)</b></span></li>
                                        <li><span>@Resource.AmendedOn<br><b>@Html.DisplayFor(model => model.mod_on)</b></span></li>
                                        <li><span>@Resource.Status<br /><b>@Html.DisplayFor(model => model.status)</b></span></li>
                                        <li><input hidden="hidden" id="hdn_Status" value="@Model.StatusCode" /></li>
                                    </ul>
                                </div>
                                @if ((Model.StatusCode == "D" || Model.StatusCode == "F" || string.IsNullOrEmpty(Model.StatusCode) == true))
                                {
                                    if (Disable)
                                    {
                                        <input id="DisableSubItem" value="Y" hidden />
                                    }
                                    else
                                    {
                                        <input id="DisableSubItem" value="N" hidden />
                                    }

                                }
                                else
                                {
                                    <input id="DisableSubItem" value="Y" hidden />
                                }
                                @Html.HiddenFor(m => m.ListFilterData1, new { @id = "ListFilterData1", value = Model.ListFilterData1 })
                                @Html.HiddenFor(model => model.StockItemWiseMessage, new { @id = "hdnStockItemWiseMessage" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.TransferDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align"> @Resource.TransferNumber  </label>
                                                        @Html.TextBoxFor(model => model.trf_no, new
                                                   {
                                                       @id = "TransferNumber",
                                                       @class = "form-control",
                                                       @maxlength = "20",
                                                       @autocomplete = "off",
                                                       @name = "TransferNumber",
                                                       @type = "text"
                                                       ,
                                                       @placeholder = Resource.TransferNumber,

                                                       @readonly = "readonly"
                                                   })
                                                    </div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.TransferDate</label>
                                                        @Html.TextBoxFor(model => model.trf_dt, new
                                                   {
                                                       @id = "TransferDate",
                                                            @class = "form-control",
                                                            @autocomplete = "off",
                                                            @name = "TransferDate",
                                                            @type = "date",
                                                       @placeholder = Resource.TransferDate,
                                                            @onfocus = "this.placeholder=''",
                                                            @onblur = "this.placeholder = " + Resource.TransferDate + "",
                                                            @readonly = "readonly"
                                                   })
                                                    </div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.TransferType <span class="required">*</span> </label>
                                                        @if (Model.StatusCode != null || Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.TransferType, new SelectList(new List<Object>
                                                            {
                                                               new { value = "SW", text = "Shopfloor to Warehouse"  },
                                                               new { value = "SS", text = "Shopfloor to Shopfloor"  }
                                                            }, "value", "text"), new { @class = "form-control", @id = "TransferType", onchange = "OnChangeTransferType()", @disabled = "disabled" })


                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.TransferType, new SelectList(new List<Object>
                                                            {
                                                               new { value = "SW", text = "Shopfloor to Warehouse"  },
                                                               new { value = "SS", text = "Shopfloor to Shopfloor"  }
                                                            }, "value", "text"), new { @class = "form-control", @id = "TransferType", onchange = "OnChangeTransferType()" })
                                                        }

                                                        @Html.ValidationMessageFor(model => model.TransferType, String.Empty, new { @style = "color:red;!important", @id = "vmTransferType" })
                                                    </div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.MaterialType <span class="required">*</span> </label>
                                                        @if (Model.StatusCode != null || Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.MaterialType, new SelectList(new List<Object>
                                                                {
                                                                   new { value = "AC", text = "Accepted"  },
                                                                   new { value = "RJ", text = "Rejected"  },
                                                                   new { value = "RW" , text = "Reworkable" }
                                                                }, "value", "text"), new { @class = "form-control", @id = "MaterialType", @disabled = "disabled" })


                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.MaterialType, new SelectList(new List<Object>
                                                     {
                                                        new { value = "AC", text = "Accepted"  },
                                                        new { value = "RJ", text = "Rejected"  },
                                                        new { value = "RW" , text = "Reworkable" }
                                                     }, "value", "text"), new { @class = "form-control", @onchange = "onchangeMaterialType()", @id = "MaterialType" })
                                                        }
                                                        @Html.ValidationMessageFor(model => model.MaterialType, String.Empty, new { @style = "color:red;!important", @id = "vmMaterialType" })
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align "> @Resource.Source <span class="required">*</span> </label>
                                                        @if (Model.StatusCode != null || Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.shopfloorSource_id, new SelectList(new List<Object>
                                                                   {
                                                                      new { value = "0", text = "---Select---"  },

                                                           }, "value", "text"), new { @class = "form-control", @id = "SourceShopfloor", @disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.shopfloorSource_id, new SelectList(new List<Object>
                                                                   {
                                                                      new { value = "0", text = "---Select---"  },

                                                           }, "value", "text"), new { @class = "form-control", @id = "SourceShopfloor", onchange = "OnchangeSourceShopfloor()" })
                                                        }
                                                        @Html.ValidationMessageFor(model => model.shopfloorSource_id, String.Empty, new { @style = "color:red;!important", @id = "vmSourceShopfloor" })
                                                        @Html.HiddenFor(m => m.shopfloorSource_id, new { @id = "hdnSourceShopfloor" })
                                                    </div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align">@Resource.Destination <span class="required">*</span> </label>
                                                        @if (Model.StatusCode != null || Disable)
                                                        {
                                                            @Html.DropDownListFor(model => model.Destnation_id, new SelectList(new List<Object>
                                                                 {
                                                                    new { value = "0", text = "---Select---"  },

                                                                 }, "value", "text"), new { @class = "form-control", @id = "DestinationShopfloor", @disabled = "disabled" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownListFor(model => model.Destnation_id, new SelectList(new List<Object>
                                                             {
                                                                new { value = "0", text = "---Select---"  },

                                                             }, "value", "text"), new { @class = "form-control", @id = "DestinationShopfloor", onchange = "OnchangeDestinationShopfloor()" })
                                                        }
                                                        @Html.ValidationMessageFor(model => model.Destnation_id, String.Empty, new { @style = "color:red;!important", @id = "vmDestinationShopfloor" })
                                                        @Html.HiddenFor(m => m.Destnation_id, new { @id = "hdnDestinationShopfloor" })
                                                    </div>
                                                    <div class="col-md-55 col-sm-12">
                                                        <label class="col-form-label label-align">
                                                            @Resource.remarks
                                                        </label>
                                                        @if (Disable || Model.StatusCode == "A")
                                                        {
                                                            @Html.TextAreaFor(model => model.remarks, new { @id = "HeaderRemarks", @disabled = "disabled", @class = "form-control remarksmessage", @cols = "20", @maxlength = "100", @name = "dn_rem", @placeholder = @Resource.remarks, rows = "2" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextAreaFor(model => model.remarks, new { @id = "HeaderRemarks", @class = "form-control remarksmessage", @cols = "20", @maxlength = "100", @name = "dn_rem", @placeholder = @Resource.remarks, rows = "2" })
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.ItemDetail <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-box table-responsive dy_table">
                                        <div class="col-md-12">
                                            <div class="price_item_detail">
                                                <div class="tableFixHead height45VH">
                                                    @Html.HiddenFor(m => m.ItemDetail, new { @id = "hd_ItemDetail" })
                                                    <table id="ShopfloorStockTransferDetailTbl" class="table table-bordered margin10 itmfrz">
                                                        <thead disabled="disabled">
                                                            <tr class="headings">
                                                                <th width="2%"> &nbsp;</th>
                                                                <th width="2%">@Resource.SrNo</th>
                                                                <th width="26%">
                                                                    <div class="col-md-3 col-sm-12"> </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <span class="item_add"> @Resource.ItemName </span>
                                                                        <a href="#">
                                                                            @if (Disable || Model.StatusCode == "A")
                                                                            {

                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="plus_icon1">
                                                                                    <i class="fa fa-plus" id="BtnAddItem" onclick="AddNewRow()" title="Add New"></i>
                                                                                </div>
                                                                            }
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-12"> </div>

                                                                </th>
                                                                <th width="7%" title="@Resource.UnitOfMeasure"> @Resource.UOM</th>
                                                                <th width="14%">@Resource.Available <br /> @Resource.Quantity</th>
                                                                <th width="14%">@Resource.Transfer <br /> @Resource.Quantity</th>
                                                                <th width="8%">@Resource.BatchNumberDetail</th>
                                                                <th width="8%">@Resource.SerialNumberDetail</th>
                                                                <th width="19%">@Resource.remarks</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                string Dsbl = "";
                                                                string deleteIcon = "deleteIcon";
                                                                if (Disable || Model.StatusCode == "A" || Model.shopfloorSource_id == null)
                                                                {
                                                                    Dsbl = "disabled";
                                                                    deleteIcon = "";
                                                                }
                                                            }
                                                            @if (ViewBag.ItemDetails != null)
                                                            {


                                                                foreach (DataRow dr in ViewBag.ItemDetails.Rows)
                                                                {
                                                                    var subitmDisable = "";
                                                                    if (dr["sub_item"].ToString() != "Y")
                                                                    {
                                                                        subitmDisable = "disabled";
                                                                    }

                                                                    rowId = rowId + 1;
                                                                    string ProductName = "ProductName" + rowId;
                                                                    string batch_dsbl = "disabled";
                                                                    string serial_dsbl = "disabled";
                                                                    if (@dr["i_batch"].ToString() == "Y")
                                                                    {
                                                                        batch_dsbl = "";
                                                                    }
                                                                    if (@dr["i_serial"].ToString() == "Y")
                                                                    {
                                                                        serial_dsbl = "";
                                                                    }


                                                                    <tr>
                                                                        @if (Disable)
                                                                        {
                                                                            <td class="red center"> <i class="fa fa-trash @deleteIcon" disabled style="filter: grayscale(100%)" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="red center"> <i class="fa fa-trash @deleteIcon" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                                        }
                                                                        <td id="rowId" class="sr_padding">@rowId</td>
                                                                        <td>
                                                                            <div class="col-sm-11 lpo_form" style="padding:0px;" id='ProductName'>
                                                                                <select class="form-control" id="@ProductName" name="@ProductName" @Dsbl onchange="OnChangeProductNameSST(event)">
                                                                                    <option value="@dr["item_id"].ToString()">@dr["item_name"].ToString()</option>
                                                                                </select>
                                                                                <input id="HdnProductName" value="@dr["item_id"].ToString()" hidden="hidden" />
                                                                                <span id="ItemListNameError" class="error-message is-visible"></span>
                                                                                <input id="HdnFieldSrNo" value="@rowId" hidden="hidden" />
                                                                            </div>
                                                                            <div class="col-sm-1 i_Icon">
                                                                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <input id="UOM" class="form-control" value="@dr["uom_alias"].ToString()" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder='@Resource.UOM'" disabled>
                                                                            <input id="UOMID" value="@dr["uom_id"].ToString()" type="hidden">
                                                                        </td>
                                                                        <td>
                                                                            <div class="col-sm-10 no-padding">
                                                                                <input id="AvailableQuantity" value="@dr["avl_stock_shfl"].ToString()" class="form-control num_right" autocomplete="off" type="text" name="AvailableQuantity" disabled placeholder="0000:00" onblur="this.placeholder ='0000:00'">
                                                                            </div>
                                                                            <div class="col-sm-2 i_Icon " id="div_SubItemAvlQty">
                                                                                <button type="button" id="SubItemAvlQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemShopfloorAvlStock('AvlQty',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                                            </div>

                                                                        </td>
                                                                        <td>
                                                                            <div class=" col-sm-10 lpo_form no-padding">
                                                                                <input id="TransferQuantity" value="@dr["trf_qty"].ToString()" @Dsbl class="form-control num_right" onchange="OnChangeTransferQuantity(this)" onkeypress="return QtyFloatValueonly(this,event)" autocomplete="off" type="text" name="TransferQuantity" placeholder="0000:00">
                                                                                <span id="TransferQuantityError" class="error-message is-visible"></span>
                                                                            </div>
                                                                            <div class="col-sm-2 i_Icon" id="div_SubItemTrfQty" style="padding:0px;">
                                                                                <input hidden type="text" id="sub_item" value="@dr["sub_item"].ToString()" />
                                                                                <button type="button" id="SubItemTrfQty" class="calculator subItmImg" @subitmDisable onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                                            </div>
                                                                        </td>
                                                                        <td class="center">
                                                                            <button type="button" id="BtnBatchDetail" onclick="ItemStockBatchWise(this,event)" onchange="OnChangeIssueQty()" @batch_dsbl class="calculator subItmImg" data-toggle="modal" data-target="#BatchNumber" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BatchDetail"></i></button>
                                                                            <input type="hidden" id="hdi_batch" value="@dr["i_batch"].ToString()" style="display: none;">
                                                                        </td>
                                                                        <td class="center">
                                                                            <button type="button" id="BtnSerialDetail" onclick="ItemStockSerialWise(this,event)" class="calculator subItmImg" @serial_dsbl data-toggle="modal" data-target="#SerialDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.SerialDetail"></i></button>
                                                                            <input type="hidden" id="hdi_serial" value="@dr["i_serial"].ToString()" style="display: none;">
                                                                        </td>
                                                                        <td>
                                                                            <textarea id="remarks" class="form-control remarksmessage" maxlength="100" @Dsbl name="remarks" placeholder="@Resource.remarks">@dr["it_remarks"].ToString()</textarea>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td class="red center"> <i class="fa fa-trash @deleteIcon" aria-hidden="true" id="delBtnIcon" title="@Resource.Delete"></i></td>
                                                                    <td class="sr_padding">1</td>
                                                                    <td>
                                                                        <div class="col-sm-11 lpo_form" style="padding:0px;" id='ProductName'>
                                                                            <select class="form-control" id="ProductName1" @Dsbl name="ProductName1" onchange="OnChangeProductNameSST(event)">
                                                                            </select>
                                                                            <input id="HdnProductName" value="" hidden="hidden" />
                                                                            <span id="ItemListNameError" class="error-message is-visible"></span>
                                                                            <input id="HdnFieldSrNo" value="1" hidden="hidden" />
                                                                        </div>
                                                                        <div class="col-sm-1 i_Icon">
                                                                            <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <input id="UOM" class="form-control" autocomplete="off" type="text" name="UOM" placeholder="@Resource.UOM" onblur="this.placeholder='@Resource.UOM'" disabled>
                                                                        <input id="UOMID" type="hidden">
                                                                    </td>
                                                                    <td>
                                                                        <div class="col-sm-10 no-padding">
                                                                            <input id="AvailableQuantity" class="form-control num_right" autocomplete="off" type="text" name="AvailableQuantity" disabled placeholder="0000:00" onblur="this.placeholder ='0000:00'">
                                                                        </div>

                                                                        <div class="col-sm-2 i_Icon " id="div_SubItemAvlQty">

                                                                            <button type="button" id="SubItemAvlQty" class="calculator subItmImg" disabled onclick="return SubItemShopfloorAvlStock('AvlQty',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class=" col-sm-10 lpo_form no-padding">
                                                                            <input id="TransferQuantity" @Dsbl class="form-control num_right" onchange="OnChangeTransferQuantity(this)" onkeypress="return QtyFloatValueonly(this,event)" autocomplete="off" type="text" name="TransferQuantity" placeholder="0000:00">
                                                                            <span id="TransferQuantityError" class="error-message is-visible"></span>
                                                                        </div>
                                                                        <div class="col-sm-2 i_Icon " id="div_SubItemTrfQty">
                                                                            <input hidden type="text" id="sub_item" value="" />
                                                                            <button type="button" id="SubItemTrfQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('Quantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                                        </div>
                                                                    </td>
                                                                    <td class="center">
                                                                        <button type="button" id="BtnBatchDetail" @Dsbl onclick="ItemStockBatchWise(this,event)" onchange="OnChangeIssueQty()" disabled class="calculator subItmImg" data-toggle="modal" data-target="#BatchNumber" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.BatchDetail"></i></button>
                                                                        <input type="hidden" id="hdi_batch" value="N" style="display: none;">
                                                                    </td>
                                                                    <td class="center">
                                                                        <button type="button" id="BtnSerialDetail" @Dsbl onclick="ItemStockSerialWise(this,event)" class="calculator subItmImg" disabled data-toggle="modal" data-target="#SerialDetail" data-backdrop="static" data-keyboard="false"><i class="fa fa-eye" aria-hidden="true" data-toggle="" title="@Resource.SerialDetail"></i></button>
                                                                        <input type="hidden" id="hdi_serial" value="N" style="display: none;">
                                                                    </td>
                                                                    <td>
                                                                        <textarea id="remarks" class="form-control remarksmessage" maxlength="100" @Dsbl name="remarks" placeholder="@Resource.remarks"></textarea>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}

