@model EnRepMobileWeb.MODELS.ApplicationLayer.FinancialAccountingAndControl.TDSPosting.TdsListModel
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<title>@Model.Title</title>
<div class="row">
    <!-- Workflow Information -->
    <div id="WorkflowInformation" class="modal fade" role="dialog">
        <div class="modal-dialog" style="max-width:700px;">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @if (ViewBag.AppLevel.Rows.Count > 0)
                    {
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    }
                </div>
                @Html.HiddenFor(m => m.DocumentMenuId, new { @id = "DocumentMenuId" })
                <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                    <ul>
                        @if (ViewBag.VBRoleList != null)
                        {
                            foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                            {
                                if (Row["feature_id"].ToString() == "105104130001")
                                {
                                    <li>
                                        <a class="tooltip-test"
                                           title="@Resource.AddNew" href="@Url.Action("AddTDSPostingDetail", "TDSPosting")"><img src="~/Content/Images/addgreen.png" width="32" id="btn_add" height="32" alt="Add"></a>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Year </label>
                            @Html.DropDownListFor(m => m.Year, new SelectList(Model.yearList, "Year", "YearVal"), new { @id = "tds_year", @name = "Year"/*, @onchange = "OnchangeYear()"*/, @class = "form-control" })
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="col-form-label label-align">@Resource.Month </label>
                            @Html.DropDownListFor(m => m.MonthNo, new SelectList(Model.monthList, "month_no", "month_name"), new { @id = "tds_month", @name = "Month", @onchange = "OnchangeMonth()", @class = "form-control" })
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label class="col-form-label label-align">
                                @Resource.Status
                            </label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(Model.statusLists, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="TDSListSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="TDSList_Table" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialTDSPosting.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>