@model EnRepMobileWeb.MODELS.ApplicationLayer.ProductionAndPlanning.PackagingJobOrder.PJOListModel

@using EnRepMobileWeb.Resources;
@using System.Data
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 20-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }

    }
}
@*/*End to chk Financial year exist or not*/*@
<script src="~/Content/Scripts/ApplicationLayer/ProductionAndPlanning/PackagingJobOrder/PackagingJobOrderList.js"></script>
<title>@Model.Title</title>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <!-- Workflow Information -->
                <div id="WorkflowInformation" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="max-width:700px;">
                        <!-- Modal content-->
                        @Html.Partial("~/Areas/Common/Views/_WorkFlow.cshtml")

                    </div>
                </div>

                <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @Html.HiddenFor(m => m.ListFilterData, new { @id = "ListFilterData" })
                @Html.HiddenFor(m => m.WF_Status, new { @id = "WF_Status" })
                <div id="wizard" class="form_wizard wizard_horizontal col-md-3 col-sm-12 work_flow">
                    @if (ViewBag.AppLevel.Rows.Count > 0)
                    {
                        @Html.Partial("~/Areas/Common/Views/_PartialWorkflowBar.cshtml")
                    }
                </div>
                <input type="hidden" id="DocumentMenuId" value="@ViewBag.DocumentMenuId" />
                @*<div id="" class="col-md-4 col-sm-12 heading_right_padding">
                        <ul>
                            <li>
                                <a class="tooltip-test"
                                   title=" @Resource.AddNew" href="@Url.Action("AddReworkableJobOrderDetail","ReworkableJobOrder")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                            </li>

                        </ul>

                    </div>*@
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "105105128001")
                        {
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test" title="@Resource.AddNew" href="@Url.Action("AddPackagingJobOrderDetail","PackagingJobOrder")">
                                            <img src="~/Content/Images/addgreen.png" width="28" id="Btn_AddNewPO" height="28" alt="Add">
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 padding_zero">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ItemName</label>
                                    @Html.DropDownListFor(Model => Model.ItemName, new SelectList(Model.ItemNameLlist, "ID", "Name"), new { @class = "form-control", @id = "ddl_ItemNameList", @onchange = "OnChange_ProductNameList();" })
                                    @Html.HiddenFor(model => model.Item_Id, new { @id = "hdn_item_id" })
                                    @Html.HiddenFor(model => model.Item_Name, new { @id = "hdn_item_name" })
                                </div>

                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.FromDate</label>
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                                </div>
                                <div class="col-md-2 col-sm-12 pl-0">
                                    <label class="col-form-label label-align">@Resource.ToDate</label>
                                    @if (Model.ToDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }

                                </div>
                                <div class="col-md-2 col-sm-12 no-padding">
                                    <div class="col-md-9 col-sm-12 pl-0">
                                        <label class="col-form-label label-align">Status</label>
                                        @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })

                                    </div>
                                    <div class="col-md-3 col-sm-12 pl-0">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search"  onclick="BtnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="tbodyRJOList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialPackagingJobOrder.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>