@using EnRepMobileWeb.Resources;
@{
    var grpstr = string.Empty;
    var grpstr_id = string.Empty;
    var start = 0;

    //var totoprow = 0;
    //var totdirexprow = 0;
    //var totclrow = 0;
    //var totdirincrow = 0;
    //var totindirincrow = 0;
    //var totdiffrow = 0;
    var tot_op_amt = string.Empty;
    var tot_cl_amt = string.Empty;

    var tot_direxp_amt = string.Empty;
    var tot_indirexp_amt = string.Empty;
    var tot_dirinc_amt = string.Empty;
    var tot_indirinv_amt = string.Empty;
    var ptot_direxp_amt = string.Empty;
    var ptot_indirexp_amt = string.Empty;
    var ptot_dirinc_amt = string.Empty;
    var ptot_indirinv_amt = string.Empty;

    var tot_gp_amt = string.Empty;
    var tot_netpft_amt = string.Empty;
    var totcgs_amt = string.Empty;

    if (ViewBag.totamt_tmpdata != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.totamt_tmpdata.Rows)
        {
            tot_op_amt = Row["op_tot_amt"].ToString();
            tot_cl_amt = Row["closing_tot_amt"].ToString();

            tot_direxp_amt = Row["direxp_tot_amt"].ToString();
            tot_indirexp_amt = Row["indirexp_tot_amt"].ToString();
            tot_dirinc_amt = Row["dirinc_tot_amt"].ToString();
            tot_indirinv_amt = Row["indirinc_tot_amt"].ToString();
            ptot_direxp_amt = Row["pdirexp_tot_amt"].ToString();
            ptot_indirexp_amt = Row["pindirexp_tot_amt"].ToString();
            ptot_dirinc_amt = Row["pdirinc_tot_amt"].ToString();
            ptot_indirinv_amt = Row["pindirinc_tot_amt"].ToString();

            tot_gp_amt = Row["grossprofit_tot_amt"].ToString();
            totcgs_amt = Row["cgs_tot_amt"].ToString();
            tot_netpft_amt = Row["netprofit_tot_amt"].ToString();
        }
    }
    //if (ViewBag.opening_tmpdata != null)
    //{
    //    totoprow = ViewBag.opening_tmpdata.Rows.Count;
    //}
    //if (ViewBag.direxp_tmpdata != null)
    //{
    //    totdirexprow = ViewBag.direxp_tmpdata.Rows.Count;
    //}
    //if (ViewBag.dirinc_tmpdata != null)
    //{
    //    totdirincrow = ViewBag.dirinc_tmpdata.Rows.Count;
    //}
    //if (ViewBag.closing_tmpdata != null)
    //{
    //    totclrow = ViewBag.closing_tmpdata.Rows.Count;
    //}
    //if (ViewBag.indirinc_tmpdata != null)
    //{
    //    totindirincrow = ViewBag.indirinc_tmpdata.Rows.Count;
    //}
    //if ((totoprow + totdirexprow) > (totdirincrow + totclrow))
    //{
    //    totdiffrow = (totoprow + totdirexprow) - (totdirincrow + totclrow);
    //}
}
<style>
    .main_div {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: 1px;
        font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
        /*background-color: #afafaf;*/
    }

    .left {
        width: 50%;
        margin: 0px;
        float: left;
    }

    .right {
        width: 50%;
        margin: 0px;
        float: left;
    }

    .left_div {
        width: 100%;
        margin: 0px;
        float: left;
    }

    .right_div {
        width: 100%;
        margin: 0px;
        float: left;
    }

    .liabilities {
        width: 100%;
        margin: 0px;
        text-align: center !important;
        font-size: 14px;
        font-weight: bold;
        background-color: #e7f1fa;
        padding-top: 10px;
        paddingbottom: 10px;
    }

    .table_border {
        border: 1px solid #dddddd;
    }

    .amount {
        text-align: center !important;
        font-size: 14px;
        font-weight: bold;
        paddingtop: 10px;
        background-color: #e7f1fa;
    }

    .amount_s {
        text-align: center !important;
        font-size: 12px;
        font-weight: bold;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #e7f1fa;
    }

    .td_border_top {
        border-top: 1px solid #dddddd;
    }

    .td_border_bottom {
        border-top: 1px solid #dddddd;
    }

    .td_border_left {
        border-left: 1px solid #dddddd;
    }

    .td_border_right {
        border-right: 1px solid #dddddd;
    }

    .reserve_bg {
        background-color: #badafa;
    }

    .reserve_txt {
        font-size: 12px;
        font-weight: bold;
        paddingleft: 10px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
    }

    .reserve_txt_nor {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 10px;
        paddingbottom: 10px;
        background-color: #ffffff;
    }

    .reserve_txt_nor_v1 {
        font-size: 11px;
        font-weight: bold;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
        background-color: #ffffff;
    }

    .reserve_txt_nor_v2 {
        font-size: 11px;
        font-weight: normal;
        paddingleft: 35px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
        background-color: #ffffff;
    }

    .num_right {
        text-align: right;
    }

    .total {
        background-color: #e7f1fa;
    }

    .reserve_txt_nor_total {
        font-size: 11px;
        font-weight: bold;
        paddingleft: 25px;
        paddingright: 10px;
        paddingtop: 5px;
        paddingbottom: 5px;
    }
</style>
<div class="main_div">
    <table class="table_border" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td>
                            @Html.Partial("~/Areas/ApplicationLayer/Views/FinancialAccountingAndControl/MIS/GeneralLedger/GLHeaderPrint.cshtml")
                        </td>
                        <td width="15">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="15">&nbsp;</td>
                        <td style="padding: 10px 0px 0px 0px; line-height:18px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px;">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px;">
                                            <tr>
                                                <td width="7%" style="font-weight:bold;">Branch :</td>
                                                <td width="93%" style="text-align:left;"> @ViewBag.Branches</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size: 12px;">
                                            <tr>
                                                <td width="7%" style="font-weight: bold; paddingtop: 10px; paddingbottom: 10px;"> Period :</td>
                                                <td width="10%"> @ViewBag.FromDate</td>
                                                <td width="3%" style="font-weight:bold; text-align:left;">To</td>
                                                <td width="10%" style="text-align:left;">@ViewBag.ToDate</td>
                                                <td width="70%">&nbsp;</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="15">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="left td_border_right" valign="top">               
                <table width="100%" cellpadding="0" cellspacing="0" border="0" height="100%">
                    <tr>
                        <td width="36%" class="amount">Particulars</td>
                        <td width="32%" class="amount">GL Amount</td>
                        <td width="32%" class="amount">Total Amount</td>
                    </tr>
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">To Opening Stock</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_op_amt</td>
                    </tr>
                    @if (ViewBag.opening_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.opening_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                    
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">To Direct Expenses</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_direxp_amt</td>
                    </tr>
                    @if (ViewBag.direxp_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.direxp_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                    
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">To Gross Profit</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_gp_amt</td>
                    </tr>


                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">To Indirect Expenses</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_indirexp_amt</td>
                    </tr>

                    @if (ViewBag.indiexp_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.indiexp_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">To Net Profit Transferred to Balance Sheet</td>
                        <td width="32%" class="reserve_txt num_right">@tot_netpft_amt</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                    </tr>

                </table>
            </td>
            <td class="right" valign="top">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" height="100%">
                    <tr>
                        <td width="36%" class="amount">Particulars</td>
                        <td width="32%" class="amount">GL Amount</td>
                        <td width="32%" class="amount">Total Amount</td>
                    </tr>
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">By Direct Income</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_dirinc_amt</td>
                    </tr>
                    @if (ViewBag.dirinc_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.dirinc_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                @*<tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>*@
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                @*<tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                        <td>
                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>*@
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                @*grpstr = @Row["grp_str_name"].ToString();
                    grpstr_id = @Row["grp_str_id"].ToString();
                    <tr data-id="@grpstr_id" data-parent="401" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                        <td>
                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>*@
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">By Closing Stock</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_cl_amt</td>
                    </tr>
                    @if (ViewBag.closing_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.closing_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {

                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["acc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">By Gross Profit</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_gp_amt</td>
                    </tr>
                    <tr class="reserve_bg">
                        <td width="36%" class="reserve_txt">By Indirect Income</td>
                        <td width="32%" class="reserve_txt num_right">&nbsp;</td>
                        <td width="32%" class="reserve_txt num_right">@tot_indirinv_amt</td>
                    </tr>
                    @if (ViewBag.indirinc_tmpdata != null)
                    {
                        grpstr = string.Empty;
                        grpstr_id = string.Empty;
                        start = 0;
                        foreach (System.Data.DataRow Row in ViewBag.indirinc_tmpdata.Rows)
                        {
                            if (start == 0)
                            {
                                grpstr = Row["grp_str_name"].ToString();
                                grpstr_id = Row["grp_str_id"].ToString();
                            }

                            if (start == 0 && grpstr == @Row["grp_str_name"].ToString())
                            {

                                start = 1;
                                @*<tr data-id="@grpstr_id" data-parent="601" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>*@
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>
                            }

                            if (start == 1 && grpstr == @Row["grp_str_name"].ToString())
                            {
                                @*<tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                        <td>
                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>*@
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                            else
                            {
                                @*grpstr = @Row["grp_str_name"].ToString();
                    grpstr_id = @Row["grp_str_id"].ToString();
                    <tr data-id="@grpstr_id" data-parent="601" data-level="2" class="Tree2stCh" style="display: none;">
                        <td data-column="name" class="font-weight-bold font11">@Row["grp_str_name"].ToString()</td>
                        <td class="num_right font-weight-bold font11">@Row["csubgrp_tot_amt"].ToString()</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr data-id="@Row["acc_id"].ToString()" data-parent="@grpstr_id" data-level="3" style="display: none;">
                        <td data-column="name" class="font11">@Row["acc_name"].ToString()</td>
                        <td>
                            <div class="col-md-11 col-sm-12 no-padding num_right font11">@Row["cacc_amt"].ToString()</div>
                            <div class="col-sm-1 i_Icon">
                                <button type="button" class="calculator font11" onclick="get_glvoucherdata(event);" data-toggle="modal" data-target="#div_glDetail" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.Transaction @Resource.Detail">  </button>
                                <input hidden="hidden" id="hdn_acc_id" value="@Row["acc_id"].ToString()">
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>*@
                                grpstr = @Row["grp_str_name"].ToString();
                                grpstr_id = @Row["grp_str_id"].ToString();
                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v1">@Row["grp_str_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">@Row["csubgrp_tot_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v1 num_right">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td width="36%" class="reserve_txt_nor_v2">@Row["acc_name"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">@Row["cacc_amt"].ToString()</td>
                                    <td width="32%" class="reserve_txt_nor_v2 num_right">&nbsp;</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
</div>