@model EnRepMobileWeb.MODELS.BusinessLayer.AlertSetup.MessageSetup.AlertSetupModel
@using EnRepMobileWeb.Resources;
@using System.Data
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>@Model.title</title>

<script src="~/Content/Scripts/Common/CommonJS.js"></script>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-8 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                @if (ViewBag.VBRoleList != null)
                {
                    foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                    {
                        if (Row["feature_id"].ToString() == "103145001001")
                        {
                            <div id="" class="col-md-4 col-sm-12 heading_right_padding">
                                <ul>
                                    <li>
                                        <a class="tooltip-test"
                                           title=" @Resource.AddNew" href="@Url.Action("AddMessageSetupDetail","MessageSetup")"><img src="~/Content/Images/addgreen.png" width="32" height="32" id="Btn_AddCust" alt="Add"></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool ">
                        <form class="available_stock pad_mar" action="" method="post" novalidate>
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Alert @Resource.Type  <span class="required">*</span>
                                    </label>
                                    @Html.DropDownListFor(model => model.alertType, new List<SelectListItem>{
                                      new SelectListItem{ Text="---Select---", Value = "0" },
                                      new SelectListItem{ Text="Email", Value = "mail" },
                                      new SelectListItem{ Text="SMS", Value = "sms" },
                                      new SelectListItem{ Text="whatsapp", Value = "whatsapp" },
                                      new SelectListItem{ Text="Dashboard", Value = "Dashboard" },
                                      }, new { @class = "form-control", id = "ddlAlertType1", onchange = "EnableDisableEmailSetup();BindDocumentEventList();" })

                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Document @*<span class="required">*</span>*@
                                    </label>
                                    @Html.DropDownListFor(model => model.docId, new SelectList(Model.DocList, "docId", "docName"), new { @class = "form-control", id = "ddlDocList", onchange = "BindDocumentEventList();validateDdlBeforeSearch();" })
                                    @*<span style="text-align:right" id="docIdvalidate"></span>*@
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">
                                        @Resource.Event
                                    </label>
                                    @Html.DropDownListFor(model => model.events, new SelectList(Model.DocEventList, "statusCode", "statusName"), new { @class = "form-control", id = "ddlDocEventList", onchange = "validateDdlBeforeSearch();" })

                                </div>
                                <div class="col-md-3 col-sm-12 no-padding">
                                    <button type="button" class="btn btn-primary btn-sm margintop20" id="BtnSearch" onclick="validateDdlBeforeSearch(); FilterListCust();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="x_panel margin_top_zero">
            <div class="x_content">
                <div class="card-box table-responsive dy_table">
                    <div id="PAlertSetupList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                        @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialMessageSetupList.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

</script>

