@model EnRepMobileWeb.MODELS.LOGIN.LOGIN_MODEL
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" id="dataView">
<head>
    <script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Css/build/js/sweetalert.js"></script>
    <link href="~/Content/Css/build/css/sweetalert.css" rel="stylesheet" />
    @*<script src="~/Content/Scripts/Common/CommonJS.js"></script>*@
    <title>Welcome to Businet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link href="~/Content/Images/favicon.png" rel="icon">
    @Styles.Render("~/Content/Images")
    @Styles.Render("~/Content/Css/Login")
    @*<style>
        .border-red {
            border: 1px solid red;  
        }

        .popup .wrap-input100 {
            margin-bottom: 10px
        }

        .box {
            width: 40%;
            margin: 0 auto;
            background: rgba(255,255,255,0.2);
            padding: 35px;
            border: 2px solid #fff;
            border-radius: 20px/50px;
            background-clip: padding-box;
            text-align: center;
        }

        .button {
            font-size: 1em;
            padding: 10px;
            color: #fff;
            border: 2px solid #06D85F;
            border-radius: 20px/50px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

            .button:hover {
                background: #06D85F;
            }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

            .overlay:target {
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }

        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }

            .popup h2 {
                margin-top: 0;
                color: #333;
                font-family: Tahoma, Arial, sans-serif;
            }

            .popup .close {
                position: absolute;
                top: 20px;
                right: 30px;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
            }

                .popup .close:hover {
                    color: #06D85F;
                }

            .popup .content {
                max-height: 30%;
                overflow: auto;
            }

        .wrap-input100 label {
            display: block;
            margin-bottom: 0px;
            padding-left: 0px;
        }

        a.resend {
            color: #a64bf4;
        }
    </style>*@
   
</head>
<body>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h4 id="heading_change_pass">Change Password</h4>
            <h4 id="heading_forgot_pass">Forgot Password</h4>
            <a class="close" href="#" onclick="DiscardClick();">&times;</a>
            <div class="content">
                <div class="wrap-input100 " data-validate="Enter username">
                    <label class="label-input100">Username</label>
                    <input id="txtusername" readonly class="" type="text" name="" placeholder="" onkeypress="" autocomplete="">
                </div>
                <div id="divoldpass" class="wrap-input100 validate-input" data-validate="Enter password">
                    <label class="label-input100">Old Password&nbsp; <span id="validateOldPass" style="color:red"></span></label>
                    <input id="txtoldpass" class="" type="password" name="pass" placeholder="" onchange="ValidateOldPassword();" autocomplete="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <label class="label-input100">New Password</label>
                    <input id="txtnewpass" class="" disabled type="password" name="pass" placeholder="" onchange="PasswordCompareValidator();" autocomplete="">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <label class="label-input100">Confirm Password &nbsp; <span id="comparevalidator" style="color:red"></span></label>
                    <input id="txtconfpass" class="" disabled type="password" name="pass" placeholder=""  onchange="PasswordCompareValidator();SendOTP();" autocomplete="">

                </div>
                <div id="divotp" class="wrap-input100 validate-input" data-validate="Enter password">
                    <label class="label-input100">OTP</label>
                    <input id="txtOtp" class="" disabled type="text" maxlength="6" name="pass" placeholder="" onkeypress="return Cmn_IntValueonly(this, event);" onchange="OnChangeOTP();" autocomplete="">

                    <a class="resend" href="#popup1" style="width:100%; float:left; text-align:left; padding-top:10px;" onclick="SendOTP();">
                        Resend OTP
                    </a>
                    <span id="timerDisplay" style="color:red; font-size:small"></span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" id="ChangePassword" disabled class="login100-form-btn" value="Change Password" style="margin-right:10px;" onclick="PasswordCompareValidator(); ChangePassword();" />
                    <input type="submit" id="Discard" class="login100-form-btn" value="Discard" onclick="DiscardClick();" />
                    <input id="hfPassValidate" type="hidden" />
                    <input id="hfAction" type="hidden" />
                </div>
               
            </div>
        </div>
    </div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    {
                        <span class="login100-form-logo"> <img src="~/Content/Images/logo.png" width="150" height="auto" alt="EnRepLogo"> </span>
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <span class="label-input100">Username</span>
                             @Html.TextBoxFor(model => model.UserName, new { @class = "input100 " + Model.UserBorder, @type = "text", @placeholder = "Username", autocomplete = "off", @id = "txtUserName", @onkeypress = "OnkeypressUser()" })
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            <div id="spanUserName" class="field-validation-valid"></div>
                            <div id="spanUser" class="@Model.ClassForUser">@Model.UserMessage</div>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="label-input100">Password</span>
                            <input style="display:none;" type="password" id="HdnPw" />
                            <input id="hdnAutoLog" value="1" type="hidden" class="input100" autocomplete="off">
                           @Html.TextBoxFor(model => model.UserPassword, new
                            {
                                @class = "input100 " + Model.PassBorder,
                                @type = "password",
                                @placeholder = "Password",@*onmousedown = "return emptypass2();",*@autocompletetype = "disable",
autocomplete = "new-password",
@id = "txtPass",
@onkeypress = "OnkeypressPassword()"
})
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                            <div id="spanPass" class="field-validation-valid"></div>
                            <div id="spanInvalidPass" class="@Model.ClassForPass">@Model.PassMessage</div>
                        </div>
                        <div id="Languae">
                            @Html.Partial("~/Views/Shared/Home/_Indexlanguage.cshtml")
                        </div>
                        @Html.HiddenFor(m => m.BranchName, new { @id = "HdnBranchName" })
                        <div class="contact100-form-checkbox">
                            <div class="text-center" style="width:50%; float:left;">
                                <a id="hrefchangepass" class="txt1" href="#popup1" onclick="PreventIfUsernameEmpty(); ChangePasswordClick(); ">
                                    Change Password?
                                </a>
                            </div>
                            <div class="text-center">
                                <a class="txt1" href="#popup1" onclick="PreventIfUsernameEmpty(); onclickForgetPass();">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                        <div class="contact100-form-checkbox">
                            @Html.CheckBoxFor(x => x.RememberMe,new { @id= "Chk_RememberMe" })
                            <label for="Chk_RememberMe">Remember me</label>
                              </div>
                           <div class="container-login100-form-btn">
                            <input type="submit" id="LoginButton" class="login100-form-btn" value="Login" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    @*<script src="~/Content/Scripts/Common/jquery-3.4.1.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/Scripts")
</body>
</html>
