@using EnRepMobileWeb.Resources;
@model EnRepMobileWeb.MODELS.BusinessLayer.AddressStructure.AddressStructureModel
@*//***All Session RemoveBy Shubham Maurya On 01-01-2023 ***//*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
<script src="~/Content/Scripts/BusinessLayer/AddressStructure/AddressStructure.js"></script>
@*<script>
        $('#datatable-buttons').dataTable({
            "iDisplayLength": 10,
        });
        $('#datatable-buttons1').dataTable({
            "iDisplayLength": 10,
        });
        $('#datatable-buttons2').dataTable({
            "iDisplayLength": 10,
        });
    </script>*@

@{
    if (Model.Message != null)
    {
        //var str = ViewBag.Message;
        var str = Model.Message;
        if (str != null)
        {
            <script>
                $(document).ready(function () {
                    $("#hdnSavebtn").val("");
                })
            </script>
        }
        if (str == "New")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                $(document).ready(function () {
                    $("#collapseTwo").removeClass("show");
                    $("#collapseThree").removeClass("show");
                });
            </script>
        }
        if (str == "Save")
        {
            if (Model.Collapse != null)
            {
                //var collapse = Session["Collapse"].ToString();
                var collapse = Model.Collapse;
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "3")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#savemsg").text(), "success");
            </script>
            //collapse = null;
        }
        if (str == "Duplicate")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                $(document).ready(function () {
                    document.getElementById("vmstate_name").innerHTML = $("#valueduplicate").text();
                    $("#StateName").css("border-color", "red");
                    $("#collapseTwo").removeClass("show");
                    $("#collapseThree").removeClass("show");
                })
            </script>
        }
        if (str == "DuplicateStateCode")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                $(document).ready(function () {
                    document.getElementById("vmStateCode").innerHTML = $("#valueduplicate").text();
                    $("#StateCode").css("border-color", "red");
                    $("#collapseTwo").removeClass("show");
                    $("#collapseThree").removeClass("show");
                })
            </script>
        }
        if (str == "DuplicateDistrict")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                $(document).ready(function () {
                    document.getElementById("vmdistrict_name").innerHTML = $("#valueduplicate").text();
                    $("#districtName").css("border-color", "red");
                    $("#collapseOne").removeClass("show");
                    $("#collapseThree").removeClass("show");

                })
            </script>
        }
        if (str == "Duplicate_C")
        {
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                $(document).ready(function () {
                    debugger;
                    document.getElementById("vmcityname").innerHTML = $("#valueduplicate").text();
                    $("#CityName").css("border-color", "red");
                    $("#collapseOne").removeClass("show");
                    $("#collapseTwo").removeClass("show");
                })
            </script>
        }
        if (str == "Deleted")
        {
            if (Model.Collapse != null)
            {
                //var collapse = Session["Collapse"].ToString();
                var collapse = Model.Collapse;
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "3")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#deletemsg").text(), "success");
            </script>
            //collapse = null;
        }
        if (str == "exist")
        {
            if (Model.Collapse != null)
            {
                //var collapse = Session["Collapse"].ToString();
                var collapse = Model.Collapse;
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "3")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#DependencyExist").text(), "warning");
            </script>
            //collapse = null;
        }
        if (str == "DependencyExist")
        {
            if (Model.Collapse != null)
            {
                //var collapse = Session["Collapse"].ToString();
                var collapse = Model.Collapse;
                if (collapse == "1")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseTwo").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "2")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseThree").removeClass("show");
                        });
                    </script>
                }
                if (collapse == "3")
                {
                    <script type="text/javascript">
                        $("#hdnSavebtn").val(null);
                        $(document).ready(function () {
                            $("#collapseOne").removeClass("show");
                            $("#collapseTwo").removeClass("show");
                        });
                    </script>
                }
            }
            <script type="text/javascript">
                $("#hdnSavebtn").val(null);
                swal("", $("#DependenciesExistsCanNotBeModified").text(), "warning");
            </script>
            //collapse = null;
        }
        str = null;
    }
    var AddNew = "N";
    if (ViewBag.VBRoleList != null)
    {
        foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
        {
            if (Row["feature_id"].ToString() == "103190001")
            {
                AddNew = "Y";
            }
        }
    }
    <input hidden="hidden" id="AddNewData" value="@AddNew" />
    <input hidden="hidden" id="DocumentMenuId" />

}
<title>@Model.Title</title>
@using (Html.BeginForm("AddressAction", "AddressStructure", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken(){
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <h2 class="col-md-5 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(Model => Model.DocumentMenuId, new { @id = "DocumentMenuId" })
            @Html.HiddenFor(m => m.hdnSavebtn, new { @id = "hdnSavebtn" })
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.StateAndProvince <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.StateAndProvince <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate" || Model.Message == "DuplicateStateCode")
                                                    {
                                                        @Html.TextBoxFor(model => model.state_name, new { @id = "StateName", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @tabindex = "5", @type = "text", name = "StateName", @placeholder = @Resource.StateAndProvince, onchange = "OnChangestate_state()", onkeypress = "OnChangestate_state()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.state_name, new { @id = "StateName", @disabled = "disabled", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @tabindex = "5", @type = "text", name = "StateName", @placeholder = @Resource.StateAndProvince, onchange = "OnChangestate_state()", onkeypress = "OnChangestate_state()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    @Html.HiddenFor(model => model.state_id, new { @id = "state_id_hdn" })
                                                    @Html.ValidationMessageFor(model => model.state_name, "", new { @class = "text-danger", @id = "vmstate_name" })
                                                </div>
                                                <div class="col-md-1 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.StateCode <span id="requiredStateCode" class="required">*</span></label>
                                                    @*<input autocomplete="off" class=" form-control date" id="StateCode" maxlength="2" name="StateCode" placeholder="@Resource.StateCode" type="text" value="">*@
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate" || Model.Message == "DuplicateStateCode")
                                                    {
                                                        @Html.TextBoxFor(model => model.state_code, new { @class = "form-control date", @id = "StateCode", @maxlength = "2", @autocomplete = "off", @name = "StateCode", @placeholder = @Resource.StateCode, @type = "text", @value = "", onchange = "OnChangeStateCode", onkeypress = "return numValueOnly(this,event)", onkeyup = "OnChangeStateCode()" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.state_code, new { @class = "form-control date", @disabled = "disabled", @id = "StateCode", @maxlength = "2", @autocomplete = "off", @name = "StateCode", @placeholder = @Resource.StateCode, @type = "text", @value = "", onchange = "OnChangeStateCode", onkeypress = "return numValueOnly(this,event)", onkeyup = "OnChangeStateCode()" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.state_code, "", new { @class = "text-danger", @id = "vmStateCode" })
                                                    @Html.HiddenFor(model => model.hdn_Country_ID, new { @id = "hdn_Country_ID" })
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Country <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate" || Model.Message == "DuplicateStateCode")
                                                    {
                                                        @Html.DropDownListFor(model => model.country_name, new SelectList(Model.country_List, "country_id", "country_name")@*, "---Select---"*@, new { @class = "form-control", @id = "country_state", onchange = "OnChangecountry_state()", onkeypress = "OnChangecountry_state()" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.country_name, new SelectList(Model.country_List, "country_id", "country_name")@*, "---Select---"*@, new { @class = "form-control", @disabled = "disabled", @id = "country_state", onchange = "OnChangecountry_state()", onkeypress = "OnChangecountry_state()" })
                                                    }
                                                    <input type="hidden" id="country_Name" value='@Url.Action("countrylist", "AddressStructure")' />
                                                    @Html.HiddenFor(model => model.country_id, new { @id = "hdncountry_id" })
                                                    @Html.ValidationMessageFor(model => model.country_name, "", new { @class = "text-danger", @id = "vmcountry_state" })
                                                    @Html.HiddenFor(model => model.hdnAction, new { @id = "hdnAction" })
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate" || Model.Message == "DuplicateStateCode")
                                                    {
                                                        <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidation();" id="btn_save" name="Command" value="SaveState"></button>
                                                    }
                                                    else
                                                    {
                                                        <div id="SaveBtnEnable" style="display:none">
                                                            <button class="margin22 address_save" title="@Resource.Save" type="submit" onclick="return ChakeValidation();" id="btn_save" name="Command" value="SaveState"></button>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH" style="overflow-x:hidden;">
                                                                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialAddressStructureState.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> @Resource.DistrictAndZone <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.DistrictAndZone <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "DuplicateDistrict")
                                                    {
                                                        @Html.TextBoxFor(model => model.district_name, new { @id = "districtName", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @type = "text", name = "DistrictName", @placeholder = @Resource.DistrictAndZone, onchange = "OnChangedistrict()", onkeypress = "OnChangedistrict()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.district_name, new { @id = "districtName", @disabled = "disabled", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @type = "text", name = "DistrictName", @placeholder = @Resource.DistrictAndZone, onchange = "OnChangedistrict()", onkeypress = "OnChangedistrict()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    @Html.HiddenFor(model => model.district_id, new { @id = "district_id_hdn" })
                                                    @Html.ValidationMessageFor(model => model.district_name, "", new { @class = "text-danger", @id = "vmdistrict_name" })
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.StateAndProvince <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "DuplicateDistrict")
                                                    {
                                                        @Html.DropDownListFor(model => model.Dstate_name, new SelectList(Model.state_Lists, "dist_state_id", "dist_state_name"), "---Select---", new { @class = "form-control", @id = "state_district", onchange = "OnChangedistrict_state(),onchangeselectcountry()", onkeypress = "OnChangedistrict_state()" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.Dstate_name, new SelectList(Model.state_Lists, "dist_state_id", "dist_state_name"), "---Select---", new { @class = "form-control", @disabled = "disabled", @id = "state_district", onchange = "OnChangedistrict_state(),onchangeselectcountry()", onkeypress = "OnChangedistrict_state()" })
                                                    }
                                                    <input type="hidden" id="dist_state_Name" value='@Url.Action("ddlstatelist", "AddressStructure")' />
                                                    @Html.HiddenFor(model => model.Dstate_id, new { @id = "hdncountryid" })
                                                    @Html.ValidationMessageFor(model => model.Dstate_name, "", new { @class = "text-danger", type = "hidden", @id = "vmstate_district" })


                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Country</label>
                                                    @Html.TextBoxFor(model => model.Dcountry_name, new
                                                    {
                                                        @id = "country_state1",
                                                        @class = " form-control date",@*disabled = "disabled",*@@readonly = "readonly",
@type = "text",
name = "country_state_Name",
@placeholder = @Resource.Country
})
                                                    @Html.HiddenFor(model => model.Dcountry_id, new { @id = "hdncountry_id_state" })
                                                    @Html.ValidationMessageFor(model => model.Dcountry_id, "", new { @class = "text-danger", @id = "vmcountry_state" })
                                                    @Html.HiddenFor(model => model.DhdnAction, new { @id = "hdnAction1" })
                                                    @Html.HiddenFor(model => model.Dcountry_name, new { @id = "hdnAction2" })
                                                </div>
                                                <div class="col-md-55 col-sm-12">
                                                    @if (AddNew == "Y" || Model.Message == "DuplicateDistrict")
                                                    {
                                                        <button type="submit" class="margin22 address_save" title="@Resource.Save" name="Command" value="SaveDistrict" id="btn_saveDistict" onclick="return validatedistrict()"> </button>
                                                    }
                                                    else
                                                    {
                                                        <div id="SaveBtnEnableDistrict" style="display:none">
                                                            <button type="submit" class="margin22 address_save" title="@Resource.Save" name="Command" value="SaveDistrict" id="btn_saveDistict" onclick="return validatedistrict()"> </button>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialAddressStructureDistrict.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> @Resource.City <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-lg-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.City <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate_C")
                                                    {
                                                        @Html.TextBoxFor(model => model.City_name, new { @id = "CityName", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @type = "text", name = "DistrictName", @placeholder = @Resource.City, onchange = "OnChangeCcity()", onkeypress = "OnChangeCcity()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.City_name, new { @id = "CityName", @class = " form-control date", @autocomplete = "off", @maxlength = "50", @disabled = "disabled", @type = "text", name = "DistrictName", @placeholder = @Resource.City, onchange = "OnChangeCcity()", onkeypress = "OnChangeCcity()", onfocus = "this.placeholder=''", onblur = "this.placeholder='State Name'" })
                                                    }
                                                    @Html.HiddenFor(model => model.City_id, new { @id = "city_id_hdn" })
                                                    @Html.ValidationMessageFor(model => model.City_name, "", new { @class = "text-danger", @id = "vmcityname" })
                                                    @Html.HiddenFor(model => model.ChdnAction, new { @id = "ChdnAction" })

                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.DistrictAndZone <span class="required">*</span></label>
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate_C")
                                                    {
                                                        @Html.DropDownListFor(model => model.Cdistrict_name, new SelectList(Model.district_Lists, "dist_id", "dist_name"), "---Select---", new { @class = "form-control", @id = "Cdistrictname", onchange = "onchangeselectcountrystate(),OnChangeCdistrict()", onkeypress = "OnChangeCdistrict()" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.Cdistrict_name, new SelectList(Model.district_Lists, "dist_id", "dist_name"), "---Select---", new { @class = "form-control", @id = "Cdistrictname", @disabled = "disabled", onchange = "onchangeselectcountrystate(),OnChangeCdistrict()", onkeypress = "OnChangeCdistrict()" })
                                                    }
                                                    <input type="hidden" id="CdistrictSearch" value='@Url.Action("ddldistrictlist", "AddressStructure")' />
                                                    @Html.HiddenFor(model => model.Cdistrict_id, new { @id = "Cdistrictid" })
                                                    @Html.ValidationMessageFor(model => model.Cdistrict_name, "", new { @class = "text-danger", type = "hidden", @id = "vmCdistrict" })

                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.StateAndProvince </label>
                                                    @Html.TextBoxFor(model => model.Cstate_name, new
                                                    {
                                                        @id = "Cstate_name",
                                                        @class = " form-control date"@*, disabled = "disabled"*@,
@readonly = "readonly",
@type = "text",
name = "country_state_Name",
@placeholder = @Resource.StateAndProvince
})

                                                    @Html.HiddenFor(model => model.Cstate_id, new { @id = "hdnCstate_id" })

                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    <label class="col-form-label label-align">@Resource.Country</label>
                                                    @Html.TextBoxFor(model => model.Ccountry_name, new
                                                    {
                                                        @id = "Ccountry_name",
                                                        @class = " form-control date",
                                                   @readonly = "readonly",@*disabled = "disabled",*@@type = "text",
name = "country_state_Name",
@placeholder = @Resource.Country
})

                                                    @Html.HiddenFor(model => model.Ccountry_id, new { @id = "hdnCcountry_id" })

                                                </div>
                                                <div class="col-lg-2 col-sm-12">
                                                    @if (AddNew == "Y" || Model.Message == "Duplicate_C")
                                                    {
                                                        <button type="submit" class="margin22 address_save" title="@Resource.Save" name="Command" value="SavecityAndpin" id="btn_savecity" onclick="return chakevalidateCity()"> </button>
                                                    }
                                                    else
                                                    {
                                                        <div id="SaveBtnEnableCity" style="display:none">
                                                            <button type="submit" class="margin22 address_save" title="@Resource.Save" name="Command" value="SavecityAndpin" id="btn_savecity" onclick="return chakevalidateCity()"> </button>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="x_panel margin10">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div class="sticky-table sticky-ltr-cells sb-container container-example1 height30VH">
                                                                    @Html.Partial("~/Areas/BusinessLayer/Views/Shared/PartialAddressStructureCityAndPin.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- page content end -->
    }

}


