@model EnRepMobileWeb.MODELS.ApplicationLayer.InventoryManagement.StockReservation.StockReservation_Model
@using EnRepMobileWeb.Resources;
@using EnRepMobileWeb.MODELS.Common;
@using System.Data
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Css/build/js/sweetalert.js"></script>
@*/*start Add by Hina on 14-02-2024 to chk Financial year exist or not*/*@
@{
    if (TempData["Message"] != null)
    {
        if (TempData["Message"] == "Financial Year not Exist")
        {
            <script type="text/javascript">
                swal("", $("#FinancialYearDoesNotExistTransactionCanNotBeDone").text(), "warning");
            </script>
        }
    }
}
@*/*End to chk Financial year exist or not*/*@

<script src="~/Content/Scripts/ApplicationLayer/InventoryManagement/StockReservation/StockReservation.js"></script>

<title>@Model.Title</title>
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@{
    var Disable = true;
    //if (Session["TransType"].ToString() == "Update")
    if (Model.TransType == "Update")
    {
        //if (Session["Command"].ToString() == "Edit")
        if (Model.Command == "Edit")
        {
            Disable = false;
        }
        else
        {
            Disable = true;
        }
    }
    else
    {
        //if (Session["Command"].ToString() == "Refresh")
        if (Model.Command == "Refresh")
        {
            Disable = true;
        }
        else
        {
            Disable = false;
        }
    }
}


@{
    //if (Session["Message"] != null)
    if (Model.Message != null)
    {
        Model.hdnsaveApprovebtn = null;
        //if (Session["Message"].ToString() == "Save")
        if (Model.Message == "Save")
        {
            <script type="text/javascript">
                swal("", $("#savemsg").text(), "success");
            </script>
        }
        //if (Session["Message"].ToStrikng() == "Deleted")
        if (Model.Message == "Deleted")
        {
            <script type="text/javascript">
                swal("", $("#deletemsg").text(), "success");
            </script>
        }
        //if (Session["Message"].ToString() == "Approved")
        if (Model.Message == "Approved")
        {
            <script type="text/javascript">
                swal("", $("#approvemsg").text(), "success");
            </script>
        }
        //if (Session["Message"].ToString() == "Cancelled")
        if (Model.Message == "Cancelled")
        {
            <script type="text/javascript">
                swal("", $("#cancelmsg").text(), "success");
            </script>
        }
        if (Model.Message == "DocModify")
        {
            <script type="text/javascript">
                swal("", $("#SourceDocumentHasBeenModifiedCanNotProceed").text(), "warning");
            </script>
        }
        if (Model.Message == "StockNotAvailable")
        {
            <script type="text/javascript">
                swal("", $("#Stocknotavailable").text(), "warning");
            </script>
        }
        //Session["Message"] = "";
        Model.Message = "";
    }
}
@using (Html.BeginForm("StockReservationSave", "StockReservation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel mar_pad1 ">
                    <div class="x_content mar_pad1">
                        @Html.HiddenFor(model => model.hdn_i_serial, new { @id = "hdn_i_serial" })
                        @Html.HiddenFor(model => model.hdn_i_batch, new { @id = "hdn_i_batch" })
                        @Html.HiddenFor(model => model.Res_UnresStockDetails, new { @id = "hdres_unresdetails" })
                        @Html.HiddenFor(model => model.TotalRes_UnresQty, new { @id = "hdtotalres_unresqty" })
                        @Html.HiddenFor(model => model.hdnsaveApprovebtn, new { @id = "hdnsavebtn" })

                        <!-- Item Information -->
                        <div id="ItemInfo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
                            </div>
                        </div>
                        <!-- Warehouse Wise Stock -->
                        <div id="WareHouse" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div id="ItemStockWareHouseWise">
                                    @Html.Partial("~/Areas/Common/Views/PartialItemStockWareHouseWise.cshtml")
                                </div>
                            </div>
                        </div>
                        <!-- UnReserved Stock Detail -->
                        <div id="UnReservedStockDetail" class="modal fade" role="dialog">
                            <div class="modal-dialog" style="min-width:1200px;">
                                <!-- Modal content-->
                                <div id="ItemStockWareHouseWise">
                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_UnReservedStockDetail.cshtml")
                                </div>
                            </div>
                        </div>
                        <!-- Reserved Stock Detail -->
                        <div id="ReservedStockDetail" class="modal fade" role="dialog">
                            <div class="modal-dialog" style="min-width:1200px;">
                                <!-- Modal content-->
                                <div id="ItemStockWareHouseWise">
                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_ReservedStockDetail.cshtml")
                                </div>
                            </div>
                        </div>
                        <!-- Sub Item Detail -->
                        <div id="SubItem" class="modal fade" role="dialog">
                            <div class="modal-dialog" id="SubItemPopUp" style=" max-width:600px;">
                                <!-- Modal content-->
                                @{
                                    SubItemPopupDt mdl = new SubItemPopupDt();
                                }
                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemDetail.cshtml", mdl)
                            </div>
                            <table id="hdn_Sub_ItemDetailTbl" hidden>
                                <tbody>
                                    @if (ViewBag.SubItemDetails != null)
                                    {
                                        foreach (System.Data.DataRow dr in ViewBag.SubItemDetails.Rows)
                                        {
                                            <tr>
                                                <td><input type="text" id="ItemId" value='@dr["item_id"]'></td>
                                                <td><input type="text" id="subItemId" value='@dr["sub_item_id"]'></td>
                                                <td><input type="text" id="subItemQty" value='@dr["Qty"]'></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @Html.HiddenFor(model => model.SubItemDetailsDt, new { @id = "SubItemDetailsDt" })
                        </div>
                        <!-- Sub Item Stock Detail -->
                        <div id="SubItemStock" class="modal fade" role="dialog">
                            <div class="modal-dialog" id="SubItemStockPopUp" style=" max-width:600px;">
                                <!-- Modal content-->
                                @Html.Partial("~/Areas/Common/Views/Cmn_PartialSubItemStkDetail.cshtml")
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.DocumentMenuId, new { @id = "DocumentMenuId" })
                        <h2 class="col-md-7 col-sm-12 heading_left_padding ">@ViewBag.MenuPageName</h2>
                        <div id="" class="col-md-5 col-sm-12 work_flow heading_right_padding">
                            @{
                                //var btnName = Session["BtnName"].ToString();
                                var btnName = Model.BtnName;
                                switch (btnName)
                                {
                                    case "BtnAddNew":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105102153001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" disabled style="filter: grayscale(100%)" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" onclick="return  CheckStkResFormValidation();" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "Refresh":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105102153001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled onclick="return  CheckStkResFormValidation();" style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" disabled style="filter: grayscale(100%)" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                        </ul>
                                        break;
                                    case "BtnSave":
                                        <ul>
                                            @if (ViewBag.VBRoleList != null)
                                            {
                                                foreach (System.Data.DataRow Row in ViewBag.VBRoleList.Rows)
                                                {
                                                    if (Row["feature_id"].ToString() == "105102153001")
                                                    {
                                                        <li>
                                                            <button class="add"
                                                                    title="@Resource.AddNew" type="submit" id="btn_add" name="Command" value="AddNew"></button>
                                                        </li>
                                                    }
                                                }
                                            }
                                            <li>
                                                <button class="save"
                                                        title="@Resource.Save" disabled onclick="return  CheckStkResFormValidation();" style="filter: grayscale(100%)" type="submit" id="btn_save" name="Command" value="Save"></button>
                                            </li>
                                            <li>
                                                <button class="refresh"
                                                        title="@Resource.Refresh" type="submit" id="btn_refresh" name="Command" value="Refresh"></button>
                                            </li>
                                        </ul>
                                        break;
                                }
                            }
                        </div>
                        <div class="x_title pad_mar ">
                            <div class="col-md-12 col-sm-12 icon_tool ">
                                <div class="approved_by">
                                    <ul class="margin0 padding0">
                                        <li><span>@Resource.CreatedBy<br><b id="POCreatedBy"></b></span></li>
                                        <li><span>@Resource.Createdon<br><b id="POCreatedDate"></b></span></li>
                                    </ul>
                                </div>
                                <input hidden="hidden" id="DocModify" value="@Model.Message" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="x_panel mar_pad1">
                    <div class="x_content mar_pad1">
                        <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <section class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> @Resource.StockReservationDetail<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span> </a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                                    @*<form class="accordian_form_bg" action="" method="post" novalidate style="padding-bottom:10px;">*@
                                    <div class="panel-body">
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.Type <span class="required">*</span> </label>

                                            @if (Disable)
                                            {
                                                @Html.DropDownListFor(model => model.Transaction_Type, new SelectList(new List<SelectListItem> {
                                                      new SelectListItem {Text="Reserve",Value="R" },
                                                      new SelectListItem {Text="Un-Reserve",Value="U" },
                                                      }, "Value", "Text"
                                                        ), new { @class = "form-control", @id = "TransType", @disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.Transaction_Type, new SelectList(new List<SelectListItem> {
                                                  new SelectListItem {Text="Reserve",Value="R" },
                                                  new SelectListItem {Text="Un-Reserve",Value="U" },
                                                  }, "Value", "Text"
                                                        ), new { @class = "form-control", @id = "TransType", @onchange = "OnchangeType();" })


                                            }
                                            @Html.ValidationMessageFor(model => model.Transaction_Type, String.Empty, new { @style = "color:red;!important", @id = "vmTransType" })
                                            @Html.HiddenFor(model => model.Transaction_Type, new { @id = "HdnTransType" })
                                        </div>
                                        <div class="col-md-4 col-sm-12 pl-0 pr-0">
                                            <div class="col-sm-11 no-padding">
                                                <label class="col-form-label label-align">@Resource.ItemName <span class="required">*</span></label>
                                                @if (Disable)
                                                {
                                                    <select class="form-control" id="ddl_ProductName" onchange="OnchangeItem()" disabled>
                                                        <option value="@Model.item_id">@Model.item_Name</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select class="form-control" id="ddl_ProductName" onchange="OnchangeItem()"></select>
                                                }
                                                @Html.HiddenFor(model => model.item_id, new { @id = "hdn_product_id" })
                                                @Html.HiddenFor(model => model.item_Name, new { @id = "hdn_product_name" })
                                                @Html.ValidationMessageFor(model => model.item_id, String.Empty, new { @id = "vmddl_ProductName" })
                                            </div>
                                            <div class="col-sm-1 i_Icon margin28">
                                                <button type="button" id="ItmInfoBtnIcon" class="calculator" onclick="OnClickIconBtn(event);" data-toggle="modal" data-target="#ItemInfo" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.ItemInformation"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ItemInformation"></i>*@ </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">@Resource.UOM</label>
                                            @Html.TextBoxFor(model => model.uom_Name, new { @id = "UOM", @name = "UOM", @class = "form-control", @placeholder = "UOM", disabled = "disabled" })
                                            @Html.HiddenFor(model => model.uom_id, new { @id = "UOMID" })
                                            @Html.HiddenFor(model => model.UOMName, new { @id = "UOMName" })
                                            @Html.ValidationMessageFor(model => model.uom_id, String.Empty, new { @style = "color:red;!important", @id = "vmuom_id" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">@Resource.DocumentType <span class="required">*</span> </label>
                                            @*@if (Disable)
                                                {*@
                                            @Html.DropDownListFor(model => model.Doc_Type, new SelectList(new List<SelectListItem> {
                                                                                                                new SelectListItem {Text="Sales Order",Value="S" },
                                                                                                                }, "Value", "Text"), new { @class = "form-control", @id = "Document_Type", @disabled = "disabled" })
                                            @*}
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.Doc_Type, new SelectList(new List<SelectListItem> {
                                                                                                                    new SelectListItem {Text="Sales Order",Value="S" },
                                                                                                                    }, "Value", "Text"), new { @class = "form-control", @id = "DocumentType" })
                                                }*@
                                            @Html.ValidationMessageFor(model => model.Doc_Type, String.Empty, new { @style = "color:red;!important", @id = "vmDocType" })
                                            @Html.HiddenFor(model => model.Doc_Type, new { @id = "HdnDocType" })
                                        </div>
                                        <div class="clear"></div>
                                        <div class="col-md-2 col-sm-12">
                                            <div class="col-sm-11" style="padding:0px;">
                                                <label class="col-form-label label-align">@Resource.Warehouse <span class="required">*</span> </label>
                                                @if (Disable)
                                                {
                                                    @Html.DropDownListFor(model => model.warehouse_id, new SelectList(Model.WarehouseList, "wh_id", "wh_name"), new { @class = "form-control", disabled = "disabled", id = "toWh" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.warehouse_id, new SelectList(Model.WarehouseList, "wh_id", "wh_name"), new { @class = "form-control", id = "toWh", onchange = "OnchangeWarehouse()" })
                                                }
                                                @Html.ValidationMessageFor(model => model.warehouse_id, String.Empty, new { @style = "color:red;!important", @id = "vmtowarehouse" })
                                                @Html.HiddenFor(model => model.warehouse_id, new { @id = "hdWhID" })
                                                @Html.HiddenFor(model => model.warehouse_Name, new { @id = "warehouse_Name" })
                                                <span id="Val_warehouse_id" class="error_message"></span>
                                            </div>
                                            <div class="col-sm-1 i_Icon margin28">
                                                <button type="button" class="calculator" onclick="ItemStockWareHouseWise(this,event)" data-toggle="modal" data-target="#WareHouse" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/iIcon1.png" alt="" title="@Resource.WarehouseWiseStock"> @*<i class="fa fa-info" aria-hidden="true" title="@Resource.WarehouseWiseStock"></i>*@ </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0">
                                            <div class="col-sm-9 no-padding">
                                                <input type="hidden" id="lbl_totresstk" value="@Resource.Total @Resource.ReservedStock @Resource.Detail" />
                                                <label class="col-form-label label-align"> @Resource.Total @Resource.ReservedStock</label>
                                                @Html.TextBoxFor(model => model.Res_stk, new { @id = "ReservedStock", @class = "form-control num_right", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.Res_stk, new { @id = "HdReservedStock" })
                                            </div>
                                            <input hidden type="text" id="sub_item" value="" />
                                            <input hidden type="text" id="list_sub_item" value="" />
                                            <div class="col-sm-2 i_Icon no-padding margin28" id="div_SubItemTotalResStk">
                                                <button type="button" id="SubItemTotalResStk" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('TotalResStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                            <div class="col-sm-1 i_Icon margin28">
                                                <button type="button" class="calculator" data-toggle="modal" onclick="OnClickTotResStockDetailsIcon();" data-target="#UnReservedStockDetail" data-backdrop="static" data-keyboard="false"> <img src="/Content/Images/iIcon1.png" alt="" title=" @Resource.ReservedStock @Resource.Detail"> @*<i class="fa fa-info" aria-hidden="true" title=" @Resource.ReservedStock @Resource.Detail"></i>*@ </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                            <label class="col-form-label label-align">@Resource.TotalStock</label>
                                            <div class="col-sm-10 no-padding">
                                                @Html.TextBoxFor(model => model.Tot_stk, new { @id = "TotalStock", @class = "form-control num_right", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.Tot_stk, new { @id = "HdTotalStock" })
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemTotalStock">
                                                <button type="button" id="SubItemTotalStock" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('TotalStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                            <label class="col-form-label label-align">@Resource.AvailableStock</label>
                                            <div class="col-sm-10 no-padding">
                                                @Html.TextBoxFor(model => model.Aval_stk, new { @id = "AvailableStock", @class = "form-control num_right", @readonly = "readonly" })
                                                @Html.HiddenFor(model => model.Aval_stk, new { @id = "HdAvailableStock" })
                                            </div>
                                            <div class="col-sm-2 i_Icon no-padding" id="div_SubItemAvlStock">
                                                <button type="button" id="SubItemAvlStock" class="calculator subItmImg" disabled onclick="return SubItemStockDetailsPopUp('AvlStk',event)" data-toggle="modal" data-target="#SubItemStock" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">@Resource.EntityName <span id="entitystr" class="required">*</span> </label>
                                            @if (Disable)
                                            {
                                                @*@Html.DropDownListFor(model => model.CustID, new SelectList(Model.CustomerNameList, "cust_id", "cust_name"), new { @class = "form-control", @onchange = "OnChangeCustomer()", id = "ddlCustomerName", disabled = "disabled" })*@
                                                @Html.DropDownListFor(model => model.CustID, new SelectList(Model.CustomerNameList, "cust_id", "cust_name"), new { @class = "form-control", @id = "ddlCustomerName", disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @*@Html.DropDownListFor(model => model.CustID, new SelectList(Model.CustomerNameList, "cust_id", "cust_name"), new { @class = "form-control", @onchange = "OnChangeCustomer()", id = "ddlCustomerName" })*@
                                                @Html.DropDownListFor(model => model.CustID, new SelectList(Model.CustomerNameList, "cust_id", "cust_name"), new { @class = "form-control", @onchange = "OnChangeCustomer()", @id = "ddlCustomerName" })
                                            }
                                            @*<input type="hidden" id="CustNameList" value='@Url.Action("GetAutoCompleteSearchCustList", "StockReservation")' />*@
                                            @Html.ValidationMessageFor(model => model.CustID, String.Empty, new { @style = "color:red;!important", @id = "vmcust_id" })
                                            @Html.HiddenFor(model => model.CustNam, new { @id = "CustNam" })
                                        </div>
                                        <div class="clear"></div>
                                        <div class="col-md-2 col-sm-12">
                                            <label class="col-form-label label-align">@Resource.DocumentNumber <span id="docnostr" class="required">*</span> </label>
                                            @Html.HiddenFor(model => model.Doc_Number, new { @id = "hd_so_no" })
                                            @if (Disable)
                                            {
                                                @Html.DropDownListFor(model => model.doc_no, new SelectList(Model.DocumentNumberList, "doc_dt", "doc_no", "doc_no"), new { @class = "form-control", disabled = "disabled", id = "ddlOrderNumber" })
                                            }
                                            else
                                            {
                                                //if (Session["Command"].ToString() == "Edit" && ViewBag.DocumentCode == "A")
                                                if (Model.Command == "Edit" && ViewBag.DocumentCode == "A")
                                                {
                                                    @Html.DropDownListFor(model => model.doc_no, new SelectList(Model.DocumentNumberList, "doc_dt", "doc_no", "doc_no"), new { @class = "form-control", id = "ddlOrderNumber", disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.doc_no, new SelectList(Model.DocumentNumberList, "doc_dt", "doc_no", "doc_no"), new { @class = "form-control", id = "ddlOrderNumber", onchange = "ddlSONumberSelect()" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.doc_no, String.Empty, new { @style = "color:red;!important", @id = "vmsrc_doc_no" })
                                            @Html.ValidationMessageFor(model => model.Doc_Number, String.Empty, new { @style = "color:red;!important", @id = "vmdoc_no" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 pl-0">
                                            <label class="col-form-label label-align">@Resource.DocumentDate</label>
                                            @if (Disable)
                                            {
                                                @Html.TextBoxFor(model => model.doc_dt, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", type = "date", @id = "txtdoc_dt", @placeholder = @Resource.DocumentDate })
                                            }
                                            else
                                            {
                                                //if (Session["Command"].ToString() == "Edit" && ViewBag.DocumentCode == "A")
                                                if (Model.Command == "Edit" && ViewBag.DocumentCode == "A")
                                                {
                                                    @Html.TextBoxFor(model => model.doc_dt, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", type = "date", @id = "txtdoc_dt", @placeholder = @Resource.DocumentDate })
                                                }
                                                else
                                                {
                                                    if (Model.doc_no != null)
                                                    {
                                                        @Html.TextBoxFor(model => model.doc_dt, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", type = "date", @id = "txtdoc_dt", @placeholder = @Resource.DocumentDate })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.doc_dt, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", type = "date", @id = "txtdoc_dt", @placeholder = @Resource.DocumentDate })
                                                    }
                                                }
                                            }
                                            @Html.HiddenFor(model => model.Doc_Date, new { @id = "hddoc_dt" })
                                        </div>
                                        <div id="divrevsec">
                                            <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                                <label class="col-form-label label-align">@Resource.Document @Resource.Quantity</label>
                                                <div class="col-sm-10 no-padding">
                                                    @Html.TextBoxFor(model => model.doc_qty, new { @id = "DocQty", @class = "form-control num_right", @readonly = "readonly" })
                                                    @Html.HiddenFor(model => model.doc_qty, new { @id = "HdDocQty" })
                                                </div>
                                                <div class="col-sm-2 i_Icon no-padding" id="div_SubItemDocQty">
                                                    <button type="button" id="SubItemDocQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('DocQuantity',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                                <label class="col-form-label label-align">@Resource.Pending @Resource.PackedQuantity </label>
                                                <div class="col-sm-10 no-padding">
                                                    @Html.TextBoxFor(model => model.pending_qty, new { @id = "PendQty", @class = "form-control num_right", @readonly = "readonly" })
                                                    @Html.HiddenFor(model => model.pending_qty, new { @id = "HdPendQty" })
                                                </div>
                                                <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPendingPackQty">
                                                    <button type="button" id="SubItemPendingPackQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PendPackQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-12 pl-0 pr-0">
                                                <label class="col-form-label label-align">@Resource.Pending @Resource.Reserved @Resource.Quantity</label>
                                                <div class="col-sm-10 no-padding">
                                                    @Html.TextBoxFor(model => model.unres_qty, new { @id = "UnResQty", @class = "form-control num_right", @readonly = "readonly" })
                                                    @Html.HiddenFor(model => model.unres_qty, new { @id = "HdUnResQty" })
                                                </div>
                                                <div class="col-sm-2 i_Icon no-padding" id="div_SubItemPendResQty">
                                                    <button type="button" id="SubItemPendResQty" class="calculator subItmImg" disabled onclick="return SubItemDetailsPopUp('PendResQty',event)" data-toggle="modal" data-target="#SubItem" data-backdrop="static" data-keyboard="false"><img src="/Content/Images/subItem.png" alt="" title="@Resource.SubItem @Resource.Detail"> </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 margin20"><button type="button" id="Rev_UnrevDetails" onclick="OnClickRes_UnResDetails();" class="btn btn-primary btn-sm small_btn" data-toggle="modal" data-target="#ReservedStockDetail" data-backdrop="static" data-keyboard="false">@Resource.ReserveDetail</button></div>
                                        <div style="display:none;">
                                            <label id="LblUnreserveDetail" style="display:none;">@Resource.UnreservedDetail</label>
                                            <label id="LblReserveDetail" style="display:none;">@Resource.ReserveDetail</label>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="col-md-12 col-sm-12 margin15">
                                                    <div id="Itm_Details_List" class="x_panel margin_top_zero">
                                                        <div class="x_content">
                                                            <div class="card-box table-responsive dy_table">
                                                                <div id="tbodySIList" class="sticky-table sticky-ltr-cells sb-container container-example1">
                                                                    @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/_StockReservationList.cshtml")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*</form>*@
                                </div>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- page content end -->
