@model EnRepMobileWeb.MODELS.ApplicationLayer.SubContracting.MIS.JobOrderTracking.JobOrderTracking_Model
@using EnRepMobileWeb.Resources;
@using System.Data
@if (Session["UserId"] == null)
{
    Response.Redirect("~/Login");
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Content/Css/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Scripts/ApplicationLayer/SubContracting/MIS/JobOrderTracking/JobOrderTracking.js"></script>
<style>
    #datatable-buttons_wrapper .btn-group a:nth-child(3) {
        display: inline-block;
        position: absolute;
    }
</style>
<title>@Model.Title</title>
<div class="row">
    <!-- Item Information -->
    <div id="ItemInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            @Html.Partial("~/Areas/Common/Views/_ItemInfomation.cshtml")
        </div>
    </div>
    <!-- Dispatch Quantity Detail -->
    <div id="DispatchQuantity" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialDispatchQuantityDetail.cshtml")
        </div>
    </div>
    <!-- Material Detail -->
    <div id="MaterialDetail" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            <div id="MaterlDtlBatchLotWise">
                @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMaterialDetail.cshtml")
            </div>
        </div>
    </div>
    <!-- Received Quantity Detail -->
    <div id="ReceivedQuantity" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialReceivedQuantityDetail.cshtml")
        </div>
    </div>
    <!-- GRN Quantity Detail -->
    <div id="GRNQuantity" class="modal fade" role="dialog">
        <div class="modal-dialog" style=" max-width:900px;">
            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialGRNQuantityDetail.cshtml")
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <h2 class="col-md-12 col-sm-12 heading_left_padding">@ViewBag.MenuPageName</h2>
                <div class="x_title pad_mar ">
                    <div class="col-md-12 col-sm-12 icon_tool padding_zero">
                        <form class="available_stock pad_mar" action="" method="post" novalidate="">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Contractor  @Resource.Name </label>
                                    @Html.DropDownListFor(model => model.Supp_ID, new SelectList(Model.SupplierNameList, "supp_id", "supp_name"), new { @class = "form-control", id = "JOTrackListSupplier" })
                                    <input type="hidden" id="SuppNameList" value='@Url.Action("GetAutoCompleteSearchSuppList", "JobOrderTracking")' />
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Finished  @Resource.Product </label>
                                    <select class="form-control" id="ddl_JOTFProductNameListPage" name="ddl_JOTFProductNameListPage" onchange="ddl_JOTFProductNameListPage_onchange()">
                                    </select>
                                    @Html.HiddenFor(model => model.FinishProduct_Id, new { @id = "JOThdn_Fproduct_idListPage" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.Operation  @Resource.Output @Resource.Product </label>
                                    <select class="form-control" id="ddl_JOTProductNameListPage" name="ddl_JOTProductNameListPage" onchange="ddl_JOTProductNameListPage_onchange()">
                                    </select>
                                    @Html.HiddenFor(model => model.OpOut_ItemId, new { @id = "JOThdn_product_idListPage" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.FromDate</label>
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @id = "txtFromdate", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.HiddenFor(model => model.FromDate, new { id = "hdFromdate" })
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <label class="col-form-label label-align">@Resource.ToDate</label>
                                    @if (Model.ToDate != null)
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = Model.ToDate })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @id = "txtTodate", @placeholder = "dd-MM-yyyy", @onchange = "FromToDateValidation()", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd"), @Value = @DateTime.Now.ToString("yyyy-MM-dd") })
                                    }
                                </div>
                                <div class="col-md-2 col-sm-12 no-padding">
                                    <div class="col-md-10 col-sm-12">
                                        <label class="col-form-label label-align">
                                            @Resource.Status
                                        </label>
                                        @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "status_id", "status_name"), new { @class = "form-control", id = "ddlStatus" })
                                    </div>
                                    <div class="col-md-2 col-sm-12 pl-0">
                                        <button type="button" class="btn btn-primary btn-sm margintop20" id="Btn_Search"  onclick="BtnSearch();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel mar_pad1 ">
            <div class="x_content mar_pad1">
                <div class="card-box table-responsive dy_table">
                    <div class="sticky-table sticky-ltr-cells sb-container container-example1">
                        <div id="tbodyMISJOTrackingListDetails">
                            @Html.Partial("~/Areas/ApplicationLayer/Views/Shared/PartialMisJOTrackingDetails.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content end -->
